[2018-08-08 00:24] cblecker opened #4 "Organization domain verification"
https://blog.github.com/changelog/2018-08-07-domain-verification/
https://help.github.com/articles/verifying-your-organization-s-domain/
https://github.com/organizations/kubernetes/settings/domains

I'd like to verify our domains with GitHub. The TL;DR is you create a TXT record, and then you get a verified badge. We should do this for all active orgs.

cc: @kubernetes/owners @thockin @ixdy

[2018-08-08 08:14] idvoretskyi commented on #4
/cc

[2018-08-08 17:38] ixdy commented on #4
Seems like a good idea. I can help with the DNS side, but I need an owner to help me on the GitHub side. (Do we need to wait for consensus? Or do we just do this?)

[2018-08-08 18:05] cblecker commented on #4
I don't think this is controversial at all, so I think we could probably go ahead whenever you have time. Do you want to tackle this today, or would another day be better for you @ixdy ?

[2018-08-08 19:52] cblecker commented on #4
Sync'd with @ixdy and was able to verify both kubernetes.io and k8s.io against all our orgs :)

[2018-08-08 19:52] #4 closed

[2018-08-09 17:36] timothysc opened #6 "Steering committee acls on the org."
Steering committee members should have admin acls on the org to move repos and add members.

[2018-08-09 17:51] bgrant0607 commented on #6
Why do SC members need to do this, as opposed to the github admins?

[2018-08-09 18:01] timothysc commented on #6
If we delegate to this group I suppose we just route issues to here, but it makes this subproject a blocking resource on execution of things like:

- transferring repos in (kuberenetes-sigs)
- sunsetting repos (kubernetes-incubator)
...

[2018-08-09 18:10] timothysc opened #7 "Administration acls on sig sponsored sub-project repos."
### Organization or repository
e.g. kubernetes-sigs/*

### Users effected
sig-leads

### Describe the issue
The sigs leads/chairs who are responsible for a given sub-project needs team policies that enable maintainer level acls on those repos and teams.

For examples:
In https://github.com/kubernetes-sigs/cluster-api-provider-aws I do not have permissions to manage the teams and permissions.

[2018-08-09 18:59] spiffxp commented on #7
/sig contributor-experience
/area github-management
ref: https://github.com/kubernetes/community/issues/2323

[2018-08-09 19:02] spiffxp commented on #7
For the example: today, creating a new repo is a manual process.  I try to be consistent, making sure [teams are setup according to our current guidance](https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#team-guidance) but I missed a step of adding the teams to the repo in this case.  They've been added, and you should bug @detiber who's the team maintainer

[2018-08-09 20:58] spiffxp commented on #6
That's exactly the intent of this subproject, and I feel like this was sufficiently communicated to steering ahead of time.

[2018-08-09 21:08] spiffxp commented on #6
/committee steering
/sig contributor-experience
/area github-management

[2018-08-09 22:16] cblecker commented on #6
Hey Tim! As Aaron said, the intent of the subproject was to delegate these responsibilities away from "someone from steering" or "someone from contribex" to a small, defined team of volunteers. This avoids tying these permissions to an unrelated role. For example, it isn't a hard requirement of someone elected to steering to be able to transfer github repos, even though many of our current sitting

[2018-08-09 22:16] cblecker commented on #6
cc: @kubernetes/steering-committee @kubernetes/owners

[2018-08-09 23:16] philips commented on #6
I am OK with delegating admin creds to this sub project. It seems @bgrant0607 and @spiffxp are comfortable as well.

@timothysc are you concerned about not having an escape hatch for the steering committee? I would be OK with always reserving one admin seat for steering committee members similar to the Gsuite situation.

[2018-08-10 00:26] bgrant0607 commented on #6
@philips This is in line with our general direction of granting github privileges according to need to do the job as opposed to status on the project, similar to revoking direct repo write access of "maintainers". I'm also happy to not be the de facto github admin any longer. :-)

Contributor Experience is steadily automating more and more operations, which gives us more control, auditability, and

[2018-08-10 22:50] timothysc commented on #6
I'm fine with it, but the docs on repo requests should be updated to reflect a process change.
We should also define the policy for sunsetting.

[2018-08-10 22:58] timothysc commented on #7
So the problem is as follows:

Organizational structure is hierarchical and permissions and rights show flow from this hierarchy.  Gitlab has this feature (https://docs.gitlab.com/ee/user/group/subgroups/).

We now have an implicit hierarchy that is replicated in several locations and the permissions do not chain down from there.  A concrete example is the following:

- sig-cluster-lifecycle
  - c

[2018-08-10 23:34] spiffxp commented on #7
Agree this is the direction we want to head.  Our first step will be driving the github side of things from a file that lives here, via [peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos)

Integration with OWNERS files and sigs.yaml are next steps that I haven't invested a lot of time in articulating.  There are conflicting views between distributed OWNERS files as

[2018-08-11 00:43] philips commented on #6
@cblecker those are great docs and I think all of the bases are covered from who is on the team to their responsibilities.

[2018-08-11 01:30] timothysc commented on #6
Isn't there a process doc that @brendandburns created for requesting a repo from steering?

[2018-08-11 22:39] cblecker commented on #6
I think that document became https://git.k8s.io/community/github-management/kubernetes-repositories.md

[2018-08-13 18:50] spiffxp opened #9 "Remove kubernetes/common"
### Repository to archive
[kubernetes/common](https://github.com/kubernetes/common)

### Repository and/or sig subproject owners that are approving this archival
@timothysc @bgrant0607 @monopole

### When should this be done
Anytime

### Additional context for request
I'm advocating for repo removal rather than repo archival because there's nothing in the repo in question except for some boilerpla

[2018-08-13 19:03] spiffxp commented on #9
/assign

[2018-08-13 20:15] spiffxp commented on #9
Linking more context to this thread since I'll be removing kubernetes/common

https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/lxECI_JZ1iU

https://github.com/kubernetes/kubernetes/issues/50475

[2018-08-13 20:17] spiffxp commented on #9
/close

Repo has been removed.  I also removed the `@kubernetes/commons-admin` team.

[2018-08-13 20:17] #9 closed

[2018-08-14 08:17] nikhita opened #10 "Generate list of contributions for org membership"
We ask for a list of contributions in the org membership template. The list includes PRs reviewed, authored or issues created (but not limited to it). It would be nice to automate and generate this list.

There was a discussion related to this before: https://github.com/kubernetes/community/issues/874. Creating an issue here instead because having the script in this repo would be make more sense I

[2018-08-14 08:17] nikhita commented on #10
/sig contributor-experience

[2018-08-15 23:05] lpabon opened #12 "Delete kubernetes-csi/resources"
### Repository to archive
Archive or delete kubernetes-csi/resources

### Repository and/or sig subproject owners that are approving this archival
@lpabon @saad-ali

### When should this be done
As soon as you can

[2018-08-15 23:06] saad-ali commented on #12
xref https://github.com/kubernetes-csi/resources/issues/4

[2018-08-16 21:35] saad-ali commented on #12
CC @cblecker @spiffxp

[2018-08-16 21:39] saad-ali commented on #12
CC @kubernetes/owners

[2018-08-16 21:58] cblecker commented on #12
it doesn't look like there's much there. has the content been duplicated somewhere else? do we want to keep the commit history?

[2018-08-16 22:12] spiffxp opened #13 "Prune kubernetes/sig-testing-foo github teams"
### Organization or repository
https://github.com/kubernetes

### Users effected
Members of the kubernetes/sig-testing-foo github teams

### Describe the issue
I'd like to prune the kubernetes/sig-testing-foo teams as described here: https://github.com/kubernetes/community/pull/2541

[2018-08-16 22:12] spiffxp commented on #13
/sig testing
/sig contributor-experience
/area github-management
/assign

[2018-08-17 18:03] saad-ali commented on #12
Nope feel free to nuke

[2018-08-17 18:07] cblecker commented on #12
This is complete. The repo has been deleted.

[2018-08-17 18:07] #12 closed

[2018-08-17 18:51] saad-ali commented on #12
Thank you!

[2018-08-17 18:56] msau42 opened #14 "Requesting owner permissions for kubernetes-sigs/gcp-filestore-csi-driver"
### Organization or repository
kubernetes-sigs/gcp-filestore-csi-driver

### Users effected
msau42
saad-ali

### Describe the issue
We would like to be owners of this repo in order to cut releases

[2018-08-17 18:59] saad-ali opened #15 "Create https://github.com/kubernetes-csi/storage-drivers-api"
Please create new repo

### Requested name for new repository
https://github.com/kubernetes-csi/storage-drivers-api

### Which Organization should it reside
e.g. kubernetes-sigs

### Who should be provided access to this repository
Please make https://github.com/saad-ali owner

### Approvals
Please include links to the approvals (meeting minutes, e-mail thread, etc)
https://groups.google.com/d/msg

[2018-08-17 19:00] cblecker commented on #14
LGTM based on:
https://github.com/kubernetes/community/tree/master/sig-gcp
https://raw.githubusercontent.com/kubernetes-sigs/gcp-filestore-csi-driver/master/OWNERS

[2018-08-17 19:05] cblecker commented on #14
Created https://github.com/orgs/kubernetes-sigs/teams/gcp-filestore-csi-driver-admins and https://github.com/orgs/kubernetes-sigs/teams/gcp-filestore-csi-driver-maintainers. Added @msau42 and @saad-ali as maintainers of both teams. Gave teams appropriate access to the repo.

[2018-08-17 19:05] #14 closed

[2018-08-18 00:40] timothysc commented on #6
@cblecker yup that's the one, we should update that doc to link to the appropriate templates - https://github.com/kubernetes/org/issues/new?template=repo-create.md
+ Remove

Then close this issue once it's complete.

[2018-08-20 02:50] cblecker commented on #6
/assign

Sounds good. Will add something to those docs 👍

[2018-08-20 17:09] spiffxp opened #16 "REQUEST: membership for kubernetes-incubator/reference-docs/OWNERS"
### GitHub Usernames
@Rajakavitha1
@bradamant3
@bradtopol
@chenopis
@kbarnard10
@mistyhacks
@ryanmcginnis
@stewart-yu
@tengqm
@xiangpengzhao
@zacharysarah
@zhangxiaoyu-zidif
@zparnold

### Organization you are requesting membership in
kubernetes-incubator

### Requirements
I have verified all of the above users are members of kubernetes

### Sponsors
n/a

### List of contributions to the Kubernete

[2018-08-20 17:29] cblecker commented on #16
LGTM

[2018-08-20 17:54] spiffxp commented on #16
/close
invites sent

[2018-08-20 17:54] #16 closed

[2018-08-21 07:16] woopstar opened #17 "REQUEST: New membership for woopstar"
### GitHub Username
woopstar

### Organization you are requesting membership in
kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2018-08-21 09:56] ant31 opened #18 "REQUEST: New membership for ant31 to kubernetes-sigs"
### GitHub Username
ant31

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-08-21 10:15] Atoms opened #19 "REQUEST: New membership for Atoms"
### GitHub Username
Atoms

### Organization you are requesting membership in
kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-08-21 11:27] jjungnickel opened #20 "REQUEST: New membership for jungnickel"
### GitHub Username
@jjungnickel

### Organization you are requesting membership in
kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2018-08-21 16:31] riverzhang opened #21 "REQUEST: New membership for riverzhang"
### GitHub Username
riverzhang

### Organization you are requesting membership in
kubernetes-incubator

### Requirements

- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2018-08-21 17:27] spiffxp opened #22 "Retire kubernetes-client/typescript"
### Repository to archive
kubernetes-client/typescript

### Repository and/or sig subproject owners that are approving this archival
@brendandburns

### When should this be done
Anytime

### Additional context for request
https://github.com/kubernetes-client/typescript/issues/33

[2018-08-21 17:29] spiffxp commented on #21
/assign @ant31
/assign @mattymo
Can we get +1's from the sponsors?

[2018-08-21 17:29] spiffxp commented on #19
/assign @ant31
/assign @mattymo
Can we get +1's from the sponsors?

[2018-08-21 17:30] spiffxp commented on #18
That's all I needed to see in this case, thanks!  Invite sent

[2018-08-21 17:31] spiffxp commented on #18
/close

[2018-08-21 17:31] #18 closed

[2018-08-21 17:34] spiffxp opened #23 "Retire or delete kubernetes-client/community"
### Repository to archive
kubernetes-client/community

### Repository and/or sig subproject owners that are approving this archival
@brendandburns @mbohlool

### When should this be done
Pending feedback

### Additional context for request
https://github.com/kubernetes-client/community/issues/6

Awaiting feedback from @mbohlool to decide whether there is anything worth archiving

[2018-08-21 18:11] mattymo commented on #19
+1 from me

[2018-08-21 18:29] cblecker commented on #22
+1

[2018-08-21 18:36] ant31 commented on #19
good for me

[2018-08-21 18:36] ant31 commented on #21
+1

[2018-08-21 19:18] christopherhein opened #24 "REQUEST: New membership for @christopherhein"
### GitHub Username
@christopherhein

### Organization you are requesting membership in
@kubernetes-sigs
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://

[2018-08-21 19:36] timothysc opened #25 "Sig-leads and github teams"
### Organization or repository
kubernetes/*

### Users effected
https://github.com/orgs/kubernetes/teams?utf8=%E2%9C%93&query=cluster-lifecycle

### Describe the issue
By definition, sig-leads should have maintainer rights to their teams.

https://github.com/kubernetes/community/pull/2564
is blocked by this and I can't consolidate the list

/assign @cblecker
/cc @roberthbailey

[2018-08-21 19:40] cblecker commented on #25
Added! This will get way easier soon, when we have automation around team management

[2018-08-21 19:40] #25 closed

[2018-08-21 20:20] errordeveloper commented on #24
+1

On Tue, 21 Aug 2018, 8:20 pm Matt Moyer, <notifications@github.com> wrote:

[2018-08-21 20:31] d-nishi commented on #24
+1

[2018-08-21 20:41] cblecker commented on #24
Invites sent! Welcome to @kubernetes :)

[2018-08-21 20:41] #24 closed

[2018-08-21 22:05] christopherhein commented on #24
👏 thanks, @cblecker @errordeveloper @d-nishi @mattmoyer !

[2018-08-21 22:36] cblecker opened #26 "New repo: kubernetes-sigs/contributor-playground"
### New Repo, or migrate existing
new repository

### Requested name for new repository
contributor-playground

### Which Organization should it reside
kubernetes-sigs

### Who should be provided access to this repository
No direct write access required. Automation should be set up.

### Approvals
- Detailed discussion in https://github.com/kubernetes/community/issues/2321
- SIG consensus achieved

[2018-08-21 22:37] cblecker commented on #26
@grodrigues3 You good with this?

cc: @carolynvs @guineveresaenger @jberkus

[2018-08-21 23:59] spiffxp opened #29 "Add brendandburns to kubernetes-clients github org"
### GitHub Username
@brendandburns

### Organization you are requesting membership in
kubernetes-client

### Requirements
@brendandburns is listed in the the root OWNERS file for most of the kubernetes-client repos, and is a member of kubernetes

[2018-08-21 23:59] spiffxp commented on #29
/assign

[2018-08-22 00:10] spiffxp commented on #29
/close
invite sent

[2018-08-22 00:10] #29 closed

[2018-08-22 01:42] saad-ali opened #30 "Create new `https://github.com/kubernetes/csi-api` repo"
Please create 1 new repo

### Requested name for new repository
https://github.com/kubernetes/csi-api

### Which Organization should it reside
e.g. kubernetes-sigs

### Who should be provided access to this repository
Please make https://github.com/saad-ali owner

### Approvals
Please include links to the approvals (meeting minutes, e-mail thread, etc)
https://groups.google.com/d/msg/kubernetes-si

[2018-08-22 01:42] saad-ali commented on #15
Replaced with https://github.com/kubernetes/org/issues/30

[2018-08-22 01:42] #15 closed

[2018-08-22 04:27] chadswen opened #31 "REQUEST: New membership for chadswen"
### GitHub Username
@chadswen

### Organization you are requesting membership in
@kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2018-08-22 07:01] mattymo commented on #31
+1

[2018-08-22 07:01] mattymo commented on #21
+1

[2018-08-22 07:58] tnir opened #32 "REQUEST: New membership for @tnir"
### GitHub Username
@tnir

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2018-08-22 09:06] ant31 commented on #31
+1

[2018-08-22 09:12] tnir commented on #32
@zacharysarah @xiangpengzhao Thanks for sponsoring.

[2018-08-22 10:31] dims opened #33 "Add @dims to kubernetes-client"
### GitHub Username
@dims

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-08-22 11:14] rootsongjc opened #34 "REQUEST: New membership for rootsongjc"
### GitHub Username

@rootsongjc

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-08-22 11:32] makocchi-git opened #35 "REQUEST: New membership for @makocchi-git"
### GitHub Username
@makocchi-git

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-08-22 11:34] nasa9084 opened #36 "REQUEST: New membership for nasa9084"
### GitHub Username
@nasa9084

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-08-22 15:07] spiffxp commented on #33
/close
Either someone beat me to sending you an invite or I missed the fact that you're already in the org.  Either way, welcome aboard :)

[2018-08-22 15:07] #33 closed

[2018-08-22 15:09] spiffxp commented on #19
/close
invite sent

[2018-08-22 15:09] #19 closed

[2018-08-22 15:18] zacharysarah commented on #32
+1

[2018-08-22 15:19] zacharysarah commented on #35
+1

[2018-08-22 15:19] zacharysarah commented on #36
+1

[2018-08-22 15:19] spiffxp commented on #21
/close
invite sent

[2018-08-22 15:20] #21 closed

[2018-08-22 15:41] spiffxp commented on #22
/assign
working on this now

[2018-08-22 15:47] spiffxp commented on #22
/close
done

- https://github.com/kubernetes-retired/typescript
- [k-dev@ announcement](https://groups.google.com/forum/#!topic/kubernetes-dev/nlc7SKJc9Bg)
- added to this week's community meeting announcements

[2018-08-22 15:47] #22 closed

[2018-08-22 17:36] cblecker commented on #32
Invite sent! Welcome

/close

[2018-08-22 17:36] #32 closed

[2018-08-22 17:44] saad-ali commented on #30
@cblecker @spiffxp please let me know ETA of this.

[2018-08-22 17:45] fejta commented on #30
We should extend peribolos to automate the creation of repos once we have it working for org members.

[2018-08-22 19:34] roycaihw opened #37 "Add @roycaihw to kubernetes-client"
### GitHub Username
@roycaihw

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2018-08-22 19:35] cblecker commented on #37
Invite sent as you're already a member of @kubernetes.

[2018-08-22 19:35] #37 closed

[2018-08-22 20:07] tallclair opened #38 "Create new github.com/kubernetes/node-api repo"
### New Repo, or migrate existing
new repository

### Requested name for new repository
node-api

### Which Organization should it reside
kubernetes

### Who should be provided access to this repository
@tallclair
@dchen1107
@derekwaynecarr

### Approvals
Presented to sig-architecture, agreed to make the new API a CRD
https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-runtime-c

[2018-08-22 21:22] MasayaAoyama opened #39 "REQUEST: New membership for @MasayaAoyama"
### GitHub Username
@MasayaAoyama

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-08-22 21:34] spiffxp commented on #30
@saad-ali if you want this to be in kubernetes, you'll need to get approval from sig-architecture, I saw a verbal from Tim but I need a written from that group

[2018-08-22 21:36] spiffxp commented on #30
ref: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories

[2018-08-22 21:48] smarterclayton commented on #30
/approve

Based on other approvals and general agreement.

[2018-08-22 21:59] spiffxp commented on #30
OK, I'll start working on this shortly

[2018-08-22 21:59] yliaog opened #40 "Add @yliaog to kubernetes-client"
### GitHub Username
@yliaog

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-08-22 22:00] yliaog commented on #40
per https://github.com/kubernetes/test-infra/pull/9122

[2018-08-22 22:45] spiffxp commented on #40
/close
invite sent, thanks!

[2018-08-22 22:45] #40 closed

[2018-08-22 23:02] spiffxp commented on #30
/assign @saad-ali
OK, I think that's it, please take a look.  Close if this looks good.

Normally I would PR into k/test-infra to setup automation fo this repo but if this is intended as a target for staging I'm going to skip

[2018-08-22 23:02] spiffxp commented on #30
/unassign
/unassign @cblecker

[2018-08-22 23:14] spiffxp commented on #31
/close
invite sent, thanks!

[2018-08-22 23:14] #31 closed

[2018-08-23 00:26] saad-ali commented on #30
/lgtm
Thank you very much for the quick turn around @spiffxp!!

[2018-08-23 00:26] #30 closed

[2018-08-23 01:36] xiangpengzhao commented on #34
+1
Jimmy is definitely active on contributing to docs localization in Chinese and sharing his experience on Kubernetes.

[2018-08-23 01:50] xiangpengzhao commented on #35
+1

[2018-08-23 01:54] xiangpengzhao commented on #36
+1

[2018-08-23 01:55] xiangpengzhao commented on #39
+1

[2018-08-23 02:02] makocchi-git commented on #35
@zacharysarah @xiangpengzhao
Really I appreciate your kindness!

[2018-08-23 12:10] MasayaAoyama commented on #39
@zacharysarah @xiangpengzhao
Thank you a lot!

[2018-08-23 15:03] spiffxp commented on #35
/close
invite sent, welcome!

[2018-08-23 15:03] #35 closed

[2018-08-23 15:04] spiffxp commented on #36
/close
invite sent, welcome!

[2018-08-23 15:04] #36 closed

[2018-08-23 15:05] spiffxp commented on #39
/close
invite sent, welcome!

[2018-08-23 15:05] #39 closed

[2018-08-23 18:02] spiffxp commented on #23
/assign
I'm going to plan on ultimately deleting this repo.  To start with, I'm going to move it to kubernetes-retired while I await confirmation that we've caught all of the necessary inbound links.

[2018-08-23 18:48] jberkus commented on #26
Please, I'd like this to be set up well in advance of Shanghai.

/lgtm

[2018-08-23 18:50] jberkus commented on #26
Also, if this could happen before August 27th, it would be referenced in a workshop at Gophercon.

[2018-08-23 19:07] grodrigues3 commented on #26
/lgtm

[2018-08-23 19:07] guineveresaenger commented on #26
Please let me know how I can help!
enthusiastically:
/lgtm

[2018-08-23 20:57] idvoretskyi commented on #26
/lgtm as well.

[2018-08-23 21:49] cblecker commented on #26
This is done.

PR to enable prow: https://github.com/kubernetes/test-infra/pull/9143
PR to add to sigs.yaml: https://github.com/kubernetes/community/pull/2582

/close

[2018-08-23 21:49] #26 closed

[2018-08-23 22:48] calebamiles opened #42 "Create kube-storage-version-migrator"
### New Repo, or migrate existing
new repository

### Requested name for new repository
kube-storage-version-migrator

### Which Organization should it reside
kubernetes-sigs

### Who should be provided access to this repository

- deads2k
- lavalamp
- xuchao

### Approvals

[from SIG Architecture](https://groups.google.com/forum/#!msg/kubernetes-sig-architecture/9_tHHM4Mi_Y/EY2PSr8SDQAJ)

[2018-08-23 22:48] calebamiles commented on #42
/assign

[2018-08-23 23:05] calebamiles commented on #42
created https://github.com/kubernetes-sigs/kube-storage-version-migrator
/close

[2018-08-23 23:05] #42 closed

[2018-08-24 00:37] nasa9084 commented on #36
Thanks!

[2018-08-24 01:42] bgrant0607 commented on #30
Late, but I'm fine with this. Thanks for helping to blaze the trail.

[2018-08-24 13:53] carolynvs commented on #26
omg! 💖 I can't wait to try it out and work it into my workshop next week at gophercon!

[2018-08-24 14:01] nikhita commented on #26
Yayyy :tada:

[2018-08-27 02:15] tianshapjq opened #43 "REQUEST: New membership for tianshapjq"
### GitHub Username
@tianshapjq

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-08-27 10:03] interma commented on #34
Glad to see Jimmy can become a k8s member, his docs-zh is very helpful! 👍

[2018-08-27 15:07] cblecker commented on #34
Invite sent. Welcome to @kubernetes!

[2018-08-27 15:07] #34 closed

[2018-08-27 15:08] cblecker commented on #43
Invite sent! Welcome to @kubernetes!

[2018-08-27 15:08] #43 closed

[2018-08-27 15:09] cblecker commented on #38
@tallclair So your intention here is to have another staging repo that the publishing bot can push to?

[2018-08-27 18:38] tallclair commented on #38
Right - I'm adding a new `node.k8s.io` API group (initially for supporting [RuntimeClass](https://github.com/kubernetes/community/blob/master/keps/sig-node/0014-runtime-class.md)), and this repo would house it. It needs to be pushed to from staging since it depends on api machinery, and other internal components in turn depend on the node-api (see linked conversation thread above).

Proposed imple

[2018-08-27 22:25] ashish-amarnath opened #45 "REQUEST: New membership for ashish-amarnath"
### GitHub Username
e.g. (at)example_user
@ashish-amarnath

### Organization you are requesting membership in
e.g. (at)kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubern

[2018-08-27 23:49] cblecker commented on #45
This request cannot be actioned without sponsors.

[2018-08-27 23:50] cblecker commented on #20
This request cannot be actioned without sponsors.

[2018-08-27 23:50] cblecker commented on #17
This request cannot be actioned without sponsors.

[2018-08-28 18:29] ddebroy opened #46 "REQUEST: New membership for ddebroy"
### GitHub Username
@ddebroy

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-08-28 18:34] msau42 commented on #46
+1!

Deep has done a tremendous job with implementing AWS and GCE plugins for the dynamic provisioning topology feature.

[2018-08-28 18:58] Huang-Wei opened #47 "REQUEST: New membership for Huang-Wei"
### GitHub Username
Huang-Wei

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-08-28 22:02] k82cn commented on #47
+1

[2018-08-29 03:38] bsalamat commented on #47
+1. @Huang-Wei has already contributed quite a bit to K8s scheduler. I look forward to working with him more.

[2018-08-29 04:44] Huang-Wei commented on #47
Thanks for Klaus and Bobby's support! Without your patient guidance, I can't complete those contributions smoothly.

[2018-08-29 04:50] abhi commented on #46
+1
He has been active participant in SIG Storage, SIG AWS, SIG Windows

[2018-08-29 13:30] xmudrii opened #48 "REQUEST: New membership for xmudrii"
### GitHub Username

@xmudrii

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-08-29 13:31] sttts commented on #48
+1

[2018-08-29 13:31] nikhita commented on #48
+100 :tada:

[2018-08-29 13:32] detiber commented on #48
+1

[2018-08-29 14:18] cblecker commented on #48
Invite sent! Welcome to @kubernetes!

[2018-08-29 14:18] #48 closed

[2018-08-29 14:29] cblecker commented on #47
Invite sent! Welcome to @kubernetes!

[2018-08-29 14:29] #47 closed

[2018-08-29 14:30] yue9944882 commented on #48
+1 😃

[2018-08-29 14:30] cblecker commented on #46
Invite sent! Welcome to @kubernetes!

[2018-08-29 14:30] #46 closed

[2018-08-29 17:16] idvoretskyi commented on #10
cc

[2018-08-29 17:16] idvoretskyi commented on #10
/cc

[2018-08-29 18:40] ashish-amarnath commented on #45
@cblecker  I have one sponsor. working on getting another

[2018-08-30 00:12] idvoretskyi commented on #45
@ashish-amarnath please, update the OP after you'll have both.

[2018-08-30 14:41] timothysc opened #49 "Conformance github team in k8s org."
### Organization
kubernetes

### Users effected
the conformance working group

### Describe the issue
We need a (single) github team for general awareness, notification, and assignment of issues and pr's relating to the conformance effort.

/cc @dims @duglin @bradtopol
/assign @spiffxp @cblecker

[2018-08-30 14:41] timothysc commented on #49
I'd also ask to be added to that list.

[2018-08-30 16:01] spiffxp commented on #23
/close
All inbound links were addressed, having heard no further concerns in 7 days, I have deleted the repo

[2018-08-30 16:01] #23 closed

[2018-08-30 17:26] mirwan opened #50 "REQUEST: New membership for mirwan"
### GitHub Username
@mirwan

### Organization you are requesting membership in
@kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2018-08-30 17:38] mattymo commented on #50
/approve

[2018-08-30 18:54] cblecker commented on #49
Is this a part of sig-testing? I don't know that we have a conformance working group. Or are you referring to the cncf conformance working group? Just thinking about team naming

[2018-08-30 21:16] tfogo opened #51 "REQUEST: New membership for @tfogo"
### GitHub Username
@tfogo

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2018-08-30 21:17] zparnold commented on #51
+1 From me. Tim has been an invaluable member of the Docs 1.12 release team
/lgtm

[2018-08-30 22:33] zacharysarah commented on #51
👍 I thought he was already a long-time member, from the amount and scope of contributions he's made!

[2018-08-30 22:50] cblecker commented on #51
Invite sent! Welcome to @kubernetes!

[2018-08-30 22:50] #51 closed

[2018-08-30 22:50] tfogo commented on #51
@zparnold @zacharysarah Appreciate the kind words. Just getting started ✨

[2018-08-31 02:53] jberkus opened #52 "kubernetes-sigs membership for jberkus"
### GitHub Username
@jberkus

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-08-31 03:10] cblecker commented on #52
/assign

[2018-08-31 23:43] Katharine opened #53 "REQUEST: New membership for Katharine"
### GitHub Username
e.g. @Katharine

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2018-08-31 23:44] spiffxp commented on #53
/assign
Awaiting +1's from sponsors

[2018-08-31 23:45] dims commented on #53
+1 from me for @Katharine (based on work already done in apisnoop and the work in progress already)

[2018-09-01 23:49] #52 closed

[2018-09-03 06:33] tizhou86 opened #54 "REQUEST: New membership for tizhou86"
### GitHub Username
@tizhou86

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-09-03 06:40] feiskyer commented on #54
+1 from me

[2018-09-03 06:42] k82cn commented on #54
+1

[2018-09-03 14:34] dims commented on #54
+1 from me

[2018-09-03 18:04] duglin commented on #49
I'd like to be added too.
Who has the authority to create such a team?

[2018-09-03 23:01] cblecker commented on #54
Invite sent! Welcome to @kubernetes!

[2018-09-04 08:49] sttts opened #56 "REQUEST: Creation of KEP 14 repos"
To implement [KEP 14](https://github.com/kubernetes/community/blob/master/keps/sig-cluster-lifecycle/0014-20180707-componentconfig-api-types-to-staging.md), we need a couple of repos.

### New Repo
- ~~cloud-controller-manager~~
- kube-controller-manager
- kube-scheduler
- kubelet
- kube-proxy

### Which Organization should it reside
kubernetes

Note that these are "staging repositories", i.e. the

[2018-09-04 09:45] losipiuk opened #57 "REQUEST: New membership for losipiuk"
### GitHub Username
@losipiuk

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-09-04 09:48] MaciekPytel commented on #57
+1 for @losipiuk (based on his many contributions to and active participation in Cluster Autoscaler development)

[2018-09-04 12:40] soltysh opened #58 "REQUEST: Creation of cli-runtime and sample-cli-plugin repos"
To implement https://github.com/kubernetes/features/issues/581 and https://github.com/kubernetes/features/issues/579 we need 2 new repos. One contains library functions for writing plugins, the other shows how to use the first and write a sample CLI plugin.

### New Repo, or migrate existing
* cli-runtime
* sample-cli-plugin

### Which Organization should it reside
kubernetes

### Who should be pr

[2018-09-04 12:51] davidewatson opened #59 "REQUEST: New membership for davidewaton"
### GitHub Username
@davidewatson

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2018-09-04 12:53] dims commented on #59
+1 from me!

[2018-09-04 14:04] runcom opened #60 "Migrate kubernetes-incubator/cri-o to kubernetes-sigs/cri-o"
### New Repo, or migrate existing

migrate existing

### Requested name for new repository
cri-o

### Which Organization should it reside
kubernetes-sigs

### Who should be provided access to this repository

@mrunalp
@runcom

### Approvals

Please include links to the approvals (meeting minutes, e-mail thread, etc)

@dchen1107 approval https://github.com/kubernetes-incubator/cri-o/issues/1639#iss

[2018-09-04 14:11] feiskyer commented on #57
+1 for @losipiuk (based on his contributions to k/k and cluster autoscaler)

[2018-09-04 14:17] #54 closed

[2018-09-04 14:32] cblecker commented on #56
@sttts Has sig-arch approved of new core repos? Was there a meeting agenda item or a mailing list thread where they do?

cc: @jdumars @bgrant0607

[2018-09-04 14:33] cblecker commented on #58
@soltysh Has sig-arch approved of new core repos? Was there a meeting agenda item or a mailing list thread where they do?

cc: @jdumars @bgrant0607

[2018-09-04 14:38] mattfarina commented on #59
+1 from me as well.

[2018-09-04 18:50] timothysc commented on #49
It's the cncf conformance working group.

[2018-09-04 19:00] soltysh commented on #58
@cblecker I've started [this thread](https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/7UcXE9b0lQE) but haven't heard back, I assumed since there were no objections and both PRs merged (with top-level approval) I've created this issue.

[2018-09-04 20:26] parispittman opened #61 "REQUEST: New membership for parispittman"
### GitHub Username
parispittman

### Organization you are requesting membership in
kubernetes/sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2018-09-05 00:03] spiffxp commented on #61
/assign
I'll assume you mean kubernetes-sigs

[2018-09-05 00:04] spiffxp commented on #61
invite sent manually, leaving open until I PR

[2018-09-05 00:05] spiffxp commented on #59
/assign
invites sent manually, will close this via PR

[2018-09-05 00:07] spiffxp commented on #57
/assign
welcome!

invite sent manually, will close via PR

[2018-09-05 00:08] spiffxp commented on #50
/assign
welcome!

invite sent manually, will close via PR

[2018-09-05 00:43] spiffxp commented on #60
/assign
I will take care of this tomorrow when folks are around in case this disrupts anything

@mrunalp @runcom can you two file issues to be added as org members to kubernetes-sigs so I can give you the appropriate level of access?  you don't need to worry about the full checklist if you're already members of kubernetes, just say that

[2018-09-05 01:13] mrunalp opened #63 "Request for owner/admin access to cri-o under kubernetes-sigs"
### GitHub Username
mrunalp

### Organization you are requesting membership in
kubernetes-sigs

I am already a member of kubernetes and kubernetes-incubator orgs and a maintainer of cri-o.

### Requirements
- [ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ ] I have enabled 2FA on my GitHub account (https://github.com/settings/secur

[2018-09-05 01:13] mrunalp commented on #63
@spiffxp PTAL

[2018-09-05 01:31] spiffxp commented on #63
/assign

[2018-09-05 01:31] spiffxp commented on #63
invite sent, welcome!

[2018-09-05 04:03] feiskyer opened #64 "Migrate kubernetes-incubator/cri-tools to kubernetes-sigs/cri-tools"
### New Repo, or migrate existing

migrate existing repository

### Requested name for new repository

cri-tools

### Which Organization should it reside

kubernetes-sigs

### Who should be provided access to this repository
e.g (at)example_user should have write access

@feiskyer
@Random-Liu
@mrunalp

### Approvals

Please include links to the approvals (meeting minutes, e-mail thread, etc)

@der

[2018-09-05 04:06] feiskyer opened #65 "Request for owner/admin access to cri-tools under kubernetes-sigs"
### GitHub Username

@feiskyer
@Random-Liu
@mrunalp

### Organization you are requesting membership in

kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https

[2018-09-05 05:48] losipiuk commented on #57
Thanks! And hello to everyone.

On Wed, Sep 5, 2018, 02:07 Aaron Crickenberger <notifications@github.com>
wrote:

[2018-09-05 07:19] runcom opened #66 "Request for owner/admin access to cri-o under kubernetes-sig"
### GitHub Username

@mrunalp
@runcom

### Organization you are requesting membership in

kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2018-09-05 11:54] pohly commented on #58
Note that having references to the k8s.io/cli-runtime package in the upcoming Kubernetes source will make it impossible to use packages like k8s.io/pkg/kubelet in other projects because tools like "go get" or "dep" don't know where to find the new package. I'm running into that when trying to use test/e2e/framework, which uses pkg/kubelet.

[2018-09-05 15:58] timothysc commented on #49
@cblecker - ping .

[2018-09-05 16:57] cblecker commented on #49
@timothysc I've created https://github.com/orgs/kubernetes/teams/cncf-conformance-wg and added you as a team maintainer. You can add the other members as needed.

[2018-09-05 16:57] #49 closed

[2018-09-05 17:10] #50 closed

[2018-09-05 17:10] #57 closed

[2018-09-05 17:10] #59 closed

[2018-09-05 17:10] #61 closed

[2018-09-05 17:10] #63 closed

[2018-09-05 17:27] cblecker commented on #56
Looks like this is slated for discussion in sig-arch on Thursday
https://github.com/kubernetes/community/issues/2627

[2018-09-05 19:16] spiffxp commented on #65
/assign
invites sent, welcome!

[2018-09-05 20:22] brahmaroutu opened #69 "REQUEST: New membership for brahmaroutu"
@brahmaroutu
e.g. (at)example_user

@kubernetes
e.g. (at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kubernetes-dev)
-

[2018-09-06 15:08] soltysh commented on #58
@pohly the only reason for that is that we haven't published these repos yet, I just got approval so we will do so soon.

@cblecker just got approval from @bgrant0607 see https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-architecture/7UcXE9b0lQE/gPkl3BdhBgAJ

[2018-09-06 15:17] sttts commented on #56
Sig-arch approved them: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-architecture/x_-L4dlwbeU/qwlEd64kBgAJ

[2018-09-06 17:30] #65 closed

[2018-09-06 17:45] lavalamp opened #70 "new repo: kubernetes-sigs/structured-merge-diff"
### New Repo, or migrate existing
new repository

### Requested name for new repository
structured-merge-diff

### Which Organization should it reside
kubernetes-sigs

### Who should be provided access to this repository
@lavalamp, @apelisse, @jennybuckley (write)

### Approvals

SIG leads are agreed, see discussion in https://github.com/kubernetes/community/pull/2577

[2018-09-06 19:47] spiffxp commented on #64
/reopen
Whoops, this repo hasn't actually been moved yet.  My bad

[2018-09-06 20:01] spiffxp commented on #64
Repo has been moved: https://github.com/kubernetes-sigs/cri-tools

The following teams were created
- https://github.com/orgs/kubernetes-sigs/teams/cri-tools-admins/members
- https://github.com/orgs/kubernetes-sigs/teams/cri-tools-maintainers/members

The following users were invited as team maintainers for both teams:
- @feiskyer
- @Random-Liu
- @mrunalp

The following collaborators were removed:

[2018-09-06 20:07] spiffxp commented on #64
The following team used to have admin access to https://github.com/kubernetes-incubator/cri-tools:
- https://github.com/orgs/kubernetes-incubator/teams/maintainers-cri-tools

It has been removed

The members from this team who have not been added to the new teams are:
- @dchen1107
- @xlgao-zju
- @yujuhong

Please file an issue if you feel you have been removed in error

[2018-09-06 20:17] spiffxp commented on #60
Repo has been moved: https://github.com/kubernetes-sigs/cri-tools

The following teams were created
- https://github.com/orgs/kubernetes-sigs/teams/cri-tools-admins/members
- https://github.com/orgs/kubernetes-sigs/teams/cri-tools-maintainers/members

The following users were invited as team maintainers for both teams:
- @mrunalp
- @runcom

The following collaborators were removed:
- write @opensh

[2018-09-06 20:18] spiffxp commented on #60
The following team used to have admin access to https://github.com/kubernetes-incubator/cri-o:
- https://github.com/orgs/kubernetes-incubator/teams/admins-cri-o

It has been removed

The members from this team who have not been added to the new teams are:
- @derekwaynecarr
- @sarahnovotny
- @vishh

Please file an issue if you feel you have been removed in error

[2018-09-06 20:21] spiffxp commented on #60
The following team used to have write access to https://github.com/kubernetes-incubator/cri-o:
- https://github.com/orgs/kubernetes-incubator/teams/maintainers-cri-o

It has been removed

The members from this team who have not been added to the new teams are:
- @cyphar
- @derekwaynecarr
- @feiskyer
- @nalind
- @rhatdan
- @sameo
- @vishh
- @yujuhong

Please file an issue if you feel you have been

[2018-09-06 20:28] yujuhong opened #71 "Request for owner/admin access to cri-tools under kubernetes-sig"
### GitHub Username
@yujuhong

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-09-06 20:40] spiffxp commented on #70
/assign

[2018-09-06 20:51] spiffxp commented on #70
Created
- https://github.com/kubernetes-sigs/structured-merge-diff
- https://github.com/orgs/kubernetes-sigs/teams/structured-merge-diff-admins
- https://github.com/orgs/kubernetes-sigs/teams/structured-merge-diff-maintainers

@lavalamp @apelisse are team maintainers for both teams

@jennybuckley has been invited to structure-merge-diff-maintainers and to the kubernetes-sigs org since they're alre

[2018-09-06 21:01] spiffxp commented on #71
invite sent

[2018-09-06 21:10] spiffxp commented on #70
/close
Please ping here if there are any issues

[2018-09-06 21:10] #70 closed

[2018-09-06 21:15] timothysc commented on #69
+1 from me.

[2018-09-06 21:16] spiffxp commented on #69
/assign
I will +1 as well

[2018-09-06 21:16] lavalamp commented on #70
Thanks for the rapid response!!

On Thu, Sep 6, 2018 at 2:10 PM k8s-ci-robot <notifications@github.com>
wrote:

[2018-09-06 21:51] #71 closed

[2018-09-06 22:02] cblecker commented on #66
fixed in #73

[2018-09-06 22:02] #66 closed

[2018-09-06 22:07] #69 closed

[2018-09-06 23:03] spiffxp commented on #58
/assign

[2018-09-06 23:49] spiffxp commented on #64
/close
OK I'm calling this done, if there are any issues please follow up here

[2018-09-06 23:49] #64 closed

[2018-09-06 23:49] spiffxp commented on #60
/close
OK I'm calling this done, if there are any issues please follow up here

[2018-09-06 23:49] #60 closed

[2018-09-07 00:04] spiffxp commented on #56
/assign
I believe this is done but I'll leave this open to confirm since this is staging

[2018-09-07 00:06] spiffxp commented on #56
It's also unclear to me whether/where these repos should fall in sigs.yaml?

[2018-09-07 00:18] stewart-yu commented on #56
thanks, but seems no need to create repo for `cloud-controller-manager` now? @spiffxp :grinning:
/cc @sttts

[2018-09-07 00:43] spiffxp commented on #58
@soltysh can you add these to sigs.yaml under the appropriate subproject (or make new subproject entries for them if necessary?)

will leave this open waiting for that PR, and to make sure the staging PR merges

[2018-09-07 01:44] feiskyer commented on #64
@spiffxp Thanks.

[2018-09-07 02:30] GeorgeGuo2018 commented on #56
https://github.com/kubernetes/kube-controller-manager
this repo is empty now, what should i do if my older projects referred package from this repo?
Any reply would be appreciated,thx.

[2018-09-07 02:48] xlgao-zju commented on #64
I am still happy to help on `cri-tools`. So if there is anything I can help, do ping me. 😆

[2018-09-07 06:47] sttts commented on #56
@stewart-yu thanks for the correction. Yes, we keep those types in the cmd package because the future of the binary is not clear.

[2018-09-07 06:48] sttts commented on #56
@GeorgeGuo2018 I will update github.com/kubernetes/publishing-bot and it will fill that repo.

Which "older projects" do you refer to?

[2018-09-07 06:50] sttts commented on #56
@spiffxp we have the OWNERS files in there. Isn't that enough? Listing those repos in sigs.yaml in addition sounds equivalent.

[2018-09-07 07:00] sttts commented on #56
@spiffxp as @stewart-yu correctly noted, cloud-controller-manager is not used. You can delete it again.

[2018-09-07 16:30] spiffxp commented on #56
@sttts every other repo that comes out of staging is listed in sigs.yaml as belonging to a sig, egs:

sig-api-machinery has this entry
[code]

sig-architecture has this entry
[code]

I don't know if the intent is to move to a world where each component is owned by a different sig, eg:
- sig-node owns kubelet
- sig-network owns kube-proxy
- sig-apps owns kube-controller-manager
- sig-api-machinery

[2018-09-07 16:38] sttts commented on #56
@spiffxp I wasn't aware that we link OWNERS files there. So of course the new repos belong into that file :+1:

[2018-09-07 17:59] kacole2 opened #75 "REQUEST: New membership for kacole2"
### GitHub Username
@kacole2

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-09-07 18:29] tpepper commented on #75
+1 from me

Thank you for your work on the 1.12 release and commitment to the future release.

[2018-09-07 18:46] justaugustus commented on #75
Enthusiastic +1!
Thanks for all of your hard work during the 1.12 cycle, Kenny!

/assign @cblecker @spiffxp

[2018-09-07 18:51] justaugustus opened #76 "Define who can approve membership"
We should clarify who can approve membership requests once the requisites are satisfied.

rel: #75
/sig contribex
/area github-management
/assign @cblecker @parispittman @castrojo @spiffxp

[2018-09-07 18:58] cblecker commented on #76
What do you mean? Once sponsors have signed off?

[2018-09-07 19:01] justaugustus commented on #76
Yup! See #75

[2018-09-07 19:04] cblecker commented on #76
Per https://github.com/kubernetes/community/blob/master/community-membership.md, the sponsors are the ones who "approve" membership. The GitHub Administration Team are the ones who do the actual inviting.

[2018-09-07 19:09] justaugustus commented on #76
@cblecker -- the language is `Once your sponsors have responded, your request will be reviewed. Any missing information will be requested.`, so we don't specify by whom the request will be reviewed.

[2018-09-07 19:12] cblecker commented on #76
PRs welcome to improve the wording :)

[2018-09-07 19:16] parispittman commented on #76
How is "...your request will be reviewed by the [Kubernetes GitHub Admin team](link to their README)"?

[2018-09-07 19:16] justaugustus commented on #76
Hehe, I know. Just wanted to point out the current state. I can push something later. :)

[2018-09-07 19:16] justaugustus commented on #76
@parispittman -- that works! Should we specify some timeframe?

[2018-09-07 19:18] cblecker commented on #76
SLOs: https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#slos

[2018-09-07 19:30] justaugustus commented on #76
/assign

[2018-09-07 20:09] spiffxp commented on #75
[`is:issue commenter:kacole2 archived:false org:kubernetes`](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+commenter%3Akacole2+archived%3Afalse+org%3Akubernetes)

[`is:pr commenter:kacole2 archived:false org:kubernetes`](https://github.com/issues?utf8=%E2%9C%93&q=is%3Apr+commenter%3Akacole2+archived%3Afalse+org%3Akubernetes)

[2018-09-07 20:11] spiffxp commented on #75
Invite sent manually, welcome!

[2018-09-07 20:57] justaugustus commented on #75
Welcome!

[2018-09-07 22:23] caesarxuchao opened #78 "add caesarxuchao as a member of kubernetes-sigs"
### GitHub Username
caesarxuchao

### Organization you are requesting membership in
kubernetes-sigs

I'm already a member of the Kubernetes org member.

ref: https://github.com/kubernetes-sigs/kube-storage-version-migrator/issues/2#issuecomment-419581396

[2018-09-07 22:40] spiffxp commented on #78
Invite sent manually

[2018-09-07 22:45] #78 closed

[2018-09-07 23:27] spiffxp opened #80 "kubernetes-csi lacks org-level CNCF CLA webhook"
### Organization or repository
kuberentes-csi

### Name of integration
https://github.com/kubernetes/community/blob/master/github-management/setting-up-cla-check.md

### Link to integration website
https://github.com/kubernetes/community/blob/master/CLA.md

### Describe what is attempting to be accomplished
Now that the kubernetes-csi repos have branch protection applied, it's become clear that a

[2018-09-08 07:41] justaugustus commented on #75
Just for reference sake, there's another query that you can run to get a wider view of everything a user has touched:

[`involves:kacole2 archived:false org:kubernetes`](https://github.com/search?q=involves%3Akacole2+archived%3Afalse+org%3Akubernetes)

ref: https://help.github.com/articles/searching-issues-and-pull-requests/#search-by-a-user-thats-involved-in-an-issue-or-pull-request

[2018-09-08 08:01] justaugustus commented on #76
PR up here: https://github.com/kubernetes/community/pull/2650

[2018-09-08 20:02] #76 closed

[2018-09-10 06:24] pigletfly opened #81 "REQUEST: New membership for pigletfly"
### GitHub Username
@pigletfly

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-09-10 08:45] zhangxiaoyu-zidif commented on #81
+1

[2018-09-10 11:26] xiangpengzhao commented on #81
+1
@pigletfly helps a lot on translating docs to Chinese.

[2018-09-10 11:36] fejta commented on #10
Adapting Nikhitas repo into a prow plugin that listens for issue created events seems like a good approach for this.

See https://github.com/kubernetes/test-infra/blob/master/prow/plugins/requiresig/requiresig.go for something similar

[2018-09-10 16:52] cblecker commented on #45
Closing this issue. Please open a new issue when you have both sponsors lined up (it's a requirement of opening an issue).

[2018-09-10 16:52] #45 closed

[2018-09-10 16:52] cblecker commented on #20
Closing this issue. Sponsors are required for this. Please open a new issue when you have secured sponsorship.

[2018-09-10 16:52] #20 closed

[2018-09-10 16:52] cblecker commented on #17
Closing this issue. Sponsors are required for this. Please open a new issue when you have secured sponsorship.

[2018-09-10 16:52] #17 closed

[2018-09-10 16:53] cblecker commented on #38
@tallclair any update on this?

[2018-09-10 16:54] cblecker commented on #10
I'm wondering if this is necessary though. Issues that are highlighted should be representative of a contributors work, rather than just a list of all PRs. Trivial fixes aren't considered representative.

[2018-09-10 16:57] spiffxp commented on #56
Current status:
- I removed cloud-controller-manager
- The other repos look to be synced by publishing-bot now
- I have yet to confirm that the repos have been added to sigs.yaml

[2018-09-10 17:01] spiffxp commented on #58
Current status:
- The repos look to be synced by publishing-bot now

@soltysh is there anything more specific you’d like the repo descriptions to be set to? I set them to the issue asking for their request out of habit, but assume it to be temporary

[2018-09-10 17:09] yue9944882 commented on #10
can't agree more. involving issues, providing support, help digging into problems are all important for estimating a contributor's involvement in the community, not only counting pulls ( this might also help reducing trival pulls 🙃).

[2018-09-10 19:11] calebamiles opened #82 "Create repositories for accepted out of tree cloud provider implementations"
### New Repo, or migrate existing
new repositories

### Requested name for new repository
- cloud-provider-alibaba-cloud
- cloud-provider-digitalocean
- cloud-provider-baiducloud

### Which Organization should it reside
- kubernetes (ideally, like other cloud providers but `kubernetes-sigs` is an acceptable temporary home)

### Who should be provided access to this repository
- sig-cloud-provider-

[2018-09-10 19:11] calebamiles commented on #82
/cc @andrewsykim, @bgrant0607, @thockin, @jagosan, @cheftako, @hogepodge

[2018-09-10 19:11] calebamiles commented on #82
/assign

[2018-09-10 19:33] calebamiles commented on #82
[SIG Arch request](https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/soeIadIeMCs)

[2018-09-10 21:42] spiffxp commented on #56
I chatted with @sttts offline, the repo descriptions have been changed

Just waiting for a sigs.yaml PR to close this out

[2018-09-11 16:52] luxas commented on #56
I don't know either whether we want the specialized SIG (e.g. node) to own all of the k8s.io/kubelet repo or if we want it to own e.g. `pkg/` and `cmd/` only?
That really dictates the structure of the sigs.yaml PR. Any preferences?

[2018-09-11 16:55] roberthbailey opened #83 "Please delete https://github.com/orgs/kubernetes/teams/kubernetes-anywhere-reviewers"
### Organization or repository
e.g. kubernetes/teams

### Users effected
_n/a_

### Describe the issue
The group isn't being used and currently has no members.

/cc @timothysc

[2018-09-11 17:00] roberthbailey opened #84 "Please promote me to a maintainer of kubernetes-anywhere-admins"
### Organization or repository
e.g. kubernetes/teams

### Users effected
e.g. (at)example_user

### Describe the issue
https://github.com/orgs/kubernetes/teams/kubernetes-anywhere-admins/members doesn’t have any maintainers, so we can’t self-admin the group. Please add @roberthbailey as a maintainer at which point I will add the other sig leads.

[2018-09-11 17:01] spiffxp commented on #84
/assign

[2018-09-11 17:01] spiffxp commented on #83
/assign

[2018-09-11 17:01] spiffxp commented on #83
/close
team deleted

[2018-09-11 17:01] #83 closed

[2018-09-11 17:03] spiffxp commented on #84
/close
You're now a team maintainer for https://github.com/orgs/kubernetes/teams/kubernetes-anywhere-admins/members

[2018-09-11 17:03] #84 closed

[2018-09-11 17:04] spiffxp commented on #81
/assign

[2018-09-11 17:06] spiffxp commented on #81
invite sent manually, welcome!

[2018-09-11 17:13] #81 closed

[2018-09-11 17:45] spiffxp commented on #56
Having sig-arch own root and specialized sigs own different packages was one of the suggestions I made above.  I have no strong preference other than an option get chosen.  I will ask the sig-arch mailing list

[2018-09-11 17:58] spiffxp commented on #56
[kubernetes-sig-arch@ thread](https://groups.google.com/d/msg/kubernetes-sig-architecture/2Fob-097rA4/RVAEWuAvCAAJ)

[2018-09-11 20:57] BenTheElder opened #86 "Repo creation request: kubernetes-sigs repo for moving out kubernetes/test-infra/kind"
### New Repo, or migrate existing
New Repo (?) (Migrating [a directory](https://github.com/kubernetes/test-infra/tree/master/kind) out of https://github.com/kubernetes/test-infra)

### Requested name for new repository
`kind` would be ideal, it's the tool's name now, seems to not be in use elsewhere and is a good CLI / install path.

kind == Kubernetes IN Docker (see blow)

### Which Organization

[2018-09-11 21:46] cblecker commented on #86
To be done:
- [ ] Invite @BenTheElder @munnerz @krzyzacy and @amwat to @kubernetes-sigs
- [ ] Create repo with template project
- [ ] Update OWNERS
- [ ] Update sigs.yaml

[2018-09-11 21:47] cblecker commented on #86
My only concern here is the extremely generic name.

@spiffxp @stevekuznetsov @fejta: Any comments on naming? Is this the best name for this tool/repo?

[2018-09-11 21:56] BenTheElder commented on #86
I'm open to alternatives if someone has a better one, @munnerz suggested it and I've actually not found anyone using it. It makes for a great little CLI / go install. `kind create`, `kind build node --type=bazel` etc.

[2018-09-11 21:56] BenTheElder commented on #86
FWIW I also didn't think the name would be much of a problem being in @kubernetes-sigs rather than as a core project.

[2018-09-11 22:08] spiffxp commented on #86
I'm fine with renaming it if we find that kind isn't the right name for it, but it's been discussed as kind thus far

[2018-09-11 22:09] cblecker commented on #86
I'm asking you guys though. It seems generic to me, but it's ultimately a sig decision. First come first serve in k-sigs.

[2018-09-11 22:13] BenTheElder commented on #86
Ok that makes sense to me. Do you mind if we keep the name for now? I think the sig is fine with it, we've discussed the project for a while now O(months) and not had any complaints about the name. I like it and haven't had any better ideas :-)

[2018-09-11 23:49] stevekuznetsov commented on #86
`kind` seems an appropriate name for the project and we have not heard any objections in the SIG while development has been underway. I don't see any similar names in the k8s ecosystem with a couple cursory searches, so it doesn't seem like the name collides with anything. +1 from me

[2018-09-12 00:16] cblecker commented on #86
SGTM. Will create tomorrow :)

[2018-09-12 03:11] justaugustus opened #87 "Add Stephen Augustus as Maintainer for the features-maintainers GH team"
### Organization or repository
k/features

### Users effected
@justaugustus

### Describe the issue
As PdM Chair and one of the drivers of the features and KEP delivery processes, I'd like to be able to control who has write access to the k/features repo.

/sig pm
/assign @cblecker

[2018-09-12 03:12] cblecker commented on #87
Done!
https://github.com/orgs/kubernetes/teams/features-maintainers/members

[2018-09-12 03:12] #87 closed

[2018-09-12 20:42] BenTheElder commented on #86
Thanks @cblecker 😄

[2018-09-12 21:47] wongma7 opened #88 "New repo for kubernetes-incubator/external-storage/lib"
### New Repo, or migrate existing
new repository

### Requested name for new repository
sig-storage-external-provisioner-lib

### Which Organization should it reside
kubernetes-sigs

### Who should be provided access to this repository
@wongma7
@jsafrane
@childsb

### Approvals
Need sig-storage approval from: @childsb and @saad-ali
See "External Storage - Moving Project Out" in https://docs.google

[2018-09-12 21:49] cblecker commented on #86
@BenTheElder is there a need for direct write access at this time (genuine question)? I've got you set up with top-level owners, and I've invited you all to the org. If we decide to leave it at OWNERS and find we need it later, we could add at that time.

[2018-09-12 21:50] wongma7 commented on #88
/sig storage

[2018-09-12 22:04] BenTheElder commented on #86
Uh possibly not? I was planning to port over history with filter branch which I've not used before.

[2018-09-12 22:07] BenTheElder commented on #86
Let's see how far we can get for now, I'm a fan of our robot overlords :^) I hopefully don't actually need it. I may have to bug one of you at some point for more repo settings but we can sort that out when it happens :smile:

[2018-09-12 22:07] cblecker commented on #86
@BenTheElder my thought is, let's dog food the "no direct write access" model if we can. You should be able to port over history with a PR. It would be great to see where the rough patches of that model are.

[2018-09-12 22:33] BenTheElder commented on #86
https://github.com/kubernetes-sigs/kind/pull/1 not too bad, though README.md and OWNERS in the root make a lot of merge conflicts :sweat_smile:
- make a copy of the original repo somewhere
-  `DIR="kind" git filter-branch --prune-empty --subdirectory-filter "${DIR}" master`
- rebase against upstream

[2018-09-12 22:52] cblecker commented on #86
last thing is getting sigs.yaml updated:
https://github.com/kubernetes/community/blob/bdf0c28d40ca04b8b5dd31c9946c1bf622195ef2/sigs.yaml#L1700-L1711

@spiffxp @stevekuznetsov @fejta: How would you like to handle that?

[2018-09-13 09:01] woopstar opened #91 "REQUEST: New membership for woopstar"
### GitHub Username
@woopstar

### Organization you are requesting membership in
@kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2018-09-13 14:03] ant31 commented on #91
+1

[2018-09-13 14:29] stevekuznetsov commented on #86
Is everything a subproject if it has it's own repo?

[2018-09-13 16:57] childsb commented on #88
/approve from sig-storage

[2018-09-13 16:59] saad-ali commented on #88
Approved from sig-storage

Let's name this: `github.com/kuberentes-sigs/sig-storage-external-provisioner-lib`

[2018-09-13 17:08] childsb opened #92 "New repos for kubernetes-csi drivers"
### New Repo, or migrate existing
batch request for new repositories for CSI drivers and two library repos

### Requested name for new repositories
github.com/kubernetes-csi/driver-cinder
github.com/kubernetes-csi/driver-flex
github.com/kubernetes-csi/driver-host-path
github.com/kubernetes-csi/driver-iscsi
github.com/kubernetes-csi/driver-nfs
github.com/kubernetes-csi/driver-lib-csi-common
github.

[2018-09-13 18:29] saad-ali commented on #92
Driver repos SGTM.

I think on the call we decided to do separate repos for each library. Something like `kubernetes-csi/csi-common-lib*` where `*` is `iscsi`, etc. Please update this to reflect that.

[2018-09-13 18:37] childsb commented on #92
@saad-ali the library name we hadn't nailed down.

One best practice with naming that I was attempting to leverage here is placing the static element of the name first.. That way similar repos will group together on sort

So tweaking your suggestion:

* csi-lib-common
* csi-lib-iscsi
* csi-lib-fc

would group the items in the list making it easier to find.

[2018-09-13 18:39] saad-ali commented on #92
SGTM. What is `csi-lib-common` for?

[2018-09-13 18:40] childsb commented on #92
@saad-ali for this https://github.com/kubernetes-csi/drivers/tree/master/pkg/csi-common

[2018-09-13 18:44] saad-ali commented on #92
Ah ok. Let's also make sure the description fields on the repos are set to explain what the heck they do.

Also unsure about the `csi-` prefix. Either we should also have it for the drivers, e.g. `csi-driver-cinder` or not have it on either driver or libs e.g. `driver-cinder` and `lib-iscsi` -- let's be consistent.

[2018-09-13 18:50] childsb commented on #92
lets keep 'csi' in the name and i'll add to the drivers.. my initial though is that 'csi is redundant with 'csi' in the org name, but if these repos are forked into org's without CSI then the prefix will help clarify the purpose.

So the final list:

github.com/kubernetes-csi/csi-driver-cinder
github.com/kubernetes-csi/csi-driver-flex
github.com/kubernetes-csi/csi-driver-host-path
github.com/kuber

[2018-09-13 19:00] saad-ali commented on #92
Wait you mean:

github.com/kubernetes-csi/csi-driver-cinder
github.com/kubernetes-csi/csi-driver-flex
github.com/kubernetes-csi/csi-driver-host-path
github.com/kubernetes-csi/csi-driver-iscsi
github.com/kubernetes-csi/csi-driver-nfs
github.com/kubernetes-csi/csi-lib-common
github.com/kubernetes-csi/csi-lib-connector

(e.g. last two should be `lib` not `driver-lib`) Right?

Also `kubernetes-csi/csi

[2018-09-13 19:02] childsb commented on #92
Updated list:

github.com/kubernetes-csi/csi-driver-cinder
github.com/kubernetes-csi/csi-driver-flex
github.com/kubernetes-csi/csi-driver-host-path
github.com/kubernetes-csi/csi-driver-iscsi
github.com/kubernetes-csi/csi-driver-nfs
github.com/kubernetes-csi/csi-lib-common
github.com/kubernetes-csi/csi-lib-fc
github.com/kubernetes-csi/csi-lib-iscsi

[2018-09-13 19:11] saad-ali commented on #92
LGTM!

[2018-09-13 19:37] saad-ali commented on #92
/assign @spiffxp

[2018-09-13 20:29] mattymo commented on #91
/approve

[2018-09-14 00:09] saad-ali commented on #88
/assign @spiffxp

[2018-09-17 19:48] calebamiles commented on #82
Creating the repo for ali cloud per [discussion][]

[discussion]: https://groups.google.com/d/msg/kubernetes-sig-architecture/soeIadIeMCs/3cw7JhYgCQAJ

[2018-09-17 21:10] spiffxp commented on #56
So far I have received two responses, both of which seem to suggest the sig-arch root / sig-foo subdirs approach.

[2018-09-17 22:02] spiffxp commented on #86
It depends. There are subprojects like [kubernetes-csi](https://github.com/kubernetes/community/blob/bdf0c28d40ca04b8b5dd31c9946c1bf622195ef2/sigs.yaml#L1635-L1647) that span multiple repos, [node-problem-detector](https://github.com/kubernetes/community/blob/bdf0c28d40ca04b8b5dd31c9946c1bf622195ef2/sigs.yaml#L1254-L1256) that is a single repo root, and [kubernetes-cloud-provider](https://github.c

[2018-09-17 22:55] spiffxp commented on #86
/close
and it's in sigs.yaml now

[2018-09-17 22:55] #86 closed

[2018-09-17 23:06] spiffxp commented on #80
/assign

[2018-09-17 23:40] spiffxp commented on #92
Was OOO last week, will get to this in a bit

[2018-09-17 23:51] spiffxp commented on #80
/close
Added org-level webhook, removed per-repo webhook for all kubernetes-csi repos that had it

Tested a few random PR's across repos with `/check-cla` and the label got added.

[2018-09-17 23:51] #80 closed

[2018-09-18 01:07] spiffxp commented on #92
@saad-ali @childsb re: "who should have access to this repository", what I need to know is:
- who should have admin access to the repo (these people will be setup as team maintainers for the teams that provide admin and direct write access to the repos)
- who should be listed as approvers in the OWNERS file at repo root

Given the answer of "@childsb @saad-ali @vladimirvivien ..." it's unclear to

[2018-09-18 03:16] saad-ali commented on #92
@childsb and @saad-ali

@childsb and @saad-ali intentionally and we can add in folks as needed.

[2018-09-18 10:02] mariantalla opened #93 "REQUEST: New membership for mariantalla"
### GitHub Username
@mariantalla

### Organizations I'm requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2018-09-18 12:55] tpepper commented on #93
/lgtm

[2018-09-18 17:30] #58 closed

[2018-09-18 17:32] spiffxp commented on #88
getting to this now...

[2018-09-18 17:44] spiffxp commented on #88
Created:
- https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner
- https://github.com/orgs/kubernetes-sigs/teams/sig-storage-lib-external-provisioner-admins
- https://github.com/orgs/kubernetes-sigs/teams/sig-storage-lib-external-provisioner-maintainers

Used https://github.com/kubernetes/kubernetes-template-project for initial commit

Set OWNERS and SECURITY_CONTACTS to @wongma7

[2018-09-18 17:51] spiffxp commented on #88
Criteria for closing:
- everyone invited has accepted their invite
- the k/community PR adding this to sigs.yaml has merged
- the k/org PR adding the manually invited members has merged

[2018-09-18 19:33] spiffxp commented on #91
/assign

[2018-09-18 19:35] spiffxp commented on #93
/assign

[2018-09-18 19:39] spiffxp commented on #93
invite sent, welcome!

[2018-09-18 19:40] spiffxp commented on #91
invite sent, welcome!

[2018-09-18 20:04] #91 closed

[2018-09-18 20:04] #93 closed

[2018-09-18 20:07] saad-ali commented on #92
Either way is ok. Slightly leaning towards putting everything under `kubernetes-csi` subproject.

[2018-09-18 22:01] BenTheElder commented on #86
Finally remembered to do this, sorry, video link is here: https://youtu.be/av3eFyyFryA
Updated the body above as well

[2018-09-18 23:46] spiffxp commented on #92
/close
OK, this is all done AFAIK

[2018-09-18 23:46] #92 closed

[2018-09-19 08:07] nikhita commented on #10
Sgtm, closing this.

We can get to this if we find that we really do need this in the future.

/close

[2018-09-19 08:07] #10 closed

[2018-09-19 08:43] soltysh commented on #58
@spiffxp thanks!

[2018-09-19 17:30] spiffxp commented on #88
/close
all of the above has happened

[2018-09-19 17:30] #88 closed

[2018-09-19 19:16] vincepri opened #102 "REQUEST: New membership for vincepri"
### GitHub Username
@vincepri

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2018-09-19 19:33] timothysc commented on #102
+1 from me.

[2018-09-19 20:46] #6 closed

[2018-09-19 23:08] tallclair commented on #38
I'd still like to add this in 1.13. What is the dependency ordering between creating the repo & merging https://github.com/kubernetes/kubernetes/pull/67791? I.e. which should be approved first?

[2018-09-19 23:33] cblecker commented on #38
no specific order. they just both need to be done, if this is to be a staging repo. they key is approval from sig-arch on the name

[2018-09-19 23:39] cblecker commented on #102
@vincepri Both of your sponsors are from the same company. Unfortunately, this does not meet the [sponsorship requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) for becoming a community member.

As @timothysc has already +1'd, would you be able to solicit a second sponsor other than from Heptio? Thank you!

[2018-09-21 00:01] madhanrm opened #103 "REQUEST: New membership for madhanrm"
### GitHub Username
@madhanrm

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-09-21 00:04] michmike commented on #103
i approve the sponsorship

[2018-09-21 00:05] michmike commented on #103
+1

[2018-09-21 00:25] dineshgovindasamy opened #104 "REQUEST: New membership for dineshgovindasamy"
### GitHub Username
@dineshgovindasamy

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2018-09-21 00:27] michmike commented on #104
+1

[2018-09-21 01:53] PatrickLang commented on #103
I approve too.

Sent from a tiny keyboard

On Sep 20, 2018, at 5:07 PM, Madhan Raj Mookkandy <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @michmike<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmichmike&data=02%7C01%7C%7Cab05c7f15e194d4c65dd08d61f563b06%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636730852542576064&sdata=fR%2BLnpgzmsW

[2018-09-21 10:28] randomvariable opened #105 "REQUEST: New membership for randomvariable"
### GitHub Username
@randomvariable

### Organization you are requesting membership in
* @kubernetes
* @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https

[2018-09-21 10:40] dims commented on #105
+1 from me!

[2018-09-21 11:29] detiber commented on #105
+1

[2018-09-21 15:01] vincepri commented on #102
@cblecker Thank you for the note! I've spoken to @dims and he agreed to be a sponsor. I've updated the issue.

[2018-09-21 15:29] dims commented on #102
+1 from me

[2018-09-21 18:43] shubheksha opened #107 "New membership for shubheksha"
### GitHub Username
@shubheksha

### Organization you are requesting membership in
@kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2018-09-21 18:46] #102 closed

[2018-09-21 18:46] #103 closed

[2018-09-21 18:46] #104 closed

[2018-09-21 18:46] #105 closed

[2018-09-21 18:49] jdumars commented on #107
I endorse this membership request.

[2018-09-21 18:51] carolynvs commented on #107
+1 💖

[2018-09-21 18:54] vincepri commented on #102
Woo, thanks!

[2018-09-21 18:58] yliaog opened #108 "request to join kubernetes-sigs"
### GitHub Username
(at)yliaog

### Organization you are requesting membership in
(at)kubernetes-sigs

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2018-09-21 19:31] shubheksha commented on #107
Great, thanks, @cblecker :smile:

[2018-09-22 18:56] nikhita opened #110 "REQUEST: New membership for nikhita to kubernetes-sigs"
### GitHub Username
@nikhita

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements

I am already a member of @kubernetes.

(asking because of the recent conversation on slack for https://github.com/kubernetes-sigs/kind/pull/31)

[2018-09-22 19:14] BenTheElder commented on #110
+1
@cblecker are there any plans to sync the members from kubernetes to kubernetes-sigs or should everyone in kubernetes interested in kubernetes-sigs be filing requests like this long-term?

[2018-09-22 22:17] cblecker commented on #110
@BenTheElder eventually, but we need to set up pruning inactive members first.

[2018-09-23 07:37] #110 closed

[2018-09-23 08:40] k82cn opened #112 "Rename kubernetes-incubator/kube-arbitrator to kubernetes-incubator/kube-batch"
### Organization or repository
kubernetes-incubator

### Describe the issue
Rename kubernetes-incubator/kube-arbitrator to kubernetes-incubator/kube-batch

Approval:

https://groups.google.com/d/msgid/kubernetes-sig-scheduling/23662eac-4884-4a05-84aa-7178a98e5284%40googlegroups.com?utm_medium=email&utm_source=footer

[2018-09-24 00:52] k82cn commented on #112
/cc @bsalamat
/assign @calebamiles

[2018-09-24 10:47] nikopen opened #113 "REQUEST: New membership for nikopen"
### GitHub Username

@nikopen

### Organization you are requesting membership in

@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2018-09-24 18:01] bsalamat commented on #112
It is fine with me.

[2018-09-24 19:50] tpepper commented on #113
I support this membership and look forward to Niko's growing contributions via his 1.13 bug triage role.

[2018-09-25 02:52] ameukam opened #115 "REQUEST: New membership for ameukam"
### GitHub Username
@ameukam

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2018-09-25 04:00] AishSundar commented on #115
I would like to +1 Arnaud's membership request. He has been an active Bug triage shadow in 1.12 release and is continuing his contributions in 1.13 release cycle as well.

[2018-09-25 06:58] guineveresaenger commented on #115
+1 from me! He was a big help finding issues that needed attention for 1.12 bug triage. 🙂

[2018-09-25 12:57] parispittman commented on #115
+1 Arnauds help with contributor experience has been wonderful and looking forward to working with him more on our communication platform Discovery and artifacts that will come from that.

[2018-09-25 19:13] #115 closed

[2018-09-26 15:12] dougm opened #117 "REQUEST: New kubernetes-sigs membership for dougm"
### GitHub Username

@dougm

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements

I am already a member of @kubernetes and starting to work on https://github.com/kubernetes-sigs/cluster-api-provider-vsphere

[2018-09-27 15:49] dims opened #118 "k8s-infra-team github team in k8s org"
### Organization or repository
kubernetes

### Users effected
folks on k8s-infra-team on slack

### Describe the issue
We need a (single) github team for general awareness, notification, and assignment of issues and pr's relating to the k8s infra team working on transfer of infrastructure from google to CNCF effort.

[2018-09-27 15:51] dims commented on #118
cc @cblecker @thockin @idvoretskyi @ixdy @BenTheElder @roberthbailey @timothysc @stevekuznetsov @brendandburns

[2018-09-27 16:20] idvoretskyi commented on #118
+1

[2018-09-27 16:45] AishSundar commented on #113
+1 on Niko's org membership request. He has been a valuable member of the 1.12 release team and will be leading the bug triage role for 1.13.

[2018-09-27 16:48] guineveresaenger commented on #113
+1 - as the 1.12 bug triage lead, Niko made valuable contributions and I look forward to him filling the role as Lead for 1.13. His contributions to the community are worthy of membership. ❤️

[2018-09-27 16:49] nikopen commented on #113
/assign @spiffxp
/assign @calebamiles

[2018-09-27 17:02] cblecker commented on #118
@kubernetes/k8s-infra-team already exists.. or are you asking for something else? :)

[2018-09-27 18:15] dims commented on #118
Duh! thanks @cblecker

[2018-09-27 18:15] dims commented on #118
/close

[2018-09-27 18:15] #118 closed

[2018-09-27 20:35] spiffxp commented on #113
/unassign @calebamiles
on this now

[2018-09-27 20:38] spiffxp commented on #117
/assign

[2018-09-27 20:51] spiffxp commented on #112
@k82cn I can do this, but while I have your attention, two other questions:
- how would you feel about moving to the same branch requirements / code review mechanisms as all of the repos in kubernetes-sigs?  we don't currently support `require_signed_commits`, and the requirement for code reviews isn't really necessary if you use /lgtm + /approve (ref https://github.com/kubernetes/test-infra/pull/

[2018-09-27 21:35] #113 closed

[2018-09-27 21:35] #117 closed

[2018-09-28 01:27] k82cn commented on #112
wow, that'll be great if we can use /lgtm + /appove in kubernetes-sigs; it have to merge code manually righ now :(. So I'd like to see that, is there any additional requirements to do that?

/cc @bsalamat

[2018-09-28 16:39] leakingtapan opened #120 "REQUEST: New membership for leakingtapan"
### GitHub Username
@leakingtapan

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2018-09-28 16:44] gnufied commented on #120
+1 from me.

[2018-09-28 17:07] d-nishi commented on #120
+1

[2018-09-28 17:37] M00nF1sh opened #121 "REQUEST: New membership for M00nF1sh"
### GitHub Username
@M00nF1sh

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2018-09-28 17:43] bigkraig commented on #121
+1 for @M00nF1sh

[2018-09-28 19:04] spiffxp commented on #112
@k82cn no additional requirements, I'll just have to make a few changes to the repo and want to make sure this is ok:
- move the repo from kubernetes-incubator/kube-arbitrator to kubernetes-sigs/kube-batch
- adjust the repo's branch protection settings so that github reviews aren't required, and signed commits aren't required (this will make it match all other repo settings in kubernetes-sigs)
- a

[2018-09-28 19:16] cblecker commented on #120
@leakingtapan You may need an additional sponsor. @gnufied has already +1'd, but unfortunately @d-nishi isn't eligible to sponsor per the community membership guidelines (https://git.k8s.io/community/community-membership.md). @jsafrane also wouldn't be able to sponsor, as both @jsafrane and @gnufied work for Red Hat.

[2018-09-28 19:51] dims commented on #120
Happy to sponsor you @leakingtapan

[2018-09-28 20:18] andrewtandoc commented on #121
+1

[2018-09-28 20:24] dstrebel opened #122 "REQUEST: New membership for dstrebel"
### GitHub Username
@dstrebel

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2018-09-28 21:41] d-nishi opened #123 "Create repositories for aws-ebs-csi-driver as a SIG AWS subproject"
### New Repo, or migrate existing
migrate repository

### Requested name for new repository
aws-ebs-csi-driver

### Which Organization should it reside
kubernetes-sigs

### Who should be provided access to this repository
@d-nishi should have write access
@leakingtapan should have write access
@bertinatto should have write access
@gnufied should have write access
@jsafrane should have write access

[2018-09-28 21:44] timothysc commented on #123
/cc @kubernetes/steering-committee @kubernetes/sig-aws-misc

generally lgtm

[2018-09-28 22:31] cblecker commented on #123
/assign
@d-nishi: could you please add me as an admin of the source repo when you get a chance? I will handle this transfer next week.

[2018-09-29 00:17] d-nishi commented on #123
@cblecker - done.

[2018-09-29 13:40] justaugustus opened #124 "Rename k/features to k/enhancements"
### New Repo, or migrate existing
`k/features`

### Requested name for new repository
`k/enhancements`

### Which Organization should it reside
`kubernetes`

### Who should be provided access to this repository
At the offset, access will remain the same

### Approvals
Please detail out the approval process for the new repo
Requirements are listed here: https://git.k8s.io/community/github-managemen

[2018-10-01 08:00] bertinatto opened #125 "REQUEST: New membership for bertinatto"
### GitHub Username
bertinatto

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-10-01 10:38] jsafrane commented on #125
+1 from me

[2018-10-01 16:13] d-nishi commented on #125
@bertinatto please add @dims as I am yet to become a member myself.

@dims @cblecker -- Fabio is working with AWS (@leakingtapan) on the ebs csi driver alpha. Please help with the membership.

[2018-10-01 16:13] d-nishi opened #126 "REQUEST: New membership for d-nishi"
### GitHub Username
@d-nishi

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2018-10-01 16:28] timothysc commented on #126
+1 from me.

[2018-10-01 16:45] gnufied commented on #126
+1 from me.

[2018-10-01 17:13] dims commented on #126
+1 from me

[2018-10-01 17:15] d-nishi commented on #126
ThanQ @dims @timothysc @gnufied

[2018-10-02 09:22] xmudrii opened #127 "REQUEST: New kubernetes-sigs membership for xmudrii"
### GitHub Username
@xmudrii

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-10-02 18:00] cblecker commented on #121
@M00nF1sh Hi there! Unfortunately it doesn't appear that your sponsors meet the requirements for being sponsors (they aren't themselves members). Please review the guidelines here: https://git.k8s.io/community/community-membership.md

[2018-10-02 18:06] liyinan926 opened #129 "REQUEST: New membership for liyinan926"
### GitHub Username
@liyinan926

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-10-02 18:08] cblecker commented on #120
Invite will be sent out as soon as #130 merges. Welcome to @kubernetes! 🚀

[2018-10-02 18:08] cblecker commented on #126
Invite will be sent out as soon as #130 merges. Welcome to @kubernetes! 🚀

[2018-10-02 18:08] cblecker commented on #127
Invite will be sent out as soon as #130 merges. Welcome to @kubernetes! 🚀

[2018-10-02 18:34] d-nishi commented on #126
ThanQ @cblecker

[2018-10-02 18:41] d-nishi commented on #123
ThanQ @cblecker

Finishing the TO DO items right now.

[2018-10-02 18:54] #120 closed

[2018-10-02 18:54] #126 closed

[2018-10-02 18:54] #127 closed

[2018-10-02 21:03] dims commented on #125
+1 from me.

[2018-10-02 21:04] spiffxp commented on #125
/assign

[2018-10-02 21:05] spiffxp commented on #125
I'm going to pre-emptively add you to kubernetes-sigs as well, since that's where the subproject you're involved with is hosted

[2018-10-02 21:08] spiffxp commented on #125
When #131 merges, you should be invited, and this will close, welcome!

[2018-10-02 21:11] spiffxp commented on #129
@liyinan926 Hi there! Unfortunately it doesn't appear that your sponsors meet the requirements for being sponsors (one must be from a different company than the other). Please review the guidelines here: https://git.k8s.io/community/community-membership.md

[2018-10-02 21:14] liyinan926 commented on #129
@spiffxp Thanks for pointing that out. Added one more person to the list.

[2018-10-02 21:17] #125 closed

[2018-10-02 21:20] d-nishi commented on #125
ThannQ @dims @spiffxp

[2018-10-02 21:53] spiffxp commented on #112
/assign
Sounds good, I'll get on this shortly

[2018-10-02 22:19] spiffxp commented on #112
@jinzhejz is not currently a member of kubernetes, just kubernetes-incubator, can you have them file a kubernetes/org issue for membership to kubernetes-sigs with sponsors?

[2018-10-02 22:30] spiffxp commented on #112
I moved the repo to https://github.com/kubernetes-sigs/kube-batch and updated branch settings manually

I added @k82cn as an admin collaborator for now, until membership invite is accepted

[2018-10-02 22:32] bigkraig opened #133 "REQUEST: New membership for bigkraig"
### GitHub Username
@bigkraig

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2018-10-02 22:48] janetkuo commented on #129
+1

[2018-10-02 23:11] quinton-hoole-2 opened #134 "quinton-hoole is now quinton-hoole-2"
### Organization or repository
kubernetes/*

### Users effected
@quinton-hoole, @quinton-hoole-2

### Describe the issue
Due to a 2FA snarfu I've temporarily (for 6 months) lost access to my quinton-hoole github account.  So I'm now quinton-hoole-2.  @spiffxp could I ask you to please grant quinton-hoole-2 the same github permissions as quinton-hoole has, across all repos in the kubernetes/* orgs?

[2018-10-02 23:13] quinton-hoole-2 commented on #134
/assign @spiffxp

[2018-10-03 01:12] spiffxp commented on #134
on this, thanks

[2018-10-03 01:18] spiffxp commented on #134
Once the invite is sent/accepted, we'll need to add quinton-hoole-2 to the following teams:
- https://github.com/orgs/kubernetes/teams?query=%40quinton-hoole
- https://github.com/orgs/kubernetes-sigs/teams?query=%40quinton-hoole

[2018-10-03 16:18] philips commented on #133
+1

[2018-10-03 16:51] #134 closed

[2018-10-03 17:04] mortent opened #136 "REQUEST: New membership for mortent"
### GitHub Username
@mortent

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-10-03 17:07] jberkus commented on #136
/approve

[2018-10-03 17:56] d-nishi commented on #133
+1

[2018-10-03 20:17] yliaog opened #137 "please create repo cluster-bootstrap under kubernetes"
### New Repo, or migrate existing
new repository

### Requested name for new repository
cluster-bootstrap

### Which Organization should it reside
kubernetes

### Who should be provided access to this repository
sig-cluster-lifecycle-leads

### Approvals
Please detail out the approval process for the new repo
Requirements are listed here: https://git.k8s.io/community/github-management/kubernetes-r

[2018-10-03 20:20] yliaog commented on #137
/assign @calebmiles

[2018-10-03 20:35] calebamiles commented on #137
done
https://github.com/kubernetes/cluster-bootstrap

/close

[2018-10-03 20:35] #137 closed

[2018-10-03 21:04] spiffxp commented on #136
/assign

[2018-10-03 21:04] spiffxp commented on #133
/assign

[2018-10-03 21:38] #133 closed

[2018-10-03 21:38] #136 closed

[2018-10-03 22:46] leakingtapan commented on #121
+1

[2018-10-03 22:49] M00nF1sh commented on #121
@cblecker
Hi, i changed to be @leakingtapan , and kraig also just become a member :D i guess it's fine now 😄

[2018-10-04 11:19] nikhita commented on #137
Mentioning a list of PRs related to this because they are scattered around many repos. Refer https://github.com/kubernetes/kubernetes/blob/master/staging/README.md#creating-the-published-repository for the reason behind these PRs.

- https://github.com/kubernetes/cluster-bootstrap currently contains OWNERS, LICENSE and code-of-conduct.md. However, the directory should be empty so that the publishi

[2018-10-04 14:38] spiffxp commented on #112
/close
Left this open in case there were any hiccups, there have been none, so closing

[2018-10-04 14:38] #112 closed

[2018-10-04 15:00] nikhita commented on #137
Created https://github.com/kubernetes/publishing-bot/pull/119 to add cluster-bootstrap to the publishing bot. Will remove the hold on it once permissions are updated.

[2018-10-04 15:52] chaosaffe opened #139 "REQUEST: New membership for @chaosaffe"
### GitHub Username
@chaosaffe

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2018-10-04 15:54] dims commented on #139
+1 from me @chaosaffe

[2018-10-04 17:03] roberthbailey commented on #139
+1 from me

[2018-10-04 20:27] spiffxp commented on #134
Added to all teams

[2018-10-05 18:36] saad-ali opened #141 "Requesting owner permissions for https://github.com/kubernetes-csi/* repos"
### Organization or repository
https://github.com/kubernetes-csi/driver-registrar
https://github.com/kubernetes-csi/external-attacher
https://github.com/kubernetes-csi/external-snapshotter
https://github.com/kubernetes-csi/external-provisioner
https://github.com/kubernetes-csi/docs
https://github.com/kubernetes-csi/csi-test
https://github.com/kubernetes-csi/drivers
https://github.com/kubernetes-cs

[2018-10-06 01:42] spiffxp commented on #141
/assign

[2018-10-06 01:57] spiffxp commented on #141
can you get @xing-yang and @jingxu97 to file issues to become members of kubernetes-csi, and to be added to the external-snapshotter-admins team?

[2018-10-06 01:59] spiffxp commented on #141
/close
Created all of the requisite -admins and -maintainers teams, and added @saad-ali and @childsb as team maintainers, as with the other teams.  For repos that had collaborators with admin/write access, I moved them to those teams where possible.

[2018-10-06 01:59] #141 closed

[2018-10-06 05:05] justaugustus commented on #139
Thanks so much for your contributions thus far!
I've created #142 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)
/assign

[2018-10-06 05:16] justaugustus commented on #122
+1 from me. Thanks for helping out in #sig-azure and for your work on the 1.12 and 1.13 Release Teams! :)

[2018-10-06 05:17] justaugustus commented on #122
/assign

[2018-10-06 06:14] justaugustus commented on #121
Thanks so much for your contributions thus far!
I've created #143 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)
/assign

[2018-10-06 06:14] #139 closed

[2018-10-06 06:59] #121 closed

[2018-10-08 11:50] mrbobbytables commented on #129
Hey there @liyinan926, thank you so much for all the contributors you've done so far! :)
I've created PR #146 to add you to the main Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2018-10-08 15:06] #129 closed

[2018-10-08 16:21] andrewsykim opened #147 "Please create repo kubernetes/cloud-provider"
### New Repo, or migrate existing
new repository

### Requested name for new repository
cloud-provider

### Which Organization should it reside
kubernetes

### Who should be provided access to this repository
(based on previous approvers in OWNERS file)
@andrewsykim
@cheftako
@dims

### Approvals
This should get approval from SIG Cloud Provider leads and SIG Arch as the cloud provider interface co

[2018-10-08 17:29] dims commented on #147
request to sig-arch is [here](https://groups.google.com/d/msg/kubernetes-sig-architecture/wUY-pCWJ1Qo/YlSkGidXBgAJ)

[2018-10-08 17:33] smarterclayton commented on #147
LGTM

[2018-10-08 17:57] justaugustus commented on #147
/lgtm

[2018-10-08 18:42] hogepodge commented on #147
/approve

[2018-10-08 18:45] saad-ali commented on #141
Thanks @spiffxp!

[2018-10-08 20:52] dims commented on #147
/assign @cblecker

[2018-10-08 20:52] chrisohaver opened #148 "REQUEST: New membership for chrisohaver"
### GitHub Username
@chrisohaver

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-10-08 20:53] dims commented on #147
Can you please setup permissions as documented here as well? https://github.com/kubernetes/org/issues/56#issue-356711512

[2018-10-08 21:16] lavalamp commented on #147
/approve

[2018-10-08 23:54] spiffxp opened #149 "Auto-label issues based on kind of request"
I'd like to add labels and update our issue templates to use /area foo to auto-label issues to help us better triage incoming requests

[2018-10-08 23:55] spiffxp commented on #149
/sig contributor-experience
ref: https://github.com/kubernetes/test-infra/pull/9738

[2018-10-09 00:19] spiffxp commented on #147
- Created: https://github.com/kubernetes/cloud-provider
- Branch protection: https://github.com/kubernetes/test-infra/pull/9739
- Subproject update: https://github.com/kubernetes/community/pull/2769

Since this is a staging repo I did not create cloud-provider-admins nor cloud-provider-maintainers teams

I will close this issue once the linked PR's merge

[2018-10-09 00:28] johnbelamaric commented on #148
+1

On Mon, Oct 8, 2018 at 1:52 PM chrisohaver <notifications@github.com> wrote:

[2018-10-09 02:39] spiffxp commented on #147
One other request: what would you like as the description of the repo?

[2018-10-09 04:54] nikhita commented on #147
PR to add the repo to the publishing bot: https://github.com/kubernetes/publishing-bot/pull/121

[2018-10-09 08:06] wojtek-t commented on #148
+1

[2018-10-09 11:20] warmchang opened #151 "REQUEST: New membership for warmchang"
### GitHub Username
@warmchang

### Organization you are requesting membership in
[@kubernetes](https://github.com/kubernetes)
[@kubernetes-incubator](https://github.com/kubernetes-incubator)

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/se

[2018-10-09 12:54] mrbobbytables commented on #148
Hey there @chrisohaver ! Unfortunately it doesn't appear that your sponsors meet the requirements for being sponsors ([they must be from different member companies](https://git.k8s.io/community/community-membership.md#requirements)). Would you mind soliciting another sponsor from an organization other than Google? Thanks!

[2018-10-09 13:00] chrisohaver commented on #148
i'll re-open If I can find an owner not working at Google.

[2018-10-09 14:06] neolit123 commented on #148
i sponsor @chrisohaver with a +1.

[2018-10-09 14:38] mrbobbytables commented on #148
Awesome, thanks for jumping in @neolit123!

@chrisohaver thanks for all the work you've done so far! :)

I've created PR #152  to add you to the main Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-09 15:46] #148 closed

[2018-10-09 23:17] davidz627 opened #153 "Create https://github.com/kubernetes-csi/kubernetes-csi-migration-library"
### New Repo, or migrate existing
Please create a new repo

### Requested name for new repository
https://github.com/kubernetes-csi/kubernetes-csi-migration-library

### Which Organization should it reside
kubernetes-csi

### Who should be provided access to this repository
Please make:
https://github.com/davidz627
https://github.com/saad-ali
owners

### Approvals
https://groups.google.com/forum/#

[2018-10-09 23:17] davidz627 commented on #153
/cc @saad-ali
/assign @cblecker @spiffxp

[2018-10-09 23:17] zacharysarah opened #154 "Archive localization repositories and teams"
### Repository to archive

The following localization repositories:

https://github.com/kubernetes/kubernetes-docs-ja
https://github.com/kubernetes/kubernetes-docs-ko
https://github.com/kubernetes/kubernetes-docs-zh

And their associated teams:

[code]

These are replaced with localization-specific workflows and teams in `k/website`.

See https://github.com/kubernetes/website/pull/10485 for contex

[2018-10-09 23:18] davidz627 commented on #153
/cc @ddebroy @kubernetes/owners
/sig storage

[2018-10-10 05:17] jagosan commented on #147
/approve

[2018-10-10 13:59] pohly opened #155 "REQUEST: New membership for pohly"
### GitHub Username
@pohly

### Organization you are requesting membership in
- kubernetes
- kubernetes-csi

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2018-10-10 16:12] d-nishi commented on #123
Done @cblecker can we close this?

[2018-10-10 19:45] timothysc commented on #155
+1 from me.

[2018-10-10 21:38] mrbobbytables commented on #151
Hey there @warmchang , thank you for all your contributions so far :)

I've created PR #156  to add you to both the Kubernetes and Kubernetes-Incubator Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-10 21:54] #151 closed

[2018-10-10 22:16] d-nishi commented on #123
https://github.com/kubernetes/community/pull/2780 - @cblecker FYI.

[2018-10-11 01:13] andrewsykim commented on #147
@spiffxp for description, as per Walter's suggestion on slack:
[code]

[2018-10-11 08:26] tizhou86 opened #157 "REQUEST: New kubernetes-sigs membership for tizhou86"
### GitHub Username
@tizhou86

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-10-11 08:47] alvaroaleman opened #158 "REQUEST: New membership for @alvaroaleman"
### GitHub Username
@alvaroaleman

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2018-10-11 08:49] nikhita commented on #158
+100

@alvaroaleman is not only active on the cluster-api github repo, but also on slack and in meetings!

[2018-10-11 14:50] maver1ck opened #159 "REQUEST: New membership for @maver1ck"
### GitHub Username
@maver1ck

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-10-11 15:18] spiffxp commented on #155
I'm happy to +1 as well

[2018-10-11 15:57] AishSundar commented on #122
+1 from my end as well. Dave is a great addition to the release team !

[2018-10-11 16:04] justaugustus commented on #122
Awesome. Thanks Aish! I'll whip up the PR :)

[2018-10-11 16:42] pohly commented on #155
/area github-membership

[2018-10-11 16:51] cblecker commented on #159
@maver1ck Are you able to substitute the helm/helm and helm/charts PRs for others actually in the kubernetes project? The @helm project/organization is now it's own separate CNCF project from the @kubernetes project :)

[2018-10-11 16:52] maver1ck commented on #159
@cblecker not really.
Could you point to the information how to get helm membership ?

[2018-10-11 16:56] #122 closed

[2018-10-11 16:57] roberthbailey commented on #158
+1

[2018-10-11 16:58] cblecker commented on #159
I believe the process for helm charts trusted contributor status is here: https://github.com/helm/charts#trusted-collaborator

@mattfarina: is the above link the most accurate place for helm contributors to look at?

[2018-10-11 17:06] justaugustus commented on #155
Closed via #160
/close

[2018-10-11 17:07] #155 closed

[2018-10-11 17:08] justaugustus commented on #158
Thanks so much for your contributions thus far!
I've created #161 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)
/assign

[2018-10-11 17:12] #158 closed

[2018-10-11 17:58] cblecker commented on #159
Yes, but Kubernetes org membership (https://git.k8s.io/community/community-membership.md) requires active contribution to Kubernetes subprojects (helm and charts no longer qualifies for this).

[2018-10-11 18:05] davidz627 commented on #153
PTAL @cblecker @spiffxp

[2018-10-11 18:13] alvaroaleman commented on #158
thank you @justaugustus !

[2018-10-11 23:40] davidz627 commented on #153
/cc @leakingtapan

[2018-10-12 08:56] chentao1596 opened #162 "REQUEST: New membership for @chentao1596"
### GitHub Username
@chentao1596

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-10-12 18:38] spiffxp commented on #153
/assign @spiffxp
/unassign @cblecker

[2018-10-12 19:57] gyuho opened #163 "REQUEST: New membership for @gyuho"
### GitHub Username

@gyuho

### Organization you are requesting membership in

@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2018-10-12 20:08] d-nishi commented on #163
+1

[2018-10-12 20:09] jpbetz commented on #163
+1

[2018-10-12 20:38] spiffxp commented on #153
Created
- https://github.com/kubernetes-csi/kubernetes-csi-migration-library
- https://github.com/orgs/kubernetes-csi/teams/kubernetes-csi-migration-library-admins
- https://github.com/orgs/kubernetes-csi/teams/kubernetes-csi-migration-library-maintainers

Updated OWNERS and SECURITY_CONTACTS to match the requested owners

[2018-10-12 20:44] justaugustus opened #164 "Enable FOSSA license scanning across all Kubernetes orgs"
### Organization or repository
All k8s orgs

### Name of integration
FOSSA

### Link to integration website
- https://fossa.io/
- https://github.com/fossas/fossa-docs/blob/master/src/md/getting-started/repository-permissions.md

### Describe what is attempting to be accomplished
As a project, we'd like to be able to scan software licenses with some framework and it seems the general consensus has

[2018-10-12 20:50] justaugustus commented on #163
+1 as well!
/assign

[2018-10-12 20:51] justaugustus commented on #157
/assign

[2018-10-12 20:56] dims commented on #164
@justaugustus can you please point us to the page that describes the permissions needed by this app?

[2018-10-12 21:05] spiffxp commented on #154
/area github-repo

[2018-10-12 21:06] justaugustus commented on #163
Hey @gyuho! Thanks so much for your contributions! :)
I've created #166 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)

[2018-10-12 21:06] spiffxp commented on #149
I'm retroactively labeling issues

[2018-10-12 21:07] justaugustus commented on #157
(approving this as you're already part of the kubernetes org)

Thanks so much for your contributions thus far!
I've created #166 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)

[2018-10-12 21:14] spiffxp commented on #124
/area github-repo
/assign

Should there be any notice given on this? Github will redirect from k/features to k/enhancements but I think I'm looking for some sign of approval here.

[2018-10-12 21:15] justaugustus commented on #164
@dims -- here you go: https://github.com/fossas/fossa-docs/blob/master/src/md/getting-started/repository-permissions.md

added to the issue description as well.

[2018-10-12 21:27] zacharysarah commented on #154
@spiffxp @cblecker 👋 https://github.com/kubernetes/website/pull/10485 has merged.

[2018-10-12 21:28] spiffxp commented on #149
So, there are a few issues that fall between the existing set of labels? ie: asking for ACL's or teams, but I'm not clear whether those merit new categories yet

/close
calling this done for now

[2018-10-12 21:28] #149 closed

[2018-10-12 21:36] cblecker commented on #154
@zacharysarah Can those repos be archived at any time? Or would you like to keep them around a bit before taking this action?

[2018-10-12 21:37] justaugustus commented on #124
@spiffxp Yep, the redirect should be enough. Let's lazy consensus this for EOD PT, Friday, October 19th.
I'll make an announcement on k-pm and k-dev on Monday to allow some time for feedback.

cc: @calebamiles @idvoretskyi @jdumars

[2018-10-12 21:43] zacharysarah commented on #154
@cblecker They can be archived whenever you’re ready.

All of the teams have signaled that they’ve suspended work, but if you’d like to practice an abundance of caution and keep them open at least over the weekend, that seems reasonable.

[2018-10-12 21:50] #157 closed

[2018-10-12 21:50] #163 closed

[2018-10-12 21:52] gyuho commented on #163
Thanks @justaugustus !

[2018-10-12 21:53] idvoretskyi commented on #124
/lgtm

[2018-10-12 21:57] spiffxp commented on #164
I see this already happens to be enabled for google and GoogleCloudPlatform, so I figure if it's good enough for them...

But seriously, discussed in private with the rest of @kubernetes/owners, it's been enabled for kubernetes-sigs for a bit and nothing has caught on fire, so we're ok with this

[2018-10-12 21:58] fejta commented on #164
This is fine as a first step. +1

At what kind of cadence does this provide results? Ideally we find a solution that allows us to prevent merges of bad licenses, in addition to flagging problems after the fact.

[2018-10-12 22:01] spiffxp commented on #164
I clicked the 'grant' button for the kubernetes orgs I manage.  Explicitly not touching kubernetes-security.

![screen shot 2018-10-12 at 3 00 14 pm](https://user-images.githubusercontent.com/49258/46895961-985fcc80-ce2f-11e8-9c76-8aa73741e656.png)

[2018-10-12 22:07] idvoretskyi commented on #164
@justaugustus +1. Thanks for doing this!

[2018-10-12 22:13] cblecker commented on #164
+1 in support of this.

[2018-10-12 22:19] spiffxp commented on #164
/close
I leave it to @justaugustus to continue setting this up, please ping here / reopen if permissions still aren't correct for you to do what you need

[2018-10-12 22:19] #164 closed

[2018-10-12 22:29] justaugustus commented on #164
Yayyyyy! I'll be kicking off documentation around the Licensing / Compliance subproject next week. It was mentioned [here](https://groups.google.com/d/msg/kubernetes-sig-release/6oljCwkD6HQ/sH8W-uwwAAAJ) originally, but I've actually got bandwidth to do stuff now.

Thanks @spiffxp! :)

[2018-10-12 22:47] cblecker commented on #154
@zacharysarah sounds good. I'll take of this next week then :)

[2018-10-13 01:05] spiffxp commented on #153
/close
Please ping here or reopen if something appears to be off, otherwise I think you're all set!

[2018-10-13 01:05] #153 closed

[2018-10-13 06:38] xiangpengzhao commented on #162
+1

[2018-10-14 07:38] zhangxiaoyu-zidif commented on #162
+1 from me

[2018-10-14 12:32] mrbobbytables commented on #162
Hey there @chentao1596 , thank you so much for all the work you've done so far! :)

I've created PR #167  to add you to the main Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-14 16:43] #162 closed

[2018-10-15 07:03] jinzhejz opened #168 "REQUEST: New kubernetes-sigs membership for jinzhejz"
### GitHub Username
@jinzhejz

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-10-15 07:04] k82cn commented on #168
+1 to me

[2018-10-15 07:12] wanghaoran1988 commented on #168
+1

[2018-10-15 21:15] zacharysarah commented on #154
@cblecker 👋 All quiet over the weekend, feel free to merge this whenever.

[2018-10-15 23:00] cblecker commented on #154
This is now done.

[2018-10-15 23:00] #154 closed

[2018-10-16 14:39] mattfarina commented on #159
@cblecker You have the right link for trusted collaborators, yes.

[2018-10-16 18:54] mcrute opened #169 "REQUEST: New membership for mcrute"
### GitHub Username
mcrute

### Organization you are requesting membership in
- @kubernetes
- @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2018-10-16 18:57] mcrute commented on #169
/assign @justinsb @d-nishi

[2018-10-16 19:00] d-nishi commented on #169
+1

[2018-10-16 19:09] justinsb commented on #169
+1

[2018-10-16 19:33] m1kola opened #170 "REQUEST: New membership for m1kola"
### GitHub Username
@m1kola

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2018-10-16 19:36] seans3 commented on #170
+1

[2018-10-16 20:42] mrbobbytables commented on #168
Hey there @jinzhejz, thank you so much for all the work you've done with kube-batch! As a HPC/Research person definitely keeping an eye on the project. :)

I've created PR #171  to add you to both the Kubernetes and Kubernetes-Sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-16 20:43] mrbobbytables commented on #169
Hey there @mcrute , thank you for all your contributors so far! :)

I've created PR #171  to add you to both the Kubernetes and Kubernetes-Sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-16 22:46] #168 closed

[2018-10-16 22:46] #169 closed

[2018-10-17 07:49] marquiz opened #172 "Migrate kubernetes-incubator/node-feature-discovery to kubernetes-sigs/"
### New Repo, or migrate existing
Migrate existing

### Requested name for new repository
node-feature-discovery

### Which Organization should it reside
kubernetes-sigs

### Who should be provided access to this repository
@marquiz
@balajismaniam

### Approvals
Please detail out the approval process for the new repo
Requirements are listed here: https://git.k8s.io/community/github-management/kube

[2018-10-17 08:33] code-sleuth opened #173 "REQUEST: New membership for code-sleuth"
### GitHub Username
@code-sleuth

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-10-17 09:57] soltysh commented on #170
+1

[2018-10-17 13:54] juanvallejo commented on #173
+1

[2018-10-17 16:44] seans3 commented on #173
+1

[2018-10-18 10:23] marquiz opened #174 "REQUEST: kubernetes-sigs membership for marquiz"
### GitHub Username
@marquiz

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-10-18 17:44] danehans opened #175 "REQUEST: New membership for danehans"
### GitHub Username
@danehans

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-10-18 19:43] cblecker commented on #174
@marquiz Right now our policies are set up that membership in @kubernetes automatically qualifies you for membership in other k8s orgs as required.. this doesn't necessarily apply in the other direction however (membership in @kubernetes-incubator doesn't automatically get you @kubernetes-sigs membership).

As such, 2 sponsors that meet the guidelines are still required. Are you able to solicit th

[2018-10-18 19:45] cblecker commented on #170
Invite will be sent out as soon as #176 merges. Welcome to @kubernetes! 🚀

[2018-10-18 19:45] cblecker commented on #173
Invite will be sent out as soon as #176 merges. Welcome to @kubernetes! 🚀

[2018-10-18 19:46] cblecker commented on #175
Invite will be sent out as soon as #176 merges. Welcome to @kubernetes-sigs! 🚀

[2018-10-18 20:14] #170 closed

[2018-10-18 20:14] #173 closed

[2018-10-18 20:14] #175 closed

[2018-10-19 06:41] marquiz commented on #174
OK, added two sponsorts

[2018-10-19 15:41] spiffxp commented on #174
+1

[2018-10-20 11:43] vikaschoudhary16 commented on #174
/lgtm

[2018-10-20 18:28] #174 closed

[2018-10-22 11:01] suleisl2000 opened #178 "REQUEST: New kubernetes-sigs membership for suleisl2000"
### GitHub Username
@suleisl2000

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2018-10-22 18:05] rhatdan opened #179 "Request for owner/admin access to cri-o under kubernetes-sig"
GitHub Username
@rhatdan
@giuseppe

Organization you are requesting membership in
kubernetes-sigs

Requirements
  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kub

[2018-10-22 18:08] mrunalp commented on #179
@spiffxp ptal. @rhatdan and @giuseppe are CRI-O maintainers. Thanks!

[2018-10-22 18:09] giuseppe opened #180 "New kubernetes-sigs membership for giuseppe"
### GitHub Username
@giuseppe

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-10-22 18:11] giuseppe commented on #180
Closed in favor of https://github.com/kubernetes/org/issues/179

[2018-10-22 18:11] #180 closed

[2018-10-22 18:31] jingxu97 opened #181 "Request membership for @jingxu97"
### GitHub Username
@jingxu97

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-10-22 19:29] cblecker commented on #181
@jingxu97 Per the community membership guidelines (https://git.k8s.io/community/community-membership.md), you can only have one sponsor from the same company. Are you able to solicit a non-Google sponsor?

[2018-10-22 20:10] davidz627 commented on #181
@jsafrane

[2018-10-22 20:13] dmatch01 opened #182 "New kubernetes-sigs membership for dmatch01"
### GitHub Username
@dmatch01

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-10-22 21:59] cblecker commented on #181
@jingxu97 Hey, sorry about that. Didn't notice that you were already a member of @kubernetes which automatically qualifies you for membership of the other orgs without the need for sponsors. My bad!

We'll get this processed shortly :)

[2018-10-23 02:08] mrbobbytables commented on #181
@jingxu97 You should be good to go as soon as #183 is merged :)

[2018-10-23 03:46] jinzhejz commented on #178
+1

[2018-10-23 06:00] justaugustus commented on #124
@idvoretskyi @spiffxp -- lazy consensus period is up on this, so we can go ahead and rename the repo!

[2018-10-23 07:13] k82cn commented on #178
+1

[2018-10-23 07:14] k82cn commented on #178
looking forward for your more contribution！

[2018-10-23 07:16] k82cn commented on #182
+1, looking forward for you more contribution!

[2018-10-23 18:03] liyinan926 opened #184 "REQUEST: New kubernetes-sigs membership for liyinan926"
### GitHub Username
@liyinan926

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2018-10-23 21:28] justaugustus commented on #124
Caleb to handle later today.
/assign @calebamiles

[2018-10-23 21:29] calebamiles commented on #124
[done](https://github.com/kubernetes/enhancements)

[2018-10-23 21:29] #124 closed

[2018-10-23 22:31] justaugustus commented on #178
Hey @suleisl2000, before we can approve your request for membership, you need to be sponsored by at least 2 members of kubernetes orgs.

@k82cn counts as one, but @jinzhejz is neither in the `kubernetes`, nor the `kubernetes-sigs` org.
Would you be able to find another sponsor?

[2018-10-23 22:46] mrbobbytables commented on #178
@justaugustus  I don't believe @jinzhejz has accepted the membership invites yet to the `kubernetes` and `kubernetes-sigs` orgs, but is listed under `kubernetes`, `kubernetes-incubator` and `kubernetes-sigs` in the org configs. @suleisl2000's membership request is related to establishing the new [OWNERS](https://github.com/kubernetes-sigs/kube-batch/blob/master/OWNERS) for the kube-batch (formerly

[2018-10-23 23:20] justaugustus commented on #179
+1 as a sponsor! Thanks for your work on CRI-O! :)

I've opened #185 to add Dan and Giuseppe to `kubernetes-sigs`.
Once that merges, we can get them the appropriate permissions on https://github.com/kubernetes-sigs/cri-o

[2018-10-23 23:46] justaugustus commented on #179
@rhatdan @giuseppe -- I'd also like to see a non Red Hat sponsor, for the sake of company diversity. Can you track one down?

[2018-10-24 00:50] markthink opened #186 "REQUEST: New kubernetes-sigs membership for Markthink"
### GitHub Username
@markthink

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-10-24 01:56] jinzhejz commented on #178
accepted done.

[2018-10-24 01:57] jinzhejz commented on #182
+1 to me

[2018-10-24 02:40] idealhack commented on #186
+1

[2018-10-24 07:16] markthink commented on #186
+1

[2018-10-24 07:21] idealhack commented on #186
@markthink apparently you can't sponsor yourself 😅 let's see if @zacharysarah can respond here.

[2018-10-24 07:29] idealhack commented on #186
@markthink I thought you want to require membership for `kubernetes` instead of `kubernetes-sigs`? And you should finish the requirements checklist.

[2018-10-24 10:02] justaugustus commented on #182
Thanks so much for your contributions thus far!
I've created #187 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)
/assign

[2018-10-24 10:03] justaugustus commented on #178
Thanks so much for your contributions thus far!
I've created #187 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)
/assign

[2018-10-24 15:11] vrothberg commented on #179
Consider me (SUSE employee) as a sponsor of @giuseppe and @rhatdan.

[2018-10-24 15:23] justaugustus commented on #179
@vrothberg thanks for volunteering! Unfortunately, the additional sponsor would have to be an existing member of a Kubernetes org.

[2018-10-24 15:31] sameo commented on #179
@justaugustus Please add me as a sponsor there. I'm part of the kubernetes-incubator org.

[2018-10-24 15:36] iamemilio opened #189 "REQUEST: New membership for @iamemilio"
### GitHub Username
@iamemilio

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2018-10-24 15:54] chaosaffe commented on #189
+1 from me

On Wed, Oct 24, 2018, 17:39 Emilio Garcia, <notifications@github.com> wrote:

[2018-10-24 15:57] justaugustus commented on #179
LGTM! Thanks @sameo :)

[2018-10-24 17:24] adisky opened #190 "REQUEST: New membership for adisky"
### GitHub Username
@adisky

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2018-10-24 17:48] cblecker commented on #179
Noting that this is related to the migration of cri-o: https://github.com/kubernetes/org/issues/60

(Dug into the history of this one)

[2018-10-24 17:49] #184 closed

[2018-10-24 17:56] #178 closed

[2018-10-24 17:56] #182 closed

[2018-10-24 23:54] zacharysarah commented on #186
@markthink 👋 Please make the following changes:

### 1. Organization you are requesting membership in

Please specify `kubernetes` instead of `kubernetes-sigs`.

### 2. Requirements

Please check the boxes once you've verified that you meet the requirements. You can check boxes for completed requirements by updating the Markdown in the original description. For example, this markdown:

[code]

pro

[2018-10-25 01:56] markthink commented on #186
@zacharysarah thank you very much for your reply. Is this compliant?

[2018-10-25 02:31] zacharysarah commented on #186
@markthink Yes, thanks for the updates.

+1

[2018-10-25 05:36] zetaab commented on #190
+1

[2018-10-25 12:32] rhatdan commented on #179
Well all of us were members of the kubernetes-incubator and need to move over to kubernetes-sigs.

[2018-10-25 14:20] mrbobbytables commented on #186
Hey there @markthink, thank you for all your contributions so far :)

I've created PR #192  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-25 14:22] mrbobbytables commented on #189
Hey there @iamemilio, thanks for all the work you've done so far :)

I've created PR #192  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2018-10-25 18:09] cblecker commented on #179
Closing this as invites have been sent out :)

/close

[2018-10-25 18:09] #179 closed

[2018-10-25 18:11] #186 closed

[2018-10-25 18:11] #189 closed

[2018-10-25 18:11] #190 closed

[2018-10-25 18:13] cblecker commented on #179
oh, and I should point out that now that they're members of the org, @mrunalp can add them to https://github.com/orgs/kubernetes-sigs/teams/cri-o-maintainers/members if they need write access :)

[2018-10-25 23:16] liggitt opened #193 "membership to kubernetes-sigs"
### GitHub Username
@liggitt

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-10-25 23:38] #193 closed

[2018-10-26 03:01] brucehex commented on #186
@mrbobbytables thanks 🎉

[2018-10-26 03:02] markthink commented on #186
@mrbobbytables thanks 🎉

[2018-10-26 12:36] dims opened #195 "Please create kubernetes/klog (for forking glog)"
### New Repo, Staging Repo, or migrate existing
Import https://github.com/dims/klog into kubernetes org

### Requested name for new repository
klog

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
@dims  @thockin

### If not a staging repo, who should have write access
@tallclair @justinsb, @erictune @lavalamp

### If a new repo, who shou

[2018-10-26 12:44] dims commented on #195
Also started an email thread in sig-arch:
https://groups.google.com/d/msg/kubernetes-sig-architecture/wCWiWf3Juzs/hXRVBH90CgAJ

[2018-10-26 12:46] erictune commented on #195
/lgtm

[2018-10-26 15:43] xmudrii opened #196 "Create repository for cluster-api-provider-digitalocean as a SIG Cluster Lifecycle subproject"
### New Repo, Staging Repo, or migrate existing
migrate repository.
Original repository: https://github.com/kubermatic/cluster-api-provider-digitalocean

### Requested name for new repository
cluster-api-provider-digitalocean

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
SIG-Cluster-Lifecycle leads:
- luxas
- roberthbailey
- timot

[2018-10-26 15:47] nikhita commented on #196
/sig cluster-lifecycle

[2018-10-26 17:59] tallclair commented on #195
Are we still intending for this to be a transitional step towards our logging end goal? If so, can we call that out in the description & readme, and discourage others from using this? My concern is that as soon as we put out a "kubernetes-log" repo, other projects will start cargo-culting it...
Along similar lines, I wonder if we should stick with "glog" for the name? It further emphasizes that th

[2018-10-26 18:39] msau42 opened #197 "Request membership for msau42 for kubernetes-csi"
### GitHub Username
msau42

### Organization you are requesting membership in
kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-10-26 18:40] msau42 commented on #197
cc @saad-ali

[2018-10-26 18:50] cblecker commented on #195
hey @dims, can you ping me back on this when consensus at sig-arch has been achieved? Then I can coordinate with you on a repo transfer.

[2018-10-26 18:52] dims commented on #195
Will do. thanks @cblecker.

I am going to assume @thockin and @tallclair are approvers on the plan from @kubernetes/sig-architecture-feature-requests

[2018-10-26 19:15] cblecker commented on #196
@nikhita The only open question I have is around webhooks and automation. Looks like you have an external prow, CircleCI, and zenhub configured. Will these continue to be used?

[2018-10-26 19:30] cblecker commented on #196
@xmudrii Sounds good.

[2018-10-26 19:37] cblecker commented on #196
@xmudrii Initial transfer is complete. Automation should kick in soon. Can you have a look around and see if everything is right?

sigs.yaml can now be updated too

[2018-10-26 19:39] xmudrii commented on #196
@cblecker Will do that now. I'll create a PR for sigs.yaml too :)

[2018-10-26 19:50] xmudrii commented on #196
@cblecker Created a pull request to add project to `sigs.yaml` https://github.com/kubernetes/community/pull/2864

[2018-10-26 20:07] xmudrii commented on #196
@cblecker I'm going thorough the repository right now and most of things seems okay! :slightly_smiling_face:

I have several questions:

1. I see CircleCI webhook enabled. Is CircleCI usable until we migrate testing to Prow?
1. Regarding Cluster-API DigitalOcean Maintainers Kubernetes SIGs team (https://github.com/orgs/kubernetes-sigs/teams/cluster-api-provider-digitalocean-maintainers), I see onl

[2018-10-26 20:19] cblecker commented on #196
1. CircleCI will continue to function.
2. You've been given maintainer abilities on the team, so you can add others at will.
3. Branch protection will automatically kick in automatically on a cron
4. CLA bot is automatic on all repos in k-sigs

Basic prow functions (like the bot, labels, etc) will start functioning immediately. If you want to enforce the use of CircleCI until you can move to prow,

[2018-10-26 20:20] cblecker commented on #196
oh, and for go import path, you can use `sigs.k8s.io/cluster-api-provider-digitalocean/...` if you like (the github path will work too)

[2018-10-26 21:01] andrewsykim opened #198 "Add @andrewsykim to kubernetes-sigs"
### GitHub Username
@andrewsykim

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
I am already a member of the kubernetes org, but I need membership to kubernetes-sigs so I can help maintain the [DigitalOcean cluster API provider](https://github.com/kubernetes-sigs/cluster-api-provider-digitalocean).

/area github-membership

[2018-10-26 21:08] xmudrii commented on #198
+100 :tada:

[2018-10-26 21:28] saad-ali commented on #197
Approved  from sig-storage

[2018-10-26 22:06] xmudrii commented on #196
@cblecker Once again, thank you so much! We're so happy to see this provider upstreamed and migrated to Kubernetes SIGs.

Great! I've asked on #sig-testing about moving forward on this. We will try to get this sorted out soonly.

Sounds good. I've already added Nikhita and Alvaro. We will add Andrew once he joins the Kubernetes SIGs organization (he is Kubernetes member already).

Can confirm it i

[2018-10-26 22:08] cblecker commented on #198
Invite will be sent out as soon as #199 merges. Welcome to @kubernetes-sigs! 🚀

[2018-10-26 22:09] cblecker commented on #197
Invite will be sent out as soon as #199 merges. Welcome to @kubernetes-csi! 🚀

[2018-10-26 22:10] cblecker commented on #196
you only have to add the squash command if you want all PRs to squash merge, instead of a regular git merge.

[2018-10-26 22:19] xmudrii commented on #196
@cblecker Great! Created a PR to add merge method and required checks https://github.com/kubernetes/test-infra/pull/9938, hope it's okay :slightly_smiling_face:

[2018-10-27 09:18] nikhita commented on #196
Sorry for the delay here, I had logged off for the day. :grimacing:

@cblecker Thanks for handling that so quick! Do you think this issue can be closed now?

PRs to add the new repo to sigs.yaml (https://github.com/kubernetes/community/pull/2864) and add the necessary required contexts to prow (https://github.com/kubernetes/test-infra/pull/9938) have been created.

[2018-10-27 10:15] #197 closed

[2018-10-27 10:15] #198 closed

[2018-10-29 15:02] phyber opened #200 "REQUEST: New membership for phyber"
### GitHub Username

@phyber

### Organization you are requesting membership in

  - @kubernetes
  - @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https:/

[2018-10-29 15:05] detiber commented on #200
+1 from me

[2018-10-29 15:07] randomvariable commented on #200
+1 from me

[2018-10-30 05:22] tossmilestone opened #201 "REQUEST: New membership for tossmilestone"
### GitHub Username
@tossmilestone

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-10-30 05:44] bsalamat commented on #201
+1

[2018-10-30 05:51] k82cn commented on #201
+1

[2018-10-30 09:02] woopstar opened #202 "Add @woopstar to kubernetes and kubernetes-sigs"
### GitHub Username
@woopstar

Organization you are requesting membership in
@kubernetes-sigs
@kubernetes

### Requirements
I am already a member of the kubernetes org, but I need membership to kubernetes-sigs so I can help maintain the [Kubespray](https://github.com/kubernetes-incubator/kubespray) project.

/area github-membership

[2018-10-30 09:03] mirwan opened #203 "kubernetes-sigs membership for mirwan"
### GitHub Username
@mirwan

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-10-30 09:11] tossmilestone commented on #201
Thanks support from @bsalamat and @k82cn !

[2018-10-30 09:14] Atoms opened #204 "REQUEST: New membership for Atoms #19"
### GitHub Username
 @atoms

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-10-30 09:15] mattymo opened #205 "Add @mattymo to kubernetes and kubernetes-sigs"
### GitHub Username
@mattymo

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
I am already a member of the kubernetes-incubator org, but I need membership to kubernetes and kubernetes-sigs so I can help maintain the Kubespray project.

/area github-membership

[2018-10-30 09:33] riverzhang opened #206 "Add @riverzhang to kubernetes and kubernetes-sigs"
### GitHub Username
@riverzhang

### Organization you are requesting membership
@kubernetes and @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2018-10-30 12:58] mrbobbytables commented on #200
Hey there @phyber , thanks for all the work you've done so far :)

I've created PR #207  to add you to both Kubernetes and the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-30 13:00] mrbobbytables commented on #201
Hey there @tossmilestone  , thanks for all the contributions you've done so far :)

I've created PR #207 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-10-30 13:09] tossmilestone commented on #201
@mrbobbytables Thanks a lot!

[2018-10-30 13:34] neolit123 commented on #206
the criteria seems to be met?

i sponsor @riverzhang 's membership.
he is a kubespray maintainer, so +1.

[2018-10-30 14:28] ant31 opened #208 "Migrate Kubespray to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
As discussed with sig-cluster-lifecycle in the  [28th Sept meeting](https://docs.google.com/document/d/1deJYPIF4LmhGjDVaqrswErIrV7mtwJgovtLnPCDxP7U/edit#heading=h.mhdh6zeg1w9d) we'd like to migrate https://github.com/kubernetes-incubator/kubespray to the https://github.com/kubernetes-sigs org.

### Which Organization should it reside
kubernetes-sigs

[2018-10-30 14:30] chadswen opened #209 "Add chadswen to kubernetes-sigs"
Kubespray is moving from kubernetes-incubator to kubernetes-sigs.
Below is a copy/paste from my previously approved [kubernetes-incubator membership request](https://github.com/kubernetes/org/issues/31)

### GitHub Username
@chadswen

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/co

[2018-10-30 17:36] #200 closed

[2018-10-30 17:36] #201 closed

[2018-10-30 21:44] akutz opened #210 "request to join kubernetes-sigs"
### GitHub Username
@akutz

### Organization you are requesting membership in
[@kubernetes-sigs](https://github.com/kubernetes-sigs)

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mai

[2018-10-30 23:12] cody-clark opened #211 "Membership Request: cody-clark"
### GitHub Username
@cody-clark

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-10-30 23:20] zacharysarah commented on #211
Enthusiastic +1. @cody-clark is a returning contributor to SIG Docs.

[2018-10-31 03:06] chenopis commented on #211
Ditto! +1 for me too. It's great to have @cody-clark back!

[2018-10-31 03:11] justaugustus commented on #202
Thanks for contributing to kubespray! I'll take care of this. :)

[2018-10-31 03:11] justaugustus commented on #202
/assign

[2018-10-31 03:12] justaugustus commented on #203
Thanks for contributing to kubespray! I'll take care of this. :)
/assign

[2018-10-31 03:12] justaugustus commented on #204
Thanks for contributing to kubespray! I'll take care of this. :)
/assign

[2018-10-31 03:12] justaugustus commented on #205
Thanks for contributing to kubespray! I'll take care of this. :)
/assign

[2018-10-31 03:12] justaugustus commented on #206
Thanks for contributing to kubespray! I'll take care of this. :)
/assign

[2018-10-31 03:13] justaugustus commented on #209
Thanks for contributing to kubespray! I'll take care of this. :)
/assign

[2018-10-31 03:15] justaugustus commented on #210
Thanks for contributions! I'll take care of this. :)
/assign

[2018-10-31 03:15] justaugustus commented on #211
Thanks for your contributions! I'll take care of this. :)
/assign

[2018-10-31 07:01] mirwan commented on #203
Thank you @justaugustus !

[2018-10-31 20:20] dims opened #213 "Please create kubernetes-sigs/yaml (for forking https://github.com/ghodss/yaml/)"
### New Repo, Staging Repo, or migrate existing
Import https://github.com/ghodss/yaml/ into kubernetes-sigs org

### Requested name for new repository
`yaml`

### Which Organization should it reside
`kubernetes-sigs`

### If not a staging repo, who should have admin access
@lavalamp @deads2k @liggitt @dims

### If not a staging repo, who should have write access
@lavalamp @deads2k @liggitt @dims

[2018-10-31 20:23] timothysc commented on #213
+100 this solves a long-standing user facing issue.

/assign @cblecker

[2018-10-31 21:15] timothysc commented on #208
Awesome @ant31

[2018-10-31 21:46] dims commented on #195
/sig instrumentation

[2018-10-31 21:46] dims commented on #195
@kubernetes/sig-architecture-feature-requests @thockin @bgrant0607 @tallclair @justinsb sig-arch folks, please +1 this request

[2018-10-31 21:58] jdumars commented on #195
/lgtm

[2018-10-31 22:00] lavalamp commented on #195
/lgtm

[2018-10-31 22:31] erictune commented on #195
+1

[2018-10-31 22:31] erictune commented on #195
/lgtm

[2018-10-31 22:53] BenTheElder commented on #195
Very interested in seeing this happen -- Minor note about glog vs klog, `klog` sounds a lot like `clog` which is perhaps not the greatest association for logging? :^)
If we are just doing a glog fork, `k8s.io/glog` might be good enough and easier to swap with `dep` etc.

[2018-10-31 23:32] thockin commented on #195
@dims thoughts on @BenTheElder's comment?

[2018-10-31 23:33] thockin commented on #195
/lgtm
/approve

[2018-10-31 23:58] dims commented on #195
@BenTheElder @thockin `klog` gives us some wiggle room which can be valuable. we can still use dep + wrapper over klog ( like https://github.com/dims/glog-minimal ) when needed. So let's go with `klog` for now please.

[2018-11-01 00:00] dims commented on #195
/assign @cblecker

[2018-11-01 00:00] cblecker commented on #195
@dims So this isn't going to be a staging repo, right? Just moving over your existing fork? If so, can you please add me as an admin of the existing repo.

[2018-11-01 00:01] dims commented on #195
Ack @cblecker doing that now

[2018-11-01 00:51] justinsb commented on #195
/lgtm

[2018-11-01 02:04] davidz627 commented on #181
looks like something didn't go right, I'm still unable to assign issues to @jingxu97
example: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/133#issuecomment-434906118

[2018-11-01 02:04] davidz627 commented on #181
/open

[2018-11-01 02:05] davidz627 commented on #181
/reopen

[2018-11-01 02:12] bgrant0607 commented on #213
+1

[2018-11-01 09:30] idealhack commented on #206
+1 for this

[2018-11-01 09:38] yue9944882 opened #214 "Membership Request: yue9944882"
### GitHub Username
@yue9944882

### Organization you are requesting membership in
@kubernetes-incubator

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2018-11-01 10:58] justaugustus commented on #203
+1 to sponsor, given the circumstance.

Assuming sponsorship from @ant31, [given this comment](https://github.com/kubernetes/org/pull/212#issuecomment-434999724):

[2018-11-01 10:58] justaugustus commented on #204
+1 to sponsor, given the circumstance.

Assuming sponsorship from @ant31, [given this comment](https://github.com/kubernetes/org/pull/212#issuecomment-434999724):

[2018-11-01 10:59] justaugustus commented on #205
+1 to sponsor, given the circumstance.

Assuming sponsorship from @ant31, [given this comment](https://github.com/kubernetes/org/pull/212#issuecomment-434999724):

[2018-11-01 10:59] justaugustus commented on #206
+1 to sponsor, given the circumstance.

Assuming sponsorship from @ant31, [given this comment](https://github.com/kubernetes/org/pull/212#issuecomment-434999724):

[2018-11-01 10:59] justaugustus commented on #209
+1 to sponsor, given the circumstance.

Assuming sponsorship from @ant31, [given this comment](https://github.com/kubernetes/org/pull/212#issuecomment-434999724):

[2018-11-01 11:43] mrbobbytables commented on #181
@jingxu97 Did you get a membership invite in your email (it'd be from github directly)? If not you should be able to go to the [kubernetes sigs](https://github.com/kubernetes-sigs/) page directly and be prompted to accept your membership invitation. Once you've accepted, issues should then be assignable.

[2018-11-01 13:42] deads2k commented on #213
This isn't signing up to fix that issue. This is creating a place that we own where it could be changed if someone worked through the backward compatibility concerns and was motivated to address it.

/approve

[2018-11-01 16:18] jbeda commented on #195
/lgtm

[2018-11-01 16:48] #202 closed

[2018-11-01 16:48] #203 closed

[2018-11-01 16:48] #204 closed

[2018-11-01 16:48] #205 closed

[2018-11-01 16:48] #206 closed

[2018-11-01 16:48] #209 closed

[2018-11-01 16:48] #210 closed

[2018-11-01 16:48] #211 closed

[2018-11-01 17:46] dims commented on #195
@tallclair affirmative! will do

[2018-11-01 19:16] cblecker commented on #213
This is forked into https://github.com/kubernetes-sigs/yaml . Haven't fully finished all the automation pieces, but it's in progress :)

[2018-11-01 19:16] cblecker commented on #195
This is moved into https://github.com/kubernetes/klog . Haven't fully finished all the automation pieces, but it's in progress :)

[2018-11-01 20:11] zacharysarah commented on #211
@justaugustus I see that https://github.com/kubernetes/org/pull/212 merged, but @cody-clark doesn't show up as an org member yet:

![screen shot 2018-11-01 at 1 08 00 pm](https://user-images.githubusercontent.com/3210446/47876810-72e33480-ddd7-11e8-8adb-beb745f91a4c.png)

I'm likewise unable to add him to SIG Docs teams.

![screen shot 2018-11-01 at 1 08 20 pm](https://user-images.githubuserconten

[2018-11-01 20:39] justaugustus commented on #211
@zacharysarah -- sorry for any confusion. Once the PR merges, that triggers a Github org invitation. @cody-clark will need to accept it to be listed in the org.

[2018-11-01 23:46] mrbobbytables commented on #214
Hey there @yue9944882, as you are a member of the kubernetes-org you automatically have permission to join the @kubernetes-incubator org. :) I've gone ahead and created PR #215. Once that gets merged you should get an invite to join the @kubernetes-incubator org.

Thanks!

/assign

[2018-11-01 23:56] #214 closed

[2018-11-02 11:15] hardikdr opened #216 "REQUEST: New membership for @hardikdr"
### GitHub Username
@hardikdr

### Organization you are requesting membership in
@kubernetes-sigs
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2018-11-02 11:41] chaosaffe commented on #216
+1 from me!

@hardikdr Thank you for all your work so far, and happy to have you as part of the org 😍

[2018-11-02 16:59] gnufied opened #217 "Point kubernetes-csi repo to its documentation page"
### Organization or repository
https://github.com/kubernetes-csi

### Describe the issue

The organization page on github should link to kubernetes-csi docs page which exists https://kubernetes-csi.github.io/

[2018-11-02 18:05] neolit123 opened #218 "REQUEST: New membership for @neolit123 (for k-sigs)"
### GitHub Username
@neolit123

### Organization you are requesting membership in
@kubernetes-sigs

/assign @dims

already a member of @kubernetes
requesting membership for k-sigs, as implicitly eligible?

https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem

/area github-membership

[2018-11-02 18:06] dims commented on #218
+1 from me!

[2018-11-02 19:50] lavalamp commented on #213
/lgtm
/approve

[2018-11-02 20:59] dims commented on #195
@neolit123 that was my call. `klog`'s initial sponsor was sig-arch and the code was coming from a trusted org so i felt it was ok to bring it directly into the main kubernetes org. the yaml one was coming from a personal github repo (`ghodss`) and it was coming in under sig-api-machinery, so it seemed better to leave it under kubernetes-sigs.

[2018-11-02 22:31] animeshsingh opened #219 "New kubernetes-sigs membership for animeshsingh"
### GitHub Username

@animeshsingh

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2018-11-02 22:47] mrbobbytables commented on #216
Hey there @hardikdr. Unfortunately, @chaosaffe cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for the @kubernetes-sigs org.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-incubator etc); as long as its a project they're involved with.

However, this does not work the

[2018-11-03 06:11] nikhita commented on #216
+1

I am happy to act as a sponsor for @hardikdr. He has made numerous contributions to the Cluster API subproject and is an active participant in meetings. He has also written a [proposal](https://docs.google.com/document/d/12TsBPn1lfMk50_yydzbXNZ9PT-8-88o4tSNi7eqPCVg/edit#heading=h.fafx2l7zb1b4) for a feature.

Also, just for complete clarity, I am listed in the following OWNERS files: https://c

[2018-11-03 06:12] nikhita commented on #218
:tada:

[2018-11-03 06:35] k82cn commented on #219
+1

[2018-11-03 08:42] hardikdr commented on #216
Thanks a lot @nikhita, for being a sponsor 🙂

@mrbobbytables Thank you for clarification. I updated the Issue to include @nikhita  as a sponsor. Please let me know if there is anything required yet. 🙂

[2018-11-03 20:48] cblecker commented on #216
Invite will be sent out as soon as #220 merges. Welcome to @kubernetes! 🚀

[2018-11-03 20:48] cblecker commented on #218
Invite will be sent out as soon as #220 merges. Welcome to @kubernetes-sigs! 🚀

[2018-11-03 20:54] #216 closed

[2018-11-03 20:54] #218 closed

[2018-11-05 22:01] justinsb commented on #208
I don't think I'm needed to approve it.  If I am needed, you have my approval though!

[2018-11-05 22:20] jingxu97 commented on #181
Hi Bob, thank you for the reminder. I accepted the invitation. Thank you!

Best,
Jing

On Thu, Nov 1, 2018 at 4:43 AM Bob Killen <notifications@github.com> wrote:

--
- Jing

[2018-11-05 22:30] mrbobbytables commented on #181
Awesome, you should now be able to be assigned issues :)  Going to go ahead and close this issue again, but if you have any further problems, please feel free to reopen.

Thanks!

/close

[2018-11-05 22:30] #181 closed

[2018-11-06 05:05] jinzhejz commented on #219
+1

[2018-11-06 05:18] k82cn commented on #219
@animeshsingh , thanks for your contribution :)

[2018-11-06 12:19] mrbobbytables commented on #219
Hey there @animeshsingh, just to cover our bases would you mind editing your issue and checking off the requirements that you have completed?  Once that's done we can proceed with processing your membership request.

Thanks! :)

[2018-11-06 19:58] immutableT opened #222 "REQUEST: New membership for @immutableT"
### GitHub Username
@immutableT

### Organization you are requesting membership in
Kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-11-06 19:59] dims commented on #222
+1 from me

[2018-11-06 20:03] mikedanese commented on #222
+1

[2018-11-07 03:53] idealhack opened #223 "REQUEST: New membership for idealhack"
### GitHub Username

@idealhack

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2018-11-07 13:04] mrbobbytables commented on #222
Hey there @immutableT , thank you for all your contributions so far :)

I've created PR #224  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-07 13:06] mrbobbytables commented on #223
Hey there @idealhack , as you are a @kubernetes member already, you auto-qualify for being added to the @kubernetes-sigs org. :)

I've created PR #224, and once it gets merged you should get your @kubernetes-sigs membership invitation. 🎉

/assign

[2018-11-07 13:11] idealhack commented on #223
@mrbobbytables Thanks!

[2018-11-07 14:55] jbartosik opened #225 "REQUEST: New membership for jbartosik"
### GitHub Username
@jbartosik

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-11-07 15:08] MaciekPytel commented on #225
Big +1 from me: @jbartosik has became a regular contributor in sig-autoscaling. He has already made significant improvements to HPA algorithm and he did much more than his fair share of maintenance work debugging and fixing tests to unblock 1.13 release.

[2018-11-07 16:37] jberkus commented on #225
+1  jbartosik is the lead in resolving issues with HPA for this release.

[2018-11-07 16:37] jberkus commented on #225
/lgtm

[2018-11-07 17:47] #222 closed

[2018-11-07 17:47] #223 closed

[2018-11-07 22:36] dmatch01 commented on #219
+1

[2018-11-07 22:37] dmatch01 commented on #219
@animeshsingh , thank you!

[2018-11-07 22:44] mrbobbytables commented on #219
Thanks @animeshsingh ! Really excited for all the work going in to kube-batch! I've gone ahead and created PR #226 . When that gets merged, you should get an invite to join @kubernetes-sigs. :) 🎉

/assign

[2018-11-07 22:45] mrbobbytables commented on #225
Hey there @jbartosik , thank you for all your help with the HPA and the other work you've done :)

I've created PR #226   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-07 22:56] #219 closed

[2018-11-07 22:56] #225 closed

[2018-11-08 05:35] wenjiaswe opened #227 "REQUEST: New membership for @wenjiaswe"
### GitHub Username
@wenjiaswe

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-11-08 05:46] gyuho commented on #227
+1

[2018-11-08 06:03] jpbetz commented on #227
+1

On Wed, Nov 7, 2018 at 9:46 PM Gyuho Lee <notifications@github.com> wrote:

[2018-11-08 06:03] jpbetz commented on #227
+1

[2018-11-08 14:32] justaugustus commented on #227
Thanks so much for your contributions thus far!
I've created #228  to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome (in advance)! :)
/assign

[2018-11-08 15:15] #227 closed

[2018-11-08 15:55] wenjiaswe commented on #227
Thanks Stephen, Joe and Gyuho! @justaugustus @jpbetz @gyuho

[2018-11-08 18:43] benmoss opened #229 "REQUEST: New membership for benmoss"
### GitHub Username
@benmoss

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-11-08 18:49] PatrickLang commented on #229
/LGTM

[2018-11-08 19:57] hoegaarden commented on #229
+1
/lgtm
🎉

[2018-11-08 23:49] youngnick opened #230 "REQUEST: New membership for youngnick"
### GitHub Username
@youngnick

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-11-09 00:30] imkin commented on #230
/lgtm

welcome @youngnick

[2018-11-09 02:57] xiangpengzhao opened #231 "REQUEST: New kubernetes-sigs membership for xiangpengzhao"
### GitHub Username
@xiangpengzhao

### Organization you are requesting membership in
@kubernetes-sigs

I'm already a member of @kubernetes and helping organize [NCW of Kubecon Shanghai](https://github.com/kubernetes-sigs/contributor-playground/tree/master/shanghai)

/assign @cblecker
/cc @jberkus @idealhack

/area github-membership

[2018-11-09 03:01] idealhack commented on #231
+1

[2018-11-09 03:36] micw523 opened #232 "REQUEST: New membership for micw523"
### GitHub Username
@micw523

### Organization you are requesting membership in
@kubernetes
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2018-11-09 03:39] roycaihw commented on #232
+1

[2018-11-09 05:15] riverzhang commented on #231
+1

[2018-11-09 09:02] puja108 commented on #231
Can I +1 this? Also organizing the NCW

[2018-11-09 09:08] puja108 opened #233 "REQUEST: New kubernetes-sigs membership for puja108"
### GitHub Username

@puja108

### Organization you are requesting membership in

@kubernetes-sigs

I'm helping organize [NCW at KubeCon Shanghai](https://github.com/kubernetes-sigs/contributor-playground/tree/master/shanghai)

/assign @cblecker
/cc @jberkus @idealhack

/area github-membership

[2018-11-09 09:14] idealhack commented on #233
+1

I'd happily be one of the sponsors.

[2018-11-09 09:15] xiangpengzhao commented on #231
also
/assign @mrbobbytables
Hopefully one of you and Christoph can process this request before Kubecon Shanghai :) Thanks!

[2018-11-09 09:16] xiangpengzhao commented on #233
also
/assign @mrbobbytables

[2018-11-09 11:00] dims commented on #230
+1 from me

[2018-11-09 11:00] dims commented on #232
+1 from me!

[2018-11-09 12:36] mrbobbytables commented on #230
Hey there @youngnick , thank you for all your contributions so far :)

I've created PR #234   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-09 12:37] mrbobbytables commented on #231
Thanks for everything @xiangpengzhao :) I've created PR #234 to add you to k-sigs, once that gets merged, you should get a membership invite. 🎉

[2018-11-09 12:39] mrbobbytables commented on #232
Hey there @micw523 , thank you for all the work you've done for the python kubernetes-client lib :)

I've created PR #234   to add you to both the Kubernetes and Kubernetes-Client Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-09 12:40] mrbobbytables commented on #233
Thanks @puja108 ! I've created PR #234 to add you to the kubernetes-sigs org. Once that gets merged, you should get an invite :)

[2018-11-09 12:50] ant31 commented on #208
@cblecker What are the next steps? All maintainers have been added the kubernetes-sig org, the repo is ready to be moved!

[2018-11-09 12:55] mrbobbytables commented on #229
Hey there @benmoss . Unfortunately, @hoegaarden cannot sponsor you for membership in the @kubernetes org.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-incubator etc); as long as its a project they're involved with.

However, this does not work the other way around. A sponsor that is only an appr

[2018-11-09 14:51] yagonobre opened #235 "REQUEST: New membership for yagonobre"
### GitHub Username
@yagonobre

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-11-09 14:52] timothysc commented on #235
+1 from me

/assign @cblecker

[2018-11-09 14:52] neolit123 commented on #235
+1

[2018-11-09 16:52] dmatch01 commented on #219
@mrbobbytables It seems that these to are not in sync: https://github.com/orgs/kubernetes-sigs/people (does not list animeshsingh) and https://github.com/kubernetes/org/blob/master/config/kubernetes-sigs/org.yaml (lists animeshsingh).  The `k8s-ci-robot` failed to allow assignment of a PR to animeshsingh since his ID was not listed in https://github.com/orgs/kubernetes-sigs/people.  Do you know ho

[2018-11-09 16:57] michmike commented on #229
/lgtm

[2018-11-09 16:57] michmike commented on #229
+1

[2018-11-09 17:28] mrbobbytables commented on #219
@dmatch01 @animeshsingh must accept the membership invite before being able to have issues assigned. Github sends out an email with the invitation link shortly after the  PR is merged.

Alternatively it can be accepted by going to the @kubernetes-sigs org page directly and accepting the invite there (there'll be a notification at the top asking if they wish to accept).

Hope that helps!

[2018-11-09 17:42] mrbobbytables commented on #229
Thanks for stepping in @michmike :)

@benmoss I've created PR #234   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-09 17:43] mrbobbytables commented on #235
@yagonobre, thank you for all your contributions so far :)

I've created PR #234  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-09 18:57] #229 closed

[2018-11-09 18:57] #230 closed

[2018-11-09 18:57] #231 closed

[2018-11-09 18:57] #232 closed

[2018-11-09 18:57] #233 closed

[2018-11-09 18:57] #235 closed

[2018-11-09 19:19] dmatch01 commented on #219
@mrbobbytables It did help!  Thank you

[2018-11-10 02:10] xiangpengzhao commented on #231
Thanks Bob! Invitation received :)

[2018-11-11 15:04] nikhita commented on #196
Bump.

@cblecker can this be closed? :)

[2018-11-12 02:11] aoxn opened #236 "REQUEST: New membership for aoxn"
### GitHub Username
@aoxn

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2018-11-12 02:16] andrewsykim commented on #236
+1

[2018-11-12 02:17] cheyang commented on #236
+1
Welcome to kubernetes community!

[2018-11-12 20:50] bgrant0607 commented on #38
Naming the repo after the API group makes sense to me.

API approvers @thockin approved and @liggitt didn't object on https://github.com/kubernetes/kubernetes/pull/67791, so I'm going to approve this.

Repos can also be renamed, so this doesn't have to be permanent.

[2018-11-13 06:05] chenrui333 opened #237 "New membership for chenrui333"
### GitHub Username
chenrui333

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-11-13 06:13] zacharysarah commented on #237
+1, thanks for the valuable discussion in Shanghai!

[2018-11-13 06:16] zhangqx2010 opened #238 "REQUEST: New kubernetes membership for zhangqx2010"
### GitHub Username
@zhangqx2010

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-11-13 06:30] YouthLab opened #239 "Request Memership Request at KubeCon"
### GitHub Username
@YouthLab

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-11-13 06:40] zacharysarah commented on #238
+1, thanks for participating in the Shanghai doc sprint!

[2018-11-13 06:42] zacharysarah commented on #239
+1, nice to meet you in person!

[2018-11-13 07:00] zhangxiaoyu-zidif commented on #238
+1

[2018-11-13 13:37] mrbobbytables commented on #238
Hey there @zhangqx2010, just for clarification are you looking for membership to @kubernetes or @kubernetes-sigs? The issue title is referencing @kubernetes-sigs, but the request in the issue itself is referencing @kubernetes. If you could fix the discrepancy, it'd be much appreciated :)

Thanks!

[2018-11-13 14:09] zhangqx2010 commented on #238
@mrbobbytables My bad. It should be sig-docs. I have modified the content. Is that OK now?

[2018-11-13 14:18] mrbobbytables commented on #238
@zhangqx2010 I think you're looking for membership to @kubernetes to help with sig-docs (They are the owners of https://github.com/kubernetes/website repo).

Membership to @kubernetes-sigs  gives you member permissions over the various sub-projects that can be found under http://github.com/kubernetes-sigs.

[2018-11-13 15:29] Mr-Linus opened #240 "REQUEST: New membership for Mr-Linus at KubeCon"
### GitHub Username
@Mr-Linus

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-11-14 04:34] mrbobbytables commented on #236
@aoxn, thank you for all the effort you've put in so far for the Kubernetes project :)

I've created PR #241  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification in your email.

Welcome to @kubernetes! 🎉

/assign

[2018-11-14 04:35] mrbobbytables commented on #238
@zhangqx2010, thank you for all your contributions so far :)

I've created PR #241   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-14 05:16] #236 closed

[2018-11-14 05:16] #238 closed

[2018-11-14 07:38] zhangqx2010 commented on #238
Thank you!

[2018-11-14 14:27] fleeto opened #242 "REQUEST: New membership for fleeto"
### GitHub Username

@fleeto

### Organization you are requesting membership in

kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-11-14 15:10] idealhack commented on #242
+1 on this. I read many Chinese articles by Vincent when I get started with Kubernetes. His blog is https://blog.fleeto.us.

/reopen

[2018-11-15 01:16] prameshj opened #243 "REQUEST: New membership for prameshj"
### GitHub Username
e.g. (at)prameshj

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2018-11-15 02:48] cofyc opened #244 "New repo for kubernetes-incubator/external-storage/local-volume"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
sig-storage-local-static-provisioner

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@msau42
@saad-ali
@jsafrane

### If not a staging repo, who should have write access

### If a new repo, who should be listed as approvers in OWNER

[2018-11-15 02:50] cofyc commented on #244
/sig storage

[2018-11-15 02:54] msau42 commented on #244
@jsafrane @gnufied what do you think of the repo name and description?

[2018-11-15 03:04] cofyc opened #245 "REQUEST: New kubernetes-sigs membership for @cofyc"
### GitHub Username
@cofyc

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-11-15 08:32] cofyc commented on #244
Updated.

[2018-11-15 14:15] fleeto commented on #242
Hi @zacharysarah, nice to meet you yesterday, and showed you how we are working for `istio.io`, I'd thought that @markthink had told you that I'll make the request to be a member of k8s. So I choose you as my sponsor.

I am one of the main contributors of [`istio.io/zh`](https://github.com/istio/istio.io/graphs/contributors), at the same time, I'm one of the authors of a  book about Kubernetes, wh

[2018-11-15 14:57] zacharysarah commented on #242
@fleeto It was good to meet you also! I’m happy to sponsor you.

+1

[2018-11-16 02:53] cofyc commented on #245
/assign @mrbobbytables

[2018-11-16 03:27] danielqsj opened #246 "REQUEST: New membership for @danielqsj"
### GitHub Username
@danielqsj

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2018-11-16 07:05] k82cn commented on #246
+1

[2018-11-16 13:31] mrbobbytables commented on #242
Hey there @fleeto, thanks for all your translation and education work :)

I've created PR #247   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-16 13:33] mrbobbytables commented on #245
@cofyc I've created PR #247 to add you to the Kubernetetes-sigs Org. As soon as that gets merged, you should get a membership invite and be good to go :)

[2018-11-16 15:48] aledbf commented on #246
+1

[2018-11-16 16:04] danielqsj commented on #246
/assign @mrbobbytables

[2018-11-16 18:16] #242 closed

[2018-11-16 18:16] #245 closed

[2018-11-16 20:14] prameshj commented on #243
@m1093782566

[2018-11-16 23:38] zacharysarah opened #248 "New repo: website-metadata"
### New Repo, Staging Repo, or migrate existing

New repository

### Requested name for new repository

website-metadata

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

@Bradamant3
@chenopis
@zacharysarah

### If not a staging repo, who should have write access

TBD&mdash;SIG Docs chairs will work with localization team leads to s

[2018-11-16 23:47] chenopis commented on #248
+1

[2018-11-17 00:13] Bradamant3 commented on #248
+1

[2018-11-17 00:15] zhangqx2010 commented on #248
+1

[2018-11-17 01:29] markthink commented on #248
+1

[2018-11-17 20:39] mrbobbytables commented on #246
Hey there @danielqsj,  thank you for all your contributions so far :)

I've created PR #249  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification for both of them.

Welcome to @kubernetes! 🎉

[2018-11-17 23:38] #246 closed

[2018-11-18 00:00] danielqsj commented on #246
Thanks @mrbobbytables @k82cn @aledbf !

[2018-11-19 02:04] zhangqx2010 commented on #237
+1

[2018-11-19 02:10] zhangxiaoyu-zidif commented on #237
+1

[2018-11-19 02:42] girikuncoro opened #250 "New membership for girikuncoro"
### GitHub Username
@girikuncoro

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-11-19 02:48] dixudx commented on #250
+1

@girikuncoro Good works. Thanks.

[2018-11-19 02:49] fanzhangio commented on #250
+1
Good job man! @girikuncoro

[2018-11-19 13:37] m1093782566 commented on #243
+1

[2018-11-19 15:07] chrigl opened #251 "REQUEST: New membership for chrigl"
### GitHub Username
@chrigl

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2018-11-19 15:15] chaosaffe commented on #251
I can only +1 for @kubernetes-sigs
@dims can you give Chris a +1 for @kubernetes?

[2018-11-19 15:18] dims commented on #251
+1 from me!

[2018-11-19 15:43] flaper87 commented on #251
+1 from me!

[2018-11-19 17:20] mrbobbytables commented on #251
@chrigl. Unfortunately, @flaper87 cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for the @kubernetes-sigs org.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-incubator etc); as long as its a project they're involved with.

However, this does not work the other way ar

[2018-11-19 17:46] mrbobbytables commented on #250
@girikuncoro Unfortunately @fanzhangio does not meet the [sponsorship requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).  A sponsor must be an approver/reviewer within the @kubernetes org. Do you happen to know  another person who could potentially sponsor you?

[2018-11-19 19:10] chaosaffe commented on #251
@mrbobbytables Does https://github.com/kubernetes/cloud-provider-openstack/blob/master/OWNERS not count for @flaper87 being considered as an approver/reviewer within @kubernetes, or do you have to be an approver/reviewer within k/k?

[2018-11-19 19:53] bradtopol commented on #240
+1 from me as well
 
Thanks!
 
Brad
 
Brad Topol, Ph.D.IBM Distinguished Engineer
Open Technology & Developer AdvocacyKubernetes Contributor and Conformance Workgroup Member(919) 543-0646Internet: btopol@us.ibm.comAssistant: Kendra Witherspoon (919) 254-0680
 
 
----- Original message -----From: Zach Corleissen <notifications@github.com>To: kubernetes/org <org@noreply.github.com>Cc: Brad Topol <bt

[2018-11-19 20:07] mrbobbytables commented on #251
@chrigl My apologies about the confusion regarding @flaper87's sponsorship. I've created PR #253 to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification for both orgs :)

Welcome to @kubernetes :tada:

/assign

[2018-11-19 20:08] mrbobbytables commented on #237
@chenrui333, thank you for all your work so far with the translation project :)

I've created PR #253   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-19 20:09] mrbobbytables commented on #240
@Mr-Linus, thank you for all your contributions so far :)

I've created PR #253  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-19 20:12] #237 closed

[2018-11-19 20:12] #240 closed

[2018-11-19 20:12] #251 closed

[2018-11-19 23:07] lpabon opened #254 "create driver-cluster-registrar"
### New Repo, Staging Repo, or migrate existing
kubernestes-csi/driver-cluster-registrar (filled in from kubernetes-csi/driver-registrar)

### Requested name for new repository
driver-cluster-registrar

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
saad-ali, lpabon

### If not a staging repo, who should have write access
saad-ali, l

[2018-11-19 23:08] lpabon opened #255 "create driver-node-registrar"
### New Repo, Staging Repo, or migrate existing
kubernestes-csi/driver-node-registrar (filled in from kubernetes-csi/driver-registrar)

### Requested name for new repository
driver-node-registrar

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
saad-ali, lpabon

### If not a staging repo, who should have write access
saad-ali, lpabon

[2018-11-19 23:31] msau42 commented on #244
Maybe the description should emphasize that it does do dynamic provisioning.  Something like "The local volume static provisioner manages the PersistentVolume lifecycle for pre-allocated disks by detecting and creating PVs for each local disk on the host, and cleaning up the disks when released.  It does not support dynamic provisioning."

[2018-11-20 00:04] girikuncoro commented on #250
@mrbobbytables I see, let me find around people first and come back here

[2018-11-20 00:29] bowei commented on #243
+1 /lgtm

[2018-11-20 00:49] sflxn opened #256 "REQUEST: New membership for sflxn"
### GitHub Username
sflxn

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2018-11-20 00:53] saad-ali commented on #255
We don't need two bugs to track this. We can track creation of both repos in https://github.com/kubernetes/org/issues/254.

/close

[2018-11-20 00:53] #255 closed

[2018-11-20 00:54] roberthbailey commented on #256
/lgtm

[2018-11-20 00:57] prameshj commented on #243
/assign @mrbobbytables

[2018-11-20 00:57] saad-ali commented on #254
@lpabon: I recommend the name `cluster-driver-registrar` instead of `driver-cluster-registrar`.
Also, merging this issue with https://github.com/kubernetes/org/issues/255 so we can track the work in one place.

----

kubernetes/org maintainers:

**Background:**

We are splitting https://github.com/kubernetes-csi/driver-registrar in to two new repos.

**Request**

Create two new repos named:
* http

[2018-11-20 01:11] dougm commented on #256
/lgtm

[2018-11-20 03:19] justaugustus commented on #239
@YouthLab -- Before we can invite you to the org, we'll need another sponsor.

@chenopis / @bradtopol -- you were both listed as potential sponsors. Would you care to +1 this?

[2018-11-20 05:26] PatrickLang opened #258 "Create windows-testing repo"
### New Repo, Staging Repo, or migrate existing
Migrate existing from https://github.com/e2e-win/k8s_images

### Requested name for new repository
kubernetes-sigs/windows-testing

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@michmike, @patricklang, @Adelina-t

### If not a staging repo, who should have write access
@michmike, @pa

[2018-11-20 05:40] cofyc commented on #244
I think this repo description is only used as initial description value on repo creation, we can change it later. And I think it's better to add this long detail description in README.md file.

[2018-11-20 06:02] PatrickLang commented on #258
I'm opening this now for discussion, but I know there are a few things needed. If more is needed, please let me know.

1. Add the Kubernetes license, contributor & code of conduct to the e2ewin/k8s_images repo
2. Verify the 4 contributors there have signed the CLA
3. If any non-Kubernetes code was used there, make sure to add the right LICENSE & attributions in those folders
4. Get a lazy consensu

[2018-11-20 07:51] frapposelli commented on #250
+1
Great to see you making contributions to K8s Giri!

[2018-11-20 08:58] chrigl commented on #251
Thanks everyone :)

[2018-11-20 10:01] adelina-t commented on #258
@bclau Can you please look over point 1 of the last comment from @PatrickLang  and update e2e-win/k8s_images accordingly. We basically need to copy the licenses of k/k repo and add whatever other licenses for any image code used that is not apache2.

[2018-11-20 12:56] girikuncoro commented on #250
@frapposelli thanks a lot fabio, looking forward to building something together in the community!

@mrbobbytables it's done, can you help again?

[2018-11-20 16:39] PatrickLang commented on #258
Just updated the write list with latest contributors

[2018-11-20 17:39] mrbobbytables commented on #250
That should do it :) myself or @justaugustus will get a PR out the door within the next 24 hours or so with your Org membership (we try and batch membership changes if we can).

[2018-11-20 19:53] cblecker commented on #147
Updated description.
/close

[2018-11-20 19:53] #147 closed

[2018-11-20 20:02] cblecker commented on #38
Repo is created. Ready for the publishing bot configs (https://github.com/kubernetes/publishing-bot)

cc: @sttts @nikhita

[2018-11-20 20:02] cblecker commented on #38
Also @tallclair, can you add the repo to sigs.yaml?

[2018-11-20 20:03] cblecker commented on #172
/assign

Sorry for the delay on this! Are you ready for this migration? When would you like me to take care of it?

[2018-11-20 20:05] cblecker commented on #195
@dims Can you add this to sigs.yaml? Then we can close this out.

[2018-11-20 20:05] cblecker commented on #196
This looks done!
/close

[2018-11-20 20:05] #196 closed

[2018-11-20 20:07] cblecker commented on #213
@dims Can you get this added to sigs.yaml? Then we can close this out.

[2018-11-20 20:09] cblecker commented on #244
Waiting on explicit sig-storage approval on this one

[2018-11-20 20:14] cblecker commented on #258
To avoid confusion, I'd recommend forwarding your lazy consensus e-mail to sig-testing's e-mail list too, as there may be overlap.

Otherwise, please ping me here when lazy consensus is achieved and you're ready for review of the repo.

[2018-11-20 20:42] cblecker commented on #250
Invite will be sent out as soon as #259 merges. Welcome to @kubernetes! 🚀

[2018-11-20 20:48] cblecker commented on #248
I've got the repo ready, but I'm waiting on #259 to be able to invite @Bradamant3, @chenopis, and @zacharysarah to k-sigs. I can't add you as admins until you're a part of the org.