[2021-07-29 17:41] neolit123 commented on #2845
+1

[2021-07-29 18:32] dims opened #2847 "kubernetes/frakti appears to be abandoned"
### Repository to archive
kubernetes/frakti

### Additional context for request
The repository hasn't been modified since Dec 15, 2020.

https://github.com/kubernetes/frakti/graphs/contributors

Can we please archive this?

cc @feiskyer

[2021-07-29 20:44] mrbobbytables commented on #2824
All actions are complete
/close

[2021-07-29 20:52] #2824 closed

[2021-07-29 21:55] mrbobbytables commented on #2804
@arahamad
@sandaymin123
@meghnasiingh
@ambiknai

please open up org membership requests for kubernetes-sigs, that should be the final thing 👍

[2021-07-29 21:58] spzala commented on #2804
Cool, thanks @mrbobbytables

[2021-07-29 22:18] mrbobbytables commented on #2835
Hey there @tobiasgiese , thank you for all your contributions so far :)

I've created PR #2848  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-07-29 22:19] mrbobbytables commented on #2836
@hidekazuna , thank you for all your contributions so far :D

I've created PR #2848  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-29 22:20] mrbobbytables commented on #2837
@nilekhc, thank you for all your contributions so far :)

I've created PR #2848  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-07-29 22:20] mrbobbytables commented on #2840
@jinsongo , thank you for all your contributions so far :)

I've created PR #2848  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-07-29 22:23] mrbobbytables commented on #2841
@sejr, thank you for all your help with the Pod Security stuff <3

I've created PR #2848  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-29 22:23] #2841 closed

[2021-07-29 22:23] #2835 closed

[2021-07-29 22:23] #2836 closed

[2021-07-29 22:23] #2837 closed

[2021-07-29 22:23] #2840 closed

[2021-07-29 22:37] BenTheElder commented on #966
/remove-lifecycle stale
last comment suggests we can do this, we have not yet though.

[2021-07-30 04:43] nikhita commented on #2847
For approval:

/assign @feiskyer
frakti maintainer

/assign @derekwaynecarr @dchen1107
[sig-node](https://github.com/kubernetes/community/blob/26393dc6fd82e31096a0a1aa720122b535e24050/sig-node/README.md#frakti) leads

[2021-07-30 04:47] #2721 closed

[2021-07-30 05:05] feiskyer commented on #2847
yes, I think it should be ok to archive.

/cc @resouer @gnawux for confirm as well.

[2021-07-30 05:06] resouer commented on #2847
LGTM

[2021-07-30 12:37] arahamad opened #2850 "REQUEST: New membership for arahamad"
### GitHub Username
arahamad

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-07-30 12:39] mrbobbytables commented on #2850
+1 from sponsor, this is in support of establishing owners as part of a repo import
ref: #2804

[2021-07-30 13:14] jimdaga opened #2851 "REQUEST: New membership for jimdaga"
### GitHub Username
@jimdaga

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-07-30 13:17] spzala commented on #2850
+1 - the [ibm-vpc-block-csi-driver](https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver) repo will be a good addition to the cloud provider SIG and IBM Cloud Provider subproject.

[2021-07-30 13:55] spiffxp commented on #2851
+1 from sponsor

[2021-07-30 13:59] mrbobbytables commented on #2845
notice has been sent out, all PRs merged - going to go ahead and close
/close

[2021-07-30 13:59] derekwaynecarr commented on #2847
/lgtm

[2021-07-30 13:59] #2845 closed

[2021-07-30 14:53] ameukam commented on #2851
+1 from sponsor

[2021-07-30 15:42] mrbobbytables commented on #2850
@arahamad thanks for working with us on getting the ibm vpc block csi driver stuff sorted out^^;;

I've created PR #2853  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-07-30 15:42] mrbobbytables commented on #2851
@jimdaga  thank you for all your contributions so far :)

I've created PR #2853   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-30 15:45] #2850 closed

[2021-07-30 15:45] #2851 closed

[2021-07-30 17:48] jimdaga commented on #2851
Thank you!

[2021-08-02 07:02] ambiknai opened #2855 "REQUEST: New membership for ambiknai"
### GitHub Username
ambiknai

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-08-02 08:04] meghnasiingh opened #2856 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username
e.g. (at)example_user

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2021-08-02 09:23] prankulmahajan opened #2857 "REQUEST: New membership for prankulmahajan"
### GitHub Username
@prankulmahajan

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2021-08-02 11:59] arahamad commented on #2855
+1 - @ambiknai is one of contributor to https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver

[2021-08-02 12:02] arahamad commented on #2857
+1 - @prankulmahajan  is one of contributor to https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver

[2021-08-02 13:04] spzala commented on #2857
@prankulmahajan you need at least one sponsor from a different company.

[2021-08-02 13:09] spzala commented on #2855
@ambiknai you need another sponsor from a different company. Both sponsors cannot be from the same company.

[2021-08-02 14:36] xinydev opened #2859 "REQUEST: New membership for xinydev"
### GitHub Username
@xinydev

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2021-08-02 16:04] neolit123 commented on #2859
+1

[2021-08-02 16:45] thomastaylor312 commented on #2792
Hey all! Just wanted to check on how things were going with all of this. It looks like @clux and crew were making progressing on things in the kube-rs repo. Were you all able to talk @brendandburns?

[2021-08-02 17:14] BenTheElder commented on #2859
+1

[2021-08-02 20:32] rikatz commented on #2222
ingress-nginx is already using main and dev-v1 as the branches.

[2021-08-02 20:42] spiffxp commented on #2342
/milestone clear

[2021-08-02 23:37] mrbobbytables commented on #2855
+1 this is to setup new owners for the imported https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver repo

[2021-08-03 15:33] longwuyuan opened #2861 "REQUEST: New membership for longwuyuan"
### GitHub Username

@longwuyuan

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-

[2021-08-03 15:54] rikatz commented on #2861
+1 from me (@longwuyuan will still fix the issue description, but let me justify!)

Long has been an amazing contributor, triaging/helping in ingress-nginx issues (and in #ingress-nginx-users channel) as well as conducting some contribution mentorship with new contributors willing to help in ingress-nginx.

[2021-08-03 16:44] fgimenez opened #2862 "REQUEST: New membership for fgimenez"
### GitHub Username

@fgimenez

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-08-03 16:46] alvaroaleman commented on #2862
+1

[2021-08-03 17:28] chaodaiG commented on #2862
+1

[2021-08-03 18:51] estroz opened #2863 "REQUEST: New membership for estroz"
### GitHub Username
@estroz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-08-03 18:59] pwittrock commented on #2863
lgtm

[2021-08-04 15:02] vincepri commented on #2863
+1

[2021-08-04 17:47] strongjz commented on #2861
+1 as well, @longwuyuan helps the community learn how to help maintain ingress-nginx all the while triaging and fixing issues in the project.

[2021-08-05 01:02] mrbobbytables commented on #2863
Hey there @estroz , thank you for all your contributions so far :)

I've created PR #2869  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-05 01:03] mrbobbytables commented on #2862
@fgimenez  , thank you for all your contributions so far :)

I've created PR #2869  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-05 01:04] mrbobbytables commented on #2861
@longwuyuan  , thank you for all your help with nginx <3

I've created PR #2869  to add you to  all the various orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-05 01:06] mrbobbytables commented on #2859
@xinydev  , thank you for all your contributions so far :)

I've created PR #2869  to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-05 01:07] mrbobbytables commented on #2855
I've created PR #2869  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-08-05 03:02] longwuyuan commented on #2861
No words to express gratitude. No words to express happiness. Means a lot
to me.

Thanks,
; Long

On Thu, 5 Aug, 2021, 6:34 AM Bob Killen, ***@***.***> wrote:

[2021-08-05 07:00] fgimenez commented on #2862
thanks a lot @mrbobbytables!!

[2021-08-05 10:33] #2859 closed

[2021-08-05 10:33] #2861 closed

[2021-08-05 10:33] #2862 closed

[2021-08-05 10:33] #2863 closed

[2021-08-05 10:33] #2855 closed

[2021-08-05 11:17] ambiknai opened #2870 "REQUEST: New membership for ambiknai"
### GitHub Username

@ambiknai

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-08-05 11:29] arahamad opened #2871 "REQUEST: New membership for arahamad"
### GitHub Username

arahamad

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-csi

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail

[2021-08-05 17:38] clux commented on #2792
At the very least, we did get a lot of feedback from a variety of people here on that linked issue about our concerns. We got some legal help from CNCF, and they said that [we do not need to collect copyrights and could just use a DCO](https://github.com/kube-rs/kube-rs/issues/584#issuecomment-892012375) - although the [kubernetes org rules can be interpreted as stricter than that](https://github.

[2021-08-05 17:57] dims commented on #2792
@clux There are 2 choices.

- Option #1 - As proposed in this issue, rust would be an addition to the things sig-apimachinery manages (https://github.com/kubernetes/community/tree/master/sig-api-machinery#kubernetes-clients with the code in the `kubernetes-client` org). in this case all kubernetes rules as they exist apply (example we require CNCF CLA to be used in all kubernetes github orgs and r

[2021-08-05 19:41] LochanRn opened #2875 "REQUEST: New membership for LochanRn"
### GitHub Username

LochanRn

### Organization you are requesting membership in
kubernetes-sigs

### Requirements

- [x]  I have reviewed the community membership guidelines
- [x]  I have enabled 2FA on my GitHub account
- [x]  I have subscribed to the kubernetes-dev e-mail list
- [x]  I am actively contributing to 1 or more Kubernetes subprojects
- [x]  I have two sponsors that meet the sponsor

[2021-08-05 20:24] CecileRobertMichon commented on #2875
+1 !

[2021-08-05 20:33] nader-ziada commented on #2875
+1

[2021-08-05 22:54] mrbobbytables commented on #966
To follow-up, steering voted on the [August 2nd meeting approving this change](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit). When joining the project, you are joining 'Kubernetes' and not restricted to a specific org. Policy documentation changes to follow.

[2021-08-06 00:33] kerthcet opened #2877 "REQUEST: New membership for kerthcet"
### GitHub Username

kerthcet

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-08-06 00:59] Huang-Wei commented on #2877
+1

[2021-08-06 01:29] pacoxu commented on #2877
+1

[2021-08-06 05:34] adtac opened #2878 "REQUEST: Create kube-scheduler-simulator"
### New repo, staging repo, or migrate existing

new repo

### Is it a staging repo?

no

### Requested name for new repository

kube-scheduler-simulator

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

adtac, alculquicondor, Huang-Wei

### Who should have write access?

sanposhiho

### Who should be listed as approvers in OWNERS?

adtac, alculquicondor

[2021-08-06 06:10] Huang-Wei commented on #2878
I fully support creating this repo.

[2021-08-06 14:07] alculquicondor commented on #2878
+1

[2021-08-06 14:18] nprokopic opened #2879 "REQUEST: New membership for nprokopic"
### GitHub Username

@nprokopic

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2021-08-06 14:20] nader-ziada commented on #2879
+1

thanks for all the contributions @nprokopic

[2021-08-06 14:49] devigned commented on #2879
+1

[2021-08-07 02:05] sanposhiho commented on #2878
+1, thanks @adtac :)

[2021-08-07 05:33] nprokopic commented on #2879
Thank you both, and of course @CecileRobertMichon, for being awesome maintainers and creating such a welcoming community!

[2021-08-09 07:13] nikhita commented on #2779
@luthermonson Since this issue has been open for a while, I'll close it for now. Please feel free to reopen when ready. :pray:

[2021-08-09 07:13] #2779 closed

[2021-08-09 07:14] nikhita commented on #2856
@meghnasiingh Hi! As per the [membership application guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#member), you will need TWO sponsors who are not from the same employer.

Can you please update the issue body to reflect this?

[2021-08-09 07:15] nikhita commented on #2870
@ambiknai Hi! As per the [membership application guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#member), you will need TWO sponsors who are not from the same employer.

Can you please update the issue body to reflect that?

[2021-08-09 07:23] nikhita commented on #2877
@kerthcet Thanks for all your contributors so far! \o/

I've created PR #2882 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-09 07:23] nikhita commented on #2879
@nprokopic Thanks for all your contributors so far! \o/

I've created PR #2882 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-08-09 07:31] #2877 closed

[2021-08-09 07:31] #2879 closed

[2021-08-09 07:33] kerthcet commented on #2877
thanks @nikhita , @Huang-Wei @pacoxu , I'll continuously contributing to the community! GLHF!

[2021-08-09 07:34] nprokopic commented on #2879
Thanks @nikhita!

[2021-08-09 10:05] tobiasgiese opened #2883 "REQUEST: Netlify site for kubernetes-sigs/cluster-api-provider-openstack"
### Repository

kubernetes-sigs/cluster-api-provider-openstack

### Project domain

cluster-api-openstack.sigs.k8s.io

### Additional context for request

Corresponding PR: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/pull/963

[2021-08-09 13:15] iamNoah1 opened #2885 "REQUEST: New membership for iamNoah1"

[2021-08-09 13:19] #2885 closed

[2021-08-09 18:50] justaugustus commented on #2222
Placeholder enhancement tracking issue for `kubernetes/kubernetes` repo: https://github.com/kubernetes/enhancements/issues/2853

[2021-08-10 06:18] ambiknai commented on #2870
@nikhita  Thanks for looking into this. Closing this request for time being as @arahamad is working on approvals.

[2021-08-10 06:18] #2870 closed

[2021-08-10 08:04] nikhita commented on #2883
/assign @mrbobbytables

[2021-08-11 16:29] CecileRobertMichon commented on #2875
/area github-membership

[2021-08-12 12:38] fabriziopandini opened #2888 "Archiving cluster-api-provider-docker"
### Repository to archive

https://github.com/kubernetes-sigs/cluster-api-provider-docker

### Repository and/or sig subproject owners that are approving this archival

@vincepri @neolit123

### When should this be done

Anytime

### Additional context for request

This repository has been inactive for a long time, and it's due for archival.
Rif https://github.com/kubernetes-sigs/cluster-api/issue

[2021-08-15 17:56] sftim commented on #2792
@HongjiangHuang it looks like this has segued into an issue about getting an existing Rust client library to be adopted as official. If that's an outcome you'd like to see, would you be happy to update the issue description accordingly?

[2021-08-16 08:24] HongjiangHuang commented on #2792
Ok, Glad to see it all

[2021-08-16 10:20] palnabarun commented on #2857
@prankulmahajan -- friendly ping about the above. :)

[2021-08-16 10:20] palnabarun commented on #2871
@mrbobbytables @spzala -- ping for sponsorship approval. :)

[2021-08-16 11:47] mrbobbytables commented on #2871
As an FYI - sponsorship is not required anymore if they are a member of one of the kubernetes orgs. The policy language has not been updated yet though. You join "kubernetes" which grants you access to all the orgs (if desired) instead of the parent/child relationship we've had with the orgs.
ref: https://github.com/kubernetes/org/issues/966#issuecomment-893871542

[2021-08-16 13:42] spzala commented on #2871
+1 from sponsor! arahamad is a member of kubernetes-sigs and lead https://github.com/kubernetes-sigs/ibm-vpc-block-csi-driver.

[2021-08-16 17:34] shaneutt opened #2892 "REQUEST: New membership for shaneutt"
### GitHub Username

@shaneutt

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-08-16 19:14] hbagdi commented on #2892
+1

[2021-08-16 19:46] robscott commented on #2892
Thanks for all the contributions @shaneutt!

+1

[2021-08-17 15:48] anubha-v-ardhan opened #2895 "REQUEST: New membership for anubha-v-ardhan"
### GitHub Username

@anubha-v-ardhan

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.googl

[2021-08-17 15:57] nikhita commented on #2895
+1, thanks for leading and restarting the Hindi localization effort!

/woof

[2021-08-17 16:03] sftim commented on #2895
+1, I'm happy to sponsor your membership @anubha-v-ardhan

[2021-08-17 16:12] verma-kunal commented on #2895
yay!! really great to see your contributions @anubha-v-ardhan  ✨
Happy to be a part of the `hi `localization effort & the "Meet our contributors" blog series for APAC, with awesome team members like you 🙂

[2021-08-17 16:19] anubha-v-ardhan commented on #2895
/mew

[2021-08-17 16:52] anubha-v-ardhan commented on #2895
/meow

[2021-08-17 19:03] spiffxp commented on #2332
/milestone v1.23

[2021-08-17 19:03] spiffxp commented on #2052
/milestone v1.23

[2021-08-17 19:04] spiffxp commented on #2222
/milestone v1.23

[2021-08-17 19:05] spiffxp commented on #2465
/milestone v1.23
My read of https://github.com/kubernetes/org/pull/2614 is we need to consider putting in something akin to the restrictions we use for kubernetes-sigs/slack-infra and kubernetes/k8s.io/groups before we want to move forward with this

[2021-08-17 19:08] vrabbi opened #2896 "REQUEST: New membership for @vrabbi"
### GitHub Username

@vrabbi

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-08-17 19:15] christopherhein commented on #2896
👍  @vrabbi's membership, they are an active member in the CAPN community and helping to guide our direction and support of CAPI's APIs.

[2021-08-17 19:37] spiffxp commented on #1085
Are we still using this?

[2021-08-17 19:45] spiffxp commented on #2559
/priority awaiting-more-evidence
I'm bumping this down to lowest priority because it's not clear to me this a problem actively plaguing the kubernetes community today.  I would love to hear about use cases this is preventing

[2021-08-17 19:45] spiffxp commented on #1085
/priority awaiting-more-evidence

[2021-08-17 19:46] spiffxp commented on #2559
/remove-priority important-longterm

[2021-08-17 19:50] spiffxp commented on #2878
/assign

[2021-08-17 19:52] spiffxp commented on #2878
/priority important-soon
/milestone v1.23

[2021-08-17 19:52] spiffxp commented on #2878
/sig scheduling

[2021-08-17 20:23] spiffxp commented on #2878
Created repo:
- https://github.com/kubernetes-sigs/kube-scheduler-simulator

Opened PRs:
- add as subproject to sigs.yaml: https://github.com/kubernetes/community/pull/5951
- add teams: https://github.com/kubernetes/org/pull/2898

@sanposhiho you're going to need to go through the new membership process before we can add you as an org member or team member, please see https://github.com/kubernetes

[2021-08-17 20:32] spiffxp commented on #2878
/close
Should be good to go

[2021-08-17 20:33] #2878 closed

[2021-08-18 02:21] Xunzhuo opened #2900 "REQUEST: New membership for Xunzhuo"
### GitHub Username

@Xunzhuo

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gro

[2021-08-18 04:18] sanposhiho opened #2901 "REQUEST: New membership for @sanposhiho"
### GitHub Username

@sanposhiho

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://

[2021-08-18 06:12] ShivamTyagi12345 commented on #2895
great effort .Happy to be a part of :)

[2021-08-18 07:35] palnabarun commented on #2871
@arahamad -- I have filed #2902 to add you to the @kubernetes-csi org as you were already part of the other 2 orgs.

Once the PR merges, you will get a membership invite notification.

/assign

[2021-08-18 07:36] palnabarun commented on #2875
@LochanRn -- Welcome to Kubernetes! Thank you for your contributions to the community.

I have filed #2902 to add you to @kubernetes-sigs. Once that merges, you should get an invite to join the org.

Welcome again! 🎉

/assign

[2021-08-18 07:36] palnabarun commented on #2892
@shaneutt -- Welcome to Kubernetes! Thank you for your contributions to the community.

I have filed #2902 to add you to @kubernetes-sigs. Once that merges, you should get an invite to join the org.

Welcome again! 🎉

/assign

[2021-08-18 07:37] LochanRn commented on #2875
Yay !! @palnabarun Thank you 😊

[2021-08-18 07:38] palnabarun commented on #2895
+1 from me as well. 🚀

@anubha-v-ardhan  -- Thank you for your contributions to the community. 👍🏽

I have filed #2902 to add you to @kubernetes. Once that merges, you should get an invite to join the org.

Welcome again! 🎉

/assign
/honk

[2021-08-18 07:42] #2871 closed

[2021-08-18 07:42] #2875 closed

[2021-08-18 07:42] #2892 closed

[2021-08-18 07:42] #2895 closed

[2021-08-18 07:48] anubha-v-ardhan commented on #2895
/meow

[2021-08-18 09:46] randomvariable commented on #2896
+1 from me

[2021-08-18 11:11] iamNoah1 opened #2903 "REQUEST: New membership for iamNoah1"
### GitHub Username

@iamNoah1

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-08-18 13:17] alculquicondor commented on #2901
I support this application. Thank you for your contributions.

/lgtm

[2021-08-18 13:19] shaneutt commented on #2892
Thank you! :vulcan_salute:

[2021-08-18 13:20] rikatz commented on #2903
+1

Noah is helping us triaging the most important issues, interacting with users and proposing solutions and priorization, which actually helped us to get some weird bugs. Also helping us on all the image update automation stuff

Thanks Noah

[2021-08-18 13:59] strongjz commented on #2903
+1

Noah continuously helps users in slack and in Github issues. He has done the arduous task of updating all the images ingress-nginx maintains and documented it for the next person.

Thanks @iamNoah1 !

[2021-08-18 15:28] mboersma opened #2904 "REQUEST: New membership for mboersma"
### GitHub Username

mboersma

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-08-18 15:31] nader-ziada commented on #2904
+1

thanks @mboersma for all the awesome work

[2021-08-18 16:18] CecileRobertMichon commented on #2904
+1

Looking forward to your contributions as a CAPZ reviewer

[2021-08-18 16:40] srm09 opened #2905 "REQUEST: New membership for srm09"
### GitHub Username

srm09

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/forum

[2021-08-18 16:46] randomvariable commented on #2905
+1 from me

[2021-08-18 17:31] Huang-Wei commented on #2901
+1

Thanks for the contributions!

[2021-08-18 17:42] adtac commented on #2901
+1000, thank you @sanposhiho!

[2021-08-18 17:43] PI-Victor commented on #2900
+1 from me!

[2021-08-18 18:01] Xunzhuo commented on #2900
@PI-Victor Thanks a lot for your sponsor ! 😄

[2021-08-18 18:28] CecileRobertMichon commented on #2905
+1

[2021-08-18 22:31] jimangel commented on #2900
+1 Thank you for your contributions @Xunzhuo! 🎉

[2021-08-19 07:46] Xunzhuo commented on #2900
Thanks for your sponsor Jim ! 😀

[2021-08-19 08:55] cpanato commented on #2904
+1

[2021-08-19 08:55] cpanato commented on #2904
/assign @nikhita

[2021-08-19 14:14] seanmalloy opened #2907 "REQUEST: New membership for seanmalloy"
### GitHub Username

@seanmalloy

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2021-08-19 14:37] damemi commented on #2907
+1

[2021-08-19 15:39] killianmuldoon opened #2908 "REQUEST: New membership for killianmuldoon"
### GitHub Username

@killianmuldoon

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.g

[2021-08-19 15:40] vincepri commented on #2908
+1

[2021-08-19 16:04] CecileRobertMichon commented on #2908
+1

[2021-08-19 16:21] Huang-Wei commented on #2907
Big +1!

@seanmalloy has done a lot of fabulous work in k/k, as well as some subprojects like descheduler and scheduler-plugins.

[2021-08-19 20:04] mcshooter opened #2909 "REQUEST: New membership for mcshooter"
### GitHub Username

mcshooter

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-08-19 20:15] ibabou commented on #2909
+1. LGTM

Thanks @mcshooter for all the contributions, and work done for NPD support on windows!

[2021-08-19 20:16] Random-Liu commented on #2909
LGTM

[2021-08-20 08:16] jupblb opened #2910 "REQUEST: New membership for jupblb"
### GitHub Username

@jupblb

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/for

[2021-08-20 08:24] mborsz commented on #2910
+1 @jupblb is an active contributor to sig-scalability. I support this proposal.

[2021-08-20 18:49] savitharaghunathan commented on #2856
Friendly ping @meghnasiingh. Can you address the above comments from @nikhita ?

[2021-08-20 19:16] savitharaghunathan commented on #2901
Hi, @sanposhiho 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes & @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 19:16] savitharaghunathan commented on #2903
Hi, @iamNoah1 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 19:17] savitharaghunathan commented on #2904
Hi, @mboersma 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 19:17] savitharaghunathan commented on #2905
Hi, @srm09 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 19:17] savitharaghunathan commented on #2907
Hi, @seanmalloy 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 19:17] savitharaghunathan commented on #2908
Hi, @killianmuldoon 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 19:18] savitharaghunathan commented on #2909
Hi, @mcshooter 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 19:18] savitharaghunathan commented on #2896
Hi, @vrabbi 👋 Thank you for all your contributions!

I've created PR #2913  to add you to the @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-08-20 22:43] mcshooter commented on #2909
Thank you @savitharaghunathan !

[2021-08-21 01:38] xing-yang opened #2914 "Create OWNERS file for wg-data-protection"
### Organization or Repo

https://github.com/kubernetes/community/tree/master/wg-data-protection

### User affected

@xing-yang, @yuxiangqian

### Describe the issue

Request to create an OWNERS file and add Data Protection WG leads @xing-yang and @yuxiangqian as approvers under https://github.com/kubernetes/community/tree/master/wg-data-protection. We are working on a white paper and are planning

[2021-08-21 01:38] xing-yang commented on #2914
/assign @parispittman

[2021-08-21 01:38] xing-yang commented on #2914
/assign @nikhita

[2021-08-23 18:20] #2896 closed

[2021-08-23 18:20] #2900 closed

[2021-08-23 18:20] #2901 closed

[2021-08-23 18:20] #2903 closed

[2021-08-23 18:20] #2905 closed

[2021-08-23 18:20] #2907 closed

[2021-08-23 18:20] #2908 closed

[2021-08-23 18:20] #2909 closed

[2021-08-23 19:04] natalisucks opened #2918 "REQUEST: New membership for natalisucks"
### GitHub Username

natalisucks

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2021-08-23 20:58] ritazh commented on #2918
+1

Thank you for your contributions.

[2021-08-23 22:13] enj commented on #2918
/lgtm

[2021-08-24 02:27] sanposhiho opened #2919 "REQUEST: add @sanposhiho on kube-scheduler-simulator-maintainers"
### Organization or Repo

kubernetes-sigs / kube-scheduler-simulator

### User affected

@sanposhiho

### Describe the issue

add @sanposhiho on kube-scheduler-simulator-maintainers

### context
https://github.com/kubernetes/org/issues/2878#issuecomment-900604877

https://github.com/kubernetes/org/pull/2898/files#diff-e39ad45b1051c57f9a6c60d9b41b392fbaffe8e01dd91f1feb92a2fcb20907f9R138

[2021-08-26 01:30] sanposhiho opened #2921 "🐛 : teams for kubernetes-sigs/kube-scheduler-simulator are placed in the wrong file"
### Organization or Repo

kubernetes-sigs / kube-scheduler-simulator

### User affected

_No response_

### Describe the issue

Hello team.

It seems that kube-scheduler-simulator-admins and kube-scheduler-simulator-maintainers are under wrong place(sig/network), it should be under sig/scheduling.

https://github.com/kubernetes/org/blob/main/config/kubernetes-sigs/sig-network/teams.yaml#L128-L140

[2021-08-26 15:30] tabbysable opened #2923 "REQUEST: Create or Migrate kubernetes/sig-security"
### New repo, staging repo, or migrate existing

new repo

### Is it a staging repo?

no

### Requested name for new repository

sig-security

### Which Organization should it reside

kubernetes

### Who should have admin access?

sig-security-leads

### Who should have write access?

sig-security-leads

### Who should be listed as approvers in OWNERS?

sig-security-leads

### Who should be listed

[2021-08-26 16:48] lauralorenz opened #2924 "REQUEST: New membership for lauralorenz"
### GitHub Username

lauralorenz

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://

[2021-08-26 18:06] cchengleo opened #2925 "New repo sigs.k8s.io/cluster-api-provider-kubevirt"
### New repo, staging repo, or migrate existing

new repository

### Is it a staging repo?

no

### Requested name for new repository

cluster-api-provider-kubevirt

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

cchengleo, agradouski, https://github.com/kubernetes-sigs/cluster-api/blob/master/OWNERS_ALIASES

### Who should have write access?

cchengle

[2021-08-30 14:17] pmorie commented on #2924
+1, @lauralorenz has been a fantastic contributor to SIG multicluster

[2021-08-30 19:01] abhisheksinghbaghel opened #2928 "REQUEST: New membership for abhisheksinghbaghel"
### GitHub Username

@abhisheksinghbaghel

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gr

[2021-08-30 19:19] Jiawei0227 commented on #2928
+1

[2021-08-31 00:53] andyzhangx commented on #2928
+1

[2021-08-31 01:44] shyamjvs commented on #2910
LGTM

[2021-08-31 13:17] sam-cogan opened #2931 "REQUEST: New membership for sam-cogan"
### GitHub Username

sam-cogan

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-08-31 13:19] reylejano commented on #2931
+1 Welcome to the 1.23 Release Team!

[2021-09-01 02:02] cccswann opened #2932 "REQUEST: New membership for cccswann"
### GitHub Username

@cccswann

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-09-01 03:27] reylejano commented on #2932
+1 Welcome to the 1.23 release team 🎉

[2021-09-01 03:29] katcosgrove opened #2933 "REQUEST: New membership for katcosgrove"
### GitHub Username

katcosgrove

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2021-09-01 06:19] parul5sahoo opened #2934 "REQUEST: New membership for parul5sahoo"
### GitHub Username

@parul5sahoo

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-09-01 12:11] nannancy opened #2936 "REQUEST: New membership for nannancy"
### GitHub Username

@nannancy

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-09-01 12:13] mkorbi commented on #2936
/lgtm
Happy to have you with the team

[2021-09-01 12:33] leonardpahlke opened #2937 "REQUEST: New membership for leonardpahlke"
### GitHub Username

@leonardpahlke

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-09-01 13:03] reylejano commented on #2934
+1 Welcome to the 1.23 Release Team 🎉

[2021-09-01 15:35] calvh opened #2939 "REQUEST: New membership for calvh"
### GitHub Username

calvh

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/forum

[2021-09-01 16:16] knabben opened #2940 "REQUEST: New membership for knabben"
### GitHub Username

knabben

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-09-01 16:32] jayunit100 commented on #2940
@knabben has been instrumental on the windows development and sig-network netpol and service testing related issues, and also has been helping build the KPNG community out as well .  big +1 and plenty of concrete data (commits, issues, ...) to back that up for sure .

thanks amid

[2021-09-01 17:00] varshaprasad96 opened #2941 "REQUEST: New membership for varshaprasad96"
### GitHub Username

@varshaprasad96

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2021-09-01 17:06] karenhchu commented on #2932
+1 Yay Ciarra! Excited to have ya :)

[2021-09-01 17:09] karenhchu commented on #2933
+1 Happy to have you on the K8s 1.23 RT!

CC: @reylejano

[2021-09-01 17:17] vincepri commented on #2925
+1

[2021-09-01 17:39] jyotimahapatra opened #2942 "REQUEST: New membership for jyotimahapatra"
### GitHub Username

jyotimahapatra

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-09-01 17:46] reylejano commented on #2942
+1 Welcome to the 1.23 Release Team 🎉

[2021-09-01 17:49] reylejano commented on #2933
+1 Welcome to the 1.23 Release Team 🎉

[2021-09-01 17:50] reylejano commented on #2941
+1 Welcome to the 1.23 Release Team 🎉

[2021-09-01 19:21] justaugustus commented on #2342
/remove-lifecycle rotten
ref: https://github.com/kubernetes/community/pull/5928

[2021-09-01 20:46] mickeyboxell opened #2944 "REQUEST: New membership for mickeyboxell"
### GitHub Username

@mickeyboxell

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.c

[2021-09-01 20:50] karenhchu commented on #2944
+1 looking forward to working together on the RT!

[2021-09-02 16:56] Atharva-Shinde opened #2947 "REQUEST: New membership for Atharva-Shinde"
### GitHub Username

@Atharva-Shinde

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](http

[2021-09-02 17:03] chris-short commented on #2947
Thank you for your contributions to the community @Atharva-Shinde!

/lgtm

[2021-09-02 17:35] cblecker commented on #2856
/lifecycle stale
@meghnasiingh If you are able to update this with your sponsors, please also comment with `/lifecycle active`. Thanks!

[2021-09-02 17:36] cblecker commented on #2857
/lifecycle stale
@prankulmahajan If you are able to update this with your sponsors, please also comment with `/lifecycle active`. Thanks!

[2021-09-02 18:06] cblecker commented on #2932
Hi, @cccswann 👋

Thank you for all your contributions!

I've created PR #2948 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-02 18:06] cblecker commented on #2933
Hi, @katcosgrove 👋

Thank you for all your contributions!

I've created PR #2948 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-02 18:07] cblecker commented on #2928
Hi, @abhisheksinghbaghel 👋

Thank you for all your contributions!

I've created PR #2948 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-02 18:07] cblecker commented on #2924
Hi, @lauralorenz 👋

Thank you for all your contributions!

I've created PR #2948 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-02 18:07] cblecker commented on #2918
Hi, @natalisucks 👋

Thank you for all your contributions!

I've created PR #2948 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-02 18:08] cblecker commented on #2910
Hi, @jupblb 👋

Thank you for all your contributions!

I've created PR #2948 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-02 18:08] cblecker commented on #2944
Hi, @mickeyboxell 👋

Thank you for all your contributions!

I've created PR #2948 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-02 18:19] #2910 closed

[2021-09-02 18:19] #2918 closed

[2021-09-02 18:19] #2924 closed

[2021-09-02 18:19] #2928 closed

[2021-09-02 18:19] #2932 closed

[2021-09-02 18:19] #2933 closed

[2021-09-02 18:19] #2944 closed

[2021-09-02 18:32] geoffcline opened #2949 "REQUEST: New membership for @geoff_cline"
### GitHub Username

@geoff_cline

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-09-02 18:55] cici37 commented on #2931
+1 Welcome!

[2021-09-02 18:57] cici37 commented on #2934
+1 Welcome!

[2021-09-02 19:09] #2919 closed

[2021-09-02 19:09] #2921 closed

[2021-09-02 19:23] AuraSinis opened #2950 "REQUEST: New membership for AuraSInis"
### GitHub Username

AuraSInis

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-09-02 19:45] jimangel commented on #2949
+1, thanks for your contributions to k/website! 🎉

[2021-09-02 19:52] spiffxp commented on #2342
/priority important-longterm

[2021-09-02 19:56] eddiezane commented on #2949
+1 thanks for helping with the kubectl docs!

[2021-09-02 20:27] rashmigottipati opened #2951 "REQUEST: New membership for rashmigottipati"
### GitHub Username

@rashmigottipati

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups

[2021-09-02 20:28] vincepri commented on #2951
+1

[2021-09-02 21:07] spiffxp commented on #2883
I opened https://github.com/kubernetes/k8s.io/pull/2654 to get DNS setup

[2021-09-02 21:07] spiffxp commented on #2883
(I'm not familiar with what else needs to be happen netlify-side for this to work)

[2021-09-02 21:10] estroz commented on #2951
💯

[2021-09-03 04:26] NilimaC04 opened #2952 "REQUEST: New membership for NilimaC04"
### GitHub Username

NilimaC04

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-09-03 12:56] mehabhalodiya opened #2953 "REQUEST: New membership for mehabhalodiya"
### GitHub Username

mehabhalodiya

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.c

[2021-09-03 13:03] jlbutler commented on #2953
+1, thanks for volunteering to help with the project! 🎉

[2021-09-03 13:42] voigt commented on #2942
+1 Happy to have you on board! 🎉

[2021-09-03 13:43] voigt commented on #2941
+1 Welcome to the team! 🙂

[2021-09-03 13:44] voigt commented on #2936
+1 Welcome to the team! 🙂

[2021-09-03 13:48] voigt commented on #2952
+1 great to have you on board!  🙂

[2021-09-03 14:37] reylejano commented on #2953
+1 Welcome to the 1.23 Release Team 🎉

[2021-09-03 14:38] reylejano commented on #2952
+1 Welcome to the 1.23 Release Team 🎉

[2021-09-03 15:05] #2914 closed

[2021-09-03 18:07] cici37 commented on #2950
+1 Welcome to the team!

[2021-09-03 18:07] cici37 commented on #2950
@reylejano In case you missed it^^

[2021-09-03 18:19] reylejano commented on #2950
+1 Welcome to the 1.23 Release Team 🎉

Thank you for the nudge @cici37

[2021-09-06 07:43] rajibmitra opened #2954 "REQUEST: New membership for rajibmitra"
### GitHub Username

rajibmitra

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-09-06 07:46] saschagrunert commented on #2954
+1 :partying_face:

[2021-09-07 07:13] #2949 closed

[2021-09-07 07:13] #2950 closed

[2021-09-07 07:13] #2952 closed

[2021-09-07 07:13] #2953 closed

[2021-09-07 07:13] #2931 closed

[2021-09-07 07:13] #2934 closed

[2021-09-07 07:13] #2936 closed

[2021-09-07 07:13] #2941 closed

[2021-09-07 15:18] markyjackson-taulia commented on #2954
+1 my friend! Thank you for all the awesome work you have done for the community

[2021-09-07 16:42] reylejano commented on #2939
cc @mkorbi @encodeflush
Calvin is a 1.23 Release Team CI-Signal shadow

[2021-09-07 17:00] reylejano commented on #2937
Leaonard is a 1.23 Release Team CI Signal shadow
cc @encodeflush @mkorbi

[2021-09-08 02:27] Debanitrkl opened #2958 "REQUEST: New membership for Debanitrkl"
### GitHub Username

@Debanitrkl

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://

[2021-09-08 05:15] mkorbi commented on #2939
/lgtm
:) welcome!

[2021-09-08 05:15] mkorbi commented on #2937
/lgtm
Happy to have you!

[2021-09-08 09:18] encodeflush commented on #2937
/lgtm
Welcome on board :)

[2021-09-08 09:18] encodeflush commented on #2939
/lgtm
Welcome on board :)

[2021-09-08 12:52] parispittman commented on #2958
+1 🚀

[2021-09-08 14:21] parispittman commented on #2947
+1 🚀

[2021-09-08 16:22] simrangupta234 opened #2959 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username

simrangupta234

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the

[2021-09-08 17:33] calvh commented on #2939
Thank you good to be here!

[2021-09-08 17:34] scothis commented on #2671
/remove-lifecycle stale

[2021-09-08 18:49] reylejano commented on #2959
+1 Welcome to the 1.23 Release Team as a CI Signal shadow 🎉

[2021-09-09 06:10] pacoxu commented on #2940
https://github.com/kubernetes/org/issues/2771#issuecomment-857395280

I see that you are already Kubernetes member. As above, Nikhita asked me to open a PR directly.

[2021-09-09 06:34] reylejano commented on #2959
/assign @encodeflush

[2021-09-09 07:01] pacoxu commented on #2052
+1
The docs only says that we can check inactive member on devstats.cncf.io. But there is no simple query for that.

I was reminded to check inactive member per https://github.com/kubernetes/kubernetes/pull/104848#issuecomment-915541959

[2021-09-09 07:31] encodeflush commented on #2959
/lgtm
Welcome :)

[2021-09-09 08:49] aojea commented on #2940
not listed as sponsor but  +1 too ;)

[2021-09-09 12:29] rikatz commented on #2940
Me too, +1 :D

[2021-09-09 12:40] rikatz opened #2960 "REQUEST: Create kubernetes-sigs/kube-webhook-certgen"
### New repo, staging repo, or migrate existing

new repository (actually migrating from a non maintained)

### Is it a staging repo?

no

### Requested name for new repository

kube-webhook-certgen

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

rikatz, robscott, aojea, jpeach

### Who should have write access?

_No response_

### Who should be listed

[2021-09-09 12:40] rikatz commented on #2960
cc @thockin @caseydavenport @dcbw @robscott

Gonna bring this also to sig-network mailing list discussion

[2021-09-09 12:48] bhumijgupta opened #2961 "REQUEST: New membership for bhumijgupta"
### GitHub Username

@bhumijgupta

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-09-09 13:27] mrbobbytables commented on #2804
Woops forgot to close this earlier - All items have been resolved 👍

/close

[2021-09-09 13:27] #2804 closed

[2021-09-09 13:29] mrbobbytables commented on #2923
qq - do you want it to be in kubernetes-sigs or kubernetes? Both sig-testing and sig-release have theirs in kubernetes org (just needs an ack from sig-arch for approval)

/assign

[2021-09-09 14:06] mrbobbytables commented on #2959
@simrangupta234  thanks for helping out with CI signal team :)
I've created PR #2962 to add you to the various orgs, once it merges you should get a membership invite notification.

Welcome to Kubernetes 🎉

/assign

[2021-09-09 14:07] mrbobbytables commented on #2954
Hey there @rajibmitra , thank you for all your contributions so far :)

I've created PR #2962  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-09 14:08] mrbobbytables commented on #2951
@rashmigottipati  thank you for all your help with kubebuilder :)

I've created PR #2962  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-09-09 14:10] #2937 closed

[2021-09-09 14:10] #2939 closed

[2021-09-09 14:10] #2947 closed

[2021-09-09 14:10] #2951 closed

[2021-09-09 14:10] #2954 closed

[2021-09-09 14:12] parispittman commented on #2961
+1 thank you :)

[2021-09-09 14:17] mrbobbytables commented on #2947
Hey there @Atharva-Shinde  thank you for all your contributions so far :)

You have now been added to the org and you should have a membership invite notification in your inbox :D

Welcome to @kubernetes! 🎉

/assign

[2021-09-09 14:18] rajibmitra commented on #2954
thank you so much @saschagrunert , @markyjackson-taulia and @mrbobbytables _/\_

[2021-09-09 14:18] mrbobbytables commented on #2942
Hey there @jyotimahapatra   thank you your help with the release team!

You have now been added to the org and you should have a membership invite notification in your inbox :D

Welcome to @kubernetes! 🎉

/assign

[2021-09-09 14:19] mrbobbytables commented on #2940
@knabben thanks for all your contributions thus far :)

You have now been added to the org and you should have a membership invite notification in your inbox :D

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-09-09 14:20] mrbobbytables commented on #2939
@calvh Thanks for helping out with the Release Team :)

You have now been added to the org and you should have a membership invite notification in your inbox :D

Welcome to @kubernetes! 🎉

/assign

[2021-09-09 14:20] mrbobbytables commented on #2937
@leonardpahlke  Thanks for helping out with the Release Team :)

You have now been added to the org and you should have a membership invite notification in your inbox :D

Welcome to @kubernetes! 🎉

/assign

[2021-09-09 14:27] mrbobbytables commented on #2883
Netlify has been configured, the site should be available here:
http://cluster-api-openstack.sigs.k8s.io

Note: The cert request is in flight (netlify can be instant or sometimes an hour~) It will happen eventually automatically 👍

With that, I'm going to go ahead and close this out, if you have any issues please feel free to reopen or ping in slack.

Thanks!

[2021-09-09 14:27] mrbobbytables commented on #2883
It'd help if I remembered to close...

/close

[2021-09-09 14:27] #2883 closed

[2021-09-09 14:28] leonardpahlke commented on #2937
I am very happy to support the project and learn more about it in the process! I have received the notification, thank you :)

[2021-09-09 14:36] Atharva-Shinde commented on #2947
yayyy 🎉
Thanks @mrbobbytables

[2021-09-09 15:05] tabbysable commented on #2923
After reviewing the docs again, I agree that our various procedures and deliverables are "project-wide infrastructure" in much the same way as sig-release and the SRC.

I don't like how this will immediately cause `kubernetes/security` and `kubernetes/sig-security` to exist next to each other.

I'll bring this issue up at today's SIG Security meeting for community input, suggest to the SRC that we

[2021-09-09 16:51] #2587 closed

[2021-09-09 17:27] PushkarJ commented on #2923
Adding here what I shared in the meeting:

We have bunch of issues in `k/community` that would find a home in this new repo. Transferring them through [prow](https://groups.google.com/g/kubernetes-dev/c/BKhCfLfUYtg/m/dOIDNv_XBgAJ) would be ideal. At the same time, due to limitation of Github API only issues within the _same_ Org can be transferred. So having `k/sig-security` would be preferable.

[2021-09-09 18:12] mmiranda96 opened #2963 "REQUEST: New membership for mmiranda96"
### GitHub Username

mmiranda96

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-09-09 18:29] SergeyKanzhelev commented on #2963
I support this request! Thank you @mmiranda96

[2021-09-09 18:37] ehashman commented on #2963
:+1: Delighted to sponsor!!

[2021-09-09 21:08] tabbysable commented on #2923
Per the SIG security meeting today, yeah, please put it in `kubernetes/`

[2021-09-09 22:34] mrbobbytables commented on #2923
/assign @dims @johnbelamaric @derekwaynecarr
For sig-arch approval of a kubernetes org repo. 👍

[2021-09-09 22:51] dims commented on #2923
+1 from me on behalf of sig-arch

[2021-09-09 23:55] jkh52 opened #2965 "REQUEST: New membership for jkh52"
### GitHub Username

@jkh52

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://group

[2021-09-10 00:01] jkh52 commented on #2965
/assign cheftako

[2021-09-10 00:01] jkh52 commented on #2965
/assign andrewsykim

[2021-09-10 04:15] MadhavJivrajani commented on #2958
+1
/pony Twilight Sparkle
Welcome! ❤️

[2021-09-10 05:40] cheftako commented on #2965
+1

[2021-09-10 05:40] cheftako commented on #2965
/lgtm

[2021-09-10 06:21] MeinhardZhou opened #2966 "Migrating csi-driver-nvmf to kubernetes-csi"
### New repo, staging repo, or migrate existing

https://github.com/bytedance/csi-driver-nvmf

### Is it a staging repo?

no

### Requested name for new repository

csi-driver-nvmf

### Which Organization should it reside

kubernetes-csi

### Who should have admin access?

@jsafrane
@msau42
@saad-ali
@xing-yang
@meinhardzhou

### Who should have write access?

@jsafrane
@msau42
@saad-ali
@xing-yan

[2021-09-10 08:48] anubha-v-ardhan commented on #2958
/woof

[2021-09-10 09:27] Debanitrkl commented on #2958
/meow

[2021-09-10 14:56] kaslin commented on #2958
+1!

[2021-09-10 14:56] tabbysable opened #2967 "Rename kubernetes/security to kubernetes/committee-security-response"
### Organization or Repo

kubernetes/security

### User affected

_No response_

### Describe the issue

To disambiguate things, please rename the repo `kubernetes/security` to `kubernetes/committee-security-response`. See also #2923.

We don't believe there are significant external references to this repo, so renaming it should be safe.

[2021-09-10 18:05] nirmalaagash opened #2968 "REQUEST: New membership for nirmalaagash"
### GitHub Username

@nirmalaagash

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goo

[2021-09-10 18:14] AndyXiangLi commented on #2968
+1

[2021-09-11 00:06] AuraSinis opened #2970 "REQUEST: New membership for AuraSinis"
### GitHub Username

@AuraSinis

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2021-09-13 05:43] RaunakShah opened #2972 "REQUEST: New membership for RaunakShah"
### GitHub Username

@RaunakShah

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mai

[2021-09-13 07:46] jsafrane commented on #2968
+1

[2021-09-13 17:31] vdhanan commented on #2968
+1

[2021-09-13 17:32] vdhanan commented on #2968
/assign @andrewsykim @cheftako

[2021-09-13 17:51] xing-yang commented on #2966
Please add sig-storage leads.  See this example: https://github.com/kubernetes/org/issues/2701

[2021-09-13 17:54] xing-yang commented on #2966
For this question "What SIG and subproject does this fall under?", the answer should be "A subproject called csi-driver-nvmf under SIG Storage".

[2021-09-13 20:32] PushkarJ commented on #2967
/area github-repo

Found one mention of `k/security` in `k/website`. This PR fixes it: https://github.com/kubernetes/website/pull/29693

[2021-09-13 23:21] mrbobbytables commented on #2923
Repo ha been created here: https://github.com/kubernetes/sig-security
Teams will be added once this PR is merged: https://github.com/kubernetes/org/pull/2973
Subproject has been added in this PR: https://github.com/kubernetes/community/pull/6009

Once those 2 follow up items are resolved this can be closed 🎉

[2021-09-14 02:25] MeinhardZhou commented on #2966
@xing-yang Done

[2021-09-14 07:43] fabiand commented on #2925
+1

When can we expect the code to land?

[2021-09-14 17:50] mrbobbytables commented on #2923
All PRs merged, teams added this is good to close 👍
If you have any questions, please don't hesitate to reach out.

Thanks!

/close

[2021-09-14 17:51] #2923 closed

[2021-09-14 18:02] andrewsykim commented on #2965
+1

[2021-09-14 19:37] dims commented on #2716
sorry lost track of this ... looking at https://cloud.google.com/build/docs/automating-builds/build-repos-from-github

[2021-09-14 19:45] justaugustus commented on #2716
/remove-lifecycle stale
cc: @kubernetes/owners

[2021-09-14 21:51] savitharaghunathan commented on #2958
Hi @Debanitrkl 👋 Thank you for all your contributions!

I've created PR #2974 to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-14 21:51] savitharaghunathan commented on #2968
Hi @nirmalaagash 👋 Thank you for all your contributions!

I've created PR #2974 to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-14 21:51] savitharaghunathan commented on #2965
Hi @jkh52 👋 Thank you for all your contributions!

I've created PR #2974 to add you to the @kubernetes organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-14 21:51] savitharaghunathan commented on #2963
Hi @mmiranda96 👋 Thank you for all your contributions!

I've created PR #2974 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-14 21:52] savitharaghunathan commented on #2961
Hi @bhumijgupta 👋 Thank you for all your contributions!

I've created PR #2974 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-14 22:38] jkh52 commented on #2965
Thanks!

[2021-09-15 10:28] #2958 closed

[2021-09-15 10:28] #2961 closed

[2021-09-15 10:28] #2963 closed

[2021-09-15 10:28] #2965 closed

[2021-09-15 10:28] #2968 closed

[2021-09-15 13:19] neolit123 commented on #2925
cc @nikhita @mrbobbytables
could you please help drive this forward.

[2021-09-15 13:48] mrbobbytables commented on #2925
/assign
I should be able to create it by EoW.

[2021-09-15 16:55] pydctw opened #2975 "REQUEST: New membership for pydctw"
### GitHub Username

@pydctw

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-09-15 17:24] neolit123 commented on #2888
/sig cluster-lifecycle

[2021-09-15 17:31] richardcase commented on #2975
Thanks for your contributions:

+1

[2021-09-15 17:35] randomvariable commented on #2975
+1

[2021-09-16 12:01] nikhita commented on #2925
Hi @cchengleo! From the [Cluster API meeting notes on 25 August](https://docs.google.com/document/d/1LdooNTbb9PZMFWy3_F-XAsl7Og5F2lvG3tCgQvoB5e4/edit#heading=h.ru9tfoggfe07), it says:

If the `cluster-api-provider-kubevirt` repo is intended to contain code from an existing repo (public or private), it will need to follow the guidelines listed in https://github.com/kubernetes/community/blob/master/

[2021-09-16 12:30] cchengleo commented on #2925
Hi @nikhita,

After talking with cluster-api leads, we decide not to directly "forklift" the Apple internal repo to open source and migrate. Instead, it would be much easier for my colleagues to become contributors to one of the EXISTING Kubernetes projects.

I'll chat about this on slack channel too.

[2021-09-16 12:48] nikhita commented on #2925
In the past, we have required all such code to go through the usual donation processes, so I don't think we would be able to do this.

Having said that...@caniszczyk @swinslow can you provide legal guidance if "forklifting" is an option?

[2021-09-16 12:58] kundan2707 opened #2976 "REQUEST: New membership for kundan2707"
### GitHub Username

@kundan2707

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://

[2021-09-16 13:06] cchengleo commented on #2925
I think it would be easier to use our internal implementation as a reference instead of "forklifting". Our internal implementation has a lot of Apple infrastructure dependencies. "forklifting" our internal implementation will be very "expensive" both in terms of engineering effort and time.

We would like to contribute to a community-owned project by collaborating with other companies and the PR p

[2021-09-16 13:33] spiffxp commented on #2976
+1 from sponsor

[2021-09-16 14:22] rikatz commented on #2976
+1 from me

On Thu, 16 Sep 2021 at 10:33 Aaron Crickenberger ***@***.***>
wrote:

[2021-09-16 21:58] #2970 closed

[2021-09-16 23:02] cici37 opened #2981 "REQUEST: New membership for cici37"
### GitHub Username

@cici37

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-09-16 23:03] reylejano commented on #2981
+1 @cici37 is the Kubernetes 1.23 Release Notes lead 🎉

[2021-09-16 23:04] mrbobbytables commented on #2981
You're good 👍 as a member already you don't have to request membership :) If you want to open a PR adding you with the commit message `Add cici37 to kubernetes-sigs org` can get it approved quick, otherwise it'll be batched in the next series of org membership requests.

[2021-09-16 23:06] mrbobbytables commented on #2972
You're already a member of those orgs :x
https://github.com/kubernetes/org/search?q=RaunakShah

[2021-09-16 23:06] cici37 commented on #2981
Thank you @mrbobbytables ! Will do so^^

[2021-09-16 23:10] cici37 commented on #2981
Replace with https://github.com/kubernetes/org/pull/2982

[2021-09-16 23:33] mrbobbytables commented on #2981
Should be good to close with #2982 merged 👍

Let me know if you need anything else!

/close

[2021-09-16 23:33] #2981 closed

[2021-09-17 07:30] verma-kunal opened #2983 "REQUEST: New membership for verma-kunal"
### GitHub Username

@verma-kunal

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-09-17 14:40] PushkarJ commented on #2983
Big +1 looking forward to more contributions from you, Kunal :-)

[2021-09-17 14:48] verma-kunal commented on #2983
thank you so much!! 🙂

[2021-09-17 17:01] mrbobbytables commented on #2967
repo has now been renamed 👍

Now might be another good time to rename the default branch from `master` -> `main` while we're updating links and such

[2021-09-17 17:31] divya-mohan0209 commented on #2983
Super big +1 for Kunal! Hope to see you shine in the community :)

[2021-09-17 17:45] mrbobbytables commented on #2925
From slack discussion with @caniszczyk we are good to move forward with a blank repo.
ref: https://kubernetes.slack.com/archives/C01672LSZL0/p1631795697040000

@cchengleo @agradouski as neither of you are org members, you will have to go through our regular org membership process. The [org membership form](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&temp

[2021-09-17 17:51] mrbobbytables commented on #2966
@MeinhardZhou For donated repos, theres some additional processes that need to be followed - please see the [rules for donated repos](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories). It includes things like license headers etc.

You will also need to open up an [org membership request](https://github.com/kubernetes/or

[2021-09-17 18:20] verma-kunal commented on #2983
Thank you so much!! Means a lot ✨

[2021-09-18 06:26] MeinhardZhou opened #2985 "REQUEST: New membership for meinhardzhou"
### GitHub Username

@meinhardzhou

### Organization you are requesting membership in

kubernetes-csi

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goog

[2021-09-20 10:00] YuviGold opened #2986 "REQUEST: New membership for YuviGold"
### GitHub Username

@YuviGold

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-09-20 11:57] #2960 closed

[2021-09-20 12:47] mrbobbytables commented on #2589
@jberkus has the domain been transferred over to the CNCF? Just wanted to check before closing out this issue.

[2021-09-20 13:53] chaodaiG commented on #2986
LGTM

[2021-09-20 16:34] petr-muller commented on #2986
LGTM

[2021-09-20 16:50] jberkus opened #2987 "Need Oauth application key for Elekto for SC elections"
### Organization or Repo

kubernetes/community

### Name of integration

Elekto

### Link to integration website

elections.k8s.io

### Describe what is attempting to be accomplished

The Elekto application for the SC elections needs to log in users via GitHub Oauth.  As such, it needs a GH Oauth application key.

Please share the userid and secret for this key with @ameukam, who is doing the setu

[2021-09-20 16:53] jberkus opened #2988 "REQUEST: Push Webhook for elections.k8s.io"
### Organization or Repo

kubernetes/community

### Name of integration

Elekto

### Link to integration website

elections.k8s.io

### Describe what is attempting to be accomplished

Elekto needs a push webhook for changes to the elections data in k/community.  Please create the following webhook:

-Push
-Format: JSON
-Secret: obtain from @ameukam

### Additional context for request

This is for

[2021-09-20 17:00] jberkus commented on #2988
Attn: @mrbobbytables
/sig contributor-experience
/committee steering

[2021-09-20 17:25] jberkus commented on #2987
Note: this is dependent on a separate request from @ameukam to create elections.k8s.io

[2021-09-20 17:25] jberkus commented on #2988
Note: this is dependent on a separate request from @ameukam to create elections.k8s.io

[2021-09-20 17:37] shivi28 commented on #2975
Thanks for your contributions @pydctw 🎉
+1

[2021-09-20 17:41] mrbobbytables commented on #2987
/assign

[2021-09-20 17:52] mrbobbytables commented on #2987
@ameukam would this be something that a current infra account could be used for? or do you think we should provision a new one?

[2021-09-20 18:14] jberkus commented on #2589
It hasn't yet.  I have several domains to transfer to CNCF, we're working on it and should get closed out in the next week or so.

[2021-09-20 18:18] ameukam commented on #2987
@mrbobbytables we can use a current infra account. It's only for authentication.

[2021-09-20 18:57] sedefsavas commented on #2975
+1

[2021-09-20 20:23] PushkarJ commented on #2967
@tabbysable I am happy to migrate from `master` --> `main` for `k/committee-security-response`, if nobody else from SRC can pick it up :)

[2021-09-21 05:15] anubha-v-ardhan commented on #2983
/woof

[2021-09-21 05:17] anubha-v-ardhan commented on #2983
Big +1, You did great works with Hindi localization and APAC blog series. Looking forward to have you as reviewer for Kubernetes `hi` docs.
Yayyy!!

[2021-09-21 13:13] xing-yang commented on #2985
+1

[2021-09-21 13:13] xing-yang commented on #2985
/assign @msau42

[2021-09-21 13:14] xing-yang commented on #2966
/assign

[2021-09-21 13:14] xing-yang commented on #2966
/assign @msau42

[2021-09-21 13:32] mrbobbytables commented on #2967
I can take care of the branch rename in the repo, just want to make sure its done with folks knowledge and the reference in k/community will need to be updated in https://github.com/kubernetes/community/pull/6008

[2021-09-21 14:15] fabriziopandini opened #2992 "REQUEST: Unarchive repo kubernetes-sigs/cluster-api-provider-kubemark"
### Repository to unarchive

https://github.com/kubernetes-sigs/cluster-api-provider-kubemark

### Repository and/or sig subproject owners that are approving this unarchival

@vincepri @neolit123 @justinsb

### When should this be done

anytime

### Additional context for request

https://github.com/kubernetes-sigs/cluster-api-provider-kubemark has been archived, but we still need it (this was dis

[2021-09-21 14:20] neolit123 commented on #2992
i tried searching for a ticket in k/org about the request to archival of this repo, but couldn't find one. perhaps it was archived by mistake.

+1 to unarchive, but let's also update:
https://github.com/kubernetes-sigs/cluster-api-provider-kubemark/blob/master/OWNERS_ALIASES
with the people who are actually interested in owning the provider.

[2021-09-21 14:33] mrbobbytables commented on #2992
It has been unarchived 👍
As an FYI , anyone with repo admin privs can archive or delete a repo 😬 (not just org owners).

Let me know if you need anything else!

/close

[2021-09-21 14:33] #2992 closed

[2021-09-22 06:52] RaunakShah commented on #2972
Guess this wasnt need then smh
/close

[2021-09-22 06:52] #2972 closed

[2021-09-22 11:14] shivanshu1333 opened #2993 "REQUEST: New membership for shivanshu1333"
### GitHub Username

@shivanshu1333

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https

[2021-09-22 11:16] serathius commented on #2993
/lgtm
Great work on organizing kube-proxy migration!

[2021-09-22 14:19] mengjiao-liu commented on #2993
+1
Well done, you get a lot of work done in structured logging.

[2021-09-22 17:18] cchengleo opened #2994 "REQUEST: New membership for cchengleo"
### GitHub Username

cchengleo

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-09-22 17:30] agradouski opened #2995 "REQUEST: New membership for agradouski"
### GitHub Username

@agradouski

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.googl

[2021-09-22 19:01] fabriziopandini commented on #2994
+1
Looking forward for @cchengleo to kick off the work on the cluster-api-provider-kubevirt

[2021-09-22 20:15] agradouski commented on #2925
thanks @mrbobbytables! ack'd on membership process.

[2021-09-23 07:41] CIPHERTron opened #2999 "REQUEST: New membership for CIPHERTron"
### GitHub Username

@CIPHERTron

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://

[2021-09-23 07:49] palnabarun commented on #2999
+1 from me!

/pony party

[2021-09-23 11:59] fabriziopandini commented on #2995
+1
Looking forward for @agradouski  to kick off the work on the cluster-api-provider-kubevirt

[2021-09-23 12:28] RyanAoh opened #3000 "REQUEST: New membership for RyanAoh"
### GitHub Username

@RyanAoh

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-09-23 12:46] soltysh commented on #3000
:+1: for me :)

[2021-09-23 13:36] pacoxu commented on #3000
+1 and hope to see more contributions from you!
👍

And I may cooperate with you in area/cronjob. 😄

[2021-09-23 17:56] parispittman commented on #2994
+1 thanks Cheng!!

[2021-09-23 17:56] parispittman commented on #2995
+1 thanks Alex!!

[2021-09-23 17:59] mrbobbytables commented on #2778
ref: https://github.com/kubernetes/test-infra/issues/22721#issuecomment-926032214
Here is the current plan:

1) Enable EasyCLA as non-blocking org wide next week (accompanied by comms)
2) Assuming no issues are reported, we cut-over after code freeze (Nov 16th). This means updating the current CLA plugin to look for `EasyCLA` instead of `cla/linuxfoundation`, removing our help text, and potentiall

[2021-09-24 12:55] invidian opened #3001 "REQUEST: New membership for invidian"
### GitHub Username

@invidian

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-09-24 13:08] nehaLohia27 opened #3002 "REQUEST: New membership for nehaLohia27"
### GitHub Username

@nehaLohia27

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https:/

[2021-09-24 13:44] verma-kunal commented on #2983
Thanks @anubha-v-ardhan !! Its great to be in the network of awesome folks like you in the community 🙂

[2021-09-24 14:09] mrbobbytables commented on #2975
Hey there @pydctw, thank you for all your contributions so far :)

I've created PR #3003  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-09-24 14:10] mrbobbytables commented on #2976
@kundan2707 thank you for all your contributions so far \o/

I've created PR #3003  to add you to both orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-24 14:13] mrbobbytables commented on #2983
@verma-kunal , thank you for all your contributions so far :)

I've created PR #3003   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-24 14:17] mrbobbytables commented on #2986
@YuviGold  thank you for all your contributions so far :)

I've created PR #3003  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-24 14:17] mrbobbytables commented on #2993
Hey there @shivanshu1333, thank you for all your contributions so far :)

I've created PR #3003  to add you to both orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-24 14:18] mrbobbytables commented on #2994
Hey there @cchengleo , thank you for all your contributions so far :)

I've created PR #3003  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2021-09-24 14:19] mrbobbytables commented on #2995
@agradouski  , thank you for all your contributions so far :)

I've created PR #3003  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

/assign

[2021-09-24 14:23] mrbobbytables commented on #3000
@RyanAoh  , thank you for all your contributions so far :)

I've created PR #3003  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-09-24 14:25] #2975 closed

[2021-09-24 14:25] #2976 closed

[2021-09-24 14:25] #2983 closed

[2021-09-24 14:25] #2986 closed

[2021-09-24 14:25] #2993 closed

[2021-09-24 14:25] #2994 closed

[2021-09-24 14:25] #2995 closed

[2021-09-24 14:25] #3000 closed

[2021-09-24 14:28] mrbobbytables commented on #2888
/assign

[2021-09-24 14:40] mrbobbytables commented on #2888
repo has been archived: https://github.com/kubernetes-retired/cluster-api-provider-docker
teams removal: https://github.com/kubernetes/org/pull/3004
sigs.yaml update: https://github.com/kubernetes/community/pull/5945
Notice sent to k-dev: https://groups.google.com/g/kubernetes-dev/c/HBtyoxJbOCU/m/fTN3kBXyCwAJ

All pending items have been taken care. I'm going to go ahead and close this out. If you

[2021-09-24 14:40] #2888 closed

[2021-09-24 14:43] verma-kunal commented on #2983
Thank you so much @mrbobbytables !! Means a lot & really glad to be a part of an amazing community ❤️

[2021-09-24 14:53] mrbobbytables commented on #2847
/assign

[2021-09-24 15:04] mrbobbytables commented on #2847
Repo has been archived: https://github.com/kubernetes-retired/frakti
Teams removed: https://github.com/kubernetes/org/pull/3005
sigs.yaml updated: https://github.com/kubernetes/community/pull/6056
notice sent to kdev: https://groups.google.com/g/kubernetes-dev/c/Nagw3q4rUDE/m/FVC3lk7zCwAJ

Will close once all PRs are merged

[2021-09-24 15:35] PushkarJ commented on #3002
Big +1. Neha is making a big impact already as a contributor and brings with her deep expertise of Kubernetes having passed CKA and CKAD both. Look forward to even more contributions from you as a member!!

[2021-09-24 15:57] shivanshu1333 commented on #2993
Thanks a lot everyone <3
/pony party

[2021-09-24 16:10] cchengleo commented on #2994
Thanks @mrbobbytables!

[2021-09-24 16:12] cchengleo commented on #2925
Thanks @mrbobbytables for helping with membership. Now we should be good to get the repo created.

[2021-09-24 16:44] mrbobbytables commented on #2847
Everything has merged, this can be closed 👍
/close

[2021-09-24 16:50] RyanAoh commented on #3000
Thanks @mrbobbytables @soltysh @pacoxu

[2021-09-24 17:24] vedant-kakde opened #3006 "REQUEST: New membership for vedant-kakde"
### GitHub Username

@vedant-kakde

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https:

[2021-09-24 18:11] parispittman commented on #3006
+1! tysm!!!

[2021-09-24 18:47] vedant-kakde commented on #3006
Thank you so much ! 🙂✨

[2021-09-24 19:49] tabbysable commented on #2967
+1 from me for master->main upgrade, and I've pinged the rest of the SRC

[2021-09-24 20:07] mrbobbytables commented on #2967
branch has been updated to main 👍

[2021-09-24 20:52] mrbobbytables commented on #2967
With both the branch and the repo renamed, I'm going to go ahead and close this out.
If you need anything, please feel free to reopen.

Thanks!

/close

[2021-09-24 20:52] #2967 closed

[2021-09-24 20:57] parispittman commented on #2999
+1

tysm :)

[2021-09-24 22:05] spiffxp commented on #2222
FYI: we finally wrapped https://github.com/kubernetes/k8s.io/issues/1597 for kubernetes/k8s.io.  There were lots of links to the old branch name littered throughout project repos

[2021-09-24 23:23] mrbobbytables commented on #2925
repo has been created: https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt
PR to update k/community: https://github.com/kubernetes/community/pull/6058

We're doing a little shuffle work on some tooling in this repo, but I should be able to add the teams before Monday. Once that's done and PRs merged, this should be complete

[2021-09-24 23:48] cchengleo commented on #2925
Thanks for the help, @mrbobbytables!

[2021-09-25 00:05] agradouski commented on #2925
super awesome! thanks a lot @mrbobbytables !

[2021-09-25 00:14] sftim commented on #3006
Thanks for stepping forward, @vedant-kakde

[2021-09-25 02:57] rikatz commented on #3001
+1

@invidian is helping us with the maintenance of a subcomponent of ingress-nginx, actually also offering to be the maintainer of that part.

Thanks for your help @invidian

[2021-09-25 03:00] rikatz commented on #3002
+1 (not counting, as I work on the same company as @PushkarJ but anyway), Neha has been doing some great work helping with ingress issues and PRs, being actually the responsible for v1.0.0 release :)

Also she has been started to help on some kubeproxy cleanup!

[2021-09-25 04:08] strongjz commented on #3002
+1 for Neha. Working issues and helping with releases! We need more folks like her in this project.

[2021-09-25 05:16] divya-mohan0209 commented on #3006
Huuuuuuge +1 from my side. Thank you Vedant for all your contributions & looking forward to see more of you in the community :)

[2021-09-25 05:21] vedant-kakde commented on #3006
Thank you so much Divya 🙂✨
/meow

[2021-09-25 10:08] anubha-v-ardhan commented on #3006
Wooh @vedant-kakde Thanks for all the amazing work. BIG +1, Glad to see new contributors becoming members !!!!

/woof

[2021-09-25 10:09] anubha-v-ardhan commented on #2999
big +1, welcome to Kubernetes, tysm

/woof

[2021-09-25 10:51] CIPHERTron commented on #2999
Thank you @palnabarun @parispittman & @anubha-v-ardhan 😃🥳

[2021-09-25 10:52] CIPHERTron commented on #2999
/woof

[2021-09-26 03:21] MeinhardZhou commented on #2985
@msau42 PING

[2021-09-27 10:15] verma-kunal commented on #3006
really glad to see new folks contributing & getting involved in the community🎉
Big +1 from my side as well

[2021-09-27 14:09] mrbobbytables commented on #2988
This has been configured, @jberkus can you confirm its all in working order?

[2021-09-27 14:09] mrbobbytables commented on #2987
This has been configured, @jberkus can you confirm its all in working order?

[2021-09-27 15:22] jberkus commented on #2987
Confirmed

/close

[2021-09-27 15:23] #2987 closed

[2021-09-27 15:24] jberkus commented on #2988
Pushed a change and it's showing up correctly.  So, working.  Thanks!

/close

[2021-09-27 17:42] Rajalakshmi-Girish opened #3014 "REQUEST: New membership for Rajalakshmi-Girish"
### GitHub Username

@Rajalakshmi-Girish

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](

[2021-09-27 17:45] dims commented on #3014
+1 from me. thanks for all your work @Rajalakshmi-Girish !

[2021-09-27 20:38] dcantah opened #3017 "REQUEST: New membership for dcantah"
### GitHub Username

dcantah

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://grou

[2021-09-27 20:39] dcantah commented on #3017
cc @marosset @jayunit100

[2021-09-27 20:39] dims commented on #3017
+1 from me as well :)

[2021-09-27 20:42] marosset commented on #3017
+1 from me!

[2021-09-27 20:44] claudiubelu commented on #3017
+1 from me, he also helped me with some issues I was having with setting up Windows HostProcesses. His knowledge is invaluable.

[2021-09-27 20:51] jsturtevant commented on #3017
+1 from me!

[2021-09-27 21:50] mrbobbytables commented on #2925
Teams were added in PR: https://github.com/kubernetes/org/pull/3015
All remaining AIs complete, going to go ahead and close this out.
If you have any questions, please feel free to reopen or ping in slack.

Thanks!

/close

[2021-09-27 21:50] #2925 closed

[2021-09-28 01:26] mkumatag commented on #3014
+1 from me as well..

Thanks for your contributions..

[2021-09-28 15:01] sandaymin123 opened #3018 "REQUEST: New membership for sandaymin123"
### GitHub Username

sandaymin123

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [

[2021-09-28 15:06] arahamad commented on #3018
+1 from sponsor, this is in support of establishing owners as sandaymin123 is storage area lead from ibm cloud

[2021-09-29 15:25] calvin0327 opened #3019 "REQUEST: New membership for calvin0327"
### GitHub Username

calvin0327

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-09-29 15:55] aojea commented on #3019
+1
looking forward for more contributions :)

[2021-09-29 16:24] umangachapagain opened #3020 "REQUEST: New membership for umangachapagain"
### GitHub Username

@umangachapagain

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](htt

[2021-09-29 16:43] serathius commented on #3020
/lgtm
Thanks for great work on logcheck, can't wait to see it rolled out on whole codebase.

[2021-09-29 17:08] pacoxu commented on #3019
+1
abosolutely

[2021-09-29 17:39] mkumatag commented on #2052
I see devstats give us the [list of contributors](https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%202%20years&var-metric=contributions&var-repogroup_name=All&var-repo_name=kubernetes%2Fkubernetes&var-country_name=All&var-companies=All) based on the period like last 1year, 2 year etc.. based on the time limit we can get that list and negate with

[2021-09-29 18:25] dims commented on #3020
+1 from me!

[2021-09-29 21:32] mrbobbytables commented on #2052
What we've done in the past is pull the stats for each release cycle which gives us an explicit period of time to track contributions, so if a person has not done anything in the past 5 releases (20 months now that releases are 4 months), we can safely remove.

[2021-09-30 04:51] humblec commented on #3020
/lgtm
Thanks @umangachapagain for the contributions so far !! Keep it coming heavy!

[2021-09-30 16:41] swatisehgal opened #3023 "REQUEST: New kubernetes-sigs membership for @swatisehgal"
### GitHub Username

swatisehgal

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.googl

[2021-09-30 17:07] marquiz commented on #3023
+1

Happy to sponsor @swatisehgal on this!

[2021-09-30 17:24] Huang-Wei commented on #3023
+1

[2021-09-30 17:50] msau42 commented on #2985
+1

[2021-09-30 23:23] dims commented on #3023
+1 from me!

[2021-10-04 06:40] nikhita commented on #3020
@umangachapagain Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-10-04 06:40] nikhita commented on #3019
@calvin0327 Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-10-04 06:41] nikhita commented on #3017
@dcantah Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-10-04 06:41] nikhita commented on #3014
@Rajalakshmi-Girish Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-10-04 06:41] nikhita commented on #3006
@vedant-kakde Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-10-04 06:41] nikhita commented on #3002
@nehaLohia27 Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-10-04 06:41] nikhita commented on #2999
@CIPHERTron Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-10-04 06:42] nikhita commented on #2985
@MeinhardZhou Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes-csi organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2021-10-04 06:42] nikhita commented on #3023
@swatisehgal Thanks for all your contributors so far! \o/

I've created PR #3025 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-10-04 06:46] vedant-kakde commented on #3006
Thank you so much @nikhita 😄✨

[2021-10-04 06:55] vedant-kakde commented on #3006
@nikhita will you please add @kubernetes-sigs organizations as well or I need to open another issue for it ?

[2021-10-04 06:59] #3020 closed

[2021-10-04 06:59] #3014 closed

[2021-10-04 06:59] #3017 closed

[2021-10-04 06:59] #3019 closed

[2021-10-04 06:59] #2985 closed

[2021-10-04 06:59] #2999 closed

[2021-10-04 06:59] #3002 closed

[2021-10-04 06:59] #3006 closed

[2021-10-04 06:59] #3023 closed

[2021-10-04 13:54] atiratree opened #3026 "REQUEST: New membership for atiratree"
### GitHub Username

@atiratree

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-10-04 13:57] soltysh commented on #3026
:+1: from my side, thanks Filip for you contributions so far :smile:

[2021-10-04 19:01] liggitt opened #3028 "REQUEST: Create kubernetes-sigs/json"
### New repo, staging repo, or migrate existing

New repo

### Is it a staging repo?

no

### Requested name for new repository

json

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

lavalamp, deads2k, liggitt

### Who should have write access?

_No response_

### Who should be listed as approvers in OWNERS?

lavalamp, deads2k, liggitt

### Who should b

[2021-10-04 19:06] deads2k commented on #3028
+1

This came up at apimachinery and we agreed it was a good idea.

[2021-10-04 19:31] lavalamp commented on #3028
+1 LGTM

[2021-10-04 20:08] cblecker commented on #3028
@liggitt Confirming: this is a new repo that just has our boilerplate in it.. this isn't a transfer/fork of existing code?

[2021-10-04 20:09] dims commented on #3028
+1 from me.

[2021-10-04 20:17] liggitt commented on #3028
@cblecker correct

[2021-10-05 15:03] luiscachog opened #3029 "REQUEST: New membership for @luiscachog"
### GitHub Username

luiscachog

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-10-05 15:37] #3029 closed

[2021-10-06 07:15] macaptain opened #3030 "REQUEST: New membership for macaptain"
### GitHub Username

@macaptain

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2021-10-06 07:20] sbueringer commented on #3030
+1

Thank you for your contributions so far!!! :)

[2021-10-07 00:14] mrbobbytables commented on #3028
PRs have been merged, the team has been granted admin access for the repo.

If you need anything else please feel free to reopen the issue or ping in slack

/close

[2021-10-08 03:43] relyt0925 opened #3033 "REQUEST: New membership for relyt0925"
### GitHub Username

@relyt0925

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2021-10-08 03:44] gyliu513 commented on #3033
+1, thanks @relyt0925 for your contribution to Kubernetes sigs!

[2021-10-08 08:26] AvineshTripathi opened #3034 "REQUEST: New membership for AvineshTripathi"
### GitHub Username

@AvineshTripathi

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](htt

[2021-10-08 13:24] mrbobbytables commented on #2966
@MeinhardZhou a general reminder - we cannot move forward with repo migration till the items outlined in [rules for donated repos](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories) have been completed - this includes adding boilerplate, owners files etc.

[2021-10-09 08:51] MeinhardZhou commented on #2966
@mrbobbytables I have updated the headers and OWNERS files, could you please check and let me know if anything missing.

[2021-10-11 12:21] bang9211 opened #3036 "REQUEST: New membership for bang9211"
### GitHub Username

@bang9211

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2021-10-11 12:25] RA489 commented on #2857
/lgtm

[2021-10-11 12:26] RA489 commented on #2857
/remove-lifecycle rotten

[2021-10-11 12:33] prankulmahajan commented on #2857
/lifecycle active

[2021-10-11 12:34] prankulmahajan commented on #2857
@palnabarun @cblecker Can you please take a look. Thanks

[2021-10-11 13:06] gochist commented on #3036
+1

[2021-10-11 19:04] bgeesaman opened #3037 "REQUEST: New membership for bgeesaman"
### GitHub Username

@bgeesaman

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://g

[2021-10-11 20:07] johnSchnake opened #3038 "REQUEST: New membership for @johnSchnake"
### GitHub Username

@johnSchnake

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goog

[2021-10-11 21:41] #3038 closed, assigned to nobody

[2021-10-11 21:41] palnabarun commented on #3038
@johnSchnake -- since you are already a member of @kubernetes, you don't need to go through the new member sponsorship process again. I have approved the PR adding you to the @kubernetes-sigs org.

[2021-10-12 04:54] sayantani11 opened #3041 "REQUEST: New membership for sayantani11"
### GitHub Username

@sayantani11

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goog

[2021-10-12 07:49] mayocream opened #3042 "REQUEST: New membership for mayocream"
### GitHub Username

@mayocream

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-10-12 09:32] cristicalin opened #3043 "REQUEST: New membership for cristicalin"
### GitHub Username

@cristicalin

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goog

[2021-10-13 15:14] alenkacz opened #3044 "Migrate existing repo to k/release"
### New Repo, Staging Repo, or migrate existing

migrate to  k/release

### Requested name for new repository
ci-signal-report

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
same as currently given in k/release

### If not a staging repo, who should have write access
same as currently given in k/release

### If not a staging repo, who s

[2021-10-13 15:33] leonardpahlke commented on #3044
Thank you Alena :))

[2021-10-13 18:06] encodeflush commented on #3044
Thank you!

[2021-10-14 02:58] MeinhardZhou commented on #2966
@mrbobbytables PING

[2021-10-14 16:44] mrbobbytables commented on #3044
If the code is being migrated into a directory of another repo there isn't really an action for the github admins to take, the big thing is the code must still follow our [donation guidelines](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories) - have the apache header etc 👍

[2021-10-15 01:30] jmwurst opened #3045 "REQUEST: New membership for @jmwurst"
### GitHub Username

@jmwurst

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.c

[2021-10-18 06:54] jonyhy96 opened #3046 "REQUEST: New membership for jonyhy96"
### GitHub Username

jonyhy96

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-10-18 07:14] pacoxu commented on #3046
Thanks for your contributions to kubeadm and sig-node.
Absolutely +1 and look forward to your contributions in the future.

[2021-10-18 14:34] stevehipwell opened #3047 "REQUEST: New membership for stevehipwell"
### GitHub Username

stevehipwell

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goog

[2021-10-19 03:57] gy95 opened #3048 "REQUEST: New membership for gy95"
### GitHub Username

@gy95

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/forum

[2021-10-19 22:04] parispittman commented on #3034
+1

tysm!

[2021-10-20 00:11] jaypipes opened #3049 "REQUEST: New membership for jaypipes"
### GitHub Username

@jaypipes

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-10-20 00:15] mrbobbytables commented on #3049
you don't have to request membership in another org, you can PR yourself in there :) Just make sure to follow the standard formatting of the commit messages 👍

[2021-10-20 00:21] jaypipes commented on #3049
Ah, thank you Bob! Sorry, I was confused by the [docs][https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem]. I will open a PR then :) thanks!

[2021-10-20 00:21] #3049 closed

[2021-10-20 07:24] stevehipwell commented on #3047
@dgrisonnet @serathius I didn't put an `@` in the inputs for sponsors so I've just edited to correct this.

[2021-10-20 10:52] macaptain commented on #3030
Hi Kubernetes Github Administration team (@spiffxp, @mrbobbytables, @cblecker, @fejta, @nikhita, @idvoretskyi - I'd use a team mention @kubernetes/owners, but since I'm not a member of the kubernetes org, I can't at-mention the team.)

A review of my request for membership has exceeded the SLO of 1 week: https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#slos

[2021-10-20 21:11] wongma7 commented on #3045
+1

[2021-10-22 03:42] wentao-zh opened #3051 "REQUEST: New membership for wentao-zh"
### GitHub Username

wentao-zh

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-10-22 03:59] k82cn commented on #3051
+1, thanks for your contribution :)

[2021-10-23 00:10] kolyshkin opened #3053 "REQUEST: New membership for kolyshkin"
### GitHub Username

@kolyshkin

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-10-25 05:52] #3042 closed, assigned to nikhita

[2021-10-25 05:52] #3043 closed, assigned to nikhita

[2021-10-25 05:52] #3046 closed, assigned to nikhita

[2021-10-25 05:52] #3051 closed, assigned to nikhita

[2021-10-25 05:52] #3034 closed, assigned to nikhita

[2021-10-25 05:52] #3036 closed, assigned to nikhita

[2021-10-25 05:52] #3041 closed, assigned to nikhita

[2021-10-25 05:52] #3045 closed, assigned to nikhita

[2021-10-26 02:28] sahilvv opened #3057 "REQUEST: New membership for sahilvv"
### GitHub Username

sahilvv

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://grou

[2021-10-26 04:44] pravarag opened #3058 "REQUEST: New membership for pravarag"
### GitHub Username

@pravarag

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gr

[2021-10-27 08:35] hidekazuna opened #3060 "Request: add hidekazuna to cluster-api-provider-openstack-maintainers group"
@hidekazuna is already member of maintainer in the CAPO repository: https://github.com/kubernetes-sigs/cluster-api-provider-openstack/blob/master/OWNERS_ALIASES#L24 so request to join cluster-api-provider-openstack-maintainers group.

/cc @sbueringer @jichenjc

[2021-10-27 11:59] jyz0309 opened #3063 "REQUEST: New membership for jyz0309"
### GitHub Username

@jyz0309

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-10-28 02:42] cyclinder opened #3065 "REQUEST: New membership for cyclinder"
### GitHub Username

cyclinder

### Organization you are requesting membership in

kubernetes,kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gro

[2021-10-28 08:14] #3060 closed, assigned to nobody

[2021-10-28 13:26] mrbobbytables opened #3068 "EasyCLA Feedback & Issues"
This issue will be used to collect feedback and issues encountered by the Community during the EasyCLA rollout.

Please post issues encountered here with as much supporting information as possible (screenshots etc).

---
/area github-integration

[2021-10-29 08:14] #3057 closed, assigned to palnabarun

[2021-10-30 01:05] gy95 commented on #3048
Got it,thanks a lot. I'll find some SIGs.

[2021-10-30 03:37] jonyhy96 commented on #3065
+1 from me as well :) though it won't make much difference. Thanks @cyclinder  for all the contributions.

[2021-10-30 03:43] cyclinder commented on #3065
Thanks to everyone above!

[2021-10-30 14:50] ShivamTyagi12345 opened #3072 "REQUEST: New membership for @ShivamTyagi12345"
### GitHub Username

@ShivamTyagi12345

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](ht

[2021-10-30 16:00] divya-mohan0209 commented on #3072
Huge +1 for me! Thank you for all the awesome work you've been doing so far ✨

[2021-10-30 16:15] clux commented on #2792
update from us - I didn't have a good answer a week ago.

We are trying to follow option 2 under the CNCF sandbox path - provided they have a reasonable home for us. It doesn't feel like we quite fit into the `kubernetes-client` org with the conflicting scopes.  See https://github.com/kube-rs/kube-rs/issues/584#issuecomment-955397438 for details.

Our rust protobuf codegen might be a better future

[2021-10-30 16:22] dims commented on #2792
@clux we can open a fresh issue when the time comes. thanks!

/close

[2021-10-30 16:22] #2792 closed

[2021-10-30 17:24] jayesh-srivastava opened #3073 "REQUEST: New membership for @jayesh-srivastava"
### GitHub Username

@jayesh-srivastava

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://group

[2021-10-30 21:09] dims commented on #3073
+1 from me!

[2021-10-31 06:39] astraw99 opened #3074 "REQUEST: New membership for astraw99"
### GitHub Username

astraw99

### Organization you are requesting membership in

kubernetes, kubernetes-csi

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://grou

[2021-10-31 14:31] xing-yang commented on #3074
+1

[2021-11-01 03:11] mengjiao-liu commented on #3063
I see you've done a lot of work on Structured Logging migration.  Well done!
LGTM

[2021-11-01 12:06] liggitt commented on #3074
+1

[2021-11-01 16:04] spiffxp commented on #3058
+1 from sponsor

[2021-11-01 16:15] PushkarJ commented on #3072
@ShivamTyagi12345 +1 from me as well!! Thank you for your work Shivam, and looking forward to seeing even more of you in the community!

[2021-11-01 16:34] spiffxp commented on #2883
Branch settings have been updated, PTAL

![Screen Shot 2021-11-01 at 9 32 54 AM](https://user-images.githubusercontent.com/49258/139706714-b810dfa7-4560-4a95-b447-401bd0ba3fd7.png)

[2021-11-01 17:06] spiffxp commented on #2883
Branch settings have been updated again, PTAL

![Screen Shot 2021-11-01 at 10 06 26 AM](https://user-images.githubusercontent.com/49258/139711126-3f623945-8b3e-4239-9e80-c989da858499.png)

[2021-11-01 17:28] tobiasgiese commented on #2883
Thanks @spiffxp, that's the correct configuration 🙂

[2021-11-02 04:51] palnabarun commented on #3048
@gy95 -- Thank you for all your contributions so far! :)

I've created PR #3077 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-02 04:51] palnabarun commented on #3058
@pravarag -- Thank you for all your contributions so far! :)

I've created PR #3077 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-02 04:52] palnabarun commented on #3063
@jyz0309 -- Thank you for all your contributions so far! :)

I've created PR #3077 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-02 04:52] palnabarun commented on #3065
@cyclinder -- Thank you for all your contributions so far! :)

I've created PR #3077 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-02 04:52] palnabarun commented on #3072
@ShivamTyagi12345 -- Thank you for all your contributions so far! :)

I've created PR #3077 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-02 04:53] palnabarun commented on #3074
@astraw99 -- Thank you for all your contributions so far! :)

I've created PR #3077 to add you to the @kubernetes and @kubernetes-csi orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-02 05:07] ShivamTyagi12345 commented on #3072
Thank you  @palnabarun @PushkarJ @divya-mohan0209 ❤️

[2021-11-02 05:41] cyclinder commented on #3065
@palnabarun thank you!

[2021-11-02 05:46] #3048 closed

[2021-11-02 05:46] #3058 closed

[2021-11-02 05:46] #3063 closed

[2021-11-02 05:46] #3065 closed

[2021-11-02 05:46] #3072 closed

[2021-11-02 05:46] #3074 closed

[2021-11-02 12:51] tobiasgiese opened #3078 "REQUEST: New membership for tobiasgiese"
### GitHub Username

@tobiasgiese

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2021-11-02 12:53] spiffxp commented on #3078
+1 from sponsor

[2021-11-02 12:54] sbueringer commented on #3078
+1

[2021-11-03 11:51] mehabhalodiya opened #3081 "REQUEST: New membership for mehabhalodiya"
### GitHub Username

@mehabhalodiya

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.go

[2021-11-03 11:51] mehabhalodiya commented on #3081
I am interested in becoming a reviewer for SIG Docs (English localization).

[2021-11-03 13:27] savitharaghunathan commented on #3081
+1
/pony party

[2021-11-03 14:12] divya-mohan0209 commented on #3081
+1
/meow

[2021-11-03 18:05] johananl opened #3082 "REQUEST: New membership for johananl"
### GitHub Username

@johananl

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-11-03 18:08] sbueringer commented on #3082
+1 Thx for your hard work on the ignition PR! :)

[2021-11-03 18:24] MarcelMue commented on #3082
+1 Great ongoing contributions!

[2021-11-05 07:03] palnabarun commented on #3082
Hi @johananl 👋🏽, thank you for applying to be a Kubernetes org member.

One of the requirements for a contributor to be a sponsor is that they have to be at least a Reviewer. Unfortunately, @MarcelMue doesn't satisfy the criteria at this point in time.

Can you please find another sponsor satisfying the criteria?

[2021-11-05 07:06] palnabarun commented on #3081
@mehabhalodiya -- thank you for all your contributions so far :)

I've created PR #3083 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-05 07:06] palnabarun commented on #3073
@jayesh-srivastava -- thank you for all your contributions so far :)

I've created PR #3083 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-05 07:07] palnabarun commented on #3078
@tobiasgiese -- thank you for all your contributions so far :)

I've created PR #3083 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to the community! :tada:

/assign

[2021-11-05 07:13] #3073 closed

[2021-11-05 07:13] #3078 closed

[2021-11-05 07:13] #3081 closed

[2021-11-05 10:53] puja108 commented on #3082
I can sponsor @johananl dito to what @sbueringer mentioned above!

[2021-11-05 15:10] marquiz opened #3084 "REQUEST: enable codecov.io in kubernetes-sigs"
### Organization or Repo

kubernetes-sigs

### Name of integration

codecov.io

### Link to integration website

https://app.codecov.io/gh

### Describe what is attempting to be accomplished

As a project maintainer, I'd like to be able to integrate codecov reports to [Node Featgure Discovery](https://github.com/kubernetes-sigs/node-feature-discovery)

### Additional context for request

_No respo

[2021-11-05 15:35] CecileRobertMichon commented on #3082
+1 from me as well

[2021-11-08 07:09] steven-my opened #3085 "REQUEST: New membership for steven-my"
### GitHub Username

@steven-my

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-11-08 07:31] chenxuc commented on #3085
+1, thanks @steven-my for your contribution to Kubernetes docs!

[2021-11-09 01:54] tengqm commented on #3085
+1

[2021-11-09 18:51] NikhilSharmaWe commented on #3085
@chenxuc and @tengqm I also want to become member of kubernetes org, but I do not have sponsors that meet the sponsor requirements listed in the community membership guidelines. Could you help in the process to join the organization.

[2021-11-09 20:50] fabriziopandini commented on #2222
quick update from the cluster-api land
- cluster-api-bootstrap-provider-kubeadm has been archived and it can be removed from the list
- cluster-api-provider-docker has been archived and it can be removed from the list
- cluster-api-provider-kubemark is already on main (@elmiko to link a PR in any)
- cluster-api-provider-openstack is already on main https://github.com/kubernetes-sigs/cluster-api-pr

[2021-11-09 22:27] elmiko commented on #2222
hey @fabriziopandini , here is the issue where we tracked the change for kubemark, we did not have a pull request though.

https://github.com/kubernetes-sigs/cluster-api-provider-kubemark/issues/6

[2021-11-10 02:27] NikhilSharmaWe opened #3088 "REQUEST: New membership for <NikhilSharmaWe>"
### GitHub Username

NikhilSharmaWe

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https

[2021-11-10 02:29] SergeyKanzhelev commented on #3088
Welcome!

[2021-11-10 08:34] enxebre commented on #3033
+1 great to see @relyt0925 joining and stepping forward for even more involvement with the community, thanks!

[2021-11-10 14:21] #3044 closed

[2021-11-10 22:22] oomichi commented on #3088
Thanks for your contribution.
+1

[2021-11-11 06:14] sandipanpanda opened #3091 "REQUEST: New membership for sandipanpanda"
### GitHub Username

@sandipanpanda

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https

[2021-11-11 06:20] MadhavJivrajani commented on #3091
+1
/pony party
Thank you for your contributions!

[2021-11-11 06:34] sandipanpanda commented on #3091
Thank you @MadhavJivrajani for sponsoring me. :love_you_gesture:

[2021-11-11 17:27] parispittman commented on #3091
+1

thank you so much @sandipanpanda  !!!

[2021-11-12 06:59] palnabarun commented on #3085
Hi @steven-my 👋🏽, thank you for your contributions to the localization of documentation.

The organization membership request requires sponsors to be from two different employers. Can you please add a non-IBM Kubernetes contributor as one of your sponsors?

[2021-11-12 07:03] palnabarun commented on #3091
@sandipanpanda, thank you for all your contributions so far :)

I've created PR #3093 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2021-11-12 07:04] palnabarun commented on #3088
@NikhilSharmaWe, thank you for all your contributions so far :)

I've created PR #3093 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2021-11-12 07:04] palnabarun commented on #3082
All requirements are met now. 🎉

@johananl, thank you for all your contributions so far :)

I've created PR #3093 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2021-11-12 07:04] NikhilSharmaWe commented on #3088
@palnabarun thank you so much.

[2021-11-12 07:14] #3082 closed

[2021-11-12 07:14] #3088 closed

[2021-11-12 07:14] #3091 closed

[2021-11-12 07:31] palnabarun opened #3094 "Cleanup Inactive Org Members"
Following is the list of [inactive members](https://github.com/kubernetes/community/blob/master/community-membership.md#inactive-members) who are slated to be removed from the Kubernetes organizations:

**TBD** (pending on a data import from devstats)

### Tasks
- [ ] Get the data import
- [ ] Find members to remove and teams they belong to
- [ ] Ping and wait for people to let us know if they hav

[2021-11-12 07:32] palnabarun commented on #3094
/assign
/assign @nikhita @MadhavJivrajani @RinkiyaKeDad

[2021-11-12 07:37] palnabarun commented on #3094
Previous Instances of cleanup: https://github.com/kubernetes/org/issues/2456, https://github.com/kubernetes/org/issues/2076

[2021-11-12 09:25] chenxuc commented on #3085
@palnabarun Actually tengqm (https://github.com/tengqm) is working for Sangfor company now instead of IBM. The sponsor requirement is met.

[2021-11-12 10:08] johananl commented on #3082
Thanks for the trust @palnabarun! Happy to join and will do my best to be useful in this great community :slightly_smiling_face:

[2021-11-12 11:40] tengqm commented on #3085
Yes, @palnabarun, I'm no longer an IBMer. I wasn't able to modify my organization because 1) removing organization from my profile is not straightforward; 2) I'm working with Github on claiming a new organization.

[2021-11-12 11:44] palnabarun commented on #3085
Thanks for the clarification @chenxuc @tengqm. 👍🏽

I will process this request in the next batch. 🎉

[2021-11-12 13:32] derekwaynecarr commented on #3033
Apologies.  I was traveling.

+1 as well

[2021-11-12 13:55] mrbobbytables commented on #3094
/assign
(just to keep it on my radar)

[2021-11-12 15:19] sandipanpanda commented on #3091
Thank you @parispittman for sponsoring me. :relaxed:
Thanks you @palnabarun for accepting my membership. :tada:

/pony party
/meow caturday

[2021-11-12 18:12] Debanitrkl opened #3095 "REQUEST: Create contributor-katacoda repository"
### New repo, staging repo, or migrate existing

new repository

### Is it a staging repo?

no

### Requested name for new repository

contributor-katacoda

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

sig-contributor-experience-leads (@cblecker, @nikhita, @mrbobbytables, @alisondy, @jberkus)

### Who should have write access?

sig-contributor-experi

[2021-11-12 18:30] jberkus commented on #3095
+1 on this.  This will be a subproject of Mentoring.

/assign @cblecker @mrbobbytables

[2021-11-13 04:17] yxxhero opened #3096 "REQUEST: New membership for yxxhero"
### GitHub Username

@yxxhero

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-11-13 08:11] uablrek commented on #3068
I have a signed CLA since 2018 (I think), now I get;
![easycla](https://user-images.githubusercontent.com/37046727/141611335-0d731b10-6371-4141-8063-716286dcc843.png)

[2021-11-13 17:11] reylejano commented on #3068
This came up on the k/website [Official 1.23 Release Docs PR](https://github.com/kubernetes/website/pull/29658) we use to merge PRs from the k/website `dev-1.23` branch into k/website `main`
![Screen Shot 2021-11-13 at 9 07 28 AM](https://user-images.githubusercontent.com/52760880/141652701-85bb662e-ea25-4437-bbd7-ed9b99b224b9.png)

[2021-11-14 01:45] Huang-Wei commented on #3068
I've singed CLA since mid-2018, but got this error on EasyCLA today:

https://github.com/kubernetes-sigs/scheduler-plugins/pull/290#issuecomment-968187890

[2021-11-14 05:18] SergeyKanzhelev commented on #3096
+1, welcome!

[2021-11-14 07:46] mengjiao-liu commented on #3096
I see that you have made a lot of contributions to this. Welcome!
LGTM

[2021-11-15 08:53] olemarkus commented on #3068
I am covered by a corporate CLA, but I am getting this error https://github.com/kubernetes/kops/pull/12743#issuecomment-968658182

[2021-11-15 19:50] wangchen615 commented on #3068
I am also covered by a corporate CLA, but I am getting this error for [kubernetes/test-infra#23177](https://github.com/kubernetes/test-infra/pull/23177)
![Screen Shot 2021-11-15 at 2 49 28 PM](https://user-images.githubusercontent.com/39573014/141844867-e7420ba3-3c8d-4e8e-8a6c-c08415e434d0.png)

[2021-11-16 00:27] dims commented on #3068
one more https://github.com/kubernetes/kubernetes/pull/106436

[2021-11-16 01:18] bradtopol commented on #3068
@mrbobbytables It appears there was no automatic migration of existing folks who had approval.  I am having to manually add each person to the new easyCLA access list.   **For all IBM employees that are running into this issue please contact me on our internal slack and I will add you to the easyCLA.**
@mrbobbytables if there is an easier way for me to handle this please let me know.  Thanks!

[2021-11-16 01:21] mrbobbytables commented on #3068
@bradtopol For now, don't worry about adding them 1-by-1, its non-blocking and they can ignore it til the issues are sorted out.

[2021-11-16 02:13] nak3 opened #3099 "REQUEST: New membership for nak3"
### GitHub Username

@nak3

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-11-16 02:40] dims commented on #3068
@pranab-bajpai is there working going on to fix this? I'd like to follow along, looks like slack channel is totally silent and no updates from the easycla team on this issue either. Could we please work in the open?

cc @caniszczyk

[2021-11-16 02:48] jpeach commented on #3099
+1

[2021-11-16 03:41] bradtopol commented on #3068
Really? Folks keep telling me its blocking their PRs.

[2021-11-16 04:08] mrbobbytables commented on #3068
@bradtopol yup. It's been rolled out in non-blocking mode. The old CLA is still the source of truth. If they have the label `cncf-cla: yes` it'll merge.

[2021-11-16 04:58] robscott commented on #3099
Thanks for all the help @nak3!

+1

[2021-11-16 13:29] FillZpp opened #3100 "REQUEST: New membership for FillZpp"
### GitHub Username

@FillZpp

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gro

[2021-11-16 13:30] FillZpp commented on #3100
Hey, would you like to be my sponsor? 😄  @alvaroaleman @vincepri

[2021-11-16 14:32] alvaroaleman commented on #3100
+1

[2021-11-16 14:49] sftim commented on #3068
https://github.com/kubernetes/website/pull/30504#issuecomment-970187930 suggests a mismatch between the new and old bots.

[2021-11-16 14:51] vincepri commented on #3100
+1

[2021-11-16 18:17] aravindhp commented on #3068
I am also running into this: https://github.com/kubernetes/kubernetes/pull/96120#issuecomment-970524140

[2021-11-16 20:38] dumb0002 commented on #3068
@MikeSpreitzer: yes, as long as we have the cncf-cla: yes label we are good to go.  But still I am reporting it here as suggested by @bradtopol

[2021-11-16 20:39] mrbobbytables commented on #3068
Yes, any instance where we a discrepancy between the two CLA systems should be logged. 👍

[2021-11-16 22:05] idvoretskyi commented on #3068
/cc

[2021-11-16 22:11] sftim commented on #3068
https://github.com/kubernetes/org/pull/3101#issuecomment-970724326 gets it wrong, I do have a corporate CLA sign off.

[2021-11-16 22:22] brendandburns commented on #2778
@mrbobbytables I'm seeing discrepancies between the old CLA bot and EasyCLA, e.g.

https://github.com/kubernetes-client/c/pull/93

[2021-11-16 22:46] mrbobbytables commented on #2778
@brendandburns thats weird...it shouldn't be blocking, we have prow setup to ignore to the EasyCLA context

[2021-11-16 22:48] mrbobbytables commented on #2778
Found the issue, it was only setup to be ignored in kubernetes 🤦

[2021-11-16 23:13] mrbobbytables commented on #3068
@sftim the new cla is a github app and will require authorization. However it should have synced for you. Don't worry about signing it till that issue is sorted out.

[2021-11-16 23:51] jimangel commented on #3068
Feedback on behavior:

I opened a PR in k/website against the `dev-1.23` branch. I later changed it to `main` in the GH GUI and it pulled in a bunch of unwanted commits (as expected). In the GUI, I swapped the PR back to `dev-1.23` and rebased my local branch (CLI) against main and force pushed it to allow me to move branches in the GH GUI without baggage. EasyCLA proceeded to flag the delta # of

[2021-11-16 23:53] sftim commented on #3068
@jimangel either order would have triggered similar behavior here I'm afraid. Changing the base branch first would have triggered CLA checks for all commits not shared between the two merge bases.

[2021-11-16 23:56] sftim commented on #3068
What I'd like GitHub to let you do: change the merge base during a forced push using a Git [push option](https://zerokspot.com/weblog/2020/09/28/git-push-options/) (GitLab has features for this, I don't think GitHub does). IMO that's more an issue with atomically changing the merge base during a forced push and less about EasyCLA.

[2021-11-17 14:39] jimangel commented on #3068
I could have been lucky with timing, but I did update the base branch (saw all the commits appear in the GH GUI) and reverted back, which didn't trigger EasyCLA.

First time:

![image](https://user-images.githubusercontent.com/4601051/142220710-fbdbdf82-79a3-4207-be49-669a69ce225a.png)

Second time:

![image](https://user-images.githubusercontent.com/4601051/142220760-cd5a389d-f793-49d0-b858-42bb1

[2021-11-17 19:45] reylejano commented on #3068
We had more that came up in a [PR](https://github.com/kubernetes/website/pull/30536) to sync the `dev-1.23` branch with updates from `main` in k/website
![Screen Shot 2021-11-17 at 11 39 16 AM](https://user-images.githubusercontent.com/52760880/142271494-4ed97bf6-1e89-49a0-b08d-6a1c4a658096.png)
![Screen Shot 2021-11-17 at 11 39 26 AM](https://user-images.githubusercontent.com/52760880/142271522-8

[2021-11-18 14:44] sbs2001 opened #3104 "REQUEST: New membership for sbs2001"
### GitHub Username

@sbs2001

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-11-18 16:56] pnbrown opened #3105 "REQUEST: New membership for @pnbrown"
### GitHub Username

pnbrown

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/for

[2021-11-18 19:23] parispittman commented on #3105
+1
Reason: Nigel has YouTube admin experience and we need more folks to join us in this area; expecting follow up merged PRs to the YouTube docs. Also supported at day job in this kind of role and has lots of trusted connections within the community.

[2021-11-18 21:57] justaugustus opened #3106 "REQUEST: Create sigs.k8s.io/bom"
### New repo, staging repo, or migrate existing

New repo

### Is it a staging repo?

no

### Requested name for new repository

https://github.com/kubernetes-sigs/bom

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@sig-release-admins

### Who should have write access?

@sig-release-admins

### Who should be listed as approvers in OWNERS?

@sig-releas

[2021-11-18 21:58] justaugustus commented on #3106
cc: @kubernetes/sig-release-admins @kubernetes/release-engineering

[2021-11-19 02:04] hangyan commented on #3104
+1

[2021-11-19 06:33] surajssd commented on #3104
I endorse Shivam based on his contributions and officially bringing him into our family will be of great help for us.

[2021-11-19 07:33] riita10069 opened #3107 "REQUEST: New membership for riita10069"
### GitHub Username

riita10069

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://g

[2021-11-19 07:52] inductor commented on #3107
Thanks for your contributions! +1

[2021-11-19 08:56] saschagrunert commented on #3106
+1 for the new repository

[2021-11-19 09:55] nasa9084 commented on #3107
+1

[2021-11-19 12:19] sftim commented on #3068
Old CLA bot says no, EasyCLA says yes
https://github.com/kubernetes/website/pull/30543

That might be expected (but confusing) behavior?

[2021-11-19 12:30] mrbobbytables commented on #3068
@sftim they look to be a new contributor and probably signed EasyCLA instead of signing the old CLA.

[2021-11-19 12:48] mrbobbytables commented on #3106
/assign

[2021-11-19 13:53] mrbobbytables commented on #3106
Repo has been created: https://github.com/kubernetes-sigs/bom
teams added in PR: https://github.com/kubernetes/org/pull/3108
subproject added in PR: https://github.com/kubernetes/community/pull/6239

Once all PRs have merged and teams added to the repo this should be good to go :)

[2021-11-19 16:24] mrbobbytables commented on #3105
+1

[2021-11-19 16:35] chris-short commented on #3105
+1

[2021-11-19 17:11] puerco commented on #3106
Thank you @mrbobbytables !!

[2021-11-19 18:26] justaugustus commented on #3106
You rock, Bob!

[2021-11-19 19:37] mrbobbytables commented on #3106
Teams have been granted permission over the repo 👍

[2021-11-19 20:43] mikebrow commented on #3068
Went through the very manual process steps of having my tech lead @bradtopol add me so I wouldn't have to see the red X for easycla auth over here... https://github.com/kubernetes/kubernetes/pull/94899 fully expected this to be automatic with db sync.  Not sure if this helps but my LF profile was private.. I made it public this morning. Perhaps that may have affected db sync?

[2021-11-20 17:03] sftim commented on #3068
https://github.com/kubernetes/website/pull/30019 shows that the bot thinks I haven't signed it; I have - similar to https://github.com/kubernetes/org/issues/3068#issuecomment-970724763.

[2021-11-21 20:25] mrbobbytables commented on #3095
/assign @nikhita @cblecker
As TLs for contribex to approve an additional repo 👍
(I cannot as a chair)

[2021-11-21 21:02] mrbobbytables opened #3109 "REQUEST: Create design-proposals-archive repo"
### New repo, staging repo, or migrate existing

New Repo

### Is it a staging repo?

no

### Requested name for new repository

design-proposals-archive

### Which Organization should it reside

kubernetes

### Who should have admin access?

@sig-architecture-leads

### Who should have write access?

none

### Who should be listed as approvers in OWNERS?

@sig-architecture-leads

### Who should b

[2021-11-21 22:25] mrbobbytables commented on #3033
/assign

[2021-11-21 22:26] mrbobbytables commented on #3085
/assign

[2021-11-21 22:30] mrbobbytables commented on #3096
/assign

[2021-11-21 22:32] mrbobbytables commented on #3099
/assign

[2021-11-21 22:35] mrbobbytables commented on #3100
/assign

[2021-11-21 22:38] mrbobbytables commented on #3104
/assign

[2021-11-21 22:39] mrbobbytables commented on #3105
/assign

[2021-11-21 22:42] mrbobbytables commented on #3107
/assign

[2021-11-21 22:48] mrbobbytables commented on #3033
@relyt0925  thank you for all your contributions so far :)

I've created PR #3110  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2021-11-21 22:49] mrbobbytables commented on #3085
Thank you for all your contributions so far :)

I've created PR #3110  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-11-21 22:49] mrbobbytables commented on #3096
@yxxhero thank you for all your contributions so far :)

I've created PR #3110  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-11-21 22:49] mrbobbytables commented on #3099
Thank you for all your contributions so far :)

I've created PR #3110  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2021-11-21 22:50] mrbobbytables commented on #3100
@FillZpp thank you for all your contributions so far :)

I've created PR #3110  to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-11-21 22:51] mrbobbytables commented on #3104
Thank you for all your contributions so far :)

I've created PR #3110  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-11-21 22:51] mrbobbytables commented on #3105
@pnbrown thanks for stepping up to help us with YT and all the other community places :)

I've created PR #3110  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-11-21 22:52] mrbobbytables commented on #3107
Thank you for all your contributions so far :)

I've created PR #3110  to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-11-21 22:59] #3033 closed

[2021-11-21 22:59] #3085 closed

[2021-11-21 22:59] #3096 closed

[2021-11-21 22:59] #3099 closed

[2021-11-21 22:59] #3100 closed

[2021-11-21 22:59] #3104 closed

[2021-11-21 22:59] #3105 closed

[2021-11-21 22:59] #3107 closed

[2021-11-21 23:14] dims commented on #3109
+1 (let's please try to save history as well)

[2021-11-21 23:22] justaugustus commented on #3106
We're all set here.
Thanks for the help, Bob!

/close

[2021-11-21 23:22] #3106 closed

[2021-11-22 08:28] Karthik-K-N opened #3111 "REQUEST: New membership for Karthik-K-N"
### GitHub Username

Karthik-K-N

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://

[2021-11-22 08:31] mkumatag commented on #3111
👍🏽 from me, @Karthik-K-N thanks for all the contribution, keep up the good work :)

[2021-11-22 08:39] pacoxu commented on #3111
+1
for the dep update
Hope you can make more contributions to Kuberentes community.

[2021-11-23 13:27] RA489 commented on #3068
Easy CLA is not getting ignored https://github.com/kubernetes/kubeadm/pull/2611

[2021-11-23 14:21] stormqueen1990 commented on #3068
Hello! I am also seeing this issue in this PR: https://github.com/kubernetes/website/pull/30583

The checks say I am authorized under the Linux Foundation CLA, but EasyCLA says I'm not covered.

[2021-11-24 23:54] ehashman commented on #3068
EasyCLA Failure here for a cherry-pick from Clayton: https://github.com/kubernetes/kubernetes/pull/104918#issuecomment-978489312

[2021-11-25 05:26] ykakarap commented on #3068
I have previously signed the old CLA and have been contributing for the ClusterAPI project for a while but now I am getting the following error.

<img width="1004" alt="Screen Shot 2021-11-24 at 9 25 05 PM" src="https://user-images.githubusercontent.com/22120431/143384505-e774fe3c-f794-4670-ac31-67ad5a6bd5b8.png">

[2021-11-25 17:00] fengzixu opened #3113 "REQUEST: New membership for @fengzixu"
### GitHub Username

fengzixu

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-11-25 19:59] ansilh commented on #3068
[code]
Bu still the EasyCLA is not passed in PR https://github.com/kubernetes/ingress-nginx/pull/7977
![image](https://user-images.githubusercontent.com/11064902/143495308-6afa7103-841a-4e0d-8afd-05c625e0c392.png)

[2021-11-26 00:43] fengzixu commented on #3113
/assign @xing-yang @NickrenREN

[2021-11-26 03:42] NickrenREN commented on #3113
+1  from me, thanks for your contributions.

[2021-11-26 04:18] kinderyj opened #3114 "REQUEST: New repository for kubernetes-csi-tencentcloud"
### New repo, staging repo, or migrate existing

New repository

### Is it a staging repo?

no

### Requested name for new repository

kubernetes-csi-tencentcloud

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

kinderyj

### Who should have write access?

kinderyj

### Who should be listed as approvers in OWNERS?

kinderyj

### Who should be listed in

[2021-11-27 00:14] mrbobbytables commented on #3114
@kinderyj This needs approval from sig-storage leads
Did you also mean to request it for kubernetes-csi or kubernetes-sigs orgs? kubernetes-csi is where the other csi drivers are.
You will also have to file a request for org membership to kubernetes-sigs or kubernetes-csi depending on the org you want the repo to live in. - Please see the [membership requirements](https://github.com/kubernetes/com

[2021-11-29 00:13] cblecker commented on #3095
Questions:
Is there going to be stuff like tagged releases or something from this repo? Do we need explicit write or admin access here?

Is this a new repo that we will PR things into, or are you looking to transfer the existing repo? I'd suggest the former, as there is a single author, and it allows us to use the existing boilerplate stuff.

Lastly, to clarify, the audience for these scenarios wi

[2021-11-29 02:54] Debanitrkl commented on #3095
No, there won't be any tagged releases from this repo, as any changes at any point of time would reflect in katacoda. Yes write and admin access is required as we will be integrating the katacoda webhook with this repository. Will open an issue for integrations after this repo is created. So admin access would allows us to manage that integration.

Yes, this will be a new repository, where we will

[2021-11-29 06:51] Shubham82 commented on #3068
Hi folks,
I am also facing an EasyCLA  check failure in this PR https://github.com/kubernetes/website/pull/30430
even `/easycla ` comment is also not working in my case. please suggest any workaround for it.
![Screenshot](https://user-images.githubusercontent.com/50987400/143821363-3b5d4ed3-4cc2-4fae-a9c0-407ede13259a.png)

[2021-11-29 15:00] xing-yang commented on #3113
+1

[2021-11-29 22:12] stormqueen1990 opened #3115 "REQUEST: New membership for stormqueen1990"
### GitHub Username

@stormqueen1990

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2021-11-29 22:17] rikatz commented on #3115
+1

Mauren is doing a lot of things on the Kubernetes website localization to pt-br

[2021-11-29 22:21] edsoncelio commented on #3115
+1 Mauren is doing a great job with the pt-br localization team in Kubernetes docs :)

[2021-11-30 07:17] adisky commented on #3068
I have previously signed CLA but Easy CLA is failing for me, I have also tried to sign it but it is redirecting to mail id that no longer exist in my github account
![image](https://user-images.githubusercontent.com/7712693/144002566-cc0f3db4-4cc4-4a6a-ab81-fda68de17691.png)
![image](https://user-images.githubusercontent.com/7712693/144002632-e14503b2-b265-4f2a-b8a5-1f4f74b1bb8a.png)

[2021-11-30 15:20] anyulled opened #3116 "REQUEST: New membership for anyulled"
### GitHub Username

@anyulled

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-11-30 16:15] killianmuldoon commented on #3068
I signed the old CLA in 2019, and signed again when EasyCLA came out. EasyCLA is now failing again (between commits) on this PR: https://github.com/kubernetes-sigs/cluster-api/pull/5735

[2021-11-30 16:50] waltforme commented on #3068
Same issue with EasyLCA:
<img width="804" alt="image" src="https://user-images.githubusercontent.com/8633434/144090760-074b17b8-c891-4798-98c9-35ed329e9051.png">

[2021-11-30 17:10] derekwaynecarr commented on #3109
+1

[2021-11-30 21:23] electrocucaracha commented on #3116
+1 I'm agree to sponsor @anyulled

[2021-11-30 21:39] raelga commented on #3116
+1

[2021-12-01 00:09] mengqiy opened #3117 "REQUEST: Create kubernetes-sigs/krm-functions-registry"
### New repo, staging repo, or migrate existing

new repo

### Is it a staging repo?

no

### Requested name for new repository

krm-functions-registry

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

jeremyrickard, KnVerey, mengqiy

### Who should have write access?

jeremyrickard, KnVerey, mengqiy

### Who should be listed as approvers in OWNERS?

jer

[2021-12-01 12:03] mkumatag opened #3118 "REQUEST: Netlify site for kubernetes-sigs/cluster-api-provider-ibmcloud"
### Repository

https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud

### Project domain

cluster-api-ibmcloud.sigs.k8s.io

### Additional context for request

netlify configuration added via: https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/pull/442

xref: https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud/issues/346

[2021-12-01 13:07] mkumatag commented on #3118
/assign @mrbobbytables

[2021-12-01 17:40] KnVerey commented on #3117
👍 from me

[2021-12-01 21:34] mrbobbytables commented on #3109
Repo was created
Content moved over
sigs.yaml update 👍

This is good to close!

/close

[2021-12-01 21:34] #3109 closed

[2021-12-01 22:27] cblecker commented on #3095
It doesn't actually, as webhooks/integrations are managed by the GH admin team. If that's the only use case, then we can manage this through bots/OWNERS files and don't need direct permissions.

Can we choose a more descriptive repo name then? I'd suggest maybe something like "upstream-dev-tutorials"? cc @jberkus

[2021-12-01 22:50] sftim commented on #3068
EasyCLA didn't like my squash-and-forced-push: https://github.com/kubernetes/website/pull/29685#issuecomment-984126979

[2021-12-01 23:09] jberkus commented on #3095
Oh, you would ask the hard question.

Ideas:
* k8s-dev-scenario
* contributor-katacoda
* dev-kc-tutorial

I do want to make it kind of clear in the name (as well as the README) that this isn't the only contributor/developer tutorial, since tutorials using other platforms will live elsewhere in our repos.

[2021-12-02 07:00] Debanitrkl commented on #3095
Contributor-katacoda seems good, rest we can have the details in the description

[2021-12-02 14:29] alexander-demichev opened #3119 "REQUEST: Create cluster-api-operator repository"
### New repo, staging repo, or migrate existing

new repository

### Is it a staging repo?

yes

### Requested name for new repository

cluster-api-operator

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

fabriziopandini

### Who should have write access?

fabriziopandini

### Who should be listed as approvers in OWNERS?

alexander-demichev, fabriziopa

[2021-12-02 15:56] vincepri commented on #3119
+1

[2021-12-02 21:25] MaxRenaud opened #3120 "REQUEST: New membership for MaxRenaud"
### GitHub Username

MaxRenaud

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gr

[2021-12-02 21:26] lachie83 commented on #3120
+1

[2021-12-02 21:57] cheftako commented on #3120
+1

[2021-12-03 01:28] cblecker commented on #3119
This is marked as a staging repo, but in the kubernetes-sigs org. Is that correct? Are we publishing things from the kubernetes/kubernetes repo into this new repo?

[2021-12-03 02:31] cblecker commented on #3118
/unassign @mrbobbytables
/assign

Site has been created at: https://kubernetes-sigs-cluster-api-ibmcloud.netlify.app/

You still need to request/add the DNS in k8s.io: https://github.com/kubernetes/community/blob/4026287dc3a2d16762353b62ca2fe4b80682960a/github-management/subproject-site-requests.md#requesting-a-subproject-domain

[2021-12-03 02:31] vincepri commented on #3119
From my understanding it shouldn't be a staging repo, but a normal one. @alexander-demichev @fabriziopandini can you confirm?

[2021-12-03 02:47] cblecker commented on #3111
Thank you for all your contributions so far!

I've created PR #3121 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification, and will need to be accepted.

Welcome to @kubernetes! 🎉

[2021-12-03 02:47] cblecker commented on #3113
Thank you for all your contributions so far!

I've created PR #3121 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification, and will need to be accepted.

Welcome to @kubernetes! 🚀

[2021-12-03 02:47] cblecker commented on #3115
Thank you for all your contributions so far!

I've created PR #3121 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification, and will need to be accepted.

Welcome to @kubernetes! 🚀

[2021-12-03 02:48] cblecker commented on #3116
Thank you for all your contributions so far!

I've created PR #3121 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification, and will need to be accepted.

Welcome to @kubernetes-sigs! 🚀

[2021-12-03 02:48] cblecker commented on #3120
Thank you for all your contributions so far!

I've created PR #3121 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification, and will need to be accepted.

Welcome to @kubernetes! 🚀

[2021-12-03 02:53] electrocucaracha commented on #3116
@cblecker I just noticed that the request is for @kubernetes instead of @kubernetes-sigs, @anyulled contributions are related to the website. Can you change that?

[2021-12-03 02:54] #3111 closed

[2021-12-03 02:54] #3113 closed

[2021-12-03 02:54] #3115 closed

[2021-12-03 02:54] #3116 closed

[2021-12-03 02:54] #3120 closed

[2021-12-03 03:04] cblecker commented on #3117
The repo has been created: https://github.com/kubernetes-sigs/krm-functions-registry
After https://github.com/kubernetes/org/pull/3122 has merged, I'll be able to provide admin/write access

[2021-12-03 03:09] cblecker commented on #3095
Repo created: https://github.com/kubernetes-sigs/contributor-katacoda

[2021-12-03 03:12] cblecker commented on #3095
Actually, before we close this:
@Debanitrkl @jberkus Would you mind adding this repo to sigs.yaml under the mentoring subproject?

/assign

[2021-12-03 03:12] cblecker commented on #3117
/assign

[2021-12-03 03:40] Debanitrkl commented on #3095
Yeah will add this to sigs.yaml

[2021-12-03 04:13] Debanitrkl opened #3123 "REQUEST: Katacoda integration for contributor-katacoda"
### Organization or Repo

kubernetes-sigs/contributor-katacoda

### Name of integration

Katacoda

### Link to integration website

https://www.katacoda.com/

### Describe what is attempting to be accomplished

This repository, hosts the katacoda scenarios for upstream k8s developers. To have a scenario live in katacoda we need to integrate the source repository with a katacoda author profile as d

[2021-12-03 04:37] Debanitrkl commented on #3123
/assign @cblecker @jberkus

[2021-12-03 06:14] mkumatag commented on #3118
created an issue here: https://github.com/kubernetes/k8s.io/issues/3137

[2021-12-03 13:44] anusha94 opened #3124 "REQUEST: New membership for anusha94"
### GitHub Username

@anusha94

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-12-03 13:57] enxebre commented on #3124
+1
welcome @anusha94!

[2021-12-03 14:07] sbueringer commented on #3124
+1
Thank you for your contributions so far :)

[2021-12-03 14:29] fabriziopandini commented on #3124
+1
Welcome on board @anusha94!

[2021-12-03 20:10] mengqiy commented on #3117
@cblecker #3122 has been merged.

[2021-12-03 20:27] cblecker commented on #3117
@mengqiy Access has been provided. The last step is to get the new repo added to sigs.yaml. Would you mind opening a PR to do that? Thanks!

[2021-12-03 21:44] fabriziopandini commented on #3119
Confirmed, this should be a normal repo (not a staging one).
Also, please remove me from the security contact, I don't think to have the bandwidth to follow  ongoing work on this repo.

[2021-12-03 21:52] fabriziopandini commented on #3119
@enxebre @JoelSpeed @elmiko do you have the bandwidth to step up helping @alexander-demichev to manage this repo?

[2021-12-03 22:49] mengqiy commented on #3117
Sure. https://github.com/kubernetes/community/pull/6249

[2021-12-04 02:45] uablrek commented on #3068
Is there a simple way of checking my own CLA status (both)? A button or form perhaps?
I mean not by creating a fake PR.

[2021-12-04 11:03] anyulled commented on #3116
Do I need to do anything?

[2021-12-05 09:45] h4ghhh opened #3128 "REQUEST: New membership for h4ghhh"
### GitHub Username

@h4ghhh

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/for

[2021-12-05 12:04] tengqm commented on #3128
+1

[2021-12-05 17:20] rajaskakodkar commented on #3124
+1
welcome @anusha94 !!!

[2021-12-05 19:20] elmiko commented on #3119
happy to help if i can, i am keen to learn more about this process as i'd like to set something up for kubemark. what do i need to do?

[2021-12-06 03:08] Huang-Wei commented on #3128
+1

[2021-12-06 13:07] neolit123 commented on #3119
+1 given the CAPI maintainers are in favor.

[2021-12-06 17:50] Huang-Wei commented on #3128
+1

[2021-12-06 19:25] deepakkinni opened #3130 "REQUEST: New membership for deepakkinni"
### GitHub Username

@deepakkinni

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-ma

[2021-12-06 19:43] xing-yang commented on #3130
@deepakkinni Can you add your PR for the blog?

[2021-12-06 19:44] xing-yang commented on #3130
+1 Thanks @deepakkinni for your contributions!

[2021-12-07 01:20] HanFa opened #3132 "REQUEST: New membership for HanFa"
### GitHub Username

@HanFa

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/foru

[2021-12-07 02:45] mikeshng opened #3133 "REQUEST: New membership for mikeshng"
### GitHub Username

@mikeshng

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2021-12-07 05:32] hanamantagoudvk opened #3134 "REQUEST: New membership for hanamantagoudvk"
### GitHub Username

@hanamantagoudvk

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](htt

[2021-12-07 07:34] VivekThrivikraman-est opened #3135 "REQUEST: New membership for VivekThrivikraman-est"
### GitHub Username

@VivekThrivikraman-est

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail lis

[2021-12-07 07:45] aojea commented on #3135
+1
Looking forward for more of your contributions 😁

[2021-12-07 08:09] FriedrichWilken commented on #3134
+1

Thank you, @hanamantagoudvk for your contributions! Welcome!

[2021-12-07 08:16] aojea commented on #3134
+1
Keep it up
Thanks

[2021-12-07 13:12] kinderyj commented on #3114
@mrbobbytables Thanks a lot for your quick response.

We want to migrate our csi repo `https://github.com/TencentCloud/kubernetes-csi-tencentcloud` to `https://github.com/orgs/kubernetes-sigs` and be part of the sig-cloud-provider.

Could you tell us what we should do and who to contact? Thanks.

[2021-12-07 13:29] jayunit100 commented on #3134
+1 major leader on the Kpng and ipvs impl in kpng

[2021-12-07 13:30] jayunit100 commented on #3135
+1 huge thanks got the Kpng and iptables work and being a leader on the project

[2021-12-07 13:30] mrbobbytables commented on #3114
@kinderyj kk, it needs approval from the sig-cloud-provider leads.
There is additional process for donated repos. You can see the requirements for them outline here:
https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2021-12-07 18:05] lubronzhan commented on #3132
Fang has already contributed to Cloud Provider! Thanks Fang!

[2021-12-07 18:13] knabben commented on #3132
+1

[2021-12-07 19:24] nicolehanjing commented on #3132
+1
Thanks Fang for making contributions to Cloud Provider! Welcome :)

[2021-12-07 20:49] jayunit100 commented on #3132
+1  , fang also is helping us alot on  https://github.com/K8sbykeshed/k8s-service-lb-validator/issues, which we presented to sig-network about a year ago, but isnt yet an official repository

[2021-12-07 22:49] k8s-triage-robot opened #3136 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:22] justaugustus commented on #3136
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:22] #3136 closed

[2021-12-08 05:51] yue9944882 commented on #3133
+1 welcome!

[2021-12-08 06:23] Xenwar opened #3137 "REQUEST: New membership for Xenwar"
### GitHub Username

Xenwar

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2021-12-08 08:28] RainbowMango commented on #3133
+1 from me.

[2021-12-08 08:29] jsafrane commented on #3130
+1

[2021-12-08 14:13] Prajyot-Parab commented on #3068
I am covered by a corporate CLA, but I am getting this error for [kubernetes-sigs/cluster-api/pull/5806](https://github.com/kubernetes-sigs/cluster-api/pull/5806#issuecomment-987669173)
<img width="905" alt="Screenshot 2021-12-08 at 7 41 03 PM" src="https://user-images.githubusercontent.com/42934355/145222906-fd57c536-61ae-4e51-8f90-69f12783b945.png">

[2021-12-08 14:53] JoelSpeed commented on #3119
I'll also be available to help Alex with the work involved in maintaining this project, feel free to put me down on the security contacts

[2021-12-08 16:38] cblecker commented on #3117
This is complete!
/close

[2021-12-08 16:38] #3117 closed

[2021-12-08 16:45] cblecker commented on #3123
Had to play around with the naming to find one that worked, but this should all be hooked up to https://katacoda.com/k8scontributors now

[2021-12-08 16:47] #3123 closed

[2021-12-08 16:52] Debanitrkl commented on #3095
/close

[2021-12-08 16:52] #3095 closed

[2021-12-08 19:09] pranab-bajpai commented on #3068
Hi All,
Wanted to thank you for posting issues as we work through the issues with EasyCLA.
We are going to do weekly DB migration from current Kubernetes CLA to latest EasyCLA DB. Recent migration was completed on 12/7, another one will be completed by 12/9. We are hoping that most of the user mismatch issues should stabilize with latest migration on 12/9. We plan on keeping an eye on the issues r

[2021-12-08 19:10] pranab-bajpai commented on #3068
Only Project Managers can see if a user has signed CLA or not in the Project Control Center admin view of EasyCLA V2. There is no way for an individual to check without creating a PR.

[2021-12-08 22:50] k8s-triage-robot opened #3138 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 23:41] electrocucaracha commented on #3116
@anyulled I've created a PR to fix that once it's merged you'll have `lgtm` permissions over the website project

[2021-12-09 02:58] justaugustus commented on #3138
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 02:58] #3138 closed

[2021-12-09 06:34] hidekazuna commented on #3137
@Xenwar Thank you for your contribution!

[2021-12-09 08:02] anyulled commented on #3116
Thanks!

Anyul Rivas

El jue., 9 dic. 2021 0:41, Victor Morales ***@***.***>
escribió:

[2021-12-09 09:09] zvonkok opened #3140 "REQUEST: Create special-resource-operator"
### New repo, staging repo, or migrate existing

new repo

### Is it a staging repo?

no

### Requested name for new repository

special-resource-operator

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@qbarrand  @pacevedom @bthurber @zvonkok @shivamerla @adrianchiris

### Who should have write access?

@qbarrand  @pacevedom @bthurber @zvonkok @shivam

[2021-12-09 09:57] zvonkok commented on #3084
I second that, also would like to have it enabled on the new repo https://github.com/kubernetes/org/issues/3140

[2021-12-10 06:53] Ankitasw commented on #3124
+1
welcome @anusha94

[2021-12-10 10:19] zvonkok commented on #3140
@hbrueckner FYI, see also sig-node recording from Nov. 30th, [kubernetes.sigs/sro](https://docs.google.com/presentation/d/1FHVLwp8QqkpJnsaE3NqvjAu3gsWb3hXQSN4SmyuNuXg/edit#slide=id.g1015afca470_0_83)

[2021-12-10 13:45] mkumatag commented on #3118
@cblecker can I get an entry configured for the `release-0.1` branch as well?

[2021-12-13 07:34] chrischdi opened #3141 "REQUEST: New membership for chrischdi"
### GitHub Username

@chrischdi

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2021-12-13 07:38] jichenjc commented on #3141
+1 to me :)  thanks

[2021-12-13 07:57] sbueringer commented on #3141
+1

[2021-12-13 12:23] mdbooth opened #3142 "REQUEST: New membership for mdbooth"
### GitHub Username

@mdbooth

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2021-12-13 12:27] tobiasgiese commented on #3142
+1 from my side 🙂

[2021-12-13 12:27] mdbooth commented on #3142
@tobiasgiese points out that both him and @seanschneeweiss work for the same company. I'll look for another sponsor, but as I work for a different company I wonder if the conditions have been met anyway?

[2021-12-13 12:30] seanschneeweiss commented on #3142
+1 from my side too :) let's see if a third sponsor from a different company is required.

[2021-12-13 13:19] mdbooth commented on #3137
+1 from me!

[2021-12-13 13:27] mdbooth commented on #3142
@jichenjc is also willing to sponsor.

[2021-12-13 13:41] uablrek commented on #3068
Still problems: https://github.com/kubernetes/kubernetes/pull/97081#issuecomment-992443042

[2021-12-13 18:59] ameukam opened #3143 "REQUEST: Create oci-proxy"
### New repo, staging repo, or migrate existing

new repository

### Is it a staging repo?

no

### Requested name for new repository

oci-proxy

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

ameukam,dims,spiffxp,thockin

### Who should have write access?

ameukam,dims,spiffxp,thockin

### Who should be listed as approvers in OWNERS?

ameukam,dims,spi

[2021-12-13 19:00] dims commented on #3143
+1 from me

[2021-12-14 00:51] zhengtianbao opened #3144 "REQUEST: New membership for zhengtianbao"
### GitHub Username

@zhengtianbao

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https:

[2021-12-14 02:04] lizhuqi opened #3145 "REQUEST: New membership for lizhuqi"
### GitHub Username

lizhuqi

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://grou

[2021-12-14 02:09] andyzhangx commented on #3145
+1

[2021-12-14 03:38] rajaskakodkar commented on #3134
+1

Welcome @hanamantagoudvk !!

[2021-12-14 03:39] rajaskakodkar commented on #3135
+1

Welcome @VivekThrivikraman-est !

[2021-12-14 03:40] oomichi commented on #3144
Thanks for your contributions.

+1 from me.

[2021-12-14 05:33] cristicalin commented on #3144
Great work and looking forward to more contributions!

+1 from me too.

[2021-12-14 06:54] palnabarun commented on #3124
@anusha94 -- Thank you for all your contributions to Cluster API, kpng and test-infra.

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:54] palnabarun commented on #3128
@h4ghhh -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:54] palnabarun commented on #3130
@deepakkinni -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:55] palnabarun commented on #3132
@HanFa -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:55] palnabarun commented on #3133
@mikeshng -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:55] palnabarun commented on #3134
@hanamantagoudvk -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:55] palnabarun commented on #3135
@VivekThrivikraman-est -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:55] palnabarun commented on #3137
@Xenwar -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:56] palnabarun commented on #3141
@chrischdi -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:56] palnabarun commented on #3142
@mdbooth -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 06:57] palnabarun commented on #3124
/assign

[2021-12-14 06:57] palnabarun commented on #3128
/assign

[2021-12-14 06:57] palnabarun commented on #3132
/assign

[2021-12-14 06:57] palnabarun commented on #3133
/assign

[2021-12-14 06:57] palnabarun commented on #3134
/assign

[2021-12-14 06:57] palnabarun commented on #3135
/assign

[2021-12-14 06:57] palnabarun commented on #3137
/assign

[2021-12-14 06:57] palnabarun commented on #3141
/assign

[2021-12-14 06:57] palnabarun commented on #3142
/assign

[2021-12-14 07:09] palnabarun commented on #3144
@zhengtianbao -- Thank you for all your contributions so far!

I have filed PR #3146 to add you to the requested organisation. Once the PR gets merged, you will membership invite notifications!

Welcome! 🎉

[2021-12-14 07:12] palnabarun commented on #3144
/assign

[2021-12-14 07:46] floryut commented on #3144
No longer really needed but +1

Thanks @zhengtianbao

[2021-12-14 08:08] #3124 closed

[2021-12-14 08:08] #3128 closed

[2021-12-14 08:08] #3130 closed

[2021-12-14 08:08] #3132 closed

[2021-12-14 08:08] #3133 closed

[2021-12-14 08:08] #3134 closed

[2021-12-14 08:08] #3135 closed

[2021-12-14 08:08] #3137 closed

[2021-12-14 08:08] #3141 closed

[2021-12-14 08:08] #3142 closed

[2021-12-14 08:08] #3144 closed

[2021-12-14 16:55] uablrek commented on #3068
It works! https://github.com/kubernetes/kubernetes/pull/107027#issuecomment-993659944

I permit access and requested acceptance for company CLA for "Nordix". I don't know if anybody did something or if the request/permit was enough. Anyway, I am good. Thanks :+1:

[2021-12-14 16:59] aznashwan commented on #3068
Hello Everyone,

I have [this PR](https://github.com/kubernetes-sigs/cri-tools/pull/855) on `kubernetes-sigs/cri-tools` where I believe the CLA (re)checking does not work properly.

I had indeed initially submitted the PR without the CLA, but I'm 99% sure me/my management have followed the correct steps for my PR to be accepted afterwards (we contribute to CNCF projects regularly so we're used to

[2021-12-14 19:16] ameukam commented on #3143
cc @spiffxp @thockin

[2021-12-16 18:07] rmohr opened #3151 "REQUEST: New membership for rmohr"
### GitHub Username

@rmohr

### Organization you are requesting membership in

kubernetes-sigs, kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://group

[2021-12-16 18:49] cchengleo commented on #3151
@rmohr has actively contributed to cluster-api-provider-kubevirt since the beginning. We would definitely support his membership!

👍

[2021-12-16 18:54] agradouski commented on #3151
fully support @rmohr membership! great collaboration, and very insightful contributions!

[2021-12-16 19:02] cblecker commented on #3119
/assign

[2021-12-16 19:09] cblecker commented on #3119
I've created the repo, but haven't built out the write/admin teams yet as it seems unclear on who should be in those.

Todo:
- If folks with that access is required, please advise who should be in them (should be signed off by a sig-c-l TL)
- Add references to this repo in sigs-yaml

[2021-12-17 09:30] justaugustus commented on #966
/remove-lifecycle rotten

[2021-12-17 13:18] sttts commented on #3151
+1 for Roman being an org member!

[2021-12-17 14:18] alvaroaleman commented on #3151
+1

[2021-12-20 09:34] minbaev opened #3152 "REQUEST: New membership for minbaev - Alexander Minbaev"
### GitHub Username

@minbaev

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gro

[2021-12-20 13:49] ahg-g commented on #3152
/lgtm

Thanks!

[2021-12-21 04:09] Garima-Negi opened #3154 "REQUEST: New membership for <@Garima-Negi>"
### GitHub Username

@Garima-Negi

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https:/

[2021-12-21 04:17] divya-mohan0209 commented on #3154
+1 from my side. Thank you for all your contributions 🙌 Welcome to the community!

[2021-12-21 05:11] anubha-v-ardhan commented on #3154
+1, Thanks for the contributions

[2021-12-21 23:49] justaugustus commented on #2332
/remove-lifecycle rotten
/lifecycle frozen

[2021-12-22 21:18] Jont828 opened #3156 "REQUEST: New membership for Jont828"
### GitHub Username

@Jont828

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.c

[2021-12-23 05:42] shysank commented on #3156
+1, Thanks for all your contributions to capi/capz!

[2021-12-27 17:45] Huang-Wei commented on #3152
+1

[2021-12-28 15:19] MartinForReal opened #3157 "REQUEST: New membership for MartinForReal"
### GitHub Username

@MartinForReal

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.go

[2021-12-28 15:25] MartinForReal commented on #3157
@feiskyer @detiber Could you please sponsor my application? Thanks in advance!

[2021-12-28 21:34] markyjackson-taulia commented on #2342
/remove-lifecycle stale

[2021-12-29 02:26] feiskyer commented on #3157
Thanks for contributions.
+1 from me.

[2021-12-31 03:39] shuaijinchao opened #3159 "REQUEST: New membership for shuaijinchao"
### GitHub Username

@shuaijinchao

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https:

[2021-12-31 03:42] tao12345666333 commented on #3159
Thanks for your contributions.

+1 from me.

[2021-12-31 03:44] tengqm commented on #3159
+1

[2021-12-31 20:12] jingxu97 commented on #3145
+1

[2022-01-02 02:29] moonming commented on #3159
+1

[2022-01-04 13:52] schrej opened #3160 "REQUEST: New membership for schrej"
### GitHub Username

@schrej

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2022-01-04 13:59] enxebre commented on #3160
awesome! +1

[2022-01-05 14:49] randomvariable commented on #3157
+1 from me!

[2022-01-05 14:49] randomvariable commented on #3160
Thanks for everything!
+1

[2022-01-05 20:26] klaases opened #3162 "REQUEST: New membership for klaases"
### GitHub Username

klaases

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/for

[2022-01-05 21:14] spowelljr commented on #3162
I sponsor @klaases

[2022-01-05 21:59] afbjorklund commented on #3162
I sponsor @klaases