[2019-11-19 19:46] nzoueidi commented on #1427
Hey there @huynguyennovem, thank you for all your contributions so far :)

I've created PR #1430 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-11-19 20:01] #1408 closed

[2019-11-19 20:01] #1426 closed

[2019-11-19 20:01] #1427 closed

[2019-11-19 22:08] dims commented on #1429
+1 from me as well. welcome

[2019-11-20 01:33] akshaymankar commented on #651
Hi @nikhita,

Apologies for silence for so long on this one.

I have created a PR for running unit tests for our repo using prow presubmits here: https://github.com/kubernetes/test-infra/pull/15331

There is a question about caching there, I am not sure if it is possible to cache things in prow.

Also, I copied all the `OWNERS` from the haskell-client repo to prow config directory, now the ci-robo

[2019-11-20 01:56] huynguyennovem commented on #1427
Thank you @nzoueidi :)

[2019-11-20 13:07] nikhita commented on #1051
/remove-lifecycle stale

On Wed, Nov 20, 2019 at 3:29 PM fejta-bot <notifications@github.com> wrote:

[2019-11-20 15:04] smileisak opened #1432 "REQUEST: New membership for smileisak"
### GitHub Username
smileisak

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-11-20 16:07] nikhita commented on #963
/remove-lifecycle stale

On Wed 20 Nov, 2019, 1:59 AM fejta-bot, <notifications@github.com> wrote:

[2019-11-21 15:57] nzoueidi commented on #1429
/assign

[2019-11-21 19:11] nzoueidi commented on #1429
Hey there @hvaara, thank you for all your contributions so far :)

I've created PR #1435 to add you to the <org name> Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-11-21 19:22] cstoku opened #1436 "website-maintainers team doesn't have write permission"
### Organization or repository
[Kubernetes/website-maintainers](https://github.com/orgs/kubernetes/teams/website-maintainers)
[kubernetes/website](https://github.com/kubernetes/website)

### Users affected
Users who belong to the website-maintainers team

### Describe the issue
This team doesn't have k/website write permission.
This makes it impossible to create a branch.

[2019-11-21 19:24] cstoku commented on #1436
/cc zacharysarah

[2019-11-21 19:35] #1429 closed

[2019-11-21 21:20] rlenferink commented on #1436
/cc @zacharysarah

/cc @nikhita @mrbobbytables

[2019-11-22 07:16] zhuangqh opened #1438 "REQUEST: New membership for zhuangqh"
### GitHub Username

@zhuangqh

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-11-22 07:20] Fei-Guo commented on #1438
+1 Jerry has done excellent development work in sig-multitenancy, welcome!

[2019-11-22 07:28] gochist commented on #1436
This blocks finishing Korean l10n team milestone `dev-1.16-ko.5` and starting `dev-1.16-ko.6`.

[2019-11-22 08:11] justaugustus commented on #1436
/assign @cblecker

[2019-11-22 08:12] justaugustus commented on #1436
(Just a heads up that a bunch of the @kubernetes/owners team is at KubeCon, so this may take a little bit.)

[2019-11-22 12:47] rjbez17 commented on #1438
+1

[2019-11-22 14:28] nikhita commented on #1436
Granted website-maintainers write access to the repo.

@zacharysarah I noticed that `sig-docs-maintainers` also had write access. Two questions:

1. Should write access be revoked from this team?

2. Do we still need this team now that we have `website-maintainers`, `website-admins` and language specific teams?

[2019-11-22 16:35] nzoueidi commented on #1438
/assign

[2019-11-24 19:53] nzoueidi commented on #1438
Hey there @zhuangqh, thank you for all your contributions so far :)

I've created PR #1439 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2019-11-25 15:41] #1438 closed

[2019-11-25 17:41] lpabon opened #1442 "REQUEST: Create github.com/kubernetes-csi/csi-controller REPO"
### New Repo, Staging Repo, or migrate existing
Migrate github.com/lpabon/csi-controller

### Requested name for new repository
csi-controller

### Which Organization should it reside
github.com/kubernetes-csi

### If not a staging repo, who should have admin access
@msau42 , @lpabon, @jsafrane

### If not a staging repo, who should have write access
None

### If not a staging repo, who should be

[2019-11-26 14:55] liu-cong commented on #1316
+1
Looking forward to your future involvement @notpad !

[2019-11-26 15:02] draveness commented on #1316
+1 Thanks for the contribution.

[2019-11-26 17:14] wojtek-t commented on #1316
+1

[2019-11-27 12:17] notpad commented on #1316
/assign @nzoueidi

[2019-11-27 15:56] nzoueidi commented on #1432
Hey @smileisak according to membership requirements, you will need to contribute to 1 or more subprojects and you will need also to have 2 sponsors for your application.
https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2019-11-27 17:55] Arvinderpal opened #1443 "REQUEST: New membership for Arvinderpal"
### GitHub Username
@Arvinderpal

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-11-27 18:04] neolit123 commented on #1443
thank you for the contributions @Arvinderpal !
+1

[2019-11-27 18:06] ereslibre commented on #1443
Thank you for your contributions @Arvinderpal!
+1 as well :)

[2019-11-27 20:06] nzoueidi commented on #1443
/assign

[2019-11-27 20:21] nzoueidi commented on #1443
Hey there @Arvinderpal, thank you for all your contributions so far :)

I've created PR #1444 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-11-27 20:22] nzoueidi commented on #1316
Hey there @notpad, thank you for all your contributions so far :)

I've created PR #1444 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-11-27 20:43] #1316 closed

[2019-11-27 20:43] #1443 closed

[2019-11-27 22:37] msau42 commented on #1442
@lpabon it would be good to reference the discussion on the sig-storage mailing list too.

For description, I would probably reword it to something like:
[code]

[2019-11-27 22:38] msau42 commented on #1442
/assign @saad-ali

[2019-11-27 22:39] msau42 commented on #1442
/assign @msau42 @jsafrane

[2019-11-28 08:08] jsafrane commented on #1442
/lgtm
(or +1, not sure about the process)

[2019-11-28 08:56] njuettner opened #1445 "REQUEST: New membership for njuettner"
### GitHub Username
njuettner

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-11-28 08:58] Raffo opened #1446 "REQUEST: New membership for Raffo"
### GitHub Username
@Raffo

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-11-28 09:36] szuecs commented on #1445
+1 welcome!

[2019-11-28 09:37] szuecs commented on #1446
+1 welcome!

[2019-11-28 15:20] smileisak commented on #1432
@nzoueidi thank you for your response, i've contributed to helm/chart project is it enough or it needs more :p...

[2019-11-28 15:25] mrbobbytables commented on #1432
@smileisak Helm is it's own project with their own membership guidelines. For Kubernetes it must be contributions to one or more things associated with one of the Kubernetes owned subprojects. Sponsors are still a requirement as well. 👍

[2019-11-28 16:10] smileisak commented on #1432
Thanks @mrbobbytables, i'll close this issue. ;)

[2019-11-28 16:10] smileisak commented on #1432
/close

[2019-11-28 16:10] #1432 closed

[2019-11-29 11:55] linki commented on #1445
+1

[2019-11-29 11:55] linki commented on #1446
+1

[2019-12-01 18:11] smileisak opened #1448 "REQUEST: New membership for smileisak"
### GitHub Username
smileisak

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-12-01 18:15] nzoueidi commented on #1446
/assign

[2019-12-01 18:15] nzoueidi commented on #1445
/assign

[2019-12-01 18:29] nzoueidi commented on #1446
Hey there @Raffo, unfortunately @szuecs and @linki cannot sponsor you for membership in the @kubernetes org, as they are not an approvers nor reviewers in the @kubernetes org.

If you have any questions don't be afraid to ask.

Thanks!

[2019-12-01 18:31] nzoueidi commented on #1445
Hey there @njuettner, unfortunately @szuecs and @linki cannot sponsor you for membership in the @kubernetes org, as they are not an approvers nor reviewers in the @kubernetes org.

If you have any questions don't be afraid to ask.

Thanks!

[2019-12-01 22:26] oussemos commented on #1448
+1

[2019-12-02 09:30] Raffo commented on #1446
Ugh thanks @nzoueidi. Who should we ping then?

[2019-12-02 09:32] szuecs commented on #1446
@Raffo I asked @thockin and @dims in slack. I think @thockin because sig-network and I have some contact to @dims, so I chose him.

[2019-12-02 12:58] dims commented on #1446
+1 from me.

[2019-12-02 15:17] andyzhangx opened #1449 "Create repositories for blobfuse-csi-driver as a Cloud Provider Azure subproject"
### New Repo, or migrate existing
migrate repository

### Requested name for new repository
blobfuse-csi-driver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@andyzhangx @khenidak @justaugustus @brendandburns  @feiskyer @lachie83

### If not a staging repo, who should have write access
@andyzhangx
@khenidak
@feiskyer
@brendandburn

[2019-12-02 15:46] mrbobbytables commented on #1442
Usually there's some discussion on the sig ML, and general sign-off from sig-leads (@saad-ali). We need their ack that it is something the sig wants to maintain before moving forward with repo creation/migration.

[2019-12-02 17:18] haiyanmeng opened #1450 "REQUEST: New membership for haiyanmeng"
### GitHub Username
@haiyanmeng

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-12-02 17:20] haiyanmeng commented on #1450
/assign @monopole

[2019-12-02 17:20] haiyanmeng commented on #1450
/assign @mrbobbytables

[2019-12-02 17:22] pwittrock commented on #1450
+1

[2019-12-02 17:22] pwittrock commented on #1450
/assign @pwittrock

[2019-12-02 17:23] pwittrock commented on #1450
/unassign @monopole

[2019-12-02 17:24] mrbobbytables commented on #1450
+1
Thanks for helping with kustomize!

[2019-12-02 17:29] thockin commented on #1445
+1

[2019-12-02 17:29] thockin commented on #1446
+1

[2019-12-02 18:40] dims commented on #1445
+1 from me!

[2019-12-02 22:04] monopole commented on #1450
+1

[2019-12-02 23:13] marosset opened #1451 "REQUEST: New membership for marosset"
### GitHub Username
@marosset

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-12-02 23:22] michmike commented on #1451
thank you Mark for your contributions to Windows on K8s. I support this.
+1

[2019-12-03 00:09] joncwong opened #1452 "REQUEST: New membership for @joncwong"
### GitHub Username
@joncwong

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-12-03 00:12] joncwong commented on #1452
/assign @pwittrock
/assign @mrbobbytables

[2019-12-03 00:27] PatrickLang commented on #1451
+1 :)

[2019-12-03 01:26] pwittrock commented on #1452
+1

[2019-12-03 01:26] mrbobbytables commented on #1452
+1 from me as well :)

[2019-12-03 06:19] feiskyer commented on #1449
Looks good to me

[2019-12-03 09:25] njuettner commented on #1445
@nzoueidi I got now more approvals, would this be ok now?

[2019-12-03 09:25] nzoueidi commented on #1450
/assign

[2019-12-03 09:25] nzoueidi commented on #1451
/assign

[2019-12-03 09:25] nzoueidi commented on #1452
/assign

[2019-12-03 14:39] mrbobbytables commented on #1449
Assigning the cloud-provider leads for sign off.

/assign @andrewsykim @cheftako
/sig cloud-provider

[2019-12-03 20:48] nzoueidi commented on #1445
Hey there @njuettner, thank you for all your contributions so far :)

I've created PR #1453   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-03 20:49] nzoueidi commented on #1446
Hey there @Raffo, thank you for all your contributions so far :)

I've created PR #1453   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-03 20:49] nzoueidi commented on #1450
Hey there @haiyanmeng, thank you for all your contributions so far :)

I've created PR #1453   to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-03 20:49] nzoueidi commented on #1451
Hey there @marosset, thank you for all your contributions so far :)

I've created PR #1453   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-03 20:49] nzoueidi commented on #1452
Hey there @joncwong, thank you for all your contributions so far :)

I've created PR #1453   to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-03 21:05] #1445 closed

[2019-12-03 21:05] #1446 closed

[2019-12-03 21:05] #1450 closed

[2019-12-03 21:05] #1451 closed

[2019-12-03 21:05] #1452 closed

[2019-12-03 21:44] marosset commented on #1451
Thanks All!

[2019-12-03 22:19] joncwong commented on #1452
Thanks a ton @pwittrock, @mrbobbytables, and @nzoueidi!

[2019-12-04 05:15] nikhita commented on #1436
/unassign @cblecker
/assign @zacharysarah @jimangel @Bradamant3

[2019-12-04 19:20] moshloop opened #1456 "netlify: image-builder.sigs.k8s.io"
### Repository
kubernetes-sigs/image-builder

### Project domain
image-builder.sigs.k8s.io

### Additional context for request

This site will host the docs for image-builder project

[2019-12-04 19:35] blakebarnett opened #1457 "REQUEST: New membership for blakebarnett"
### GitHub Username
blakebarnett

### Organization you are requesting membership in
(at)kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-12-04 19:43] mikesplain commented on #1457
Thanks @blakebarnett!

/lgtm

[2019-12-05 08:49] zhucan opened #1460 "REQUEST: New membership for zhucan"
### GitHub Username
@zhucan

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-12-05 19:42] nader-ziada opened #1463 "REQUEST: New membership for @nader-ziada"
### GitHub Username
@nader-ziada

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-12-05 23:11] mrbobbytables commented on #1456
I've enabled netlify for the repo and set it up with the domain:
https://kubernetes-sigs-image-builder.netlify.com/

Till the dns record is ready -- in the meantime, can you add a [netlify config](https://docs.netlify.com/configure-builds/file-based-configuration/#sample-file) to the root of the repo? The site will remain blank until that's found there 😬

Additional Context:
ref: https://github.co

[2019-12-05 23:42] cheftako commented on #1449
/approve

[2019-12-05 23:42] cheftako commented on #1449
/lgtm

[2019-12-06 03:08] vincepri commented on #1463
+1

[2019-12-06 05:01] prankul88 opened #1464 "REQUEST: New membership for prankul88"
### GitHub Username
@prankul88

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-12-06 05:29] jichenjc commented on #1464
+1 to me, thanks~

[2019-12-06 06:25] andyzhangx commented on #1449
@mrbobbytables do you know who will do the repo migration? I will add that github id into blobfuse driver org admin, thanks.

[2019-12-06 06:26] nikhita commented on #1449
@andyzhangx I can do that, since I'm around now. :)
Please add me as an admin to the repo. Thanks!

/assign

[2019-12-06 06:28] andyzhangx commented on #1449
thanks, invited.

[2019-12-06 06:38] nikhita commented on #1449
Just adding this for the record:

- I have verified CLA, and all contributors have signed the CNCF CLA.
- I ran a FOSSA scan on the repo and while there were a few dependencies flagged, they were indirect dependencies due to vendoring in `k8s.io/kubernetes`. The flagged dependencies where indirectly being used by `k8s.io/kubernetes`, so I think this should be fine.
- Verified that the repo has all

[2019-12-06 06:55] nikhita commented on #1449
Repo has been migrated: https://github.com/kubernetes-sigs/blobfuse-csi-driver :tada:

@andyzhangx I have not updated the OWNERS files since a bunch of approvers mentioned are not members of the @kubernetes-sigs org. They are being added in https://github.com/kubernetes/org/pull/1465, so once it merges, feel free to create a PR to add them to OWNERS files.

Also created:

- https://github.com/kube

[2019-12-06 07:15] estroz opened #1466 "REQUEST: New membership for @estroz"
### GitHub Username
@estroz

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-12-06 15:44] joelanford commented on #1466
Big 👍 from me! 🎉

[2019-12-06 16:01] ncdc commented on #1464
+1

[2019-12-06 17:03] CecileRobertMichon commented on #1463
Thanks @nader-ziada!

+1

[2019-12-06 18:24] nader-ziada commented on #1463
Thanks @vincepri and @CecileRobertMichon

[2019-12-06 21:33] carlosedp opened #1469 "REQUEST: New membership for carlosedp"
### GitHub Username

@carlosedp

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-12-06 21:34] BenTheElder commented on #1469
Thanks for your contributions, excited to see kubernetes on riscv :-)

[2019-12-06 21:53] yagonobre commented on #1469
Happy to see you here, thanks for your contributions.
+1

[2019-12-07 05:35] MorrisLaw opened #1470 "REQUEST: New membership for MorrisLaw"
### GitHub Username
@MorrisLaw

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-12-08 00:35] andrewsykim commented on #1470
+1 from me, thank you @MorrisLaw

[2019-12-08 01:06] alejandrox1 commented on #1470
+111!!! Thank you for all your hard work @MorrisLaw

/assign @nzoueidi
ptal :smile:

[2019-12-08 13:26] justaugustus commented on #1449
@andyzhangx -- Can you provide a link to where this was discussed?

[2019-12-08 17:12] nzoueidi commented on #1469
/assign

[2019-12-08 17:12] nzoueidi commented on #1464
/assign

[2019-12-08 17:12] nzoueidi commented on #1463
/assign

[2019-12-08 17:27] nzoueidi commented on #1469
Hey there @carlosedp, thank you for all your contributions so far :)

I've created PR #1471 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-08 17:27] nzoueidi commented on #1464
Hey there @prankul88, thank you for all your contributions so far :)

I've created PR #1471 to add you to the Kubernetes & Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-08 17:28] nzoueidi commented on #1463
Hey there @nader-ziada, thank you for all your contributions so far :)

I've created PR #1471 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-08 17:28] nzoueidi commented on #1470
Hey there @MorrisLaw, thank you for all your contributions so far :)

I've created PR #1471 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-08 19:23] #1463 closed

[2019-12-08 19:23] #1464 closed

[2019-12-08 19:23] #1469 closed

[2019-12-08 19:23] #1470 closed

[2019-12-09 00:52] justaugustus commented on #1051
Any updates on this one?

[2019-12-09 16:48] zacharysarah commented on #1436
@nikhita 👋 Thanks for your patience.

Yes.

No.

I'll open a separate PR to remove the team. Thanks, @nikhita, for surfacing the concern! 🙇

[2019-12-09 16:48] zacharysarah commented on #1436
@gochist To be clear, you should have write access now. Do you have what you need?

[2019-12-09 16:58] zacharysarah commented on #1436
fixed by #1375

/close

[2019-12-09 16:58] #1436 closed

[2019-12-09 18:09] lpabon commented on #1442
Gotcha, I will add to the mailing list.

[2019-12-09 18:09] lpabon commented on #1442
Gotcha, I will add to the mailing list.

[2019-12-10 20:38] justaugustus opened #1474 "Fork of k/k to be used for Release Engineering integration tests"
### New Repo, Staging Repo, or migrate existing
New repo, fork of k/k

### Requested name for new repository
`kubernetes/release-test`

### Which Organization should it reside
kubernetes (It's helpful here to keep it in the kubernetes org, since all of the SIG Release assignment/ping teams are there.)

### If not a staging repo, who should have admin access
https://github.com/kubernetes/org/blob/d

[2019-12-10 21:10] tpepper commented on #1474
I suspect this might be more work, but...if we're going to change something:

I'd like to see us consider change tooling to explicitly reference a (repo,branch) tuple.  If k/k:master is today implicit, or only the k/k part as a repo is configurable (ie: "kubernetes/kubernetes" is in a bunch of repo variables in test-info yaml...and the proposal is to reference instead some new k/otherk, can we mak

[2019-12-10 21:31] tpepper commented on #1474
We do already have sig-release tests that are branch specific, with repo explicit and branch explicit, eg:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml#L370
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml#L373

[2019-12-10 21:38] gab-satchi opened #1475 "REQUEST: New membership for gab-satchi"
### GitHub Username
@gab-satchi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-12-10 21:47] michmike commented on #1475
thank you for your contributions @gab-satchi !!!
+1

[2019-12-11 00:00] gongguan opened #1476 "REQUEST: New membership for gongguan"
### GitHub Username
@gongguan

### Organization you are requesting membership in
@kubernetes

### Requirements
* [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x]  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-12-11 00:05] robscott commented on #1476
:+1:

[2019-12-11 00:22] gongguan commented on #1476
I'm sorry that I haven't realized sponsors should belong to different company. I'll find another sponsor later.

[2019-12-11 02:17] gongguan commented on #1476
gentle ping @neolit123

[2019-12-11 02:39] neolit123 commented on #1476
+1 thank you for the PRs thus far!

[2019-12-11 07:16] wojtek-t commented on #1476
+1 - I support this request

[2019-12-11 08:08] saschagrunert commented on #1474
I like this idea and see two scenarios which we could cover with such a repository, for which I have a question:

- **Having a playground for developing krel.**
  - Do we have a chance to mirror the repos with all its branches and tags?
- **Integration testing of krel / release notes.**
  - How can we maintain a reproducible starting state for writing the integration/e2e tests?
  (Thinking: We cou

[2019-12-11 08:33] xrmzju opened #1477 "REQUEST: New membership for xrmzju"
### GitHub Username
xrmzju

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-12-11 14:12] detiber commented on #1477
+1 from me, @xrmzju has been a valuable contributor to cluster-api and cluster-api-provider-aws :)

[2019-12-11 16:13] nzoueidi commented on #1476
/assign

[2019-12-11 19:06] aaroniscode opened #1478 "REQUEST: New membership for @aaroniscode"
### GitHub Username
@aaroniscode

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-12-11 19:10] detiber commented on #1478
+1 @aaroniscode has been an incredible asset to the cluster-api, cluster-api-provider-aws, and image-builder projects.

[2019-12-11 19:19] moshloop commented on #1478
+1

[2019-12-11 19:27] moshloop commented on #1456
It looks like the DNS is all up and the redirects are working but it still returns a Not Found

[2019-12-11 19:28] mrbobbytables commented on #1456
@moshloop now that it has a netlify.toml file in there I can finish up the configuration on the netlify side 👍

[2019-12-11 19:35] mrbobbytables commented on #1456
Finished configuration. The site is available here: http://image-builder.sigs.k8s.io
It'll take a little time before the ssl cert is provisioned, but it should be complete no matter what by EoD.

[2019-12-11 22:56] ggriffiths opened #1480 "REQUEST: New membership for ggriffiths"
### GitHub Username
e.g. @ggriffiths

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2019-12-12 00:04] msau42 commented on #1480
+1 Grant has been doing a lot of great working with the snapshots feature!

[2019-12-12 02:42] nikhita commented on #963
Update: the kubernetes-security coupon which provided us free access to GitHub Team recently expired (it was valid for 2 years). We now have a new coupon (thanks to GitHub!) which provides us 100% off forever.

[2019-12-12 08:30] jsafrane commented on #1480
+1 for his snapshot work.

[2019-12-12 13:11] mrbobbytables commented on #1456
Things look good, site is live with the correct cert 👍
Going to go ahead and close this issue, if you have any problems feel free to reopen or ping me on slack.

Thanks!
/close

[2019-12-12 13:11] #1456 closed

[2019-12-12 14:23] saschagrunert opened #1484 "Administrative access to kubernetes-sigs/cri-tools for saschagrunert"
### Organization or repository

[kubernetes-sigs/cri-tools](https://github.com/kubernetes-sigs/cri-tools)

### Users affected

@saschagrunert

### Describe the issue

I need admin access to draft releases and edit tags, so I'm kindly asking to grant me those. :)

Referring to: https://github.com/kubernetes-sigs/cri-tools/issues/558

[2019-12-12 15:04] justaugustus commented on #1484
cc: @kubernetes/owners

@feiskyer @Random-Liu for approval

[2019-12-12 15:30] msau42 commented on #1460
+1 Louis has helped fix issues in the gce PD CSI driver

[2019-12-12 18:03] lpabon commented on #1442
Closing issue. Please see mailing list for more information: https://groups.google.com/d/msg/kubernetes-sig-storage/BMLIZcGT2FU/WmNuG8CbAQAJ

[2019-12-12 18:03] #1442 closed

[2019-12-12 18:55] DirectXMan12 commented on #1477
:+1: they've been contributing nicely to controller-runtime as well.

[2019-12-12 19:21] davidz627 commented on #1460
+1

[2019-12-12 19:35] mrbobbytables commented on #1457
+1 :)

[2019-12-12 19:37] mrbobbytables commented on #1460
@zhucan do you happen to know a non-googler that could +1 you? =/ Our [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#member) require sponsors to be from different organizations.

[2019-12-12 20:39] DirectXMan12 commented on #1466
👍 from me

[2019-12-12 22:00] justinsb commented on #1457
+1 from me.. surprised to learn this wasn't already the case!

[2019-12-13 06:24] zhucan commented on #1460
@mrbobbytables Maybe @xing-yang or @gnufied could +1 for me?

[2019-12-13 06:47] xing-yang commented on #1460
+1
@zhucan has been helping with volume snapshot work.

[2019-12-13 13:49] feiskyer commented on #1484
+1

[2019-12-13 23:19] justaugustus commented on #1474
@saschagrunert is correctly describing the scenarios I have in mind.

[2019-12-13 23:25] justaugustus commented on #1474
/remove-priority important-soon
/priority critical-urgent
/assign @cblecker @nikhita @mrbobbytables @spiffxp

https://github.com/kubernetes/kubernetes/issues/86182 makes a decent case for us having a playground to vet release changes against.

cc: @liggitt @ixdy

[2019-12-16 12:47] mrbobbytables commented on #1457
Hey there @blakebarnett , thank you for all your help with the kops subproject \o/

I've created PR #1485  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-12-16 12:48] mrbobbytables commented on #1460
@zhucan  thank you for all your contributions so far :)

I've created PR #1485  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-12-16 12:50] mrbobbytables commented on #1466
@estroz  thank you for all your help with controller-runtime and kubebuilder \o/

I've created PR #1485  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-12-16 12:51] mrbobbytables commented on #1476
Hey there @gongguan , thank you for all your contributions so far :)

I've created PR #1485  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-12-16 12:51] mrbobbytables commented on #1477
@xrmzju , thank you for all your help with controller-runtime and cluster-api :)

I've created PR #1485  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-12-16 12:54] mrbobbytables commented on #1478
@aaroniscode, thank you for all your help with the cluster-api and image-builder :)

I've created PR #1485  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-12-16 12:55] mrbobbytables commented on #1480
Hey there @ggriffiths , thank you for all your help with csi :)

I've created PR #1485  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-12-16 13:01] #1457 closed

[2019-12-16 13:01] #1460 closed

[2019-12-16 13:01] #1466 closed

[2019-12-16 13:01] #1476 closed

[2019-12-16 13:01] #1477 closed

[2019-12-16 13:01] #1478 closed

[2019-12-16 13:01] #1480 closed

[2019-12-16 13:33] mrbobbytables commented on #1245
Checking back in on this issue -- it looks like the initial code review was completed? Is this still looking to be migrated in?

[2019-12-16 17:13] ggriffiths commented on #1480
Thank you all!

[2019-12-16 21:58] aramase commented on #1245
@mrbobbytables Yes, we are planning to migrate it to `kubernetes-sigs`. The code review has been complete and all the issues identified in code reviews have been addressed. @ritazh has sent a note to the mailing group (https://groups.google.com/d/msg/kubernetes-sig-auth/HeNMNFbwQig/oO0VpvU7BgAJ) to check if there are any concerns or issues. If not, then I think we are ready for the next step to ma

[2019-12-17 09:16] shu-mutou commented on #945
kubernetes/dashboard repo also uses dependabot and faces same problem.

[2019-12-17 16:00] mikedanese commented on #1245
I'm happy to give the LGTM from the sig-auth side.

[2019-12-17 17:14] PatrickLang commented on #1475
+1 Thanks @gab-satchi !

[2019-12-17 18:41] ericavonb opened #1487 "REQUEST: New membership for ericavonb"
### GitHub Username
@ericavonb

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-12-17 18:41] ericavonb commented on #1487
@nikhita sorry for the delay on this!

[2019-12-17 20:39] mrbobbytables commented on #1487
+1
Thanks @ericavonb :)

[2019-12-17 20:45] justaugustus commented on #1487
Enthusiastic +1!

[2019-12-17 21:44] mrbobbytables opened #1488 "Archive kubernetes-incubator/rktlet"
### Repository to archive
https://github.com/kubernetes-incubator/rktlet

### Repository and/or sig subproject owners that are approving this archival
[sig-node] @derekwaynecarr

### When should this be done
Anytime

### Additional context for request
The repo has had no activity since May 2018 and rkt itself has been retired by the CNCF

/assign @derekwaynecarr

[2019-12-17 21:44] derekwaynecarr commented on #1488
/lgtm
/approve

[2019-12-18 00:06] pjh opened #1489 "REQUEST: New membership for pjh"
### GitHub Username
@pjh

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-12-18 00:11] mrbobbytables commented on #1489
@pjh Just an FYI -- as a member of the Kubernetes org, you do not need sponsorship to join the other kubernetes orgs :)
If you want, please feel free to PR yourself into k-sigs (commit msg should be `Add pjh to kubernetes-sigs org.`), or you can wait till we add the next batch of folk 👍

[2019-12-18 00:13] pjh commented on #1489
Ah, ok! I did not see that in https://github.com/kubernetes/community/blob/master/community-membership.md#member but maybe I just did not read carefully enough.

I will send a PR.

[2019-12-18 00:13] #1489 closed

[2019-12-18 06:21] Jefftree opened #1491 "REQUEST: Membership to kubernetes-sigs for @jefftree"
### GitHub Username
@Jefftree

### Organization you are requesting membership in

kubernetes-sigs

Am already a kubernetes member.

Ref: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/46#issuecomment-565662483

[2019-12-18 06:33] nikhita commented on #1491
/close
Fixed by https://github.com/kubernetes/org/pull/1492

@Jefftree you should get an invite to join @kubernetes-sigs from the bot soon. :)

[2019-12-18 06:33] #1491 closed

[2019-12-18 08:07] nikhita commented on #1484
https://github.com/kubernetes/org/blob/a8c57014da22fa0ae73fa8a94b4262336a31c47f/config/kubernetes-sigs/org.yaml#L424-L431

Please create a PR against this when ready. :)

[2019-12-18 08:13] zehuaiWANG opened #1494 "REQUEST: New membership for <zehuaiWANG>"
### GitHub Username
@zehuaiWANG

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-12-18 08:22] saschagrunert commented on #1484
Okay, did it in #1495

[2019-12-18 08:35] shu-mutou commented on #1494
Big +1!
@zehuaiWANG has been contributing in SIG-UI and has been active in the community.

[2019-12-18 08:41] hwdef commented on #1494
+1
Thanks for your contirbutions.

[2019-12-18 08:42] tanjunchen commented on #1494
+1
Thanks for your contirbutions.

[2019-12-18 15:28] mattmoyer commented on #1487
Enthusiastic +1 from me as well!

[2019-12-18 19:31] nzoueidi commented on #1475
/assign

[2019-12-18 19:31] nzoueidi commented on #1487
/assign

[2019-12-18 19:31] nzoueidi commented on #1494
/assign

[2019-12-18 19:43] nzoueidi commented on #1494
Hey there @zehuaiWANG, thank you for all your contributions so far :)

I've created PR #1496 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes 🎉

[2019-12-18 19:43] nzoueidi commented on #1487
Hey there @ericavonb, thank you for all your contributions so far :)

I've created PR #1496 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes 🎉

[2019-12-18 19:43] nzoueidi commented on #1475
Hey there @gab-satchi, thank you for all your contributions so far :)

I've created PR #1496 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes 🎉

[2019-12-18 22:25] #1487 closed

[2019-12-18 22:25] #1494 closed

[2019-12-18 22:25] #1475 closed

[2019-12-19 04:34] cblecker commented on #1484
Fixed in #1495
/close

[2019-12-19 04:34] #1484 closed

[2019-12-19 05:16] cblecker commented on #1488
/unasssign derekwaynecarr
/assign

[2019-12-19 05:26] cblecker commented on #1488
https://github.com/kubernetes/community/pull/4336
https://github.com/kubernetes/org/pull/1497

[2019-12-19 06:15] zhouya0 opened #1498 "REQUEST: New membership for <zhouya0>"
### GitHub Username
@zhouya0

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-12-19 06:24] seans3 commented on #1498
/assign
/assign @soltysh
/assign @neolit123

[2019-12-19 06:25] seans3 commented on #1498
+1

[2019-12-19 13:44] neolit123 commented on #1498
+1

[2019-12-19 16:53] msau42 commented on #1245
I reviewed the CSI driver and lgtm from sig-storage

[2019-12-19 17:40] cblecker commented on #1488
This is now done.

[2019-12-19 17:40] #1488 closed

[2019-12-19 22:13] chases2 opened #1499 "Kubernetes/cluster-registry appears to be abandoned"
### Organization or repository
kubernetes/cluster-registry

### Describe the issue
The repository hasn't been modified since March 13th. Issues in the repository are currently rotting away. Consider archiving this repository?

[2019-12-20 16:56] nzoueidi commented on #1498
/assign

[2019-12-21 00:48] cblecker commented on #1499
/assign @pmorie @quinton-hoole
/sig multicluster
Assigning sig-multicluster chairs

[2019-12-23 08:57] truongnh1992 opened #1501 "REQUEST: New membership for truongnh1992"
### GitHub Username
@truongnh1992

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-12-23 08:58] truongnh1992 commented on #1501
/assign nzoueidi

[2019-12-23 09:03] huynguyennovem commented on #1501
+1

[2019-12-23 09:09] remyleone commented on #1501
👍

[2019-12-23 09:12] truongnh1992 commented on #1501
Thank you @huynguyennovem and @remyleone

[2019-12-23 14:56] ngtuna commented on #1501
👍

[2019-12-23 17:05] soltysh commented on #1498
:+1:

[2019-12-23 19:58] nzoueidi commented on #1498
Hey there @zhouya0, thank you for all your contributions so far :)

I've created PR #1502  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-23 20:00] nzoueidi commented on #1501
Hey @truongnh1992 once this PR gets merged, you should get a membership invite notification for kubernetes-sigs org.

Thank you.

[2019-12-23 20:05] #1498 closed

[2019-12-23 20:05] #1501 closed

[2019-12-23 21:13] cblecker commented on #963
/unassign
/assign @idvoretskyi

So it looks like kubernetes and kubernetes-security now have the GitHub Team coupon that allows us private repos. There's still an odd discrepancy on our other orgs that some are GitHub Free and some are GitHub Teams for Open Source. Not sure what the difference is there.

I'm also curious if there is any chance of us upgrading to Enterprise plans, mostly because I

[2019-12-24 13:57] idvoretskyi commented on #963
It seems that the last public org audit was performed by @spiffxp half a year ago. Can we do a new audit in the nearest future to understand our current state of the orgs?

Any other desired features with the Enterprise plan besides this one? :)

[2019-12-24 16:57] vishakhanihore opened #1503 "REQUEST: New membership for vishakhanihore"
### GitHub Username

vishakhanihore

### Organization you are requesting membership in

kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-12-24 17:01] mrbobbytables commented on #1503
+1 from sponsor :)

[2019-12-24 18:11] parispittman commented on #1503
+1 from sponsor

welcome, @vishakhanihore!

[2019-12-24 19:05] mrbobbytables commented on #1503
@vishakhanihore  thank you for all your contributions so far \o/

I've created PR #1504   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/honk
/pony party

[2019-12-24 20:05] #1503 closed

[2019-12-25 04:03] du2016 opened #1505 "REQUEST: New membership for du2016"
### GitHub Username
@du2016

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-12-25 05:43] cblecker commented on #1505
It seems you have deleted the sponsorship section, but you’ve indicated that you have spoken to your sponsors. Can you please clarify?

[2019-12-25 08:49] du2016 commented on #1505
@cblecker done,thanks

[2019-12-25 08:51] Mr-Linus commented on #1505
+1 👍

[2019-12-26 13:22] mfilocha opened #1506 "REQUEST: New membership for mfilocha"
### GitHub Username
@mfilocha

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-12-26 13:33] rbenzair commented on #1506
+1 👍

[2019-12-26 13:33] rbenzair commented on #1506
Thank for your contribution to the kubernetes translation. You are welcome

[2019-12-26 21:51] remyleone commented on #1506
:+1:

Em qui, 26 de dez de 2019 13:33, Reda Benzair <notifications@github.com>
escreveu:

[2019-12-29 17:29] nzoueidi commented on #1506
/assign

[2019-12-29 17:37] nzoueidi commented on #1506
Hey there @mfilocha, thank you for all your contributions so far :)

I've created PR #1507 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-12-29 18:09] #1506 closed

[2019-12-30 20:46] cblecker commented on #963
I've verified the current status in the body of this issue, as well as added links to the billing page so it's easier for any Owner to do :)

[2019-12-30 20:51] cblecker commented on #1245
/assign @liggitt @deads2k @mikedanese
Reading the e-mail thread, I don't see a clear consensus from the technical leads. Could we get explicit sign off that this repo should be brought into @kubernetes-sigs ?

[2019-12-30 21:24] idvoretskyi commented on #963
@cblecker awesome, thanks!

[2020-01-02 02:27] hasbro17 opened #1511 "REQUEST: New membership for hasbro17"
### GitHub Username
@hasbro17

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-01-02 18:52] joelanford commented on #1511
Approve :+1:

[2020-01-02 19:28] DirectXMan12 commented on #1511
:+1:  from me

[2020-01-02 19:33] hasbro17 commented on #1511
Thanks @joelanford and @DirectXMan12

[2020-01-03 10:49] nzoueidi commented on #1511
/assign

[2020-01-03 10:49] nzoueidi commented on #1505
/assign

[2020-01-03 13:27] MJ-CJM commented on #1505
+1 👍

[2020-01-03 18:20] hakman opened #1514 "REQUEST: New membership for hakman"
### GitHub Username
@hakman

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-01-03 18:29] rifelpet commented on #1514
+1 👍
Thank you for the great work so far! I'm looking forward to your future contributions and involvement

[2020-01-03 19:24] nzoueidi commented on #1505
Hey @du2016 looks like @Mr-Linus and @MJ-CJM are not an approvers nor reviewers in the kubernetes org. Could you please look for sponsors that are already approvers or reviewers in the org.
More information about the github org membership are here:  https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2020-01-03 19:30] nzoueidi commented on #1511
Hey there @hasbro17, thank you for all your contributions so far :)

I've created PR #1515 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-01-03 19:53] #1511 closed

[2020-01-03 21:27] justinsb commented on #1514
Big +1 from me also!

[2020-01-03 22:18] hakman commented on #1514
Thank you @rifelpet @justinsb ! :)

[2020-01-06 02:14] du2016 commented on #1505
ok thanks

[2020-01-06 02:14] #1505 closed

[2020-01-06 03:38] nikhita commented on #1449
https://github.com/kubernetes/community/pull/4293 has merged. Closing.

/close

[2020-01-06 03:38] #1449 closed

[2020-01-07 02:44] marwanad opened #1518 "REQUEST: New membership for marwanad"
### GitHub Username
@marwanad

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-01-07 02:45] feiskyer commented on #1518
+1 for @marwanad contribution to autoscaler.

[2020-01-07 02:50] tariq1890 commented on #1518
+1 :)

[2020-01-07 03:33] juan-lee commented on #1518
+1 based on @marwanad's contribution to cluster autoscaler and cluster-api-provider-azure

[2020-01-07 08:56] justaugustus commented on #1518
+1!

[2020-01-07 14:37] hoegaarden opened #1519 "Archive kubernetes-sigs/testing_frameworks"
### Repository to archive
[kubernetes-sigs/testing_frameworks]

### Repository and/or sig subproject owners that are approving this archival
@hoegaarden
@DirectXMan12

### When should this be done
Anytime

### Additional context for request
The repo only holds one lib / framework. This framework is only been used by [kubernetes-sigs/controller-runtime], we don't know of any and couldn't find any o

[2020-01-07 15:49] mrbobbytables commented on #1519
/assign @spiffxp @stevekuznetsov @fejta
For sign off from the [sub-project owning sig (testing)](https://github.com/kubernetes/community/blob/master/sig-testing/README.md#testing-commons)

[2020-01-07 16:36] nzoueidi commented on #1518
/assign

[2020-01-07 16:37] nzoueidi commented on #1514
/assign

[2020-01-07 19:41] nzoueidi commented on #1518
Hey there @marwanad, thank you for all your contributions so far :)

I've created PR #1521 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-07 19:41] nzoueidi commented on #1514
Hey there @hakman, thank you for all your contributions so far :)

I've created PR #1521 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-07 21:12] robscott opened #1522 "REQUEST: New membership for robscott"
### GitHub Username
@robscott

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-01-08 04:27] #1518 closed

[2020-01-08 04:27] #1514 closed

[2020-01-08 18:04] aojea commented on #1522
+1 @robscott

[2020-01-08 18:17] mrbobbytables commented on #1522
As a member of Kubernetes, you're implicitly allowed to join the other organizations. You don't need sponsorship :)
If you need immediate access, please feel free to open a PR adding yourself to the kubernetes-sigs org.
If not, it'll get handled when the next batch of membership requests are processed 👍

If you have questions, please feel free to poke me here or on slack.

Thanks!

[2020-01-08 18:56] bowei commented on #1522
+1

[2020-01-09 06:28] johngmyers opened #1527 "REQUEST: New membership for johngmyers"
### GitHub Username
@johngmyers

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-01-09 13:10] rifelpet commented on #1527
+1 from me, thanks for your contributions!

[2020-01-09 15:13] ingvagabund opened #1529 "Migrate cluster-capacity to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
migrate existing (https://github.com/kubernetes-incubator/cluster-capacity)

### Requested name for new repository
cluster-capacity

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@ingvagabund

### If not a staging repo, who should have write access
@ingvagabund

### If not a staging r

[2020-01-09 15:15] ahg-g commented on #1529
/sig scheduling

Sounds good to me.

[2020-01-09 15:47] phumberdroz opened #1530 "REQUEST: New membership for phumberdroz"
### GitHub Username
@phumberdroz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-01-09 15:51] castrojo commented on #1530
+1 from me, I will be mentoring Pierre through the slack moderation process.

[2020-01-09 15:53] mrbobbytables commented on #1530
+1 from me as well.

[2020-01-09 15:55] elisiano opened #1531 "REQUEST: New membership for elisiano"
### GitHub Username
@elisiano

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-01-09 15:56] castrojo commented on #1531
+1 from me, I will be mentoring Elisiano through the slack moderation process.

[2020-01-09 16:06] mrbobbytables commented on #1531
+1 from other slack admin.

[2020-01-09 16:09] jeefy commented on #1530
+1

[2020-01-09 16:10] jeefy commented on #1531
+1

[2020-01-09 17:25] helayoty opened #1532 "REQUEST: New membership for helayoty"
### GitHub Username
@helayoty

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-01-09 17:29] jeremyrickard commented on #1532
+1 from me! Thank you for volunteering to help with the 1.18 release team @helayoty!

[2020-01-09 17:29] mrbobbytables commented on #1532
+1 thanks for helping with the 1.18 release :)

[2020-01-09 17:31] justaugustus commented on #1532
+1! :)

[2020-01-09 18:28] nvtkaszpir opened #1533 "REQUEST: New membership for nvtkaszpir"
### GitHub Username
@nvtkaszpir

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-01-09 18:30] rlenferink commented on #1533
+1 @nvtkaszpir is helping with the Polish translation of our docs 🎉

[2020-01-09 18:31] remyleone commented on #1533
:+1:

[2020-01-09 18:40] phumberdroz commented on #1530
Will reopen in a couple of weeks since per channel moderation seems to work without being a kubernetes member

[2020-01-09 19:56] YangLu1031 opened #1534 "REQUEST: New membership for YangLu1031"
### GitHub Username
@YangLu1031

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-01-09 19:59] YangLu1031 commented on #1534
/cc @patricklang @justaugustus @pjh

[2020-01-10 00:16] elisiano commented on #1531
As discussed over slack this is not needed for now, closing it.

[2020-01-10 00:16] #1531 closed

[2020-01-10 00:25] mikesplain commented on #1527
+1 thanks for the hard work!

[2020-01-10 01:13] timyinshi opened #1536 "REQUEST: New membership for timyinshi"
GitHub Username
@timyinshi

Organization you are requesting membership in
@kubernetes-sigs

Requirements
I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
I have enabled 2FA on my GitHub account (https://github.com/settings/security)
I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kubernetes-dev)

[2020-01-10 01:24] tanjunchen commented on #1536
+1
Thanks your job for kk

[2020-01-10 04:42] #1522 closed

[2020-01-10 05:20] dankohn commented on #1536
+1. @timyinshi has been an enthusiastic supporter and contributor from China

[2020-01-10 10:45] MaxymVlasov opened #1538 "REQUEST: New membership for @MaxymVlasov"
### GitHub Username
@MaxymVlasov

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-01-10 11:25] anastyakulyk opened #1539 "REQUEST: New membership for @anastyakulyk"
### GitHub Username
@anastyakulyk

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-01-10 11:43] idvoretskyi commented on #1538
+1

[2020-01-10 11:44] idvoretskyi commented on #1539
+1

[2020-01-10 12:10] wahyuoi opened #1540 "REQUEST: New membership for @wahyuoi"
### GitHub Username
@wahyuoi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-01-10 12:29] girikuncoro commented on #1540
+1 , @wahyuoi has been helping out a lot in driving SIG Docs ID and localizing/reviewing a bunch of pages already, happy to collaborate more with him in Kubernetes community

[2020-01-10 12:29] irvifa commented on #1540
+1 from me, he’s been helping a lot.

[2020-01-10 12:32] remyleone commented on #1539
:+1:

[2020-01-10 12:32] remyleone commented on #1539
Welcome!

[2020-01-10 12:33] remyleone commented on #1538
Welcome! :+1:

[2020-01-10 17:11] hrishin opened #1542 "REQUEST: New membership for hrishin"
### GitHub Username
@hrishin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-01-10 17:13] droslean commented on #1542
I sponsor. @hrishin is one of the ci-signal shadows for the 1.18 release cycle.

@justaugustus FYI

[2020-01-10 17:59] jpreese opened #1543 "REQUEST: New membership for jpreese"
### GitHub Username
@jpreese

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-01-10 18:00] droslean commented on #1543
I sponsor. @jpreese is one of the ci-signal shadows for the 1.18 release cycle.

@justaugustus FYI

[2020-01-10 18:59] alejandrox1 commented on #1543
+1

/cc @mrbobbytables @nzoueidi

[2020-01-10 19:24] justaugustus commented on #1534
+1 for Yang's work on Windows test-infra! :)

[2020-01-10 19:29] mrbobbytables commented on #1542
+1 thank you for helping with the 1.18 release :)

[2020-01-10 19:37] PatrickLang commented on #1534
+1 thanks for your contributions!

[2020-01-10 19:49] mrbobbytables commented on #1527
Hey there @johngmyers , thank you for all your contributions to the kops project \o/

I've created PR #1544  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:50] mrbobbytables commented on #1532
@helayoty thank you for helping with enhancements for the 1.18 release :)

I've created PR #1544  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:51] mrbobbytables commented on #1533
@nvtkaszpir  , thank you for your help with the polish localization efforts :)

I've created PR #1544  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:53] mrbobbytables commented on #1534
Hey there @YangLu1031, thank you for all your help with sig-windows!

I've created PR #1544  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:54] mrbobbytables commented on #1538
@MaxymVlasov thanks for helping with the ukrainian localization efforts :)

I've created PR #1544  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:55] mrbobbytables commented on #1539
@anastyakulyk  thanks for helping with the ukrainian localization efforts \o/

I've created PR #1544  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:56] mrbobbytables commented on #1540
@wahyuoi  thanks for all your help with the ID localization efforts \o/

I've created PR #1544  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:56] mrbobbytables commented on #1542
@hrishin I've created PR #1544   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 19:57] mrbobbytables commented on #1543
Hey there @jpreese, thank you for help with the 1.18 release \o/

I've created PR #1544   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-10 20:04] #1527 closed

[2020-01-10 20:04] #1532 closed

[2020-01-10 20:04] #1533 closed

[2020-01-10 20:04] #1534 closed

[2020-01-10 20:04] #1538 closed

[2020-01-10 20:04] #1539 closed

[2020-01-10 20:04] #1540 closed

[2020-01-10 20:04] #1542 closed

[2020-01-10 20:04] #1543 closed

[2020-01-10 20:07] mrbobbytables commented on #1529
/assign

[2020-01-11 00:26] dberkov opened #1547 "REQUEST: New membership for dberkov"
### GitHub Username
@dberkov

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [V] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [V] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [V] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-01-11 00:29] caesarxuchao commented on #1547
+1

[2020-01-11 02:13] msau42 commented on #1536
+1
@timyinshi has been very helpful fixing docs

[2020-01-11 08:47] hrishin commented on #1542
Thank you @droslean @justaugustus @mrbobbytables :bowing_man:

[2020-01-12 19:35] kpucynski opened #1549 "REQUEST: New membership for kpucynski"
### GitHub Username
@kpucynski

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-01-12 19:37] rlenferink commented on #1549
+1 @kpucynski is helping with the polish translation of our docs 🎉

[2020-01-12 19:43] nvtkaszpir commented on #1549
+1 very useful insights during translations and overall activity on slack

[2020-01-12 20:05] remyleone commented on #1549
:+1:

[2020-01-13 03:57] mkhaas opened #1550 "REQUEST: New membership for mkhaas"
### GitHub Username
e.g. (at)mkaas
@mkhaas

### Organization you are requesting membership in
e.g. (at)kubernetes
(at)kubernetes

### Requirements
- [Y ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ Y] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [Y ] I have subscribed to the kubernetes-dev e-mail

[2020-01-13 14:02] nzoueidi commented on #1536
/assign

[2020-01-13 14:02] nzoueidi commented on #1549
/assign

[2020-01-13 15:33] gianarb opened #1551 "REQUEST: New membership for gianarb"
### GitHub Username
@gianarb
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-01-13 16:17] cnadolny opened #1552 "REQUEST: New membership for cnadolny"
### GitHub Username
@cnadolny

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-01-13 16:41] jtslear opened #1553 "REQUEST: New membership for jtslear"
### GitHub Username
@jtslear

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-01-13 16:42] lachie83 commented on #1552
+1

[2020-01-13 16:43] alejandrox1 commented on #1552
+1

[2020-01-13 16:43] alejandrox1 commented on #1553
+1

[2020-01-13 16:45] smourapina commented on #1553
+1

[2020-01-13 16:45] alejandrox1 commented on #1552
/assign @mrbobbytables

[2020-01-13 16:46] smourapina commented on #1553
Great to have you on the team for 1.18! 🎉

[2020-01-13 16:46] smourapina commented on #1551
+1
Welcome to the team! 🎉

[2020-01-13 17:12] jluk opened #1554 "REQUEST: New membership for @jluk"
### GitHub Username
@jluk

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-01-13 18:22] alejandrox1 commented on #1551
+1
welcome to the team @gianarb

/assign @mrbobbytables

[2020-01-13 18:24] alejandrox1 commented on #1554
+1
welcome tothe team @jluk

[2020-01-13 18:30] reylejano-rxm opened #1555 "REQUEST: New membership for reylejano-rxm"
### GitHub Username
@reylejano-rxm

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-01-13 18:47] puerco opened #1556 "REQUEST: New membership for puerco"
### GitHub Username
@puerco

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-01-13 19:02] rbitia opened #1557 "REQUEST: New membership for rbitia"
### GitHub Username
@rbitia

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-01-13 19:08] justaugustus commented on #1557
Enthusiastic +1 from me!
Ria has been great contributing to work in both Cluster API Azure and SIG Release! :)

/honk

[2020-01-13 19:08] andrewsykim commented on #1547
+1 for contributions

Though should this be a kubernetes-sig membership request since contributions have only been to kubernetes-sig so far?

[2020-01-13 19:09] CecileRobertMichon commented on #1557
+1 !!

🎉

[2020-01-13 19:13] andrewsykim commented on #1547
I see the update now, thanks! +1

[2020-01-13 19:21] cheftako commented on #1547
+1, Though I think Andrew above should actually be the second sponsor.

[2020-01-13 19:41] karenhchu commented on #1552
+1

[2020-01-13 19:44] karenhchu commented on #1550
+1
glad to have you on release team as a shadow!

[2020-01-13 20:00] Sh4d1 opened #1558 "REQUEST: New membership for Sh4d1"
### GitHub Username
@Sh4d1

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-01-13 20:04] andrewsykim commented on #1558
+1

[2020-01-13 20:06] nzoueidi commented on #1553
/assign

[2020-01-13 20:07] nzoueidi commented on #1552
/assign

[2020-01-13 20:07] nzoueidi commented on #1551
/assign

[2020-01-13 20:07] nzoueidi commented on #1557
/assign

[2020-01-13 20:09] nzoueidi commented on #1547
/assign

[2020-01-13 20:10] remyleone commented on #1558
:+1:

[2020-01-13 20:26] nzoueidi commented on #1536
Hey there @timyinshi, thank you for all your contributions so far :)

I've created PR #1559 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-01-13 20:26] nzoueidi commented on #1547
Hey there @dberkov, thank you for all your contributions so far :)

I've created PR #1559 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-01-13 20:26] nzoueidi commented on #1549
Hey there @kpucynski, thank you for all your contributions so far :)

I've created PR #1559 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-13 20:27] nzoueidi commented on #1551
Hey there @gianarb, thank you for all your contributions so far :)

I've created PR #1559 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-13 20:27] nzoueidi commented on #1552
Hey there @cnadolny, thank you for all your contributions so far :)

I've created PR #1559 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-13 20:28] nzoueidi commented on #1553
Hey there @jtslear, thank you for all your contributions so far :)

I've created PR #1559 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-13 20:28] nzoueidi commented on #1557
Hey there @rbitia, thank you for all your contributions so far :)

I've created PR #1559 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-01-13 20:29] kpucynski commented on #1549
Thanks @nzoueidi!

[2020-01-13 20:31] #1536 closed

[2020-01-13 20:31] #1547 closed

[2020-01-13 20:31] #1549 closed

[2020-01-13 20:31] #1551 closed

[2020-01-13 20:31] #1552 closed

[2020-01-13 20:31] #1553 closed

[2020-01-13 20:31] #1557 closed

[2020-01-13 22:00] cheftako commented on #1558
+1

[2020-01-14 00:59] mkhaas commented on #1550
thanks @karenhchu

[2020-01-14 06:07] yujunz opened #1560 "REQUEST: New membership for yujunz"
### GitHub Username
yujunz

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-01-14 08:21] gianarb commented on #1551
Thanks a lot!

[2020-01-14 09:56] Miouge1 commented on #1560
+1

[2020-01-14 17:03] Liujingfang1 commented on #1560
+1

@yujunz has contributed to Kustomize for improving performance, fixing issues and writing documents.

[2020-01-14 18:37] cheftako commented on #1558
/assign nzoueidi

[2020-01-15 13:50] kensipe opened #1562 "REQUEST: New membership for kensipe"
### GitHub Username
kensipe

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2020-01-15 13:53] gerred commented on #1562
+1

@kensipe has contributed to a lot of work in the controllers and operators space!

[2020-01-15 13:55] dims commented on #1562
+1 from me!

[2020-01-15 14:02] alenkacz commented on #1562
+1!

[2020-01-15 14:39] nzoueidi commented on #1562
/assign

[2020-01-15 14:39] nzoueidi commented on #1560
/assign

[2020-01-15 15:30] mrbobbytables commented on #1529
The repo has been migrated: http://github.com/kubernetes-sigs/cluster-capacity
Teams were updated in: #1561
Update to sig project list is here: https://github.com/kubernetes/community/pull/4408

Once the update is merged, the migration should be complete 👍

[2020-01-15 15:32] mrbobbytables commented on #1529
That was quick, the sig project list has been updated and the repo migration should be complete.
If you have any questions feel free to ask here or ping in slack.
Thanks!

/close

[2020-01-15 15:32] #1529 closed

[2020-01-15 16:09] alejandrox1 commented on #1555
+1
Welcome to the team :)

[2020-01-15 16:10] alejandrox1 commented on #1550
+1
welcome to the team
/assign @nzoueidi
ptal

[2020-01-15 17:39] evillgenius75 commented on #1556
+1
Let's have some fun!

[2020-01-15 17:39] evillgenius75 commented on #1555
+1
Let's have some fun!

[2020-01-15 18:32] puerco commented on #1556
Thank you. let's do this :D

[2020-01-15 21:24] alejandrox1 commented on #1556
/assign @nzoueidi
ptal :smile:

[2020-01-15 21:25] alejandrox1 commented on #1555
/assign @nzoueidi
ptal

[2020-01-16 00:06] saad-ali opened #1563 "Deprecate kubernetes-incubator/external-storage/"
### Organization or repository
https://github.com/kubernetes-incubator/external-storage/

### Users affected
SIG Storage

### Describe the issue
This is a tracking bug. There is an effort to deprecate the https://github.com/kubernetes-incubator/ org

SIG Storage has an old repo https://github.com/kubernetes-incubator/external-storage/ which has a number of projects in it. Many of them have been de

[2020-01-16 00:10] msau42 commented on #1563
/assign @jsafrane

[2020-01-16 00:57] Huang-Wei opened #1564 "New repo kubernetes-sigs/scheduler-plugins"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
scheduler-plugins

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
ahg-g, Huang-Wei

### If not a staging repo, who should have write access
ahg-g, Huang-Wei

### If not a staging repo, who should be listed as approvers in OWNERS
ahg

[2020-01-16 06:09] nikhita commented on #1564
/assign @ahg-g
for approval

[2020-01-16 09:09] iheanyi1 opened #1565 "REQUEST: New membership for iheanyi1"
### GitHub Username
@iheanyi1

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-01-16 13:13] ahg-g commented on #1564
/approve
/lgtm

[2020-01-16 13:26] nikhita commented on #1564
Thanks @ahg-g!

/assign

[2020-01-16 13:51] nikhita commented on #1564
Repo has been created: https://github.com/kubernetes-sigs/scheduler-plugins :tada:

Also created:

- https://github.com/kubernetes/org/pull/1566 - to add GitHub teams to grant access to the repo
- https://github.com/kubernetes/community/pull/4417 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-01-16 14:51] nikhita commented on #1564
Both PRs have merged and teams have been granted access.

/close

[2020-01-16 14:51] #1564 closed

[2020-01-16 16:03] Huang-Wei commented on #1564
Thanks @nikhita  @ahg-g !!

[2020-01-16 16:48] bzub opened #1567 "REQUEST: New membership for bzub"
### GitHub Username
@bzub

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-01-16 16:49] pwittrock commented on #1567
+1

[2020-01-16 16:52] andrewsykim commented on #1567
+1

[2020-01-16 19:09] barney-s opened #1568 "REQUEST: New membership for barney-s"
### GitHub Username
@barney-s

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
Approved in K8s org already: https://github.com/kubernetes/org/issues/1410

[2020-01-16 20:47] nzoueidi commented on #1567
/assign

[2020-01-16 20:50] nzoueidi commented on #1550
Hey @mkhaas unfortunately, @karenhchu can't sponsor your org membership as they are not approvers and/or reviewers in the kubernetes org.

[2020-01-16 20:57] karenhchu commented on #1550
Hi there. I am the Communications leads for the K8s 1.18 Release Tam and @mkhaas is my shadow. My other shadow listed me as a sponsor and there were no issues there. Please advise on how to proceed. CC: @lachie83 / @alejandrox1

[2020-01-16 20:57] nzoueidi commented on #1556
Hey @puerco, @evillgenius75 can't sponsor your org membership as they are not approver or/and reviewer in the kubernetes org.

[2020-01-16 21:00] nzoueidi commented on #1560
Hey @yujunz, unfortunately @Miouge1 and @Liujingfang1 are not approvers or/and reviewers in the kubernetes/kubernetes-sigs orgs.
You can find more info here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2020-01-16 21:02] justaugustus commented on #1556
+1 from me!

[2020-01-16 21:04] nzoueidi commented on #1550
That's true, looks like there is an issue with cs.k8s.io. Please ignore my previous comment for now.

[2020-01-16 21:06] justaugustus commented on #1550
+1 from me.

@nzoueidi -- Release Team shadows are an exception to this rule.
They still require sponsors, but the sponsors will likely be Release Team role leads, which should be listed in OWNERS files for SIG Release.

Karen is listed here: https://raw.githubusercontent.com/kubernetes/sig-release/a48579c32c164276ef0014738be828dc1bf03ae0/releases/release-1.18/OWNERS

[2020-01-16 21:06] reylejano-rxm commented on #1555
Updated request to add @lachie83 as a sponsor.

[2020-01-16 21:13] nzoueidi commented on #1550
Yep my bad, will proceed with this request in a few minutes.

[2020-01-16 21:18] justaugustus commented on #1550
Thanks!

[2020-01-16 21:20] nzoueidi commented on #1555
My bad @reylejano-rxm, @evillgenius75 is already in OWNER file of sig release.

[2020-01-16 21:36] nzoueidi commented on #1550
Hey there @mkhaas, thank you for all your contributions so far :)

I've created PR #1570 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-16 21:37] nzoueidi commented on #1555
Hey there @reylejano-rxm, thank you for all your contributions so far :)

I've created PR #1570 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-16 21:37] nzoueidi commented on #1556
Hey there @puerco, thank you for all your contributions so far :)

I've created PR #1570 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-16 21:37] nzoueidi commented on #1558
Hey there @Sh4d1, thank you for all your contributions so far :)

I've created PR #1570 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-16 21:37] nzoueidi commented on #1560
Hey there @yujunz, thank you for all your contributions so far :)

I've created PR #1570 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-01-16 21:38] nzoueidi commented on #1562
Hey there @kensipe, thank you for all your contributions so far :)

I've created PR #1570 to add you to the Kubernetes & Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-01-16 21:38] nzoueidi commented on #1567
Hey there @bzub, thank you for all your contributions so far :)

I've created PR #1570 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-01-16 22:04] spiffxp commented on #1519
LGTM as sig testing chair

[2020-01-16 23:04] puerco commented on #1556
Thanks @justaugustus & @nzoueidi  !

[2020-01-16 23:46] #1550 closed

[2020-01-16 23:46] #1555 closed

[2020-01-16 23:46] #1556 closed

[2020-01-16 23:46] #1558 closed

[2020-01-16 23:46] #1560 closed

[2020-01-16 23:46] #1562 closed

[2020-01-16 23:46] #1567 closed

[2020-01-17 04:58] nikhita commented on #1519
/assign

[2020-01-17 05:15] nikhita commented on #1519
Repo has been archived: https://github.com/kubernetes-retired/testing_frameworks

Created:
- https://github.com/kubernetes/org/pull/1572 - to remove GitHub teams
- https://github.com/kubernetes/community/pull/4421 - to remove the repo from sigs.yaml

Sent notice to k-dev ML: https://groups.google.com/forum/#!topic/kubernetes-dev/cZhGkUIrsLg

[2020-01-17 16:10] wawa0210 opened #1574 "REQUEST: New membership for <wawa0210>"
### GitHub Username
@wawa0210

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2020-01-17 16:12] dims commented on #1574
+1 from me. welcome @wawa0210 !

[2020-01-17 16:41] samudralavamshi54 opened #1575 "REQUEST: New membership for @samudralavamshi54"
### GitHub Username

@samudralavamshi54

### Organization you are requesting membership in
e.g. (at)kubernetes
@kubernetes
@k8s-ci-robot
@kubernetes-sig

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the

[2020-01-17 16:45] markyjackson-taulia commented on #1575
+1 from me!

[2020-01-17 16:47] benmoss commented on #1574
Unfortunately me and @dims now work at the same company, so we'll need to find another sponsor!

[2020-01-17 16:48] castrojo commented on #1575
+1 from me as well!

[2020-01-17 17:25] nzoueidi commented on #1575
/assign

[2020-01-18 02:13] feiskyer commented on #1574
+1 for @wawa0210's contribution to SIG Windows

[2020-01-18 06:39] nikhita commented on #1519
Both PRs have merged.

/close

[2020-01-18 06:39] #1519 closed

[2020-01-19 17:16] markyjackson-taulia commented on #714
/remove-lifecycle stale

[2020-01-19 18:14] JamesLaverack opened #1576 "REQUEST: New membership for JamesLaverack"
### GitHub Username
@JamesLaverack

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-01-20 20:14] nzoueidi commented on #1574
/assign

[2020-01-20 20:22] nzoueidi commented on #1575
Hey @samudralavamshi54, unfortunately, @markyjackson-taulia can only sponsor your org membership for @kubernetes-sigs and not for @kubernetes. Do you want to go with that and add you only to @kubernetes-sigs org or you can add another eligible sponsor.
More information about the requirements for the community membership: https://github.com/kubernetes/community/blob/master/community-membership.md#r

[2020-01-20 20:31] markyjackson-taulia commented on #1575
@parispittman might be able to help me and/or @samudralavamshi54

[2020-01-20 20:38] parispittman commented on #1575
It would be cool to see a PR or two :)

[2020-01-20 20:53] #1574 closed

[2020-01-21 02:09] timyinshi opened #1579 "REQUEST: New membership for timyinshi"
GitHub Username
@timyinshi

Organization you are requesting membership in
@kubernetes

Requirements
I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
I have enabled 2FA on my GitHub account (https://github.com/settings/security)
I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kubernetes-dev)
I am

[2020-01-21 05:02] dankohn commented on #1579
I'm happy to endorse @timyinshi's membership

[2020-01-21 07:48] gaorong opened #1580 "REQUEST: New membership for gaorong"
### GitHub Username
@gaorong

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-01-21 12:40] k82cn commented on #1580
+1 to me according to [merged PR](https://github.com/kubernetes/kubernetes/pulls?utf8=%E2%9C%93&q=+is%3Apr+is%3Amerged+author%3Agaorong+), and thanks very much for your contribution :)

[2020-01-21 12:53] tanjunchen commented on #1579
+1 thanks for your job in kk

[2020-01-21 14:29] nzoueidi commented on #1580
/assign

[2020-01-21 14:29] haosdent opened #1581 "REQUEST: New membership for haosdent"
### GitHub Username

@haosdent

### Organization you are requesting membership in

@kubernetes

### Requirements

- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-01-21 14:29] nzoueidi commented on #1579
/assign

[2020-01-21 14:32] ahg-g commented on #1581
I support this membership request. Thanks @haosdent for your contributions so far.

[2020-01-21 17:34] Huang-Wei commented on #1581
+1

Looking forward to seeing more contributions!

[2020-01-21 17:53] dholbach opened #1583 "Rename k-sigs/addon-operators to k-sigs/cluster-addons"
### New Repo, Staging Repo, or migrate existing
Rename k-sigs/addon-operators to k-sigs/cluster-addons

### Requested name for new repository
k-sigs/cluster-addons

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
No changes.

### If not a staging repo, who should have write access
No changes.

### If not a staging repo, who should be

[2020-01-21 21:05] apelisse opened #1584 "Add @apelisse as admin of kubernetes/kube-openapi"
### Organization or repository
kubernetes/kube-openapi

### Users affected
@apelisse

### Describe the issue
I want to be an admin on this repo so that I can push new branches.

[2020-01-21 21:09] jennybuckley commented on #1584
+1

[2020-01-21 21:09] lavalamp commented on #1584
Or myself or @deads2k or all three. Is there a place to list e.g. api-machinery "maintainers" so we don't have to worry about this for every single thing we own?

[2020-01-21 21:58] samudralavamshi54 commented on #1575
@nzoueidi  please add to Kubernetes-sig will
Open another request form later for Kubernetes

[2020-01-21 22:44] #1584 closed

[2020-01-21 23:02] spiffxp commented on #1584
Manually added kubernetes/kube-openapi-admins and kubernetes/kube-openapi-maintainers to the repo once #1585 merged. I added @apelisse to the team since they opened the issue, please PR yourselves in if you'd like to be added.

[2020-01-22 00:50] noamran opened #1587 "REQUEST: New membership for noamran"
### GitHub Username
@noamran

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-01-22 00:51] vincepri commented on #1587
+💯 Noa has been doing awesome things in the community!

[2020-01-22 00:52] CecileRobertMichon commented on #1587
🎉 Thank you for all your contributions so far @noamran! +1

[2020-01-22 02:34] neolit123 commented on #1474
i'm surprised this proposal for a new repository is not approved yet.

my suggestion for the name is `kubernetes/release-test`.

[2020-01-22 03:25] YuikoTakada opened #1588 "REQUEST: New membership for YuikoTakada"
### GitHub Username
@YuikoTakada

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-01-22 03:37] SataQiu commented on #1588
+1 Thanks for your contributions @YuikoTakada

[2020-01-22 14:50] ncdc commented on #1587
Big +1 here!

[2020-01-22 15:56] kensipe commented on #1562
thank you @nzoueidi !

[2020-01-22 18:39] justaugustus commented on #1474
/remove-priority important-soon

[2020-01-22 18:39] justaugustus commented on #1474
I like this, @neolit123. Updated the description with this suggestion.

[2020-01-22 18:43] cblecker commented on #1474
Two questions:
- How will you keep this in sync with kubernetes/kubernetes? Release team's own tools?
- Have you taken this to sig-arch for approval?

[2020-01-22 18:51] neolit123 commented on #1474
i personally think there is not need to auto-sync this repository with k/k. it is a test bed for building a release, test tagging and so on. manual syncs can be done with PRs.

[2020-01-22 18:51] tpepper commented on #1474
As of the [kubeadm move out of k/k KEP](https://github.com/kubernetes/enhancements/pull/1425), if we go the route proposed in this issue, we will need not just a fork of k/k but also a fork of the new k/kubeadm.

[2020-01-22 18:55] tpepper commented on #1474
We probably don't want these repos to auto sync.  I foresee them operating as non-fast-forward repos/branches with us moving HEAD forward and backwards, tags being added and deleted.  To experiment fully we'd want to repeatedly run different k/release tools against the same repo state, but each run will modify that state.

[2020-01-22 19:04] neolit123 commented on #1474
having multiple test repositories seems fine, but if this sees objection then the release tooling has to consider using private forks.

[2020-01-22 19:05] justaugustus commented on #1474
Hang tight on making decisions for us.

[2020-01-22 19:06] justaugustus commented on #1474
@cblecker --

No sync is required at the moment. I think eventually we may have some tool that resets the branches every day or something, but right now, we just need something to test against that I can grant other Releng staff access to.

Will shoot a note to the list.

[2020-01-22 19:07] neolit123 commented on #1474
i don't think i'm making decisions for you.

[2020-01-22 19:15] spiffxp commented on #1474
I feel like it's worth considering a separate org as a bright line to avoid confusion.  Especially if we're talking multiple test repos.  That said, repos in the kubernetes org are ultimately sig arch's call to make, if they're fine with it, we're fine with it.

[2020-01-22 21:36] oomichi commented on #1588
Thank you for your contributions.
+1 to be a member :-)

[2020-01-22 23:19] evillgenius75 commented on #1576
+1 from me

[2020-01-22 23:21] lachie83 commented on #1576
+1

[2020-01-22 23:22] mrbobbytables commented on #1554
+1 thanks for helping with release :)

[2020-01-23 00:32] lachie83 commented on #1554
+1 welcome!

[2020-01-23 08:29] alenkacz opened #1589 "REQUEST: New membership for alenkacz"
### GitHub Username
@alenkacz

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-01-23 09:07] nikhita commented on #1589
I've created PR #1590 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-01-23 09:07] nikhita commented on #1588
@YuikoTakada thank you for all your contributions so far :)

I've created PR #1590  to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-23 09:08] nikhita commented on #1587
@noamran thank you for all your contributions so far :)

I've created PR #1590  to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-01-23 09:08] nikhita commented on #1581
@haosdent thank you for all your contributions so far :)

I've created PR #1590  to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-23 09:09] nikhita commented on #1580
@gaorong thank you for all your contributions so far :)

I've created PR #1590  to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-23 09:09] nikhita commented on #1568
I've created PR #1590  to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-01-23 09:09] nikhita commented on #1575
@samudralavamshi54 thank you for all your contributions so far :)

I've created PR #1590  to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-01-23 09:10] nikhita commented on #1576
@JamesLaverack thank you for all your contributions so far :)

I've created PR #1590  to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-23 09:11] nikhita commented on #1554
@jluk thank you for all your contributions so far :)

I've created PR #1590  to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-23 09:13] nikhita commented on #1579
@timyinshi Unfortunately, @dankohn can't act as a sponsor because sponsors need to be in an OWNERS file in the @kubernetes org. If you could add another sponsor who is either a reviewer or approver for any repo in the @kubernetes org, that would be great!

[2020-01-23 09:21] nikhita commented on #1583
@dholbach IIUC this is yet to be discussed in the SCL meeting? Could you ping back here once it has been approved there? We can move ahead with the rename after that. :)

[2020-01-23 09:22] nikhita commented on #1565
/assign @justaugustus @lachie83
for approval

[2020-01-23 09:22] #1554 closed

[2020-01-23 09:22] #1575 closed

[2020-01-23 09:22] #1576 closed

[2020-01-23 09:22] #1568 closed

[2020-01-23 09:22] #1580 closed

[2020-01-23 09:22] #1581 closed

[2020-01-23 09:22] #1587 closed

[2020-01-23 09:22] #1588 closed

[2020-01-23 09:22] #1589 closed

[2020-01-23 09:29] alenkacz commented on #1589
thanks @nikhita

[2020-01-23 09:30] nzoueidi commented on #1448
@smileisak as discussed in Slack, it would be cool to see more PRs on any of the sub-projects in the k organization.

[2020-01-23 09:40] dholbach commented on #1583
OK. I wasn't sure what the process was. In Cluster Addons we already decided this, but sure I can get a :+1: from SCL on Jan 28th too. Thanks @nikhita .

[2020-01-23 09:45] nikhita commented on #1583
@dholbach either that or if the leads could comment here approving this issue. :)

[2020-01-23 12:44] dankohn commented on #1579
Thanks, sorry for my oversight

[2020-01-24 12:26] qvicksilver opened #1595 "REQUEST: New membership for qvicksilver"
### GitHub Username
qvicksilver

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-01-24 13:43] Miouge1 commented on #1595
+1 @qvicksilver has been driving the control plane recovery work in Kubespray

[2020-01-24 14:33] dholbach commented on #1583
/sig cluster-lifecycle

[2020-01-24 15:56] dholbach commented on #1583
Following the discussion with @neolit123 [on Slack](https://kubernetes.slack.com/archives/C13J86Z63/p1579854048003200), can you please :+1: the request here, @justinsb?

/assign @justinsb

[2020-01-24 15:57] dholbach commented on #1583
I'll update links where necessary afterwards and inform the mailing list too.

[2020-01-27 09:46] holmsten commented on #1595
+1
Thanks for your contributions. :)

[2020-01-27 13:33] chenrui333 commented on #1579
I am happy to sponsor @timyinshi! Hope to see more contributions from you!

[2020-01-27 21:31] johnharris85 opened #1596 "REQUEST: New membership for johnharris85"
### GitHub Username
@johnharris85

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2020-01-27 21:32] ncdc commented on #1596
👍 🎉

[2020-01-27 21:46] rudoi commented on #1596
:+1: :100:

Welcome!

[2020-01-28 06:05] nikhita commented on #966
/remove-lifecycle stale

[2020-01-28 12:09] s-urbaniak opened #1597 "Migrate custom-metrics-apiserver to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing repository from https://github.com/kubernetes-incubator/custom-metrics-apiserver.

### Requested name for new repository
custom-metrics-apiserver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@piosz
@brancz

### If not a staging repo, who should have write access
@s-

[2020-01-28 12:10] brancz commented on #1597
This has my approval

[2020-01-28 12:10] s-urbaniak commented on #1597
/approve

[2020-01-28 13:21] nikhita commented on #1597
/assign

[2020-01-28 13:39] nikhita commented on #1597
Repo has been migrated: https://github.com/kubernetes-sigs/custom-metrics-apiserver :+1:

Created:

- https://github.com/kubernetes/org/pull/1598 - to update GitHub teams
- https://github.com/kubernetes/community/pull/4457 - to update sigs.yaml

We can close this issue once both PRs merge.

@s-urbaniak I haven't updated OWNERS or SECURITY_CONTACTS since they can be updated through the normal PR pr

[2020-01-28 17:03] timothysc commented on #1583
+1 from
/lgtm
/hold
^ for timeout.

[2020-01-28 19:19] nikhita commented on #1597
All PRs have merged and teams have been granted access.

/close

[2020-01-28 19:19] #1597 closed

[2020-01-28 19:23] stealthybox commented on #1583
/lgtm

[2020-01-28 22:09] timothysc commented on #1583
/hold cancel
derp this is an issue..

[2020-01-29 05:28] nikhita commented on #1583
/assign

[2020-01-29 05:38] nikhita commented on #1583
Repo has been renamed: https://github.com/kubernetes-sigs/cluster-addons :+1:

Also created:
- https://github.com/kubernetes/org/pull/1603 - to update GitHub team names
- https://github.com/kubernetes/community/pull/4460 - to update sigs.yaml

Once both PRs merge, we can close this issue.

[2020-01-29 05:40] seanmalloy opened #1604 "REQUEST: New membership for seanmalloy"
### GitHub Username
@seanmalloy

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-01-29 07:32] dholbach commented on #1583
Thanks a lot @nikhita ! :-D

[2020-01-29 09:11] s-urbaniak commented on #1597
thank you @nikhita! :raised_hands:

[2020-01-29 10:25] nikhita commented on #1583
Both PRs have merged

/close

[2020-01-29 10:25] #1583 closed

[2020-01-29 14:55] damemi commented on #1604
+1

[2020-01-29 15:30] gkarthiks opened #1606 "REQUEST: New membership for gkarthiks"
### GitHub Username
@gkarthiks

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-01-29 16:17] mrbobbytables commented on #1606
+1 from sponsor :)
Thanks!

[2020-01-29 16:43] cblecker commented on #1606
@gkarthiks Hello! I appreciate your enthusiasm for Kubernetes, but would you mind changing your GitHub profile picture to not be the Kubernetes logo? This may cause confusion as we use the logo as the profile picture for our orgs itself.

[2020-01-29 17:42] Huang-Wei commented on #1604
+1

[2020-01-29 17:56] gkarthiks commented on #1606
hi @cblecker , sure. I changed it now.

[2020-01-29 19:07] parispittman commented on #1606
+1 from me :) thanks for all of your help so far @gkarthiks  and looking forward to working together more.

[2020-01-30 00:24] skilxn-go opened #1607 "REQUEST: New membership for skilxn-go"
### GitHub Username
@skilxn-go

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-01-30 01:02] Huang-Wei commented on #1607
+1

Looking forward to seeing more contributions!

[2020-01-30 10:43] idealhack commented on #1595
@qvicksilver thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1608 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-01-30 10:44] idealhack commented on #1579
@timyinshi thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1608 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-30 10:45] idealhack commented on #1596
@johnharris85 thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1608 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-01-30 10:45] idealhack commented on #1604
@seanmalloy thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1608 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-01-30 10:45] idealhack commented on #1606
@gkarthiks thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1608 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-01-30 11:42] #1579 closed

[2020-01-30 11:42] #1595 closed

[2020-01-30 11:42] #1596 closed

[2020-01-30 11:42] #1604 closed

[2020-01-30 11:42] #1606 closed

[2020-01-30 15:58] ahg-g commented on #1607
+1, thanks for your contributions.

[2020-01-30 18:04] sophieliu15 opened #1609 "REQUEST: New membership for sophieliu15"
### GitHub Username
- @sophieliu15

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-01-30 18:13] adrianludwin commented on #1609
Approved!

[2020-01-30 20:14] cblecker commented on #1609
Hello! Our [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md) require already having made contributions -- unfortunately working for a specific employer does not qualify someone for membership. We'd love to have you join our community, but only after some contributions have already been made.

If you have any questions or concerns after r

[2020-01-30 20:14] #1609 closed

[2020-01-30 20:18] cblecker commented on #1448
As I don't see any further activity on this since Dec 1, I'm going to go ahead and close this request. If in the future, you wish to get more involved and reapply, please feel free to do so @smileisak.

[2020-01-30 20:18] #1448 closed

[2020-01-31 09:01] LuckySB opened #1610 "REQUEST: New membership for LuckySB"
### GitHub Username
@LuckySB

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-01-31 09:02] LuckySB commented on #1610
/assign @mattymo @Miouge1

[2020-01-31 09:12] mattymo commented on #1610
/lgtm

[2020-01-31 09:59] woopstar commented on #1610
Happy to be sponsor.

/lgtm

[2020-01-31 13:50] julianvmodesto opened #1611 "REQUEST: New membership for @julianvmodesto"
### GitHub Username
@julianvmodesto

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-01-31 16:39] apelisse commented on #1611
I confirm. Julian is taking care of everything in the promotion of Dry-run and `kubectl diff` to GA and is doing a wonderful job!

[2020-01-31 19:18] VineethReddy02 commented on #1565
Hi @lachie83 @justaugustus
Waiting for your approval on this.

Thanks in advance!

[2020-01-31 20:23] Miouge1 commented on #1610
+1

@LuckySB has been a regular contributor to Kubespray, therefore happy to sponsor.

[2020-02-02 10:57] justaugustus commented on #1565
Sorry for missing this!
+1 and welcome to the Release Team, @iheanyi1! :)

[2020-02-03 19:04] boluisa opened #1612 "REQUEST: New membership for boluisa"
### GitHub Username
@boluisa

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-02-03 19:21] castrojo commented on #1612
+1

[2020-02-03 19:24] parispittman commented on #1612
yay +1!!

[2020-02-03 19:50] mattymo commented on #1610
/lgtm
/approve

[2020-02-03 20:41] soltysh commented on #1611
I confirm as well, :+1:

[2020-02-04 15:49] mrbobbytables commented on #1565
+1 thanks for being a part of the release team :)

[2020-02-04 16:30] mrbobbytables commented on #1565
@iheanyi1  welcome to the release team \o/

I've created PR #1613  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-04 16:30] mrbobbytables commented on #1607
@skilxn-go , thank you for all your help with sig scheduling :)

I've created PR #1613  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-04 16:31] mrbobbytables commented on #1610
@LuckySB thanks for all your efforts with the kubespray project 👍

I've created PR #1613  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-02-04 16:32] mrbobbytables commented on #1611
Hey there @julianvmodesto, thank you for all your contributions so far :)

I've created PR #1613  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-04 16:32] mrbobbytables commented on #1612
Hey there @boluisa , thank you for helping with the marketing team \o/

I've created PR #1613  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-04 18:31] #1565 closed

[2020-02-04 18:31] #1607 closed

[2020-02-04 18:31] #1610 closed

[2020-02-04 18:31] #1611 closed

[2020-02-04 18:31] #1612 closed

[2020-02-05 09:09] enxebre opened #1614 "REQUEST: New membership for enxebre"
### GitHub Username
@enxebre

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2020-02-05 09:18] sttts commented on #1614
+1

[2020-02-05 09:28] hardikdr commented on #1614
+1

[2020-02-05 11:36] ncdc commented on #1614
+1

[2020-02-05 16:00] ipuustin opened #1615 "REQUEST: New membership for ipuustin"
### GitHub Username
@ipuustin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-02-05 17:43] nader-ziada opened #1616 "REQUEST: New membership for nader-ziada"
### GitHub Username
@nader-ziada

### Organization you are requesting membership in
kubernetes

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-02-05 17:50] justaugustus commented on #1616
+1! Nader is a reviewer on capz and will need membership to help manage image promotion for that project in k/k8s.io

[2020-02-05 17:58] rficcaglia opened #1618 "REQUEST: New membership for rficcaglia"
### GitHub Username
rficcaglia

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-02-05 18:12] CecileRobertMichon commented on #1616
+1

[2020-02-05 18:29] ericavonb commented on #1618
I approve of @rficcaglia's request!

[2020-02-05 18:39] apelisse commented on #1614
+1

[2020-02-05 21:41] DirectXMan12 commented on #1614
+1

[2020-02-05 22:13] liggitt commented on #1245
LGTM per https://groups.google.com/g/kubernetes-sig-auth/c/HeNMNFbwQig/m/o8IPe1hJAwAJ

[2020-02-05 23:02] hannibalhuang commented on #1618
+1 !

[2020-02-06 03:26] mattjmcnaughton commented on #1615
+1 :fireworks:

[2020-02-06 06:27] klueska commented on #1615
+1

[2020-02-06 19:54] ritazh commented on #1245
@cblecker I have added you as an admin to the repo.

[2020-02-07 00:25] cblecker commented on #1245
Still to be done:
- CLA check run on all contribs
- Groups created
- SECURITY_CONTACTS file required (@ritazh can you please take care of this one? you can use https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/master/SECURITY_CONTACTS as a template)

[2020-02-07 00:53] ritazh commented on #1245
Thanks @cblecker Just added SECURITY_CONTACTS

[2020-02-08 00:32] yuzhiquan opened #1623 "REQUEST: New membership for yuzhiquan"
### GitHub Username
@yuzhiquan

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-02-08 01:11] k82cn commented on #1623
+1 to me, thanks very much for your contribution :)

[2020-02-08 04:08] feiskyer commented on #1623
+1

[2020-02-08 18:10] kakts opened #1624 "REQUEST: New membership for kakts"
### GitHub Username
@kakts

### Organization you are requesting membership in
@kubernetes
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-02-10 07:16] 27149chen opened #1625 "REQUEST: New membership for 27149chen"
### GitHub Username
@27149chen

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-02-10 14:35] j-griffith commented on #1625
+1 from me, @27149chen has helped me out quite a bit with adding new features and refactoring some of the csi iscsi-libs.

[2020-02-10 23:56] cblecker opened #1627 "Remove stale invites"
There are a number of stale invites on all of our orgs.

These are folks that have either:
- left the org manually, and then we reinvited them
- never accepted their original invite to the org

Either way, we can safely remove these folks as these invites have been outstanding for awhile.

I opened https://github.com/kubernetes/org/pull/1626 to deal with these in @kubernetes, but we should also do

[2020-02-11 03:22] mrbobbytables commented on #1614
Hey there @enxebre , thank you for all your contributions across the project \o/

I've created PR #1628  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them

Welcome to @kubernetes / @kubernetes-sigs  🎉

/assign

[2020-02-11 03:23] mrbobbytables commented on #1615
@ipuustin , thank you for all your contributions so far :)

I've created PR #1628  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-11 03:24] mrbobbytables commented on #1616
@nader-ziada , thank you for all your help with capi-azure :)

I've created PR #1628  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-11 03:25] mrbobbytables commented on #1618
@rficcaglia , thank you helping with wg-policy.

I've created PR #1628  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-11 03:25] mrbobbytables commented on #1623
Hey there @yuzhiquan, thank you for all your contributions so far :)

I've created PR #1628   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-11 05:16] #1614 closed

[2020-02-11 05:16] #1615 closed

[2020-02-11 05:16] #1616 closed

[2020-02-11 05:16] #1618 closed

[2020-02-11 05:16] #1623 closed

[2020-02-12 14:29] nzoueidi commented on #1627
I will tackle this tonight.

/assign

[2020-02-12 21:58] jingxu97 commented on #1625
+1

[2020-02-13 00:42] cblecker commented on #1085
/lifecycle frozen

[2020-02-17 19:32] headcr4sh opened #1633 "REQUEST: New membership for headcr4sh"
### GitHub Username
@headcr4sh

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-02-17 20:35] jeefy commented on #1633
+1

[2020-02-17 21:05] liranp opened #1634 "REQUEST: New membership for liranp"
### GitHub Username
@liranp

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-02-17 21:10] rifelpet commented on #1634
+1 thanks for all of your contributions so far!

[2020-02-17 21:19] mikesplain commented on #1634
+1 thanks for all your hard work!

[2020-02-18 07:42] akshaymankar commented on #651
/remove-lifecycle stale

[2020-02-18 09:01] maciaszczykm commented on #1633
+1

[2020-02-18 15:17] alijahnas opened #1635 "REQUEST: New membership for alijahnas"
### GitHub Username
@alijahnas

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-02-18 15:22] holmsten commented on #1635
+1

Happy to sponsor.

[2020-02-18 15:34] Miouge1 commented on #1635
+1

@alijahnas has been driving the efforts to integrate the [kubernetes/cloud-provider-openstack](https://github.com/kubernetes/cloud-provider-openstack) in Kubespray, providing a path forward from the legacy/in-tree openstack provider.

[2020-02-18 16:53] guineveresaenger opened #1636 "REQUEST: New membership for @IanColdwater"
### GitHub Username
I'm recommending to add @IanColdwater as a member to the github/kubernetes organization.
They're a valuable commuity member, and I'm more than happy to sponsor their membership. I'll leave it to Ian to fill out the requirements details below.

edit: please copy/paste in a followup comment, since editing is disabled

### Organization you are requesting membership in
Kubernetes,

[2020-02-18 16:55] markyjackson-taulia commented on #1636
Huge +1 from me

[2020-02-18 16:58] jimmidyson opened #1637 "REQUEST: New membership for jimmidyson"
### GitHub Username
@jimmidyson

### Organization you are requesting membership in
kubernetes-sigs (already a member of Kubernetes github org)

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes

[2020-02-18 16:59] justaugustus commented on #1636
An enthusiastic +1 for this!!
Also, honks. Lots of honks.

/honk

[2020-02-18 17:17] ehashman commented on #1636
Confirming my sponsorship!

/honk

[2020-02-18 17:35] cblecker commented on #1636
/hold
Holding until this is fully processed with all needed information.

[2020-02-18 22:32] IanColdwater commented on #1636
### Organization you are requesting membership in
Kubernetes, kubernetes-sigs

### Requirements
* [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x]  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kube

[2020-02-19 00:13] guineveresaenger commented on #1636
updated with your text (for I think bot reasons?) yay!

[2020-02-19 00:18] mauilion commented on #1636
+1 and /honk

[2020-02-19 00:26] justaugustus commented on #1627
@nzoueidi -- Did you have a chance to look into this?

[2020-02-19 00:29] justaugustus commented on #1627
@cblecker -- p.s. I don't/can't see pending invitations.
- There might not be any
- NMCs may not have permissions to view them

[2020-02-19 00:52] justaugustus commented on #1625
@27149chen -- Thanks so much for your contributions thus far!
I've created https://github.com/kubernetes/org/pull/1639 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2020-02-19 00:53] justaugustus commented on #1633
@headcr4sh -- Thanks so much for your contributions thus far!
I've created https://github.com/kubernetes/org/pull/1639 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2020-02-19 00:53] justaugustus commented on #1634
@liranp -- Thanks so much for your contributions thus far!
I've created https://github.com/kubernetes/org/pull/1639 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2020-02-19 00:53] justaugustus commented on #1635
@alijahnas -- Thanks so much for your contributions thus far!
I've created https://github.com/kubernetes/org/pull/1639 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2020-02-19 00:54] justaugustus commented on #1636
@IanColdwater -- Thanks so much for your contributions thus far!
I've created https://github.com/kubernetes/org/pull/1639 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign
/pony party

[2020-02-19 00:57] mrbobbytables commented on #1636
/hold cancel
/honk

[2020-02-19 00:57] justaugustus commented on #1636
@guineveresaenger -- Not bot stuff; just my own sanity :sweat_smile:

[2020-02-19 01:03] #1635 closed

[2020-02-19 01:03] #1636 closed

[2020-02-19 01:03] #1625 closed

[2020-02-19 01:03] #1633 closed

[2020-02-19 01:03] #1634 closed

[2020-02-19 01:13] mrbobbytables commented on #1627
hm...it might require org admin privs -_- Some of these folk should probably just be pinged to accept the invite. They'll also likely need to be removed from groups in those orgs.

**kubernetes-sigs:**
- @kris-nova
- @bryk
- @hh
- @openstacker
- @oomichi
- @vllry
- @zparnold
- @bradtopol
- @grayluck
- @alisondy
- @lachie83
- @brendandburns
- @dtoledo67

**kubernetes-incubator:**
- **NOTE:** With t

[2020-02-19 01:18] kfox1111 commented on #1627
I hadn't realized I missed clicking on the invite. I think I have fixed that.

[2020-02-19 01:24] mrbobbytables commented on #1627
Yup, that took care of it 👍

[2020-02-19 02:29] 27149chen opened #1640 "REQUEST: New membership for 27149chen"
### GitHub Username
@27149chen

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-02-19 03:50] pbnj opened #1641 "REQUEST: New membership for @pbnj"
### GitHub Username
@pbnj

### Organization you are requesting membership in
kubernetes, kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2020-02-19 03:53] markyjackson-taulia commented on #1641
Oh yes you get a +1 from me!

[2020-02-19 03:55] justaugustus commented on #1641
cc: @zacharysarah

[2020-02-19 03:58] zacharysarah commented on #1641
+1!

[2020-02-19 04:09] sethmccombs commented on #1641
+1

[2020-02-19 08:20] liranp commented on #1634
Thank you so much, @justaugustus!

[2020-02-19 09:48] gujingit opened #1642 "REQUEST: New membership for gujing"
### GitHub Username
@[gujingit](https://github.com/gujingit)

### Organization you are requesting membership in
@[kubernetes](https://github.com/kubernetes)

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to

[2020-02-19 12:25] idealhack opened #1643 "Migrate k8smeetup/website-tasks to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing

https://github.com/k8smeetup/website-tasks

### Requested name for new repository

website-zh-tasks

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

[`sig-docs-zh-owners` in kubernetes/website](https://github.com/kubernetes/website/blob/470f932dd8649592152b0388c653d114e81ee74d/OWNERS

[2020-02-19 13:34] jimangel commented on #1641
Looks like you don't need another +1, but a big +1 over here! 🎉

[2020-02-19 14:13] pmorie commented on #1637
+1

Is a sponsor necessary if someone is already a member of the main kubernetes org?

[2020-02-19 16:45] gerred commented on #1637
+1

I think I've even seen this get auto-accepted, so I don't think so, but I'll cast one in anyway. ;)

[2020-02-19 17:50] nzoueidi commented on #1627
Missed that. I will do this tonight - sorry for the delay.

[2020-02-19 18:21] hh commented on #1627
Done, thanks for the invite/ping.

On Thu, Feb 20, 2020 at 6:51 AM Naeil Ezzoueidi <notifications@github.com>
wrote:

[2020-02-19 18:23] andrewsykim commented on #1642
+1

[2020-02-19 19:01] bartsmykla opened #1645 "REQUEST: New membership for bartsmykla"
### GitHub Username
@bartsmykla

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-02-19 19:10] #1645 closed

[2020-02-19 19:29] oomichi commented on #1627
@mrbobbytables Thanks for your help, I succeeded to join the organization.

[2020-02-19 20:32] zacharysarah commented on #1643
@idealhack 👋

To surface our [Slack conversation](https://kubernetes.slack.com/archives/CE3LNFYJ1/p1582115611002500) for visibility: why is a repo required? Can the same goal be accomplished with a project in k/website?

[2020-02-19 20:46] enj commented on #1245
@cblecker any updates on this?  I think everything is good from SIG Auth's side.

[2020-02-19 20:48] nan-yu opened #1646 "REQUEST: New membership for nan-yu"
### GitHub Username
@nan-yu

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2020-02-19 21:18] nzoueidi commented on #1627
I see that people started accepting the invites, should we wait a little bit maybe there are other could be notified by the comment of Bob, wdyt?

[2020-02-19 21:20] mortent commented on #1646
+1

[2020-02-19 22:42] oomichi commented on #1627
@nzoueidi Did you see some alert related to the invitation on the page https://github.com/kubernetes-sigs ?
That is what @mrbobbytables gave me advice.

[2020-02-19 22:50] alisondy commented on #1627
Joined! Thanks for the ping, The invite email eluded me before. 👀

[2020-02-20 01:43] aoxn commented on #1642
+1

[2020-02-20 02:02] cheyang commented on #1642
+1

[2020-02-20 02:05] cheyang commented on #1642
+1

[2020-02-20 02:44] cblecker commented on #1245
Verified SECURITY_CONTACTS.

Ran CLA check. Looks like there are two contributors who are missing CLAs:
- @malnick (1 PR: https://github.com/deislabs/secrets-store-csi-driver/pull/121)
- @ryysud (1 PR: https://github.com/deislabs/secrets-store-csi-driver/pull/48)

@ritazh @enj @craiglpeters: Can we follow up with these users and ask them to sign the CNCF CLA (https://git.k8s.io/community/CLA.md)?

[2020-02-20 03:02] cblecker commented on #1245
Created PR for teams: https://github.com/kubernetes/org/pull/1647

I've dropped @anubhavmishra and @malnick from the access list for this repo, as they are not org members (going through the community membership process is a requirement).

[2020-02-20 03:06] cblecker commented on #1245
Remaining steps:
- Resolve the above CLA issue: https://github.com/kubernetes/org/issues/1245#issuecomment-588580996
- Merge #1647
- Pick a time to migrate repo
- After migration, update sigs.yaml

[2020-02-20 03:18] xlgao-zju commented on #1642
+1

[2020-02-20 03:48] xing-yang opened #1648 "Create a new repo for external-health-monitor under kubernetes-csi"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
external-health-monitor

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
saad-ali , msau42 , jsafrane , xing-yang

### If not a staging repo, who should have write access
saad-ali , msau42 , jsafrane , xing-yang , NickrenREN

### If n

[2020-02-20 03:49] xing-yang commented on #1648
CC @saad-ali @msau42 @jsafrane

[2020-02-20 04:05] msau42 commented on #1648
/lgtm

[2020-02-20 08:30] nasa9084 commented on #1624
+1
Thank you for your contribution for Ja docs~

[2020-02-20 10:22] inductor commented on #1624
+1

[2020-02-20 17:27] kow3ns commented on #1646
+1

[2020-02-20 18:11] lachie83 commented on #1627
Joined! Thanks for the ping

[2020-02-20 18:45] eddycharly opened #1649 "REQUEST: New membership for @eddycharly"
### GitHub Username
@eddycharly

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-02-20 18:47] alvaroaleman commented on #1649
+1

[2020-02-20 18:47] cjwagner commented on #1649
+1

[2020-02-20 18:58] IanColdwater commented on #1641
+1 too! Woohoo!

[2020-02-20 19:19] pbnj commented on #1641
/pony 🤗

[2020-02-20 22:27] jimmidyson commented on #1637
@kubernetes/owners I'd really appreciate it if you could action this request so I can start taking more responsibility for kubernetes-sigs/kubefed. Thank you!

[2020-02-21 09:24] ant31 commented on #1646
+1

[2020-02-21 11:34] mrbobbytables commented on #1624
Hey there @kakts , thank you for all your help with the japanese localization efforts \o/

I've created PR #1652  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-21 11:38] mrbobbytables commented on #1637
@jimmidyson I've created #1652 to go ahead and add you to the kubernetes-sigs org.
Just an FYI for the future -- As a member of kubernetes, you do not need sponsorship to join the other "child orgs". Please feel free to PR yourself in if its urgent 👍We generally batch memberships changes every 2-3 days.

/assign

[2020-02-21 11:41] mrbobbytables commented on #1640
@27149chen I've created PR #1652  to add you to the Kubernetes-csi Org. Once that gets merged, you should get a membership invite notification. 🎉

Just an FYI for the future, as a member of kubernetes, you're implicitly allowed to join the other orgs and do not need sponsorship. You can PR yourself into an org in the future 👍

/assign

[2020-02-21 11:43] mrbobbytables commented on #1641
@pbnj fancy seeing you here :P
I've opened up PR #1652 to add you to both the kubernetes, and kubernetes-sigs orgs. Once it gets merged, you should get a membership invite from both of them 🎉

/assign
/honk
/pony party

[2020-02-21 11:45] mrbobbytables commented on #1642
Hey there @gujingit, thank you for all your contributions so far :)

I've created PR #1652  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-21 11:46] mrbobbytables commented on #1646
@nan-yu  , thank you for all your help with the app crd :)

I've created PR #1652  to add you to both the Kubernetes and Kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-21 11:47] mrbobbytables commented on #1649
@eddycharly  thank you for all your help with test-infra \o/

I've created PR #1652  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-21 12:04] #1624 closed

[2020-02-21 12:04] #1637 closed

[2020-02-21 12:04] #1640 closed

[2020-02-21 12:04] #1641 closed

[2020-02-21 12:04] #1642 closed

[2020-02-21 12:04] #1646 closed

[2020-02-21 12:04] #1649 closed

[2020-02-21 12:52] jimmidyson commented on #1637
@mrbobbytables Thank you! I didn't know the process for this at all so thank you for your help!

[2020-02-21 22:22] bradtopol commented on #1627
I have accepted my invite. Sorry for the delay!

[2020-02-21 23:11] ritazh commented on #1245
Thank you @malnick @ryysud for signing the CLA 🎉

@cblecker Pls let me know how I can help next!

[2020-02-22 03:04] cblecker commented on #1245
I think we're good @ritazh . What day next week would you like to do this? I can't do Monday, but any other day works for me.

[2020-02-22 15:51] kakts commented on #1624
Thank you so much!

[2020-02-22 22:26] cblecker commented on #1627
Update on current pending invites:

[code]
kubernetes
---
@rficcaglia - Created: 2020-02-10T21:20:41.000-08:00

kubernetes-sigs
---
@bryk - Created: 2019-01-22T22:31:00.000-08:00
@grayluck - Created: 2019-10-15T23:02:05.000-07:00
@dtoledo67 - Created: 2020-01-11T14:20:44.000-08:00
@brendandburns - Created: 2019-12-05T23:04:40.000-08:00
@openstacker - Created: 2019-07-16T14:10:06.000-07:00
@kris-no

[2020-02-24 16:35] ritazh commented on #1245
Tuesday works for me!

[2020-02-24 18:48] ChiefAlexander opened #1654 "REQUEST: New membership for ChiefAlexander"
### GitHub Username
@ChiefAlexander

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-02-24 18:51] aledbf commented on #1654
+1

[2020-02-24 21:05] cblecker commented on #1245
Sounds good. I'll take care of this tomorrow then.

[2020-02-24 23:00] hectorj2f opened #1656 "REQUEST: New membership for hectorj2f"
### GitHub Username
@hectorj2f

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-02-24 23:05] caseydavenport commented on #1656
+1 from me

[2020-02-25 01:06] pmorie commented on #1656
+1 from me.

[2020-02-25 01:26] gavinfish opened #1657 "REQUEST: New membership for gavinfish"
### GitHub Username
@gavinfish

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-02-25 01:49] zacharysarah commented on #1657
+1!

[2020-02-25 08:07] nikhita commented on #1648
/assign

[2020-02-25 08:24] nikhita commented on #1648
Repo has been created: https://github.com/kubernetes-csi/external-health-monitor :+1:

Also created:
- https://github.com/kubernetes/org/pull/1658 - to create GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4545 - to add repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-02-25 09:36] NickrenREN commented on #1648
@nikhita thank you so much for doing this, we now can start coding 👍

[2020-02-25 10:36] sftim commented on #1657
+1!

[2020-02-25 17:46] cblecker commented on #1245
Repo has been migrated: https://github.com/kubernetes-sigs/secrets-store-csi-driver

Last step is to update sigs.yaml and the sig-auth section to refer to this repo. Would you mind opening that PR, @ritazh ?

[2020-02-25 19:54] #1245 closed

[2020-02-25 20:03] ritazh commented on #1245
Thanks everyone for your feedback and support for this migration. Thank you @enj and @cblecker for moving this forward. 👏

[2020-02-26 08:35] Adirio opened #1659 "REQUEST: New membership for Adirio"
### GitHub Username
@Adirio

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-02-26 08:37] camilamacedo86 commented on #1659
Yes, +1.  👍

[2020-02-26 17:13] nikhita commented on #1648
All PRs have merged and teams have been granted access.

/close

[2020-02-26 17:13] #1648 closed

[2020-02-26 21:26] DirectXMan12 commented on #1659
:+1: from me as well.  @Adirio has been doing a lot of awesome work in KB.

[2020-02-27 08:35] kgroschoff opened #1663 "REQUEST: New membership for kgroschoff"
### GitHub Username
@kgroschoff

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-02-27 08:43] maciaszczykm commented on #1663
+1

[2020-02-27 10:15] jprzychodzen opened #1664 "REQUEST: New membership for jprzychodzen"
### GitHub Username
@jprzychodzen

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-02-27 10:26] mm4tt commented on #1664
+1, thanks @jprzychodzen for all the great contributions you've made so far!

[2020-02-27 11:25] shyamjvs commented on #1664
+1, welcome!

[2020-02-27 11:27] boddumanohar opened #1665 "REQUEST: New membership for boddumanohar"
### GitHub Username
@boddumanohar

### Organization you are requesting membership in
@kubernetes

### Requirements
- [*] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [*] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [*] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-02-27 11:32] dims commented on #1665
+1 from me!

[2020-02-27 11:32] nikhita commented on #1665
+1 from too! :tada:

[2020-02-27 22:31] ahmetb opened #1668 "krew.sigs.k8s.io: Netlify site request"
### Repository

kubernetes-sigs/krew

### Project domain

krew.sigs.k8s.io

Thanks. 🙌

[2020-02-27 23:23] mrbobbytables commented on #1668
/assign

[2020-02-28 00:12] mrbobbytables commented on #1668
Netlify domain is setup https://kubernetes-sigs-krew.netlify.com/
once the k8s domain is setup can configure the domain on the netlify side 👍

[2020-02-28 04:00] JimBugwadia opened #1669 "New repository for wg-policy proposals and prototypes under kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
wg-policy-prototypes

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@ericavonb
@hannibalhuang

### If not a staging repo, who should have write access
@JimBugwadia

### If not a staging repo, who should be listed as approvers in OW

[2020-02-28 04:08] cblecker commented on #1669
Hi @JimBugwadia,
Working groups, by their definition, cannot own code or documentation. All the work from a WG must funnel up to one of their sponsoring sigs. As such, we cannot process this as-is.

Please reach out your sponsoring sigs (https://git.k8s.io/community/wg-policy) and get them to review the request and sponsor this work (or suggest another place to do it). This is what @nikhita was sp

[2020-02-28 04:14] JimBugwadia commented on #1669
@cblecker - thanks! Makes sense. Just contacted @tallclair for his recommendation on how to proceed.

[2020-02-28 07:55] nikhita commented on #1499
@pmorie @quinton-hoole friendly ping :)

[2020-02-28 09:26] 44past4 opened #1672 "REQUEST: New membership for 44past4"
### GitHub Username
44past4

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-02-28 10:38] brancz commented on #1672
/lgtm 🎉

[2020-02-28 10:39] piosz commented on #1672
/lgtm
welcome to Kubernetes community!

[2020-02-28 11:16] nzoueidi commented on #1656
Hey there @hectorj2f, thank you for all your contributions so far :)

I've created PR #1673 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-02-28 11:16] nzoueidi commented on #1657
Hey there @gavinfish, thank you for all your contributions so far :)

I've created PR #1673 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-28 11:17] nzoueidi commented on #1659
Hey there @Adirio, thank you for all your contributions so far :)

I've created PR #1673 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-02-28 11:17] nzoueidi commented on #1664
Hey there @jprzychodzen, thank you for all your contributions so far :)

I've created PR #1673 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-28 11:17] nzoueidi commented on #1665
Hey there @boddumanohar, thank you for all your contributions so far :)

I've created PR #1673 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-28 11:18] nzoueidi commented on #1672
Hey there @44past4, thank you for all your contributions so far :)

I've created PR #1673 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-02-28 11:20] hectorj2f commented on #1656
Thanks @nzouedi

[2020-02-28 11:20] #1656 closed

[2020-02-28 11:20] #1657 closed

[2020-02-28 11:20] #1659 closed

[2020-02-28 11:20] #1664 closed

[2020-02-28 11:20] #1665 closed

[2020-02-28 11:20] #1672 closed

[2020-02-28 11:40] Adirio commented on #1659
Hi @nzoueidi,

First of all, thank you very much.

#1673 already got merged, but I still didn't get any membership invite notification. How long does it usually take? I'm asking because I recently signed in the new Beta GitHub notifications, hope that it is not an issue.

[2020-02-28 16:37] scottrigby commented on #1654
+1

[2020-02-28 16:38] kris-nova commented on #1627
Looks like you can just go [here](https://github.com/orgs/kubernetes-sigs/invitation) if you have an open invite and click the join button.

No YAML or `git blame`ing required.

Maybe I am missing something?

[2020-02-28 16:59] logicalhan commented on #1672
/lgtm

Congrats!!

[2020-02-28 18:32] PatrickLang commented on #1627
I think I accepted the pending invite - I see this on my profile:
[code]

If one is missing let me know. I can't find others - they could have got lost in email

[2020-02-28 19:59] mrbobbytables commented on #1668
site is live, things should be good 👍
Going to go ahead and close this out. If you have any problems please reach out in slack or reopen.

Thanks!

/close

[2020-02-28 19:59] #1668 closed

[2020-02-28 20:04] #1627 closed

[2020-02-28 20:05] cblecker commented on #1627
@PatrickLang @kris-nova We're good with both of you now :) Thanks!

[2020-02-29 00:15] immuzz opened #1676 "REQUEST: New membership for <immuzz>"
### GitHub Username
immuzz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-02-29 00:32] PatrickLang commented on #1676
+1 - glad to have you helping :)

[2020-02-29 00:44] michmike commented on #1676
+1. thank you for helping Muzz

[2020-03-01 07:35] idealhack commented on #1643
@zacharysarah Thank you! I think there were a few reasons behind a separated repo:

- the tool might open and close a large number of issues
- the current repo has another set of labels
- the tool will require additional permissions to manage the issues

But if it's OK to create the issues in k/website, then it's fine to change the tool a bit to adapt that.

[2020-03-02 10:33] nzoueidi commented on #1654
@scottrigby I don't think that you could sponsor this org membership while you are not an approver/reviewer in the kubernetes org. Helm is a separate organization.

More information here: https://github.com/kubernetes/community/blob/master/community-membership.md#member

@ChiefAlexander I would rather think for applying for membership in the Helm org as it make more sense while most of your contri

[2020-03-02 12:58] aledbf commented on #1654
@nzoueidi on May 13th, 2020, in less than three months, the stable and incubator repositories will be de-listed from the Helm Hub. @ChiefAlexander is already a member of the helm org and current maintainer and reviewer of the `nginx-ingress` chart.
His membership in the k8s org is required to continue the contribution in the  https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-n

[2020-03-02 13:21] mrbobbytables commented on #1654
@aledbf We still need another sponsor per the[ membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Would another owner from the [ingress-nginx](https://github.com/kubernetes/ingress-nginx) subproject be able to sponsor?

[2020-03-02 13:26] aledbf commented on #1654
@mrbobbytables not sure. None of the [OWNERS_ALIASES](https://github.com/kubernetes/ingress-nginx/blob/master/OWNERS_ALIASES) are involved in the project.

ping @bowei

[2020-03-02 17:14] elmiko opened #1677 "REQUEST: New membership for elmiko"
### GitHub Username
@elmiko

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2020-03-02 17:15] ncdc commented on #1677
+1

[2020-03-02 17:18] enxebre commented on #1677
+1

[2020-03-02 17:26] bowei commented on #1654
+1

[2020-03-02 17:34] frobware opened #1678 "REQUEST: New membership for frobware"
### GitHub Username
@frobware

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2020-03-02 17:35] ncdc commented on #1678
+1

[2020-03-02 17:45] timothysc commented on #1677
+1 from me

[2020-03-02 18:25] MaciekPytel commented on #1678
+1 for many contributions to autoscaling

[2020-03-02 19:25] sophieliu15 opened #1679 "REQUEST: New membership for sophieliu15"
### GitHub Username
@sophieliu15

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-03-02 19:51] adrianludwin commented on #1679
Approved, Sophie's already making good contributions to HNC.

[2020-03-02 20:03] tashimi commented on #1679
![tenor-240687646](https://user-images.githubusercontent.com/719646/75712979-c8567c80-5c7d-11ea-9a2e-43620cae3aa3.gif)

+1!

[2020-03-03 04:23] kkmsft opened #1680 "REQUEST: New membership of kubernetes-csi"
### GitHub Username

@kkmsft

### Organization you are requesting membership in

kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-03-03 04:38] kkmsft commented on #1680
/cc @ddebroy @jingxu97 @msau42

[2020-03-03 06:05] hardikdr commented on #1678
+100

[2020-03-03 16:33] nzoueidi commented on #1654
/assign

[2020-03-03 16:33] nzoueidi commented on #1663
Hey @jeefy, do you have a moment to sponsor @kgroschoff's org membership

[2020-03-03 16:34] nzoueidi commented on #1676
/assign

[2020-03-03 16:34] nzoueidi commented on #1677
/assign

[2020-03-03 16:34] nzoueidi commented on #1679
/assign

[2020-03-03 16:34] nzoueidi commented on #1678
/assign

[2020-03-03 16:35] nzoueidi commented on #1680
/assign

[2020-03-03 16:40] jeefy commented on #1663
Sorry things have been crazy. :)

+1

[2020-03-03 21:15] nzoueidi commented on #1677
Hey @elmiko, both @timothysc and @ncdc are from VMware - sponsors should be from different companies.

Also, @enxebre is not in in any OWNERS file(s) for kubernetes and kubernetes-sigs orgs. Could you please pick/add another sponsor.

[2020-03-03 21:26] nzoueidi commented on #1680
This should be done by #1682

[2020-03-03 21:26] nzoueidi commented on #1678
Hey there @frobware, thank you for all your contributions so far :)

I've created PR #1682 to add you to the Kubernetes & Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome! 🎉

[2020-03-03 21:27] nzoueidi commented on #1679
Hey there @sophieliu15, thank you for all your contributions so far :)

I've created PR #1682 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome! 🎉

[2020-03-03 21:27] nzoueidi commented on #1677
Hey there @elmiko, thank you for all your contributions so far :)

I've created PR #1682 to add you to the Kubernetes & Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome! 🎉

[2020-03-03 21:28] nzoueidi commented on #1676
Hey there @immuzz, thank you for all your contributions so far :)

I've created PR #1682 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome! 🎉

[2020-03-03 21:29] nzoueidi commented on #1663
Thank you @jeefy, hope everything goes well!

And thank you @kgroschoff for all your contributions so far :)

I've created PR #1682 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome! 🎉

[2020-03-03 21:29] nzoueidi commented on #1654
Thank you @ChiefAlexander for all your contributions so far :)

I've created PR #1682 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome! 🎉

[2020-03-03 21:31] nzoueidi commented on #1663
/assign

[2020-03-03 21:35] #1678 closed

[2020-03-03 21:35] #1679 closed

[2020-03-03 21:35] #1680 closed

[2020-03-03 21:35] #1663 closed

[2020-03-03 21:35] #1676 closed

[2020-03-03 21:35] #1677 closed

[2020-03-03 21:35] #1654 closed

[2020-03-03 21:43] elmiko commented on #1677
thanks!

[2020-03-05 19:51] danwinship opened #1688 "sig-network iptables-wrappers subproject"
### New Repo, Staging Repo, or migrate existing
migrate existing, https://github.com/danwinship/iptables-wrappers

### Requested name for new repository
iptables-wrappers

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
danwinship, caseydavenport, dcbw, thockin

### If not a staging repo, who should have write access
danwinship, case

[2020-03-05 22:23] alexgervais opened #1689 "REQUEST: New membership for alexgervais"
### GitHub Username
@alexgervais

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-03-06 18:32] gab-satchi opened #1690 "REQUEST: New membership for gab-satchi"
### GitHub Username
@gab-satchi

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-03-07 06:34] RainbowMango opened #1691 "sig-cloud-provider: add cloud-provider-huaweicloud repo"
### New Repo, Staging Repo, or migrate existing
Migrate existing: https://github.com/huawei-cloudnative/cloud-provider-huaweicloud

### Requested name for new repository
cloud-provider-huaweicloud

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@kevin-wangzefeng, @RainbowMango

### If not a staging repo, who should have write access

[2020-03-07 06:40] RainbowMango commented on #1691
/cc @andrewsykim @cheftako @nikhita
Thanks.

[2020-03-08 07:20] yg opened #1692 "REQUEST: New membership for yg"
### GitHub Username

@yg

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-03-08 08:22] idealhack commented on #1643
So we are going to try to use the k/website for task management, closing this for now :)

[2020-03-08 08:22] #1643 closed

[2020-03-08 08:29] justaugustus commented on #1643
FWIW, if the repo was to be migrated, it would contributors who had write access to both to migrate issues into k/website.

There are a lot of issues there and it might be worthwhile.

[2020-03-08 08:30] justaugustus commented on #1643
(all existing labels would get dropped in the process though)

[2020-03-09 12:00] JoshVanL opened #1693 "REQUEST: New membership for joshvanl"
### GitHub Username
e.g. @joshvanl

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-03-09 12:03] munnerz commented on #1693
+1 - Josh has been working on cert-manager extensively and it'd be helpful to have him named as an approver & able to lgtm PRs like this: https://github.com/kubernetes/test-infra/pull/16685

He's also been contributing to & using various parts of `k8s.io/apiserver` via https://github.com/jetstack/kube-oidc-proxy/

[2020-03-09 19:46] jhonmike opened #1694 "REQUEST: New membership for jhonmike"
### GitHub Username
@jhonmike

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-03-09 20:10] jayunit100 opened #1695 "REQUEST: New membership for jayunit100"
### GitHub Username
jayunit100

### Organization you are requesting membership in

kubernetes-sigs

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-03-09 20:15] ncdc commented on #1695
👍

[2020-03-09 20:16] ravisantoshgudimetla commented on #1695
:+1:

[2020-03-09 20:22] dlipovetsky commented on #1695
:+1:

[2020-03-09 20:31] justaugustus commented on #1695
@jayunit100 -- As a Kubernetes org member, you're implicitly eligible for membership to kubernetes-sigs.

If you want, you can PR yourself in ([example](https://github.com/kubernetes/org/pull/1685)), assign me to the PR and I'll approve. :)

[2020-03-09 20:54] jayunit100 commented on #1695
oh hey ! ok cool

[2020-03-10 07:00] hannibalhuang commented on #1669
+1 we have been discussing this for a long time, it would be great to have the sig repo for our ongoing k8s centric projects :)

[2020-03-10 09:03] femrtnz commented on #1694
Approved. @jhonmike is helping us the Portuguese translations :)

FYI @zacharysarah @mrbobbytables

[2020-03-10 14:22] yohix commented on #1692
cc: @savitharaghunathan

[2020-03-10 14:26] savitharaghunathan commented on #1692
@yohix , I cannot sponsor as I don't qualify yet. I think you would need two reviewers/approvers sponsoring your request - https://github.com/kubernetes/community/blob/master/community-membership.md#requirements.

[2020-03-10 14:34] yohix commented on #1692
@savitharaghunathan, oops how can I notify them? or else they will get back to this issue?

[2020-03-10 14:44] devlware commented on #1694
I also agree that @jhonmike will help us in the Portuguese team.

[2020-03-10 15:06] jcjesus commented on #1694
Approved for me too! @jhonmike is helping us.

[2020-03-10 16:27] palnabarun commented on #1405
/remove-lifecycle rotten

[2020-03-10 16:27] palnabarun commented on #1405
/lifecycle frozen

[2020-03-10 16:57] cheftako commented on #1691
/lgtm

[2020-03-10 16:57] cheftako commented on #1691
/approve

[2020-03-10 17:05] RainbowMango commented on #1691
Thanks!
@nikhita Are you a member of the GitHub admin team?

[2020-03-11 01:20] djzager opened #1698 "REQUEST: New membership for @djzager"
### GitHub Username
@djzager

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-03-11 03:04] chendotjs opened #1699 "REQUEST: New membership for chendotjs"
### GitHub Username
@chendotjs

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-03-11 05:54] ityuhui opened #1700 "Request to create new repository “kubernetes-client/c”"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
c

### Which Organization should it reside
kubernetes-client

### If not a staging repo, who should have admin access
@brendandburns @ityuhui

### If not a staging repo, who should have write access
@brendandburns @ityuhui

### If not a staging repo, who should be listed as approvers in OWNERS
@br

[2020-03-11 06:48] alvaroaleman commented on #1698
+1

[2020-03-11 07:27] aojea commented on #1699
+1

[2020-03-11 12:27] uablrek opened #1701 "REQUEST: New membership for @uablrek"
### GitHub Username

@uablrek

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-03-11 12:28] uablrek commented on #1701
area/github-membership

[2020-03-11 12:30] #1701 closed

[2020-03-11 12:31] uablrek opened #1702 "REQUEST: New membership for @uablrek"
### GitHub Username

@uablrek

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-03-11 12:33] saschagrunert commented on #1702
+1 :tada:

[2020-03-11 13:09] liggitt commented on #1699
+1

[2020-03-11 13:19] aojea commented on #1702
+1

[2020-03-11 16:02] danwinship commented on #1702
+1

[2020-03-11 16:05] wfernandes opened #1703 "REQUEST: New membership for @wfernandes"
### GitHub Username
@wfernandes

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-03-11 16:08] uablrek commented on #1702
The original sponsors are from the same company so danwinship is added as sponsor.

[2020-03-11 16:15] vincepri commented on #1703
+:100:

[2020-03-11 20:59] DirectXMan12 commented on #1698
:+1:

[2020-03-11 21:00] shawn-hurley commented on #1698
👍

[2020-03-11 21:08] mrbobbytables commented on #1703
@wfernandes do you happen to know someone else who can sponsor you? Sponsors must be from different companies 😬

[2020-03-11 21:20] mrbobbytables commented on #1690
Hey there @gab-satchi I've gone ahead and created PR #1704 to add you to @kubernetes-sigs. Once that merges, you should get a membership invite notification 👍

/assign

[2020-03-11 21:21] mrbobbytables commented on #1694
Hey there @jhonmike , thank you for all your help with the localization efforts :)

I've created PR #1704  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-11 21:23] mrbobbytables commented on #1695
@jayunit100 I opened up PR #1704 to add you to @kubernetes-sigs. Once that gets merged, you should get the membership invite notification 👍

/assign

[2020-03-11 21:24] mrbobbytables commented on #1698
@djzager thanks for all your help with controller-runtime and kubebuilder :)

I've created PR #1704  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-11 21:25] mrbobbytables commented on #1699
@chendotjs  thank you for all your contributions so far :)

I've created PR #1704  to add you to both the Kubernetes and Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification from both of them

Welcome to @kubernetes! 🎉

/assign

[2020-03-11 21:26] mrbobbytables commented on #1702
@uablrek , thank you for all your contributions so far :)

I've created PR #1704  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-11 21:31] wfernandes commented on #1703
@mrbobbytables Let me ask around 🙂

[2020-03-11 21:47] CecileRobertMichon commented on #1703
+1

[2020-03-11 22:26] #1690 closed

[2020-03-11 22:26] #1694 closed

[2020-03-11 22:26] #1695 closed

[2020-03-11 22:26] #1698 closed

[2020-03-11 22:26] #1699 closed

[2020-03-11 22:26] #1702 closed

[2020-03-11 22:35] mrbobbytables commented on #1700
/assign @brendandburns @fedebongio @deads2k @lavalamp
@ityuhui In addition to Brendan's signs off you will need approval from the [sig-api-machinery leads](https://github.com/kubernetes/community/tree/master/sig-api-machinery#leadership) as the owners of the [kubernetes-client libraries](https://github.com/kubernetes/community/tree/master/sig-api-machinery#kubernetes-clients).

You will also need

[2020-03-11 22:46] lavalamp commented on #1700
As long as two people are signed up to maintain it, it's fine with me.

/approve

[2020-03-11 23:19] cblecker commented on #1405
This is done, closing.
/remove-lifecycle frozen
/close

[2020-03-11 23:19] #1405 closed

[2020-03-12 06:03] nikhita commented on #1691
/assign

[2020-03-12 06:25] nikhita commented on #1691
I have verified the CLAs and licenses. Everything looks good!

@RainbowMango can you add the `SECURITY_CONTACTS` file to the repo and add me as an admin to the repo? I can proceed with the migration after that. :+1:

[2020-03-12 06:41] nikhita commented on #1688
@danwinship sorry for the delay on this!

Can you update the copyright headers from the Red Hat boilerplate to Kubernetes one? You can find the k8s one here - https://github.com/kubernetes/kubernetes/tree/master/hack/boilerplate.

Looks good to go after that! I have invited you to the https://github.com/kubernetes-purgatory org. Once the boilerplates have been updated, can you move the repo to thi

[2020-03-12 06:41] nikhita commented on #1688
/assign

[2020-03-12 06:43] RainbowMango commented on #1691
Sure thing, thanks.
Here: https://github.com/huawei-cloudnative/cloud-provider-huaweicloud/pull/62

Done.

[2020-03-12 07:00] nikhita commented on #1691
Repo has been migrated - https://github.com/kubernetes-sigs/cloud-provider-huaweicloud. :tada:

Also created:

- https://github.com/kubernetes/org/pull/1705 - to create GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4596 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue. :+1:

[2020-03-12 09:20] fabriziopandini commented on #1703
+1
@wfernandes thanks for your great work!

[2020-03-12 14:11] danwinship commented on #1688
Fixed the boilerplate and also updated the OWNERS file to add the sig-network team leads as approvers. It is now moved to kubernetes-purgatory.

[2020-03-12 14:54] nikhita commented on #1688
Repo has been migrated: https://github.com/kubernetes-sigs/iptables-wrappers :+1:

Also created:

- https://github.com/kubernetes/org/pull/1706 - to create GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4597 - to update sigs.yaml

Once both PRs merge, we can close this issue.

[2020-03-12 15:48] sedefsavas opened #1707 "REQUEST: New membership for @sedefsavas"
### GitHub Username
@sedefsavas
### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-03-12 16:10] vincepri commented on #1707
+:100:

[2020-03-12 17:02] CecileRobertMichon commented on #1707
+1!

[2020-03-12 17:11] brendandburns commented on #1700
/approve

I will sign up to maintain this in addition to @ityuhui

There's a little bit of a catch 22 here in that @ityuhui needs to be a member of the kubernetes org, but the main contribution is what would be checked into the repo that we're trying to create :)

But I'm willing to sponsor @ityuhui into the Kubernetes org on the basis of this as a future contribution. Let me know if that works.

[2020-03-12 17:12] brianpursley opened #1709 "REQUEST: New membership for @brianpursley"
### GitHub Username
@brianpursley

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2020-03-12 17:14] seans3 commented on #1709
+1

[2020-03-12 17:38] soltysh commented on #1709
:+1:

[2020-03-13 05:11] nikhita commented on #1700
@brendandburns That works, especially since they have already had a few contributions in other repos already (https://github.com/kubernetes-client/gen/pull/148). :)

[2020-03-13 05:12] nikhita commented on #1688
All PRs have merged and teams have been granted access.

/close

[2020-03-13 05:12] #1688 closed

[2020-03-13 20:51] DirectXMan12 opened #1710 "Create kubernetes-sigs/kubebuilder-release-tools"
### New Repo, Staging Repo, or migrate existing

New repo

### Requested name for new repository

kubernetes-sigs/kubebuilder-release-tools

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

The active parts of the kubebuilder admins & maintainers:

- @DirectXMan12
- @droot
- @mengqiy
- @vincepri

### If not a staging repo, who shoul

[2020-03-14 04:59] brendandburns commented on #1700
Cool, do we need to do anything else to get this repo created?

Thanks!

[2020-03-14 16:03] bozzo opened #1711 "REQUEST: New membership for bozzo"
### GitHub Username
@bozzo

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-03-14 16:58] LuckySB commented on #1711
Happy to be sponsor.

/lgtm

[2020-03-14 18:06] Miouge1 commented on #1711
+1

Great to get some help with kube-router support in Kubespray, thank you @bozzo

[2020-03-15 06:37] nilo19 opened #1712 "REQUEST: New membership for nilo19"
### GitHub Username
@nilo19

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-03-15 06:38] feiskyer commented on #1712
+1 for @nilo19's contributions to cloud-provider-azure

[2020-03-15 12:32] justaugustus commented on #1712
+1. Thanks for your work in cloud-provider-azure, @nilo19!!

[2020-03-15 13:27] mrbobbytables commented on #1700
@ityuhui if you could, please create an issue here using the [Org Membership Request Issue Template](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E). You will want to request membership to the kubernetes-client org and reference this issue with @brendandburns and myself as a spo

[2020-03-15 13:33] ityuhui commented on #1700
@mrbobbytables
OK. I will do it.

[2020-03-15 13:41] ityuhui opened #1713 "REQUEST: New membership for ityuhui"
### GitHub Username
@ityuhui

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-03-15 13:45] ityuhui commented on #1700
Hello @mrbobbytables @brendandburns

I have submitted the membership request to the kubernetes-client @ https://github.com/kubernetes/org/issues/1713

Thank you for sponsoring me !

[2020-03-15 13:52] mrbobbytables commented on #1713
+1 from sponsor, thanks for getting the c client going :)

[2020-03-15 19:07] brendandburns commented on #1713
+1 to sponsor

--brendan

________________________________
From: Bob Killen <notifications@github.com>
Sent: Sunday, March 15, 2020 6:52:29 AM
To: kubernetes/org <org@noreply.github.com>
Cc: Brendan Burns <bburns@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/org] REQUEST: New membership for ityuhui (#1713)

+1 from sponsor, thanks for getting the c client going :)

[2020-03-15 21:50] mrbobbytables commented on #1710
/assign @pwittrock
for sign off 👍

[2020-03-16 09:31] olivierlemasle opened #1714 "REQUEST: New membership for olivierlemasle"
### GitHub Username
@olivierlemasle

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-03-16 09:34] brancz commented on #1714
Thanks for all your contributions! Looking forward to working with you even more! :) lgtm :tada:

[2020-03-16 10:00] nikhita commented on #945
/remove-lifecycle stale

[2020-03-16 10:32] nikhita commented on #1691
Both PRs have merged and teams have been granted access.

/close

[2020-03-16 10:32] #1691 closed

[2020-03-16 11:42] tizhou86 opened #1716 "sig-cloud-provider: Add cloud-provider-baiducloud repository"
### New Repo, Staging Repo, or migrate existing
Migrate existing repository: https://github.com/baidu/cloud-provider-baiducloud

### Requested name for new repository
cloud-provider-baiducloud

### Which Organization should it reside
kubernetes or kubernetes-sigs

### If not a staging repo, who should have admin access
@tizhou86, @ZP-AlwaysWin, @hello2mao

### If not a staging repo, who should hav

[2020-03-16 11:43] tizhou86 commented on #1716
/assign @andrewsykim @cheftako @nikhita , thanks!

[2020-03-16 15:55] andrewsykim commented on #1716
+1

[2020-03-16 16:14] cheftako commented on #1716
/lgtm

[2020-03-16 20:28] mrbobbytables commented on #1703
@wfernandes thank you for all your contributions so far :)

I've created PR #1718  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-16 20:28] mrbobbytables commented on #1707
Hey there @sedefsavas, thank you for all your help with the cluster-api :)

I've created PR #1718  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-16 20:29] mrbobbytables commented on #1709
@brianpursley , thank you for all your contributions to kubectl \o/

I've created PR #1718  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2020-03-16 20:30] mrbobbytables commented on #1711
@bozzo, thank you for all your help with kubespray

I've created PR #1718  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-16 20:31] mrbobbytables commented on #1712
Hey there @nilo19 , thank you for all your contributions to the azure cloud provider :)

I've created PR #1718  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-16 20:32] mrbobbytables commented on #1713
@ityuhui , thank you for kick start the C client.

I've created PR #1718  to add you to the Kubernetes-client Org. Once that gets merged, you should get a membership invite notification and I can move forward with creating the repo \o/

Welcome to @kubernetes-client! 🎉

/assign

[2020-03-16 20:33] mrbobbytables commented on #1700
/assign

I'll create the repo once #1718 is merged and the membership invite accepted :)

[2020-03-16 20:51] mrbobbytables commented on #1716
@tizhou86
Can you add `SECURITY_CONTACTS` and  `OWNERS` files to the repo? We try to have those staged before import.

I'll give it a FOSSA scan and get back to you if other things are needed before import :)

/assign

[2020-03-16 23:07] mbbroberg opened #1719 "REQUEST: New membership for @mbbroberg"
### GitHub Username

@mbbroberg

### Organization you are requesting membership in

kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-03-17 00:52] parispittman commented on #1719
+1! your insights have been so valuable and can't wait for the future! 🚀

[2020-03-17 01:29] ityuhui commented on #1713
Thank you @mrbobbytables @brendandburns

[2020-03-17 01:31] ityuhui commented on #1700
Thank you @mrbobbytables

[2020-03-17 01:36] mrbobbytables commented on #1719
+1 from me :)
/honk
/pony party

[2020-03-17 01:39] mrbobbytables commented on #1719
@mbbroberg , thank you for all your help with the marketing subproject <3

I've created PR #1718  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-17 02:10] #1703 closed

[2020-03-17 02:10] #1707 closed

[2020-03-17 02:10] #1709 closed

[2020-03-17 02:10] #1711 closed

[2020-03-17 02:10] #1712 closed

[2020-03-17 02:10] #1713 closed

[2020-03-17 02:10] #1719 closed

[2020-03-17 02:33] mbbroberg commented on #1719
@parispittman @mrbobbytables you two are the sweetest 😭I'm so happy to be here 🚀

[2020-03-17 04:12] tizhou86 commented on #1716
Done, please take a look, thanks!

[2020-03-17 06:12] cblecker commented on #945
This is now enabled and is functional on https://github.com/kubernetes-client/javascript/network/alerts

/close

[2020-03-17 06:12] #945 closed

[2020-03-17 12:22] mrbobbytables commented on #1700
The repo has been created: https://github.com/kubernetes-client/c
The teams have been added: #1723
Once https://github.com/kubernetes/community/pull/4629 is merged, this should be able to be closed :)

[2020-03-17 13:15] wozniakjan opened #1724 "REQUEST: New membership for wozniakjan"
### GitHub Username
@wozniakjan

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-03-17 13:17] wozniakjan commented on #1724
ptal @msau42 , afraid I am missing second sponsor to join @kubernetes-csi, not sure if approver is willing to waive the requirement given the small headcount of @kubernetes-csi

[2020-03-17 13:26] prksu opened #1725 "REQUEST: New membership for prksu"
### GitHub Username
@prksu

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-03-17 14:03] xmudrii commented on #1725
+1

Additional sponsor is not needed since @prksu is already the Kubernetes org member.

[2020-03-17 14:21] msau42 commented on #1724
+1 @wozniakjan has been doing great work bringing the CSI nfs driver up to date.

I will find a second sponsor for you 😀

[2020-03-17 14:23] xing-yang commented on #1724
+1

[2020-03-17 15:18] wozniakjan commented on #1724
thank you very much both :)

[2020-03-17 20:14] mohamedsgap opened #1726 "REQUEST: New membership for @mohamedsgap"
### GitHub Username
@mohamedsgap

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-03-17 20:18] remyleone commented on #1726
👍

[2020-03-17 23:09] tariq1890 commented on #1714
+1 from me too!

I couldn't be happier to recommend @olivierlemasle for his invaluable contributions to kube-state-metrics. Welcome aboard!

[2020-03-18 08:06] cpanato commented on #1725
+1

[2020-03-18 08:09] cpanato commented on #1725
I think you can open a PR similar to this one: https://github.com/kubernetes/org/pull/1685

Add similar commit message and put your GitHub in the alphabetical order in the list 😄

cc @prksu @xmudrii

[2020-03-18 10:10] prksu commented on #1725
@cpanato is it ok to do that? :sweat_smile:

[2020-03-18 10:54] cpanato commented on #1725
@prksu yes, why not? :)
the worst thing that can happen is to close the PR, which i bet not going to happen :)

[2020-03-18 11:32] xmudrii commented on #1725
@prksu +1 to what @cpanato said, it should be totally okay. :slightly_smiling_face:

[2020-03-18 11:56] #1725 closed

[2020-03-18 17:03] jingyih opened #1729 "REQUEST: New membership for jingyih"
### GitHub Username
@jingyih

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-03-18 18:34] jpbetz commented on #1729
/lgtm
Thanks for all your hard work @jingyih !

[2020-03-18 19:03] dims commented on #1729
/lgtm

Big thanks from as well @jingyih

[2020-03-19 02:54] tizhou86 commented on #1716
Ping @mrbobbytables , thanks!

[2020-03-19 14:16] mrbobbytables commented on #1716
Sorry for the delay @tizhou86, I've been busy with $dayjob -- Things looked okay on the dependency side, but the commit history for the repo is kind of messy 😬

Gives the list of authors:
[code]

Commits signed by:
[code]
Do not have a signed CLA for that email address. There may be a few other issues, but thats what we've found so far.

These ideally should be re-signed as the correct author, or

[2020-03-19 18:21] serathius commented on #1382
@lilic

[2020-03-19 20:17] sanchezl opened #1730 "REQUEST: New membership for sanchezl"
### GitHub Username
@sanchezl

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2020-03-19 21:53] sttts commented on #1730
strong +1.

[2020-03-20 03:30] caesarxuchao commented on #1730
+1！

[2020-03-20 04:55] liggitt opened #1731 "Migrate github.com/liggitt/clientgofix repo to kubernetes-sigs/clientgofix"
### New Repo, Staging Repo, or migrate existing
Migrate https://github.com/liggitt/clientgofix

### Requested name for new repository
clientgofix

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@liggitt, @mikedanese

### If not a staging repo, who should have write access
@liggitt, @mikedanese

### If not a staging repo, who should

[2020-03-20 07:13] olemarkus opened #1732 "REQUEST: New membership for olemarkus"
### GitHub Username
olemarkus

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-03-20 08:54] zetaab commented on #1732
+1

[2020-03-20 09:37] tizhou86 commented on #1716
Hi @mrbobbytables , we've just re-signed the commits to the correct author today, please take a look, and if there are any other issues, please let me know, thanks!

[code]
By the way, we confirmed that this one has a signed CLA.

[2020-03-20 11:46] deads2k commented on #1731
This is great to ease the migration.

/lgtm
/approve

[2020-03-20 11:58] rifelpet commented on #1732
+1 thanks for your contributions so far!

[2020-03-20 12:23] nikhita commented on #1731
/assign

[2020-03-20 13:12] nikhita commented on #1731
Repo has been migrated: https://github.com/kubernetes-sigs/clientgofix

Also created:
- https://github.com/kubernetes/org/pull/1733 - to create GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4640 - to add repo to sigs.yaml

Once https://github.com/kubernetes/community/pull/4640 is merged, we can close this issue.

[2020-03-20 13:49] liggitt commented on #1731
thanks, repo transferred, teams set up, sigs.yaml updated

[2020-03-20 13:49] #1731 closed

[2020-03-20 15:48] lavalamp commented on #1731
belated +1

[2020-03-20 16:55] MorrisLaw opened #1734 "REQUEST: New membership for MorrisLaw"
### GitHub Username
@MorrisLaw

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-03-20 17:50] #1734 closed

[2020-03-20 21:09] mohamedsgap commented on #1726
@sftim any update??

[2020-03-20 21:43] sftim commented on #1726
Hi @mohamedsgap it sounds like you'd like help or advice. I'm not sure I'm the right person to help you with that - did you mean to ask someone else?

[2020-03-20 22:13] rlenferink commented on #1726
+1 @mohamedsgap is helping out to start an Arabic localization of our docs 🎉

[2020-03-20 23:46] marosset opened #1736 "REQUEST: New membership for marosset - kubernetes-sigs"
### GitHub Username
e.g. @marosset

### Organization you are requesting membership in
e.g. @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2020-03-20 23:47] chewong commented on #1736
+1

[2020-03-20 23:52] justaugustus commented on #1736
+1

[2020-03-20 23:54] michmike commented on #1736
+1

[2020-03-20 23:57] justaugustus commented on #1736
@marosset -- As a member of the `kubernetes` org, you're implicitly eligible for membership to the other orgs, like `kubernetes-sigs`, so you can just PR yourself in :)

Here's an example of how to do that: https://github.com/kubernetes/org/pull/1685
Keeping two things in mind:
- Usernames must be alpha-sorted
- PR title and commit message must clearly listed who you are and what you're being adde

[2020-03-21 00:00] marosset commented on #1736
Did not know that...
I'll close this issue and do follow up with a PR :)

[2020-03-21 00:00] #1736 closed

[2020-03-23 13:10] mrbobbytables commented on #1716
Awesome, it looks like the CLA issues have been resolved 👍
If you could, please add me as an admin to the repo and I should be able to do the migration :)

[2020-03-23 21:15] olivierlemasle commented on #1714
Ping @kubernetes/owners

[2020-03-23 22:49] mrbobbytables commented on #1689
gentle ping @bowei @youngnick for ack 👍

[2020-03-23 22:50] pwittrock commented on #1710
/lgtm

[2020-03-23 22:50] mrbobbytables commented on #1693
@JoshVanL do you have a 2nd sponsor? it's been 2 weeks and usually folks hold off on opening these until they have 2 😬

[2020-03-23 22:51] Benwa-98 opened #1739 "REQUEST: New membership for Benwa-98"
### GitHub Username
@Benwa-98

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/