[2022-05-28 16:33] PushkarJ commented on #3449
@aladewberry has volunteered to lead the sub-project, SIG Security Assessments, that will allow her to facilitate assessments of many kubernetes sub-projects, by collaborating with maintainers and security minded practitioners. Although she has not had traditional contributions in the form of PRs and GitHub Issues, I am fully confident that she will be an excellent member and steward of Kubernetes

[2022-05-30 10:36] upodroid commented on #3429
@ameukam @thockin

oops, forgot to tag you properly on the issue body

[2022-05-30 14:19] AnaMMedina21 opened #3452 "REQUEST: New membership for AnaMMedina21"
### GitHub Username

AnaMMedina21

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-05-30 14:51] fsmunoz opened #3453 "REQUEST: New membership for fsmunoz"
### GitHub Username

fsmunoz

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://grou

[2022-05-30 16:23] mrbobbytables commented on #3373
/assign

[2022-05-30 16:24] mrbobbytables commented on #3397
/assign

[2022-05-30 16:26] mrbobbytables commented on #3398
/assign

[2022-05-30 16:33] mrbobbytables commented on #3413
/assign

[2022-05-30 16:34] mrbobbytables commented on #3414
/assign

[2022-05-30 16:37] mrbobbytables commented on #3417
/assign

[2022-05-30 17:04] mrbobbytables commented on #3418
/assign

[2022-05-30 17:06] mrbobbytables commented on #3422
/assign

[2022-05-30 17:08] mrbobbytables commented on #3423
/assign

[2022-05-30 17:13] mrbobbytables commented on #3424
/assign

[2022-05-30 17:18] mrbobbytables commented on #3427
/assign

[2022-05-30 17:21] mrbobbytables commented on #3428
/assign

[2022-05-30 17:27] mrbobbytables commented on #3431
@jqmichael can you update your profile or respond here with your employer? Sponsors must be from different member companies^^;;

[2022-05-30 17:28] mrbobbytables commented on #3434
/assign

[2022-05-30 17:32] mrbobbytables commented on #3439
/assign

[2022-05-30 17:33] mrbobbytables commented on #3440
/assign

[2022-05-30 17:37] mrbobbytables commented on #3442
@szuecs Just as an FYI you don't need sponsors or an application to join another org once your a member of one :) I'm adding you now, but in the future you can just add yourself via a PR 👍

[2022-05-30 17:39] mrbobbytables commented on #3444
/assign

[2022-05-30 17:41] mrbobbytables commented on #3448
Just an FYI - you don't need to open a new request to join a Kubernetes org if you're already an org member of one 👍  I'm adding you now, but in the future you can open a PR to add yourself to an org. :)

/assign

[2022-05-30 17:51] mrbobbytables commented on #3448
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3373
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3397
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3398
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3410
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3413
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3414
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3417
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:52] mrbobbytables commented on #3418
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3422
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3423
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3424
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3427
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3428
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3434
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3439
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:53] mrbobbytables commented on #3440
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:54] mrbobbytables commented on #3442
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:54] mrbobbytables commented on #3444
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:54] mrbobbytables commented on #3448
Hey there  thank you for all your contributions so far :)

I've created PR #3456   to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-05-30 17:54] #3373 closed

[2022-05-30 17:54] #3397 closed

[2022-05-30 17:54] #3398 closed

[2022-05-30 17:54] #3410 closed

[2022-05-30 17:54] #3413 closed

[2022-05-30 17:54] #3414 closed

[2022-05-30 17:54] #3417 closed

[2022-05-30 17:54] #3418 closed

[2022-05-30 17:54] #3422 closed

[2022-05-30 17:54] #3423 closed

[2022-05-30 17:54] #3424 closed

[2022-05-30 17:54] #3427 closed

[2022-05-30 17:54] #3428 closed

[2022-05-30 17:54] #3434 closed

[2022-05-30 17:54] #3439 closed

[2022-05-30 17:54] #3440 closed

[2022-05-30 17:54] #3442 closed

[2022-05-30 17:54] #3444 closed

[2022-05-30 17:54] #3448 closed

[2022-05-30 17:56] christopherhein commented on #3428
Thanks @mrbobbytables !

[2022-05-30 20:20] rohityadavcloud commented on #3279
Thanks @mrbobbytables I see the repo here https://github.com/kubernetes-sigs/cluster-api-provider-cloudstack - looking forward to next steps!

[2022-05-30 20:21] rohityadavcloud commented on #3318
ping @mrbobbytables do also advise next steps to get this 🙏   /cc @davidjumani @pmotyka

[2022-05-30 20:55] szuecs commented on #3442
@mrbobbytables thank you!

[2022-05-30 23:59] justin-chizer opened #3457 "REQUEST: New membership for justin-chizer"
### GitHub Username

@justin-chizer

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https

[2022-05-31 00:01] helayoty commented on #3457
+1 from me! Thank you for volunteering to help with the 1.25 release team @justin-chizer!

[2022-05-31 00:01] helayoty commented on #3457
@reylejano @cici37

[2022-05-31 02:02] reylejano commented on #3457
+1 , welcome to the 1.25 Release Team 🎉

[2022-05-31 02:49] jwtty opened #3458 "REQUEST: New membership for jwtty"
### GitHub Username

@jwtty

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-05-31 02:57] feiskyer commented on #3458
+1 for @jwtty's contribution to kubernetes and cloud provider!

[2022-05-31 04:51] mengjiao-liu commented on #3430
+1
Looking forward to your contribution!

[2022-05-31 06:16] bowei commented on #3446
I'm am sponsoring as well.

[2022-05-31 08:07] endocrimes commented on #3458
+1, welcome to the community 💖

[2022-05-31 09:24] ziyi-xie opened #3459 "REQUEST: New membership for ziyi-xie"
### GitHub Username

ziyi-xie

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-05-31 09:29] shu-mutou commented on #3459
+1 from me! Thank you for contributing to Kubernetes Dashboard!! :heart:

[2022-05-31 09:35] ziyi-xie commented on #3459
Many thanks!

[2022-05-31 12:48] pmotyka commented on #3279
Thank you @mrbobbytables, a remaining step we could use assistance with is the processing of the PR that aligns the OWNERS file with the intent of this migration issue - https://github.com/kubernetes-sigs/cluster-api-provider-cloudstack/pull/44.  Could you assist with this as our approvals don't appear to be satisfying k8s-ci-robot.

[2022-05-31 14:11] mrbobbytables commented on #3279
Yeah, sorry^^;;; I forgot to update this issue after moving things over. I'll manually merge that PR and get the teams sorted out this morning.

[2022-05-31 15:55] mrbobbytables commented on #3279
Teams are added to the repo, I merged the OWNERS update. The only remaining item is the k/community issue and once thats merged everything should be good!

[2022-05-31 16:09] neolit123 commented on #3404
+1 for the transfer on my side.

[2022-05-31 18:19] lou-lan opened #3461 "REQUEST: New membership for lou-lan"
### GitHub Username

lou-lan

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-05-31 18:28] Divya063 opened #3462 "REQUEST: New membership for Divya063"
### GitHub Username

Divya063

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-05-31 18:34] reylejano commented on #3462
+1 welcome to the 1.25 Release Team 🎉

[2022-05-31 19:20] csantanapr commented on #3462
+1 welcome to 1.25 release team 👍  @Divya063

[2022-05-31 19:42] Divya063 commented on #3462
Thanks @reylejano  and @csantanapr :)

[2022-05-31 22:44] ramrodo opened #3463 "REQUEST: New membership for ramrodo"
### GitHub Username

@ramrodo

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-05-31 22:57] reylejano commented on #3463
As a previous Release Team member, you are already an Kubernetes org member, so this request would be for kubernetes-sigs
+1 and welcome to the 1.25 Release Team 🎉

[2022-05-31 23:15] orsenthil opened #3464 "REQUEST: New membership for orsenthil"
### GitHub Username

orsenthil

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-05-31 23:31] ramrodo commented on #3463
Ok. Sounds good, Rey. I'll update the issue to only  request for **kubernetes-sigs**

[2022-06-01 00:35] panslava opened #3465 "REQUEST: New membership for panslava"
### GitHub Username

@panslava

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-06-01 00:37] panslava commented on #3465
@youngnick can you comment here :)

[2022-06-01 00:41] csantanapr commented on #3464
Welcome to k8s 1.25 release team 👍

[2022-06-01 00:42] csantanapr commented on #3463
Welcome to k8s 1.25 release team 👍

[2022-06-01 04:39] youngnick commented on #3465
+1 from me.

[2022-06-01 05:23] Potapy4 commented on #3461
+1 😎

[2022-06-01 12:17] lou-lan commented on #3461
I will join the course. 😊

[2022-06-01 12:52] savitharaghunathan commented on #3449
+1. Ala has volunteered to lead security assessments subprojects and can't wait to see the subproject grow under her leadership.

/honk

[2022-06-01 14:18] maxdrib opened #3466 "REQUEST: New membership for @maxdrib"
### GitHub Username

@maxdrib

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-06-01 17:57] drmorr0 opened #3468 "REQUEST: New membership for @drmorr0"
### GitHub Username

@drmorr0

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-06-01 18:00] elmiko commented on #3468
big +1 from me, thanks for all the hard work @drmorr0
/lgtm

[2022-06-02 02:21] cndoit18 opened #3469 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username

@cndoit18

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-06-02 04:25] rohityadavcloud commented on #3466
+1 from me, thanks for your work @maxdrib on capc. However I'm not sure if I qualify as a sponsor. Given @elmiko has given his +1 maybe you can request him to be a sponsor? Thanks.

[2022-06-02 05:17] neolit123 commented on #3469
+1 thank you for the contributions

[2022-06-02 05:57] SergeyKanzhelev commented on #3469
+1, thank you and welcome

[2022-06-02 08:19] gjtempleton commented on #3468
Wholehearted +1 from me as well

/lgtm

[2022-06-02 11:33] davidjumani commented on #3318
Created the following to facilitate the request :
- https://github.com/kubernetes/k8s.io/issues/3796
- https://github.com/kubernetes/k8s.io/pull/3797

[2022-06-02 11:49] davidjumani commented on #3318
@mrbobbytables I think I've raised all the required issues / PRs related to this. Please let me know if there's anything else to be done

[2022-06-02 15:57] mikemorris opened #3470 "REQUEST: New membership for mikemorris"
### GitHub Username

mikemorris

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-06-02 21:26] Jont828 opened #3471 "Kubernetes membership not syncing"
### Organization or Repo

kubernetes/org

### User affected

@Jont828

### Describe the issue

I've been added to the [K8s org yaml](https://github.com/kubernetes/org/blob/main/config/kubernetes/org.yaml#L619) here, but I'm not showing up in [this query](https://github.com/orgs/kubernetes/people?query=Jont828). I'm trying to get added as a CAPZ reviewer in [this PR](https://github.com/kubernetes/k

[2022-06-02 21:49] cblecker commented on #3471
You need to accept the invitation. You can do this from the e-mail you received, or visiting https://github.com/kubernetes and clicking the banner near the top of the page.

[2022-06-03 16:46] skriss opened #3472 "REQUEST: New membership for skriss"
### GitHub Username

@skriss

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-06-03 16:49] robscott commented on #3472
Big +1, thanks for all the contributions @skriss!

[2022-06-03 18:17] cici37 commented on #3452
+1

[2022-06-03 18:18] cici37 commented on #3452
@katcosgrove

[2022-06-03 18:19] cici37 commented on #3453
+1 Welcome to 1.25 release team!

[2022-06-03 18:19] cici37 commented on #3457
+1  welcome to the 1.25 Release Team

[2022-06-03 18:34] helayoty commented on #3457
@mrbobbytables

[2022-06-03 20:42] robscott commented on #3470
Big +1 from me, thanks for all your contributions @mikemorris!

[2022-06-04 15:03] katcosgrove commented on #3452
+1 Glad to have you! :D

[2022-06-04 15:03] katcosgrove commented on #3453
+1

Glad to have you!

[2022-06-05 21:36] mrbobbytables commented on #3471
It shows you as a member, going to go ahead and close this out 👍

/close

[2022-06-05 21:37] #3471 closed

[2022-06-05 21:41] mrbobbytables commented on #3430
/assign

[2022-06-05 21:41] mrbobbytables commented on #3446
/assign

[2022-06-05 21:47] mrbobbytables commented on #3447
@mikebrow issues are not generally opened by folks on behalf of others^^;;; we have the checklist of things that people need to go through and confirm they've done.

@psschwei can you confirm you're interested in org membership and either ack on this issue that you've completed everything in the checklist or open a new one?

[2022-06-05 21:48] mrbobbytables commented on #3449
/assign

[2022-06-05 21:51] mrbobbytables commented on #3452
/assign

[2022-06-05 21:51] mrbobbytables commented on #3453
/assign

[2022-06-05 21:52] mrbobbytables commented on #3457
/assign

[2022-06-05 21:52] mrbobbytables commented on #3458
/assign

[2022-06-05 21:53] mrbobbytables commented on #3459
/assign

[2022-06-05 21:56] mrbobbytables commented on #3461
/assign

[2022-06-05 21:56] mrbobbytables commented on #3462
/assign

[2022-06-05 21:58] mrbobbytables commented on #3463
I'm batching requests now, but as an FYI for the future, if you're an org member, you do not need to open an issue to be added to another org, you can PR yourself in there 👍

/assign

[2022-06-05 21:58] mrbobbytables commented on #3464
/assign

[2022-06-05 21:58] mrbobbytables commented on #3465
/assign

[2022-06-05 22:00] mrbobbytables commented on #3466
/assign

[2022-06-05 22:04] mrbobbytables commented on #3468
/assign

[2022-06-05 22:05] mrbobbytables commented on #3469
/assign

[2022-06-05 22:35] mrbobbytables commented on #3462
I'm batching requests now, but as an FYI - as a member of the kubernetes project already you don't need to file a request to be added to another org :) You can open a PR adding yourself and the github admins would quickly sign off 👍

[2022-06-05 22:57] mrbobbytables commented on #3430
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:58] mrbobbytables commented on #3446
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:58] mrbobbytables commented on #3449
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:58] mrbobbytables commented on #3452
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:58] mrbobbytables commented on #3453
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:58] mrbobbytables commented on #3457
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:58] mrbobbytables commented on #3458
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:58] mrbobbytables commented on #3459
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:59] mrbobbytables commented on #3461
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:59] mrbobbytables commented on #3464
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:59] mrbobbytables commented on #3465
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:59] mrbobbytables commented on #3466
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:59] mrbobbytables commented on #3468
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 22:59] mrbobbytables commented on #3469
Hey there, thank you for all your contributions so far :)

I've created PR #3474 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-05 23:18] mrbobbytables commented on #3318
I've enabled netlify for the repo, its setup with the domain: "kubernetes-sigs-cluster-api-cloudstack.netlify.app" for now. Once the dns stuff is merged I'll update the settings. 👍

/assign

[2022-06-05 23:24] jwtty commented on #3458
Thank you so much @mrbobbytables! I'm thrilled to join the community!

[2022-06-05 23:34] ziyi-xie commented on #3459
Thanks! I'm so excited!

[2022-06-06 00:11] psschwei commented on #3447
@mrbobbytables Yes, I am interested in org membership and am confirming that I have:

* reviewed the community membership guidelines
* enabled 2FA
* subscribed to the dev list
* been actively contributing to 1 or more Kubernetes subprojects
* two sponsors
* gotten said sponsors' agreement to sponsor me
* verified said sponsors are from different member companies
* verified my sponsors are reviewer

[2022-06-06 03:52] davidjumani commented on #3318
Thanks @mrbobbytables
Could you let us know who can assist with the DNS stuff ?

[2022-06-06 07:30] fsmunoz commented on #3453
Thank you for the warm welcome, excited by the opportunity!

[2022-06-06 08:46] fredkan opened #3475 "REQUEST: New membership for mowangdk"
### GitHub Username

mowangdk

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-06-06 08:51] fredkan opened #3476 "REQUEST: New membership for JiaoDean"
### GitHub Username

JiaoDean

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-06-06 10:11] fabriziopandini commented on #3466
@maxdrib, thanks for your work at the [cluster-api-provider-cloudstack](https://github.com/kubernetes-sigs/cluster-api-provider-cloudstack) so far!

Given that the work is bootstrapped I would suggest holding until the contribution track on Kubernetes sigs is a little bit more consistent, I'm pretty sure this will happen soon

[2022-06-06 10:14] fabriziopandini commented on #3466
ohh, just saw the train is already shipped, welcome on board then!

[2022-06-06 14:20] aladewberry commented on #3449
Marvelous, thank you so much!

[2022-06-06 14:24] mrbobbytables commented on #3318
@davidjumani the owners for DNS:
https://github.com/kubernetes/k8s.io/blob/main/dns/OWNERS

Those are the only ones who can approve dns changes.

[2022-06-06 14:38] #3446 closed, assigned to mrbobbytables

[2022-06-06 14:38] #3452 closed

[2022-06-06 14:38] #3453 closed, assigned to mrbobbytables

[2022-06-06 14:38] #3457 closed

[2022-06-06 14:38] #3458 closed

[2022-06-06 14:38] #3459 closed

[2022-06-06 14:38] #3465 closed

[2022-06-06 14:38] #3468 closed

[2022-06-06 21:02] youngnick commented on #3472
+1 from me as well!

[2022-06-06 21:37] cathchu opened #3477 "REQUEST: New membership for cathchu"
### GitHub Username

cathchu

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-06-06 21:46] reylejano commented on #3477
+1 welcome to the 1.25 release team 🎉

[2022-06-06 21:46] krol3 opened #3478 "REQUEST: Add membership for krol3 to Kubernetes organization"
### GitHub Username

@krol

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/kub

[2022-06-06 21:50] reylejano commented on #3478
+1 welcome to the 1.25 release team 🎉

[2022-06-06 22:24] kcmartin commented on #3478
+1 Welcome to The 1.25 Release team!

[2022-06-06 23:27] Huang-Wei opened #3479 "REQUEST: Create kubernetes-sigs/kwok"
### New repo, staging repo, or migrate existing

new repo

### Is it a staging repo?

no

### Requested name for new repository

kwok

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

wzshiming, Huang-Wei

### Who should have write access?

wzshiming, Huang-Wei

### Who should be listed as approvers in OWNERS?

wzshiming, Huang-Wei

### Who should be lis

[2022-06-06 23:29] Huang-Wei commented on #3479
cc @wojtek-t @marseel @alculquicondor @ahg-g

[2022-06-07 00:44] wzshiming commented on #3479
/assign

[2022-06-07 07:43] zhangxyjlu opened #3483 "REQUEST: New membership for zhangxyjlu"
### GitHub Username

@zhangxyjlu

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-06-07 07:47] howieyuen commented on #3483
+1
Thanks to your contribution, and welcome to join us 🌷

[2022-06-07 10:09] slaskawi opened #3484 "REQUEST: New membership for slaskawi"
### GitHub Username

@slaskawi

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-06-07 11:37] s-urbaniak commented on #3484
I am 100% positive on this :-) I have been working with Sebastian in the same team, his knowledge in areas of authorization and authentication are highly valuable for the kubernetes community and not limited to this area. He has a significant track record of open source contributions as well.

[2022-06-07 16:18] ramrodo commented on #3463
fixed by https://github.com/kubernetes/org/pull/3474

[2022-06-07 16:18] #3463 closed

[2022-06-07 17:25] davidjumani commented on #3318
Thanks @mrbobbytables I'll await their review

[2022-06-08 02:59] Sea-n commented on #3483
(I don't have permission, but +1 in my heart)

I think you are applying @kubernetes `sig-docs` instead of @kubernetes-sig. Maybe you would like to edit the issue content.

[2022-06-08 03:53] geoffcline opened #3486 "REQUEST: New membership for geoffcline"
### GitHub Username

geoffcline

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-06-08 05:40] youngnick commented on #3470
+1 from me as well, thanks for everything and looking forward to seeing more.

[2022-06-08 08:54] leonardpahlke opened #3487 "REQUEST: New membership for leonardpahlke"
### GitHub Username

@leonardpahlke

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.go

[2022-06-08 08:55] saschagrunert commented on #3487
+1, happy to sponsor @leonardpahlke :blush:

[2022-06-08 08:55] leonardpahlke commented on #3487
ref: https://github.com/kubernetes-sigs/testgrid-json-exporter/pull/7

[2022-06-08 09:04] cpanato commented on #3487
+1 :D

[2022-06-08 12:37] davidjumani opened #3488 "REQUEST: New membership for davidjumani"
### GitHub Username

@davidjumani

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-06-08 12:47] elmiko commented on #3488
+1
thanks for all the work on capc =)

[2022-06-08 14:46] cici37 commented on #3477
+1 Welcome to the 1.25 release team!

[2022-06-08 18:14] rejoshed opened #3490 "REQUEST: New membership for @rejoshed"
### GitHub Username

rejoshed

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-06-08 18:24] ritazh commented on #3441
+1

[2022-06-08 18:28] maxdrib commented on #3490
+1 /lgtm Joshua is one of the essential CAPC developers and he has big plans for the future

[2022-06-08 18:30] gnoam opened #3491 "REQUEST: New membership for gnoam"
### GitHub Username

@gnoam

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-06-08 19:02] evansheng opened #3492 "REQUEST: New membership for evansheng"
### GitHub Username

@evansheng

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-06-08 19:04] elmiko commented on #3492
+1, thanks for all the work on the grpc expander!

[2022-06-09 06:19] RinkiyaKeDad commented on #3491
+1 super excited to have you on the team!

/woof

[2022-06-09 13:51] ahg-g commented on #3479
Can you explain how is this related to the scheduling sig? Shouldn't this be under sig node?

[2022-06-09 14:48] #3279 closed

[2022-06-09 14:48] #3407 closed

[2022-06-09 15:29] davidjumani commented on #3488
Thanks for the heads up @mrbobbytables and for your support @sbueringer @elmiko

[2022-06-09 15:33] davidjumani commented on #3318
@mrbobbytables The dns PR has been merged. Is there anything else needed to proceed ?

[2022-06-09 17:43] Huang-Wei commented on #3479
@ahg-g under the hood, this project is designed to maintain the liveness of pod/node, in a minimum manner, instead of implementing kubelet's interfaces to act as a kubelet. Compared to sig-node, sig-scheduling is more a primary consumer: test scheduler's functionality, scalability, evaluate new plugin, config/weights, etc. Furthermore, it's also desired to simulate a run-to-completion pod's lifecy

[2022-06-09 19:53] mzaian opened #3493 "REQUEST: New membership for mzaian"
### GitHub Username

mzaian

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-06-09 20:54] mzaian commented on #3493
Thanks a lot @helayoty for your continuous support 🙏

[2022-06-09 21:46] encodeflush opened #3494 "REQUEST: New membership for encodeflush"
### GitHub Username

@encodeflush

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-06-09 21:48] leonardpahlke commented on #3494
ref: https://github.com/kubernetes-sigs/testgrid-json-exporter/pull/7

[2022-06-09 21:59] mrbobbytables commented on #3494
@encodeflush as a member in a kubernetes org already, you can open a PR to add yourself to another org 👍 you don't need a request or sponsors again. The only thing is to make sure the git commit message is formatted like:
`Add encodeflush to kubernetes-sigs org`

[2022-06-10 06:38] floryut commented on #3493
+1 Nice first contribs from @mzaian, looking forward and hoping for more 👍

[2022-06-10 12:03] gjtempleton commented on #3492
Big +1 from me as well, thanks for all your contributions so far!

[2022-06-10 14:03] #3487 closed

[2022-06-10 14:03] #3494 closed

[2022-06-10 18:09] helayoty commented on #3493
@mrbobbytables We have a new member 🥳 🎈

[2022-06-10 18:53] pohly commented on #3356
I have a branch ready that I can merge into the new repo:
https://github.com/pohly/klog/commits/logcheck

It was created with this file as logcheck-replacement.txt and the command in the comment:
[code]

[2022-06-10 19:50] rikatz commented on #3478
+1 same sponsorship I gave in #3377 applies here! Thanks for all the help and thanks for stepping in to the rel team @krol3  :)

[2022-06-10 23:41] tallclair commented on #3484
+1 from me as well.

[2022-06-11 04:09] palnabarun commented on #3356
The repo has been created: https://github.com/kubernetes-sigs/logtools

I've created #3496 to add the teams. Once it merges, I will add the teams to the repo. Also created https://github.com/kubernetes/community/pull/6700 to add logtools to sigs.yaml.

Once the above merges, I will close this issue.

[2022-06-11 06:32] pohly commented on #3356
Looks good so far, thanks.

Just for my own understanding: what is the difference between "admin" and "write" access for a repo (https://github.com/kubernetes/org/pull/3496/files)?

[2022-06-11 13:40] #3488 closed

[2022-06-11 13:56] mrbobbytables commented on #3447
/assign

[2022-06-11 13:57] mrbobbytables commented on #3462
fixed in a separate PR, just missed linking it to this one

/close

[2022-06-11 13:57] #3462 closed

[2022-06-11 13:57] mrbobbytables commented on #3470
/assign

[2022-06-11 13:58] mrbobbytables commented on #3472
/assign

[2022-06-11 14:02] mrbobbytables commented on #3477
/assign

[2022-06-11 14:04] mrbobbytables commented on #3478
I'm batching requests now, but as a general FYI - as a member of another org, you don't need to reapply for org membership. Just need to open a PR adding yourself :)

/assign

[2022-06-11 14:05] mrbobbytables commented on #3483
/assign

[2022-06-11 14:06] mrbobbytables commented on #3484
/assign

[2022-06-11 14:08] mrbobbytables commented on #3486
I'm batching requests now, but just as an FYI for the future: as a member of a kubernetes org you don't ned to apply for additional org membership. You can open a PR adding yourself 👍

/assign

[2022-06-11 14:17] mrbobbytables commented on #3490
@rejoshed org changes are batch processed by either github admins or the new member coordinators and we try to keep things to a 1 week SLO, but do sometimes go longer. Assigning it doesn't mean it gets done quicker as the admins/nmcs look for unassigned ones for triage. Assigned ones usually mean its been looked at and waiting for additional info from the author.

Either way, I'm doing a batch rig

[2022-06-11 14:18] mrbobbytables commented on #3491
/assign

[2022-06-11 14:19] mrbobbytables commented on #3492
/assign

[2022-06-11 14:24] mrbobbytables commented on #3493
/assign

[2022-06-11 14:43] mrbobbytables commented on #3447
@psschwei , thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:44] mrbobbytables commented on #3470
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:44] mrbobbytables commented on #3472
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:44] mrbobbytables commented on #3477
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:44] mrbobbytables commented on #3478
Once PR #3497 gets merged you should get an invite 👍

[2022-06-11 14:44] mrbobbytables commented on #3483
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:45] mrbobbytables commented on #3484
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:45] mrbobbytables commented on #3486
Once #3497 is merged you should get an invite 👍

[2022-06-11 14:45] mrbobbytables commented on #3490
Once PR #3497 gets merged you should get an invite 👍

[2022-06-11 14:45] mrbobbytables commented on #3491
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:45] mrbobbytables commented on #3492
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 14:46] mrbobbytables commented on #3493
Hey there, thank you for all your contributions so far :)

I've created PR #3497 to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-11 21:30] #3447 closed

[2022-06-11 21:30] #3470 closed

[2022-06-11 21:30] #3472 closed

[2022-06-11 21:30] #3477 closed

[2022-06-11 21:30] #3478 closed

[2022-06-11 21:30] #3483 closed

[2022-06-11 21:30] #3484 closed

[2022-06-11 21:30] #3486 closed

[2022-06-11 21:30] #3490 closed

[2022-06-11 21:30] #3491 closed

[2022-06-11 21:30] #3492 closed

[2022-06-11 21:30] #3493 closed

[2022-06-12 08:01] slaskawi commented on #3484
Thank you @s-urbaniak, @tallclair and @mrbobbytables !

[2022-06-12 14:36] BenTheElder commented on #3432
Still only +1, this is ready to move forward. Will ping admins.

[2022-06-12 20:59] palnabarun commented on #3356
Admins get additional privileges like performing sensitive/destructive actions for example deleting issues, in comparison to people with write access.

[2022-06-12 20:59] mrbobbytables commented on #3441
Repo: https://github.com/kubernetes-sigs/pspmigrator
Teams PR: https://github.com/kubernetes/org/pull/3498
Community PR: https://github.com/kubernetes/community/pull/6701

@samos123 just to move things along I created this with just tallclair as the owner. I didn't realize you weren't an org member >_< Please open an org request issue - myself, @tallclair or @mikedanese can sponsor you from the Go

[2022-06-12 21:02] palnabarun commented on #3356
All the PRs have merged and the repository permissions have been updated. 🎉

/close

[2022-06-12 21:02] #3356 closed

[2022-06-12 21:06] mrbobbytables commented on #3475
@fredkan they're already a kubernetes-sigs member 👍
ref: https://github.com/kubernetes/org/pull/2114

[2022-06-12 21:08] mrbobbytables commented on #3476
@fredkan they're already a kubernetes-sigs member 👍
ref: https://github.com/kubernetes/org/pull/2764

[2022-06-12 21:19] mrbobbytables commented on #3379
last remaining PR has been merged, going to go ahead and close this out. 👍

/close

[2022-06-12 21:19] #3379 closed

[2022-06-12 21:30] mrbobbytables commented on #3404
@joekr it looks like everyone set for owners/admin/write access are not org members, could you open up requests for org membership? If it'd speed things along, just need 1 person to start (feel free to use me as a sponsor to start the ball rolling)

Also do you have permission to migrate the repo? We have a temporary org (https://github.com/kubernetes-purgatory) that we invite external folk to is

[2022-06-13 07:51] rohityadavcloud commented on #3318
Thanks @davidjumani for progressing this and @mrbobbytables for your help. Any further advise for us @mrbobbytables on this?

[2022-06-13 09:44] ahg-g commented on #3479
One more question, shouldn't this be hosted the same way as Kubemark under `k8s/test`?

[2022-06-13 14:11] mrbobbytables commented on #3268
Sorry, this dropped through the cracks - do you still want to proceed with netlify?

[2022-06-13 14:51] joekr opened #3499 "REQUEST: New membership for joekr"
### GitHub Username

joekr

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-06-13 15:00] joekr commented on #3404
I've requested membership thanks 😄  https://github.com/kubernetes/org/issues/3499

I don't have permission to migrate. I'll track down the person we will want to handle that.

[2022-06-13 15:10] mrbobbytables commented on #3499
+1 from sponsor, this is to help establish the new owners for the to-be-donated repo referenced in #3404

[2022-06-13 15:59] ameukam commented on #3429
+1. Help is welcome expend efforts between sig-release and sig-testing

[2022-06-13 23:07] samos123 opened #3502 "REQUEST: New membership for samos123"
### GitHub Username

samos123

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-06-13 23:21] mrbobbytables commented on #3502
+1 from sponsor, this is to help establish owners for a new donated project

[2022-06-14 00:33] MartinForReal commented on #3268
yes. Please

[2022-06-14 00:44] mrbobbytables commented on #3268
@MartinForReal please create a netlify.toml file in the root of the repo and open up a dns request in the k8s.io repo, I can get going with the creation once the netlify.toml file is there. The default netlify site will be called `kubernetes-sigs-cloud-provide-azure.netlify.app`

[2022-06-14 04:11] davidjumani commented on #3318
Thanks @mrbobbytables
I'll go ahead and close this
/close

[2022-06-14 04:12] #3318 closed

[2022-06-14 05:07] Huang-Wei commented on #3479
I _think_ if kubemark were introduced today, it would be hosted outside k/k as well. Given k/k's codebase volume and responsibility, I don't think it's doable to host fake-kubelet-manager in k/k.

[2022-06-14 07:35] ahg-g commented on #3479
/lgtm

[2022-06-14 19:21] gnufied commented on #3431
+1

[2022-06-15 01:29] aladewberry opened #3504 "REQUEST: New membership for aladewberry"
### GitHub Username

@aladewberry

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-06-15 01:59] PushkarJ commented on #3504
/retitle REQUEST: New membership for @aladewberry

This is a duplicate of #3449 because the issue was closed after adding Ala to `kubernetes-sigs`, whereas in order to work on `kubernetes/sig-security` repo she needs membership access to `kubernetes` Org.

I will open a PR to add her to the correct list now

[2022-06-15 01:59] PushkarJ commented on #3504
/retitle REQUEST: New membership for aladewberry

[2022-06-15 04:07] ritazh commented on #3502
+1 from sig auth

[2022-06-15 17:43] mpuckett159 opened #3508 "REQUEST: New membership for mpuckett159"
### GitHub Username

@mpuckett159

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-06-15 18:15] #3504 closed

[2022-06-15 19:36] eddiezane commented on #3508
:+1: thanks for your contributions!

[2022-06-16 06:46] shyamradhakrishnan opened #3509 "REQUEST: New membership for shyamradhakrishnan"
### GitHub Username

@shyamradhakrishnan

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://grou

[2022-06-16 06:50] sbueringer commented on #3509
+1
Welcome! :)

[2022-06-16 08:47] richardcase commented on #3509
Thanks @shyamradhakrishnan for your contributions so far. And really looking forward to seeing the OCI provider in kubernetes-sigs in the future.

+1

[2022-06-16 13:12] Ashley-wenyizha commented on #3431
Hi Bob @mrbobbytables, when got time could you take a look at my on-boarding request again? l now have sponsors from different member companies from Hemant `gnufied` and Nicholas`nckturner`

thanks!!

[2022-06-16 21:35] seans3 commented on #3508
+1

Looking forward to working with you more.

[2022-06-17 15:28] samos123 commented on #3502
@mrbobbytables do we need more +1s?

[2022-06-17 15:30] mrbobbytables commented on #3502
@samos123 nope, we're good - member requests are processed in batches by the member coordinators / GitHub admins (1 week SLO~).

[2022-06-17 15:44] wongni opened #3510 "REQUEST: New membership for @wongni"
### GitHub Username

@wongni

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-06-17 15:48] maxdrib commented on #3510
/lgtm +1 looking forward to your continued contribution to the project

[2022-06-17 15:50] thockin commented on #3429
+1

[2022-06-17 16:12] jweite-amazon opened #3511 "REQUEST: New membership for @jweite-amazon"
### GitHub Username

@jweite-amazon

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.go

[2022-06-17 17:12] mrog opened #3513 "REQUEST: New membership for @mrog"
### GitHub Username

@mrog

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-06-17 17:13] rejoshed commented on #3513
/lgtm +1 Mark's awesome! Let's get him slamming out code.

[2022-06-17 17:16] #3429 closed

[2022-06-17 17:17] upodroid commented on #3429
Thank you

[2022-06-20 04:15] davidjumani commented on #3513
+1
Let's get him in!

[2022-06-20 04:15] davidjumani commented on #3511
+1
Let's get him in!

[2022-06-20 04:16] davidjumani commented on #3510
+1
Let's get him in!

[2022-06-20 12:56] maxdrib commented on #3513
Sorry i missed this, /lgtm & +1 from me as well

[2022-06-20 19:11] mrbobbytables commented on #3475
As they're already members, I'm going to go ahead and close this out.

/close

[2022-06-20 19:11] #3475 closed

[2022-06-20 19:12] mrbobbytables commented on #3476
As they're already members, I'm going to go ahead and close this out.

/close

[2022-06-20 19:12] #3476 closed

[2022-06-20 19:17] mrbobbytables commented on #3431
Thanks!
/assign

[2022-06-20 19:19] mrbobbytables commented on #3502
/assign

[2022-06-20 19:22] mrbobbytables commented on #3508
/assign

[2022-06-20 19:24] mrbobbytables commented on #3509
/assign

[2022-06-20 19:30] mrbobbytables commented on #3511
/assign

[2022-06-20 19:36] mrbobbytables commented on #3404
@Julia3072 @spavlusieva - can one of you ack on here to confirm adding to the other org?

[2022-06-20 19:44] mrbobbytables commented on #3268
It has been enabled, but builds are failing - you should be able to see details on it here:
https://app.netlify.com/sites/kubernetes-sigs-cloud-provide-azure/deploys/62b0cd6d1949a302ad9a89cd

[2022-06-20 19:50] mrbobbytables commented on #3431
Hey there, thank you for all your contributions so far :)

I've created PR #3515  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-20 19:50] mrbobbytables commented on #3502
Hey there, thank you for all your contributions so far :)

I've created PR #3515  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-20 19:50] mrbobbytables commented on #3508
Hey there, thank you for all your contributions so far :)

I've created PR #3515  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-20 19:50] mrbobbytables commented on #3509
Hey there, thank you for all your contributions so far :)

I've created PR #3515  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-20 19:51] mrbobbytables commented on #3510
Hey there, thank you for all your contributions so far :)

I've created PR #3515  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-20 19:51] mrbobbytables commented on #3511
Hey there, thank you for all your contributions so far :)

I've created PR #3515  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-20 19:51] mrbobbytables commented on #3513
Hey there, thank you for all your contributions so far :)

I've created PR #3515  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-06-20 19:52] mpuckett159 commented on #3508
Thank you Bob, I look forward to continuing to work with you and everyone else.

[2022-06-20 19:53] mrog commented on #3513
Thank you!

[2022-06-20 19:57] #3431 closed

[2022-06-20 19:57] #3502 closed

[2022-06-20 19:57] #3508 closed

[2022-06-20 19:57] #3509 closed

[2022-06-20 19:57] #3510 closed

[2022-06-20 19:57] #3511 closed

[2022-06-20 19:57] #3513 closed

[2022-06-21 06:38] javadoors opened #3517 "REQUEST: New membership for javadoors"
### GitHub Username

javadoors

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-06-21 06:41] mengjiao-liu commented on #3517
+1
Thank you for all your contributions so far :)

[2022-06-21 13:59] sbueringer commented on #3499
+1

[2022-06-21 17:27] #3432 closed

[2022-06-21 18:00] BenTheElder commented on #3432
Thank you!

[2022-06-22 09:57] yaroslava-serdiuk opened #3519 "REQUEST: New membership for @yaroslava-serdiuk"
### GitHub Username

@yaroslava-serdiuk

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goo

[2022-06-22 11:00] gjtempleton commented on #3519
Big +1 from me, Yaroslava's made a number of significant contributions to the Cluster Autoscaler over an extended period of time.

Looking forward to their continued contributions!

[2022-06-22 11:54] MaciekPytel commented on #3519
+1 Yaroslava is a regular Cluster Autoscaler contributor with a long history of features, bugfixes and improvements to the project

[2022-06-22 20:20] mrbobbytables commented on #3441
All **required** items are done, I think a good follow up though would be to get you admin/write access to the repo (ref PR: https://github.com/kubernetes/org/pull/3498). Do you want to open a PR to add you in there?

[2022-06-23 01:09] javadoors commented on #3517
thanks,-_-,I will do my best.

[2022-06-24 04:50] chetak123 opened #3521 "REQUEST: New membership for @chetak123"
### GitHub Username

@chetak123

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-06-24 05:00] mehabhalodiya commented on #3521
+1
Thanks for all your contributions!
Welcome to the community 🙂

[2022-06-24 09:22] marseel commented on #3479
/lgtm

[2022-06-24 14:40] everettraven opened #3522 "REQUEST: New membership for @everettraven"
### GitHub Username

@everettraven

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goo

[2022-06-24 15:38] camilamacedo86 commented on #3522
/lgtm

@everettraven has been contributing a lot with Kubebuilder and indeed already push very considerable changes
He is OK to be Kubebuilder reviewer already and have my total support here🥇

[2022-06-24 16:13] MartinForReal commented on #3268
@mrbobbytables I found that dns record was correct. Could you please help update the domain config for this project? I'm wondering if the maintainer team could get access to this site. Thanks!

[2022-06-24 16:34] mrbobbytables commented on #3268
@MartinForReal I updated the config with the dns name and the ssl cert for it should be provisioned pretty quickly.
After this it should all be able to be configed via the config file.

[2022-06-25 11:54] sftim commented on #3521
+1

Thanks for contributions so far; looking forward to more of them.

[2022-06-26 02:20] #3211 closed

[2022-06-27 08:15] dpasiukevich opened #3524 "REQUEST: New membership for @dpasiukevich"
### GitHub Username

@dpasiukevich

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:

[2022-06-27 10:05] Arhell opened #3525 "Add arhell as member in kubernetes-sigs, kubernetes-csi, kubernetes-client org"
Hi, I'm a member of the [kubernetes org](https://github.com/kubernetes/org/blob/c0adbc758d3f0354f260cf06ec78875e6870ece6/config/kubernetes/org.yaml#L105) and would like to get added to the  kubernetes-sigs, kubernetes-csi, kubernetes-client. I referred [this membership](https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem) guide, which says:

I open issu

[2022-06-27 17:16] MrHohn commented on #3524
+1 - thanks for all the contributions @dpasiukevich!

[2022-06-27 19:03] Huang-Wei commented on #3479
/hold

Hold on for a second for the repo creation. I need to gather some feedback on the naming. "fake kubelet manager" cannot essentially reflect the intents of this repo.

[2022-06-28 00:23] Huang-Wei commented on #3479
Some candidate names:

1. kube-nodeless
2. kube-runtimeless
3. kubelet-emulator
4. (maybe a code name)

Please comment with your preference or suggest new names. Thanks!

[2022-06-28 00:27] pacoxu commented on #3479
noop-kubelet
noop-node

[2022-06-28 02:07] wzshiming commented on #3479
1. kube-nodeless +1

2. nodens <img width="200" alt="image" src="https://user-images.githubusercontent.com/6565744/176066771-359a000f-1bf7-4d7c-966b-8a19c9b732b0.png">

3. nodemon

4. fake-node

[2022-06-28 13:10] vinaykul commented on #3479
kubelet-simulator?

[2022-06-28 19:12] keithmattix opened #3529 "REQUEST: New membership for keithmattix"
### GitHub Username

keithmattix

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-06-28 19:19] howardjohn opened #3530 "REQUEST: New membership for howardjohn"
### GitHub Username

@howardjohn

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-06-28 20:03] robscott commented on #3529
Welcome @keithmattix! Excited to be working with you more.

+1

[2022-06-28 23:59] youngnick commented on #3524
+1, thanks @dpasiukevich!

[2022-07-01 07:13] #3525 closed

[2022-07-01 17:38] chris-short commented on #3340
@parispittman ?

[2022-07-01 18:52] parispittman commented on #3340
+1!! thank you for the reminder, Chris!

[2022-07-01 18:59] mikemorris opened #3536 "REQUEST: New membership for mikemorris"
### GitHub Username

mikemorris

### Organization you are requesting membership in

kubernetes

### Requirements

Refs #3470

https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem

Refs https://github.com/kubernetes/community/pull/6724 - I'm not _quite_ sure where I would PR this, as the proposed working group doesn't exist under SIG-Network yet.

[2022-07-02 10:14] zqzten opened #3537 "REQUEST: New membership for zqzten"
### GitHub Username

@zqzten

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail

[2022-07-04 12:52] geetikabatra opened #3538 "REQUEST: New membership for @geetikabatra"
### GitHub Username

@geetikabatra

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:

[2022-07-04 13:10] vrabbi commented on #3538
Huge plus 1 from my side! Geetika has been extremely helpful in the ClusterAPI Provider vSphere sub project!

[2022-07-04 13:18] Ankitasw commented on #3538
+100

[2022-07-04 13:24] oscr opened #3539 "REQUEST: New membership for oscr"
### GitHub Username

@oscr

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-07-04 13:31] killianmuldoon commented on #3539
+1

@oscr has been doing great work in the community!

[2022-07-04 13:34] enxebre commented on #3539
+1 thanks and welcome @oscr!

[2022-07-04 13:49] sbueringer commented on #3539
Thx for all your work and welcome!

+1

[2022-07-04 16:11] alculquicondor commented on #3479
fake-node-set :)

[2022-07-04 17:41] srm09 commented on #3538
+1 from me, thanks for all your contributions

[2022-07-05 00:45] mrbobbytables commented on #3499
/assign

[2022-07-05 00:47] mrbobbytables commented on #3517
/assign

[2022-07-05 00:48] mrbobbytables commented on #3519
/assign

[2022-07-05 00:49] mrbobbytables commented on #3521
/assign

[2022-07-05 00:50] mrbobbytables commented on #3522
/assign

[2022-07-05 00:54] mrbobbytables commented on #3524
/assign

[2022-07-05 01:04] mrbobbytables commented on #3529
@keithmattix do you happen to have another sponsor? Sadly @bridgetkromhout cannot act as a sponsor =/ Sponsors must be a [reviewer or approver in any OWNERS file](https://cs.k8s.io/?q=bridgetkromhout&i=fosho&files=OWNERS&excludeFiles=vendor%2F&repos=). (ref: [community membership guidelines](https://git.k8s.io/community/community-membership.md))

[2022-07-05 01:05] mrbobbytables commented on #3530
/assign

[2022-07-05 01:07] mrbobbytables commented on #3538
/assign

[2022-07-05 01:09] mrbobbytables commented on #3539
/assign

[2022-07-05 01:10] mrbobbytables commented on #3342
With the IoT Edge group moving over to the CNCF, this is not likely needed. Please reopen if you think it should^^:;;
/close

[2022-07-05 01:11] mrbobbytables commented on #3340
/assign

[2022-07-05 01:16] keithmattix commented on #3529
Ah, missed that qualification. @youngnick has agreed to be my other sponsor

[2022-07-05 01:16] youngnick commented on #3529
Hopefully, in this instance, I can stand in for @bridgetkromhout. (Pretty sure I can't in any other, she's too great!)

+1 from me, thanks for everything you've done already, looking forward to seeing what's next.

[2022-07-05 01:20] mrbobbytables commented on #3529
That'll do!

/assign

[2022-07-05 01:23] mrbobbytables commented on #3340
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:23] keithmattix commented on #3536
cc @mrbobbytables please advise on the correct location for this issue

[2022-07-05 01:23] mrbobbytables commented on #3499
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:23] mrbobbytables commented on #3517
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:23] mrbobbytables commented on #3519
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:24] mrbobbytables commented on #3521
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:24] mrbobbytables commented on #3522
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:24] mrbobbytables commented on #3524
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:24] mrbobbytables commented on #3529
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:24] mrbobbytables commented on #3530
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:24] mrbobbytables commented on #3538
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:25] mrbobbytables commented on #3539
Hey there, thank you for all your contributions so far :)

I've created PR #3540  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-05 01:31] mrbobbytables commented on #3536
This is the right place, you don't have to be associated with a project. I'll add it to my other PR with the batches to be processed. Missed this one because I was filtering on `area/github-membership` >_>

/assign

[2022-07-05 02:36] #3340 closed

[2022-07-05 02:36] #3499 closed

[2022-07-05 02:36] #3517 closed

[2022-07-05 02:36] #3519 closed

[2022-07-05 02:36] #3521 closed

[2022-07-05 02:36] #3522 closed

[2022-07-05 02:36] #3524 closed

[2022-07-05 02:36] #3530 closed

[2022-07-05 02:36] #3538 closed

[2022-07-05 02:36] #3529 closed

[2022-07-05 02:36] #3536 closed

[2022-07-05 02:36] #3539 closed

[2022-07-05 05:25] geetikabatra commented on #3538
Thanks Everyone! :)

[2022-07-05 15:54] lianghao208 commented on #3479
**kubeshadow**

shadow of kubelet :)

[2022-07-06 08:20] dlapcevic opened #3541 "REQUEST: New membership for dlapcevic"
### GitHub Username

dlapcevic

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-07-06 08:55] MartinForReal opened #3542 "REQUEST: New integration for coveralls"
### Organization or Repo

kubernetes-sigs/cloud-provider-azure

### Name of integration

coverall

### Link to integration website

coveralls.io

### Describe what is attempting to be accomplished

We used to use overcalls to track our ut coverage for cloud-provider-azure project.
Could you please invite coveralls to kubernetes-sigs org so that we can receive notification from coveralls? Thanks!

[2022-07-06 15:53] shyamjvs commented on #3541
+1

Welcome! And thanks for your contributions.

[2022-07-07 03:12] m-Bilal opened #3543 "REQUEST: New membership for m-Bilal"
### GitHub Username

@m-Bilal

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-07-07 04:37] natasha41575 commented on #3543
+1 from me!

[2022-07-07 10:26] Prajyot-Parab opened #3544 "Add Prajyot-Parab as member in kubernetes"
Hi, I'm a member of the [kubernetes-sigs org](https://github.com/kubernetes/org/blob/2d1ce973592fe7d5bbb51275bc48bd92ea7781b5/config/kubernetes-sigs/org.yaml#L605) and would like to get added to the kubernetes. I referred [membership](https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem) guide, which says:

PR - #3545

[2022-07-07 15:13] KnVerey commented on #3543
+1 from me as well

[2022-07-07 16:28] helayoty commented on #3357
As we discussed today in the **ContribEx GitHub Administration Subproject** meeting, we are going to implement that using prow job.

//@mrbobbytables @Priyankasaggu11929

[2022-07-08 05:06] Huang-Wei commented on #3479
Thank you all for the comments. Naming is hard :) And finally, we'd like to go with the name `kube-nodeless`.

[2022-07-08 08:25] FillZpp commented on #3537
+1, Zach has actively contributed a couple of PRs to controller-runtime.

[2022-07-08 15:04] alculquicondor commented on #3479
I actually heavily oppose to "nodeless" as it is a concept on its own that has nothing to do with the intent of this repo

[2022-07-08 15:23] chris-short commented on #3390
Can you update the original request with these links? That'd be most helpful. Thank you.

[2022-07-08 15:26] chris-short commented on #3541
Can you put your GitHub handle in the REQUEST line in place of <your-GH-handle>, please.

[2022-07-08 16:24] yuxiangqian commented on #3390
+1

[2022-07-08 17:20] dlapcevic commented on #3541
Done. Sorry about that 😒

[2022-07-08 18:44] Huang-Wei commented on #3479
@alculquicondor could you point me the official definition or other repo that uses the "nodeless" name?

[2022-07-08 19:39] vinaykul commented on #3479
I'm also with Aldo on this. There's another project that uses nodeless and is more representative of the intent of the name.

Please see https://www.elotl.co/

[2022-07-08 21:09] Huang-Wei commented on #3479
I've heard about elotl.co, but under the hood, it still has physical compute resources backing the nodes, right? so I've no idea how it's called "nodeless".

Anyways, I come up with more names to see we can reach concensus:

- Honey**k**omb - inspired by honeycomb that each grid represents a hollow node this tool is gonna manage. Replace 'c' with 'k' to represent kube.
- KWOK (Kube-WithOut-Kubelet

[2022-07-09 03:36] zqzten commented on #3537
Thanks @chris-short ! Irfan seems to be on vacation recently, so let's just sit and wait ;)

[2022-07-10 11:38] vinaykul commented on #3479
Yes. IIUC they allocate node resources on the user's behalf, making the user-experience 'nodeless'. There was also [a talk ](https://www.youtube.com/watch?v=H2iI9o-qwBE&t)in the recent EU Kubecon that uses the term nodeless. My concern was it would cause confusion given the term is already out there in the wild...

Both the above suggestions are great. I somehow like KWOK. Honeykomb is more visual

[2022-07-11 04:19] Monokaix opened #3548 "REQUEST: New membership for @Monokaix"
### GitHub Username

@Monokaix

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-07-11 04:51] Huang-Wei commented on #3479
Thanks @vinaykul for the comments. KWOK may express the intension without much confusion. I will leave the naming discussion soaking for another couple of days.

Yup, I used to use kubemark (more specifically hollow-node) to simulate an N-nodes cluster without real kubelets. But each hollow-node consumes ~60M in my laptop, and hence cannot fit the requirement like spinning up a 1k-node cluster - w

[2022-07-11 05:10] irfanurrehman commented on #3537
+1, @zqzten has actively contributed to kubefed and I am excited to have him as part of our contributor group.

[2022-07-11 06:27] RainbowMango commented on #3548
+1

[2022-07-11 13:24] neolit123 commented on #3548
+1

[2022-07-11 16:34] mk46 opened #3549 "REQUEST: New membership for mk46"
### GitHub Username

@mk46

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/kub

[2022-07-11 16:55] neolit123 commented on #3549
++

[2022-07-12 10:09] sftim commented on #3549
+1

[2022-07-12 18:21] carolinar7 opened #3550 "REQUEST: New membership for carolinar7"
### GitHub Username

carolinar7

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-07-12 19:28] chaodaiG commented on #3550
+1
/assign @alvaroaleman

[2022-07-12 23:44] koba1t opened #3554 "REQUEST: New membership for koba1t"
### GitHub Username

koba1t

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-07-13 00:07] KnVerey commented on #3554
+1 from me!

[2022-07-13 04:24] natasha41575 commented on #3554
+1 from me as well

[2022-07-13 13:49] yaolixin-creater opened #3555 "REQUEST: New membership for yaolixin-creater"
### GitHub Username

yaolixin-creater

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-07-14 04:38] NitishKumar06 opened #3557 "REQUEST: New membership for <Nitish Kumar>"
### GitHub Username

@NitishKumar06

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-07-14 04:43] mehabhalodiya commented on #3557
+1

Thanks for your contributions so far; looking forward to more of them.

[2022-07-14 13:01] Priyankasaggu11929 opened #3558 "REQUEST: Generate a new GITHUB_TOKEN for Prow tasks running on the GitHub Project Beta board."
The Kubernetes Release Team Enhancements sub-project is attempting to move away from using a Google Spreadsheet (as is [presently done](https://docs.google.com/spreadsheets/d/1Lnft8598eIQsqBp8W6X_LwaqBNZViYssQoFgGS8aJ3g/edit#gid=0)) and towards a more GitHub friendly solution for tracking KEP/enhancements that are opted-in during a Kubernetes release cycle.

The team proposes using a Periodic prow

[2022-07-14 16:15] dims commented on #3557
+1 from me.

[2022-07-16 08:07] kkkkun opened #3561 "REQUEST: New membership for @kkkkun"
### GitHub Username

@kkkkun

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://grou

[2022-07-16 10:56] zeborg opened #3562 "REQUEST: Need `PullRequests` and `Contents` write permissions for `GITHUB_TOKEN` in CAPA GitHub workflows"
The [kubernetes-sigs/cluster-api-provider-aws](https://github.com/kubernetes-sigs/cluster-api-provider-aws) repository requires `PullRequests` and `Contents` write permissions for `GITHUB_TOKEN` within the [ami_periodic.yaml](https://github.com/zeborg/cluster-api-provider-aws/blob/main/.github/workflows/ami_periodic.yaml) GitHub workflow that we've [tested](https://github.com/zeborg/cluster-api-pr

[2022-07-16 21:36] #3550 closed

[2022-07-16 21:37] mrbobbytables commented on #3541
/assign

[2022-07-16 21:38] mrbobbytables commented on #3548
/assign

[2022-07-16 21:40] mrbobbytables commented on #3549
/assign

[2022-07-16 21:41] mrbobbytables commented on #3554
/assign

[2022-07-16 21:42] mrbobbytables commented on #3557
/assign

[2022-07-17 02:54] mrbobbytables commented on #3541
Hey there, thank you for all your contributions so far :)

I've created PR #3563  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-17 02:54] mrbobbytables commented on #3548
Hey there, thank you for all your contributions so far :)

I've created PR #3563  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-17 02:54] mrbobbytables commented on #3549
Hey there, thank you for all your contributions so far :)

I've created PR #3563  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-17 02:54] mrbobbytables commented on #3554
Hey there, thank you for all your contributions so far :)

I've created PR #3563  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-17 02:54] mrbobbytables commented on #3557
Hey there, thank you for all your contributions so far :)

I've created PR #3563  to add you to the Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-07-17 04:13] #3541 closed

[2022-07-17 04:13] #3548 closed

[2022-07-17 04:13] #3549 closed

[2022-07-17 04:13] #3554 closed

[2022-07-17 04:13] #3557 closed

[2022-07-18 03:30] mk46 commented on #3549
Thanks everyone ❤

[2022-07-19 00:29] Huang-Wei commented on #3479
@palnabarun Could you give a hand on this repo creation request? or, let me know if any further info is needed.

[2022-07-19 08:13] MartinForReal commented on #3268
The migration is complete! Thanks for the help!

[2022-07-19 08:13] #3268 closed

[2022-07-19 17:58] KnVerey opened #3564 "REQUEST: Netlify site for Kustomize"
### Repository

https://github.com/kubernetes-sigs/kustomize

### Project domain

kustomize.io

### Additional context for request

Kustomize's documentation is currently fragmented across several different locations. kustomize.io has the best SEO but was built and maintained by Replicated, not the community. They have donated the domain for us to use, and we would like to consolidate all our cont

[2022-07-20 05:37] bthurber opened #3587 "Repository rename: https://github.com/kubernetes-sigs/special-resource-operator to https://github.com/kubernetes-sigs/kernel-module-management"
As part of SIG-node we initially received acceptance for creating a new repo and on-boarding technology to assist with managing out-of-tree drivers for Kubernetes.  The repo was created here:  https://github.com/kubernetes-sigs/special-resource-operator  We have received acks to rename the repo to:  https://github.com/kubernetes-sigs/kernel-module-management which matches the new operator, more cl

[2022-07-20 22:48] iXinqi opened #3566 "REQUEST: New membership for iXinqi"
### GitHub Username

iXinqi

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/ku

[2022-07-20 22:58] knabben commented on #3566
+1

Xinqi has been contributing to the SIG-Windows increasing its test coverage, besides developing the tools and contributing to the `KEP-2578` (Windows Operational Readiness).

[2022-07-20 23:14] jsturtevant commented on #3566
+1

Thanks for all the work on e2e tests and contributions to sig-meetings!

[2022-07-21 02:14] sarazqy opened #3567 "REQUEST: New membership for sarazqy"
### GitHub Username

@sarazqy

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-07-21 02:26] mengjiao-liu commented on #3567
Thank @sarazqy for the work done so far, and looking forward to what will come!

[2022-07-21 03:16] tengqm commented on #3567
+1

[2022-07-21 09:28] aojea commented on #3566
+1

[2022-07-21 10:41] #3542 closed

[2022-07-22 07:09] yankay opened #3569 "REQUEST: New membership for yankay"
### GitHub Username

@yankay

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://grou

[2022-07-22 07:17] floryut commented on #3569
👍 very nice contrib from @yankay !

Great to have you onboard and hope for more contrib from you.

谢谢你 (did I get that right ? 😆 )

[2022-07-22 07:37] yankay commented on #3569
Thanks. It's my pleasure to contribute.  :-)

[2022-07-22 08:00] cristicalin commented on #3569
+1

👍  Thank you @yankay and looking forward to your continued work in the community!

[2022-07-22 10:33] yankay commented on #3569
Thank you. I want to become work better.

[2022-07-23 07:03] donghui12 opened #3570 "REQUEST: New membership for donghui12"
### GitHub Username

donghui12

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-07-23 10:12] tengqm commented on #3570
+1

[2022-07-24 06:56] yaolixin-creater commented on #3555
/cc @tengqm @mengjiao-liu

[2022-07-25 02:25] howieyuen commented on #3570
+1

[2022-07-25 04:05] kavyashree-r opened #3571 "REQUEST: New membership for kavyashree-r"
### GitHub Username

@kavyashree-r

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goo

[2022-07-25 04:09] #3555 closed

[2022-07-25 04:20] yaolixin-creater opened #3572 "REQUEST: New membership for yaolixin-creater"
### GitHub Username

yaolixin-creater

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-07-25 12:05] ameukam commented on #3558
You can reuse the Github token stored as secret `k8s-triage-robot-github-token` in the GKE cluster `k8s-infra-prow-build-trusted.

@cblecker WDYT ? it's currently use for triage : https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml.

[2022-07-25 12:51] ameukam commented on #3564
I think it's technical possible. Please see https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md

cc @mrbobbytables @cblecker

[2022-07-25 13:13] xing-yang commented on #3571
+1

[2022-07-25 17:42] KnVerey commented on #3564
In that case, I'd like to proceed with this Netlify request, without requesting a corresponding domain at this point--we'll use the netlify preview links for now, and make a special request to link the kustomize.io domain rather than the usual SIG subdomain when we're ready.

That's how I got here in the first place. Is there something in particular I should do and have missed? 😄

[2022-07-25 20:06] sedefsavas commented on #3562
Thanks for opening the PR @zeborg

In summary, we want a github action to create a PR whenever a new Kubernetes release is out.

We'd like to understand if at the organizational level `GITHUB_TOKEN` permissions are restrictive. In CAPA repo, our config is permissive so trying to understand the reason why github action is failing to use `GITHUB_TOKEN` to create PRs.

@ameukam @palnabarun (as you co

[2022-07-25 20:48] cici37 commented on #3558
cc

[2022-07-26 03:19] zqzten commented on #3537
cc @mrbobbytables

[2022-07-26 04:47] RaunakShah commented on #3571
+1

[2022-07-26 04:50] Priyankasaggu11929 commented on #3558
Thanks @ameukam. I'll go ahead with using the `k8s-triage-robot-github-token` token for the prow job, once @cblecker confirms. :)

[2022-07-26 13:00] Skarlso opened #3575 "REQUEST: New membership for Skarlso"
### GitHub Username

Skarlso

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-07-26 13:03] richardcase commented on #3575
+1 from me, consistent contributions and adding significant new features like the fantastic work on the ipv6.

[2022-07-26 13:09] Skarlso commented on #3575
Thank you, Richard! :)

[2022-07-26 13:11] tobiasgiese commented on #3575
+1 from me as well!
Really appreciate the quick and detailed help in reviewing my PR https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3613. All thumbs up 👍🏻 🙂

[2022-07-26 14:40] Skarlso commented on #3575
Thank you, Tobias! :))

[2022-07-26 14:43] sedefsavas commented on #3575
+1 🎉

[2022-07-27 11:38] chris-short commented on #3537
Sorry for the delay. Life throws curveballs a lot lately. See #3578

[2022-07-27 11:47] chris-short commented on #3544
Hi @Prajyot-Parab. Please close this request and use this template to create a new request: https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.yml&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E

Thank you!

[2022-07-27 11:56] chris-short commented on #3561
Hey @kkkkun, we need your sponsors to +1 this request

[2022-07-27 11:56] zqzten commented on #3537
Oops, hope everything get well. Thanks anyway! @chris-short

[2022-07-28 05:16] nikhita commented on #3479
/assign

Repo has been created: https://github.com/kubernetes-sigs/kwok

Also created:
- https://github.com/kubernetes/org/pull/3580 - to add GitHub teams to grant access to the repo
- https://github.com/kubernetes/community/pull/6762 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2022-07-28 06:45] palnabarun commented on #2052
/remove-lifecycle stale

[2022-07-28 06:46] palnabarun commented on #3350
/remove-lifecycle stale

[2022-07-28 08:32] #3572 closed

[2022-07-28 10:29] #3537 closed

[2022-07-28 14:29] #3544 closed

[2022-07-28 14:56] palnabarun commented on #3566
@iXinqi -- Thank you for all your contributions so far!

I have raised #3581 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-07-28 14:56] palnabarun commented on #3567
@sarazqy -- Thank you for all your contributions so far!

I have raised #3581 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-07-28 14:56] palnabarun commented on #3569
@yankay -- Thank you for all your contributions so far!

I have raised #3581 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-07-28 14:56] palnabarun commented on #3570
@donghui12 -- Thank you for all your contributions so far!

I have raised #3581 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-07-28 14:56] palnabarun commented on #3571
@kavyashree-r -- Thank you for all your contributions so far!

I have raised #3581 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-07-28 14:56] palnabarun commented on #3575
@Skarlso -- Thank you for all your contributions so far!

I have raised #3581 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-07-28 14:59] palnabarun commented on #3564
/assign

[2022-07-28 15:03] Skarlso commented on #3575
@palnabarun Thank you!! :) This is great news, and I'm happy to contribute. I learned a TON of things while writing IPv6 and I'm looking forward to learning even more and making the Kubernetes plane, hopefully, an even better place. :D

[2022-07-28 15:13] #3566 closed

[2022-07-28 15:13] #3567 closed

[2022-07-28 15:13] #3569 closed

[2022-07-28 15:13] #3570 closed

[2022-07-28 15:27] palnabarun commented on #3441
ping @samos123, can you please have a look at the above?

[2022-07-28 16:17] ameukam commented on #3562
I would recommend to create a new token from a pot (k8s-infra-ci-robot ?) and add it as secret for usage the kubernetes infrastructure.

[2022-07-28 20:34] samos123 commented on #3441
I got everything I need. Thanks for all the help!

[2022-07-28 20:34] #3441 closed

[2022-07-29 01:10] KnVerey commented on #3564
Thanks! I'm not sure what the problem is there, but we'll figure it out.

Would it be possible to disable [pull request comments](https://docs.netlify.com/site-deploys/notifications/#github-pull-request-comments) and [commit checks](https://docs.netlify.com/site-deploys/notifications/#github-commit-checks) for this project? They are very noisy, given that most of our PRs won't be for the site, and

[2022-07-29 14:05] imhunterand opened #3582 "REQUEST: New membership for <imhunterand>"
### GitHub Username

imhunterand

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [k

[2022-07-29 14:11] mrbobbytables commented on #3582
/close

[2022-07-29 14:11] #3582 closed

[2022-07-29 15:28] KnVerey commented on #3564
Another setting change request: could you please set the base directory to `site` in the UI? I would prefer to keep our `netlify.toml` in there to encapsulate the site, instead of needing to put it in the root. According to the docs, that setting is at `Settings > Build & deploy > Continuous Deployment > Build settings`

[2022-07-29 15:46] cblecker commented on #3564
@KnVerey I believe I have made all the settings adjustments you have requested. Can you check and verify things are now working as you want? Thanks!

[2022-07-29 17:02] KnVerey commented on #3564
Thanks! It seems to now pick up the right file, and the commit **checks** are gone, but so is the [commit **status**](https://docs.netlify.com/site-deploys/notifications/#github-commit-statuses). Did you disable that too, and if so can you add it back?

[2022-07-29 17:35] cblecker commented on #3564
Ah yes, I shut them all off. Can you try again?

[2022-07-29 19:44] KnVerey commented on #3564
That did it--everything looks good to me now! Site successfully built off a PR changing `site/` in https://github.com/kubernetes-sigs/kustomize/pull/4732, and confirmed to ignore changes in other directories in https://github.com/kubernetes-sigs/kustomize/pull/4735. Also confirmed to skip master builds (for now), e.g.: https://app.netlify.com/sites/kubernetes-sigs-kustomize/deploys/62e435fc4b271a0

[2022-07-29 19:44] #3564 closed

[2022-08-01 12:39] pohly commented on #3561
@kkkkun I think your PRs are valuable contributions to Kubernetes, but I have only reviewed one PR from you and it wasn't very complex, therefore I don't believe that I qualify as a sponsor ("sponsors must have close interactions with the prospective member").

Keep up the good work and I'm sure you'll be ready to become a member soon.

[2022-08-02 03:53] Sea-n commented on #3094
We still need to cleanup inactive org members.
/remove-lifecycle stale

It's being postponing, remove the time from issue title.
/retitle Cleanup Inactive Org Members

[2022-08-02 08:51] azylinski opened #3583 "REQUEST: New membership for azylinski"
### GitHub Username

@azylinski

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-08-02 08:56] marseel commented on #3583
+1

Thanks for all the contributions so far :)

[2022-08-02 16:10] aojea commented on #3583
+1

[2022-08-02 18:43] iXinqi opened #3585 "REQUEST: Migrate to a new repo kubernetes-sigs/windows-operational-readiness"
### New repo, staging repo, or migrate existing

Migrate repo from https://github.com/K8sbykeshed/op-readiness to this new repo

### Is it a staging repo?

no

### Requested name for new repository

windows-operational-readiness

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@knabben, @iXinqi, @jayunit100

### Who should have write access?

@knabben,

[2022-08-02 19:17] marosset commented on #3585
This new repo will the the home for work outlined in https://github.com/kubernetes/enhancements/issues/2578

/lgtm

[2022-08-03 17:38] pawbana opened #3586 "REQUEST: New membership for pawbana"
### GitHub Username

pawbana

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-08-03 20:12] cblecker commented on #3587
@bthurber I've moved this to the correct repo so that it can be actioned by the github admins.

When would you like to do this? Note that it will likely be disruptive, as there are multiple moving pieces (such as updating test-infra jobs).

[2022-08-03 20:13] cblecker commented on #3587
test-infra references to this repo: https://cs.github.com/?scopeName=All+repos&scope=&q=repo%3Akubernetes%2Ftest-infra+special-resource-operator

[2022-08-03 20:14] bthurber commented on #3587
Thanks!  It is OK to make the change ASAP.  The repo doesn't have any content in it atm and we are waiting to push our code there post rename.

[2022-08-03 20:22] iXinqi commented on #3585
Hi @nikhita, may I have your review on this issue? Thanks!

[2022-08-03 20:23] iXinqi commented on #3585
Hi @caniszczyk, could you please help with checking if the licenses of dependencies are acceptable?

[2022-08-03 20:25] cblecker commented on #3587
@bthurber Sounds good. I've renamed the repo. Could you please submit PRs to test-infra to update the jobs, as well as update sigs.yaml in the community repo (https://github.com/kubernetes/community/blob/11f8c35fa86ee29108503aca5532b994cda74926/sigs.yaml#L2110-L2112) ?

[2022-08-03 21:40] knelasevero opened #3588 "REQUEST: New membership for knelasevero"
### GitHub Username

@knelasevero

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:/

[2022-08-03 21:42] knelasevero commented on #3588
@rikatz let me throw you under the bus as well since we chatted about this :joy:

[2022-08-03 21:58] rikatz commented on #3588
+1 from me :)

[2022-08-03 23:20] caniszczyk commented on #3585
@iXinqi this is OK from a CNCF POV, good luck with the new project!

[2022-08-03 23:51] #3479 closed

[2022-08-04 05:41] ambiknai opened #3591 "grant admin access to kmova for ibm-vpc-block-csi-driver project under kubernetes-sigs"
### Organization or Repo

kubernetes-sigs/ibm-vpc-block-csi-driver

### User affected

@ambiknai

### Describe the issue

Grant admin access for the repository to help with making releases on the above-mentioned repository. I need this to proceed with creating release branches and tags from the project.

[2022-08-04 06:41] nikhita commented on #3585
/assign

[2022-08-04 06:43] nikhita commented on #3591
@ambiknai please create a PR to add yourself to https://github.com/kubernetes/org/blob/296fc086c353fabd8f3c7496064b94a0239a419f/config/kubernetes-sigs/provider-ibmcloud/teams.yaml#L16-L20

[2022-08-04 06:53] nikhita commented on #3585
@iXinqi the repo looks ready for migration :+1:

Can you please give me admin access on the repo so I can migrate it to k-sigs?
Please ping me on slack once you do so. Thanks!

[2022-08-04 07:07] ambiknai commented on #3591
@nikhita Thanks for checking this issue.
 PR raised https://github.com/kubernetes/org/pull/3593

[2022-08-04 08:05] marseel commented on #3586
+1

Thanks for all contributions so far :)

[2022-08-04 08:40] muyangren2 opened #3594 "REQUEST: New membership for muyangren2"
### GitHub Username

muyangren2

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-08-04 08:51] neolit123 commented on #3594
+1

[2022-08-04 08:52] aojea commented on #3594
+1

[2022-08-04 09:45] bconfiden2 opened #3595 "REQUEST: New membership for bconfiden2"
### GitHub Username

bconfiden2

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-08-04 09:48] seokho-son commented on #3595
+1,
@bconfiden2 is actively involved in SIG-Docs and Korean localization.
I'm happy to work with @bconfiden2 !

[2022-08-04 10:29] jihoon-seo commented on #3595
+1 Thank you for your contribution effort!

[2022-08-04 11:41] ingvagabund commented on #3588
It has been great working with You :) Happy to see you grow and shine
+1

[2022-08-04 11:44] damemi commented on #3588
+1, thanks for all the great work!

[2022-08-04 14:02] nikhita commented on #3585
Repo has been migrated! https://github.com/kubernetes-sigs/windows-operational-readiness :tada:

We can close this issue once https://github.com/kubernetes/community/pull/6772 gets merged.

[2022-08-04 14:46] yoonian commented on #3595
+1 It is good to hear, I'm also happy to work together, @bconfiden2!

[2022-08-04 16:24] nikhita commented on #3585
This is now done! Closing.

[2022-08-04 16:24] #3585 closed

[2022-08-04 17:54] iXinqi commented on #3585
Thanks @nikhita @marosset and @caniszczyk! Appreciated!

[2022-08-04 19:10] shyamjvs commented on #3586
/lgtm

Thanks and welcome!

[2022-08-04 19:11] shyamjvs commented on #3583
/lgtm

Thanks and welcome!

[2022-08-04 19:23] #3587 closed

[2022-08-05 16:04] bishal7679 opened #3597 "REQUEST: New membership for <bishal7679>"
### GitHub Username

@bishal7679

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-08-05 16:10] yibozhuang opened #3598 "REQUEST: New membership for yibozhuang"
### GitHub Username

@yibozhuang

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-08-05 16:17] divya-mohan0209 commented on #3597
Huge +1 from me! Welcome to Kubernetes :)

[2022-08-05 17:36] Huang-Wei commented on #3598
+1

[2022-08-06 01:49] jinnypark9393 opened #3599 "REQUEST: New membership for jinnypark9393"
### GitHub Username

jinnypark9393

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-08-06 02:05] jihoon-seo commented on #3599
+1 @jinnypark9393 is an active contributor, especially in Korean L10n work of K8s Docs!

[2022-08-06 03:28] mehabhalodiya commented on #3597
+1

Thanks for your contributions so far; looking forward to more of them.

[2022-08-06 06:13] wzshiming commented on #3598
+1

[2022-08-06 07:05] yoonian commented on #3599
+1 @jinnypark9393

[2022-08-07 07:55] seokho-son commented on #3599
+1  I am happy to be a sponsor for @jinnypark9393

[2022-08-07 09:52] ybettan commented on #3587
@cblecker Here is the PR for test-infra https://github.com/kubernetes/test-infra/pull/27012

[2022-08-08 13:13] marquiz commented on #3084
/remove-lifecycle stale

[2022-08-08 16:31] BenjaminKazemi opened #3600 "REQUEST: New membership for BenjaminKazemi"
### GitHub Username

@BenjaminKazemi

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-08-08 17:19] BenTheElder commented on #3600
Ben will be replacing me in the google-build-admin rotation after [my transfer](https://twitter.com/BenTheElder/status/1551670320423059456) out of EngProd 🙏

+1

[2022-08-08 18:02] dims commented on #3600
+1 from me as well.

[2022-08-09 08:03] mimowo opened #3602 "REQUEST: New membership for mimowo"
### GitHub Username

@mimowo

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-08-09 08:50] soltysh commented on #3602
:+1: from my side

[2022-08-09 13:04] alculquicondor commented on #3602
:smiley: :+1:

[2022-08-10 07:21] Shubham82 opened #3604 "REQUEST: New membership for Shubham82"
### GitHub Username

@Shubham82

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-08-10 07:54] jihoon-seo commented on #3604
+1
@Shubham82 is an active K8s contributor, and I am happy to be a sponsor!

[2022-08-10 09:27] gjtempleton commented on #3604
+1
Shubam's been actively involved with SIG Autoscaling, improving our docs, answering user queries, and contributing code for a while now, looking forward to his continued involvement!

[2022-08-10 17:19] Sea-n commented on #3443
Hey @wangnyue,

I cannot find any of your PR or issue for Kubernetes(-sig) [using search filter](https://github.com/search?q=author%3Awangnyue&type=commits) at this time.

It's always welcome to apply for k8s membership when you have start contributing, I will close this issue for now.
/close

[2022-08-10 17:19] #3443 closed

[2022-08-10 17:29] Sea-n commented on #3390
Hey @phuongatemc,

As [previous comment](https://github.com/kubernetes/org/issues/3390#issuecomment-1179108889) said, can you add those issues and PRs link to the description of this PR?

It will help your membership review more smooth.

[2022-08-10 17:30] Sea-n commented on #3591
That PR is already merged.
- #3593

Close as completed.
/close

[2022-08-11 00:28] phuongatemc commented on #3390
@Sea-n  Updated.

[2022-08-11 03:27] BobyMCbobs opened #3605 "REQUEST: Migrate oci-proxy"
### New repo, staging repo, or migrate existing

kubernetes-sigs/oci-proxy

### Is it a staging repo?

no

### Requested name for new repository

registry.k8s.io

### Which Organization should it reside

kubernetes

### Who should have admin access?

ameukam, bentheelder, dims, thockin

### Who should have write access?

ameukam, bentheelder, dims, thockin

### Who should be listed as approvers in

[2022-08-11 08:20] palnabarun commented on #3583
@azylinski -- Thank you for all your contributions so far!

I have raised #3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 08:24] palnabarun commented on #3595
Hi @bconfiden2, the sponsors are required to be from different organizations. I noticed that @seokho-son and @jihoon-seo work at the same organization.

@yoonian -- can you please confirm your organization so that we can accept your +1?

[2022-08-11 08:28] palnabarun commented on #3599
Hi @jinnypark9393, the sponsors are required to be from different organizations. I noticed that @seokho-son and @jihoon-seo work at the same organization.

@yoonian -- can you please confirm your organization so that we can accept your +1?

[2022-08-11 08:29] palnabarun commented on #3586
@pawbana -- Thank you for all your contributions so far!

I have raised #3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 08:30] palnabarun commented on #3588
@knelasevero -- Thank you for all your contributions so far!

I have raised #3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 08:30] palnabarun commented on #3594
@muyangren2 -- Thank you for all your contributions so far!

I have raised #3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 08:30] palnabarun commented on #3597
@bishal7679 -- Thank you for all your contributions so far!

I have raised #3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 08:30] palnabarun commented on #3598
@yibozhuang -- Thank you for all your contributions so far!

I have raised #3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 08:32] palnabarun commented on #3597
/retitle REQUEST: New membership for bishal7679

[2022-08-11 08:34] palnabarun commented on #3602
@mimowo -- Thank you for all your contributions so far!

I have raised https://github.com/kubernetes/org/pull/3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 08:40] yoonian commented on #3599
@palnabarun Yes, sure.

[2022-08-11 08:43] yoonian commented on #3595
@palnabarun Yes, sure.

[2022-08-11 09:19] palnabarun commented on #3604
@Shubham82 -- Thank you for all your contributions so far!

I have raised https://github.com/kubernetes/org/pull/3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 09:22] palnabarun commented on #3600
@BenjaminKazemi -- Thank you for joining the build admin rotation!

I have raised https://github.com/kubernetes/org/pull/3606 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-11 10:33] #3583 closed

[2022-08-11 10:33] #3586 closed

[2022-08-11 10:33] #3588 closed

[2022-08-11 10:33] #3594 closed

[2022-08-11 10:33] #3598 closed

[2022-08-11 10:33] #3600 closed

[2022-08-11 10:33] #3602 closed

[2022-08-11 10:33] #3604 closed

[2022-08-11 11:32] bishal7679 commented on #3597
Thanks a lot @palnabarun for inviting me 💖

[2022-08-11 16:31] pbetkier opened #3608 "REQUEST: New membership for pbetkier"
### GitHub Username

@pbetkier

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-08-11 19:07] mukhoakash opened #3609 "REQUEST: New membership for mukhoakash"
### GitHub Username

@mukhoakash

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-08-11 19:44] dims commented on #3605
+1

[2022-08-11 19:56] edreed commented on #3609
+1

Thank you for all of your contributions, @mukhoakash!

[2022-08-11 20:16] ameukam commented on #3605
+1

[2022-08-11 20:25] wlan0 commented on #3609
+1

Great contributions to COSI @mukhoakash

[2022-08-12 04:09] Shubham82 commented on #3604
Thanks, Everyone!

[2022-08-14 06:47] yanrongshi opened #3610 "REQUEST: New membership for yanrongshi"
### GitHub Username

yanrongshi

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-08-14 08:36] windsonsea commented on #3610
+1
@yanrongshi is a contribution enthusiast with high output, more than 100 PRs authored in last 3 months. 👍

[2022-08-14 08:57] Sea-n commented on #3610
+1
We all looking forward for more contributions from you! 😊

[2022-08-15 08:11] alexanderConstantinescu opened #3611 "REQUEST: New membership for alexanderConstantinescu"
### GitHub Username

alexanderConstantinescu

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-08-15 09:21] aojea commented on #3611
+1

[2022-08-15 17:25] Volatus opened #3614 "REQUEST: New membership for Volatus"
### GitHub Username

@Volatus

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-08-15 17:40] strongjz commented on #3614
@Volatus Has been extremely helpful with fixing long-standing issues in the project.  I support his request to be added to the kubernetes org so that he can continue to help with the ingress-nginx project.

[2022-08-15 18:31] qbarrand opened #3615 "REQUEST: New membership for qbarrand"
### GitHub Username

@qbarrand

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-08-15 19:33] endocrimes commented on #3615
+1, welcome to the team ✨

[2022-08-16 11:01] jinnypark9393 commented on #3599
Apologize for the late reply. I changed sponsor 2 to @yoonian.

[2022-08-16 17:06] mrunalp commented on #3615
+1

[2022-08-16 21:06] Riaankl commented on #3605
/assign @nikhita @mrbobbytables

Is there any "next steps" that we should disucss or start working on?

[2022-08-16 21:34] wangchen615 opened #3616 "REQUEST: New membership for wangchen615"
### GitHub Username

wangchen615

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-08-16 21:35] wangchen615 commented on #3616
/assign @mrunalp and @Huang-Wei

[2022-08-16 21:36] Huang-Wei commented on #3616
+1

[2022-08-16 21:38] mrunalp commented on #3616
:+1:

[2022-08-17 02:01] sysnet4admin commented on #3595
+1 @bconfiden2 is very active contritutor in SIG-Docs and Korean localization!!!

[2022-08-17 02:03] sysnet4admin commented on #3599
+1 @jinnypark9393 support! I cannot wait for jinny's joining and further contributing.

[2022-08-17 02:52] yoonian commented on #3599
Also, as a sponsor, I work for a different organization than @seokho-son, @jihoon-seo, and @jinnypark9393. You can check it out on my profile.

[2022-08-17 02:53] yoonian commented on #3595
Also, as a sponsor, I work for a different organization than @seokho-son, @jihoon-seo, and @bconfiden2. You can check it out on my profile.

[2022-08-17 04:39] bconfiden2 commented on #3595
@palnabarun changed the sponsors to @yoonian @jihoon-seo
Thanks! 😃

[2022-08-17 10:50] Rishit-dagli opened #3617 "REQUEST: New membership for Rishit-dagli"
### GitHub Username

Rishit-dagli

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-08-17 11:12] mehabhalodiya commented on #3617
+1

Thanks for stepping forward as a potential Kubernetes project member.
Happy to see your contributions so far; looking forward to more of them 🎉

[2022-08-17 13:10] jihoon-seo commented on #3617
+1
@Rishit-dagli is a promising contributor, and I am happy to be a sponsor for his membership!

[2022-08-17 18:25] hlipsig opened #3619 "REQUEST: New membership for hlipsig"
### GitHub Username

hlipsig

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-08-17 18:30] palnabarun commented on #3619
+1, Welcome to the Code of Conduct Committee!

[2022-08-17 18:54] palnabarun commented on #3595
@bconfiden2 -- Thank you for all your contributions so far!

I have raised #3620 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-17 18:54] palnabarun commented on #3599
@jinnypark9393 -- Thank you for all your contributions so far!

I have raised #3620 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-17 18:55] palnabarun commented on #3615
@qbarrand -- Thank you for all your contributions so far!

I have raised #3620 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-17 18:55] palnabarun commented on #3617
@Rishit-dagli -- Thank you for all your contributions so far!

I have raised #3620 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-17 18:59] jeremyrickard commented on #3619
+1

/lgtm

[2022-08-17 19:17] palnabarun commented on #3619
@hlipsig -- Thank you for all your contributions so far!

I have raised https://github.com/kubernetes/org/pull/3620 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-08-17 19:18] #3595 closed

[2022-08-17 19:18] #3599 closed

[2022-08-17 19:18] #3609 closed

[2022-08-17 19:18] #3610 closed

[2022-08-17 19:18] #3615 closed

[2022-08-17 19:18] #3616 closed

[2022-08-17 19:19] #3617 closed

[2022-08-17 19:19] #3619 closed

[2022-08-17 19:25] tao12345666333 commented on #3614
+1

[2022-08-17 19:27] qbarrand commented on #3615
Thank you all!

[2022-08-17 20:16] negz opened #3623 "REQUEST: New membership for negz"
### GitHub Username

@negz

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/kub

[2022-08-17 20:17] sttts commented on #3623
+1 for @negz's membership

[2022-08-17 20:25] apelisse commented on #3623
+1 for me too!

[2022-08-17 22:23] qbarrand opened #3624 "REQUEST: New membership for qbarrand"
### GitHub Username

@qbarrand

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-08-17 23:12] endocrimes commented on #3624
No worries - my +1 stands (although not technically needed - membership in one qualifies you for the other)

[2022-08-17 23:16] Riaankl commented on #3605
This issue was discussed today in SIG K8s Infra meeting.

According to the [guidance given](https://github.com/kubernetes-sigs/oci-proxy/issues/94#issuecomment-1211410066) by @cblecker we need the blessing of SIG Arch to finalize the rename and relocating op OCI-Proxy repo.
It would be good to get that done asap, as reference to register.k8s.io switch-over would be mentioned in the release notes o

[2022-08-18 00:32] palnabarun commented on #3624
@qbarrand being part of one of the orgs, you are implicitly approved to be part of all the Kubernetes orgs.

Please feel free to PR yourself in to @kubernetes! 😀

[2022-08-18 01:12] dims commented on #3605
+1 from me with SIG-Arch hat on :)

[2022-08-18 05:39] qbarrand commented on #3624
Thank you both! I have created https://github.com/kubernetes/org/pull/3625 to add myself to the org directly.
Closing this issue.

[2022-08-18 05:39] #3624 closed

[2022-08-18 11:34] mwielgus commented on #3608
+1

[2022-08-18 11:37] gjtempleton commented on #3608
+1 from me as well.

Looking forward to your continuing contributions, and thanks for everything so far!

[2022-08-18 17:17] ArkaSaha30 opened #3627 "REQUEST: New membership for ArkaSaha30"
### GitHub Username

ArkaSaha30

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-08-18 17:20] Arhell commented on #3627
Thanks for your contribution
+1

[2022-08-18 17:24] Priyankasaggu11929 commented on #3627
+1. Welcome 🎉

[2022-08-18 17:31] ameukam commented on #3627
+1

[2022-08-18 21:00] aojea commented on #3623
+1

[2022-08-19 08:02] palnabarun commented on #3627
+1, welcome! 🥳

[2022-08-19 19:06] johnbelamaric commented on #3605
+1

[2022-08-19 20:25] dims commented on #3605
thanks @johnbelamaric

[2022-08-19 20:46] aramase opened #3630 "Request for new repo: kubernetes/kms"
### New repo, staging repo, or migrate existing

new staging

### Is it a staging repo?

yes

### Requested name for new repository

kms

### Which Organization should it reside

kubernetes

### Who should have admin access?

_No response_

### Who should have write access?

_No response_

### Who should be listed as approvers in OWNERS?

_No response_

### Who should be listed in SECURITY_CONTACT

[2022-08-19 20:49] aramase commented on #3630
/sig auth
/cc @enj @ritazh

[2022-08-21 19:57] Riaankl commented on #3605
Thank you @johnbelamaric & @dims

@nikhita & @mrbobbytables we have the blessing of both SIG K8s Infa and SIG Ach to proceed with the migration and renaming of the OCI-Proxy repo.

[2022-08-22 06:23] matthyx commented on #3627
+1

[2022-08-22 06:24] saschagrunert commented on #3627
+1 :+1:

[2022-08-22 18:29] rikatz commented on #3614
+1 @Volatus is helping a lot and stepping forward on hard issues. He's gonna be a great addition to the org

[2022-08-22 21:27] savitharaghunathan commented on #3627
Hi @ArkaSaha30, Thank you for all your contributions!

I've created PR https://github.com/kubernetes/org/pull/3633 to add you to the k8s & k8s-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-08-22 21:27] savitharaghunathan commented on #3627
/assign

[2022-08-22 21:28] savitharaghunathan commented on #3623
Hi @negz 👋 Thank you for all your contributions!

I've created PR https://github.com/kubernetes/org/pull/3633 to add you to the k8s organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2022-08-22 21:28] savitharaghunathan commented on #3614
Hi @Volatus 👋 Thank you for all your contributions!

I've created PR https://github.com/kubernetes/org/pull/3633 to add you to the k8s organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2022-08-22 21:29] savitharaghunathan commented on #3608
Hi @pbetkier 👋 Thank you for all your contributions!

I've created PR https://github.com/kubernetes/org/pull/3633 to add you to the k8s organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2022-08-22 21:29] savitharaghunathan commented on #3390
Hi @phuongatemc 👋 Thank you for all your contributions!

I've created PR https://github.com/kubernetes/org/pull/3633 to add you to the k8s organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2022-08-23 07:03] yevgeny-shnaidman opened #3634 "REQUEST: New membership for yevgeny-shnaidman"
### GitHub Username

@yevgeny-shnaidman

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](h

[2022-08-23 07:15] qbarrand commented on #3634
+1. Yevgeny is a core developer for KMM and a participant to the upstream community. His membership will allow us to move the development to the [sig-node repository](https://github.com/kubernetes-sigs/kernel-module-management).

[2022-08-23 09:45] endocrimes commented on #3634
+1, welcome to Kubernetes ✨

[2022-08-23 10:04] yevgeny-shnaidman commented on #3634
Thank you!

[2022-08-23 12:30] qbarrand commented on #3084
+1 for this.

[2022-08-23 18:31] dims commented on #3630
+1 from sig-arch hat on. You really need the lgtm(s) from sig-auth folks.

[2022-08-23 18:41] ritazh commented on #3630
+1 from sig-auth

[2022-08-23 19:19] enj commented on #3630
+1

[2022-08-23 19:35] deads2k commented on #3630
+1

[2022-08-23 22:29] aramase commented on #3630
@dims we have the approvals from sig-auth and I've a [PR](https://github.com/kubernetes/kubernetes/pull/111980) to set up the staging directory. Would you be able to help create the repo? Let me know if I can do anything to help.

[2022-08-23 23:27] dims commented on #3630
@aramase this is looked after by the github admin team. please give them time.

[2022-08-24 17:28] mikedanese commented on #3630
+1

[2022-08-25 06:03] ameukam commented on #3630
Can you complete the issue description ?

[code]

[2022-08-25 12:02] enj commented on #3630
@ameukam those should all be set to just me (@enj).

[2022-08-25 12:06] #3390 closed

[2022-08-25 12:06] #3608 closed

[2022-08-25 12:06] #3614 closed

[2022-08-25 12:06] #3623 closed

[2022-08-25 12:06] #3627 closed

[2022-08-25 12:08] ArkaSaha30 commented on #3627
Thank you everyone 😃 🎉

[2022-08-25 15:38] phuongatemc commented on #3390
Thank you!

[2022-08-25 18:06] wespanther opened #3637 "REQUEST: New membership for wespanther"
### GitHub Username

@wespanther

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-08-25 19:12] justaugustus commented on #3637
+1 to @wespanther's membership.
Wes has been assisting in SIG Release for quite some time!

/pony

[2022-08-25 19:18] justaugustus commented on #3637
/retitle REQUEST: New membership for wespanther

[2022-08-25 21:06] puerco commented on #3637
+1 To @wespanther joining the org, he's been taking care of some tasks in SIG Release

/meow

[2022-08-26 14:33] chris-short commented on #3637
Hi @wespanther,

I've opened a PR to add you to the kubernetes org (#3638). A membership invite will be sent out once the PR has merged.

Welcome!

[2022-08-26 14:51] chris-short commented on #3637
/assign

[2022-08-26 14:51] chris-short commented on #3634
/assign

[2022-08-26 14:56] chris-short commented on #3634
Hi **@yevgeny-shnaidman**, Thank you for all your contributions!

I've created PR [#](https://github.com/kubernetes/org/pull/3633)3639 to add you to the k8s & k8s-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to [**@kubernetes**](https://github.com/kubernetes)! :tada:

[2022-08-26 14:59] savitharaghunathan commented on #3611
pinging @thockin for sponsor approval :)

[2022-08-26 15:00] #3634 closed

[2022-08-26 16:52] #2342 closed

[2022-08-29 15:07] astoycos opened #3643 "Netlify site for AdminNetworkPolicy API"
### Repository

kubernetes-sigs/network-policy-api

### Project domain

adminnetworkpolicy-api.sigs.k8s.io

### Additional context for request

Following what was [done for the gateway api](https://github.com/kubernetes/org/issues/2506) to ultimately deploy a website for the new adminNetworkPolicy API defined here -> https://github.com/kubernetes-sigs/network-policy-api/pull/33

[2022-08-29 15:18] astoycos commented on #3643
@mrbobbytables I'm hoping you can help us out here :)... The source for the website is still in a PR https://github.com/kubernetes-sigs/network-policy-api/pull/33 but should be ready to go

Please let me know if I missed any steps here to get this deployed (I tried to follow what the Gateway API folks did)

Thanks in Advance!!

[2022-08-30 22:12] ramrodo opened #3645 "Make public "SIG Docs Spanish k/website Board" at GitHub"
### Organization or Repo

kubernetes/projects

### User affected

_No response_

### Describe the issue

As Kubernetes Spanish Translation Group, we created this Github project to track the missing docs to be translated by using cards/issues at the board: https://github.com/orgs/kubernetes/projects/97/views/1

This project is private and we would like to have it public.

Thanks.

[2022-08-30 23:00] mrbobbytables commented on #3645
The settings shouldn't be restricted, you can flip it public through the settings: https://github.com/orgs/kubernetes/projects/97/settings

[2022-08-31 07:30] ybettan opened #3647 "REQUEST: New membership for ybettan"
### GitHub Username

ybettan@redhat.com

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](h

[2022-08-31 07:33] qbarrand commented on #3647
+1. Yoni is a core KMM contributor and a participant in the community.

[2022-08-31 13:33] oscr opened #3648 "REQUEST: New membership for oscr"
### GitHub Username

@oscr

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/kub

[2022-08-31 13:36] killianmuldoon commented on #3648
+1 @oscr has been an amazing contributor to Cluster API in recent months

[2022-08-31 13:43] oscr commented on #3648
Thank you @killianmuldoon. I really appreciate the kind words :pray:

[2022-08-31 16:18] ramrodo commented on #3645
@mrbobbytables It seems I don't have that setting enabled/authorized:

![image](https://user-images.githubusercontent.com/2797052/187728407-a96af553-a5d1-4d47-8e6a-2dcd3627826f.png)

[2022-08-31 18:09] ameukam commented on #3645
Visibility updated to `public`.

@ramrodo please close this issue if addressed.

[2022-08-31 18:47] ramrodo commented on #3645
Thanks, @ameukam. It is public now. Closing this issue.

[2022-08-31 18:47] #3645 closed

[2022-09-01 19:33] cailynse opened #3652 "REQUEST: New membership for cailynse"
### GitHub Username

@cailynse

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-09-01 19:39] savitharaghunathan commented on #3652
+1

/pony party

[2022-09-01 19:54] PushkarJ commented on #3652
+1

@cailynse has done stellar job in making SIG Security related artifacts better through their hands on expertise and review comments! She has also brought in new contributors into the community and made the group richer through their valuable contributions!

[2022-09-02 08:57] sanwishe opened #3655 "REQUEST: New membership for sanwishe"
### GitHub Username

@sanwishe

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-09-02 08:58] sanwishe commented on #3655
@liggitt @serathius thanks~

[2022-09-02 09:08] serathius commented on #3655
/lgtm
Thanks for great work, and welcome to K8s org!

[2022-09-02 12:31] astoycos commented on #3643
In the meantime I also plan to deploy this on GH pages :)

[2022-09-02 16:00] liggitt commented on #3655
+1

[2022-09-02 19:05] mrbobbytables commented on #3655
@sanwishe do you have another sponsor by chance? Sponsors must be from different member companies, and both @liggitt and @serathius are from Google =/

[2022-09-02 19:23] palnabarun commented on #3637
Should be fixed by #3638.

/close

[2022-09-02 19:23] #3637 closed

[2022-09-03 08:03] sanwishe commented on #3655
Sorry for not notice they are both from Google. And @aojea has promised to sponsor me.

[2022-09-03 08:11] aojea commented on #3655
+1

[2022-09-06 05:09] puerco opened #3656 "REQUEST: Migrate puerco/tejolote"
### New repo, staging repo, or migrate existing

migrate existing

### Is it a staging repo?

no

### Requested name for new repository

tejolote

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

cpanato jeremyrickard justaugustus puerco saschagrunert

### Who should have write access?

cpanato jeremyrickard justaugustus puerco saschagrunert

### Who sho

[2022-09-06 07:22] niuzhenguo opened #3657 "REQUEST: Migrate huaweicloud-csi-driver to kubernetes-csi"
### New repo, staging repo, or migrate existing

https://github.com/huaweicloud/huaweicloud-csi-driver

### Is it a staging repo?

no

### Requested name for new repository

huaweicloud-csi-driver

### Which Organization should it reside

kubernetes-csi

### Who should have admin access?

@niuzhenguo

### Who should have write access?

@niuzhenguo, @chengxiangdong

### Who should be listed as appr

[2022-09-06 10:06] onestone9900 opened #3658 "REQUEST: New membership for onestone9900"
### GitHub Username

onestone9900

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-09-06 10:37] gochist commented on #3658
+1 I am happy to be a sponsor for @onestone9900

[2022-09-06 10:55] seokho-son commented on #3658
+1 @onestone9900 is active and responsive contributor !!

[2022-09-06 12:13] ErikJiang opened #3659 "REQUEST: New membership for ErikJiang"
### GitHub Username

ErikJiang

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-09-06 13:06] cyclinder commented on #3659
+1 for me, Thank you for the job! 👍

[2022-09-06 13:15] calvin0327 commented on #3659
+1 Count me in!

[2022-09-06 13:27] cristicalin commented on #3659
Great contributions @ErikJiang

+1 👍

[2022-09-06 13:28] floryut commented on #3659
+1

Thanks you for your contribs @ErikJiang ! looking forward for the next ones.

[2022-09-06 13:51] mrbobbytables commented on #3611
/assign @thockin

[2022-09-06 14:14] cpanato commented on #3656
+1

[2022-09-06 16:23] aramase commented on #3630
@nikhita @mrbobbytables we have approval from `sig-auth`. Would you be able to set up the staging repo?

[2022-09-06 17:31] dchen1107 commented on #3647
+1

Yoni, thanks for the contribution to KMM and K8s community.

/lgtm
/approve

[2022-09-06 18:33] ybettan commented on #3647
Thank you so much @dchen1107 and @qbarrand .

I hope this is the PR you meant :)

[2022-09-06 20:20] tssurya opened #3661 "REQUEST: New membership for tssurya"
### GitHub Username

@tssurya

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-09-06 20:28] astoycos commented on #3661
+1

Surya has contributed to K8s in sig-network and is going to be getting involved more with https://github.com/kubernetes-sigs/network-policy-api :)

[2022-09-06 20:31] tssurya commented on #3661
Both sponsors are from same company as myself, should I ask for someone from outside as well (not entirely sure of the definition of "different member companies")?

[2022-09-07 10:25] furkatgofurov7 opened #3663 "REQUEST: New membership for furkatgofurov7"
### GitHub Username

@furkatgofurov7

### Organization you are requesting membership in

kubernetes-sigs, kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](http

[2022-09-07 10:26] sbueringer commented on #3663
+1

Thank you very much for all you work on Cluster API & Welcome :tada: :)

[2022-09-07 10:30] enxebre commented on #3663
+1, welcome @furkatgofurov7! Thanks for your contributions and your willingness to always discuss things thoroughly

[2022-09-07 12:28] danwinship commented on #3661
Yeah, you need to show you're not just a Red Hat shill. :slightly_smiling_face:

[2022-09-07 12:29] palnabarun commented on #3661
@tssurya -- you need sponsor working at two different companies.

[2022-09-07 14:02] mrbobbytables commented on #3657
/assign @andrewsykim @cheftako @nckturner
for approval

[2022-09-07 14:55] robscott commented on #3661
+1

Thanks for all the contributions @tssurya!

[2022-09-07 15:00] tssurya commented on #3661
thanks @robscott !

@palnabarun : does that satisfy the requirements?

[2022-09-07 19:00] aryan9600 opened #3664 "REQUEST: New membership for aryan9600"
### GitHub Username

@aryan9600

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-09-07 19:48] fmuyassarov opened #3665 "REQUEST: Netlify site for node-feature-discovery"
### Repository

kubernetes-sigs/node-feature-discovery

### Project domain

nfd.sigs.k8s.io

### Additional context for request

_No response_

[2022-09-07 19:49] fmuyassarov commented on #3665
/cc @marquiz

[2022-09-07 22:08] rolfedh opened #3666 "REQUEST: New membership for rolfedh"
### GitHub Username

@rolfedh

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-09-07 22:15] reylejano commented on #3666
/retitle REQUEST: New membership for rolfedh

[2022-09-07 22:17] reylejano commented on #3666
+1 from me, Rolfe continues to contribute to SIG Docs, was part of the effort to remove dockershim from the documentation for the 1.24 release and helped the hindi localization go live

[2022-09-07 22:29] nate-double-u commented on #3666
+1, Rolfe has been an enthusiastic contributor on the SIG Docs team for a long time and has been involved in multiple parts of the documentation. He's an asset to the team, and I'm happy to sponsor his membership in the org.

[2022-09-08 07:40] fmuyassarov commented on #3665
/cc @ArangoGutierrez

[2022-09-08 16:16] raesene opened #3667 "REQUEST: New membership for raesene"
### GitHub Username

@raesene

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-09-08 17:38] robscott commented on #3664
Thanks for all the contributions @aryan9600!

+1

[2022-09-08 17:56] shaneutt commented on #3664
Yep, thanks @aryan9600

+1

[2022-09-08 23:09] puerco commented on #3667
+1

[2022-09-09 02:54] gandhipr opened #3668 "REQUEST: New membership for gandhipr"
### GitHub Username

gandhipr

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-09-09 03:01] marwanad commented on #3668
+1 from me

[2022-09-09 03:01] feiskyer commented on #3668
+1 from me

[2022-09-09 03:28] KimDoubleB opened #3669 "REQUEST: New membership for KimDoubleB"
### GitHub Username

@KimDoubleB

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-09-09 03:44] seokho-son commented on #3669
+1
@KimDoubleB is active contributor.
Happy to work with @KimDoubleB :)

[2022-09-09 04:05] rollony opened #3670 "REQUEST: New membership for rollony"
### GitHub Username

@rollony

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-09-09 14:47] daschott opened #3671 "REQUEST: New membership for daschott"
### GitHub Username

daschott

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-09-09 14:49] Priyankasaggu11929 commented on #3558
Taking it as no objection on using the token `k8s-triage-robot-github-token` for the periodic runs of automation script for Release Team Enhancements tracking GitHub boards. Thank you!

[2022-09-09 15:33] jayunit100 commented on #3671
Without david we wouldnt' really have a coherent, both for CNI and kube proxy, windows networking story, hes one of the most critical assets in the community for deep dives of kube proxy issues, so definetly please lets make his membership official

[2022-09-09 16:03] jsturtevant commented on #3671
+1 David is a consistent member at our sig meetings and contributes to solving some of the toughest networking bugs we've run into

[2022-09-09 17:12] PushkarJ commented on #3667
@raesene is a thought leader and an amazing example of how to be inclusive, share knowledge in public and improve the project through community collaboration. This is one of those cases where Kubernetes Org is lucky that Rory would like to be its member :)

[2022-09-09 17:41] Seo-yul opened #3672 "REQUEST: New membership for Seo-yul"
### GitHub Username

@Seo-yul

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-09-09 18:50] logicalhan commented on #2839
/reopen

[2022-09-09 21:30] ruheenaansari34 opened #3674 "REQUEST: New membership for ruheenaansari34"
### GitHub Username

@ruheenaansari34

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-09-09 21:36] rhockenbury commented on #3674
+1  Ruheena will be an enhancements shadow for the 1.26 release cycle.

[2022-09-09 22:36] fmuyassarov opened #3675 "REQUEST: New membership for fmuyassarov"
### GitHub Username

fmuyassarov

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-09-09 22:36] ArangoGutierrez commented on #3675
/lgtm

[2022-09-10 02:25] seokho-son commented on #3672
+1
@Seo-yul is very supportive contributor!

[2022-09-10 02:29] seokho-son commented on #3670
+1
@rollony is active contributor !

[2022-09-10 05:57] leonardpahlke commented on #3674
+1 :)

[2022-09-10 13:21] jihoon-seo commented on #3670
+1, I am happy to be a sponsor of @rollony requesting to be a K8s org member!

[2022-09-11 11:04] bradmccoydev opened #3676 "REQUEST: New membership for @bradmccoydev"
### GitHub Username

@bradmccoydev

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:

[2022-09-11 11:10] fsmunoz commented on #3676
+1, welcome to the Comms team!

[2022-09-11 19:12] palnabarun commented on #3676
+1, Welcome to the 1.26 Release Team! Thank you for volunteering! 🎉

[2022-09-11 19:17] palnabarun commented on #3647
@ybettan -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:18] palnabarun commented on #3647
@ybettan -- The GitHub membership PR is done by one of the New Membership Coordinators. The requests are periodically processed in a batch.

[2022-09-11 19:19] palnabarun commented on #3648
@oscr -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:19] palnabarun commented on #3652
@cailynse  -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:19] palnabarun commented on #3655
@sanwishe  -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:20] palnabarun commented on #3658
@onestone9900  -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:20] palnabarun commented on #3659
@ErikJiang -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:20] palnabarun commented on #3661
@tssurya  -- Yes, it does! Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:21] palnabarun commented on #3663
@furkatgofurov7  -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:21] palnabarun commented on #3664
@aryan9600 -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:21] palnabarun commented on #3666
@rolfedh -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:22] palnabarun commented on #3667
@raesene -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:22] palnabarun commented on #3668
@gandhipr -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:23] palnabarun commented on #3669
@KimDoubleB -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:25] palnabarun commented on #3648
@oscr -- bdw, since you were already a member of @kubernetes-sigs, you didn't need to file a new org membership request. Membership in one org implicitly grants membership to other orgs. In those scenarios, you can just raise a PR adding yourself to the requested orgs.

[2022-09-11 19:26] palnabarun commented on #3670
@rollony -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:26] palnabarun commented on #3671
@daschott -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:26] palnabarun commented on #3672
@Seo-yul -- Thank you for all your contributions so far!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:27] palnabarun commented on #3674
@ruheenaansari34  -- Welcome to the Kubernetes Release Team! Thank you for volunteering!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 19:27] palnabarun commented on #3676
@bradmccoydev -- Thank you again for volunteering!

I have raised #3677 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-11 20:57] oscr commented on #3648
@palnabarun Thank you for your help and for the information.

[2022-09-11 21:37] #3647 closed

[2022-09-11 21:37] #3648 closed

[2022-09-11 21:37] #3652 closed

[2022-09-11 21:37] #3655 closed

[2022-09-11 21:37] #3658 closed

[2022-09-11 21:37] #3659 closed

[2022-09-11 21:37] #3661 closed

[2022-09-11 21:37] #3663 closed

[2022-09-11 21:37] #3664 closed

[2022-09-11 21:37] #3666 closed

[2022-09-11 21:37] #3667 closed

[2022-09-11 21:37] #3668 closed

[2022-09-11 21:37] #3669 closed

[2022-09-11 21:37] #3670 closed

[2022-09-11 21:37] #3671 closed

[2022-09-11 21:37] #3672 closed

[2022-09-11 21:37] #3674 closed

[2022-09-11 21:37] #3676 closed

[2022-09-11 21:59] ruheenaansari34 commented on #3674
Thank you. I'm very excited and looking forward to working on the Release Team! I've received the invitation and now part of K8s org 🎉

[2022-09-12 08:14] ybettan commented on #3647
Thank you @palnabarun :)

[2022-09-12 10:46] rolfedh commented on #3666
Thank you, @reylejano @nate-double-u  and @palnabarun!

[2022-09-12 13:09] fmuyassarov commented on #3665
/cc @mrbobbytables

[2022-09-12 13:32] daschott commented on #3671
Thank you so much everyone!

[2022-09-12 14:31] katmutua opened #3678 "REQUEST: New membership for katmutua"
### GitHub Username

@katmutua

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-09-12 17:29] aramase commented on #3630
@ameukam @cblecker we have approval from `sig-auth`. Would you be able to set up the staging repo?

[2022-09-12 19:35] rhockenbury commented on #3678
+1 Happy to have you on the release team!

[2022-09-12 19:40] laxmikantbpandhare opened #3679 "REQUEST: New membership for @laxmikantbpandhare"
### GitHub Username

@laxmikantbpandhare

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](

[2022-09-12 19:43] leonardpahlke commented on #3678
+1 welcome :)

[2022-09-12 19:45] leonardpahlke commented on #3679
+1 welcome! :)

[2022-09-12 19:51] ramrodo commented on #3679
+1 welcome to the team!

[2022-09-12 19:52] laxmikantbpandhare commented on #3679
thank you, @leonardpahlke and @ramrodo

[2022-09-12 20:32] davidmirror-ops opened #3680 "REQUEST: New membership for davidmirror-ops"
### GitHub Username

davidmirror-ops

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-09-13 02:11] sanwishe commented on #3655
Thanks all~~~

[2022-09-13 04:46] sayantani11 opened #3681 "REQUEST: New membership for @sayantani11"
### GitHub Username

@sayantani11

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-09-13 04:54] Michelle951 opened #3682 "REQUEST: New membership for Michelle951"
### GitHub Username

Michelle951

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-09-13 05:17] harshanarayana opened #3683 "REQUEST: New membership for @harshanarayana"
### GitHub Username

@harshanarayana

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.g

[2022-09-13 05:57] leonardpahlke commented on #3683
+1, I think you don't need to create this issue to join K8s-sigs if you are already K8s member - you can just add yourself :)

[2022-09-13 05:58] leonardpahlke commented on #3683
https://github.com/kubernetes/org/blob/main/config/kubernetes-sigs/org.yaml

[2022-09-13 06:03] leonardpahlke commented on #3683
@mrbobbytables perhaps we could update the documentation to highlight that being a K8s member does not require sponsorship of other K8s organizations? I could add a note to the issue template - WDYT?

@mrbobbytables Does this apply the other way around, if you are a K8s-sigs member, you don't need sponsorship for the K8s organization?

[2022-09-13 06:04] leonardpahlke commented on #3681
+1, welcome! :)

[2022-09-13 06:09] harshanarayana commented on #3683
Thanks @leonardpahlke  I've opened a PR to do the same.

[2022-09-13 06:39] tengqm commented on #3682
+1

[2022-09-13 06:41] niuzhenguo commented on #3657
@andrewsykim @cheftako @nckturner please have a look at this, thanks!

[2022-09-13 06:43] tengqm commented on #3682
/retitle REQUEST: New membership for Michelle951

[2022-09-13 14:12] krol3 commented on #3678
I'm happy to work with you in the Docs Team of 1.26 @katmutua 😊

[2022-09-13 15:24] tenzen-y opened #3685 "REQUEST: New membership for @tenzen-y"
### GitHub Username

@tenzen-y

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-09-13 16:04] kerthcet commented on #3685
+1, looking forward to your more contributions!

[2022-09-13 16:37] ramrodo commented on #3681
+1, Welcome to the team!

[2022-09-13 17:24] alculquicondor commented on #3685
+1

[2022-09-13 18:19] jeremyrickard commented on #3656
+1

[2022-09-13 19:01] palnabarun commented on #3683
@leonardpahlke -- Membership of any orgs grants implicit rights to be part of the other orgs. So, both cases that you enumerate hold true.

[2022-09-13 19:03] #3683 closed

[2022-09-13 19:18] dims commented on #3681
+1 welcome @sayantani11

[2022-09-13 20:33] sayantani11 commented on #3681
Thank you so much @dims
Means a lot

[2022-09-13 22:22] leonardpahlke commented on #3680
+1 welcome! :)

ref: https://github.com/kubernetes/org/pull/3686

cc @fsmunoz

[2022-09-13 22:23] leonardpahlke commented on #3681
ref: https://github.com/kubernetes/org/pull/3686

[2022-09-13 22:23] leonardpahlke commented on #3679
ref: https://github.com/kubernetes/org/pull/3686

[2022-09-13 22:24] leonardpahlke commented on #3678
ref: https://github.com/kubernetes/org/pull/3686

[2022-09-13 22:26] fsmunoz commented on #3680
+1 , welcome to the team!

[2022-09-13 22:45] aramase opened #3688 "REQUEST: Create kubernetes-sigs/sig-auth-tools"
### New repo, staging repo, or migrate existing

new repository

### Is it a staging repo?

no

### Requested name for new repository

sig-auth-tools

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

enj, ritazh

### Who should have write access?

enj, ritazh

### Who should be listed as approvers in OWNERS?

enj, ritazh

### Who should be listed in SECU

[2022-09-13 22:46] aramase commented on #3688
/sig auth
/cc @enj @ritazh

[2022-09-13 22:50] aramase commented on #3688
cc @deads2k @mikedanese @liggitt

[2022-09-13 22:58] enj commented on #3688
Probably should use sig-auth-leads owner alias to cover all the leads.

LGTM otherwise.

[2022-09-13 23:12] aramase commented on #3688
We would need to create that alias in the new repo and use it. I think `sig-auth-leads` is now only relevant in k/k?

[2022-09-13 23:22] enj commented on #3688
I feel like we should have automation for this...

[2022-09-14 02:45] mengjiao-liu commented on #3682
+1
Looking forward to your contribution!

[2022-09-14 03:16] rhockenbury commented on #3558
@ameukam - We have tried to use the token `k8s-triage-robot-github-token` but that token does not have the correct scopes to interact with Github project boards.   We need a token that also has the `project` scope.

For reference - Here's the [full error message](https://prow.k8s.io/log?job=periodic-sync-enhancements-github-project-beta-1-26&id=1569883988930072576), the current [job configuration]

[2022-09-14 05:58] Nivedita-coder opened #3689 "REQUEST: New membership for bharitwal"
### GitHub Username

@bharitwal

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-09-14 06:48] leonardpahlke commented on #3689
+1, welcome! :)

[2022-09-14 07:17] saschagrunert commented on #3656
+1

[2022-09-14 08:51] palnabarun commented on #3689
+1, welcome! 🎉

[2022-09-14 08:55] palnabarun commented on #3675
@fmuyassarov -- Thank you for all your contributions so far!

I have raised #3690 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-14 08:55] palnabarun commented on #3678
@katmutua -- Thank you for all your contributions so far!

I have raised #3690 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-14 08:55] palnabarun commented on #3679
@laxmikantbpandhare -- Thank you for all your contributions so far!

I have raised #3690 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-14 08:55] palnabarun commented on #3680
@davidmirror-ops -- Thank you for all your contributions so far!

I have raised #3690 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-14 08:57] palnabarun commented on #3681
Welcome again! 🎉

Note: Since you are already a member of @kubernetes-sigs, you don't need sponsorship to get added to other Kubernetes GitHub orgs.

I have raised #3690 to add you to the requested org. Once that merges, you would get the membership invite notification.

/assign

[2022-09-14 08:57] palnabarun commented on #3682
@Michelle951 -- Thank you for all your contributions so far!

I have raised #3690 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-14 08:57] palnabarun commented on #3685
@tenzen-y -- Thank you for all your contributions so far!

I have raised #3690 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-14 08:57] palnabarun commented on #3689
@bharitwal-- Thank you for all your contributions so far!

I have raised #3690 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-14 09:05] #3675 closed

[2022-09-14 09:05] #3678 closed

[2022-09-14 09:05] #3679 closed

[2022-09-14 09:05] #3680 closed

[2022-09-14 09:05] #3681 closed

[2022-09-14 09:05] #3682 closed

[2022-09-14 09:05] #3685 closed

[2022-09-14 09:05] #3689 closed

[2022-09-14 09:56] bharitwal commented on #3689
Many Thanks @palnabarun @leonardpahlke @Nivedita-coder

[2022-09-14 11:41] ameukam commented on #3558
Option (2) seems like the logical path for this use case. I'll try to generate a new token with the required scopes. Is it possible to get the full of permissions required for this token ?

[2022-09-14 14:08] neoaggelos opened #3691 "REQUEST: New membership for neoaggelos"
### GitHub Username

@neoaggelos

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-09-14 14:09] rhockenbury commented on #3558
Thanks.  I tested the permissions.  The token needs to have **public_repo** and **project**.

[2022-09-14 14:12] laxmikantbpandhare commented on #3679
thank you, @palnabarun

I got the invitation and joined the organization.

[2022-09-14 14:42] leonardpahlke commented on #3691
ref PR to add you to the release team group: https://github.com/kubernetes/org/issues/3691

[2022-09-14 16:04] rishabhtulsian opened #3693 "REQUEST: New membership for rishabhtulsian"

[2022-09-14 16:57] mrbobbytables commented on #3693
Please open a new issue with the github issue template for memberhsip.

/close

[2022-09-14 16:57] #3693 closed

[2022-09-14 16:59] mrbobbytables commented on #3404
Just checking in, is this still something to be pursued? we need to transfer the repo to the intermediary org before we can bring it in here.

[2022-09-14 17:06] joekr commented on #3404
@mrbobbytables yes, we are actively working on this, albeit slowly. In order to donate we have to get a lot of sign off, which we are working on.

[2022-09-14 17:25] mrbobbytables commented on #3404
No worries! just wanted to double check

[2022-09-14 18:13] Kavinjsir opened #3694 "REQUEST: New membership for Kavinjsir"
### GitHub Username

@Kavinjsir

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-09-14 18:15] jberkhahn commented on #3694
:+1:

[2022-09-14 18:22] camilamacedo86 commented on #3694
/lgtm

[2022-09-14 22:24] mrbobbytables commented on #3605
repo has been migrated, teams will be added in #3695

[2022-09-14 22:27] BobyMCbobs commented on #3605
@mrbobbytables, thank you for your help with this!
Will the repo still be renamed to _kubernetes/registry.k8s.io_?

[2022-09-14 22:28] mrbobbytables commented on #3605
oh derp, sorry - let me take care of that

[2022-09-14 22:36] mrbobbytables commented on #3605
Okay, all PRs fixed
k/community update here: https://github.com/kubernetes/community/pull/6880

once all PRs are merged I can update the teams and this will be good

[2022-09-14 22:38] Riaankl commented on #3605
Thanks @mrbobbytables !

[2022-09-14 22:39] BobyMCbobs commented on #3605
This is wonderful, thank you @mrbobbytables!

[2022-09-14 23:00] mrbobbytables commented on #3605
teams are added, this should be good to close 👍

let me know if theres anything else thats needed!

/close

[2022-09-14 23:00] #3605 closed

[2022-09-15 03:30] NayeonKeum opened #3696 "REQUEST: New membership for NayeonKeum"
### GitHub Username

@NayeonKeum

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-09-15 03:33] seokho-son commented on #3696
+1 I'd love to support @NayeonKeum !
Thank you for your contributions !

[2022-09-15 04:44] SubhasmitaSw opened #3697 "REQUEST: New membership for @SubhasmitaSw"
### GitHub Username

@SubhasmitaSw

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:

[2022-09-15 08:35] aniruddha2000 opened #3698 "REQUEST: New membership for aniruddha2000"
### GitHub Username

@aniruddha2000

### Organization you are requesting membership in

Kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https

[2022-09-15 08:36] cpanato commented on #3698
+1 🎉

[2022-09-15 10:51] dims commented on #3697
+1 from me. welcome @SubhasmitaSw

[2022-09-15 13:32] palnabarun commented on #3698
Huge +1!

[2022-09-15 15:06] mrbobbytables commented on #3643
Sorry, between being OOTO and other responsibilities I didn't get to this earlier - netlify has been configured, the site name right now kubernetes-sigs-network-policy-api.netlify.app

Looking at the netlify.toml file in the root of the repo, it should be updated to be .app instead of .com and site name change to be kubernetes-sigs-network-policy-api - its too long with admin in the name of it for

[2022-09-15 15:30] mrbobbytables commented on #3665
I can get it going, but you'll want to stub out a netlify.toml file and open a PR to k/k8s.io to add the dns entry. If I enable netlify before its ready to be configured in repo it'll report as a failing test on all PRs.

[2022-09-15 15:56] fmuyassarov commented on #3665
good point, thanks @mrbobbytables . I will come back once we are done with your suggestions.
/hold

[2022-09-15 17:33] aramase commented on #3630
pinged on slack https://kubernetes.slack.com/archives/C01672LSZL0/p1662567549252629. @ameukam is going to help with creating the repo soon.

[2022-09-15 22:28] khoang98 opened #3700 "REQUEST: New membership for khoang98"
### GitHub Username

@khoang98

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-09-15 23:31] wongma7 commented on #3700
+1

[2022-09-16 08:04] richardcase commented on #3697
+1 from as well

[2022-09-16 08:04] richardcase commented on #3698
+1 from me as well

[2022-09-16 12:51] dims commented on #3698
+1 from me!

[2022-09-16 13:25] astoycos commented on #3643
No problem, I will update the name and investigate the build errors, thanks so much @mrbobbytables! :)

[2022-09-16 13:37] astoycos commented on #3643
I wonder do I also need to fix this https://github.com/kubernetes/k8s.io/pull/4151/files now or is that just a nice TODO?

[2022-09-16 13:51] mrbobbytables commented on #3643
That'll need to get updated too for the dns non netlify dns name to work >_<

[2022-09-16 16:15] jmwurst commented on #3700
+1 :party_parrot:

[2022-09-16 21:09] asim-reza opened #3701 "REQUEST: New membership for asim-reza"
### GitHub Username

@asim-reza

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-09-16 21:18] aojea commented on #3701
+1

[2022-09-16 22:53] dims commented on #3701
+1

[2022-09-18 18:52] rhockenbury commented on #3558
@ameukam ^ Gentle bump.  Do you have a rough idea of the timeline for getting that new token?

[2022-09-19 08:38] HeshamAboElMagd opened #3702 "REQUEST: New membership for heshamaboelmagd"
### GitHub Username

heshamaboelmagd

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-09-19 11:08] leonardpahlke commented on #3702
+1, welcome :)

[2022-09-19 12:47] leonardpahlke commented on #3697
+1, welcome :)

ref PR to add you to the release team group: https://github.com/kubernetes/org/pull/3686

[2022-09-19 12:59] hosseinsalahi commented on #3691
+1, welcome :)

[2022-09-19 12:59] hosseinsalahi commented on #3697
+1, welcome :)

[2022-09-19 13:00] hosseinsalahi commented on #3702
+1, welcome: )

[2022-09-19 14:03] MadhavJivrajani commented on #3701
+1
Thank you for your work!
/woof

[2022-09-19 16:04] astoycos commented on #3643
Site is currently ip at https://kubernetes-sigs-network-policy-api.netlify.app/ And I just pushed an update to the DNS records

[2022-09-19 16:11] thockin commented on #3611
I endorse!

/lgtm
/approve

[2022-09-19 20:24] Dyanngg opened #3703 "REQUEST: New membership for Dyanngg"
### GitHub Username

@Dyanngg

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-09-19 20:27] astoycos commented on #3703
+1

Yang has been one of the main contributors to the AdminNetworkPolicy API and needs this membership to help us get the API up and running

[2022-09-19 21:36] rikatz commented on #3703
+1
Andrew already said it all! :)

[2022-09-20 07:23] xmudrii commented on #3656
+1 :100:

[2022-09-20 08:06] leonardpahlke commented on #3558
/cc

[2022-09-20 19:02] palnabarun commented on #3691
+1, welcome! :)

(I am putting a +1 since both sponsors can't be from the same company)

[2022-09-20 19:36] palnabarun commented on #3611
@alexanderConstantinescu -- Thank you for all your contributions so far!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:36] palnabarun commented on #3691
@neoaggelos  -- Welcome to the Kubernetes Release Team!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:36] palnabarun commented on #3694
@Kavinjsir  -- Thank you for all your contributions so far!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:36] palnabarun commented on #3696
@NayeonKeum  -- Thank you for all your contributions so far!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:37] palnabarun commented on #3697
@SubhasmitaSw  -- Thank you for all your contributions so far! And, Welcome to the Kubernetes Release Team!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:37] palnabarun commented on #3698
@aniruddha2000  -- Thank you for all your contributions so far!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:37] palnabarun commented on #3701
@asim-reza  -- Thank you for all your contributions so far!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:37] palnabarun commented on #3702
@HeshamAboElMagd  -- Welcome to the Kubernetes Release Team!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:37] palnabarun commented on #3703
@Dyanngg  -- Thank you for all your contributions so far!

I have raised #3708 to add you to the requested orgs. Once that merges, you would get the membership invite notifications.

Welcome! 🎉

/assign

[2022-09-20 19:49] #3611 closed

[2022-09-20 19:49] #3691 closed

[2022-09-20 19:49] #3694 closed

[2022-09-20 19:49] #3697 closed

[2022-09-20 19:49] #3698 closed

[2022-09-20 19:49] #3701 closed

[2022-09-20 19:49] #3702 closed

[2022-09-20 19:49] #3703 closed

[2022-09-20 20:03] Kavinjsir commented on #3694
Thank you @palnabarun !

[2022-09-20 23:45] AnaMMedina21 opened #3709 "REQUEST: New membership for @AnaMMedina21"
### GitHub Username

AnaMMedina21

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:/

[2022-09-21 08:55] leonardpahlke commented on #3709
Hi @AnaMMedina21, since you are already a member of the Kubernetes organization, you do not need to create this issue to apply for membership. You can directly add yourself to the [k-sigs org file](https://github.com/kubernetes/org/blob/main/config/kubernetes-sigs/org.yaml#L16) via a PR :)
xref: https://github.com/kubernetes/org/pull/3684

[2022-09-21 16:15] ameukam commented on #3558
@rhockenbury Somehow I missed your comments, I'll try to get this done as soon I have some time.

[2022-09-21 17:51] mskrocki opened #3712 "REQUEST: New membership for mskrocki"
### GitHub Username

mskrocki

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-09-21 19:05] vnephologist opened #3713 "REQUEST: New membership for @tuxtof"
### GitHub Username

@tuxtof

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-09-21 19:50] aojea commented on #3712
+1

he has been doing a lot of works leading the multinetwork sub-project.
Looking forward for more contributions on sig-network

[2022-09-21 20:07] robscott commented on #3712
+1

Looking forward to seeing what you do with multinetwork!

[2022-09-21 20:14] CecileRobertMichon commented on #3713
+1 from my side, looking forward to @tuxtof helping maintain the image-builder nutanix provider

[2022-09-21 22:40] melnikalex opened #3714 "REQUEST: New membership for melnikalex"
### GitHub Username

@melnikalex

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-09-22 11:26] fabriziopandini commented on #3713
+1 from my side, welcome to the team!

[2022-09-22 12:03] chris-short commented on #3714
Please replace \<your-GH-handle> in the title with your username.

[2022-09-22 12:19] chris-short commented on #3713
/assign

[2022-09-22 12:24] chris-short commented on #3713
#3715 has been opened to add you to kubernetes-sigs

[2022-09-22 14:37] ConnorJC3 opened #3716 "REQUEST: New membership for ConnorJC3"
### GitHub Username

@ConnorJC3

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-09-22 15:12] amolmote opened #3717 "REQUEST: New membership for @amolmote"
### GitHub Username

@amolmote

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail

[2022-09-22 15:34] divya-mohan0209 commented on #3717
+1 for this :) Thank you so much for all your contributions & welcome!

[2022-09-22 16:04] natalisucks commented on #3717
+1! Thanks for contributing and being a great example to the rest of our docs community – welcome 🎉

[2022-09-22 16:05] ameukam commented on #3630
Repo is created: https://github.com/kubernetes/kms.git

I opened:
  - https://github.com/kubernetes/publishing-bot/pull/299 to add the repo to the publishing-bot fetch script
  - https://github.com/kubernetes/test-infra/pull/27579 to setup branch protection rules
  - https://github.com/kubernetes/community/pull/6885 to add the repo to `sigs.yaml` file

[2022-09-22 16:36] ameukam commented on #3630
@aramase I see your PR needs a rebase. Do you mind rebase it and get it merged before I merge the branch protection rules ?

[2022-09-22 21:47] tallaxes opened #3719 "REQUEST: New membership for tallaxes"
### GitHub Username

@tallaxes

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-09-22 21:48] marwanad commented on #3719
+1 from me!

[2022-09-22 21:50] gandhipr commented on #3719
+1 from me!

[2022-09-23 09:25] ameukam commented on #3558
Created the token and it will be synced to the build cluster as `k8s-release-enhancements-triage-github-token`:  https://github.com/kubernetes/k8s.io/pull/4259.

@rhockenbury @Priyankasaggu11929 we should update the ProwJob to use the new secret.

[2022-09-23 10:30] Priyankasaggu11929 commented on #3558
Thanks so much for the help, @ameukam.

Raised a PR to update the ProwJob to use the new secret - https://github.com/kubernetes/test-infra/pull/27607

[2022-09-23 12:03] jsafrane commented on #3716
+1

[2022-09-23 14:08] #3713 closed

[2022-09-23 14:08] mrbobbytables commented on #3700
@khoang98 do you happen to have another sponsor? @jmwurst [cannot act as a sponsor](https://cs.k8s.io/?q=jmwurst&i=fosho&files=OWNERS&excludeFiles=vendor%2F&repos=) - sponsors must be a reviewer or approver in one of the kubernetes orgs.

[2022-09-23 14:10] mrbobbytables commented on #3709
/assign

[2022-09-23 14:12] mrbobbytables commented on #3712
/assign

[2022-09-23 14:13] mrbobbytables commented on #3716
/assign

[2022-09-23 14:14] mrbobbytables commented on #3717
/assign

[2022-09-23 14:20] mrbobbytables commented on #3719
@tallaxes do you have another sponsor? @gandhipr cannot act as a sponsor. Sponsors must be reviewer or approver in one of the Kubernetes orgs.

@gandhipr also please accept the org membership request, while you are listed in org.yaml, GitHub will not recognize you as an org member until you accept the invitation.

[2022-09-23 14:35] olemarkus commented on #3700
I am happy to sponsor for the work done on the fsx csi driver

+1

[2022-09-23 15:27] mrbobbytables commented on #3700
That'll do!
/assign

[2022-09-23 15:30] mrbobbytables commented on #3700
Thank you for all your contributions so far :)

I've created PR #3720  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-09-23 15:30] mrbobbytables commented on #3709
Thank you for all your contributions so far :)

I've created PR #3720  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-09-23 15:31] mrbobbytables commented on #3712
Thank you for all your contributions so far :)

I've created PR #3720  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-09-23 15:31] mrbobbytables commented on #3716
Thank you for all your contributions so far :)

I've created PR #3720  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-09-23 15:31] mrbobbytables commented on #3717
Thank you for all your contributions so far :)

I've created PR #3720  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-09-23 15:48] #3700 closed

[2022-09-23 15:48] #3709 closed

[2022-09-23 15:48] #3712 closed

[2022-09-23 15:48] #3716 closed

[2022-09-23 15:48] #3717 closed

[2022-09-23 15:55] aramase commented on #3630
As per https://github.com/kubernetes/kubernetes/pull/111980#issuecomment-1255832323

/assign @nikhita

[2022-09-23 16:00] amolmote commented on #3717
Thank u so much @divya-mohan0209, @natalisucks and @mrbobbytables.

[2022-09-23 16:22] ConnorJC3 opened #3722 "REQUEST: New membership for ConnorJC3"
### GitHub Username

@ConnorJC3

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-09-23 18:23] astoycos commented on #3643
Should be GTG now @mrbobbytables Thanks for all the help folks!

[2022-09-23 18:25] cblecker commented on #3643
I'm doing the Netlify piece right now :)

[2022-09-23 18:26] astoycos commented on #3643
Awesome, thanks for the help @cblecker!

[2022-09-23 18:27] mrbobbytables commented on #3643
Thanks @cblecker! I was just about to login myself lol

[2022-09-23 18:28] cblecker commented on #3643
Looks like everything is hooked up: https://network-policy-api.sigs.k8s.io/

Please let us know if you have any issues

/close

[2022-09-23 18:28] #3643 closed

[2022-09-23 20:45] kflynn opened #3723 "REQUEST: New membership for @kflynn"
### GitHub Username

@kflynn

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-09-23 20:46] robscott commented on #3723
+1

Flynn has been a great contributor to the GAMMA initiative in Gateway API.

[2022-09-25 23:39] feiskyer commented on #3719
+1 from me!

[2022-09-25 23:53] dims commented on #3719
+1 from me

[2022-09-26 12:28] jsafrane commented on #3722
+1

[2022-09-26 14:27] torredil commented on #3722
+1

[2022-09-26 18:47] gandhipr commented on #3719
@mrbobbytables looks like my invitation has been expired. Could you please forward it again, will accept it right away.
Thanks

[2022-09-27 00:56] aramase commented on #3630
@nikhita FYI, the PR to setup the staging dir and publishing rules has been merged in `k/k` with reference to `master` branch.

[2022-09-27 02:31] marcushyungseoklee opened #3727 "REQUEST: New membership for marcushyungseoklee"
### GitHub Username

@marcushyungseoklee

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.go