[2018-11-20 20:56] #250 closed

[2018-11-20 21:24] cblecker commented on #248
@zacharysarah can you PR this new repo into sigs.yaml?

[2018-11-20 21:59] zacharysarah commented on #248
@cblecker Sure thing—I’m on vacation this week, is next week okay?

[2018-11-20 22:42] droot opened #260 "New Repo: kubebuilder-maestro"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
maestro

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@kubernetes-sigs/kubebuilder-admins

### If not a staging repo, who should have write access
@kubernetes-sigs/kubebuilder-admins, @gerred

### If a new repo, who should be list

[2018-11-20 23:08] yastij opened #261 "yastij membership for kubernetes-sigs"
### GitHub Username
@yastij

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-11-20 23:14] msau42 commented on #244
/lgtm

[2018-11-20 23:18] cblecker commented on #248
@zacharysarah Yup! Enjoy your time off 🦃

[2018-11-20 23:40] saad-ali commented on #244
Approved on behalf of SIG Storage.

[2018-11-20 23:51] jonpulsifer opened #262 "REQUEST: New membership for jonpulsifer"
### GitHub Username
@jonpulsifer

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-11-21 01:48] tallclair commented on #262
/lgtm

[2018-11-21 01:54] jonpulsifer commented on #262
oops too many googlers on the original issue, added @philips and @jessfraz 🙏

[2018-11-21 01:58] mrbobbytables commented on #262
@jonpulsifer Just as an FYI - The @kubernetes-security group is not really an official org. Were you thinking of the security audit working group?

[2018-11-21 02:00] cblecker commented on #262
@mrbobbytables It actually is, but it's membership is restricted (https://github.com/kubernetes/community/tree/master/github-management#actively-used-github-organizations)

I'll take care of this one :)

[2018-11-21 02:01] mrbobbytables commented on #262
Ahh, thanks for the correction @cblecker :)

[2018-11-21 02:48] tallclair commented on #262
@cblecker If we create a new pst-associate team in the @kubernetes-security org, are we able to restrict access to the private repos from that team? Otherwise, I think we should just stick with @kubernetes for now.

_(Not that I don't trust @jonpulsifer, but the PST-associate role is explicitly limited to handling publicly disclosed vulnerabilities)_

[2018-11-21 04:34] cblecker commented on #262
@tallclair Yes, we can.. that said, being in the org doesn't really get you anything unless you can see the private repos (there's no public repos). If PST associates don't need access to the private repos, then I'd say just leave it to @kubernetes for now, and we can revisit later if things change.

[2018-11-21 04:57] nikhita commented on #38
I have created https://github.com/kubernetes/publishing-bot/pull/135 for the publishing-bot so that all processes related to creating the repo are in place. But I've placed a hold on it because it shouldn't get merged until https://github.com/kubernetes/kubernetes/pull/67791 gets merged in k/k.

Also, for the record, https://github.com/kubernetes/test-infra/pull/10194 is the PR updating branch-pro

[2018-11-21 07:56] marquiz commented on #172
No problem, as we've been iterating over one issue (kubernetes-incubator/node-feature-discovery#176) which I wanted to resolve before the migration. But, I think we would be ready, now.

So, please migrate whenever you have time.

[2018-11-21 16:37] cblecker commented on #262
Looks good. Need a thumbs up from a second sponsor, and we should be good to go.

[2018-11-21 17:01] jessfraz commented on #262
/lgtm

[2018-11-21 17:11] mrbobbytables commented on #261
@yastij I've created PR #263 to add you to @kubernetes-sigs. Once that gets merged, you should get a membership invite  :)

[2018-11-21 17:14] mrbobbytables commented on #262
@jonpulsifer My apologies for the confusion earlier regarding @kubernetes-security. I've gone ahead and created PR #263 to add you to the @kubernetes Org.  Once that gets merged, you should get a membership invite :)

[2018-11-21 17:50] cblecker commented on #262
Thanks @mrbobbytables! Welcome @jonpulsifer!

[2018-11-21 17:53] #261 closed

[2018-11-21 17:53] #262 closed

[2018-11-21 19:40] yujuhong commented on #258
+1 for having an official testing repo owned by the SIG until we can merge all changes to the main repo. It'd certainly help the effort to have a centralized place to host and discuss testing-related changes/artifacts for windows.

@pjh and I will be happy to contribute and/or file issues we discover in our test job. Perhaps we can also move our test script for GCE to the new repo once we upstream

[2018-11-22 12:09] fabriziopandini opened #264 "New membership for @fabriziopandini (for k-sigs)"
### GitHub Username
@fabriziopandini

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
already a member of @kubernetes

/area github-membership

[2018-11-22 14:57] markthink commented on #239
+1

[2018-11-24 02:48] #239 closed

[2018-11-25 22:41] PatrickLang commented on #258
cc @spiffxp @BenTheElder. I forwarded this to the sig-testing list too.

[2018-11-26 06:44] AdamDang opened #266 "Request: New Membership for AdamDang"
### GitHub Username
@AdamDang

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-11-26 16:32] hhoover opened #267 "New Membership for hhoover"
### GitHub Username
@hhoover

### Organization you are requesting membership in
@kubernetes

### Requirements
- [:heavy_check_mark:] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [:heavy_check_mark:] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [:heavy_check_mark:] I have subscribed to the kubernetes

[2018-11-26 16:34] justaugustus commented on #267
Enthusiastic +1!

[2018-11-26 16:34] alexbrand commented on #267
+1

[2018-11-26 21:39] saad-ali commented on #254
@cblecker opened https://github.com/kubernetes/community/pull/2973

[2018-11-26 21:48] cblecker commented on #254
Thanks @saad-ali! Let me know if you need anything else :)
/close

[2018-11-26 21:49] #254 closed

[2018-11-27 00:41] sbezverk opened #268 "github.com/kubernetes-csi/csi-lib-utils"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
csi-lib-utils

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
@saad-ali

### If not a staging repo, who should have write access
@saad-ali

### If a new repo, who should be listed as approvers in OWNERS
@saad-ali
### If a new repo, w

[2018-11-27 00:41] sbezverk commented on #268
/assign @saad-ali

[2018-11-27 01:15] saad-ali commented on #268
I approve the creation of `github.com/kubernetes-csi/csi-lib-utils` on behalf of sig-storage.

Let's make the description: `Common code for Kubernetes CSI sidecar containers (e.g. `external-attacher`, `external-provisioner`, etc.). `

[2018-11-27 11:33] marquiz commented on #172
ping @cblecker, when do you think you would be able to do the migration?

[2018-11-27 12:49] markthink commented on #266
+1

[2018-11-27 16:48] iamemilio opened #269 "REQUEST: New membership for @iamemilio"
### GitHub Username
iamemilio

### Organization you are requesting membership in
cloud-provider-openstack

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2018-11-27 17:40] #269 closed

[2018-11-27 17:51] justaugustus commented on #264
Closed via #265

[2018-11-27 17:51] justaugustus commented on #264
/close

[2018-11-27 17:51] #264 closed

[2018-11-27 18:12] PatrickLang commented on #258
Updated links above - we have lazy consensus now. Can we move forward with this repo request?

[2018-11-27 18:21] PatrickLang commented on #258
/assign @cblecker

This is ready for review :)

[2018-11-27 19:08] cblecker commented on #172
@marquiz taking a look at this now :)

[2018-11-27 19:17] droot commented on #260
/assign cblecker

[2018-11-27 19:40] cblecker commented on #260
KEP should be merged first, and will need signoffs from API machinery here before I can take action.

[2018-11-27 19:44] cblecker commented on #208
This is mostly done now.

@ant31 @timothysc -- Can you please open a PR to update sigs.yaml with the new location?

[2018-11-27 20:16] cblecker commented on #172
Okay, this should be mostly done.

Can you please open a PR to update sigs.yaml with the new repo location?

[2018-11-27 21:06] justaugustus commented on #267
Hey @hhoover, I've created #271 to add you to the kubernetes org. Once that merges, you should receive an invite from our automation framework.

Welcome to the party! :)
/assign

[2018-11-27 22:19] #267 closed

[2018-11-27 23:10] soggiest opened #272 "New membership request: soggiest"
### GitHub Username
@soggiest

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-11-27 23:19] justaugustus commented on #272
A +1 for my soggy friend!

[2018-11-27 23:19] justaugustus commented on #272
/assign

[2018-11-27 23:58] zacharysarah commented on #248
@cblecker 👋 PTAL https://github.com/kubernetes/community/pull/2982

[2018-11-28 00:01] cblecker commented on #248
Looks like we're done then! Please let me know if you run into any issues!

[2018-11-28 00:01] #248 closed

[2018-11-28 00:05] zacharysarah commented on #248
@cblecker Thank you so much! 💛

[2018-11-28 00:20] detiber commented on #272
+1 for the soggiest

[2018-11-28 02:35] zhangxiaoyu-zidif commented on #266
+1

[2018-11-28 04:58] justaugustus commented on #272
Hey @soggiest -- I've created #273 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome to the party! :)

[2018-11-28 06:57] #272 closed

[2018-11-28 07:56] sidharthsurana opened #274 "REQUEST: New membership for sidharthsurana"
### GitHub Username
@sidharthsurana

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://g

[2018-11-28 07:58] frapposelli commented on #274
+1

Great having you on board Sidharth!

[2018-11-28 10:55] marquiz commented on #172
Cool, thanks!

kubernetes/community#2985

[2018-11-28 16:07] roberthbailey commented on #274
/lgtm

[2018-11-28 20:39] saad-ali commented on #268
@cblecker or @spiffxp can you help with this? We need this ASAP

[2018-11-28 20:49] cblecker commented on #268
/unassign @saad-ali
/assign

Yeah, I can kick this out.

[2018-11-28 20:55] cblecker commented on #268
Okay, should be good to go. Can you add this to sigs.yaml?

[2018-11-28 23:03] saad-ali commented on #268
Done: https://github.com/kubernetes/community/pull/2989

Thanks a lot for the quick turn around @cblecker!!

[2018-11-28 23:05] cblecker commented on #268
Cool! Please let me know if you need anything else.
/close

[2018-11-28 23:05] #268 closed

[2018-11-29 01:27] mikeln opened #275 "REQUEST: New membership for mikeln"
### GitHub Username
@mikeln

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2018-11-29 01:30] coffeepac commented on #275
+1

[2018-11-29 02:31] hex108 opened #276 "REQUEST: New membership for hex108"
### GitHub Username
@hex108

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2018-11-29 02:34] k82cn commented on #276
+1 :)

[2018-11-29 02:57] cofyc commented on #244
/assign @cblecker

[2018-11-29 09:22] lingxiankong opened #277 "REQUEST: New membership for lingxiankong"
### GitHub Username
@lingxiankong

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-11-29 11:14] dims commented on #277
+1 from me. welcome!

[2018-11-29 17:23] hogepodge commented on #277
+1 from me, thanks and welcome!

[2018-11-29 17:45] bsalamat commented on #276
+1

[2018-11-29 19:15] cblecker commented on #258
@PatrickLang Can you please add me as an admin on that repo? I will need this to be able to transfer it.

[2018-11-29 19:17] PatrickLang commented on #258
sure. If we want to reorganize code such that:

- k8s_image should become images
- doc : new directory

Should we do that first or later?

[2018-11-29 19:19] cblecker commented on #258
Totally up to you.

[2018-11-29 19:19] cblecker commented on #258
Also, has @AlexMuresan signed the CLA? I can't verify that, as they haven't opened a PR against the kubernetes org

[2018-11-29 21:52] BenTheElder commented on #258
a thought: `kubernetes-sigs/windows-testing`, the current repo has `images` in the name, if hosting windows e2e image sources is still the goal, maybe we should go for a more focused repo name? maybe `kubernetes-sigs/win-e2e-images` or something like that?

Generally adding a repo so we have somewhere to get work done on these images - SGTM! IIRC plenty of the images used for linux e2e testing are

[2018-11-29 23:25] mrbobbytables commented on #274
Hey there @sidharthsurana, thank you for all your contributions so far :)

I've created PR #278 to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-29 23:26] mrbobbytables commented on #276
Hey there @hex108, thank you for all the work you've done so far! :)

I've created PR #278 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-29 23:27] mrbobbytables commented on #277
Hey there @lingxiankong , thank you for all of your contributions :)

I've created PR #278 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-11-29 23:35] #274 closed

[2018-11-29 23:35] #276 closed

[2018-11-29 23:35] #277 closed

[2018-11-29 23:37] spiffxp commented on #275
+1

[2018-11-30 00:28] droot commented on #260
/cc @lavalamp @deads2k

[2018-11-30 01:34] hex108 commented on #276
Thanks all!

[2018-11-30 11:11] luxas commented on #56
The final piece of this was fixed with https://github.com/kubernetes/kubernetes/pull/70453, closing
/close

[2018-11-30 11:11] #56 closed

[2018-11-30 13:16] deads2k commented on #260
I'm intrigued by the idea, but I'd like to see a little more detail in the sketch of how it would work beyond an initial demo before we move forward with it.  I've seen previous efforts in similar spaces get stalled there.

[2018-11-30 13:33] gerred commented on #260
@deads2k :+1:, responded to you over in the KEP.

[2018-11-30 19:37] PatrickLang commented on #258
I wanted to combine all the things needed to run a test pass in a single repo:

- /images - test images
- /docs - latest info on how to build the test images, and run a test pass for the SIG, or upcoming conformance profile
- /scripts - scripts to run test passes with known good parameters, collect logs from Windows nodes

I'm pushing to get more federated test submissions from other distros & clo

[2018-11-30 21:32] DirectXMan12 opened #280 "Retire Heapster"
### Repository to archive
e.g. kubernetes/heapster

### Repository and/or sig subproject owners that are approving this archival
e.g. @DirectXMan12 (Heapster subproject, SIG Instrumentation), @brancz (SIG Instrumentation Lead) -- see https://github.com/kubernetes/heapster/pull/2110

### When should this be done
Anytime soon

/area github-repo

[2018-11-30 23:09] cblecker commented on #280
CI cleanup: https://github.com/kubernetes/test-infra/pull/10301

The rest of it is done!
/close

[2018-11-30 23:09] #280 closed

[2018-12-01 02:52] yue9944882 opened #281 "Request: New Membership for yue9944882 @kubernetes-client"
### GitHub Username

yue9944882

### Organization you are requesting membership in

@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2018-12-01 03:03] mrbobbytables commented on #275
Hey there @mikeln , thank you for all your efforts so far :)

I've created PR #282  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-01 03:05] mrbobbytables commented on #281
@yue9944882 I've gone ahead and added you to the @kubernetes-client org in PR #282 . Once that gets merged, you should get a membership invite. :)

/assign

[2018-12-01 03:08] yue9944882 commented on #281
wow, thx for the prompt response 🍀

[2018-12-01 04:37] #275 closed

[2018-12-01 04:37] #281 closed

[2018-12-03 05:38] cblecker commented on #172
All done!
/close

[2018-12-03 05:38] #172 closed

[2018-12-03 08:51] xichengliudui opened #283 "Request: New membership for xichengliudui"
### GitHub Username
@xichengliudui

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-12-03 08:54] xichengliudui commented on #283
/cc @chenrui333

[2018-12-03 09:04] markthink commented on #283
+1

[2018-12-03 09:06] xichengliudui commented on #283
@markthink  Thanks for XiaoLong support!

[2018-12-03 11:14] chenrui333 commented on #283
+1, thanks for the your contributions for the i18n-zh localization!

[2018-12-03 11:20] chenrui333 commented on #266
+1, Thanks for your contributions on the sig-docs/website project!

[2018-12-03 18:12] rhatdan commented on #179
@cblecker I was never added as a member of kubernetes-sigs?

[2018-12-03 18:14] cblecker commented on #179
You were invited, but you need to accept the invitation. You can either check your e-mail, or go to https://github.com/kubernetes-sigs to accept it.

[2018-12-03 19:45] rhatdan commented on #179
Thanks I must have missed the email, in the flood of emails.  I have now accepted the invite and am in.

[2018-12-04 09:46] xichengliudui commented on #283
@cblecker

[2018-12-04 11:30] mlmhl opened #284 "Create github.com/kubernetes-csi/external-resizer repo"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
external-resizer

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
@saad-ali

### If not a staging repo, who should have write access
@saad-ali

### If a new repo, who should be listed as approvers in OWNERS
@saad-ali @gnufied @mlmhl

[2018-12-04 11:31] mlmhl commented on #284
/assign @cblecker

[2018-12-04 11:31] mlmhl commented on #284
cc @saad-ali

[2018-12-04 12:37] markthink commented on #283
@xichengliudui  Thank you for your contribution.

[2018-12-04 23:05] dashpole opened #285 "New repository for tracing mutating admission controller"
### New Repo, Staging Repo, or migrate existing
New repository

### Requested name for new repository
mutating-trace-admission-controller

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
piosz, brancz, dashpole

### If not a staging repo, who should have write access
Monkeyanator

### If a new repo, who should be listed as approvers

[2018-12-05 08:57] brancz commented on #285
As already discussed in the meeting, this has my approval. This would be our first `kubernetes-sigs/` repo, it looks like we will also need to add members owning the project + sig leads to the kubernetes-sigs org in addition to the repo creation (which doesn't seem to be automated in this repo as opposed to org membership).

[2018-12-05 14:25] mlmhl commented on #284
@cblecker or @spiffxp can you help with this issue? Thanks :)

[2018-12-05 18:58] dashpole opened #286 "Membership for new repo "mutating-trace-admission-controller""
### GitHub Username
@dashpole

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-12-05 19:01] dashpole commented on #286
This is for https://github.com/kubernetes/org/issues/285

[2018-12-05 19:04] Random-Liu commented on #286
:+1:

[2018-12-05 19:13] Monkeyanator opened #287 "Membership for new sig-instrumentation repo "mutating-trace-admission-controller""
### GitHub Username
@Monkeyanator

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2018-12-05 19:15] dashpole commented on #287
+1

[2018-12-05 19:15] dashpole commented on #285
@brancz it looks like we need to each open https://github.com/kubernetes/org/issues/new?template=membership.md for that.  @Monkeyenator and I have already done so.

[2018-12-05 19:21] dashpole commented on #287
Sam hasn't made any contributions yet, as [his work](https://github.com/Monkeyanator/mutating-trace-admission-controller/pull/1) for the [new repo](https://github.com/kubernetes/org/issues/285) is pending the creation of the repository.

[2018-12-05 20:10] monotek opened #288 "REQUEST: New membership for monotek"
### GitHub Username
@monotek

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-12-05 20:11] coffeepac commented on #288
+1

[2018-12-05 20:43] brancz commented on #287
+1

[2018-12-05 21:36] BenTheElder commented on #286
+1

[2018-12-06 00:36] tstromberg opened #289 "REQUEST: New membership for tstromberg"
### GitHub Username

tstromberg

### Organization you are requesting membership in

kubernetes

### Requirements
- [✓] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [✓] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [✓] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-12-06 00:43] r2d4 commented on #289
👍

[2018-12-07 01:02] balopat opened #290 "REQUEST: New membership for balopat"
### GitHub Username
@balopat

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-12-07 01:07] r2d4 commented on #290
👍

[2018-12-07 01:41] dlorenc commented on #290
+1

[2018-12-07 03:42] SataQiu opened #291 "Request: New Membership for SataQiu"
### GitHub Username
@SataQiu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-12-07 03:45] SataQiu commented on #291
/cc @markthink

[2018-12-07 03:45] SataQiu commented on #291
/cc @chenrui333

[2018-12-07 03:53] markthink commented on #291
+1 Thank you for your contribution to the kubernetes Chinese Community

[2018-12-07 07:55] SataQiu commented on #291
@markthink Thank you very much for your support!

[2018-12-07 14:01] chenrui333 commented on #291
👍 Thanks a lot for your contributions of sig-docs i18n-zh work.

[2018-12-07 14:05] SataQiu commented on #291
@chenrui333 Thank you for your support. And I will try my best!

[2018-12-07 14:24] chenrui333 commented on #266
/cc @zacharysarah

[2018-12-07 14:24] chenrui333 commented on #283
/cc @zacharysarah

[2018-12-07 14:24] chenrui333 commented on #291
/cc @zacharysarah

[2018-12-07 20:38] chenrui333 commented on #266
better contribution display:
https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3AAdamDang+archived%3Afalse+is%3Aclosed+is%3Amerged+repo%3Akubernetes%2Fwebsite

[2018-12-07 20:39] chenrui333 commented on #283
better contribution display for kubernetes/website repo:
https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Axichengliudui+archived%3Afalse+is%3Aclosed+is%3Amerged+repo%3Akubernetes%2Fwebsite

[2018-12-07 20:39] chenrui333 commented on #291
better contribution display for kubernetes/website repo:
https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3ASataQiu+archived%3Afalse+is%3Aclosed+is%3Amerged++is%3Amerged+repo%3Akubernetes%2Fwebsite+

[2018-12-07 20:44] zacharysarah commented on #266
+1, thanks for joining!

[2018-12-07 20:44] zacharysarah commented on #283
+1, thanks for joining!

[2018-12-07 20:44] zacharysarah commented on #291
+1, thanks for joining!

[2018-12-08 00:20] mrbobbytables commented on #288
Hey there @monotek . Unfortunately, @gianrubio cannot sponsor you for membership in the @kubernetes org.  A sponsor must be an approver or reviewer at least one owners file ([membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements)).

Do you happen to have someone else that could step in as another sponsor?

[2018-12-08 00:35] xichengliudui commented on #283
@markthink  @chenrui333  @zacharysarah , Thank you for your support!

[2018-12-08 00:50] logicalhan opened #292 "REQUEST: New membership for @logicalhan"
### GitHub Username
@logicalhan

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-12-08 01:42] AdamDang commented on #266
@zacharysarah @chenrui333  @markthink  @zhangxiaoyu-zidif
Thanks a lot for your kind support and help. I've learned so much in the past days from the community.
And I'd like to do more for our community! :)

[2018-12-08 23:05] monotek commented on #288
Ah, sorry, to bad.

@coffepac suggested @brancz via slack but I did not spoke to him upfront...

[2018-12-09 20:37] cheftako commented on #292
/assign @sttts

[2018-12-09 20:37] cheftako commented on #292
/assign

[2018-12-10 03:03] sboeuf opened #294 "REQUEST: New membership for sboeuf"
### GitHub Username
@sboeuf

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-12-10 15:35] yuexiao-wang opened #295 "Request: New Membership for yuexiao-wang"
### GitHub Username
@yuexiao-wang

### Organization you are requesting membership in
@kubernetes

### Requirements
- [√] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [√] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [√] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-12-10 15:52] neolit123 commented on #295
thank you for you contributions @yuexiao-wang
+1 :tada:

[2018-12-10 20:46] fabriziopandini commented on #295
Happy to get you on be onboard @yuexiao-wang!
+1

[2018-12-10 23:20] dashpole commented on #285
friendly ping to @kubernetes/owners, as this is out of [SLO](https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#slos)

[2018-12-10 23:21] dashpole commented on #286
friendly ping to @kubernetes/owners, as this is out of [SLO](https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#slos)

[2018-12-10 23:21] dashpole commented on #287
friendly ping to @kubernetes/owners, as this is out of [SLO](https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#slos)

[2018-12-10 23:23] cblecker commented on #285
@dashpole Sorry, things have been extra busy around KubeCon. Will review this as soon as I have time.

[2018-12-11 02:10] mrbobbytables commented on #266
Hey there @AdamDang , my apologies for all the delays and thank you for all your contributions so far :)
I've created PR #296  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:14] mrbobbytables commented on #283
Hey there @xichengliudui, thank you for all your contributions so far :)

I've created PR #296  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:15] mrbobbytables commented on #288
Hey there @monotek , thank you for all the work you've done so far :)

I've created PR #296  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:16] mrbobbytables commented on #289
Hey there @tstromberg , thanks for all the work you've put into minikube :)

I've created PR #296  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:16] mrbobbytables commented on #290
Hey there @balopat, thanks for all the work you've put into minikube :)

I've created PR #296  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:17] xichengliudui commented on #283
@chenrui333  @markthink  @zacharysarah  @mrbobbytables ,Thank you very much!

[2018-12-11 02:17] mrbobbytables commented on #291
Hey there @SataQiu, thank you for all your translation efforts :)

I've created PR #296  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:18] mrbobbytables commented on #292
Hey there @logicalhan , thank you for all your contributions so far :)

I've created PR #296   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:19] mrbobbytables commented on #295
Hey there @yuexiao-wang , thank you for all the work you've done so far :)

I've created PR #296   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-11 02:20] yuexiao-wang commented on #295
@fabriziopandini @yuexiao-wang @mrbobbytables Thanks again

[2018-12-11 02:26] Pingan2017 opened #297 "REQUEST: New membership for Pingan2017"
### GitHub Username
@Pingan2017
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-12-11 02:31] cblecker commented on #285
Thanks @calebamiles!

[2018-12-11 02:34] #266 closed

[2018-12-11 02:34] #283 closed

[2018-12-11 02:34] #288 closed

[2018-12-11 02:34] #289 closed

[2018-12-11 02:34] #290 closed

[2018-12-11 02:34] #291 closed

[2018-12-11 02:34] #292 closed

[2018-12-11 02:34] #295 closed

[2018-12-11 02:37] calebamiles commented on #285
[created][]. Please update `sigs.yaml`.

[created]: https://github.com/kubernetes-sigs/mutating-trace-admission-controller/tree/master

[2018-12-11 02:37] #285 closed

[2018-12-11 05:54] tstromberg commented on #289
Thank you!

[2018-12-11 05:54] Pingan2017 commented on #297
/cc @zhangxiaoyu-zidif  @xiangpengzhao @soltysh

[2018-12-11 06:35] xiangpengzhao commented on #297
![image](https://user-images.githubusercontent.com/15881573/49782641-00f4f800-fd52-11e8-9ed3-a18ba8e243d1.png)

[2018-12-11 07:50] ainmosni opened #298 "REQUEST: New membership for ainmosni"
### GitHub Username
@ainmosni

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-12-11 07:51] m1093782566 commented on #298
+1

[2018-12-11 08:19] zouyee opened #299 "zouyee membership for kubernetes-sigs"
### GitHub Username
@zouyee

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-12-11 08:23] zouyee commented on #299
/aasgin @mrbobbytables

[2018-12-11 08:40] chaosaffe commented on #298
+1 from me
Congratulations @ainmosni!
🥳🎉🍻

[2018-12-11 12:23] mlmhl commented on #284
Ping @kubernetes/owners as this is out of [SLO](https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#slos) :)

[2018-12-11 23:21] zer0big opened #300 "REQUEST: New membership for zerobig"
### GitHub Username
@zer0big
### Organization you are requesting membership in
@kubernetes

### Requirements

- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2018-12-11 23:22] zer0big commented on #300
@gochist @ClaudiaJKang 작성 내용 검토 부탁 드립니다~^

[2018-12-11 23:30] gochist commented on #300
@zer0big Please make sure that the issues and PRs are linked correctly.

[2018-12-11 23:59] zer0big commented on #300
@gochist @ClaudiaJKang Review my request form again please.

[2018-12-12 00:31] ClaudiaJKang commented on #300
👍 Thank you for your contribution! @zer0big

[2018-12-12 01:06] gochist commented on #300
+1
He is one of the most important contributors for K8s document Korean L10n.

[2018-12-12 01:47] zhangxiaoyu-zidif commented on #297
+1

[2018-12-12 02:12] interma opened #301 "REQUEST: New membership for interma"
### GitHub Username
@interma

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-12-12 02:34] mengqiy commented on #301
+1

[2018-12-12 11:11] syjabri opened #302 "REQUEST: New membership for syjabri"
### GitHub Username
@syjabri

### Organization you are requesting membership in
@kubernetes-sig

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-12-12 11:17] chaosaffe commented on #302
+1 from me

@syjabri thank you for your work on Cluster API and Cluster API Provider OpenStack!

[2018-12-12 19:21] mrhillsman opened #303 "REQUEST: New membership for mrhillsman"
### GitHub Username
@mrhillsman

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2018-12-12 19:31] hogepodge commented on #303
+1 for membership. Melvin has been an active contributor to the K8s community over the last year and his membership would be welcomed in the community.

[2018-12-12 19:36] dims commented on #303
+1 from me

[2018-12-12 19:45] kwiesmueller opened #304 "REQUEST: New membership for @kwiesmueller"
### GitHub Username
@kwiesmueller

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2018-12-13 06:01] cblecker commented on #258
I've verified that all users in that repo have signed the CLA :)

Can actually look at moving this repo now, after KubeCon wraps up.

[2018-12-13 14:05] iamemilio commented on #302
+1 @syjabri

[2018-12-13 17:02] mrbobbytables commented on #302
Hey there @syjabri, unfortunately @iamemilio cannot sponsor you for membership. A sponsor must be an approver or reviewer to be able to +1 a membership request ([sponsor requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements)). Is there someone else that could sponsor you?

[2018-12-13 18:19] mrbobbytables commented on #297
Hey there @Pingan2017, thank you for all your contributions so far :)

I've created PR #306 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-13 18:20] mrbobbytables commented on #298
Hey there @ainmosni, thank you for all the work you've done so far :)

I've created PR #306 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2018-12-13 18:21] mrbobbytables commented on #299
@zouyee I've created PR #306 to add you to @kubernetes-sigs. Once that gets merged, you should get a membership invite notification :)

[2018-12-13 18:22] mrbobbytables commented on #300
@zer0big , thank you for all your contributions so far :)

I've created PR #306   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-13 18:25] #297 closed, assigned to mrbobbytables

[2018-12-13 18:30] mrhillsman commented on #303
thx @mrbobbytables

[2018-12-13 19:23] #286 closed, assigned to calebamiles

[2018-12-13 19:24] #287 closed, assigned to calebamiles

[2018-12-14 01:40] fanzhangio commented on #301
+1

[2018-12-14 01:55] interma commented on #301
Thanks for your help in community. @fanzhangio @mengqiy !
Looking forward to make kubernetes and kubebuilder better.

[2018-12-14 15:56] justinsb opened #308 "Please create repo kubernetes-sigs/etcdadm"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
etcdadm

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
justinsb, dlipovetsky & sig-cluster-lifecycle chairs (roberthbailey, luxas, timothysc)

### If not a staging repo, who should have write access
justinsb, dlipovetsky

### If a new re

[2018-12-14 20:19] cblecker commented on #308
I can’t tell clearly from the KEP.. are we forking an existing project?

[2018-12-16 15:19] mrbobbytables commented on #301
Hey there @interma, my apologies for the delayed response. I've been slow to catch up on everything after KubeCon.

Unfortunately @fanzhangio  cannot sponsor you for membership. A sponsor must be an approver or reviewer to be able to +1 a membership request ([sponsor requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements)).

Is there someone else tha

[2018-12-17 00:07] cblecker commented on #82
@calebamiles @andrewsykim What's the status of this one? Looks like alibaba was created, but not the other two.. and I'm not sure the others meet the bar yet that @andrewsykim laid out in the linked sig-arch discussion.

[2018-12-17 00:10] andrewsykim commented on #82
@cblecker yeah digitalocean & baidu cloud are still pending, will update here once those requirements are met :)

[2018-12-17 00:15] cblecker commented on #217
Done!

[2018-12-17 00:15] #217 closed

[2018-12-17 00:37] cblecker commented on #284
Created: https://github.com/kubernetes-csi/external-resizer

[2018-12-17 00:37] cblecker commented on #244
Created: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner

[2018-12-17 00:58] cblecker commented on #258
Okay, so it should be transferred to https://github.com/kubernetes-sigs/windows-testing

Still need to provide access.. https://github.com/kubernetes/org/pull/309 will add @michmike and @PatrickLang to @kubernetes-sigs, and then I can add you to the groups that give access.

@adelina-t isn't a member of the kubernetes org, so she'll need to go through the [community membership process](https://git

[2018-12-17 02:04] cofyc commented on #244
Thanks!

[2018-12-17 02:52] interma commented on #301
@mrbobbytables Thanks for your remind.

I noticed @fanzhangio had an opened PR: https://github.com/kubernetes-sigs/kubebuilder/pull/522, this PR will add him to owner list.
Does this mean he will meet the sponsor requirements after the PR is merged? If so, I will ping you when the PR is merged.

Thanks.

[2018-12-17 05:38] BenTheElder commented on #258
Happy to be a sponsor for that FYI :-)

On Sun, Dec 16, 2018, 16:58 Christoph Blecker <notifications@github.com
wrote:

[2018-12-17 06:10] mlmhl commented on #284
Thanks @cblecker !

[2018-12-17 13:13] michmike commented on #258
i can sponsor her as well. this will be approved quickly :)

[2018-12-17 13:39] adelina-t opened #310 "REQUEST: New membership for adelina-t"
### GitHub Username
@adelina-t

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2018-12-17 13:42] adelina-t commented on #310
@BenTheElder  @PatrickLang  @michmike @cblecker

[2018-12-17 13:45] mrbobbytables commented on #301
Sort of. Org membership is scoped with @kubernetes as the parent or root.  Once @fanzhangio is merged, they can sponsor you for membership in @kubernetes-sigs, but could not sponsor you for @kubernetes. @kubernetes-sigs is a _"child"_ org under @kubernetes. If they were an approver/reviewer in a project under the root org (@kubernetes) they could sponsor you for membership in both.

If you'd like

[2018-12-17 14:59] michmike commented on #310
/approve

[2018-12-17 15:00] michmike commented on #310
+1

[2018-12-17 17:41] PatrickLang commented on #310
+1

[2018-12-17 20:08] gnufied opened #311 "Membership of kubernetes-csi repo"
### GitHub Username

gnufied

### Organization you are requesting membership in

kubernetes-csi

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2018-12-17 20:08] gnufied commented on #311
cc @msau42 @saad-ali @childsb

[2018-12-17 20:09] msau42 commented on #311
/lgtm

[2018-12-17 20:36] childsb commented on #311
/approve

[2018-12-17 22:59] soggiest opened #312 "REQUEST: New membership for kubernetes-sigs for @soggiest"
### GitHub Username
soggiest

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-12-18 22:14] mrbobbytables commented on #310
Hey there @adelina-t, thank you for all your contributions so far :)

I've created PR #313  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-18 22:15] mrbobbytables commented on #311
@gnufied I've created PR #313 to add you to the @kubernetes-csi org. Once that gets merged you should get a membership invite :)

/assign

[2018-12-18 22:16] mrbobbytables commented on #312
@soggiest  I've created PR #313 to add you to the @kubernetes-sigs org. Once that gets merged you should get a membership invite :)

/assign

[2018-12-18 23:31] soggiest commented on #312
@mrbobbytables thanks for taking care of that!

[2018-12-19 01:30] cheftako opened #314 "Sample repo for cloud-provider creation"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
cloud-provider-sample

### Which Organization should it reside
sig-cloud-provider

### If not a staging repo, who should have admin access
@cheftako @andrewsykim @mcrute

### If not a staging repo, who should have write access
@cheftako @andrewsykim @mcrute

### If a new repo, who should be listed

[2018-12-19 14:38] andrewsykim commented on #314
+1 thanks @cheftako

[2018-12-19 15:12] mcrute commented on #314
+1

[2018-12-19 15:37] pontiyaraja opened #315 "REQUEST: New membership for @pontiyaraja"
### GitHub Username
@pontiyaraja

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2018-12-19 15:41] nikhita commented on #315
+1

Thanks for your contributions! :smile:

[2018-12-19 15:45] dims commented on #315
+1 from me!

[2018-12-19 18:22] Rajakavitha1 commented on #315
+1 from me too!!!!

[2018-12-19 21:20] calebamiles commented on #314
/assign

[2018-12-19 23:15] ibzib opened #316 "REQUEST: New membership for @ibzib"
### GitHub Username
@ibzib

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.goo

[2018-12-19 23:36] fejta commented on #316
/approve
/lgtm
/pony party

[2018-12-19 23:50] saad-ali opened #317 "Delete `github.com/kubernetes-csi/csi-driver-cinder` repo"
### Repository to archive
`github.com/kubernetes-csi/csi-driver-cinder`

### Repository and/or sig subproject owners that are approving this archival
/sig storage

### When should this be done
Anytime

### Additional context for request

This repo was created as part of https://github.com/kubernetes/org/issues/92.

However, SIG storage ended up never using it because Openstack folks who own and ma

[2018-12-19 23:59] fejta commented on #316
/assign @stevekuznetsov @BenTheElder @munnerz

Can we get a +1 or two?

[2018-12-20 00:34] BenTheElder commented on #316
+1
/pony party

[2018-12-20 01:32] mathu97 opened #318 "New repo for fibre channel csi driver"
### New Repo, Staging Repo, or migrate existing
New Repository for Fibre Channel CSI Driver

### Requested name for new repository
github.com/kubernetes-csi/csi-driver-fc

### Which Organization should it reside
kubernetes-csi

### Who should be provided access to this repository
@childsb @saad-ali ...

### Approvals
approvals from sig-storage

### Additional context for request
This request is to

[2018-12-20 02:30] munnerz commented on #316
+1 👋

[2018-12-20 02:42] mrbobbytables commented on #315
Hey there @pontiyaraja , thank you for all your contributions so far :)

I've created PR #319 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2018-12-20 04:36] #315 closed

[2018-12-20 04:36] #316 closed

[2018-12-20 17:35] stevekuznetsov commented on #316
/woof

[2018-12-20 17:35] stevekuznetsov commented on #316
doggo > pony

[2018-12-20 17:35] stevekuznetsov commented on #316
doggo > pony

[2018-12-20 18:50] tallclair commented on #38
https://github.com/kubernetes/kubernetes/pull/67791 finally merged! :tada:

Aside from https://github.com/kubernetes/publishing-bot/pull/135, is there anything else that needs to be done here, or should I close this issue?

[2018-12-20 18:57] nikhita commented on #38
Cancelled the hold on that. The repo should get populated once the bot is redeployed.

I think the only thing remaining is add the new repo to `sigs.yaml` in k/community. https://github.com/kubernetes/community/pull/3033 does that already so maybe we should just wait for that PR to get merged first (it will automatically close the issue).

[2018-12-20 21:49] #38 closed

[2018-12-20 21:49] #195 closed

[2018-12-20 21:49] #208 closed

[2018-12-20 21:49] #213 closed

[2018-12-20 21:49] #244 closed

[2018-12-20 21:49] #284 closed

[2018-12-20 22:55] ddebroy opened #321 "New staging repo for CSI Migration/Translation library"
### New Repo, Staging Repo, or migrate existing

Staging Repo for CSI Migration/Translation library

### Requested name for new repository
github.com/kubernetes/csi-translation-lib

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
none: staging repo

### If not a staging repo, who should have write access
none: staging repo

### If a new r

[2018-12-20 23:40] mathu97 commented on #318
ya that sounds good

[2018-12-21 00:36] saad-ali commented on #321
`github.com/kubernetes/csi-translation-lib` SGTM from SIG Storage side. The translation library will be added to `kubernetes/stagaing` and automatically published to this new repo.

[2018-12-21 00:37] saad-ali commented on #321
@cblecker or @spiffxp can you help with this.

[2018-12-21 00:41] cblecker commented on #321
Core repos require sig-arch approval first

[2018-12-21 01:21] jberkus commented on #308
@cblecker yes.  I believe this is the current canonical source: https://github.com/platform9/etcdadm

[2018-12-21 10:38] nikhita commented on #38
Just realized https://github.com/kubernetes/node-api does not have a repo description.

[2018-12-21 16:40] dims commented on #213
Thanks @cblecker !

[2018-12-21 23:39] saad-ali commented on #321
Ack. @ddebroy or @davidz627, could you start a thread with SIG Arch explaining why it is necessary and add it to their next meeting agenda if needed.

[2018-12-22 00:36] calebamiles commented on #314
[done](https://github.com/kubernetes/cloud-provider-sample/tree/master). please update `sigs.yaml` with the new repository

[2018-12-22 00:36] calebamiles commented on #314
/close

[2018-12-22 00:36] #314 closed

[2018-12-22 00:40] ddebroy commented on #321
Thread already started with SIG Arch: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/kubernetes-sig-architecture/yYcSj75gaGo

I will add it to their meeting agenda as well.

[2018-12-22 00:47] andrewsykim commented on #314
Thanks Caleb! PR for sigs.yaml https://github.com/kubernetes/community/pull/3051

[2018-12-22 08:43] justaugustus opened #322 "Migrate platform9/cluster-api-provider-azure to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing

### Requested name for new repository
`cluster-api-provider-azure`

### Which Organization should it reside
`kubernetes-sigs`

### If not a staging repo, who should have admin access
@justaugustus

### If not a staging repo, who should have write access
I can set this up once we get migrated in.

### If a new repo, who should be lis

[2018-12-22 08:45] justaugustus commented on #322
For approvals:
/assign @dstrebel @khenidak @feiskyer @timothysc @vannrt

[2018-12-22 08:51] justaugustus commented on #322
For visibility:
/cc @detiber @soggiest @tariq1890 @marwanad @lachie83

[2018-12-22 08:52] justaugustus commented on #322
For moving the GitHub bits:
/assign @cblecker @spiffxp

[2018-12-22 09:47] justaugustus commented on #322
I've started a [mailing list topic with SIG Azure & Cluster Lifecycle](https://groups.google.com/d/topic/kubernetes-sig-azure/Fvud5JPUtg4/discussion), as well as noted in #sig-cluster-lifecycle and #cluster-api.

[2018-12-23 07:09] yagonobre opened #323 "REQUEST: New membership for @yagonobre on @kubernetes-sigs"
### GitHub Username
@yagonobre

### Organization you are requesting membership in
@kubernetes-sigs

I'm member of @kubernetes

/area github-membership

[2018-12-23 09:41] feiskyer commented on #322
+1

[2018-12-24 09:59] cofyc opened #324 "New repo for kubernetes-incubator/external-storage/ceph"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
sig-storage-ceph-provisioner

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@rootfs
@wongma7
@cofyc

### If not a staging repo, who should have write access
@rootfs
@wongma7
@cofyc

### If a new repo, who should be listed as approv

[2018-12-24 10:01] cofyc commented on #324
cc @saad-ali @wongma7
What do you think?

[2018-12-24 16:35] yagonobre commented on #323
Thanks :)

[2018-12-24 16:35] #323 closed

[2018-12-26 17:08] dims commented on #302
@mrbobbytables i am willing to sponsor @syjabri for membership. +1 from me

@syjabri please adjust list of sponsors.

[2018-12-26 21:42] mrbobbytables commented on #302
Thanks for adding your +1 @dims :)

@syjabri I've gone ahead and created PR #326 to add you to @kubernetes-sigs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2018-12-26 23:08] spiffxp commented on #314
Why isn't this a kubernetes-sigs repo?  Why didn't this get approved through sig-arch?

https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-1

[2018-12-26 23:11] #302 closed

[2018-12-26 23:40] andrewsykim commented on #314
@spiffxp we already went through sig-arch approvals for `kubernetes/cloud-provider-*` repos (see https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/soeIadIeMCs). It also wouldn't make sense for us to host the actual provider repos in `kubernetes` but host the sample repo in `kubernetes-sigs`. Having everything in `kubernetes-sigs` is something we intend to do eventually  (though n

[2018-12-27 10:19] nikhita commented on #314
I came across this repo while working on https://github.com/kubernetes/steering/issues/28 and have created a PR to add template files (LICENSE, CONTRIBUTING.md, README.md, code-of-conduct.md): https://github.com/kubernetes/cloud-provider-sample/pull/1.

The README description is based on the description provided here. PTAL. :)

[2019-01-03 11:08] puja108 opened #327 "REQUEST: New membership for @puja108"
### GitHub Username
@puja108

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-01-03 11:41] idealhack commented on #327
+1

thank you for all the contributions and welcome!

[2019-01-03 11:46] mrbobbytables commented on #327
big +1 from me :)

/assign
/pony party

[2019-01-03 18:49] mrbobbytables commented on #327
@puja108 Once PR #328 gets merged, you should get your @kubernetes membership invite :) :tada:

[2019-01-03 18:52] nikhita commented on #327
Late to the party....but +a million from me for @puja108!! Thanks for your contributions! :)

[2019-01-04 07:57] sttts opened #330 "New staging repo k8s.io/component-base"
### New Repo, Staging Repo, or migrate existing
staging repository

### Requested name for new repository
component-base

### Which Organization should it reside
kubernetes

### If a new repo, who should be listed as approvers in OWNERS
none: staging repo, owners will be specified in the staging folder according to the KEP.

### If a new repo, who should be listed in SECURITY_CONTACTS
none: stagin

[2019-01-04 08:06] justaugustus commented on #304
@apelisse / @lavalamp -- Bumping this for sponsorship +1s.

[2019-01-04 08:08] justaugustus commented on #294
@runcom / @mrunalp -- Bumping this for sponsorship +1s.

[2019-01-04 09:08] runcom commented on #294
LGTM

[2019-01-04 16:39] timothysc opened #331 "Administration acls on kubernetes-sigs/cluster-api"
### Organization or repository
https://github.com/kubernetes-sigs/cluster-api

### Users effected
timothysc (sig-lead)
detiber (sub-project contributor)

### Describe the issue
As sig-lead, I'm going to start doing bulk issue triage and milestone scrubbing in concert with the subproject leads to get them up to parity with other subprojects.

/cc @roberthbailey

[2019-01-04 16:41] timothysc commented on #331
/assign @cblecker

[2019-01-04 16:42] timothysc commented on #330
cc @kubernetes/sig-cluster-lifecycle

[2019-01-04 17:03] mrbobbytables commented on #304
@apelisse @kwiesmueller Is there someone else that might be able to chime in and offer a +1 in @lavalamp's place?

[2019-01-04 17:06] apelisse commented on #304
@jennybuckley

[2019-01-04 17:22] idealhack commented on #304
@apelisse I'm afraid the other sponsor should be from another company according to the guidelines... but I think @kwiesmueller should be able to find another one if there're any discussions with current members, also, feel free to list your other kinds of contribution other than issues/PRs.

[2019-01-04 17:31] idealhack commented on #294
Hey there @sboeuf, could you find another sponsor from a different company? Also, feel free to list your contributions, whether they are issues/PRs or not.

[2019-01-04 17:40] mrbobbytables commented on #304
Thanks for catching that @idealhack. For more information on the sponsor requirements, please see the [Membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) in the k/community repo.

[2019-01-04 17:42] mrbobbytables commented on #294
Thanks for catching that @idealhack.

@sboeuf for more information on the sponsor requirements, please see the [Membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) in the k/community repo.

[2019-01-04 18:03] thockin commented on #330
I'm out of touch with process.  If this is all approved, should I just create the repo?  Do we have a script for doing this in a consistent way wrt group and other stuff?

[2019-01-04 18:56] sttts commented on #330
@spiffxp @dims does one of you know ^^ ? I believe there is a script because staging repos aren't that simple permission-wise.

[2019-01-04 19:40] spiffxp commented on #330
Leave repo creation up to the k/org team, we're mainly concerned with ensuring appropriate approval has been given.  Looking...

[2019-01-04 19:42] thockin commented on #330
/approve

On Fri, Jan 4, 2019 at 11:40 AM Aaron Crickenberger
<notifications@github.com> wrote:

[2019-01-04 19:55] spiffxp commented on #330
Even though this is a staging repo, since it's in kubernetes, it needs sig-arch approval.

I don't see a thread about this repo name specifically in kubernetes-sig-arch@

I see https://github.com/kubernetes/community/pull/2977, but I don't see this repo name specifically approved

I see https://github.com/kubernetes/enhancements/pull/653 renames the repo, and mentions discussion at the contrib sum

[2019-01-04 19:56] spiffxp commented on #330
/cc @jdumars @mattfarina
as SIG Arch chairs

[2019-01-04 20:32] dims commented on #330
@sttts yes, they have a list of things they do after they create the repo too

[2019-01-04 20:49] mattfarina commented on #330
I found the tracibility for this... https://github.com/kubernetes/community/pull/2977#issuecomment-442992019

From @bgrant0607:

@thockin I see you approved. Do you approve of the name and all?

[2019-01-04 21:55] thockin commented on #330
/approve

[2019-01-04 23:09] cblecker commented on #331
Access added :)

[2019-01-05 00:31] cblecker commented on #308
@justinsb can you confirm? rules for importing/donating code is different than a new repo with newly created code.

[2019-01-05 00:37] cblecker commented on #318
Done.

[2019-01-05 00:37] #318 closed

[2019-01-05 00:38] cblecker commented on #258
Have you verified that this looks good @PatrickLang @adelina-t ?

[2019-01-05 00:40] cblecker commented on #317
Done

[2019-01-05 00:40] #317 closed

[2019-01-05 00:58] cblecker commented on #322
I've checked the CLAs, and there are two missing: @marwanad and @vannrt. Looking at the contributions, I'm not too concerned about @vannrt, but we need a CLA signed for @marwanad for sure.

[2019-01-05 01:34] justaugustus commented on #322
@cblecker -- thanks for vetting that. I'll make sure the CLAs get signed!

[2019-01-07 06:18] bgrant0607 commented on #330
Yes, this is approved

[2019-01-07 10:00] sboeuf commented on #294
@mrbobbytables @idealhack I have updated the list of contributions, and about the sponsorship, I have added @sameo from Intel, who's also a CRI-O maintainer.
Let me know if you need anything else.

[2019-01-07 12:55] deads2k commented on #304
I'm the other sig-apimachinery lead.  +1 from me.

[2019-01-07 14:38] wongma7 commented on #324
sgtm :+1:

[2019-01-07 18:18] luxas commented on #330
Thanks!

For reference, I asked for this formal approval in this thread: https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/bm5oN9yp0cc

[2019-01-07 19:47] mrunalp commented on #294
lgtm

[2019-01-07 19:58] PatrickLang commented on #258
Looks good. Thanks!

[2019-01-07 19:59] cblecker commented on #330
/assign

[2019-01-07 20:20] cblecker commented on #330
Repo created.

@sttts @nikhita You should be able to do the publishing bot pieces at any time.
@luxas Would you mind adding this new repo to sigs.yaml?

[2019-01-07 21:01] nikhita commented on #330
I have already created https://github.com/kubernetes/publishing-bot/pull/142. Will cancel the hold after https://github.com/kubernetes/test-infra/pull/10635 gets merged. :smile:

[2019-01-07 21:39] mrbobbytables commented on #304
@kwiesmueller I've gone ahead and created PR #333 that will add you to the @kubernetes org :) Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2019-01-07 21:47] Jeffwan opened #334 "REQUEST: New membership for Jeffwan"
### GitHub Username
@Jeffwan

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-01-07 21:48] Jeffwan commented on #334
Please hold review for a while, I will try to find someone sponsor me.

[2019-01-07 23:47] mcrute commented on #334
+1

[2019-01-08 01:45] #304 closed

[2019-01-08 01:45] k82cn commented on #334
+1, looking forward to more your contribution in sig-scheduling & kube-batch :)

[2019-01-08 01:46] Jeffwan commented on #334
Thanks @mcrute @k82cn I will. This is an area we really like to invest on.

[2019-01-08 05:02] luxas commented on #330
@cblecker yes, we'll do so

Thanks!

[2019-01-08 17:57] spiffxp opened #336 "Automate the management of github team membership"
/kind design
/sig contributor-experience
/area github

I was unable to find an issue to point to for "we intend to one day automate team membership via peribolos" so now I've gone and created one.

I have used peribolos in the past to mass-create some teams for kubernetes-csi repos, but it wasn't a very friendly experience.  I used a file to generate the teams and populate members/maintainers, but

[2019-01-08 22:58] cblecker commented on #258
@PatrickLang Last step: Can you please get this repo added to sigs.yaml under sig-windows?

[2019-01-08 23:12] Jeffwan commented on #334
/cc @mrbobbytables

[2019-01-08 23:13] #330 closed

[2019-01-08 23:20] cblecker commented on #322
@justaugustus repo has been moved. some of the automation won't kick in for a few hours until the next cron run, but let me know if you run into any issues.

Can you also please add this to sigs.yaml now?

[2019-01-08 23:46] PatrickLang commented on #258
@cblecker I think you already added it: https://github.com/kubernetes/community/blob/964f12113849642381aa376b72313f2cf4444633/sigs.yaml#L2105

Is there another entry needed?

[2019-01-08 23:51] cblecker commented on #258
Yup, I did *facepalm*. Sorry!

Yeah, then I think we're done here. Let me know if you run into any issues.
/close

[2019-01-08 23:51] #258 closed

[2019-01-09 01:06] mrbobbytables commented on #334
Hey there @Jeffwan , thank you for all your contributions so far :)

I've created PR #338   to add you to both the  @Kubernetes and @Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notifications for both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-01-09 01:12] #334 closed

[2019-01-09 01:20] justaugustus commented on #322
Thanks for migrating, @cblecker!
I've updated `sigs.yaml` here: https://github.com/kubernetes/community/pull/3077

[2019-01-09 01:43] xunpan opened #339 "REQUEST: New membership for xunpan"
### GitHub Username
@xunpan

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-01-09 01:46] gyliu513 commented on #339
+1, thanks @xunpan for your great contribution to Kubernetes Federation V2!

[2019-01-09 01:53] Jeffwan commented on #334
@mrbobbytables Thanks a lot!

[2019-01-09 02:32] xunpan commented on #339
@gyliu513 @marun
Thanks a lot for your support. I'm glad to contribute more for federation v2 project.

[2019-01-09 18:39] ddebroy commented on #321
@cblecker, @spiffxp the repo request has been approved in SIG-arch here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/kubernetes-sig-architecture/7LqAhO_RPaI

[2019-01-09 20:02] cblecker commented on #321
Repo is created.

Next steps:
- Add repo and staging dir to sigs.yaml (@ddebroy)
- Merge the code into k/k that you need under `staging/src/k8s.io/csi-translation-lib` (@ddebroy)
- Request to have the staging bot set up to publish into this new repo (@sttts or @nikhita can help with that)

[2019-01-09 23:43] dlipovetsky commented on #308
@cblecker Platform9 would like to donate the code. We can transfer the repo the kubernetes-sigs org, or duplicate the repo (and outstanding issues).

[2019-01-09 23:45] #322 closed

[2019-01-09 23:47] mrbobbytables commented on #339
Hey there @xunpan thank you for all the work you've put into the federation project :)

I've created PR #340 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-01-10 00:14] rramkumar1 opened #341 "Need repo permissions on k/ingress-gce"
### Organization or repository
e.g. kubernetes/ingress-gce

### Users effected
rramkumar1

### Describe the issue
I am in the OWNERS file but I need owner permission on the repository itself in order to conduct releases, add arbitrary labels to issues, etc.

[2019-01-10 00:16] rramkumar1 commented on #341
FYI @bowei @MrHohn @freehan

[2019-01-10 00:18] rramkumar1 commented on #341
/assign @cblecker

[2019-01-10 00:30] #339 closed

[2019-01-10 01:17] ddebroy commented on #321
Thanks a lot @cblecker. On to the next steps ...

[2019-01-10 10:31] pohly opened #342 "new repo: kubernetes-csi/csi-release-tools"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
csi-release-tools

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
@saad-ali @msau42

### If not a staging repo, who should have write access
@saad-ali @msau42

### If a new repo, who should be listed as approvers in OWNERS
@saad-ali

[2019-01-10 14:47] nikhita commented on #321
@ddebroy Just wanted to give an update that I'll take care of this from the publishing-bot side once https://github.com/kubernetes/kubernetes/pull/72770 gets merged :)

[2019-01-10 15:28] jeefy opened #343 "Repo Creation: k-sigs/metrics-scraper"
### New Repo, Staging Repo, or migrate existing
New Repository

### Requested name for new repository
dashboard-metrics-scraper

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jeefy, @maciaszczykm, @floreks, @bryk

### If not a staging repo, who should have write access
@jeefy, @maciaszczykm, @floreks, @bryk

### If a new repo, who

[2019-01-10 18:14] cblecker commented on #341
added @rramkumar1 to @kubernetes/ingress-gce-maintainers, as he is in the top-level OWNERS file

Please let me know if this works for you.

[2019-01-10 19:58] cblecker commented on #343
Can @danielromlein or @floreks approve for sig-ui?

[2019-01-10 19:59] cblecker commented on #342
@saad-ali can you approve for sig-storage?

[2019-01-10 20:13] cblecker commented on #308
Can you please review the rules for donated repositories, and speak to each of the requirements?: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-new-repositories

also, please add me as an admin to the current repo

[2019-01-10 21:09] saad-ali commented on #342
Approved on behalf of SIG storage.

[2019-01-11 05:36] andyzhangx opened #344 "Create repositories for azure-disk-csi-driver & azurefile-csi-driver as a SIG AZURE subproject"
### New Repo, or migrate existing
migrate repository

### Requested name for new repository
azure-disk-csi-driver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@andyzhangx @khenidak @justaugustus @brendandburns  @feiskyer @lachie83

### If not a staging repo, who should have write access
@andyzhangx
@khenidak
@feiskyer
@brendandbu

[2019-01-11 09:34] floreks commented on #343
We do need that for sure :slightly_smiling_face:

[2019-01-11 19:44] dlipovetsky commented on #308
@cblecker Absolutely.
- I confirmed that all [contributors](https://github.com/platform9/etcdadm/graphs/contributors) have signed the CNCF CLA.
- Boilerplate text has been [updated](https://github.com/platform9/etcdadm/pull/83) to attribute copyright to "The etcdadm authors"
- Dependencies have MIT, AL2.0, or BSD licenses [0], which I understand are all acceptable.

Although it does not appear in

[2019-01-12 03:37] justaugustus commented on #344
/lgtm
(SIG Azure approval)

[2019-01-13 05:06] feiskyer commented on #344
/lgtm

[2019-01-14 08:41] fejta commented on #336
😆

[2019-01-14 09:31] ibrasho opened #352 "REQUEST: New membership for @ibrasho"
### GitHub Username
@ibrasho

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-01-14 09:33] idealhack commented on #352
+1

Thanks for all the contributions, Ibrahim. Nice to have you on board!

[2019-01-14 10:19] nikhita commented on #352
+a million! :heart:

Thanks for all your work on test-infra!

[2019-01-14 16:39] claurence opened #354 "REQUEST: New membership for claurence"
### GitHub Username
@claurence

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-01-14 17:38] spiffxp commented on #354
+1

[2019-01-14 18:01] kacole2 commented on #354
Ditto. +1

[2019-01-14 19:26] nwoods3 opened #355 "REQUEST: New membership for @nwoods3"
### GitHub Username
@nwoods3

### Organization you are requesting membership in
Kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-01-14 19:34] kbarnard10 commented on #355
+1

[2019-01-14 22:31] spiffxp commented on #355
+1 from me as well

[2019-01-14 23:00] justaugustus commented on #301
Thanks so much for your contributions thus far!
I've created #358 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-01-14 23:00] justaugustus commented on #352
Thanks so much for your contributions thus far!
I've created #358 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-01-14 23:00] justaugustus commented on #354
Thanks so much for your contributions thus far!
I've created #358 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-01-14 23:01] justaugustus commented on #355
Thanks so much for your contributions thus far!
I've created #358 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-01-14 23:06] #301 closed

[2019-01-14 23:06] #352 closed

[2019-01-14 23:06] #354 closed

[2019-01-14 23:06] #355 closed

[2019-01-15 01:30] egernst opened #360 "REQUEST: New membership for egernst"
### GitHub Username
egernst

### Organization you are requesting membership

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2019-01-15 01:52] tpepper commented on #360
This is a slightly odd situation in that historically there’s a desire for a bit of a contribution track record (but a pragmatically low bar to surpass) in the kubernetes org yet there’s almost zero data supporting that in GitHub or DevStats.  Coupled with this being associated with an intent to work on a KEP, the optics here might be misunderstood to the tune of people thinking some big ecosystem

[2019-01-15 01:56] egernst commented on #360
thanks @tpepper

[2019-01-15 02:19] interma commented on #301
Thank you guys.

[2019-01-15 06:06] tariq1890 opened #362 "REQUEST: New membership for tariq1890"
### GitHub Username
@tariq1890

### Organization you are requesting membership in
kubernetes, kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-01-15 06:15] justaugustus commented on #362
+1 from me!
Tariq has done major work on the cluster-api-provider-azure project and I'd like to get him in the org to officially start reviewing/approving PRs :)

[2019-01-15 08:42] luxas opened #363 "Create a wg-component-standard team"
### Organization or repository
org: kubernetes

### Users effected

WG Component Standard members

### Describe the issue

We recently created the WG Component Standard group, and would like to have a Github team for easy mentions. Would this be possible? Thanks!

Initial members that have shown interest are:
@luxas @mtaufen @sttts @DirectXMan12 @thockin @dims @stewart-yu @dixudx @neolit123 @rosti

[2019-01-15 14:19] mxinden opened #364 "REQUEST: New membership for mxinden"
### GitHub Username
@mxinden

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-01-15 14:31] brancz commented on #364
I think it's fair to explicitly mention the **_26_** pull requests @mxinden has created within the v1.5.0 release of kube-state-metrics! (above only humbly mentioned as "Various smaller fixes") https://github.com/kubernetes/kube-state-metrics/pulls?page=1&q=is%3Apr+is%3Aclosed+author%3Amxinden

Without a doubt huge :+1: from me! We're lucky to have you!

[2019-01-15 14:45] andyxning commented on #364
Big thanks for @mxinden to enhance the scrape metrics performance of kube-state-metrics! This enhance version has been available with the v1.5.0 release just like what @brancz said above.

Just congrats to @mxinden to be a Kubernetes member!

[2019-01-15 14:53] ant31 commented on #364
+1

[2019-01-15 18:06] tallclair commented on #360
Well said, @tpepper. +1 from me as well.

[2019-01-15 20:09] sameo commented on #294
LGTM

[2019-01-15 20:16] mrbobbytables commented on #294
Hey there @sboeuf, thank you for all your contributions so far :)

I've created PR #365  to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-01-15 20:18] mrbobbytables commented on #360
@egernst, thank you for all the work you've put into crio :)

I've created PR #365   to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-15 20:19] mrbobbytables commented on #362
@tariq1890, thank you for all the work you've put into the azure cluster-api provider! :)

I've created PR #365  to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notifications for both.

Welcome aboard! 🎉

/assign

[2019-01-15 20:21] mrbobbytables commented on #364
Thank you for everything @mxinden! :)

I've created PR #365   to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-15 20:21] #294 closed

[2019-01-15 20:21] #362 closed

[2019-01-15 20:21] #360 closed

[2019-01-15 20:21] #364 closed

[2019-01-15 20:21] sboeuf commented on #294
Sounds good! Thanks @mrbobbytables

[2019-01-15 20:37] eduartua opened #366 "REQUEST: New membership for @eduartua"
### GitHub Username
@eduartua

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-01-15 20:38] eduartua commented on #366
/cc @parispittman @nikhita @guineveresaenger

[2019-01-15 20:38] eduartua commented on #366
/assign @parispittman

[2019-01-15 22:23] parispittman commented on #366
+100 - thank you!!

[2019-01-15 22:43] #366 closed

[2019-01-16 09:55] nikhita commented on #366
Late to the party, but +10000000 :))

[2019-01-16 13:37] nikhita commented on #336
Created https://github.com/kubernetes/community/issues/3102

[2019-01-16 18:43] spiffxp commented on #342
/assign

[2019-01-16 18:44] spiffxp commented on #342
Unfortunately because this is its own repo it will still need boilerplate from kubernetes-template-project.

[2019-01-16 18:56] alejandrox1 opened #373 "REQUEST: New membership for alejandrox1"
### GitHub Username
@alejandrox1

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-01-16 19:01] BenTheElder commented on #373
+1, thanks for your efforts!

[2019-01-16 19:04] neolit123 commented on #373
+1 thanks :tada:

[2019-01-17 14:20] krzysztof-jastrzebski opened #374 "REQUEST: New membership for krzysztof-jastrzebski"
### GitHub Username

krzysztof-jastrzebski

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2019-01-17 14:21] krzysztof-jastrzebski commented on #374
/assign @mwielgus

[2019-01-17 14:21] krzysztof-jastrzebski commented on #374
/assign @andrewsykim

[2019-01-17 16:20] mwielgus commented on #374
/lgtm

[2019-01-17 17:02] andrewsykim commented on #374
+1

[2019-01-18 00:34] mrbobbytables commented on #373
Hey there @alejandrox1 , thank you for all your contributions so far :)

I've created PR #378  to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome aboard! :tada:

/assign

/pony party

[2019-01-18 00:35] mrbobbytables commented on #374
@krzysztof-jastrzebski Thank you for all the work you've put in :)

I've created PR #378 to add you to the @kubernetes org. Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2019-01-18 00:38] #373 closed

[2019-01-18 00:38] #374 closed

[2019-01-18 01:54] cblecker-sockpuppet opened #379 "Test"
I'm testing something.

[2019-01-18 01:54] #379 closed

[2019-01-18 12:20] tomassedovic opened #381 "REQUEST: New membership for tomassedovic"
### GitHub Username

@tomassedovic

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2019-01-18 12:24] chaosaffe commented on #381
+1 from me!

Thanks @tomassedovic for your contributions 🎉

[2019-01-18 13:31] cdrage opened #382 "Integration of SemaphoreCI to kubernetes/kompose"
### Organization or repository
https://github.com/kubernetes/kompose

### Name of integration
SemaphoreCI

### Link to integration website
https://semaphoreci.com/

### Describe what is attempting to be accomplished
Essentially, we've been using SemaphoreCI for the past two years up until last November 2018. I believe when they "upgraded" to SemaphoreCI 2.0 they re-created their GitHub service tok

[2019-01-18 19:04] andyzhangx commented on #344
cc @lachie83

[2019-01-18 21:40] craiglpeters opened #385 "REQUEST: New membership for craiglpeters"
### GitHub Username
@craiglpeters

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-01-18 21:44] lachie83 commented on #385
+1. I confirm sponsoring this membership

[2019-01-18 21:45] spiffxp commented on #385
+1

[2019-01-19 01:57] spiffxp commented on #342
/close
I believe this is now done. https://github.com/kubernetes-csi/csi-release-tools

@pohly Extremely sorry for the delay.  Please followup here if there is anything amiss.

[2019-01-19 01:57] #342 closed

[2019-01-19 02:08] spiffxp commented on #385
/assign

[2019-01-19 02:08] spiffxp commented on #381
/assign

[2019-01-19 02:16] spiffxp commented on #385
I've opened #386, once that merges you'll be sent an invite to the org you requested.  Welcome aboard!

/pony party

[2019-01-19 02:16] spiffxp commented on #381
I've opened #386, once that merges you'll be sent an invite to the org you requested.  Welcome aboard!

/pony party

[2019-01-19 02:18] #381 closed

[2019-01-19 02:18] #385 closed

[2019-01-19 03:08] justaugustus commented on #344
@andyzhangx -- are you also planning to open an issue for the https://github.com/andyzhangx/azurefile-csi-driver repo or is this one supposed to be for both?

[2019-01-19 05:39] andyzhangx commented on #344
@justaugustus is it ok to use this issue for both repos?

[2019-01-19 06:05] justaugustus commented on #344
@andyzhangx -- It's fine by me, but ping @cblecker or @spiffxp, just to be sure.
Count this as my approval for both repos.

When you have a chance, please add me as an admin to the repos, so I can assist with the transfers, if they're happening in US-friendly timezones.

Also, as this issue has been open for a bit and is already approved by SIG Azure, I'd like to proceed with the transfers first t

[2019-01-19 06:31] andyzhangx commented on #344
@justaugustus thanks, I have added you as collaborator.

[2019-01-21 05:04] jichenjc opened #389 "REQUEST: New membership for jichenjc"
### GitHub Username
jichenjc

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-01-21 05:55] adisky commented on #389
+1 from me!

[2019-01-21 16:49] xing-yang opened #392 "REQUEST: New membership for xing-yang"
### GitHub Username
@xing-yang

### Organization you are requesting membership in
@kubernetes-csi
@external-snapshotter-admins

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list

[2019-01-21 16:58] xing-yang opened #393 "REQUEST: New membership for xing-yang"
### GitHub Username
@xing-yang

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-01-21 17:12] rootfs commented on #392
+1

[2019-01-22 04:00] humblec commented on #393
+1 from me for @xing-yang , she is an active contributor to sig-storage!  welcome!

[2019-01-22 13:36] dkoshkin opened #395 "REQUEST: New membership for dkoshkin"
### GitHub Username
@dkoshkin

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-01-22 13:55] pires commented on #395
Unfortunately, it seems I'm no longer part of any OWNERS file.

[2019-01-22 16:25] #331 closed

[2019-01-22 17:37] marwanad opened #396 "REQUEST: New membership for marwanad"
### GitHub Username
@marwanad

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-01-22 17:55] justaugustus commented on #396
+1! Marwan has been a primary maintainer of cluster-api-azure!

[2019-01-22 18:02] tariq1890 commented on #396
Huge +1 from me :). Marwan has done a phenomenal job in bringing cluster-api-azure to where it is now

[2019-01-22 18:46] leakingtapan commented on #395
+1 👍 Happy to sponsor Dimitri

[2019-01-22 19:41] BenTheElder opened #397 "netlify integration for kubernetes-sigs/kind"
### Organization or repository
e.g. kubernetes-sigs/kind

### Name of integration
netlify

### Link to integration website
https://www.netlify.com/

### Describe what is attempting to be accomplished
We're attempting to set up a sub project documentation site, per SIG-docs netlify + hugo is the recommended toolset for this.

### Additional context for request
I _think_ the netlify "site" will have

[2019-01-22 19:43] BenTheElder commented on #397
Additionally, we're hoping to find a workable pattern for other SIG subprojects to use :sweat_smile:

I think kubebuilder may already be doing something similar (?) cc @mengqiy

[2019-01-22 19:55] sumitranr opened #398 "REQUEST: New membership for sumitranr"
### GitHub Username
@sumitranr

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-01-22 19:58] tpepper commented on #398
@sumitranr has been an active member of the Kubernetes release team in 2018, is continuing in 2019 and has also volunteered to contribute on the nascent patch release management team.  I fully support membership.

[2019-01-22 19:58] spiffxp commented on #398
+1 from sponsor

[2019-01-22 20:05] taragu opened #399 "REQUEST: New membership for @taragu"
### GitHub Username
@taragu

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-01-22 20:39] mrbobbytables commented on #389
Hey there @jichenjc, thank you for all your contributions so far :)

I've created PR #400   to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-22 20:42] #389 closed

[2019-01-22 20:42] #392 closed

[2019-01-22 20:42] #393 closed

[2019-01-22 20:42] #396 closed

[2019-01-22 20:42] #398 closed

[2019-01-22 20:43] mrbobbytables commented on #392
Hey there @xing-yang I've created PR #400 to add you to both the kubernetes and kubernetes-csi org, but have not added you to the external-snapshotter-admins group. For that it might be best to get a PR from either of the two current maintainers: @childsb @saad-ali.

In anycase, welcoem to @kubernetes! :) :tada:

/assign

[2019-01-22 20:44] mrbobbytables commented on #393
Replied in #392 :) I've added you to the @kubernetes and @kubernetes-csi orgs.

Welcome to @kubernetes!

/assign

[2019-01-22 20:45] mrbobbytables commented on #396
Hey there @marwanad, thank you for all your contributions so far :)

I created PR #400  to add you to the @kubernetes-sigs Orgs. You should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-01-22 20:46] mrbobbytables commented on #398
@sumitranr thank you for all the work you've done so far :)

I created PR #400 to add you to the @kubernetes Org. With that getting merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-22 20:50] xing-yang commented on #392
Thanks!

[2019-01-22 21:13] cjwagner commented on #399
+1 @taragu has made some great contributions to `k/test-infra`. In particular Tara added suggestion support to the golint plugin so that common lint errors can be fixed with a click of a button.
Thanks for your contributions!

[2019-01-22 22:52] mengqiy commented on #397
kubebuilder uses netlify + [gitbook](https://www.gitbook.com). And the webhook site is on kubebuilder domain. i.e. [book.kubebuilder.io](https://book.kubebuilder.io/)
We use the preview feature and auto-deploy feature from Netlify.
@BenTheElder I'd be happy to chat f2f if you need more details.

[2019-01-22 22:54] BenTheElder commented on #397
that would be great, thanks!

[2019-01-23 03:41] cblecker commented on #343
Repo is created. Direct permissions (admin/write) are still pending team creation.

[2019-01-23 04:47] stevekuznetsov commented on #399
+1

@taragu has been active and eager to take on issues both in test infrastructure and `kubernetes`. Her work on the lint plugin has been super!

[2019-01-23 08:36] bertinatto commented on #395
+1

[2019-01-23 10:34] #363 closed

[2019-01-23 15:24] dims opened #403 "Please add `dims` as admin for k8s.io/utils repo"
we have a few PRs in the queue that the cncf bot has logged as bad. the PRs are just moving git commits from one repo to another and the bot is not helpful at all. see details in https://github.com/cncf/foundation/issues/26#issuecomment-456842341

the current work around is to run `/override`, so can you please make me an admin to be able to run that command?

Thanks,
Dims

[2019-01-23 17:38] cblecker commented on #403
PRs welcome 😜 : https://github.com/kubernetes/org/blob/39ba9bb6358462a1015c0107bdcbb0ab2928df5b/config/kubernetes/org.yaml#L1914-L1923

[2019-01-23 18:10] dims commented on #403
Duh! thanks :) https://github.com/kubernetes/org/pull/405

[2019-01-23 18:55] priyawadhwa opened #407 "REQUEST: New membership for priyawadhwa"
### GitHub Username
@priyawadhwa

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-01-23 19:00] rlenferink opened #408 "REQUEST: New membership for rlenferink"
### GitHub Username
@rlenferink

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-01-23 19:03] chenrui333 commented on #408
👍 Thanks for your contributions!

[2019-01-23 19:08] afbjorklund opened #409 "REQUEST: New membership for afbjorklund"
### GitHub Username
@afbjorklund

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-01-23 19:23] lucperkins commented on #397
I'm currently working on a project for the CNCF that's basically a Hugo/Netlify/[Bulma](https://bulma.io) template: https://github.com/cncf/docs-in-a-box. The goal is to have something that you can `git clone` and go in just a few minutes. The template is still mostly a placeholder but I'll be iterating on it in the coming weeks.

I'm 100% open to feedback on what that template would need to inclu

[2019-01-23 19:31] lucperkins commented on #397
I'd like to see it become a living, breathing project with lots of contributors across CNCF projects. Basically I want to do whatever it takes for this to become a "default" solution for Kubernetes SIGs (and other CNCF projects, and even projects outside the CNCF if they so choose).

[2019-01-23 19:33] maisem opened #410 "REQUEST: New membership for @maisem"
### GitHub Username
@maisem

### Organization you are requesting membership in
@kubernetes-sigs

I am already part of the @kubernetes org, I would like my membership to be synced to the @kubernetes-sigs org as I am currently working on the [Cluster API project](https://github.com/kubernetes-sigs/cluster-api)

cc: @roberthbailey

[2019-01-23 19:36] dlorenc commented on #409
+1 as well!

[2019-01-23 20:20] nikhita commented on #403
Fixed by https://github.com/kubernetes/org/pull/405. Closing.

/close

[2019-01-23 20:20] #403 closed

[2019-01-23 20:24] swinslow opened #411 "REQUEST: New membership for swinslow"
### GitHub Username
@swinslow

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-01-23 20:48] dims commented on #411
+1 from me. welcome!

[2019-01-23 22:25] sohankunkerkar opened #412 "REQUEST: New membership for sohankunkerkar"
### GitHub Username
@sohankunkerkar

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2019-01-24 00:32] tengqm commented on #408
+1
Looking forward to more contributions from you.

[2019-01-24 01:19] saad-ali commented on #392
I approve on behalf of SIG Storage. @xing-yang has been a very productive contributor.

[2019-01-24 03:31] nikhita commented on #411
+1 from me as well. Thanks for all your help with licensing!

Welcome! :tada:

[2019-01-24 03:33] nikhita commented on #411
Just for the record: Steve is also listed as an approver for the licensing subproject under sig-release. He needs to be a member to be able to use these approval powers. :)

- https://github.com/kubernetes/sig-release/blob/master/licensing/OWNERS
- https://github.com/kubernetes/sig-release/pull/453#discussion_r249271164

[2019-01-24 13:14] Miouge1 opened #415 "REQUEST: New membership for miouge1"
### GitHub Username
@miouge1

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-01-24 13:14] Atoms commented on #415
+1

[2019-01-24 14:35] pmorie commented on #412
+1

[2019-01-24 15:24] Atoms commented on #415
@mrbobbytables in requirements for sponsor written:
`Sponsors must be reviewers or approvers in at least 1 OWNERS file (in any repo in the Kubernetes GitHub organization)`
this does not include kubespray-sigs organization? I need to be in Kubernetes Organization OWNERS file? cause i am in kubespray-sigs OWNERS file

[2019-01-24 15:30] mrbobbytables commented on #415
@Atoms You're right! I forgot to check ignore case when searching with https://cs.k8s.io Sorry about that.

One caveat remains though, An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-incubator etc); as long as its a project they're involved with.

However, this does not work the other way around. A

[2019-01-24 15:36] Atoms commented on #415
@mrbobbytables good requirement :) I thought being just a member of Kubernetes Organization is enough :) but rereading now requirements it's clear for me :)

[2019-01-24 15:44] Miouge1 commented on #415
@mrbobbytables thank you for the explanation, I wasn't up to date with the different orgs.

@kubernetes-sigs is good enough, so I have updated the issue with that.

Thank you for your patience.

[2019-01-24 15:53] mrbobbytables commented on #395
Hey there @dkoshkin, thank you for all your contributions so far :)

I've created PR #416 to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-01-24 15:54] mrbobbytables commented on #399
@taragu Thank you for all the work you've put in :)

I've created PR #416 to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification from both.

Welcome aboard! :tada:

/assign

[2019-01-24 15:56] mrbobbytables commented on #408
Hey there @rlenferink, thank you for all your contributions so far :)

I've created PR #416  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-24 15:58] mrbobbytables commented on #409
@afbjorklund, thank you for all your efforts so far to help the project :)

I've created PR #416 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2019-01-24 16:00] mrbobbytables commented on #411
Great to have you aboard @swinslow :)

I've created PR #416 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2019-01-24 16:04] mrbobbytables commented on #412
Hey there @sohankunkerkar, thank you for all your work so far :)

I've created PR #416 to add you to the @kubernetes-sigs org. Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2019-01-24 16:06] mrbobbytables commented on #415
@Miouge1 my apologies for the back and forth, but things should be good now :)
I've created PR #416 to add you to the @kubernetes-sigs org. Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2019-01-24 16:19] swinslow commented on #411
Thank you @mrbobbytables!  =)

[2019-01-24 18:07] taragu commented on #399
@mrbobbytables thank you! 😄 also thanks for the sponsorship! @cjwagner @stevekuznetsov

[2019-01-24 19:57] #395 closed

[2019-01-24 19:57] #399 closed

[2019-01-24 19:57] #408 closed

[2019-01-24 19:57] #411 closed

[2019-01-24 19:57] #415 closed

[2019-01-24 21:36] tstromberg commented on #407
I endorse this membership.

[2019-01-24 21:54] #409 closed

[2019-01-24 21:54] #412 closed

[2019-01-24 21:56] BenTheElder commented on #397
re https://github.com/kubernetes/org/issues/397#issuecomment-456935304 This is _really_ cool btw, I forgot to reply here in addition to slack, I would love to see this too :-) :tada:

[2019-01-24 22:00] balopat commented on #407
I endorse @priyawadhwa's membership!

[2019-01-24 22:14] spiffxp commented on #397
AFAICT you may already have what you need? Can you confirm?

**Third -party access:**
![screen shot 2019-01-24 at 2 13 04 pm](https://user-images.githubusercontent.com/49258/51711935-2f692280-1fe2-11e9-9a73-7f7af37dbc93.png)

**Installed GitHub Apps:**
![screen shot 2019-01-24 at 2 12 14 pm](https://user-images.githubusercontent.com/49258/51711879-12ccea80-1fe2-11e9-9a42-7e941f63e95c.png)

[2019-01-24 22:21] spiffxp commented on #397
@mengqiy @BenTheElder so, you both had requests pending, even though this is what the app looked like

I went ahead and approved them.  Please let me know if I broke something that was working.

For the record I based my decision off of the fact that we already have this setup for kubernetes/website, so prior art wins.

[2019-01-24 22:42] johnsonj opened #418 "New repo: kubernetes-sigs/kubebuilder-declarative-pattern"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
kubebuilder-declarative-pattern

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@kubernetes-sigs/kubebuilder-admins, @justinsb, @johnsonj

### If not a staging repo, who should have write access
@kubernetes-sigs/kubebuilder-admins,

[2019-01-24 22:53] BenTheElder commented on #397
I think this is all we need from k/org for now, but let me confirm -- I think we may also need to either get a site enabled on the netlify end with some help from sig-docs, or see about getting our bot in the org to enable the site against the bot account somehow..

Thank you!

[2019-01-24 23:01] DirectXMan12 commented on #418
Reiterating my approval: :+1:

[2019-01-25 12:07] justaugustus commented on #344
Christoph -- would you be able to take care of this today?
/assign @cblecker

[2019-01-25 12:07] justaugustus commented on #344
@andyzhangx -- please add @cblecker as a repo admin for each project.

[2019-01-25 12:11] justaugustus commented on #407
Hey @priyawadhwa -- per our [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements), sponsors must be from multiple companies.

Can you update the request to include another non-Google sponsor?

[2019-01-25 14:36] andyzhangx commented on #344
@justaugustus already invited as collaborator.

[2019-01-25 21:36] mengqiy commented on #397
@spiffxp Everything works fine for kubebuilder on Netlify.
I don't remember why there is a pending request for kubebuilder. Maybe we can get rid of it.

[2019-01-25 22:40] mrbobbytables commented on #407
@priyawadhwa Thank you for all the work you've put into helping with minikube.

I've created PR #420  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-25 22:42] mrbobbytables commented on #410
@maisem I've created PR #420 to add you to @kubernetes-sigs. Once it gets merged, you should get a membership invite notification :tada:

/assign

[2019-01-25 23:10] priyawadhwa commented on #407
Thanks @mrbobbytables!

[2019-01-26 00:41] #407 closed

[2019-01-26 00:41] #410 closed

[2019-01-26 00:47] cblecker commented on #382
@cdrage Is there a SemaphoreCI Classic organization for this?

[2019-01-26 00:51] cblecker commented on #343
Team access added

[2019-01-26 00:55] cdrage commented on #382
@cblecker Just saw in my e-mail that it got approved, thank you Chris!

[2019-01-27 15:34] ereslibre opened #421 "REQUEST: New membership for ereslibre"
### GitHub Username
@ereslibre

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-01-27 15:36] neolit123 commented on #421
@ereslibre
+1, glad to have you on board.

[2019-01-27 15:44] yagonobre commented on #421
+1, thanks for all your contribution

[2019-01-27 23:31] #421 closed

[2019-01-27 23:49] cblecker commented on #343
@jeefy Everything working as intended? If so, last step is to add to sigs.yaml

[2019-01-27 23:51] cblecker commented on #321
@ddebroy @nikhita Are we good to go now?

[2019-01-28 00:05] jeefy commented on #343
@cblecker Yep things look awesome.

I have a pending PR to update some SIG-UI stuff in sigs.yaml. Want I should add this into that PR? Or should it be kept separate?

[2019-01-28 04:46] cblecker commented on #343
Doesn’t matter to me. However you want to do it :)

[2019-01-28 07:10] fabriziopandini commented on #421
I'm late to this party!
Welcome on board @ereslibre !
+1

[2019-01-28 13:45] jeefy commented on #343
Let's make fewer PRs. Added it into https://github.com/kubernetes/community/pull/3152 -- If I did something wrong with that lemme know. :)

[2019-01-28 17:33] spiffxp commented on #397
/close

[2019-01-28 17:33] #397 closed

[2019-01-28 17:42] cblecker commented on #308
I'm ready to go on this.. The one issue is that @dlipovetsky is not a member of the kubernetes or kubernetes-sigs orgs, so I will not be able to provide repo access after the transfer. Would you like to get this corrected first?

[2019-01-28 18:12] dlipovetsky commented on #308
@cblecker Thank you for the heads up. I'm submitting an issue to request membership to both, and I'll post an update here.

[2019-01-28 18:30] sreis opened #425 "REQUEST: New membership for sreis"
### GitHub Username
@sreis

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-01-28 19:10] dlipovetsky opened #426 "REQUEST: New membership for dlipovetsky"
### GitHub Username
@dlipovetsky

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2019-01-28 19:32] detiber commented on #426
+1 from me

[2019-01-28 19:34] qedrakmar opened #427 "REQUEST: New membership for qedrakmar"
### GitHub Username
@qedrakmar

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-01-28 19:36] mrbobbytables commented on #427
+1 :D

/pony yay

[2019-01-28 19:38] roberthbailey commented on #426
+1 from me too.

[2019-01-28 21:42] spiffxp commented on #427
+1 from sponsor

[2019-01-28 21:42] spiffxp commented on #427
/pony party

[2019-01-28 22:49] mrbobbytables commented on #426
Hey there @dlipovetsky, thank you for all your contributions so far :)

I've created PR #428  to add you to both the  @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-01-28 22:51] mrbobbytables commented on #427
@qedrakmar once  PR #428 gets merged, you should get your membership invite notification :)

yay! :tada:

/assign
/pony party

[2019-01-28 23:39] #426 closed

[2019-01-28 23:39] #427 closed

[2019-01-29 00:19] leakingtapan commented on #425
+1

[2019-01-29 00:42] BenTheElder commented on #397
Closing the loop a little: Andrew created a Netlify team under Kubernetes for this, thanks everyone!

[2019-01-29 00:42] dlipovetsky commented on #308
@cblecker I'm now a member of the @kubernetes and @kubernetes-sigs orgs. One question: Do I need to create an `OWNERS` file before the transfer? If not, please go ahead with the transfer. Thanks again!

[2019-01-29 14:44] nikhita commented on #321
Yes, this is done now.

/close

[2019-01-29 14:44] #321 closed

[2019-01-29 15:43] seokho-son opened #430 "REQUEST: New membership for seokho-son"
### GitHub Username
@seokho-son

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-01-29 22:36] zacharysarah commented on #430
+1, @seokho-son is actively involved in Korean localization.

@seokho-son 👋 You need one more sponsor. Maybe someone from the Korean localization team?

[2019-01-29 22:58] gochist commented on #430
+1, I'm happy to work with @seokho-son !

[2019-01-30 01:55] ClaudiaJKang commented on #430
👍 Thank you for your contributions! @seokho-son

[2019-01-30 07:22] denkensk opened #432 "REQUEST: New membership for denkensk"
### GitHub Username
@denkensk

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-01-30 08:22] szuecs opened #433 "REQUEST: New membership for szuecs"
### GitHub Username

szuecs

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-01-30 10:41] dims commented on #433
+1 welcome!

[2019-01-30 17:48] derekwaynecarr commented on #433
+1 welcome!

[2019-01-30 19:54] rlenferink commented on #430
Hey @seokho-son, thank you for all your contributions so far :)

I've created PR #437 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-30 19:55] rlenferink commented on #432
Hey @denkensk , thank you for all your contributions so far :)

I've created PR #437 to add you to the @kubernetes and @kubernetes-sigs organisations. Once that gets merged, you should get a membership invite from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-01-30 19:56] rlenferink commented on #433
Hey @szuecs , thank you for all your contributions so far :)

I've created PR #437 to add you to the @kubernetes org. Once that gets merged, you will receive a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-01-31 00:37] #430 closed

[2019-01-31 00:37] #432 closed

[2019-01-31 00:37] #433 closed

[2019-01-31 01:41] shu-mutou opened #438 "REQUEST: New membership for shu-mutou"
### GitHub Username
@shu-mutou

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-01-31 01:43] shu-mutou commented on #438
I submitted by mistake before filling all.

[2019-01-31 13:10] MalloZup commented on #421
Congrats @ereslibre well deserved

[2019-01-31 15:45] timothysc opened #441 "Milestone maintainers on kubernetes-sigs"
### Organization or repository
e.g. kubernetes-sigs/*

### Users effected
All approvers

### Describe the issue
Currently kubernetes_sigs is a federated set of repositories that spans multiple sigs.  Management of those subprojects is meant to be decentralized and for them to live on their own, possibly with their own lifecycle.

As of today, there is a need to give approvers the ability to set th

[2019-01-31 15:46] timothysc commented on #441
/assign @cblecker @spiffxp

[2019-01-31 15:50] vincepri commented on #441
+1 The current workflow requires to either be part of a github group or have complete write access to the repository, as far as I understand. Having approvers be able to set milestone would improve the current workflow *💯and reduce time spent in meetings organizing the backlog.

[2019-01-31 15:51] chuckha commented on #441
what do people think about non-approvers who can set milestones? I think I can help triage issues in cluster-api but I am not an approver there.

[2019-01-31 17:39] timothysc commented on #441
IMO kubernetes_sigs/* needs this.  It's not just one repo, but if I'm calling things out, everything sig-cluster-lifecycle related is my immediate concern.

[2019-01-31 18:35] saad-ali commented on #324
Oh I see it was a legacy external-provisioner (https://github.com/kubernetes-incubator/external-storage/tree/master/ceph) and because that repo is being split up, the ask is for a new home for this. My recommendation would be to deprecate this Ceph external-provisioner, and not find a new home for it, and recommend folks use the Ceph CSI driver.

[2019-01-31 22:56] cblecker commented on #441
@timothysc Who should be given permissions to `/milestone` across the k-sigs org? In k/ that's the release team by default, but as you mention for k-sigs, these subprojects are supposed to be decentralized.

[2019-01-31 23:16] cblecker commented on #336
Yup, IMO.
/close

[2019-01-31 23:16] #336 closed

[2019-02-01 16:27] codenrhoden opened #443 "REQUEST: New membership for @codenrhoden"
### GitHub Username
@codenrhoden

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail li

[2019-02-02 16:44] apelisse opened #444 "REQUEST: New membership for @kwiesmueller"
### GitHub Username
@kwiesmueller

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
### Sponsors
### List of contributions to the Kubernetes project

See #304

[2019-02-04 09:59] nikhita commented on #343
@jeefy Looks like this can be closed now? :)

[2019-02-04 10:07] maciaszczykm commented on #343
I think it can. Otherwise we can reopen 👍

/close

[2019-02-04 10:07] #343 closed

[2019-02-04 18:02] mrbobbytables commented on #443
Hey there @codenrhoden, thank you for all the work you've put towards the project so far :)

I've created PR #446  to add you to all 3 orgs. Once that gets merged, you should get the membership invite notifications.

Welcome to @kubernetes! 🎉

/assign

[2019-02-04 19:04] #443 closed

[2019-02-04 19:04] #444 closed

[2019-02-05 05:49] coderanger opened #447 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username
@coderanger

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-02-05 06:11] nikhita commented on #447
+100

[2019-02-05 12:41] mrbobbytables commented on #447
+1 As well :)

[2019-02-05 15:20] drekle opened #448 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username
drekle

### Organization you are requesting membership in
kubernetes

### Requirements
- [ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2019-02-05 15:24] zetaab commented on #448
+1

[2019-02-05 17:30] parispittman commented on #447
+1 from sponsor. Welcome Noah!!

[2019-02-05 20:13] timothysc opened #449 "Add `Andy Goldstein` to kubernetes-sigs org"
### Organization or repository
kubernetes-sigs

### Users effected
@ncdc

### Describe the issue
Andy is a long time kubernetes member and will be working on @kubernetes/sig-cluster-lifecycle related work.

[2019-02-05 20:13] timothysc commented on #449
/assign @cblecker

[2019-02-05 20:14] timothysc commented on #449
Given his history as a maintainer, he will likely help maintain cluster-api* repos as well.

[2019-02-05 23:18] mrbobbytables commented on #447
@coderanger thank you for everything you've done so far :)

 I've opened up PR #450 to add you to the @kubernetes org. Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign
/pony party

[2019-02-05 23:20] mrbobbytables commented on #448
Hey there @drekle , thank you for all your contributions so far :)

I've created PR #450   to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-05 23:21] mrbobbytables commented on #449
@ncdc I've created PR #450 to add you to the @kubernetes-sigs org. Once it gets merged, you should get a membership invite notification. :)

/assign

[2019-02-06 00:42] timothysc commented on #449
thx @mrbobbytables !

[2019-02-06 00:53] ddebroy opened #451 "Request to create new repository kubernetes-sigs/windows-gmsa"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
windows-gmsa

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@ddebroy @michmike @PatrickLang

### If not a staging repo, who should have write access
@ddebroy @michmike @PatrickLang

### If a new repo, who should be listed as approv

[2019-02-06 01:09] michmike commented on #451
approved from my end

[2019-02-06 08:22] daminisatya opened #453 "REQUEST: New membership for daminisatya"
### GitHub Username

daminisatya

### Organization you are requesting membership in

kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-02-06 10:50] nikhita commented on #453
+1 from me as well! :heart:

[2019-02-06 19:18] ddebroy commented on #451
/assign @cblecker

[2019-02-06 19:18] ddebroy commented on #451
Hi @cblecker can you PTAL at this request? Thanks!

[2019-02-06 22:13] mrbobbytables commented on #453
Hey there @daminisatya, thank you for all your contributions so far :)

I've created PR #454 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-06 22:30] justinsb commented on #418
@cblecker is this something you can help with please?

[2019-02-06 23:34] #453 closed

[2019-02-07 22:07] Klaven opened #455 "REQUEST: New membership for @Klaven (Marek Counts)"
### GitHub Username
e.g. (at)example_user
@Klaven
(Marek Counts)

### Organization you are requesting membership in
e.g. (at)kubernetes
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kuber

[2019-02-07 22:10] neolit123 commented on #455
+1 for @Klaven

[2019-02-08 00:04] sflxn opened #456 "REQUEST: New kubernetes-sigs membership for sflxn"
### GitHub Username
sflxn

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
I am already a member of kubernetes and for the last 7 months have been involved with both https://github.com/kubernetes-sigs/cluster-api and
https://github.com/kubernetes-sigs/cluster-api-provider-vsphere

[2019-02-08 00:25] #382 closed

[2019-02-08 15:23] timothysc commented on #455
+1 from me.

/cc @kubernetes/sig-contributor-experience-pr-reviews

[2019-02-08 18:31] bswartz opened #457 "REQUEST: New membership for bswartz"
### GitHub Username
@bswartz

### Organization you are requesting membership in
@kubernetes
@kubernetes-csi

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-02-08 18:35] msau42 commented on #457
+1
Ben has made important contributions to the iscsi plugin and will take the lead on the CSI block work.

I think Ben should also be added to the kubernetes-csi org

[2019-02-08 18:36] xing-yang commented on #457
+1

[2019-02-08 18:40] mrbobbytables commented on #457
Hey there @bswartz, unfortunately @xing-yang cannot sponsor you for membership in the @kubernetes org, but **CAN** sponsor you for membership in @kubernetes-csi.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-csi etc); as long as it's a project they're involved with.

However, this does not work t

[2019-02-08 18:44] xing-yang commented on #457
Oh, I thought Ben is applying for membership in kubernetes-csi org.

[2019-02-08 18:59] bswartz commented on #457
I am going to apply for membership in kubernetes-csi next. I'll get a different sponsor for kubernetes

[2019-02-08 19:02] mrbobbytables commented on #457
@bswartz as a member of @kubernetes you may automatically be added to any of the other orgs such as @kubernetes-sigs or @kubernetes-csi without seeking sponsorship again. :) If you can find a @kubernetes sponsor, we can add you to both at the same time.

[2019-02-08 19:07] Sangeeta04Sharma commented on #344
Hi, I would like to work on this task. I have already build CSI driver for GCS fuse on GCP & used AWS EBS csi driver and GCP flie store as well. I am happy to learn Azure stack and work on at as my GSOC project.
Please guide me.

[2019-02-08 19:29] lachie83 commented on #344
@andyzhangx @justaugustus what is the current status of this request?

[2019-02-08 19:36] bswartz commented on #457
Can I just add both groups in this issue when I update the sponsor?

[2019-02-08 19:37] mrbobbytables commented on #457
yup!

[2019-02-08 22:18] ddebroy opened #461 "REQUEST: New membership for ddebroy"
### GitHub Username
ddebroy

### Organization you are requesting membership in
kubernetes-csi
Note: this is not a membership request to k/k - only to kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscr

[2019-02-08 22:37] dims commented on #461
i'd support @ddebroy 's application as well!

[2019-02-08 22:49] leakingtapan opened #462 "REQUEST: New membership for leakingtapan"
### GitHub Username
@leakingtapan

### Organization you are requesting membership in
kubernetes-csi
Note: this is not a membership request to k/k - only to kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have

[2019-02-08 22:51] ddebroy commented on #461
Thanks @dims!

[2019-02-08 23:03] davidz627 commented on #461
/lgtm

[2019-02-08 23:03] davidz627 commented on #462
/lgtm

[2019-02-08 23:04] davidz627 commented on #462
/assign @msau42

[2019-02-08 23:04] davidz627 commented on #461
+1 I mean

[2019-02-08 23:04] davidz627 commented on #462
+1

[2019-02-08 23:10] dims commented on #462
+1 from me. welcome!

[2019-02-08 23:12] msau42 commented on #462
+1, Cheng is going to be involved in the CSI Migration effort

[2019-02-08 23:19] mrbobbytables commented on #455
@Klaven My apologies, I didn't catch this earlier -- but will have to wait for @luxas to chime in (or an alternative sponsor). Sponsors must be from [different member organizations](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

[2019-02-08 23:34] mrbobbytables commented on #456
@sflxn I've created PR #463 to add you to @kubernetes-sigs. Once that gets merged, you should get a membership invite notification. :)

/assign

[2019-02-08 23:37] mrbobbytables commented on #461
@ddebroy I've opened up PR #463  to add you to @kubernetes-csi. As a member of the @kubernetes org, you do not need to seek sponsorship for the other kubernetes organizations :)  Once that PR gets merged, you should get a membership invite notification.

/assign

[2019-02-08 23:38] mrbobbytables commented on #462
@leakingtapan I've opened up PR #463  to add you to @kubernetes-csi. As a member of the @kubernetes org, you do not need to seek sponsorship for the other kubernetes organizations :)  Once that PR gets merged, you should get a membership invite notification.

/assign

[2019-02-08 23:41] mrbobbytables commented on #425
@sreis @bertinatto Just pinging to see if another +1 can be added :)

[2019-02-09 21:08] luxas commented on #455
+1 from me as well :smile:

[2019-02-11 15:23] #456 closed

[2019-02-11 15:23] #461 closed

[2019-02-11 15:23] #462 closed

[2019-02-11 16:01] alejandrox1 opened #464 "REQUEST: New membership for alejandrox1"
### GitHub Username
@alejandrox1

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-02-11 16:22] childsb commented on #457
+1

[2019-02-11 16:45] BenTheElder commented on #464
+1
cc @neolit123 (@spiffxp and I have the same employer, Lubomir does not)

Previous +1 for kubernetes-sigs here: https://github.com/kubernetes/org/issues/373#issuecomment-454900103

looks like @alejandrox1 just needs to be in the main kubernetes org now 😅

[2019-02-11 16:46] nikhita commented on #464
+1 from my side! Happy to have you in @kubernetes! :heart:

[2019-02-11 17:00] alejandrox1 commented on #464
Thank you @BenTheElder and thank you @nikhita for coming to the rescue :smile:

[2019-02-11 17:58] ashish-amarnath opened #465 "REQUEST: New membership for ashish-amarnath"
### GitHub Username
e.g. (at)example_user
@ashish-amarnath

### Organization you are requesting membership in
e.g. (at)kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubern

[2019-02-11 17:59] detiber commented on #465
+1

[2019-02-11 18:04] dims commented on #465
+1 from me. welcome!

[2019-02-11 22:11] mrbobbytables commented on #455
Thanks for adding your +1 @luxas :)

@Klaven, thank you for all your contributions so far :)

I've created PR #466  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-11 22:17] mrbobbytables commented on #457
My apologies for a bit of back and forth @bswartz, but with @childsb +1 I was able to move forward with your request :)

With that I've created PR #466 that will add you to both the @kubernetes and @kubernetes-csi orgs. Once it gets merged, you should get membership invite notifications from both of them.

Welcome to @kubernetes! :tada:

/assign

[2019-02-11 22:19] mrbobbytables commented on #464
Thanks for the additional +1 @nikhita.

Thank you @alejandrox1 for your help with the release team :)

I've created PR #466  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/pony party

[2019-02-11 22:22] mrbobbytables commented on #465
Hey there @ashish-amarnath, thank you for all your efforts towards the cluster-api :)

I've created PR #466   to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-02-11 23:52] #455 closed

[2019-02-11 23:52] #457 closed

[2019-02-11 23:52] #464 closed

[2019-02-11 23:52] #465 closed

[2019-02-12 00:02] d-nishi opened #467 "Transfer ownership of aws-fsx-csi-driver repository as SIG-AWS subproject"
### New Repo, Staging Repo, or migrate existing
New repository

### Requested name for new repository
aws-fsx-csi-driver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@d-nishi
@leakingtapan
@justinsb

### If not a staging repo, who should have write access
@d-nishi
@leakingtapan
@justinsb
@jsafrane

### If a new repo, who should b

[2019-02-12 00:03] d-nishi commented on #467
/assign @cblecker

[2019-02-12 00:07] d-nishi opened #468 "Transfer ownership of aws-efs-csi-driver repository as SIG-AWS subproject"
### New Repo, Staging Repo, or migrate existing
New repository

### Requested name for new repository
aws-efs-csi-driver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@d-nishi
@leakingtapan
@justinsb

### If not a staging repo, who should have write access
@d-nishi
@leakingtapan
@justinsb
@jsafrane

### If a new repo, who should b

[2019-02-12 00:08] d-nishi commented on #468
/assign @cblecker

[2019-02-12 00:37] spiffxp commented on #451
/assign

[2019-02-12 01:03] spiffxp commented on #451
https://github.com/kubernetes/org/pull/469 needs to merge and take effect before I can update the repo's ACLs

https://github.com/kubernetes/community/pull/3246 should be an easy lgtm

[2019-02-12 12:01] sfzylad opened #470 "REQUEST: New membership for sfzylad"
### GitHub Username
e.g. (at)example_user

@sfzylad

### Organization you are requesting membership in
e.g. (at)kubernetes

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-d

[2019-02-12 12:04] phyber commented on #470
👍

[2019-02-12 12:08] randomvariable commented on #470
+1

[2019-02-12 13:43] mrbobbytables commented on #470
Hey there @sfzylad. Unfortunately @phyber cannot sponsor for org membership. A sponsor must be an approver or reviewer in an associated org.

Additionally, @randomvariable cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for membership in @kubernetes-sigs.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizati

[2019-02-12 14:46] jeefy commented on #438
Big +1

@shu-mutou has been contributing in SIG-UI and has been active in the community.

[2019-02-12 16:14] randomvariable commented on #470
Thanks for this. @sfzylad - probably appropriate to drop kubernetes org for now. check in Slack #cluster-api  for a non-VMware sponsor.

[2019-02-12 18:34] figo opened #471 "REQUEST: New kubernetes-sigs membership for @figo"
### GitHub Username
@figo

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
I am already a member of @kubernetes and starting to work on https://github.com/kubernetes-sigs/cluster-api-provider-vsphere and https://github.com/kubernetes-sigs/cluster-api

[2019-02-12 18:49] sreis commented on #425
@mrbobbytables bertinatto is unreachable and I was asked to do a few more PRs to get approval. Should I leave this one open or do you want me to close and reopen later?

[2019-02-12 18:55] mrbobbytables commented on #425
If you think it'll be a few more weeks, I'd go ahead and close/reopen. It'll be a bit more of a fresh ping to process the request.

[2019-02-12 19:06] d-nishi commented on #425
Thanks @mrbobbytales @sreis and @leakingtapan

[2019-02-12 19:31] #425 closed

[2019-02-12 22:48] sieben opened #472 "REQUEST: New membership for sieben"
### GitHub Username

@sieben

### Organization you are requesting membership in

@kubernetes

### Requirements

- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-02-12 23:46] danielromlein commented on #438
LGTM 👍
Excited to have you contributing more @shu-mutou!

[2019-02-13 00:26] mrbobbytables commented on #471
Hey there @figo. I've created PR #473 to add you to the @kubernetes-sigs org. Once it gets merged, you should get a membership invite notification. :)

/assign

[2019-02-13 00:27] mrbobbytables commented on #438
@shu-mutou , thank you for all your contributions to the dashboard project :)

I've created PR #473  to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notifications for both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-02-13 00:46] #438 closed

[2019-02-13 00:46] #471 closed

[2019-02-13 01:44] jichenjc commented on #389
@mrbobbytables, can you help to check https://github.com/kubernetes/org/pull/400 only added me into kubernetes-sig and didn't in kubernetes org, so I can work on both? Thanks

[2019-02-13 01:45] jichenjc commented on #389
@mrbobbytables sorry for inconvenience, in case I need a new PR, please let me know, thanks

[2019-02-13 01:54] mrbobbytables commented on #389
You are 100% correct. Will get a fix out shortly.

[2019-02-13 02:25] mrbobbytables commented on #389
@jichenjc I have created PR #474 to correct your membership, my apologies for the mistake :(

[2019-02-13 04:35] sfzylad commented on #470
@randomvariable You are right. I dropped `kubernetes` org an will ask on slack. Thank you!

[2019-02-13 08:50] lledru opened #475 "REQUEST: New membership for lledru"
### GitHub Username
@lledru
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-02-13 10:01] zacharysarah commented on #475
+1

[2019-02-13 10:06] AWKIF opened #476 "REQUEST: New membership for @AWKIF"
### GitHub Username
@AWKIF

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-02-13 11:15] Smana commented on #472
+1

[2019-02-13 12:50] perriea opened #477 "REQUEST: New membership for perriea"
### GitHub Username
@perriea

### Organization you are requesting membership in
@kubernetes

### Requirements
* [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x]  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-02-13 13:13] Smana commented on #477
+1

[2019-02-13 13:51] rbenzair opened #478 "REQUEST: New membership for rbenzair"
### GitHub Username
@rbenzair

### Organization you are requesting membership in
(at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-02-13 13:56] yastij commented on #478
+1

[2019-02-13 14:41] timothysc commented on #455
To who much is given, yadda yadda.

[2019-02-13 15:20] Smana commented on #478
+1

[2019-02-13 18:01] squeed opened #479 "REQUEST: New membership for squeed"
### GitHub Username
(at)squeed

### Organization you are requesting membership in
(at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-02-13 18:14] squeed commented on #479
Whoops, bboreham isn't in an OWNERS file. Mis-grepped. hold please.

[2019-02-13 18:28] jellonek commented on #479
I'm also not in it, but +1 from me ;)

[2019-02-13 20:22] yastij commented on #478
@rbenzair - is an approver for the FR docs

[2019-02-13 20:22] yastij commented on #475
@lledru - is an approver of the FR docs

[2019-02-13 20:27] zacharysarah commented on #475
+1 - @lledru is part of the new French localization.

[2019-02-13 20:28] zacharysarah commented on #477
+1 - @perriea is part of the new French localization.

[2019-02-13 20:31] zacharysarah commented on #476
+1 - @AWKIF is part of the new French localization.

[2019-02-13 20:31] zacharysarah commented on #472
+1 - @sieben is part of the new French localization.

[2019-02-13 20:43] yastij commented on #476
+1

[2019-02-13 20:43] yastij commented on #478
cc @zacharysarah

[2019-02-13 21:41] zacharysarah commented on #478
+1

[2019-02-14 00:02] mrbobbytables commented on #472
I will add a +1 to sponsor as well :) Thanks for kicking off the French translation efforts!

[2019-02-14 00:03] mrbobbytables commented on #477
I will add a +1 to sponsor as well :) Thanks for helping kick off the French translation efforts!

[2019-02-14 03:00] jichenjc opened #480 "REQUEST: New membership for jichenjc"
### GitHub Username
jichenjc

note: I requested membership at https://github.com/kubernetes/org/issues/389 and forgot to add kubernetes-sig..so open this issue to handle that part

### Organization you are requesting membership in
kubernetes-sig

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled

[2019-02-14 03:07] mrbobbytables commented on #472
@sieben, thanks for starting the French translations efforts :)
I've created PR #481  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-14 03:08] mrbobbytables commented on #475
@lledru , thanks for helping with the French translations efforts and the 1.14 release :)

I've created PR #481  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-14 03:08] mrbobbytables commented on #476
@AWKIF, thanks for helping with the French translations efforts and the 1.14 release :)

I've created PR #481  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-14 03:09] mrbobbytables commented on #477
@perriea, thanks for helping with the French translations efforts :)

I've created PR #481  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-14 03:10] mrbobbytables commented on #478
@rbenzair, thanks for helping with the French translations efforts :)

I've created PR #481  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-14 03:12] mrbobbytables commented on #480
@jichenjc I've created PR #481 to add you to @kubernetes-sigs. Once again, sorry for the mix up the other day -- after this things should be sorted out :) Once it gets merged you should get a membership invite notification to @kubernetes-sigs.

Thanks!

/assign

[2019-02-14 04:14] #472 closed

[2019-02-14 04:14] #475 closed

[2019-02-14 04:14] #476 closed

[2019-02-14 04:14] #477 closed

[2019-02-14 04:14] #478 closed

[2019-02-14 04:14] #480 closed

[2019-02-14 05:28] jichenjc commented on #480
@mrbobbytables Thanks a lot for your help!

[2019-02-14 06:27] tao12345666333 opened #482 "REQUEST: New membership for tao12345666333"
### GitHub Username
 @tao12345666333

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2019-02-14 06:28] k82cn commented on #482
+1

Thanks for your contribution :)

[2019-02-14 06:55] BenTheElder commented on #482
+1
Thanks for your contributions

[2019-02-14 08:08] Smana opened #483 "REQUEST: New membership for smana"
### GitHub Username
@Smana

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-02-14 08:15] yastij commented on #483
+1 @Smana is an approver for FR docs and one of the folks that worked on kubespray originally.

[2019-02-14 08:37] AWKIF commented on #476
Thanks @mrbobbytables

[2019-02-14 09:38] rekcah78 opened #484 "REQUEST: New membership for rekcah78"
### GitHub Username
@rekcah78

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-02-14 09:59] yastij commented on #484
+1 @rekcah78 is a reviewer/approver for FR docs

[2019-02-14 10:01] jygastaud opened #485 "REQUEST: New membership for jygastaud"
### GitHub Username
@jygastaud

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-02-14 10:07] sieben commented on #485
👍

[2019-02-14 10:10] Smana commented on #484
+1 @rekcah78 as reviewer/approver for FR docs

[2019-02-14 10:48] yastij commented on #485
+1

[2019-02-14 18:05] bboreham commented on #479
The shame!

+1 from this worthless infidel.

[2019-02-14 19:46] kfox1111 opened #486 "new repo: kubernetes-csi/csi-driver-image-populator"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
 csi-driver-image-populator

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
@saad-ali @msau42

### If not a staging repo, who should have write access
@saad-ali @msau42

### If a new repo, who should be listed as approvers in OWNERS

[2019-02-14 22:42] michmike commented on #451
created a new PR https://github.com/kubernetes/community/pull/3257 to finalize this work. PTAL

[2019-02-14 22:52] hello2mao opened #487 "REQUEST: New membership for @hello2mao"
### GitHub Username
@hello2mao

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-02-14 23:30] justaugustus opened #488 "Admin access to cloud-provider-azure project board"
### Organization or repository
https://github.com/orgs/kubernetes/projects/12

### Users effected
@justaugustus

### Describe the issue
We're getting rolling on grooming for cp-azure and to start delegating things, I'll need admin access to that board to configure who's got access to what.

I'll be updating the Azure teams across the org at a later date and will update the permissions on this boar

[2019-02-14 23:39] justaugustus commented on #488
/sig azure

[2019-02-14 23:40] justaugustus commented on #488
/area github-management

[2019-02-14 23:41] cblecker commented on #488
Done.

FYI @PatrickLang per the above.

[2019-02-14 23:41] #488 closed

[2019-02-15 00:05] mrbobbytables commented on #483
I will add a +1 to sponsor as well :) Thanks for kicking off the French translation efforts!

[2019-02-15 00:06] mrbobbytables commented on #484
I will add a +1 to sponsor as well :) Thanks for kicking off the French translation efforts!

[2019-02-15 02:08] ritazh opened #490 "REQUEST: New membership for ritazh"
### GitHub Username
ritazh
### Organization you are requesting membership in
kubernetes
kubernetes-sigs
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-02-15 02:11] justaugustus commented on #490
+1!
Rita is going to be working on cloud-provider-azure and bolstering Azure's overall testing posture.

[2019-02-15 02:11] mrbobbytables commented on #482
Hey there @tao12345666333 , thank you for all that you've done so far :)

I've created PR #489  to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign
/pony party

[2019-02-15 02:11] feiskyer commented on #490
+1

[2019-02-15 02:16] mrbobbytables commented on #483
Hey there @Smana , thank you for helping with the French translation efforts :)

I've created PR #489  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-15 02:17] mrbobbytables commented on #484
@rekcah78, thank you for helping with the French translation efforts.

I've created PR #489  to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-15 02:19] mrbobbytables commented on #485
@jygastaud Thank you for helping with the French translation efforts :)

I've created PR #489 to add you to the @kubernetes org. Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2019-02-15 04:59] #490 closed

[2019-02-15 08:52] rbenzair commented on #483
+1 @Smana

[2019-02-15 12:40] #482 closed

[2019-02-15 12:41] #483 closed

[2019-02-15 12:41] #484 closed

[2019-02-15 12:41] #485 closed

[2019-02-15 14:17] astrieanna opened #492 "REQUEST: New membership for astrieanna"
### GitHub Username
astrieanna

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-02-15 15:23] mwielgus commented on #487
+1

[2019-02-15 16:19] PatrickLang commented on #492
I approve. We appreciate your contributions in SIG-Windows :)

[2019-02-15 16:22] hoegaarden commented on #492
+1
/lgtm
Thanks!

[2019-02-15 16:23] michmike commented on #492
+1
approve
/lgtm

[2019-02-15 16:48] nikhita commented on #418
Would be awesome if we could have https://github.com/kubernetes/community/pull/3018#issuecomment-454085394 get merged in as well and get ack's from the people listed there.

cc @deads2k @lavalamp @sttts @pwittrock @cheftako

[2019-02-15 17:10] michmike commented on #451
https://github.com/kubernetes/community/pull/3262 is now merged. so is https://github.com/kubernetes/org/pull/469

@spiffxp  can you please move this forward? thanks!

[2019-02-15 17:24] andrewsykim commented on #487
+1 thank you for your contributions so far :)

[2019-02-15 18:41] andrewsykim opened #494 "REQUEST: add @andrewsykim to kubernetes-csi"
### GitHub Username
e.g. @andrewsykim

### Organization you are requesting membership in
kubernetes-csi

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2019-02-15 19:17] pwittrock commented on #418
/lgtm

[2019-02-15 19:27] j-griffith opened #495 "REQUEST: New membership for j-griffith"
### GitHub Username
@j-griffith
### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-02-15 19:55] msau42 commented on #495
+1

John has been active in the kubernetes-csi org for the iscsi library and driver, and namespace transfer and cloning:
https://github.com/kubernetes-csi/csi-lib-iscsi/pull/1
https://github.com/kubernetes-csi/external-provisioner/pull/220
https://github.com/kubernetes/enhancements/pull/643
https://github.com/kubernetes/enhancements/pull/642

[2019-02-17 01:30] mrbobbytables commented on #487
Hey there @hello2mao, thank you for all your contributions so far :)

I've created PR #497  to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notifications from both of them

Welcome to the project! 🎉

/assign

[2019-02-17 01:31] mrbobbytables commented on #492
Hey there @astrieanna, thank you for all the work you've done for the project :)

I've created PR #497   to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-17 01:32] mrbobbytables commented on #494
@andrewsykim I've created PR #497 to add you to @kubernetes-csi. Once it gets merged, you should get a membership invite notification. :)

/assign

[2019-02-17 01:40] mrbobbytables commented on #495
@j-griffith I've created PR #497 to add you to @kubernetes-csi. Once it gets merged, you should get a membership invite notification. :)

Just as an FYI for the future, as member of @kubernetes you do not need to seek sponsorship to be added to any of the other related orgs. You're implicitly allowed, just have to request it. There's a long term goal to automate membership in the related orgs, but

[2019-02-17 02:39] #487 closed

[2019-02-17 02:39] #492 closed

[2019-02-17 02:39] #494 closed

[2019-02-17 02:39] #495 closed

[2019-02-18 15:08] ramineni opened #499 "REQUEST: New membership for ramineni"
### GitHub Username
@ramineni

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-02-18 15:09] dims commented on #499
+1 welcome!

[2019-02-18 15:24] adisky commented on #499
+1 from me!!!

[2019-02-18 17:28] spiffxp commented on #418
Until the followup mentioned in https://github.com/kubernetes/community/pull/3018#issuecomment-464818512 is opened and merged, I would like an approval from SIG API machinery leadership, or a confirmation that the earlier approval of "kubebuilder-addon-pattern" applies for "kubebuilder-declaritive-pattern"

[2019-02-18 17:46] geekygirldawn opened #500 "REQUEST: New membership for geekygirldawn"
### GitHub Username
@geekygirldawn

### Organization you are requesting membership in
@kubernetes

### Requirements
- [√] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [√] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [√] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-02-18 18:03] nikhita commented on #418
/assign @deads2k @lavalamp

[2019-02-18 18:09] debgiles opened #501 "REQUEST: New membership for debgiles"
### GitHub Username
e.g. @debgiles

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-02-18 19:01] mrbobbytables commented on #501
+1 Thanks Deb!

[2019-02-18 20:39] castrojo commented on #500
+1 from me!

[2019-02-18 21:51] parispittman commented on #500
+1! 🎊

[2019-02-18 22:03] parispittman commented on #501
+1 🎊

[2019-02-18 23:45] mrbobbytables commented on #499
Hey there @ramineni, thank you for  everything you've done for the project so far :)

I've created PR #502 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-18 23:47] mrbobbytables commented on #500
@geekygirldawn thanks for everything you're doing with the contributor summit :)

 I've created PR #502 to add you to the @kubernetes org. Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign
/pony party

[2019-02-18 23:47] mrbobbytables commented on #501
@debgiles thank you for helping coordinate and plan the contributor summits :)

 I've created PR #502 to add you to the @kubernetes org. Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign
/pony party

[2019-02-18 23:51] #499 closed

[2019-02-18 23:51] #500 closed

[2019-02-18 23:51] #501 closed

[2019-02-19 01:43] justaugustus commented on #344
@lachie83 -- spoke with Christoph and he's going to tackle this by EOW. Just churning through the rest of his backlog.

[2019-02-19 11:28] micheleberardi opened #503 "REQUEST: New membership for micheleberardi"
### GitHub Username
@micheleberardi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-02-19 11:34] rlenferink commented on #503
+1 @micheleberardi will be part of the Italian localization team

[2019-02-19 12:18] mm4tt opened #504 "REQUEST: New membership for mm4tt"
### GitHub Username
@mm4tt

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-02-19 12:33] wojtek-t commented on #504
+1

[2019-02-19 12:45] mrbobbytables commented on #503
@micheleberardi, unfortunately @rlenferink cannot sponsor you for @kubernetes org membership. A sponsor must be an approver or reviewer within the org you are seeking membership in. For more information, please see the [membership requirements](https://git.k8s.io/community/community-membership.md#requirements).

[2019-02-19 13:08] mrbobbytables commented on #503
Follow-up: I will add a +1 as this is for establishing the Italian localization owners. :)

[2019-02-19 16:13] shyamjvs commented on #504
+1

On Feb 19, 2019 4:18 AM, Matt Matejczyk <notifications@github.com> wrote:
GitHub Username

@mm4tt<https://github.com/mm4tt>

Organization you are requesting membership in

@kubernetes<https://github.com/kubernetes>

Requirements

  *    I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
  *    I have enabled 2FA on my GitHub account (http

[2019-02-19 17:16] spiffxp commented on #451
/close
Added ACLs, and thanks for fixing my typo in the sigs.yaml PR.

FWIW, I hope you weren't waiting on these to move forward.  Because of your presence in the root OWNERS file you have been able to PR and merge code against this repo ever since it was created.

[2019-02-19 17:16] #451 closed

[2019-02-19 20:12] zacharysarah commented on #503
+1 for Italian localization!

[2019-02-19 20:12] zacharysarah commented on #503
@rlenferink Are you a member of Kubernetes yet? Do you need a sponsor? 😄

[2019-02-19 20:20] rlenferink commented on #503
Thanks for the offer, but I'm already a member of Kubernetes 😄

[2019-02-19 21:15] lavalamp commented on #418
/lgtm

[2019-02-19 22:00] spiffxp commented on #418
/unassign @lavalamp @deads2k
/assign
I'll take that for approval and work on this

[2019-02-19 22:56] spiffxp commented on #418
- Opened https://github.com/kubernetes/org/pull/505 to create teams for repo admin/write access
- Opened https://github.com/kubernetes/community/pull/3278 to add to sigs.yaml (this was an educated guess based on where kubebuilder fell within existing subprojects)
- Created https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern with default settings
- Set description per the repo creati

[2019-02-19 23:38] spiffxp commented on #418
@johnsonj it turns out you are not a member of kubernetes or kubernetes-sigs, so I can't add you to the things, can you please [file a membership request](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E)?

[2019-02-19 23:46] spiffxp commented on #486
/assign @nikhita
Please give this one a shot

[2019-02-20 00:28] msau42 commented on #486
`csi-driver-image` is a confusing name and it might be interpreted to mean something related to storing container images for the drivers we maintain.

I can't really think of something much better. How about something like:
csi-driver-image-volume
csi-driver-container-image-volume

[2019-02-20 01:01] kfox1111 commented on #486
all the storage drivers are under csi-driver-X. so I think csi-driver-image makes sense. But I'm open to either of the other two as well. all of them make sense in one way or the other.

(There are 2 hard problems in computer science. naming things, cache invalidation, and off by one errors :smile: )

[2019-02-20 02:27] mrbobbytables commented on #503
Hey there @micheleberardi , thanks for kicking off the Italian translation efforts. :)

I've created PR #507 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-20 02:27] mrbobbytables commented on #504
Hey there @mm4tt, thank you for all your contributions so far :)

I've created PR #507   to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-20 02:42] #503 closed

[2019-02-20 02:42] #504 closed

[2019-02-20 10:38] oussemos opened #508 "REQUEST: New membership for oussemos"
### GitHub Username
@oussemos

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-02-20 11:51] lledru commented on #508
+1 @oussemos is an approver for FR docs

[2019-02-20 13:40] sieben commented on #508
/lgtm

Le mer. 20 févr. 2019 à 12:51, lledru <notifications@github.com> a écrit :

[2019-02-20 14:43] bclau opened #509 "REQUEST: New membership for bclau"
### GitHub Username

bclau

### Organization you are requesting membership in

kubernetes
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-02-20 16:40] kfox1111 commented on #486
Are we stuck on naming? Who can pick?

[2019-02-20 16:57] zacharysarah commented on #508
+1 for French localization.

[2019-02-20 17:31] PatrickLang commented on #509
+1 - Claudiu has been working hard over several months to make the Windows tests work :)

[2019-02-20 17:42] adelina-t commented on #509
+1 From me as well. Claudiu has had numerous contributions to testing Windows.

[2019-02-20 18:08] johnsonj opened #510 "REQUEST: New membership for johnsonj"
### GitHub Username
johnsonj

### Organization you are requesting membership in
- kubernetes
- kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-02-20 18:13] krousey commented on #510
+1

[2019-02-20 19:05] mrbobbytables commented on #510
Hey there @johnsonj, I hate to be a stickler, but is there someone else that could potentially sponsor you? Both @justinsb and @krousey are employed by Google, and sponsors must be from separate member organizations per the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Thanks!

[2019-02-20 19:05] johnsonj commented on #510
I'm on it Bob- thanks!

[2019-02-20 19:17] javier-b-perez opened #511 "REQUEST: New membership for javier-b-perez"
### GitHub Username
@javier-b-perez

### Organization you are requesting membership in
* kubernetes
* kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https:/

[2019-02-20 19:57] dims commented on #511
+1 welcome!

[2019-02-20 20:11] msau42 commented on #486
@saad-ali and I brainstormed and came up with:
csi-driver-image-populator

wdyt?

[2019-02-20 20:13] thockin commented on #511
+1

[2019-02-21 00:32] listx opened #513 "REQUEST: New membership for listx"
### GitHub Username
@listx

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2019-02-21 00:52] BenTheElder commented on #513
+1 from me :-)

[2019-02-21 02:42] dims commented on #513
+1 from me!

[2019-02-21 02:52] mrbobbytables commented on #508
@oussemos thanks for helping to kick start the french translation efforts :)

I've created PR #514   to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-21 02:54] mrbobbytables commented on #509
Hey there @bclau, thank you for all your windows efforts :)

I've created PR #514  to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-02-21 02:54] mrbobbytables commented on #511
@javier-b-perez, thank you for all your contributions so far :)

I've created PR #514  to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-02-21 02:58] mrbobbytables commented on #513
Ben's +1 will do ;)

@listx I've created PR #514 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign
/pony party

[2019-02-21 03:57] justaugustus commented on #513
Woooooooooo

[2019-02-21 04:39] #508 closed

[2019-02-21 04:39] #509 closed

[2019-02-21 04:39] #511 closed

[2019-02-21 04:39] #513 closed

[2019-02-21 16:56] dcbw commented on #479
/lgtm +1

[2019-02-21 18:38] kfox1111 commented on #486
wfm

[2019-02-21 21:09] kfox1111 commented on #486
Do I need to amend the request?

[2019-02-21 21:10] msau42 commented on #486
Sure go ahead and edit the first comment with the updated name

[2019-02-21 21:38] kfox1111 commented on #486
:heavy_check_mark:

[2019-02-21 21:53] msau42 commented on #486
/lgtm

[2019-02-21 22:43] pjh opened #515 "REQUEST: New membership for pjh"
### GitHub Username
@pjh

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2019-02-21 22:48] yujuhong commented on #515
+1

[2019-02-22 00:50] mattjmcnaughton opened #516 "REQUEST: New membership for mattjmcnaughton"
### GitHub Username
@mattjmcnaughton

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-02-22 01:32] BenTheElder commented on #516
+1

[2019-02-22 12:11] nikhita commented on #486
Created https://github.com/kubernetes-csi/csi-driver-image-populator :tada:

I have also created two PRs:

- https://github.com/kubernetes/org/pull/517 - to add GitHub teams for repo admin/write access.
- https://github.com/kubernetes/community/pull/3293 - to add this repo to sigs.yaml.

Once https://github.com/kubernetes/org/pull/517 has merged and the postsubmit has run, the new GitHub teams wil

[2019-02-22 12:38] nikhita commented on #418
The postsubmit has run and the new teams have been created. I have updated access as follows:

- kubebuilder-admins and kubebuilder-declarative-pattern-admins have admin access
- kubebuilder-declarative-pattern-maintainers has write access

The PR to update sigs.yaml (https://github.com/kubernetes/community/pull/3278) has also merged, so closing this issue.

/close

[2019-02-22 12:38] #418 closed

[2019-02-22 14:05] nikhita commented on #486
The new GitHub teams have been created and I have updated repo permissions.

`csi-driver-image-populator-admins` has admin access and `csi-driver-image-populator-maintainers` has write access.

I'll close this issue once https://github.com/kubernetes/community/pull/3293 is merged.

[2019-02-22 18:17] kfox1111 commented on #486
Ok. I'll file a membership request asap.

Thanks everyone for all the help. :)

[2019-02-22 18:42] kfox1111 opened #518 "REQUEST: New membership for kfox1111"
### GitHub Username
kfox1111

### Organization you are requesting membership in
kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-02-22 18:49] PatrickLang commented on #515
+1, Peter's been a big help in getting things validated on GCE to prove it works in multiple clouds :)

[2019-02-22 19:22] saad-ali opened #519 "Requesting owner permissions for https://github.com/kubernetes-csi/* repos"
### Organization or repository

* https://github.com/kubernetes-csi/csi-release-tools
* https://github.com/kubernetes-csi/kubernetes-csi.github.io

### Users effected
saad-ali

### Describe the issue
Need to be owner of these CSI repo in order to cut releases, etc.

This is a follow up on https://github.com/kubernetes/org/issues/141

I already have ownership of all other https://github.com/kuberne

[2019-02-22 19:32] philips opened #520 "Create kubernetes/security Github repo"
### New Repo, Staging Repo, or migrate existing

New Repo

### Requested name for new repository

security

### Which Organization should it reside

kubernetes

### If not a staging repo, who should have admin access

* Brandon Philips (@philips)
* Jess Frazelle (@jessfraz)
* CJ Cullen (@cjcullen)
* Tim Allclair (@tallclair)
* Jordan Liggitt (@liggitt)

### If not a staging repo, who should have w

[2019-02-22 20:19] tallclair commented on #520
As an aside, we should make sure the security repo issue template declares VERY LOUDLY that it is not a place to file security issues.

[2019-02-22 22:02] philips commented on #520
We could also just disable issues on the repo @tallclair.

[2019-02-22 22:03] micahhausler commented on #520
Do you think issues could be useful for process questions/suggestions? Or should any suggestion just be made with a PR?

[2019-02-22 22:05] tallclair commented on #520
Yeah, I feel like it could be useful for discussing the process (we could even use it for distributors applications). If it becomes a problem, we could disable it later.

[2019-02-22 22:06] philips commented on #520
We have a discussion google group for process questions and suggestions
already.

https://groups.google.com/forum/#!forum/kubernetes-security-discuss

On Fri, Feb 22, 2019 at 2:03 PM Micah Hausler <notifications@github.com>
wrote:

[2019-02-22 22:07] nikhita commented on #486
https://github.com/kubernetes/community/pull/3293 has merged. Closing this issue.

/close

[2019-02-22 22:07] #486 closed

[2019-02-22 22:13] nikhita commented on #520
/assign

[2019-02-22 22:31] nikhita commented on #520
https://github.com/kubernetes/security has been created and @kubernetes/product-security-team has admin access to the repo.

[2019-02-22 22:39] nikhita commented on #519
/assign

[2019-02-22 22:53] nikhita commented on #519
`kubernetes-csi/csi-release-tools-admins` and `kubernetes-csi/csi-release-tools-maintainers` teams existed already but didn't have access to the csi-release-tools repo. I have assigned appropriate access to both teams.

@saad-ali You are in both teams, so you should now have admin access to csi-release-tools.

I have created a PR to add a new admin team for kubernetes-csi.github.io: https://github

[2019-02-22 23:51] saad-ali commented on #519
Thank you very much @nikhita

[2019-02-23 03:35] nikhita commented on #519
@saad-ali You should now have admin access for both repos. :)

/close

[2019-02-23 03:35] #519 closed

[2019-02-23 10:16] nikhita commented on #520
This is done from a github-management perspective. We can track committee creation + documenting this repo in https://github.com/kubernetes/steering/issues/89.

/close

[2019-02-23 10:16] #520 closed

[2019-02-23 23:18] philips commented on #520
Thank you @nikhita !

[2019-02-24 00:57] mrbobbytables commented on #515
@pjh, thank you for all the work you've put in for the project so far :)

I've created PR #524  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-24 04:55] #515 closed

[2019-02-25 05:20] DirectXMan12 commented on #516
Definitely :+1: from me

[2019-02-25 22:44] dlipovetsky commented on #308
@cblecker Anything else we need to take care of?

[2019-02-26 00:58] mrbobbytables commented on #516
Hey there @mattjmcnaughton, I don't mean to delay things, but is there someone else that could potentially sponsor you? Both @BenTheElder  and @DirectXMan12  are employed by Google, and sponsors must be from separate member organizations per the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Thanks!

[2019-02-26 06:33] mattjmcnaughton commented on #516
hi @mrbobbytables, thanks for the heads up! Oh interesting - I actually wasn't aware they were both Googlers :)

@DirectXMan12 any chance you know if any of the HPA contributors are non-googlers?

[2019-02-26 19:06] dcbw commented on #479
@mrbobbytables thoughts on this one? Should Casey submit a PR adding himself or does somebody else handle that? Thanks!

[2019-02-26 19:25] mrbobbytables commented on #479
@dcbw Unfortunately @squeed needs another sponsor from @kubernetes org. As @bboreham said, he is not an approver or reviewer in any project and cannot sponsor.

With @jellonek's +1 he could be sponsored for membership in the @kubernetes-sigs org, but not for @kubernetes.

From @squeed's initial response it looked like they were seeking out another potential sponsor. If one hasn't found the members

[2019-02-26 19:28] mrbobbytables commented on #470
@sfzylad Have you found another sponsor by chance?

[2019-02-26 21:07] smourapina opened #527 "REQUEST: New membership for smourapina"
### GitHub Username
@smourapina

### Organization you are requesting membership in
@kubernetes

### Requirements
* [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x]  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-02-26 22:05] easeway opened #528 "New repository for multi-tenancy proposals and prototypes"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
multi-tenancy

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
davidopp, easeway

### If a new repo, who should be listed as approvers in OWNERS
davidopp, easeway

### If a new repo, who should be listed in SECURITY_CONTACTS
davidopp

[2019-02-26 22:09] BenTheElder commented on #527
+1, thanks for your contributions!

[2019-02-26 23:34] taragu opened #529 "REQUEST: New membership for taragu"
### GitHub Username
@taragu

### Organization you are requesting membership in
@kubernetes-incubator

I'm already a Kubernetes member and I would like to also join kubernetes-incubator to work on kubernetes-incubator/service-catalog. Thanks!

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on

[2019-02-27 00:01] ksubrmnn opened #530 "REQUEST: New membership for ksubrmnn"
### GitHub Username
@ksubrmnn

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-02-27 00:08] madhanrm commented on #530
i approve

[2019-02-27 01:29] mariantalla commented on #527
Huge +1, thanks for your awesome work with CI signal so far and excited to see what you do next!

[2019-02-27 01:51] nikhita commented on #528
@easeway Could you list the approvals as in the [issue template](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-repo&template=repo-create.md&title=)?

[2019-02-27 04:30] foxyriver opened #531 "REQUEST: New membership for foxyriver"
### GitHub Username
@foxyriver

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-02-27 06:28] zhangxiaoyu-zidif commented on #531
Hi, you can list you PRs like this: https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+author%3Afoxyriver+is%3Aclosed

[2019-02-27 06:31] foxyriver commented on #531
@zhangxiaoyu-zidif keep the sequence?

[2019-02-27 08:57] tanshanshan commented on #531
+1

[2019-02-27 09:34] zacharysarah opened #532 "Request: new org teams"
### Organization or repository

Kubernetes org

### Users affected

Members of the `sig-docs-fr-*` aliases in [k/website/OWNERS_ALIASES](https://github.com/kubernetes/website/blob/master/OWNERS_ALIASES#L140-L163)

### Describe the issue

Heya! 👋 Now that docs have an active French localization, we need to add two org teams for splat reviews and mentions:
- [ ] `sig-docs-fr-owners`
- [ ] `sig-docs-

[2019-02-27 09:39] nikhita commented on #532
/assign

[2019-02-27 11:09] abuisine opened #535 "REQUEST: New membership for abuisine"
### GitHub Username
@abuisine

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-02-27 11:19] rbenzair commented on #535
+1

[2019-02-27 12:17] #532 closed

[2019-02-27 13:52] mrbobbytables commented on #518
Hey there @kfox1111 , unfortunately @sbezverk cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for membership in @kubernetes-csi.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-csi etc); as long as it's a project they're involved with.

However, this does not work the

[2019-02-27 14:00] sbezverk commented on #518
+1

From: Bob Killen <notifications@github.com>
Reply-To: kubernetes/org <reply@reply.github.com>
Date: Wednesday, February 27, 2019 at 8:52 AM
To: kubernetes/org <org@noreply.github.com>
Cc: sbezverk <sbezverk@cisco.com>, Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/org] REQUEST: New membership for kfox1111 (#518)

Hey there @kfox1111<https://github.com/kfox1111> , unfortunately

[2019-02-27 15:46] michmike commented on #530
+1

[2019-02-27 17:33] kfox1111 commented on #518
Works for me. I'll amend it to just kubernetes-csi for now.

[2019-02-27 17:38] lukaszgryglicki opened #537 "REQUEST: New membership for lukaszgryglicki"
### GitHub Username
lukaszgryglicki

### Organization you are requesting membership in
kubernetes, test-infra

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-02-27 17:39] spiffxp commented on #537
+1 from sponsor

[2019-02-27 17:44] jberkus commented on #537
+1 from me

[2019-02-27 18:14] nikhita commented on #537
+1

On Wed, 27 Feb 2019 at 11:14 PM, Josh Berkus <notifications@github.com>
wrote:

[2019-02-27 20:20] mrbobbytables commented on #535
I will add a +1, @abuisine is listed as both an approver/reviewer for the french translation team :)
https://github.com/kubernetes/website/blob/master/OWNERS_ALIASES#L148

[2019-02-27 20:31] mrbobbytables commented on #527
Hey there @smourapina , thank you for all your help with the 1.14 release :)

I've created PR #539  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

/pony yay

[2019-02-27 20:32] mrbobbytables commented on #529
@taragu I've created PR #539 to add you to @kubernetes-incubator. Once it gets merged, you should get a invite notification.

Thanks!

/assign

[2019-02-27 20:33] mrbobbytables commented on #530
@ksubrmnn, thank you for all your contributions so far :)

I've created PR #539  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-27 20:34] mrbobbytables commented on #531
Hey there @foxyriver, thank you for all your contributions to the project :)

I've created PR #539  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-27 20:35] mrbobbytables commented on #535
@abuisine, thanks for helping kick start the French translations efforts :)

I've created PR #539  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-02-27 20:37] mrbobbytables commented on #537
+1 here too :)

@lukaszgryglicki I've created PR #539 to add you to the @kubernetes org. Once it gets merged, you should get a membership invite notification.

Thanks!

/assign
/pony yay

[2019-02-27 20:38] #527 closed

[2019-02-27 20:38] #529 closed

[2019-02-27 20:38] #530 closed

[2019-02-27 20:38] #531 closed

[2019-02-27 20:38] #535 closed

[2019-02-27 20:38] #537 closed

[2019-02-27 20:42] taragu commented on #529
Thanks @mrbobbytables !!

[2019-02-27 22:10] erikerlandson opened #540 "REQUEST: New membership for erikerlandson"
### GitHub Username
e.g. @erikerlandson

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-02-27 22:46] foxish commented on #540
+1

[2019-02-27 23:04] liyinan926 commented on #540
+1

[2019-02-28 04:19] cblecker commented on #82
This doesn't seem to have movement.. can we close this out and open a new issue when those providers are ready?

/lifecycle stale

[2019-02-28 04:20] cblecker commented on #260
/lifecycle stale

Marking this as stale.. please advise if this is still required.

[2019-02-28 04:21] cblecker commented on #467
@d-nishi is this a new repo? or a transfer?

[2019-02-28 04:21] cblecker commented on #468
@d-nishi is this a new repo? or a transfer?

[2019-02-28 04:22] cblecker commented on #308
/assign

[2019-02-28 04:22] cblecker commented on #324
@saad-ali is this still needed?

[2019-02-28 05:50] sfzylad commented on #470
@mrbobbytables I haven't yet. I was on holiday for some time so I was not actively looking.

[2019-02-28 07:56] bruceauyeung opened #542 "REQUEST: New membership for bruceauyeung"
### GitHub Username
@bruceauyeung

### Organization you are requesting membership in
@kubernetes

### Requirements
- [√ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [√ ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [√ ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-02-28 08:05] tanshanshan commented on #542
+1

[2019-02-28 09:03] mlmhl opened #543 "REQUEST: New membership for mlmhl"
### GitHub Username
@mlmhl

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-02-28 09:59] zhangxiaoyu-zidif commented on #542
+1 from me

[2019-02-28 13:31] rootfs commented on #543
+1

[2019-02-28 18:47] easeway commented on #528
I pasted the email conversation in approvals, is that good enough?

[2019-02-28 19:00] nikhita commented on #528
@easeway We need links to approvals on mailing lists. Could you send an email to the sig-auth _and_ multitenancy working group mailing lists and get approvals from the chairs of the working group + technical leads of sig-auth?

(The sig-auth charter delegates the creation of new subprojects to technical leads - https://github.com/kubernetes/community/blob/master/sig-auth/charter.md#subproject-crea

[2019-02-28 23:41] DylanGraham opened #547 "REQUEST: New membership for DylanGraham"
### GitHub Username
@DylanGraham

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-03-01 00:09] jdumars commented on #547
/lgtm
Dylan has also expressed an interest in serving as a community admin in an underrepresented time zone.

[2019-03-01 03:26] mrbobbytables commented on #540
Hey there @erikerlandson, thanks for spearheading the big data usergroup :)

I've created PR #548   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-01 03:27] mrbobbytables commented on #543
@mlmhl I've created PR #548 to add you to the @kubernetes-csi org. Once it gets merged, you should get a membership invite notification.

Just as a general reminder, as a @kubernetes org member, you auto-qualify for membership in any of the associated child orgs such as @kubernetes-sigs or @kubernetes-csi. There is no need to solicit sponsors for them :) Just have to get the request in.

Thanks!

[2019-03-01 03:49] #540 closed

[2019-03-01 03:49] #543 closed

[2019-03-01 06:14] mlmhl commented on #543
Thanks @mrbobbytables !

[2019-03-01 14:05] stevesloka opened #549 "REQUEST: New membership for stevesloka"
### GitHub Username
@stevesloka

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-03-01 14:08] nikhita commented on #549
+1

[2019-03-01 16:35] leakingtapan commented on #467
/hold

This is an existing projects that is going to be contributed by aws to the community.

See https://github.com/aws/aws-fsx-csi-driver

Need to finialize the project name before transfer

[2019-03-01 16:36] leakingtapan commented on #468
/hold

This is an existing projects that is going to be contributed by aws to the community.

See https://github.com/aws/aws-efs-csi-driver

Need to finialize the project name before transfer

[2019-03-01 18:30] umohnani8 opened #550 "REQUEST: New membership for umohnani8"
### GitHub Username
@umohnani8

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-03-01 18:32] sboeuf commented on #550
LGTM :+1:

[2019-03-01 19:00] mrunalp commented on #550
LGTM

[2019-03-02 00:21] vladimirvivien commented on #518
+1

[2019-03-02 00:40] listx opened #551 "migrate github.com/GoogleCloudPlatform/k8s-container-image-promoter"
### New Repo, Staging Repo, or migrate existing
Migrate https://github.com/GoogleCloudPlatform/k8s-container-image-promoter

### Requested name for new repository
container-image-promoter

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
listx, dims, hh, tpepper

### If not a staging repo, who should have write access
listx, dims, hh,

[2019-03-02 00:41] listx commented on #551
/cc @calebamiles @spiffxp

[2019-03-02 01:20] rjbez17 opened #553 "REQUEST: New membership for rjbez17"
### GitHub Username
@rjbez17

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-03-02 01:22] jdumars commented on #553
I support Ryan's membership.
/lgtm

[2019-03-02 01:22] spiffxp commented on #553
+1 from sponsor

[2019-03-02 01:23] spiffxp commented on #553
.... we're both from Google, need another company +1

[2019-03-02 01:24] spiffxp commented on #553
@timothysc @brahmaroutu would either of you like to +1 here?

[2019-03-02 01:25] dims commented on #553
+1

[2019-03-02 02:03] #553 closed

[2019-03-02 02:21] spiffxp commented on #553
(oh right, some obligatory things I forgot)
/assign

Welcome to @kubernetes! 🎉 Thrilled to have you aboard

/pony party

[2019-03-02 02:21] rjbez17 commented on #553
Thanks! Happy to be here.

[2019-03-02 02:30] mrbobbytables commented on #547
@DylanGraham Do you happen to have someone else that might be able to sponsor you? Unfortunately only @jdumars or @spiffxp may add their +1. Sponsors must be from different organizations per the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Thanks!

[2019-03-02 02:42] mrbobbytables commented on #550
Hey there @umohnani8, thank you for all the effort you've put into crio :)

I've created PR #555 to add you to the @Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign