[2019-05-26 10:57] mrbobbytables commented on #842
@sethpollack  -- Just as an FYI, as a kubernetes org member you can implicitly be added to the other kubernetes orgs without requiring additional sponsorship. It's just the other way around that sponsors are required. 👍

With that -- I've created PR #843 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.  🎉

/assign

[2019-05-26 10:57] #835 closed

[2019-05-26 10:57] #841 closed

[2019-05-26 10:57] #842 closed

[2019-05-26 11:13] sethpollack commented on #842
thanks

[2019-05-27 10:24] nikhita commented on #841
@micahhausler Just for future reference...since you are already a member of Kubernetes, you don't need sponsorship to be added to other kubernetes orgs. Feel free to create a PR to add yourself to any other orgs, when needed. :)

[2019-05-27 10:25] nikhita commented on #841
Oh derp...I just realized @mrbobbytables said the same above. :smile:

[2019-05-28 16:15] jberkhahn opened #844 "REQUEST: clean up SIG Service Catalog teams"
### Organization or repository
kubernetes-incubator, kubernetes, and kubernetes-sigs

### Users affected
all users of the `admins-service-catalog` and `maintainers-service-catalog` teams in kubernetes-incubator, as well as members of the `sig-service-catalog-api-reviews`, `sig-service-catalog-bugs`, `sig-service-catalog-feature-requests `, `sig-service-catalog-misc`, `sig-service-catalog-pr-review

[2019-05-28 16:26] nikhita commented on #844
I guess it'd be better to wait with the team migration until repo migration is done because the teams are used to provide appropriate access to repos.

[2019-05-28 16:36] cblecker commented on #844
@jberkhahn Can I suggest you keep at least one team in the main kubernetes org? This helps with notifications for repos like k/community. Perhaps something like kubernetes/sig-service-catalog (without the -misc or what have you)?

[2019-05-28 16:37] cblecker commented on #844
Also, when we create the new teams in k-sigs, can we swap over the naming convention to have the admins/maintainers bit at the end?

[2019-05-28 16:40] jberkhahn commented on #844
@nikhita I thought it would be better to move the teams over first, otherwise we won't be able to do anything in the new repos?

@cblecker all good suggestions. I'm fine with changing the names and keeping a `sig-service-catalog` team in kubernetes

[2019-05-28 17:07] jberkhahn commented on #844
Actually, now that I think about it, if we're still going to have a team in kubernetes, we might as well just mirror the teams we already have, I'll amend the issue

[2019-05-28 17:24] cblecker commented on #844
We have two kinds of teams.. "notification" teams that are sig based, and "permissions" teams that are repo based.

So what makes sense to me is:
kubernetes/sig-service-catalog (notification team for the sig, no permissions)
kubernetes-sigs/service-catalog-admins (permissions team)
kubernetes-sigs/service-catalog-maintainers (permissions team)

We create those teams new, and populate them with fol

[2019-05-28 17:38] jberkhahn commented on #844
sounds good :+1:

[2019-05-28 17:51] irvifa opened #846 "REQUEST: New membership for @irvifa"
### GitHub Username
@irvifa

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-05-28 17:53] irvifa commented on #846
/assign @mrbobbytables

Please let me know if I'm missing requirements

[2019-05-28 17:53] nikhita commented on #846
@irvifa you are already a member of Kubernetes so you don't need sponsorship. Feel free to create a PR to add yourself. :)

[2019-05-28 18:25] irvifa commented on #846
Thanks nikhita, I've created a PR to address this issue

[2019-05-28 18:25] #846 closed

[2019-05-28 20:28] ahg-g opened #848 "REQUEST: New membership for ahg-g"
### GitHub Username
@ahg-g

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-05-28 22:04] bsalamat commented on #848
+1
Looking forward to see more contributions from @ahg-g!

[2019-05-28 22:09] Huang-Wei commented on #848
+1
@ahg-g Thanks and looking forward to seeing more contributions!

[2019-05-29 03:59] cblecker commented on #7
Yup, closing in favour of that issue. Thanks @nikhita!

[2019-05-29 03:59] #7 closed

[2019-05-29 04:00] cblecker commented on #563
Take two: https://github.com/kubernetes/org/pull/849

[2019-05-29 04:02] cblecker commented on #795
@spencerhance Once your membership application is handled and you are a member of the org, you can request the right permissions by opening a PR to add your user to this team: https://github.com/kubernetes/org/blob/b5b633c78eadb29d037dc8353c53b63c5e6841b7/config/kubernetes/org.yaml#L1305-L1315

I'm going to close this issue out as you should have all the details you need to action this one. Thanks

[2019-05-29 04:02] #795 closed

[2019-05-29 04:10] cblecker opened #850 "Tidy up some teams"
We need some help cleaning up the descriptions for some of our teams.

For all the `*-admins` teams, we need to update the descriptions to be something like:
[code]

For all the `*-maintainers` teams, we need to update the descriptions to be something like:
[code]

And we can remove all the `*-reviewers` teams.

All these configs should be under the `config/` directory. They might be in any of the

[2019-05-29 07:26] cofyc opened #851 "REQUEST: New kubernetes-csi membership for cofyc"
### GitHub Username
@cofyc

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-05-29 12:36] #851 closed

[2019-05-29 12:44] nikhita commented on #839
@ConnorDoyle Apologies for the late reply, this somehow missed my radar!

Few questions:

- The issue says that an existing repo is supposed to be migrated...but also to create a bare repo. I'm confused. :) Is the bare repo intended to be populated with contents of an existing repo? In that case, we would prefer directly migrating the existing repo after ensuring that it satisfies our [requirement

[2019-05-29 12:51] mrbobbytables commented on #830
just a gentle reminder ping for @jboyd01 👍

[2019-05-29 13:05] nikhita commented on #839
/assign

[2019-05-29 14:03] nzoueidi commented on #850
I can help with this!

[2019-05-29 14:30] nzoueidi commented on #850
I will push a PR very soon!

[2019-05-29 14:32] cblecker commented on #850
@nzoueidi sounds good! Assign it to me when you push it up. Thank you!

[2019-05-29 18:57] jiatongw opened #854 "REQUEST: New membership for jiatongw"
### GitHub Username
@jiatongw
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-05-29 20:25] andrewsykim commented on #854
👍 from me! Thanks for your contributions!

[2019-05-30 00:06] tstromberg opened #855 "Sub-project website for minikube documentation"
### Repository
e.g. kubernetes-sigs/foo

kubernetes/minikube

### Project domain
e.g. foo.sigs.k8s.io

minikube.sigs.k8s.io

NOTE: Must match domain request.
See subproject site request docs for more information:
http://git.k8s.io/community/github-management/subproject-site-requests.md#subproject-domain-request

### Additional context for request
Any additional information or links to discussions

[2019-05-30 00:09] SataQiu commented on #854
+1 Thanks for your contributions!

[2019-05-30 06:49] justaugustus commented on #563
This is now complete, right?

[2019-05-30 06:52] nikhita commented on #563
Yes! :tada:

/close

[2019-05-30 06:52] #563 closed

[2019-05-30 07:17] nikhita commented on #855
/assign

[2019-05-30 07:29] nikhita commented on #855
minikube is in the main @kubernetes github org, instead of @kubernetes-sigs. Should the project domain still be minikube.sigs.k8s.io or should it be minikube.k8s.io? Personally, I feel like we should go for the latter to ensure consistency but what do y'all think?

cc @cblecker @mrbobbytables

[2019-05-30 08:41] justaugustus commented on #848
@ahg-g -- Thanks so much for your contributions thus far!
I've created #858 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-05-30 08:41] justaugustus commented on #854
@jiatongw -- Thanks so much for your contributions thus far!
I've created #858 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-05-30 08:44] #848 closed

[2019-05-30 08:44] #854 closed

[2019-05-30 10:24] mrbobbytables commented on #855
I agree. I think it'd be best to avoid adding things to the root  of the k8s.io domain directly unless there's a very good reason to do so.

[2019-05-30 10:31] mrbobbytables commented on #838
@chardch My apologies for the delay in response -- KubeCon kind of threw everything off for a bit =/

I also hate to be a stickler...but do you happen to have someone else that could sponsor you? Sponsors must be from different organizations per the [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Thanks!

[2019-05-30 14:08] damemi opened #860 "REQUEST: New membership for damemi"
### GitHub Username
@damemi

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-05-30 14:10] soltysh commented on #860
:+1: from me

[2019-05-30 14:14] soltysh commented on #830
I can vouch for this guy as well :+1:

[2019-05-30 16:11] jberkhahn commented on #844
Do you need anything else from me on this?

[2019-05-30 17:38] chardch commented on #838
Thanks for letting me know @mrbobbytables. I'll find a sponsor from another organization.

[2019-05-30 17:46] chardch commented on #838
Hi @johnSchnake,

Would you be willing to sponsor my kubernetes membership?

[2019-05-30 18:01] sethp-nr opened #861 "REQUEST: New membership for @sethp-nr"
### GitHub Username
@sethp-nr

For future documentation, I also have a personal account that I don't use much at @sethp, but probably won’t be using that account to contribute to Kubernetes in the near future.

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-member

[2019-05-30 18:02] dims commented on #861
+1 from me

[2019-05-30 18:03] vincepri commented on #861
+1 from me

🎉 👍 💯

[2019-05-30 18:04] rudoi opened #862 "REQUEST: New membership for rudoi"
### GitHub Username
@rudoi

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-05-30 18:05] dims commented on #862
+1 from me

[2019-05-30 18:10] michmike opened #863 "request for new repo for sig-windows called sig-windows-tools"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
sig-windows-tools

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
michmike, patricklang

### If not a staging repo, who should have write access
michmike, patricklang

### If not a staging repo, who should be listed as approvers in

[2019-05-30 18:28] vincepri commented on #862
+1 from me

🎉 👍 💯

[2019-05-30 19:06] #850 closed

[2019-05-30 19:37] DirectXMan12 commented on #860
:+1: from me as well :-)

[2019-05-30 20:10] justaugustus opened #864 "k/k, etc. repo write access for release-team-leads"
### Organization or repository
kubernetes/kubernetes, kubernetes/release, kubernetes/sig-release

### Users affected
@kubernetes/release-team-leads

### Describe the issue
With #828 merged, we removed Release Team Leads/Shadows from the `release-managers` team, which grants elevated permissions in a few repos. We also created `release-team-leads` to grant this access to Release Team Leads/Shadows.

[2019-05-30 20:37] cblecker commented on #864
Done!

[2019-05-30 20:37] #864 closed

[2019-05-30 21:17] justaugustus commented on #864
Thanks Christoph! :)

[2019-05-30 22:21] tstromberg commented on #855
I prefer shorter names when possible, but I'm entirely amenable to either option. I'm just happy to have a good home for localized project documentation =)

[2019-05-30 22:51] mrbobbytables commented on #830
Thanks for stepping in @soltysh 👍

@piotrmiskiewicz, thank you for all your help with the service catalog. :)

I've created PR #867  to add you to the Kubernetes-incubator Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-incubator! 🎉

/assign

[2019-05-30 22:53] mrbobbytables commented on #860
@damemi Thank you for all your contributions thus far :D

I've created PR #867  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notifications from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-05-30 22:54] mrbobbytables commented on #861
@sethp-nr thanks for your help with the aws cluster-api provider :)

I've created PR #867  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-05-30 22:55] mrbobbytables commented on #862
@rudoi  thanks for your contributions to the cluster api and aws-cluster-api \o/

I've created PR #867  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-05-30 22:56] #830 closed

[2019-05-30 22:56] #860 closed

[2019-05-30 22:56] #861 closed

[2019-05-30 22:56] #862 closed

[2019-05-31 00:06] #844 closed

[2019-05-31 01:03] johnSchnake commented on #838
👍 Yes I'll act as a sponsor. I'm from the VMware org and interacted with @chardch numerous times on one of his PRs.

[2019-05-31 11:57] zhucan opened #870 "New membership for zhucan"
### GitHub Username
@zhucan

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-05-31 17:03] chardch commented on #838
Thanks, I appreciate it @johnSchnake!

[2019-05-31 17:22] ConnorDoyle commented on #839
Thanks for taking a look @nikhita!

Yes, apologies for the confusion. In the (distant) past for incubator projects we used to push an entire history to a bare repo. We can also transfer ownership of the existing repository. Either way is ok with me. For now the code is here: https://github.com/IntelAI/nodus and I've just made the repo public now that we have cleared our internal SDL process.

I po

[2019-05-31 18:42] xing-yang commented on #870
+1 @zhucan has been contributing in kubernetes-csi.  He should be a member of kubernetes-csi.

[2019-05-31 21:42] michmike commented on #863
cc: @nikhita (I think you are the owner here :) )

[2019-06-01 10:06] mrbobbytables commented on #838
Hey there @chardch, thank you for all your contributions so far :)

I've created PR #871  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-01 11:24] #838 closed

[2019-06-02 09:16] nikhita commented on #863
/assign

[2019-06-02 09:49] nikhita commented on #863
@michmike Thanks for the cc! :)

Created https://github.com/kubernetes-sigs/sig-windows-tools :tada:

Also created https://github.com/kubernetes/org/pull/872 to add teams for the repo and https://github.com/kubernetes/community/pull/3759 to add the repo to sigs.yaml.

Once both PRs merge and teams are granted access (I'll manually grant access after the postsubmit runs), we can close this issue. :

[2019-06-02 09:51] nikhita commented on #823
:wave: just wanted to check if this issue can be closed or do you still need this to be open?

[2019-06-02 10:41] nikhita commented on #839
Thanks, @ConnorDoyle! I'll wait for approval on the mailing list. :+1:

To save time later, I audited [requirements](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories) needed for migrating repos. Few points about them:

- Everyone who has contributed to the repo needs to have signed the CNCF CLA. @Ajay191191 and @scttl d

[2019-06-02 11:40] nikhita commented on #855
I've _almost_ setup Netlify - the only thing remaining is enabling HTTPS but Netlify tells me that the DNS configuration needs to be setup first.

@tstromberg can you create a `netlify.toml` file at the root of the minikube repo ([example](https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md#example-netlify-configuration)) and create a [subproject domai

[2019-06-02 12:05] nikhita commented on #714
For reference, `micro-demos` in this case is: https://github.com/kubernetes-retired/contrib/tree/master/micro-demos

Would be happy to own it if we decide it's PM. :)

Looks like the next steps should be discussing this on the SIG Arch/PM mailing list? :)

[2019-06-02 17:02] michmike commented on #863
thank you so much for doing this so quickly and for editing the yaml files. i was going to do that :)
i approved both PRs

[2019-06-02 17:04] nikhita commented on #863
Awesome, thank you! Once the postsubmit run completes and the teams are created on GitHub, I'll grant them access and close this issue. :)

[2019-06-02 20:33] nikhita commented on #863
Granted access, will close this after https://github.com/kubernetes/community/pull/3759 merges.

[2019-06-03 00:26] jeefy opened #873 "Netlify site for k-sigs/release-notes"
### Repository
kubernetes-sigs/release-notes

### Project domain
relnotes.k8s.io

### Additional context for request
This will be an end-user facing site for release notes and should not fall under the `sigs` subdomain.

cc @spiffxp @justaugustus @onyiny-ang

[2019-06-03 04:53] nikhita commented on #863
https://github.com/kubernetes/org/issues/863 merged.

/close

[2019-06-03 04:53] #863 closed

[2019-06-03 04:59] nikhita commented on #873
This makes sense to me, but since this is under k8s.io, a lgtm from either the wg-k8s-infra leads @spiffxp @dims  or @thockin would be good. :)

[2019-06-03 04:59] nikhita commented on #873
xref https://github.com/kubernetes/k8s.io/issues/270

[2019-06-03 05:26] justaugustus commented on #873
Approved on the SIG Release side!
Thanks again for your work on this, @jeefy!! :)

[2019-06-03 08:07] nikhita commented on #873
/assign

[2019-06-03 10:26] dims commented on #873
I like it. +1

[2019-06-03 10:56] nikhita commented on #873
The "Basic build settings" are autopopulated for this repo, but they were empty for other repos that I have configured before. @jeefy @mrbobbytables can you confirm that this looks ok? If yes, I'll move forward with deploying it.

![Screenshot from 2019-06-03 16-24-43](https://user-images.githubusercontent.com/16105680/58796897-c7b18c80-85fe-11e9-8cc3-e8aa416f389e.png)

[2019-06-03 12:02] jeefy commented on #873
That looks good. :) It might be possible it's auto-populating what's in `netlify.toml` -- did the others have that file set up?

[2019-06-03 13:47] nikhita commented on #873
Yup, this was it! :)

https://kubernetes-sigs-release-notes.netlify.com/ has been setup though the build is failing with:

[code]

HTTPS will be enabled once DNS records are updated.

[2019-06-03 14:55] nikhita commented on #873
This above issue was fixed in https://github.com/kubernetes-sigs/release-notes/pull/33. The site is now live at http://kubernetes-sigs-release-notes.netlify.com/.

Create https://github.com/kubernetes/k8s.io/pull/272 to update DNS records.

[2019-06-03 15:03] vladimirvivien commented on #870
+1

[2019-06-03 15:04] vladimirvivien commented on #870
@msau42 @jsafrane  Please add @zhucan to kubernetes-sig as a member.

[2019-06-03 15:17] msau42 commented on #870
+1

[2019-06-03 18:59] #798 closed

[2019-06-04 00:30] mrbobbytables commented on #870
Hey there @zhucan, thank you for all your contributions so far :)

I've created PR #  to add you to the Kubernetes-csi Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2019-06-04 00:33] #870 closed

[2019-06-04 07:07] piotrmiskiewicz opened #877 "REQUEST: New membership for @piotrmiskiewicz"
### GitHub Username
@piotrmiskiewicz

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2019-06-04 07:39] soltysh commented on #877
:+1: from me

[2019-06-04 09:25] SataQiu opened #878 "REQUEST: New kubernetes-sigs membership for SataQiu"
### GitHub Username
@SataQiu

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-06-04 09:33] nikhita commented on #878
Since you already a member of @kubernetes, feel free to create a PR to add yourself :)

[2019-06-04 09:49] #878 closed

[2019-06-04 14:07] xing-yang opened #880 "Create a new repo for execution-hook under kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
execution-hook

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
liyinan926, kow3ns

### If not a staging repo, who should have write access
liyinan926, kow3ns, jingxu97, xing-yang

### If not a staging repo, who should be listed as a

[2019-06-04 14:09] xing-yang commented on #880
@saad-ali, @liyinan926, @kow3ns, @jingxu97, @msau42 PTAL.  Thanks.

[2019-06-04 14:24] nikhita commented on #880
Since this repo would be under sig apps, I'll wait for approval from other of the sig apps chairs.

[2019-06-04 15:27] jberkhahn commented on #877
:+1: from me as well

[2019-06-04 16:41] jberkhahn opened #882 "REQUEST: Migrate kubernetes-incubator/service-catalog to kubernetes-sigs/service-catalog"
### New Repo, Staging Repo, or migrate existing
migrate exisiting github.com/kubernetes-incubator/service-catalog

### Requested name for new repository
service-catalog

### Which Organization should it reside
e.g. kubernetes-sigs

### If not a staging repo, who should have admin access
the kubernetes-sigs team `service-catalog-admins`

### If not a staging repo, who should have write access
the k

[2019-06-04 16:43] jberkhahn commented on #882
@cblecker @nikhita

[2019-06-04 16:46] cblecker commented on #882
/assign

@jberkhahn What kind of time frame are you looking at for doing this?

[2019-06-04 16:49] jberkhahn commented on #882
For us, as soon as possible, everything should be buttoned up already on our end. Beyond that, whatever works for you.

[2019-06-04 18:54] cblecker commented on #882
Move complete https://github.com/kubernetes-sigs/service-catalog

[2019-06-04 18:54] #882 closed

[2019-06-04 21:08] jberkhahn commented on #877
/cc @cblecker

[2019-06-05 00:38] k-toyoda-pi opened #885 "REQUEST: New membership for k-toyoda-pi"
### GitHub Username
@k-toyoda-pi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-06-05 00:41] oomichi commented on #885
Big +1, thanks for your contribution!

[2019-06-05 00:44] s-ito-ts opened #886 "REQUEST: New membership for s-ito-ts"
### GitHub Username
@s-ito-ts

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-06-05 00:46] oomichi commented on #886
+1 for the membership.

[2019-06-05 05:59] lubinsz opened #887 "REQUEST: New membership for lubinsz"
### GitHub Username
@lubinsz

### Organization you are requesting membership in
@kubernetes

### Requirements
- *[x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membersip.md)
- *[x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- *[x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-06-05 06:03] mkumatag commented on #887
I love to see @lubinsz in the kubernetes org, Thanks @lubinsz for your contributions so far and keep up the good job. 👍

[2019-06-05 09:54] dims commented on #886
+1 from me

[2019-06-05 09:55] dims commented on #885
+1 from me

[2019-06-05 10:15] k-toyoda-pi commented on #885
Thank you so much!

[2019-06-05 10:19] s-ito-ts commented on #886
Thank you so much!

[2019-06-05 17:23] BenTheElder commented on #887
+1 :-)

[2019-06-05 18:52] medyagh opened #888 "REQUEST: New membership for medyagh"
### GitHub Username
@medyagh

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-06-05 19:02] sharifelgamal commented on #888
I'll sponsor @medyagh

[2019-06-06 01:35] mrbobbytables commented on #877
Reconciling the move of service-catalog from incubator to k-sigs 👍

@piotrmiskiewicz, thanks for all your help with service-catalog :)

I've created PR #889 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs 🎉

/assign

[2019-06-06 01:36] mrbobbytables commented on #885
Hey there @k-toyoda-pi , thank you for all your contributions so far :)

I've created PR #889  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-06 01:39] mrbobbytables commented on #886
@s-ito-ts , thank you for all your help with the various e2e tests and shellcheck lints :)

I've created PR #889  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-06 01:40] mrbobbytables commented on #887
@lubinsz, thank you for all your contributions to the project \o/

I've created PR #889  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/pony party

[2019-06-06 02:02] #877 closed

[2019-06-06 02:02] #885 closed

[2019-06-06 02:02] fenglixa commented on #888
🎉🎉🎉🎉 Congratulations

[2019-06-06 02:02] #886 closed

[2019-06-06 02:02] #887 closed

[2019-06-06 05:51] nzoueidi opened #890 "REQUEST: New membership for nzoueidi"
### GitHub Username
@nzoueidi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-06-06 10:00] oxddr opened #891 "REQUEST: New membership for oxddr"
### GitHub Username
@oxddr

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-06-06 10:01] mm4tt commented on #891
+1

[2019-06-06 10:09] moshloop opened #892 "REQUEST: New membership for moshloop"
### GitHub Username
@moshloop

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-06-06 10:33] afbjorklund commented on #888
I sponsor @medyagh

[2019-06-06 11:14] nikhita commented on #890
+1

@nzoueidi Thanks for consistently helping out contribex related issues :)

[2019-06-06 11:17] mrbobbytables commented on #890
Big +1 here :D

[2019-06-06 13:16] timothysc commented on #892
+1 from me as sponsor.

[2019-06-06 14:16] castrojo commented on #890
Another big +1 from me!

[2019-06-06 19:46] jberkhahn opened #893 "Migrate pmorie/go-open-service-broker-client to kubernetes-sigs/go-open-service-broker-client"
### New Repo, Staging Repo, or migrate existing
migrate existing

### Requested name for new repository
go-open-service-broker-client

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
the kubernetes-sigs team `service-catalog-admins`

### If not a staging repo, who should have write access
the kubernetes-sigs team `service-catalog-mai

[2019-06-06 19:59] jberkhahn opened #894 "migrate osbkit/minibroker to kubernetes-sigs/minibroker"
### New Repo, Staging Repo, or migrate existing
migrate existing github.com/osbkit/minibroker

### Requested name for new repository
minibroker

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
the kubernetes-sigs team `service-catalog-admins`

### If not a staging repo, who should have write access
the kubernetes-sigs team `service-c

[2019-06-06 20:07] carolynvs commented on #894
I would love to have it migrate over to the kubernetes-sigs/minibroker, but I'm not sure who to work with on that. @cblecker sorry to drag you in but I hear helped with moving service-catalog. Would you know who I can chat with to do the migration of the repository?

[2019-06-06 20:08] chases2 opened #895 "REQUEST: New membership for chases2"
### GitHub Username
e.g. @chases2

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-06-06 20:20] spiffxp commented on #895
+1 from sponsor

[2019-06-06 21:58] stevekuznetsov commented on #895
+1 from sponsor as well :)

[2019-06-06 23:21] cblecker commented on #892
@moshloop You will need one additional eligible sponsor.

[2019-06-06 23:23] cblecker commented on #888
Invite will be sent out as soon as #896 merges. Welcome to @kubernetes! 🚀

[2019-06-06 23:23] cblecker commented on #890
Invite will be sent out as soon as #896 merges. Welcome to @kubernetes! 🚀

[2019-06-06 23:23] cblecker commented on #895
Invite will be sent out as soon as #896 merges. Welcome to @kubernetes! 🚀

[2019-06-06 23:38] #888 closed

[2019-06-06 23:38] #890 closed

[2019-06-06 23:38] #895 closed

[2019-06-07 05:22] nikhita commented on #894
:wave: Anyone on the [GitHub admin team](https://github.com/kubernetes/community/tree/master/github-management#github-administration-team) should be able to do it  :)

/assign

I'll take this as a lgtm :+1:

[2019-06-07 05:25] nikhita commented on #893
The meetings notes say `Discuss moving OSB Client API from pmorie to OSB GitHub org or Kub-Sig`.

@pmorie can you explicitly lgtm here for the record? Thanks!

[2019-06-07 06:07] nikhita commented on #894
Donated repos need to satisfy some [requirements](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories). As per these requirements, the following steps need to be done before the migration:

- All contributors need to have the CNCF CLA signed. The following contributors do not have the CLA signed:
   - @mook-as
   - @Daniel

[2019-06-07 06:31] nikhita commented on #893
Donated repos need to satisfy some [requirements](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories). As per these requirements, the following steps need to be done before the migration:

- All contributors need to have the CNCF CLA signed.
@mook-as: you do not have the CLA signed. Could you sign the CNCF CLA so that htt

[2019-06-07 06:32] nikhita commented on #893
/assign

[2019-06-07 06:53] nikhita commented on #894
Oh also -- @carolynvs, could you add me as an admin to the repo to transfer it? It's okay to do this after all the requirements above have been addressed too. :+1:

[2019-06-07 14:39] carolynvs commented on #894
Thanks for the guidance, @nikhita! I've made you admin and will start working on the task list this weekend.

[2019-06-07 17:23] DanielJonesEB commented on #894
@nikhita Thanks for alerting me. I have now signed the CLA.

[2019-06-07 17:34] mook-as commented on #894
I have attached my GitHub account to my existing LF account (which has signed an employer-wide CLA).

[2019-06-08 02:21] nikhita commented on #894
@mook-as Thanks, I can confirm that your CLA has been signed.

@DanielJonesEB Thanks for getting to this so quickly! Unfortunately, the bot still says that you don't have the CLA signed. Could you try again or reach out to Linux Foundation at https://github.com/kubernetes/community/blob/master/CLA.md#troubleshooting? Sorry for the trouble! :bowing_woman:

[2019-06-10 06:58] DanielJonesEB commented on #894
@nikhita I've signed a Corporate CLA for EngineerBetter Ltd. It's definitely signed (I went through the HelloSign process, documents were emailed, and I can see the PDF in the LF portal), and the commit was made with the same email address I used when setting up the LF stuff.

The support suggestion is to open a ticket, but I'm not sure what I should say other than "I think I've signed a CLA but t

[2019-06-10 17:20] mirandachrist opened #898 "REQUEST: New membership for mirandachrist"
### GitHub Username
@mirandachrist

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-06-10 17:39] stevekuznetsov commented on #898
+1 from this sponsor :)

[2019-06-10 18:07] cjwagner commented on #898
+1 from me as well!

[2019-06-10 19:05] dlipovetsky commented on #892
+1 from me as sponsor as well

(I'm an approver/reviewer in the @kubernetes-sigs org.)

[2019-06-10 19:40] philips opened #899 "create repo: kubernetes/funding"
### New Repo, Staging Repo, or migrate existing

new repo

### Requested name for new repository

funding

### Which Organization should it reside

kubernetes

### If not a staging repo, who should have admin access

@kubernetes/steering-committee

### If not a staging repo, who should have write access

@kubernetes/steering-committee

### If not a staging repo, who should be listed as approvers i

[2019-06-10 19:49] dims commented on #899
+1 thanks!

[2019-06-10 21:14] mrbobbytables commented on #892
Hey there @moshloop, with @dlipovetsky +1 you're good sponsor wise for membership to kubernetes-sigs. If this is okay, would you mind amending your request and remove kubernetes? If not, could you please find an additional sponsor?

Thanks!

[2019-06-10 22:01] timothysc commented on #899
/lgtm
+1

[2019-06-10 22:55] spiffxp commented on #899
/committee steering

[2019-06-10 22:55] spiffxp commented on #899
/assign
Taking https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#creating-repositories for a test drive

[2019-06-10 23:03] spiffxp commented on #899
Opened https://github.com/kubernetes/community/pull/3789 to add to sigs.yaml

[2019-06-10 23:04] spiffxp commented on #899
I skipped this step, instead opting to use the `@kubernetes/steering-committee` team directly

[2019-06-10 23:06] spiffxp commented on #899
This can be closed once https://github.com/kubernetes/community/pull/3789 merges

[2019-06-10 23:12] f0rmiga commented on #894
@nikhita @carolynvs I've also attached my Github account to the Linux Foundation account. Let me know if everything looks fine. :)

[2019-06-11 03:57] moshloop commented on #892
@mrbobbytables done

[2019-06-11 11:46] andrewsykim opened #901 "Request Netlify site for kubernetes/cloud-provider-vsphere"
### Repository
kubernetes/cloud-provider-vsphere (https://github.com/kubernetes/cloud-provider-vsphere/)

vSphere provider user docs using gitbooks + netlify

### Project domain
vsphere.sigs.k8s.io (https://github.com/kubernetes/k8s.io/pull/277)

NOTE: Must match domain request.
See subproject site request docs for more information:
http://git.k8s.io/community/github-management/subproject-site-req

[2019-06-11 11:48] andrewsykim commented on #901
/assign @nikhita

[2019-06-11 12:10] nikhita commented on #901
Afaik up until now, we've always added a dns record after verifying that the site works fine.

https://kubernetes-sigs-cloud-provider-vsphere.netlify.com/ has been setup, but due to the redirects mentioned in https://github.com/kubernetes/cloud-provider-vsphere/blob/master/netlify.toml it redirects to https://vsphere.sigs.k8s.io/, which doesn't work because the DNS config hasn't been updated yet.

[2019-06-11 12:29] saschagrunert opened #902 "REQUEST: New membership for saschagrunert"
### GitHub Username
@saschagrunert

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-06-11 12:30] andrewsykim commented on #901
@nikhita is there a way to point it at a temporary fork/branch? Want to avoid switching the config file back and forth in `master` if possible

[2019-06-11 12:30] nikhita commented on #902
+1

[2019-06-11 12:31] nikhita commented on #902
Since https://github.com/kubernetes-sigs/release-notes is in k-sigs, do you also want membership for k-sigs? :)

[2019-06-11 12:32] nikhita commented on #901
I'm not sure if it's possible to point to a fork, but it is possible to point to a branch in the upstream repo.

[2019-06-11 12:35] saschagrunert commented on #902
I am already in, thanks! :pray:

[2019-06-11 12:37] andrewsykim commented on #901
@nikhita pushed `vsphere-docs` branch in the upstream repo which removes the netlify redirects

[2019-06-11 12:38] onyiny-ang commented on #902
+1!

On Jun 11, 2019, at 08:35, Sascha Grunert <notifications@github.com<mailto:notifications@github.com>> wrote:

Since https://github.com/kubernetes-sigs/release-notes is in k-sigs, do you also want membership for k-sigs? :)

I am already in, thanks! 🙏

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/kubernetes/org/issues/90

[2019-06-11 12:41] jeefy commented on #902
+1 yay!

On Tue, Jun 11, 2019, 08:38 Lindsey Tulloch <notifications@github.com>
wrote:

[2019-06-11 12:52] nikhita commented on #894
@DanielJonesEB @f0rmiga Unfortunately the bot says that the CLA isn't signed for both of you. :disappointed:

Can you open a dummy PR against https://github.com/kubernetes-sigs/contributor-playground? The bot should add a `cncf-cla: yes` label, but if it adds a `cncf-cla: no` label instead, linking that PR to the support ticket should be a little helpful.

Apologies for the back and forth on this,

[2019-06-11 13:02] nikhita commented on #901
https://kubernetes-sigs-cloud-provider-vsphere.netlify.com/ works now! :+1:

[2019-06-11 13:27] DanielJonesEB commented on #894
Aha - I'd signed the Corporate CLA on behalf of EngineerBetter Ltd, but I needed to [sign up as an employee](https://identity.linuxfoundation.org/projects/cncf/employee-signup) additionally.

[2019-06-11 17:48] f0rmiga commented on #894
@nikhita Looks like I got it right now. @DanielJonesEB Thanks for pointing it out. :)

[2019-06-11 22:51] scttl commented on #839
Apologies for the delay here @nikhita but I've now signed the CNCF CLA.

[2019-06-11 22:57] mrbobbytables commented on #892
Great! Thanks @moshloop 😄

[2019-06-11 23:55] shyamjvs commented on #891
+1

[2019-06-12 01:09] mrbobbytables commented on #902
@saschagrunert thank you for all your help with sig-release and the release notes project 👍

I've created PR #906  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/pony party

[2019-06-12 01:11] mrbobbytables commented on #898
Hey there @mirandachrist , thank you for your help with test-infra <3

I've created PR #906  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-12 01:12] mrbobbytables commented on #892
With all that sorted out, @moshloop you're good to join kubernetes-sigs :D

I've created PR #906  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-06-12 01:13] mrbobbytables commented on #891
@oxddr  thank you for all your contributions so far :)

I've created PR #906 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-12 01:27] #891 closed

[2019-06-12 01:27] #898 closed

[2019-06-12 01:27] #902 closed

[2019-06-12 03:43] nikhita commented on #901
Changed the branch to `master` in netlify.

Closing, but if you find anything weird on the next push to master, please ping me on slack or open this issue.

/close

[2019-06-12 03:43] #901 closed

[2019-06-12 03:44] nikhita commented on #899
https://github.com/kubernetes/community/pull/3789 has merged

/close

[2019-06-12 03:44] #899 closed

[2019-06-12 03:47] nikhita commented on #894
@DanielJonesEB @f0rmiga yay, thank you so much for following up! :)

@carolynvs please ping me here or on slack once the other tasks are done and I'll migrate the repo. :white_check_mark:

[2019-06-12 03:49] nikhita commented on #839
@scttl Awesome, thanks for following up! I can confirm that your CLA is signed. :+1:

[2019-06-12 05:41] saschagrunert commented on #902
Thank you so much! 🙏 🙂

[2019-06-12 08:09] piotrmiskiewicz opened #907 "REQUEST: New membership for piotrmiskiewicz"
### GitHub Username
@piotrmiskiewicz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-06-12 16:03] jberkhahn commented on #907
:+1: from me

[2019-06-12 20:54] mook-as commented on #893
Huh, I seem to have missed the mail for this one somehow. Luckily, I've got my CLA fixed over in #894, so there's no action for me to do here at this point. 🎉

[2019-06-13 01:18] hongkailiu opened #908 "REQUEST: New membership for hongkailiu"
### GitHub Username
@hongkailiu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-06-13 01:41] cjwagner commented on #908
+1 from me.

[2019-06-13 07:42] clyang82 opened #909 "REQUEST: New membership for clyang82"
### GitHub Username
@clyang82

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-06-13 07:50] gyliu513 commented on #909
+1, thanks @clyang82 for your great contribution to Cluster API !

[2019-06-13 08:01] k82cn commented on #909
+1 to me, thanks :)

[2019-06-13 16:39] stevekuznetsov commented on #908
+1 from me as well

[2019-06-13 21:31] aaron-prindle opened #910 "REQUEST: New membership for aaron-prindle"
### GitHub Username
aaron-prindle

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-06-14 00:02] cheftako commented on #910
:+1:

[2019-06-14 00:03] cheftako commented on #910
Thanks for all the contributions and reviews.

[2019-06-14 00:05] cheftako commented on #910
+1

[2019-06-14 00:13] cblecker commented on #910
@aaron-prindle As outlined in our membership guidelines, you need a minimum of two sponsors from different companies. As @cheftako has confirmed sponsorship of your application, you'll need to substitute another sponsor for @lavalamp.

[2019-06-14 00:43] mrbobbytables commented on #908
@hongkailiu  thank you for all your help with test-infra :D

I've created PR #911   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-14 00:44] mrbobbytables commented on #909
Hey there @clyang82, thank you for all your help with the ibmcloud cluster-api :)

I've created PR #911  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-06-14 00:50] #908 closed

[2019-06-14 00:50] #909 closed

[2019-06-14 01:59] clyang82 commented on #909
Thanks @gyliu513 @k82cn @mrbobbytables for your support.

[2019-06-14 03:56] yue9944882 commented on #910
+1

[2019-06-14 08:48] mhamdisemah opened #912 "REQUEST: New membership for mhamdisemah"
### GitHub Username
@mhamdisemah

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-06-14 08:49] aaron-prindle commented on #910
@cblecker, i've updated my sponsor to be @yue9944882.  Let me know if anything else needs to be done additionally, thanks.

[2019-06-14 09:14] soltysh commented on #907
:+1: from me too

[2019-06-14 11:05] hongkailiu commented on #908
@mrbobbytables Thanks a lot.

[2019-06-14 11:23] justaugustus commented on #912
Thanks for contributing, @mhamdisemah!
+1

[2019-06-14 21:13] msau42 commented on #880
/assign liyinan926 kow3ns

[2019-06-14 21:13] liyinan926 commented on #880
/lgtm
/approve

[2019-06-14 23:10] guineveresaenger commented on #912
+1 from me as well!

[2019-06-15 02:48] mrbobbytables commented on #907
@piotrmiskiewicz -- I've created PR #913  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification. That should take care of the group membership issue from earlier. :)

Welcome to @kubernetes! 🎉

/assign

[2019-06-15 02:49] mrbobbytables commented on #910
@aaron-prindle  thank you for all your contributions to the project :)

I've created PR #913  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-15 02:50] mrbobbytables commented on #912
Hey there @mhamdisemah , thank you for all your contributions to the project \o/

I've created PR #913  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-15 02:58] #907 closed

[2019-06-15 02:58] #910 closed

[2019-06-15 02:58] #912 closed

[2019-06-15 18:14] simplytunde opened #914 "REQUEST: New membership for simplytunde"
### GitHub Username
@simplytunde

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-06-15 18:16] justaugustus commented on #914
@simplytunde -- Thank you so much for your contributions on the Release Team! +1! :)

[2019-06-15 18:58] jimangel commented on #914
@simplytunde has been helping with the sig-docs release team since 1.14, +1!

[2019-06-17 16:13] stealthybox opened #919 "REQUEST: New membership for stealthybox"
### GitHub Username
@stealthybox

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-06-17 18:56] drubin opened #921 "REQUEST: New membership for drubin"
### GitHub Username
@drubin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-06-17 19:01] lavalamp commented on #921
+1

On Mon, Jun 17, 2019 at 11:56 AM David Rubin <notifications@github.com>
wrote:

[2019-06-17 19:18] brendandburns commented on #921
+1

[2019-06-18 00:24] justaugustus commented on #921
Thanks so much for your contributions thus far!
I've created #923 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-18 00:24] justaugustus commented on #914
I've created #923 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-18 00:27] justaugustus commented on #919
(@stealthybox is already a member of the `kubernetes` org and implicitly eligible for membership to `kubernetes-sigs`)

Thanks so much for your contributions thus far!
I've created #923 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-18 00:32] #914 closed

[2019-06-18 00:32] #919 closed

[2019-06-18 00:32] #921 closed

[2019-06-18 04:04] tstromberg commented on #855
@nikhita - Thanks! My apologies for the delay as I've been away on holiday :) I've added a netlify.toml file, and made a subproject domain request: https://github.com/kubernetes/k8s.io/issues/284

[2019-06-18 13:50] carolynvs commented on #894
@nikhita I have performed all of the tasks, would you please take a look when you have time and migrate the repository?

[2019-06-18 14:50] medmedchiheb opened #925 "REQUEST: New membership for medmedchiheb"
### GitHub Username
@medmedchiheb
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-06-18 16:02] tpepper commented on #925
/assign @rlenferink
/assign @tpepper

[2019-06-18 16:10] tpepper commented on #925
+1

[2019-06-18 16:13] nikhita commented on #894
Migration done: https://github.com/kubernetes-sigs/minibroker :tada:

Also created https://github.com/kubernetes/community/pull/3813 to update sigs.yaml.

@carolynvs can the netlify webhook be removed? There seems to be no `netlify.toml` as well.

We also have a process around requesting subproject websites if you want to integrate netlify btw: https://github.com/kubernetes/community/blob/master/g

[2019-06-18 17:01] carolynvs commented on #894
I'll remove the netlify stuff. I was going to use it then didn't end up getting around to hooking up a website (minibroker.sh).

[2019-06-18 17:04] nikhita commented on #894
@carolynvs :+1:

Once https://github.com/kubernetes/community/pull/3813 merges, we can close this issue.

[2019-06-18 17:23] rlenferink commented on #925
+1 thanks for your contributions so far @medmedchiheb 🎉

[2019-06-18 17:26] carolynvs commented on #894
Thank you SOOOO MUCH for all of your guidance in getting minibroker migrated over. You did so much and made it really easy for me to donate. ❤️  I really appreciate it and am so excited to see minibroker turned into a subproject! _squeeeee_

[2019-06-18 22:55] xing-yang commented on #880
Hi @nikhita, liyinan has approved this request.  Do we still need someone else to approve before this repo can be created?  Thanks.

[2019-06-19 02:43] nikhita commented on #894
Webhook removed and https://github.com/kubernetes/community/pull/3813 merged.

/close

[2019-06-19 02:43] #894 closed

[2019-06-19 03:02] nikhita commented on #880
While I'm good with approval from @liyinan926 since they would be an approver/owner for the new subproject, subproject creation for sig apps require approval from SIG leads - https://github.com/kubernetes/community/blob/master/sig-apps/charter.md#subproject-creation. If one of the leads could lgtm here, I'll move forward with the repo creation.

/assign @janetkuo @kow3ns @mattfarina @prydonius

[2019-06-19 03:51] nikhita commented on #855
This is done :tada:

/close

[2019-06-19 03:51] #855 closed

[2019-06-19 04:33] f0rmiga opened #926 "REQUEST: New membership for @f0rmiga"
### GitHub Username
@f0rmiga

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-06-19 04:37] nikhita commented on #926
+1

/meow space

[2019-06-19 04:40] nikhita commented on #926
Just for the record: @f0rmiga also needs to be added as an approver to minibroker (https://github.com/kubernetes-sigs/minibroker/pull/33), which requires membership to the org.

[2019-06-19 07:42] tstromberg commented on #855
Thank you @nikhita ! You are awesome!

[2019-06-19 15:22] carolynvs commented on #926
+1 💯

[2019-06-19 23:40] corneliusweig opened #929 "REQUEST: New membership for corneliusweig"
### GitHub Username
@corneliusweig

### Organization you are requesting membership in
(at)kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-06-19 23:57] ahmetb commented on #929
I approve.

[2019-06-20 01:01] mrbobbytables commented on #925
Hey there @medmedchiheb  thank you for all your contributions thus far \o/

I've created PR #931  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-20 01:02] mrbobbytables commented on #926
@f0rmiga thanks for helping with the minibroker project :)

I've created PR # 931 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-06-20 01:02] #925 closed

[2019-06-20 01:02] #926 closed

[2019-06-20 02:01] onlydole opened #932 "REQUEST: New membership for onlydole"
### GitHub Username
@onlydole

### Organization you are requesting membership in
[@kubernetes](https://github.com/kubernetes?type=source)

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev

[2019-06-20 02:04] kbarnard10 commented on #932
+1

[2019-06-20 02:43] mysunshine92 opened #933 "REQUEST: New membership for mysunshine92"
### GitHub Username
@mysunshine92

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-06-20 02:45] qingsenLi opened #934 "REQUEST: New membership for qingsenLi"
### GitHub Username
@qingsenLi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-06-20 02:45] mysunshine92 commented on #933
/cc @zhangxiaoyu-zidif  @xiangpengzhao

[2019-06-20 02:47] qingsenLi commented on #934
/cc @zhangxiaoyu-zidif @xiangpengzhao
thanks

[2019-06-20 02:52] cblecker commented on #932
I know that guy!
Not a sponsor, but +1 from me too

[2019-06-20 02:57] f0rmiga commented on #926
@mrbobbytables Thanks! It's a pleasure helping with it!

[2019-06-20 11:22] hoyho opened #935 "REQUEST: New membership for hoyho"
### GitHub Username
@hoyho

### Organization you are requesting membership in
@kubernetes
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-06-20 11:53] jsafrane commented on #935
+1 from me as sponsor.

[2019-06-20 12:09] michaelgugino opened #936 "REQUEST: New membership for michaelgugino"
### GitHub Username
@michaelgugino

### Organization you are requesting membership in
@sig-cluster-lifecycle

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-06-20 12:13] nikhita commented on #936
@michaelgugino just to be clear, you are requesting membership in @kubernetes-sigs, correct?

[2019-06-20 12:29] michaelgugino commented on #936
@nikhita I'm looking to work on cluster-api subproject of sig-cluster-lifecycle.  So, whatever membership that entails, I'm not entirely sure?  I thought maybe it was sig-cluster-lifecycle.

[2019-06-20 12:31] nikhita commented on #936
Yeah, that would be @kubernetes-sigs :)

[2019-06-20 12:39] ncdc commented on #936
Not sure if I need to reply, but I agree to sponsor Michael's application.

[2019-06-20 12:41] ncdc commented on #936
@michaelgugino I think you need to have sponsors from different companies, so we'll need to find another person since both Tim & I are at VMware.

[2019-06-20 12:42] zhangxiaoyu-zidif commented on #933
+1

[2019-06-20 12:43] zhangxiaoyu-zidif commented on #934
+1

[2019-06-20 12:54] castrojo commented on #932
+1 from me, Taylor's been a shadow for a few releases now on the comms team and will be the lead for 1.16.

[2019-06-20 14:12] nwoods3 commented on #932
+1 (non-binding), Taylor has been a great Comms shadow for the 1.14 and 1.15 releases.

[2019-06-20 14:28] chuckha opened #937 "Request for new repo owned by Cluster API group"
### New Repo, Staging Repo, or migrate existing
New repository

### Requested name for new repository
cluster-api-bootstrap-provider-kubeadm

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@chuckha +https://github.com/kubernetes-sigs/cluster-api/blob/master/OWNERS_ALIASES

### If not a staging repo, who should have write access
@chu

[2019-06-20 14:30] davidewatson commented on #936
👍 from me.

[2019-06-20 14:30] chuckha opened #938 "Migrate existing repo"
### New Repo, Staging Repo, or migrate existing
migrate existing from https://github.com/chuckha/cluster-api-provider-docker to kubernetes-sigs

### Requested name for new repository
cluster-api-provider-docker

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@chuckha, sig-cluster-lifecycle-leads

### If not a staging repo, who shoul

[2019-06-20 14:31] timothysc commented on #936
That's 2 now.

[2019-06-20 14:32] timothysc commented on #938
Could you cross-link a PR to the community to update the OWNERS files references for the subproject.  They should also have similar owners.

[2019-06-20 14:35] chuckha commented on #938
isn't it all copy and pasted like https://github.com/kubernetes-sigs/cluster-api-provider-aws/blob/master/OWNERS_ALIASES ?

[2019-06-20 14:38] timothysc commented on #938
I was aussuming ~= https://github.com/kubernetes-sigs/cluster-api/blob/master/OWNERS_ALIASES + whoever has been working on the repo with you.

[2019-06-20 14:40] chuckha commented on #938
ok, the goal is to manage owners of projects entirely through the cluster-api OWNERS_ALIAS/OWNERS file?

That seems weird to me, does that mean projects owned by the cluster-api group outside of cluster-api will *not* have an OWNERS file? Should we delete the different provider owners files and merge them into cluster-api OWNERS?

[2019-06-20 14:40] timothysc commented on #936
@michaelgugino - welcome.  https://github.com/kubernetes/community/blob/master/sig-cluster-lifecycle/grooming.md is SOP.

[2019-06-20 14:48] timothysc commented on #938
/lgtm

[2019-06-20 14:48] nikhita commented on #938
/assign

[2019-06-20 15:03] nikhita commented on #938
The repo needs `CONTRIBUTING.md` and `SECURITY_CONTACTS` files but I'm good with adding these post migration as well. :+1:

And I ran a [FOSSA license scan](https://app.fossa.com/projects/git%2Bgithub.com%2Fnikhita-bot%2Fcluster-api-provider-docker/refs/branch/master/cbf3654b0b1d6ff513be844714d9e24c261bbe22) on the repo. There are a few false positives listed, but it's all good. :+1:

GitHub doesn

[2019-06-20 15:14] nikhita commented on #938
Migration done: https://github.com/kubernetes-sigs/cluster-api-provider-docker :tada:

Created https://github.com/kubernetes/org/pull/939 to add teams to provide admins + write access to the repo. We'll also need to update sigs.yaml... let's reuse https://github.com/kubernetes/community/pull/3818? :)

[2019-06-20 15:16] xiangpengzhao commented on #933
+1 :+1:

[2019-06-20 15:28] nikhita commented on #937
/assign @mrbobbytables

[2019-06-20 15:29] nikhita commented on #937
@timothysc can you lgtm here?

[2019-06-20 15:45] xiangpengzhao commented on #934
+1 :tada:

[2019-06-20 17:12] msau42 commented on #935
+1!

[2019-06-20 21:15] Liujingfang1 opened #940 "REQUEST: New membership for Liujingfang1"
### GitHub Username
Liujingfang1

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-06-20 21:17] seans3 commented on #940
+1

[2019-06-20 21:17] mook-as opened #941 "REQUEST: New membership for mook-as"
### GitHub Username
@mook-as

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-06-20 21:19] carolynvs commented on #941
+1

🎉

[2019-06-20 21:28] nzoueidi commented on #936
Hey there @michaelgugino thank you for all your contributions so far :)

I've created PR #942   to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-06-20 21:29] f0rmiga commented on #941
+1
:clap:

[2019-06-20 21:29] nzoueidi commented on #935
Hey there @hoyho thank you for all your contributions so far :)

I've created PR #942  to add you to the Kubernetes and Kubernetes-csi Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and to @kubernetes-csi! 🎉

/assign

[2019-06-20 21:30] nzoueidi commented on #934
Hey there @qingsenLi thank you for all your contributions so far :)

I've created PR #942  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-20 21:31] nzoueidi commented on #933
Hey there @mysunshine92 thank you for all your contributions so far :)

I've created PR #942 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-20 21:32] nzoueidi commented on #932
Hey there @onlydole thank you for all your contributions so far :)

I've created PR #942 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-06-20 21:40] justaugustus commented on #932
+1! Thanks for your help on the Release Team, Taylor!!

[2019-06-20 21:43] onlydole commented on #932
Thank you all for being such an incredible team to work with! I'm looking forward to doing more and more within the community 😁 🎉

[2019-06-20 21:58] #933 closed

[2019-06-20 21:58] #934 closed

[2019-06-20 21:58] #935 closed

[2019-06-20 21:58] #936 closed

[2019-06-20 21:58] #932 closed

[2019-06-20 23:28] alexeldeib opened #943 "REQUEST: New membership for alexeldeib"
### GitHub Username
@alexeldeib

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-06-20 23:32] justaugustus commented on #943
+1! Ace has been a big help on Cluster API Azure! :)

[2019-06-20 23:34] juan-lee commented on #943
+1 - I vouch for @alexeldeib based on his involvement in Cluster API Azure and other projects we've collaborated on.

[2019-06-21 14:42] justinsb commented on #892
So I was looking to assign moshloop in https://github.com/kubernetes/kube-deploy/tree/master/imagebuilder but that apparently needs kubernetes org membership.

Is there a reason why kubernetes-sigs org membership is different to kubernetes org membership?

+1 to @moshloop for kubernetes org membership, anyway - there is no difference in my mind.

/reopen

[2019-06-21 17:27] janetkuo commented on #880
This proposal LGTM.

[2019-06-21 19:11] nzoueidi commented on #929
Hey @corneliusweig you will need one additional eligible sponsor. Thus, you should reach out to them so they can sponsor you.

[2019-06-21 19:59] corneliusweig commented on #929
Hey @nzoueidi, thanks for the reminder. I reached out to @.soltysh but he's quite busy I presume. So I'm still waiting for his response.

[2019-06-21 21:07] zulandar opened #944 "REQUEST: New membership for zulandar"
### GitHub Username
@zulandar

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-06-21 21:56] brendandburns opened #945 "Add dependabot to the kubernetes-client organization."
### Organization or repository
kubernetes-client/javascript

### Name of integration
dependabot

### Link to integration website
https://github.com/marketplace/dependabot-preview

### Describe what is attempting to be accomplished
Dependabot automatically sends PRs for updates to dependencies due to security issues.

### Additional context for request
N/A

Thanks!

[2019-06-21 22:53] cblecker commented on #945
Hey @brendandburns! I've been investigating this.. GitHub now integrates dependabot right into your repo settings, but there have been two issues in testing:
- It opens branches directly on your repo (not a fork), so these new branches get protected by prow
- The bot doesn't have a CLA signed, so it gets blocked on the CLA context

We're working on both of these, and I'll let you know when we make

[2019-06-22 05:06] nikhita commented on #880
/assign

[2019-06-22 05:35] nikhita commented on #880
Created https://github.com/kubernetes-sigs/execution-hook :tada:

Also created:
- https://github.com/kubernetes/org/pull/946 - to add teams to grant admin/write access.
- https://github.com/kubernetes/community/pull/3832 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2019-06-22 20:13] justaugustus commented on #937
+1

[2019-06-22 20:14] justaugustus commented on #940
+1

[2019-06-22 20:20] nikhita commented on #938
Granted access to relevant teams.

We can close this issue once https://github.com/kubernetes/community/pull/3822 merges, and the repo has `CONTRIBUTING.md` and `SECURITY_CONTACTS` files.

[2019-06-22 20:48] #892 closed

[2019-06-22 20:48] #940 closed

[2019-06-22 20:48] #941 closed

[2019-06-22 20:48] #943 closed

[2019-06-22 20:48] justaugustus commented on #892
Approved as @justinsb and @timothysc are kubernetes org sponsors. I've created #947 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

ref: https://kubernetes.slack.com/archives/C1TU9EB9S/p1561131100303800

[2019-06-22 20:50] justaugustus commented on #940
Thanks so much for your contributions thus far!
I've created #947 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-22 20:50] justaugustus commented on #941
Thanks so much for your contributions thus far!
I've created #947 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-22 20:50] justaugustus commented on #943
Thanks so much for your contributions thus far!
I've created #947 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-24 14:57] carolynvs commented on #944
+1

[2019-06-24 15:45] justinsb commented on #938
Should this be cluster-api-provider-docker or cluster-api-provider-cri?

[2019-06-24 16:03] chuckha commented on #938
I played with that idea! but it's strictly docker right now. As it progresses we may consider a rename in future.

[2019-06-24 16:15] timothysc commented on #937
/lgtm

[2019-06-24 16:15] timothysc commented on #937
/assign @timothysc

[2019-06-24 16:54] mrbobbytables commented on #937
Should be able to get this created later today or at the latest early tomorrow morning 👍

[2019-06-24 17:55] f0rmiga commented on #944
+1

[2019-06-24 20:22] justaugustus commented on #944
Hey @zulandar, @f0rmiga appears to only be a member of kubernetes-sigs.
You'll need to find one more non-Microsoft sponsor who is already a reviewer/approver in the kubernetes org.

Check out https://github.com/kubernetes/community/blob/master/community-membership.md#requirements for more details. :)

[2019-06-24 20:23] justaugustus commented on #929
Hey @soltysh, do you have a moment to approve @corneliusweig's org membership?

[2019-06-24 20:37] carolynvs commented on #944
@zulandar  Did you mean to apply to the kuberentes org or to kubernetes-sigs? Just asking in case you intended to apply to kubernetes-sigs, because both minibroker and service-catalog are in the kubernetes-sigs organization.

[2019-06-24 20:45] zulandar commented on #944
@carolynvs kubernetes-sigs was the org I was intending to apply for. I've adjusted the request.

@justaugustus I've adjusted my request let me know if I need another sponsor.

[2019-06-24 21:41] justaugustus commented on #944
Thanks for the clarification, @carolynvs! We'll get you processed, @zulandar! :)

[2019-06-24 22:00] nzoueidi commented on #944
Hey there @zulandar , thank you for all your contributions so far :)

I've created PR #950  to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-06-24 22:04] #944 closed

[2019-06-24 22:19] mrbobbytables commented on #937
Hey there @chuckha The repo has been created here:
https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm 👍

Before creating the teams, I just want to double check -- for the admin and write access permissions, are you asking for everyone in the `OWNERS_ALIASES` to be granted access? or just the `sig-cluster-lifecycle-leads` similar to the request in #938 ?

[2019-06-24 22:31] chuckha commented on #937
I'm asking for me + leads so I don't have to bug a lead every time I need something, but I defer to @timothysc  who has opinions on this kind of thing.

[2019-06-24 22:35] chuckha commented on #937
Let me make my request more clear:

[code]

[2019-06-25 02:13] mrbobbytables commented on #937
- Repo has been created.
- Teams added in #951
Once https://github.com/kubernetes/community/pull/3839 is merged, things should be good to go, and the issue can be closed 👍

[2019-06-25 02:36] nikhita commented on #880
https://github.com/kubernetes/community/pull/3832 has merged.

/close

[2019-06-25 02:36] #880 closed

[2019-06-25 04:56] brendandburns commented on #945
@cblecker Thanks, I'm happy to guinea pig test anything you need, this will save us a bunch of time.

[2019-06-25 09:49] aojea opened #952 "REQUEST: New membership for aojea"
### GitHub Username

@aojea

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-06-25 09:57] nikhita commented on #952
+1

[2019-06-25 10:04] zhucan opened #953 "REQUEST: New membership for zhucan"
### GitHub Username
@zhucan

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-06-25 10:54] neolit123 commented on #952
+1. already a member of k/kuberentes-sigs so eligible for k/kubernetes too. :)

[2019-06-25 11:09] BenTheElder commented on #952
+100000!

On Tue, Jun 25, 2019 at 3:54 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-06-25 16:02] nikhita commented on #938
This is done.

/close

[2019-06-25 16:02] #938 closed

[2019-06-25 18:57] nikhita commented on #812
Looks like this is enabled now:

- https://github.com/orgs/kubernetes/packages
- https://github.com/orgs/kubernetes-sigs/packages

[2019-06-25 21:42] mrbobbytables commented on #937
As https://github.com/kubernetes/community/pull/3839 has now been merged, I am going to go ahead and close this issue.

@chuckha if you need anything else, please feel free to reopen. 😄

/close

[2019-06-25 21:42] #937 closed

[2019-06-25 23:30] srampal opened #956 "REQUEST: New membership for @srampal"
### GitHub Username
srampal

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-06-25 23:43] tashimi commented on #956
Welcome!

+1

![tenor-155941164](https://user-images.githubusercontent.com/719646/60140929-34d0c180-9768-11e9-9c4b-f7d24fa7d39a.gif)

[2019-06-26 02:08] marquiz opened #957 "Create new repository kubernetes-sigs/node-feature-discovery-operator"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
node-feature-discovery-operator

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@marquiz, @zvonkok

### If not a staging repo, who should have write access
@marquiz, @zvonkok

### If not a staging repo, who should be listed as appro

[2019-06-26 05:33] fenglixa opened #958 "REQUEST: New membership for fenglixa"
### GitHub Username
@fenglixa

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-06-26 06:12] nikhita commented on #957
/assign

[2019-06-26 06:32] nikhita commented on #957
Created https://github.com/kubernetes-sigs/node-feature-discovery-operator :tada:

Also created:

- https://github.com/kubernetes/org/pull/959 - to add GitHub teams to grant access to the repo
- https://github.com/kubernetes/community/pull/3845 - to add the repo to sigs.yaml

Once both PRs merge, we can close the issue.

[2019-06-26 06:34] nikhita commented on #956
+1

[2019-06-26 07:01] justaugustus commented on #952
(As a point of clarification, membership to `kubernetes` implicitly makes you eligible for membership to our other non-hidden orgs, but not the other way around.)

[2019-06-26 07:01] justaugustus commented on #952
@aojea -- Thanks so much for your contributions thus far!
I've created #960 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-26 07:01] justaugustus commented on #956
@srampal -- Thanks so much for your contributions thus far!
I've created #960 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-26 07:03] #952 closed

[2019-06-26 07:03] #956 closed

[2019-06-26 07:05] BenTheElder commented on #952
I know this is not the place to discuss this but ... I think we really should not distinguish between kubernetes-sigs and kubernetes as we move things out of the main org to kubernetes-sigs pretty aggressively. It sends a bad / the wrong message that kubernetes-sigs has a different bar as we move projects from kubernetes to kubernetes-sigs...

In any case, @aojea has done a lot of wonderful and wo

[2019-06-26 07:22] aojea commented on #952
Thanks folks

[2019-06-26 07:27] tstromberg commented on #958
I endorse this application.

[2019-06-26 07:31] RA489 commented on #958
+1 from me!

[2019-06-26 16:49] hantaowang opened #961 "REQUEST: New membership for @hantaowang"
### GitHub Username
@hantaowang

### Organization you are requesting membership in
https://github.com/kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https:/

[2019-06-26 16:57] msau42 commented on #961
+1

Will is going to be working extensively with the gce pd csi driver.

[2019-06-26 17:01] pswica opened #962 "REQUEST: New membership for @pswica"
### GitHub Username
@pswica

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-06-26 17:27] seans3 commented on #962
+1

[2019-06-26 17:59] spiffxp opened #963 "Investigate GitHub Subscriptions for our orgs"
### Organization or repository
kuberentes
kubernetes-client
kubernetes-csi
kubernetes-incubator
kubernetes-security
kubernetes-sigs
kubernetes-retired

### Describe the issue
These orgs have different billing settings.  It's not clear that they should.  ~At a minimum we should probably be using the "GitHub Team for Open Source" subscription everywhere~

UPDATE: GitHub Team for Open Source got fold

[2019-06-26 18:01] cblecker commented on #963
/assign

[2019-06-26 18:07] nikhita commented on #963
cc @idvoretskyi @dims

[2019-06-26 18:08] davidz627 commented on #961
+1
Will has been doing great work so far and I believe has much more to contribute :)

[2019-06-26 18:58] seans3 commented on #962
/assign

[2019-06-26 19:06] justaugustus commented on #962
+1. Peter has been diving in head-first on cleaning up some of the release engineering tooling and I'm looking forward to more contributions from him! :)

[2019-06-26 19:53] chuckha commented on #812
Following the registry instructions I end up with:

`unsupported: GitHub Package Registry is not enabled for user/org "kubernetes-sigs".Unfortunately, we can't accept package uploads.`

This is for a newly created (this/last week): https://github.com/kubernetes-sigs/cluster-api-provider-docker. Maybe I'm missing some permissions?

[2019-06-26 19:59] justaugustus commented on #812
@chuckha -- I believe you need `read:packages` and `write:packages` on your token scope, in addition to having write access to the repo.

[2019-06-26 20:00] chuckha commented on #812
i definitely have those in my token scope and have admin on the repository

[2019-06-26 20:00] justaugustus commented on #812
(none of which I've tested yet, but ref: https://help.github.com/en/articles/configuring-docker-for-use-with-github-package-registry)

[2019-06-26 20:04] justaugustus commented on #812
I'm wondering if there's a delineation between org-scoped packages and repo-scoped ones, in which case there may be a box that @kubernetes/owners needs to check and subsequently integrate in the peribolos config.

[2019-06-26 21:00] Verolop opened #964 "REQUEST: New membership for <@verolop>"
### GitHub Username
@verolop

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-06-26 21:01] justaugustus commented on #964
Enthusiastic +1 for Verónica! She's going to be a huge asset to the Release Team! :)

[2019-06-26 21:03] alejandrox1 commented on #964
SUPER MEGA +1

[2019-06-26 21:10] justaugustus commented on #961
@hantaowang -- you'll need to find one more non-Google sponsor, before I can add you to the org.

[2019-06-26 21:28] justaugustus commented on #958
Thanks so much for your contributions thus far!
I've created #965 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-26 21:28] justaugustus commented on #962
I've created #965 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-26 21:29] justaugustus commented on #964
I've created #965 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-06-26 21:38] justaugustus opened #966 "Kubernetes and kubernetes-sigs org membership should be equivalent"
We currently state policy that membership in the `kubernetes` org, makes you implicitly eligible for membership to our other non-private orgs, including `kubernetes-sigs`.

To [quote @BenTheElder](https://github.com/kubernetes/org/issues/952#issuecomment-505748808):

I think that membership at least to those two orgs should be equivalent.

WDYT, @kubernetes/owners?

ref: https://kubernetes.slack.c

[2019-06-26 21:39] justaugustus commented on #952
@BenTheElder -- I completely on all points and have opened https://github.com/kubernetes/org/issues/966 to discuss.

As an aside, I was surprised @aojea wasn't already in the org! :)

[2019-06-26 21:40] BenTheElder commented on #952
thanks @justaugustus!! :-)

[2019-06-26 21:59] #958 closed

[2019-06-26 21:59] #962 closed

[2019-06-26 21:59] #964 closed

[2019-06-27 05:03] soltysh commented on #929
Yes, sorry for the delay :+1: from me :)

[2019-06-27 13:35] idvoretskyi commented on #963
@spiffxp the proper way to handle the GitHub billing/plan questions - submit a request via the CNCF's ServiceDesk - https://github.com/cncf/servicedesk#how-do-i-file-a-ticket-with-the-service-desk.

[2019-06-27 14:04] nikhita commented on #812
I couldn't find any such option :confused:

But visiting https://github.com/kubernetes-sigs/cluster-api-provider-docker/packages, gives me this:

![Screenshot from 2019-06-27 19-31-17](https://user-images.githubusercontent.com/16105680/60272667-3807b100-9912-11e9-9d55-60e02bcaeb64.png)

I manually typed the URL, and couldn't find an option reach that URL through any place in the UI... :thinking:

[2019-06-27 14:06] detiber commented on #812
When I attempted to click the `Create a new package` button it redirected to the Package Registry docs (indicating beta).

[2019-06-27 14:08] nikhita commented on #812
@detiber thanks! Going to check with other GitHub admins on this, and will possibly write to GitHub about how to go about it. Will let you know! :+1:

[2019-06-27 14:27] chuckha commented on #812
Yep, that's exactly what happened to me, straight to the docs. Maybe it's not enabled in my account and I just have to wait until my name is on the beta list? oh well, i'm pretty excited for this to work!

[2019-06-27 14:30] idealhack commented on #962
+1

@pswica welcome on board!

[2019-06-27 15:33] msau42 commented on #953
+1 @zhucan is helping with snapshots

[2019-06-27 20:21] davidz627 commented on #961
@justaugustus, Will will be working primarily on the gcp-compute-persistent-disk-csi-driver which is mainly supported by Google folks so non-googlers have not had the chance to meet Will or review his code yet. I feel that since there are many Cloud Provider specific repo's in the "kubernetes-sigs" org that this may be a pattern that we see more of in the future. Are we able to get an exception fo

[2019-06-27 20:21] nzoueidi commented on #953
Hey @j-griffith @humblec do you have a moment to approve zhucan's org membership?

Thanks.

[2019-06-27 20:29] nzoueidi commented on #929
Hey there @corneliusweig, thank you for all your contributions so far :)

I've created PR #967   to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-06-27 20:33] #929 closed

[2019-06-27 20:47] j-griffith commented on #953
/approve

[2019-06-27 20:48] spiffxp commented on #966
This is residue leftover from kubernetes-incubator not having as high of a bar for admission.

I am unclear on whether the other orgs were in a similar situation.  I'd rather we explicitly reconcile that, and then say, excluding kubernetes-incubator,  membership in one is criteria enough for membership in all.

[2019-06-27 22:50] spiffxp commented on #963
/milestone v1.16

[2019-06-28 16:12] petr-muller opened #968 "REQUEST: New membership for petr-muller"
### GitHub Username
@petr-muller

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-06-28 16:14] Katharine commented on #968
+1

[2019-06-28 16:17] spiffxp commented on #968
+1 from sponsor

[2019-06-28 16:18] stevekuznetsov commented on #968
+1 from this sponsor

[2019-06-28 16:36] spiffxp commented on #968
/assign

[2019-06-28 16:41] spiffxp commented on #953
/assign

[2019-06-28 16:43] stevekuznetsov commented on #961
+1 from me as well
I looked at hantaowang’s linked PRs and it’s clear they’re actively contributing to the driver

[2019-06-28 16:44] spiffxp commented on #961
/assign

[2019-06-28 16:50] spiffxp commented on #968
Thanks for all of your contributions!

Once #969 that gets merged, you should get a membership invite notification.

Welcome to the project! 🎉

/meowvie

[2019-06-28 16:51] spiffxp commented on #961
Thanks for all of your contributions!

Once #969 gets merged, you should get a membership invite notification.

Welcome to the project! 🎉

/meowvie

[2019-06-28 16:51] spiffxp commented on #953
Thanks for all of your contributions!

Once #969 gets merged, you should get a membership invite notification.

Welcome to the project! 🎉

/meowvie

[2019-06-28 16:59] #953 closed

[2019-06-28 16:59] #961 closed

[2019-06-28 16:59] #968 closed

[2019-06-28 22:53] hantaowang commented on #961
Hi while this issue has been closed and the associated PR has been merged, I still have not received an invite to kubernetes-sigs. Does this normally take this long?

[2019-06-28 23:19] cblecker commented on #961
@hantaowang A piece of our CI was broken. You should now have an invite.

[2019-06-29 00:04] cblecker commented on #945
One puzzle piece is in place: https://github.com/kubernetes/test-infra/pull/13016

This will allow is to exempt these branches from protection, so we can clean them up.

[2019-06-30 04:14] justaugustus commented on #966
@spiffxp -- what would be the concrete action items to determine our bar and reconcile admission?

[2019-07-01 12:56] evillgenius75 opened #971 "REQUEST: New membership for evillgenius75"
### GitHub Username
@evillgenius75

### Organization you are requesting membership in
@kubernetes
e.g. (at)kubernetes

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x ] I have subscribed to the kubernetes-dev e-mail list (http

[2019-07-01 13:54] kacole2 commented on #971
/approve

[2019-07-01 14:01] rbitia opened #972 "REQUEST: New membership for @rbitia"
### GitHub Username
@rbitia

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-07-01 14:06] justaugustus commented on #971
+1! Looking forward to working with you this cycle! :)

[2019-07-01 14:06] justaugustus commented on #972
+1! Looking forward to working with you this cycle! :)

[2019-07-01 15:02] kacole2 commented on #972
+1

[2019-07-01 17:25] nzoueidi commented on #971
Hey there @evillgenius75, thank you for all your contributions so far :)

I've created PR #973 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-01 17:25] nzoueidi commented on #972
Hey there @rbitia, thank you for all your contributions so far :)

I've created PR #973  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-01 17:37] #971 closed

[2019-07-01 17:37] #972 closed

[2019-07-01 18:51] odinuge opened #975 "REQUEST: New membership for odinuge"
### GitHub Username
@odinuge

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-07-01 18:56] alexeldeib opened #976 "REQUEST: New membership for @alexeldeib"
### GitHub Username
@alexeldeib

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-07-01 18:56] BenTheElder commented on #975
+1, thank you!!

On Mon, Jul 1, 2019 at 11:51 AM Odin Ugedal <notifications@github.com>
wrote:

[2019-07-01 19:01] idealhack commented on #976
+1

Welcome, Ace!

[2019-07-01 20:29] jberkhahn commented on #893
Any update on this?

[2019-07-01 21:23] oomichi commented on #975
+1 from me :-)

[2019-07-02 07:54] cpanato opened #979 "REQUEST: New membership for @cpanato"
### GitHub Username
@cpanato

### Organization you are requesting membership in
kubernetes / release

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-07-02 08:52] idealhack commented on #979
+1

looking forward to working with you on release engineering :)

[2019-07-02 13:40] pswica commented on #979
I don't think I'm qualified to give a +1, but @cpanato has already helped fix up k/release in a few ways. I really look forward to working with them

[2019-07-02 13:42] josedonizetti opened #981 "REQUEST: New membership for josedonizetti"
### GitHub Username
@josedonizetti

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-07-02 13:44] nikhita commented on #979
+1

[2019-07-03 02:00] medyagh commented on #981
+1 I sponsor  @josedonizetti  as well

[2019-07-03 05:55] afbjorklund commented on #981
I sponsor @josedonizetti

[2019-07-03 09:26] josephburnett opened #983 "REQUEST: New membership for josephburnett"
### GitHub Username
josephburnett

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-07-03 09:39] MaciekPytel commented on #983
Big lgtm from me - Joe has been contributing to and relentlessly fixing bugs in HPA over the last few months. He's became the most active HPA contributor recently.

[2019-07-03 13:27] mattjmcnaughton commented on #975
Thank you for your great work so far :)

[2019-07-03 14:40] tstromberg commented on #981
I endorse @josedonizetti's membership request.

[2019-07-03 14:51] nzoueidi commented on #976
Hey @justaugustus do you have a minute to sponsor @alexeldeib membersip's org?

Thanks.

[2019-07-03 14:58] nzoueidi commented on #983
Hey there @josephburnett, unfortunately @draveness cannot sponsor you for membership in the @kubernetes org as they are not an approver or/and reviewer.

You should pick another eligible sponsor (that they are not goolger). Sponsors must be from multiple member companies.
Further details can be found here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

Th

[2019-07-03 15:04] draveness commented on #983
+1

[2019-07-03 17:19] amy opened #984 "REQUEST: New membership for @amy"
### GitHub Username
@amy

### Organization you are requesting membership in
e.g. @kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-07-03 17:21] chuckha commented on #984
Yes! Amy has helped significantly across various cluster-api owned projects (a subproject of sig-cluster-lifecycle)

+1!

[2019-07-03 17:22] cblecker commented on #984
+1

Thanks for your help in wg-k8s-infra!

[2019-07-03 17:24] dims commented on #984
+1 from me!

[2019-07-03 17:26] BenTheElder commented on #966
At minimum perhaps joining / being sponsored into github.com/kubernetes should imply membership into github.com/kubernetes-sigs if the bar is in fact somehow "lower"?

[2019-07-03 17:33] nikhita commented on #984
+10000000000 :)

/pony party

[2019-07-03 17:34] justaugustus commented on #984
+1! Looking forward to working with you on SIG Release! :)

[2019-07-03 17:35] justaugustus commented on #979
+1! Looking forward to working with you on Release Engineering! :)

[2019-07-03 17:36] justaugustus commented on #976
+1! Looking forward to working with you more on SIG Release and capz! :)

[2019-07-03 18:05] justaugustus commented on #984
Thanks so much for your contributions thus far!
I've created #985 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-07-03 18:06] justaugustus commented on #981
Thanks so much for your contributions thus far!
I've created #985 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-07-03 18:06] justaugustus commented on #979
Thanks so much for your contributions thus far!
I've created #985 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-07-03 18:06] justaugustus commented on #976
Thanks so much for your contributions thus far!
I've created #985 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-07-03 18:06] justaugustus commented on #975
Thanks so much for your contributions thus far!
I've created #985 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-07-03 18:10] #975 closed

[2019-07-03 18:10] #976 closed

[2019-07-03 18:10] #979 closed

[2019-07-03 18:10] #981 closed

[2019-07-03 18:10] #984 closed

[2019-07-03 19:05] ashish-amarnath opened #986 "REQUEST: New membership for ashish-amarnath"
### GitHub Username
e.g. (at)example_user
@ashish-amarnath

### Organization you are requesting membership in
e.g. (at)kubernetes
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-

[2019-07-04 00:02] nikhita commented on #812
I just got an email that explicitly said `Congratulations! You now have beta access to GitHub Package Registry for your account @kubernetes, @kubernetes-sigs.`.

@chuckha can you try again? Maybe it'll work now! :smile: :crossed_fingers:

[2019-07-04 00:36] detiber commented on #812
@nikhita I now see a packages tag when going to https://github.com/kubernetes-sigs, but I still do not see it for any of the repos that I am a maintainer for (such as cluster-api or cluster-api-provider-aws). Trying to go to the packages subdirectory for a repo (https://github.com/kubernetes-sigs/cluster-api-provider-aws/packages for example) and clicking on `Create new package` still goes straigh

[2019-07-04 00:41] nikhita commented on #812
I think this is maybe because it requires the packages to exist first? :thinking:

Can you try this locally without using the UI? Mainly asking because the email said this:

[code]

Heh, I can't see it either. Maybe this would show all packages that exist across all repos in the org?

If this doesn't work locally as described in https://help.github.com/en/articles/configuring-docker-for-use-with-g

[2019-07-04 00:46] detiber commented on #812
@nikhita just gave it a shot and this is the error message that I get:

[code]

[2019-07-04 01:04] nikhita commented on #812
@detiber :(

I'll write to GitHub and let you know more when I hear back. Thanks for bearing with the back and forth on this!

[2019-07-04 01:16] detiber commented on #812
np, thanks for bearing with me through the back and forth

[2019-07-04 01:18] feiskyer commented on #983
lgtm according to his excellent contributions of HPA.

[2019-07-04 06:38] YoubingLi opened #987 "REQUEST: New membership for YoubingLi"
### GitHub Username
@YoubingLi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-07-04 07:49] josephburnett commented on #983
@nzoueidi, @feiskyer has agreed to sponsor me.

[2019-07-04 08:49] nikhita commented on #812
@chuckha @detiber can you try again? :grimacing:

Heard back from GitHub:

[code]

[2019-07-04 09:39] nikhita commented on #823
Closing this since this doesn't need action from github admins. Please feel free to create the project board when ready. :)

Here's some more info regarding setting up project boards in kubernetes - https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#project-board-guidance.

[2019-07-04 09:39] #823 closed

[2019-07-04 09:40] nikhita commented on #839
@ConnorDoyle :wave: Just wanted to check if there are any updates on this?

[2019-07-04 11:06] detiber commented on #812
@nikhita omg, it works, it works!

Thank you!

[2019-07-04 11:13] nikhita commented on #812
Woot! :tada: :tada: :tada: :tada:

Closing this as done!

[2019-07-04 11:13] #812 closed

[2019-07-04 11:15] nikhita commented on #812
Just as a followup the `/packages` endpoint for the org shows all the packages across all repos in the org: https://github.com/orgs/kubernetes-sigs/packages

[2019-07-04 11:31] monotek commented on #812
Could somebody point me to the documentation how to use the registry?
We like to use it for the monitoring images of the EFK stack.

For more information see discussion in https://github.com/kubernetes/kubernetes/pull/79390 and https://github.com/kubernetes/kubernetes/issues/79432

[2019-07-04 11:33] nikhita commented on #812
@monotek https://help.github.com/en/articles/configuring-docker-for-use-with-github-package-registry :)

[2019-07-04 18:17] cblecker commented on #812
I'd caution beta use of this. There are caveats like you can't delete something you push up: https://help.github.com/en/articles/about-github-package-registry#deleting-a-package

[2019-07-04 18:24] ConnorDoyle commented on #839
Ajay signed the CLA last week and I’ll post back once the repo updates are complete

[2019-07-04 18:25] liggitt commented on #987
+1

[2019-07-05 08:11] monotek commented on #812
Thanks for the link :-)
Need to wait for an own repo in klubernetes-sigs to get startet...

[2019-07-05 13:10] nzoueidi commented on #986
Hey @vincepri @chuckha do you have moment to sponsor @ashish-amarnath's membership org?

Thanks.

[2019-07-05 13:58] chuckha commented on #986
Yes, we are both at the same company though and wondering what the rules around that are?

regardless, I am a +1

[2019-07-05 14:53] vincepri commented on #986
+1

[2019-07-05 14:54] justaugustus commented on #986
Yes @ashish-amarnath, you'll need another, non-VMware sponsor.
FWIW though, another +1 from VMware! :)

[2019-07-05 16:39] timothysc opened #988 "Creation of image-builder repository"
### New Repo, Staging Repo, or migrate existing
new repository

On July 2. 2019 sig-cluster-lifecycle approved the creation of an image-builder subproject.  The proposal can be found here: https://github.com/kubernetes/enhancements/pull/1102

### Requested name for new repository
image-builder

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admi

[2019-07-05 18:40] timothysc commented on #988
/assign @timothysc @luxas @justinsb

[2019-07-05 19:40] akutz commented on #988
Hi @timothysc,

I was hoping to be involved in this. Nevertheless, I recommend using CAPV's augmentation of the CAPA process as the basis for the new repository. Please see https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/tree/master/build/images. Thanks!

[2019-07-06 02:04] nikhita commented on #988
/assign

[2019-07-06 02:25] nikhita commented on #988
Created https://github.com/kubernetes-sigs/image-builder :tada:

Also created:

- https://github.com/kubernetes/org/pull/989 - to add GitHub teams
- https://github.com/kubernetes/community/pull/3876 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2019-07-06 02:31] nikhita commented on #812
Just posting this here in case anyone stumbles upon this issue:

The current recommendation is to request a staging repo for your sig/subproject. Instructions for it are detailed in this k-dev email: https://groups.google.com/forum/#!topic/kubernetes-dev/ZqdjjDIAISY (thanks @dims!).

[2019-07-07 12:21] nzoueidi commented on #987
Hey @cblecker do you have moment to sponsor @YoubingLi's org membership?

Thanks.

[2019-07-07 21:36] nzoueidi commented on #983
Hey there @josephburnett, thank you for all your contributions so far :)

I've created PR #990 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-07 23:50] #983 closed

[2019-07-08 01:38] cblecker commented on #987
+1 from me

[2019-07-08 04:44] oke-py opened #991 "REQUEST: New membership for oke-py"
### GitHub Username
@oke-py

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-07-08 05:15] nasa9084 commented on #991
+1
Thank you for your contribution :)

[2019-07-08 06:35] MasayaAoyama commented on #991
+1
Thank you for your help!

[2019-07-08 18:12] nzoueidi commented on #987
Hey there @YoubingLi, thank you for all your contributions so far :)

I've created PR #992  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-08 18:13] nzoueidi commented on #991
Hey there @oke-py, thank you for all your contributions so far :)

I've created PR #992  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-08 18:19] nzoueidi commented on #986
@ashish-amarnath can you find another non-VMware sponsor?

[2019-07-08 18:28] ehashman opened #993 "REQUEST: New membership for ehashman"
### GitHub Username
@ehashman

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-07-08 18:32] DirectXMan12 commented on #993
:+1: from me!

[2019-07-08 18:35] brancz commented on #993
:+1: from me as well!

[2019-07-08 18:39] ashish-amarnath commented on #986
Yes, working on that! :)

[2019-07-08 19:00] #987 closed

[2019-07-08 19:00] #991 closed

[2019-07-08 19:17] cblecker commented on #993
/assign

[2019-07-08 19:21] cblecker commented on #993
Thanks for your help with Kubernetes instrumentation and observability!

Invite will be sent out as soon as #994 merges. Welcome to @kubernetes! 🚀

[2019-07-08 19:34] #993 closed

[2019-07-09 05:12] nikhita commented on #988
This is done.

[2019-07-09 05:12] #988 closed

[2019-07-09 05:35] nikhita commented on #986
+1

[2019-07-09 06:50] nasa9084 opened #996 "Request admin permission for docs-l10n"
### Organization or repository
kubernetes/website, docs-l10n

### Users affected
@nasa9084

### Describe the issue
I'm an owner of docs-ja project, to manage the project (rebase & force-push before PR to master), I need permission to the repository (I don't know why only I do not have the permission but other approvers for this project have...)

[2019-07-09 07:52] nikhita commented on #996
@nasa9084 Please create a PR to add yourself to https://github.com/kubernetes/org/blob/master/config/kubernetes/sig-docs/teams.yaml#L167. That should give you the required permissions.

[2019-07-09 07:59] nasa9084 commented on #996
@nikhita Thank you for your direction. I have created.

[2019-07-09 09:28] #996 closed

[2019-07-09 16:07] josiahbjorgaard opened #999 "REQUEST: New membership for @josiahbjorgaard"
### GitHub Username
@josiahbjorgaard

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-07-09 16:14] xmudrii commented on #999
+1

[2019-07-09 17:31] ashish-amarnath commented on #986
@nzoueidi I have another non-vmware sponsor now :)

[2019-07-09 19:27] nzoueidi commented on #999
Hey @josiahbjorgaard unfortunately @MikeSpreitzer can't sponsor your kubernetes org's membership.
You need to find another eligible sponsor where they are approve and/or sponsor in the kubernetes org.

Thanks.

[2019-07-09 19:27] nzoueidi commented on #986
/assign

[2019-07-09 19:32] nzoueidi commented on #986
Hey there @ashish-amarnath, thank you for all your contributions so far :)

I've created PR #1000 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-07-09 23:48] #986 closed

[2019-07-10 00:34] spiffxp commented on #966
@justaugustus to me, reconcile means:
- for each of the other orgs, who is in that org that is not in kubernetes?
- were they added after Sep 20, 2018 (this is the date we serviced the first membership request through the process we use today)
  - if yes, they can be auto-added to kubernetes
  - if not, they'll need to apply to become kubernetes members
- at the end of this, everyone is a kubernet

[2019-07-10 15:50] josiahbjorgaard commented on #999
I edited to add @lachie83 for second sponsor

[2019-07-10 17:26] lachie83 commented on #999
+1

[2019-07-10 17:26] lachie83 commented on #999
cc @justaugustus

[2019-07-10 17:27] justaugustus commented on #999
+1! Looking forward to working with you this cycle, @josiahbjorgaard!

[2019-07-10 19:53] nzoueidi commented on #999
Hey there @josiahbjorgaard, thank you for all your contributions so far :)

I've created PR #1001 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-10 20:00] #999 closed

[2019-07-11 02:45] JamieRachel opened #1002 "REQUEST: New membership for JamieRachel"
### GitHub Username
(at)JamieRachel

### Organization you are requesting membership in
(at)kubernetes & (at) kubernetes/community

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail l

[2019-07-11 15:59] sbueringer opened #1004 "REQUEST: New membership for sbueringer"
### GitHub Username
@sbueringer

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-07-12 00:04] jichenjc commented on #1004
+1 to me ~

[2019-07-12 11:29] nzoueidi commented on #1002
/cc @parispittman @mrbobbytables

[2019-07-12 11:31] mrbobbytables commented on #1002
+1 from me :) Jamie will be helping with the contributor summits.

[2019-07-12 13:59] chrigl commented on #1004
+1

[2019-07-12 15:50] parispittman commented on #1002
+1

[2019-07-12 22:09] nzoueidi commented on #1002
Hey there @JamieRachel, thank you for all your contributions so far :)

I've created PR #1007 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-12 22:10] nzoueidi commented on #1004
Hey there @sbueringer, thank you for all your contributions so far :)

I've created PR #1007 to add you to the kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-07-12 22:17] #1002 closed

[2019-07-12 22:17] #1004 closed

[2019-07-14 05:49] justaugustus commented on #966
@nzoueidi -- Is this something you'd be able to work on?

[2019-07-14 14:45] nzoueidi commented on #966
yep, thank you @justaugustus for pinging me.

/assign

[2019-07-14 23:03] cblecker commented on #966
Before we get started on actual reconciling work, we need consensus on the plan. I'm not entirely convinced that @spiffxp's plan is all we need to take care of.

- We really need to address inactive members, and pulling back permissions from those that are inactive. We're asking for problems from a security prospective by not doing this.
- Because members can be sponsored by the org that they are

[2019-07-15 03:15] yue9944882 commented on #945
a polite bump, any updates in this thread?

[2019-07-15 03:29] cblecker commented on #945
I opened a PR earlier today (https://github.com/kubernetes/test-infra/pull/13445) to get the regex in place. Still need to figure out the CLA stuff though.

[2019-07-15 19:12] cblecker commented on #945
Poked CLA issue again: https://github.com/cncf/foundation/issues/3#issuecomment-511532076

[2019-07-15 21:08] BenTheElder commented on #966
Agree that we need consensus :upside_down_face:

Regarding these specific points:

Which security perspective, exactly? Are we just talking about org membership here or rights beyond that like being a repo admin or OWNER?

I don't think this issue has anything to do with the extended permissions or OWNERS, and the former (merely being an org member) is not really a viable "security" bar...

Again

[2019-07-16 01:09] cblecker commented on #966
Man, I didn't do a great job explaining what I meant in that last comment haha.

So my thought was, we shouldn't grant new permissions to inactive folks. I don't want to auto or mass invite someone from k-sigs to k/ if they're inactive, or vice versa. Culling inactive folks prevents this.

Okay, so Alice, Bob, and Charlie:
- Bob is a participant in subproject A. Was added to k-sigs with no bar/spo

[2019-07-16 01:34] BenTheElder commented on #966
Ah I understand now, thanks! Culling inactive members makes sense in that context.

For "Alice, Bob, and Charlie" one of the suggestions above was to replicate from the main org out, in which case I don't think any of those concerns apply.

I currently think only joining github.com/kubernetes should imply membership / invites for other orgs (namely github.com/kubernetes-sigs) and require some spon

[2019-07-16 01:42] justaugustus commented on #966
@BenTheElder -- I think the implication @cblecker was trying to make was that because Bob's membership was not vetted/sponsored that the chain of people he may sponsor afterwards could be considered "tainted".

[2019-07-16 02:23] BenTheElder commented on #966
@justaugustus I don't think bob's status is in question if we are having people join Kubernetes, sponsored by Kubernetes org members (and additionally gaining kubernetes-sigs invites) -- bob never was and still won't be eligible to sponsor for github.com/kubernetes and we don't need to propogate membership in the reverse direction.

We can just suggest that people who aren't in Kubernetes yet shou

[2019-07-16 02:25] openstacker opened #1008 "REQUEST: New membership for openstacker"
### GitHub Username
openstacker

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-07-16 02:35] cblecker commented on #966
It doesn't need to exist. But if we are going to explicitly say "It doesn't exist" then as I said, we just need to tackle all the angles. Will review again tomorrow when my brain works better lol

[2019-07-16 02:47] justaugustus commented on #966
(Also, fuzzy-brained on this :/)

[2019-07-16 04:05] thandayuthapani opened #1010 "REQUEST: New membership for thandayuthapani"
### GitHub Username
@thandayuthapani
### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2019-07-16 04:27] jichenjc commented on #1008
+1 to me

[2019-07-16 04:37] hex108 commented on #1010
+1

Thanks for the contribution!

[2019-07-16 06:00] lingxiankong commented on #1008
+1 from me, welcome!

[2019-07-16 10:18] dims commented on #1008
+1 from me!

[2019-07-16 10:30] k82cn commented on #1010
*1

[2019-07-16 20:24] nzoueidi commented on #1008
Hey there @openstacker, thank you for all your contributions so far :)

I've created PR #1011 to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-16 20:25] nzoueidi commented on #1010
Hey there @thandayuthapani, thank you for all your contributions so far :)

I've created PR #1008 to add you to the kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-07-16 20:46] #1008 closed

[2019-07-16 20:46] #1010 closed

[2019-07-16 22:29] mrbobbytables commented on #966
Just to provide some data, here is a spreadsheet of the current membership data (as of 2019-07-16 6pm ET) across orgs.

https://docs.google.com/spreadsheets/d/1crsIfA-PhjKYDiX4klsX4zhtL1XU2MVG5JPso2I27Vc/edit#gid=0

Some interesting observations:
- 87 Members across orgs are not in the Kubernetes Org
- 29 Members in incubator are not in the Kubernetes Org
- 43 Members in kubernetes-sigs that are n

[2019-07-17 02:18] thandayuthapani commented on #1010
Thanks all!!

[2019-07-17 10:38] runyontr opened #1014 "REQUEST: New membership for runyontr"
### GitHub Username
@runyontr

### Organization you are requesting membership in
@kubernetes-sigs
@wg-multitenancy

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gr

[2019-07-17 18:18] tashimi commented on #1014
/approve

![tenor-231525071](https://user-images.githubusercontent.com/719646/61400207-a3470200-a884-11e9-9e09-1a0ae34405c3.gif)

[2019-07-17 18:23] dims commented on #1014
+1 from me

[2019-07-17 21:15] timothysc opened #1016 "Retire `kubernetes-sigs/kubeadm-dind-cluster`"
### Repository to retire
Please move https://github.com/kubernetes-sigs/kubeadm-dind-cluster to the retired org.

### Repository and/or sig subproject owners that are approving this archival
e.g. sig-cluster-lifecycle

### When should this be done
e.g. Anytime.

### Additional context for request
We are deprecating this solution in favor of KIND.
Many thanks to the folks who blazed the trail, and

[2019-07-17 22:10] nzoueidi commented on #1014
Hey there @runyontr, thank you for all your contributions so far :)

I've created PR #1017  to add you to the kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-07-17 22:17] nzoueidi commented on #1014
Hey @runyontr can you please find another non-VMware sponsor? Sponsors for org membership should be from different companies.
https://github.com/kubernetes/community/blob/master/community-membership.md#requirements
Thanks.

[2019-07-18 00:54] cblecker commented on #1016
To whoever picks this up: Please ensure the full procedure in https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#removing-repositories is followed

[2019-07-18 00:56] mrbobbytables commented on #1016
I'll take care of it :)

/assign

[2019-07-18 13:58] timothysc commented on #1016
Please hold on final ok from @ivan4th gives the thumbs up.

[2019-07-18 14:37] runyontr commented on #1014
@nzoueidi I'll ask some contacts and get back to you.

[2019-07-18 14:43] klueska opened #1018 "REQUEST: New membership for klueska"
### GitHub Username
@klueska

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-07-18 15:40] ConnorDoyle commented on #1018
Wholehearted +1 👍

[2019-07-18 17:38] derekwaynecarr commented on #1018
about time!

+1

[2019-07-18 22:22] rjbez17 commented on #1014
+1

[2019-07-20 15:09] nzoueidi commented on #1018
Hey there @klueska, thank you for all your contributions so far :)

I've created PR #1019 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-20 16:22] #1018 closed

[2019-07-22 17:37] divyenpatel opened #1023 "REQUEST: New membership for divyenpatel"
### GitHub Username
@divyenpatel
### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-07-22 17:44] codenrhoden commented on #1023
@divyenpatel you are already a member of the `kubernetes` org. No sponsorship is needed. You just open up a PR as documented in [this section](https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem)

[2019-07-22 21:05] hantaowang opened #1024 "REQUEST: New membership for hantaowang"
### GitHub Username
@hantaowang

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-07-22 21:18] davidz627 commented on #1024
+1
Will has made important contributions to k8s storage through new functionality, and soon some scalability testing.

[2019-07-22 22:34] clarketm opened #1026 "REQUEST: New membership for clarketm"
### GitHub Username
@clarketm

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-07-22 22:34] spiffxp commented on #1026
+1 from sponsor

[2019-07-22 22:43] cblecker commented on #1026
+1 from me. Thanks for your work making our python better!

[2019-07-22 23:15] alisondy opened #1027 "REQUEST: New membership for alisondy"
### GitHub Username
@alisondy

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-07-22 23:16] mrbobbytables commented on #1027
+1 here :)

[2019-07-22 23:16] parispittman commented on #1027
+1

[2019-07-22 23:21] cblecker commented on #1027
+💯

[2019-07-22 23:38] BenTheElder commented on #1027
+1000

On Mon, Jul 22, 2019, 16:21 Christoph Blecker <notifications@github.com>
wrote:

[2019-07-23 00:22] sethmccombs opened #1028 "REQUEST: New membership for sethmccombs"
### GitHub Username
@sethmccombs

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-07-23 00:23] lachie83 commented on #1028
+1

[2019-07-23 00:23] mrbobbytables commented on #1028
+1 \o/

[2019-07-23 00:24] alisondy commented on #1028
+1 ✨🎉

[2019-07-23 00:30] karenhchu opened #1029 "REQUEST: New membership for <karenhchu>"
### GitHub Username
@karenhchu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-07-23 00:38] onlydole commented on #1029
+1 to @karenhchu! She has been a strong OSS and Kubernetes advocate for some time, and she should be added to the Kubernetes organization.

[2019-07-23 00:48] alisondy commented on #1029
+1 ✨🎉

[2019-07-23 01:14] justaugustus commented on #1029
Enthusiastic +1!
/pony party

[2019-07-23 01:15] justaugustus commented on #1028
Enthusiastic +1!
/pony party

[2019-07-23 01:15] justaugustus commented on #1027
Enthusiastic +1!
/pony party

[2019-07-23 01:40] cartyc opened #1030 "REQUEST: New membership for <cartyc>"
### GitHub Username
@cartyc

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-07-23 01:42] mrbobbytables commented on #1030
+1  \o/

/meow space

[2019-07-23 01:55] onyiny-ang commented on #1030
+1
:tada:

[2019-07-23 02:01] justaugustus commented on #1030
+1!
Also, moar cats:
/meow

[2019-07-23 02:16] mrbobbytables commented on #1014
@runyontr unfortunately @rjbez17 cannot sponsor you for org membership. a Sponsor must be an approver or reviewer in an owners file within @kubernetes or the org you're applying membership to. For more information, please see the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

[2019-07-23 02:22] #1023 closed

[2019-07-23 02:22] #1026 closed

[2019-07-23 02:22] #1027 closed

[2019-07-23 02:22] #1028 closed

[2019-07-23 02:22] #1029 closed

[2019-07-23 02:22] #1030 closed

[2019-07-23 02:23] justaugustus commented on #1029
I've created #1031 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.
Looking forward to your contributions!!

Welcome! :)
/assign

[2019-07-23 02:23] justaugustus commented on #1028
I've created #1031 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.
Looking forward to your contributions!!

Welcome! :)
/assign

[2019-07-23 02:23] justaugustus commented on #1027
I've created #1031 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.
Looking forward to your contributions!!

Welcome! :)
/assign

[2019-07-23 02:24] justaugustus commented on #1030
I've created #1031 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.
Looking forward to your contributions!!

Welcome! :)
/assign

[2019-07-23 02:25] justaugustus commented on #1026
Thanks so much for your contributions thus far!
I've created #1031 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-07-23 02:25] justaugustus commented on #1023
Thanks so much for your contributions thus far!
I've created #1031 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-07-23 02:31] cartyc commented on #1030
Thanks @justaugustus ! I'm looking forward to getting more involved :)

This deserves another cat

/meow

[2019-07-23 03:47] paulbouwer opened #1032 "REQUEST: New membership for paulbouwer"
### GitHub Username
@paulbouwer

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-07-23 04:03] onyiny-ang commented on #1032
+1!

[2019-07-23 04:04] kcmartin opened #1033 "REQUEST: New membership for kcmartin"
### GitHub Username
@kcmartin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-07-23 04:17] onyiny-ang commented on #1033
+1
the whole gang is here now :dancer: !
/pony party

[2019-07-23 06:28] saschagrunert commented on #1032
+1 :tada:

[2019-07-23 06:28] saschagrunert commented on #1033
+1 :tada:

[2019-07-23 09:12] kittenking opened #1034 "REQUEST: New membership for @kittenking"
### GitHub Username

@kittenking

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-07-23 09:18] shaileshsharan98 opened #1035 "REQUEST: New membership for @shaileshsharan98"
### GitHub Username

@shaileshsharan98

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-07-23 09:45] zacharysarah commented on #1034
+1, @kittenking is initializing a new Tamil localization of the Docs. We’re excited for their work!

[2019-07-23 09:47] zacharysarah commented on #1035
+1, @shaileshsharan98 is initiating a new Tamil localization of the docs along with @kittenking (#1034).

[2019-07-23 09:52] nikhita commented on #1035
+1

[2019-07-23 09:53] nikhita commented on #1034
+1

[2019-07-23 13:37] kittenking commented on #1034
/pony party

[2019-07-23 15:27] lpabon opened #1036 "REQUEST: New membership for lpabon"
### GitHub Username
@lpabon

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-07-23 15:28] dims commented on #1036
+1 from me!

[2019-07-23 15:28] nikhita commented on #1016
/assign @ivan4th
for final confirmation

[2019-07-23 15:39] nikhita commented on #893
/assign @pmorie
for final go ahead

For the record, got an lgtm for this on slack - https://kubernetes.slack.com/archives/C232SF3TK/p1563895810010100.

I can take care of the OWNERS files, etc post migration but the copyright boilerplate will need to be added pre-migration because of legal rules...

[2019-07-23 15:40] nikhita commented on #714
/sig pm

[2019-07-23 16:28] nikhita commented on #957
This is done now.

/close

[2019-07-23 16:28] #957 closed

[2019-07-23 17:20] tashimi commented on #1014
@rjbez17 is now on the owners page for the multi-tenancy repo, which he should have been previously as he's a highly engaged contributor

[2019-07-23 17:23] srampal commented on #1014
+1

[2019-07-23 17:25] srampal commented on #1014
/approve

[2019-07-23 18:34] jingxu97 commented on #1024
+1

[2019-07-23 19:54] markyjackson-taulia opened #1037 "REQUEST: New membership for markyjackson-taulia"
### GitHub Username
@markyjackson-taulia

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2019-07-23 20:09] jberkus commented on #1037
/lgtm

[2019-07-23 20:15] jberkus commented on #1037
/approve

[2019-07-23 20:26] mrbobbytables commented on #1037
+1 from sponsor :)

/pony party

[2019-07-24 07:50] ipochi opened #1039 "REQUEST: New membership for ipochi"
### GitHub Username
@ipochi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-07-24 14:29] pmorie commented on #893
/lgtm

[2019-07-24 14:37] onlydole commented on #1039
+1 to Imran - currently, he is serving as a communications shadow for the 1.16 release of Kubernetes.

[2019-07-24 15:49] jberkus commented on #1039
/approve

[2019-07-24 18:47] saad-ali commented on #1036
+1 from me as well! @lpabon has been a very active member of the Kubernetes CSI community.

[2019-07-24 20:39] nzoueidi commented on #1024
Hey @hantaowang sponsors should be from different companies. Can you find another eligible sponsor to sponsor your membership?

[2019-07-24 20:59] yuxiangqian opened #1040 "REQUEST: New membership for yuxiangqian"
### GitHub Username
@yuxiangqian

### Organization you are requesting membership in
kubernetes

### Requirements
- [ X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-07-24 21:01] nzoueidi commented on #1032
Hey there @paulbouwer, thank you for all your contributions so far :)

I've created PR #<PR number>  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-24 21:01] yuxiangqian commented on #1040
@saad-ali @msau42 @gnufied please +1 if you feel comfortable. thnx

[2019-07-24 21:02] nzoueidi commented on #1033
Hey there @kcmartin, thank you for all your contributions so far :)

I've created PR #1041 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-24 21:02] nzoueidi commented on #1034
Hey there @kittenking, thank you for all your contributions so far :)

I've created PR #1041 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-24 21:02] nzoueidi commented on #1035
Hey there @shaileshsharan98, thank you for all your contributions so far :)

I've created PR #1041 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-24 21:02] nzoueidi commented on #1036
Hey there @lpabon, thank you for all your contributions so far :)

I've created PR #1041 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-24 21:03] nzoueidi commented on #1037
Hey there @markyjackson-taulia, thank you for all your contributions so far :)

I've created PR #1041 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-24 21:15] msau42 commented on #1040
+1 @yuxiangqian is helping make sure our storage layer metrics are consistent amongst all operations

[2019-07-24 21:35] alculquicondor opened #1042 "REQUEST: New membership for alculquicondor"
### GitHub Username
@alculquicondor

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-07-24 22:02] gnufied commented on #1040
+1 from me.

[2019-07-24 22:18] Huang-Wei commented on #1042
+1

Welcome, @alculquicondor! Looking forward to seeing more contributions in the future.

[2019-07-24 23:43] ahg-g commented on #1042
+1, thanks @alculquicondor for your contributions so far, and looking forward to seeing more in the future.

[2019-07-25 01:49] #1014 closed

[2019-07-25 01:55] #1032 closed

[2019-07-25 01:55] #1033 closed

[2019-07-25 01:55] #1034 closed

[2019-07-25 01:55] #1035 closed

[2019-07-25 01:55] #1036 closed

[2019-07-25 01:55] #1037 closed

[2019-07-25 03:33] DaiHao opened #1043 "REQUEST: New membership for daihao"
### GitHub Username
@DaiHao

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-07-25 22:00] nzoueidi commented on #1039
Hey there @ipochi, thank you for all your contributions so far :)

I've created PR #1044 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-25 22:00] nzoueidi commented on #1040
Hey there @yuxiangqian, thank you for all your contributions so far :)

I've created PR #1044 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-25 22:01] nzoueidi commented on #1042
Hey there @alculquicondor, thank you for all your contributions so far :)

I've created PR #1044 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-25 22:55] #1039 closed

[2019-07-25 22:55] #1040 closed

[2019-07-25 22:55] #1042 closed

[2019-07-25 22:57] yuxiangqian commented on #1040
thank you all.

[2019-07-26 02:12] DaiHao commented on #1043
@resouer @xiang90 @janetkuo please +1 if you feel comfortable. thx

[2019-07-26 03:34] resouer commented on #1043
+1

/lgtm

[2019-07-26 04:02] xiang90 commented on #1043
+1

/lgtm

[2019-07-26 12:23] ivan4th commented on #1016
Outstanding PRs merged to ease the transition (to kind) for those who are still using the project, deprecation notice adding to README.md. Please move kubeadm-dind-cluster to its final resting place. Thanks!

[2019-07-28 11:48] mrbobbytables commented on #1016
Thanks for ack'ing @ivan4th :) I'll go ahead and take care of it.

[2019-07-29 16:45] hpandeycodeit opened #1046 "Creation of user-research repository"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
user-research

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
@tashimi
@vllry
@Rajakavitha1
@hpandeycodeit

### If not a staging repo, who should have write access
@tashimi
@vllry
@Rajakavitha1
@hpandeycodeit

### If not a staging repo,

[2019-07-29 16:58] #1046 closed

[2019-07-29 17:11] tashimi opened #1047 "Creation of sig-usability in kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
new repo

### Requested name for new repository
sig-usability

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@tashimi
@vllry
@Rajakavitha1
@hpandeycodeit

### If not a staging repo, who should have write access
@tashimi
@vllry
@Rajakavitha1
@hpandeycodeit

### If not a staging repo, w

[2019-07-29 18:59] VineethReddy02 opened #1048 "REQUEST: New membership for @VineethReddy02"
### GitHub Username
e.g. @VineethReddy02

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-07-29 19:30] justaugustus commented on #1048
+1! Vineeth is helping out on the Release Team for 1.16. :)

[2019-07-29 20:16] nzoueidi commented on #1043
Hey @DaiHao, I think @resouer and @xiang90 are both from Alibaba, could you please correct me if I am mistaken.
If no, you may want to find another eligible sponsor to sponsor your org membership.
Sponsors should be from different multiple companies. More info are here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2019-07-29 22:39] simplytunde commented on #1048
+1 for me

[2019-07-30 01:54] DaiHao commented on #1043
ping @janetkuo

[2019-07-30 02:51] chuckha opened #1049 "Migrate kepval into kubernetes/enhancements"
### New Repo, Staging Repo, or migrate existing
Migrate https://github.com/chuckha/kepval into https://github.com/kubernetes/enhancements

I'm not entirely sure if I need this issue, but I will  be opening it just in case I do need it. Please feel free to close if this PR is sufficient: https://github.com/kubernetes/enhancements/pull/1185/files

### Approvals
@justaugustus

### Additional context

[2019-07-30 03:01] nikhita commented on #1047
/assign

[2019-07-30 03:13] nikhita commented on #1049
That PR seems fine :)

@chuckha Thanks for creating the issue to surface it though!

[2019-07-30 03:13] #1049 closed

[2019-07-30 03:41] nikhita opened #1051 "Cleanup teams for cloud provider specific SIGs"
All cloud providers SIGs are folded into SIG Cloud Provider. We should cleanup the teams related to these SIGs as well.

Related: syncing the OWNERS_ALIASES file with the one in k/community removes the cloud provider specific SIG aliases. New aliases were added manually for now so that they don't contradict with the cleanup (https://github.com/kubernetes/org/pull/1050).

fyi @andrewsykim @d-nishi

[2019-07-30 03:44] justaugustus commented on #1051
/assign
/priority important-soon

[2019-07-30 03:45] justaugustus commented on #1051
Hey @nikhita, you linked #1050, but I don't see anything related.
Did you mean to reference another PR?

[2019-07-30 03:46] nikhita commented on #1047
Repo has been created: https://github.com/kubernetes-sigs/sig-usability :tada:

Also created:
- https://github.com/kubernetes/org/pull/1050 - to add GitHub teams to grant permissions
- https://github.com/kubernetes/community/pull/3940 - to add the repo to k/community

Once both PRs merge, we can close this issue.

[2019-07-30 03:48] nikhita commented on #1051
Sorry, I should have been clearer! Mainly meant this part in the PR body of #1050:

[2019-07-30 08:52] justaugustus commented on #1051
Addressed in #1051.

[2019-07-30 08:55] justaugustus commented on #1051
Actually, we'll still need a follow-up once #1051 merges to nest the consolidated SIG directories under SIG Cloud Provider.
@mrbobbytables mentioned there might be some weirdness with the levels of directories peribolos traverses when generating its' config, so I didn't attempt to do it there.

[2019-07-30 08:59] nikhita commented on #1051
Yeah, I was going to suggest nesting as well but I think we do some bazel magic to stitch all teams.yaml files together so I thought it'd be better to do that as a follow up as well.

[2019-07-30 09:22] bartsmykla opened #1053 "REQUEST: New membership for bartsmykla"
### GitHub Username
bartsmykla

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-07-30 09:27] nikhita commented on #1053
+1

[2019-07-30 10:28] rawkode opened #1054 "REQUEST: New membership for rawkode"
### GitHub Username
@rawkode

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-07-30 12:00] idvoretskyi commented on #1053
+1

On Tue, Jul 30, 2019 at 12:27 PM Nikhita Raghunath <notifications@github.com>
wrote:

--
Ihor Dvoretskyi <ihor@cncf.io>
Developer Advocate, Cloud Native Computing Foundation https://cncf.io/

[2019-07-30 13:14] castrojo commented on #1054
Strong +1 from me!

[2019-07-30 13:23] mrbobbytables commented on #1051
It looks like the relevant block is in [cmd/merge/main.go](https://github.com/kubernetes/org/blob/master/cmd/merge/main.go)

https://github.com/kubernetes/org/blob/4a4f8cfc705b31e66d3d345f066fc1ee729b207f/cmd/merge/main.go#L128-L130

 @fejta -- Do you think it'd be a problem to update it to walk deeper?

[2019-07-30 16:25] adrianludwin opened #1056 "REQUEST: New membership for adrianludwin"
### GitHub Username
@adrianludwin

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-07-30 16:36] lachie83 commented on #1054
+1

[2019-07-30 17:22] srampal commented on #1056
+1

[2019-07-30 17:56] tashimi commented on #1056
/approve

![tenor-73593695](https://user-images.githubusercontent.com/719646/62153043-9aa8ef80-b2b8-11e9-8850-9265ee9a14ae.gif)

[2019-07-30 18:00] srampal commented on #1056
/approve

[2019-07-30 19:48] tashimi commented on #1047
Thank you!!!

[2019-07-31 09:25] nikhita commented on #1047
All PRs have merged and teams have been granted access.

/close

[2019-07-31 09:25] #1047 closed

[2019-07-31 16:57] nzoueidi commented on #1048
Hey there @VineethReddy02, thank you for all your contributions so far :)

I've created PR #1057 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-31 16:57] nzoueidi commented on #1053
Hey there @bartsmykla, thank you for all your contributions so far :)

I've created PR #1057 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-31 16:57] nzoueidi commented on #1054
Hey there @rawkode, thank you for all your contributions so far :)

I've created PR #1057 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-07-31 16:58] nzoueidi commented on #1056
Hey there @adrianludwin, thank you for all your contributions so far :)

I've created PR #1057 to add you to the kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-07-31 17:08] #1048 closed

[2019-07-31 17:08] #1053 closed

[2019-07-31 17:08] #1054 closed

[2019-07-31 17:08] #1056 closed

[2019-07-31 18:00] mrbobbytables commented on #1016
All owners removed, open issues/PRs closed and repo migrated to:
https://github.com/kubernetes-retired/kubeadm-dind-cluster

Project removed from sigs.yaml:
https://github.com/kubernetes/community/pull/3932

Notice sent to k-dev:
https://groups.google.com/forum/#!topic/kubernetes-dev/8Do25FgTYTs

With that, should be safe to close :)
If there is anything else, just let me know!

/close

[2019-07-31 18:00] #1016 closed

[2019-07-31 19:58] spiffxp commented on #963
/priority important-longterm

[2019-07-31 19:58] spiffxp commented on #966
/priority important-soon

[2019-07-31 23:50] ddebroy opened #1060 "Request to create a new repository kubernetes-csi/csi-proxy"
### New Repo, Staging Repo, or migrate existing
New Repository

### Requested name for new repository
csi-proxy

### Which Organization should it reside
kubernetes-csi

### If not a staging repo, who should have admin access
@ddebroy, @PatrickLang, @msau42

### If not a staging repo, who should have write access
@ddebroy, @PatrickLang, @msau42

### If not a staging repo, who should be listed as ap

[2019-08-01 00:20] msau42 commented on #1060
Please also add @jingxu97 as an approver

[2019-08-01 01:33] nikhita commented on #1060
/assign

Oddly, I'm not able to access the google doc even though I've joined the sig storage google group. Treating this as approved because of the KEP though..

[2019-08-01 01:56] nikhita commented on #1060
Repo has been created https://github.com/kubernetes-csi/csi-proxy :tada:

Also created:

- https://github.com/kubernetes/org/pull/1061 - to add GitHub teams for granting access
- https://github.com/kubernetes/community/pull/3950 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2019-08-01 06:08] ddebroy commented on #1060
Thanks @nikhita !

[2019-08-01 21:26] cji opened #1062 "REQUEST: New membership for cji"
### GitHub Username
@cji

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2019-08-01 21:27] mattmoyer commented on #1062
I'm happy to vouch for @cji.

[2019-08-01 22:29] spiffxp commented on #1062
@tallclair vouched here https://github.com/kubernetes/community/issues/3945#issuecomment-517421709

[2019-08-01 22:40] k82cn commented on #1043
+1, thanks for your contribution :)

[2019-08-02 00:19] DaiHao commented on #1043
@nzoueidi ptal, I think it meets the requirements now

[2019-08-02 06:45] johscheuer opened #1064 "REQUEST: New membership for johscheuer"
### GitHub Username
@johscheuer

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-08-02 13:11] joelsmith commented on #1062
:+1: +1 from me too if you need another sponsor. Been a pleasure to work with @cji on wg-security-audit.

[2019-08-02 17:19] aasmall opened #1065 "REQUEST: New membership for @aasmall"
### GitHub Username
@aasmall

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-02 17:27] destijl commented on #1065
Vouching for Aaron. Aaron has put in a lot of work coordinating, guiding, and leading a large security audit for K8s that will benefit all of our users.

[2019-08-02 17:44] joelsmith commented on #1065
:+1: +1 on making @aasmall a member of the Kubernetes project. He has worked hard in his role in wg-security-audit and used his expertise to drive a favorable outcome for the CNCF and Kubernetes.

[2019-08-02 22:07] phenixblue opened #1066 "REQUEST: New membership for phenixblue"
### GitHub Username
@phenixblue

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-08-02 22:09] BenTheElder commented on #1066
+1 🙂

[2019-08-02 22:10] mauilion commented on #1066
+1 from me Joe has been speaking at meetups and helping folks in slack as well as contributing to projects like sigs.k8s.io/kind.

[2019-08-02 23:11] nzoueidi commented on #1043
Hey there @DaiHao, thank you for all your contributions so far :)

I've created PR #1067 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-02 23:11] nzoueidi commented on #1066
Hey there @phenixblue, thank you for all your contributions so far :)

I've created PR #1067 to add you to the kubernetes and kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-02 23:12] nzoueidi commented on #1062
Hey there @cji, thank you for all your contributions so far :)

I've created PR #1067 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-02 23:16] nzoueidi commented on #1065
Hey there @aasmall, unfortunately @destijl cannot sponsor you for membership in the @kubernetes org. Sponsors must be reviewers or approvers in at least 1 OWNERS file either in any repo in the Kubernetes org.

More information can be found in the requirements section: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

If you have any questions don't be afraid

[2019-08-02 23:33] #1043 closed

[2019-08-02 23:33] #1062 closed

[2019-08-02 23:33] #1066 closed

[2019-08-02 23:35] Fei-Guo opened #1069 "REQUEST: New membership for @Fei-Guo"
### GitHub Username
Fei-Guo

### Organization you are requesting membership in
Kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-08-02 23:49] resouer commented on #1069
+1

[2019-08-03 13:01] adohe commented on #1069
+1

[2019-08-04 03:53] resouer commented on #1069
kindly ping @nikhita for approve :-)

[2019-08-04 16:30] mikedanese commented on #1065
I'll vouch for @aasmall. His work on coordinating the security audit has been very beneficial to the project.

[2019-08-04 16:31] aasmall commented on #1065
@nzoueidi @destijl  - My apologies, I just assumed Greg was on an owners file.
@mikedanese - Thank you :)

[2019-08-05 09:00] nikhita commented on #1060
All PRs have merged and teams have been granted access.

/close

[2019-08-05 09:00] #1060 closed

[2019-08-05 15:06] LiliC opened #1070 "REQUEST: New membership for lilic"
### GitHub Username
@LiliC

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-08-05 15:09] brancz commented on #1070
:100: +1 from me! :slightly_smiling_face:

[2019-08-05 15:12] tariq1890 commented on #1070
Huge +1 from me. Thank you for all contributions to Kube-state-metrics and several other K8s projects. Well deserved, no doubt!

[2019-08-05 15:29] nikhita commented on #1070
+10000 :)

/woof

[2019-08-05 15:30] tariq1890 commented on #1070
/pony-party

[2019-08-05 15:31] tariq1890 commented on #1070
/pony party

[2019-08-06 06:03] andyxning commented on #1070
+1

[2019-08-06 06:07] nikhita commented on #1064
/assign @castrojo @saad-ali
can you comment here?

[2019-08-06 06:11] nikhita commented on #1069
IIUC @resouer @adohe both of you are from Alibaba?

@Fei-Guo Sponsors need to be from different companies so if you could find an additional sponsor not from Alibaba, that would be great! :)

[2019-08-06 06:16] nikhita commented on #1065
@aasmall I've created #1071 to add you to @kubernetes. Once that merges, you should receive an invite from our automation framework.
Welcome! :)

/assign

[2019-08-06 06:16] nikhita commented on #1070
@LiliC  I've created #1071 to add you to @kubernetes. Once that merges, you should receive an invite from our automation framework.
Welcome! So happy to see this!! :)

/assign

[2019-08-06 07:09] #1065 closed

[2019-08-06 07:09] #1070 closed

[2019-08-06 12:17] devlware opened #1073 "REQUEST: New membership for devlware"
### GitHub Username
@devlware

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-08-06 12:39] mrbobbytables commented on #1073
@devlware I think you're requesting membership to @kubernetes where the the [website repo](https://github.com/kubernetes/website) is managed. You don't have to request access to specific sigs :)

[2019-08-06 12:54] devlware commented on #1073
@mrbobbytables You are correct. I was not sure about it, I'll edit and update it.

[2019-08-06 17:12] resouer commented on #1069
@nikhita Aha, @adohe is not from Alibaba Group, he's from Ant Financial, the profile is not up-to-date.

Anyway we just changed the supporter :-)

[2019-08-06 17:14] Huang-Wei commented on #1069
+1

Looking forward to seeing more innovative ideas/contributions in multi-tenancy side.

[2019-08-06 20:53] hantaowang commented on #1024
@gnufied

[2019-08-07 01:01] devlware commented on #1073
/assign @femrtnz @jcjesus can you comment here?

[2019-08-07 03:49] nikhita commented on #1069
@Fei-Guo I've created #1074 to add you to @kubernetes-sigs. Once that merges, you should receive an invite from our automation framework.
Welcome!! :)

/assign

[2019-08-07 03:52] resouer commented on #1069
Welcome aboard! @Fei-Guo

[2019-08-07 04:04] #1069 closed

[2019-08-07 05:56] yoonian opened #1075 "REQUEST: New membership for yoonian"
### GitHub Username
@yoonian

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-07 06:05] seokho-son commented on #1075
+1, @yoonian is an active contributor for Korean localization.  I'm happy to work with @yoonian !

[2019-08-07 07:12] gochist commented on #1075
+1

[2019-08-07 10:06] nikhita commented on #1051
Just realized one thing around the nesting here -- I think it's sort of clear who the owners for the nested subproject would be in case of cloud providers (maybe sig leads of the now deprecated SIGs?) -- but if we make this a "thing" or "feature" to allow to have separate `teams.yaml` file per subprojects, we probably need some way around defining who these subproject owners would be...which we do

[2019-08-07 18:39] femrtnz commented on #1073
+1 @devlware is helping us with the Portuguese translations :)

[2019-08-07 18:47] devlware commented on #1073
/assign @zacharysarah

[2019-08-07 19:42] jcjesus commented on #1073
+1 @devlware

[2019-08-07 20:08] JayBeale opened #1077 "REQUEST: New membership for @jaybeale"
### GitHub Username
@jaybeale

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X] I have subscribed to the kubernetes-dev e-mail list
(https://groups.google.com/for

[2019-08-07 20:19] zacharysarah commented on #1073
+1

[2019-08-07 22:18] tallclair commented on #1077
/lgtm

[2019-08-07 23:11] mrbobbytables commented on #1073
@devlware  thank you for helping with the Portuguese localization efforts :)

I've created PR #1078   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-07 23:13] mrbobbytables commented on #1075
@yoonian, thank you for all your help with the Korean localization efforts <3

I've created PR #1078  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-07 23:19] #1073 closed

[2019-08-07 23:19] #1075 closed

[2019-08-08 00:53] lapee79 opened #1079 "REQUEST: New membership for lapee79"
### GitHub Username
@lapee79

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-08 02:43] joelsmith commented on #1077
:+1: +1 from me. @JayBeale has been a great help on wg-security-audit!

[2019-08-08 02:52] danninov opened #1080 "REQUEST: New membership for @danninov"
### GitHub Username
@danninov

### Organization you are requesting membership in
@kubernetes

### Requirements

- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-08-08 02:57] girikuncoro commented on #1080
+1 from me, @danninov has been great in helping out the docs localization effort for Indonesian language: kubernetes.io/id

[2019-08-08 03:14] irvifa commented on #1080
👍 from me, he's helping us a lot in the id localization.

[2019-08-08 04:10] gochist commented on #1079
+1  @lapee79 is the a passionate contributor!

[2019-08-08 08:14] seokho-son commented on #1079
+1 @lapee79 Thank you for your contributions !!

[2019-08-08 08:23] nikhita commented on #1080
@danninov thank you for all your help with the Indonesian localization efforts :)

I've created PR #1081 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-08 08:24] nikhita commented on #1079
@lapee79 thank you for all your help with the Korean localization efforts :)

I've created PR #1081 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-08 08:24] nikhita commented on #1077
@JayBeale thank you for all your help with the security audit :)

I've created PR #1081 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-08 10:36] Moriadry opened #1082 "REQUEST: New membership for moriadry"
### GitHub Username
moriadry

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-08-08 10:40] xiangpengzhao commented on #1082
+1 :+1:

[2019-08-08 10:48] dims commented on #1082
+1 @Moriadry

[2019-08-08 11:11] #1077 closed

[2019-08-08 11:11] #1079 closed

[2019-08-08 11:11] #1080 closed

[2019-08-08 13:01] kad commented on #1082
+1

[2019-08-08 18:48] obitech opened #1083 "REQUEST: New membership for obitech"
### GitHub Username
@obitech

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-08 18:50] obitech commented on #1083
/assign @stealthybox @mattjmcnaughton

[2019-08-08 18:56] mattjmcnaughton commented on #1083
/lgtm

@obitech has done a great job on the golint diffs I've worked with him on :)

[2019-08-08 19:06] stealthybox commented on #1083
+1
/lgtm

[2019-08-08 19:26] ptone opened #1084 "REQUEST: New membership for @ptone"
### GitHub Username
@ptone

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-08-08 19:27] ptone commented on #1084
/cc @dejanb

[2019-08-08 19:32] idvoretskyi commented on #1084
+1

[2019-08-08 19:33] cblecker opened #1085 "[Umbrella] Tracking GitHub Feedback issues"
This issue is for general tracking of feedback that the GitHub management team provides to GitHub.

[2019-08-08 19:33] cblecker commented on #1085
https://github.com/maintainers/early-access-feedback/issues/264

[2019-08-08 19:33] cblecker commented on #1085
https://github.com/maintainers/early-access-feedback/issues/269

[2019-08-08 20:47] DirectXMan12 opened #1086 "GitHub Actions on kubernetes-sigs appear to have stopped working"
### Organization or repository

kubernetes-sigs

(specifically, kubernetes-sigs/controller-runtime and friends)

### Name of integration

GitHub actions

### Link to integration website

https://github.com/features/actions

### Describe what is attempting to be accomplished

We were using GH actions in the KubeBuilder repos to perform some linting on the PRs themselves (namely, checking PR title f

[2019-08-08 21:21] cblecker commented on #1086
/assign

I've verified k-sigs is still in the beta. Looks like the last run was 17 hours ago: https://github.com/kubernetes-sigs/controller-runtime/actions

[2019-08-08 21:25] cblecker commented on #1086
Sent e-mail to GitHub Support

[2019-08-08 21:41] DirectXMan12 commented on #1086
Thanks!

[2019-08-08 21:41] DirectXMan12 commented on #1086
Feel free to put me in touch with them directly, if they need more info :-)

[2019-08-08 23:06] JayBeale commented on #1077
Thank you all.  I promise that I'll keep contributing.

[2019-08-08 23:15] CindyXing opened #1087 "REQUEST: New membership for @CindyXing"
### GitHub Username
@CindyXing

### Organization you are requesting membership in
 @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-08-08 23:20] CindyXing commented on #1087
/cc @dejanb

[2019-08-09 01:15] saad-ali commented on #1064
I +1 this. @johscheuer implemented the Quobyte volume plugin, and it would be good to get him in to the OWNERS file for that plugin. To do that, he first needs membership.

[2019-08-09 03:56] cantbewong commented on #1087
+1 @CindyXing has been a frequent contributor to the IoT and Edge Working group for the past year

[2019-08-09 03:59] cantbewong commented on #1084
+1  @ptone has been a frequent contributor to the IoT and Edge Working Group for the past year

[2019-08-09 08:34] dejanb opened #1088 "REQUEST: New membership for dejanb"
### GitHub Username
dejanb

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2019-08-09 09:02] idvoretskyi commented on #1088
+1

[2019-08-09 13:35] castrojo commented on #1064
+1 from me, sorry for my delayed response.

[2019-08-09 14:14] mattiaperi opened #1089 "REQUEST: New membership for mattiaperi"
### GitHub Username
mattiaperi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-08-09 14:15] rlenferink commented on #1089
+1, @mattiaperi is helping with the Italian localization of our docs 🎉

[2019-08-09 14:42] micheleberardi commented on #1089
+1, lets get Mattia invited :) Grazie Mattia !!!

[2019-08-09 14:54] micheleberardi commented on #1089
+1, lets get @mattiaperi invited :) Grazie Mattia !!!

[2019-08-09 18:29] DirectXMan12 commented on #1086
looks like they're running on merges, but not on any other PR actions?  Strange.

[2019-08-09 23:50] jberkhahn commented on #893
any update on this? what else needs to be done?

[2019-08-12 02:22] phanama opened #1091 "REQUEST: New membership for @phanama"
### GitHub Username
@phanama

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-12 02:25] irvifa commented on #1091
He already helped us a lot in the localization project so I give my :+1:

[2019-08-12 02:40] mrbobbytables commented on #1064
Hey there @johscheuer, thank you for all your contributions so far :)

I've created PR #1092  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-12 02:41] mrbobbytables commented on #1082
@Moriadry, thank you for all your help with the project :D

I've created PR #1092  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-12 02:42] mrbobbytables commented on #1083
@obitech , thank you for helping with the component-standard working group :)

I've created PR #1092   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-12 02:43] mrbobbytables commented on #1084
Hey there @ptone, thank you for helping with wg-iot-edge! 👍

I've created PR #1092   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-12 02:43] mrbobbytables commented on #1087
@CindyXing , thank you for helping with wg-iot-edge! :)

I've created PR #1092   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-12 02:44] mrbobbytables commented on #1089
Hey there @mattiaperi, thank you for helping with the Italian localization efforts :)

I've created PR #1092  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-12 03:31] yue9944882 opened #1093 "REQUEST: New membership for yue9944882 @kubernetes-sigs"
### GitHub Username

yue9944882

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-08-12 03:38] yue9944882 opened #1094 "Migrating apiserver-builder-alpha to @kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing

migrate existing

### Requested name for new repository

apiserver-builder-alpha

### Which Organization should it reside

@kubernetes-sigs

### If not a staging repo, who should have admin access

@yue9944882 @pwittrock @DirectXMan12

### If not a staging repo, who should have write access

@yue9944882 @pwittrock @DirectXMan12

### If not a staging

[2019-08-12 04:13] nikhita commented on #1093
Since you are already a member of @kubernetes, you don't need to file a membership request for @kubernetes-sigs. Feel free to create a PR! :smile:

[2019-08-12 04:14] nikhita commented on #1094
/assign @pwittrock
for approval

[2019-08-12 04:14] nikhita commented on #1094
xref https://github.com/kubernetes/community/issues/1922

[2019-08-12 04:43] yue9944882 commented on #1094
+@adohe

[2019-08-12 05:15] #1093 closed

[2019-08-12 05:21] #1064 closed

[2019-08-12 05:21] #1082 closed

[2019-08-12 05:21] #1083 closed

[2019-08-12 05:21] #1084 closed

[2019-08-12 05:21] #1087 closed

[2019-08-12 05:21] #1089 closed

[2019-08-12 05:52] johscheuer commented on #1064
Thanks ! :)

[2019-08-12 16:20] cantbewong commented on #1088
+1

[2019-08-12 21:31] CecileRobertMichon opened #1096 "REQUEST: New membership for CecileRobertMichon"
### GitHub Username
@CecileRobertMichon

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-08-12 21:41] justaugustus commented on #1096
Enthusiastic +1 for @CecileRobertMichon's membership!

[2019-08-12 21:44] ritazh commented on #1096
+1

[2019-08-12 21:57] PatrickLang commented on #1096
+1

[2019-08-12 21:58] lachie83 commented on #1096
+1

[2019-08-12 22:33] saiyan86 commented on #1096
Not a org member, but +1 XD

[2019-08-12 22:54] kkmsft commented on #1096
Not an org member but  +1 for @CecileRobertMichon membership.

[2019-08-13 00:11] allantargino commented on #1096
Not an org member but +1 for @CecileRobertMichon membership.²

[2019-08-13 00:22] justaugustus commented on #1096
Thanks for all the +1s. We have enough to add Cecile to the org.
(In future, please only +1 org requests if you are listed in an OWNERS file for the kubernetes org the contributor is requesting membership to.)

[2019-08-13 00:26] justaugustus commented on #1096
Also, for anyone on the thread that has been contributing to the project, but is not yet an org member, please consider filing an [org membership request](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+<your-GH-handle>) like Cecile did.

We're always looking for new org members! :)

[2019-08-13 01:18] feiskyer commented on #1096
+1

[2019-08-13 10:42] nikhita commented on #1096
@CecileRobertMichon  thank you for your contributions thus far :)

I've created PR #1097  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-13 10:42] nikhita commented on #1088
@dejanb  thank you for your contributions thus far :)

I've created PR #1097  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-13 11:25] #1088 closed

[2019-08-13 11:25] #1096 closed

[2019-08-13 13:40] ericzhang08 opened #1098 "REQUEST: New membership for @ericzhang08"
### GitHub Username
e.g. @ericzhang08

### Organization you are requesting membership in
e.g @kubernetes-sigs @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (htt

[2019-08-13 13:41] chuckha commented on #1098
+1

thank you for all the contributions thus far and for always producing high quality code!

[2019-08-13 16:47] ashish-amarnath commented on #1098
+1 from me too!
Welcome! :tada:

[2019-08-13 18:47] tehcyx opened #1100 "REQUEST: New membership for tehcyx"
### GitHub Username
tehcyx

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-08-13 18:52] stevekuznetsov commented on #1100
+1 from this guy

[2019-08-14 03:14] girikuncoro commented on #1091
+1 from me, @phanama has been helping out a lot with Indonesian localization and driving the community in Indonesia for this effort

[2019-08-14 17:29] mrbobbytables commented on #1098
Hey there @ericzhang08 , unfortunately @ashish-amarnath cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for membership in @kubernetes-sigs.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-csi etc); as long as it's a project they're involved with.

However, this does no

[2019-08-14 17:30] mrbobbytables commented on #1024
gentle ping reminder for @gnufied :)

[2019-08-14 17:31] gnufied commented on #1024
+1

[2019-08-14 20:37] oz123 opened #1103 "REQUEST: New membership for oz123"
### GitHub Username
oz123

### Organization you are requesting membership in

@kubernetes-clients

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-08-14 20:46] micw523 commented on #1103
+1

[2019-08-14 20:55] ericzhang08 commented on #1098
Hi @mrbobbytables, I have amended it.

[2019-08-14 21:05] jingxu97 opened #1104 "REQUEST: New membership for jingxu97"
### GitHub Username
jingxu97

### Organization you are requesting membership in
kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-08-14 21:13] msau42 commented on #1104
+1 Jing is heavily involved in snapshots and windows kubernetes-csi projects.

[2019-08-14 23:14] roycaihw commented on #1103
+1

Welcome, @oz123!

[2019-08-15 00:32] ericzhang08 commented on #1098
@xiangpengzhao

[2019-08-15 00:53] xiangpengzhao commented on #1098
Sure! +1 from me :)

[2019-08-15 01:08] ericzhang08 commented on #1098
@mrbobbytables  I have found another one sponsor me.

[2019-08-15 01:49] mrbobbytables commented on #1098
Thanks for stepping in and adding your +1 for kubernetes org @xiangpengzhao :)

With that @ericzhang08 thank you for all your contributions so far :)

I've created PR #1105  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them

Welcome to @kubernetes & @kubernetes-sigs! 🎉

/assign

[2019-08-15 01:51] mrbobbytables commented on #1103
Hey there @oz123, thank you for helping with the python client library :)

I've created PR #1105  to add you to the Kubernetes-client Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-client! 🎉

/assign

[2019-08-15 01:51] mrbobbytables commented on #1091
@phanama thank you for your help with the Indonesian localization efforts :D

I've created PR #1105  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-15 01:53] mrbobbytables commented on #1024
@hantaowang , thank you for all your contributions to the project so far :)

I've created PR #1105  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-15 05:18] #1024 closed

[2019-08-15 05:18] #1091 closed

[2019-08-15 05:18] #1098 closed

[2019-08-15 05:18] #1103 closed

[2019-08-16 09:36] xichengliudui opened #1108 "REQUEST: New kubernetes-sigs membership for xichengliudui"
### GitHub Username
@xichengliudui

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-08-16 13:44] yastij opened #1110 "new repository: system-validators under Kubernetes"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
system-validators

### Which Organization should it reside
Kubernetes

### If not a staging repo, who should have admin access
@neolit123 @timothysc
### If not a staging repo, who should have write access
@neolit123 @timothysc

### If not a staging repo, who should be listed as approvers in OWNERS

[2019-08-16 13:44] yastij commented on #1110
cc @timothysc @dims

[2019-08-16 13:52] neolit123 commented on #1110
/lgtm

[2019-08-16 13:56] dims commented on #1110
Please send an email to arch ML as well @yastij

[2019-08-16 14:02] timothysc commented on #1110
/lgtm
/approve

[2019-08-16 17:12] Random-Liu commented on #1110
/lgtm

[2019-08-16 17:51] yastij commented on #1110
@dims - email thread already linked (under approvals)

[2019-08-16 18:49] cblecker commented on #1110
Is this a staging repo?

Also, I see an e-mail to sig-arch, but it doesn't have a consensus deadline.

[2019-08-16 19:05] yastij commented on #1110
@cblecker - this is a new repo under the kubernetes org, I'm adding a deadline to the thread

[2019-08-16 19:18] #1108 closed

[2019-08-16 19:25] dims commented on #1110
/lgtm
/approve

[2019-08-16 19:25] dims commented on #1110
/lgtm
/approve

[2019-08-16 20:08] jdumars commented on #1110
/lgtm
/approve

[2019-08-16 20:58] xueweiz opened #1111 "REQUEST: New membership for xueweiz"
### GitHub Username
@xueweiz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-08-16 21:06] wangzhen127 commented on #1111
+1

[2019-08-16 22:24] spiffxp commented on #1100
+1 from sponsor

[2019-08-16 22:25] spiffxp commented on #839
@ConnorDoyle ping to see where we're at on this

[2019-08-17 00:22] pwittrock commented on #1094
/approve

[2019-08-17 01:30] spiffxp commented on #1094
/assign

[2019-08-17 01:35] spiffxp commented on #1094
Setting up teams https://github.com/kubernetes/org/pull/1112

[2019-08-17 17:25] spiffxp commented on #1094
Moving repo in sigs.yaml https://github.com/kubernetes/community/pull/4009

[2019-08-17 20:10] xing-yang commented on #1104
+1 Jing is already an approver of the kubernetes-csi/external-snapshotter repo.  She should be a member of kubernetes-csi.

[2019-08-18 12:37] nikhita commented on #1100
@tehcyx thank you for your contributions to test-infra :)

I've created PR #1114 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-18 12:37] nikhita commented on #1104
@jingxu97 thank you for your contributions thus far :)

I've created PR #1114 to add you to the kubernetes-csi org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2019-08-18 16:48] #1100 closed

[2019-08-18 16:48] #1104 closed

[2019-08-19 01:15] qbl opened #1115 "REQUEST: New membership for @qbl"
### GitHub Username
@qbl

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2019-08-19 02:00] girikuncoro commented on #1115
+1 from me, @qbl has been helping out a lot with Indonesian localization and driving the community in Indonesia for this effort!

[2019-08-19 02:02] irvifa commented on #1115
👍 from me, he’s already helping us a lot for this project..

[2019-08-19 03:15] yue9944882 commented on #1094
thank you for helping! can we close the issue now?

[2019-08-19 09:21] nilo19 opened #1116 "REQUEST: New membership for nilo19"
### GitHub Username
@nilo19

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I am actively contributing to 1 or more Kubernetes subprojects
- [x] I have subscribed

[2019-08-19 11:59] vivekbagade opened #1117 "REQUEST: New membership for vivekbagade"
### GitHub Username
e.g. (at)vivekbagade

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-08-19 12:01] justaugustus commented on #1116
+1! @nilo19 has been helping out a bunch with Azure improvements.

[2019-08-19 12:04] feiskyer commented on #1116
+1 @nilo19 has worked a lot on cloud-provider-azure, cluster-autoscaler and e2e tests.

[2019-08-19 12:04] feiskyer commented on #1117
+1 @vivekbagade has worked a lot on autoscaler

[2019-08-19 12:15] MaciekPytel commented on #1117
+1 for @vivekbagade's many contributions to autoscaling

[2019-08-19 15:07] yue9944882 commented on #1094
UPDATES: seems that these teams aren't granted corresponding permissions yet? i can't merge pulls or tagging labels currently. am i missing anything?

  apiserver-builder-alpha-maintainers:

[2019-08-19 17:12] wk8 opened #1118 "REQUEST: New membership for wk8"
### GitHub Username
@wk8

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-19 17:15] ddebroy commented on #1118
I support Jean's addition to the Kubernetes CSI project. He is already a member of k/k and actively working in the new csi-proxy initiative around Windows. Membership in k/k-csi will allow us to easily  /assign him reviews and issues.

[2019-08-19 17:19] PatrickLang commented on #1118
+1 Jean has been active in CSI migration and planning for Windows

[2019-08-19 19:10] ps882 opened #1119 "REQUEST: New membership for https://github.com/ps882"
### GitHub Username
e.g. (at)example_user
@ps882

### Organization you are requesting membership in
e.g. (at)kubernetes
@kubernetes-sigs

### Requirements
- [ Y] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ Y] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [Y ] I have subscribed to the kubernetes-de

[2019-08-19 19:20] listx commented on #1119
/lgtm

ps882 (`premdeep sharma` on slack) is my fellow teammate interested in contributing to the community via volunteering for the deb/rpm release process and making improvements in that space.

[2019-08-20 03:44] nikhita commented on #1094
The repo was migrated over to k-sigs, so https://github.com/kubernetes-incubator/apiserver-builder-alpha will automatically redirect to https://github.com/kubernetes-sigs/apiserver-builder-alpha.

The teams were had `Read` access. Fixed to grant them appropriate permissions.

Yes, looks like everything is done! :tada:
/close

[2019-08-20 03:44] #1094 closed

[2019-08-20 03:50] nikhita commented on #1110
/assign

Moving ahead on this since lazy consensus period is over, and has explicit lgtm from sig-cluster-lifecycle and sig-architecture leads.

[2019-08-20 04:12] nikhita commented on #1110
Created https://github.com/kubernetes/system-validators :tada:

Also created:

- https://github.com/kubernetes/org/pull/1120 - to add GitHub teams to grant access.
- https://github.com/kubernetes/community/pull/4012 - to add the repo to sigs.yaml

Once both PRs have merged, we can close this issue.

[2019-08-20 04:15] nikhita commented on #893
https://github.com/pmorie/go-open-service-broker-client/pull/139 fixes the boilerplate for all files

[2019-08-20 04:23] nikhita commented on #1119
@ps882 :wave: according to [membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements), sponsors must be from different companies. Since both @listx and @spiffxp are from Google, you'll need to find a non-Googler sponsor.

[2019-08-20 04:28] justaugustus commented on #1119
I'll sponsor!

[2019-08-20 04:31] justaugustus commented on #1119
(Can we ensure membership is for both the `kubernetes` and `kubernetes-sigs` orgs?)

[2019-08-20 04:35] nikhita commented on #1118
@wk8 thank you for your contributions thus far :)

I've created PR #1121 to add you to the kubernetes-csi org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2019-08-20 04:35] nikhita commented on #1117
@vivekbagade thank you for your contributions thus far :)

I've created PR #1121 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-20 04:36] nikhita commented on #1116
@nilo19 thank you for your contributions thus far :)

I've created PR #1121 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign