[2019-03-02 02:43] mrbobbytables commented on #518
@kfox1111, thank you for all your contributions so far :)

I've created PR #555 to add you to the @kfox1111 Kubernetes-csi Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2019-03-02 02:51] spiffxp commented on #551
@listx I think in order to pull off the transfer, you'll need to add one of us to that repo with admin privileges

Looking to make sure the repo satisfies https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories..

- yes, all three contributors have contributed code to kubernetes repos so I can verify they've signed the CLA

-

[2019-03-02 03:14] listx commented on #551
@spiffxp I added you and Caleb as admins to the repo.

RE Copryright boilerplate stuff, maybe @jdumars can weigh in on this?

[2019-03-02 03:15] listx commented on #551
Sorry to double-post but yes, `gopkg.in/yaml.v2` is the only dependency.

[2019-03-02 03:35] spiffxp commented on #551
Went digging for where that CLA line came from: https://github.com/kubernetes/community/pull/2049

I don't appear to have access to the service desk ticket to see the original text: https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-36

This was fun to dig up because for a while before this repo existed, repo donations were handled by the steering committee

Looking for pri

[2019-03-02 03:47] spiffxp commented on #551
Asked [kuberentes-sig-release@](https://groups.google.com/forum/#!topic/kubernetes-sig-release/ieLRsMYrmq8) and [kubernetes-sig-architecture@](https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/TjHLgJcDF-I)

[2019-03-02 07:06] nikhita commented on #547
Happy to +1 for Dylan! :)

[2019-03-02 07:24] #518 closed

[2019-03-02 07:24] #550 closed

[2019-03-02 20:46] timothysc commented on #549
+1 from me.

Steve will be working on testing-commons and conformance work
/cc @spiffxp

[2019-03-03 03:00] dims commented on #549
+1 from me!

[2019-03-03 16:26] kfox1111 commented on #518
Thank you. :)

[2019-03-04 00:50] mrbobbytables commented on #547
Hey there @DylanGraham, thank you for all your contributions so far :)

I've created PR #556   to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-04 00:52] mrbobbytables commented on #549
@stevesloka, thank you for helping with all the conformance work :)

I've created PR #556   to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-04 01:40] justaugustus commented on #549
+1! :)

[2019-03-04 04:02] #547 closed

[2019-03-04 04:02] #549 closed

[2019-03-04 06:55] johnSchnake opened #557 "REQUEST: New membership for johnSchnake"
### GitHub Username
@johnSchnake

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-03-04 13:19] dims commented on #557
+1 from me!

[2019-03-04 14:54] timothysc commented on #557
+1 john will be working on testing-commons and the conformance work.

[2019-03-04 15:00] nikhita commented on #7
Trying to understand the issue better...today, we ask for who needs to be provided admin and write access to the repo in the issue template and create teams + grant access as part of the repo creation. Does that solve this issue?

If the issue has boiled down to using GitHub teams in OWNERS files, maybe this should be another issue in k/test-infra?

[2019-03-04 15:14] nikhita commented on #441
Bumping this.

Since different subprojects (even under one SIG) might have different people working on it, I guess it makes sense to scope out milestone rights with a repo <-> team mapping. @timothysc wdyt? does that sound ok to you?

[2019-03-04 20:30] sboeuf opened #559 "Keep getting kicked out of cri-o-maintainers list"
### Organization or repository
kubernetes-sigs/cri-o

### Users affected
@sboeuf

### Describe the issue
@mrunalp has been adding me as a `cri-o-maintainers`, but every time, a few hours later, I am removed from the list, with the following message sent by email:
[code]

[2019-03-04 20:30] sboeuf commented on #559
/cc @mrunalp

[2019-03-04 20:36] mrunalp commented on #559
@rhatdan is also getting affected by this.

[2019-03-04 20:36] nikhita commented on #559
/assign

[2019-03-04 20:40] nikhita commented on #559
Created https://github.com/kubernetes/org/pull/560.

Teams are handled via a config today and they get updated each time the postsubmit runs. If someone is added manually to a team, they will be removed on each such postsubmit run.

@sboeuf @rhatdan Once https://github.com/kubernetes/org/pull/560 merges and the postsubmit runs, you should be added to the team for good. :)

[2019-03-04 20:43] sboeuf commented on #559
Thank you @nikhita :+1:

[2019-03-04 20:47] #559 closed

[2019-03-05 02:16] listx commented on #551
I am contributing this repo now to Kubernetes under the CNCF CLA.

[2019-03-05 02:20] spiffxp commented on #551
/assign

[2019-03-05 02:27] mrbobbytables commented on #557
@johnSchnake, thank you for helping with the testing and conformance work :)

I've created PR #561 to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-05 02:53] spiffxp commented on #551
TODO:
- Once https://github.com/kubernetes/org/pull/562 is merged and has taken effect, give the appropriate teams the appropriate ACLs

[2019-03-05 04:37] #557 closed

[2019-03-05 08:22] nikhita commented on #551
I have completed the TODO. `k8s-container-image-promoter-admins` have admin access and `k8s-container-image-promoter-maintainers` have write access.

Additionally, I have removed direct admin access for @listx @spiffxp and @calebamiles since we prefer to grant permissions via teams.
@listx you should still have admin access over the repo because you are in the `k8s-container-image-promoter-admins`

[2019-03-05 08:22] #551 closed

[2019-03-05 13:50] justaugustus commented on #344
@kubernetes/owners -- is someone able to pick this repo migration request up? I know Christoph is on break at this point.

[2019-03-05 16:10] nikhita commented on #344
/unassign @cblecker
/assign

I want to verify the requirements first (CLA, etc) but GitHub's been acting flakey for me while loading the list of contributors and commits, so I'll handle this when it's back and healthy. :)

[2019-03-05 16:35] spiffxp opened #563 "Convert GitHub team maintainers to members"
Now that we automate the management of GitHub teams (https://github.com/kubernetes/org/issues/336), it is confusing when people try to use GitHub's UI to manually manage teams, only to have their changes reverted (eg: https://github.com/kubernetes/org/issues/559)

While we wait for docs (https://github.com/kubernetes/community/issues/3102) I believe we should move everyone to being a regular team

[2019-03-05 16:38] spiffxp commented on #563
[Notified kubernetes-dev@](https://groups.google.com/forum/#!topic/kubernetes-dev/WtvHtt2lR1w)

[2019-03-05 16:44] nikhita commented on #563
I'll update the docs and config.

/assign

[2019-03-05 17:17] soggiest opened #564 "REQUEST: New membership for soggiest"
### GitHub Username
@soggiest

### Organization you are requesting membership in
kubernetes-milestone-maintainers

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2019-03-05 18:11] rlenferink commented on #563
While we're at it with PR https://github.com/kubernetes/org/pull/546, should I update the other `sig-docs` teams as well to 'convert' maintainers to members?

[2019-03-05 18:25] nikhita commented on #563
Sure, that would be good. :)

[2019-03-05 20:10] nikhita commented on #563
Created https://github.com/kubernetes/org/pull/566 for the config part.

I'll add the docs later this week.

[2019-03-05 20:28] #564 closed

[2019-03-05 23:23] wk8 opened #567 "REQUEST: New membership for wk8"
### GitHub Username
@wk8

### Organizations you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-03-05 23:28] ddebroy commented on #567
+1
I strongly support Jean's membership for the work he has done during the v1.14 release in the SIG-Windows space around the GMSA feature.

[2019-03-06 00:38] michmike commented on #567
+1
thanks for your contributions @wk8

[2019-03-06 01:14] cblecker commented on #344
@andyzhangx @lachie83 @feiskyer @justaugustus --
My sincere apologies to you all. This kept getting bumped on my plate (I'm changing jobs, so everything was in a bit of upheaval).. but this took wayyyy longer than I wanted to to get done.

CLAs have been checked for the following users:
- andyzhangx
- Masquerade0097
- lizebang
- ashishranjan738
- prksu

I've also created #568 to get the initial te

[2019-03-06 01:30] cblecker commented on #308
@dlipovetsky Sorry for the delay in this. I've completed the transfer. You don't need an `OWNERS` right away, but you should merge one soon so that you can use the bot automation and approvers to merge things instead of manual access.

I've opened https://github.com/kubernetes/org/pull/569 to add you to the right teams to get that access.. as soon as that gets merged, you should be good to go.

Ca

[2019-03-06 01:44] andyzhangx commented on #344
Thanks @cblecker, hope you are doing well in the new job!
Here are the dependency reports:
https://app.fossa.io/projects/git%2Bgithub.com%2Fcsi-driver%2Fazuredisk-csi-driver/refs/branch/master/e6edb2e29134c438c5c0b9b0c11ce0280b3948e9/preview

https://app.fossa.io/projects/git%2Bgithub.com%2Fcsi-driver%2Fazurefile-csi-driver/refs/branch/master/266f9826be14185788b2d4c37c70976ae2ee0d9b

There are 2 `

[2019-03-06 02:22] dlipovetsky commented on #308
@cblecker No problem. Thanks for your help!

I'll try updating sigs.yaml

[2019-03-06 05:54] mikedanese commented on #528
I'm pro creating a sandbox for this. cc @tallclair

[2019-03-06 12:12] nikhita commented on #563
Created https://github.com/kubernetes/community/pull/3368 for the docs.

[2019-03-06 12:51] mrbobbytables commented on #510
@johnsonj Any word on another potential sponsor?

[2019-03-06 12:53] mrbobbytables commented on #479
@squeed Have you found another potential sponsor?

[2019-03-06 14:39] nikhita commented on #344
I went through the FOSSA results and also did a manual scan. While checking manually, I saw that both the repos use hashicorp/golang-lru which uses a MPL license: https://github.com/csi-driver/azurefile-csi-driver/blob/master/vendor/github.com/hashicorp/golang-lru/LICENSE.

MPL is not present in the list of whitelisted licenses: https://github.com/kubernetes/sig-release/tree/master/licensing#appro

[2019-03-06 15:26] gnufied opened #571 "Give bchilds admin access for kubernetes-csi/external-resizer repo"
### Organization or repository
e.g. https://github.com/kubernetes-csi/external-resizer

### Users affected
childsb

### Describe the issue
@childsb  is sig-storage lead with @saad-ali , he has admin access to other repository not just this one. It seems like an oversight and should be fixed.

[2019-03-06 16:08] swinslow commented on #344
Thanks @nikhita. I think we are fine pulling it in with use of hashicorp/golang-lru under MPL-2.0, since that matches use elsewhere in kubernetes as you noted.

As an aside, I note that the vendor/ folder for this plugin is over 500MB, or more than 5x the size of k/k's vendor/ folder and 2x the size of k/k itself. Not itself a licensing gating item for migrating, but just wondering if there are de

[2019-03-06 16:13] nikhita commented on #571
@gnufied or @childsb could you create a PR to add the username here? That should do it :)

https://github.com/kubernetes/org/blob/8f65c91b1f2507a1e21e0b5db7d485fa2d286d96/config/kubernetes-csi/org.yaml#L308-L312

[2019-03-06 16:17] gnufied commented on #571
Here we go - https://github.com/kubernetes/org/pull/572

[2019-03-06 16:45] nikhita commented on #344
Good catch! :100:

Looking into it, this happens because of two reasons:

- both of them vendor k/k (which is alone contributes about `138M`)
- and https://github.com/Azure/azure-sdk-for-go (which contributes about `159M`)

I can't speak about the latter, but ideally "downstream" repos shouldn't be vendoring k/k....but I'm probably digressing and this is out of scope for github-management.

@spiff

[2019-03-06 16:49] nikhita commented on #344
cc @dims ^^
to stay in the loop for the licensing thing

[2019-03-06 16:54] #571 closed

[2019-03-06 17:46] spiffxp commented on #344
vendoring k8s.io/kubernetes is really discouraged, but I agree on scope... enforcing or mandating this sort of thing IMO falls on the [SIG Architecture code-organization](https://github.com/kubernetes/community/tree/master/sig-architecture#code-organization) subproject

I would encourage the subproject owners to consider their contributor experience, and prune their repo of unnecessary dependencie

[2019-03-06 17:48] timothysc commented on #510
Count me on as a sponsor.
+1 from me.

[2019-03-06 17:53] johnsonj commented on #510
all set @mrbobbytables !

[2019-03-06 18:02] mrbobbytables commented on #510
Awesome. Thanks for stepping in @timothysc !

[2019-03-06 18:16] tallclair commented on #528
+1

[2019-03-06 18:20] nikhita commented on #528
@davidopp if you could formally comment with a +1 here, I can go ahead and create the repo. :)

[2019-03-06 18:33] spiffxp commented on #344
Out of idle curiousity
[code]

We definitely have other repos that import a lot, but it's true, nothing as large as this.

[2019-03-06 18:36] nikhita commented on #344
I'm gonna go ahead and migrate because that's not a gating factor but it would be cool to see the repo get pruned a bit. :)

[2019-03-06 19:10] liggitt commented on #528
+1

regarding prototype code, please add clear language to the repo readme about the support statement (or lack of support statement) of code that could be imported

[2019-03-06 19:10] nikhita commented on #344
@andyzhangx @justaugustus sorry for the bumpy journey :) ...but the migration is now complete! :tada:

- https://github.com/kubernetes-sigs/azuredisk-csi-driver has been created and `azuredisk-csi-driver-admins` had admin access and `azuredisk-csi-driver-maintainers` has write access.

- https://github.com/kubernetes-sigs/azurefile-csi-driver has been created and `azurefile-csi-driver-admins` has

[2019-03-06 19:16] nikhita commented on #528
For the record, notice to:

- sig-auth ML - https://groups.google.com/d/topic/kubernetes-sig-auth/IbPS3qWKxVI/discussion

- wg-multitenancy ML - https://groups.google.com/d/topic/kubernetes-wg-multitenancy/TNphoyPlHQc/discussion

[2019-03-06 19:30] justaugustus commented on #344
Thank you SOOOOO much!
I've updated OWNERS here: https://github.com/kubernetes/community/pull/3369

@nikhita -- you can feel free to `/lgtm` that one. The addition is approved by me for SIG Azure.

[2019-03-06 19:32] nikhita commented on #344
Done. But you'll still need a root owner for approval. Assigned Aaron since he was involved with this issue anyway.

[2019-03-06 21:34] #344 closed

[2019-03-06 21:37] RobertKrawitz opened #573 "REQUEST: New membership for RobertKrawitz"
### GitHub Username
@RobertKrawitz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-03-06 21:38] dashpole commented on #573
+1

[2019-03-06 21:47] sjenning commented on #573
+1

[2019-03-06 22:15] xmudrii opened #574 "REQUEST: New kubernetes-milestone-maintainers membership for xmudrii"
### GitHub Username
@xmudrii

### Organization you are requesting membership in
kubernetes-milestone-maintainers

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2019-03-07 00:49] andyzhangx commented on #344
Thanks guys!
about "vendoring k8s.io/kubernetes" issue, actually these two CSI repos depends on azure cloud provider, and that provider is still in k8s core repo, so when that provider is removed out of core repo, and we will switch to use a standalone azure provider, that will reduce the size a lot.

[2019-03-07 01:18] davidopp commented on #528
+1

[2019-03-07 01:23] mrbobbytables commented on #573
@RobertKrawitz just for clarification, you're requesting membership in the @kubernetes org? The organizations portion of the form should be which orgs you are requesting membership in for example: @kubernetes, @kubernetes-sigs, or @kubernetes-csi.

[2019-03-07 04:14] mrbobbytables commented on #510
@johnsonj, thanks for everything you've done for the project thus far :)

I've created PR #575   to add you to both the  @Kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-03-07 04:16] mrbobbytables commented on #567
@wk8, thank you for everything you've done for sig-windows :)

I've created PR #575   to add you to both the  @Kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-03-07 04:54] nikhita commented on #344
@andyzhangx Ack, thanks for the update! :)

[2019-03-07 04:55] #510 closed

[2019-03-07 04:55] #567 closed

[2019-03-07 05:06] nikhita commented on #574
@xmudrii can you create a PR to add yourself here? :) https://github.com/kubernetes/org/blob/9d184605dc1868781769becf605321d18407dddc/config/kubernetes/sig-release/teams.yaml#L2

[2019-03-07 05:42] nikhita commented on #528
I have created https://github.com/kubernetes-sigs/multi-tenancy.

I have also created https://github.com/kubernetes/org/pull/576 to add teams to provide admin and write access to the repo. Once the PR gets merged, the postsubmit runs and the team gets created, I will grant access to the team.

---

@easeway I noticed that you are not a member of @kubernetes-sigs. Only members can be added to OWNER

[2019-03-07 05:45] nikhita commented on #528
Oh, oops looks like @davidopp is also not a @kubernetes-sigs member, but a @kubernetes member.

Members of @kubernetes are implicitly eligible for membership to @kubernetes-sigs, so I'll go ahead and add David to the k-sigs org so that he can be added to the teams.

[2019-03-07 09:11] davidopp commented on #528
Thanks

[2019-03-07 09:13] Kiku-git opened #579 "REQUEST: New membership for <Kiku-git>"
### GitHub Username
Kiku-git

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-03-07 09:22] #579 closed

[2019-03-07 13:26] squeed commented on #479
@m1093782566 has agreed to sponsor me :-).

[2019-03-07 13:47] #574 closed

[2019-03-07 15:19] mrbobbytables commented on #479
Great! Once they chime in with their +1, your membership request can be processed :)

[2019-03-07 16:08] smarterclayton commented on #516
+1

[2019-03-07 16:14] mattjmcnaughton commented on #516
@mrbobbytables just pining you because @smarterclayton is employed at RedHat. So I've got a +1 from employees at Google and Red Hat, which I think meets the requirements.

Thanks so much :)

[2019-03-07 16:16] mrbobbytables commented on #516
Yup!
Thanks for adding your +1 @smarterclayton :)

@mattjmcnaughton Can get your org membership processed today. 🎉

[2019-03-07 16:18] mattjmcnaughton commented on #516
Woohoo, what a great start to my Thursday :)

Thank you @mrbobbytables and thank you to @smarterclayton , @DirectXMan12 , and @BenTheElder !

[2019-03-07 16:49] wk8 commented on #567
Thank you @mrbobbytables ! :)

(I'm sure I'm not the first to tell you, but I like your handle; well done, sir)

[2019-03-07 17:10] RobertKrawitz commented on #573
Yes, @kubernetes, updated form.

[2019-03-07 20:55] johnsonj commented on #510
Thank you @mrbobbytables !!

[2019-03-08 01:08] easeway opened #581 "REQUEST: New membership for easeway"
### GitHub Username
@easeway

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-03-08 01:09] davidopp commented on #581
+1

[2019-03-08 01:12] mrbobbytables commented on #581
@easeway I hate to be a stickler, but do you happen to have another potential sponsor? Both @davidopp  and @tallclair  are employed by Google, and sponsors must be from separate member organizations per the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Thanks!

[2019-03-08 03:11] mrbobbytables commented on #516
@mattjmcnaughton, thanks for everything you've contributed to the project thus far :)

I've created PR #582   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

/pony party

[2019-03-08 03:13] mrbobbytables commented on #573
@RobertKrawitz - Thanks for clarifying, just wanted to be sure :)

With that I've created PR #582  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-08 04:59] #516 closed

[2019-03-08 04:59] #573 closed

[2019-03-08 05:09] tashimi commented on #581
+1

@mrbobbytables I work at VMware and am the co-chair for the multitenancy working group and whole heartedly am in favor of @easeway’s application 😊

[2019-03-08 05:13] nikhita commented on #563
The config part has now merged: https://github.com/kubernetes/org/pull/566. All existing (non-admin) team maintainers have been converted to members and a test has been added to check that non-admins are not listed as maintainers.

Also notified k-dev that this is done: https://groups.google.com/d/msg/kubernetes-dev/WtvHtt2lR1w/TMiaTjESCAAJ

[2019-03-08 05:22] nikhita commented on #581
@tashimi thank you!

@easeway thank you for your contributions thus far! :tada:

I have added you and @davidopp to kubernetes-sigs + added both of you to the teams for the k-sigs/multi-tenancy repo in https://github.com/kubernetes/org/pull/576. If someone could lgtm that PR, that'd be awesome. :)

[2019-03-08 08:26] krmayankk opened #584 "REQUEST: New membership for @krmayankk"
GitHub Username
@krmayankk

Organization you are requesting membership in
kubernetes-milestone-maintainers

Requirements
  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-03-08 08:27] nikhita commented on #584
@krmayankk  can you create a PR to add yourself here? :) https://github.com/kubernetes/org/blob/9d184605dc1868781769becf605321d18407dddc/config/kubernetes/sig-release/teams.yaml#L2

[2019-03-08 08:35] krmayankk commented on #584
https://github.com/kubernetes/org/pull/585 @nikhita thanks :-)

[2019-03-08 18:28] iamneha opened #587 "REQUEST: New membership for Neha"
### GitHub Username
@iamneha

### Organization you are requesting membership in
@kubernetes
@kubernetes-client

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-03-08 18:31] roycaihw commented on #587
+1 welcome!

[2019-03-08 18:46] dims commented on #587
+1 welcome!

[2019-03-09 04:01] Rajakavitha1 commented on #587
+1 welcome!!!

[2019-03-09 06:48] nikhita commented on #587
+100000 :)

/pony yay

[2019-03-09 10:47] m1093782566 commented on #479
+1

[2019-03-10 08:06] Sai-Adarsh opened #588 "REQUEST: New membership for Sai-Adarsh"
### GitHub Username
@sai-adarsh

### Organization you are requesting membership in
@kubernetes
@kubernetes-client
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2019-03-11 00:57] DanyC97 opened #589 "REQUEST: New membership for DanyC97"
### GitHub Username
@DanyC97

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-03-11 01:00] Bradamant3 commented on #589
+1 confirmation of sponsorship

On Sun, Mar 10, 2019 at 8:57 PM Dani Comnea <notifications@github.com>
wrote:

[2019-03-11 01:01] DanyC97 commented on #589
wow, that was incredible fast @Bradamant3 , much thanks !

[2019-03-11 05:18] Rajakavitha1 commented on #589
+1 confirmation of sponsorship

[2019-03-11 06:09] aditya-konarde opened #590 "REQUEST: New membership for aditya-konarde"
### GitHub Username
@aditya-konarde
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-03-11 06:11] nikhita commented on #590
+1 from my side.
 Aditya has expressed an interest in serving as a slack admin in an underrepresented time zone (APAC).

[2019-03-11 13:32] dims commented on #590
+1 from me.!

[2019-03-11 16:21] nikhita commented on #581
Fixed by https://github.com/kubernetes/org/pull/576.

@easeway Welcome to @kubernetes-sigs! :tada: I have also added you to the multi-tenancy-admins and multi-tenancy-maintainers teams. Once you accept the org invite, you should automatically get added both. :)

/close

[2019-03-11 16:21] #581 closed

[2019-03-11 16:22] nikhita commented on #528
kubernetes-sigs/multi-tenancy-admins@ has admin access and kubernetes-sigs/multi-tenancy-maintainers@ has write access.

[2019-03-11 16:41] nikhita commented on #584
Fixed in https://github.com/kubernetes/org/pull/585.

/close

[2019-03-11 16:41] #584 closed

[2019-03-11 22:24] mrbobbytables commented on #470
@sfzylad  Checking back in, have you happened to find another sponsor?

[2019-03-11 22:46] mrbobbytables commented on #590
@aditya-konarde Thanks for stepping up to help with slack moderation :)

I've created PR #593  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-11 22:48] mrbobbytables commented on #589
Hey there @DanyC97, thank you for all your help with the Kubernetes website! :)

I've created PR #593  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-11 22:49] mrbobbytables commented on #587
Hey there @iamneha, thank you for all your contributions so far :)

I've created PR #593  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/pony party

[2019-03-11 22:50] mrbobbytables commented on #479
@squeed with @m1093782566 +1 I've created PR #593 to add you to the @kubernetes org :)
Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-11 22:55] mrbobbytables commented on #588
@Sai-Adarsh unfortunately @micw523  cannot sponsor for org membership. A sponsor must be an approver or reviewer in an associated org per the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements). Do you happen to know someone else who could sponsor you?

[2019-03-11 23:42] DanyC97 commented on #589
thank you kindly @mrbobbytables

[2019-03-12 01:36] #479 closed

[2019-03-12 01:36] #587 closed

[2019-03-12 01:36] #589 closed

[2019-03-12 01:36] #590 closed

[2019-03-12 04:05] sfzylad commented on #470
@mrbobbytables No luck so far.

[2019-03-12 05:38] Sai-Adarsh commented on #588
@nikhita

[2019-03-12 07:56] DanyC97 commented on #589
@mrbobbytables i just checked and i haven't received any membership invitation, am i missing something ?

[2019-03-12 07:58] nikhita commented on #589
@DanyC97 you should be able to accept the invite by visiting https://github.com/kubernetes.

[2019-03-12 07:59] DanyC97 commented on #589
spot on @nikhita , many thanks !

[2019-03-12 08:00] nikhita commented on #479
@squeed In case you didn't receive an email invitation already, you should be able to accept the invite by visiting https://github.com/kubernetes.

[2019-03-12 13:01] mrbobbytables commented on #470
If that is the case, it may be worth closing the issue and reopening it again when you find a second sponsor. =/

[2019-03-12 20:07] easeway commented on #528
Thanks @nikhita for setting this up!

[2019-03-12 20:07] #528 closed

[2019-03-12 21:03] a1h8 opened #594 "REQUEST: New membership for a1h8"
### GitHub Username
@a1h8

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2019-03-12 21:04] lledru commented on #594
+1
Huge welcome !

[2019-03-12 21:31] yastij commented on #594
+1

Thanks for the help on this

[2019-03-12 22:40] roycaihw commented on #588
@Sai-Adarsh thanks for your interest in contributing to Kubernetes org :)

Please follow the [instruction](https://github.com/kubernetes/org/blob/master/.github/ISSUE_TEMPLATE/membership.md#requirements) to speak with sponsors and get agreement before opening the application

I saw you have one PR merged kubernetes-client/python#766, but I don't see PR opened for https://github.com/kubernetes/comm

[2019-03-12 22:40] #588 closed

[2019-03-12 23:40] cheftako commented on #82
Do we have anything left to do on this?

[2019-03-13 00:04] tashimi opened #595 "REQUEST: New membership for tashimi"
### GitHub Username
tashimi

### Organization you are requesting membership in
Kubernetes
Kubernetes-SIG

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-03-13 00:27] justaugustus commented on #595
+1!

[2019-03-13 01:41] andrewsykim commented on #82
I think we can close this for now. I don't think DigitalOcean & Baidu cloud will be addressing this anytime soon. We can re-open if they want to revisit this in the future :)

/close

[2019-03-13 01:41] #82 closed

[2019-03-13 05:01] nikhita commented on #595
+1

[2019-03-13 18:24] JoelSpeed opened #596 "REQUEST: New membership for JoelSpeed"
### GitHub Username
@JoelSpeed

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-03-13 18:25] munnerz commented on #596
+1 😄

[2019-03-13 18:25] castrojo commented on #596
+1 from me as well!

[2019-03-13 18:59] droot commented on #596
+1 (@JoelSpeed has made some very important contributions to controller-runtime projects and has also been an early adopters/power-user of the project). Thanks @JoelSpeed.

[2019-03-13 18:59] mrbobbytables commented on #596
I know its not needed at this point, but I'll toss my own +1 in the mix too. :P

/pony yay

[2019-03-13 19:03] nikhita commented on #596
+1 :tada:

(side note: why is the "yay" pony always so sarcastic :P)

[2019-03-13 19:03] nikhita commented on #596
/pony party

[2019-03-13 23:32] ahmetb opened #599 "Migrate krew & krew-index to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing

Migrate two existing repositories of a project from `github.com/GoogleContainerTools` organization.

- https://github.com/GoogleContainerTools/krew
- https://github.com/GoogleContainerTools/krew-index

This is a transfer of these process to the SIG CLI as subproject as agreed upon by SIG CLI leadership.

### Requested name for new repositories

1. k

[2019-03-14 03:55] mrbobbytables commented on #594
Hey there @a1h8, thank you for helping with the french translations efforts :)

I've created PR #600  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-14 03:57] mrbobbytables commented on #595
@tashimi thanks for helping with the multi-tenancy wg :)

I've created PR #600  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-14 03:59] mrbobbytables commented on #596
@JoelSpeed  thanks for all your contributions and help with the project so far. \o/

I've created PR #600  to add you to the @Kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notifications from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-03-14 08:08] JoelSpeed commented on #596
Thanks @mrbobbytables and all those who +1'd, really appreciate it 😍

[2019-03-14 08:18] #594 closed

[2019-03-14 08:18] #595 closed

[2019-03-14 08:18] #596 closed

[2019-03-14 08:31] nikhita commented on #599
@ahmetb firstly, thank you for such a detailed issue! :)

Would be better to have the repos created first. You can create a PR now if you'd like, get the necessary approvals and add a `/hold` on it. We can just `/hold cancel` it once the repo is created. Might be faster that way. :woman_shrugging:

I'll check if folks who have contributed to the repo have also signed the CNCF CLA. If no, I think t

[2019-03-14 08:31] nikhita commented on #599
/assign

[2019-03-14 17:31] ahmetb commented on #599
@seans3 has just updated that thread with an approval. 🙌

I'm double checking from Google-side to see if there are any issues with the copyright transfer in the license headers.

[2019-03-14 17:45] srampal opened #603 "REQUEST: New membership for srampal"
### GitHub Username
@srampal

### Organization you are requesting membership in
@kubbernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-03-14 17:56] ashish-amarnath commented on #470
@sfzylad / @mrbobbytables lmk if I can help here!

[2019-03-14 18:01] nikhita commented on #599
A few points:

- :tada: for approval from sig-cli!

- All Kubernetes repos need to have certain template files (like `OWNERS`). The template files are mentioned here: https://github.com/kubernetes/kubernetes-template-project. Could you add them to both the repos?

- I verified licenses for third-party dependencies in both repos and they are fine. There are no problems with respect to licenses.

-

[2019-03-14 18:12] mrbobbytables commented on #470
@ashish-amarnath with your +1 @sfzylad could be added to @kubernetes-sigs :)

[2019-03-14 18:20] tashimi commented on #603
+1!

[2019-03-14 18:40] jordanwilson230 commented on #599
Just signed the CLA. Thanks, @nikhita.

[2019-03-14 18:48] nikhita commented on #468
:wave: just wanted to check if there are any updates here?

[2019-03-14 18:49] nikhita commented on #324
/lifecycle stale

Marking this as stale.. please advise if this is still required.

[2019-03-14 18:52] nikhita commented on #308
@dlipovetsky bumping this, can you create a PR to update sigs.yaml with this new repo? We can close this issue once it gets merged. :)

[2019-03-14 18:54] nikhita commented on #7
Can we close this in favour of https://github.com/kubernetes/test-infra/issues/10065?

[2019-03-14 19:04] davidopp commented on #603
+1

[2019-03-14 19:35] ashish-amarnath commented on #470
+1

[2019-03-14 20:29] wongma7 commented on #324
ceph org may be a better home for this. @cofyc any progress on that?

[2019-03-14 21:29] imkin opened #605 "Descrepencies between OWNER_ALIASES of community and org repo."
There are a lot of differences between the OWNER_ALIASES file of [community/](https://github.com/kubernetes/community/blob/master/OWNERS_ALIASES) repo and the [org/](https://github.com/kubernetes/org/blob/master/OWNERS_ALIASES) repo

Not sure where the deviation is. But I think whenever there is a commit to either of them a job/tool should synchronize the files on either repos.

[2019-03-14 21:30] imkin commented on #605
/cc @nikhita

[2019-03-15 00:50] cofyc commented on #324
/close

[2019-03-15 00:50] #324 closed

[2019-03-15 02:02] mrbobbytables commented on #470
With the additional +1 I've cut PR #607 to add you to @kubernetes-sigs :)
 Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

/pony pie
(for π day)

[2019-03-15 02:04] mrbobbytables commented on #603
@srampal, thanks for helping with wg-multitenancy :)

I've created PR #607  to add you to the @Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

/pony pie
(for π day)

[2019-03-15 04:48] sfzylad commented on #470
Happy times, thank you kindly! :)

[2019-03-15 05:14] #470 closed

[2019-03-15 05:14] #603 closed

[2019-03-15 05:24] nikhita commented on #605
/assign

I think this is somewhat tricky because a bot would need to create a PR...and I'm not sure we want to encourage that for OWNERS files because we have a _lot_ of them across the org. :)

The solution to fixing this long-term is probably https://github.com/kubernetes/test-infra/issues/10065.

For the short-term, I'll look into fixing this by checking both the files. Going forward, we should

[2019-03-15 08:25] ltupin opened #608 "REQUEST: New membership for ltupin"
### GitHub Username
@ltupin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-03-15 08:30] rekcah78 commented on #608
+1

[2019-03-15 12:27] yokawasa commented on #599
Hi @nikhita <https://github.com/nikhita>,

I've just completed signing CLA. Thanks!

-Yoichi  (@yokawasa <https://github.com/yokawasa> )

2019年3月15日(金) 3:01 Nikhita Raghunath <notifications@github.com>:

--
--
Yoichi Kawasaki <yokawasa@gmail.com>

[2019-03-15 12:31] djboris9 commented on #599
Hi @nikhita, I've just signed the CNCF CLA. Thanks!

[2019-03-15 12:46] ernoaapa commented on #599
@nikhita also signed (I think)! Had some problems because I had already Linux Foundation account but not connected to my GH account. Now should be ok :+1:

[2019-03-15 17:13] mauilion opened #609 "REQUEST: New membership for @mauilion"
### GitHub Username
@mauilion

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-03-15 17:37] justaugustus commented on #609
An enthusiastic +1 for Duffie's membership!

[2019-03-15 17:49] parispittman commented on #609
what @justaugustus said - +1

[2019-03-15 18:55] imkin commented on #605
Then probably we could choose one file as a "master".
Have a presubmit job that fails when the master OWNERS_ALIASES is not same as this one.

[2019-03-15 19:20] lledru commented on #608
+1 for docs-fr translation effort!

[2019-03-15 19:41] feloy opened #611 "REQUEST: New membership for feloy"
### GitHub Username
@feloy

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-03-15 23:14] dlipovetsky commented on #308
@nikhita Thanks for the gentle reminder. PR opened!

[2019-03-15 23:37] awesomenix opened #612 "REQUEST: New membership for awesomenix"
### GitHub Username
@awesomenix

### Organization you are requesting membership in
* kubernetes
* kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2019-03-15 23:47] tariq1890 commented on #612
Having worked with @awesomenix for close to a year, It brings me great joy to recommend him to the `kubernetes-sigs` org. He has been very active in the `cluster-api-provider-azure` project and has contributed many valuable enhancements to cluster-api azure provider.

[2019-03-16 00:15] juan-lee opened #613 "REQUEST: New membership for @juan-lee"
### GitHub Username
@juan-lee

### Organization you are requesting membership in
- kubernetes
- kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-03-16 03:23] vllry opened #614 "REQUEST: New membership for vllry"
### GitHub Username
@vllry

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2019-03-16 03:33] mrbobbytables commented on #614
Big +1 Here :D

/pony party

[2019-03-16 03:34] castrojo commented on #614
+1!

[2019-03-16 03:43] jeefy commented on #614
+1!!!

[2019-03-16 09:54] nikhita commented on #614
+1000!!!

/meow space

[2019-03-16 10:09] emreodabas commented on #599
I have also signed CLA. Thanks

On Thu, Mar 14, 2019, 21:01 Nikhita Raghunath <notifications@github.com>
wrote:

[2019-03-16 14:36] gerald1248 commented on #599
I have signed too, thanks!

Best wishes,
Gerald

On Sat, Mar 16, 2019 at 11:09 AM Emre Odabas <notifications@github.com>
wrote:

[2019-03-16 14:43] lledru commented on #611
+1 !! :D

[2019-03-16 14:44] eldadru commented on #599
Also signed, thanks!

On Sat, Mar 16, 2019 2:36 PM, Gerald Schmidt notifications@github.com  wrote:
I have signed too, thanks!

Best wishes,
Gerald

On Sat, Mar 16, 2019 at 11:09 AM Emre Odabas <notifications@github.com>
wrote:

https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

https://github.com/notifications/unsubscri

[2019-03-16 18:46] justaugustus commented on #614
+1!!

[2019-03-16 18:46] justaugustus commented on #613
+1! :)

[2019-03-16 18:46] justaugustus commented on #612
+1! :)

[2019-03-16 19:00] justaugustus commented on #614
Thanks so much for your contributions thus far!
I've created #616 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-03-16 19:00] justaugustus commented on #612
Thanks so much for your contributions thus far!
I've created #616 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-03-16 19:00] justaugustus commented on #609
Thanks so much for your contributions thus far!
I've created #616 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-03-16 19:00] justaugustus commented on #608
Thanks so much for your contributions thus far!
I've created #616 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-03-16 19:00] justaugustus commented on #542
Thanks so much for your contributions thus far!
I've created #616 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-03-16 19:13] justaugustus commented on #542
@bruceauyeung -- would you be able to find another sponsor as Christoph is out on vacation until the end of March?

[2019-03-17 03:14] ltupin commented on #608
Thx @justaugustus

[2019-03-17 13:16] #612 closed

[2019-03-17 13:16] #614 closed

[2019-03-17 13:16] #608 closed

[2019-03-17 13:16] #609 closed

[2019-03-17 14:20] sieben commented on #611
/approve

[2019-03-17 14:20] sieben commented on #611
+1

[2019-03-17 17:06] tariq1890 commented on #613
A Big +1 from me :). Juan-Lee has been leading all of the cluster-api efforts in the Microsoft front.

[2019-03-17 18:31] MAKOSCAFEE opened #619 "REQUEST: New membership for @MAKOSCAFEE"
### GitHub Username
@MAKOSCAFEE

### Organization you are requesting membership in
- kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-03-17 18:58] zparnold commented on #619
+1

[2019-03-17 22:46] jimangel commented on #619
+1 @MAKOSCAFEE and I have worked together on the last two releases for #sig-docs (1.13 and 1.14).

[2019-03-18 01:50] mrbobbytables commented on #611
@feloy, thank you for all your help with the french translations efforts! :)

I've created PR #620 to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-18 01:52] mrbobbytables commented on #613
@juan-lee, thank you for all your contributions to the cluster-api and azure provider! :)

I've created PR #620  to add you to both the @kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-03-18 01:53] mrbobbytables commented on #619
@MAKOSCAFEE Thanks for helping with the release process and being a docs shadow! :)

I've created PR #620  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-18 02:47] xiangpengzhao commented on #542
+1

[2019-03-18 03:31] bruceauyeung commented on #542
@justaugustus i have got sponsor from @xiangpengzhao , PTAL

[2019-03-18 06:23] #611 closed

[2019-03-18 06:23] #613 closed

[2019-03-18 06:23] #619 closed

[2019-03-18 10:19] nikhita commented on #308
https://github.com/kubernetes/community/pull/3439 merged :tada:

Closing.
/close

[2019-03-18 10:19] #308 closed

[2019-03-18 14:41] RA489 opened #621 "REQUEST: New membership for RA489"
**GitHub Username**

@RA489

**Organization you are requesting membership in**

@kubernetes

**Requirements**

- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-03-18 14:43] yagonobre commented on #621
+1
/area github-membership

[2019-03-18 14:44] rosti commented on #621
+1

[2019-03-18 17:10] Rajat-0 opened #623 "REQUEST: New membership for rajat-0"
### GitHub Username
@rajat-0

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-03-18 23:58] bsalamat commented on #614
Late to the party, but +1 from me too!

[2019-03-19 00:56] mrbobbytables commented on #542
Thanks for adding your +1 @xiangpengzhao :)

With that, @bruceauyeung your org membership can be processed. I've created PR #625 to add you to the @kubernetes org. :D

Welcome!

[2019-03-19 00:57] mrbobbytables commented on #621
@RA489  thank you for all your contributions so far :)

I've created PR #625  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-19 03:12] yue9944882 opened #626 "New Repo: kubernetes-client perl"
### New Repo, Staging Repo, or migrate existing

new repository

### Requested name for new repository

perl

### Which Organization should it reside

kubernetes-client

### If not a staging repo, who should have admin access

@yue9944882 @mbohlool

### If not a staging repo, who should have write access

@yue9944882 @mbohlool

### If a new repo, who should be listed as approvers in OWNERS

@yue99

[2019-03-19 03:52] #542 closed

[2019-03-19 03:52] #621 closed

[2019-03-19 04:36] nikhita commented on #626
Oh wow, a perl Kubernetes client!!! :tada: :tada: :tada:

@yue9944882 for approval, can you send an email to the api-machinery ML and ask for approval from David or Daniel?

[2019-03-19 04:36] nikhita commented on #626
/cc @brendandburns

[2019-03-19 04:38] nikhita commented on #626
/assign

[2019-03-19 13:02] nikhita commented on #563
/sig contributor-experience
/lifecycle active

[2019-03-19 19:56] chris-short opened #627 "REQUEST: New membership for chris-short"
### GitHub Username
chris-short

### Organization you are requesting membership in
Kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-03-19 19:58] nikhita commented on #627
Yesssssss! +100, Chris is an active member of sig contribex :)

/meow

[2019-03-19 20:15] guineveresaenger commented on #627
+1 from me! yayyyyy!

[2019-03-19 20:27] spiffxp commented on #627
+1 from sponsor

[2019-03-19 22:41] mbohlool commented on #626
/lgtm
I think we at least need approval from @lavalamp or @deads2k as API Machinery leads.

@yue9944882 one way to get the approval is to just add it to the next sig api machinery meeting.

When we have approval for this, please ping me and I will create the repo for you. BTW, it won't be "official" and listed until it gets to at least "silver" feature level.

[2019-03-19 23:05] lavalamp commented on #626
I think I am OK with this as long as I don't have to read or write any actual perl :)

[2019-03-20 01:48] nikhita commented on #626
Lol, I'll take this as approval.

Creating a new repo requires org admin permissions, so I'll take care of this.

[2019-03-20 02:58] yue9944882 commented on #626
thank you!!

[https://github.com/brendandburns/community/blob/8c745d4b1f24eafba7a1fe31108fae393b973669/contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md#client-capabilities](https://github.com/brendandburns/community/blob/8c745d4b1f24eafba7a1fe31108fae393b973669/contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md#client-capabilities) so i s

[2019-03-20 03:35] nikhita commented on #626
https://github.com/kubernetes-client/perl has been created! :tada:

Once the postsubmit gets run for https://github.com/kubernetes/org/pull/629, I'll assign the teams access. :)

After that's done + https://github.com/kubernetes/community/pull/3475 gets merged, we can close this issue.

[2019-03-20 10:21] dholbach opened #630 "New repository: addon-operators"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
addon-operators

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@justinsb

### If not a staging repo, who should have write access
@justinsb

### If a new repo, who should be listed as approvers in OWNERS
@justinsb

### If a new rep

[2019-03-20 10:35] luxas commented on #630
:+1:

[2019-03-20 10:38] nikhita commented on #630
/assign

[2019-03-20 11:18] nikhita commented on #630
Created https://github.com/kubernetes-sigs/addon-operators :tada:

Once the postsubmit runs for https://github.com/kubernetes/org/pull/631, the teams will be created on GitHub. I will then assign the teams appropriate access to the repo. :)

@dholbach could you create a PR to add this new subproject to sigs.yaml in the community repo?

Once the teams are assigned access + the above PR gets merged,

[2019-03-20 11:18] nikhita commented on #630
Oh also...what should be the one-line description for the repo?

[2019-03-20 11:20] nikhita commented on #626
Done. @yue9944882 @mbohlool you should now have admin access to the repo.

[2019-03-20 13:32] hex108 opened #632 "REQUEST: New membership for hex108"
### GitHub Username
@hex108

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-03-20 13:35] nikhita commented on #632
Yes, you don't need sponsors :)

Can you create a PR to add yourself here: https://github.com/kubernetes/org/blob/master/config/kubernetes-sigs/org.yaml#L17?

[2019-03-20 14:19] hex108 commented on #632
Thanks @nikhita ,  I just sent PR https://github.com/kubernetes/org/pull/633, PTAL.

[2019-03-20 14:25] #632 closed

[2019-03-20 14:25] nikhita commented on #630
This is done.

[2019-03-20 14:59] dholbach commented on #630
"Addon operators for Kubernetes clusters"?

Not very witty, but let's add it for now and move on from there.

Will do.

[2019-03-20 15:01] timothysc commented on #630
Please ensure the OWNERs files are updated appropriately to follow standard subproject formats.

e.g. - https://github.com/kubernetes-sigs/cluster-api/blob/master/OWNERS

[2019-03-20 15:02] timothysc commented on #630
Also ensure the SCL leads have admin rights to that repo.

[2019-03-20 15:15] nikhita commented on #630
Done.

Done.

Created https://github.com/kubernetes/org/pull/634. @luxas was not part of kubernetes-sigs, so I've added him there. @timothysc can you add lgtm?

[2019-03-20 15:19] timothysc commented on #630
/lgtm

Thx @nikhita !

[2019-03-20 15:21] nikhita commented on #630
Oops, you commented on the issue :)

[2019-03-20 15:54] brendandburns opened #635 "Please add AzurePipelines to the kubernetes-client org."
### Organization or repository
kubernetes-client organization

### Name of integration
Azure Pipelines

### Link to integration website
https://github.com/marketplace/azure-pipelines

### Describe what is attempting to be accomplished
Azure Pipelines will be used for code coverage, unit and integration testing for some of the kubernetes client libraries (e.g. C#) where Travis is missing functional

[2019-03-20 15:55] brendandburns commented on #635
/assign nikhita

[2019-03-20 20:56] justaugustus opened #637 "Steering Committee has approval rights on SIG team membership"
### Organization or repository
kubernetes/org

### Users affected
All (@kubernetes/owners)

### Describe the issue
While looking at https://github.com/kubernetes/org/pull/636, I noticed that the PR was already approved and merged, but by a non-SIG Release Chair/Lead.

I retroactively approved the PR, to make it clear that we're fine with the change, but I'd like to discuss a little. @timothysc was

[2019-03-20 20:58] timothysc commented on #637
/cc @kubernetes/steering-committee

[2019-03-20 21:00] justaugustus commented on #637
/area github-management
/committee steering

[2019-03-20 21:32] spiffxp commented on #637
I'm a pretty strong nope on `no_parent_owners` in this case, because the buck stops with the github admins here.

Removing steering from root instead

[2019-03-20 21:34] spiffxp commented on #637
FWIW: whether membership into that team should be approvable by more than sig-release is orthogonal to steering being at root, that can definitely be represented in other ways, but I consider out of scope in this issue

[2019-03-20 21:42] justaugustus commented on #637
SGTM on all points. Thanks for addressing, @spiffxp!
Closed via #638.
/close

[2019-03-20 21:42] #637 closed

[2019-03-20 23:23] spiffxp commented on #635
I don't have an azure account, so this step:
![Screen Shot 2019-03-20 at 4 19 55 PM](https://user-images.githubusercontent.com/49258/54725367-053c6880-4b2c-11e9-9ce5-b550af3a2610.png)

Bailed and put me at a login screen
![Screen Shot 2019-03-20 at 4 21 33 PM](https://user-images.githubusercontent.com/49258/54725450-551b2f80-4b2c-11e9-9170-deb0ba1ae080.png)

However, I believe the integration is n

[2019-03-20 23:23] spiffxp commented on #635
/assign

[2019-03-21 00:27] mrbobbytables commented on #627
@chris-short I've created PR #639 to add you to the @kubernetes org. Once it gets merged you should get a membership invite notification. 🎉
:D

/meow yay
/pony party

[2019-03-21 00:50] serbrech opened #640 "REQUEST: New membership for serbrech"
### GitHub Username
@serbrech

### Organization you are requesting membership in
kubernetes
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-03-21 00:51] justaugustus commented on #640
+1!

[2019-03-21 04:08] justaugustus commented on #627
+1!

[2019-03-21 04:31] #627 closed

[2019-03-21 12:48] saschagrunert opened #641 "REQUEST: New membership for saschagrunert"
### GitHub Username

@saschagrunert

### Organization you are requesting membership in

kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2019-03-21 13:36] rhatdan commented on #641
LGTM

[2019-03-21 14:42] nikhita commented on #630
All done!

/close

[2019-03-21 14:42] #630 closed

[2019-03-21 20:19] dims opened #642 "New kubernetes/cri-api github repository for staging the CRI API"
### New Repo, Staging Repo, or migrate existing
We need a new kubernetes/cri-api (similar to kubernetes/csi-api or kubernetes/node-api)

### Requested name for new repository
cri-api

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
it is a staging repo.

### If not a staging repo, who should have write access
it is a staging repo.

### If

[2019-03-21 20:19] dims commented on #642
cc @dchen1107 @derekwaynecarr @mikebrow @resouer @ddebroy

[2019-03-21 21:46] saiwannaaung opened #643 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username
e.g. (at)example_user

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2019-03-21 21:49] brendandburns commented on #635
Thanks, I'll give it a try...

[2019-03-21 21:54] brendandburns commented on #635
@spiffxp seems to be working, thanks!

Closing.

[2019-03-21 21:54] #635 closed

[2019-03-21 23:03] tariq1890 commented on #640
+100! Stéphane is a colleague and I can definitely vouch for him. He has been closely involved with cluster-api and cluster-api-provider-azure

[2019-03-21 23:07] mrbobbytables commented on #643
As this looks like it was created in error. I'm going to go ahead and close it. @saiwannaaung If you believe this is in error, please reopen and complete the form.

Thanks!

/close

[2019-03-21 23:07] #643 closed

[2019-03-21 23:11] mikebrow commented on #642
nit.. suggest `cri` by itself, the `api` suffix should not be necessary

[2019-03-21 23:31] dims commented on #642
@mikebrow please see the existing patterns :) https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io

[2019-03-21 23:40] nikhita commented on #642
/assign

[2019-03-21 23:43] nikhita commented on #642
It's too early here so maybe I missed something :) but this'll also need approval from sig-arch since this is a core repo: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#core-repositories

[2019-03-21 23:52] dims commented on #642
Ack, i sent an email to them asking for approval:
https://groups.google.com/d/msg/kubernetes-sig-architecture/xtt1CbeSZzQ/mYQesFQTBAAJ

[2019-03-22 09:30] mwielgus commented on #623
+1 Thank you for your contributions!

[2019-03-22 09:49] adisky commented on #623
+1 from me!!

[2019-03-22 12:52] mattfarina commented on #642
/approve

Note, @dims and @derekwaynecarr who are listed on this request are SIG Arch co-chairs as listed in https://github.com/kubernetes/community/tree/master/sig-architecture#leadership

[2019-03-22 16:02] mikebrow commented on #642
Two thoughts... why repeat a pattern out of convention that has no useful function... container runtime interface - application programming interface is a long winded collection of TLAs that repeats the word interface. Coming from a TLA company working on OSS I get the appeal :-) But there is no need to say interface twice, since CR**I** is an AP**I**. Thus the pattern of naming the Interfaces as

[2019-03-22 17:35] dims commented on #642
@mikebrow noted, we should rather spend time on figuring out what else we need to do (see example [1]) than bikeshed on the name. Having been through transitions of some software  between DataPower / WebSphere / PureApplication / BlueMix / Softlayer brands in a previous life, this stuff is hard and let's keep the existing patterns.

[1] https://github.com/google/cadvisor/issues/2204

[2019-03-22 18:16] tariq1890 commented on #640
@mrbobbytables Following up on this :)

[2019-03-22 18:27] mrbobbytables commented on #640
@tariq1890 I'll get a PR out the door later today :)

[2019-03-22 18:31] tariq1890 commented on #640
Thanks!

[2019-03-22 20:52] corneliusweig commented on #599
Also signed. Sorry it took so long.

[2019-03-23 00:50] mrbobbytables commented on #641
As this is to establish an additional owner for the cri-o, I'll toss in my +1 as well and get this squared away soon :)

[2019-03-23 00:59] mrbobbytables commented on #623
@Rajat-0 , thank you for all your contributions so far :)

I've created PR #645  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-23 01:01] mrbobbytables commented on #640
@serbrech thanks for helping out azure cluster api :)
I've created PR #645 to add you to both the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-23 01:02] mrbobbytables commented on #641
@saschagrunert Thanks for helping out so much with cri-o :)

I've created PR #645  to add you to the @Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-03-23 01:41] #623 closed

[2019-03-23 01:41] #640 closed

[2019-03-23 01:41] #641 closed

[2019-03-23 07:24] nikhita commented on #599
@jpdasma :wave: friendly reminder for singing the CNCF CLA :)

Once that's done, I can proceed forward with the migration! :tada:

[2019-03-23 08:31] saschagrunert commented on #641
Thank you very much! :pray:

[2019-03-24 03:32] dims commented on #642
We have +1 from me, @derekwaynecarr and @mattfarina So let's please go ahead with this.

[2019-03-25 10:09] bene2k1 opened #648 "REQUEST: New membership for bene2k1"
### GitHub Username
@bene2k1

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-03-25 10:12] sieben commented on #648
/approve

[2019-03-25 17:41] rlenferink commented on #648
+1 @bene2k1 is the initiator behind translation our docs to German 🎉

[2019-03-25 17:56] zacharysarah commented on #648
+1, thanks @bene2k1 for starting a German localization!

[2019-03-25 23:28] guoshimin opened #651 "REQUEST: enable travis-ci for kubernetes-client/haskell"
### Organization or repository
kubernetes-client/haskell

### Users affected
N/A

### Describe the issue
We would like https://travis-ci.org/kubernetes-client/haskell to be enabled.

[2019-03-25 23:37] leakingtapan commented on #467
/hold cancel

[2019-03-25 23:37] leakingtapan commented on #468
/hold cancel

[2019-03-25 23:38] leakingtapan commented on #468
@nikhita we are ready for this

[2019-03-26 02:06] mrbobbytables commented on #648
@bene2k1 , thank you for helping kickstart the German localization efforts!

I've created PR #652  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-26 07:40] nikhita commented on #651
@guoshimin our general recommendation in Kubernetes is to use https://github.com/kubernetes/test-infra/tree/master/prow instead of Travis wherever possible. Do you think that Prow could be used in this case?

[2019-03-26 07:42] nikhita commented on #467
/unassign @cblecker
/assign

[2019-03-26 07:42] nikhita commented on #468
@leakingtapan thanks for the update!

/unassign @cblecker
/assign

[2019-03-26 07:53] #648 closed

[2019-03-26 08:50] nikhita commented on #642
Repo created https://github.com/kubernetes/cri-api :tada:

- PR to setup branch protection: https://github.com/kubernetes/test-infra/pull/11941
- **publishing-bot**:
   - PR against the publishing bot repo: https://github.com/kubernetes/publishing-bot/pull/170
   - PR to update rules against k/k: TODO. Will do this once a PR to create add the new repo to staging has been created, since it's easier

[2019-03-26 09:08] nikhita commented on #467
@leakingtapan @d-nishi can you add me as an admin to both the repos? I can work on the migration after that.

[2019-03-26 12:55] dims commented on #642
Thanks a ton @nikhita

[2019-03-26 15:02] guoshimin commented on #651
I'll look into it. travis-ci is enabled for other repos in the
kubernetes-client org: https://travis-ci.org/kubernetes-client, so I
thought it would be nice to enable it for haskell too.

On Tue, Mar 26, 2019, 12:40 AM Nikhita Raghunath <notifications@github.com>
wrote:

[2019-03-26 17:36] spiffxp commented on #651
Travis is enabled for the kubernetes-client org, AFAIK there are no per-repo settings for us to configure.  You may want to contact the members of https://github.com/orgs/kubernetes-client/teams/haskell-admins to have them setup this specific repo

![Screen Shot 2019-03-26 at 10 30 43 AM](https://user-images.githubusercontent.com/49258/55019630-82476200-4fb2-11e9-9b3b-8326542dead4.png)

That said,

[2019-03-26 17:36] spiffxp commented on #651
/close
Please /reopen if you feel we have not addressed your question

[2019-03-26 17:37] spiffxp commented on #651
/assign @spiffxp @nikhita
(since we participated)

[2019-03-26 19:25] shawn-hurley opened #655 "REQUEST: New membership for @shawn-hurley"
### GitHub Username

@shawn-hurley

### Organization you are requesting membership in
@kubernetes-sig

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-03-26 19:30] pmorie commented on #655
+1

[2019-03-26 21:40] droot commented on #655
+1
Thanks @shawn-hurley for all the contributions and help!

[2019-03-27 05:23] nikhita commented on #467
@d-nishi thanks for adding me as an admin!

Hate to be a stickler, but looks like we have a few outstanding things to address before migration :grimacing:

Adding notes for both this repo + https://github.com/kubernetes/org/issues/468:

- The following contributors need to sign the CNCF CLA before we can migrate. Instructions about signing the CLA can be found [here](https://github.com/kubernetes/

[2019-03-27 05:23] nikhita commented on #468
for additional context: https://github.com/kubernetes/org/issues/467#issuecomment-476980841

[2019-03-27 05:46] nikhita commented on #599
I just verified CLA ...@ernoaapa looks like your github account is still somehow not detected by LF. :( Can you recheck and/or open a ticket at https://support.linuxfoundation.org/?

[2019-03-27 06:04] d-nishi commented on #467
@nikhita will close these soon and ping you back. Thanks!

[2019-03-27 15:57] hyandell commented on #467
(Amazon OSPO hat)

Please review @jpeddicord commits. They were repository creation actions.

Do not remove NOTICE files, they are there per the Apache License 2.0. Removing THIRD_PARTY files is probably a bad idea though you may wish to rename/relocate them. No concern with replacing the Amazon CoC.

[2019-03-27 16:17] ahmetb commented on #599
BTW we can probably remove contributions from krew-index temporarily, if we can't reach out to the author. In this case I pinged @.jpdasma several times over email and GitHub.

Perhaps we should leave `krew-index` out of the transfer process and revisit later.

[2019-03-27 17:01] kad opened #658 "REQUEST: New membership for kad"
### GitHub Username
@kad

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-03-27 18:06] ernoaapa commented on #599
I contacted support, hopefully soon solve my issue

[2019-03-27 20:29] granular-ryanbonham opened #660 "REQUEST: New membership for granular-ryanbonham"
### GitHub Username
granular-ryanbonham

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-03-27 20:36] mikesplainsonos commented on #660
@granular-ryanbonham has been a great asset to the kops team!

+1

[2019-03-27 20:38] mikesplain commented on #660
@granular-ryanbonham has been a great asset to the kops team!

+1

[2019-03-27 21:57] justinsb commented on #660
+1

@granular-ryanbonham is very involved in kops and was instrumental in figuring out how we should move forwards with calico

[2019-03-28 00:57] leakingtapan commented on #467
@nikhita I reverted @watsonso's commit since it was only one character change.

[2019-03-28 02:22] mrbobbytables commented on #655
Hey there @shawn-hurley, thank you for all your contributions so far :)

I've created PR #661 to add you to the @Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-03-28 02:23] mrbobbytables commented on #658
@kad I've created PR #661 to add you to the @kubernetes-sigs org. Once it gets merged, you should get a membership invite notification.

Thanks!

/assign

[2019-03-28 02:24] mrbobbytables commented on #660
@granular-ryanbonham, thank you for all the work you've done with Kops :)

I've created PR #661  to add you to the @Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-03-28 04:48] #655 closed

[2019-03-28 04:48] #658 closed

[2019-03-28 04:48] #660 closed

[2019-03-28 12:40] nikhita commented on #642
Only thing that's left now: https://github.com/kubernetes/community/pull/3518

[2019-03-28 13:15] nikhita commented on #599
@ahmetb to confirm, do you want me to migrate `krew` right now? I can do that once I get admin access to the repo.

@swinslow from the legal side, can you confirm here that this is ok to do?

It looks like they are not reachable. Maybe we could add a `NOTICE` file saying this contributor could not be reached? @swinslow how long do we have to wait before we add the `NOTICE` file?

The [rules](https

[2019-03-28 13:28] nikhita commented on #467
Ack, thanks for the quick responses, @hyandell and @leakingtapan! :)

Just to cover all bases: @swinslow, from the legal side, can you confirm the following? :grimacing:

Can you confirm that we are good with keeping the `NOTICE`, `THIRD_PARTY` files? If we need to rename/relocate the `THIRD_PARTY` file, what do we rename it to and where do we relocate it to?

Can you confirm that we don't need to

[2019-03-28 14:02] kad commented on #658
Thanks @mrbobbytables!

[2019-03-28 15:15] dims commented on #642
Thanks a ton @nikhita !

[2019-03-28 15:29] dims commented on #599
@jpdasma seems to have signed the Google CLA at least https://github.com/GoogleContainerTools/krew-index/pull/18

[2019-03-28 15:32] nikhita commented on #642
https://github.com/kubernetes/community/pull/3518 merged \o/

/close

[2019-03-28 15:32] #642 closed

[2019-03-28 16:38] pwittrock opened #662 "Request for new SIG-CLI kubernetes-sigs repo - cli-experimental"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
cli-experimental

### Which Organization should it reside
 kubernetes-sigs

### If not a staging repo, who should have admin access
@pwittrock
@seans3
@soltysh

### If not a staging repo, who should have write access
@monopole
@liggitt
@Liujingfang1

### If not a staging repo, who should be listed as ap

[2019-03-28 17:07] bgrant0607 commented on #662
This is completely reasonable and in the scope of SIG CLI.

[2019-03-28 17:32] smarterclayton commented on #662
I would prefer we don't use cutesy names for an experimental thing, but prefer cli-experimental or something.

`kraken` is a Docker proxy published by uber that can be used with kubernetes, so we're going to run into names.

Also, `kustomize` would have been less contentious if it had just been a simple command name like `apply-unit`, so giving "pretty" names creates a sense of something abnormal

[2019-03-28 18:02] pwittrock commented on #662
SGTM.  Do you have a preference on the binary name?

[2019-03-28 18:39] caniszczyk commented on #467
If the original commits were removed there's no need for him to sign the CLA.

[2019-03-28 20:02] Katharine opened #663 "New repo request: kubernetes-sigs/slack-infra"
### New Repo, Staging Repo, or migrate existing
New repo

### Requested name for new repository
`slack-infra`

### Which Organization should it reside
`kubernetes-sigs`

### If not a staging repo, who should have admin access
@Katharine, @jeefy

### If not a staging repo, who should have write access
(nobody?)

### If not a staging repo, who should be listed as approvers in OWNERS
@Katharine, @jee

[2019-03-28 20:03] rlenferink commented on #663
+1

[2019-03-28 21:52] smarterclayton commented on #662
Is it purely for experimentation?  `kubectl-next` or `kubectl-prototype` would give that sense.  Or just `kcli-exp` or `kcli-new` or something.

[2019-03-28 23:11] pwittrock commented on #662
cc @soltysh
cc @juanvallejo
cc @JiangtianLi

[2019-03-28 23:16] pwittrock commented on #662
I think of it more as an experiment.  However if it is a successful experiment we need to decide how to proceed - e.g. do  we upstream the functionality into kubectl, deprecate it from kubectl, or keep it in both places.

How about `kr` for *Kubernetes Resources*.

[2019-03-29 00:46] swinslow commented on #599
@nikhita I don't know the original background for those rules -- I don't think there are any particular rules for how long to wait. It would be preferable to avoid pulling in the repo where some content / commits are not covered by the CNCF CLA, if possible.

It looks like @jpdasma only had two commits in krew-index ([1](https://github.com/GoogleContainerTools/krew-index/commit/a574f507dc84a597e5e

[2019-03-29 01:03] swinslow commented on #467
Agree with @hyandell, the Kubernetes project should not ourselves be removing the pre-existing NOTICE files from third parties.

That said -- @hyandell, I gather from this you're with Amazon :) and I assume others on this thread may be as well. A question for you: seeing as the NOTICE file only has an Amazon copyright statement, would Amazon be okay with removing that statement and the NOTICE file

[2019-03-29 03:49] ernoaapa commented on #599
Now my CLA should be signed properly.

[2019-03-29 05:04] leakingtapan commented on #467
We will merge Kubernetes' CoC/CONTRIBUTING/OWNERS files after the transfer: https://github.com/d-nishi/aws-efs-csi-driver/pull/17 and https://github.com/d-nishi/aws-fsx-csi-driver/pull/20

[2019-03-29 08:40] nikhita commented on #663
+1

/assign

[2019-03-29 08:48] nikhita commented on #662
@pwittrock to confirm, do you want to go forward with the name `cli-experimental` then?

[2019-03-29 10:46] nikhita commented on #663
Repo created https://github.com/kubernetes-sigs/slack-infra :tada:

Created:
- https://github.com/kubernetes/org/pull/666: for admins team
- https://github.com/kubernetes/community/pull/3532: for updating sigs.yaml

Will close once admin access is granted and the PR to update sigs.yaml has merged.

[2019-03-29 11:50] nikhita commented on #599
Thank you so much, Erno! I can verify that CLA is ok now.

@ahmetb wdyt? do you think we can remove this file and maybe re-add after migrating?

[2019-03-29 12:21] nikhita commented on #663
@Katharine @jeefy you should now have admin access to the repo. :)

[2019-03-29 13:19] mrbobbytables opened #667 "New repo: kubernetes-sigs/netlify-test"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
netlify-test

I am impartial on name if another is desired.

### Which Organization should it reside
@kubernetes-sigs

### If not a staging repo, who should have admin access
@mrbobbytables

### If not a staging repo, who should have write access
@mrbobbytables

### If not a staging repo, who should be

[2019-03-29 13:24] nikhita commented on #667
+1 from my side.

Let's revisit this on 5 April. If more time is needed, I guess it should be fine but let's publicly update the date so that we have an audit log. :)

@spiffxp if this lgty, can you add your +1? Since this is a temporary repo, I think a github-management owner should have weight in the decision as well.

[2019-03-29 13:56] jeefy commented on #663
@nikhita You're the best! 😊 Thanks!!

[2019-03-29 13:57] spiffxp commented on #667
+1 from subproject owner

[2019-03-29 14:01] nikhita commented on #667
/assign

[2019-03-29 14:10] nikhita commented on #667
Done https://github.com/kubernetes-sigs/netlify-test :tada:

@mrbobbytables I assigned you direct admin access since this is a temporary repo and didn't create a new team for it.

/close

[2019-03-29 14:10] #667 closed

[2019-03-29 14:15] mrbobbytables commented on #667
Thanks @nikhita! 👍

[2019-03-29 14:41] pwittrock commented on #662
@nikhita Yes, lets move forward with cli-experimental.  We can always graduate things out of `cli-experimental` into new subprojects as they mature.

[2019-03-29 14:47] nikhita commented on #662
/assign

[2019-03-29 15:13] nikhita commented on #662
Repo created https://github.com/kubernetes-sigs/cli-experimental :tada:

Created:

- https://github.com/kubernetes/org/pull/668: to add GitHub teams for the repo
- https://github.com/kubernetes/community/pull/3534: to add the repo to sigs.yaml

After the postsubmit runs, I will grant access to the teams. Once that's done + the PR to add to sigs.yaml merges, we can close this issue.

[2019-03-29 15:40] soltysh commented on #599
:+1: for doing it and opening an issue and requesting the author to re-add it

[2019-03-29 16:29] ahmetb commented on #599
Done, removed the particular contribution. (https://github.com/GoogleContainerTools/krew-index/pull/121) There's a known issue with Krew while a plugin is removed from the index (users who installed this particular plugin won't be able to run `krew update` successfully for now) but I'll add this plugin back myself.

[2019-03-29 17:11] hyandell commented on #467
I believe THIRD_PARTY was hand developed using https://github.com/amzn/oss-attribution-builder - I'll leave it up to the LF/CNCF how they want to handle license compliance situations.

On the NOTICE, removing that file is okay; I assume we can move the copyright to the source files themselves?

[2019-03-30 08:17] nikhita commented on #599
Awesome! @ahmetb can you add me as an admin to both repos? I can handle the migration after that.

[2019-04-01 02:47] Bubblemelon opened #670 "REQUEST: New membership for bubblemelon"
### GitHub Username
@bubblemelon

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-04-01 09:57] nikhita commented on #670
+1

Cheryl is the branch manager lead for 1.15: https://github.com/kubernetes/sig-release/blob/master/releases/release-1.15/release_team.md

She was also the branch manager [shadow in 1.14](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.14/release_team.md) and has been active in the Kubernetes upstream community since more than a year :)

[2019-04-01 13:30] gerred commented on #260
/close

On Sat, Mar 30, 2019 at 1:03 AM fejta-bot <notifications@github.com> wrote:

[2019-04-01 13:30] #260 closed

[2019-04-01 13:49] hoegaarden commented on #670
+1

[2019-04-01 14:31] embano1 opened #671 "REQUEST: New membership for embano1"
### GitHub Username
@embano1

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-04-01 14:32] nikhita commented on #671
+100 :)

[2019-04-01 14:35] frapposelli commented on #671
👍 times 💯

[2019-04-01 14:53] nikhita commented on #467
@swinslow @caniszczyk  wdyt?

[2019-04-01 15:02] swinslow commented on #467
The practice in kubernetes' repos has been to list the copyright holder in source files as "The Kubernetes Authors" and similar, so that there isn't continual churn in trying to keep notices up to date as subsequent commits are made. From a quick look it appears that the source files in aws-fsx-csi-driver are already following this practice so no changes to them should be needed.

[2019-04-01 15:09] nikhita commented on #467
So from what I gather, the next steps would be to remove the `NOTICE` file and keep the `THIRD_PARTY` file?

@hyandell and @swinslow can you both confirm that Amazon and LF/CNCF would be good with this? Thanks! :)

[2019-04-01 15:19] swinslow commented on #467
Yes, this would be fine from the CNCF side.

[2019-04-01 15:52] nikhita commented on #599
Migration is done! :tada:  Thanks for your patience with the back-and-forth, everyone :)

- https://github.com/kubernetes-sigs/krew
- https://github.com/kubernetes-sigs/krew-index

I have created https://github.com/kubernetes/org/pull/672 to add teams for both repos. After that gets merged, a postsubmit will run which will actually create those GitHub teams. I'll then manually grant access to thes

[2019-04-01 16:04] nikhita commented on #467
Oh, I just realized about this. This is still outstanding.

My understanding is that all commits should have CLA signed...but @swinslow @caniszczyk could you confirm that it is ok to not have the CLA signed for the initial commit?

Ref:
- https://github.com/d-nishi/aws-fsx-csi-driver/commits?author=jpeddicord
- https://github.com/d-nishi/aws-efs-csi-driver/commits?author=jpeddicord

Alternatively,

[2019-04-01 17:25] nikhita commented on #599
The respective teams have been granted access. For Kubernetes repos, we want to grant access to repos only via teams so I've removed direct access for krew for @dlorenc and @lbb and for krew-index for @lbb.

If you'd like access, you could create a PR to [add yourself to the appropriate teams](https://github.com/kubernetes/org/blob/91315d71562ef1c4c7ad1c10f12a909e7d6913d4/config/kubernetes-sigs/si

[2019-04-01 17:40] ahmetb commented on #599
That sounds ok as the listed people aren't maintainers.

[2019-04-01 20:33] jpeddicord commented on #467
CCLA signed. (I think. I got "You are already authorized to contribute code to this project through your membership with CNCF - Amazon." when going through that.)

[2019-04-01 22:27] d-nishi commented on #467
We will finish the transfer tomorrow then

[2019-04-02 00:34] mrbobbytables commented on #670
@Bubblemelon  thank you for all your help with the release process :)

I've created PR #674 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-02 00:35] mrbobbytables commented on #671
Hey there @embano1 , thank you for all your contributions so far :)

I've created PR #674  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-02 04:52] #670 closed

[2019-04-02 04:52] #671 closed

[2019-04-02 06:59] Bubblemelon commented on #670
Thanks everyone! :smile:

[2019-04-02 11:33] embano1 commented on #671
Thank you @mrbobbytables !!! Everything worked like a charme!
Big THX to @frapposelli and @nikhita for their endorsement and inspiring leadership! Feeling blessed and honored.

[2019-04-02 11:40] nikhita commented on #671
Thank _you_ for your contributions :heart:

[2019-04-02 14:32] mrunalp opened #675 "Moving CRI-O to a different github organization"
We are planning to move github.com/kubernetes-sigs/cri-o to github.com/cri-o/cri-o as part of moving to the CNCF. What are the steps that we need to follow?

CNCF is planning to publish a blog on 4th April and would like it if we are at our new location before that.

[2019-04-02 14:37] nikhita commented on #675
A member from the github-admin team needs to be made admin for the cri-o org for the transfer. Since @cblecker replied on the mailing list, can you add him as an admin to the org?

Btw before that, a github-admin needs to follow the steps here https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#procedure-for-removal (except the kubernetes-retired bits).

[2019-04-02 14:37] nikhita commented on #675
/assign @cblecker

[2019-04-02 15:12] jmyung opened #676 "REQUEST: New membership for jmyung"
GitHub Username
@jmyung

Organization you are requesting membership in
@kubernetes

Requirements
- [v] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [v] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [v] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kubern

[2019-04-02 15:14] mrunalp commented on #675
@nikhita I have invited @cblecker to be an admin at github.com/cri-o. Thanks!

[2019-04-02 15:52] nikhita commented on #467
Migration done! :tada:

- https://github.com/kubernetes-sigs/aws-fsx-csi-driver
- https://github.com/kubernetes-sigs/aws-efs-csi-driver

I've created https://github.com/kubernetes/org/pull/677 to add GitHub teams for both repos. After that's merged, a postsubmit will run which will actually create those teams on GitHub. I'll then manually grant access to these teams.

Once that's done + the repo h

[2019-04-02 15:52] nikhita commented on #468
https://github.com/kubernetes/org/issues/467#issuecomment-479063593

[2019-04-02 15:55] ClaudiaJKang commented on #676
👍 Thank you for your contributions in Korean localization! @jmyung

[2019-04-02 16:22] cblecker commented on #675
@mrunalp What CI are you looking to use? It looks like you have both the kubernetes prow and the OpenShift prow active on the repo, in addition to Travis.

[2019-04-02 16:31] cblecker commented on #675
Also, a couple of things I noticed:
- You're not requiring MFA: https://github.com/organizations/cri-o/settings/security
- You have some security settings that are pretty permissive: https://github.com/organizations/cri-o/settings/member_privileges

If you'd like assistance in setting these to the same settings as the Kubernetes organizations, please let me know.

[2019-04-02 17:22] mrunalp commented on #675
@cblecker We would like to continue to use the same CI setup that we have today.
Also, yes, :+1: to updating the settings to be more in line with k8s orgs.

[2019-04-02 17:32] mrunalp commented on #675
I enabled the MFA.

[2019-04-02 19:48] mkimuram opened #678 "REQUEST: New membership for mkimuram"
### GitHub Username
@mkimuram

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-04-02 19:49] msau42 commented on #678
+1 @mkimuram has done a lot of work with the raw block feature and e2e test refactoring
/lgtm
/approve

[2019-04-02 19:57] cblecker commented on #675
I'm not entirely sure which automation pieces are active. Will have to look into it.

[2019-04-02 19:57] cblecker commented on #675
I have matched the settings on https://github.com/organizations/cri-o/settings/member_privileges to kubernetes.

[2019-04-02 19:59] mrunalp commented on #675
@cblecker Thanks!

[2019-04-02 20:07] wongma7 commented on #678
+1 thank you @mkimuram

[2019-04-02 23:12] gochist commented on #676
+1

@jmyoung is one of most important contributors for Korean docs l10n

[2019-04-03 01:54] mrbobbytables commented on #676
@jmyung thank you for your help with the Korean localization efforts :)

I've created PR #679  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-03 01:55] mrbobbytables commented on #678
Hey there @mkimuram , thank you for all your contributions so far :)

I've created PR #679   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-03 02:53] #676 closed

[2019-04-03 02:53] #678 closed

[2019-04-03 15:40] nikhita commented on #599
https://github.com/kubernetes/community/pull/3429 has merged \o/

/close

[2019-04-03 15:40] #599 closed

[2019-04-03 15:41] nikhita commented on #467
https://github.com/kubernetes/community/pull/3552 added repos to sigs.yaml and access has been granted to the respective teams.

/close

[2019-04-03 15:41] #467 closed

[2019-04-03 15:41] nikhita commented on #468
https://github.com/kubernetes/community/pull/3552 added repos to sigs.yaml and access has been granted to the respective teams.

/close

[2019-04-03 15:41] #468 closed

[2019-04-03 15:43] nikhita commented on #441
:wave: bump

[2019-04-03 16:33] ahmetb commented on #599
This is awesome!!!

[2019-04-03 17:08] BenTheElder opened #681 "re-enable Netlify integration for kubernetes-sigs/kind"
### Organization or repository
kubernetes-sigs/kind

### Name of integration
Netlify

### Link to integration website

https://netlify.com

### Describe what is attempting to be accomplished

Automated build and preview triggering for kind.sigs.k8s.io

### Additional context for request

This was previously enabled in https://github.com/kubernetes/org/issues/397, but now does not appear in integra

[2019-04-03 17:09] dims commented on #681
+1

[2019-04-03 17:18] nikhita commented on #681
Done. Can you recheck?

[2019-04-03 17:54] BenTheElder commented on #681
thanks @nikhita but it still doesn't seem to be enabled:
- doesn't show up in https://github.com/kubernetes-sigs/kind/settings/installations
- netlify.com seems to still be asking me to install it
- new PR does not seem to have a netlify preview status https://github.com/kubernetes-sigs/kind/pull/428

[2019-04-03 17:59] nikhita commented on #681
ah gotcha... https://github.com/kubernetes-sigs/kind/settings/installations should have it now.

[2019-04-03 18:07] BenTheElder commented on #681
thanks! still trying to figure out why the previews are still down :confused:

[2019-04-03 18:09] BenTheElder commented on #681
"Automatically build deploy previews for all pull requests" is definitely on for https://app.netlify.com/sites/k8s-kind/settings/deploys, https://app.netlify.com/sites/k8s-kind/overview still shows "install the github app" but i'm not sure if that's accurate anyhow

[2019-04-03 18:15] BenTheElder commented on #681
cc @zacharysarah, any ideas? :confused:

[2019-04-03 18:16] BenTheElder commented on #681
looks like the last preview was `Fri, Mar 29, 2019 at 2:57 AM`, sometime since then all automated builds just stopped !?

[2019-04-03 20:27] shavidissa opened #682 "REQUEST: New membership for shavidissa"
### GitHub Username
shavidissa

### Organization you are requesting membership in
kubernetes

### Requirements
- [ y] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [y ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ y] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-04-03 20:34] Bradamant3 commented on #682
+1

On Wed, Apr 3, 2019, 1:27 PM shavidissa <notifications@github.com> wrote:

[2019-04-03 20:39] zacharysarah commented on #682
+1

[2019-04-03 20:43] zacharysarah commented on #681
@BenTheElder I'm looking now--I notice that yeah, preview deployments seem to have halted, but also that there are no outbound notifications configured. I'm tweaking a couple of settings now, will update when I know more.

[2019-04-03 21:50] BenTheElder commented on #681
OK so what I did was link the netlify site to the netlify-test repo and then back to the kind repo.

Per @zacharysarah's conversation with netlify support, they only use deploy keys over SSH to clone, seems setting up the github app does that.

It now finally doesn't ask me to install the app on the netlify site, and previews are working. :tada:

I suspect kubebuilder was similarly broken on the 2

[2019-04-03 21:51] BenTheElder commented on #681
FYI @pwittrock @mengqiy for kubebuilder you may need to go through the above process to re-enable automated netlify deploys ^

[2019-04-03 21:58] mrbobbytables commented on #681
I'm curious if this was triggered by requesting the integration of their new "Native GitHub App" whereas previous ones were done with the "OAuth App authentication".

[2019-04-03 22:31] mengqiy commented on #681
@BenTheElder Thanks for headup! Let me fix it.

[2019-04-04 15:37] pwittrock commented on #662
@nikhita Should be good to go now.

[2019-04-04 15:40] mrbobbytables commented on #667
We should be good to go to delete the repo 👍

[2019-04-04 15:42] nikhita commented on #662
Teams have been granted access and https://github.com/kubernetes/community/pull/3534 has merged.

/close

[2019-04-04 15:42] #662 closed

[2019-04-04 15:43] nikhita commented on #667
Deleted. Thanks for all your work on this, Bob!

[2019-04-04 16:23] mtaufen opened #683 "New Repo: legacyflag"
### New Repo, Staging Repo, or migrate existing
new repo

### Requested name for new repository
legacyflag

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@mtaufen
@luxas
@sttts

### If not a staging repo, who should have write access
@mtaufen
@luxas
@sttts

### If not a staging repo, who should be listed as approvers in OWNERS
@mta

[2019-04-04 16:25] nikhita commented on #683
This will need apimachinery approval. Per https://github.com/kubernetes/community/blob/master/sig-api-machinery/charter.md#sub-project-repo-creation, @sttts can you approve this?

[2019-04-04 16:25] nikhita commented on #683
/assign

[2019-04-04 17:01] draveness opened #684 "REQUEST: New membership for draveness"
### GitHub Username

@draveness

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-04-04 17:05] Huang-Wei commented on #684
+1

@draveness Thanks for your contribution.

[2019-04-04 17:12] lavalamp commented on #684
+1

[2019-04-04 23:47] mrbobbytables commented on #682
Hey there @shavidissa, thank you for all your contributions to the website! :)

I've created PR #686 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-04 23:51] mrbobbytables commented on #684
@draveness Welcome to the League of...@Kubernetes! 🎉

I've created PR #686  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification. :)

/assign

[2019-04-05 01:31] #682 closed

[2019-04-05 01:31] #684 closed

[2019-04-05 04:20] electrocucaracha opened #687 "REQUEST: New membership for @electrocucaracha"
### GitHub Username
electrocucaracha

### Organization you are requesting membership in
- kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-04-05 04:38] zacharysarah commented on #687
+1, @electrocucaracha is a part of the new Spanish localization project.

[2019-04-05 06:15] raelga opened #688 "REQUEST: New membership for raelga"
### GitHub Username

@raelga

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-04-05 06:22] sieben commented on #688
/approve
/lgtm

[2019-04-05 07:56] s-urbaniak opened #689 "REQUEST: New membership for s-urbaniak"
### GitHub Username
@s-urbaniak

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-04-05 08:02] nikhita commented on #689
Yay, +1

/meow space

[2019-04-05 08:47] brancz commented on #689
This has my full support! :+1: :slightly_smiling_face:

[2019-04-05 09:24] sieben commented on #688
👍

[2019-04-05 09:25] sieben commented on #688
+1

[2019-04-05 09:53] sieben commented on #687
+1

[2019-04-05 10:02] glo-pena opened #690 "REQUEST: New membership for glo-pena"
### GitHub Username
@glo-pena

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-04-05 10:03] sieben commented on #690
+1

[2019-04-05 10:40] mrbobbytables commented on #690
+1

Thanks for helping kick start the Spanish translation efforts :)

[2019-04-05 10:41] mrbobbytables commented on #688
Thanks for helping bootstrap the initial Spanish translation team 🎉 :)

+1

[2019-04-05 10:56] mrbobbytables commented on #687
Hey there @electrocucaracha, thank you for helping kick start the Spanish localization efforts :)

I've created PR #691  to add you to the Kubernetes Org. Once that gets merged, it should unblock #685 and you'll get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-05 10:57] mrbobbytables commented on #688
@raelga, I've created PR #691  to add you to the Kubernetes Org. Once that gets merged, it should unblock #685 and you'll get a membership invite notification. \o/

Welcome to @kubernetes! 🎉

/assign

[2019-04-05 11:03] mrbobbytables commented on #689
Hey there @s-urbaniak , thank you for stepping in to help wrangle everything with the metrics :)

I've created PR #691 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-05 11:04] mrbobbytables commented on #690
@glo-pena I've created PR #691 to add you to the Kubernetes Org. Once that gets merged, it should unblock #685 and you'll get a membership invite notification. \o/

Welcome to @kubernetes! 🎉

/assign

[2019-04-05 11:07] #687 closed

[2019-04-05 11:07] #688 closed

[2019-04-05 11:07] #689 closed

[2019-04-05 11:07] #690 closed

[2019-04-05 17:48] DirectXMan12 commented on #689
:+1: from me as well

[2019-04-07 23:31] cblecker commented on #681
This looks like it's working. Can you confirm?

[2019-04-08 08:27] sttts commented on #683
/approve

[2019-04-08 11:38] dholbach opened #695 "REQUEST: New membership for dholbach"
### GitHub Username
@dholbach

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-04-08 14:10] castrojo commented on #695
+1 good to have you on board!

[2019-04-08 15:35] ccojocar opened #696 "REQUEST: New membership for ccojocar"
### GitHub Username
ccojocar

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-04-08 15:36] tahsinrahman opened #697 "REQUEST: New membership for tahsinrahman"
### GitHub Username
@tahsinrahman

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-04-08 16:11] justaugustus commented on #697
+1! Thanks for getting involved in the Cluster API projects! :)

[2019-04-08 16:19] stevekuznetsov commented on #696
/lgtm

[2019-04-08 17:36] tamalsaha commented on #697
+1

[2019-04-08 18:02] fejta commented on #696
/lgtm
/approve

[2019-04-08 18:12] mengqiy commented on #681
@cblecker I confirm it's working for kubebuilder.

[2019-04-08 18:15] mengqiy commented on #681
@Liujingfang1 You may need to do the same thing for `kubectl book` as mentioned in https://github.com/kubernetes/org/issues/681#issuecomment-479671856

[2019-04-08 19:09] nikhita commented on #683
Created https://github.com/kubernetes-sigs/legacyflag :tada:

Also created https://github.com/kubernetes/org/pull/698 to add teams for the repo. Once the postsubmit runs for it, I will grant access to those teams.

@mtaufen @luxas @sttts can you create a PR to add this repo to sigs.yaml in k/community? Once that's done, we can close this issue.

[2019-04-08 20:30] BenTheElder commented on #681
this is working, thank you all!!

[2019-04-08 20:30] #681 closed

[2019-04-08 21:29] justaugustus commented on #696
Thanks so much for your contributions thus far!
I've created #699 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-08 21:29] justaugustus commented on #697
Thanks so much for your contributions thus far!
I've created #699 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-08 21:34] #696 closed

[2019-04-08 21:34] #697 closed

[2019-04-08 22:01] mtaufen commented on #683
Will do, thanks @nikhita

[2019-04-08 22:15] mtaufen commented on #683
https://github.com/kubernetes/community/pull/3565

[2019-04-09 02:16] cblecker commented on #675
@mrunalp Wanted to check in.. how are we looking? Are all the automation pieces looking good? Do you need any further help from us on the Kubernetes side?

[2019-04-09 05:10] remyleone opened #700 "REQUEST: New membership for @remyleone (renaming of sieben)"
### GitHub Username

@remyleone

### Organization you are requesting membership in

- kubernetes

### Requirements
- [ ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-04-09 05:12] remyleone commented on #700
@rbenzair @jygaustaud

[2019-04-09 06:01] feloy commented on #700
+1

[2019-04-09 06:09] raelga commented on #700
+1

[2019-04-09 06:43] zacharysarah commented on #700
+1

[2019-04-09 07:06] jygastaud commented on #700
:+1:

[2019-04-09 07:50] Miouge1 opened #701 "REQUEST: New membership for Miouge1"
### GitHub Username
miouge1

### Organization you are requesting membership in
kubespray-maintainers (see [config/kubernetes-sigs/org.yaml](https://github.com/kubernetes/org/blob/361cf46bfc0d458b6d73756d3988789607ebec8f/config/kubernetes-sigs/org.yaml#L447-L457)

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x]

[2019-04-09 07:51] woopstar commented on #701
/approve

[2019-04-09 08:01] AWKIF commented on #700
+1

[2019-04-09 08:20] rbenzair commented on #700
+1

[2019-04-09 09:05] oussemos commented on #700
+1

[2019-04-09 09:23] errordeveloper commented on #695
+1

Ilya

On Mon, 8 Apr 2019 at 15:10, Jorge O. Castro <notifications@github.com>
wrote:

[2019-04-09 10:52] nikhita commented on #683
Done.

[2019-04-09 12:42] holmsten opened #703 "REQUEST: New membership for holmsten"
### GitHub Username
@holmsten

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-04-09 12:44] Atoms commented on #703
+1

[2019-04-09 17:54] nikhita commented on #683
https://github.com/kubernetes/community/pull/3565 has merged. Closing.

/close

[2019-04-09 17:54] #683 closed

[2019-04-10 04:16] yue9944882 commented on #626
@nikhita let's get this close as [https://github.com/kubernetes/community/pull/3475](https://github.com/kubernetes/community/pull/3475) was already in

[2019-04-10 10:46] ant31 commented on #701
+1

[2019-04-10 18:36] cblecker commented on #701
Adding to teams is different than org membership. An issue isn't required for team membership changes. Please just open a PR: https://github.com/kubernetes/org/blob/54fbcaca02faf39583adf47ab243803d08eb0331/config/kubernetes-sigs/org.yaml#L447-L457

[2019-04-10 18:36] #701 closed

[2019-04-10 20:49] mrbobbytables commented on #695
@dholbach , thank you for all your contributions so far :)

I've created PR #705  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notifications from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-04-10 20:50] mrbobbytables commented on #703
@holmsten, thanks for all your help with the kubespray project :)

I've created PR #705  to add you to the kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-04-10 20:56] #695 closed

[2019-04-10 20:56] #703 closed

[2019-04-11 07:59] hzxuzhonghu opened #707 "REQUEST: New membership for hzxuzhonghu"
### GitHub Username
hzxuzhonghu

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-04-11 08:01] k82cn commented on #707
+1 , thanks for your contribution :)

[2019-04-11 08:07] m1093782566 commented on #707
+1

[2019-04-11 08:37] TommyLike opened #709 "REQUEST: New membership for TommyLike"
### GitHub Username
TommyLike

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-04-11 08:38] k82cn commented on #709
+1 , thanks very much for your contirbution in kube-batch :)

[2019-04-11 08:45] m1093782566 commented on #709
+1

[2019-04-11 13:53] rojkov opened #710 "REQUEST: New membership for rojkov"
### GitHub Username
@rojkov

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-04-11 13:55] yagonobre commented on #710
Thanks for all your contribution @rojkov
+1

[2019-04-11 15:29] rosti commented on #710
Thanks @rojkov
+1

[2019-04-11 15:50] nikhita commented on #626
@yue9944882 :+1:

/close

[2019-04-11 15:50] #626 closed

[2019-04-11 17:00] mrbobbytables commented on #709
@TommyLike I hate to be a stickler, but do you happen to know someone else that could potentially sponsor you? Sponsors must be from different organizations per the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Thanks!

[2019-04-11 22:04] #605 closed

[2019-04-12 01:30] hex108 commented on #709
+1

@TommyLike is very active in kube-batch, thanks for the contribution!

[2019-04-12 04:20] #707 closed

[2019-04-12 14:58] thockin opened #714 "move micro-demos from contrib"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
micro-demos

### Which Organization should it reside
kubernetes ?

This is a weird case.  There's a framework (a couple files) and a bunch of scripted demos.  It could be 2 repos.  I may be the only contributor to it at all.  But I don't want it to go away.

### If not a staging repo, who should h

[2019-04-12 17:17] cblecker commented on #714
Finding an owner is probably the biggest question mark here. k-sigs is probably the right organization tho

[2019-04-12 17:36] cheftako opened #715 "Need a apiserver-network-proxy for sig-cloud-provider"
### New Repo, Staging Repo, or migrate existing
New repo

### Requested name for new repository
apiserver-network-proxy

### Which Organization should it reside
Kubernetes SIGs

### If not a staging repo, who should have admin access
cheftako, mcrute, anfernee, andrewsykim

### If not a staging repo, who should have write access
cheftako, mcrute, anfernee, andrewsykim

### If not a staging repo, w

[2019-04-12 17:37] cblecker commented on #715
sig-cloud-provider isn't an organization. Do you mean @kubernetes-sigs ?

[2019-04-12 17:39] cheftako commented on #715
/assign @andrewsykim

[2019-04-12 17:41] cheftako commented on #715
Fixed

[2019-04-12 18:12] andrewsykim commented on #715
👍 from me!! Would prefer `apiserver-network-proxy` but will defer to @cheftako for naming

[2019-04-12 23:18] TommyLike commented on #709
@mrbobbytables  what should I do next?

[2019-04-13 14:43] mrbobbytables commented on #709
@TommyLike you're good :) I was traveling and a little slow to getting a PR out the door.

With that I've created PR #717   to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-04-13 14:44] mrbobbytables commented on #710
@rojkov , thank you for all your help with kubeadm :)

I've created PR #717  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-13 15:05] justaugustus commented on #710
/lgtm
/approve

[2019-04-13 18:18] #709 closed

[2019-04-13 18:18] #710 closed

[2019-04-15 14:16] nikhita commented on #441
/assign @timothysc
ref https://twitter.com/timothysc/status/1116803681083633664 :upside_down_face:

@timothysc do you think we can close this issue in favour of repo <-> team mapping?

[2019-04-15 15:26] timothysc commented on #441
@nikhita yes!

[2019-04-15 15:26] #441 closed

[2019-04-15 17:52] saad-ali opened #718 "Delete repos: `kubernetes-csi/kubernetes-csi-migration-library` and `kubernetes-csi/csi-lib-common`"
### Repository to delete

* [kubernetes-csi/csi-lib-common](https://github.com/kubernetes-csi/csi-lib-common)
  * It was never used.

### Repository to archive (or delete, which ever is easier)

* [kubernetes-csi/kubernetes-csi-migration-library](https://github.com/kubernetes-csi/kubernetes-csi-migration-library)
  * It has been replaced by https://github.com/kubernetes/csi-translation-lib

### Re

[2019-04-15 18:44] andrewsykim opened #719 "New staging repo request: k8s.io/legacy-cloud-providers"
### New Repo, Staging Repo, or migrate existing
New staging repo

### Requested name for new repository
k8s.io/legacy-cloud-providers

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access

### If not a staging repo, who should have write access

### If not a staging repo, who should be listed as approvers in OWNERS

### If not a staging repo,

[2019-04-15 18:53] rajeshdeshpande02 opened #720 "REQUEST: New membership for @rajeshdeshpande02"
### GitHub Username
@rajeshdeshpande02

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-04-15 19:06] andrewsykim commented on #719
Request sent to SIG Arch https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/szJxFmRCYE8

[2019-04-15 19:27] justaugustus commented on #719
+1!

[2019-04-15 19:36] dims opened #721 "Need a new Project board for code-organization subproject"
Can you please create a project board for the `code-organization` subproject of sig-architecture?
https://github.com/kubernetes/community/tree/master/sig-architecture#subprojects

Please add me as an editor for the same (@dims)

[2019-04-15 19:40] cheftako commented on #715
I'm fine with apiserver-network-proxy.

[2019-04-15 19:49] dims commented on #721
Please create a github team as well so we can grant access to people. if it's easier to give everyone in kubernetes org edit access then we don't need a separate team.

[2019-04-15 20:01] mcrute commented on #715
This would be really helpful to have pretty soon so we can start collaborating on the server-network-proxy code. Thanks!

[2019-04-15 21:11] janetkuo commented on #720
@rajeshdeshpande02 Thank you for your contribution to kubernetes/website.
+1

[2019-04-15 22:30] irvifa opened #722 "REQUEST: New membership for @irvifa"
### GitHub Username
@irvifa

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-04-15 23:00] zacharysarah commented on #722
+1, @irvifa is working on Indonesian localization. (See https://github.com/kubernetes/website/pull/13822#issue-270492516 for more info.)

[2019-04-16 00:12] nikhita commented on #715
/assign

[2019-04-16 00:35] tengqm commented on #720
+1
@rajeshdeshpande02 Looking forward to more contributions from you.

[2019-04-16 00:40] mrbobbytables commented on #720
@rajeshdeshpande02 would you mind checking off the requirements that have been completed?

[2019-04-16 01:34] rajeshdeshpande02 commented on #720
@mrbobbytables Thanks for your quick review. I have updated the issue.

[2019-04-16 01:48] mrbobbytables commented on #722
+1 here :) Happy to see so more localization efforts!

[2019-04-16 01:53] mrbobbytables commented on #720
@rajeshdeshpande02,  thank you for all your contributions to the kubernetes website :)

I've created PR #723 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-16 01:54] mrbobbytables commented on #722
@irvifa thanks for helping kick start the  Indonesian localization efforts :)

I've created PR #723  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-16 01:57] #720 closed

[2019-04-16 01:57] #722 closed

[2019-04-16 14:10] andrewsykim commented on #719
Approved by SIG Arch  https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/szJxFmRCYE8

[2019-04-16 14:59] nikhita commented on #719
/assign

[2019-04-16 15:17] nikhita commented on #715
For the record: treating https://github.com/kubernetes/org/issues/715#issuecomment-482671605 as approval.

[2019-04-16 15:44] nikhita commented on #715
Created https://github.com/kubernetes-sigs/apiserver-network-proxy :tada:

Also created the PRs:
-  https://github.com/kubernetes/org/pull/724 to add teams for this repo. Once that PR merges, I'll grant access to the teams.
- https://github.com/kubernetes/community/pull/3598 to add this repo to sigs.yaml

Once teams are granted access and https://github.com/kubernetes/community/pull/3598 has merge

[2019-04-16 16:12] nikhita commented on #719
Created repo with empty commit: https://github.com/kubernetes/legacy-cloud-providers :tada:

- @kubernetes/stage-bots has been given admin access to the repo.
- Created https://github.com/kubernetes/test-infra/pull/12220 for branch protection
- Created https://github.com/kubernetes/publishing-bot/pull/176 for publishing-bot
- Created https://github.com/kubernetes/community/pull/3598 to add this re

[2019-04-16 18:32] nikhita commented on #718
/assign

[2019-04-16 18:34] nikhita commented on #718
Would prefer to archive this since it has commits other than the initial commits.

[2019-04-16 18:40] nikhita commented on #715
Done.

[2019-04-16 18:49] nikhita commented on #718
@saad-ali I'll delete https://github.com/kubernetes-csi/csi-lib-common once https://github.com/kubernetes/community/pull/3600 merges.

[2019-04-16 19:02] nikhita commented on #718
https://github.com/kubernetes-csi/kubernetes-csi-migration-library has been archived.

[2019-04-16 20:11] femrtnz opened #728 "REQUEST: New membership for @femrntz"
### GitHub Username
@femrtnz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-04-16 21:33] zacharysarah commented on #728
+1, @femrtnz is leading the Portuguese localization.

[2019-04-16 23:09] codenrhoden opened #730 "New repo request: kubernetes-sigs/vsphere-csi-driver"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
vsphere-csi-driver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@frapposelli
@codenrhoden

### If not a staging repo, who should have write access
@frapposelli
@codenrhoden

### If not a staging repo, who should be listed as appr

[2019-04-16 23:11] codenrhoden commented on #730
/assign @frapposelli

Fabio, I could use your input on whether I've correctly identified approvers, admin and write access, and security contacts.

I copied security contacts from the vSphere CCM repo

[2019-04-16 23:31] fejta opened #731 "Please archive kubernetes/contrib correctly"
### Repository to archive
https://github.com/kubernetes/contrib

### Repository and/or sig subproject owners that are approving this archival
https://github.com/kubernetes/contrib/issues/3007#

### When should this be done
Anytime

[2019-04-17 00:39] nikhita commented on #730
I'd prefer this from a github-management perspective. The commits/code that you need to move over -- they won't include the template files like OWNERS, etc, would they? If no, I guess it should be fine? :)

[2019-04-17 00:42] nikhita commented on #731
Looks like this is done?

[2019-04-17 00:44] nikhita commented on #718
https://github.com/kubernetes/community/pull/3600 has merged, deleted https://github.com/kubernetes-csi/csi-lib-common.

/close

[2019-04-17 00:44] #718 closed

[2019-04-17 02:43] fejta commented on #731
I archived the repo but didn't do some other stuff like closing all the PRs and issues. Happy to close this out if that's good enough!

[2019-04-17 02:58] cblecker commented on #731
/assign
I can do it.

[2019-04-17 03:07] cblecker commented on #731
Done.
/close

[2019-04-17 03:07] #731 closed

[2019-04-17 04:24] cblecker commented on #721
https://github.com/orgs/kubernetes/projects/27 is created
https://github.com/kubernetes/org/pull/733 will create the team for admin access

[2019-04-17 04:48] rlenferink commented on #728
+1, thanks for your contributions to our docs so far :tada:

[2019-04-17 05:12] justaugustus commented on #728
Thanks so much for your contributions thus far!
I've created #734 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-17 05:18] #728 closed

[2019-04-17 13:27] jcjesus opened #735 "REQUEST: New membership for @jcjesus"
GitHub Username
@jcjesus

Organization you are requesting membership in
@kubernetes

Requirements
  - [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
  - [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
  - [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum

[2019-04-17 14:18] dims commented on #721
Thanks @cblecker

[2019-04-17 14:52] remyleone commented on #735
+1

Em qua, 17 de abr de 2019 15:27, Jesus, Julio Cesar Soares de <
notifications@github.com> escreveu:

[2019-04-17 15:45] codenrhoden commented on #730
Since I've moving code that is coming from an existing k8s repo, I was thinking I would do that, but I don't *have* to. I'll have to level up my git-foo to preserve history for somethings but filter out certain files, but I believe it can be done.

[2019-04-17 15:48] mrbobbytables commented on #735
+1 Thanks for helping kickstart the Portuguese localization efforts!

[2019-04-17 15:52] mrbobbytables commented on #735
@jcjesus I've created PR #736 to add you to the @kubernetes org :)
Once it gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-17 15:56] #735 closed

[2019-04-17 16:02] frapposelli commented on #730
@codenrhoden yes, keeping the OWNERS file is definitely the best path forward, I would suggest to just clone the original repo and run something like this:

[code]

[2019-04-17 16:05] cblecker commented on #721
Access provided

[2019-04-17 16:06] #721 closed

[2019-04-17 16:06] nikhita commented on #730
:+1:

Let me know if this is ok, and I'll create the new repo. :)

/assign

[2019-04-17 17:05] frapposelli commented on #730
@nikhita please add @codenrhoden as part of the admin and write groups.

Also, as this is a kind of "special" case, we need the repo to be created as a bare repo as @codenrhoden is "importing" the filtered history from another repo 😅

[2019-04-17 17:13] nikhita commented on #730
Will do! Thanks @frapposelli @codenrhoden

[2019-04-17 17:23] codenrhoden commented on #730
I'm going to update the issue description to capture Fabio's comments

[2019-04-17 17:24] codenrhoden commented on #730
And thank you @nikhita !

[2019-04-17 17:48] nikhita commented on #730
Created repo https://github.com/kubernetes-sigs/vsphere-csi-driver :tada:

Also created https://github.com/kubernetes/org/pull/737 to add teams for this repo. Once the PR merges and the postsubmit runs, the teams will be created on GitHub. I'll then grant access to the teams.

After teams are granted access + https://github.com/kubernetes/community/pull/3607 has merged, we can close this issue.

[2019-04-17 18:30] nikhita opened #738 "Archive kubernetes-sigs/architecture-tracking"
### Repository to archive

https://github.com/kubernetes-sigs/architecture-tracking

### Repository and/or sig subproject owners that are approving this archival

Lazy consensus email to sig-arch ML: https://groups.google.com/d/topic/kubernetes-sig-architecture/E_iSRgL22hs/discussion

### When should this be done
After lazy consensus timebox ends: April 22, Monday, 5pm PT.

### Additional context

[2019-04-17 18:30] nikhita commented on #738
cc @jdumars @dims @mattfarina @bgrant0607

[2019-04-17 18:38] nikhita commented on #738
/assign

[2019-04-17 18:45] dims commented on #738
+1 to archive

[2019-04-17 19:48] bgrant0607 commented on #738
+1

[2019-04-17 19:48] bgrant0607 commented on #738
cc @derekwaynecarr

[2019-04-18 16:14] codenrhoden commented on #730
Hi @nikhita,

I think the only outstanding item left now is to assign the newly created teams to the repo. Thank you so much for working on this!

[2019-04-19 12:37] nikhita commented on #730
Done :)

/close

[2019-04-19 12:37] #730 closed

[2019-04-19 12:39] nikhita commented on #715
https://github.com/kubernetes/community/pull/3598 has merged.

/close

[2019-04-19 12:39] #715 closed

[2019-04-19 12:40] nikhita commented on #663
https://github.com/kubernetes/community/pull/3532 has merged.

/close

[2019-04-19 12:40] #663 closed

[2019-04-19 13:14] hidekazuna opened #742 "REQUEST: New membership for hidekazuna"
### GitHub Username
@hidekazuna

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-04-19 13:40] jichenjc commented on #742
+1

[2019-04-19 13:41] jichenjc commented on #742
hidekazuna is very helpful and contribute a lot, thanks for the help :)

[2019-04-19 15:18] dvonthenen opened #743 "REQUEST: Update membership for @dvonthenen"
### GitHub Username
@dvonthenen

### Organization you are requesting membership in
@kubernetes-csi
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://g

[2019-04-19 15:19] codenrhoden commented on #743
Yes! Now I will able to assign you things in kubernetes-sigs. =)

+1

[2019-04-19 15:20] nikhita commented on #743
Could you create a PR to add yourself in https://github.com/kubernetes/org/blob/master/config/kubernetes-sigs/org.yaml and https://github.com/kubernetes/org/blob/master/config/kubernetes-csi/org.yaml? :)

[2019-04-19 15:25] dvonthenen commented on #743
@nikhita no problem!

[2019-04-19 15:32] dvonthenen commented on #743
@nikhita opened the PR

[2019-04-19 15:43] dvonthenen commented on #743
Thanks @nikhita! Will close this issue. 😀

[2019-04-19 15:43] #743 closed

[2019-04-19 18:45] cantbewong opened #745 "REQUEST: New membership for cantbewong"
### GitHub Username
@cantbewong

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-04-19 18:48] frapposelli commented on #745
/lgtm

[2019-04-19 21:52] saad-ali commented on #745
+1 @cantbewong has been involved with SIG Storage for quite some time.

[2019-04-20 00:11] mrbobbytables commented on #745
👋 @cantbewong Thank you for all your efforts in helping the project :)

I've created PR #746 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification. 🎉

/assign

[2019-04-20 00:16] #745 closed

[2019-04-20 03:29] adisky commented on #742
+1 From me :)

[2019-04-20 08:33] mittalyashu opened #747 "REQUEST: New membership for mittalyashu"
### GitHub Username
@mittalyashu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-04-20 08:45] nikhita commented on #747
+1, @mittalyashu has already created a PR to init Hindi localization: https://github.com/kubernetes/website/pull/13910

[2019-04-20 08:45] raelga commented on #747
+1

[2019-04-20 08:47] Rajakavitha1 commented on #747
+1
@mittalyashu Welcome !!!We look forward to many more contributions from you in localizing the content in Hindi.

[2019-04-21 04:32] daminisatya commented on #747
+1 @mittalyashu Welcome!

[2019-04-22 02:01] mrbobbytables commented on #742
Hey there @hidekazuna, thank you for all your  help with the openstack cluster api :)

I've created PR #749  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-04-22 02:02] mrbobbytables commented on #747
@mittalyashu thanks for helping kick start the Hindi localization efforts :)

I've created PR #749   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-22 03:21] mittalyashu commented on #747
Yipeee.

[2019-04-22 10:37] #742 closed

[2019-04-22 10:37] #747 closed

[2019-04-22 15:48] avidLearnerInProgress opened #750 "REQUEST: New membership for avidLearnerInProgress"
### GitHub Username
@avidLearnerInProgress

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-04-22 17:30] yuwenma opened #751 "REQUEST: New membership for yuwenma"
### GitHub Username
@yuwenma

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-04-22 17:30] dims commented on #751
+1 from me!

[2019-04-22 17:34] justaugustus commented on #751
Big +1 from me!

[2019-04-22 18:09] seans3 commented on #751
... and +1 from me too.

[2019-04-22 18:14] sharifelgamal opened #752 "REQUEST: New membership for sharifelgamal"
### GitHub Username
@sharifelgamal

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-04-22 22:58] zacharysarah opened #753 "Archive kubernetes-sigs/website-metadata"
### Repository to archive

https://github.com/kubernetes-sigs/website-metadata/

### Repository and/or sig subproject owners that are approving this archival

@zacharysarah as [chair of SIG Docs](https://github.com/kubernetes/community/blob/master/sig-docs/charter.md#subproject-creation)

### When should this be done

Anytime.

### Additional context for request

Originally created at the request

[2019-04-22 23:20] zacharysarah opened #754 "Add a GH team for the Kubernetes blog subproject"
### Organization or repository

kubernetes/website

### Users affected

Members of the new Kubernetes blog team

### Describe the issue

Now that the Kubernetes blog is an official subproject of SIG Docs, we need a GitHub team for the blog.

See https://github.com/kubernetes/community/pull/3632

/sig docs

[2019-04-22 23:23] zacharysarah commented on #754
/cc @kbarnard10 @jaredbhatti @Bradamant3

[2019-04-22 23:26] #754 closed

[2019-04-22 23:27] zacharysarah commented on #753
/cc @jaredbhatti @Bradamant3

[2019-04-23 01:12] mrbobbytables commented on #752
@sharifelgamal I hate to be a stickler, but do you happen to have someone else that could sponsor you that does not work for Google? Our membership guidelines require that the [sponsors must be from different member companies](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

[2019-04-23 04:38] Rajakavitha1 commented on #750
+1

Welcome @avidLearnerInProgress !!! We look forward to many more valuable contributions from you.

[2019-04-23 05:00] daminisatya commented on #750
+1

Welcome @avidLearnerInProgress 🎉

[2019-04-23 05:11] cblecker commented on #753
As this hasn't been used at all, do you mind if we delete the entire repo?

[2019-04-23 06:27] zacharysarah commented on #753
@cblecker 👋

Go for it!

[2019-04-23 14:25] nikhita commented on #738
Repo has been archived: https://github.com/kubernetes-retired/architecture-tracking.

Created:

- https://github.com/kubernetes/community/pull/3636 - to remove the repo from sigs.yaml
- https://github.com/kubernetes/org/pull/756 - to remove GitHub teams related to the repo

Once both PRs get merged we can close the issue.

[2019-04-23 14:29] nikhita commented on #753
/assign

[2019-04-23 14:37] nikhita commented on #753
Repo has been deleted.

Created:

- https://github.com/kubernetes/community/pull/3637 - to remove the repo from sigs.yaml
- https://github.com/kubernetes/org/pull/757 - to remove teams for this repo

Once both PRs get merged, we can close this issue.

[2019-04-23 15:14] nikhita commented on #738
Both PRs have merged.

/close

[2019-04-23 15:14] #738 closed

[2019-04-23 15:20] nikhita commented on #753
Both PRs have merged.

/close

[2019-04-23 15:20] #753 closed

[2019-04-23 15:45] droslean opened #758 "REQUEST: New membership for droslean"
### GitHub Username
@droslean

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-04-23 15:48] kargakis commented on #758
+1 👍

[2019-04-23 16:21] stevekuznetsov commented on #758
:+1:
:)

[2019-04-23 16:28] vonguard opened #759 "REQUEST: New membership for VonGuard"
### GitHub Username
vonguard

### Organization you are requesting membership in
SIG ContribX
### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-04-23 16:29] parispittman commented on #759
So excited to have you on and helping us spread the word about the awesome work our contributors do :)

+1

[2019-04-23 17:21] sharifelgamal commented on #752
@afbjorklund can be my other sponsor

[2019-04-23 17:32] nikhita commented on #759
+100

[2019-04-23 18:09] afbjorklund commented on #752
Sure, I will sponsor @sharifelgamal

[2019-04-23 18:35] dekkagaijin opened #760 "REQUEST: New membership for @dekkagaijin"
### GitHub Username
@dekkagaijin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-04-23 18:45] liggitt commented on #760
+1

[2019-04-23 19:49] justaugustus commented on #752
@tstromberg / @balopat -- I see that you both :+1:-ed, but would you mind explicitly commenting on sponsorship, so we have it as part of record?

[2019-04-23 19:50] deads2k commented on #760
+1

[2019-04-23 19:51] justaugustus commented on #758
@droslean -- Excited to have new members, but before we get you processed, would you be able to find another non-Red Hat sponsor? We have a few requirements for sponsorship (including company diversity of sponsors) that you can check out here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2019-04-23 19:56] justaugustus commented on #750
Thanks so much for your contributions thus far!
I've created #761 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-23 19:56] justaugustus commented on #751
Thanks so much for your contributions thus far!
I've created #761 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-23 19:57] justaugustus commented on #759
Thanks so much for your contributions thus far!
I've created #761 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-23 19:57] justaugustus commented on #760
Thanks so much for your contributions thus far!
I've created #761 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-23 20:00] dekkagaijin commented on #760
Thanks, all :)

[2019-04-23 20:30] cjwagner commented on #758
I sponsor.

[2019-04-23 20:42] kargakis commented on #758
@justaugustus for what it's worth, I don't work at Red Hat since January 2019. I realized I was still under the Red Hat CLA so I went ahead and signed the Individual CLA, hope that helps.

[2019-04-23 20:52] yuwenma commented on #751
Woohoo! Thanks so much!

[2019-04-23 23:31] tstromberg commented on #752
I endorse @sharifelgamal for President.

Well, I endorse him to be a members of the Kubernetes Org, anyways. ☸️

[2019-04-23 23:57] mrbobbytables commented on #759
/pony happy

[2019-04-24 02:24] #750 closed

[2019-04-24 02:24] #751 closed

[2019-04-24 02:24] #759 closed

[2019-04-24 02:24] #760 closed

[2019-04-24 04:28] #752 closed

[2019-04-24 04:28] #758 closed

[2019-04-24 05:08] justaugustus commented on #758
@kargakis -- Apologies, I didn't realize. Thanks for signing the individual CLA!

[2019-04-24 05:09] justaugustus commented on #758
@droslean -- Thanks so much for your contributions thus far!
I've created #762 to add you to the relevant org(s). You should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-24 05:11] justaugustus commented on #752
@sharifelgamal -- Thanks so much for your contributions thus far!
I've created #762 to add you to the relevant org(s). You should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-04-24 05:28] justaugustus commented on #714
@thockin -- sounds like Arch or PM.
Would be happy to own it if we decide it's PM. :)

[2019-04-24 19:34] nikhita commented on #719
All PRs have merged, the repo will be published in the next publishing-bot sync.

/close

[2019-04-24 19:34] #719 closed

[2019-04-24 22:27] balopat commented on #752
Ah, sorry, too late, FWIW, I do endorse @sharifelgamal to be part of the Kubernetes Org!

[2019-04-24 23:19] tedyu opened #764 "REQUEST: New membership for tedyu"
### GitHub Username
@tedyu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-04-24 23:24] neolit123 commented on #764
@tedyu
+1 from me.
thanks for the contributions thus far!

it would be best to have some existing PR links.

[2019-04-24 23:24] Huang-Wei commented on #764
+1. Thanks for the contributions!

[2019-04-25 00:25] ping035627 opened #765 "REQUEST: New membership for ping035627"
### GitHub Username
@ping035627

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-04-25 00:40] neolit123 commented on #765
+1 thanks for the contributions @ping035627 !!

[2019-04-25 03:22] cofyc opened #766 "Request for admin permission of kubernetes-sigs/sig-storage-local-static-provisioner"
### Organization or repository
kubernetes-sigs/sig-storage-local-static-provisioner

### Users affected
@cofyc

### Describe the issue
I need to push tags to do releasing for this project, etc.

[2019-04-25 03:24] cofyc commented on #766
/assign @msau42
/assign @cblecker

[2019-04-25 03:30] cblecker commented on #766
The config for those teams is here:
https://github.com/kubernetes/org/blob/81a77f6f9a869c7bb975571df7448b197cef49f9/config/kubernetes-sigs/org.yaml#L473-L486

PRs accepted :)

[2019-04-25 03:33] cofyc commented on #766
That's great! Thanks!
/close

[2019-04-25 03:33] #766 closed

[2019-04-25 05:02] k82cn commented on #765
+1, thanks for your contributions :)

[2019-04-25 12:43] zvonkok opened #768 "REQUEST: New membership for zvonkok"
### GitHub Username
@zvonkok

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-04-25 13:12] mrbobbytables commented on #768
@zvonkok Can you update your org membership request with the sponsors and information regarding your contributions to a project under kubernetes-sigs? We can't process it until that information has been filled out and the sponsors have given their +1. Please see the [community membership docs](https://github.com/kubernetes/community/blob/master/community-membership.md#member) for more information.

[2019-04-25 13:45] zvonkok commented on #768
@mrbobbytables updated. Thanks!

[2019-04-25 13:49] mrbobbytables commented on #768
@zvonkok I hate to be a stickler, but can you also include links to some of of your contributions under _"List of contributions to the Kubernetes project"_ part? It looks like you're involved with the node-feature-discovery project and some of those should be fine :)

[2019-04-25 13:50] zvonkok commented on #768
@mrbobbytables NP just updated.

[2019-04-25 13:53] vikaschoudhary16 commented on #768
+1

[2019-04-25 14:04] vikaschoudhary16 opened #769 "REQUEST: New membership for vikaschoudhary16"
### GitHub Username
@vikaschoudhary16

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-04-25 14:06] vikaschoudhary16 commented on #769
ping @mrbobbytables !!
Please let me know if I missed any requirement.

Thanks
Vikas

[2019-04-25 14:08] marquiz commented on #768
+1

[2019-04-25 14:13] mrbobbytables commented on #769
Nope! You're good as you're a member of the @kubernetes org already 👍

[2019-04-26 01:29] mrbobbytables commented on #764
Hey there @tedyu, thank you for all your contributions so far :)

I've created PR #770  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-26 01:30] mrbobbytables commented on #765
@ping035627, thank you for helping the project! :)

I've created PR #770   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-26 01:31] mrbobbytables commented on #768
@zvonkok thanks for getting everything squared away earlier :) With that out of the way, I've gone ahead and created PR #770  to add you to the Kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-04-26 01:32] mrbobbytables commented on #769
@vikaschoudhary16 I've created PR #770 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification. :)

Thanks!

/assign

[2019-04-26 01:35] ping035627 commented on #765
Thanks, all! :)

[2019-04-26 03:12] #764 closed

[2019-04-26 03:12] #765 closed

[2019-04-26 03:12] #768 closed

[2019-04-26 03:12] #769 closed

[2019-04-26 16:17] atoato88 opened #771 "REQUEST: New membership for atoato88"
### GitHub Username
@atoato88

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-04-26 16:21] neolit123 commented on #771
thank you for your contributions @atoato88 !
+1

[2019-04-26 16:22] oomichi commented on #771
Thanks for your work, @neolit123
big +1 :-)

[2019-04-26 16:25] neolit123 commented on #771
lol :)

[2019-04-26 16:26] oomichi commented on #771
Oops ;-)

[2019-04-26 16:26] atoato88 commented on #771
Thank you so much!! 😄

[2019-04-26 20:42] thecrudge opened #772 "REQUEST: New membership for thecrudge"
### GitHub Username
thecrudge

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-04-26 20:55] jimangel commented on #772
+1 Cody has hit the ground running fast! Looking forward to seeing more accomplishments!

[2019-04-26 20:55] cody-clark commented on #772
+1 There's never too many Codys!

Edit: He does good work, too, like Jim mentioned!

[2019-04-26 20:58] bradtopol commented on #772
I am happy to sponsor as well. For some reason the tool is not letting Cody add me as a sponsor.  Any idea why????

[2019-04-27 00:02] mrbobbytables commented on #771
@atoato88 Thanks for all your contributions to the project so far :)

I've created PR #773  to add you to both the kubernetes and kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-04-27 00:05] mrbobbytables commented on #772
@bradtopol just adding your +1 in here is good enough 😄

@thecrudge, thanks for all your help with the website. :)
I've created PR #773  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-04-27 01:38] #772 closed

[2019-04-27 01:38] #771 closed

[2019-04-27 03:44] bradtopol commented on #772
Thanks @mrbobbytables!!!

[2019-04-27 03:57] idealhack commented on #753
Sorry to say this but honestly I’m sad to see this repo not getting used and deleted. As I understand that owners of current using repos have the ultimate decisions of them, I don’t think contributors can see those repos the same as a kubernetes community maintained repo and work on them.

[2019-04-27 22:17] thecrudge commented on #772
Thanks everyone, and thanks @mrbobbytables !

[2019-04-28 01:38] hchenxa opened #774 "REQUEST: New membership for hchenxa"
### GitHub Username
@hchenxa

### Organization you are requesting membership in
@kubernetes-sigs
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-04-28 02:08] gyliu513 commented on #774
+1, thanks @hchenxa for your great contribution!

[2019-04-28 02:24] xunpan commented on #774
+1, looking forward more active contributions to sig-kubernetes projects.

[2019-04-28 02:30] k82cn commented on #774
+1 to me, thanks for your contribution :)

[2019-04-30 00:54] mrbobbytables commented on #774
Hey there @hchenxa, unfortunately @gyliu513 cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for membership in @kubernetes-sigs.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-csi etc); as long as it's a project they're involved with.

However, this does not work the o

[2019-04-30 01:44] wanghaoran1988 commented on #774
+1 from me, thanks.

[2019-04-30 02:02] mrbobbytables commented on #774
Great :) Thanks for adding your +1 for the kubernetes org @wanghaoran1988.

@hchenxa Thank you for all your contributions thus far 👍

I've created PR #775 to add you to both the kubernetes and kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-04-30 02:23] #774 closed

[2019-04-30 07:48] mkorbi opened #776 "REQUEST: New membership for mkorbi"
### GitHub Username
@mkorbi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-04-30 07:50] rlenferink commented on #776
+1 @mkorbi is helping out with the German translation for our docs :tada:

[2019-04-30 07:52] remyleone commented on #776
👍

[2019-05-01 18:11] Ethyling opened #777 "REQUEST: New membership for Ethyling"
### GitHub Username
@Ethyling

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-05-01 18:12] aojea opened #778 "REQUEST: New membership for aojea"
### GitHub Username
@aojea

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-05-01 18:13] zvonkok commented on #777
+1

[2019-05-01 18:33] MrHohn opened #779 "Need repo permissions on k-i/cluster-proportional-vertical-autoscaler"
### Organization or repository
https://github.com/kubernetes-incubator/cluster-proportional-vertical-autoscaler

### Users affected
@MrHohn

### Describe the issue
I am in the [OWNERS file](https://github.com/kubernetes-incubator/cluster-proportional-vertical-autoscaler/blob/master/OWNERS) but I need owner permission on the repository itself in order to conduct releases.

[2019-05-01 18:39] neolit123 commented on #778
+1 thanks for the contributions @aojea !

[2019-05-01 18:40] BenTheElder commented on #778
+1, thank you for all the contributions!!!

On Wed, May 1, 2019 at 11:39 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-05-01 18:44] nikhita commented on #779
Created https://github.com/kubernetes/org/pull/780. Once it gets merged and the postsubmit completes, I'll manually grant the team admin access to the repo.

/assign

[2019-05-01 18:50] #779 closed

[2019-05-02 02:12] mrbobbytables commented on #776
@mkorbi Thanks for helping with the German localization effort :)

I've created PR #781   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-02 02:14] mrbobbytables commented on #778
@aojea thank you for helping out with the kind subproject :)

I've created PR #781  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign
/pony party

[2019-05-02 02:28] #776 closed

[2019-05-02 02:28] #778 closed

[2019-05-02 02:37] gyliu513 opened #782 "Migrate multicloudlab/cluster-api-provider-ibmcloud to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing https://github.com/multicloudlab/cluster-api-provider-ibmcloud

### Requested name for new repository
cluster-api-provider-ibmcloud

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@gyliu513

### If not a staging repo, who should have write access
I can set this up once

[2019-05-02 02:40] gyliu513 commented on #782
@khahmed @spzala @nikhita

[2019-05-02 03:21] bradtopol commented on #782
+1 I support this and hope we can move quickly to approve it

[2019-05-02 03:23] cblecker commented on #782
/assign

@gyliu513 Can you please add me as an "admin" of the source repo please? I can start running through the pre-requisites to moving.

Do you have a specific time frame you're looking to get this migrated in?

[2019-05-02 03:26] nikhita commented on #779
@MrHohn you should now have admin access to the repo.

[2019-05-02 03:28] cblecker commented on #782
I currently see four contributors. I have verified CLA for the following users:
- @gyliu513
- @xunpan
- @jichenjc
- @morvencao

[2019-05-02 03:33] cblecker commented on #782
Reviewing the approvals you've linked to, sig-cluster-lifecycle has deferred to sig-ibmcloud. The sig-ibmcloud e-mail was sent around the time that this was opened.

Please advise when there is sufficient sig consensus. Typically this is done with a consensus period (usually between 72 hours and a week, but solely at the sig's discretion). The idea is to ensure that the sig has consensus before ad

[2019-05-02 03:34] cblecker commented on #782
@nikhita @justaugustus Would one of you mind running a FOSSA scan?

[2019-05-02 06:38] MrHohn commented on #779
Verified, many thanks @nikhita !

[2019-05-02 06:48] gyliu513 commented on #782
@cblecker thanks for the quick response for this, really appreciate this! I have added you as admin for the project at https://github.com/multicloudlab/cluster-api-provider-ibmcloud/pull/100

I think I can approval from @khahmed @spzala soon ;-)

[2019-05-02 06:51] cblecker commented on #782
Oh, I don't need to be in an OWNERS file, what I need is direct GitHub admin access.

You can follow the directions here: https://help.github.com/en/articles/adding-outside-collaborators-to-repositories-in-your-organization, selecting "admin" at the last step when you are choosing a permission level.

[2019-05-02 06:55] gyliu513 commented on #782
@cblecker Done ;-)

@cblecker it would be great if we can finish the migration early next week, we want to announce this in the coming KubeCon EU for sig-ibmcloud intro & deep dive.

[2019-05-02 07:51] marquiz commented on #777
+1

[2019-05-02 09:31] khahmed commented on #782
+1 I approve

[2019-05-02 10:27] nikhita commented on #782
Hmm, I'm not entirely sure how to run a FOSSA scan on a non-Kubernetes repo... @justaugustus probably knows about this better. :)

[2019-05-02 11:47] dims commented on #782
I was able to run one @nikhita @cblecker
https://app.fossa.com/projects/git%2Bgitlab.com%2Fdavanum%2Fcluster-api-provider-ibmcloud/refs/branch/master/baf9978932fcef7570eebc3f08663f0ac35eb82a/issues/licensing?filter=policy_flag

There were 2 issues flagged, both in docker/docker repository (deep scan) and both of them were spurious as well. (and we don't import or use those files in this repo).

[2019-05-02 11:57] gyliu513 commented on #782
Thanks @dims , so no action is need from us for the FOSSA scan, right?

[2019-05-02 12:01] dims commented on #782
@gyliu513 correct.

[2019-05-02 13:00] spzala commented on #782
+1 from sig-ibmcloud

[2019-05-02 13:02] spzala commented on #782
Done. This is great! Thanks all @gyliu513 @cblecker @dims @nikhita

[2019-05-02 13:44] mdelder commented on #782
👍 LGTM.

[2019-05-02 18:29] cblecker commented on #782
Opened PR to get the initial teams created: https://github.com/kubernetes/org/pull/784

[2019-05-03 00:24] cblecker commented on #782
Okay, so the only item remaining is explicit consensus from the sig.

@spzala @khahmed: Please advise when you feel the sig has had enough time to achieve consensus to adopt this code.

[2019-05-03 00:52] gyliu513 commented on #782
Wow, really great progress, thanks @cblecker !

I think sig-ibmcloud is ready to adopt this code, @khahmed @spzala , can you please help confirm? Thanks.

[2019-05-03 01:27] spzala commented on #782
@cblecker thanks for moving it quick!! The sig is under consensus and two of three sig leads (@khahmed  and myself) has already given +1 here. Hope that sounds good enough? Please let me know if all three leads are needed - the third lead is aware of the work but not reachable right now. I will request him to add his approval in the this issue soon he is available. Thanks!

[2019-05-03 02:57] nikhita commented on #675
:wave: looks like this can be closed?

[2019-05-03 03:34] mrunalp commented on #675
Yes, thanks!

Sent from my iPhone

[2019-05-03 04:01] cblecker commented on #782
The migration part is now done. The automation and stuff may take up to 24 h to run and set up things like branch protection and labels.

All direct collaborator access has been revoked. If direct write or admin access is needed, please submit PRs to add usernames to the provisioned teams:
https://github.com/kubernetes/org/blob/c3ce94d4b8b51fd232be3dcc352fc09d45e94db9/config/kubernetes-sigs/sig-ib

[2019-05-03 04:05] cblecker commented on #675
/close
:)

[2019-05-03 04:05] #675 closed

[2019-05-03 10:40] gyliu513 commented on #782
@cblecker just created a PR to add more maintainers at https://github.com/kubernetes/org/pull/785

For the PR of updating sig.yaml, do you mean adding the project to https://github.com/kubernetes/community/blob/master/sig-ibmcloud/README.md ? If so, I want to update it after the repo was created as it will request the link of the kubernetes-sigs ibmcloud repo.

[2019-05-03 12:07] nikhita commented on #782
@gyliu513 repo has already been migrated :)

Please see https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud. Also, https://github.com/multicloudlab/cluster-api-provider-ibmcloud will automatically redirect to the kubernetes-sigs repo.

[2019-05-03 12:09] nikhita commented on #782
To answer this part -- yes, you'll need to add the repo to sigs.yaml and then run `make generate`. This will automatically update the readme. :)

[2019-05-03 12:21] gyliu513 commented on #782
Thanks @nikhita , created a PR for ibmcloud at https://github.com/kubernetes/community/pull/3669 , so I think we can close this issue now?

[2019-05-03 14:08] nikhita commented on #782
@gyliu513 let's close this after the PR gets merged :)

[2019-05-03 15:10] cwdsuzhou opened #786 "REQUEST: New membership for cwdsuzhou"
### GitHub Username

@cwdsuzhou

### Organization you are requesting membership in
kubernetes
kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-05-03 15:14] gnufied commented on #786
+1 from me.

[2019-05-03 15:21] msau42 commented on #786
+1

[2019-05-03 16:06] alenkacz opened #787 "REQUEST: New membership for alenkacz"
### GitHub Username
@alenkacz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-05-03 18:43] alejandrox1 commented on #787
Huge +1, Thank you for your contributions!

[2019-05-03 19:04] nikhita commented on #782
Closing since https://github.com/kubernetes/community/pull/3669 merged.

/close

[2019-05-03 19:04] #782 closed

[2019-05-04 00:56] mrbobbytables commented on #777
Hey there @Ethyling, thank you for all your help with the node-feature-discovery project :)

I've created PR #788   to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-05-04 00:57] mrbobbytables commented on #786
@cwdsuzhou, thank you for all your contributions so far \o/

I've created PR #788  to add you to both the Kubernetes  and Kubernetes-csi Orgs. Once that gets merged, you should get a membership invite notification from both them.

Welcome to @kubernetes! 🎉

/assign

[2019-05-04 01:25] cwdsuzhou commented on #786
Thanks @mrbobbytables @msau42 @gnufied @jingxu97

[2019-05-04 09:59] #777 closed

[2019-05-04 09:59] #786 closed

[2019-05-05 02:27] morvencao opened #789 "REQUEST: New membership for morvencao"
### GitHub Username
@morvencao

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-05-05 02:45] gyliu513 commented on #789
+1, thanks @morvencao for your contribution to cluster api provider for IBM Cloud.

[2019-05-05 02:50] xunpan commented on #789
+1  @morvencao, thanks for your contribution to IBM Cloud provider project. Expect more contributions from you to the community.

[2019-05-05 18:46] justaugustus commented on #787
+1!

[2019-05-05 18:53] justaugustus commented on #789
@morvencao -- before we can process this, you'll need one more non-IBM sponsor. See our sponsor requirements here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2019-05-05 19:05] justaugustus commented on #787
Thanks so much for your contributions thus far!
I've created #787 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-05-05 21:29] #787 closed

[2019-05-06 03:40] k82cn commented on #789
+1 , just went through morvencao@'s contribution, that's ok to me for k/sigs :)

[2019-05-06 15:00] mkumatag opened #794 "REQUEST: New membership for mkumatag"
### GitHub Username
@mkumatag

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-05-06 15:00] detiber commented on #794
+1 from me

[2019-05-06 15:02] dims commented on #794
+1 from me!

[2019-05-06 15:17] gyliu513 commented on #794
+1 from me as well, thanks @mkumatag for your great contribution to kubernetes-sigs projects, especially for POWER and Z ecosystem. ;-)

[2019-05-06 15:19] nikhita commented on #794
+10000

@mkumatag  To be clear, you don't really need sponsorship for k-sigs, since you are already a member of @kubernetes :)

[2019-05-06 15:19] mkumatag commented on #794
lol..

[2019-05-06 15:55] BenTheElder commented on #794
+100000000 😁

[2019-05-06 17:43] rramkumar1 opened #795 "Need repo permission on k/ingress-gce for spencerhance@"
### Organization or repository
e.g. kubernetes/ingress-gce

### Users effected
spencerhance

### Describe the issue
spencerhance is part of the weekly release rotation and needs permissions on the repository in order to push new tags and create Github releases.

[2019-05-06 17:44] rramkumar1 commented on #795
/assign @cblecker

[2019-05-06 17:50] nikhita commented on #795
/unassign @cblecker
/assign

Looks like @spencerhance isn't a member of the @kubernetes GitHub org.

@spencerhance can you [apply for membership](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E) by creating an issue on this repo? Once you are added to the org, you can be added to

[2019-05-06 21:03] spencerhance commented on #795
Sounds good!  Working on finding an external sponsor and then I'll submit the application.

[2019-05-07 00:59] mrbobbytables commented on #789
Thanks for stepping in @k82cn :)

With that @morvencao, thanks for all your help with the ibmcloud cluster api!

I've created PR #796  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-05-07 01:01] mrbobbytables commented on #794
@mkumatag I've opened up PR #796 to add you to @kubernetes-sigs. Once that gets merged, you should get a membership invite notification. :)

/assign
/pony party

[2019-05-07 01:13] #789 closed

[2019-05-07 01:13] #794 closed

[2019-05-07 16:08] Liujingfang1 opened #798 "Request for new SIG-CLI kubernetes-sigs repo - cli-utils"
### New Repo, Staging Repo, or migrate existing
new repo

### Requested name for new repository
cli-utils

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@pwittrock
@seans3
@soltysh

### If not a staging repo, who should have write access
@monopole
@liggitt
@Liujingfang1
@barney-s

### If not a staging repo, who should be listed as

[2019-05-07 16:09] Liujingfang1 commented on #798
cc @soltysh
cc @pwittrock
cc @seans3
cc @juanvallejo

[2019-05-07 16:18] nikhita commented on #798
/assign

[2019-05-07 16:21] pwittrock commented on #798
@Liujingfang1 Thanks.  Lets follow up on this at the next SIG meeting, and send an email out to the SIG.  Developing utilities for apply independent of kubectl has been requested by the community a number of times, so this is consistent with that.

[2019-05-07 16:44] Liujingfang1 commented on #798
@pwittrock Sounds good to me. Sent out the email and updated the agenda for next SIG meeting.

[2019-05-07 17:40] sftim opened #799 "REQUEST: New membership for @sftim"
### GitHub Username
@sftim

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-05-07 18:59] zparnold commented on #799
/lgtm
@sftim Has been a key contributor to many (as you can tell) Sig Docs initiatives. He's gonna be a rock solid contributor!

[2019-05-07 19:10] zacharysarah commented on #799
+1, happy to sponsor @sftim!

[2019-05-08 04:13] Rajakavitha1 commented on #799
+1, @sftim has been a very enthusiastic and a dedicated contributor to SIG-Docs. The PRs and the issues that @sftim raised reflect his contributions in creating technically accurate and quality Kubernetes documentation.

Welcome @sftim !!!!!

[2019-05-08 08:54] DanyC97 commented on #799
w00000t !!

Welcome to the happy family @sftim !!
(now i just need to keep up with you ;) )

[2019-05-08 16:38] jeefy opened #801 "Move jeefy/relnotes into k-sigs/release-notes"
### New Repo, Staging Repo, or migrate existing
Migrate existing: https://github.com/jeefy/relnotes

### Requested name for new repository
release-notes

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
jeefy, marpaia, onyiny-ang

### If not a staging repo, who should have write access
jeefy, marpaia, onyiny-ang, sig-release-leads, re

[2019-05-08 16:39] nikhita commented on #801
/assign

:tada: :tada: :tada:

[2019-05-08 16:41] nikhita commented on #801
I can't find the relevant part in the meeting notes (very probable I missed it). Can you add the relevant excerpt here? :grimacing:

[2019-05-08 16:41] justaugustus commented on #801
Awesome, was just about to assign you, Nikhita.
Thanks for moving this forward and for the work that you've been doing, @jeefy!

For SIG Release:
/lgtm
/approve

[2019-05-08 16:42] nikhita commented on #801
That'll do it :)

[2019-05-08 16:50] Liujingfang1 commented on #798
@pwittrock  As discussed on the SIG meeting, we can move the libraries we developed in cli-experimental into cli-runtime. cli-utils will become a place to publish some commands from cli-runtime as actual binaries.

[2019-05-08 17:34] nikhita commented on #798
@Liujingfang1 if this was approved in the meeting, could you link the relevant part in the meeting notes here? thanks!

[2019-05-08 17:43] Liujingfang1 commented on #798
@nikhita [Cli-runtime will be the library, whereas cli-utils will become a place where we can publish some commands from cli-runtime as actual binaries. This will prolong the process a bit, but we’ll ensure proper API stability due to dogfooding ourselves.](https://docs.google.com/document/d/1r0YElcXt6G5mOWxwZiXgGu_X6he3F--wKwg-9UBc29I/edit#)

[2019-05-08 17:45] nikhita commented on #798
@Liujingfang1 awesome, thank you! I'll create the repo in a while. :+1:

[2019-05-08 19:32] nikhita commented on #801
@jeefy you'll need to add me as an admin to the repo...but from previous migrations, I found that you can't add someone as an admin to a personal repo. :neutral_face:

You'll need to migrate the repo over to a dummy org and then add me as an org admin. I can do the repo transfer after that.

[2019-05-08 20:02] nikhita commented on #798
Created https://github.com/kubernetes-sigs/cli-utils :tada:

Also created https://github.com/kubernetes/org/pull/802 to add teams for the repo. Once the PR merges and the postsubmit runs, I'll grant access to the teams.

@Liujingfang1 can you create a PR to add this to sigs.yaml in the community repo? Thanks!

Once access has been granted + the community repo PR has merged, we can close this issue

[2019-05-08 21:08] Liujingfang1 commented on #798
@nikhita Thank you. I created a PR to update the sigs.yaml https://github.com/kubernetes/community/pull/3695

[2019-05-09 00:52] mrbobbytables commented on #799
@sftim , thank you for all your help with kubernetes website :D

I've created PR #803  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-09 01:08] #799 closed

[2019-05-09 13:30] nikhita commented on #798
Granted access to the relevant teams.

[2019-05-09 20:26] jeefy commented on #801
Done! :)

[2019-05-09 21:16] hpandeycodeit opened #805 "REQUEST: New membership for @hpandeycodeit"
### GitHub Username
@hpandeycodeit

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-05-09 21:19] neolit123 commented on #805
thanks for the contributions @hpandeycodeit
+1

[2019-05-09 21:27] tstromberg commented on #805
I endorse this membership. Thank you @hpandeycodeit !

[2019-05-10 02:58] nikhita commented on #801
Thanks, @jeefy!

I ran a FOSSA scan on the repo: https://app.fossa.com/projects/git%2Bgithub.com%2Fnikhita%2Frelnotes/refs/branch/master/088719d55931d7dd5f18436ea280fc9a62a94286 (I'm not sure if this link is publicly visible?)

There is one issue flagged by it. relnotes uses the `showdown` dependency: https://github.com/kubernetes-purgatory/relnotes/blob/088719d55931d7dd5f18436ea280fc9a62a94286/pa

[2019-05-10 16:55] diversario opened #806 "REQUEST: New membership for diversario"
### GitHub Username
@diversario

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-05-10 16:56] fejta commented on #806
Lgtm

[2019-05-10 21:02] stevekuznetsov commented on #806
Excited for this! LGTM

[2019-05-10 22:43] mrbobbytables commented on #805
Hey there @hpandeycodeit , thank you for all your contributions to the project so far :)

I've created PR #807  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-10 22:44] mrbobbytables commented on #806
@diversario thank you for all your help with test-infra! :)

I've created PR #807  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-11 00:08] #805 closed

[2019-05-11 00:08] #806 closed

[2019-05-11 00:58] diversario commented on #806
Thank you, everybody! 😄

[2019-05-11 23:12] jeefy commented on #801
Easiest path is probably alternatives. I'll investigate and try to PR in a different library.

[2019-05-11 23:32] jeefy commented on #801
Actually, question on preference:

I could (and have) found a couple alternatives, but I could also just pin the version to a specific commit and, when they cut a new version, swap back to using official releases. Is there any precedence set for this? If not, I'll probably just push an updated package(-lock).json with a pinned recent commit.

Thoughts?

[2019-05-11 23:38] justaugustus commented on #801
@jeefy -- I was just about to suggest that. If pinning to a commit works it in the interim, let's do that to move this forward. We can explore alternatives, if need be in the future, but I leave that decision to you, @marpaia, and @onyiny-ang, as the maintainers.

[2019-05-11 23:50] jeefy commented on #801
If I could :gandalf: in a response, I would. Thanks!

[2019-05-12 00:35] jeefy commented on #801
Welp... Pinning to the commit won't work for various reasons. So that's a sad day. I'll work on replacing it and update the thread when complete.

[2019-05-12 00:54] jeefy commented on #801
Replaced `showdown` with `ngx-markdown`. @nikhita Run fossa against it again and see if things look green. :)

[2019-05-12 03:58] nikhita commented on #801
FOSSA was happy :)

Created https://github.com/kubernetes-sigs/release-notes :tada:

Also created https://github.com/kubernetes/org/pull/808 to create teams and https://github.com/kubernetes/community/pull/3703 to add it to sigs.yaml.

[2019-05-12 04:19] justaugustus commented on #801
Looks like PRs are all merged, so everything should be squared away.
Thanks everyone!

/close

[2019-05-12 04:19] #801 closed

[2019-05-13 08:31] lbernail opened #811 "REQUEST: New membership for lbernail"
### GitHub Username
@lbernail

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-05-13 08:33] yastij commented on #811
+1

[2019-05-13 08:34] m1093782566 commented on #811
+100

[2019-05-13 16:20] detiber opened #812 "Request GitHub Package Registry beta for kubernetes-sigs org"
### Organization or repository
kubernetes-sigs

### Name of integration
GitHub Package Registry and GitHub Actions

### Link to integration website
https://github.com/features/package-registry
https://github.com/features/actions

### Describe what is attempting to be accomplished
Request GitHub Package Registry and GitHub Actions be enabled for the kubernetes-sigs org

### Additional context for r

[2019-05-13 16:20] detiber commented on #812
/assign @dims @guineveresaenger

[2019-05-13 16:22] nikhita commented on #812
/assign @spiffxp
I believe Aaron already signed up kubernetes and kubernetes-sigs for package-registry.

[2019-05-13 20:24] spiffxp commented on #812
Yeah I signed us up within a few hours of the announcement, we'll let you know when we hear more

[2019-05-14 05:39] mkumatag commented on #812
Good idea but not really how this behaves for non-amd64 architecture images!

[2019-05-14 23:05] pmorie opened #818 "Rename kubernetes-sigs/federation-v2 to kubernetes-sigs/kubefed"
### New Repo, Staging Repo, or migrate existing

This request is to rename the [`kubernetes-sigs/federation-v2`](https://github.com/kubernetes-sigs/federation-v2) repository to `kubernetes-sigs/kubefed`. This decision was made by the Federation WG, a subproject of SIG multicluster during the [May 1 2019](https://docs.google.com/document/d/1v-Kb1pUs3ww_x0MiKtgcyTXCAuZlbVlz4_A9wS3_HXY/edit#heading=h

[2019-05-14 23:32] cblecker commented on #818
/assign

Shouldn't be a problem renaming this whenever you're ready. I have #819 to update the groups, and I've verified there aren't any other prow configs that need to be moved.

[2019-05-14 23:47] pmorie commented on #818
@cblecker Thanks. I think we are good to pull the trigger now. We are near the reasonable end of the working day now, and the working group would get an extra full working day with this finished if we were to do it now.

[2019-05-15 00:04] cblecker commented on #818
Rename complete. Just need sigs.yaml updated, and then this can be closed.

[2019-05-15 01:39] mrbobbytables commented on #811
Hey there @lbernail , thank you for all your contributions so far :)

I've created PR #820  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-15 01:56] #811 closed

[2019-05-15 10:01] inductor opened #822 "REQUEST: New membership for inductor"
### GitHub Username
@inductor

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-05-15 10:16] nasa9084 commented on #822
+1

[2019-05-15 10:44] yastij opened #823 "Project board for sig-node"
### Organization or repository

kubernetes/kubernetes

### Users affected

none

### Describe the issue

As per discussion we had yesterday in the sig-node meeting, we are trying the ease the PR review workflow, we would like to request a project board for this
ref :https://github.com/kubernetes/kubernetes/pull/77914#issuecomment-492599952

cc @dims @derekwaynecarr

[2019-05-15 11:29] nikhita commented on #823
/assign

@yastij I just created https://github.com/kubernetes/org/pull/824 to add the issue template for project boards. Could you edit the PR body to fill in the details as mentioned in the PR? :grimacing:

And since this is a SIG-wide project board, I'll create it once either @derekwaynecarr or @dchen1107 approve the request.

[2019-05-15 13:03] derekwaynecarr commented on #823
before we create new things, maybe we can just chat in our sig-node call or in a doc/slack how we see this board being used?  It’s probably the right thing, I just want to understand the process a bit.

[2019-05-15 16:51] nikhita commented on #823
Looks like org members can create project boards themselves: https://github.com/kubernetes/test-infra/pull/12657#issuecomment-492730415

After there is consensus, please feel free to create the project board yourself. I'll keep this issue open in case you want to point people here while discussing about setting up the project board for SIG Node.

[2019-05-15 19:24] juandiegopalomino opened #826 "REQUEST: New membership for juandiegopalomino"
### GitHub Username
e.g. (at)example_user
@juandiegopalomino

### Organization you are requesting membership in
e.g. (at)kubernetes
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernete

[2019-05-15 23:44] zacharysarah commented on #826
+1, JD is an active and present contributor working to improve content.

[2019-05-16 00:00] jimangel commented on #826
+1, JD is always looking for new ways to help sig-docs!

[2019-05-16 03:00] cstoku commented on #822
+1

Thank you for your contribution!!:+1:

[2019-05-16 19:33] mrbobbytables commented on #826
@juandiegopalomino thank you for all your help with sig-docs :)

I've created PR #827  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-16 19:35] mrbobbytables commented on #822
@inductor thank you for all your help with the japanese localization efforts :)

I've created PR #827 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-16 19:54] #822 closed

[2019-05-16 19:54] #826 closed

[2019-05-17 05:40] nikhita commented on #818
sigs.yaml is updated.

/close

[2019-05-17 05:40] #818 closed

[2019-05-17 17:43] piotrmiskiewicz opened #830 "REQUEST: New membership for piotrmiskiewicz"
### GitHub Username
@piotrmiskiewicz

### Organization you are requesting membership in
@kubernetes-incubator

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-05-17 18:20] prksu opened #831 "REQUEST: New membership for prksu"
### GitHub Username
@prksu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-05-17 18:26] seans3 commented on #831
+1

[2019-05-17 18:27] kargakis commented on #831
+1

[2019-05-17 18:28] prksu commented on #831
thanks @seans3 @kargakis

[2019-05-19 05:52] jberkhahn commented on #830
I haven't done it the new way yet, do I just approve the PR?
/lgtm

[2019-05-19 11:07] mszostok opened #832 "REQUEST: New membership for @mszostok"
### GitHub Username
@mszostok

### Organization you are requesting membership in
- @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-05-19 11:35] jberkhahn commented on #832
/approve

[2019-05-19 20:25] JieJhih opened #833 "REQUEST: New membership for JieJhih"
### GitHub Username
@JieJhih

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-05-19 22:08] neolit123 commented on #833
+1

[2019-05-20 00:51] dims commented on #812
/unassign

[2019-05-20 01:37] bsalamat commented on #833
+1
Looking forward to seeing more contributions from @JieJhih!

[2019-05-20 05:46] mrbobbytables commented on #831
Hey there @prksu , thank you for all your contributions so far :)

I've created PR #834  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-20 05:48] mrbobbytables commented on #833
@JieJhih thank you for all your contributions so far :)

I've created PR #834   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-20 05:57] #831 closed

[2019-05-20 05:57] #833 closed

[2019-05-20 12:40] afirth opened #835 "REQUEST: New membership for afirth"
### GitHub Username
@afirth
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-05-20 17:54] kbhawkey opened #836 "REQUEST: New membership for kbhawkey"
### GitHub Username
@kbhawkey

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-05-20 20:30] zacharysarah commented on #836
Enthusiastic +1. @kbhawkey’s list of PRs is too modest by far, and makes no mention of her numerous invaluable reviews.

[2019-05-20 21:19] jimangel commented on #836
+1 @kbhawkey is a great contributor / reviewer with eagle eyes (that includes catching many of my typos 😆)

[2019-05-21 02:02] Rajakavitha1 commented on #836
+1 @kbhawkey  is an amazing contributor and reviewer. @kbhawkey always appraises a PR  from many perspectives not just language edits. She is abreast with the latest technical changes  and ensures that the PR does not miss on those details. I truly admire her technical and reviewing skills. Those of us who have been lucky to have a PR reviewed by @kbhawkey  know the invaluable contributions that s

[2019-05-21 11:53] parispittman commented on #835
+1!! 🚀

[2019-05-22 10:07] puja108 commented on #835
+1! Thanks for your contributions

[2019-05-22 12:11] carolynvs commented on #832
/approve

[2019-05-22 12:15] carolynvs commented on #832
Oops, maybe I’m supposed to say +1. Jonathan threw me off. 😅

[2019-05-22 14:29] nowjean opened #837 "REQUEST: New membership for nowjean"
GitHub Username
@nowjean

Organization you are requesting membership in
@kubernetes

Requirements

[v] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
[v] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
[v] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kubernetes

[2019-05-22 14:57] gochist commented on #837
+1
@nowjean Thank you for your contribution for Ko localization!

[2019-05-22 23:14] chardch opened #838 "REQUEST: New membership for chardch"
### GitHub Username
@chardch

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-05-22 23:40] jiayingz commented on #838
+1

Jiaying

On Wed, May 22, 2019 at 4:14 PM Richard Chen <notifications@github.com>
wrote:

[2019-05-23 05:36] ianychoi commented on #837
+1
I will also sponsor him :) @nowjean : Thank you for your contribution on K8s Korean localization!

[2019-05-23 07:30] mrbobbytables commented on #832
A general ack as a plus one is all that's needed :) 👍

[2019-05-23 09:23] mrbobbytables commented on #835
Hey there @afirth, unfortunately @puja108 cannot sponsor you for membership in the Kubernetes org. =/

A sponsor must be an approver or reviewer to be able to +1 a membership request ([sponsor requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements)).

Is there someone else that might be able to sponsor you?

Thanks!

[2019-05-23 14:43] ClaudiaJKang commented on #837
👍 Thank you for contributing to Korean localization! @nowjean

[2019-05-23 17:01] ConnorDoyle opened #839 "Request to create new bare repository `kubernetes-sigs/nodus` on behalf of sig-scheduling"
### New Repo, Staging Repo, or migrate existing
Migrate existing repository

### Requested name for new repository
`nodus`

### Which Organization should it reside
`kubernetes-sigs`

### If not a staging repo, who should have admin access
* @ConnorDoyle
* @bsalamat

### If not a staging repo, who should have write access
* @ConnorDoyle
* @bsalamat

### If not a staging repo, who should be listed a

[2019-05-23 20:04] mrbobbytables commented on #832
@mszostok  thank you for all your contributions so far :)

I've created PR #840  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-23 20:08] mrbobbytables commented on #836
@kbhawkey thank you for all your contributions to the project thus far <3

I've created PR #840  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-23 20:09] mrbobbytables commented on #837
@nowjean thank you for your help with sig-docs and the korean localization :)

I've created PR #840  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-05-23 21:32] #832 closed

[2019-05-23 21:32] #836 closed

[2019-05-23 21:32] #837 closed

[2019-05-24 15:42] guineveresaenger commented on #835
+1 from me! Welcome! 🎉

[2019-05-24 21:56] micahhausler opened #841 "REQUEST: New membership for micahhausler"
### GitHub Username
@micahhausler

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-05-24 21:57] sethpollack opened #842 "REQUEST: New membership for sethpollack"
### GitHub Username
sethpollack

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-05-24 21:58] micahhausler commented on #842
/approve

[2019-05-24 22:09] dims commented on #841
+1 👍

[2019-05-24 22:09] dims commented on #842
+1 👍

[2019-05-24 22:10] liggitt commented on #841
+1

[2019-05-24 23:12] christopherhein commented on #841
+1 👍

[2019-05-26 10:53] mrbobbytables commented on #835
Thanks for stepping in @guineveresaenger :)

With that -- @afirth  thank you for all your contributions so far :)

I've created PR #843  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/pony party

[2019-05-26 10:57] mrbobbytables commented on #841
@micahhausler -- Just as an FYI, as a kubernetes org member you can implicitly be added to the other kubernetes orgs without requiring additional sponsorship. It's just the other way around that sponsors are required. 👍

With that -- I've created PR #843 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.  🎉

/assign