[2019-08-20 04:36] nikhita commented on #1115
@qbl thank you for your contributions thus far :)

I've created PR #1121 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-20 04:42] nikhita commented on #1119
Thanks @justaugustus! And considering this as a membership request for both kubernetes and kubernetes-sigs. :+1:

@ps882 I've created PR #1121 to add you to @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get membership invite notifications for both orgs.

Welcome!! :tada:

/assign

[2019-08-20 04:47] ps882 commented on #1119
Thanks a lot ! @nikhita  @justaugustus :confetti_ball:

[2019-08-20 04:49] #1115 closed

[2019-08-20 04:49] #1116 closed

[2019-08-20 04:49] #1117 closed

[2019-08-20 04:49] #1118 closed

[2019-08-20 04:49] #1119 closed

[2019-08-20 13:23] nikhita commented on #1110
All PRs have merged and the teams have been granted appropriate access.

/close

[2019-08-20 13:23] #1110 closed

[2019-08-20 18:08] cblecker commented on #1085
https://github.com/maintainers/early-access-feedback/issues/270

[2019-08-21 20:07] odinuge opened #1125 "REQUEST: New membership for @odinuge in @kubernetes-sigs"
### GitHub Username
@odinuge

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-08-21 21:07] liu-cong opened #1127 "REQUEST: New membership for liu-cong"
### GitHub Username
@liu-cong

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-08-21 21:09] Huang-Wei commented on #1127
+1
for @liu-cong 's continuous contributions. Looking forward to seeing more in the future!

[2019-08-21 21:35] ahg-g commented on #1127
+1 thanks Cong

[2019-08-21 22:22] aramase opened #1129 "REQUEST: New membership for aramase"
### GitHub Username
@aramase

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-21 22:31] aojea commented on #1129
+1 @aramase was very helpful and active in networking, mainly in the IPv6 and dual-stack feature areas, where all this help is very welcome :)

[2019-08-21 23:03] ritazh commented on #1129
+1 @aramase has been instrumental in getting the IPV6 and dual-stack feature added to k8s/k8s.

[2019-08-22 04:58] saiyan86 opened #1130 "REQUEST: New membership for saiyan86"
### GitHub Username
@saiyan86

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-08-22 05:02] andyzhangx commented on #1130
+1

[2019-08-22 05:47] feiskyer commented on #1130
+1 @saiyan86 has involved a lot in improving network e2e tests

[2019-08-22 09:22] #1125 closed

[2019-08-22 09:30] nikhita commented on #1111
@xueweiz :wave: according to [membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements), sponsors must be from different companies. Since both @wangzhen127 and @Random-Liu are from Google, you'll need to find a non-Googler sponsor.

[2019-08-22 09:35] nikhita commented on #1051
/area github-management

[2019-08-22 09:36] nikhita commented on #963
/area github-management

[2019-08-22 10:41] nikhita opened #1132 "Audit repo permissions for release-managers team"
### Organization or repository
kubernetes/client-go and kubernetes/website

### Users affected
@kubernetes/release-managers

### Describe the issue
Currently, the `release-managers` team has the following permissions (ref: https://github.com/orgs/kubernetes/teams/release-managers/repositories):

- Admin access to k/k (needed for release management operations)
- Write access to k/release and k/sig-

[2019-08-22 11:11] dims commented on #1130
+1 from me.

[2019-08-22 12:50] idealhack commented on #1132
Maybe it's because previous release managers are doing things related but not now, this can be a cleanup task.

Copying my comments from Slack:

[2019-08-22 15:07] tpepper commented on #1132
I can't think of any reason k/client-go and k/website were granted to the whole team.

[2019-08-22 15:10] justaugustus commented on #1132
+1 to removing those

[2019-08-22 16:31] nikhita commented on #1132
Removed write access to k/client-go and k/website.

/close

[2019-08-22 16:31] #1132 closed

[2019-08-22 17:14] nzoueidi commented on #1129
Hey @aramase, unfortunately @aojea is member in @kubernetes-sigs and can't sponsor your org membership request for @kubernetes. At least before sorting out this issue #966.

Thanks,
Naeil

[2019-08-22 17:22] nzoueidi commented on #1127
Hey there @liu-cong, thank you for all your contributions so far :)

I've created PR #1133 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-22 17:22] aramase commented on #1129
@nzoueidi Thank you! I've spoken to @dims. So adding him also to the sponsors list.

[2019-08-22 17:22] nzoueidi commented on #1130
Hey there @saiyan86, thank you for all your contributions so far :)

I've created PR #1133 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-22 17:24] dims commented on #1129
+1 from me. welcome @aramase

[2019-08-22 17:26] #1127 closed

[2019-08-22 17:26] #1130 closed

[2019-08-23 09:09] nikhita commented on #1085
https://github.com/maintainers/early-access-feedback/issues/272

[2019-08-25 20:55] nzoueidi commented on #1129
Hey there @aramase, thank you for all your contributions so far :)

I've created PR #1136 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-26 08:15] lmdaly opened #1137 "[WIP] REQUEST: New membership for lmdaly"
### GitHub Username
@lmdaly

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-08-26 09:27] nolancon opened #1138 "REQUEST: New membership for nolancon"
### GitHub Username
nolancon

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-08-26 09:37] ConnorDoyle commented on #1137
+1
/cc @derekwaynecarr

[2019-08-26 19:26] mrkm4ntr opened #1140 "REQUEST: New membership for mrkm4ntr"
### GitHub Username
@mrkm4ntr

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-08-27 05:40] MJ-CJM opened #1141 "REQUEST: New membership for <MJ-CJM>"
### GitHub Username
@MJ-CJM

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-08-27 05:48] Mr-Linus commented on #1141
+1  👍

[2019-08-27 17:33] scottilee opened #1142 "REQUEST: New membership for scottilee"
### GitHub Username
@scottilee

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-08-27 19:29] aimeeu opened #1143 "REQUEST: New membership for @aimeeu"
### GitHub Username
@aimeeu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-08-27 21:04] nzoueidi commented on #1111
Hey @xueweiz did you had a chance to reach out to another sponsor from a different company?
If no, I could help out with this.

Thanks.

[2019-08-27 21:17] nzoueidi commented on #1137
Hey there @lmdaly, thank you for all your contributions so far :)

I've created PR #1144 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes ! 🎉

/assign

[2019-08-27 21:17] nzoueidi commented on #1140
Hey there @mrkm4ntr, thank you for all your contributions so far :)

I've created PR #1144 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes ! 🎉

/assign

[2019-08-27 21:17] nzoueidi commented on #1143
Hey there @aimeeu, thank you for all your contributions so far :)

I've created PR #1144 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes ! 🎉

/assign

[2019-08-28 07:05] #1143 closed, assigned to ezzoueidi

[2019-08-28 13:32] markthink commented on #1141
+1  keep it up 👍

[2019-08-28 17:19] micahhausler opened #1145 "Enable TravisCI on kubernetes-sigs/aws-encryption-provider"
### Organization or repository
https://github.com/kubernetes-sigs/aws-encryption-provider

### Name of integration
TravisCI

### Link to integration website
https://travis-ci.org/

### Describe what is attempting to be accomplished
I'd like TravisCI integration added to the repository.

### Additional context for request

I do _not_ want merges to be blocked by failing tests

[2019-08-28 22:23] scottilee commented on #1142
Adding @oz123 because Yu and Roy are both from Google.

[2019-08-28 22:47] roycaihw commented on #1142
+1

Welcome!

[2019-08-28 23:07] #1145 closed

[2019-08-29 02:03] andyxning commented on #1111
+1

/cc @xueweiz @nikhita

[2019-08-29 02:04] andyxning commented on #1111
I come from https://bytedance.com/en. :)

[2019-08-29 03:23] fredkan opened #1146 "Request to create new repository `kubernetes-sigs/alibaba-cloud-csi-driver` on behalf of sig-cloud-provider"
## New Repo, Staging Repo, or migrate existing
migrate existing: https://github.com/AliyunContainerService/csi-plugin

## Requested name for new repository
alibaba-cloud-csi-driver

## Which Organization should it reside
kubernetes-sigs

## If not a staging repo, who should have admin access
@fredkan, @xianlubird

## If not a staging repo, who should have write access
@fredkan, @xianlubird

## If

[2019-08-29 05:16] oz123 commented on #1142
+1

Welcome!

[2019-08-29 09:22] RainbowMango opened #1147 "REQUEST: New membership for RainbowMango"
### GitHub Username
@RainbowMango

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-08-29 09:40] hzxuzhonghu commented on #1147
Thanks for your contribution!

+1

[2019-08-29 09:53] sttts commented on #1147
+1 from me.

[2019-08-29 12:00] RainbowMango commented on #1147
/cc @nikhita

[2019-08-29 12:16] nikhita commented on #1147
+1

[2019-08-29 18:04] andrewsykim commented on #1146
@fredkan I think you have to be a Kubernetes SIGs org member in order to be an admin/owner.

[2019-08-29 18:20] nzoueidi commented on #1142
Hey @scottilee, unfortunately @oz123 can't sponsor your org membership request. Sponsors should be approvers in at least 1 owners file in any repo in the @kubernetes org.

More information can be found here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

Let me know if you have any questions.

[2019-08-29 18:26] nzoueidi commented on #1111
Hey there @xueweiz, thank you for all your contributions so far :)

I've created PR #1148  to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-29 18:26] nzoueidi commented on #1138
Hey there @nolancon, thank you for all your contributions so far :)

I've created PR #1148  to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-29 18:27] nzoueidi commented on #1141
Hey there @MJ-CJM, thank you for all your contributions so far :)

I've created PR #1148  to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-29 18:27] nzoueidi commented on #1147
Hey there @RainbowMango, thank you for all your contributions so far :)

I've created PR #1148  to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-08-29 19:20] scottilee commented on #1142
@micw523 I pinged you on Slack but would you be okay with sponsoring me?

[2019-08-29 21:35] #1111 closed

[2019-08-29 21:35] #1138 closed

[2019-08-29 21:35] #1141 closed

[2019-08-29 21:35] #1147 closed

[2019-08-30 02:49] xianlubird commented on #1146
@andrewsykim

I'm the kubernetes member and we are the same team for alibaba cloud csi plugin, can I be an admin/owner ?

Thank you .

[2019-08-30 03:07] mrbobbytables commented on #1146
@fredkan just for clarification, are you looking for a bare repository? or to migrate [AliyunContainerService/csi-plugin](https://github.com/AliyunContainerService/csi-plugin) to kubernetes-sigs?

If it's migration, there are a few more steps involved to donate it to the Kubernetes project. For the specifics on that, please see the docs for it here:
https://git.k8s.io/community//github-management/

[2019-08-30 03:37] xianlubird commented on #1146
@mrbobbytables  We want a bare repository.

Most of these authors are our colleagues, accounting for about 99% of the total, and the remaining one or two commits will be discarded, without affecting any function points.

[2019-08-30 03:54] nikhita commented on #1146
@xianlubird a few more follow-up questions:

- Will the code be copied from the existing repo or will the code be created from scratch?

- Will the existing commits (barring 1-2 commits) be included/"copied" to the new repo?

[2019-08-30 03:56] xianlubird commented on #1146
@nikhita

1.  The code will be copied from the existing repo

2.  The existing commits (barring 1-2 commits) won't be included/"copied" to the new repo

[2019-08-30 04:00] nikhita commented on #1146
This would essentially be equal to migrating the repo so it'll need to follow the rules in https://git.k8s.io/community//github-management/kubernetes-repositories.md#rules-for-donated-repositories. This is mainly important for licensing, code of conduct, etc.

Is there a particular reason why the commits won't be included? IMO it's better to include them for attribution. I'm also a little concerne

[2019-08-30 04:06] xianlubird commented on #1146
@nikhita OK, thank you . These commits authors cloud not be reached, so we can't let them sign CLA.
We will follow

adding a NOTICE file to reference these commits.

[2019-08-30 05:12] nikhita commented on #1146
@xianlubird Thanks for the background! :)

Generally, we try to avoid adding a NOTICE file as much as possible. I checked CLA for all existing contributors and only two contributors don't have CLA signed - tommenx (https://github.com/AliyunContainerService/csi-plugin/commit/35dc77b98bf58ebf632ca486474a6d93e7830a66) and haoshuwei (https://github.com/AliyunContainerService/csi-plugin/commit/adba9f4f

[2019-08-30 05:16] scottilee commented on #1142
I'm going to close this for now, I didn't read the community-membership correctly. I will re-apply when I work with more people in the Python Client OWNERS file.

[2019-08-30 05:16] #1142 closed

[2019-08-30 05:33] fredkan commented on #1146
@nikhita Thank you.
haoshuwei([AliyunContainerService/csi-plugin@adba9f4](https://github.com/AliyunContainerService/csi-plugin/commit/adba9f4f55043cf27a33b80aca5a5787a71f778d)) is our colleague in the same team in alibabacloud, I will contact him to sign the CLA today.

tommenx ([AliyunContainerService/csi-plugin@35dc77b](https://github.com/AliyunContainerService/csi-plugin/commit/35dc77b98bf58ebf

[2019-08-30 07:55] fredkan commented on #1146
@nikhita
haoshuwei ([AliyunContainerService/csi-plugin@adba9f4](https://github.com/AliyunContainerService/csi-plugin/commit/adba9f4f55043cf27a33b80aca5a5787a71f778d)) has signed the CLA. I will continue to contact tommenx. Thanks.

[2019-08-30 15:36] andrewsykim commented on #1146
@xianlubird yes but you still need to request membership for the kubernetes-sigs org - which has no requirements if you're already a kubernetes org member but you still need to open an issue to request it. Ideally you also want at least 2 approvers in the OWNERs file but I don't think that's a strict requirement here.

Given the precedent that SIG Cloud Provider owns plugins owned by cloud provide

[2019-08-30 16:24] wk8 commented on #1118
Thanks @nikhita ! :)

[2019-08-30 18:23] joonas opened #1149 "REQUEST: New membership for joonas"
### GitHub Username
@joonas

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-08-30 18:29] detiber commented on #1149
+1 from me

[2019-08-30 19:14] ashish-amarnath commented on #1149
+1 from me too

[2019-08-30 21:10] cheftako commented on #1146
/lgtm

[2019-08-31 02:20] xianlubird opened #1150 "REQUEST: New membership for xianlubird"
### GitHub Username
@xianlubird

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-08-31 02:29] xianlubird commented on #1146
@andrewsykim Thank you very much for your detailed and patient reply. I have already open a issue for join kubernetes-sigs org #1150.

@nikhita  We've got a approval from @andrewsykim and we can continue on for the next step.

Thank you very much.

[2019-08-31 06:40] fredkan opened #1151 "REQUEST: New membership for fredkan"
### GitHub Username
@fredkan

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-08-31 06:44] aoxn commented on #1151
/LGTM

[2019-08-31 13:40] cheyang commented on #1151
/LGTM

[2019-08-31 13:41] cheyang commented on #1151
/LGTM

[2019-08-31 16:09] resouer commented on #1151
+1

[2019-09-02 01:27] zhangxiaoyu-zidif commented on #1151
+1

[2019-09-02 18:31] nzoueidi commented on #1151
Hey @fredkan I am waiting for another non-Alibaba sponsor so I can proceed with your membership request.

[2019-09-03 02:31] huangyuqi commented on #1151
+1

[2019-09-03 02:39] kevin-wangzefeng commented on #1151
+1

[2019-09-03 04:50] edisonxiang commented on #1151
+1

[2019-09-03 04:51] edisonxiang commented on #1151
/lgtm

[2019-09-03 05:33] shashidharatd commented on #1151
+1

[2019-09-03 07:18] xlgao-zju commented on #1151
+1

[2019-09-03 09:25] nikhita commented on #1149
@joonas  thank you for your contributions to cluster-api :)

I've created #1152 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-03 09:26] nikhita commented on #1150
@xianlubird  since you already a kubernetes org member, you don't need sponsorship for kubernetes-sigs. :)

I've created #1152 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-03 09:27] nikhita commented on #1151
@fredkan I've created #1152 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-03 09:54] nikhita commented on #1146
There are a few things that need to be done before we can migrate the repo:

- There are a bunch of dependencies in the vendor directory that have no license file. Example: https://github.com/AliyunContainerService/csi-plugin/tree/master/vendor/github.com/nightlyone/lockfile. But the original source code for that dependency: https://github.com/nightlyone/lockfile has a LICENSE file. Is there a par

[2019-09-03 10:09] fredkan commented on #1146
@nikhita Thank you very much for your detailed and patient reply. We are working on it.

[2019-09-03 10:22] #1151 closed

[2019-09-03 10:29] nikhita commented on #1150
https://github.com/kubernetes/org/pull/1152 has merged.
/close

[2019-09-03 10:29] #1150 closed

[2019-09-03 10:29] nikhita commented on #1149
https://github.com/kubernetes/org/pull/1152 has merged.
/close

[2019-09-03 10:29] #1149 closed

[2019-09-03 15:06] gjtempleton opened #1153 "REQUEST: New membership for gjtempleton"
### GitHub Username

@gjtempleton

### Organization you are requesting membership in

@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-09-03 15:11] mikesplain commented on #1153
+1! @gjtempleton has been an asset for the Kops team and across the board on Kubernetes.  We look forward to his continued contributions!

/lgtm

[2019-09-03 15:11] fredkan commented on #1146
@nikhita I have updated the repo, and fix the above issues. Please have a check.

Issue 1: update the vendor with go mod.
Issue 2: update the boilerplate headers.
Issue 3: Files added.
Issue 4: README.md updated.
Issue 5: travis.yml circleci removed.
Issue 6: remove the files as cannot contact the developer.

Thank you for your support.

[2019-09-03 15:20] nikhita commented on #1146
@fredkan Thank you sooo much for addressing all the issues so quickly! :smile:

Looks like both travis and circle are still present...but it's totally ok to remove them after migration too.

Everything looks good! Please add me as an admin to the repo when you are ready to migrate it.

[2019-09-03 17:03] MaciekPytel commented on #1153
+1 @gjtempleton is an active memeber of sig-autoscaling and a contributor to Cluster Autoscaler project in particular.

[2019-09-03 18:12] grayluck opened #1154 "Migrating ip-masq-agent to @kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate https://github.com/kubernetes-incubator/ip-masq-agent to kubernetes-sigs.

### Requested name for new repository
ip-masq-agent

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@bowei @dnardo @MrHohn @varunmar @grayluck

### If not a staging repo, who should have write access
@bo

[2019-09-03 22:02] justaugustus commented on #1153
@gjtempleton -- Thanks so much for your contributions thus far!
I've created #1155 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome! :)
/assign

[2019-09-03 23:55] Jeffwan commented on #1153
+1 @gjtempleton

[2019-09-04 01:08] #1153 closed

[2019-09-04 01:36] fredkan commented on #1146
@nikhita Thank you for your review.
travis.yml circleci removed now, and I have added you as an admin to the repo.

Is it OK only to migrate the master branch to the new repo?

[2019-09-04 04:52] nikhita commented on #1146
Repo has been migrated: https://github.com/kubernetes-sigs/alibaba-cloud-csi-driver :tada:

@fredkan I noticed that the repo still has travis and circleci webhooks. I'm guessing it's okay to remove these, but wanted to double check if you are good with it as well.

Also created:
- https://github.com/kubernetes/org/pull/1156 - to add GitHub teams to grant access
- https://github.com/kubernetes/comm

[2019-09-04 04:52] nikhita commented on #1146
Migration will migrate all branches, but feel free to delete the branches you'd rather not keep.

[2019-09-04 04:55] nikhita commented on #1154
/assign @thockin @dcbw @caseydavenport
for approval for the move

Btw this is also blocking the addition of new OWNERS: https://github.com/kubernetes-incubator/ip-masq-agent/pull/48

[2019-09-04 05:13] fredkan commented on #1146
[code]

@nikhita It is okay, I can remove  them while I get the right to modify. Thank you very much.

[2019-09-04 11:53] eloyekunle opened #1157 "REQUEST: New membership for eloyekunle"
### GitHub Username
@eloyekunle

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-09-04 11:56] maciaszczykm commented on #1157
+1 from my side

[2019-09-04 13:09] nikhita commented on #1157
+1

[2019-09-04 13:24] sttts commented on #1157
+1

[2019-09-05 03:46] jimangel opened #1158 "migrate kubernetes-incubator/reference-docs"
### New Repo, Staging Repo, or migrate existing
migrate existing (https://github.com/kubernetes-incubator/reference-docs)

### Requested name for new repository
reference-docs

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
- bradamant3
- jimangel
- zacharysarah

### If not a staging repo, who should have write access
- tengqm
- kbh

[2019-09-05 12:18] mrbobbytables commented on #1158
/assign

[2019-09-05 18:59] joshbranham opened #1160 "REQUEST: New membership for @joshbranham"
### GitHub Username
@joshbranham

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-09-05 19:00] mikesplain commented on #1160
Josh has been a great contributor, to Kops and throughout the Kubernetes Community.  I highly support his membership!

+1

[2019-09-05 19:00] dims commented on #1160
+1 from me!

[2019-09-06 06:23] nikhita commented on #1146
Both PRs have merged and the relevant teams have been granted access.

/close

[2019-09-06 06:23] #1146 closed

[2019-09-06 10:08] haoshuwei opened #1162 "REQUEST: New membership for <haoshuwei>"
### GitHub Username
@haoshuwei

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-09-06 10:28] fredkan commented on #1162
+1

[2019-09-06 13:06] nikhita commented on #1162
+1

[2019-09-06 13:21] nikhita commented on #1162
@haoshuwei I've created #1163 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-06 13:22] nikhita commented on #1157
@eloyekunle Thank your contributions with the kubernetes dashboard :)

I've created #1163 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes! 🎉

/assign

[2019-09-06 13:23] nikhita commented on #1160
@joshbranham Thank your contributions with kops :)

I've created #1163 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes! 🎉

/assign

[2019-09-06 13:24] haoshuwei commented on #1162
@nikhita Thanks very much!

[2019-09-06 13:38] #1157 closed

[2019-09-06 13:39] #1160 closed

[2019-09-06 13:39] #1162 closed

[2019-09-06 15:22] Pothulapati opened #1164 "REQUEST: New membership for @Pothulapati"
### GitHub Username
@pothulapati

### Organization you are requesting membership in
@kubernetes
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-09-06 15:30] dims commented on #1164
+1 from me

[2019-09-06 16:47] nikhita commented on #1164
+1

[2019-09-06 18:24] nikhita commented on #893
Repo has been migrated: https://github.com/kubernetes-sigs/go-open-service-broker-client and relevant teams have been granted access.

I have created https://github.com/kubernetes/community/pull/4065 to add the repo to sigs.yaml. Once the PR merges, we can close this issue.

[2019-09-06 18:49] jberkhahn commented on #893
BAM! Thanks!

[2019-09-06 18:51] #893 closed

[2019-09-06 21:19] brysonshepherd opened #1165 "REQUEST: New membership for brysonshepherd"
### GitHub Username
@brysonshepherd

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-09-06 22:05] justaugustus commented on #1165
+1 (on behalf of the subproject formerly known as SIG Azure)!

[2019-09-06 22:13] cantbewong commented on #1165
+1 Bryson has been a valuable contributor in SIG VMware and on Slack on matters related to Kubernetes running on vSphere

[2019-09-07 08:36] mucahitkurt opened #1166 "REQUEST: New membership for mucahitkurt"
### GitHub Username
@mucahitkurt

### Organization you are requesting membership in
@kubernetes
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-09-07 15:34] msau42 commented on #1166
+1 Mucahit has been doing great work for sig storage! He helped implement scalability tests and now he's helping with CSI topology

[2019-09-07 22:05] gnufied commented on #1166
+1

[2019-09-09 13:58] hannibalhuang opened #1167 "REQUEST: New membership for hannibalhuang"
### GitHub Username
@hannibalhuang

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-09-09 14:01] dims commented on #1167
welcome @hannibalhuang ! +1 from me.

[2019-09-09 14:02] hannibalhuang commented on #1167
in reference to https://github.com/kubernetes/community/issues/3945

[2019-09-09 14:06] mrbobbytables commented on #1167
+1 here too :)

[2019-09-09 17:24] sbueringer opened #1169 "REQUEST: New membership for sbueringer"
### GitHub Username
@sbueringer

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-09-09 19:12] jaypipes opened #1170 "REQUEST: New membership for jaypipes"
### GitHub Username
@jaypipes

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-09-09 19:19] castrojo commented on #1170
+1 from me!

[2019-09-09 19:33] dhellmann opened #1171 "REQUEST: New membership for dhellmann"
### GitHub Username
@dhellmann

### Organization you are requesting membership in
@kubernetes-sig

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-09-09 19:35] detiber commented on #1171
+1 from me

[2019-09-09 19:37] hogepodge commented on #1171
+1 /lgtm

Doug is an excellent technical contributor, and has already made significant contributions through the Metal3 project to enable open source bare-metal provisioning through Cluster API.

[2019-09-09 19:46] zacharysarah commented on #1170
+1 from me, @jaypipes contributes valuable reviews to docs.

[2019-09-09 21:09] nikhita commented on #1170
+1 from me too :)

On Tue 10 Sep, 2019, 1:16 AM Zach Corleissen <notifications@github.com
wrote:

[2019-09-09 21:43] k82cn commented on #1167
+1

[2019-09-10 00:59] mrbobbytables commented on #1170
its not needed, but +1 here too :P

/pony yay

[2019-09-10 01:04] mrbobbytables commented on #1164
@Pothulapati , thank you for all your contributions so far :)

I've created PR #1172   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-10 01:05] mrbobbytables commented on #1166
Hey there @mucahitkurt, thank you for all your help with sig-storage and csi :)

I've created PR #1172   to add you to both the Kubernetes and Kubernetes-csi irgs. Once that gets merged, you should get a membership invite notification from both of them

Welcome to @kubernetes! 🎉

/assign

[2019-09-10 01:05] mrbobbytables commented on #1167
@hannibalhuang , thank you for all your help organizing wg-policy! :D

I've created PR #1172  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-10 01:06] mrbobbytables commented on #1170
@jaypipes  thank you for all your contributions so far :D

I've created PR #1172  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-10 01:06] mrbobbytables commented on #1171
@dhellmann , thank you for all your contributions to the cluster-api 👍

I've created PR #1172  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-10 01:12] jichenjc commented on #1169
+1 to me , thanks

[2019-09-10 01:18] hannibalhuang commented on #1167
Thanks Bob :)

[2019-09-10 01:19] jaypipes commented on #1170
Thanks, y'all :)

[2019-09-10 01:48] #1164 closed

[2019-09-10 01:48] #1166 closed

[2019-09-10 01:48] #1167 closed

[2019-09-10 01:48] #1170 closed

[2019-09-10 01:48] #1171 closed

[2019-09-10 02:23] everpeace opened #1173 "REQUEST: New membership for everpeace"
### GitHub Username
@everpeace

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-09-10 02:33] draveness commented on #1173
+1 Thanks for your contribution

Regards,
Draven
On Sep 10, 2019, 10:23 AM +0800, Shingo Omura <notifications@github.com>, wrote:

[2019-09-10 03:01] hex108 commented on #1173
+1 Thanks for your contribution

[2019-09-10 03:02] k82cn commented on #1173
+1, thanks for your contribution :)

[2019-09-10 05:14] feiskyer commented on #1165
+1

[2019-09-10 08:16] hwdef opened #1175 "REQUEST: New membership for hwdef"
### GitHub Username
@hwdef

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-09-10 08:16] hwdef commented on #1175
/cc @xichengliudui
/cc @SataQiu

[2019-09-10 08:25] SataQiu commented on #1175
+1 from me
Thanks for your contribution to Kubernetes! @hwdef

[2019-09-10 08:36] everpeace commented on #1173
@k82cn Thanks for guiding me on how to handle the issue in my PR https://github.com/kubernetes/org/pull/1174#issuecomment-529796144.

I will be waiting for the response from [GitHub Administration Team](https://github.com/kubernetes/community/blob/master/github-management/README.md#github-administration-team) as described the [doc](https://github.com/kubernetes/community/blob/master/community-memb

[2019-09-10 08:48] chrigl commented on #1169
I'm not in the owners file of a k-repo. But I would like to see @sbueringer becoming a member.
@adisky Could you support him?

[2019-09-10 08:59] everpeace commented on #1173
I realized I'm not qualified yet. I will try to review PRs to qualify to become a reviewer.

https://github.com/kubernetes/community/blob/master/community-membership.md#reviewer

[2019-09-10 09:35] k82cn opened #1176 "Migrate descheduler to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing

migrate existing (https://github.com/kubernetes-incubator/descheduler/)

### Requested name for new repository

descheduler

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

@ravisantoshgudimetla , @aveshagarwal , @k82cn

### If not a staging repo, who should have write access

@ravis

[2019-09-10 09:36] k82cn commented on #1176
/cc @ravisantoshgudimetla , @aveshagarwal
/cc @ahg-g for repo migration

[2019-09-10 09:37] k82cn commented on #1173
That's great! Looking forward your contribution :)

[2019-09-10 09:41] xichengliudui commented on #1175
+1
good job!

[2019-09-10 09:41] adisky commented on #1169
+1 from me!! :)

[2019-09-10 11:34] mrbobbytables commented on #1176
/assign

[2019-09-10 11:44] aveshagarwal commented on #1176
Please make sure that during this migration, history remains intact (regarding commits, stars etc.) and https://github.com/kubernetes-incubator/descheduler redirects to the new repo location.

[2019-09-10 12:03] mrbobbytables commented on #1176
@aveshagarwal The full history will be left intact :)

A redirect is automatically put in place by GitHub (we don't have control over it).

If you want to take a look at a repo that has previously been moved, a recent example is the service-catalog:
- Request to move: https://github.com/kubernetes/org/issues/882
- kubernetes-sigs repo: https://github.com/kubernetes-sigs/service-catalog
- incubator

[2019-09-10 12:04] aveshagarwal commented on #1176
@mrbobbytables Just wanted to make sure. Thanks for your help.

[2019-09-10 13:24] detiber commented on #1169
+1 from me as well :)

[2019-09-10 15:29] thockin commented on #1154
Approve.

[2019-09-10 17:05] yuxiangqian opened #1177 "REQUEST: New kubernetes-csi membership for yuxiangqian"
### GitHub Username
e.g. (at)yuxiangqian

### Organization you are requesting membership in
e.g. (at)kubernetes-csi

### Requirements
- [ X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X ] I have subscribed to the kubernetes-dev e-mail list (htt

[2019-09-11 01:47] dtaniwaki opened #1178 "REQUEST: New membership for dtaniwaki"
### GitHub Username
dtaniwaki

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-09-11 01:56] liggitt commented on #1178
+1

[2019-09-11 03:54] janetkuo commented on #1178
+1

[2019-09-11 10:57] mrbobbytables commented on #1165
Hey there @brysonshepherd , thank you for all your contributions so far :)

I've created PR #1181   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-11 10:58] mrbobbytables commented on #1169
@sbueringer , thank you for all your help with the CAPI OpenStack provider :D

I've created PR #1181   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-11 11:00] mrbobbytables commented on #1173
@everpeace thanks for your contributions and help with sig-scheduling :)

I've created PR #1181   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-11 11:02] mrbobbytables commented on #1175
@hwdef, thank you for all your help fixing those tests! :)

I've created PR #1181  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-11 11:05] mrbobbytables commented on #1178
Hey there @dtaniwaki -- I hate to be a stickler, but do you happen to know a non-googler that might be able to sponsor you? Sponsors must be from different member organizations per the [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#member).

[2019-09-11 13:19] everpeace commented on #1173
@mrbobbytables Thank you very much!!

[2019-09-11 13:32] mrbobbytables commented on #1176
Added @ravisantoshgudimetla and @aveshagarwal to kubernetes-sigs in #1179
Added teams for descheduler in #1180

once those 2 merge, I can move the repo over :)

[2019-09-11 13:36] mrbobbytables commented on #1177
@yuxiangqian I've created PR #1181 that adds you to the kubernetes-csi org. Once it gets merged, you should get a membership invite notification 👍

/assign

[2019-09-11 15:25] sbueringer commented on #1169
@mrbobbytales Thx 😀

[2019-09-11 16:58] #1165 closed

[2019-09-11 16:58] #1169 closed

[2019-09-11 16:58] #1173 closed

[2019-09-11 16:58] #1175 closed

[2019-09-11 16:58] #1177 closed

[2019-09-11 21:47] resouer opened #1183 "REQUEST: New membership for resouer"
### GitHub Username
@resouer

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-09-11 21:52] Huang-Wei commented on #1183
+1

[2019-09-11 22:26] k82cn commented on #1183
+1

[2019-09-11 22:58] mrbobbytables commented on #1176
One slight hiccup -- it looks like the repo has some integrations with the openshift ci system that were setup early last year:
- https://github.com/openshift/release/blob/master/ci-operator/jobs/kubernetes-incubator/descheduler/kubernetes-incubator-descheduler-master-presubmits.yaml
- https://github.com/openshift/release/pull/683

@ingvagabund Do you know if this integration is still needed?

[2019-09-11 23:40] resouer commented on #1183
kindly ping @nikhita , PTAL

[2019-09-11 23:47] mrbobbytables commented on #1183
Just as an FYI -- as a member of the Kubernetes org, you implicitly have permission to join any of the other kubernetes organizations without seeking further sponsorship. 😄

 It's just the inverse -- e.g. if you're only a member of kubernetes-sigs and requesting to join kubernetes-csi you would need to find additional sponsors where its the case.

[2019-09-12 08:19] fredkan opened #1184 "REQUEST: New membership for fredkan"
## GitHub Username
@fredkan

## Organization you are requesting membership in
@kubernetes

## Requirements
* [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x]  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-09-12 13:49] sallyom opened #1186 "REQUEST: New membership for sallyom"
### GitHub Username
@sallyom

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-09-12 17:48] robscott opened #1187 "REQUEST: New membership for robscott"
### GitHub Username
@robscott

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-09-13 07:36] nikhita commented on #1186
+100 :)

[2019-09-13 07:43] nikhita commented on #1178
@dtaniwaki thank you for your contributions thus far :)

I've created PR #1188 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-13 07:44] nikhita commented on #1183
@resouer I've created PR #1188 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-13 07:45] nikhita commented on #1186
@sallyom thank you for your contributions thus far :)

I've created PR #1188 to add you to the kubernetes and kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome!! 🎉

/assign

[2019-09-13 07:45] nikhita commented on #1187
@robscott thank you for your contributions thus far :)

I've created PR #1188 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-13 08:25] soltysh commented on #1186
:+1:

[2019-09-13 09:02] #1178 closed

[2019-09-13 09:02] #1183 closed

[2019-09-13 09:02] #1186 closed

[2019-09-13 09:02] #1187 closed

[2019-09-13 14:48] dtaniwaki commented on #1178
@liggitt @janetkuo @soltysh
Thank you for giving me +1!

@mrbobbytables @nikhita
Thank you for adding me to the org!

See you guys in the contributor summit of KubeCon 2019 NA.

[2019-09-14 18:23] mrbobbytables commented on #1176
All outstanding items have been completed. I'm going to go ahead and close the issue.

If you have any problems, feel free to reopen or ping me on slack 👍

/close

[2019-09-14 18:23] #1176 closed

[2019-09-15 12:23] holgpar opened #1189 "REQUEST: New membership for holgpar"
### GitHub Username
holgpar

### Organization you are requesting membership in
sig Multi-tenancy

### Requirements
- [ x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-09-15 12:38] ysyukr opened #1190 "REQUEST: New membership for ysyukr"
### GitHub Username
@ysyukr

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-09-15 13:49] gochist commented on #1190
+1 @ysyukr is one of the most passionate members for Korean localization.

[2019-09-16 02:06] fredkan commented on #1184
Thank you very much for your clarification, Sponsors is updated. Thanks.

[2019-09-16 05:50] seokho-son commented on #1190
+1, I am happy to sponsor @ysyukr  :)

[2019-09-16 05:53] cheyang commented on #1184
+1

[2019-09-16 16:14] ianychoi commented on #1190
+1 agreed as another Korean localization reviewer

[2019-09-17 00:29] ysyukr commented on #1190
@gochist , @seokho-son , @ianychoi
Thanks to the members of the Korea l10n team for reviewing and helping with my translation. :)

[2019-09-17 05:10] palnabarun opened #1192 "REQUEST: New membership for palnabarun"
### GitHub Username
@palnabarun

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-09-17 09:51] nikhita commented on #1192
+1 :)

On Tue 17 Sep, 2019, 7:10 AM Nabarun Pal <notifications@github.com wrote:

[2019-09-17 11:16] mrbobbytables commented on #1192
+1 here :)

[2019-09-17 11:29] mrbobbytables commented on #1189
Hey there @holgpar, have you looked for sponsors? If you haven't discussed it with folks yet, it might be worth to close the issue and reopen it when you've found two that meet the [sponsorship requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

Also as an FYI -- you don't need to specify a  sig you're looking to join, but one of the [kubernete

[2019-09-17 11:36] mrbobbytables commented on #1184
@fredkan, thank you for all your contributions so far :)

I've created PR #1193  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-17 11:37] mrbobbytables commented on #1190
Hey there @ysyukr , thank you for all your localization efforts \o/

I've created PR #1193  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-17 11:38] mrbobbytables commented on #1192
@palnabarun , thank you for all your help with the contributor summit \o/

I've created PR #1193  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/pony yay
/assign

[2019-09-17 11:51] fredkan commented on #1184
Thank you very much! @mrbobbytables

[2019-09-17 12:07] DahuK opened #1194 "REQUEST: New membership for DahuK"
### GitHub Username
@DahuK

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-09-17 12:08] fredkan commented on #1194
+1

[2019-09-17 12:09] xianlubird commented on #1194
+1

[2019-09-17 12:19] haoshuwei commented on #1194
+1

[2019-09-17 12:28] #1184 closed

[2019-09-17 12:28] #1190 closed

[2019-09-17 12:28] #1192 closed

[2019-09-17 12:51] k82cn commented on #1194
+1, thanks for your contribution :)

[2019-09-17 13:23] palnabarun commented on #1192
Thank you @nikhita @mrbobbytables for the ack. :)

[2019-09-17 20:22] ahmad-diaa opened #1195 "REQUEST: New membership for Ahmad Diaa"
### GitHub Username
@ahmad-diaa

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-09-17 20:55] Huang-Wei commented on #1195
+1

@ahmad-diaa did a fantastic job on improving the performance of PodAffinity. Looking forward to seeing more contributions!

[2019-09-17 21:23] alculquicondor commented on #1195
+1

@ahmad-diaa is being a major contributor in the scheduler configuration cleanup. I fully support this request.

[2019-09-17 21:35] cblecker commented on #1085
https://github.com/maintainers/early-access-feedback/issues/281

[2019-09-18 03:14] haoshuwei opened #1196 "REQUEST: New membership for <haoshuwei>"
### GitHub Username
@haoshuwei

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-09-18 03:16] fredkan commented on #1196
+1

[2019-09-18 03:45] cheyang commented on #1196
+1

[2019-09-18 12:18] dims commented on #1196
+1 from me!

[2019-09-19 02:55] mrbobbytables commented on #1189
@holgpar I'm going to go ahead and close this issue for now. Please feel free to reopen when you're ready to apply 👍

/close

[2019-09-19 02:55] #1189 closed

[2019-09-19 07:06] Potapy4 opened #1199 "REQUEST: New membership for Potapy4"
### GitHub Username
@Potapy4

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-09-19 07:28] remyleone commented on #1199
👍

[2019-09-19 07:31] remyleone commented on #1199
@rekcah78 could you approve also?

[2019-09-19 07:50] rekcah78 commented on #1199
+1

[2019-09-19 17:42] mrbobbytables commented on #1194
Hey there @DahuK , thank you for all your contributions so far :)

I've created PR #1200  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-19 17:44] mrbobbytables commented on #1195
@ahmad-diaa thank you for your help with all the scheduler work :D

I've created PR #1200   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-19 17:45] mrbobbytables commented on #1196
@haoshuwei thanks for your help with the alibaba csi driver :)

I've created PR #1200  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-19 17:45] mrbobbytables commented on #1199
@Potapy4, thank you for kick starting the Russian localization efforts :)

I've created PR #1200  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-19 20:14] #1194 closed

[2019-09-19 20:14] #1195 closed

[2019-09-19 20:14] #1196 closed

[2019-09-19 20:14] #1199 closed

[2019-09-20 02:58] DahuK commented on #1194
@mrbobbytables @k82cn @xianlubird @fredkan Thanks so much!!

[2019-09-20 16:59] aaronbbrown opened #1201 "REQUEST: New membership for @aaronbbrown"
### GitHub Username

@aaronbbrown

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-09-20 17:00] dims commented on #1201
+1 from me. looking forward to seeing you more in the community!

[2019-09-20 17:05] guineveresaenger commented on #1201
+1 from me! Yay @aaronbbrown !

[2019-09-20 20:41] nicoaragon opened #1202 "REQUEST: New membership for nicoaragon"
### GitHub Username
nicoaragon

### Organization you are requesting membership in
Kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-09-21 00:09] fejta commented on #1202
+1

[2019-09-21 00:09] fejta commented on #1202
/assign @stevekuznetsov

[2019-09-21 19:28] celanthe opened #1204 "REQUEST: New membership for @celanthe"
### GitHub Username
@celanthe

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-09-22 20:57] mrbobbytables commented on #1204
+1 from me :)

[2019-09-23 07:11] yasongxu opened #1206 "why is it python repo?"
### Organization or repository
e.g. kubernetes/org

### Users affected
no affect, just confused

### Describe the issue

find this repo by language python ,but no python file, confused -_-

![image](https://user-images.githubusercontent.com/12278081/65407190-53e8f900-de14-11e9-8f24-40c522b1358e.png)

[2019-09-23 07:16] nikhita commented on #1206
Bazel files are also treated as "python": https://github.com/kubernetes/org/search?l=python :)

/close

[2019-09-23 07:16] #1206 closed

[2019-09-23 07:22] nikhita commented on #1204
+1 from me too! :tada:

[2019-09-23 07:34] dianaabv opened #1207 "REQUEST: New membership for @dianaabv"
### GitHub Username
e.g. @dianaabv

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-09-23 07:39] Potapy4 commented on #1207
+1
@dianaabv will be part of the RU localization team

[2019-09-23 08:28] remyleone commented on #1207
+1

Em seg, 23 de set de 2019 09:39, Nikita Potapenko <notifications@github.com>
escreveu:

[2019-09-23 08:52] nikhita commented on #1154
Repo has been migrated: https://github.com/kubernetes-sigs/ip-masq-agent :tada:

I have also created:

- https://github.com/kubernetes/org/pull/1208 - to add GitHub teams for granting access. Also added @bowei @dnardo and @MrHohn to the kubernetes-sigs org since they are already members of the kubernetes org. @varunmar and @grayluck: can you create a [membership request](https://github.com/kuberne

[2019-09-23 14:39] nikhita commented on #1154
Teams have been granted access.

[2019-09-23 16:40] stevekuznetsov commented on #1202
+1

[2019-09-23 19:11] aisonaku opened #1209 "REQUEST: New membership for @aisonaku"
### GitHub Username
@aisonaku

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-09-23 20:13] nikhita commented on #1154
All PRs have merged :)

/close

[2019-09-23 20:13] #1154 closed

[2019-09-23 20:37] nikhita commented on #1207
Hi @dianaabv! Unfortunately @Potapy4 can't sponsor since sponsors need to be reviewers or approvers in the @kubernetes org.

In case you want help with finding additional sponsors -- I'd suggest asking a SIG Docs lead for sponsorship since this involves initializing RU localization. :)

[2019-09-23 20:37] nikhita commented on #1209
Hi @aisonaku! Unfortunately @Potapy4 can't sponsor since sponsors need to be reviewers or approvers in the @kubernetes org.

In case you want help with finding additional sponsors -- I'd suggest asking a SIG Docs lead for sponsorship since this involves initializing RU localization. :)

[2019-09-23 20:40] nikhita commented on #1201
@aaronbbrown thank you for your contributions thus far :)

I've created PR #1210 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-23 20:40] nikhita commented on #1202
@nicoaragon thank you for your contributions to test-infra :)

I've created PR #1210 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-23 20:41] nikhita commented on #1204
@celanthe thank you for your contributions thus far :)

I've created PR #1210 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! So happy to have you here!! 🎉

/assign

[2019-09-23 20:45] #1201 closed

[2019-09-23 20:45] #1202 closed

[2019-09-23 20:45] #1204 closed

[2019-09-24 05:53] remyleone commented on #1209
:+1:

[2019-09-24 05:54] remyleone commented on #1209
@zacharysarah @rekcah78

[2019-09-24 05:54] remyleone commented on #1207
@rekcah78 @zacharysarah @rbenzair

[2019-09-25 01:23] ZP-AlwaysWin opened #1214 "REQUEST: New membership for @ZP-AlwaysWin"
### GitHub Username
@ZP-AlwaysWin

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x]  I have subscribed to the kubernetes-dev e-mail list (https://

[2019-09-25 01:47] oomichi commented on #1214
+1 from me

[2019-09-25 01:47] oomichi commented on #1214
/cc @oomichi

[2019-09-25 03:03] mars1024 opened #1215 "REQUEST: New membership for @mars1024"
### GitHub Username
@mars1024

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-09-25 03:46] guineveresaenger commented on #1214
+1

Welcome to the community! :)

[2019-09-25 04:09] dcbw commented on #1215
/lgtm +1 from me

[2019-09-25 04:37] yue9944882 commented on #1215
definitely +1. bruce has been actively working in our squad of maintaining upstream features in k/k for a period of time.

[2019-09-25 09:34] dims commented on #1214
+1 from me!

[2019-09-25 16:38] savitharaghunathan opened #1216 "REQUEST: New membership for @savitharaghunathan"
### GitHub Username
@savitharaghunathan

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-09-25 16:43] jimangel commented on #1216
+1 @savitharaghunathan is eager to help improve sig-docs and look forward to future contributions!

[2019-09-25 17:15] dims commented on #1216
+1 from me. welcome @savitharaghunathan

[2019-09-25 18:41] nikhita commented on #1214
@ZP-AlwaysWin thank you for your contributions thus far :)

I've created PR #1217 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get membership invite notifications.

Welcome!! 🎉

/assign

[2019-09-25 18:41] nikhita commented on #1215
@mars1024 thank you for your contributions thus far :)

I've created PR #1217 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get membership invite notifications.

Welcome!! 🎉

/assign

[2019-09-25 18:42] nikhita commented on #1216
@savitharaghunathan thank you for your contributions thus far :)

I've created PR #1217 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-25 18:52] #1214 closed

[2019-09-25 18:52] #1215 closed

[2019-09-25 18:52] #1216 closed

[2019-09-26 01:52] ZP-AlwaysWin commented on #1214
Thank you very much @oomichi @guineveresaenger @dims @nikhita
Best Wishes

[2019-09-26 15:41] yiqigao217 opened #1219 "REQUEST: New membership for @yiqigao217"
### GitHub Username
@yiqigao217

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-09-26 15:43] adrianludwin commented on #1219
NB - this request came up because I was unable to assign https://github.com/kubernetes-sigs/multi-tenancy/issues/76 to @yiqigao217 .

[2019-09-26 15:44] tashimi commented on #1219
![tenor-163143992](https://user-images.githubusercontent.com/719646/65703580-df8f9f00-e039-11e9-9d67-1575e6dbf794.gif)

/approve

[2019-09-26 15:45] lafh opened #1220 "REQUEST: New membership for @lafh"
### GitHub Username
@lafh

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-09-26 15:48] tashimi commented on #1220
![tenor-81883876](https://user-images.githubusercontent.com/719646/65703899-693f6c80-e03a-11e9-8b94-acbcc6c4aa30.gif)

+1!

[2019-09-26 18:10] rjbez17 commented on #1220
+1

[2019-09-26 18:10] rjbez17 commented on #1219
+1

[2019-09-26 19:56] yiqigao217 commented on #1219
Thank all!

[2019-09-27 03:30] tao12345666333 opened #1222 "REQUEST: New membership for tao12345666333"
### GitHub Username
@tao12345666333

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-09-27 03:32] nikhita commented on #1222
+1

[2019-09-27 03:32] saiyam1814 opened #1223 "REQUEST: New membership for saiyam1814"
### GitHub Username
@saiyam1814

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-09-27 03:33] nikhita commented on #1223
+1

[2019-09-27 03:34] tao12345666333 commented on #1222
Thanks @nikhita

[2019-09-27 03:52] nikhita commented on #1219
Reopening since you'll still need to be PR'd in to be part of the @kubernetes-sigs org

[2019-09-27 03:54] k82cn commented on #1222
+1

[2019-09-27 04:23] idealhack commented on #1223
+1

[2019-09-27 04:30] idealhack commented on #1222
+1 of course

[2019-09-27 05:35] Pensu opened #1224 "REQUEST: New membership for pensu"
### GitHub Username
@pensu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-09-27 05:36] idealhack commented on #1224
+1

[2019-09-27 05:57] nikhita commented on #1224
+1

[2019-09-27 06:05] tao12345666333 commented on #1222
Thank you  :heart:  @k82cn @idealhack

[2019-09-27 08:29] serathius opened #1225 "REQUEST: New membership for @serathius"
### GitHub Username
@serathius

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-09-27 08:37] brancz commented on #1225
Thanks for all the work you've done, and looking forward to everything that's still to come. :+1: from me

[2019-09-27 09:00] x13n commented on #1225
+1, LGTM!

[2019-09-27 11:29] nikhita commented on #1224
@Pensu thank you for your contributions, and especially for helping out sig contribex in APAC! :)

I've created PR #1226 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-27 11:29] nikhita commented on #1223
@Pensu thank you for your contributions, and especially for helping out sig contribex in APAC! :)

I've created PR #1226 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-27 11:31] nikhita commented on #1222
@tao12345666333 This should have been done wayyyy earlier. :)

I've created PR #1226 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-27 11:32] nikhita commented on #1220
@lafh thank you for your contributions with the multi-tenancy working group :)

I've created PR #1226 to add you to the kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-27 11:32] nikhita commented on #1219
@yiqigao217 thank you for your contributions with the multi-tenancy working group :)

I've created PR #1226 to add you to the kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-09-27 11:33] nikhita commented on #1225
@serathius thank you for your contributions thus far :)

I've created PR #1226 to add you to the kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-27 11:44] saiyam1814 commented on #1223
Thank you @nikhita 🎉

[2019-09-27 11:47] #1219 closed

[2019-09-27 11:47] #1220 closed

[2019-09-27 11:47] #1222 closed

[2019-09-27 11:47] #1223 closed

[2019-09-27 11:47] #1224 closed

[2019-09-27 11:47] #1225 closed

[2019-09-29 06:23] gouthampacha opened #1229 "REQUEST: New membership for gouthampacha"
### GitHub Username
@gouthampacha

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-09-29 09:18] lingxiankong commented on #1229
+1 from me, welcome!

[2019-09-29 12:20] adisky commented on #1229
+1 from me too :)

[2019-09-29 15:24] tombarron opened #1230 "REQUEST: New membership for tombarron"
### GitHub Username
@tombarron

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-09-29 21:10] lingxiankong commented on #1230
The Requirements section need to be re-format.

[2019-09-30 01:51] mrbobbytables commented on #1158
I've created the PR #1231 to add the additional members to k-sigs and migrate the teams. Once it merges, should be able to move the repo 👍

[2019-09-30 11:53] mrbobbytables commented on #1158
The Repo has been migrated and is now at: https://github.com/kubernetes-sigs/reference-docs

OWNERS update is here: https://github.com/kubernetes-sigs/reference-docs/pull/92

[2019-09-30 12:01] mrbobbytables commented on #1158
The repo relocation update to sigs.yaml is here: https://github.com/kubernetes/community/pull/4123

Once all PRs have merged, the migration should be complete and the issue can be closed 👍

[2019-09-30 18:54] castrojo opened #1233 "Repository for discuss.k8s.io theme/css"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
discuss-theme

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@mrbobbytables @castrojo

### If not a staging repo, who should have write access
@mrbobbytables @castrojo

### If not a staging repo, who should be listed as approvers in OWNE

[2019-09-30 19:01] cblecker commented on #1233
explicit approval from contribex tech lead :)

[2019-09-30 19:07] mrbobbytables commented on #1233
/assign

Should be able to do this tonight :)

[2019-09-30 20:40] mrbobbytables commented on #1158
All PRs merged, things should be good to go!

Ping me if you have any problems 👍

/close

[2019-09-30 20:40] #1158 closed

[2019-09-30 20:42] zacharysarah commented on #1158
Thanks, @mrbobbytables!
/pony

[2019-09-30 21:07] rekcah78 commented on #1207
+1

[2019-09-30 21:07] rekcah78 commented on #1209
+1

[2019-09-30 21:08] dianaabv commented on #1207
Thank you!

[2019-09-30 21:09] zacharysarah commented on #1207
+1

[2019-09-30 21:10] zacharysarah commented on #1209
+1

[2019-09-30 21:45] pjbgf opened #1234 "REQUEST: New membership for @pjbgf"
### GitHub Username
@pjbgf

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-09-30 22:00] rbenzair commented on #1207
+1

[2019-09-30 22:12] annajung opened #1235 "REQUEST: New membership for @annajung"
### GitHub Username
@annajung

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-09-30 22:32] guineveresaenger commented on #1235
+1 from me! Welcome, and see you on the team!

[2019-09-30 22:41] mrbobbytables commented on #1235
+1 from me too :)
/pony yay

[2019-09-30 23:00] mrbobbytables commented on #1207
Hey there @dianaabv, thank you for all you help with the Russian localization efforts \o/

I've created PR #1236  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-30 23:01] mrbobbytables commented on #1209
@aisonaku, thank you for helping kickstart the Russian localization efforts \o/

I've created PR #1236  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-30 23:01] mrbobbytables commented on #1229
@gouthampacha, thank you for all your contributions so far :)

I've created PR #1236  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-09-30 23:02] mrbobbytables commented on #1235
bah, not the best random pony.

Anyway, @annajung, thanks for helping with the 1.17 release team :)

I've created PR #1236  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-01 01:01] #1207 closed

[2019-10-01 01:01] #1209 closed

[2019-10-01 01:01] #1229 closed

[2019-10-01 01:01] #1235 closed

[2019-10-01 03:04] BobyMCbobs opened #1238 "REQUEST: New membership for BobyMCbobs"
### GitHub Username
BobyMCbobs

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-10-01 03:08] BobyMCbobs commented on #1238
I'm working on a lot of tests, it would be great to be able to initiate the testing of the tests by myself :smile:

[2019-10-01 03:15] hh commented on #1238
+1
/area conformance
/assign @timothysc
/assign @johnbelamaric
/assign @spiffxp

[2019-10-01 12:02] tombarron commented on #1230
@lingxiankong Thanks, hopefully I've formatted it correctly now :)

[2019-10-01 12:04] tombarron commented on #1230
Need to get a cup of coffee when I wake up ...

[2019-10-01 13:01] pjbgf commented on #1234
/assign @tallclair
/assign @jeefy

[2019-10-01 13:14] jeefy commented on #1234
+1!

[2019-10-01 14:05] alejandrox1 commented on #1238
Huge +1!
Thank you for all your work @BobyMCbobs

[2019-10-01 14:06] alejandrox1 commented on #1238
/assign @mrbobbytables
ptal :smile:

[2019-10-01 14:09] mrbobbytables commented on #1238
Does this mean we have to have a highlander moment?

_grizzled voice_ **There can be only one Bob**

![](https://media.giphy.com/media/9Jmb2idg10qJSygvTQ/giphy.gif)

[2019-10-01 16:20] timothysc commented on #1238
/lgtm
/approve

[2019-10-01 16:58] johnbelamaric commented on #1238
LGTM, +1

[2019-10-01 19:30] BobyMCbobs commented on #1238
My pleasure :D

[2019-10-01 19:35] BobyMCbobs commented on #1238
Let's squeeze onneee more in ;)

[2019-10-01 20:32] msheldyakov opened #1239 "REQUEST: New membership for msheldyakov"
### GitHub Username
@msheldyakov

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-10-01 20:32] tallclair commented on #1234
+1

[2019-10-01 20:48] remyleone commented on #1239
:+1:

[2019-10-01 23:15] chewong opened #1240 "REQUEST: New membership for chewong"
### GitHub Username
@chewong

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-10-01 23:49] chewong commented on #1240
Closing this issue for now while searching for a second sponsor.

[2019-10-02 00:21] mrbobbytables commented on #1234
Hey there @pjbgf , thank you for all your help with the dashboard \o/

I've created PR #1241  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-02 00:23] mrbobbytables commented on #1238
@BobyMCbobs - I guess we can make some room ;) The community could use more Bobs.

I've created PR #1241   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-10-02 00:27] BobyMCbobs commented on #1238
Thank you so much! :smiley:
I look forward to continuing collaborating with you all :smile:

[2019-10-02 00:33] ramineni commented on #1230
+1 , Thanks :)

[2019-10-02 01:05] mrbobbytables commented on #1230
Hey there @tombarron , thank you for all your contributions so far :)

I've created PR #1241  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-02 01:22] raelga opened #1243 "REQUEST: New membership for raelga"
### GitHub Username
@raelga

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-10-02 01:26] mrbobbytables commented on #1233
Repo has been created: https://github.com/kubernetes-sigs/discuss-theme
OWNERS have been updated: https://github.com/kubernetes-sigs/discuss-theme/blob/master/OWNERS
PR in flight to add repo groups: https://github.com/kubernetes/org/pull/1242
PR in flight to add OWNERS reference under community management subproject: https://github.com/kubernetes/community/pull/4134

[2019-10-02 05:25] #1230 closed

[2019-10-02 05:25] #1234 closed

[2019-10-02 05:25] #1238 closed

[2019-10-02 05:25] pjbgf commented on #1234
That's awesome! Thank you, @mrbobbytables!

[2019-10-02 05:25] nikhita commented on #1243
Since you are already a member of @kubernetes, you don't need sponsorship for k-sigs. Feel free to create a PR to add yourself. :smile:

[2019-10-02 11:27] mrbobbytables commented on #1233
All PRs have merged and groups added. Repo should be good to go!
/close

[2019-10-02 11:27] #1233 closed

[2019-10-02 11:49] mylesagray opened #1244 "REQUEST: New membership for @mylesagray"
### GitHub Username
@mylesagray

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-10-02 12:17] tombarron commented on #1230
Thanks!

[2019-10-02 17:02] ritazh opened #1245 "Migrate deislabs/secrets-store-csi-driver to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
migrate repository

### Requested name for new repository
secrets-store-csi-driver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@ritazh
@aramase
@anubhavmishra
@malnick

### If not a staging repo, who should have write access
@ritazh
@aramase
@anubhavmishra
@malnick

### If not a st

[2019-10-02 17:20] cantbewong commented on #1244
+1

[2019-10-02 18:30] blueelvis opened #1246 "REQUEST: New membership for blueelvis"
### GitHub Username
@blueelvis

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-10-02 18:34] mikedanese commented on #1245
@enj @tallclair

[2019-10-02 18:42] sharifelgamal commented on #1246
I'll sponsor @blueelvis

[2019-10-02 20:51] justaugustus opened #1247 "Migrate cloud-provider-azure from k to k-sigs"
### New Repo, Staging Repo, or migrate existing
https://github.com/kubernetes/cloud-provider-azure

### Requested name for new repository
cloud-provider

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
https://github.com/kubernetes/org/blob/41d2401bac1b9fedb43c1de18537eaa565102600/config/kubernetes/sig-azure/teams.yaml#L19-L24

### I

[2019-10-02 20:51] justaugustus commented on #1247
/assign @cblecker @mrbobbytables @nikhita

[2019-10-02 21:27] cblecker commented on #1247
Time frame that you'd like this done in?

[2019-10-02 21:48] justaugustus commented on #1247
@cblecker -- Soon-ish :tm:

I'm going to drop a note on the list and call for consensus period of 5 business days, but I wanted to get the issue rolling and see if there were things we needed in place before sending that.

It's currently low-ish usage and both GH and go shouldn't have an issue with the redirect (if that was a concern).

[2019-10-02 21:50] cblecker commented on #1247
Because it's currently all in-org, there really aren't extra steps other than:
- Move teams.yaml definitions from k -> k-sigs in a PR
- Move repo
- Hook permissions back up
- PR to update sigs.yaml
- Crack open a cold one

[2019-10-02 22:03] misterikkit opened #1249 "REQUEST: New membership for misterikkit"
### GitHub Username
@misterikkit

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-10-02 22:13] justaugustus commented on #1247
Awesome, I'll get the communications going on this! :beers:

[2019-10-02 23:45] BaluDontu opened #1251 "REQUEST: New membership for BaluDontu"
### GitHub Username
@BaluDontu

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-10-02 23:52] SandeepPissay opened #1252 "REQUEST: New membership for SandeepPissay"
### GitHub Username
@SandeepPissay

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-10-03 00:02] divyenpatel commented on #1252
approve

[2019-10-03 00:03] divyenpatel commented on #1251
/approve

[2019-10-03 01:09] dougm commented on #1251
/approve

[2019-10-03 01:32] bridgetkromhout opened #1253 "REQUEST: New membership for bridgetkromhout"
### GitHub Username
@bridgetkromhout

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-10-03 01:36] guineveresaenger commented on #1253
+1 from me!

[2019-10-03 01:36] cartyc commented on #1253
+1  yay!

[2019-10-03 02:21] justaugustus commented on #1253
+1!!

[2019-10-03 02:39] cblecker commented on #1233
/woof

[2019-10-03 03:34] mrbobbytables commented on #1251
@BaluDontu Just an FYI -- as a member of the kubernetes org, you do not need sponsors to join kubernetes-sigs.or other orgs under kubernetes :)

[2019-10-03 03:36] mrbobbytables commented on #1252
@SandeepPissay  -- as a note, since you're a member of the kubernetes org, you do not need sponsors to join kubernetes-sig or other orgs under kubernetes :)

[2019-10-03 03:46] mrbobbytables commented on #1244
Hey there @mylesagray, thank you for all your contributions so far :)

I've created PR #1254  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome aboard! 🎉

/assign

[2019-10-03 03:48] mrbobbytables commented on #1249
@misterikkit Just an FYI - as a member of the kubernetes org, you don't need to seek sponsors for sub orgs like kubernetes-sigs or kubernetes-csi :)

With that said, I've added you to the org and once #1254 merges you should get a membership invite notification 👍

/assign

[2019-10-03 03:48] mrbobbytables commented on #1251
@BaluDontu I've created PR #1254 that adds you to the kubernetes-sigs org. Once it merges you should get a membership invite notification :)

/assign

[2019-10-03 03:49] mrbobbytables commented on #1252
@SandeepPissay  I've created PR #1254 that adds you to the kubernetes-sigs org. Once it merges you should get a membership invite notification :)

/assign

[2019-10-03 03:50] mrbobbytables commented on #1253
@bridgetkromhout  thank you for joining the release team \o/

I've created PR #1254   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/pony party

[2019-10-03 03:50] BaluDontu commented on #1251
Thanks @mrbobbytables .

[2019-10-03 04:05] lachie83 commented on #1253
Massive +1. Yay!

[2019-10-03 04:44] #1244 closed

[2019-10-03 04:44] #1249 closed

[2019-10-03 04:44] #1251 closed

[2019-10-03 04:44] #1252 closed

[2019-10-03 04:44] #1253 closed

[2019-10-03 06:16] #1243 closed

[2019-10-03 06:18] raelga commented on #1243
Thank you @nikhita, done in #1250. 🎉

[2019-10-03 16:41] misterikkit commented on #1249
Thanks, Bob. What would have been the correct process, to write that PR
myself? If so, we probably need a readme somewhere.

On Wed, Oct 2, 2019, 9:44 PM Kubernetes Prow Robot <notifications@github.com>
wrote:

[2019-10-03 17:27] hasheddan opened #1255 "REQUEST: New membership for @hasheddan"
### GitHub Username
@hasheddan

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-10-03 17:30] alenkacz commented on #1255
💯 👍

[2019-10-03 17:33] guineveresaenger commented on #1255
+1 yayyyy! 🎈 🎉

[2019-10-03 17:36] epk opened #1256 "REQUEST: New membership for @epk"
### GitHub Username
@epk

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2019-10-03 17:37] alenkacz commented on #1256
💯 👍

[2019-10-03 17:47] justaugustus commented on #1255
+1!

[2019-10-03 17:49] aravindputrevu opened #1257 "REQUEST: New membership for aravindputrevu"
### GitHub Username
@aravindputrevu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-10-03 18:06] idealhack commented on #1257
+1

[2019-10-03 18:15] mrbobbytables commented on #1249
It's touched on in the [kubernetes ecosystem](https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem) part of the community membership guidelines. It doesn't explicitly state that you can PR it yourself, but states as a member of kubernetes you have implicit permission to join any other org. It could likely benefit from some further clarification.

[2019-10-03 18:30] nikhita commented on #1257
+1

Thanks for all your efforts with contribex and APAC :)

[2019-10-03 21:54] nzoueidi commented on #1257
Hey there @aravindputrevu, thank you for all your contributions so far :)

I've created PR #1258  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-03 21:54] nzoueidi commented on #1255
Hey there @hasheddan, thank you for all your contributions so far :)

I've created PR #1258  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-03 23:58] adrianludwin commented on #441
@timothysc I got here via a Google search on how to make `/milestone` work in kubernetes-sigs repos, but I don't understand the conclusion to this issue. Can you add a pointer to how we're supposed to make this work? Thanks!

[2019-10-04 00:05] danielSbastos opened #1260 "REQUEST: New membership for @danielSbastos"
### GitHub Username
@danielSbastos

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-10-04 00:06] tashimi commented on #1260
+1

![tenor-117176035](https://user-images.githubusercontent.com/719646/66172273-1f3d2480-e600-11e9-8cc7-bcf4c7a3039f.gif)

[2019-10-04 00:08] adrianludwin commented on #1260
👍 because I'm not as cool as Tasha

[2019-10-04 00:12] adrianludwin commented on #1260
![image](https://media.giphy.com/media/8Fxlp25ov2RCGwye9I/giphy.gif)

[2019-10-04 00:16] tashimi commented on #1260
![tenor-178235416](https://user-images.githubusercontent.com/719646/66172675-85767700-e601-11e9-978a-87ee4e711f21.gif)

[2019-10-04 00:37] #1257 closed

[2019-10-04 00:37] #1255 closed

[2019-10-04 00:38] justaugustus commented on #441
@adrianludwin -- what repo are you trying to configure a milestone maintainer for?
If it's in kubernetes-sigs, there's a code hint here: https://github.com/kubernetes/test-infra/blob/201c7788b244ab2fc3efae7249fb939223ef6e1e/config/prow/plugins.yaml#L264.

The teams referenced in that config can be viewed here (organized by SIG): https://github.com/kubernetes/org/tree/master/config/kubernetes-sigs

[2019-10-04 00:45] adrianludwin commented on #441
Thanks, that hint should be enough. We're looking at kubernetes-sigs/multi-tenancy.

[2019-10-04 00:46] entro-pi opened #1261 "REQUEST: New membership for entro-pi"
### GitHub Username
@entro-pi

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-10-04 00:53] tashimi commented on #1261
+1!

![tenor-26924363](https://user-images.githubusercontent.com/719646/66173741-ae4d3b00-e606-11e9-8fc1-a4392e54799d.gif)

[2019-10-04 00:54] mrbobbytables commented on #1261
+1
/pony party

[2019-10-04 01:12] justaugustus commented on #441
Awesome!

[2019-10-04 13:34] rekcah78 commented on #1239
+1

[2019-10-04 13:51] mrbobbytables commented on #1086
Gentle ping @DirectXMan12 are things working okay for you now?

[2019-10-04 18:26] rjbez17 commented on #1261
+1

[2019-10-04 18:27] rjbez17 commented on #1260
+1

[2019-10-04 20:11] nzoueidi commented on #1239
Hey there @msheldyakov, thank you for all your contributions so far :)

I've created PR #1264 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-04 20:12] nzoueidi commented on #1260
Hey there @danielSbastos, thank you for all your contributions so far :)

I've created PR #1264 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-04 20:13] nzoueidi commented on #1261
Hey there @entro-pi, thank you for all your contributions so far :)

I've created PR #1264 to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and to @kubernetes-sigs! 🎉

/assign

[2019-10-04 20:14] entro-pi commented on #1261
Hooray! Thank you so much! I look forward to contributing even more!

[2019-10-04 20:17] #1239 closed

[2019-10-04 20:17] #1260 closed

[2019-10-04 20:17] #1261 closed

[2019-10-04 20:43] kikisdeliveryservice opened #1265 "REQUEST: New membership for kikisdeliveryservice"
### GitHub Username
@kikisdeliveryservice

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2019-10-04 20:55] justaugustus commented on #1265
Yayyyyy! +1
/meow

[2019-10-04 21:16] josiahbjorgaard commented on #1265
+1 :)

[2019-10-04 21:16] guineveresaenger commented on #1256
+1 from me! Welcome! Happy to have you on board! 🎉

[2019-10-04 21:51] guineveresaenger commented on #1265
+1! Yayyyyyyy so excited!

[2019-10-05 20:17] nzoueidi commented on #1256
Hey there @epk, thank you for all your contributions so far :)

I've created PR #1267 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-05 20:18] nzoueidi commented on #1265
Hey there @kikisdeliveryservice, thank you for all your contributions so far :)

I've created PR #1267 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-05 20:25] nzoueidi commented on #1246
Hey @afbjorklund, do you have a moment to sponsor @blueelvis's org membership?

Thank you.

[2019-10-05 20:31] #1256 closed

[2019-10-05 20:31] #1265 closed

[2019-10-06 07:47] afbjorklund commented on #1246
I sponsor @blueelvis for kubernetes/minikube, we need someone to look after Windows for us

[2019-10-06 22:09] nzoueidi commented on #1246
Hey there @blueelvis, thank you for all your contributions so far :)

I've created PR #1268 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-06 22:23] #1246 closed

[2019-10-07 04:43] blueelvis commented on #1246
@nzoueidi - Thanks for the warm welcome!

[2019-10-07 10:08] gman0 opened #1269 "REQUEST: New membership for gman0"
### GitHub Username
@gman0

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-10-07 10:10] nikhita commented on #1269
+1 :)

[2019-10-07 10:41] lingxiankong commented on #1269
+1, welcome!

[2019-10-07 11:04] tombarron commented on #1269
+1

[2019-10-07 16:55] akshaymankar opened #1270 "REQUEST: New membership for @akshaymankar"
### GitHub Username
@akshaymankar

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2019-10-07 17:07] jonschoning commented on #1270
+1

[2019-10-07 17:16] guoshimin commented on #1270
+1

[2019-10-08 00:27] ramineni commented on #1269
Thanks. +1

[2019-10-08 02:36] chendave opened #1273 "REQUEST: New membership for chendave"
### GitHub Username
@chendave

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-10-08 02:37] chendave commented on #1273
@draveness @kevin-wangzefeng , PTAL :)

[2019-10-08 02:46] draveness commented on #1273
+1

[2019-10-08 05:19] gerred opened #1274 "REQUEST: New membership for @gerred"
### GitHub Username
@gerred

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-10-08 08:25] kevin-wangzefeng commented on #1273
+1 for @chendave

[2019-10-08 08:34] chendave commented on #1273
thanks to you guys! @draveness  @kevin-wangzefeng

[2019-10-08 09:44] alenkacz commented on #1274
whaat? This guy is still not in the org? We need to fix it! 💯 👍

[2019-10-08 16:28] jdumars commented on #1274
Very glad to +1 Gerred into the org.

[2019-10-08 18:21] fabianvf opened #1276 "REQUEST: New membership for fabianvf"
### GitHub Username
@fabianvf

### Organization you are requesting membership in
@kubernetes
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-10-08 18:22] chris-short commented on #1276
+1

My name is Chris Short and I approved this message.

[2019-10-08 18:40] shivi28 opened #1277 "REQUEST: New membership for shivi28"
### GitHub Username
@shivi28

### Organization you are requesting membership in
 @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-10-08 19:22] adrianludwin commented on #1277
Approved

[2019-10-08 19:33] roycaihw commented on #1276
+1

Welcome!

[2019-10-08 20:17] tashimi commented on #1277
+1!

![tenor-60865393](https://user-images.githubusercontent.com/719646/66429914-e91bee00-e9cd-11e9-914e-b82a1823fb18.gif)

[2019-10-08 22:13] nzoueidi commented on #1269
Hey there @gman0, thank you for all your contributions so far :)

I've created PR #1280 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-08 22:13] nzoueidi commented on #1270
Hey there @akshaymankar, thank you for all your contributions so far :)

I've created PR #1280 to add you to the Kubernetes-client Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-client! 🎉

/assign

[2019-10-08 22:14] nzoueidi commented on #1273
Hey there @chendave, thank you for all your contributions so far :)

I've created PR #1280 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-08 22:15] nzoueidi commented on #1274
Hey there @gerred, thank you for all your contributions so far :)

I've created PR #1280 to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and to @kubernetes-sigs! 🎉

/assign

[2019-10-08 22:16] nzoueidi commented on #1276
Hey there @fabianvf, thank you for all your contributions so far :)

I've created PR #1280 to add you to the Kubernetes and Kubernetes-client Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and to @kubernetes-client! 🎉

/assign

[2019-10-08 22:17] nzoueidi commented on #1277
Hey there @shivi28, thank you for all your contributions so far :)

I've created PR #1280 to add you to the  Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-08 23:38] justaugustus commented on #1276
Chris. :laughing:

[2019-10-08 23:53] #1269 closed

[2019-10-08 23:53] #1270 closed

[2019-10-08 23:53] #1273 closed

[2019-10-08 23:53] #1274 closed

[2019-10-08 23:53] #1276 closed

[2019-10-08 23:53] #1277 closed

[2019-10-09 07:06] shivi28 commented on #1277
thanks @nzoueidi @tashimi @adrianludwin  :)

[2019-10-09 19:53] rmenn opened #1282 "REQUEST: New membership for rmenn"
### GitHub Username
e.g. @rmenn

### Organization you are requesting membership in
e.g. @kubernetes-incubator

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-10-09 19:57] nikhita commented on #1282
@rmenn Hi! We are currently in the process of deprecating the @kubernetes-incubator and don't intend to add new members to the org: https://github.com/kubernetes/community/issues/1922#issuecomment-516974448.

Could you or any of the bootkube OWNERS  create an issue like https://github.com/kubernetes/org/issues/1094 to migrate this repo to @kubernetes-sigs? After the migration is done, feel free to

[2019-10-09 19:59] rmenn commented on #1282
@aaronlevy since you are an owner for bootkube

[2019-10-09 20:59] prameshj opened #1283 "Need repo permissions on k/dns"
### Organization or repository

kubernetes/dns

### Users affected

prameshj

### Describe the issue

I am in the [OWNERS](https://github.com/kubernetes/dns/blob/master/OWNERS) file but I need owner permission on the repository itself in order to conduct releases.

[2019-10-09 21:43] cblecker commented on #1283
@prameshj You can PR yourself into the maintainers team to get access: https://github.com/kubernetes/org/blob/a3dcfe125492b2e85c8fc6afc6d3c6954d56893d/config/kubernetes/org.yaml#L1276-L1282

[2019-10-09 21:43] #1283 closed

[2019-10-10 02:25] m3ngyang opened #1285 "REQUEST: New membership for m3ngyang"
### GitHub Username
@m3ngyang

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-10-10 02:51] jpbetz commented on #1285
/lgtm

[2019-10-10 07:25] njuettner opened #1286 "Migrate external-dns to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
migrate existing (https://github.com/kubernetes-incubator/external-dns)

### Requested name for new repository
external-dns

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@Raffo @hjacobs @linki @njuettner

### If not a staging repo, who should have write access
@Raffo @hjacobs @linki

[2019-10-10 09:14] bg-chun opened #1287 "REQUEST: New membership for bg-chun"
### GitHub Username
@bg-chun

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-10-10 17:17] bg-chun commented on #1287
/cc @derekwaynecarr

[2019-10-10 19:17] vjdhama opened #1289 "REQUEST: New membership for @vjdhama"
### GitHub Username
@vjdhama

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-10-10 19:22] adrianludwin commented on #1289
+1

[2019-10-10 19:31] tashimi commented on #1289
+1

![tenor-248348967](https://user-images.githubusercontent.com/719646/66600199-dd5d3280-eb59-11e9-9caf-a476c2c410d1.gif)

[2019-10-11 02:43] ConnorDoyle commented on #1287
+1, welcome aboard

[2019-10-11 12:42] mrbobbytables commented on #1287
+1 from me too :) Thanks for all your efforts on the huge pages KEP \o/

[2019-10-11 17:28] rikatz opened #1291 "REQUEST: New membership for rikatz"
### GitHub Username
e.g. @rikatz

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-10-11 17:30] aledbf commented on #1291
+1

[2019-10-11 17:32] yagonobre commented on #1291
+1 from me
Also, Katz is doing a great job on São Paulo Kubernetes community

[2019-10-11 18:46] bowei opened #1292 "New repo kubernetes-sigs/service-apis"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
load-balancing-api
EDIT (mrbobbytables): repo name is service-apis

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
bowei, thockin

### If not a staging repo, who should have write access
bowei, thockin

### If not a staging repo, wh

[2019-10-11 18:48] bowei commented on #1292
From e-mail to the sig-network mailing list:

As part of the V2 (aka that thing that will replace Ingress) API work, it seems like the best home for artifacts (such as a description of the spec) and common code for the project will be in a new Github repository on github.com/kubernetes-sigs, rather than putting it into the core repo (kubernetes/kubernetes).

Putting the project outside of the core

[2019-10-11 21:08] nzoueidi commented on #1291
Hey there @rikatz, thank you for all your contributions so far :)

I've created PR #1294 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-11 21:08] nzoueidi commented on #1289
Hey there @vjdhama, thank you for all your contributions so far :)

I've created PR #1294 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-11 21:09] nzoueidi commented on #1287
Hey there @bg-chun, thank you for all your contributions so far :)

I've created PR #1294 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-11 21:09] nzoueidi commented on #1285
Hey there @m3ngyang, thank you for all your contributions so far :)

I've created PR #1294 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-11 21:36] AevaOnline opened #1295 "REQUEST: New membership for AevaOnline"
### GitHub Username
@AevaOnline

### Organization you are requesting membership in
@Kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-10-11 21:56] #1289 closed

[2019-10-11 21:56] #1291 closed

[2019-10-11 21:56] #1285 closed

[2019-10-11 21:56] #1287 closed

[2019-10-11 22:17] rikatz commented on #1291
Thank you all!!! Really happy to be part of the org and keep contributing :)

[2019-10-11 23:02] carolynvs commented on #1295
+1

[2019-10-11 23:13] JayBeale commented on #1295
+1

On Fri, Oct 11, 2019 at 4:02 PM Carolyn Van Slyck <notifications@github.com>
wrote:

[2019-10-12 00:03] kylix3511 opened #1296 "REQUEST: New membership for @kylix3511"
### GitHub Username
@kylix3511

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2019-10-12 00:06] dankohn commented on #1296
+1

[2019-10-12 00:29] cartyc commented on #1296
+1  Yay!

[2019-10-12 02:55] andyzhangx commented on #1240
+1

[2019-10-12 03:46] guineveresaenger commented on #1296
+1! Welcome! ❤️

[2019-10-12 13:15] luxas commented on #1296
I also support this 👍!
+1

[2019-10-12 16:48] camilamacedo86 opened #1297 "REQUEST: New membership for camilamacedo86"
### GitHub Username
camilamacedo86 - https://github.com/camilamacedo86

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev

[2019-10-12 20:26] nzoueidi commented on #1295
Hey there @AevaOnline, thank you for all your contributions so far :)

I've created PR #1298 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-12 20:26] nzoueidi commented on #1296
Hey there @kylix3511, thank you for all your contributions so far :)

I've created PR #1298 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-12 20:42] #1295 closed

[2019-10-12 20:42] #1296 closed

[2019-10-14 09:27] hwdef opened #1299 "REQUEST: New membership for hwdef"
### GitHub Username
@hwdef

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-10-14 16:10] nikhita commented on #839
Closing this due to lack of activity. Please reopen when the repo creation is approved and we'll create the repo. :)

/close

[2019-10-14 16:10] #839 closed

[2019-10-14 16:15] nikhita commented on #1292
For reference: https://groups.google.com/forum/#!topic/kubernetes-sig-network/Ev2FX74bACA

[2019-10-14 18:52] grayluck opened #1300 "REQUEST: New membership for grayluck"
### GitHub Username
@grayluck

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2019-10-14 18:58] foxish commented on #1300
+1 from my end!

[2019-10-14 18:59] grayluck commented on #1300
Thank you, Anirudh!

[2019-10-14 19:00] fedebongio opened #1301 "REQUEST: New membership for <fedebongio>"
### GitHub Username
@fedebongio

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-10-14 19:00] fedebongio commented on #1301
@lavalamp @mrbobbytables

[2019-10-14 19:01] mrbobbytables commented on #1301
+1 from sponsor
Thanks!

/pony happy

[2019-10-14 20:12] freehan commented on #1300
+1! Thank you for your contributions!

[2019-10-14 20:18] grayluck commented on #1300
Thank you, Minhan!

[2019-10-14 20:31] lavalamp commented on #1301
+1!

On Mon, Oct 14, 2019 at 12:01 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2019-10-14 22:06] ksubrmnn opened #1302 "REQUEST: New membership for ksubrmnn"
### GitHub Username
@ksubrmnn

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-10-14 22:08] mrbobbytables commented on #1302
@ksubrmnn Just a heads up, as a member of the kubernetes org you don't need to seek sponsorship to be added to any of the 'child' orgs (kubernetes-sigs, kubernetes-csi etc). You're implicitly granted permission to join them 😄

 If you'd like, please feel free to PR yourself into the kubernetes-sigs org. If not, it'll get batched into the next org update. 👍

[2019-10-14 22:13] mengqiy commented on #1297
+1 from @mengqiy

[2019-10-14 22:21] #1302 closed

[2019-10-14 23:06] aaronlevy opened #1305 "Migrate bootkube to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
migrate existing

### Requested name for new repository

https://github.com/kubernetes-sigs/bootkube

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@aaronlevy

### If not a staging repo, who should have write access
@aaronlevy

### If not a staging repo, who should be listed as approv

[2019-10-14 23:09] aaronlevy commented on #1282
https://github.com/kubernetes/org/issues/1305

[2019-10-14 23:38] marun commented on #1297
+1 from @marun

[2019-10-14 23:50] mrbobbytables commented on #1292
/assign
I may not be able to get to it till after Enhancements freeze, but I should be able to take care of it by EoD Wednesday.

[2019-10-15 00:28] fedebongio commented on #1301
Thank you both! 👍

[2019-10-15 00:45] cblecker commented on #945
/remove-lifecycle stale

[2019-10-15 03:25] kendallnelson opened #1307 "REQUEST: New membership for @kendallnelson"
### GitHub Username
@kendallnelson

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gr

[2019-10-15 04:38] nikhita commented on #1305
@aaronlevy Thanks for creating an issue to get this moving!

Regarding approval, we'll still need at least one lgtm from a SIG lead since this involves moving repos (albeit, in the kubernetes orgs).

/assign @timothysc @justinsb
for approval

[2019-10-15 04:38] nikhita commented on #1305
xref https://github.com/kubernetes/community/issues/1922

[2019-10-15 04:40] nikhita commented on #1292
@bowei Just wanted to double check... is the name of the repo still under discussion?

[2019-10-15 04:41] nikhita commented on #1247
@justaugustus :wave: just wanted to check if there have been any updates here :)

[2019-10-15 07:02] bowei commented on #1292
Let's give it until the Thursday sig-network meeting...

[2019-10-15 10:28] yuxiaobo96 opened #1309 "REQUEST: New membership for yuxiaobo96"
### GitHub Username
@yuxiaobo96

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-10-15 10:40] markthink commented on #1309
+1

[2019-10-15 10:41] hwdef commented on #1309
+1
Thanks for your contribution!

[2019-10-15 12:12] nzoueidi commented on #1240
Hey @chewong, did you find any other eligible sponsor for your org membership?

[2019-10-15 15:59] chewong commented on #1240
@nzoueidi not yet. I will re-open this issue once I found one.

[2019-10-15 17:16] rikatz commented on #1292
Can we use this issue to suggest better naming (if there's one)? Is there any naming convention We need to follow here?

[2019-10-15 21:51] nzoueidi commented on #1297
Hey there @camilamacedo86, thank you for all your contributions so far :)

I've created PR #1311 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-15 21:52] nzoueidi commented on #1300
Hey there @grayluck, thank you for all your contributions so far :)

I've created PR #1311 to add you to the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-15 21:52] nzoueidi commented on #1301
Hey there @fedebongio, thank you for all your contributions so far :)

I've created PR #1311 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-15 21:52] nzoueidi commented on #1309
Hey there @yuxiaobo96, thank you for all your contributions so far :)

I've created PR #1311 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-15 23:20] pgburt opened #1312 "REQUEST: New membership for @pgburt"
### GitHub Username
e.g. @pgburt

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-10-15 23:39] justaugustus commented on #1312
+1! Paul is a thoughtful and thorough Kubernetes evangelist and I'm happy to welcome him to the org!
/honk

[2019-10-15 23:44] justaugustus commented on #1240
+1. Ernest has been helping out in a bunch in various Azure subprojects :)
/reopen

[2019-10-15 23:48] chewong commented on #1240
Thanks @andyzhangx @justaugustus! @nzoueidi could you review this issue again?

[2019-10-16 01:09] ritazh commented on #1240
+1

[2019-10-16 05:58] #1297 closed

[2019-10-16 05:58] #1300 closed

[2019-10-16 05:58] #1301 closed

[2019-10-16 05:58] #1309 closed

[2019-10-16 06:04] #1299 closed

[2019-10-16 07:37] rmenn commented on #1282
closing this out now

[2019-10-16 07:37] #1282 closed

[2019-10-16 12:29] truongnh1992 opened #1315 "REQUEST: New membership for truongnh1992"
### GitHub Username
@truongnh1992

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-10-16 15:38] timothysc commented on #1305
@aaronlevy - How active is the project now-a-days?  I was looking through the commit logs and if the most prevalent users are openshift, is there any other major consumers?

[2019-10-16 15:52] notpad opened #1316 "REQUEST: New membership for notpad"
### GitHub Username

@notpad

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-10-16 17:46] rajugupta15 commented on #1305
Yes, In Razorpay, We are using bootkube.

[2019-10-16 18:17] aaronlevy commented on #1305
Also the Talos Systems folks have been maintaining a fork, but would like to contribute back to the upstream project. That's part of the reason for this move (can't add new people to incubator projects).

[2019-10-17 04:33] ngtuna commented on #1315
+1. @truongnh1992 will be leading team to translate k8s docs to vietnamese. Membership is required to do that. https://github.com/kubernetes/org/pull/1314

[2019-10-17 06:07] remyleone commented on #1315
:+1: I've contacted the Vietnamese CNCF meetup group to get it started. I sponsor the membership of @truongnh1992

[2019-10-17 06:15] truongnh1992 commented on #1315
We also running a community called [VietKubers](https://github.com/vietkubers)
Our meetup: https://www.meetup.com/Vietkubers-Vietnam-Kubernetes-Community/

[2019-10-17 06:23] truongnh1992 commented on #1315
/assign nzoueidi

[2019-10-17 07:01] remyleone commented on #1315
:+1:

Em qui, 17 de out de 2019 08:45, Zach Corleissen <notifications@github.com>
escreveu:

[2019-10-17 19:17] jimangel commented on #1315
+1! Welcome!

[2019-10-17 20:33] anthonydahanne opened #1320 "REQUEST: New membership for anthonydahanne"
### GitHub Username
@anthonydahanne

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-10-17 20:57] remyleone commented on #1320
:+1:

[2019-10-17 20:58] rbenzair commented on #1320
+1

[2019-10-17 22:43] nzoueidi commented on #1320
Hey there @anthonydahanne, thank you for all your contributions so far :)

I've created PR #1321 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-17 22:43] nzoueidi commented on #1315
Hey there @truongnh1992, thank you for all your contributions so far :)

I've created PR #1321 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-10-17 22:44] nzoueidi commented on #1240
Hey there @chewong, thank you for all your contributions so far :)

I've created PR #1321 to add you to the Kubernetes and Kuberentes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-17 23:56] anthonydahanne commented on #1320
hey there ! thanks a lot @nzoueidi !

[2019-10-18 01:07] ggriffiths opened #1322 "REQUEST: New membership for ggriffiths"
### GitHub Username
e.g. @ggriffiths

### Organization you are requesting membership in
e.g. @kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2019-10-18 01:12] xing-yang commented on #1322
+1 for @ggriffiths !

[2019-10-18 01:14] msau42 commented on #1322
+1 @ggriffiths has been doing lots of work on snapshots

[2019-10-18 04:35] #1315 closed

[2019-10-18 04:35] #1320 closed

[2019-10-18 04:35] #1240 closed

[2019-10-18 17:18] timothysc commented on #1305
part of any project that would be submitted would be to evaluate the owners files and aliases to determine the health of the proposed sub-project.   Could you please update  https://github.com/kubernetes-incubator/bootkube/blob/master/OWNERS to reflect who the new owners are?  If projects are not actively maintained then move them out of community resources.  Also SIG chairs will need rights in or

[2019-10-18 23:06] ttousai opened #1324 "REQUEST: New membership for @ttousai"
### GitHub Username
e.g. (at)ttousai

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2019-10-19 03:17] markyjackson-taulia commented on #1324
+1 from me

[2019-10-19 03:18] justaugustus commented on #1324
+1 from me too! @ttousai has been active across several release cycles. :)

[2019-10-19 16:31] josiahbjorgaard commented on #1324
+1!

[2019-10-20 05:43] xiaoanyunfei opened #1325 "REQUEST: New membership for xiaoanyunfei"
### GitHub Username
@xiaoanyunfei

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-10-20 06:01] draveness commented on #1325
+1  Thanks for the contribution

[2019-10-20 14:40] mattjmcnaughton commented on #1325
+1 thanks for your work :)

[2019-10-21 02:15] tanjunchen opened #1326 "REQUEST: New membership for tanjunchen"
### GitHub Username
@tanjunchen

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-10-21 03:33] hwdef commented on #1326
+1
Thanks for your contribution!

[2019-10-21 04:28] xichengliudui commented on #1326
+1
from the Chinese approver

[2019-10-21 06:21] daminisatya commented on #1312
+1 Paul is part of 1.17 docs release team! Thank you for your help and I'm super happy to have you on team :-)

[2019-10-21 11:59] chenrui333 commented on #1326
+1 Thanks for your contributions!!

[2019-10-21 12:00] adisky commented on #1307
+1 from me!

[2019-10-21 12:32] dims commented on #1307
+1 from me. thanks for taking over for @hogepodge

[2019-10-21 15:00] hogepodge commented on #1307
+1

[2019-10-21 15:02] alexgervais opened #1328 "New repo kubernetes-sigs/ingress-controller-conformance"
### New Repo, Staging Repo, or migrate existing
migrate existing (https://github.com/datawire/ingress-conformance)

### Requested name for new repository
ingress-controller-conformance

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
bowei, thockin

### If not a staging repo, who should have write access
bowei, thockin, rhs, alexgerv

[2019-10-21 15:32] mrbobbytables commented on #1328
@alexgervais  just for clarification, are you looking for a bare repository? or to migrate [datawire/ingress-performance](https://github.com/datawire/ingress-conformance) to kubernetes-sigs?

If it's a migration or if the code is copied -- there are a few more steps involved to donate it to the Kubernetes project. For the specifics on that, please see the docs for it here:
https://git.k8s.io/commu

[2019-10-21 15:52] alexgervais commented on #1328
@mrbobbytables We definitely want to contribute the code from datawire/ingress-performance. My thought was to create a bare repository and open a PR with the existing code, thus enforcing copywrite, licenses and other boilerplate.
All contributors to datawire/ingress-performance already signed the CNCF CLA.

I'm open to suggestions to make the copy/move as easy and transparent as possible.

[2019-10-21 16:11] mrbobbytables commented on #1328
I think that should be fine -- I don't see any dependencies that are outside the norm either. @nikhita what do you think?

[2019-10-21 16:29] nikhita commented on #1328
I'd suggest migrating/transfering the repo to the kubernetes-sigs org instead of going with a bare repo because it means different things with regards to copyright (IANAL though...). The `When I donate my project, am I transferring my copyrights?` part here has more details: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#faq.

Like @mrbobbytables m

[2019-10-21 16:30] nikhita commented on #714
/remove-lifecycle stale

[2019-10-21 18:03] saad-ali commented on #1245
CC @msau42 for CSI review

[2019-10-22 12:28] mrbobbytables commented on #1307
@kendallnelson Thanks for stepping in to help with OpenStack here in the Kubernetes project :)

I've created PR #1329  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them

Welcome to @kubernetes! 🎉

/assign

[2019-10-22 12:28] mrbobbytables commented on #1312
Hey there @pgburt , thank you for helping with the 1.17 release!

I've created PR #1329  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-22 12:29] mrbobbytables commented on #1322
Hey there @ggriffiths , thank you for all your contributions so far :)

I've created PR #1329  to add you to the Kubernetes-csi Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2019-10-22 12:30] mrbobbytables commented on #1324
@ttousai, thank you for helping with the release team!

I've created PR #1329  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-22 12:30] mrbobbytables commented on #1325
@xiaoanyunfei, thank you for all your contributions so far :)

I've created PR #1329  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-22 12:31] mrbobbytables commented on #1326
@tanjunchen  thank you for helping with the chinese localization efforts!

I've created PR #1329  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-22 13:35] chenrui333 commented on #1326
Thanks @mrbobbytables!!

[2019-10-22 15:01] #1307 closed

[2019-10-22 15:01] #1312 closed

[2019-10-22 15:01] #1322 closed

[2019-10-22 15:01] #1324 closed

[2019-10-22 15:01] #1325 closed

[2019-10-22 15:01] #1326 closed

[2019-10-22 15:23] hprateek43 opened #1330 "REQUEST: New membership for hprateek43"
### GitHub Username
@hprateek43
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-10-22 15:27] draveness commented on #1330
+1.  Thanks for the contribution

[2019-10-22 15:29] alculquicondor commented on #1330
+1
Thanks for your contributions so far and I'm looking forward for more contributions :)

[2019-10-22 15:51] lukehinds opened #1331 "REQUEST: New membership for lukehinds"
### GitHub Username
@lukehinds

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-10-22 15:57] akshaymankar commented on #651
/reopen

[2019-10-22 15:59] liggitt commented on #1331
+1

[2019-10-22 16:03] guoshimin commented on #651
/reopen

[2019-10-22 16:06] guoshimin commented on #651
It's not enabled for the Haskell repo, as you can see here: https://travis-ci.org/kubernetes-client/haskell

That page is 404 for me.

[2019-10-22 16:09] hprateek43 commented on #1330
@draveness Thanks!

[2019-10-22 16:10] mrbobbytables commented on #651
My knowledge of travis isn't the best, but I believe one of the [admins for the repo](
https://github.com/kubernetes/org/blob/ce67156be20ed7a551b01e67f41d9ad7e8f5e5c3/config/kubernetes-client/org.yaml#L90-L95) needs to [activate](https://docs.travis-ci.com/user/tutorial/#to-get-started-with-travis-ci) it.

[2019-10-22 16:12] akshaymankar commented on #651
I reached out to @brendandburns and @mbohlool to get travis activated on the repo.
My email couldn't reach @mbohlool.
@brendandburns said that even he doesn't have rights to activate travis.

[2019-10-22 16:32] hprateek43 commented on #1330
@alculquicondor Thanks. Will try to keep up the pace!

[2019-10-22 19:20] philips commented on #1331
+1
/lgtm

[2019-10-22 20:39] mrbobbytables commented on #651
/assign @brendandburns @mbohlool
As admins on the repo, could one of you ack in thread regarding enabling travis?

@akshaymankar -- Long term I would definitely push to migrate to prow. We have a significant amount of tooling built around it.

[2019-10-22 21:37] guoshimin commented on #651
What does setting up CI on prow look like? I read https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md when @spiffxp suggested it, and I gotta say, I still don't have a clue.

[2019-10-23 09:19] nikhita commented on #651
Prow has three types of jobs - presubmits (run on a PR), postsubmits (run after a merge) and periodics (run at particular intervals).

I'm guessing you'd want to setup presubmits for your repo...taking client-go as an example, you'd create a file like this for your repo: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/client-go/client-go-presubmits.yaml

`pull-client-go

[2019-10-23 16:03] miteshskj opened #1332 "REQUEST: New membership for @miteshskj"
### GitHub Username
@miteshskj

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2019-10-23 16:13] daminisatya commented on #1332
@miteshskj +1000

So good to see your contributions and your expertise will definitely help improve K8s docs!! Thank you so much!!

/party

[2019-10-23 18:03] zparnold commented on #1332
+1 @miteshskj has done great work!

[2019-10-23 18:56] zacharysarah commented on #1332
+1 Thanks for your contributions!

[2019-10-23 21:53] aaronlevy commented on #1305
Opened https://github.com/kubernetes-incubator/bootkube/pull/1051 and https://github.com/kubernetes-incubator/bootkube/pull/1052 to address this.

Bit of a chicken-egg problem on https://github.com/kubernetes-incubator/bootkube/pull/1051 - @rmenn isn't part of the org, but people aren't being added to incubator org anymore...

I could start by just adding @andrewrynhard for the sake of the project

[2019-10-24 04:23] nikhita commented on #1316
@notpad according to membership requirements, you'll need 2 sponsors for your application. We can add you to the org once the sponsors +1 on this issue. :)

[2019-10-24 04:30] nikhita commented on #1330
@hprateek43 thank you for your contributions with SIG Scheduling! :)

I've created PR #1334 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-24 04:31] nikhita commented on #1331
@lukehinds thank you for your contributions thus far :)

I've created PR #1334 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-24 04:31] nikhita commented on #1332
@miteshskj thank you for your contributions with kubernetes docs! :)

I've created PR #1334 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-24 04:35] #1330 closed

[2019-10-24 04:35] #1331 closed

[2019-10-24 04:35] #1332 closed

[2019-10-24 04:36] notpad commented on #1316
Thanks, close this for now. I'll reopen it once my sponsors agrees with this.

[2019-10-24 12:28] alexgervais commented on #1328
The LICENSE and code-of-conduct.md files were added to the source repository.
The standard Kubernetes header to code can occur post-transfer.
@nikhita , @mrbobbytables please advise if you see any gaps!

[2019-10-24 18:04] devigned opened #1335 "REQUEST: New membership for devigned"
### GitHub Username
@devigned

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2019-10-24 19:44] justaugustus commented on #1335
+1! Excited to have David working on capz with us :)
/honk

[2019-10-24 20:08] CecileRobertMichon commented on #1335
+1 !!

[2019-10-24 22:07] misterikkit opened #1337 "REQUEST: New membership for misterikkit"
### GitHub Username
@misterikkit

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
I am already a member in @kubernetes and @kubernetes-csi.
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed t

[2019-10-24 22:09] mrbobbytables commented on #1292
Just checking back in...did you wind up deciding on a name?

[2019-10-24 22:45] bowei commented on #1292
Sorry about the delay, we are still discussing, will try to get this resolved by next week.

[2019-10-24 22:47] mrbobbytables commented on #1292
No worries! Just figured I'd check :)

[2019-10-25 01:15] cblecker commented on #1337
As you are already a @kubernetes org member, feel free to PR yourself into the org :)

[2019-10-25 08:56] wfernandes opened #1339 "REQUEST: New membership for @wfernandes"
### GitHub Username
@wfernandes

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-10-25 09:12] bells17 opened #1340 "REQUEST: New membership for bells17"
### GitHub Username
@bells17

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-10-25 09:17] nasa9084 commented on #1340
+1
Thank you for your contribution~

[2019-10-25 09:46] nikhita commented on #1340
+1

from our interactions on slack :)

[2019-10-25 09:46] inductor commented on #1340
+1
Welcome to the party :D

[2019-10-25 10:27] detiber commented on #1339
+1

[2019-10-25 12:11] juan-lee commented on #1339
+1

[2019-10-25 12:59] nikhita commented on #1340
@bells17 thank you for your contributions with japanese localization! :)

I've created PR #1341 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-25 13:00] nikhita commented on #1339
@wfernandes thank you for your contributions with Cluster API! :)

I've created PR #1341 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-25 13:00] nikhita commented on #1335
@devigned thank you for your contributions with capz! :)

I've created PR #1341 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-25 13:00] nikhita commented on #1337
@misterikkit I've created PR #1341 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-25 13:09] #1335 closed

[2019-10-25 13:09] #1337 closed

[2019-10-25 13:09] #1339 closed

[2019-10-25 13:09] #1340 closed

[2019-10-25 13:21] bells17 commented on #1340
@nikhita Thank you!

[2019-10-25 16:54] timothysc commented on #1305
@rmenn @andrewrynhard - if you can confirm that would be useful.

[2019-10-25 16:59] mikesplain opened #1342 "Request Netlify site for kubernetes/kops"
### Repository
kubernetes/kops (https://github.com/kubernetes/kops)

Kops site, currently using existing unreleased mkdocs.  We will probably eventually migrate it to hugo.

### Project domain
kops.sigs.k8s.io (will request after site is verified)
NOTE: Must match domain request.
See subproject site request docs for more information:
http://git.k8s.io/community/github-management/subproject-site-re

[2019-10-25 17:08] andrewrynhard commented on #1305
@timothysc Yes please. We have a lot of updates to bootkube we would love to get in before the 1.17 k8s release. The sooner we can start, the better.

[2019-10-25 17:09] rmenn commented on #1305
@timothysc nope i am not a member of kubernetes-incubator, please feel free to add @andrewrynhard

[2019-10-25 17:26] misterikkit commented on #1337
Much obliged!

[2019-10-25 18:27] timothysc commented on #1305
@rmenn you will need todo a korg issue/request for access to the kubernetes-sigs org.

[2019-10-25 18:48] rmenn commented on #1305
will do, i did open this up, which is when this (https://github.com/kubernetes/org/issues/1282)  pebble started rolling down the hill, will open once once everything is migrated

[2019-10-25 18:54] rmenn opened #1343 "REQUEST: New membership for rmenn"
### GitHub Username
e.g. @rmenn

### Organization you are requesting membership in
e.g. @kubernetes-sigs/bootkube

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2019-10-25 18:55] rmenn commented on #1305
opened https://github.com/kubernetes/org/issues/1343 TBD after migration

[2019-10-25 18:55] rmenn commented on #1343
for action post https://github.com/kubernetes/org/issues/1305

[2019-10-25 19:09] mrbobbytables commented on #1342
/assign

[2019-10-25 19:16] mrbobbytables commented on #1342
@mikesplain I've enabled netlify for the repo and set it up with the temporary domain for verification: https://kubernetes-kops.netlify.com

If that looks good for you, please go ahead with the kops.sigs.k8s.io address request.

[2019-10-25 19:42] mikesplain commented on #1342
Requested, thanks for the help!

[2019-10-25 21:00] mikesplain commented on #1342
DNS entry is in place now but getting a `Not Found` at http://kops.sigs.k8s.io, any idea if we need to make any other changes @mrbobbytables?  Thanks so much!

[2019-10-25 21:39] mrbobbytables commented on #1342
Everything is good to go :)
https://kops.sigs.k8s.io works with a lets encrypt cert provisioned.

If you have any problems, please feel free to reopen or give me a poke on slack.

/close

[2019-10-25 21:39] #1342 closed

[2019-10-28 08:15] jfbai opened #1346 "REQUEST: New membership for @jfbai"
### GitHub Username
@jfbai

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-10-28 08:19] fabriziopandini commented on #1346
+1
Happy to see @jfbai joining the community
Looking forward to more contributions!

[2019-10-28 10:37] neolit123 commented on #1346
/lgtm
+1 thanks @jfbai

[2019-10-28 11:49] mrbobbytables commented on #1346
@jfbai I hate to be a stickler, but do you happen to else that could sponsor you? Both @neolit123 and @fabriziopandini work for vmware and our [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) require sponsorship from folk from different organizations.

[2019-10-28 12:11] jfbai commented on #1346
@mrbobbytables  Oops, my mistake, I missed to read the last sponsor requirement. I will try to ask for help from one sponsor. Thanks a lot.

[2019-10-28 13:31] draveness commented on #1346
+1, thanks for the contribution

[2019-10-28 14:53] rata commented on #1305
We are using it in https://github.com/kinvolk/lokomotive-kubernetes too. We've just opened some PRs :-)

[2019-10-28 15:30] timothysc commented on #1305
Poke me when the OWNER file is finalized and folks have access to the org.

[2019-10-28 17:09] aaronlevy commented on #1305
@timothysc The OWNERS and OWNERS_ALIASES have been updated.

[2019-10-28 21:34] devaips opened #1347 "REQUEST: New membership for @devaips"
### GitHub Username
@devaips

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-10-28 21:56] devaips commented on #1347
/assign @timothysc
/assign @johnbelamaric
/assign @spiffxp

[2019-10-28 22:39] devaips commented on #1347
/assign @hh

[2019-10-28 23:12] jiatongw opened #1348 "REQUEST: New membership for jiatongw"
### GitHub Username
@jiatongw

### Organization you are requesting membership in
kubernetes-sigs/image-builder

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-10-29 00:04] hh commented on #1347
Good going @devaips
Thanks for your test writing work.
/approve

[2019-10-29 01:12] timothysc commented on #1347
I can sponsor you
/lgtm
/approve

[2019-10-29 01:14] devaips commented on #1347
Thank you @timothysc!

[2019-10-29 02:10] mrbobbytables commented on #1348
@jiatongw do you happen to else that could sponsor you? Both @figo and @codenrhoden work for vmware and our [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) require sponsors to be from different organizations.

[2019-10-29 02:15] mrbobbytables commented on #1346
@jfbai, thank you for all your contributions so far :)

I've created PR #1349  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-29 02:16] mrbobbytables commented on #1347
@devaips, thank you for all your contributions \o/

I've created PR #1349  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-10-29 04:02] ZeroMagic opened #1350 "REQUEST: New membership for ZeroMagic"
### GitHub Username
@ZeroMagic

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2019-10-29 05:51] andyzhangx commented on #1350
+1
@ZeroMagic has made great progress on CSI driver work under k8s-sig

[2019-10-29 06:48] #1346 closed

[2019-10-29 06:48] #1347 closed

[2019-10-29 15:57] jiatongw commented on #1348
You mean open a PR in `config/kubernetes-sigs/org.yaml` ?

[2019-10-29 19:07] tg123 opened #1351 "REQUEST: New membership for tg123"
### GitHub Username
@tg123

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-10-29 21:20] mrbobbytables commented on #966
/remove-lifecycle stale

[2019-10-30 01:57] brendanburns commented on #1351
+1 from me!

On Tue, Oct 29, 2019, 12:15 PM Kumar Abhishek <notifications@github.com>
wrote:

[2019-10-30 07:26] nikhita commented on #1286
/assign

[2019-10-30 07:52] nikhita commented on #1286
Repo has been migrated https://github.com/kubernetes-sigs/external-dns :tada:

I have created https://github.com/kubernetes/community/pull/4203 to update sigs.yaml in the k/community repo.

Also created #1353 to add GitHub teams to grant admin/write access to the repo.

According to our github membership rules, membership in the @kubernetes GitHub org implicitly grants you membership to @kubernete

[2019-10-30 08:13] nikhita commented on #1328
@alexgervais Two more things need to be done pre-transfer, but looks good otherwise. :+1:

- Even though https://github.com/datawire/ingress-conformance/graphs/contributors shows a single contributor, the git log shows (merge) commits from @rhs and they haven't signed the CNCF CLA yet.
@rhs: if you could sign the CLA, we can move ahead with migrating the repo. Instructions can be found [here](http

[2019-10-30 08:19] nikhita opened #1354 "Retire kubernetes-incubator/spartakus"
### Repository to archive
https://github.com/kubernetes-incubator/spartakus

### Repository and/or sig subproject owners that are approving this archival

From sigs.yaml, steering committee owns this but @thockin has been the main owner for the project.

### When should this be done
Anytime.

### Additional context for request

Approval from @thockin: https://groups.google.com/a/kubernetes.io/foru

[2019-10-30 08:46] nikhita commented on #1354
Repo has been archived: https://github.com/kubernetes-retired/spartakus

Notice sent to k-dev: https://groups.google.com/forum/#!topic/kubernetes-dev/FvjMvDfAbRs

[2019-10-30 10:16] nikhita commented on #1351
@tg123 According to our membership rules, sponsors must be from different companies. Since @krabhishek8260 and @brendandburns are both from Microsoft, can you find another non-Microsoft sponsor? Thanks!

[2019-10-30 11:21] mrbobbytables commented on #1086
I think this is all good? Going to go ahead and close for now. @DirectXMan12 if there continues to be a problem, please reopen or a poke in slack.

Thanks!

/close

[2019-10-30 11:21] #1086 closed

[2019-10-30 11:23] mrbobbytables commented on #1305
/assign

I'll move things over once theres ack from @timothysc 👍

[2019-10-30 12:00] nikhita commented on #1354
All PRs have merged.
/close

[2019-10-30 12:00] #1354 closed

[2019-10-30 12:00] mrbobbytables commented on #1350
+1 Thank you for all your help!

[2019-10-30 12:16] njuettner opened #1356 "REQUEST: New membership for njuettner"
### GitHub Username
@njuettner

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2019-10-30 12:20] mrbobbytables commented on #1356
+1

[2019-10-30 13:09] tg123 commented on #1351
@nikhita is there anyway to request an exception? owners of csharp client project are all from Microsoft

[2019-10-30 13:16] mrbobbytables commented on #1351
+1 Thanks for being so quick to act on the outside collaborator clean up 👍

[2019-10-30 14:10] timothysc commented on #1305
@rmenn & @andrewrynhard - can you please apply for membership of kubernetes-sigs org once that is done then it we're good.

/lgtm
/approve
/hold
^ until they are added to the sigs org.

[2019-10-30 14:22] andrewrynhard opened #1357 "REQUEST: New membership for andrewrynhard"
### GitHub Username
@andrewrynhard

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-10-30 14:32] andrewrynhard commented on #1305
https://github.com/kubernetes/org/issues/1357

[2019-10-30 15:27] rhs commented on #1328
@nikhita @alexgervais Hi, I changed the one merge that was rhs@alum.mit.edu to rhs@datawire.io. I can see a corporate CLA in my account already, and I just signed an individual one. Please let me know if there is anything else you need from me. Thanks!

[2019-10-30 16:38] #1348 closed

[2019-10-30 22:19] JimBugwadia opened #1360 "REQUEST: New membership for @JimBugwadia"
### GitHub Username

@JimBugwadia

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2019-10-30 22:21] srampal commented on #1360
+1

[2019-10-30 22:49] dtoledo67 opened #1361 "REQUEST: New membership for dtoledo67"
### GitHub Username
@dtoledo67

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-10-30 22:59] srampal commented on #1361
+1

[2019-10-30 23:13] tashimi commented on #1360
Typo: should be @kubernetes-sigs

+1, @JimBugwadia is doing great work around benchmarking
![tenor-190564943](https://user-images.githubusercontent.com/719646/67905908-2dfbf600-fb30-11e9-84c1-58eb9dab3286.gif)

[2019-10-30 23:22] tashimi commented on #1361
+1!

![tenor-254557094](https://user-images.githubusercontent.com/719646/67906322-68b25e00-fb31-11e9-992b-62e7e5f9413a.gif)

[2019-10-30 23:32] bowei commented on #1292
Hi @mrbobbytables, can we create "service-apis" repository.
We will probably rename it later.

[2019-10-31 01:17] mrbobbytables commented on #1350
@ZeroMagic, thank you for all your contributions so far :)

I've created PR #1362  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2019-10-31 01:18] mrbobbytables commented on #1351
@tg123 thanks for all your efforts on the csharp client library,

I've created PR #1362  to add you to the Kubernetes-client Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-client! 🎉

/assign

[2019-10-31 01:20] mrbobbytables commented on #1357
@andrewrynhard I've added you to the kubernetes-sigs org in #1362 👍 Once it merges, you should get a membership notification.

/assign

[2019-10-31 01:21] mrbobbytables commented on #1360
Hey there @JimBugwadia thank you for helping with wg-multitenancy and wg-policy!

I've created PR #1362  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-31 01:22] mrbobbytables commented on #1361
@dtoledo67 thank you for helping with wg-multitenancy :D

I've created PR #1362  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-10-31 01:24] mrbobbytables commented on #1343
Gentle reminder ping @aaronlevy @andrewrynhard 👍

[2019-10-31 01:32] andrewrynhard commented on #1343
@mrbobbytables First time going through this as a sponsor. Assuming an `/approve` or something along those lines is required by me?

[2019-10-31 01:34] resouer commented on #1350
+1

[2019-10-31 02:03] jonschoning opened #1363 "REQUEST: New membership for jonschoning"
### GitHub Username
@jonschoning

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-10-31 02:16] akshaymankar commented on #1363
+1

[2019-10-31 02:37] JimBugwadia commented on #1360
Thanks @mrbobbytables @tashimi @srampal!

[2019-10-31 04:01] #1350 closed

[2019-10-31 04:01] #1351 closed

[2019-10-31 04:01] #1357 closed

[2019-10-31 04:01] #1360 closed

[2019-10-31 04:01] #1361 closed

[2019-10-31 04:22] nikhita commented on #1328
@rhs Thanks for handling that so quick!

Everything looks good. :+1: Please add me as an admin to the repo so that I can transfer it. :)

[2019-10-31 04:26] nikhita commented on #1343
Yup, just a +1 or `/approve` is good enough. I'll take your comment above as a +1. :)

[2019-10-31 04:29] nikhita commented on #1356
+1

@njuettner is a major contributor to external-dns and is a root-approver for the repo.

[2019-10-31 07:03] justaugustus opened #1365 "Migrate https://github.com/adelina-t/hyperkube to kubernetes org"
### New Repo, Staging Repo, or migrate existing
Migrate existing repository: https://github.com/adelina-t/hyperkube

### Requested name for new repository
hyperkube

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
Release Engineering subproject owners: @justaugustus, @tpepper, @calebamiles

### If not a staging repo, who should have write

[2019-10-31 07:13] nikhita commented on #1365
@justaugustus Just to dot the i's and cross the t's, can you send an email to the sig-arch ML (or mention a link here, in case I missed it!) asking for explicit approval to move this repo to the @kubernetes org? Currently, the linked sig-arch ML thread doesn't seem to have approval to move this repo to @kubernetes.

Also, the issue https://github.com/kubernetes/kubernetes/issues/81760 says (https:

[2019-10-31 07:19] justaugustus commented on #1365
@nikhita --

Ahhh, forgot about the additional SIG Arch approval for `kubernetes` org repos. Will send a note to the ML shortly.

https://github.com/adelina-t/hyperkube is the new repo. :)

[2019-10-31 07:22] nikhita commented on #1365
@adelina-t There are a few more things we'll need to do pre-transfer after getting approval:

- Can you add LICENSE, README, code-of-conduct.md and CONTRIBUTING.md files to the repo? You can find the template for these files here: https://github.com/kubernetes/kubernetes-template-project.

- The boilerplate header for this file - https://github.com/adelina-t/hyperkube/blob/master/build/tools.go -

[2019-10-31 07:23] nikhita commented on #1365
Ah, I meant that the comment says the repo should move to k-sigs. :stuck_out_tongue:

But I'll wait for sig-arch approval. Thanks for staying on top of this, @justaugustus! :)

[2019-10-31 07:46] justaugustus commented on #1365
Fixed up in https://github.com/adelina-t/hyperkube/pull/1.

Figured it would be easier to manage the team (Release Engineering) without dupe-ing it in k-sigs, but I'm easy either way! :)

[2019-10-31 07:50] hjacobs commented on #1286
@nikhita who should we add as sponsors for the membership request? (I only worked with External DNS and can't name core Kubernetes members I worked with closely)

[2019-10-31 07:56] nikhita commented on #1286
@hjacobs Feel free to add @linki (since they are a kubernetes member and external-dns approver), @mrbobbytables or me as sponsors. I've personally interacted with you at KubeCon as well, so I'm happy to vouch for you (sponsorship is mainly a sign of "the person has made significant contributions and I trust them"). :)

[2019-10-31 08:01] justaugustus commented on #1247
Sent note to ML: https://groups.google.com/d/topic/kubernetes-provider-azure/z27pjVi4dVw/discussion
Setting lazy consensus for Friday, November 1, EOD US PT, so we can proceed on Monday.

[2019-10-31 08:48] hjacobs opened #1366 "REQUEST: New membership for hjacobs"
This request is part of the efforts to move External DNS to the kubernetes-sigs org (https://github.com/kubernetes/org/issues/1286)

### GitHub Username
@hjacobs

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub ac

[2019-10-31 08:50] nikhita commented on #1366
+1

[2019-10-31 09:38] linki commented on #1366
+1

[2019-10-31 10:25] Raffo opened #1367 "REQUEST: New membership for Raffo"
This request is part of the efforts to move External DNS to the kubernetes-sigs org (#1286)

### GitHub Username
@Raffo

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/securit

[2019-10-31 10:28] nikhita commented on #1367
+1

[2019-10-31 13:10] njuettner commented on #1356
thanks @nikhita @mrbobbytables ❤️

[2019-10-31 13:17] liggitt commented on #1365
I'm not in favor of an official kubernetes-sigs project that intentionally uses k8s.io/kubernetes as a library, running counter to the guidance we've consistently given.

[2019-10-31 14:11] linki commented on #1367
+1

[2019-10-31 14:40] liggitt commented on #1365
I'd be in favor of resolving the desired approach in the original issue (https://github.com/kubernetes/kubernetes/issues/81760) before proceeding here

[2019-10-31 15:11] nikhita commented on #1356
@njuettner I've created PR #1368 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2019-10-31 15:12] nikhita commented on #1366
@hjacobs I've created PR #1368 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2019-10-31 15:15] #1356 closed

[2019-10-31 15:15] #1366 closed

[2019-10-31 15:15] #1367 closed

[2019-10-31 15:53] hjacobs commented on #1366
@nikhita thank you! :bowing_man:

[2019-10-31 17:02] cheftako commented on #1247
/lgtm

[2019-10-31 18:18] cblecker commented on #1365
/hold
Explicit hold from me too.. even if we move forward with this, I want to talk about the code ownership trail here, because this was originally kubernetes code to begin with.

[2019-10-31 19:26] aaronlevy commented on #1343
+1

[2019-10-31 20:39] rmenn commented on #1343
@mrbobbytables there you go, i hope thats all the approvals

[2019-11-01 02:25] mrbobbytables commented on #1292
Great. I should be able to get this provisioned tomorrow :)

[2019-11-01 02:27] mrbobbytables commented on #1363
+1 here too. Thank you for being quick to follow up on the collaborator clean up :)

[2019-11-01 02:36] mrbobbytables commented on #1343
@rmenn thanks for everything with bootkube <3

I've created PR #1371  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-11-01 02:37] mrbobbytables commented on #1363
@jonschoning -- I've created PR #1371  to add you to the Kubernetes-client Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-client! 🎉

/assign

[2019-11-01 05:08] guoshimin opened #1372 "REQUEST: New membership for guoshimin"
### GitHub Username
@guoshimin

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2019-11-01 09:10] akshaymankar commented on #1372
+1

[2019-11-01 09:59] #1343 closed

[2019-11-01 09:59] #1363 closed

[2019-11-01 11:48] mrbobbytables commented on #1372
+1 from me, @guoshimin is already an approver for the haskell repo (as an outside collaborator)
https://raw.githubusercontent.com/kubernetes-client/haskell/master/OWNERS

[2019-11-01 12:25] rmenn commented on #1305
@timothysc both of us are a part of the org, `/hold` can be removed

[2019-11-01 12:44] jonschoning commented on #1372
+1

[2019-11-01 13:36] alexgervais commented on #1328
Thank you @nikhita & @mrbobbytables

[2019-11-01 17:15] bowei commented on #1292
:+1: thanks!

[2019-11-01 21:02] mrbobbytables commented on #1292
The repo has been created: [kubernetes-sigs/service-apis](https://github.com/kubernetes-sigs/service-apis)
PR is out to add the teams: https://github.com/kubernetes/org/pull/1374

@bowei As far as updating the list of projects in k/community do you want it added as a [new subproject](https://github.com/kubernetes/community/tree/master/sig-network#subprojects)? or included under the [services subpr

[2019-11-01 21:24] bowei commented on #1292
I think it fits under the service subproject.

[2019-11-04 09:34] nikhita commented on #1328
I'll keep this open until https://github.com/kubernetes/community/pull/4208 is merged, so that it doesn't get lost. :)

[2019-11-04 16:18] bertinatto opened #1381 "REQUEST: New membership for bertinatto"
### GitHub Username
bertinatto

### Organization you are requesting membership in
kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-11-04 16:20] msau42 commented on #1381
+1

Fabio has been doing a lot of great work with volume resizing, attach limits, and topology features

[2019-11-04 16:42] jsafrane commented on #1381
+1

[2019-11-04 19:33] mrbobbytables commented on #1292
The teams have been added to the repo and https://github.com/kubernetes/community/pull/4211 has merged adding it to the services subproject 👍

That should be everything. Going to go ahead and close this issue. If you have any issues, please don't hesitate to give me a poke or reopen.

Thanks!

/close

[2019-11-04 19:33] #1292 closed

[2019-11-04 19:41] serathius opened #1382 "Migrate metrics-server to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing repository from [kubernetes-incubator/metrics-server](https://github.com/kubernetes-incubator/metrics-server)

### Requested name for new repository
metrics-server

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
piosz
brancz

### If not a staging repo, who should have

[2019-11-04 19:50] mrbobbytables commented on #1382
/assign

[2019-11-04 20:59] brancz commented on #1382
Not sure where I need to approve, but this has my approval.

[2019-11-04 21:20] justaugustus commented on #1247
I'm preparing the migration PRs now!

[2019-11-04 22:02] mrbobbytables commented on #1247
repo has been migrated: https://github.com/kubernetes-sigs/cloud-provider-azure

[2019-11-04 22:20] mrbobbytables commented on #1382
That's good enough for sign off 👍

[2019-11-05 00:03] mrbobbytables commented on #1372
@guoshimin thanks for being quick to follow up on org member 👍

I've created PR #1385  to add you to the Kubernetes-client Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-client! 🎉

/assign

[2019-11-05 00:06] mrbobbytables commented on #1381
@bertinatto I've created PR #1385 to add you to the @kubernetes-csi org. 👍 Once it merges you should get a membership invite notification.

Just an FYI for the future, as a member of @kubernetes you're implicitly allowed to join the other orgs (PR yourself in) and do not have to seek sponsorship.

/assign

[2019-11-05 00:32] mrbobbytables commented on #1382
The new teams and org memberships have been added in #1386
The update to sigs.yaml is here: https://github.com/kubernetes/community/pull/4216

Once the teams have been merged, I will proceed with the migration of the repo 👍

[2019-11-05 05:04] #1372 closed

[2019-11-05 05:04] #1381 closed

[2019-11-05 14:12] s-urbaniak commented on #1382
/approve

[2019-11-05 15:48] mrbobbytables commented on #1382
The repo has been migrated and teams have been added: https://github.com/kubernetes-sigs/metrics-server
PR is out to update OWNERS: https://github.com/kubernetes-sigs/metrics-server/pull/346

Once that PR has merged, the migration should be complete 👍

[2019-11-05 18:55] mortent opened #1387 "REQUEST: New membership for mortent"
### GitHub Username
@mortent

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
Already member of kubernetes org, ref https://github.com/kubernetes/org/issues/136

[2019-11-05 19:12] serathius commented on #1382
Updated list of approvers to include all admins and writers.
Sorry for confusion.

[2019-11-05 19:18] mrbobbytables commented on #1382
All outstanding tasks have been completed.
With that, I'm going to go ahead and close the issue 👍
If there are any problems, please feel free to reopen or ping me on slack.

Thanks!

/close

[2019-11-05 19:18] #1382 closed

[2019-11-05 19:19] serathius commented on #1382
Thanks for your help!!

[2019-11-06 11:53] andyzhangx commented on #1247
/lgtm

[2019-11-06 14:21] joelanford opened #1390 "REQUEST: New membership for joelanford"
### GitHub Username
@joelanford

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2019-11-06 14:24] LiliC commented on #1390
Happy to confirm that I am sponsoring @joelanford! 🎉

[2019-11-06 16:57] timothysc commented on #1305
/hold cancel
@mrbobbytables  - go for it.

[2019-11-06 17:26] janetkuo opened #1391 "Request edit access to SIG Apps sub-project kubernetes-sigs/application"
### Organization or repository
e.g. kubernetes-sigs/application

### Users affected
janetkuo

### Describe the issue
The repo is a sub-project of SIG Apps. I'm one of the SIG Apps chairs. Would like to have edit access to the repo.

[2019-11-06 17:29] nikhita commented on #1391
PRs welcome :stuck_out_tongue:

https://github.com/kubernetes/org/blob/master/config/kubernetes-sigs/org.yaml#L358

[2019-11-06 23:52] #1391 closed

[2019-11-07 00:22] DirectXMan12 commented on #1390
100% a :+1: from me as well :tada:

[2019-11-07 00:31] joelanford commented on #1390
Thanks @LiliC and @DirectXMan12!

[2019-11-07 13:37] pierewoj opened #1399 "REQUEST: New membership for pierewoj"
### GitHub Username
e.g. @pierewoj

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2019-11-07 14:09] mm4tt commented on #1399
+1

[2019-11-07 14:16] sbueringer opened #1400 "Install OpenLab Github app for kubernetes-sigs/cluster-api-provider-openstack"
### Organization or repository
kubernetes-sigs/cluster-api-provider-openstack

### Name of integration
OpenLab Zuul

### Link to integration website
https://github.com/apps/theopenlab-ci

### Describe what is attempting to be accomplished
It will be used to integrate OpenLab Zuul to test ClusterAPI OpenStack. (see also issue: kubernetes-sigs/cluster-api-provider-openstack#484).

[2019-11-07 17:58] shyamjvs commented on #1399
+1

From: Matt Matejczyk <notifications@github.com>
Reply-To: kubernetes/org <reply@reply.github.com>
Date: Thursday, November 7, 2019 at 6:10 AM
To: kubernetes/org <org@noreply.github.com>
Cc: "Jeedigunta, Shyam" <jeedigv@amazon.com>, "mention@noreply.github.com" <mention@noreply.github.com>
Subject: Re: [kubernetes/org] REQUEST: New membership for pierewoj (#1399)

+1

—
You are receiving this b

[2019-11-07 22:57] mrbobbytables commented on #1305
* Teams have been added: #1401
* Repo has been migrated and teams added: https://github.com/kubernetes-sigs/bootkube
* OWNERS was updated pre-migration.
* SECURITY_CONTACTS updated: https://github.com/kubernetes-sigs/bootkube/pull/1055
* sigs.yaml updated with new location: https://github.com/kubernetes/community/pull/4223

Once all remaining PRs are merged, the repo migration will be complete.

[2019-11-07 23:16] mrbobbytables commented on #1387
@mortent I've created PR #1402 to add you to the kubernetes-sigs org. Once it merges you should get an invite. 👍

/assign

[2019-11-07 23:17] mrbobbytables commented on #1390
Hey there @joelanford, thank you for all your contributions so far \o/

I've created PR #1402  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2019-11-07 23:17] mrbobbytables commented on #1399
@pierewoj, thank you for all your contributions so far 👍

I've created PR #1402  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-11-08 02:44] #1387 closed

[2019-11-08 02:44] #1390 closed

[2019-11-08 02:44] #1399 closed

[2019-11-08 09:32] clarklee92 opened #1403 "REQUEST: New membership for @clarklee92"
### GitHub Username
@clarklee92

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2019-11-08 09:38] clarklee92 commented on #1403
I have spoken to my sponsors.
Due to the time difference, I am waiting for their reply. 😁

[2019-11-08 15:14] alejandrox1 commented on #1403
Huge +1!!!
Thank you for all the work you’ve done @clarklee92

[2019-11-08 17:25] liggitt commented on #1403
+1

[2019-11-08 18:06] oomichi commented on #1403
+1, thanks for your contribution @clarklee92

[2019-11-08 22:02] mrbobbytables commented on #1305
All PRs have been merged. The repo has been migrated. I'm going to go ahead and close the issue. If you have any problems or questions, please feel free to reopen or ping me on slack :)

/close

[2019-11-08 22:02] #1305 closed

[2019-11-09 00:18] brendandburns opened #1405 "Add GitHub Actions Integration to kubernetes-client organization"
### Organization or repository
kubernetes-client/

### Name of integration
GitHub Actions

### Link to integration website
https://github.com/features/actions

### Describe what is attempting to be accomplished
GitHub Actions to simplify CI/CD for client library projects and depend on a single vendor (GitHub)

[2019-11-09 00:34] cblecker commented on #1405
@brendandburns Done! Can you test and let me know if this works for you?

[2019-11-09 00:42] brendandburns commented on #1405
many thanks! will try this evening.

[2019-11-09 05:37] rifelpet opened #1406 "REQUEST: New membership for rifelpet"
### GitHub Username
e.g. @rifelpet

### Organization you are requesting membership in
e.g. @kubernetes-sigs

### Requirements
I'm already a member of the `kubernetes` org:

https://github.com/kubernetes/org/blob/8490b37e610eda52524e7fd2a512d46184339ceb/config/kubernetes/org.yaml#L818

[2019-11-11 20:03] craiglpeters commented on #1247
Seems like we're good to go @justaugustus ?

[2019-11-12 00:50] sambdavidson opened #1407 "REQUEST: New membership for sambdavidson"
### GitHub Username
@sambdavidson

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2019-11-12 00:51] sambdavidson commented on #1407
/assign @mikedanese @mattjmcnaughton

[2019-11-12 00:51] feiskyer commented on #1247
already done, this could be closed now.
/close

[2019-11-12 00:51] #1247 closed

[2019-11-12 00:53] sambdavidson commented on #1407
/assign @awly

[2019-11-12 00:57] awly commented on #1407
+1

[2019-11-12 05:36] nikhita commented on #1407
+1 for Sam

[2019-11-12 13:37] mattjmcnaughton commented on #1407
+1

[2019-11-12 18:03] jkaniuk opened #1408 "REQUEST: New membership for jkaniuk"
### GitHub Username
@jkaniuk

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-11-12 19:53] sbueringer commented on #1400
/CC @cblecker

[2019-11-12 20:49] mrbobbytables commented on #1400
@sbueringer Sorry for the delay, things have been kinda crazy with the pre-kubecon rush. It has now been enabled. 👍

With that, I'm going to go ahead and close the issue. If you have any problems feel free to reopen or ping me on slack.

Thanks!

/close

[2019-11-12 20:49] #1400 closed

[2019-11-12 21:32] jackkleeman opened #1409 "REQUEST: New membership for @jackkleeman"
### GitHub Username
@jackkleeman

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2019-11-12 21:33] liggitt commented on #1409
+1

[2019-11-12 21:45] deads2k commented on #1409
+1

[2019-11-13 00:49] mikedanese commented on #1407
+1

[2019-11-13 00:56] barney-s opened #1410 "REQUEST: New membership for barney-s"
### GitHub Username
@barney-s

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-11-13 00:59] janetkuo commented on #1410
+1

[2019-11-13 02:04] kow3ns commented on #1410
+1

[2019-11-13 05:05] kkmsft opened #1412 "REQUEST: New membership for kkmsft"
### GitHub Username
e.g. (at)example_user

@kkmsft

### Organization you are requesting membership in
e.g. (at)kubernetes

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-m

[2019-11-13 05:09] andyzhangx commented on #1412
+1
@kkmsft has done lots of work under csi drivers, made great progress on that.

[2019-11-13 06:42] ddebroy commented on #1412
+1
@kkmsft has been actively engaged with CSI driver support for Windows

[2019-11-13 07:43] mm4tt commented on #1408
+1!

[2019-11-13 18:38] benmoss opened #1413 "REQUEST: New membership for benmoss"
### GitHub Username
benmoss

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-11-13 19:50] benmoss commented on #1413
@neolit123

[2019-11-13 20:06] neolit123 commented on #1413
+1 thanks for the contributions @benmoss !

[2019-11-13 20:15] michmike commented on #1413
+1 thank you Ben!

[2019-11-13 20:47] PatrickLang commented on #1413
/lgtm

[2019-11-14 00:16] mrbobbytables commented on #1403
Hey there @clarklee92 , thank you for all your contributions so far :)

Sorry for the delay in getting to this, things have been pretty busy with kubecon around the corner. 😬 With that though -- I've created PR #1414  to add you to both the Kubernetes, and kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/as

[2019-11-14 00:18] mrbobbytables commented on #1406
@rifelpet I've create PR #1414 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification :)

Also -- just an FYI for the future: if you need to join one of the other kubernetes orgs, please feel free to open a PR doing so. You don't have to wait for one of us to add you. As long as everything looks good, one of us will approve. 👍

/assign

[2019-11-14 00:19] mrbobbytables commented on #1407
@sambdavidson, thank you for all your contributions so far \o/

I've created PR #1414  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-11-14 00:21] mrbobbytables commented on #1409
Hey there @jackkleeman, thank you for all your contributions so far :)

I've created PR #1414  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-11-14 00:22] mrbobbytables commented on #1410
@barney-s , thank you for helping with sig-apps and sig-cli 👍

I've created PR #1414   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-11-14 00:24] mrbobbytables commented on #1412
@kkmsft , thank you for all your help with the different windows related projects 👍

I've created PR #1414   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-11-14 00:26] mrbobbytables commented on #1413
@benmoss I've created PR #1414 to add you to the kubernetes-sigs org.

Just an FYI for the future, as a member of Kubernetes you're implicitly allowed to join the other orgs without requiring other sponsorship :) You can PR yourself in there and one of the slack admins will sign off on it 👍

/assign

[2019-11-14 01:13] #1403 closed

[2019-11-14 01:13] #1406 closed

[2019-11-14 01:13] #1407 closed

[2019-11-14 01:13] #1409 closed

[2019-11-14 01:13] #1410 closed

[2019-11-14 01:13] #1412 closed

[2019-11-14 01:13] #1413 closed

[2019-11-14 21:53] cadmuxe opened #1416 "REQUEST: New membership for cadmuxe"
### GitHub Username
@cadmuxe

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2019-11-14 21:55] cadmuxe commented on #1416
/cc @freehan @caseydavenport
Hi Minhan and Casey,
Please review the request, thanks.

[2019-11-14 21:57] freehan commented on #1416
+1

Thank you for all the contributions.

[2019-11-14 22:40] cblecker commented on #1085
https://github.com/maintainers/early-access-feedback/issues/299

[2019-11-14 23:19] caseydavenport commented on #1416
+1 from me!

[2019-11-15 01:57] Jefftree opened #1417 "REQUEST: New membership for @jefftree"
### GitHub Username
@jefftree

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2019-11-15 02:30] nikhita commented on #1328
https://github.com/kubernetes/community/pull/4208 has merged
/close

[2019-11-15 02:30] #1328 closed

[2019-11-15 02:33] hh commented on #1417
/lgtm
/approve

[2019-11-15 15:35] imroc opened #1419 "REQUEST: New membership for imroc"
### GitHub Username
@imroc

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2019-11-15 15:58] andrewsykim commented on #1419
👍 from me

[2019-11-15 16:56] nzoueidi commented on #1416
/assign

[2019-11-15 17:23] johnbelamaric commented on #1417
/lgtm
/approve

[2019-11-16 03:32] m1093782566 commented on #1419
+1 from me.

[2019-11-16 20:51] nzoueidi commented on #1417
/assign

[2019-11-16 20:55] nzoueidi commented on #1419
/assign

[2019-11-16 20:59] nzoueidi commented on #1416
Hey there @cadmuxe, thank you for all your contributions so far :)

I've created PR #1422 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-11-16 20:59] nzoueidi commented on #1417
Hey there @Jefftree, thank you for all your contributions so far :)

I've created PR #1422 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-11-16 21:00] nzoueidi commented on #1419
Hey there @imroc, thank you for all your contributions so far :)

I've created PR #1422 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2019-11-17 00:11] #1416 closed

[2019-11-17 00:11] #1417 closed

[2019-11-17 00:11] #1419 closed

[2019-11-17 01:56] cadmuxe commented on #1416
nzoueidi, thank you for creating the PR.

[2019-11-18 14:40] shyamjvs commented on #1408
+1

[2019-11-18 15:55] nzoueidi commented on #1408
/assign

[2019-11-18 19:57] wozniakjan opened #1426 "REQUEST: New membership for wozniakjan"
### GitHub Username
@wozniakjan

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2019-11-19 06:52] huynguyennovem opened #1427 "REQUEST: New membership for huynguyennovem"
### GitHub Username
@huynguyennovem

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2019-11-19 06:55] remyleone commented on #1427
:+1:

[2019-11-19 06:56] truongnh1992 commented on #1427
+1 @huynguyennovem will be a reviewer / approver for Vietnamese localization.
@ngtuna please vote for Huy, please.

[2019-11-19 06:57] truongnh1992 commented on #1427
/assign @nzoueidi

[2019-11-19 09:04] bskiba commented on #1426
+1

[2019-11-19 13:34] tariq1890 commented on #1426
+1 :)

[2019-11-19 13:39] nzoueidi commented on #1426
/assign

[2019-11-19 16:50] cblecker commented on #1365
I think we've settled on a different approach (https://github.com/kubernetes/kubernetes/issues/81760), so closing this.

[2019-11-19 16:50] #1365 closed

[2019-11-19 17:34] nikhita commented on #1286
All related PRs have merged.

/close

[2019-11-19 17:34] #1286 closed

[2019-11-19 17:52] hvaara opened #1429 "REQUEST: New membership for hvaara"
### GitHub Username
@hvaara

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2019-11-19 18:53] fejta commented on #1429
+1

[2019-11-19 19:45] nzoueidi commented on #1408
Hey there @jkaniuk, thank you for all your contributions so far :)

I've created PR #1430 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2019-11-19 19:45] nzoueidi commented on #1426
Hey there @wozniakjan, thank you for all your contributions so far :)

I've created PR #1430 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign