[2020-07-07 07:45] ingvagabund commented on #1974
+1

[2020-07-07 09:52] voor opened #1998 "REQUEST: New membership for voor"
### GitHub Username
`voor`

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-07-07 09:52] randomvariable commented on #1998
/lgtm

[2020-07-07 09:53] moshloop commented on #1998
/lgtm

[2020-07-07 10:22] lixiaobing1 opened #1999 "REQUEST: New membership for lixiaobing1"
GitHub Username
@lixiaobing1

Organization you are requesting membership in
@kubernetes

Requirements
 I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
 I have enabled 2FA on my GitHub account (https://github.com/settings/security)
 I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!forum/kubernetes-dev)

[2020-07-07 12:05] nikhita commented on #1998
+1 from me as well :smile:

[2020-07-07 12:07] nikhita commented on #1995
@kishorj sponsors need to have different employers. Can you please add another sponsor who is not from Amazon?

[2020-07-07 12:20] nikhita commented on #1974
@lixiang233, thank you for all your contributions to descheduler so far :)

I've created PR #2000 (what a PR number! :)) to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-07-07 12:21] nikhita commented on #1982
@kumarvin123, thank you for all your contributions to sig windows and sig network so far :)

I've created PR #2000 (what a PR number! :)) to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-07 12:21] nikhita commented on #1987
@pancernik, thank you for all your contributions to sig scheduling so far :)

I've created PR #2000 (what a PR number! :)) to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-07 12:21] #1974 closed

[2020-07-07 12:21] #1982 closed

[2020-07-07 12:21] #1987 closed

[2020-07-07 12:21] #1998 closed

[2020-07-07 12:22] nikhita commented on #1998
@voor, thank you for all your contributions to cluster api and image builder so far :)

I've created PR #2000 (what a PR number! :)) to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-07-07 12:24] xiangpengzhao commented on #1999
+1

[2020-07-07 12:26] pancernik commented on #1987
Thanks @nikhita

[2020-07-07 15:36] kishorj commented on #1995
Both sponsors need to be from different employers?

[2020-07-07 16:29] nikhita commented on #1995
Yes, from https://github.com/kubernetes/community/blob/master/community-membership.md:

[2020-07-07 16:48] kishorj commented on #1995
Thanks. I will withdraw my request for now.

[2020-07-07 16:54] nikhita commented on #1995
I'll close this issue then, but please reopen when you are ready. :)

[2020-07-07 17:20] tnqn opened #2001 "REQUEST: New membership for tnqn"
### GitHub Username
@tnqn

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-07-07 17:23] neolit123 commented on #2001
+1, thanks @tnqn

[2020-07-07 17:24] robscott commented on #2001
+1, thanks for all your contributions @tnqn! You've caught and fixed some significant bugs related to the EndpointSlice implementation.

[2020-07-07 21:19] #1993 closed

[2020-07-08 01:00] lixiaobing1 commented on #1999
/cc @oomichi thanks :)

[2020-07-08 14:01] dominicgunn opened #2004 "[REQUEST] Migrate kubernetes-incubator/kube-aws to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing repository.

### Requested name for new repository
kube-aws

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
dominicgunn, mumoshu

### If not a staging repo, who should have write access
dominicgunn, mumoshu

### If not a staging repo, who should be listed as approvers

[2020-07-08 14:13] neolit123 commented on #2004
this has been in discussion for a while now.

i have no historical context why kube-aws's readme says its maintained by SIG AWS, but on paper (under k/community) SIG CL is the owner and who added that there.

we might as well move the repository under k-sigs at this point.
so i'm +1 to do that.

if we do, please:
- include an OWNERS_ALIASES file that has the SIG leads and add those in the OWNERS f

[2020-07-08 14:15] neolit123 commented on #2004
/sig cluster-lifecycle

[2020-07-08 14:17] nikhita commented on #2004
@neolit123 do you also want SCL leads to have admin access?

[2020-07-08 14:26] neolit123 commented on #2004
i that is the standard practice, so yes i guess.

we also need to update existing links to the repository - e.g.:
https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle#kube-aws

[2020-07-08 14:29] nikhita commented on #2004
@dominicgunn Can you ping back here once the OWNERS files have been updated? The GitHub Admin team can take care of the rest :)

[2020-07-08 14:47] dominicgunn commented on #2004
Hey @nikhita,

I've gone to start making the changes, but I'm getting shouted at as (despite already being in the owners file), I'm not a member of the kubernetes-incubator org.  (https://github.com/kubernetes-incubator/kube-aws/pull/1888/files)

I think I should be able to merge despite that, but just wanted to call it out incase it was problematic.

[2020-07-08 14:51] nikhita commented on #2004
@dominicgunn np, let's do this post migration :)

/assign

[2020-07-08 15:02] nikhita commented on #2004
One more hiccup -- @dominicgunn @mumoshu, you need to be members of the @kubernetes-sigs org before we can migrate the repo. Being a member is important because only members can be added to GitHub teams and be granted admin access.

The instructions about requesting membership are here - https://github.com/kubernetes/community/blob/master/community-membership.md#member

You could approve changes b

[2020-07-08 15:10] dominicgunn opened #2005 "REQUEST: New membership for dominicgunn"
### GitHub Username
dominicgunn

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-07-08 15:12] dominicgunn commented on #2005
@nikhita, I haven't listed any sponsors explicitly as I haven't contacted anybody officially about sponsoring my joining the organizations, rather it feels a necessity per guidelines laid out for the movement of the kube-aws repository.

If required, I could reach out to the same sponsors of the project move per https://github.com/kubernetes/org/issues/2004

[2020-07-08 15:13] nikhita commented on #2005
@dominicgunn While it might just be formality for this one, we'd need sponsors since that's the process we follow for _all_ membership requests. :grimacing:

[2020-07-08 15:18] dominicgunn commented on #2005
No problem, I'll try and get that sorted.

[2020-07-08 15:29] dominicgunn commented on #2004
Ok, membership request opened (https://github.com/kubernetes/org/issues/2005), and I've pinged both @neolit123 and @justinsb regarding sponsorship. I'll reach out to existing collaborators as required.

At this point, is then anything else you need from me or are we just waiting for the 👍 from sponsors @nikhita?

[2020-07-08 15:30] dominicgunn commented on #2004
I've also updated the [OWNERS](https://github.com/kubernetes-incubator/kube-aws/blob/master/OWNERS), [OWNERS_ALIASES](https://github.com/kubernetes-incubator/kube-aws/blob/master/OWNERS_ALIASES), and [README.md](https://github.com/kubernetes-incubator/kube-aws/blob/master/README.md) per request.

[2020-07-08 15:32] neolit123 commented on #2005
i think we can exclude the kubernetes org for now, unless you had prior contributions to projects in it.

[2020-07-08 15:34] dominicgunn commented on #2005
Sure, whatever helps get this across the line :)

[2020-07-08 15:34] neolit123 commented on #2005
just remove `@kubernetes` from the issue description.

[2020-07-08 15:35] dominicgunn commented on #2005
Snipped!

[2020-07-08 15:38] neolit123 commented on #2005
thanks.
+1, for the k-sig membership as the kube-aws maintainers have to be members, post the repository move from incubator.

[2020-07-08 15:54] mrbobbytables commented on #1563
@kmova @saad-ali do you think its ready to be archived?

[2020-07-08 16:13] onlydole opened #2006 "REQUEST: New membership for onlydole"
### GitHub Username
@onlydole

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-07-08 16:16] mrbobbytables commented on #2006
@onlydole you can PR yourself in as you're already a member of kubernetes 👍  If you don't need immediate access, we'll add you in later as a batch

[2020-07-08 17:03] nikhita commented on #2004
Just waiting for +1s and then I'll migrate it! :rocket:

I know it's a lot of back and forth, so thanks for your patience on this. :)

[2020-07-08 21:51] mumoshu opened #2007 "REQUEST: New membership for mumoshu"
### GitHub Username
mumoshu

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-07-08 21:56] mumoshu commented on #2004
I didn't have the access to the kubernetes-sigs org so I've submitted my membership request at #2007 😃
I wonder if it needs to be handled as well befobe finishing the migration?

[2020-07-08 22:02] neolit123 commented on #2007
+1,
the kube-aws maintainers have to be members of k-sigs, post the repository move from incubator.

[2020-07-09 00:40] #2006 closed

[2020-07-09 20:33] oomichi commented on #1999
Thanks for your contribution.
+1

[2020-07-09 23:07] mrbobbytables commented on #1999
Hey there @lixiaobing1 , thank you for all your contributions so far :)

I've created PR #2011  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-09 23:08] mrbobbytables commented on #2001
Hey there @tnqn, thank you for all your contributions so far \o/

I've created PR #2011   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-10 03:54] #1999 closed

[2020-07-10 03:54] #2001 closed

[2020-07-10 05:59] lixiaobing1 commented on #1999
@mrbobbytables ok, thanks :)

[2020-07-10 12:25] mrbobbytables opened #2013 "Clean up of inactive members July"
This is the list of [inactive members](https://github.com/kubernetes/community/blob/master/communitymembership.md#inactive-members) that are slated to be removed from our Github Orgs. They have had no devstats recorded activity since the release of v1.11.

**Note:** the default devstats dashboards only reflect contributions above a certain threshold (>5). The data used for this list was obtained s

[2020-07-10 12:43] mrbobbytables commented on #2013
It looks like you can only ping 50 users per comment. Here are the next 50.

- @ganeshspatil
- @ghodss
- @gluke77
- @grahamawelch-zz
- @gsasha
- @gtank
- @hardysimpson
- @hodovska
- @hongbin
- @hui-zhi
- @hw-qiaolei
- @icereval
- @ikester
- @it2afl0rd
- @itayariel
- @iterion
- @jamiehannaford
- @jbhurat
- @jcbsmpsn
- @jdavis7257
- @jiangtianli
- @jiangyaoguo
- @johanatan
- @johnwilkes
- @josvazg
-

[2020-07-10 12:54] mrbobbytables commented on #2013
Last batch
- @mlaccetti
- @monadic
- @mqliang (owner)
- @nhlfr
- @olekzabl (owner)
- @pbx0
- @pewu (owner)
- @philroche
- @pipejakob (owner)
- @pokoli
- @pospispa
- @prashima
- @preillyme
- @procrypt
- @pshahzeb
- @q-lee (owner)
- @ramr
- @rcj4747
- @rjkernick
- @rjnagal
- @rjog
- @ronnielai
- @rrati (owner)
- @rrmckinley
- @sameersbn
- @sarahkconway (owner)
- @satnam6502
- @seanknox
- @sebastianm

[2020-07-10 17:51] johnwilkes commented on #2013
Hi.
What information do you wish to impart?
What actions do you wish us to take?

On Fri, Jul 10, 2020 at 5:43 AM Bob Killen <notifications@github.com> wrote:

[2020-07-10 17:54] johanatan commented on #2013
My default action was going to be to ignore. :)

[2020-07-10 17:59] mrbobbytables commented on #2013
You can ignore if you're no longer involved with the project.
We're trying to clean up those that haven't been actively involved in the project for some time as being an org member grants a set of elevated permissions.

Our means to detect inactive members doesn't take into account if you're active within the project in other means (non-code like helping with events, moderate things like slack), i

[2020-07-10 18:09] cab105 commented on #2013
Does this apply to the incubator projects as well? Granted I haven't been involved with kompose/kmachine in quite a while.

[2020-07-10 18:13] mrbobbytables commented on #2013
@cab105 its across all orgs and the incubator org itself will soon be archived. At this time, there are only 2 repos left in incubator with 1 being migrated to kubernetes-sigs and the other is slated to be archived once a component of it is moved out.

[2020-07-10 19:54] mbruzek commented on #2013
I am still active.

Matt Bruzek

On Fri, Jul 10, 2020 at 7:43 AM Bob Killen <notifications@github.com> wrote:

[2020-07-10 20:07] mrbobbytables commented on #2013
@mbruzek can you link to some examples please? It doesn't have to be commits or PRs, but how any areas your helping with the upstream project.

[2020-07-10 20:44] rrati opened #2016 "REQUEST: New membership for rrati"
### GitHub Username
@rrati

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goo

[2020-07-10 20:52] xing-yang commented on #2016
+1

[2020-07-10 21:01] pmorie commented on #1499
We have deferred a decision on whether the existing repository will be archived or not; currently collecting use cases for a future cluster registry concept in the community in a world-writable doc. More information [here](https://groups.google.com/g/kubernetes-sig-multicluster/c/qW4ZDBu4BKw). Anyone should feel welcome to add to this document; we'll discuss use-cases in coming SIG meetings. We'll

[2020-07-10 22:13] saad-ali commented on #2016
+1
@rrati appears to have many contribution to k/k https://github.com/kubernetes/kubernetes/pulls?page=2&q=is%3Apr+author%3Arrati+is%3Aclosed and will be working on the Container Object Storage Interface effort.

[2020-07-10 22:23] xing-yang commented on #2016
@rrati Since you'll be working on COSI which is under kubernetes-sigs, you should also request membership in kubernetes-sigs.  Just add "kubernetes-sigs" under "kubernetes".

[2020-07-11 13:41] AlmogBaku commented on #2013
I'd like to stay active. Recently I have more time to contribute

[2020-07-11 15:57] rrati commented on #2016
Done

[2020-07-11 16:24] mrbobbytables commented on #2013
@AlmogBaku the project has changed significantly since 2016/2017 - In this instance, we'd prefer you go through the org membership process again. It's been streamlined and would require opening an issue in this repository after becoming active again. For more information check out our [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md).

[2020-07-13 03:34] charleszheng44 opened #2017 "REQUEST: New membership for charleszheng44"
### GitHub Username
@charleszheng44

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://g

[2020-07-13 03:48] Fei-Guo commented on #2017
+1
Chao has been actively working on virtual cluster project in SIG multi-tenancy. I strongly support him to be SIG member.

[2020-07-13 04:14] christopherhein commented on #2017
+1
Fully support Chao becoming a Org member.

[2020-07-13 20:50] derekwaynecarr commented on #1873
@saschagrunert apologies for lag.  i caught up on the currrent state of the linked repo, and look forward to your work in the sig to make this optional add-on successful for the broadest set of users.

I approve as SIG Node lead.

/lgtm
/approve

[2020-07-13 21:14] carolynvs opened #2019 "Add carolynvs as adminstrator to kubernetes-sigs/minibroker"
### Organization or repository
kubernetes-sigs/minibroker

### Users affected
carolynvs

### Describe the issue
When I donated minibroker, no one was made admin or given write access. So we can't tag new releases right now. We also have been having trouble with our travis builds occasionally because no one is an admin (we can't do things like cancel builds or configure settings). It would really h

[2020-07-14 06:49] saschagrunert commented on #1873
@nikhita @mrbobbytables may I ask you to support me with the repository migration? Should I create a dummy org where both of you have admin access or do we already have something like this?

[2020-07-14 07:03] nikhita commented on #1873
@saschagrunert yes, we'll need to move it to a dummy org first. I'll reach out to you to coordinate this :)

[2020-07-14 07:21] nikhita commented on #1873
Repo has been migrated - https://github.com/kubernetes-sigs/seccomp-operator :tada:

Created:

- https://github.com/kubernetes/org/pull/2020 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4941 - to add the repo to sigs.yaml

@evrardjp is listed as an admin in the issue body but they are not a member of @kubernetes or @kubernetes-sigs. To be added as an admin,

[2020-07-14 07:39] nikhita commented on #2019
/assign

created https://github.com/kubernetes/org/pull/2021 :)

[2020-07-14 07:49] nikhita commented on #2017
@charleszheng44 thank you for all your contributions so far :)

We require that sponsors be reviewers/approvers for the orgs that they are sponsoring for. @Fei-Guo and @christopherhein can sponsor you for kubernetes-sigs, but cannot act as sponsors for the @kubernetes org. If you need membership to kubernetes, please create a new issue with additional sponsors.

To that end, I've created https://g

[2020-07-14 07:50] nikhita commented on #2016
@rrati thank you for all your contributions so far :)

You are already a member of the @kubernetes org. :smile:

I've created PR #2022 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-07-14 07:55] Bobgy opened #2023 "REQUEST: New membership for Bobgy"
### GitHub Username
@Bobgy

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-07-14 07:58] Bobgy commented on #2023
Per discussion in https://github.com/kubernetes/test-infra/pull/18122#issuecomment-655804414,

I need kubernetes group membership to help Kubeflow maintain its test infra on kubernetes/test-infra, to be added as OWNER, lgtm, approve, etc.

This is kind of awkward, because I don't contribute to kubernetes. Can we allow this exception case?

[2020-07-14 07:59] Bobgy commented on #2023
/cc @jlewi @BenTheElder

[2020-07-14 08:01] Bobgy commented on #2023
@jlewi what dev estimate would you give for moving to https://github.com/GoogleCloudPlatform/oss-test-infra?

probably after KF 1.1 release can be a good timing?

[2020-07-14 11:05] #2016 closed

[2020-07-14 11:05] #2017 closed

[2020-07-14 13:01] nikhita commented on #2023
@Bobgy What would be the blockers to get kubeflow stuff moved to https://github.com/GoogleCloudPlatform/oss-test-infra today?

[2020-07-14 18:52] jlewi commented on #2023
Hi @nikhita I don't think anything is blocking it.
@clarketm was working on it and he completed the first half of it.
https://github.com/kubernetes/test-infra/issues/14343#issuecomment-658351189

So biggest blocker is probably just figuring out what work remains and who has cycles to do it.

[2020-07-14 19:19] spiffxp opened #2026 "Request for new repository: kubernetes-sigs/secret-sync-rotation"
### New Repo, Staging Repo, or migrate existing
New repo

### Requested name for new repository
secret-sync-rotation

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
spiffxp, bentheelder

### If not a staging repo, who should have write access
spiffxp, bentheelder

### If not a staging repo, who should be listed as approvers in OWNER

[2020-07-14 20:11] cblecker commented on #2023
Yeah, I think the answer here is kubeflow should migrate off our prow instance: https://github.com/kubernetes/test-infra/issues/12863

[2020-07-14 20:32] GinnyJI opened #2028 "REQUEST: New membership for ginnyji"
### GitHub Username
@ginnyji

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-07-14 20:37] rjbez17 commented on #2028
+1

Welcome!

[2020-07-14 21:02] BenTheElder commented on #2026
+1, this will be super helpful work for WG-K8s and I expect some others may be interested in consuming this in the future.
We discussed this project in depth in the SIG meeting, no objections but some useful feedback :-)

Thanks for filing this @spiffxp

[2020-07-14 21:06] mrbobbytables commented on #2026
/assign

[2020-07-14 21:20] tashimi commented on #2028
+1 , thanks for all your work on HNC so far!

![tenor-199545472](https://user-images.githubusercontent.com/719646/87477537-1e98dc00-c5dd-11ea-8f63-c977d8cf9b36.gif)

[2020-07-14 21:29] mrbobbytables commented on #2026
Repo has been created: https://github.com/kubernetes-sigs/secret-sync-rotation
Teams have been created and added to the repo: https://github.com/kubernetes/org/pull/2029
Subproject was added to sigs.yaml: https://github.com/kubernetes/community/pull/4963

Once https://github.com/kubernetes/community/pull/4963 is merged, this should be good to close \o/

[2020-07-14 23:01] mrbobbytables commented on #2026
Everything is merged, going to go ahead and close 👍
/close

[2020-07-14 23:01] #2026 closed

[2020-07-14 23:02] BenTheElder commented on #2026
thank you!

On Tue, Jul 14, 2020 at 4:01 PM Bob Killen <notifications@github.com> wrote:

[2020-07-14 23:19] BenTheElder commented on #2023
clarketm has moved on.

I agree that kubeflow should migrate off.

On Tue, Jul 14, 2020 at 1:11 PM Christoph Blecker <notifications@github.com>
wrote:

[2020-07-14 23:56] jlewi commented on #2023
@cblecker @BenTheElder I think we are all in agreement that we want to move kubeflow off the kubernetes instance.

Should we close this PR and continue the discussion on kubernetes/test-infra#14343  to figure out what needs to happen next?

[2020-07-15 01:02] Bobgy commented on #2023
Thanks! Sounds good to me

[2020-07-15 01:02] #2023 closed

[2020-07-15 13:04] #2019 closed

[2020-07-15 15:18] richardcase opened #2033 "REQUEST: New membership for richardcase"
### GitHub Username
@richardcase

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-07-15 15:20] rudoi commented on #2033
+1 🎉

[2020-07-15 15:38] randomvariable commented on #2033
+1 :heart:

[2020-07-15 18:17] neolit123 commented on #2004
i'm putting this on hold until the next SIG CL meeting.
we had a discussion in the SIG CL slack channel and @timothysc expressed some concerns. i had the same originally, when this discussion started in 2019 (?). but given there is ownership of SIG CL (on paper, as per k/community sigs.yaml), it seemed like a natural move from incubator to k-sigs.

https://kubernetes.slack.com/archives/C13J86Z63/p

[2020-07-15 20:32] NicoleYson opened #2034 "REQUEST: New membership for @nicoleyson"
### GitHub Username
@nicoleyson

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-07-15 20:42] rudoi commented on #2034
👍 +1 yayayayay!

[2020-07-15 20:43] detiber commented on #2034
+1 from me as well

[2020-07-16 00:37] MushuEE opened #2035 "REQUEST: New membership for MushuEE"
### GitHub Username
@MushuEE

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2020-07-16 00:43] BenTheElder commented on #2035
+1, thanks Grant!

On Wed, Jul 15, 2020, 17:38 Kubernetes Prow Robot <notifications@github.com>
wrote:

[2020-07-16 00:55] justaugustus commented on #2035
+1! Welcome to the team, Grant!
/pony party

[2020-07-16 01:32] banthaherder commented on #2034
+1 from me too!

[2020-07-16 03:28] timothysc opened #2036 "Prune/shuffle projects under the kubernetes/*org"
Over the course of the last year and a half we've created a tiered organizational structure and sigs are responsible for their subprojects.  When inspecting the Kubernetes main org there is a lot of cruft repos that should either be shuffled to SIGs or moved to attic.

[2020-07-16 14:10] randomvariable commented on #2034
+1 from here!

[2020-07-16 17:33] mrbobbytables commented on #2028
Just for clarification are you looking for membership to kubernetes or kubernetes-sigs? It looks like kubernetes-sigs :x

[2020-07-16 17:46] mrbobbytables commented on #2033
@richardcase  , thank you for all your contributions so far :)

I've created PR #2037  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-07-16 17:47] mrbobbytables commented on #2034
@NicoleYson , thank you for all your contributions so far :)

I've created PR #2037  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-07-16 17:49] NicoleYson commented on #2034
Thanks!!! 😄

[2020-07-16 17:52] MushuEE commented on #2035
@mrbobbytables Thank you very much! love the handle btw.

[2020-07-16 17:52] #2033 closed

[2020-07-16 17:52] #2034 closed

[2020-07-16 17:52] #2035 closed

[2020-07-16 17:53] BenTheElder commented on #2035
Thank you! :-)

[2020-07-16 18:37] adrianludwin commented on #2028
That's right, it's k8s-sigs so she can work on wg-multitenancy

[2020-07-16 20:01] brahmaroutu opened #2039 "New repository for Container Object Storage Interface - controller and provisioner"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
container-object-storage-interface-controller (Container Object Storage Controller)
container-object-storage-interface-provisioner-sidecar (Provisioner logic to interface with COSI driver)

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@

[2020-07-16 20:02] brahmaroutu commented on #2039
/sig storage
/assign @xing-yang @saad-ali
ping @rrati @wlan0 Please review.

[2020-07-16 20:14] xing-yang commented on #2039
+1

[2020-07-16 21:12] michaelmdresser opened #2040 "REQUEST: New membership for michaelmdresser"
### GitHub Username
@michaelmdresser

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://

[2020-07-16 21:13] cblecker commented on #2040
+1, thanks for your contributions so far!

[2020-07-16 21:27] amwat commented on #2040
+1 thanks for all your work!
would also encourage getting membership into the kubernetes-sigs org as well with all your contributions to kubetest2

[2020-07-17 15:40] trutx opened #2042 "REQUEST: New membership for trutx"
### GitHub Username
@trutx

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-07-17 15:43] rudoi commented on #2042
+1! 😎

[2020-07-17 15:44] detiber commented on #2042
+1 from me

[2020-07-17 19:08] mattcary opened #2043 "REQUEST: New membership for mattcary"
### GitHub Username
mattcary

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-07-17 19:23] msau42 commented on #2043
+1

[2020-07-17 22:47] kkmsft commented on #2043
+1

[2020-07-20 10:40] nikhita commented on #1873
Repo has been added to sigs.yaml and teams have been granted access

/close

[2020-07-20 10:40] #1873 closed

[2020-07-20 11:28] nikhita commented on #2043
@mattcary For membership to the @kubernetes org, sponsors need to reviewers/approvers in any repo in the @kubernetes org.

@kkmsft is in an OWNERS file in the @kubernetes-csi repo but not in @kubernetes. If you'd like to proceed with membership to @kubernetes-csi, we can get you added now. If you need membership to @kubernetes, you'll need to add an additional sponsor.

[2020-07-20 11:34] nikhita commented on #2028
@GinnyJI, thanks for all your contributions to multitenancy so far :)

I've created PR #2049 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-07-20 11:35] nikhita commented on #2042
@trutx, thanks for all your contributions to cluster api so far :)

I've created PR #2049 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-07-20 11:36] nikhita commented on #2040
@michaelmdresser, thanks for all your help with test-infra \o/

I've created PR #2049  to add you to both the Kubernetes and Kubernetes SIGs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

/assign

[2020-07-20 11:46] #2040 closed

[2020-07-20 11:46] #2042 closed

[2020-07-20 11:46] #2028 closed

[2020-07-21 07:34] nikhita opened #2052 "Create tool for removing org members"
We intend to start doing a regular cleanup of inactive members (https://github.com/kubernetes/org/issues/2013, https://github.com/kubernetes/org/pull/2047).

Removing org members means removing them from the config files in this repo. Removing them manually is tedious so we need to create an automated tool that can help us do that.

https://github.com/kubernetes/org/pull/2048 has prior art in bash

[2020-07-21 13:33] xing-yang commented on #2043
+1

[2020-07-21 14:52] mattcary commented on #2043
Thank you all. I'm working on that.

On Tue, Jul 21, 2020, 06:33 Xing Yang <notifications@github.com> wrote:

[2020-07-21 16:10] nikhita commented on #2043
@xing-yang's +1 did the trick :)

I've created PR #2053 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-21 16:14] mattcary commented on #2043
Thank you Xing!

[2020-07-21 16:35] #2043 closed

[2020-07-21 16:59] brahmaroutu commented on #2039
@nikhita Please help us get these two repos created.

[2020-07-21 17:02] nikhita commented on #2039
/assign

will do in a bit

[2020-07-21 17:08] b01901143 opened #2054 "REQUEST: New membership for b01901143"
### GitHub Username
@b01901143

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-07-21 17:14] spiffxp commented on #2054
+1 from sponsor

[2020-07-21 17:30] mrbobbytables commented on #2054
+1 thanks for helping with the k8s-gsm-tools \o/

[2020-07-21 17:43] spiffxp commented on #2054
/assign

[2020-07-21 17:47] spiffxp commented on #2054
@b01901143, thanks for all your help with k8s-gsm-tools \o/

I've created PR #2055 to add you to both the Kubernetes and Kubernetes SIGs Orgs. Once that gets merged, you should get a membership invite notification from both of them.

Welcome to @kubernetes! 🎉

[2020-07-21 18:08] #2054 closed

[2020-07-22 05:37] nikhita commented on #2039
Repos have been created:
- https://github.com/kubernetes-sigs/container-object-storage-interface-controller
- https://github.com/kubernetes-sigs/container-object-storage-interface-provisioner-sidecar

Also created:
- https://github.com/kubernetes/org/pull/2057 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4984 - to add the repos to sigs.yaml

Once both PRs ge

[2020-07-22 09:51] sattarfeizollahibarough opened #2058 "REQUEST: New membership for sattarfeizollahibarough"
### GitHub Username
sattarfeizollahibarough

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goo

[2020-07-22 10:51] sftim commented on #2058
It's a :+1: from me @sattarfeizollahibarough

[2020-07-22 13:07] sattarfeizollahibarough commented on #2058
And I appreciate that :pray: @sftim

[2020-07-22 14:59] nikhita commented on #2039
Teams have been granted access and repo has been added to sigs.yaml. Closing.

[2020-07-22 14:59] #2039 closed

[2020-07-22 16:06] zacharysarah commented on #2058
The org should be `kubernetes` instead of `kubernetes-sigs`, otherwise +1 for our new Persian localization lead.

[2020-07-22 16:14] sftim commented on #2058
Ah yes, good spot @zacharysarah

[2020-07-22 16:20] sattarfeizollahibarough commented on #2058
I have modified that. @zacharysarah

[2020-07-22 16:32] andrewsykim commented on #1970
+1 from me!

[2020-07-23 00:06] tallclair commented on #1875
Copyright updated! https://github.com/tallclair/mdtoc/pull/2 (sorry it took me so long 🙄 )

How do we do the transfer?

[2020-07-23 00:21] brahmaroutu commented on #2039
Awesome, thanks for quick turnaround.

[2020-07-23 02:17] sbangari opened #2059 "REQUEST: New membership for sbangari"
### GitHub Username
sbangari

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-07-23 02:18] sbangari commented on #2059
/assign @michmike

[2020-07-23 02:18] sbangari commented on #2059
/assign @madhanrm

[2020-07-23 10:11] RainbowMango commented on #1970
Wouldn't it be better to have a full name? such as `multi-cluster-service-api`?

[2020-07-23 13:24] michmike commented on #2059
thank you for your contributions
/approve
+1

[2020-07-23 15:01] JeremyOT commented on #1970
I don't have strong preference for the name (multi-cluster-service-api would be fine), but shorter seems better

[2020-07-23 15:20] JeremyOT commented on #1970
/assign @pmorie

[2020-07-23 18:00] madhanrm commented on #2059
/approve
/lgtm

[2020-07-24 05:22] sattarfeizollahibarough commented on #2058
Hi guys, @zacharysarah @sftim
I hope you are doing well. I am sorry for bugging you. You have approved my membership request kindly, but the request is "open" now. What would be the next step? Thank you in advanced for your response.

[2020-07-24 09:29] nikhita commented on #2058
@sattarfeizollahibarough that would be on me :)

Thanks for kickstarting the Persian localization for docs! :100:

I've created PR #2061 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-24 09:29] nikhita commented on #2059
@sbangari thanks for your contributions so far :)

I've created PR #2061 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-24 10:40] #2058 closed

[2020-07-24 10:40] #2059 closed

[2020-07-24 17:39] sattarfeizollahibarough commented on #2058
@nikhita Thank you so much.

[2020-07-24 17:50] nikhita commented on #1875
Repo has been migrated -- https://github.com/kubernetes-sigs/mdtoc

@saschagrunert -- want to double check, does everyone in @kubernetes/test-infra-admins and @kubernetes/release-managers need admin access to this repo? That's a total of 18 members. Ideally, we prefer to keep admin access scoped to only a few folks -- usually it's the repo OWNERS.

[2020-07-24 20:34] guineveresaenger commented on #2052
/assign

I'd like to take this on!

[2020-07-24 21:41] tallclair commented on #1875
I'd like to add CI to the repo. Do we have a standard CI setup for kubernetes subprojects that can easily be enabled on this repo, or should I just add the GitHub golang action (just build & test)?

[2020-07-25 10:07] nikhita commented on #1875
You can use prow :smile:

https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#how-to-configure-new-jobs has detailed instructions on how to write a prowjob.

TLDR:

- You'll need to create a directory for `mdtoc` here - https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs
- Add a `mdtoc-presubmits.yaml` file with separate jobs for build/test similar to htt

[2020-07-27 18:14] Arhell opened #2065 "update sig-docs-ru member"
Add new review member
[PR](https://github.com/kubernetes/website/pull/22629)
[link](https://github.com/kubernetes/website/pull/22629#issuecomment-664357582)
/assign

[2020-07-27 22:02] tallclair commented on #1875
Thanks. Filed https://github.com/kubernetes-sigs/mdtoc/issues/3 for now, but I'll try to get to it later this week.

[2020-07-28 16:47] ellistarn opened #2068 "REQUEST: New membership for ellistarn"
### GitHub Username
@ellistarn

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-07-28 16:51] shyamjvs commented on #2068
+1

[2020-07-28 18:31] brett-elliott opened #2070 "REQUEST: New membership for brett-elliott"
### GitHub Username
brett-elliott

### Organization you are requesting membership in
Kubernetes

### Requirements
- [ x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2020-07-29 01:27] mytunguyen opened #2071 "REQUEST: New membership for mytunguyen"
### GitHub Username
@mytunguyen

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-07-29 11:21] Arhell commented on #2065
/assugn @Potapy4

[2020-07-29 11:21] Arhell commented on #2065
/assign @Potapy4

[2020-07-29 12:01] Arhell opened #2072 "REQUEST: membership for Arhell"
### GitHub Username
@Arhell

### Organization you are requesting membership in
[sig-docs website](https://github.com/kubernetes/website)

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e

[2020-07-29 12:02] Arhell commented on #2065
/close

[2020-07-29 12:02] #2065 closed

[2020-07-29 14:43] rudoi commented on #2071
+1

:100:

[2020-07-29 14:44] detiber commented on #2071
+1 from me as well, thank you @mytunguyen for all of your hard work :)

[2020-07-29 20:24] kmova commented on #1563
@mrbobbytables Looks good from the NFS provisioners side. Went ahead and tagged all the Open PRs with a note to migrate to new repo.

Btw, it is possible to move some of the open issues under that repo to the corresponding migrated repos prior to archiving it.

[2020-07-29 21:39] RaunakShah opened #2073 "REQUEST: New membership for RaunakShah"
### GitHub Username
@RaunakShah

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-07-29 21:52] msau42 commented on #2073
+1 Raunak has been making great scalability improvements in the kubernetes-csi project!

[2020-07-29 21:55] mrbobbytables commented on #1563
@kmova we can't transfer issues across orgs unfortunately :(

Maybe create new and just point to the closed issue as a reference?

[2020-07-30 00:42] xing-yang commented on #2073
+1 for @RaunakShah !

[2020-07-31 21:11] kmova commented on #1563
sounds good. Will do that.

[2020-08-01 11:40] idvoretskyi commented on #2072
@Arhell please mention your sponsors in the application and ask them to approve your request.

[2020-08-01 14:37] mrbobbytables commented on #2005
With the plan to spin out kube-aws would you still like to apply for membership or should this be closed? :x

[2020-08-01 14:37] mrbobbytables commented on #2007
With the plan to spin out kube-aws would you still like to apply for membership or should this be closed? :x

[2020-08-01 15:23] dominicgunn commented on #2005
Let's close this for now. II've got no immediate need for memebership given the spin-out of kube-aws.

[2020-08-01 15:23] #2005 closed

[2020-08-01 15:47] mrbobbytables commented on #2071
Hey there @mytunguyen , thank you for all your help with cluster-api :)

I've created PR #2075  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-08-01 15:47] mrbobbytables commented on #2073
@RaunakShah , thank you for all your contributions so far :)

I've created PR #2075  to add you to the Kubernetes-csi Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2020-08-01 19:49] #2071 closed

[2020-08-01 19:49] #2073 closed

[2020-08-02 01:07] mrbobbytables opened #2076 "Clean up of Inactive Members - August"
This is the list of [inactive members](https://github.com/kubernetes/community/blob/master/communitymembership.md#inactive-members) that are slated to be removed from our Github Orgs. They have had no devstats recorded since the beginning of 2019.

**Inactive members**
- abhi
- abrarshivani
- adityakali
- ajaeger
- alejandroesc
- alfred-huangjian
- arschles
- benjigoldberg
- bobsky
- brejoc
- caos

[2020-08-03 17:12] idvoretskyi commented on #2072
@Arhell my apologies, I've noticed that you are already an org member -https://github.com/kubernetes/org/blob/master/config/kubernetes/org.yaml#L87.

No need for this issue anymore, but thanks for submitting it.

/close

[2020-08-03 17:12] #2072 closed

[2020-08-04 12:44] MaciekPytel commented on #2068
+1

[2020-08-04 12:46] elmiko commented on #2068
+1

[2020-08-04 15:58] pmorie commented on #1970
I also prefer shorter, I'm +1 on creating this repo now that the direction seems to be reasonably settled.

[2020-08-04 16:09] JeremyOT commented on #1970
Thanks! I believe with that we have the approval we need

[2020-08-04 20:00] mboersma opened #2078 "REQUEST: New membership for mboersma"
### GitHub Username
@mboersma

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-08-04 20:23] CecileRobertMichon commented on #2078
Big +1 from me! 🎉

[2020-08-04 20:31] nader-ziada commented on #2078
+1 from me, thanks @mboersma for all the awesome work

[2020-08-05 09:16] nikhita opened #2081 "Create .github repo in all kubernetes GitHub orgs"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
`.github`

### Which Organization should it reside
all - @kubernetes, @kubernetes-sigs, @kubernetes-client, @kubernetes-csi

### If not a staging repo, who should have admin access
@kubernetes/owners

### If not a staging repo, who should have write access
NA

### If not a staging repo, who should

[2020-08-05 09:18] nikhita commented on #2081
@joelsmith @tallclair can you please check if the issue body matches your request?

[2020-08-05 16:28] joelsmith commented on #2081
Regarding `SECURITY_CONTACTS`, that files is specific to our project. GitHub only looks in the .github repo for the specific [Community Health files](https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file#supported-file-types) that it cares about. So `SECURITY_CONTACTS` would just be for the new .github repos, and wouldn't affect other repos in the o

[2020-08-05 17:15] nikhita commented on #2081
Update from today's contribex meeting - SIG Contribex is +1 to this. We'd want contribex to own this repo (I'll sync with steering on moving ownership of kubernetes-template-project to contribex too).

Since this would involve creating a new repo in the @kubernetes GitHub org, we'll need approval from SIG Arch. I'll reach out to them on the SIG Arch mailing list.

[2020-08-05 20:42] jsturtevant opened #2083 "REQUEST: New membership for jsturtevant"
### GitHub Username
@jsturtevant

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2020-08-05 20:51] chewong commented on #2083
+1

[2020-08-06 00:01] ddebroy commented on #2083
+1 to @jsturtevant 's request for membership. James has been an active contributor to sig-windows.

[2020-08-06 00:25] justaugustus commented on #2083
+1!

[2020-08-06 11:20] nikhita commented on #2081
Sent an email to the SIG Arch mailing list - https://groups.google.com/g/kubernetes-sig-architecture/c/FspTL3KGgJY

[2020-08-06 19:16] ykakarap opened #2084 "REQUEST: New membership for @ykakarap"
### GitHub Username
@ykakarap

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2020-08-06 19:18] nikhita commented on #2084
Big +1 from me! :tada:

/woof

[2020-08-06 19:24] apelisse commented on #2084
+1

[2020-08-06 19:51] nikhita commented on #2068
@ellistarn thanks for all your contributions with SIG Autoscaling :)

I've created PR #2086 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-08-06 19:51] nikhita commented on #2078
@mboersma thanks for all your contributions with cluster api  :)

I've created PR #2086 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-08-06 19:52] nikhita commented on #2083
@jsturtevant thanks for all your contributions so far :)

I've created PR #2086 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-08-06 19:52] nikhita commented on #2084
@ykakarap thanks for all your contributions so far :)

I've created PR #2086 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-08-06 19:57] #2068 closed

[2020-08-06 19:57] #2078 closed

[2020-08-06 19:57] #2083 closed

[2020-08-06 19:57] #2084 closed

[2020-08-06 21:13] michaelkolber opened #2087 "REQUEST: New membership for michaelkolber"
### GitHub Username
@michaelkolber

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-08-06 21:16] spiffxp commented on #2087
+1 from sponsor

[2020-08-06 21:39] dims commented on #2087
+1 from me!

[2020-08-06 22:23] spiffxp commented on #2087
/assign

[2020-08-06 22:40] spiffxp commented on #2087
@michaelkolber thanks for all your contributions so far :)

I've created PR #2088 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/meow

[2020-08-06 23:14] #2087 closed

[2020-08-07 02:31] nasa9084 opened #2089 "update sig-docs-ja member"
* Add new review member
* Remove inactive review/approve member

https://github.com/kubernetes/website/blob/master/OWNERS_ALIASES#L116-L127

/assign

[2020-08-07 09:50] nikhita commented on #1970
/assign

[2020-08-07 09:58] nikhita commented on #1970
Repo has been created - https://github.com/kubernetes-sigs/mcs-api

Also created:
- https://github.com/kubernetes/org/pull/2090 - to add GitHub teams for granting access
- https://github.com/kubernetes/community/pull/5012 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-08-07 10:09] saschagrunert commented on #1875
I think the release manager do not need admin access to the repo, but the `sig-release-leads`. Since the project would be only used in k/enhancements and k/release for now I think that would be the only group to add.

[2020-08-07 10:09] nikhita commented on #1563
/assign

Based on https://github.com/kubernetes/org/issues/1563#issuecomment-665906972, I am going to go ahead and archive the repo. Archiving the repo doesn't delete the repo, just makes it read-only. Code can still be moved. :+1:

[2020-08-07 10:43] saschagrunert commented on #1875
Proposed the change here: https://github.com/kubernetes-sigs/mdtoc/pull/5

[2020-08-07 11:16] #1875 closed

[2020-08-07 11:46] nikhita commented on #2081
/assign

We have lgtm on the SIG Arch list from two chairs. Going to go ahead with repo creation.

[2020-08-07 12:22] evanap opened #2093 "REQUEST: New membership for @evanap"
### GitHub Username
@evanap

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-08-07 12:36] nikhita commented on #2081
Repos have been created:

- https://github.com/kubernetes/.github
- https://github.com/kubernetes-sigs/.github
- https://github.com/kubernetes-csi/.github
- https://github.com/kubernetes-client/.github

Also verified that the security policy shows up in the "Security" tab.

Not creating new GitHub teams for granting access since @kubernetes/owners have implicit admin access over the repo anyway.

[2020-08-07 12:43] wahyuoi commented on #2093
+1 from me 🎉

[2020-08-07 12:59] nikhita commented on #1563
Repo has been archived - https://github.com/kubernetes-retired/external-storage

Created https://github.com/kubernetes/community/pull/5016 to remove from sigs.yaml

GitHub teams in the kubernetes-incubator org will be removed once we sunset the org (see https://github.com/kubernetes/org/pull/2094 for more details).

[2020-08-07 13:05] nikhita commented on #1563
Sent a notice to k-dev and sig storage mailing lists - https://groups.google.com/g/kubernetes-dev/c/rtvM7VS0FLY

[2020-08-07 13:35] nikhita commented on #1563
https://github.com/kubernetes/community/pull/5016 has merged. Closing :tada:

[2020-08-07 13:35] #1563 closed

[2020-08-07 16:23] paulczar commented on #2076
Just a heads up on the general experience of being removed...  I was (unknown to me) on this list and if it hadn't been for @castrojo mentioning it to me in passing ( while ironically I was working on a pair [1](https://github.com/kubernetes/website/pull/22934) [2](https://github.com/kubernetes/examples/pull/393) of k8s PRs on monday ) I would have had no clue that this was happening apart from th

[2020-08-07 20:45] mrbobbytables commented on #2076
Hey there @paulcza,
The ping was missed on my part with this, but the long term plan is to eventually automate this process (members being removed won't receive a ping). We updated our [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#inactive-members) outlining who is defined as inactive and how it is counted. For reference, we use [devs

[2020-08-08 09:44] jackielii opened #2095 "REQUEST: New membership for jackielii"
### GitHub Username
e.g. @jackielii

### Organization you are requesting membership in
e.g. kubernetes-sigs/nfs-subdir-external-provisioner

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-de

[2020-08-08 16:49] kmova commented on #2095
+1

[2020-08-09 02:52] Nuru commented on #1563
@nikhita Where has support for EFS Provisioner moved to, or has it been abandoned?

[2020-08-09 03:02] mrbobbytables commented on #1563
@Nuru The EFS driver in external storage was deprecated. For future work, please see the efs csi driver:
https://github.com/kubernetes-sigs/aws-efs-csi-driver

[2020-08-10 11:11] nikhita commented on #2081
https://github.com/kubernetes/community/pull/5015 has merged. Closing 🎉

[2020-08-10 11:11] #2081 closed

[2020-08-10 11:23] nikhita commented on #1970
https://github.com/kubernetes/community/pull/5022 has merged. Closing.

[2020-08-10 11:23] #1970 closed

[2020-08-10 18:12] wongma7 commented on #2095
+1

[2020-08-10 18:27] ZhiFeng1993 opened #2096 "REQUEST: New membership for ZhiFeng1993"
### GitHub Username
@ZhiFeng1993

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-08-10 18:29] spiffxp commented on #2096
+1 from sponsor

[2020-08-10 19:13] alejandrox1 commented on #2096
huge +1 as well

[2020-08-11 04:42] #2089 closed

[2020-08-11 06:56] zouyee commented on #2052
great

[2020-08-11 13:24] mrbobbytables commented on #2004
Following up - It was decided to spin kube-aws out of incubator into its own project.
ref: https://groups.google.com/u/1/g/kubernetes-sig-contribex/c/YhFV68db9t8

Is there any other next steps before we can archive the current repo?

[2020-08-11 13:25] mrbobbytables commented on #2007
Going to go ahead and close as kube-aws has been spun out. If you'd still like to pursue kubernetes-sigs org membership, please go ahead and reopen 👍
/close

[2020-08-11 13:25] #2007 closed

[2020-08-11 13:32] neolit123 commented on #2004
there are pending questions on the mailing list(s) here:
https://groups.google.com/forum/#!topic/kubernetes-sig-cluster-lifecycle/zNHDdCUVh8w
contribex is on CC and one of the maintainers asked some questions.

@nikhita should also have some context about this.

let's close this ticket as it is no longer the plan forward.
/close

[2020-08-11 13:32] #2004 closed

[2020-08-11 19:13] elweb9858 opened #2097 "REQUEST: New membership for elweb9858"
### GitHub Username
@elweb9858

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-08-11 19:14] elweb9858 commented on #2097
/assign @madhanrm

[2020-08-11 19:14] elweb9858 commented on #2097
/assign @michmike

[2020-08-11 20:17] madhanrm commented on #2097
/approve
/lgtm

[2020-08-12 10:18] mrbobbytables commented on #2070
cc @gjtempleton @MaciekPytel

[2020-08-12 10:38] mrbobbytables commented on #2095
@jackielii , thank you for your help with the nfs-external-provisioner :)

I've created PR #2101  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-08-12 10:39] mrbobbytables commented on #2096
@ZhiFeng1993 , thank you for all your contributions so far :)

I've created PR #2101  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-08-12 11:11] #2095 closed

[2020-08-12 11:11] #2096 closed

[2020-08-12 11:27] MaciekPytel commented on #2070
Sorry, I missed the PR. +1 from me, thanks for your ongoing contributions @brett-elliott

[2020-08-12 13:00] michmike commented on #2097
+1 thanks for your contributions
/approve
/lgtm

[2020-08-12 14:00] gjtempleton commented on #2070
+1 from me as well, thanks for your contributions so far, and look forward to seeing your future ones @brett-elliott !

[2020-08-12 22:02] kasramp opened #2103 "REQUEST: New membership for kasramp"
### GitHub Username
@kasramp

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-08-12 23:14] zacharysarah commented on #2103
+1, thanks for helping with Persian localization!

[2020-08-13 08:53] sftim commented on #2103
:+1:, thanks for helping with Persian localization!

[2020-08-13 11:38] ArangoGutierrez opened #2104 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username
ArangoGutierrez

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-08-13 13:23] FaezeAzimi opened #2105 "REQUEST: New membership for FaezeAzimi"
### GitHub Username
@FaezeAzimi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-08-13 16:00] zacharysarah commented on #2105
+1, thanks for contributing to the Persian localization!

[2020-08-13 16:03] zvonkok commented on #2104
+1

[2020-08-13 17:58] marquiz commented on #2104
+1

[2020-08-14 08:41] sftim commented on #2105
:+1: from me

[2020-08-14 11:21] SomtochiAma opened #2107 "REQUEST: New membership for SomtochiAma"
### GitHub Username
@SomtochiAma

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-08-14 16:52] savitharaghunathan commented on #2070
Hi @brett-elliott 👋, Thanks for all your help with autoscaler :)

I've created PR #2108  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes!  🎉

/assign

[2020-08-14 16:56] savitharaghunathan commented on #2097
Hi @elweb9858  👋, Thanks for all your contributions to kubernetes :)

I've created PR #2108 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes!  🎉

/assign

[2020-08-14 16:57] savitharaghunathan commented on #2103
Hi @kasramp 👋, Thanks for all your help with k/website localization effort :)

I've created PR #2108 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes!  🎉

/assign

[2020-08-14 16:58] savitharaghunathan commented on #2105
Hi @FaezeAzimi 👋, Thanks for all your help with k/website localization effort :)

I've created PR #2108 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes!  🎉

/assign

[2020-08-15 00:20] #2070 closed

[2020-08-15 00:20] #2097 closed

[2020-08-15 00:20] #2103 closed

[2020-08-15 00:20] #2105 closed

[2020-08-15 15:57] phanama commented on #2093
+1 from me
Evan's contribution effort has been really beneficial for sig-docs-id's progress 👍

[2020-08-16 03:48] jpeach opened #2111 "REQUEST: New membership for jpeach"
### GitHub Username
@jpeach

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-08-16 17:00] robscott commented on #2111
👍 Thanks for all your help with Service APIs!

[2020-08-17 02:04] youngnick commented on #2111
👍 from me too.

[2020-08-17 02:05] mowangdk opened #2112 "REQUEST: New membership for mowangdk"
### GitHub Username
@mowangdk

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-08-17 02:09] fredkan commented on #2112
+1 @mowangdk make great help on csi-driver. Thanks.

[2020-08-17 02:43] zhangxiaoyu-zidif commented on #2112
+1

[2020-08-17 06:10] xianlubird commented on #2112
+1

[2020-08-17 14:44] stealthybox commented on #2107
+1
It is terrific working with you @SomtochiAma

[2020-08-17 14:59] justinsb commented on #2107
Big +1 from me also

[2020-08-17 19:54] jhvhs opened #2113 "REQUEST: New membership for @jhvhs"
### GitHub Username
@jhvhs

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-08-17 20:55] #2093 closed

[2020-08-17 20:55] #2107 closed

[2020-08-17 20:55] #2111 closed

[2020-08-17 20:55] #2112 closed

[2020-08-17 21:11] ameukam commented on #2107
Hi @SomtochiAma, thank you for all your contributions so far :)

I've created #2114 to add you to the Kubernetes-sigs Org. Now it's merged, you should have received a membership invitation notification.

Welcome to @kubernetes-sigs! :tada:

[2020-08-17 21:12] ameukam commented on #2112
Hi @mowangdk, thank you for all your contributions so far :)

I've created #2114 to add you to the Kubernetes-sigs Org. Now it's merged, you should have received a membership invitation notification.

Welcome to @kubernetes-sigs! :tada:

[2020-08-17 21:12] ameukam commented on #2111
Hi @jpeach, thank you for all your contributions so far :)

I've created #2114 to add you to the Kubernetes-sigs Org. Now it's merged, you should have received a membership invitation notification.

Welcome to @kubernetes-sigs! :tada:

[2020-08-17 21:14] ameukam commented on #2093
Hi @evanap, thank you for all your contributions so far :)

I've created #2114 to add you to the Kubernetes Org. Now it's merged, you should have received a membership invitation notification.

Welcome to @kubernetes! :tada:

[2020-08-17 23:54] jberkhahn commented on #2113
:+1: from me

[2020-08-18 15:57] hoegaarden commented on #2113
:+1:

[2020-08-19 02:06] tabbysable opened #2116 "REQUEST: New membership for @tabbysable"
### GitHub Username
@tabbysable

### Organization you are requesting membership in
kubernetes, kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-08-19 02:12] celestehorgan commented on #2116
+1

/honk

[2020-08-19 02:18] justaugustus commented on #2116
+1 BIG HONK

/pony party

[2020-08-19 16:08] tallclair commented on #2116
+1 from me!

[2020-08-19 18:09] EleanorRigby opened #2117 "REQUEST: New membership for eleanorrigby"
### GitHub Username
@eleanorrigby

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2020-08-19 18:32] codenrhoden commented on #2117
A big +1 from me. @EleanorRigby has been instrumental in moving `kubernetes-sigs/image-builder` forward!

[2020-08-19 20:37] CecileRobertMichon commented on #2117
+1 !

Thanks for all your contributions to image-builder @EleanorRigby!

[2020-08-20 08:00] saschagrunert commented on #1474
/remove-lifecycle rotten

[2020-08-20 14:41] rsmitty opened #2119 "REQUEST: New membership for @rsmitty"
### GitHub Username
@rsmitty

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [ x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-08-20 14:44] rsmitty commented on #2119
Applying for this with the goal of helping maintian the Cluster API Provider GCP project.

[2020-08-20 14:46] detiber commented on #2119
+1 from me, @rsmitty has been a great addition to the Cluster API subproject community

[2020-08-20 15:45] andrewrynhard commented on #2119
+1

[2020-08-21 19:04] CecileRobertMichon opened #2122 "Netlify site request for CAPZ"
### Repository
kubernetes-sigs/cluster-api-provider-azure

### Project domain
capz.sigs.k8s.io

NOTE: Must match domain request.
See subproject site request docs for more information:
http://git.k8s.io/community/github-management/subproject-site-requests.md#subproject-domain-request

### Additional context for request
Any additional information or links to discussions regarding the request.
https:

[2020-08-21 20:59] anthonyrtong opened #2123 "REQUEST: New membership for anthonyrtong"
### GitHub Username
@anthonyrtong

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-08-23 08:01] #2123 closed, assigned to palnabarun

[2020-08-23 17:12] savitharaghunathan commented on #2116
Hi @tabbysable 👋, Thank you for all the contributions to K8s ecosystem and for your POC's on the recent k8s CVE's. I have bookmarked them to try it out sometime soon.

I've created PR #2127 to add you to the @kubernetes & @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-08-23 17:23] #2116 closed

[2020-08-23 18:09] phoenixking25 opened #2128 "REQUEST: New membership for phoenixking25"
### GitHub Username
@phoenixking25

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-08-23 20:15] #1051 closed

[2020-08-24 06:27] marquiz commented on #2104
Welcome @ArangoGutierrez 😄

[2020-08-24 13:28] rjbez17 commented on #2128
+1

Welcome!!!

[2020-08-24 13:32] nikhita commented on #2128
+1

/woof

[2020-08-24 14:29] JimBugwadia commented on #2128
+1

[2020-08-24 16:02] palnabarun commented on #2128
@phoenixking25, thank you for all your contributions so far to the Multitenancy Working Group :)

I've created PR #2129 to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

/honk

[2020-08-24 18:29] Divya063 opened #2130 "REQUEST: New membership for Divya063"
### GitHub Username
@Divya063

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-08-24 18:46] rjbez17 commented on #2130
+1

Welcome!!

[2020-08-24 19:14] justaugustus opened #2131 "Migration request: chuckha/downloadkubernetes --> Release Engineering"
### New Repo, Staging Repo, or migrate existing
Migrate existing: https://github.com/chuckha/downloadkubernetes

### Requested name for new repository
downloadkubernetes

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
SIG Release leads (@justaugustus, @tpepper, @alejandrox1, @saschagrunert)

### If not a staging repo, who should hav

[2020-08-24 19:16] justaugustus commented on #2131
PTAL @kubernetes/owners -- Much of the migration administrivia from Chuck's side has already been completed: adding LICENSES, OWNERS, CLA

[2020-08-24 19:20] saschagrunert commented on #2131
LGTM 👍

[2020-08-24 19:32] mauilion commented on #2131
This would be great. I'd love to see this be the "browser based" landing page for dl.k8s.io and setup header filtering there so that anything not a browser would kick to the existing link.

[2020-08-24 19:43] jimangel commented on #2131
This is great! I'm happy to help support this from a Docs perspective. It definitely ties into the work @sftim has been doing in https://github.com/kubernetes/website/pull/22736.

Issue ref: https://github.com/kubernetes/website/issues/20293

[2020-08-24 20:07] JimBugwadia commented on #2130
+1

[2020-08-25 04:41] palnabarun commented on #2130
@Divya063, thank you for all your contributions to the Multitenancy Working Group :)

I've created PR #2129 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

/honk

[2020-08-25 07:22] cpanato commented on #2131
this is awesome!
LGTM

[2020-08-25 08:02] nikhita commented on #2131
@chuckha can you also add [CONTRIBUTING.md](https://github.com/kubernetes/kubernetes-template-project/blob/master/CONTRIBUTING.md), SECURITY_CONTACTS and add this section - https://github.com/kubernetes/kubernetes-template-project#community-discussion-contribution-and-support - to the README?

Once that's done, please transfer the repo to https://github.com/kubernetes-purgatory and I can then tran

[2020-08-25 09:58] thebsdbox opened #2133 "REQUEST: New membership for thebsdbox"
### GitHub Username
@thebsdbox (Dan Finneran)

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2020-08-25 10:00] gianarb commented on #2133
+1

[2020-08-25 10:02] deitch commented on #2133
Definitely! +1

[2020-08-25 10:03] justaugustus commented on #2133
+1!

[2020-08-25 10:05] nikhita commented on #2133
Should the org be @kubernetes or @kubernetes-sigs in the issue body? I noticed https://github.com/kubernetes/org/pull/2134 adds @thebsdbox to k-sigs.

[2020-08-25 10:07] gianarb commented on #2133
Yes @nikhita ! @thebsdbox is updating the issue body! Thanks

[2020-08-25 10:07] thebsdbox commented on #2133
Apologies, updated 👍

[2020-08-25 10:10] #2133 closed

[2020-08-25 16:11] chuckha commented on #2131
@nikhita done & transferred!

[2020-08-25 18:45] Shell32-Natsu opened #2135 "REQUEST: New membership for @Shell32-natsu"
### GitHub Username
@Shell32-natsu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-08-25 20:20] #2128 closed

[2020-08-25 20:20] #2130 closed

[2020-08-25 20:32] nikhita commented on #2131
Repo has been transferred - https://github.com/kubernetes-sigs/downloadkubernetes

- https://github.com/kubernetes/community/pull/5070 - to add to sigs.yaml
- https://github.com/kubernetes/org/pull/2136 - to add GitHub teams

[2020-08-25 21:49] nikhita commented on #2131
Repo has been migrated and added to sigs.yaml, and teams have been granted access :)

[2020-08-25 21:49] #2131 closed

[2020-08-25 21:51] justaugustus commented on #2131
/sig release
/area release-eng

[2020-08-26 18:49] mrbobbytables commented on #2122
The site has been created and is available here:
https://kubernetes-sigs-cluster-api-provider-azure.netlify.app/

At this point a PR needs to be opened in https://github.com/kubernetes/k8s.io to add the domain. Once that PR is merged, I can finish configuring the netlify site 👍

/assign

[2020-08-26 22:19] CecileRobertMichon commented on #2122
Filed https://github.com/kubernetes/k8s.io/issues/1182

[2020-08-27 22:59] e-blackwelder opened #2144 "REQUEST: New membership for e-blackwelder"
### GitHub Username
@e-blackwelder

### Organization you are requesting membership in
@kubernetes

### Requirements
- [+] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [+] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [+] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-08-27 23:00] hasheddan commented on #2144
+1 from me! :tada:

[2020-08-27 23:03] spiffxp commented on #2144
+1 from sponsor

[2020-08-27 23:04] spiffxp commented on #2144
/assign

[2020-08-27 23:12] spiffxp commented on #2144
Hi @e-blackwelder, thanks for all your contributions so far!

I've created PR #2145 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/meowvie

[2020-08-27 23:40] #2144 closed

[2020-08-28 12:08] hickeyma opened #2146 "REQUEST: New membership for hickeyma"
### GitHub Username
@hickeyma

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-08-28 12:10] hickeyma commented on #2146
Hi @feiskyer. Would you mind sponsoring me for kubernetes-sig membership? Sorry for asking in the request but I was unable to make contact with otherwise.

[2020-08-28 12:11] saschagrunert commented on #2146
+1 :partying_face:

[2020-08-28 12:22] mrbobbytables commented on #2146
+1 from me :D

[2020-08-28 15:36] soulxu opened #2147 "REQUEST: New membership for soulxu"
### GitHub Username
@soulxu

### Organization you are requesting membership in
@kubernetes

### Requirements
* [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-08-28 15:40] Huang-Wei commented on #2147
+1 and looking forward to seeing more contributions!

[2020-08-28 17:35] ameukam commented on #2052
/assign

[2020-08-28 17:36] guineveresaenger commented on #2052
🙌

[2020-08-28 19:29] ameukam commented on #2052
@nikhita @mrbobbytables How the list of inactive members will be provided to the new tool ?

[2020-08-28 19:53] savitharaghunathan commented on #2146
Hi @hickeyma 👋 , Thanks for all your contributions to cri-tools :)

I've created PR #2148 to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-08-28 20:21] gabbifish opened #2149 "REQUEST: New membership for gabbifish"
### GitHub Username
@gabbifish

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-08-28 20:35] pwittrock commented on #2149
/lgtm

[2020-08-28 21:18] pwittrock commented on #2149
Thanks @gabbifish for all your hard work :)

[2020-08-28 21:29] camilamacedo86 commented on #2149
/lgtm

[2020-08-29 00:16] savitharaghunathan commented on #2135
Pinging @monopole @pwittrock

[2020-08-29 00:24] savitharaghunathan commented on #2149
Hi @gabbifish  👋 , Thanks for all your contributions to kubebuilder :)

I've created PR #2148 to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-08-29 00:25] pwittrock commented on #2135
/lgtm

[2020-08-29 12:57] #2146 closed

[2020-08-29 12:57] #2149 closed

[2020-08-30 12:37] feiskyer commented on #2146
+1 (sorry for the late response)

[2020-08-30 12:38] chendave commented on #2147
+1 warmly welcome onboard!

[2020-08-30 13:15] soulxu commented on #2147
@Huang-Wei @chendave thank you guys!

[2020-08-31 02:02] fengzixu opened #2150 "REQUEST: New membership for fengzixu"
### GitHub Username

@fengzixu

### Organization you are requesting membership in
e.g. @kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-08-31 02:02] fengzixu commented on #2150
/assign @xing-yang @NickrenREN

[2020-08-31 02:20] xing-yang commented on #2150
+1 !
@fenglixa is doing a lot of work for external-health-monitor.

[2020-08-31 08:38] hickeyma commented on #2146
Thank you @saschagrunert and @feiskyer for sponsorship and support in the project.

Thank you @mrbobbytables for the +1.

Thank you @savitharaghunathan for creating and merging the the PR for membership.

[2020-08-31 09:14] bmelbourne opened #2151 "REQUEST: New membership for bmelbourne"
### GitHub Username
@bmelbourne

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-08-31 09:17] floryut commented on #2151
+1
Lots of good contributions and involvement from Barry, keep it up 👍

[2020-08-31 10:05] Miouge1 commented on #2151
+1 👍

[2020-08-31 18:50] abraaojs opened #2152 "REQUEST: New membership for https://github.com/abraaojs"
### GitHub Username
e.g. (at)example_user

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2020-08-31 20:20] displague opened #2153 "REQUEST: New membership for displague"
### GitHub Username
@displague

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-08-31 20:28] hasheddan commented on #2153
+1 from me! :tada:

[2020-08-31 20:46] detiber commented on #2153
+1 from me

[2020-09-01 00:01] ameukam commented on #2147
Hi @soulxu, thank you for all your contributions so far :)

I've created the PR https://github.com/kubernetes/org/pull/2154 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

[2020-09-01 00:02] ameukam commented on #2150
Hi @fengzixu, thank you for all your contributions so far :)

I've created the PR https://github.com/kubernetes/org/pull/2154 to add you to the @kubernetes-csi. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! :tada:

[2020-09-01 00:02] ameukam commented on #2151
Hi @bmelbourne, thank you for all your contributions so far :)

I've created the PR https://github.com/kubernetes/org/pull/2154 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

[2020-09-01 00:04] ameukam commented on #2153
Hi @displague, thank you for all your contributions so far :)

I've created the PR https://github.com/kubernetes/org/pull/2154 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get membership invites notifications.

Welcome! :tada:

[2020-09-01 01:40] monopole commented on #2135
/lgtm

[2020-09-01 01:40] monopole commented on #2135
yes please :)

[2020-09-01 03:55] nikhita commented on #2151
@bmelbourne :wave: did you want to request membership to @kubernetes-sigs instead of @kubernetes (since kubespray is in k-sigs)?

If your original request stands and you need membership to @kubernetes, you'll need additional sponsors because all sponsors need to be in an OWNERS file in the @kubernetes org. If it's just @kubernetes-sigs, we can go ahead with the request. :)

[2020-09-01 05:54] cwdsuzhou opened #2156 "REQUEST: New membership for cwdsuzhou"
### GitHub Username

cwdsuzhou

### Organization you are requesting membership in

kubernetes-sigs

I'm a kubernetes org member and I am working on scheduler-plugins (coscheduling with PodGroup CRD， https://github.com/kubernetes-sigs/scheduler-plugins/pull/42), I would like to be a member to help me submit code more conveniently.

Thanks!

[2020-09-01 08:19] bmelbourne commented on #2151
Yes, it's just https://github.com/kubernetes-sigs thanks

[2020-09-01 08:53] deitch opened #2157 "REQUEST: New membership for deitch"
### GitHub Username

@deitch

### Organization you are requesting membership in

@kubernetes

### Requirements

- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-09-01 10:00] pacoxu opened #2158 "REQUEST: New membership for pacoxu"
### GitHub Username
pacoxu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-09-01 10:11] #2147 closed

[2020-09-01 10:11] #2150 closed

[2020-09-01 10:11] #2151 closed

[2020-09-01 10:11] #2153 closed

[2020-09-01 11:46] gianarb commented on #2157
welcome!

[2020-09-01 13:34] d-mo opened #2159 "REQUEST: New membership for d-mo"
### GitHub Username
@d-mo

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-09-01 13:37] detiber commented on #2159
+1 from me

[2020-09-01 13:40] ncdc commented on #2157
👍

[2020-09-01 13:46] liggitt commented on #2157
👍

[2020-09-01 13:52] mwielgus commented on #2159
+1 from me

[2020-09-01 14:39] soulxu commented on #2147
@ameukam, thanks!

[2020-09-01 16:27] CecileRobertMichon commented on #2122
@mrbobbytables https://github.com/kubernetes/k8s.io/pull/1197 has merged.

 We ended up changing the domain name to `capz.sigs.k8s.io`, hope that's okay.

[2020-09-01 17:37] #2135 closed

[2020-09-01 17:37] #2157 closed

[2020-09-01 17:37] #2159 closed

[2020-09-01 17:40] savitharaghunathan commented on #2135
Hi @Shell32-Natsu 👋 , Thank you for contributing to kustomize :)

I've created PR #2160 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-01 17:41] savitharaghunathan commented on #2157
Hi @deitch 👋 , Thank you for your contributions.

I've created PR #2160 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-01 17:41] savitharaghunathan commented on #2159
Hi, @d-mo 👋 Thank you for all your contributions :)

I've created PR #2160 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-01 18:39] Huang-Wei commented on #2156
+1!

@cwdsuzhou has contributed over 50+ PRs to k/k, and now is actively working in both default scheduler and the scheduler-plugins subrepo.

BTW: @cwdsuzhou it'd be good to follow the membership template (e.g., #2147) to list all PRs/reviews you have done:

- 56 merged PRs: https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+is%3Amerged+author%3Acwdsuzhou
- 83 reviewed PRs: https://github.c

[2020-09-01 19:40] v-pap opened #2162 "REQUEST: New membership for v-pap"
### GitHub Username
@v-pap

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-09-01 20:00] detiber commented on #2162
+1 from me

[2020-09-01 20:21] mwielgus commented on #2162
+1

[2020-09-02 01:25] zhouya0 commented on #2158
/lgtm
Thanks for contributions!

[2020-09-02 07:42] answer1991 opened #2165 "REQUEST: New membership for answer1991"
### GitHub Username
answer1991

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-09-02 07:44] answer1991 commented on #2165
I'm talking to another sponsor, I will update the issue after he agrees.

[2020-09-02 07:50] wojtek-t commented on #2165
+1

[2020-09-02 19:51] palnabarun commented on #2156
@cwdsuzhou -- Thank you for all that you have been doing for the scheduling projects. :tada:

I see that you are already a member of @kubernetes. Since you are requesting for membership to @kubernetes-sigs, you can just PR yourself into https://github.com/kubernetes/org/blob/master/config/kubernetes-sigs/org.yaml by mentioning your contributions in the PR body.

For more details, please have a loo

[2020-09-02 19:51] palnabarun commented on #2156
/assign

[2020-09-02 20:02] palnabarun commented on #2158
@pacoxu, thank you for all your contributions so far :)

I've created PR #2168 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-09-02 20:02] palnabarun commented on #2162
@v-pap, thank you for all your contributions so far :)

I've created PR #2168 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-09-02 20:47] brendandburns opened #2169 "Please remove mbohlool from java-admins"
### Organization or repository
kubernetes-client/java

### Users affected
mbohlool

### Describe the issue
mbohlool has been inactive on the repository for a long time but continues to be assigned to issues and PRs by the github automation, removing him from the java-admins group will help eliminate this.

[2020-09-02 20:49] brendandburns commented on #2169
cc @mbohlool

[2020-09-03 02:39] cwdsuzhou commented on #2156
Thanks @palnabarun

[2020-09-03 02:48] cwdsuzhou commented on #2156
https://github.com/kubernetes/org/pull/2171

@palnabarun PR sent, PTAL thanks

[2020-09-03 02:49] resouer commented on #2165
+1

[2020-09-03 08:20] justaugustus opened #2172 "Repo donation: Pluies/zeitgeist --> Release Engineering"
### New Repo, Staging Repo, or migrate existing
https://github.com/Pluies/zeitgeist

### Requested name for new repository
zeitgeist

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@kubernetes/sig-release-admins

### If not a staging repo, who should have write access
@kubernetes/sig-release-admins + @Pluies

### If not a staging re

[2020-09-03 08:24] justaugustus commented on #2172
cc: @kubernetes/owners
/assign @nikhita

[2020-09-03 08:35] nikhita commented on #2172
Needs the following things before we can transfer the repo:

- The Kubernetes boilerplate header needs to be added to all files - https://github.com/kubernetes/kubernetes/tree/master/hack/boilerplate

- Template files like code-of-conduct, etc need to be added. Also, needs addition of this section - https://github.com/kubernetes/kubernetes-template-project#community-discussion-contribution-and-sup

[2020-09-03 08:35] nikhita commented on #2172
Ah, just saw that https://github.com/Pluies/zeitgeist/pull/7 addressed the second point. Thanks @justaugustus!

[2020-09-03 08:38] justaugustus commented on #2172
@nikhita -- I purposely skipped this part, as our docs mention this can be added shortly after migration. More so, legally, I wasn't sure if that needed to be added by the repo owner. If it's actually cool for me to add it, I can update the PR with the boilerplate text.

[2020-09-03 08:43] nikhita commented on #2172
Yes, we can technically do this after migration as well. Ideally, we try to get it in before migration to ensure all boxes are ticked though. :woman_shrugging:

You are right! It needs to be added by the repo owner from a legal standpoint. In this case, @pluies would need to add them.

[2020-09-03 08:44] justaugustus commented on #2172
@Pleuis -- you'll also need to sign the CLA (Contributor License Agreement).
Details here: https://github.com/kubernetes/community/blob/master/CLA.md#how-do-i-sign

Let us know if you have any questions! :)

[2020-09-03 08:48] justaugustus commented on #2172
SGTM! Added a TODO section for Florent in the issue description.

[2020-09-03 09:51] kvaps opened #2173 "REQUEST: New membership for kvaps"
### GitHub Username

@kvaps

### Organization you are requesting membership in

@kubernetes-sigs/nfs-ganesha-server-and-external-provisioner

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-d

[2020-09-03 11:36] Pluies commented on #2172
Thank you both for the guidance – here is the PR adding the boilerplate for review :) https://github.com/Pluies/zeitgeist/pull/8

[2020-09-03 11:38] Pluies commented on #2172
I went to sign the CLA and realised I had already signed it in February 2019, so it should be all good! 🤞

[2020-09-03 13:13] nikhita commented on #2169
To avoid mbohlool to be automatically requested for reviews on PRs, he needs to be removed from the OWNERS file. I see that https://github.com/kubernetes-client/java/pull/1220 did that.

Since he's inactive, I've also created https://github.com/kubernetes/org/pull/2174 to remove him from the admins list.

[2020-09-03 13:14] nikhita commented on #2076
All PRs to cleanup OWNERS have merged. Closing.

[2020-09-03 13:14] #2076 closed

[2020-09-03 13:15] nikhita commented on #2013
All PRs for cleaning up OWNERS have merged. Closing.

[2020-09-03 13:15] #2013 closed

[2020-09-03 13:15] #2158 closed

[2020-09-03 13:15] #2162 closed

[2020-09-03 13:16] nikhita commented on #1474
Removing urgent priority since this has been open for a while. Please add it again if needed!

/remove-priority critical-urgent

[2020-09-03 13:24] saschagrunert commented on #1474
I'm now wondering if we still need it or could mock-test around it.

[2020-09-03 13:57] #2156 closed

[2020-09-03 14:59] #2169 closed

[2020-09-03 18:01] vinny-sabatini opened #2176 "REQUEST: New membership for vinny-sabatini"
### GitHub Username

@vinny-sabatini

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2020-09-03 18:06] seanmalloy commented on #2176
+1

[2020-09-03 18:17] saschagrunert opened #2177 "Rename k-sigs/seccomp-operator to k-sigs/security-profiles-operator"
### New Repo, Staging Repo, or migrate existing
Renaming of the existing repository [seccomp-operator](https://github.com/kubernetes-sigs/seccomp-operator) repository to security-profiles-operator.

### Requested name for new repository
security-profiles-operator

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
the same as before

##

[2020-09-03 18:18] saschagrunert commented on #2177
@nikhita, do we have to consider anything else beside changing all paths in all released, repositories?

[2020-09-03 19:21] justaugustus commented on #2172
@nikhita -- it sounds like we've got everything we need from Florent. What's up next?

[2020-09-03 19:49] mrbobbytables commented on #2122
its setup for it, but netlify is having an issue provisioning the ssl cert at the moment. You can verify its up at http://capz.sigs.k8s.io

[2020-09-03 20:58] taiidani commented on #2034
Late to the party but +1 as well!

[2020-09-04 05:01] nikhita commented on #2172
@Pluies since this is a user-owned repo vs an org-owned repo, we'll need to first transfer the repo to a dummy org for moving to k-sigs (GitHub doesn't allow adding admins to user-owned repos).

Can you move the repo to https://github.com/kubernetes-purgatory when you get a chance? I can then move it to @kubernetes-sigs.

[2020-09-04 07:16] Raffo commented on #2176
+1

[2020-09-04 14:13] Pluies commented on #2172
Hi @nikhita ,
All done! Zeitgeist is now in https://github.com/kubernetes-purgatory/zeitgeist :)

[2020-09-06 15:45] kmova commented on #2173
+1

[2020-09-07 13:35] savitharaghunathan commented on #2152
Hi, @abraaojs 👋 Thanks for creating this issue. Could you fill in the template and add sponsors, list of contributions, and the org you are requesting membership for? Thanks :)

[2020-09-07 20:09] mrbobbytables commented on #2122
https://capz.sigs.k8s.io works now \o/ just took a little time for the letsencrypt cert to get provisioned.

With that I'm going to go ahead and close this out. If you have any other questions or issues, feel free to re-open :)

/close

[2020-09-07 20:10] #2122 closed

[2020-09-08 09:27] #2165 closed

[2020-09-08 09:44] nikhita commented on #2172
Repo has been transferred - https://github.com/kubernetes-sigs/zeitgeist :tada:

Created:

- https://github.com/kubernetes/org/pull/2179 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5104 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

---

@Pluies in order to get write access on the repo, you'll need to apply for membership to

[2020-09-08 09:57] nikhita commented on #2177
@saschagrunert we'll also need updates to k/org, k/test-infra, k/k8s.io and k/community at these places - https://cs.k8s.io/?q=seccomp-operator&i=nope&files=&repos=

We'll need to ensure that the changes to the config in these repos merge as soon as we rename the repo on GitHub..or prow could throw warnings when it doesn't find the seccomp-operator repo.

I can do the above when we this request is

[2020-09-08 10:02] yastij commented on #2172
@Pluies @justaugustus - happy to help maintain it !

[2020-09-08 10:04] nikhita commented on #2172
Teams have been granted access and all PRs have merged. Closing!

[2020-09-08 10:04] #2172 closed

[2020-09-08 10:07] justaugustus commented on #2172
Thanks everyone. You all rock!

[2020-09-08 11:11] saschagrunert commented on #2177
@hasheddan or @pjbgf do you think you could attend the SIG Node meeting today (I can't) and ask for their approval? :innocent:

[2020-09-08 13:26] justaugustus commented on #2172
Follow-up PR adding @Pluies and @yastij is here: https://github.com/kubernetes/org/pull/2180

[2020-09-08 14:39] Pluies commented on #2172
Thanks for getting this done! 🙏

I think I've got everything on the checklist done... Except for the sponsors! And that should be arranged before opening the PR, so – @justaugustus and @nikhita , would you be happy to be sponsoring my application by any chance? :)

[2020-09-08 14:41] nikhita commented on #2172
Yes, feel free to count me in! :)

On Tue, Sep 8, 2020 at 8:09 PM Florent Delannoy <notifications@github.com>
wrote:

[2020-09-08 16:19] CecileRobertMichon commented on #2122
Thank you!

[2020-09-08 16:20] justaugustus commented on #2172
@Pluies -- you can go ahead and file a [membership request for kubernetes-sigs](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E) and we can sort membership there.

Nikhita, @tpepper, and I are all at VMware, so you'll need one more non-VMware sponsor, which I'm sure either of the

[2020-09-08 16:22] saschagrunert commented on #2172
Yes, happy to sponsor as well. 👍

[2020-09-08 16:23] Pluies opened #2181 "REQUEST: New membership for Pluies"
Hello! 👋
I'm opening this PR to ask for membership to the kubernetes-sig organisation in order to maintain the [Zeitgeist](https://github.com/kubernetes-sigs/zeitgeist) project which just got donated to Kubernetes.

### GitHub Username

@Pluies

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements

- [x] I have reviewed the community membership guidelines (https://

[2020-09-08 16:25] Pluies commented on #2172
Thank you @nikhita @justaugustus @saschagrunert - PR open at https://github.com/kubernetes/org/issues/2181 :)

[2020-09-08 16:25] justaugustus commented on #2181
+1 to Florent's membership! Thanks so much for donating [zeitgeist](https://github.com/kubernetes-sigs/zeitgeist) to the project! :)
ref: https://github.com/kubernetes/org/issues/2172

[2020-09-08 16:36] justaugustus commented on #2181
PR to add Florent to k-sigs is here: https://github.com/kubernetes/org/pull/2180

[2020-09-08 17:40] saschagrunert commented on #2181
+1 from my side. 👍

[2020-09-09 14:21] #2181 closed

[2020-09-09 14:24] Pluies commented on #2181
I think @k8s-ci-robot was a bit quick on the trigger here - #2180 doesn't solve this PR :)

[2020-09-09 14:45] nikhita commented on #2181
@Pluies you should see an invite if you go to https://github.com/kubernetes-sigs :)

[2020-09-09 14:46] justaugustus commented on #2181
@Pluies -- I think there are probably two reconciliation bits you're waiting for:
1. Our bot will send you an invite to join the kubernetes-sigs
2. Once the invite is accepted, you'll need to be synced into the group to restore access (I think)

[2020-09-09 14:47] nikhita commented on #2181
Just checked the postsubmit -- the bot has already sent an invite! :)

This will be done automatically once you accept the invite.

[2020-09-09 14:55] Pluies commented on #2181
Heck! That robot is much more powerful than I thought 😄

I've just accepted the invite, everything is perfect! Thank you for jumping on this, sorry for the spam!

[2020-09-10 06:31] pjbgf commented on #2177
@saschagrunert I will attend next week's SIG Node meeting and bring it up.

[2020-09-10 13:32] brancz opened #2182 "Migrate DirectXMan12/k8s-prometheus-adapter to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate DirectXMan12/k8s-prometheus-adapter to kubernetes-sigs

### Requested name for new repository
prometheus-adapter

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@DirectXMan12 , @s-urbaniak , myself ( @brancz )

### If not a staging repo, who should have write access
@DirectXMan

[2020-09-11 14:42] howardjohn opened #2183 "REQUEST: New membership for howardjohn"
### GitHub Username
@howardjohn

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-09-11 16:10] vinny-sabatini commented on #2176
@kubernetes/owners I believe I meet all of the requirements for membership

[2020-09-11 16:40] salaxander opened #2184 "REQUEST: New membership for @salaxander"
### GitHub Username
@salaxander

### Organization you are requesting membership in
Kubernetes SIGs, Kubernetes

### Requirements
- [ X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X ] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2020-09-11 17:08] onlydole commented on #2184
A huge +1 to @salaxander 🎉

[2020-09-11 17:08] christopherhein commented on #2184
👏  thanks @salaxander for your contributions so far.

[2020-09-11 18:25] hbagdi commented on #2183
+1

Thanks for your help in the project!

[2020-09-11 18:56] ameukam commented on #2176
Hi @vinny-sabatini , thank you for all your contributions so far :)

I've created PR #2185  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:
/assign

[2020-09-11 18:58] ameukam commented on #2184
HI @salaxander, thank you for all your contributions so far :)

I've created PR #2185 to add you to the Kubernetes and Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:
/assign

[2020-09-11 19:42] robscott commented on #2183
+1

Thanks for the help!

[2020-09-11 20:51] jeremyrickard commented on #2184
+1 from me, thanks @salaxander  :)

[2020-09-11 21:04] #2176 closed

[2020-09-11 21:04] #2184 closed

[2020-09-11 21:46] DirectXMan12 commented on #2182
Hey, so we probably just want me to transfer the repository, right?  It'll keep issues and such.

[2020-09-11 21:47] DirectXMan12 commented on #2182
I can give one of the GH admins permission on the repo so that they can do the transfer.  Let me know.

[2020-09-11 21:48] DirectXMan12 commented on #2182
(can't do it myself apparently, since I don't have permission to create repos in k-sigs)

[2020-09-11 21:51] DirectXMan12 commented on #1791
I think we can close this now

/close

[2020-09-11 21:51] #1791 closed

[2020-09-11 21:51] DirectXMan12 commented on #1791
(it was decided to transfer to a standalone org instead)

[2020-09-12 19:43] jqmichael opened #2186 "REQUEST: New membership for jqmichael"
### GitHub Username
@jqmichael

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [Y] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [Y] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [Y] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-09-12 23:46] leakingtapan commented on #2186
+1 thanks for the helps!

[2020-09-14 05:35] brancz commented on #2182
Yep :)

I imagine that could speed things up.

cc @mrbobbytables

[2020-09-14 07:36] nikhita commented on #2182
Unfortunately, we'll need to do a few more things before migration :(

- Template files like code-of-conduct, etc need to be added. Also, needs addition of this section - https://github.com/kubernetes/kubernetes-template-project#community-discussion-contribution-and-support to the README. All template files can be found at https://github.com/kubernetes/kubernetes-template-project.

- The following

[2020-09-14 09:30] Multiply commented on #2182
I've signed it now. Not sure why it wasn't signed, since I've been through that before.

[2020-09-14 15:53] bowei commented on #2183
+1

[2020-09-14 16:40] chethanv28 opened #2189 "REQUEST: New membership for chethanv28"
### GitHub Username
@chethanv28

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-09-14 17:03] divyenpatel commented on #2189
Thank you @chethanv28 for your contributions.
I recommand to approve membership request for @chethanv28

[2020-09-14 17:11] divyenpatel commented on #2189
+1

[2020-09-14 17:18] xing-yang commented on #2189
+1

[2020-09-14 18:14] wongma7 commented on #2186
+1

[2020-09-14 19:10] randomvariable opened #2190 "Netlify site request for Cluster API Provider AWS"
Part of https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/1896

### Repository
kubernetes-sigs/cluster-api-provider-aws

### Project domain
cluster-api-aws.sigs.k8s.io

### Additional context for request
Netlify configuration in https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1947/files#diff-5db06fd2327543bbb72119cd1e5761cf

[2020-09-15 09:52] s-urbaniak commented on #2182
@nikhita thank you! If there is anything technical I can help in moving the repository, please let me know too :-)

[2020-09-15 12:27] palnabarun commented on #2183
Hi @howardjohn :wave:, thank you for applying to be a @kubernetes-sigs organization member.

Unfortunately, @hbagdi cannot sponsor you since @hbagdi is not an approver/reviewer in any of the OWNERS files ([Ref](https://go.k8s.io/owners/hbagdi)) and both @bowei and @robscott belong to the same company.

A requirement for sponsors is that they need to be from different companies. Can you please add

[2020-09-15 12:39] palnabarun commented on #2173
ping @wongma7 for the sponsorship acknowledgment. :slightly_smiling_face:

[2020-09-15 13:20] ameukam commented on #2152
Hi @abraaojs :wave:, Since you still have no sponsors added in your request, we will close this issue. Please feel free to reopen the issue with an update of the sponsors and the list of your contributions.

/close

[2020-09-15 13:20] #2152 closed

[2020-09-15 13:22] palnabarun commented on #2189
Hi @chethanv28 :wave:, thank you for applying to be a @kubernetes-sigs organization member.

A requirement for sponsors is that they need to be from different companies. Unfortunately, both sponsors @divyenpatel and @xing-yang belong to the same company.

Can you please add one more sponsor satisfying all the guidelines mentioned in https://github.com/kubernetes/community/blob/master/community-mem

[2020-09-15 13:52] brancz commented on #2182
@s-urbaniak maybe you can take care of the files that need to be changed/added?

[2020-09-15 14:52] rjackson90 commented on #2182
Thanks for the mention, I'd hate to slow this migration. I had previously signed the CLA, but I guess some of my linux foundation account details were out of date. I believe everything's in order now, please let me know if there is further action I need to take.

[2020-09-15 16:34] parsifal-47 commented on #2182
Is it supposed to be signed from exactly the same email that I have in commit messages or same github id is enough?

[2020-09-15 17:16] wongma7 commented on #2173
+1 !

[2020-09-15 17:53] jberkhahn opened #2192 "Migrate Service Catalog Helm chart repo"
### Organization or repository
SIG Service Catalog Helm Chart repo migration

### Name of integration
GCP bucket

### Link to integration website
https://svc-catalog-charts.storage.googleapis.com

### Describe what is attempting to be accomplished
Our old helm chart repo is hosted in a GCP bucket that is going away. We were wondering if it could be hosted in a GCP bucket on another account, and co

[2020-09-15 18:15] #2192 closed

[2020-09-15 18:51] s-urbaniak commented on #2182
@brancz will do :+1:

[2020-09-16 17:29] pwittrock opened #2193 "Create kubernetes-sigs/apiserver-runtime"
### New Repo, Staging Repo, or migrate existing

- [x] New Repo

### Requested name for new repository

`apiserver-runtime`

### Which Organization should it reside

`kubernetes-sigs`

### If not a staging repo, who should have admin access

- @DirectXMan12
- @pwittrock
- @yue9944882
- @gabbifish

### If not a staging repo, who should have write access

- @DirectXMan12
- @pwittrock
- @yue9944882
-

[2020-09-16 21:52] frankfarzan opened #2194 "REQUEST: New membership for frankfarzan"
### GitHub Username
@frankfarzan

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-09-16 22:01] Liujingfang1 commented on #2194
A big +1!

[2020-09-17 09:46] s-urbaniak commented on #2182
@nikhita question: @lilic expressed interest in co-maintaining prometheus-adapter. I added her OWNER files in https://github.com/DirectXMan12/k8s-prometheus-adapter/pull/314, is that ok from your perspective?

[2020-09-17 12:20] mrbobbytables commented on #2193
/assign

[2020-09-17 12:20] mrbobbytables commented on #2190
/assign

[2020-09-17 13:19] mrbobbytables commented on #2190
The site will not appear until it's merged, but the preview URL is here:
https://kubernetes-sigs-cluster-api-provider-aws.netlify.app

You will also need to open an issue or PR in https://github.com/kubernetes/k8s.io to add the dns entry 👍

[2020-09-17 13:24] randomvariable commented on #2190
Thanks @mrbobbytables!

[2020-09-17 13:56] mrbobbytables commented on #2193
/assign @fedebongio @deads2k @lavalamp
For approval from API Machinery leads

[2020-09-17 13:59] mrbobbytables commented on #2193
/unassign @fedebongio @deads2k @lavalamp
My bad, @pwittrock can sign off on it :) https://github.com/kubernetes/community/blob/master/sig-api-machinery/charter.md#deviations-from-sig-governance

[2020-09-17 14:21] mrbobbytables commented on #2193
The repo has been created: https://github.com/kubernetes-sigs/apiserver-runtime
Teams have been created: https://github.com/kubernetes/org/pull/2195
Update to sigs.yaml: https://github.com/kubernetes/community/pull/5154

Once they're all merged everything should be good \o/

[2020-09-17 14:24] pwittrock commented on #2193
Woot!

[2020-09-17 15:50] lavalamp commented on #2193
I didn't realize we were ready for a repo here - I think it's fine to experiment but can you add a README indicating that it's still experimental? https://github.com/kubernetes-sigs/apiserver-runtime/issues/3

[2020-09-18 17:17] mortent commented on #2194
+1

[2020-09-18 17:31] pwittrock commented on #2194
Lgtm

[2020-09-18 18:37] mrbobbytables commented on #2193
Everything has been merged, going to go ahead and close this out. If you have any issues, please feel free to reopen or give me a ping. 👍
/close

[2020-09-18 18:37] #2193 closed

[2020-09-19 15:13] savitharaghunathan commented on #2194
Hi, @frankfarzan 👋 Thank you for all your contributions :)

I've created PR #2197 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-19 15:13] savitharaghunathan commented on #2173
Hi, @kvaps 👋 Thank you for all your contributions :)

I've created PR #2197 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-19 15:14] savitharaghunathan commented on #2186
Hi, @jqmichael 👋 Thank you for all your contributions :)

I've created PR #2197 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-19 15:42] #2194 closed

[2020-09-19 15:42] #2173 closed

[2020-09-19 15:42] #2186 closed

[2020-09-20 19:33] jqmichael commented on #2186
Much appreciate the help @savitharaghunathan !

[2020-09-21 07:17] howieyuen opened #2199 "REQUEST: New membership for howieyuen"
### GitHub Username
@howieyuen

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-09-21 07:24] tengqm commented on #2199
LGTM, @howieyuen has been an active contributor to the Chinese localization of Kubernetes website and he has demonstrated good understanding of the technology and the documentation process.

[2020-09-21 12:24] tanjunchen commented on #2199
+1  @howieyuen   Thanks for your contribution.

[2020-09-21 22:45] DirectXMan12 commented on #2182
I've invited @mrbobbytables as a collaborator in the meantime, so you should be all set from my end.

[2020-09-21 23:02] sfotony opened #2200 "REQUEST: New membership for sfotony"
### GitHub Username
e.g. @sfotony

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2020-09-21 23:04] jrsapi commented on #2200
Thanks for joining the Comms team as a shadow. Lgtm.

[2020-09-21 23:04] mrbobbytables commented on #2182
That should be fine, they will just need to be added as a member to k-sigs before migration, but as a kubernetes org member that won't be an issue 👍

[2020-09-22 03:34] nikhita commented on #2182
GitHub didn't allow adding admin collaborators iirc, not sure if that's changed recently.

We'll need to move the repo to a dummy org first before transferring it to k-sigs. @DirectXMan12 I've invited you to https://github.com/kubernetes-purgatory. When the repo is ready to be migrated i.e. either me or @mrbobbytables has confirmed that the CLA issue is good to go, please transfer the repo to kube

[2020-09-22 07:25] vainu-arto commented on #2182
This should now finally be OK on my side, sorry about the delay (my Github account was deleted and later re-created, which made it fairly difficult to get the LF CLA system and Github back into sync).

[2020-09-22 12:21] eagleusb opened #2201 "REQUEST: New membership for @eagleusb"
### GitHub Username

@eagleusb

### Organization you are requesting membership in

@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-09-22 12:32] annajung commented on #2201
+1 from me! Welcome to the team 🎉

[2020-09-22 13:21] annajung commented on #2201
cc @savitharaghunathan @palnabarun @hasheddan

[2020-09-22 13:22] hasheddan commented on #2201
+1 from me :rocket:

[2020-09-22 13:23] savitharaghunathan commented on #2201
+1. Welcome to the 1.20 team 🎉

[2020-09-22 13:23] savitharaghunathan commented on #2200
+1. Welcome to the 1.20 release team! 🎉

[2020-09-22 14:17] savitharaghunathan commented on #2200
Hi, @sfotony 👋. Excited to have you as a part of the 1.20 cycle! Congratulations 🎉

I've created PR #2202 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-22 14:17] savitharaghunathan commented on #2201
Hi, @eagleusb 👋  Excited to have you as a part of the 1.20 cycle! Congratulations 🎉

I've created PR #2202 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-22 14:18] savitharaghunathan commented on #2199
Hi, @howieyuen 👋 Thanks for your Chinese localization effort!

I've created PR #2202 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-22 14:20] palnabarun commented on #2200
+1. Welcome to the 1.20 Release Team @sfotony! :tada:

[2020-09-22 14:21] palnabarun commented on #2201
+1. Welcome to the 1.20 Release Team @eagleusb! :tada:

[2020-09-22 17:39] SomtochiAma opened #2204 "REQUEST: New membership for SomtochiAma"
### GitHub Username
@SomtochiAma

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-09-22 17:42] annajung commented on #2204
+1 from me! Welcome to the team! 🎉

cc @savitharaghunathan @hasheddan @palnabarun

[2020-09-22 17:43] hasheddan commented on #2204
+1 from me :)

[2020-09-22 21:04] adtac opened #2205 "REQUEST: New membership for adtac"
### GitHub Username
@adtac

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-09-22 21:06] ahg-g commented on #2205
/lgtm

Thanks Adi, looking forward for more contributions in the future!

[2020-09-22 21:29] Huang-Wei commented on #2205
+1!

Looking forward to seeing more contributions!

[2020-09-22 21:51] savitharaghunathan commented on #2204
Hi, @SomtochiAma 👋. Excited to have you as a part of the 1.20 cycle! Congratulations 🎉

I've created PR #2202 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-22 21:52] savitharaghunathan commented on #2205
Hi, @adtac 👋 Thanks for all your contributions to the Kubernetes project!

I've created PR #2202 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-22 22:22] jeremyrickard commented on #2200
+1

[2020-09-22 22:22] erismaster opened #2207 "REQUEST: New membership for erismaster"
### GitHub Username
@erismaster

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-09-22 23:26] srm09 opened #2208 "REQUEST: New membership for srm09"
### GitHub Username
@srm09

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-09-23 00:31] savitharaghunathan commented on #2207
+1. Welcome to the team, @erismaster! 👋

[2020-09-23 00:34] #2200 closed

[2020-09-23 00:34] #2201 closed

[2020-09-23 00:34] #2199 closed

[2020-09-23 00:34] #2204 closed

[2020-09-23 00:34] #2205 closed

[2020-09-23 00:42] kinarashah opened #2209 "REQUEST: New membership for kinarashah"
### GitHub Username
@kinarashah

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-09-23 00:57] kikisdeliveryservice commented on #2209
+1

Welcome Kinara! So happy to have you on the team!

/lgtm

[2020-09-23 01:06] palnabarun commented on #2207
+1. Welcome to the release team @erismaster! :tada:

[2020-09-23 01:08] palnabarun commented on #2207
@erismaster, Excited to have you on the release team. Congratulations! :smile:

I've created PR #2210 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-09-23 01:09] palnabarun commented on #2209
+1. Welcome to the 1.20 Enhancements team @kinarashah :tada:

[2020-09-23 01:09] palnabarun commented on #2209
@kinarashah, Excited to have you on the release team. Congratulations! :smile:

I've created PR #2210 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-09-23 01:10] howieyuen commented on #2199
thanks 😄

[2020-09-23 01:12] palnabarun commented on #2204
+1. Welcome to the 1.20 Release Team! :tada:

[2020-09-23 02:25] vincepri commented on #2208
+1

[2020-09-23 03:37] bai commented on #2207
+1, glad to have you on the team!

[2020-09-23 05:26] #2207 closed

[2020-09-23 05:26] #2209 closed

[2020-09-23 07:16] SomtochiAma commented on #2204
Thank you @palnabarun  @savitharaghunathan @annajung @hasheddan. Excited to be a part of the 1.20 Release Team!

[2020-09-23 12:25] ScrapCodes opened #2211 "REQUEST: New membership for @ScrapCodes"
### GitHub Username
@ScrapCodes

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-09-23 12:38] thejoycekung opened #2212 "REQUEST: New membership for thejoycekung"
### GitHub Username
@thejoycekung

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-09-23 13:23] savitharaghunathan commented on #2212
+1. Welcome to the 1.20 RT, @thejoycekung 🎉

[2020-09-23 13:24] savitharaghunathan commented on #2211
+1. Welcome to the 1.20 RT, @ScrapCodes 🎉

[2020-09-23 14:31] palnabarun commented on #2212
+1. Welcome to the 1.20 Release Team @thejoycekung! :tada:

[2020-09-23 14:32] palnabarun commented on #2211
+1. Welcome to the 1.20 Release Team @ScrapCodes! :tada:

[2020-09-23 14:33] palnabarun commented on #2212
@thejoycekung, excited to have you in the release team! :smiley:

I've created PR #2214 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-09-23 14:34] palnabarun commented on #2211
@ScrapCodes, excited to have you in the release team! :smiley:

I've created PR #2214 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-09-23 14:47] MonzElmasry opened #2215 "REQUEST: New membership for MonzElmasry"
### GitHub Username
@MonzElmasry
### Organization you are requesting membership in
@kubernetes
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-09-23 14:50] bai commented on #2215
Glad to have you on the team! 🐛

[2020-09-23 18:29] palnabarun commented on #2215
+1. Welcome to the 1.20 Release Team @MonzElmasry! :tada:

[2020-09-23 18:34] savitharaghunathan commented on #2215
+1. Excited to have you in the 1.20 Release Team, @MonzElmasry! 🎉

[2020-09-23 18:40] palnabarun commented on #2215
@MonzElmasry, excited to have you in the release team :smile:

I've created PR #2214 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-09-23 18:49] #2211 closed

[2020-09-23 18:49] #2212 closed

[2020-09-23 18:49] #2215 closed

[2020-09-23 21:52] tanjacky opened #2216 "REQUEST: New membership for tanjacky"
### GitHub Username
@tanjacky

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-09-23 22:24] JamesLaverack commented on #2216
+1, welcome 🎉

[2020-09-23 23:53] savitharaghunathan commented on #2216
+1. Welcome to the team @tanjacky 🎉

[2020-09-24 00:08] savitharaghunathan commented on #2216
Hi, @tanjacky 👋. Excited to have you as a part of the 1.20 release cycle! Congratulations 🎉

I've created PR #2202 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-24 00:10] savitharaghunathan commented on #2208
Hi @srm09 👋 Thanks for all your contributions to cluster-api :)

I've created PR #2217 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-24 04:31] ScrapCodes commented on #2211
Thank you so much, @savitharaghunathan and @palnabarun 😄  Excited to join the team !

[2020-09-24 07:46] #2208 closed

[2020-09-24 07:46] #2216 closed

[2020-09-24 12:26] RobertKielty commented on #2212
A late +1 Welcome to the 1.20 Release Team @thejoycekung!

[2020-09-24 14:25] soniasingla opened #2220 "REQUEST: New membership for soniasingla"
### GitHub Username
@soniasingla

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-09-24 14:27] JamesLaverack commented on #2220
+1, welcome to Kubenetes

[2020-09-24 16:32] justaugustus opened #2222 "Changing default branch names to `main`"
### Organization or repository

All

### Users affected

Global

### Describe the issue

This is a long-term tracking issue for renaming the default branch on repositories from `master` to `main`. Consider this community tracking for the discussion in https://github.com/github/renaming.

As of today (9/24):
- Starting on October 1, 2020: newly-created repositories will default to `main`: https://g

[2020-09-24 16:33] justaugustus commented on #2222
/wg naming

[2020-09-24 18:22] savitharaghunathan commented on #2220
+1. Welcome to the 1.20 Release Team @soniasingla 🎉

[2020-09-24 18:33] savitharaghunathan commented on #2220
Hi, @soniasingla 👋. Excited to have you as a part of the 1.20 release cycle! Congratulations 🎉

I've created PR #2223  to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-09-24 19:58] spiffxp commented on #2222
/sig testing

[2020-09-24 20:12] pjbgf commented on #2177
A new name (`security-profiles-operator`) has emerged, we will present it on next SIG Node and will update this thread accordingly.

[2020-09-24 22:27] palnabarun commented on #2220
+1, Welcome to the release team @soniasingla! 🎉

[2020-09-24 23:19] #2220 closed

[2020-09-25 11:49] michaelbeaumont opened #2224 "REQUEST: New membership for michaelbeaumont"
### GitHub Username
@michaelbeaumont

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2020-09-25 11:50] randomvariable commented on #2224
+1 from me

[2020-09-25 11:50] richardcase commented on #2224
+1 from me as well :+1:

[2020-09-25 14:17] nirrozenbaum commented on #2182
Hi, I've signed it using corporate CLA (working at IBM)

[2020-09-25 14:30] randomvariable commented on #2190
Does the CNAME and TLS cert need to be setup on the Netlify side?

DNS was set up in https://github.com/kubernetes/k8s.io/pull/1249

[2020-09-25 18:16] celestehorgan commented on #2222
@justaugustus – Do you think this merits a communication to k/dev?

[2020-09-25 21:21] mrbobbytables commented on #2190
Yup, I've finished configuring it on the netlify side:
https://cluster-api-aws.sigs.k8s.io/

  You should be good to go :D

With that I'm going to go ahead and close the issue, if you have any questions, please feel free to reopen or give me a ping.

Thanks!

/close

[2020-09-25 21:21] #2190 closed

[2020-09-28 07:20] irvifa opened #2227 "REQUEST: New membership for @irvifa"
### GitHub Username
@irvifa

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-09-28 12:39] tkashem opened #2229 "REQUEST: New membership for tkashem"
### GitHub Username
@tkashem

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-09-28 12:43] sttts commented on #2229
+1.

[2020-09-28 12:44] wojtek-t commented on #2229
+1

[2020-09-28 18:26] #2227 closed

[2020-09-29 02:16] tanjacky opened #2230 "REQUEST: New membership for tanjacky"
### GitHub Username
@tanjacky

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-09-29 08:33] ingvagabund opened #2231 "Request for new repository: kubernetes/component-helpers"
### New Repo, Staging Repo, or migrate existing
staging repo

### Requested name for new repository
component-helpers

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
NONE

### If not a staging repo, who should have write access
NONE

### If not a staging repo, who should be listed as approvers in OWNERS
NONE

### If not a staging repo, w

[2020-09-29 08:34] ingvagabund commented on #2231
@dims @liggitt I think I have addressed all you requested for. Can you approve?

[2020-09-29 10:24] dims commented on #2231
+1 from me. Did you already throw an email to sig-arch @ingvagabund ? please do if not

cc @johnbelamaric @derekwaynecarr

[2020-09-29 10:25] dims commented on #2231
/approve

/hold for some folks to be notified, please release hold once you have

[2020-09-29 13:29] ingvagabund commented on #2231
https://groups.google.com/g/kubernetes-sig-architecture/c/U05V0W2zTi4/m/QU0stWTICAAJ

[2020-09-29 13:34] mrbobbytables commented on #2182
Sorry @parsifal-47 didn't see your question earlier >_< It's tied to the email address with the commit. In the past we've sometimes had to re-add the commits signed by the author with a new email address associated with a valid CLA.

[2020-09-29 16:39] justaugustus commented on #2222
/assign
cc: @liggitt

[2020-09-29 16:43] justaugustus commented on #2222
@nikhita's initial note to k-dev should suffice at this stage: https://groups.google.com/g/kubernetes-dev/c/jvRPIscaDek/m/1KWEUYXDBQAJ.

[2020-09-29 18:50] parsifal-47 commented on #2182
@mrbobbytables
done, should be the same email that I used when contributing, thanks!

[2020-09-29 20:50] montenegrodr commented on #2182
I've signed I guess two weeks ago. Did you get that?

[2020-09-30 02:39] liggitt commented on #2222
The only impact I can think of for *new* repos would be that the git.k8s.io redirector (`http://git.k8s.io/$repo/$path` going to `https://github.com/kubernetes/$repo/tree/master/$path`, e.g. http://git.k8s.io/community/sig-apps) would not work properly.

[2020-09-30 08:01] nikhita commented on #2222
Just to ensure we are on the same page - when we create a new repo in a Kubernetes org after Oct 1, we will set the default branch to `master` for now, correct? IIUC we'll move _all_ our repos to the `main` default branch once GitHub solves the issues listed here - https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositories-

[2020-09-30 08:06] nikhita commented on #2222
xref https://github.com/kubernetes/website/issues/21749 - k/website issue about changing their default branch to `live`

[2020-09-30 08:09] nikhita commented on #2231
/assign

@dims @ingvagabund let me know when you are good to go ahead with repo creation and I'll get that setup!

[2020-09-30 10:38] soniasingla opened #2232 "REQUEST: New membership for soniasingla"
### GitHub Username
@soniasingla

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-09-30 12:16] mrbobbytables commented on #2222
I think this has been handled by their default redirect: https://github.blog/changelog/2020-07-17-links-to-deleted-branches-now-redirect-to-the-default-branch/

It does mean things would be redirected twice, but that's probably the best scenario for the interim till everything has been switched over.

[2020-09-30 12:43] liggitt commented on #2222
I'm not sure... that seems to only apply to deleted branches. A new repo that only had a `main` branch would not have a deleted `master` branch that would trigger that, right?

[2020-09-30 13:26] nikhita commented on #2222
I think we should flip the default branch for _all_ repos at once. We'll also need to update our automation (prow, etc). For git.k8s.io specifically, we'll need to update:

https://github.com/kubernetes/k8s.io/blob/08581c1cd0937d893f0d1ffdfec8ceb8d7aa8356/k8s.io/configmap-nginx.yaml#L215-L223

[2020-09-30 14:38] mrbobbytables commented on #2222
You're right. GitHub has confirmed it as well 👍

As just about all our repos are generated off the [kubernetes-template-project](https://github.com/kubernetes/kubernetes-template-project), they will have a default branch name of `master` unless we change it there.

Before flipping I do think we should test. It will mean the redirector won't work for the ones we do decide to test, but I think thats

[2020-09-30 17:53] pymander opened #2234 "REQUEST: New membership for @pymander"
### GitHub Username
@pymander

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-09-30 17:56] mrbobbytables commented on #2234
BIG BIG BIG +1
/pony party
/honk

[2020-09-30 18:19] nikhita commented on #2234
+1000!!!

/meow space

[2020-10-01 13:07] ingvagabund commented on #2231
@derekwaynecarr posted his +1 in https://groups.google.com/g/kubernetes-sig-architecture/c/U05V0W2zTi4/m/jIGMlOQDCgAJ

@dims should we wait for @johnbelamaric or it is safe to go ahead and unhold?

[2020-10-01 13:26] dims commented on #2231
@ingvagabund +1 to go ahead :)

/hold cancel

[2020-10-01 13:29] ingvagabund commented on #2231
@nikhita we are good to go. Thanks!!!

[2020-10-01 13:51] nikhita commented on #2231
Repo has been setup - https://github.com/kubernetes/component-helpers

Also created:

- https://github.com/kubernetes/test-infra/pull/19422 - to setup prow configuration for the staging repo
- https://github.com/kubernetes/community/pull/5184 - to add the repo to sigs.yaml
- https://github.com/kubernetes/publishing-bot/pull/237 - to add the repo to publishing-bot test scripts

Once the above PRs h

[2020-10-01 21:57] Jiawei0227 opened #2236 "REQUEST: New membership for Jiawei0227"
### GitHub Username
Jiawei0227

### Organization you are requesting membership in
kubernetes & kubernetes-csi & kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail lis

[2020-10-01 22:11] msau42 commented on #2236
+1 @Jiawei0227 has been fixing tests and bugs in the sig-storage area

[2020-10-01 23:41] gnufied commented on #2236
+1

[2020-10-02 06:54] nikhita commented on #2231
Closing. We can follow up on the publishing-bot PR separately.

[2020-10-02 06:54] #2231 closed

[2020-10-02 20:46] ameukam commented on #2236
Hi @Jiawei0227, thank you for all your contributions so far :)

I've created PR #2237 to add you to the kubernetes, kubernetes-csi, kubernetes-sigs Org. Once that gets merged, you should get membership invite notifications.

Welcome! :tada:

[2020-10-02 20:47] ameukam commented on #2234
Hi @pymander, thank you for all your contributions so far :)

I've created PR #2237 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:
/assign

[2020-10-02 20:48] ameukam commented on #2229
Hi @tkashem, thank you for all your contributions so far :)

I've created PR #2237 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:
/assign

[2020-10-02 20:49] ameukam commented on #2224
Hi @michaelbeaumont, thank you for all your contributions so far :)

I've created PR #2237 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

[2020-10-03 06:59] #2224 closed

[2020-10-03 06:59] #2229 closed

[2020-10-03 06:59] #2234 closed

[2020-10-03 06:59] #2236 closed

[2020-10-05 21:17] jayunit100 opened #2239 "kubernetes-sigs/network-policy-apis"
### New Repo, Staging Repo, or migrate existing

Migrate https://github.com/jayunit100/network-policy-subproject ->

### Requested name for new repository

kubernetes-sigs/network-policy-working-group

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
jayunit100, rikatz, andrewsykim , abhiraut

### If not a staging repo, who should hav

[2020-10-05 21:17] jayunit100 commented on #2239
@thockin @caseydavenport @danwinship I assume we need someone from sig-network to approve this

[2020-10-05 21:49] rikatz commented on #2239
/assign @caseydavenport

Casey, can we have your approval in this please? :)

We're moving the subproject (and re-organizing docs, user stories, implementations, etc) and need a non personal repo for that!

Thanks!!

[2020-10-05 22:21] rikatz opened #2240 "REQUEST: New membership for rikatz - kubernetes-sigs"
### GitHub Username
@rikatz

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-10-06 02:53] andrewsykim commented on #2239
I'm personally in favor of naming the repo something like `kubernetes-sigs/network-policy-apis` so the scope of the project is clear, but I'll defer to @jayunit100 and @rikatz on naming.

[2020-10-06 03:10] tkashem opened #2242 "REQUEST: New membership for tkashem"
### GitHub Username
@tkashem

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-10-06 12:11] rikatz commented on #2239
I'm afraid of generating confusion in users searching for stuff about netpol and getting into us, so I'm up to calling this 'traffic policy' as we're going to start working on something new :)

Or using just network-policy to me also seems fine, as we're not going necessarily to work only in the APIs (I think) but also in some auxiliary tools here :)

Jay, your vote pls ;)

[2020-10-06 12:22] rikatz commented on #2240
/cc @jayunit100 @andrewsykim If need some sponsorship also for kubernetes-sigs, I count on you :D

[2020-10-06 12:24] mrbobbytables commented on #2240
No sponsorship needed :) if you want, you can PR yourself in (just please follow the commit msg convention). Otherwise you'll get added in the next batch of membership requests :+1:

[2020-10-06 12:25] rikatz commented on #2240
oh right, thanks! :) Will do the PR then.

[2020-10-06 12:42] #2240 closed

[2020-10-06 14:28] savitharaghunathan commented on #2232
Hi @soniasingla 👋 Thank you for all your contributions :)

I've created PR #2244 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-10-06 14:28] savitharaghunathan commented on #2230
Hi @tanjacky 👋 Thank you for all your contributions :)

I've created PR #2244 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-10-06 14:30] #2230 closed

[2020-10-06 14:30] #2232 closed

[2020-10-06 17:56] dchen1107 commented on #2177
We discussed this at today's SIG Node meeting, and there is no objection for the new name. cc/ @derekwaynecarr

+1

[2020-10-06 18:28] nikhita commented on #2177
@saschagrunert @pjbgf :wave: can you confirm if it should be `security-operator` or `security-profiles-operator`?

[2020-10-06 18:31] saschagrunert commented on #2177
Yes, it should become the security-profiles-operator. I changed the issue accordingly.

[2020-10-06 22:00] pjbgf commented on #2177
Yep, I also confirm `security-profiles-operator`. 🚀

[2020-10-07 07:15] saschagrunert commented on #2177
@nikhita I'll work on proposing the renaming PRs if you don't mind.

[2020-10-07 07:36] saschagrunert commented on #2177
Here we go:
- https://github.com/kubernetes/org/pull/2246
- https://github.com/kubernetes/enhancements/pull/2084
- https://github.com/kubernetes/community/pull/5195
- https://github.com/kubernetes/k8s.io/pull/1313
- https://github.com/kubernetes/test-infra/pull/19476
- https://github.com/kubernetes-sigs/seccomp-operator/pull/139

[2020-10-07 07:48] nikhita commented on #2177
@saschagrunert Thanks for creating the PRs! Repo has been renamed - https://github.com/kubernetes-sigs/security-profiles-operator :tada:

Let's keep the issue open until all linked PRs have merged (to ensure we have a place to track them) :)

[2020-10-07 16:37] jayunit100 commented on #2239
im in favor of having all our content in one place as a way of building gravity around what we do.
helping people with the V1 APIs is in my opinion an EXTREMELY IMPORTANT way for us to gather feedback on them.

[2020-10-07 16:58] christopherhein opened #2247 "New repo sigs.k8s.io/cluster-api-provider-nested"
### New Repo, Staging Repo, or migrate existing

new repository

### Requested name for new repository

cluster-api-provider-nested

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

- christopherhein
- Fei-Guo
- https://github.com/kubernetes-sigs/cluster-api/blob/master/OWNERS_ALIASES

### If not a staging repo, who should have writ

[2020-10-07 17:01] timothysc commented on #2247
/assign @timothysc @neolit123

[2020-10-07 17:01] vincepri commented on #2247
+1

[2020-10-07 17:03] knabben opened #2248 "REQUEST: New membership for knabben"
### GitHub Username
@knabben

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-10-07 17:05] alejandrox1 commented on #2248
Huge +1!
Thank you for all your contributions @knabben

[2020-10-07 17:24] CecileRobertMichon commented on #2247
+1

Any thoughts on what acronym the provider will use? CAPV is already taken by https://github.com/kubernetes-sigs/cluster-api-provider-vsphere

[2020-10-07 17:43] christopherhein commented on #2247
@CecileRobertMichon looking at CAPI docs and acronym what about CAPVC?

[2020-10-07 18:00] vincepri commented on #2247
CAPVC sounds good to me, or we can also just call it CAPVirtual 😄

[2020-10-07 18:01] christopherhein commented on #2247
Yeah, @vincepri that would work too

[2020-10-07 18:32] mtaufen commented on #2248
+1! Thank you @knabben for all your work :)

[2020-10-07 18:41] neolit123 commented on #2247
i see +1s from CAPI maintainers and no objections, but have the CAPI maintainers reviewed the code base of the migrated repository to see if it matches expectations from an infrastructure provider?

[2020-10-07 18:46] christopherhein commented on #2247
@neolit123 today it doesn't, we're in the process of re-implementing the API layer to move toward a Cluster API spec for an infra provider and a control plane provider (I have been working with @vincepri on this definition) but given the nature around working groups owning code its difficult to dev on the project cause we don't have CI processes along with other projects within https://sigs.k8s.io

[2020-10-07 19:07] neolit123 commented on #2247
ok, thanks for the details.
i should be corrected if i'm wrong here, but historically we had somewhat working providers before promoting them to a k-sig/cluster-api-provider-* repository, @vincepri @detiber @timothysc do you see this as a concern? my personal preference would be to have the provider working, but i may be mistaken about the prior art.

in any case, this does seem to belong in a CAP

[2020-10-07 19:16] christopherhein commented on #2247
I'd be fine going the `cluster-api-provider-virtual-cluster` path if we want to reserve `-virtual` for something else. If everyone agrees I can update the description and title.

[2020-10-07 19:31] neolit123 commented on #2247
we had a zoom call with @vincepri @timothysc and @christopherhein and discussed that the `-virtual-*` name is not ideal. "-nested" was proposed and we agreed that this is a better name!

@christopherhein please update the requested repo name to `cluster-api-provider-nested`

the concept of the project was also explained to me and i like the idea so +1.

[2020-10-07 19:32] christopherhein commented on #2247
thanks @neolit123 !

[2020-10-07 19:32] timothysc commented on #2247
Post call +1
/lgtm
/approve

[2020-10-07 19:43] vincepri commented on #2247
+1

[2020-10-07 20:56] rikatz commented on #2239
@nikhita So our consensus is to have a repo called sig-network-policy-api (the same name of the slack channel we asked) :)

Will wait for the sig leads to take a look into this issue and approve it, if they agree with.

Thanks

[2020-10-08 10:16] nikhita commented on #2247
Repo has been created - https://github.com/kubernetes-sigs/cluster-api-provider-nested :tada:

Also created:

- https://github.com/kubernetes/org/pull/2249 - to add GitHub teams to provide access
- https://github.com/kubernetes/community/pull/5202 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-10-08 14:40] nikhita commented on #2247
Teams have been granted access and sigs.yaml has been updated. Closing!

[2020-10-08 14:40] #2247 closed

[2020-10-08 16:17] christopherhein commented on #2247
Thanks @nikhita !

[2020-10-08 19:05] nicolehanjing opened #2250 "REQUEST: New membership for nicolehanjing"
### GitHub Username
@nicolehanjing

### Organization you are requesting membership in
@kubernetes-sigs @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gr

[2020-10-08 19:20] andrewsykim commented on #2250
+1 from me, thanks @nicolehanjing!

[2020-10-09 00:22] mattcary opened #2251 "REQUEST: New membership for mattcary"
### GitHub Username
@mattcary

### Organization you are requesting membership in
kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-10-09 02:05] gnufied commented on #2251
+1

[2020-10-09 03:50] nikhita commented on #1499
/remove-lifecycle stale

@pmorie has a decision been taken already?

[2020-10-09 07:41] zhiguo-lu opened #2252 "REQUEST: New membership for zhiguo-lu"
### GitHub Username
@zhiguo-lu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-10-09 09:09] tengqm commented on #2252
+1

[2020-10-09 10:08] idealhack commented on #2252
+1

Thank you for all the contributions and welcome on board!

[2020-10-09 18:51] nckturner commented on #2250
+1 from me

[2020-10-09 19:25] palnabarun commented on #2248
@knabben, thank you for all your contributions so far :)

I've created PR #2253 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-10-09 19:25] palnabarun commented on #2252
@zhiguo-lu, thank you for your contributions to the Kubernetes Documentation :)

I've created PR #2253 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-10-09 20:14] #2248 closed

[2020-10-09 20:14] #2252 closed

[2020-10-09 20:57] morengab opened #2254 "REQUEST: New membership for morengab"
### GitHub Username
@morengab

### Organization you are requesting membership in
@kubernetes, @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-10-09 20:58] tashimi commented on #2254
Yay! Welcome Gaby! So excited to have you as co-chair of SIG-Usability!

+1

![tenor-121762178](https://user-images.githubusercontent.com/719646/95630919-8c676f00-0a37-11eb-8f89-352d41b18f98.gif)

[2020-10-09 21:01] srampal commented on #2254
+1

Welcome Gaby! Best wishes.

[2020-10-09 21:02] morengab commented on #2254
Thank you both!

[2020-10-09 22:26] zshihang opened #2255 "REQUEST: New membership for zshihang"
### GitHub Username
@zshihang

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2020-10-10 02:12] liggitt commented on #2255
+1

[2020-10-11 18:00] justaugustus commented on #2254
+1 for Gaby!! :two_hearts:

[2020-10-11 21:30] micahhausler commented on #2255
+1

[2020-10-12 17:16] wilsonehusin opened #2257 "REQUEST: New membership for @wilsonehusin"
### GitHub Username
@wilsonehusin

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2020-10-13 05:59] gkarthiks opened #2259 "REQUEST: New membership for @gkarthiks"
### GitHub Username
@gkarthiks

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-10-13 06:45] palnabarun commented on #2250
@nicolehanjing, thank you for all your contributions so far :)

I've created PR #2258 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2020-10-13 06:45] palnabarun commented on #2254
@morengab, thank you for all your help with SIG Usability :slightly_smiling_face:

I've created PR #2258 to add you to the @kubernetes and @kubernetes-sigs Organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2020-10-13 06:45] palnabarun commented on #2255
@zshihang, thank you for all your contributions so far :)

I've created PR #2258 to add you to the @kubernetes and @kubernetes-sigs Organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2020-10-13 07:00] palnabarun commented on #2242
Hi @tkashem, I have raised #2258 to add you to the @kubernetes-sigs organization. You should get a membership invite notification once that gets merged. :tada:

[2020-10-13 07:01] palnabarun commented on #2257
Hi @wilsonehusin, I have raised #2258 to add you to the @kubernetes-sigs organization. You should get a membership invite notification once that gets merged. :tada:

Thank you for all your help with the Release Notes! :)

[2020-10-13 07:28] #2250 closed

[2020-10-13 07:28] #2254 closed

[2020-10-13 07:28] #2255 closed

[2020-10-13 07:47] nikhita commented on #2257
Done in https://github.com/kubernetes/org/pull/2258 :)

[2020-10-13 07:47] #2257 closed

[2020-10-13 07:47] nikhita commented on #2242
Done in https://github.com/kubernetes/org/pull/2258 :)

[2020-10-13 07:47] #2242 closed

[2020-10-13 09:38] chris-short commented on #2259
+1

[2020-10-13 13:27] mbbroberg commented on #2259
+10000 -- so happy to have you as part of our working group @gkarthiks!

[2020-10-13 16:18] troy0820 opened #2261 "REQUEST: New membership for @troy0820"
### GitHub Username
@troy0820

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-10-13 16:35] kikisdeliveryservice commented on #2261
Troy is a great k8s member, and should have already become a member via his kubecon program committee work some time ago!! :eyes:

+100

[2020-10-13 16:38] dims commented on #2261
+1 from me. welcome aboard!

[2020-10-13 16:45] parispittman commented on #2261
+1!! so glad to have you

[2020-10-13 17:19] nicolehanjing commented on #2250
thank you!

[2020-10-13 19:34] palnabarun commented on #2259
Hi @gkarthiks :wave:, thank you for helping out with the upstream marketing team and for applying to be a @kubernetes-sigs organization member.

A requirement for sponsors is that they need to be from different companies. Unfortunately, both sponsors @chris-short and @mbbroberg are from the same company.

Can you please add one more sponsor satisfying all the guidelines mentioned in https://github

[2020-10-13 19:36] palnabarun commented on #2259
Oh, wait! I just saw that you are already a member of @kubernetes. In that case, you are automatically eligible for a membership to @kubernetes-sigs and hence don't need fresh sponsorship. :slightly_smiling_face:

Sorry for the confusion! :sweat_smile:

I will raise a PR shortly to add you to @kubernetes-sigs.

[2020-10-13 19:46] palnabarun commented on #2259
I have raised # to add you to the @kubernetes-sigs organization. Once merged, you will get a membership invite notification.

Welcome to @kubernetes-sigs as well! :tada:

/assign

[2020-10-13 19:47] palnabarun commented on #2261
@troy0820, thank you for all your contributions so far :)

I've created PR #2262 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-10-13 20:06] #2259 closed

[2020-10-13 20:06] #2261 closed

[2020-10-14 10:19] arghya88 opened #2264 "REQUEST: New membership for arghya88"
### GitHub Username
@arghya88

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-10-14 10:22] richardcase commented on #2264
Yes please on @arghya88 membership so....
+1

[2020-10-14 10:34] randomvariable commented on #2264
+1

[2020-10-14 13:27] ysy2020 opened #2265 "REQUEST: New membership for ysy2020"
### GitHub Username
@ysy2020

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-10-14 14:19] RainbowMango commented on #2265
+1

[2020-10-14 16:07] dthorsen opened #2266 "REQUEST: New membership for dthorsen"
### GitHub Username
@dthorsen

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-10-14 16:09] richardcase commented on #2266
+1

[2020-10-14 16:27] randomvariable commented on #2266
+1

[2020-10-14 17:16] palnabarun commented on #2264
@arghya88, thank you for all your contributions so far :)

I've created PR #2267 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2020-10-14 17:16] palnabarun commented on #2266
@dthorsen, thank you for all your contributions so far :)

I've created PR #2267 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2020-10-14 17:21] Jeffwan commented on #2265
+1

I'd like to sponsor @ysy2020 's membership. Thanks for the contribution on cluster autoscaler.

[2020-10-14 19:03] #2264 closed

[2020-10-14 19:03] #2266 closed

[2020-10-15 01:08] RainbowMango commented on #2265
/assign @nikhita

[2020-10-15 13:21] xing-yang commented on #2251
+1

[2020-10-15 20:04] oomichi commented on #2189
Thanks for your contribution @chethanv28 :-)
I have seen his contribution on testing area, and I am happy to support him from different company.

[2020-10-15 20:04] oomichi commented on #2189
+1

[2020-10-15 20:07] chethanv28 commented on #2189
Thanks @palnabarun for taking a look. I have received sponsorships which meets the requirements. Can you help with the review and approval

[2020-10-15 21:04] abhiraut opened #2269 "REQUEST: New membership for abhiraut"
### GitHub Username
@abhiraut

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-10-15 22:09] andrewsykim commented on #2269
+1 from me! Thanks @abhiraut!

[2020-10-15 23:29] andrewsykim opened #2271 "Repo request: kubernetes-sigs/e2e-framework"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
e2e-framework

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@andrewsykim @alejandrox1 @BenTheElder @spiffxp

### If not a staging repo, who should have write access
@andrewsykim @alejandrox1 @BenTheElder @spiffxp

### If not a staging r

[2020-10-16 13:26] savitharaghunathan commented on #2251
Hi, @mattcary 👋 Thank you for all your contributions :)

I've created PR #2273 to add you to the @kubernetes-csi organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-10-16 13:26] savitharaghunathan commented on #2265
Hi, @ysy2020 👋 Thank you for all your contributions :)

I've created PR #2273 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-10-16 15:38] Promaethius opened #2274 "REQUEST: New membership for Promaethius"
### GitHub Username
@Promaethius

### Organization you are requesting membership in
sigs@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-10-16 15:40] rudoi commented on #2274
+1 🎉

[2020-10-16 15:47] randomvariable commented on #2274
+1

[2020-10-16 16:54] savitharaghunathan commented on #2189
Hi, @chethanv28 👋 Thank you for all your contributions :)

I've created PR #2273 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-10-16 17:53] cmluciano commented on #2269
+1 from me as well !

[2020-10-16 19:33] chethanv28 commented on #2189
Thanks @savitharaghunathan

[2020-10-17 08:46] #2189 closed

[2020-10-17 08:46] #2251 closed

[2020-10-17 08:46] #2265 closed

[2020-10-18 02:35] RaunakShah opened #2275 "REQUEST: New membership for RaunakShah"
### GitHub Username
@RaunakShah

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-10-18 20:46] sftim opened #2276 "Set code owners for /.github"
### Organization or repository

I think this is relevant to most repos in the Kubernetes organization.

### Describe the issue
Granting people the ability to write into `/.github/workflows` can provide some measure of privilege escalation, so I recommend locking down access there.
Specifically, I would add an `OWNERS` file inside `.github/workflows` with a limited set of approvers, possibly narrow

[2020-10-18 22:41] mrbobbytables commented on #2276
Broadly, we encourage people to use prow over actions with a few exceptions. It may be worth just disabling actions at the org level and request folks to opt into it being enabled for the repo.

Regarding k/k - I don't think we have any intention of enabling github actions for k/k. Anything in there we would do through prow.

[2020-10-18 23:19] sftim commented on #2276
Disabling Actions at the repo level is a valid way to achieve the same outcome (likewise at the org level, if that's an option).

[2020-10-19 02:52] xing-yang commented on #2275
+1 for @RaunakShah!  Raunak has been helping with e2e tests.

[2020-10-19 14:18] nikhita commented on #2036
/lifecycle frozen

[2020-10-19 15:04] spiffxp commented on #2276
Out of curiosity, what's the case for narrowing github action approval further than root owners?

[2020-10-19 15:31] sftim commented on #2276
SIG Contribex quite rightly get to update the issue and PR templates. It's a little surprising if that access also allows running Actions (and the things that Actions are allowed to do, such as pushing branches).

[2020-10-19 15:41] mrbobbytables commented on #2276
With regard to the owners in k/k - contribex wouldn't enable actions. The approvers are on the GitHub admin team. There is enough trust there where I don't think its an issue.

[2020-10-19 17:44] msau42 commented on #2275
+1 Raunak has been doing great work with CSI scalability

[2020-10-20 14:35] alejandrox1 commented on #2271
+1
:rocket:

[2020-10-20 18:02] spiffxp commented on #2271
+1 as SIG Testing chair

[2020-10-20 18:03] BenTheElder commented on #2271
+2 :+1: :+1:

[2020-10-20 18:32] nikhita commented on #2271
Here we go - https://github.com/kubernetes-sigs/e2e-framework :)

- https://github.com/kubernetes/org/pull/2278 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5252 - to add the repo to sigs.yaml

[2020-10-20 19:33] andrewsykim commented on #2271
Thanks @nikhita!

[2020-10-21 10:46] kmova opened #2279 "Need help in adding deprecated messages to (retired) kubernetes-incubator nfs sub-projects"
### Organization or repository
https://github.com/kubernetes-retired/external-storage

### Users affected
(Affects the contributors trying to look for information on the new home for the migrated repositories.)

### Describe the issue

As part of retiring the kubernetes-incubator/external-storage repository, the following sub-projects have been migrated to kubernetes-sigs.

* https://github.com/ku

[2020-10-21 11:40] mrbobbytables commented on #966
/remove-lifecycle stale

[2020-10-21 12:00] nikhita commented on #2279
/assign

Done :)

- https://github.com/kubernetes-retired/external-storage/tree/master/nfs-client
- https://github.com/kubernetes-retired/external-storage/tree/master/nfs

If you need any more help, please feel free to reopen this issue!

[2020-10-21 12:00] #2279 closed

[2020-10-21 12:24] #2269 closed

[2020-10-21 12:24] #2274 closed

[2020-10-21 12:24] #2275 closed

[2020-10-21 12:39] kmova commented on #2279
That was super fast. thank you @nikhita

[2020-10-22 20:05] caseydavenport commented on #2239
/approve

[2020-10-22 20:28] andrewsykim commented on #2239
/retitle kubernetes-sigs/network-policy-apis

Based on Ricardo's comment above.

[2020-10-22 20:29] andrewsykim commented on #2239
Also FYI that the issue description is using an incorrect handle for my username, it should be andrewsykim (NOT a_sykim) :)

[2020-10-23 09:41] makkes opened #2282 "REQUEST: New membership for makkes"
### GitHub Username
@makkes

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-10-23 10:05] jimmidyson commented on #2282
:+1:

[2020-10-23 11:51] irfanurrehman commented on #2282
I endorse @makkes membership. He has been ardently reviewing PRs in the kubefed project and has additionally done many small contributions to the same.

[2020-10-23 12:56] savitharaghunathan commented on #2183
Hi @howardjohn 👋 , please feel free to re-open this issue when you have one more sponsor satisfying all the guidelines mentioned in https://github.com/kubernetes/community/blob/master/community-membership.md#requirements. Thanks!

/close

[2020-10-23 12:56] #2183 closed

[2020-10-23 16:28] endocrimes opened #2283 "REQUEST: New membership for endocrimes"
### GitHub Username
@endocrimes

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-10-23 16:29] troy0820 commented on #2283
+1

[2020-10-23 16:29] ehashman commented on #2283
+1, confirming my sponsorship :)

[2020-10-23 16:51] justaugustus commented on #2283
Yayyy, +1!

[2020-10-23 17:13] dims commented on #2283
+1 about time! :)

[2020-10-23 18:02] michaelgugino opened #2284 "REQUEST: New membership for michaelgugino"
### GitHub Username
@michaelgugino

### Organization you are requesting membership in
kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-10-23 18:22] mortent commented on #2284
+1

[2020-10-23 19:14] derekwaynecarr commented on #2284
+1

[2020-10-26 01:09] zacharysarah opened #2287 "Add a site: cli-docs.sigs.k8s.io"
### Repository

https://github.com/kubernetes-sigs/cli-experimental

### Project domain

cli-docs.sigs.k8s.io

NOTE: Must match domain request.
See subproject site request docs for more information:
http://git.k8s.io/community/github-management/subproject-site-requests.md#subproject-domain-request

### Additional context

👋 I'm making this request as a [temporary SIG CLI admin](https://github.com/

[2020-10-26 01:09] zacharysarah commented on #2287
/assign @mrbobbytables

[2020-10-26 01:25] pwittrock commented on #2287
We already have http://kubectl.docs.kubernetes.io.  Can we update the link to point to new site?

[2020-10-26 01:45] cblecker commented on #2287
I've approved the Netlify integration for the cli-experimental repo.

@zacharysarah You should be able to proceed with next steps on the Netlify side. We'll still need to get the DNS bits though.

[2020-10-26 18:37] brahmaroutu opened #2289 "New repository for Container Object Storage Interface - API"
### New Repo, Staging Repo, or migrate existing
New Repository

### Requested name for new repository
container-object-storage-interface-api (API definitions for Container Object Storage)

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jsafrane
@msau42
@saad-ali
@xing-yang

### If not a staging repo, who should have write access
@s

[2020-10-26 18:38] brahmaroutu commented on #2289
/sig storage
/assign @xing-yang @saad-ali
ping @copejon @wlan0 Please review.
ping @nikhita
We need this extra repo to not overload existing repos.

[2020-10-26 20:54] xing-yang commented on #2289
/lgtm

[2020-10-27 06:14] mayankshah1607 opened #2290 "REQUEST: New membership for mayankshah1607"
### GitHub Username
@mayankshah1607

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail

[2020-10-27 06:16] andyzhangx commented on #2290
/lgtm
/approve
thanks for the contribution

[2020-10-27 06:19] andyzhangx commented on #2290
+1

[2020-10-27 07:51] nikhita commented on #2289
Repo has been created - https://github.com/kubernetes-sigs/container-object-storage-interface-api :tada:

- https://github.com/kubernetes/org/pull/2291 - adds GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5272 - adds repo to sigs.yaml

Once both PRs merge, we can close this issue. :+1:

[2020-10-27 07:54] nikhita commented on #2177
Looks like https://github.com/kubernetes/enhancements/pull/2084 is the only remaining PR to update references with the old name of the repo. IMO it should be fine to track that PR separately so I'll go ahead and close this issue. :)

[2020-10-27 07:54] #2177 closed

[2020-10-27 13:08] savitharaghunathan commented on #2284
Hi, @michaelgugino 👋 Thank you for all your contributions :)

I've created PR #2292  to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-10-27 13:08] savitharaghunathan commented on #2283
Hi, @endocrimes 👋 Thank you for all your contributions :)

I've created PR #2292 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-10-27 13:09] savitharaghunathan commented on #2282
Hi, @makkes 👋 Thank you for all your contributions :)

I've created PR #2292 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-10-27 13:12] #2284 closed

[2020-10-27 13:12] #2282 closed

[2020-10-27 13:12] #2283 closed

[2020-10-27 13:26] endocrimes commented on #2283
@savitharaghunathan thank you! ✨

[2020-10-27 13:29] troy0820 commented on #2283
YAY!!!! 🎉  ✨ 👍

[2020-10-27 15:30] brahmaroutu commented on #2289
awesome, thanks @nikhita.

[2020-10-27 16:27] msau42 commented on #2290
+1 Mayank has been doing a lot of great work with the smb and nfs csi drivers!

[2020-10-28 15:09] pwittrock commented on #2287
Thanks!  How do we update the DNS for netlify?  Is it here?  https://github.com/kubernetes/website

[2020-10-28 15:16] pwittrock commented on #2287
Looks like we need to make a change [here](https://github.com/kubernetes/k8s.io/blob/master/dns/zone-configs/k8s.io._0_base.yaml)?

Are there instructions explaining what we need to do?

[2020-10-28 15:37] pwittrock commented on #2287
Looks like we just copy this: https://github.com/kubernetes/k8s.io/commit/de672008ff5b0e1449247586cd72ac9dcc365ac2

[2020-10-28 15:44] nikhita commented on #2287
@pwittrock https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md :)

[2020-10-28 15:46] pwittrock commented on #2287
Thanks!  This is exactly what I was looking for!

[2020-10-28 16:09] dprotaso opened #2294 "REQUEST: New membership for dprotaso"
### GitHub Username
dprotaso

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-10-28 16:15] nikhita commented on #2294
+1 from me!

/woof

[2020-10-28 16:15] dprotaso commented on #2294
haha

[2020-10-28 16:25] nader-ziada commented on #2294
+1 from me as well 🎉

[2020-10-28 16:28] #2289 closed

[2020-10-28 17:52] ilya-zuyev opened #2295 "REQUEST: New membership for ilya-zuyev"
### GitHub Username
@ilya-zuyev

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-10-28 18:15] benmoss opened #2296 "New repo sigs.k8s.io/cluster-api-provider-kubemark"
### New Repo, Staging Repo, or migrate existing
migrate existing
https://github.com/benmoss/cluster-api-provider-kubemark/

### Requested name for new repository
cluster-api-provider-kubemark

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
- @benmoss
- @elmiko
- https://github.com/kubernetes-sigs/cluster-api/blob/master/OWNERS_ALIAS

[2020-10-28 18:15] benmoss commented on #2296
cc @neolit123

[2020-10-28 18:23] elmiko commented on #2296
thanks for posting this Ben!

[2020-10-28 18:37] neolit123 commented on #2296
+1, thanks for logging the issue.

[2020-10-28 18:37] neolit123 commented on #2296
/sig cluster-lifecycle

[2020-10-28 19:25] huffmanca opened #2297 "REQUEST: New membership for huffmanca"
### GitHub Username
@huffmanca

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-10-28 19:32] sharifelgamal commented on #2295
I'll sponsor @ilya-zuyev

[2020-10-28 20:47] blueelvis commented on #2295
I will also sponsor @ilya-zuyev

[2020-10-29 22:19] n3wscott opened #2299 "REQUEST: New membership for n3wscott"
### GitHub Username
@n3wscott

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-10-29 22:24] justaugustus commented on #2299
+1!
Scott recently [donated](https://github.com/kubernetes-sigs/zeitgeist/pull/14) buoy (https://github.com/n3wscott/buoy) to zeitgeist (https://github.com/kubernetes-sigs/zeitgeist) and we'll be adding his as a maintainer to help [integrate the two tools](https://github.com/kubernetes-sigs/zeitgeist/issues/15)!

/pony party

[2020-10-29 22:24] justaugustus commented on #2299
FYI @kubernetes/release-engineering for sponsorship.

[2020-10-29 22:30] justaugustus commented on #2299
/assign

[2020-10-29 22:44] justaugustus commented on #2299
Opened https://github.com/kubernetes/org/pull/2300 for org and team membership.

[2020-10-29 23:36] #2299 closed

[2020-10-30 03:53] nikhita commented on #2296
@benmoss this looks almost good to go! Can you also add LICENSE and other template files as per https://github.com/kubernetes/kubernetes-template-project?

[2020-10-30 04:41] nikhita commented on #2239
/assign

@jayunit100 We still need to do a few things before we can migrate the repo :)

- Can you please add the template files as per https://github.com/kubernetes/kubernetes-template-project? Please also update the README to include links to slack channels, mailing lists and code of conduct.

- Is the repo expected to host code as well? If no, you'll need to use Creative Commons 4.0 license - h

[2020-10-30 04:48] andrewsykim commented on #2239
I would be in favor of starting this repo from scratch as opposed to migrating the existing one. The existing one was a temporary home for draft KEPs which should really belong in k/enhancements anyways.

[2020-10-30 19:43] swatisehgal opened #2302 "NodeResourceTopology API to enable Topology aware scheduling in kubernetes"
### New Repo, Staging Repo, or migrate existing
Staging Repo

### Requested name for new repository
noderesourcetopology-api

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
### If not a staging repo, who should have write access
### If not a staging repo, who should be listed as approvers in OWNERS
### If not a staging repo, who should b

[2020-10-30 19:44] swatisehgal commented on #2302
/assign @nikhita

[2020-10-30 23:29] neolit123 commented on #2296
both PRs merged. :tada:

[2020-10-31 06:36] nikhita commented on #2296
/trick-or-treat

[2020-10-31 06:37] nikhita commented on #2296
Teams have been granted access and sigs.yaml has been updated. Closing :)

[2020-10-31 06:37] #2296 closed

[2020-11-02 14:58] nikhita commented on #2271
Teams have been granted access, and sigs.yaml has been updated. Closing!

[2020-11-02 14:58] #2271 closed

[2020-11-02 17:28] nikhita commented on #2302
@swatisehgal Is this intended to be a sig-node subproject or a sig-scheduling one? Depending on the SIG, we'll also need sign off from the respective SIG's leads.

I already see @Huang-Wei's +1 on the email thread, so if it's sig-scheduling, we are good to go! If it's sig-node, we'll need +1s from sig-node leads too.

[2020-11-02 19:53] aramase opened #2303 "Netlify site request for Secrets Store CSI Driver"
### Repository
[kubernetes-sigs/secrets-store-csi-driver](https://github.com/kubernetes-sigs/secrets-store-csi-driver)

### Project domain
secrets-store-csi-driver.sigs.k8s.io

NOTE: Must match domain request.
See subproject site request docs for more information:
http://git.k8s.io/community/github-management/subproject-site-requests.md#subproject-domain-request

### Additional context for request

[2020-11-02 22:05] prafull01 opened #2304 "REQUEST: New membership for prafull01"
### GitHub Username
@prafull01

### Organization you are requesting membership in
- @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-11-02 22:15] dims commented on #2302
@derekwaynecarr @dchen1107 please approve

[2020-11-02 22:21] camilamacedo86 commented on #2304
/lgtm +1
@prafull01 has been doing great collabs on kubebuilder and it is an honour be his sponsor.

[2020-11-02 22:37] dchen1107 commented on #2302
Approved!

[2020-11-03 01:31] hi-rustin opened #2305 "REQUEST: New membership for hi-rustin"
### GitHub Username
@hi-rustin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-11-03 02:07] alvaroaleman commented on #2305
Hey @hi-rustin ,

I am happy to sponsor your membership request once I have seen a bit more of your work.

[2020-11-03 07:23] ydcool opened #2306 "REQUEST: New membership for ydcool"
### GitHub Username
@ydcool

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-11-03 07:33] timyinshi commented on #2306
ok,@ydcool  is a k8S open source enthusiast,he is providing his own experience and capabilities to the K8S community

[2020-11-03 07:40] tengqm commented on #2306
+1

Looking forward to more contributions from you!

[2020-11-03 08:50] nikhita commented on #2302
Repo has been created - https://github.com/kubernetes/noderesourcetopology-api :tada:

Also created two PRs:

- https://github.com/kubernetes/test-infra/pull/19814 - for branch protection rules
- https://github.com/kubernetes/community/pull/5290 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue. :+1:

[2020-11-03 08:54] nikhita commented on #2239
@jayunit100 can you update the issue body to reflect the new changes? :)

[2020-11-03 09:38] swatisehgal opened #2307 "REQUEST: New membership for @swatisehgal"
### GitHub Username
@swatisehgal

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-11-03 09:47] nikhita commented on #2307
+1 from me :)

[2020-11-03 12:02] jayunit100 commented on #2239
/close

[2020-11-03 12:02] #2239 closed

[2020-11-03 12:09] jayunit100 commented on #2239
we haven't yet really reached consensus on why we need a repo so I'll close this for now

[2020-11-03 13:31] tanjunchen commented on #2306
+1
@ydcool
Thanks for your contributions for k8s.

[2020-11-03 13:48] dims commented on #2307
Sad that you didn't ask me and @nikhita !! +1 from me as well :)

[2020-11-03 17:22] chrishenzie opened #2309 "REQUEST: New membership for chrishenzie"
### GitHub Username
@chrishenzie

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-11-03 18:06] xing-yang commented on #2309
+1 @chrishenzie has been helping with snapshot work.

[2020-11-03 19:24] Huang-Wei commented on #2307
+1

[2020-11-03 20:33] palnabarun commented on #2290
@mayankshah1607, thank you for all your contributions so far :)

I've created PR #2310 to add you to the @kubernetes, @kubernetes-csi, and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes, @kubernetes-csi and @kubernetes-sigs! :tada:

/assign

[2020-11-03 20:33] palnabarun commented on #2295
@ilya-zuyev, thank you for all your contributions so far :)

I've created PR #2310 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-11-03 20:33] palnabarun commented on #2297
Hi @huffmanca 👋🏽, I have raised PR #2310 to add you to @kubernetes-csi. Once that merges, you should get a membership invite notification.

/assign

[2020-11-03 20:33] palnabarun commented on #2306
@ydcool, thank you for all your contributions so far :)

I've created PR #2310 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-11-03 20:34] palnabarun commented on #2307
@swatisehgal, thank you for all your contributions so far :)

I've created PR #2310 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-11-03 20:44] #2290 closed

[2020-11-03 20:44] #2295 closed

[2020-11-03 20:44] #2297 closed

[2020-11-03 20:44] #2306 closed

[2020-11-03 20:44] #2307 closed

[2020-11-04 08:50] s-urbaniak commented on #2182
@nikhita small question, can I help with the following ?

[2020-11-04 10:28] mrbobbytables commented on #2182
@s-urbaniak I think we're still waiting on people to finish signing the cla =\ It's been a little bit since I checked, but going from the comments in this thread these folk still need to sign:
@john-delivuk
@rrtaylor
@sergii-koshel-exa
@thisisamurray
@skozlov
@rjackson90
@duane-ibm

[2020-11-04 10:32] sergii-koshel-exa commented on #2182
I've signed already

[2020-11-04 11:07] lilic commented on #2182
@mrbobbytables according to [this comment](https://github.com/kubernetes/org/issues/2182#issuecomment-691877843) it's been longer than the two weeks, if folks don't sign by end of this week would it be okay to just proceed or is there anything else we could do to speed up the process? Thanks!

[2020-11-04 14:19] nikhita commented on #2182
@swinslow @caniszczyk can you please take a look at this from a legal perspective? We want to migrate a repo but there are some contributors who have not signed the CLA. It's been over a month that we have not heard from them.

[2020-11-04 15:34] swinslow commented on #2182
@nikhita Looking through the contributions from this list of folks who haven't signed, it looks like @john-delivuk in particular made several commits that were substantive. I would encourage continuing to try to get @john-delivuk to sign the CLA if possible.

If that fails, then I think the process would be what you linked to in the [rules](https://github.com/kubernetes/community/blob/master/githu

[2020-11-04 18:28] PurelyApplied opened #2311 "REQUEST: New membership for PurelyApplied"
### GitHub Username
@PurelyApplied

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-11-04 18:30] spiffxp commented on #2311
+1 from sponsor

[2020-11-04 18:48] tallclair commented on #2311
+1 from me!

[2020-11-05 00:29] DirectXMan12 commented on #2304
:+1: from me as well :-)