[2020-11-05 00:53] spiffxp commented on #2304
/assign

[2020-11-05 00:53] spiffxp commented on #2311
/assign

[2020-11-05 01:02] spiffxp commented on #2304
@prafull01 thanks for all your contributions to the project

Once https://github.com/kubernetes/org/pull/2312 merges, you should get a membership invite notification for @kubernetes-sigs

Welcome to the project!

/meowvie

[2020-11-05 01:03] spiffxp commented on #2311
@PurelyApplied thanks for all your contributions to the project

Once https://github.com/kubernetes/org/pull/2312 merges, you should get a membership invite notification for @kubernetes

Welcome to the project!

/meowvie

[2020-11-05 01:04] #2311 closed

[2020-11-05 01:04] #2304 closed

[2020-11-05 03:49] JornShen opened #2313 "REQUEST: New membership for JornShen"
### GitHub Username
@JornShen

### Organization you are requesting membership in

@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-11-05 03:50] JornShen commented on #2313
/cc @Lion-Wei  @msau42

[2020-11-05 03:54] Lion-Wei commented on #2313
I'll sponsor @JornShen

[2020-11-05 07:49] s-urbaniak commented on #2182
thank you everyone for the help and instructions how to proceed! :bow: I will try to contact contributors wherever their email is available from their profile.

[2020-11-05 10:43] nikhita commented on #2303
@aramase Once the netlify site is created, it will try to deploy the master branch. Please get https://github.com/kubernetes-sigs/secrets-store-csi-driver/pull/360 merged and I can then create the site so that the deploy works :)

[2020-11-05 11:03] nikhita commented on #2303
/unassign
/assign @mrbobbytables

Bob knows Netlify best :)

[2020-11-05 11:33] bertinatto commented on #2309
+1 from me too!

[2020-11-05 14:17] mrbobbytables commented on #2303
Netlify has been configured, and the domain is set for.
https://kubernetes-sigs-secrets-store-csi-driver.netlify.app

You will need to open a PR adding the stecrets-store-csi-driver.k8s.io CNAME in the [k8s.io](https://github.com/kubernetes/k8s.io/blob/master/dns/zone-configs/k8s.io._0_base.yaml#L295) repo 👍

Once that's merged, the site can finish being provisioned and ssl setup :)

[2020-11-05 17:32] msau42 commented on #2313
+1 @JornShen has been helping sig-storage with implementing metrics

[2020-11-05 18:35] aramase commented on #2303
Thank you @mrbobbytables. Opened PR https://github.com/kubernetes/k8s.io/pull/1398 to add the CNAME.

[2020-11-06 01:25] JornShen commented on #2313
Thanks！ @Lion-Wei @msau42
I will keep trying my best to help community more better. :)

[2020-11-06 06:54] nikhita commented on #2294
Looks like @liggitt did a :+1: on the issue body so we now have +1s from sponsors from different employers. :)

We add members in batches, so this will get processed when the next batch is added.

[2020-11-06 13:03] jsafrane commented on #2309
+1 from me too

[2020-11-06 14:07] ameukam commented on #2313
Hi @JornShen, thank you for all your contributions so far :)

I've created PR #2316 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:
/assign

[2020-11-06 14:08] ameukam commented on #2294
Hi @dprotaso, thank you for all your contributions so far :)

I've created PR #2316 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:
/assign

[2020-11-06 14:09] ameukam commented on #2309
Hi @chrishenzie, thank you for all your contributions so far :)

I've created PR #2316 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:
/assign

[2020-11-06 14:34] dprotaso commented on #2294
Wooo thanks everyone!

On Fri, Nov 6, 2020 at 09:08 Arnaud M. <notifications@github.com> wrote:

[2020-11-06 14:37] JornShen commented on #2313
@ameukam thanks for adding !

[2020-11-06 14:56] #2294 closed

[2020-11-06 14:56] #2309 closed

[2020-11-06 14:56] #2313 closed

[2020-11-06 21:12] tam7t opened #2317 "REQUEST: New membership for tam7t"
### GitHub Username
@tam7t

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-11-06 21:16] aramase commented on #2317
+1 for @tam7t's membership

Tommy has been actively contributing to the Secrets Store CSI Driver project

[2020-11-06 21:34] ritazh commented on #2317
+1 🎉

Thank you for your contribution on the sig-auth subproject: https://github.com/kubernetes-sigs/secrets-store-csi-driver

[2020-11-07 00:20] savitharaghunathan commented on #2317
Hi, @tam7t 👋. Thanks for all your contributions 🎉

According to the [sponsor requirements](https://github.com/kubernetes/community/blob/master/github-management/new-membership-procedure.md#sponsor-requirements), it requires the sponsors to be from different companies. Can you add another sponsor from another company to maintain integration across the community? @ritazh & @aramase's GH profile has

[2020-11-07 16:17] mrbobbytables commented on #2303
DNS has been updated, you should be good to go to merge 👍

[2020-11-09 05:24] Cweiping opened #2318 "REQUEST: New membership for Cweiping"
### GitHub Username
@Cweiping

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-11-09 05:28] tengqm commented on #2318
+1.
Looking forward to see more contributions from you.

[2020-11-09 05:31] zhouya0 commented on #2318
+1
/lgtm
Thanks for you contributions!

[2020-11-09 12:46] pasqualet opened #2319 "REQUEST: New membership for pasqualet"
### GitHub Username
@pasqualet

### Organization you are requesting membership in
@kubernetes @kubernetes-sigs
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2020-11-09 12:53] floryut commented on #2319
👍 lots of good contributions from @pasqualet

[2020-11-09 16:27] tam7t commented on #2317
Ah apologies I misread and thought that separate company was sufficient. Added @jimangel from Google

[2020-11-09 16:30] jimangel commented on #2317
+1 🎉
Look forward to seeing more work on the secrets CSI driver!
Thanks @savitharaghunathan!

[2020-11-09 16:41] savitharaghunathan commented on #2318
Hi, @Cweiping 👋 Thank you for all your contributions :)

I've created PR #2320 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-11-09 16:41] savitharaghunathan commented on #2317
Hi, @tam7t 👋

I've created PR #2320 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-11-09 17:33] Miouge1 commented on #2319
Happy to sponsor @pasqualet he has been helpful on the Kubespray project

I haven't sponsored anyone for the @kubernetes org before, so I'm not sure if am an eligible sponsor for that org

[2020-11-09 19:34] aramase commented on #2303
Thank you @mrbobbytables. We'll get the PR in the driver reviewed and merged.

[2020-11-10 01:07] Cweiping commented on #2318
Thank you for your sponsorship. @tengqm @zhouya0
Looking forward to growing with @kubernetes community.
By the way, the title date of PR is wrong. @savitharaghunathan

[2020-11-10 01:43] savitharaghunathan commented on #2319
@pasqualet 👋  Thanks for all your contributions 🎉 . To be added to Kubernetes org, you need one more sponsor who is a reviewer or approver in at least 1 OWNERS file in any repo in the Kubernetes org (floryut qualifies to sponsor only for Kubernetes-sigs org)

[2020-11-10 03:28] #2317 closed

[2020-11-10 03:28] #2318 closed

[2020-11-10 07:57] nikhita commented on #2302
Branch protection rules have been updated, and repo has been added to sigs.yaml. Closing.

[2020-11-10 07:57] #2302 closed

[2020-11-10 15:50] electrocucaracha commented on #2319
I'm not sure if my vote counts here but I give a +1 to this. @pasqualet has been helpful on this project.

[2020-11-10 17:50] electrocucaracha opened #2321 "REQUEST: New membership for @electrocucaracha"
### GitHub Username
@electrocucaracha

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2020-11-10 18:00] pasqualet commented on #2319
@savitharaghunathan thanks for you help! As far I can see @electrocucaracha can sponsor me for Kubernetes org. If not, I'm going to apply just to Kubernetes-Sigs.

[2020-11-10 19:01] mattymo commented on #2321
I agree to sponsor @electrocucaracha

[2020-11-10 19:54] EppO commented on #2321
+1
welcome on board!

[2020-11-11 05:21] skozlov commented on #2182
I've signed the CLA.

[2020-11-11 08:23] s-urbaniak commented on #2182
just a small heads-up: unfortunately I cannot reach @duane-ibm @john-delivuk @rjackson90. Those emails have been public on github, but I didn't get any answers so far :man_shrugging:

[2020-11-11 13:38] savitharaghunathan commented on #2319
Hi, @pasqualet 👋 Thanks for all your contributions.

I've created PR #2326 to add you to the @kubernetes & @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-11-11 13:39] savitharaghunathan commented on #2321
Hi, @electrocucaracha 👋.

I've created PR #2326 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-11-11 16:30] #2319 closed

[2020-11-11 16:30] #2321 closed

[2020-11-11 19:53] chrishenzie opened #2327 "REQUEST: New membership for chrishenzie"
### GitHub Username
@chrishenzie

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-11-11 19:58] chrishenzie opened #2328 "REQUEST: New membership for chrishenzie"
### GitHub Username
@chrishenzie

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-11-11 20:00] chrishenzie commented on #2327
I am already a member of the @kubernetes org and was informed I did not need to provide sponsors for this request, however I can add some if it's required.

[2020-11-11 20:01] chrishenzie commented on #2328
I am already a member of the @kubernetes org and was informed I did not need to provide sponsors for this request, however I can add some if it's required.

[2020-11-11 20:23] rjackson90 commented on #2182
Hi there! I signed the CLA months ago and must have missed @s-urbaniak 's email. I just fixed a typo, if reverting that commit is the easiest way forward it's fine with me. I've turned on notifications for this thread again so if there's something else that I need to do please let me know.

[2020-11-12 08:13] floryut commented on #2321
Too late but :+1: 😄

[2020-11-12 16:39] marseel opened #2329 "REQUEST: New membership for marseel"
### GitHub Username
@marseel

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-11-12 18:39] mm4tt commented on #2329
+1

Thanks Marcel for all the contributions so far! Waiting for more :)

[2020-11-16 17:33] shyamjvs commented on #2329
+1

Welcome!

[2020-11-17 06:58] vteratipally opened #2331 "REQUEST: New membership for vteratipally"
### GitHub Username
@vteratipally

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-11-18 11:08] nikhita opened #2332 "Prune kubernetes-maintainers GitHub team"
The legacy [kubernetes-maintainers](https://github.com/kubernetes/org/blob/adc0166a081ec7a613ebc8422d9676ff4035fc31/config/kubernetes/org.yaml#L1605) GitHub team has write access to the k/k repo. This issue is to discuss pruning the team.

There has been previous discussion about _removing_ the team in https://github.com/kubernetes/kubernetes/issues/57667. Given that we don't have good automated s

[2020-11-18 11:10] nikhita commented on #2332
cc @kubernetes/owners
GitHub admin team

cc @dims @derekwaynecarr @johnbelamaric
sig-arch leads

cc @liggitt @sttts @deads2k @tpepper @justaugustus
who've had opinions about this team before (in https://github.com/kubernetes/kubernetes/issues/57667 + https://github.com/kubernetes/org/pull/2330)

[2020-11-18 11:51] mrbobbytables commented on #2332
+1. It's been needed for some time.

[2020-11-18 13:20] dims commented on #2332
+1 to prune. isn't milestone-maintainers a larger group?

[2020-11-18 13:29] idvoretskyi commented on #2332
+1

[2020-11-18 13:32] liggitt commented on #2332
Is this suggesting we remove current members of the kubernetes-maintainers list if either of the following are true:
* they are not in milestone-maintainers
* they are not an approver in k/k

If so, that seems very reasonable to me and moves in the desired direction of shrinking the list.

[2020-11-18 13:33] nikhita commented on #2332
Yes :+1:

[2020-11-18 13:37] nikhita commented on #2332
To clarify - we won't bulk-add milestone-maintainers + k/k approvers if they aren't already in the `kubernetes-maintainers` GitHub team.

If someone in milestone-maintainers + k/k approvers wants to be on the team, they can create a PR to add themselves separately.

Want to keep the team as small as possible.

[2020-11-18 16:51] dims commented on #2332
@nikhita @liggitt sounds like a good plan. Let's do this!

[2020-11-18 18:16] justaugustus commented on #2332
One note

What would be the approval process here?
My one concern is that Release Team members (specifically Release Team shadows) are on the milestone-maintainers group and I'm not in favor of them getting write access to k/k without some process in place.

[2020-11-18 18:54] nikhita commented on #2332
Thinking more about this, how about:

- If an existing member of `kubernetes-maintainers` is not a k/k approver, we remove them from the team
- We don't add any new members to the team

[2020-11-18 19:04] justaugustus commented on #2332
I like this.

Hmmmmm, so I think there should be a route to write access.

@dims is not a root approver for k/k, but I do feel he's deserving of the access that was granted in https://github.com/kubernetes/org/pull/2330.

How can we cover those cases in future?

[2020-11-19 04:48] xing-yang commented on #2328
+1 I'm happy to sponsor @chrishenzie if needed:).

[2020-11-19 04:49] xing-yang commented on #2327
+1

[2020-11-19 06:18] hi-rustin commented on #2305
@alvaroaleman @fejta How about now? 😄
I have created 15 PRs for test-infra, and 12 PRs have been merged.

[2020-11-19 18:25] Random-Liu commented on #2331
+1 vteratipally is actively contributing to NPD for several months.

[2020-11-19 18:31] bsdnet commented on #2331
+1 vteratipally is actively contributing to NPD and COS related issues for a while

[2020-11-19 20:23] fejta commented on #2305
+1

[2020-11-19 20:25] alvaroaleman commented on #2305
+1

[2020-11-19 20:27] raghvenders opened #2333 "REQUEST: New membership for @raghvenders"
### GitHub Username
@raghvenders

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-11-19 20:28] raghvenders commented on #2333
/assign @sftim

[2020-11-19 20:30] sftim commented on #2333
Hi @raghvenders

You should speak to your other sponsor too and check they're happy to sponsor you.
Also, to help reviewers, I recommend expanding the list of contributions above so that it's right there in the PR description.

[2020-11-19 21:18] raghvenders commented on #2333
@sftim , thanks Tim.
I am on my way to the 2nd sponsor.

Sorry @sftim  , i am not clear on the expanding list contributions part.I have created an issue though not a PR.

[2020-11-19 22:22] raghvenders commented on #2333
/assign @jimangel

[2020-11-20 01:20] dchen1107 commented on #2331
+1 We also introduced vteratipally@ at SIG Node two weeks ago as one of the new owners for NPD.

[2020-11-20 06:27] lianghao208 opened #2335 "REQUEST: New membership for lianghao208"
### GitHub Username
lianghao208

### Organization you are requesting membership in
kubernetes-sigs
kubernetes
### Requirements
- [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x]  I have subscribed to the kubernetes-dev e-mail list (https://group

[2020-11-20 19:17] Huang-Wei commented on #2335
@lianghao208 Could you list other contributions (reviewed PRs are also counted) according to the template? in both k/k and k-sigs/scheduler-plugins.

[2020-11-21 01:31] lianghao208 commented on #2335
By far, I submit 3 merged PRs for k-sigs/scheduler-plugins and listed on comment. Is that a minimum contributions quantity requirement for being a k-sigs member?

[2020-11-21 06:26] Huang-Wei commented on #2335
I'm not 100% sure there is a fixed number, but listing all your contributions can always help sponsors make the decision easier :)

[2020-11-21 06:27] Huang-Wei commented on #2335
+1

Looking forward to seeing more contributions!

(BTW: you need another sponsor)

[2020-11-21 06:36] lianghao208 commented on #2335
@Huang-Wei thanks!

[2020-11-21 06:43] lianghao208 commented on #2335
@denkensk
Would you like to be my sponsor? Thanks!!

[2020-11-21 06:46] denkensk commented on #2335
+1
Looking forward to more contributions

[2020-11-21 06:52] lianghao208 commented on #2335
/assign @mrbobbytables

[2020-11-21 07:19] lianghao208 commented on #2335
#2337

[2020-11-22 05:46] kosehy opened #2338 "REQUEST: New membership for kosehy"
### GitHub Username
@kosehy

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-11-22 06:11] seokho-son commented on #2338
+1, @kosehy is a contributor for Korean localization for k/website. I'm happy to work with @kosehy !

[2020-11-22 23:35] pjhwa commented on #2338
+1
@kosehy is a active contributor for Korean localization.
Thank you for your hard work for localization, @kosehy !

[2020-11-23 02:44] gochist commented on #2338
+1, @kosehy is one of the most active contributor recently!

[2020-11-23 02:51] wangshiqi308 opened #2339 "REQUEST: New membership for wangshiqi308"
### GitHub Username
@wangshiqi308

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-11-23 11:38] RainbowMango commented on #2339
+1
Thanks @wangshiqi308 for your contribution to autoscaler. :)

[2020-11-23 17:19] Jeffwan commented on #2339
+1
Thanks for the contribution. I would like to sponsor the membership @wangshiqi308

[2020-11-23 18:30] ruiwen-zhao opened #2340 "REQUEST: New membership for ruiwen-zhao"
### GitHub Username
@ruiwen-zhao

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-11-23 18:33] dashpole commented on #2340
I support membership for @ruiwen-zhao

[2020-11-23 18:33] hasheddan commented on #2340
I support membership for @ruiwen-zhao :+1:

[2020-11-23 20:50] cmurphy opened #2341 "REQUEST: New membership for cmurphy (kubernetes-sigs)"
### GitHub Username
@cmurphy

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-11-23 20:52] hasheddan commented on #2341
I support adding @cmurphy as a @kubernetes-sigs member!

[2020-11-23 21:06] saschagrunert commented on #2341
Yep yep, huge +1 from my side, too! 😊

[2020-11-23 21:23] justaugustus opened #2342 "Establish repo for artifact promotion configurations"
### New Repo, Staging Repo, or migrate existing
Migrate existing: https://github.com/justaugustus/artifacts

### Requested name for new repository

https://github.com/kubernetes/artifacts

### Which Organization should it reside

kubernetes

### If not a staging repo, who should have admin access

[code]

ref: https://github.com/justaugustus/artifacts/blob/ba6bd79ce72ddcca7fb60c89e8e2612945761989/

[2020-11-23 21:58] thockin commented on #2342
IMO having a dedicated repo for this is a win, even if just for better notifications

[2020-11-23 22:20] justaugustus commented on #2342
My kingdom for more focused notifications!

[2020-11-23 22:32] justaugustus commented on #2342
Approval request sent to SIG Arch ML: https://groups.google.com/g/kubernetes-sig-architecture/c/3HsF1zF0aP4

[2020-11-24 03:36] dims commented on #2342
+1 in principle, will look deeper early next week

[2020-11-24 04:30] wangshiqi308 commented on #2339
/assign @nikhita

[2020-11-24 08:30] saschagrunert commented on #2341
/assign @nikhita
for a final approval :innocent:

[2020-11-24 13:29] hi-rustin commented on #2305
/assign @savitharaghunathan

Could you please add me to the @kubernetes organization?

Thanks!

[2020-11-24 15:46] savitharaghunathan commented on #2340
Hi, @ruiwen-zhao 👋 Thanks for your contributions to Kubernetes :)

I've created PR #2343 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-11-24 15:47] savitharaghunathan commented on #2339
Hi, @wangshiqi308 👋  Thanks for your contributions to the Autoscalar project :)

I've created PR #2343 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-11-24 15:48] savitharaghunathan commented on #2338
Hi, @kosehy 👋  Thanks for your contributions to the k/website localization project :)

I've created PR #2343 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-11-24 15:49] savitharaghunathan commented on #2341
Hi, @cmurphy 👋  Thanks for your contributions to the security profiles operator project :)

I've created PR #2343 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-11-24 15:57] #2340 closed

[2020-11-24 15:57] #2338 closed

[2020-11-24 15:57] #2339 closed

[2020-11-24 15:57] #2341 closed

[2020-11-24 16:09] cmurphy commented on #2341
Thank you!

[2020-11-24 17:45] justinsb commented on #2342
To confirm my understanding - is the idea that we will move the image promoter manifests that are current in kubernetes/k8s.io into this new repo? (e.g. https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io/images )   Or will this be reserved only for "core" artifacts, and "kubernetes-sigs" artifacts will be managed elsewhere?

[2020-11-24 18:02] justaugustus commented on #2342
@justinsb -- so the repo would be "core" in the sense that it's in the `kubernetes` GH org, but it would contain the image/file configs for all staging projects.

Everything under:
- k/k8s.io/k8s.gcr.io
- k/k8s.io/artifacts (kOps being the only participant here at the moment)

[2020-11-24 18:54] spiffxp commented on #2342
I agree this would be better for notifications.  However, I am concerned the split of artifact project ACL and provisioning in k8s.io may lead to things falling stale. Can you articulate more of the intended cross-repo workflow and validation?

[2020-11-25 07:26] palnabarun commented on #2331
Hi @vteratipally 👋🏽, Thank you for your contributions to Node Problem Detector.

One requirement for sponsoring new members is that the sponsors need to be from companies. However, all of your sponsors (@Random-Liu, @bsdnet, @dchen1107) are from the same company. Please let me know if it is otherwise.

Can you please add another sponsor from a different company? :)

[2020-11-25 07:26] palnabarun commented on #2331
/assign

[2020-11-25 16:09] SyamSundarKirubakaran opened #2345 "REQUEST: New membership for SyamSundarKirubakaran"
### GitHub Username
@SyamSundarKirubakaran

### Organization you are requesting membership in
@kubernetes, @kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (h

[2020-11-25 16:13] pwittrock commented on #2345
/lgtm
/approve

[2020-11-25 16:18] soltysh commented on #2345
:+1:

[2020-11-25 17:49] palnabarun commented on #2305
@hi-rustin, thank you for all your contributions so far :)

I've created PR #2347 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2020-11-25 17:49] palnabarun commented on #2329
@marseel, thank you for all your contributions so far :)

I've created PR #2347 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome @kubernetes! :tada:

/assign

[2020-11-25 17:52] palnabarun commented on #2327
@chrishenzie -- thank you for requesting membership to @kubernetes-sigs. Indeed you don't sponsorship to request membership if you are already a member of @kubernetes. :)

#2347 will add you to @kubernetes-sigs as well as @kubernetes-csi (as you requested in #2328). Once the PR gets merged you will get an invite.

/assign

[2020-11-25 17:54] palnabarun commented on #2328
Ref: https://github.com/kubernetes/org/issues/2327#issuecomment-733858869 :)

/assign

[2020-11-25 17:59] palnabarun commented on #2345
@SyamSundarKirubakaran, thank you for all your contributions to the awesome `kubectl` documentation :)

I've created PR #2347 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2020-11-25 18:02] #2305 closed

[2020-11-25 18:02] #2327 closed

[2020-11-25 18:02] #2328 closed

[2020-11-25 18:02] #2329 closed

[2020-11-25 18:02] #2335 closed

[2020-11-25 18:02] #2345 closed

[2020-11-25 18:05] palnabarun commented on #2335
@lianghao208, thank you for all your contributions so far :)

Since both #2347 and #2337 merged, you should get membership invite notifications to both the organizations you requested for.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2020-11-25 18:07] palnabarun commented on #2335
Oops! I think I was a bit early to say that #2337 merged. It is being retested, although it is highly likely to go through. :)

[2020-11-25 23:42] vteratipally commented on #2331
Hi @palnabarun,

Thanks for the help! If someone you know that's not from Google would like to sponsor me, that'd be great! :)

[2020-11-28 03:42] reylejano opened #2348 "REQUEST: New membership for reylejano"
### GitHub Username
@reylejano

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-11-28 04:01] annajung commented on #2348
+1

@reylejano has been part of sig release for multiple releases and currently is a doc shadow for 1.20 release.

[2020-11-28 06:51] nikhita commented on #2348
@reylejano looks like you were already part of the @kubernetes org but the bot removed you because of the change in username (`s/reylejano-rxm/reylejano`). The bot can't auto-update membership if username changes.

To get re-added to the org, you don't need new sponsors. :)

I have created https://github.com/kubernetes/org/pull/2349 to get you re-added to the org. Let me know if you need any more

[2020-11-28 07:08] justaugustus commented on #2348
Thanks Nikhita! Beat me to it :)

[2020-11-28 07:10] #2348 closed

[2020-11-28 07:12] reylejano commented on #2348
@nikhita and @justaugustus Thank you!

[2020-11-28 09:08] justaugustus commented on #2348
Welcome back! :)

[2020-11-30 02:06] zouyee commented on #2052
/remove-lifecycle stale

[2020-12-01 16:14] liggitt opened #2350 "Migrate https://github.com/liggitt/kubectl-check-ownerreferences to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
migrate https://github.com/liggitt/kubectl-check-ownerreferences/ to kubernetes-sigs

### Requested name for new repository
kubectl-check-ownerreferences

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
deads2k, liggitt, caesarxuchao

### If not a staging repo, who should have write acc

[2020-12-01 16:25] liggitt commented on #2350
/assign @deads2k @lavalamp
for ack

[2020-12-01 16:26] deads2k commented on #2350
/lgtm
/hold for @lavalamp if he wants to chime in.

[2020-12-01 17:43] lavalamp commented on #2350
/lgtm
/approve
/hold cancel

[2020-12-01 18:12] nikhita commented on #2350
/assign

@liggitt can you move the repo to https://github.com/kubernetes-purgatory? :) I can then transfer the repo to k-sigs.

Also, can you also add the [boilerplate header](https://github.com/kubernetes/kubernetes/blob/master/hack/boilerplate/boilerplate.sh.txt) to the bash scripts when you get a chance? After the transfer is also fine.

[2020-12-01 18:55] liggitt commented on #2350
both done

https://github.com/kubernetes-purgatory/kubectl-check-ownerreferences

[2020-12-01 20:20] nikhita commented on #2350
Repo has been migrated - https://github.com/kubernetes-sigs/kubectl-check-ownerreferences

Also created:
- https://github.com/kubernetes/org/pull/2351 - to add GitHub team to grant access
- https://github.com/kubernetes/community/pull/5338 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-12-01 23:05] jeremyje opened #2352 "REQUEST: New membership for jeremyje"
### GitHub Username
jeremyje

### Organization you are requesting membership in
kubernetes
kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.goo

[2020-12-01 23:07] marosset commented on #2352
/lgtm
Thanks for your contributions @jeremyje and I look forward to continue working with you!

[2020-12-01 23:14] pjh commented on #2352
/lgtm

Thanks for your contributions so far Jeremy!

[2020-12-02 13:26] lala123912 opened #2353 "REQUEST: New membership for lala123912"
### GitHub Username
@lala123912

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-12-02 13:27] lala123912 commented on #2353
/cc @Lion-Wei @sttts

[2020-12-02 13:32] sttts commented on #2353
+1 for Melisa to become a member.

[2020-12-02 13:43] saschagrunert commented on #1474
I’d like to consider this as not resolvable for now. We could think about having a stage+release (mock) postsubmit Job but this will take 1h per CI run.
/close

[2020-12-02 13:43] #1474 closed

[2020-12-02 15:10] Lion-Wei commented on #2353
+1 for Melisa to become a member.

[2020-12-02 23:04] kkeshavamurthy opened #2354 "REQUEST: New membership for kkeshavamurthy"
### GitHub Username
@kkeshavamurthy

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2020-12-03 01:37] CecileRobertMichon commented on #2354
+1

[2020-12-03 04:18] zhaojizhuang opened #2355 "REQUEST: New membership for zhaojizhuang"
### GitHub Username
@zhaojizhuang

### Organization you are requesting membership in
@kubernetes

### Requirements
  - [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
  - [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
  - [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2020-12-03 05:28] zhaojizhuang commented on #2355
/area github-membership

[2020-12-03 06:01] tengqm commented on #2355
+1
It would be great to have new members joining the zh localization team.

[2020-12-03 06:17] howieyuen commented on #2355
+1

[2020-12-03 06:26] zhaojizhuang commented on #2355
/assign @savitharaghunathan

[2020-12-03 07:26] helight opened #2356 "REQUEST: New membership for helight"
### GitHub Username
@helight

### Organization you are requesting membership in
@kubernetes

### Requirements
* [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-12-03 07:33] hwdef commented on #2356
+1 from me
Thanks for your contribution to Kubernetes!

[2020-12-03 07:36] zehuaiWANG commented on #2356
+1
Thanks for the contribution, welcome to join us.

[2020-12-03 08:26] helight commented on #2356
/assign @savitharaghunathan

[2020-12-03 11:54] MarcusNoble opened #2358 "REQUEST: New membership for @MarcusNoble"
### GitHub Username
@MarcusNoble

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-12-03 11:54] randomvariable commented on #2358
+1

[2020-12-03 11:55] richardcase commented on #2358
Yes please

+1

[2020-12-03 18:17] EleanorRigby commented on #2354
I +1 the nomination for Kiran.
@kkeshavamurthy has done good work to improve CI for OVA image building. He continues to contribute more, review, and help push PRs for merge.

[2020-12-03 23:25] savitharaghunathan commented on #2358
Hi, @MarcusNoble 👋 Thanks for your contributions to the Cluster API provider AWS project :)

I've created PR #2361 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-12-03 23:26] savitharaghunathan commented on #2356
Hi, @helight 👋 Thanks for all the contributions to k/website :)

I've created PR #2361 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-12-03 23:27] savitharaghunathan commented on #2355
Hi, @zhaojizhuang 👋 Thanks for all your contributions to k/website :)

I've created PR #2361 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-12-03 23:27] savitharaghunathan commented on #2356
/assign

[2020-12-03 23:28] savitharaghunathan commented on #2353
Hi, @lala123912 👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2361 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-03 23:31] #2353 closed

[2020-12-03 23:31] #2355 closed

[2020-12-03 23:31] #2356 closed

[2020-12-03 23:31] #2358 closed

[2020-12-03 23:35] savitharaghunathan commented on #2354
Hi, @kkeshavamurthy 👋  Thank you for all your contributions to the Kubernetes ecosystem so far :)

In order to be added to the Kubernetes-sigs org, you will need one more sponsor who is either an approver or reviewer in the @kubernetes org projects or @kubernetes-sigs projects (@EleanorRigby is not an approver or reviewer, so their +1 doesn't count)

[2020-12-04 01:18] lala123912 commented on #2353
Thanks for the invitation.

[2020-12-04 02:03] codenrhoden commented on #2354
I'd be happy to take on this sponsorship. @kkeshavamurthy please put me down here and I'll give this a resounding +1. You've basically taken over my duties for `image-builder`!

[2020-12-04 02:07] kkeshavamurthy commented on #2354
Thanks a lot @EleanorRigby @CecileRobertMichon @codenrhoden

[2020-12-04 02:09] codenrhoden commented on #2354
Just in case I need a separate message about it, this is a +1 for me.

Also makes it clear we need to get @EleanorRigby into a reviewer status, which was a topic in today's office hours. Very prescient.

[2020-12-04 11:47] chenyw1990 opened #2362 "REQUEST: New membership for chenyw1990"
### GitHub Username
@chenyw1990

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-12-04 11:50] chenyw1990 commented on #2362
/cc @andrewsykim @Lion-Wei

[2020-12-04 15:50] sftim opened #2363 "Document org-wide process for offtopic troll issue response"
### Organization or repository
[`kubernetes/org`](https://github.com/kubernetes/org)

### Describe the issue
I'd like the README at https://github.com/kubernetes/org#readme to signpost people (me!) to advice about how a maintainer can and should respond if offtopic troll issues come up.
(the response is likely to be to lock the issue, but it's a rare enough concern that we might not remember the d

[2020-12-04 15:59] justaugustus commented on #2363
Opinion (specifically about the one from earlier):
- Lock immediately (maybe also snapshot)
- Flag @kubernetes/owners
- Org-level ban
- Delete

[2020-12-04 16:11] ameukam commented on #2363
@sftim One approach would be to add github guidelines in the set of guidelines we have for most of the collaboration platforms: https://github.com/kubernetes/community/tree/master/communication.

[2020-12-04 19:43] mrbobbytables commented on #2363
Yup - that is the place with all our comm policies / procedures.

[2020-12-04 20:03] andrewsykim commented on #2362
+1

[2020-12-04 21:07] SaranBalaji90 opened #2365 "REQUEST: New membership for SaranBalaji90"
### GitHub Username
SaranBalaji90

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2020-12-04 21:10] shyamjvs commented on #2365
LGTM

[2020-12-04 21:32] spiffxp commented on #2365
+1 from sponsor

[2020-12-04 21:32] spiffxp commented on #2365
/assign

[2020-12-04 21:33] spiffxp commented on #2362
waiting on response from @Lion-Wei

[2020-12-04 21:34] spiffxp commented on #2354
/assign

[2020-12-04 21:39] spiffxp commented on #2352
/assign

[2020-12-04 21:41] spiffxp commented on #2333
Awaiting response from sponsor

[2020-12-04 21:46] spiffxp commented on #2354
Hi @kkeshavamurthy, thanks for your contributions to the project!

I created PR https://github.com/kubernetes/org/pull/2366 to add you to the @kubernetes-sigs organization.  Once that gets merged, you should receive a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/meow

[2020-12-04 21:47] spiffxp commented on #2352
Hi @jeremyje, thanks for your contributions to the project!

I created PR https://github.com/kubernetes/org/pull/2366 to add you to the @kubernetes and @kubernetes-sigs organizations.  Once that gets merged, you should receive a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/meow

[2020-12-04 21:47] spiffxp commented on #2365
Hi @SaranBalaji90, thanks for your contributions to the project!

I created PR https://github.com/kubernetes/org/pull/2366 to add you to the @kubernetes and @kubernetes-sigs organizations.  Once that gets merged, you should receive a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/meow

[2020-12-04 21:48] SaranBalaji90 commented on #2365
Thank you @spiffxp :)

[2020-12-04 21:49] #2354 closed

[2020-12-04 21:49] #2365 closed

[2020-12-04 21:49] #2352 closed

[2020-12-04 21:52] raghvenders commented on #2333
@spiffxp - Thanks for the reminder.Me too.

I will remind jimangel about this.

@jimangel  - can you please be one add with Tim @sftim .

I would appreciate this.

[2020-12-07 02:04] Lion-Wei commented on #2362
+1 , sorry for the late response

[2020-12-07 15:18] annajung commented on #2333
+1 from me @raghvenders was always trying to help review PRs for 1.20 release

[2020-12-07 16:12] savitharaghunathan commented on #2333
@sftim: Can you add a +1 or thumbs up if you are sponsoring @raghvenders for k8s org membership? Sorry the comment here is not clear - https://github.com/kubernetes/org/issues/2333#issuecomment-730620008

[2020-12-07 18:44] jimangel commented on #2333
+1 from me as well. Sorry for the delayed 🎉

[2020-12-07 19:40] raghvenders commented on #2333
Thanks @sftim @jimangel @annajung .

[2020-12-07 19:58] mrbobbytables commented on #2333
@raghvenders reviewer and approvers take quite a bit of time and review specific areas. The general guideline is 3 months of consistent reviewing in one area to go for reviewers in that area.

[2020-12-07 20:08] ayberk opened #2369 "REQUEST: New membership for ayberk"
### GitHub Username
@ayberk

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-12-07 20:10] wongma7 commented on #2369
+1

[2020-12-07 20:11] gnufied commented on #2369
+1

[2020-12-07 23:47] leilajal opened #2370 "REQUEST: New membership for leilajal"
### GitHub Username
@leilajal

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-12-08 00:11] msau42 opened #2371 "Archive csi fibre-channel and flex repos"
### Repository to archive
kubernetes-csi/csi-driver-fibre-channel
kubernetes-csi/csi-driver-flex

### Repository and/or sig subproject owners that are approving this archival
msau42

### When should this be done
anytime

### Additional context for request
Any additional information or context to describe the request.
Due to lack of maintainers, we are archiving these two repos. We announced intend

[2020-12-08 00:19] logicalhan commented on #2370
Thanks for the contributions!!

/lgtm
/approve

[2020-12-08 00:29] mrbobbytables commented on #2370
@leilajal Just an FYI - you will need a 2nd non-google sponsor^^:;; Sponsors must be from different organizations 👍

[2020-12-08 02:36] vteratipally commented on #2331
Adding @xueweiz as the sponsor

Spoke to @xueweiz, he is one of the contributors to NPD.

[2020-12-08 03:09] xueweiz commented on #2331
Hi @palnabarun , I'm happy to be the external sponsor for @vteratipally  (I currently work at [observe](https://www.observeinc.com/)). I'm one of the owner of NPD as well, and can confirm Varsha has been working on NPD a lot these days, and delivering a lot of value. :)

[2020-12-08 04:41] nikhita commented on #2371
/assign

@msau42 looks like the PR to add the archival note for csi-driver-fibre-channel still needs approval - https://github.com/kubernetes-csi/csi-driver-fibre-channel/pull/7. I'll archive both the repos once the PR is merged. If you need me to manually merge that PR to get the archival done sooner, please let me know!

In the meanwhile, I have created the following PRs to remove prowjobs/docs

[2020-12-08 04:42] nikhita commented on #2350
Teams have been granted access and sigs.yaml has been updated. Closing.

[2020-12-08 04:42] #2350 closed

[2020-12-08 04:44] nikhita commented on #2287
@pwittrock :wave: just following up, are there any more outstanding issues that you need help with?

[2020-12-08 04:45] nikhita commented on #2303
:wave: Are there any more outstanding items here? Can we close this issue?

[2020-12-08 04:51] nikhita commented on #2182
@s-urbaniak :wave: just following up to check if you've received any responses about signing the CLA?

If not, I think we should move ahead with adding a `NOTICE` file explicitly stating the situation. The repo has been ready to be migrated for a while, so I'm hoping we can at least get this in by the end of 2020. :smile:

fyi @dims

[2020-12-08 18:27] leilajal commented on #2370
@mrbobbytables Thanks, fixed it.

[2020-12-08 19:28] raghvenders commented on #2333
@mrbobbytables sure bob understood.

[2020-12-08 19:51] nikhita commented on #2371
Repos have been archived:
- https://github.com/kubernetes-retired/csi-driver-fibre-channel
- https://github.com/kubernetes-retired/csi-driver-flex

Also sent a notice to k-dev and the sig-storage mailing lists - https://groups.google.com/g/kubernetes-dev/c/ciY1wg7nYF8

We can close this issue once https://github.com/kubernetes/org/pull/2372 merges.

[2020-12-08 19:57] #2371 closed

[2020-12-09 00:28] qiutongs opened #2373 "REQUEST: New membership for qiutongs"
### GitHub Username
@qiutongs

### Organization you are requesting membership in

@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-12-09 00:30] dims commented on #2373
+1 from me. welcome @qiutongs

[2020-12-09 01:23] dchen1107 commented on #2373
+1 from me.

[2020-12-09 06:50] aramase commented on #2303
There are no outstanding items. Thank you for helping set this up.

/close

[2020-12-09 06:51] #2303 closed

[2020-12-09 12:05] timoreimann opened #2376 "REQUEST: New membership for timoreimann"
### GitHub Username
@timoreimann

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-12-09 12:34] MorrisLaw commented on #2376
+1 !!! from me, thank you for consistently being an awesome Kubernetes contributor!! ❤️

[2020-12-09 14:52] andrewsykim commented on #2376
+1 from me, thanks for all your contributions @timoreimann

[2020-12-09 16:05] s-urbaniak commented on #2182
@nikhita unfortunately no additional news from my side, I tried to ping, but no additional answers so far :man_shrugging: I would then say let's add the `NOTICE` file :blush:

[2020-12-10 22:19] ayberk commented on #2369
ping @kubernetes/owners

[2020-12-11 06:35] Huang-Wei commented on #2362
+1 from scheduling side.

[2020-12-11 12:48] mrueg opened #2378 "REQUEST: New membership for mrueg"
### GitHub Username
@mrueg

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-12-11 12:56] lilic commented on #2378
+1 from me, super happy to sponsor @mrueg to be added to the Kubernetes org! Thanks for all the work in kube-state-metrics! 🎉

[2020-12-11 13:48] habibrosyad opened #2379 "REQUEST: New membership for habibrosyad"
### GitHub Username
@habibrosyad

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-12-11 14:14] irvifa commented on #2379
+1

[2020-12-11 17:36] tariq1890 commented on #2378
+1 from me too, a pleasure to vouch for @mrueg! Thanks for all your contributions Manuel!

[2020-12-11 22:52] YoyinZyc opened #2381 "REQUEST: New membership for yoyinzyc"
### GitHub Username
@yoyinzyc

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-12-11 22:56] logicalhan commented on #2381
@YoyinZyc has made [significant contributions](https://github.com/kubernetes-sigs/instrumentation-tools/commits/master) to tooling work owned by our SIG (which I and many other greatly appreciate).

/lgtm
/approve

[2020-12-12 01:10] girikuncoro commented on #2379
+1 from me, glad to have @habibrosyad in kubernetes community!

[2020-12-12 03:18] Mac24 opened #2382 "Chinese Docs--which branch"
I want to do docs Chinese localization work, I don’t know which branch I should choose to start working

[2020-12-14 07:46] brancz commented on #2381
Thank you for all your contributions!

/lgtm

[2020-12-14 20:11] ArangoGutierrez opened #2383 "REQUEST: New membership for ArangoGutierrez"
### GitHub Username
@ArangoGutierrez

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-12-14 20:12] mrbobbytables commented on #2383
+1
/pony ya

[2020-12-14 20:13] mrbobbytables commented on #2383
/pony yay

[2020-12-15 00:09] savitharaghunathan commented on #2381
Hi, @YoyinZyc 👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 00:09] savitharaghunathan commented on #2379
Hi, @habibrosyad  👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 00:09] savitharaghunathan commented on #2378
Hi, @mrueg  👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 00:10] savitharaghunathan commented on #2376
Hi, @timoreimann  👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 00:11] savitharaghunathan commented on #2373
Hi, @qiutongs  👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 00:11] savitharaghunathan commented on #2369
Hi, @ayberk  👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 00:11] savitharaghunathan commented on #2362
Hi, @chenyw1990  👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 00:12] savitharaghunathan commented on #2333
Hi, @raghvenders  👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2384 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-15 03:15] #2373 closed

[2020-12-15 03:15] #2376 closed

[2020-12-15 03:15] #2378 closed

[2020-12-15 03:15] #2379 closed

[2020-12-15 03:15] #2381 closed

[2020-12-15 03:15] #2333 closed

[2020-12-15 03:15] #2362 closed

[2020-12-15 03:15] #2369 closed

[2020-12-15 05:54] habibrosyad commented on #2379
Thanks @irvifa @girikuncoro @savitharaghunathan 👍

[2020-12-15 13:16] richardcase opened #2386 "REQUEST: New membership for richardcase"
### GitHub Username
@richardcase

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-12-15 13:26] marquiz commented on #2383
+1

[2020-12-15 14:45] randomvariable commented on #2386
+1

[2020-12-15 14:48] detiber commented on #2386
+1 from me, `kubernetes` org membership is needed to help with `kubernetes/test-infra` and `kubernetes/k8s.io` related work

[2020-12-15 22:37] vteratipally commented on #2331
@palnabarun , gentle reminder

[2020-12-16 09:10] timoreimann opened #2388 "REQUEST: New membership for timoreimann (kubernetes-sigs)"
### GitHub Username
@timoreimann

### Organization you are requesting membership in
@kubernetes-sigs

_I am already a member of the `kubernetes` organization._

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed

[2020-12-16 09:11] xmudrii commented on #2388
+1 :100:

[2020-12-16 13:13] mrbobbytables commented on #2382
You will want to repost your question in the [kubernetes/website](https://github.com/kubernetes/website) repo. The localization efforts are happening there 👍
/close

[2020-12-16 13:13] #2382 closed

[2020-12-16 16:53] kmova opened #2389 "grant admin access to kmova for NFS provisioner projects under kubernetes-sigs"
### Organization or repository
kubernetes-sigs/nfs-subdir-external-provisioner
kubernetes-sigs/nfs-ganesha-server-and-external-provisioner

### Users affected
@kmova

### Describe the issue
Grant admin access for the repository to help with making releases on the above-mentioned repositories. I need this to proceed with creating release branches and tags from the migrated repositories.

### Approv

[2020-12-16 17:28] msau42 commented on #2389
+1 @kmova is going to be the primary maintainer for these two repos and will need admin access

[2020-12-17 06:02] 249043822 opened #2391 "REQUEST: New membership for 249043822"
### GitHub Username
@249043822

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-12-17 06:07] chendave commented on #2391
Thanks for the contribution so far, +1 from me!

[2020-12-17 14:27] dougsland opened #2392 "REQUEST: New membership for dougsland"
### GitHub Username
dougsland

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-12-17 14:48] pwittrock commented on #2392
/lgtm

[2020-12-17 17:22] eddiezane commented on #2392
+1 to have Doug!

[2020-12-19 00:35] savitharaghunathan commented on #2370
Pinging @oomichi for K8s org sponsorship for @leilajal

[2020-12-19 01:17] savitharaghunathan commented on #2331
Hi, @vteratipally 👋  Thanks for all your contributions to the Kubernetes project :)

I've created PR #2393 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-19 01:18] savitharaghunathan commented on #2383
Hi, @ArangoGutierrez 👋  Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2393 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-19 01:19] savitharaghunathan commented on #2386
Hi, @richardcase 👋  Thanks for all your contributions to the cluster-api-provider-aws :)

I've created PR #2393 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-19 01:20] savitharaghunathan commented on #2388
Hi, @timoreimann 👋 Thanks for all your contributions :)

I've created PR #2393 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-12-19 01:20] savitharaghunathan commented on #2392
Hi, @dougsland 👋 Thanks for all your contributions to the Kubernetes ecosystem :)

I've created PR #2393 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-12-19 01:44] #2331 closed

[2020-12-19 01:44] #2383 closed

[2020-12-19 01:44] #2386 closed

[2020-12-19 01:44] #2388 closed

[2020-12-19 01:44] #2392 closed

[2020-12-19 03:19] 249043822 commented on #2391
/ping @caesarxuchao

[2020-12-19 04:28] caesarxuchao commented on #2391
+1, but can you update the PR & issue list? They are all empty.

[2020-12-19 04:37] 249043822 commented on #2391
@caesarxuchao Fixed!

[2020-12-19 06:37] caesarxuchao commented on #2391
+1！

[2020-12-22 17:50] nate-double-u opened #2396 "REQUEST: New membership for @nate-double-u"
### GitHub Username
@nate-double-u

### Organization you are requesting membership in
@kubernetes (kubernetes/website)

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https:

[2020-12-22 17:56] sftim commented on #2396
:+1:
LGTM!

[2020-12-23 22:22] celestehorgan commented on #2396
👍

LGTM!

[2020-12-23 23:48] justaugustus commented on #2396
/pony party

[2020-12-25 05:50] Kartik494 opened #2397 "REQUEST: New membership for Kartik494"
### GitHub Username
@Kartik494

### Organization you are requesting membership in
@kubernetes-csi

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-12-29 10:10] mattfenwick opened #2398 "REQUEST: New membership for mattfenwick"
### GitHub Username

@mattfenwick

### Organization you are requesting membership in

kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-12-29 10:16] aojea commented on #2398
+1 Matt has been very active and helpful in the sig-network area

[2020-12-29 12:19] jayunit100 commented on #2398
+1 ditto ! He has been cutting his teeth on issues in nodelocaldns , iperf, and network policies tests for 6 about a year or so. Thanks matt keep it up!

[2020-12-30 12:19] nikhita commented on #2222
/remove-lifecycle stale

On Tue, Dec 29, 2020 at 8:39 PM fejta-bot <notifications@github.com> wrote:

[2021-01-04 14:53] xing-yang commented on #2397
+1 @Kartik494 has done a lot of work in external-snapshotter.

[2021-01-04 15:17] mrbobbytables commented on #2370
reminder ping  @oomichi 👍

[2021-01-04 15:34] mrbobbytables commented on #2391
Hey there @249043822, thank you for all your contributions so far :)

I've created PR #2401  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-04 15:35] mrbobbytables commented on #2396
@nate-double-u, thank you for all your contributions so far :D

I've created PR #2401  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-04 15:35] mrbobbytables commented on #2398
@mattfenwick , thank you for all your contributions so far \o/

I've created PR #2401  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-04 15:37] #2391 closed

[2021-01-04 15:37] #2396 closed

[2021-01-04 15:37] #2398 closed

[2021-01-04 18:44] nate-double-u commented on #2396
Thanks everyone!

[2021-01-05 07:18] carlory opened #2402 "REQUEST: New membership for carlory"
### GitHub Username
carlory

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-01-05 07:31] pacoxu commented on #2402
/lgtm

Thanks for contributions!

[2021-01-05 17:44] #2389 closed

[2021-01-05 17:48] spowelljr opened #2403 "REQUEST: New membership for spowelljr"
### GitHub Username
@spowelljr

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-05 19:04] msau42 commented on #2397
+1!

[2021-01-06 17:02] feloy opened #2404 "REQUEST: New membership for feloy"
### GitHub Username

@feloy

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-01-06 17:34] zacharysarah commented on #2404
Plus one. 👍🏻

[2021-01-06 17:45] kbhawkey commented on #2404
+1

[2021-01-06 19:35] medyagh commented on #2403
I sponsor @spowelljr

[2021-01-08 03:56] oomichi commented on #2402
I was surprised @carlory is not the organization member yet :-)
+1 for his membership.

[2021-01-09 02:57] hbagdi opened #2406 "REQUEST: New membership for hbagdi"
### GitHub Username
@hbagdi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-01-09 03:02] cmluciano commented on #2406
+1 Harry’s contributions to the service-api community have been valuable and consistent. I fully support adding him to the org.

[2021-01-09 07:08] heqg opened #2407 "REQUEST: New membership for heqg"
### GitHub Username
@heqg

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2021-01-09 07:13] heqg commented on #2407
Fixed it.

[2021-01-10 17:23] bmelbourne opened #2408 "REQUEST: New membership for bmelbourne"
### GitHub Username

@bmelbourne

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-01-10 17:30] hakman commented on #2408
Happy to sponsor @bmelbourne. Thanks for all you did so far!
😄

[2021-01-10 17:36] rifelpet commented on #2408
+1 from me, thanks for all your hard work!

[2021-01-11 08:50] olemarkus commented on #2408
+1 from me as well!

[2021-01-11 15:32] seh opened #2409 "REQUEST: New membership for seh"
### GitHub Username
@seh

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed [the community membership guidelines]((https://git.k8s.io/community/community-membership.md))
- [x] I have enabled 2FA on my GitHub account
- [x] I have subscribed to [the _kubernetes-dev_ e-mail list](https://groups.google.com/forum/#!forum/kubernetes-dev)
- [x] I am act

[2021-01-11 15:34] hakman commented on #2409
Happy to sponsor @bmelbourne. Thanks for all you did so far!
😄

[2021-01-11 15:37] rifelpet commented on #2409
+1 from me, thanks for all your hard work!

[2021-01-11 15:50] olemarkus commented on #2409
+1 from me as well

[2021-01-11 16:42] bowei commented on #2406
+1 Harry has done a ton of work, fully support adding to the org.

[2021-01-11 19:36] mcluseau opened #2410 "New (staging) repo for k8s network information distributor / aka kube-proxy2"
### New Repo, Staging Repo, or migrate existing
new repository (can migrate from https://github.com/mcluseau/kube-proxy2)

### Requested name for new repository

Edit (nikhita): final name is `kpng`. See discussion below.

TBD: the name is not yet decided. Proposals:
- knid (k8s network information distribution)
- ksdn
- kube-proxy-ng
- ...

### Which Organization should it reside
kubernetes-sigs

[2021-01-13 09:22] nikhita commented on #2410
@mcluseau since this would be a staging repo, this will also need approval from sig-architecture.

/assign @thockin
to ack on approval for the record

[2021-01-13 09:25] nikhita commented on #2402
@carlory sponsors need to be in an OWNERS file in any repo in the @kubernetes org. Unfortunately, due to this restriction, @pacoxu would not be able to sponsor.

Can you please find an additional sponsor who is in the OWNERS file?

[2021-01-13 09:26] nikhita commented on #2403
@afbjorklund ping for sponsorship

[2021-01-13 09:27] nikhita commented on #2407
@klueska @MrHohn ping for sponsorship

[2021-01-13 09:35] nikhita commented on #2404
@feloy thank you for all your contributions so far \o/

I've created PR #2412 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-01-13 09:35] nikhita commented on #2406
@hbagdi thank you for all your contributions so far \o/

I've created PR #2412 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-13 09:36] nikhita commented on #2408
@bmelbourne thank you for all your contributions so far \o/

I've created PR #2412 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-13 09:36] nikhita commented on #2409
@seh thank you for all your contributions so far \o/

I've created PR #2412 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-13 09:36] nikhita commented on #2397
@Kartik494 thank you for all your contributions so far \o/

I've created PR #2412 to add you to the Kubernetes CSI Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-csi! 🎉

/assign

[2021-01-13 09:39] klueska commented on #2407
I don't believe I am a good candidate for sponsorship.
The only PRs I reviewed for @heqg were two one line fixes that renamed variables and fixed some comments.
It would be better to find a sponsor that is familiar with more substantial contributions @heqg has made.

[2021-01-13 09:45] afbjorklund commented on #2403
I sponsor @spowelljr

[2021-01-13 09:50] nikhita commented on #2403
@spowelljr thank you for all your contributions so far \o/

I've created PR #2412 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-13 09:54] heqg commented on #2407
@dougsland  ping for sponsorship， thanks very much。

[2021-01-13 09:59] markthink commented on #2402
/lgtm

Thanks for contributions!

[2021-01-13 10:06] carlory commented on #2402
@nikhita Thanks,  there're 2 sponsors now.

[2021-01-13 10:09] nikhita commented on #2402
Unfortunately, @markthink is also not in an OWNERS file in the @kubernetes org, so you'll still need an additional sponsor.

[2021-01-13 10:10] xichengliudui commented on #2402
not sure I have permissions here but let's see
+1

[2021-01-13 10:13] nikhita commented on #2402
@xichengliudui's +1 did the magic! :sparkles:

@carlory I've created PR #2412 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-13 10:52] hbagdi commented on #2406
Thank you @nikhita!

[2021-01-13 12:38] #2404 closed

[2021-01-13 12:38] #2406 closed

[2021-01-13 12:38] #2408 closed

[2021-01-13 12:38] #2397 closed

[2021-01-13 12:38] #2402 closed

[2021-01-13 12:38] #2403 closed

[2021-01-13 12:38] #2409 closed

[2021-01-13 13:33] dougsland commented on #2407
AFAIK, I don't have the power to sponsor new members.

[2021-01-14 00:57] ehashman commented on #2407
@heqg did not reach out to me in advance asking me to sponsor; I am not willing to sponsor at this time.

[2021-01-14 01:08] eve658 opened #2413 "REQUEST: New membership for eve658"
### GitHub Username
@eve658

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-01-14 01:34] mrbobbytables commented on #2407
@heqg sponsors are usually people you've worked closely with and spoken to about sponsorship before applying for membership.

For the other membership requests, please see our [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements)

[2021-01-14 01:35] heqg commented on #2407
ok， i hava got it, thanks

[2021-01-14 01:40] #2407 closed

[2021-01-14 06:45] divya-mohan0209 commented on #2413
+1 to this request. Welcome to the 1.21 Release team, @eve658 !

[2021-01-14 10:37] mcluseau commented on #2410
@nikhita thanks for your answer, on the "staging" part, it's what looked like my idea, but it's incubating, ie publishing the code in the k8s realm so others can contribute, until we reach the next stage.

[2021-01-14 11:54] sttts commented on #2370
+1 from my side.

[2021-01-14 16:26] thejoycekung commented on #2413
excited to see you here evelyn!!! +1-ing this ^^

[2021-01-14 17:55] savitharaghunathan commented on #2413
+1. Welcome to the 1.21 Release Team 🎉

/assign

[2021-01-14 20:58] savitharaghunathan commented on #2370
Hi, @leilajal 👋  Thanks for all your contributions to the Kubernetes project :)

I've created PR #2417 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-14 20:59] savitharaghunathan commented on #2413
Hi, @eve658 👋  Welcome again to 1.21 Release Teal 🎉

I've created PR #2417 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-01-14 22:01] arunmk opened #2418 "REQUEST: New membership for @arunmk"
### GitHub Username
@arunmk
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-01-14 22:15] annajung commented on #2418
+1! Thank you for helping with 1.21 release team! Looking forward to having you on the Enhancements team 🎉

cc @savitharaghunathan @kikisdeliveryservice @bai @onlydole

[2021-01-14 22:25] leilajal commented on #2370
@savitharaghunathan @sttts Thank you

[2021-01-14 23:14] onlydole commented on #2418
Welcome, @arunmk! Kubernetes 1.21 is going to be an epic release!

[2021-01-15 02:00] heqg opened #2420 "REQUEST: New membership for heqg"
### GitHub Username
@heqg

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2021-01-15 06:06] arunmk commented on #2418
Thanks! Glad to be part of this awesome community.

[2021-01-15 08:39] palnabarun commented on #2413
@eve658 -- Welcome to the Release Team! 🎉

/honk

[2021-01-15 08:40] palnabarun commented on #2418
@arunmk -- Welcome to the Release Team! 🎉

Looking forward to your involvement in the team.

/honk

[2021-01-15 14:18] savitharaghunathan commented on #2418
Hi, @arunmk 👋  Welcome again to the 1.21 Release Team 🎉

I've created PR #2417 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-15 14:25] #2370 closed

[2021-01-15 15:51] prameshj commented on #2420
/approve

[2021-01-15 15:54] n3wscott opened #2421 "REQUEST: New membership for n3wscott"
### GitHub Username
@n3wscott

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-01-15 15:59] thejoycekung commented on #2421
Yay!! +1 -- super excited to have you join the release team Scott -- 1.21 is going to be awesome! 🎉

[2021-01-15 16:20] palnabarun commented on #2421
@n3wscott -- Yay!!! Welcome to the 1.21 Release Team! 🎉

/honk

[2021-01-15 16:25] justaugustus commented on #2421
+1! Welcome to the team, Scott!

/pony party

[2021-01-15 16:42] s278gupt opened #2422 "REQUEST: New membership for s278gupt"
### GitHub Username
@s278gupt

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-01-15 16:47] thejoycekung commented on #2422
+1-ing this !!! Welcome to the 1.21 release team Saumya, super excited to have you join the team 🎉

[2021-01-15 17:06] desponda opened #2424 "REQUEST: New membership for desponda"
### GitHub Username
@desponda

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-01-15 17:08] erismaster commented on #2424
+1

Welcome!

[2021-01-15 17:35] ams0 opened #2426 "REQUEST: New membership for ams0"
### GitHub Username
@ams0

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2021-01-15 17:37] erismaster commented on #2426
+1

Welcome to the release team!

[2021-01-15 18:00] onlydole commented on #2426
A huge +1 here! Welcome to the team, @ams0 :tada: 1.21 is going to be a fun and epic release :smile:

[2021-01-15 18:39] savitharaghunathan commented on #2421
/assign

[2021-01-15 18:40] savitharaghunathan commented on #2422
+1 🎉 Welcome to the 1.21 Release Team, @s278gupt!
/assign

[2021-01-15 18:40] savitharaghunathan commented on #2424
+1. Welcome to the 1.21 Release Team @desponda 🎉

/assign

[2021-01-15 18:41] savitharaghunathan commented on #2426
/assign

[2021-01-15 19:00] savitharaghunathan commented on #2426
Hi, @ams0 👋  Welcome to the 1.21 Release Team 🎉

I've created PR #2427 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-01-15 19:00] soniasingla commented on #2424
Welcome to the team 🙌

[2021-01-15 19:01] savitharaghunathan commented on #2424
Hi, @desponda 👋 Welcome again to the 1.21 Release Team 🎉

I've created PR #2427 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-01-15 19:01] savitharaghunathan commented on #2422
Hi, @s278gupt 👋 Happy to have you on the 1.21 Release Team 🎉

I've created PR #2427 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-01-15 19:02] savitharaghunathan commented on #2421
Hi, @n3wscott 👋 Welcome to the 1.21 Release Team 🎉

I've created PR #2427 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-01-15 19:15] palnabarun commented on #2426
@ams0 -- Welcome to the 1.21 Release Team! 🎉 Glad to have you here.

/honk

[2021-01-15 19:16] palnabarun commented on #2424
@desponda -- Welcome to the team! 🎉 Great to have you here! :)

/honk

[2021-01-15 19:18] palnabarun commented on #2422
@s278gupt -- Welcome to the 1.21 Release Team! 🎉 It's great to have you here.

/honk

[2021-01-15 21:27] neolit123 commented on #2420
+1 thanks for your contributions!

[2021-01-15 22:01] #2421 closed

[2021-01-15 22:01] #2422 closed

[2021-01-15 22:01] #2424 closed

[2021-01-15 22:01] #2426 closed

[2021-01-15 23:27] PI-Victor opened #2428 "REQUEST: New membership for PI-Victor"
### GitHub Username
@pi-victor

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-15 23:50] reylejano commented on #2428
+1 Welcome to the 1.21 SIG Docs Release Team @PI-Victor 🎉

[2021-01-16 00:46] thockin commented on #2410
A staging repo, as fart as I understand, exists in k/k/staging/src/k8s.io/... - I do not think that's what we want here.

As for names, I am terrible at naming things but I can filter some out :)

"knid" is too close to "kind"
"ksdn" carries SDN connotation that I don't think we want.
 "kube-proxy-ng" is a little long, but clear.  I don't like "kube-proxy" as a name because it's really not a proxy

[2021-01-16 01:04] justaugustus commented on #2410
(Drive-by comment to say I like kpng and kpow. 🙃)

[2021-01-16 01:26] melodychn opened #2429 "REQUEST: New membership for melodychn"
### GitHub Username
@melodychn

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-16 01:34] wilsonehusin commented on #2429
/lgtm

welcome! 🎉

[2021-01-16 02:16] PriyankaH21 opened #2430 "REQUEST: New membership for PriyankaH21"
### GitHub Username
[@PriyankaH21](https://github.com/PriyankaH21)

### Organization you are requesting membership in
[@kubernetes](https://github.com/kubernetes)

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscrib

[2021-01-16 06:25] Aut0R3V opened #2431 "REQUEST: New membership for @Aut0R3V"
### GitHub Username
@Aut0R3V

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-01-16 09:47] mcluseau commented on #2410
kest - kubernetes endpoints & services transport (pronounced "quest")
knest - k8s network endpoitns & services transport (fun too, matures the eggs to produce the final flying thing)

[2021-01-16 10:20] tengqm commented on #2431
+1 looking forward to more contributions from you.

[2021-01-16 11:15] mcluseau commented on #2410
ksept - work too (service endpoints transport), where sept is seven in french, and the number of edges in the k8s logo

[2021-01-16 15:18] onlydole commented on #2429
Welcome to the 1.21 Release Team, @melodychn! It's going to be an epic endeavor 😁

[2021-01-16 19:15] mvortizr opened #2432 "REQUEST: New membership for @mvortizr"
### GitHub Username
@mvortizr

### Organization you are requesting membership in
kubernetes-sigs, kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2021-01-16 19:50] savitharaghunathan commented on #2429
/assign

[2021-01-16 19:51] savitharaghunathan commented on #2428
+1. Welcome to the 1.21 Release Team, @PI-Victor! 🎉

/assign

[2021-01-16 19:52] savitharaghunathan commented on #2430
+1. Welcome to the 1.21 Release Team, @PriyankaH21! 🎉

/assign

[2021-01-16 19:52] savitharaghunathan commented on #2432
+1. Welcome to the 1.21 Release Team, @mvortizr! 🎉

/assign

[2021-01-16 19:57] savitharaghunathan commented on #2432
@mvortizr - Are you looking for a membership only for @kubernetes-sigs org? Creating PRs & reviews in k/website would require @kubernetes org membership. Asking because the docs work will mostly happen in k/website repo.
cc: @reylejano

[2021-01-16 20:07] reylejano commented on #2432
+1 Welcome to the 1.21 SIG Docs Release Team @mvortizr  🎉

[2021-01-16 20:07] reylejano commented on #2432
Hi @mvortizr, can you edit the organization in the issue to @kubernetes. As @savitharaghunathan stated, the Release Docs work will mostly be in the k/website repo.

[2021-01-16 20:11] savitharaghunathan commented on #2428
Hi, @PI-Victor 👋  Welcome again to the 1.21 Release Team 🎉

I've created PR #2433 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/pony party

[2021-01-16 20:12] savitharaghunathan commented on #2429
Hi, @melodychn 👋 Welcome to the 1.21 Release Team! 🎉

I've created PR #2433 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/pony party

[2021-01-16 20:17] savitharaghunathan commented on #2420
Hi, @heqg 👋 Thank you for all your contributions to the Kubernetes ecosystem 🎉

I've created PR #2433 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/pony party

[2021-01-16 20:17] savitharaghunathan commented on #2420
/assign

[2021-01-16 21:21] PI-Victor commented on #2428
@savitharaghunathan thank you, appreciate the help!

[2021-01-16 21:48] mvortizr commented on #2432
@reylejano ok, thank you!!

[2021-01-16 23:44] savitharaghunathan commented on #2432
Hi, @mvortizr 👋 Happy to have you on the 1.21 Release Team! 🎉

I've created PR #2433 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/pony party

[2021-01-17 13:21] sftim commented on #2431
@Aut0R3V, thanks for stepping forward. :+1:

[2021-01-17 15:12] palnabarun commented on #2428
@PI-Victor -- Welcome to the 1.21 Release Team! Glad to have you here. 🎉

/woof

[2021-01-17 15:15] palnabarun commented on #2429
@melodychn -- Welcome to the 1.21 Release Team! 🎉 Glad to have you here.

/honk

[2021-01-17 15:16] palnabarun commented on #2430
+1. Welcome to the 1.21 Release Team! 🎉

Glad to have you here.

/honk

[2021-01-17 15:17] palnabarun commented on #2432
@mvortizr -- Welcome to the 1.21 Release Team! 🎉 Glad to have you here!

/honk

[2021-01-17 15:19] #2420 closed

[2021-01-17 15:19] #2428 closed

[2021-01-17 15:19] #2429 closed

[2021-01-17 15:19] #2432 closed

[2021-01-17 16:07] PI-Victor commented on #2428
thanks for the help @palnabarun!

[2021-01-17 16:18] Aut0R3V commented on #2431
Thanks for the help@sftim @tengqm

[2021-01-18 00:19] heqg commented on #2420
Thanks, all! :)

[2021-01-18 11:44] harche opened #2434 "REQUEST: New membership for harche"
### GitHub Username
@harche

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-01-18 12:34] JAORMX opened #2435 "REQUEST: New membership for JAORMX"
### GitHub Username
JAORMX

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-18 12:35] saschagrunert commented on #2435
+1 I'd be happy to welcome @JAORMX at k-sigs

[2021-01-18 12:57] pjbgf commented on #2435
+1 also happy for @JAORMX to join k-sigs!

[2021-01-18 13:47] ChandaniM123 opened #2436 "REQUEST: New membership for ChandaniM123"
### GitHub Username
ChandaniM123

### Organization you are requesting membership in
Kubernetes

### Requirements
- [ Y ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ Y ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ Y ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2021-01-18 15:57] reylejano commented on #2436
+1 Welcome to the 1.21 SIG Docs Release Team @ChandaniM123  🎉

[2021-01-18 17:48] rphillips commented on #2434
+1

/cc @ehashman @bobbypage

[2021-01-18 17:54] ehashman commented on #2434
+1

You need sponsors from two different companies, @bobbypage would you be willing to sponsor?

[2021-01-18 18:00] dims commented on #2434
+1 from me.

[2021-01-18 23:51] bobbypage commented on #2434
+1

@harche has contributed quite a bit to SIG-Node and to improving e2e testing

[2021-01-19 01:51] thejoycekung commented on #2430
+1-ing this!! Super excited to have you join CI Signal Priyanka 🎉 🎉

[2021-01-19 12:37] nikhita commented on #2430
@PriyankaH21 thank you for all your contributions so far and welcome to the release team \o/

I've created PR #2438 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-19 12:37] nikhita commented on #2431
@Aut0R3V thank you for all your contributions so far \o/

I've created PR #2438 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-19 12:37] nikhita commented on #2434
@harche thank you for all your contributions so far \o/

I've created PR #2438 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-01-19 12:38] nikhita commented on #2435
@JAORMX thank you for all your contributions so far \o/

I've created PR #2438 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-01-19 12:44] harche commented on #2434
Thanks @nikhita @bobbypage @dims @ehashman @rphillips

[2021-01-19 12:47] #2430 closed

[2021-01-19 12:47] #2431 closed

[2021-01-19 12:47] #2434 closed

[2021-01-19 12:47] #2435 closed

[2021-01-19 13:05] palnabarun commented on #2436
+1. Welcome to the 1.21 Release Team! 🎉

Glad to have you here. 👍🏽

/honk

[2021-01-19 15:13] pmmalinov01 opened #2440 "REQUEST: New membership for pmmalinov01"
### GitHub Username
@pmmalinov01

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-01-19 15:20] wilsonehusin commented on #2440
LGTM! welcome to Kubernetes :tada:

[2021-01-19 15:54] palnabarun commented on #2440
+1.

Welcome to the Kubernetes Release Team! 🎉  Glad to have you here! 👍🏽

PS: My +1 is non-binding since @wilsonehusin and I work at the same company.

[2021-01-19 16:14] savitharaghunathan commented on #2440
+1. Welcome to the Release Team 🎉
/assign

[2021-01-19 16:20] Aut0R3V commented on #2431
Thanks a lot!

[2021-01-19 16:21] savitharaghunathan commented on #2436
Hi, @ChandaniM123 👋  Welcome to the 1.21 Release Team! 🎉

I've created PR #2441 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/pony party

[2021-01-19 16:22] savitharaghunathan commented on #2440
Hi, @pmmalinov01 👋 Glad to have you on the 1.21 Release Team 🎉

I've created PR #2441 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/pony party

[2021-01-19 16:22] savitharaghunathan commented on #2436
/assign

[2021-01-19 16:24] onlydole commented on #2440
Welcome, @pmmalinov01! A big +1 here, and I'm happy to have you on the 1.21 release team :smile:

[2021-01-19 18:30] nzoueidi commented on #966
/remove-lifecycle stale

[2021-01-19 19:20] mpherman2 opened #2444 "REQUEST: New membership for mpherman2"
### GitHub Username
@mpherman2

### Organization you are requesting membership in
@kubernetes

### Requirements
- [+] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [+] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [+] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-19 19:22] cjwagner commented on #2444
+1 Thanks for the contributions Mitchel!

[2021-01-19 19:25] alvaroaleman commented on #2444
+1 thanks!

On Tue, Jan 19, 2021 at 2:23 PM Cole Wagner <notifications@github.com>
wrote:

[2021-01-19 20:27] savitharaghunathan commented on #2444
Hi, @mpherman2 👋 Thanks for all your contributions to the Kubernetes ecosystem 🎉

I've created PR #2441 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign
/pony party

[2021-01-19 22:05] #2436 closed

[2021-01-19 22:05] #2440 closed

[2021-01-19 22:05] #2444 closed

[2021-01-20 14:37] pandaamanda opened #2446 "REQUEST: New membership for pandaamanda"
### GitHub Username
pandaamanda

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-20 14:44] neolit123 commented on #2446
+1 thanks!

[2021-01-20 14:46] liggitt commented on #2446
+1

[2021-01-20 14:48] pandaamanda commented on #2446
@liggitt  @neolit123  thanks.

[2021-01-20 19:29] natasha41575 opened #2447 "REQUEST: New membership for natasha41575"
### GitHub Username

@natasha41575

### Organization you are requesting membership in

@kubernetes-sigs, and its kustomize subteam.

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail

[2021-01-21 15:54] s-urbaniak commented on #2182
https://github.com/DirectXMan12/k8s-prometheus-adapter/pull/359 was merged with the necessary NOTICE changes. Any advise how to proceed? :)

[2021-01-21 22:31] celanthe opened #2450 "REQUEST: New k-sigs membership for celanthe"
### GitHub Username
@celanthe

### Organization you are requesting membership in
@kubernetes-sigs

I am a current Member of Kubernetes, and would like to be added to K-SIGs to start on the path towards becoming a Reviewer.

[2021-01-22 14:12] #2450 closed

[2021-01-22 18:50] ashnehete opened #2454 "REQUEST: New membership for ashnehete"
### GitHub Username
@ashnehete

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-22 19:04] wilsonehusin commented on #2454
+1, welcome Aashish!

[2021-01-23 00:55] shysank opened #2455 "REQUEST: New membership for shysank"
### GitHub Username
@shysank

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-01-23 00:57] CecileRobertMichon commented on #2455
Big +1!

Thank you @shysank for all your contributions thus far 👏

[2021-01-23 02:34] nader-ziada commented on #2455
Another big +1
thank you @shysank for all the great work

[2021-01-23 16:25] onlydole commented on #2454
+1 - welcome to the 1.21 release team, @ashnehete!

[2021-01-24 17:33] mrbobbytables opened #2456 "Clean up inactive members - Jan 2021"
This is the list of [inactive members](https://github.com/kubernetes/community/blob/master/community-membership.md#inactive-members) that are slated to be removed from our Github Orgs. They have had no devstats recorded since July 1 2019.

**Inactive Members:**
- @AishSundar
- @SrinivasChilveri
- @YouthLab
- @alex-mohr
- @amygdala
- @austbot
- @balajismaniam
- @bryk
- @chenopis
- @chentao1596
- @c

[2021-01-24 17:57] dims commented on #2456
+1 from me!

[2021-01-25 07:36] wzshiming opened #2459 "REQUEST: New membership for wzshiming"
### GitHub Username
@wzshiming

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-25 13:09] mrbobbytables commented on #2456
There is a limit on pings per post, this is the remainder that did not get pinged above:
- @perotinus
- @pskrzyns
- @r2d4
- @rsdcastro
- @runcom
- @sflxn
- @syjabri
- @thkoch2001
- @venezia
- @yissachar

[2021-01-25 13:18] neolit123 commented on #2459
+1 thanks @wzshiming

[2021-01-25 14:37] liggitt commented on #2459
+1

[2021-01-25 15:38] palnabarun commented on #2447
@natasha41575 -- Thank you for your contributions to Kustomize!

Once #2448 merges, you will get an invite to the @kubernetes-sigs GitHub organization.

Welcome to the @kubernetes-sigs! 🎉

---

PS: Anyone looking at this request later, the sponsor approval was done in the PR #2448 itself.

[2021-01-25 15:48] palnabarun commented on #2446
@pandaamanda -- thank you for all your contributions so far :)

I've created PR #2460 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to <@all requested orgs>! :tada:

/assign

[2021-01-25 15:49] palnabarun commented on #2459
@wzshiming -- thank you for all your contributions so far :)

I've created PR #2460 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-01-25 15:54] palnabarun commented on #2454
@ashnehete -- Welcome to the Release Team! 🎆

I've created PR #2460 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-01-25 15:58] mcluseau commented on #2410
seems like kpng is the winner here so let's go for it ;-)

[2021-01-25 16:10] paulcastro opened #2461 "Move Kui repo to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Change ownership of existing repo from github.com/IBM

- https://github.com/IBM/kui

### Requested name for new repository
- kubernetes-sigs/kui

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
- starpit
- myan9

### If not a staging repo, who should have write access
- team: sig-cli-ma

[2021-01-25 16:28] palnabarun commented on #2455
@shysank -- thank you for all your contributions so far :)

I've created PR #2460 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-01-25 16:29] palnabarun commented on #2447
/close

(as #2448 merged)

[2021-01-25 16:29] #2447 closed

[2021-01-25 16:34] #2446 closed

[2021-01-25 16:34] #2454 closed

[2021-01-25 16:34] #2455 closed

[2021-01-25 16:34] #2459 closed

[2021-01-25 17:09] heckj commented on #2456
@mrbobbytables 👋  Ola - yes, unfortunately inactive when it comes to Kubernetes. Not sure what you need from me or what this entails, but I thought I'd confirm at least myself for you.

[2021-01-25 17:28] mrbobbytables commented on #2456
No action needed, it was more an informal ping 👍

[2021-01-25 18:04] thockin commented on #2410
I can live with kpng - it's not like we can't change it as we evolve it.

[2021-01-25 18:07] dims commented on #2410
+1 to `kpng`

[2021-01-25 23:15] bobbypage commented on #2459
a little late, but +1 from me also, thanks @wzshiming for your contributions!  :)

[2021-01-26 00:00] mrunalp commented on #2459
:+1:

[2021-01-26 12:55] mrbobbytables commented on #2456
/help
For cleaning up the owners files.
For previous examples of what the clean up PRs look like please see the previous cleanups:
https://github.com/kubernetes/org/issues/2013
https://github.com/kubernetes/org/issues/2076

[2021-01-26 14:48] marpaia commented on #2456
Hey, I'm actually working my way back into the release team for 1.21. Can you please leave me in the org for now?

[2021-01-26 14:50] mrbobbytables commented on #2456
@marpaia sure.

[2021-01-26 14:56] YouthLab commented on #2456
Hi~ @mrbobbytables  I'm planning keep working for the DOC-SIG team this new year. Can you please leave me in the org for now, too?

[2021-01-26 16:13] mrbobbytables commented on #2456
@YouthLab we prefer to move to remove and re-add when the person becomes active again. Things change rapidly in the project and 1.5years with no activity it's easy to lose track of things. I went ahead on adding @marpaia back because I thought they were a part of the release team and already involved (just not reflected on GitHub yet) - that is **ON ME** for saying yes before looking into it and h

[2021-01-27 10:20] nikhita commented on #2461
/sig cli

/assign @soltysh @eddiezane @pwittrock
for approval

[2021-01-27 10:22] nikhita commented on #2410
@mcluseau is the repo meant to contain code migrated from https://github.com/mcluseau/kube-proxy2?

If so, can you update the `kube-proxy2` repo as per https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories?

[2021-01-27 15:15] mcluseau commented on #2410
@nikhita ok wilco and notify here when done, thanks :)

[2021-01-27 18:33] haircommander opened #2463 "REQUEST: New membership for haircommander"
### GitHub Username
@haircommander

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-01-27 18:35] dims commented on #2463
+1 from me. Welcome!

[2021-01-27 19:05] ehashman commented on #2463
+1 from me too!!

[2021-01-27 21:47] mrunalp commented on #2463
:+1:

[2021-01-27 22:40] YouthLab commented on #2456
@mrbobbytables That is ok. This is reasonable, better for the k8s org. And thank you for your reply with good intentions and patience.:)

[2021-01-28 01:03] chenopis commented on #2456
-rest

Hi Bob,

Thanks for the heads up. Feel free to remove me, @chenopis, since I am no
longer working on Kubernetes.

Cheers,

--Andrew

Andrew Chen |  Program Manager, Research Operations |  chenopis@google.com |
 650-495-4987

On Mon, Jan 25, 2021 at 5:08 AM Bob Killen <notifications@github.com> wrote:

[2021-01-28 01:23] rphillips commented on #2463
+1 from me
/lgtm

[2021-01-28 13:15] soltysh commented on #2461
:+1: from my end, I'm positive that other leads are on -board since this was discussed during sig-cli multiple times in the past.

[2021-01-28 13:17] nikhita commented on #2461
@soltysh thanks for the ack!

@paulcastro since the repo needs to be migrated, can you ensure that the repo meets the requirements listed here - https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories?

Once that's done, please ping me here again and I can help with the migration. :)

[2021-01-28 14:54] pwittrock commented on #2461
+1

[2021-01-28 15:46] spiffxp commented on #2222
/priority important-longterm
/lifecycle frozen

[2021-01-28 15:47] spiffxp commented on #2222
Pulling out of slack

[2021-01-28 16:13] spiffxp commented on #2222
We're going to need to consider prow changes and how to coordinate them for this.  Hopefully it is a matter of config-only changes + a few weeks of babysitting.

Off the top of my head, some things to consider:
- post-rename, branch_protector may try to recreate master protection, delete main protection
- presubmits/postsubmits should be updated to listen to both master/main branches
- job authors

[2021-01-28 16:15] spiffxp commented on #2222
/sig release
/area release-eng
Tagging for SIG Release as well, to consider the implications / planning necessary for kubernetes/kubernetes

[2021-01-28 16:29] spiffxp opened #2465 "Use peribolos to manage team repo permissions"
Peribolos supports defining which repos a given team should have which level of access to (ref: https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos#org-configuration)

Currently this is all done manually.  I think it would reduce our toil and make team permission changes more auditable if we drove this through our config files.

Some things to consider:
- the config looks like

[2021-01-28 17:40] spiffxp commented on #2276
/close
I think it's a valid concern @sftim, but it's not something I feel inclined to enforce or disable org-wide at the moment.  Some of our subprojects use Actions today, and tide/prow is able to read Checks, so there is better support than there used to be.  If they become too much of a support burden, we'll revisit.

Specifically for kubernetes/kubernetes I agree with @mrbobbytables that we ca

[2021-01-28 17:41] #2276 closed

[2021-01-28 18:44] spiffxp commented on #2222
@justaugustus mentioned on slack that he's looking at trialing:
- kubernetes/sig-release
- kubernetes/enhancements

[2021-01-28 19:03] spiffxp opened #2466 "Rename default branch for kubernetes/org"
Part of umbrella issue https://github.com/kubernetes/org/issues/2222

Issue to spec out and then run through renaming the default branch for this repository

- update pre/postsubmits to trigger on old branch name and new branch name
- determine whether periodics use default branch or have name hardcoded in git commands
  - if hardcoded, does attempting to checkout old name break?
- determine wheth

[2021-01-29 01:20] CecileRobertMichon commented on #2455
@shysank, just noticed this, you need @kubernetes-sigs membership since that's where CAPI/CAPZ are hosted, @kubernetes org is separate.

[2021-01-29 01:54] KentaTada opened #2467 "REQUEST: New membership for KentaTada"
### GitHub Username
@KentaTada

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-01-29 01:59] neolit123 commented on #2467
+1 thanks for the contributions @KentaTada

[2021-01-29 05:52] odinuge commented on #2467
+1

Thanks for your contributions and insights! 👍

[2021-01-29 13:00] sladyn98 commented on #2456
@mrbobbytables I would like to give this issue a shot, I read the comment on slack by @nikhita about updating the owners files. If yes do let me know if I can begin ?

[2021-01-29 13:30] pmorie opened #2468 "Create new repo: kubernetes-sigs/work-api"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
work-api

### Which Organization should it reside
e.g. kubernetes-sigs

### If not a staging repo, who should have admin access
pmorie, jeremyot, jqiu (qiujian16)

### If not a staging repo, who should have write access
pmorie, jeremyot, jqiu (qiujian16)

### If not a staging repo, who should be listed

[2021-01-29 13:32] mrbobbytables commented on #2287
Are there any more action items with this?

[2021-01-29 13:33] mrbobbytables commented on #2182
With that I think its now mostly coordinating the migration

[2021-01-29 13:42] nikhita commented on #2182
GitHub doesn't allow migrating user-owned repos, only org-owned repos are allowed. @DirectXMan12 can you transfer the repo to https://github.com/kubernetes-purgatory? You should have an invite to the org.

Once the repo is transferred, we can migrate that to k-sigs.

[2021-01-29 14:59] mcluseau commented on #2410
ok, I think I've gone through the checklist

[2021-01-29 15:44] nikhita commented on #2410
@mcluseau Can you also update the template files to match the repo? For instance, these files would need update - README.md, OWNERS, OWNERS_ALIASES (this can be deleted if not needed), and SECURITY_CONTACTS.

[2021-01-29 16:42] mcluseau commented on #2410
ohhh... ok... I'm responsible of those too now, that's something real :scream: ;-)

[2021-01-29 16:56] spiffxp commented on #2466
/milestone v1.21

[2021-01-29 17:19] shysank opened #2470 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username
@shysank

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-01-29 17:20] shysank commented on #2470
I recently requested membership in #2455, but forgot to add @kubernetes-sigs which is where I do most of the work. Apologies for the confusion.

[2021-01-29 17:26] spiffxp commented on #2466
prowjob configs:
- presubmits: don't explicitly mention master -> do nothing, should work fine post-rename
- postsubmits: trigger on master -> add main, remove master post-rename
- periodics: ci-org-peribolos uses pod-utils to explicitly clone master branch -> can we remove the branch reference up front? or will we need to update post-migration...
prowjob names:
- master isn't in their names
prowj

[2021-01-29 17:31] nikhita commented on #2470
@shysank since you are already a member of @kubernetes, you don't need sponsorship for @kubernetes-sigs. Feel free to create a PR to add yourself in here - https://github.com/kubernetes/org/blob/master/config/kubernetes-sigs/org.yaml :smile:

[2021-01-29 17:44] shysank commented on #2470
Ah, Thanks 🙏  I'll do that, and close this issue.

[2021-01-29 17:51] shysank commented on #2470
Closing this in favor of #2471

[2021-01-29 17:51] #2470 closed

[2021-01-29 18:04] srikiz opened #2472 "REQUEST: New membership for srikiz"
### GitHub Username
@srikiz

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-01-29 18:09] olemarkus commented on #2472
Thanks for all the contributions @srikiz!

+1 from me

[2021-01-29 19:07] starpit commented on #2461
@nikhita Thanks for the help! I think we have all of the rules engaged with the following exceptions:

1) the CLA bot is set up, but we are still waiting for @thelinuxfoundation to accept the user invitation; this is needed to fully enable the bot

2) prow: is my understanding correct that we will need to find a cluster to host this? or is their provision for piggybacking multiple projects onto a

[2021-01-29 19:32] spiffxp commented on #2466
OK I'm going to click the button...
![Screen Shot 2021-01-29 at 2 31 22 PM](https://user-images.githubusercontent.com/49258/106318920-aa531c80-623e-11eb-9a8d-5c82ba73eb8d.png)

[2021-01-29 19:33] timoreimann commented on #2472
Sri has been delivering improvements to kops and related projects continuously for a long time. Thanks for everything you have done, definitely +1 from my end!

[2021-01-29 19:36] justaugustus commented on #2466
Do itttttt 🎉 ✨
/pony party

[2021-01-29 19:43] DirectXMan12 commented on #2182
Transfer under way!

[2021-01-29 19:45] spiffxp commented on #2466
Pushed the button.

Slack alerter fired:
<img width="928" alt="Screen Shot 2021-01-29 at 2 40 19 PM" src="https://user-images.githubusercontent.com/49258/106319750-ea66cf00-623f-11eb-9ba3-d92b735fa808.png">

presubmits for open PRs and postsubmits were retriggered:
![Screen Shot 2021-01-29 at 2 40 50 PM](https://user-images.githubusercontent.com/49258/106319789-fd799f00-623f-11eb-9c2e-84a4dd9857c4

[2021-01-29 20:06] spiffxp commented on #2466
Doing a PR via the UI already uses the correct branch name.  I happen to use `hub pull-request` a lot locally, let me see what that experience is like...

trying `hub pull-request` from a local copy of the repo that hasn't been updated at all:
[code]

trying git fetch from a local copy of the repo that hasn't been updated at all
[code]

updated per their instructions
[code]

`hub pull-request` sti

[2021-01-29 20:20] spiffxp commented on #2466
Sample PR to confirm things still work (without a post-rename PR yet): https://github.com/kubernetes/org/pull/2473

[2021-01-29 20:38] mrbobbytables commented on #2466
The pre/post submits getting re-triggered for smaller repos will probably be fine, but I fear what it'd do for k/k 😬

[2021-01-29 20:53] spiffxp commented on #2466
Yeah once I wrap this up I'd like to writeup where we got lucky and what we should watch out for to help choose other candidates and identify blockers/mitigations

[2021-01-29 21:11] spiffxp commented on #2466
Post-rename cleanup PR merged: https://github.com/kubernetes/test-infra/pull/20669

[2021-01-29 21:26] spiffxp commented on #2466
Notice sent to https://groups.google.com/g/kubernetes-dev/c/mKwxJW5z2Lk

[2021-01-29 22:13] spiffxp commented on #2466
Where we got lucky:
- few open PRs; we didn't have to mitigate a huge spike in CI load
- infrequent periodics; we didn't have to mitigate periodics breaking pre-rename or post-rename
- `master` not in job names; we didn't have to deal with status-context renames or loss of testgrid history
- jobs didn't explicitly reference 'master' in their code

Lessons learned:
- the only plugin config that exp

[2021-01-29 22:14] spiffxp commented on #2466
I'm holding this open until we see the next run of https://testgrid.k8s.io/sig-contribex-org#ci-peribolos to confirm it's using the new branch

[2021-01-29 22:20] azhao155 opened #2474 "REQUEST: New membership for azhao155"
### GitHub Username
@azhao155

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-01-29 22:21] azhao155 commented on #2474
@medyagh
@afbjorklund

[2021-01-29 22:26] medyagh commented on #2474
I sponsor @azhao155 he has done amazing work for minikube, fixed multiple bugs in minikube that required great persistence and amazing curiosity.

[2021-01-30 00:58] ydFu opened #2475 "REQUEST: New membership for ydFu"
### GitHub Username

@ydFu

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-01-30 01:44] tengqm commented on #2475
+1  Looking forward to see more contributions from you.

[2021-01-30 05:40] nikhita commented on #2182
Repo has been finally migrated! :tada: :rocket: :partying_face:

New repo location - https://github.com/kubernetes-sigs/prometheus-adapter

Updates:
- I have pushed commits directly to the master branch of prometheus-adapter to fix the filenames for `OWNERS`, `OWNERS_ALIASES` and `SECURITY_CONTACTS`. Before this commit, they all had the `.txt` file extension. If the file extension is incorrect, pr

[2021-01-30 08:21] afbjorklund commented on #2474
I sponsor @azhao155 for minikube

[2021-01-30 14:20] sftim commented on #2475
+1 from me, too.

[2021-01-30 17:10] spiffxp commented on #2466
/close
Next run passed, confirmed using main https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-org-peribolos/1355356401299361792

[2021-01-30 17:10] #2466 closed

[2021-01-31 05:46] ydFu commented on #2475
Thanks for the help @tengqm , @sftim.

[2021-01-31 15:16] mrbobbytables commented on #2456
@sladyn98 You can, just be sure to reference this post when creating PRs doing so. You can see some of the examples linked in #2013 and #2076.

I would also avoid opening PRs up in kubernetes/kubernetes to start as things are a bit more complicated with owners files there.

One other FYI - if the person being removed was an approver, they should be added as an [`emeritus_approver`](https://www.kub

[2021-02-01 13:21] s-urbaniak commented on #2182
thank you @nikhita @brancz @DirectXMan12 :raised_hands: :tada: cc @dgrisonnet

[2021-02-01 14:30] nikhita commented on #2461
@starpit -- the linuxfoundation bot will not accept the invitation. Once the repo is migrated over, CLA checks will automatically be enabled on all PRs.

A single prow instance is used for all k8s projects. https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md has more details on how to use it.

---

@starpit There are few more things we need to get out of the way before we can migrate

[2021-02-01 14:38] nikhita commented on #2468
Considering this "approved" since @pmorie is a chair for SIG Multicluster

[2021-02-01 14:38] nikhita commented on #2468
/assign

[2021-02-01 14:45] joshuaauerbachwatson commented on #2461
Hi.  I am listed as someone who needs to sign a new CLA.   I long ago stopped being an active contributor to the kui core and would prefer not to go through these additional steps if it can be avoided.   It sounds like you can just delete me as a contributor.

[2021-02-01 14:47] nikhita commented on #2468
Repo has been created - https://github.com/kubernetes-sigs/work-api

@qiujian16 is not a member of @kubernetes-sigs or @kubernetes GitHub orgs so they would need to [request for membership](https://github.com/kubernetes/community/blob/master/community-membership.md#member).

Also created:
- https://github.com/kubernetes/org/pull/2477 - to add GitHub teams to grant access
- https://github.com/kuber

[2021-02-01 14:53] nikhita commented on #2182
All PRs have merged. Closing! :rocket:

[2021-02-01 14:53] #2182 closed

[2021-02-01 17:12] LouisStAmour commented on #2461
Signed :)

[2021-02-01 18:44] shekhar-rajak opened #2478 "REQUEST: New membership for shekhar-rajak"
### GitHub Username
@shekhar-rajak

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-02-01 18:53] parispittman commented on #2478
So happy to have you and looking forward to future! 👍🏻

lgtm!

[2021-02-01 18:54] justaugustus commented on #2478
Enthusiastically endorse @shekhar-rajak's membership!
He's been taking on a bunch of work to boost k/enhancements test coverage and convert older KEPs to the new directory format and I'm super appreciative!

/pony party

[2021-02-01 21:28] justaugustus commented on #2342
Hey @spiffxp, sorry for missing your comment a while back.
My understanding of the [process for creating staging projects](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io) as it exists today (having gone through it a few times myself, with custom use cases for RelEng) is:

1. PR to add a Google Group for IAM
2. Populate the promotion skeleton for the new project
3. Update the scripts t

[2021-02-01 21:51] justaugustus commented on #2342
Slack discussion thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1612214966104300

[2021-02-02 05:12] nikhita commented on #2472
@srikiz All sponsors are required to be a part of at least one OWNERS file in the @kubernetes org. Unfortunately, due to this restriction, @timoreimann cannot act as a sponsor. :(

Can you please look for an additional sponsor to +1 here?

[2021-02-02 05:18] nikhita commented on #2463
@haircommander thank you for all your contributions so far \o/

I've created PR #2479 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-02 05:18] nikhita commented on #2467
@KentaTada thank you for all your contributions so far \o/

I've created PR #2479 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-02 05:18] nikhita commented on #2474
@azhao155 thank you for all your contributions so far \o/

I've created PR #2479 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-02 05:18] nikhita commented on #2475
@ydFu thank you for all your contributions so far \o/

I've created PR #2479 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-02 05:18] nikhita commented on #2478
@shekhar-rajak thank you for all your contributions so far \o/

I've created PR #2479 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-02 05:26] nikhita commented on #2410
@mcluseau if you are in the OWNERS file, you also need to be a member of the @kubernetes-sigs GitHub organization to be able to approve PRs.

Can you create an issue to request membership? Detailed instructions are here - https://github.com/kubernetes/community/blob/master/community-membership.md#member

[2021-02-02 05:30] #2463 closed

[2021-02-02 05:30] #2467 closed

[2021-02-02 05:30] #2474 closed

[2021-02-02 05:30] #2475 closed

[2021-02-02 05:30] #2478 closed

[2021-02-02 07:00] srikiz commented on #2472
Sure @nikhita, thanks. I will look for an additional sponsor.

[2021-02-02 08:35] chymy opened #2480 "REQUEST: New membership for chymy"
### GitHub Username
@chymy

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-02-02 09:33] aojea commented on #2480
+1
he was doing a great job cleaning some of the existing technical debt we have.

[2021-02-02 12:18] rifelpet commented on #2472
Big +1 one from me, thanks for all of your contributions so far!

[2021-02-02 12:30] chymy commented on #2480
/ping @neolit123

[2021-02-02 13:04] neolit123 commented on #2480
+1

[2021-02-02 14:12] haircommander commented on #2463
thanks everyone :smile:

[2021-02-02 19:12] ayberk opened #2481 "REQUEST: New membership for ayberk"
### GitHub Username
@ayberk

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-02-02 19:13] andrewsykim commented on #2481
+1 thanks!

[2021-02-02 19:14] nckturner commented on #2481
+1

[2021-02-04 16:07] abdonrd commented on #2461
Signed!

[2021-02-04 16:08] ujibang commented on #2461
Signed!

 Andrea Di Cesare
 Partner at Soft*Instigate* <https://softinstigate.com/>
 Via Copernico 38, 20125 Milano (Italy)
 Mobile: +39 329 737 6417
 Skype: ujibang

The company behind *REST*Heart <https://restheart.org>, the Runtime for
Microservices with Instant Data API on MongoDB

Il giorno gio 4 feb 2021 alle ore 17:07 Abdón Rodríguez Davila <
notifications@github.com> ha scritto:

[2021-02-04 16:38] jesusprubio commented on #2461
Signed!

[2021-02-06 05:39] chenxuc opened #2483 "REQUEST: New membership for chenxuc"
### GitHub Username
@chenxuc

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-02-06 06:05] tengqm commented on #2483
+1

Look forward to more contributions from you!

[2021-02-06 16:42] nikhita commented on #1499
/lifecycle frozen

On Sat, Feb 6, 2021 at 10:44 AM fejta-bot <notifications@github.com> wrote:

[2021-02-08 07:16] BenTheElder commented on #2342
lol? 🙃 (presumably just the "artifacts" bit? or is this a takeover? 😛 )

I think notifications will continue to be bad, FWIW (seeing as everyone involved in artifact management will still be in the one repo, and that's easily the most active thing), and every move like this kills link juice sooo ... 🤷‍♂️

[2021-02-08 10:02] sftim commented on #2483
+1 from me too

[2021-02-08 11:04] chenxuc commented on #2483
Thanks a lot for your support!

[2021-02-08 17:14] palnabarun commented on #2472
@srikiz, thank you for all your contributions so far :)

I've created PR #2484 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-02-08 17:14] palnabarun commented on #2480
@chymy, thank you for all your contributions so far :)

I've created PR #2484 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-02-08 17:14] palnabarun commented on #2481
@ayberk, thank you for all your contributions so far :)

I've created PR #2484 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-02-08 17:14] palnabarun commented on #2483
@chenxuc, thank you for all your contributions so far :)

I've created PR #2484 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-02-08 17:23] spiffxp commented on #2342
/milestone v1.21

[2021-02-08 17:26] #2472 closed

[2021-02-08 17:26] #2480 closed

[2021-02-08 17:26] #2481 closed

[2021-02-08 17:26] #2483 closed

[2021-02-08 17:38] kishorj commented on #1995
/reopen

[2021-02-08 17:39] andrewsykim commented on #1995
+1 :)

[2021-02-08 18:06] spiffxp commented on #2342
One nit on proposed workflow: I would prefer treating service as source of truth for gitops driven things, especially those that are manually actuated.  So, k8s.gcr.io jobs should check to see if projects/images actually exist, don't trust presence in a .yaml file.

Workflow otherwise SGTM.  Block manifest merge on "is manifest valid", which includes existence of source/dest artifacts and appropri

[2021-02-08 19:38] bharath-123 opened #2485 "REQUEST: New membership for bharath-123"
### GitHub Username
@bharath-123

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-02-08 19:40] olemarkus commented on #2485
+1 thanks for all your work!

[2021-02-08 19:45] M00nF1sh commented on #1995
+1 :D

[2021-02-08 19:47] hakman commented on #2485
Big 👍 from me too!

[2021-02-08 20:19] rifelpet commented on #2485
Bonus +1 from me 👍🏻

[2021-02-08 20:32] bharath-123 commented on #2485
Thank you!

[2021-02-09 02:42] sxllwx opened #2486 "REQUEST: New membership for sxllwx"
### GitHub Username
@sxllwx

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-02-09 02:45] Huang-Wei commented on #2486
+1

[2021-02-09 02:46] hzxuzhonghu commented on #2486
+1 welcome

[2021-02-09 03:01] sxllwx commented on #2486
Thank you～

[2021-02-09 10:30] mcluseau opened #2487 "REQUEST: New membership for mcluseau"
### GitHub Username
@mcluseau

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-02-09 12:24] mrbobbytables commented on #2487
@mcluseau - Sponsors must be from separate organizations per the [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements). Both @thockin and @saad-ali are from Google. Is there someone else that can sponsor you?

[2021-02-09 13:14] mcluseau commented on #2487
I also worked with @chakri-nelluri but he doesn't seem to be in k8s org; with @childsb too; on the network side, @robscott but he's Google too. I had some good interactions with @dims too, and he seems to support the kpng initiative. Maybe @nikhita would support this request too as she requested it.

[2021-02-09 13:15] deads2k commented on #2486
+1

[2021-02-09 13:38] chakri-nelluri commented on #2487
I worked with Mikael and would highly recommend him from my side.

Thanks

Sent from my iPhone

[2021-02-09 13:41] chakri-nelluri commented on #2487
+ Saad.

Saad, if you remember @mikael.cluseau@gmail.com <mikael.cluseau@gmail.com> was
the one who worked on revamping the Flex volume code and has done an
stellar job. Please help me recommend him.

Thanks

On Tue, Feb 9, 2021 at 8:38 AM <nelcyguy@gmail.com> wrote:

[2021-02-09 13:45] mcluseau commented on #2487
Thanks Chakri :) (tagging @saad-ali as it seemed to be the intent)

[2021-02-09 15:04] cynepco3hahue opened #2488 "REQUEST: New membership for cynepco3hahue"
### GitHub Username
@cynepco3hahue

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-02-09 15:05] cynepco3hahue commented on #2488
@ehashman @SergeyKanzhelev FYI

[2021-02-09 16:19] SergeyKanzhelev commented on #2488
Happy to sponsor @cynepco3hahue membership! Thank you for your contributions!

[2021-02-09 18:19] varshaprasad96 opened #2489 "REQUEST: New membership for @varshaprasad96"
### GitHub Username
@varshaprasad96

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2021-02-09 18:30] ehashman commented on #2488
:+1:

[2021-02-09 18:30] estroz commented on #2489
:+1: from me!

[2021-02-09 18:43] vincepri commented on #2489
+1

[2021-02-09 19:48] BenTheElder opened #2490 "kubernetes/sig-testing repo creation request"
### New Repo, Staging Repo, or migrate existing

new repository

### Requested name for new repository

sig-testing

### Which Organization should it reside

kubernetes

### If not a staging repo, who should have admin access

myself, @spiffxp @stevekuznetsov (SIG leads)

### If not a staging repo, who should have write access

myself, @spiffxp @stevekuznetsov (SIG leads)

### If not a staging rep

[2021-02-09 19:54] dims commented on #2490
+1 from me

[2021-02-09 20:27] cblecker commented on #2490
Would a repo be best? Or would github team discussions be a better fit?

I'm supportive of sig-testing blazing a trail here either way.

[2021-02-09 20:41] BenTheElder commented on #2490
I think we should go with a repo so we can also put a README for it etc., teams also seem to have poor (zero?) visibility to non-org members which seems problematic.

[2021-02-09 21:24] tehcyx commented on #2490
+1 from me. I'd like to explore this.

[2021-02-09 22:18] cblecker commented on #2490
That makes sense, although I'd love to validate this assumption so we could document it in future guidance.

Is there a reason for kubernetes vs k-sigs? (the former will require sig-arch approval)

[2021-02-09 22:31] BenTheElder commented on #2490
I've just tested again that I can't visit a github teams page incognito, teams are only visible to people logged in and part of the org AFAICT.

Just the existing pattern for easy naming really. Depending on how heavyweight the process is I don't mind asking, I think it's slightly clearer versus the subprojects in k-sigs but if it's going to require a KEP then no thanks ;-)

[2021-02-09 22:41] BenTheElder commented on #2490
https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-teams#team-visibility

So even if you configure visibility, they're only visible to org members. You can make them secret even within an org, but not public to the internet.

https://github.com/orgs/kubernetes/teams, https://github.com/orgs/kubernetes/teams/bash-firefighters bounce me to a login page when logge

[2021-02-10 03:10] cjmakwana commented on #2472
Many congrats @srikiz for becoming a Kube family member !

[2021-02-10 04:41] nikhita commented on #2490
:+1: to this overall.

Out of curiosity, is this meant to be [GitHub Discussions](https://docs.github.com/en/discussions) (the GitHub feature) or using issues in the GitHub repo (like SIG Release does)?

[2021-02-10 06:19] robscott opened #2492 "Rename Service APIs to Gateway API"
### New Repo, Staging Repo, or migrate existing
Migrate existing

### Requested name for new repository
gateway-api

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
service-apis-admins (rename to gateway-api-admins) - done in https://github.com/kubernetes/org/pull/2491/files

### If not a staging repo, who should have write access
se

[2021-02-10 14:50] sladyn98 commented on #2456
I opened some PRs for some of the files, I will continue creating pull requests once I know what I am doing is right :)

[2021-02-10 19:45] champtar opened #2493 "REQUEST: New membership for champtar"
### GitHub Username
@champtar

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-02-10 19:47] oomichi commented on #2493
Thanks for your continuous contributions.

big +1

[2021-02-10 21:32] floryut commented on #2493
Impressive work from @champtar
Keep it up

+1 without hesitation

[2021-02-11 00:01] spiffxp commented on #2222
@BenTheElder is interested in doing this for:
- kubernetes-sigs/kind

[2021-02-11 01:47] roycaihw commented on #2486
+1 welcome!

[2021-02-11 09:35] adrianchiris opened #2494 "REQUEST: New membership for adrianchiris"
### GitHub Username
@adrianchiris

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2021-02-11 10:48] zvonkok commented on #2494
+1

[2021-02-11 10:59] perithompson opened #2495 "REQUEST: New membership for perithompson"
### GitHub Username
@perithompson

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2021-02-11 11:31] marquiz commented on #2494
+1 👍

[2021-02-11 13:10] jsturtevant commented on #2495
+1 thanks for all your contributions in sig-windows!

[2021-02-11 13:50] lyzs90 opened #2496 "REQUEST: New membership for lyzs90"
### GitHub Username
@lyzs90

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-02-11 14:00] jayunit100 commented on #2495
+1 approve !

[2021-02-11 14:01] jayunit100 commented on #2495
thanks for everything!

[2021-02-11 14:01] mm4tt commented on #2496
+1, Shem is doing an amazing job in SIG Scalability. Thank you for all your contributions so far, I'm waiting for more :)

[2021-02-11 16:30] codenrhoden commented on #2495
My approval isn't required since if you have `kubernetes` membership (which you already have two +1's for that from diff companies) you are implicitly granted `kubernetes-sigs` membership so long as it is requested. However....

+1! Well deserved, and thanks for you contributions in image-builder.

[2021-02-11 22:28] masap opened #2498 "REQUEST: New membership for masap"
### GitHub Username
@masap

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-02-11 23:15] savitharaghunathan commented on #2485
Hi, @bharath-123 👋 Thank you for all your contributions!

I've created PR #2499 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-11 23:16] savitharaghunathan commented on #2486
Hi, @sxllwx 👋 Thank you for all your contributions!

I've created PR #2499 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-11 23:17] savitharaghunathan commented on #2488
Hi, @cynepco3hahue 👋 Thank you for all your contributions!

I've created PR #2499 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-11 23:17] savitharaghunathan commented on #2489
Hi, @varshaprasad96 👋 Thank you for all your contributions!

I've created PR #2499 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-11 23:17] savitharaghunathan commented on #2493
Hi, @champtar 👋 Thank you for all your contributions!

I've created PR #2499 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-11 23:18] savitharaghunathan commented on #2494
Hi, @adrianchiris 👋 Thank you for all your contributions!

I've created PR #2499 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-11 23:20] savitharaghunathan commented on #2495
Hi, @perithompson 👋 Thank you for all your contributions!

I've created PR #2499 to add you to the @kubernetes & @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-11 23:24] dims commented on #2498
+1 from me!

[2021-02-11 23:47] oomichi commented on #2498
Thanks for your contributions.

+1

[2021-02-12 00:01] varshaprasad96 commented on #2489
Thank you, everyone !

[2021-02-12 05:40] marquiz commented on #2494
Welcome @adrianchiris !

[2021-02-12 12:05] #2485 closed

[2021-02-12 12:05] #2486 closed

[2021-02-12 12:05] #2488 closed

[2021-02-12 12:05] #2489 closed

[2021-02-12 12:05] #2493 closed

[2021-02-12 12:05] #2494 closed

[2021-02-12 12:05] #2495 closed

[2021-02-12 14:14] mrbobbytables commented on #2492
All needed PRs have been merged, and the repo has been renamed
https://github.com/kubernetes-sigs/gateway-api 👍

With that, I'm going to go ahead and close the issue out, if you have any issues, please feel free to reopen it.
Thanks!

/assign
/close

[2021-02-12 14:15] #2492 closed

[2021-02-12 20:05] danpopSD opened #2500 "REQUEST: New membership for danpopsd"
### GitHub Username
@danpopsd

### Organization you are requesting membership in
kubernetes
### Requirements
- [ X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-02-12 20:14] mrbobbytables commented on #2500
+1 @danpopSD has been helping with our events like the Contributor Celebration, Office hours and more :)

[2021-02-12 20:37] detiber commented on #2500
It's about damn time!

[2021-02-12 20:47] castrojo commented on #2500
+1, I'm working with Dan to transition some of my contribex tasks to him, he's doing a great job and has already been helping with contributor celebration and other multimedia efforts in the SIG.

[2021-02-12 21:37] justaugustus commented on #2500
Enthusiastic +1 to POP's membership!

Is `/pop` a thing yet? Probably not, but for now:
/honk
/pony party

[2021-02-12 22:50] sethmccombs commented on #2500
Let's gooooooooo!!

Also retry -
/pony

[2021-02-12 22:59] dims commented on #2500
+1 from me. welcome!

[2021-02-14 11:45] cynepco3hahue commented on #2488
A lot of thanks!

[2021-02-14 16:32] mrbobbytables commented on #2456
@sladyn98 They look good :) It might just take a little bit for them to get reviewed. 👍

[2021-02-15 17:36] shyamjvs commented on #2496
+1 and thanks for your contributions!

[2021-02-15 19:47] aravindhp opened #2501 "REQUEST: New membership for aravindhp"
### GitHub Username
@aravindhp

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2021-02-15 19:48] jayunit100 commented on #2501
Approve - @aravindhp has helped us alot with organizing various bits of the windows initiative and sharing lessons from upstream openshift !!!!

/approve

[2021-02-15 19:53] ddebroy commented on #2501
I strongly support for @aravindhp 's membership request. He has been a solid contributor to different aspects of Kubernetes through SIG Windows.
/approve

[2021-02-16 08:00] nikhita commented on #1995
@kishorj thank you for all your contributions so far \o/

I've created PR #2503 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2021-02-16 08:00] nikhita commented on #2498
@masap thank you for all your contributions so far \o/

I've created PR #2503 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-16 08:00] nikhita commented on #2500
@danpopSD thank you for all your contributions so far \o/

I've created PR #2503 to add you to the Kubernetes. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-16 08:01] nikhita commented on #2496
@lyzs90 thank you for all your contributions so far \o/

I've created PR #2503 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-16 08:01] nikhita commented on #2501
@aravindhp thank you for all your contributions so far \o/

I've created PR #2503 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2021-02-16 08:02] lyzs90 commented on #2496
Thank you :)

[2021-02-16 08:11] #1995 closed

[2021-02-16 08:11] #2496 closed

[2021-02-16 08:11] #2498 closed

[2021-02-16 08:11] #2500 closed

[2021-02-16 08:11] #2501 closed

[2021-02-16 08:30] nikhita commented on #2490
@BenTheElder since this is a repo in the @kubernetes GitHub org, can you send an email to the sig-arch mailing list about repo creation ?

@dims' +1 (https://github.com/kubernetes/org/issues/2490#issuecomment-776200564) is enough but would be great to continue the practice of sending a heads up to the mailing list :)

[2021-02-16 08:43] masap commented on #2498
Thank you for all!

[2021-02-16 15:37] aravindhp commented on #2501
Thank you @nikhita @ddebroy @jayunit100

[2021-02-16 19:25] justaugustus commented on #2332
/remove-lifecycle stale

[2021-02-16 20:44] hanlins opened #2505 "REQUEST: New membership for hanlins"
### GitHub Username
@hanlins

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2021-02-16 20:55] bobbypage commented on #2505
+1 @hanlins did an awesome job on https://github.com/kubernetes/kubernetes/issues/95727 and has made contributions to Kubernetes community across sig-node and sig-network.

[2021-02-16 21:03] andrewsykim commented on #2505
+1 !!!!

[2021-02-17 02:10] robscott opened #2506 "Netlify site request for Gateway API"
### Repository
kubernetes-sigs/gateway-api

### Project domain
gateway-api.sigs.k8s.io

### Additional context for request
Making subdomain request at same time as Netlify request, not sure on the proper order of operations here but would love to have both enabled soon.

[2021-02-17 02:32] mrbobbytables commented on #2506
/assign

[2021-02-17 03:26] nikhita commented on #2505
@hanlins Sponsors need to be in an OWNERS file in the @kubernetes org. Unfortunately, due to this restriction, @bobbypage would not be able to sponsor.

Can you add an additional non-VMware sponsor who fits this criteria?

[2021-02-17 03:49] yuga711 opened #2507 "REQUEST: New membership for yuga711"
### GitHub Username
@yuga711

### Organization you are requesting membership in
@kubernetes
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2021-02-17 04:03] msau42 commented on #2507
+1 Jay has been looking into some tricky issues around volume attachment.

@yuga711 can you also modify the request to also be a member of kubernetes-csi? I think we can cover both as part of this.

[2021-02-17 04:22] gnufied commented on #2507
+1

[2021-02-17 04:34] yuga711 commented on #2507
Thanks Michelle and Hemant. I added kubernetes-csi as well.

[2021-02-17 10:16] dgrisonnet opened #2508 "REQUEST: New membership for dgrisonnet"
### GitHub Username
@dgrisonnet

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2021-02-17 10:20] lilic commented on #2508
+100 I strongly support this!

Thank you Damien for all the work you have been doing for kube-state-metrics in numerous PRs and issues you answered as well as for the prometheus-adapter. Looking forward to future things to come!! 🎉

[2021-02-17 10:28] aojea commented on #2505
+1
great work

[2021-02-17 10:31] s-urbaniak commented on #2508
100% support from my side as well! :tada:

[2021-02-17 10:36] sttts commented on #2508
+100

[2021-02-17 11:21] serathius commented on #2508
/lgtm
Thanks for your work on Metrics Server.

[2021-02-17 12:25] nikhita commented on #2505
@hanlins sponsorships look good, you should get added to the github orgs when the next batch of membership requests are processed! :smile:

[2021-02-17 12:27] nikhita commented on #2508
@dgrisonnet This is one of the best membership requests I've seen in a while. Thanks for adding details and formatting it so cleanly! :raised_hands:

Also, sponsorships look good. You'll get added to the GitHub orgs when the next round of membership requests are processed. :)

[2021-02-17 12:31] mrbobbytables commented on #2506
Netlify has been enabled for the repo, the current url is available here:
https://kubernetes-sigs-gateway-api.netlify.app

Once dns is configured and a netlify.toml file present, can finish the setup.

[2021-02-18 17:24] erain opened #2511 "REQUEST: New membership for erain"
### GitHub Username
@erain

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-02-18 19:46] logicalhan commented on #2511
/lgtm
/approve

[2021-02-18 19:56] ehashman commented on #2511
:+1:

[2021-02-19 02:48] edreed opened #2512 "REQUEST: New membership for edreed"
### GitHub Username

@edreed

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-02-19 02:54] andyzhangx commented on #2512
+1

[2021-02-19 04:33] nikhita commented on #2505
@hanlins thank you for all your contributions so far \o/

I've created PR #2513 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2021-02-19 04:34] nikhita commented on #2507
@yuga711 thank you for all your contributions so far \o/

I've created PR #2513 to add you to the Kubernetes and Kubernetes CSI Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-csi! 🎉

/assign

[2021-02-19 04:34] nikhita commented on #2508
@dgrisonnet thank you for all your contributions so far \o/

I've created PR #2513 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2021-02-19 04:34] nikhita commented on #2511
@erain thank you for all your contributions so far \o/

I've created PR #2513 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-19 04:36] xing-yang commented on #2512
Hi @edreed, thanks for your contributions!  I'm happy to sponsor you to join the kubernetes-sigs org.

I see that you've made contributions in kubernetes-sigs, but I don't see anything under kubernetes org.  Would you mind join kubernetes-sigs org now and apply for kubernetes org in the future after you've made some contributions there?

[2021-02-19 04:45] edreed commented on #2512
@xing-yang Ah, my apologies for the overreach. I've dropped the request to join kubernetes org and will look for opportunities to contribute to and join the broader org at a later time.

[2021-02-19 04:50] nikhita commented on #2512
@edreed thank you for all your contributions so far \o/

I've created PR #2513 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-02-19 04:58] hanlins commented on #2505
Thanks for all the supports from @bobbypage @andrewsykim @aojea and @nikhita, really appreciate it!

[2021-02-19 06:11] robscott commented on #2506
Thanks for all the help @mrbobbytables! I think this is all complete now.

/close

[2021-02-19 06:11] #2506 closed

[2021-02-19 06:34] #2507 closed

[2021-02-19 06:34] #2508 closed

[2021-02-19 06:34] #2511 closed

[2021-02-19 06:34] #2505 closed

[2021-02-19 06:34] #2512 closed

[2021-02-19 12:18] prezha opened #2514 "REQUEST: New membership for prezha"
### GitHub Username
@prezha

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-02-19 17:22] sharifelgamal commented on #2514
I'll sponsor @prezha

[2021-02-19 19:13] medyagh commented on #2514
I happily support @prezha to be in k8s org, he has done amazing contributions to minikube

[2021-02-20 12:31] afbjorklund commented on #2514
I sponsor @prezha for minikube

[2021-02-21 15:17] mrbobbytables commented on #2287
As there hasn't been any follow up since October, I'm going to mark this as rotten.
/lifecycle rotten

@pwittrock If you still need assistance, please go ahead and mark it as active.

[2021-02-21 15:38] mrbobbytables commented on #1499
@pmorie do you know if a decision was reached? It's been some time now and the repo's still most recent activity is from 2+ years ago.

[2021-02-22 12:33] jailton opened #2515 "REQUEST: New membership for jailton"
### GitHub Username
@jailton

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-02-22 21:45] BenTheElder commented on #2490
Sorry the past week was full of surprises, I've gotten this forwarded to SIG Architecture now 😅

[2021-02-22 21:53] derekwaynecarr commented on #2490
+1 (as sig-arch co-chair)

[2021-02-22 22:24] myan9 commented on #2461
@nikhita, thanks for the help! We've done the Copyright header and Notice file. We're investigating on how to do PR status check via prow. Currently the Kui repo is using travis-ci for testing, so we want to configure prow to merge a PR when travis tests pass. Does the following configuration code against [test-infra/config/prow/config.yaml](https://github.com/kubernetes/test-infra/blob/master/con

[2021-02-23 05:56] nikhita commented on #2490
Repo has been created - https://github.com/kubernetes/sig-testing

- @kubernetes/sig-testing-leads have admin access.
- created https://github.com/kubernetes/community/pull/5544 to add the repo to sigs.yaml

[2021-02-23 07:42] #2490 closed

[2021-02-23 08:09] nikhita commented on #2461
Yes, this looks good!

Yes, as long as travis is enabled in your repo and you specify `required_status_checks` in config.yaml, PRs will merge only if the travis check is green.

As a project, we encourage writing prow jobs instead of using travis so I'd recommend looking at migrating to prow entirely. You can find the docs [here](https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#ho

[2021-02-23 18:47] myan9 commented on #2461
@nikhita, thanks for the clarification! We'll continue the prow work once the PR is merged. We just finished the last round of cleaning up Copyright headers. Could you check if we're g2g? Thanks a lot!

[2021-02-23 20:16] rjbez17 opened #2516 "New repository for hierarchical-namespaces under kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
hierarchical-namespaces

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
- rjbez17
- srampal
- tashimi
- adrianludwin

### If not a staging repo, who should have write access
- yiqigao217
- GinnyJI

### If not a staging repo, who sho

[2021-02-23 20:18] mikedanese commented on #2516
Final announcement was in sig-auth January 9th meeting.

/approve

[2021-02-23 20:19] mikedanese commented on #2516
cc @enj @tallclair

[2021-02-24 09:57] nikhita commented on #2461
@myan9 just a few more things, sorry :(

- Looking at https://github.com/IBM/kui/pull/7062, it looks like some boilerplate headers have the format `Copyright 2017-19 The Kubernetes Authors`. Copyright headers in k8s specify only a [single year](https://github.com/kubernetes/kubernetes/blob/c78f67a005977bf1159b538a33c2ee3bf5ca24da/hack/boilerplate/boilerplate.go.txt#L2). I'd recommend copying over

[2021-02-24 11:46] nikhita commented on #2516
/assign

Repo has been created - https://github.com/kubernetes-sigs/hierarchical-namespaces

Also created:
- https://github.com/kubernetes/org/pull/2518 - GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5550 - to add the repo to sigs.yaml

[2021-02-24 12:34] femrtnz commented on #2515
/approved

[2021-02-24 12:36] jcjesus commented on #2515
Welcome to the team @jailton!
Thank you for your contribution.
/approved

[2021-02-24 15:04] swinslow commented on #2461
@nikhita 👋

One thing I note looking at the contributors [listed above](https://github.com/kubernetes/org/issues/2461#issuecomment-770899186) (setting aside those who have signed since then) is that several appear to work for existing k8s contributors like IBM, Red Hat and VMware. If someone from those companies can confirm here that their contributions can be treated as covered under those compan

[2021-02-24 15:57] spiffxp commented on #2222
Work needed to support moves of larger repos / repos with lots of jobs
- https://github.com/kubernetes/test-infra/issues/20667 - prowjobs: allow pod-utils to use default remote branch instead of explicitly specifying
- https://github.com/kubernetes/test-infra/issues/20672 - prowjobs: allow bootstrap-based jobs to use default remote branch instead of defaulting to master
- https://github.com/kubern

[2021-02-24 16:03] dims commented on #2222
slightly related ... houndd uses the following to look for master/main ( added in https://github.com/hound-search/hound/pull/345 )

`git remote show origin | grep "HEAD branch"`

[2021-02-24 16:14] nikhita commented on #2468
Teams have been granted access and all related PRs have merged. Closing.

[2021-02-24 16:14] #2468 closed

[2021-02-24 17:55] devlware commented on #2515
Welcome aboard @jailton!

[2021-02-24 18:27] joadavis-g opened #2519 "REQUEST: New membership for joadavis-g"
### GitHub Username
@joadavis-g

### Organization you are requesting membership in
@kubernetes
sig-instrumentation

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gr

[2021-02-24 18:29] rficcaglia opened #2520 "REQUEST: New membership for rficcaglia for @kubernetes-sigs"
### GitHub Username
@rficcaglia

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2021-02-24 18:57] ehashman commented on #2519
Enthusiastic :+1:, @joadavis-g has been regularly attending SIG Instrumentation meetings and contributing for the past year.

[2021-02-24 19:02] ehashman commented on #2519
Note: Joe's contributions have previously been on a different GH account @joadavis, not sure what the procedure is for this.

https://github.com/pulls?q=org%3Akubernetes+commenter%3Ajoadavis

[2021-02-24 19:21] joadavis-g commented on #2519
(I wasn't sure either. I created a new account to help separate the change in employer.)

[2021-02-24 20:51] ehashman commented on #2519
@joadavis-g typically, most people don't make a new account, but they update their affiliations in CNCF/gitdm. e.g. for myself: https://github.com/cncf/gitdm/blob/f4f9700c3695a2051f1e8052acacc58d5fab70ce/developers_affiliations2.txt#L10242-L10244

[2021-02-25 17:02] brahmaroutu opened #2525 "Request to Archive repo"
### Repository to archive
https://github.com/kubernetes/utils/mount

### Repository and/or sig subproject owners that are approving this archival
sig-storage

### When should this be done
The only component under k/k that is dependent on this repo is 'cadvisor'.
the 'cadvisor' code is updated  in the pr https://github.com/google/cadvisor/pull/2782 and the code will be merged into k/k and the end o

[2021-02-25 17:48] brahmaroutu commented on #2525
ping @msau42

[2021-02-25 18:00] logicalhan commented on #2519
+1

[2021-02-25 18:25] dims commented on #2525
+1 from me.

[2021-02-25 18:48] ehashman opened #2527 "Retiring kubernetes-sigs/mutating-trace-admission-controller"
### Repository to archive

https://github.com/kubernetes-sigs/mutating-trace-admission-controller

### Repository and/or sig subproject owners that are approving this archival

@ehashman
@logicalhan
SIG Instrumentation Chairs

Project is a [SIG Instrumentation subproject](https://github.com/kubernetes/community/tree/master/sig-instrumentation#mutating-trace-admission-controller) but has been inact

[2021-02-25 19:03] logicalhan commented on #2527
Thanks!

[2021-02-25 19:15] yonatankahana opened #2528 "REQUEST: New membership for yonatankahana"
### GitHub Username
@yonatankahana

### Organization you are requesting membership in
kubernetes-sigs/nfs-subdir-external-provisioner (@kubernetes)

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kuber

[2021-02-25 19:43] msau42 commented on #2525
Since this is package under the kubernetes/util repo, I don't think we can actually archive this repo right? I think the best we can do is delete the package?

[2021-02-26 04:30] nikhita commented on #2527
/assign

Repo has been archived: https://github.com/kubernetes-retired/mutating-trace-admission-controller

Also sent a note to k-dev ML: https://groups.google.com/g/kubernetes-dev/c/mcKakH5CeLY

- We can remove the repo from sigs.yaml in https://github.com/kubernetes/community/pull/5567
- Created https://github.com/kubernetes/org/pull/2529 to remove the GitHub teams.

Once both PRs merge, we can

[2021-02-26 04:34] nikhita commented on #2525
Yes, this would involving removing the package (https://github.com/kubernetes/utils/tree/master/mount), not archiving the entire kubernetes/util repo.

Closing, but please reopen if I'm missing something here!

[2021-02-26 04:34] #2525 closed

[2021-02-26 11:02] nikhita commented on #2514
@prezha thank you for all your contributions so far \o/

I've created PR #2530 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-26 11:02] nikhita commented on #2515
@jailton thank you for all your contributions so far \o/

I've created PR #2530 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-26 11:02] nikhita commented on #2519
This should be fine as long as they are the same person :smile:

@joadavis-g thank you for all your contributions so far \o/

I've created PR #2530 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-02-26 11:05] nikhita commented on #2528
@yonatankahana to confirm, you'll need membership for @kubernetes-sigs, right?

[2021-02-26 11:07] nikhita commented on #2520
@rficcaglia you don't need a sponsor because you are already part of the @kubernetes org :)

I've created PR #2530 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-02-26 11:29] kmova commented on #2528
+1

[2021-02-26 11:30] #2514 closed

[2021-02-26 11:30] #2515 closed

[2021-02-26 11:30] #2519 closed

[2021-02-26 11:30] #2520 closed

[2021-02-26 18:46] prezha commented on #2514
thank you @sharifelgamal , @medyagh , @afbjorklund and @nikhita !

[2021-02-28 04:33] nikhita commented on #2052
/remove-lifecycle stale

On Sun, Feb 28, 2021 at 8:18 AM fejta-bot <notifications@github.com> wrote:

[2021-02-28 18:12] dims commented on #2052
@nikhita is this something we can turn into a GSoC project?

[2021-02-28 18:34] mrbobbytables commented on #2052
@dims this is probably too much of a little project. It's essentially to convert this bash script to go: https://github.com/kubernetes/org/pull/2458

[2021-02-28 18:43] dims commented on #2052
Ack @mrbobbytables

[2021-03-01 21:55] nearora-msft opened #2533 "REQUEST: New membership for nearora-msft"
### GitHub Username
@nearora-msft

### Organization you are requesting membership in
@kubernetes-sigs, @kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https:

[2021-03-01 22:42] Jiawei0227 commented on #2533
I am not sure I have the permission to approve but @nearora-msft has been doing some great work on kubernetes-csi for csi sidecars.

[2021-03-02 00:36] AndyXiangLi opened #2534 "REQUEST: New membership for AndyXiangLi"
### GitHub Username
@AndyXiangLi

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements

- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)

- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2021-03-02 00:41] gnufied commented on #2534
+1

[2021-03-02 00:46] ayberk commented on #2534
+1

[2021-03-02 00:54] andyzhangx commented on #2533
@jiawei0227 you need need to type `+1` in new comment.

[2021-03-02 00:56] Jiawei0227 commented on #2533
+1

[2021-03-02 11:42] ashishranjan738 commented on #2528
/lgtm

[2021-03-02 22:22] BenTheElder commented on #2332
NOTE: due to branch protection `write` isn't really write to the repo unless you are in the `admin` superset which is _very_ small / restricted.

We should prune inactive members.

I disagree that we should refuse to add anyone new. Being able to manually correct PR state (PR body, labels) is quite useful, and we should be able to trust people with this.

[2021-03-02 22:31] justaugustus commented on #2332
What requirements do triagers have that could not be covered with the `Triage` role?

ref: https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization

[2021-03-03 03:23] tanjing2020 opened #2536 "REQUEST: New membership for tanjing2020"
### GitHub Username
@tanjing2020

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-03-03 03:24] tanjing2020 commented on #2536
/cc @chendave @gavinfish

[2021-03-03 05:40] nikhita commented on #2487
@saad-ali friendly ping on this :)

[2021-03-03 05:49] nikhita commented on #2528
@yonatankahana thank you for all your contributions so far \o/

I've created PR #2537 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-03-03 05:50] nikhita commented on #2533
@nearora-msft thank you for all your contributions so far \o/

I've created PR #2537 to add you to the Kubernetes SIGs and Kubernetes CSI Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs and @kubernetes-csi! 🎉

/assign

[2021-03-03 05:50] nikhita commented on #2534
@AndyXiangLi thank you for all your contributions so far \o/

I've created PR #2537 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-03-03 06:33] #2528 closed

[2021-03-03 06:33] #2533 closed

[2021-03-03 06:33] #2534 closed

[2021-03-03 08:55] chendave commented on #2536
+1

[2021-03-03 12:52] gavinfish commented on #2536
+1

[2021-03-04 12:09] ahg-g commented on #2536
+1, thanks for your contributions to sig scheduling so far.

[2021-03-04 13:17] justaugustus opened #2539 "Release tooling repo migrations: release-sdk and release-utils"
### New Repo, Staging Repo, or migrate existing

Migrate existing:
- https://github.com/justaugustus/release-sdk
- https://github.com/justaugustus/release-utils

### Requested name for new repository

- release-sdk
- release-utils

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

@kubernetes/sig-release-admins

### If not a staging

[2021-03-04 13:22] saschagrunert commented on #2539
+1

[2021-03-04 13:49] justaugustus commented on #2539
Donation PRs:
- https://github.com/justaugustus/release-sdk/pull/1
- https://github.com/justaugustus/release-utils/pull/2

[2021-03-04 13:58] hasheddan commented on #2539
+1

[2021-03-04 15:11] mrbobbytables commented on #2539
/assign

[2021-03-04 15:32] mrbobbytables commented on #2539
Repos have been migrated
- https://github.com/kubernetes/org/pull/2540 - teams
- https://github.com/kubernetes/community/pull/5591 - updating subproject

[2021-03-04 15:37] mrbobbytables commented on #2539
all PRs have merged, teams have been granted permission to the repos. Everything should be good! 👍

/close

[2021-03-04 15:37] #2539 closed

[2021-03-04 15:43] justaugustus commented on #2539
Thanks Bob!

[2021-03-06 10:43] MarcelMue opened #2542 "REQUEST: New membership for MarcelMue"
### GitHub Username
@MarcelMue

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2021-03-06 15:19] puja108 commented on #2542
+1 Happy to sponsor Marcel. He's been involving himself deeply recently and has a CAPI presentation in the maintainers track for upcoming KubeCon lined up.

[2021-03-06 21:11] mrbobbytables opened #2544 "Migrate contributor-site from kubernetes-sigs to kubernetes org"
### New Repo, Staging Repo, or migrate existing

Migrate [The Contributor Site repo](https://github.com/kubernetes-sigs/contributor-site) from kubernetes-sigs to kubernetes

### Requested name for new repository

contributor-site

### Which Organization should it reside

kubernetes

### If not a staging repo, who should have admin access

Migrate existing team

### If not a staging repo, who shoul

[2021-03-06 21:27] mrbobbytables commented on #2544
Repo has been migrated, once these two PRs have merged and teams re-added, this issue can be closed:
- https://github.com/kubernetes/community/pull/5606
- https://github.com/kubernetes/org/pull/2545

[2021-03-07 07:36] nikhita commented on #2544
All PRs have merged. Closing.

[2021-03-07 07:36] #2544 closed

[2021-03-07 08:29] nikhita commented on #2456
All PRs to clean up OWNERS files have merged. Closing!

[2021-03-07 08:29] #2456 closed

[2021-03-07 12:37] nikhita commented on #2222
Created https://github.com/kubernetes/community/pull/5609 to add docs for repos (without too much traffic) that wish to migrate the default branch from `master` to `main`

[2021-03-07 20:32] BenTheElder commented on #2222
I intend to give this a shot in KIND the next week or two (want to catch up on some old PRs that have already had a rough time and get those closed out first), will keep an eye on https://github.com/kubernetes/community/pull/5609 first.

[2021-03-08 07:52] nikhita commented on #2536
@tanjing2020 thank you for all your contributions so far \o/

I've created PR #2546 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-08 07:57] #2536 closed

[2021-03-08 11:07] MarcelMue commented on #2542
Added more sponsors to fulfil `Sponsors must be from multiple member companies to demonstrate integration across community.` properly :)

[2021-03-08 11:11] JoelSpeed commented on #2542
+1 from me. Marcel is helping us to implement the new CAPI operator project and will in the long term be an owner of the subproject

[2021-03-08 17:24] alexander-demichev opened #2547 "REQUEST: New membership for alexander-demichev"
### GitHub Username
alexander-demichev

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2021-03-08 17:28] JoelSpeed commented on #2547
+1 from me! Alex is starting to get heavily involved in the cluster api project with his contributions to the cluster api operator

[2021-03-08 17:49] CecileRobertMichon commented on #2542
+1 from me as well

[2021-03-08 18:13] elmiko commented on #2547
+1, full disclosure i work with Alex and think he's a cool dude =)

[2021-03-08 19:10] spiffxp commented on #966
Needs a refresh on the policy we are comfortable with and steps to reconcile. If someone wants to recap / summarize from above into proposed next steps, I think this can be straightforward to implement. Can either review said next steps or maybe write them up if I find time

[2021-03-08 20:20] BenTheElder commented on #966
I'd love to see data about how many people are in the kubernetes org but not in kubernetes-sigs (and therefore have an extra hurdle whenever we shift work there, it looks like data above is the opposite direction), will try to get to this at some point ...

[2021-03-08 21:08] fabriziopandini commented on #2547
+1 for me, great to have Alex on board!

[2021-03-08 21:19] CecileRobertMichon commented on #2547
Piling on, +1 from me!

[2021-03-08 23:16] spiffxp commented on #966
Another reason to push for this: allow support for "same" team across multiple orgs (ref: https://github.com/kubernetes/test-infra/issues/13107)

I think @kubernetes/release-engineering could benefit from this

[2021-03-09 05:18] spiffxp commented on #2332
https://kubernetes.slack.com/archives/C1L57L91V/p1614017710014100 based on k/enhancements experience with the triage role, I don't think it meets our needs here (inability to edit issue/pr descriptions)

[2021-03-09 05:22] spiffxp commented on #2516
Awaiting approval/merge of https://github.com/kubernetes/community/pull/5550

[2021-03-09 05:23] spiffxp commented on #2527
Awaiting resolution of https://github.com/kubernetes/community/pull/5567#discussion_r585899387

[2021-03-09 08:10] njuettner commented on #2542
+1 from me 🤗

[2021-03-09 12:09] nikhita commented on #2542
@MarcelMue thank you for all your contributions so far \o/

I've created PR #2550 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-03-09 12:09] nikhita commented on #2547
@alexander-demichev thank you for all your contributions so far \o/

I've created PR #2550 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-03-09 12:15] #2542 closed

[2021-03-09 12:15] #2547 closed

[2021-03-09 15:41] wgahnagl opened #2551 "REQUEST: New membership for wgahnagl"
### GitHub Username
@wgahnagl

### Organization you are requesting membership in
@kubernetes
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-03-09 17:05] ehashman commented on #2551
:+1: :tada:

[2021-03-09 22:05] maplain opened #2552 "REQUEST: New membership for maplain"
### GitHub Username
@maplain

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2021-03-09 22:07] thockin commented on #2552
+1 - I have reviewed PRs from @maplain and I am happy to have them in the org!

[2021-03-09 22:50] pacoxu commented on #2551
+1

[2021-03-09 23:22] gjkim42 opened #2553 "REQUEST: New membership for gjkim42"
### GitHub Username
@gjkim42

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2021-03-09 23:31] ehashman commented on #2553
:+1: :confetti_ball:

[2021-03-09 23:39] SergeyKanzhelev commented on #2553
I support! Welcome, @gjkim42!

[2021-03-10 00:31] andrewsykim commented on #2552
+1!!!!!!

[2021-03-10 09:15] jhrozek opened #2554 "REQUEST: New membership for jhrozek"
### GitHub Username
@jhrozek

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2021-03-10 09:23] saschagrunert commented on #2554
+1 from my side :partying_face:

[2021-03-10 10:01] JAORMX commented on #2554
+1 from my side as well

[2021-03-10 10:03] Danil-Grigorev opened #2555 "REQUEST: New membership for Danil-Grigorev"
### GitHub Username

Danil-Grigorev

### Organization you are requesting membership in

kubernetes
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gr

[2021-03-10 10:08] JAORMX opened #2556 "REQUEST: New membership for JAORMX"
### GitHub Username
@JAORMX

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-03-10 10:08] pjbgf commented on #2554
+1 from me too... :+1:

[2021-03-10 13:59] QiWang19 opened #2557 "REQUEST: New membership for QiWang19"
### GitHub Username
@QiWang19

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-03-10 14:03] serathius commented on #2557
/lgtm

[2021-03-10 14:04] serathius commented on #2557
Thanks for the help with Structured Logging, looking forward to your future contributions!

[2021-03-10 15:34] #2527 closed

[2021-03-10 16:05] spiffxp commented on #2332
We need to decide on policy to prune, and policy to add.  Then implement.

Possible reasons to prune:
- A: is not an approver somewhere in k/k
- B: is not a member of milestone-maintainers
- C: has not used superpowers in previous N months (superpowers: edit issue/title description, since this is something `Triage` cannot do)
- D: all of the above

Would like to understand what the reduction would

[2021-03-10 16:11] spiffxp commented on #2332
I don't think `Triage` as a role is really helpful for us:
- `Apply/dismiss labels` - it can do this, so it can bypass OWNERS by directly adding the `approved` label
- `Edit and delete anyone's comments on commits, pull requests, and issues` - it can't do this, so it wouldn't help correct release-note foibles

[2021-03-10 16:13] spiffxp commented on #2332
/retitle Define and implement entry/exit criteria for kubernetes-maintainers GitHub team

[2021-03-10 16:17] navidshaikh opened #2558 "REQUEST: New membership for navidshaikh"
### GitHub Username
@navidshaikh

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-03-10 16:26] palnabarun commented on #2558
A huge +1 from my side as well. Thank you for all your help @navidshaikh !!!

/honk

_(note: my +1 non-binding since Nikhita and I are work for the same employer)_

[2021-03-10 16:44] ehashman commented on #2558
:+1: !! :partying_face:

[2021-03-10 16:52] spiffxp commented on #2516
/milestone v1.21

[2021-03-10 16:53] spiffxp commented on #2506
/milestone v1.21

[2021-03-10 16:53] spiffxp commented on #2492
/milestone v1.21

[2021-03-10 16:53] spiffxp commented on #2490
/milestone v1.21

[2021-03-10 16:53] spiffxp commented on #2468
/milestone v1.21

[2021-03-10 16:56] spiffxp commented on #2410
/milestone v1.21

[2021-03-10 16:56] spiffxp commented on #2461
/milestone v1.21

[2021-03-10 17:00] spiffxp commented on #2182
/milestone v1.21

[2021-03-10 17:07] spiffxp commented on #2276
/remove-lifecycle stale
/milestone v1.21

[2021-03-10 17:10] spiffxp commented on #2289
/milestone v1.20

[2021-03-10 17:23] nnordrum opened #2559 "Support for the "same" team across different orgs"
**What would you like to be added**:
In GitHub (at least GitHub Enterprise), `Teams` cannot be cross-org. I would like to support cross-org "Teams".

**Why is this needed**:
To "get around" the problem, we just replicate the same teams across different orgs. It would be nice to _reference_ a `Team`, with like `teamRef` or something, that is specified at the `Orgs` level so they can be reused.

[2021-03-10 17:27] cheftako commented on #2555
+1

[2021-03-10 17:30] spiffxp commented on #2222
/milestone v1.21
we are not aiming to complete this by v1.21, but are actively working on this

[2021-03-10 17:31] pwittrock commented on #2287
Sorry didn't see this.  Thanks for all the help!  Everything is working great now.

[2021-03-10 17:32] spiffxp commented on #2052
To me, that sounds like enough for...

/help
/kind cleanup
/priority important-longterm

[2021-03-10 17:38] divyenpatel commented on #2555
Thanks for your contributions @Danil-Grigorev

+1

[2021-03-10 17:48] fromanirh opened #2560 "REQUEST: New membership for fromanirh"
### GitHub Username
@fromanirh

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-03-10 17:48] fromanirh commented on #2560
@klueska @SergeyKanzhelev FYI

[2021-03-10 17:50] ehashman commented on #2557
:+1: !! :cake:

[2021-03-10 17:51] spiffxp commented on #2036
Why I added the lowest priority label:
- I really feel like this is going to continue to get punted because this team is super busy all over the project, and this is a high-activation-energy issue
- Pushing this forward will involve time and energy and a lot of people (e.g. if packages are getting renamed)
- Speaking for myself at least, I'm not super motivated to take this on without understandin

[2021-03-10 17:56] SergeyKanzhelev commented on #2560
I support! Welcome, @fromanirh!

[2021-03-10 18:26] mrbobbytables commented on #2287
Thanks!
/close

[2021-03-10 18:26] #2287 closed

[2021-03-10 18:51] klueska commented on #2560
+1 welcome!

[2021-03-10 19:29] justaugustus commented on #2332
@kubernetes/release-engineering -- Anyone interested in helping out here?

[2021-03-10 20:29] swinslow commented on #2461
Hi @starpit, yes, these sound like minor contributions, and given past practice I think it would be fine to proceed with listing them in the NOTICE file as you described. Thanks!

[2021-03-10 22:27] swetharepakula opened #2561 "REQUEST: New membership for swetharepakula"
### GitHub Username
@swetharepakula

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2021-03-10 22:29] robscott commented on #2561
Thanks for all the k8s contributions @swetharepakula!

+1

[2021-03-10 22:30] aojea commented on #2561
big +1 from me, thanks for all the current and future contributions @swetharepakula

[2021-03-10 22:41] weiling61 opened #2562 "REQUEST: New membership for weiling61"
### GitHub Username
weiling61

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-03-10 22:44] christopherhein commented on #2562
Thanks for submitting this @weiling61 👍 to your org membership.

[2021-03-10 22:48] parispittman commented on #2562
yay!! happy to see ya here @weiling61

[2021-03-11 00:07] Fei-Guo commented on #2562
Yes, Wei has made a lot of contributions to CAPN and virtualcluster related projects. Strongly support his request for SIG member.

[2021-03-11 01:30] dims commented on #2561
+1 welcome!

[2021-03-11 06:31] BenTheElder commented on #2222
https://k8s.dev/rename has since gone live

[2021-03-11 11:45] palnabarun commented on #2562
@weiling61, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2021-03-11 11:45] palnabarun commented on #2561
@swetharepakula, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-03-11 11:45] palnabarun commented on #2560
@fromanirh, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-03-11 11:46] palnabarun commented on #2558
@navidshaikh, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-03-11 11:46] palnabarun commented on #2557
@QiWang19, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-03-11 11:49] palnabarun commented on #2556
@JAORMX, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-03-11 11:49] palnabarun commented on #2555
@Danil-Grigorev, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2021-03-11 11:49] palnabarun commented on #2554
@jhrozek, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2021-03-11 11:49] palnabarun commented on #2553
@gjkim42, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2021-03-11 11:50] palnabarun commented on #2552
@maplain, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes and @kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2021-03-11 11:50] palnabarun commented on #2551
@wgahnagl, thank you for all your contributions so far :)

I've created PR #2564 to add you to the @kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-03-11 11:50] #2551 closed

[2021-03-11 11:50] #2552 closed

[2021-03-11 11:50] #2553 closed

[2021-03-11 11:50] #2554 closed

[2021-03-11 11:50] #2555 closed

[2021-03-11 11:50] #2556 closed

[2021-03-11 11:50] #2557 closed

[2021-03-11 11:50] #2558 closed

[2021-03-11 11:50] #2560 closed

[2021-03-11 11:50] #2561 closed

[2021-03-11 11:50] #2562 closed

[2021-03-11 11:55] gjkim42 commented on #2553
Thanks :) @ehashman @SergeyKanzhelev @palnabarun

[2021-03-11 15:21] ankeesler opened #2565 "REQUEST: New membership for ankeesler"
### GitHub Username

@ankeesler

### Organization you are requesting membership in

@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for