[2022-09-27 02:47] jihoon-seo commented on #3727
+1 @marcushyungseoklee is an active contributor of SIG Docs Korean L10n team, and I am happy to be a sponsor of his applying for becoming a K8s org member!

[2022-09-27 04:23] nikhita commented on #3630
I've fixed the repo to contain the correct commits. I'll close this issue once we have a successful publishing-bot run.

[2022-09-27 08:08] fmuyassarov commented on #3665
Hi @mrbobbytables . We have added the netlify.toml to the repo and we actually don't need a DNS entry because we are not planning to use Netlify to host our docs, but use it as for the preview tool for now. As such, we only need to add a new site based on the github repo, which I can do myself already because I'm already a member of "CNCF projects" team on Netlify. So, there is no more actions req

[2022-09-27 08:14] fmuyassarov commented on #3665
Actually I just realized that I don't have enough permissions to configure the Netlify on node-feature-discovery repository. @mrbobbytables Can your perhaps help here to add a new site for us? We only need it for master branch for now.

![Screenshot from 2022-09-27 11-12-38](https://user-images.githubusercontent.com/35802557/192471387-1cebc268-014a-4822-850e-ebead7feafef.png)

[2022-09-27 08:31] niulechuan opened #3728 "REQUEST: New membership for niulechuan"
### GitHub Username

@niulechuan

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-09-27 09:23] nikhita commented on #3630
This is done - https://github.com/kubernetes/kms. Closing!

[2022-09-27 09:23] #3630 closed

[2022-09-27 09:44] pacoxu commented on #3728
+1
Thanks for your contributions to sig-node and sig-storage.

[2022-09-27 11:01] jsafrane commented on #3728
+1

[2022-09-27 15:10] vnephologist opened #3730 "REQUEST: New membership for @deepakm-ntnx"
### GitHub Username

@deepakm-ntnx

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goo

[2022-09-27 15:23] aramase commented on #3630
Thank you @nikhita and @ameukam!

[2022-09-27 18:59] fabriziopandini commented on #3730
@vnephologist can we get a couple of more PRs/issues in the track?

[2022-09-27 23:51] robscott opened #3731 "REQUEST: Create kubernetes-sigs/ingress2gateway"
### New repo, staging repo, or migrate existing

New repo

### Is it a staging repo?

no

### Requested name for new repository

kubernetes-sigs/ingress2gateway

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

bowei, robscott, shaneutt, youngnick

### Who should have write access?

bowei, robscott, shaneutt, youngnick

### Who should be listed as approv

[2022-09-27 23:55] robscott commented on #3731
cc @caseydavenport @dcbw @thockin

[2022-09-28 06:31] Priyankasaggu11929 commented on #3558
Just an update: despite the new secret and GITHUB TOKEN, the job still failed.

Arnaud and I will get on a call, next week and manually test in with a new GITHUB TOKEN before reinstating the job.

cc: @rhockenbury @leonardpahlke

[2022-09-28 10:55] leonardpahlke commented on #3558
OK! If there is anything I can help with, please let me know. :)

[2022-09-28 22:33] vnephologist commented on #3730
@fabriziopandini Here are few more for our CAPX provider...

https://github.com/nutanix-cloud-native/cluster-api-provider-nutanix/pull/92
https://github.com/nutanix-cloud-native/cluster-api-provider-nutanix/pull/105
https://github.com/nutanix-cloud-native/cluster-api-provider-nutanix/pull/118
https://github.com/nutanix-cloud-native/cluster-api-provider-nutanix/pull/131

[2022-09-28 23:55] annasong20 opened #3736 "REQUEST: New membership for @annasong20"
### GitHub Username

@annasong20

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-09-29 01:01] youngnick commented on #3723
Ah, I thought I had replied already.

+1, Flynn is doing great stuff.

[2022-09-29 10:34] fabriziopandini commented on #3730
We can consider only PRs in the org (Kubernetes or Kubernetes-sigs) 😅

[2022-09-29 16:19] natasha41575 commented on #3736
+1 from me!

[2022-09-29 16:43] esigo opened #3739 "REQUEST: New membership for @esigo"
### GitHub Username

@esigo

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-09-29 16:48] KnVerey commented on #3736
+1 from me as well!

[2022-09-30 12:58] qinqon opened #3740 "REQUEST: New membership for qinqon"
### GitHub Username

qinqon

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-09-30 13:19] davidvossel commented on #3740
/lgtm

@qinqon has been an active contributor of https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt for some time now. I fully support him becoming a member of kubernetes-sigs

[2022-09-30 16:41] mattfenwick opened #3741 "REQUEST: New membership for mattfenwick"
### GitHub Username

mattfenwick

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-09-30 17:16] astoycos commented on #3741
/lgtm

Thanks Matt!

[2022-09-30 18:34] dcbw commented on #3731
/lgtm

[2022-10-01 03:21] akankshakumari393 opened #3742 "REQUEST: New membership for akankshakumari393"
### GitHub Username

@akankshakumari393

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](h

[2022-10-01 04:23] reylejano commented on #3742
+1 , thank you @akankshakumari393 for the contributions to SIG Docs and the k/website repository

[2022-10-01 10:59] dims commented on #3742
+1 from me!

welcome @akankshakumari393

[2022-10-01 15:32] NoicFank opened #3743 "REQUEST: New membership for NoicFank"
### GitHub Username

@NoicFank

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-10-01 15:35] dims commented on #3743
+1 from me. Welcome @NoicFank

[2022-10-02 20:35] Huang-Wei commented on #3743
+1

[2022-10-03 10:29] palnabarun commented on #3719
@gandhipr -- I have sent the invitation again.

[2022-10-03 10:58] palnabarun commented on #3723
Thank you for all your contributions so far :)

I've created PR #3745  to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

[2022-10-03 10:58] palnabarun commented on #3727
Thank you for all your contributions so far :)

I've created PR #3745  to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

[2022-10-03 10:58] palnabarun commented on #3728
Thank you for all your contributions so far :)

I've created PR #3745  to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

[2022-10-03 10:58] palnabarun commented on #3736
Thank you for all your contributions so far :)

I've created PR #3745  to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

[2022-10-03 10:58] palnabarun commented on #3742
Thank you for all your contributions so far :)

I've created PR #3745  to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

[2022-10-03 10:58] palnabarun commented on #3743
Thank you for all your contributions so far :)

I've created PR #3745  to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

[2022-10-03 11:00] palnabarun commented on #3722
@ConnorJC3 -- since you are already part of @kubernetes-sigs, you don't need sponsorship to be part of other Kubernetes GitHub orgs. You can just PR yourself in to the relevant orgs. I've create #3745 to add you the @kubernetes org.

[2022-10-03 11:10] #3723 closed

[2022-10-03 11:10] #3727 closed

[2022-10-03 11:10] #3728 closed

[2022-10-03 11:10] #3736 closed

[2022-10-03 11:10] #3742 closed

[2022-10-03 11:10] #3743 closed

[2022-10-03 14:07] fmuyassarov commented on #3665
@mrbobbytables Would you recommend to obtain admins rights on the repo or can we ask someone with admin rights to help us here ?

[2022-10-03 14:15] mrbobbytables commented on #3665
One of us as github admins sets it up 👍
I was traveling last week, will enable it now.

[2022-10-03 14:37] mrbobbytables commented on #3665
Cool - do you want to leave this open till the name is sorted out? or close and follow up later?

[2022-10-03 15:13] fmuyassarov commented on #3665
Let's close it for now since our original request is completed.
Thanks again.
/close

[2022-10-03 15:13] #3665 closed

[2022-10-03 15:57] marquiz commented on #3665
Wow, really cool 😎 Thanks again @fmuyassarov and @mrbobbytables for working on this1

[2022-10-04 11:34] #3357 closed

[2022-10-04 12:16] rikatz commented on #3741
/lgtm
Thank you Matt for all the effort in Network Policy area

[2022-10-04 14:05] moadqassem opened #3747 "REQUEST: New membership for moadqassem"
### GitHub Username

@moadqassem

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [x] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [x] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [x] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-10-04 14:45] sttts commented on #3747
+1

[2022-10-04 16:39] displague commented on #3747
+1

Thanks for the contributions and discussions @moadqassem

[2022-10-06 16:06] shurup opened #3749 "REQUEST: New membership for shurup"
### GitHub Username

shurup

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/ku

[2022-10-06 18:40] a-mccarthy commented on #3749
@shurup +1 from me! Thanks for working on the Russian localization effort 🎉

[2022-10-07 08:38] dntosas opened #3753 "REQUEST: New membership for dntosas"
### GitHub Username

@dntosas

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-10-07 09:03] sbueringer commented on #3753
+1
Thx for all your contributions :)

[2022-10-07 09:48] hakman commented on #3753
+1
Happy to see you finally joining the org. Welcome!

[2022-10-07 16:59] mlavacca opened #3754 "REQUEST: New membership for mlavacca"
### GitHub Username

@mlavacca

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-10-07 17:00] robscott commented on #3754
Big +1

Thanks for all the great contributions @mlavacca!

[2022-10-07 17:03] shaneutt commented on #3754
+1

Thanks for all your contirbutions @mlavacca :vulcan_salute:

[2022-10-08 04:07] NoicFank commented on #3743
Thanks a lot for all !

[2022-10-09 19:09] #2839 closed

[2022-10-09 20:53] alexander-ding opened #3755 "REQUEST: New membership for alexander-ding"
### GitHub Username

alexander-ding

### Organization you are requesting membership in

kubernetes-csi

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goo

[2022-10-10 14:48] ameukam commented on #3656
/assign

[2022-10-10 16:59] nabokihms opened #3756 "REQUEST: New membership for nabokihms"
### GitHub Username

@nabokihms

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-10-10 17:14] jingxu97 commented on #3755
+1
/approve

[2022-10-10 17:21] mauriciopoppe commented on #3755
+1
@alexander-ding is helping with the migration of CSI Drivers to become HostProcess pods in Windows

[2022-10-10 17:54] deads2k commented on #3756
+1

nice work

[2022-10-10 21:08] mrbobbytables commented on #3731
/assign

[2022-10-10 21:23] mrbobbytables commented on #3731
repo created: https://github.com/kubernetes-sigs/ingress2gateway
teams added: https://github.com/kubernetes/org/pull/3758
update to k/community: https://github.com/kubernetes/community/pull/6919

once all PRs are merged and teams added, this should be able to be closed 👍

[2022-10-11 07:45] nikhita commented on #2052
/remove-lifecycle stale

On Thu, 7 Apr 2022 at 11:42, Kubernetes Triage Robot <
***@***.***> wrote:

[2022-10-11 09:16] rmohr commented on #3740
/lgtm

As David said, he is an active and trustworthy contributor in https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt.

[2022-10-11 19:02] richackard opened #3759 "REQUEST: New membership for @richackard"
### GitHub Username

@richackard

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-10-11 19:18] spiffxp commented on #3759
+1 from sponsor

[2022-10-11 19:19] dims commented on #3759
+1 welcome Richard!

[2022-10-12 04:17] imnmo opened #3760 "REQUEST: New membership for @imnmo"
### GitHub Username

@imnmo

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-10-12 04:33] chris-short commented on #3760
+1

[2022-10-12 18:41] hackeramitkumar opened #3761 "REQUEST: New membership for @hackeramitkumar"
### GitHub Username

  @hackeramitkumar

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](h

[2022-10-12 18:53] sbueringer commented on #3761
+1 Welcome! :)

[2022-10-12 19:42] richackard commented on #3759
Thank you folks! =)

[2022-10-12 21:29] Jont828 opened #3762 "REQUEST: Migrate kubernetes-sigs/cluster-api-addon-provider-helm"
### New repo, staging repo, or migrate existing

Migrate existing

### Is it a staging repo?

no

### Requested name for new repository

cluster-api-addon-provider-helm

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@Jont828, @fabriziopandini, @CecileRobertMichon, @jackfrancis

### Who should have write access?

@Jont828, @fabriziopandini, @CecileRobe

[2022-10-12 22:17] mrbobbytables commented on #3740
/assign

[2022-10-12 22:18] mrbobbytables commented on #3741
/assign
I'll be doing a batch of org memberships tonight, but an FYI for the future - as a member of one of the orgs already you don't need to file a request :) you can add yourself to another org with a PR 👍

[2022-10-12 22:21] mrbobbytables commented on #3749
/assign

[2022-10-12 23:01] mrbobbytables commented on #3753
/assign

[2022-10-12 23:02] mrbobbytables commented on #3754
/assign

[2022-10-12 23:02] mrbobbytables commented on #3755
/assign

[2022-10-12 23:04] mrbobbytables commented on #3756
/assign

[2022-10-12 23:05] mrbobbytables commented on #3759
/assign

[2022-10-13 00:06] mrbobbytables commented on #3740
Thank you for all your contributions so far :)

I've created PR #3763  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-10-13 00:06] mrbobbytables commented on #3749
Thank you for all your contributions so far :)

I've created PR #3763  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-10-13 00:06] mrbobbytables commented on #3753
Thank you for all your contributions so far :)

I've created PR #3763  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-10-13 00:06] mrbobbytables commented on #3754
Thank you for all your contributions so far :)

I've created PR #3763  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-10-13 00:07] mrbobbytables commented on #3755
Thank you for all your contributions so far :)

I've created PR #3763  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-10-13 00:07] mrbobbytables commented on #3756
Thank you for all your contributions so far :)

I've created PR #3763  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-10-13 00:07] mrbobbytables commented on #3759
Thank you for all your contributions so far :)

I've created PR #3763  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-10-13 03:31] sreekaransrinath opened #3764 "REQUEST: New membership for sreekaransrinath"
### GitHub Username

@sreekaransrinath

### Organization you are requesting membership in

kubernetes

### Requirements

- [x] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [x] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [x] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-10-13 03:59] #3740 closed

[2022-10-13 03:59] #3741 closed

[2022-10-13 03:59] #3749 closed

[2022-10-13 03:59] #3753 closed

[2022-10-13 03:59] #3754 closed

[2022-10-13 03:59] #3755 closed

[2022-10-13 03:59] #3756 closed

[2022-10-13 03:59] #3759 closed

[2022-10-13 05:16] divya-mohan0209 commented on #3764
LGTM! Welcome @sreekaransrinath :)

[2022-10-13 05:53] mehabhalodiya commented on #3764
+1

Thanks for stepping forward as a potential Kubernetes project member.

Happy to see your contributions so far; looking forward to more of them 🎉

[2022-10-13 08:02] AverageMarcus opened #3765 "REQUEST: New membership for AverageMarcus"
### GitHub Username

@AverageMarcus

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.go

[2022-10-13 08:04] njuettner commented on #3765
👍🏻
LGTM 🎉

[2022-10-13 08:04] richardcase commented on #3765
A big +1 from me.

Thank you, @AverageMarcus, for your contributions to CAPI and its providers.

[2022-10-13 12:10] Raffo commented on #3765
:+1: on my side

[2022-10-13 14:50] elmiko commented on #3761
+1 welcome aboard!

[2022-10-13 21:06] mrbobbytables commented on #3688
/assign

[2022-10-14 16:22] ehashman opened #3769 "REQUEST: Create kubernetes-sigs/usage-metrics-collector"
### New repo, staging repo, or migrate existing

New repo

### Is it a staging repo?

no

### Requested name for new repository

usage-metrics-collector

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@ehashman, @pwittrock, @KnVerey, @pmorie

### Who should have write access?

@ehashman, @pwittrock, @KnVerey, @pmorie

### Who should be listed as approv

[2022-10-14 16:22] ehashman commented on #3769
cc @kubernetes/sig-instrumentation-leads

[2022-10-14 18:35] nojnhuh opened #3771 "REQUEST: New membership for nojnhuh"
### GitHub Username

@nojnhuh

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-10-14 18:39] CecileRobertMichon commented on #3771
Huge +1 from my side! Excited for @nojnhuh to keep contributing to improving the managed cluster experience in Cluster API 🚀

[2022-10-14 19:08] mrbobbytables commented on #3688
teams have been added, the repo should now be usable 👍

[2022-10-15 05:37] sonasingh46 commented on #3771
Huge +1 from my side too. Thanks for all the contributions so far.

[2022-10-17 10:23] danilo-gemoli opened #3772 "REQUEST: New membership for danilo-gemoli"
### GitHub Username

danilo-gemoli

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-10-17 10:29] petr-muller commented on #3772
:+1:

[2022-10-17 15:58] lobziik opened #3773 "REQUEST: New membership for @lobziik"
### GitHub Username

lobziik

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://grou

[2022-10-17 16:00] alexander-demichev commented on #3773
+1 from me, thanks for all your contributions to cloud providers.

[2022-10-17 16:11] Danil-Grigorev commented on #3773
+1 from me, Denis is very talented and dedicated person, can't wait to see you being added to kube/kube-sigs

[2022-10-17 16:25] chaodaiG commented on #3772
+1

[2022-10-17 17:27] logicalhan commented on #3769
/lgtm

[2022-10-17 20:26] luthermonson opened #3774 "REQUEST: New membership for luthermonson"
### GitHub Username

luthermonson

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:/

[2022-10-17 20:28] luthermonson commented on #3774
@reylejano @jayunit100

[2022-10-17 20:31] reylejano commented on #3774
+1 from me

[2022-10-18 01:47] jayunit100 commented on #3774
/lgtm
 Luther has been contributing to the windows effort for quite a while and consulted on many upstream windows issues ... Including the sig windows dev tools project and testing csi providers for windows at the bleeding edge... making our lives much easier.

[2022-10-18 15:21] neolit123 commented on #3762
/sig cluster-lifecycle

[2022-10-18 15:26] qnetter opened #3775 "REQUEST: New membership for @qnetter"
### GitHub Username

@qnetter

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-10-18 16:42] neolit123 commented on #3762
discussed at the SIG meeting of 18.10.2022.
+1 from me to add this as a SIG subproject

[2022-10-19 09:41] Skarlso opened #3777 "REQUEST: New membership for Skarlso"
### GitHub Username

@Skarlso

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-10-19 10:32] richardcase commented on #3777
A big +1 from me

@Skarlso has just become a maintainer of Cluster API provider AWS (CAPA) and as such needs to join the kubernetes ORG to accomplish certain tasks.

[2022-10-19 10:44] Ankitasw commented on #3777
+1 from me as well.

[2022-10-19 11:30] Skarlso commented on #3777
Thank you, both! :) Really appreciate it. :)

[2022-10-20 04:25] kaslin commented on #3760
+1!

[2022-10-20 08:11] Ankitasw commented on #3777
cc @palnabarun

[2022-10-20 11:53] JoelSpeed commented on #3773
+1, Denis has been actively contributing in both the cloud provider and cluster api ecosystems

[2022-10-20 20:11] ameukam commented on #3656
@puerco Sent you an invite to the https://github.com/orgs/kubernetes-purgatory as member.

Can you transfer the repo to this org ?

[2022-10-20 20:34] kgolab opened #3779 "REQUEST: New membership for kgolab"
### GitHub Username

@kgolab

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-10-20 20:35] puerco commented on #3656
Farewell my dear baby :wave:
It's done @ameukam !

[2022-10-20 21:04] ameukam commented on #3656
Repo migrated: https://github.com/kubernetes-sigs/tejolote

I opened:
 - https://github.com/kubernetes/org/pull/3780
 - https://github.com/kubernetes/community/pull/6938

 The issue can be closed when both PR are merged.

[2022-10-20 22:42] brasmith-ms opened #3781 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username

brasmith-ms

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-10-20 22:43] brasmith-ms commented on #3781
@marosset @jsturtevant FYI

[2022-10-20 23:23] marosset commented on #3781
Brandon frequently participates SIG-Windows community meetings and has presenting in multiple SIG-Windows KubeCon talks.
+1 from me!

[2022-10-20 23:25] jayunit100 commented on #3781
based on https://www.youtube.com/watch?v=fSmDmwKwFfQ (the kube con talk recently, which had great contributions from bredon on container internals) and

 https://github.com/kubernetes/website/pull/30699
https://github.com/kubernetes/website/pull/30391
https://github.com/MicrosoftDocs/Virtualization-Documentation/pull/1667

Thanks alot brendon

/lgtm
/approve

please add other links as well if ther

[2022-10-20 23:35] jsturtevant commented on #3781
+1 thanks @brasmith-ms for you contributions to  sig windows!

[2022-10-21 01:45] aravindhp commented on #3781
+1 thanks for all your contributions @brasmith-ms

[2022-10-21 07:35] jbartosik commented on #3779
+1

[2022-10-21 08:09] ccojocar opened #3782 "REQUEST: New membership for ccojocar"
### GitHub Username

@ccojocar

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-10-21 08:24] jhrozek commented on #3782
+1 from me

[2022-10-21 08:27] saschagrunert commented on #3782
+1

[2022-10-21 19:37] Vincent056 opened #3783 "REQUEST: New membership for Vincent056"
### GitHub Username

@Vincent056

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-10-22 10:33] saschagrunert commented on #3783
+1

[2022-10-22 10:34] jhrozek commented on #3783
+1

[2022-10-22 17:04] pjbgf commented on #3783
+1

[2022-10-22 17:04] pjbgf commented on #3782
+1

[2022-10-22 18:17] josephburnett commented on #3779
+1. Karol had a long history of contributing to Kubernetes autoscaling, in particular VPA. He remains an active contributor and I fully support his membership.

I currently work for GitLab.

[2022-10-24 17:07] nikhita commented on #3773
@lobziik -- @elmiko and @JoelSpeed are only valid sponsors because they are in OWNERS files. We also require sponsors to be from different companies. Looking at their GitHub profiles, it looks like both of them work at the same employer.

Can you please find another sponsor who is not from Red Hat? Thanks!

[2022-10-24 17:08] palnabarun commented on #3760
Thank you for all your contributions so far :)

I've created PR #3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:08] palnabarun commented on #3747
Thank you for all your contributions so far :)

I've created PR #3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:08] palnabarun commented on #3765
Thank you for all your contributions so far :)

I've created PR #3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:08] palnabarun commented on #3761
Thank you for all your contributions so far :)

I've created PR #3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:08] palnabarun commented on #3764
Thank you for all your contributions so far :)

I've created PR #3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:08] palnabarun commented on #3771
Thank you for all your contributions so far :)

I've created PR #3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:09] palnabarun commented on #3772
Thank you for all your contributions so far :)

I've created PR #3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:11] palnabarun commented on #3775
+1

[2022-10-24 17:14] palnabarun commented on #3774
Thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:14] palnabarun commented on #3777
Thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:14] palnabarun commented on #3779
Thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:14] palnabarun commented on #3781
Thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:14] palnabarun commented on #3782
Thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 17:14] palnabarun commented on #3783
Thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/3785 to add you to the requested Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to Kubernetes! 🎉

/assign

[2022-10-24 20:11] Skarlso commented on #3777
Thank you very much! :)))))) 👍 🎉

[2022-10-24 20:12] #3747 closed

[2022-10-24 20:12] #3760 closed

[2022-10-24 20:12] #3761 closed

[2022-10-24 20:12] #3764 closed

[2022-10-24 20:12] #3765 closed

[2022-10-24 20:12] #3771 closed

[2022-10-24 20:12] #3772 closed

[2022-10-24 20:12] #3774 closed

[2022-10-24 20:12] #3777 closed

[2022-10-24 20:12] #3779 closed

[2022-10-24 20:12] #3783 closed

[2022-10-24 20:29] imnmo commented on #3760
Thanks folks! Awesome timing to become  k8s member 🎉 around kubecon

[2022-10-25 05:49] saltbo opened #3788 "REQUEST: New membership for saltbo"
### GitHub Username

@saltbo

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://grou

[2022-10-25 06:32] pacoxu commented on #3788
+1

Thanks for your ci failure fixes and cleanups.

Hope you can make more contributions to Kuberentes community.

[2022-10-25 07:18] weilaaa opened #3789 "REQUEST: New membership for weilaaa"
### GitHub Username

@weilaaa

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-10-25 07:23] wzshiming commented on #3789
+1 🎉

[2022-10-25 14:58] kgolab commented on #3779
Thanks!

[2022-10-25 16:12] lubronzhan commented on #3773
+1 Denis helped a lot on Cloud provider vsphere!

[2022-10-26 09:19] lobziik commented on #3773
@nikhita, updated :) Could you please take a look again? Thanks!

[2022-10-27 00:37] richardcase commented on #3562
This request is still valid so:

/remove-lifecycle stale

[2022-10-27 11:36] mukhoakash opened #3790 "REQUEST: Migrate https://github.com/mukho-akash/azure-cosi-driver"
### New repo, staging repo, or migrate existing

Migrate existing

### Is it a staging repo?

no

### Requested name for new repository

azure-cosi-driver

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

mukhoakash, aarongalang, edreed

### Who should have write access?

mukhoakash, aarongalang, edreed

### Who should be listed as approvers in OWNERS?

[2022-10-27 17:41] gottwald opened #3792 "REQUEST: New membership for gottwald"
### GitHub Username

gottwald

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-10-27 17:43] cpanato commented on #3792
string +1 and also recommend to be a member of the kubernetes-sigs as well

[2022-10-27 17:44] MorrisLaw commented on #3792
+1 from me, keep up the great work!

[2022-10-28 06:17] lentzi90 opened #3793 "REQUEST: New membership for @lentzi90"
### GitHub Username

@lentzi90

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-10-28 09:08] pacoxu opened #3794 "REQUEST: New membership for @aimuz"
### GitHub Username

@aimuz

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/ku

[2022-10-28 09:09] pacoxu commented on #3794
+1
Thanks for your contributions.

[2022-10-28 09:53] sbueringer commented on #3793
+1 welcome:)

[2022-10-28 09:57] tobiasgiese commented on #3793
+1 from me 👍🏻
Thanks for all your great contributions and participation in the CAPO office hours :)

[2022-10-28 13:43] aojea commented on #3794
+1

[2022-10-28 16:37] liggitt commented on #3794
+1

[2022-10-30 18:38] mtougeron opened #3795 "REQUEST: New membership for @mtougeron"
### GitHub Username

@mtougeron

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-10-31 11:33] MadhavJivrajani commented on #3094
/remove-lifecycle stale
/lifecycle frozen

[2022-10-31 16:01] CecileRobertMichon commented on #3795
big +1 from my side! Thanks for all your contributions so far @mtougeron!

[2022-10-31 21:16] jackfrancis commented on #3795
+1

Thank you @mtougeron and welcome!

[2022-11-01 08:33] AverageMarcus opened #3798 "REQUEST: New membership for @AverageMarcus"
### GitHub Username

@AverageMarcus

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-11-01 08:37] richardcase commented on #3798
+1 from my side.

@AverageMarcus has recently moved to be a reviewer of the Kubernetes SIG Cluster API Provider AWS project. He will need to be able to review changes to the job definitions for the project which requires kubernetes org membership.

Thanks for all your help @AverageMarcus 🎉

[2022-11-01 08:39] Skarlso commented on #3798
+1 from me as well! :) Welcome to the family! :)) 🎉

[2022-11-01 15:35] AverageMarcus commented on #3798
Closing in favour of https://github.com/kubernetes/org/pull/3799 (didn't realise this was allowed when already a member of another org)

[2022-11-01 15:35] #3798 closed

[2022-11-01 18:53] Richabanker opened #3801 "REQUEST: New membership for @Richabanker"
### GitHub Username

@Richabanker

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:/

[2022-11-01 19:04] logicalhan commented on #3801
/lgtm

Thanks @Richabanker for all the contributions!!

[2022-11-01 19:04] logicalhan commented on #3801
/lgtm

Thanks @Richabanker for all the contributions!!

[2022-11-01 19:44] Richabanker commented on #3801
Thank YOU @logicalhan for mentoring me and providing me with the great opportunities! Look forward to further collaborations  :)

[2022-11-01 21:09] ehashman commented on #3801
👍 glad to see @Richabanker on board and hope to see more great contributions!

[2022-11-02 16:45] wondywang opened #3803 "REQUEST: New membership for @wondywang"
### GitHub Username

@wondywang

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-11-02 16:54] Fei-Guo commented on #3803
+1, thanks for your contributions, wondy.

[2022-11-02 16:56] christopherhein commented on #3803
+1 thanks for everything!

[2022-11-02 17:23] #3803 closed

[2022-11-02 17:37] VibhorChinda opened #3805 "REQUEST: New membership for @VibhorChinda"
### GitHub Username

@VibhorChinda

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goo

[2022-11-02 18:09] CecileRobertMichon commented on #3805
+1

Thank you @VibhorChinda for volunteering to help with the CAPI release team!

[2022-11-02 18:29] nawazkh opened #3806 "REQUEST: New membership for @nawazkh"
### GitHub Username

@nawazkh

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-11-02 18:31] CecileRobertMichon commented on #3806
+1

Thank you @nawazkh for all your contributions so far and for volunteering to help with the CAPI release team!!

[2022-11-02 18:44] alexander-demicev commented on #3805
+1, looking forward to collaborating on CAPI releases.

[2022-11-02 18:50] ykakarap commented on #3806
+1.

Thank you @nawazkh for volunteering to be part of the CAPI release team. Looking forward to working together 🚀

[2022-11-02 18:51] ykakarap commented on #3805
+1.

Thank you @VibhorChinda for volunteering to be part of the CAPI release team. Looking forward to working together 🚀

[2022-11-02 23:45] willie-yao opened #3807 "REQUEST: New membership for willie-yao"
### GitHub Username

@willie-yao

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-11-02 23:49] CecileRobertMichon commented on #3807
+1! Thank you for all your contributions @willie-yao 🚀

[2022-11-02 23:50] sonasingh46 commented on #3807
+1
Thanks for all your contributions. ❤️🎉

[2022-11-03 03:55] justinsb opened #3809 "REQUEST: Create kubernetes-sigs/artifacts.k8s.io"
### New repo, staging repo, or migrate existing

New Repo

### Is it a staging repo?

no

### Requested name for new repository

artifacts.k8s.io

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

justinsb, bentheelder, dims, ameukam, spiffxp, thockin

### Who should have write access?

justinsb, bentheelder, dims, ameukam, spiffxp, thockin

### Who shoul

[2022-11-03 05:07] chengxiangdong opened #3810 "REQUEST: New membership for @chengxiangdong"
### GitHub Username

@chengxiangdong

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](http

[2022-11-03 06:05] windsonsea commented on #3810
+1

Look forward to your more contributions.

[2022-11-03 06:18] RainbowMango commented on #3810
+1

Hello Michael, nice to meet you here.

[2022-11-03 10:55] dims commented on #3809
+1 from me

[2022-11-03 12:40] ameukam commented on #3809
+1 as k8s-infra SIG chair.
(I'm also Github Admin)

[2022-11-03 13:06] ameukam commented on #3809
I would also suggest to a different name for the repo. We may reuse the logic for things other than `artifacts.k8s.io`.

[2022-11-03 13:08] upodroid commented on #3809
+1, I'm not sold on the idea of using a redirector instead of a CDN of our choice

[2022-11-03 18:56] mrbobbytables commented on #3773
/assign

[2022-11-03 18:56] mrbobbytables commented on #3775
+1 from me :)
Thanks for helping with the summit!

/assign

[2022-11-03 18:57] mrbobbytables commented on #3789
/assign

[2022-11-03 18:58] mrbobbytables commented on #3792
/assign

[2022-11-03 18:59] mrbobbytables commented on #3793
/assign

[2022-11-03 19:01] mrbobbytables commented on #3794
@aimuz can you confirm your org membership request? we don't generally have requests where the author is different from the requested user.

[2022-11-03 19:02] mrbobbytables commented on #3795
/assign

[2022-11-03 19:02] mrbobbytables commented on #3801
/assign

[2022-11-03 19:03] mrbobbytables commented on #3805
/assign

[2022-11-03 19:03] mrbobbytables commented on #3806
/assign

[2022-11-03 19:04] mrbobbytables commented on #3810
/assign

[2022-11-03 19:05] mrbobbytables commented on #3731
other PRs have been merged, going to go ahead and close.

/close

[2022-11-03 19:05] #3731 closed

[2022-11-03 19:05] mrbobbytables commented on #3688
outstanding PRs have been merged, going to go ahead and close 👍

/close

[2022-11-03 19:05] #3688 closed

[2022-11-03 19:06] aramase commented on #3688
Thank you @mrbobbytables!

[2022-11-03 19:26] mrbobbytables commented on #3773
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:26] mrbobbytables commented on #3775
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:27] mrbobbytables commented on #3792
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:27] mrbobbytables commented on #3793
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:27] mrbobbytables commented on #3795
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:27] mrbobbytables commented on #3801
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:27] mrbobbytables commented on #3805
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:28] mrbobbytables commented on #3806
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:28] mrbobbytables commented on #3810
Thank you for all your contributions so far :)

I've created PR #3814  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-03 19:29] Richabanker commented on #3801
Thank you so much! 😄

[2022-11-03 19:32] #3773 closed

[2022-11-03 19:32] #3775 closed

[2022-11-03 19:32] #3792 closed

[2022-11-03 19:32] #3793 closed

[2022-11-03 19:32] #3795 closed

[2022-11-03 19:32] #3801 closed

[2022-11-03 19:32] #3805 closed

[2022-11-03 19:32] #3806 closed

[2022-11-03 19:32] #3810 closed

[2022-11-03 20:50] puerco commented on #3656
Thanks @ameukam !!

Migration is complete.
/close

[2022-11-03 20:50] #3656 closed

[2022-11-03 21:40] hh commented on #3809
Agree with @upodroid, this does feel best served from a CDN, but this repo can be used to coordinate that effort.

[2022-11-03 22:09] BenTheElder commented on #3809
A cheap redirect service makes it easy to switch CDNs in the future with minimal fuss, or even to point at multiple CDNs, as funding requires. As of yet we don't actually have access to any new CDN funding.

We already have an architecture that works well for this, whether that then redirects to cloud front or fastly is a quickly alterable implementation detail. We can start with a simple S3 bucke

[2022-11-03 22:26] thockin commented on #3809
+1

[2022-11-04 00:07] aimuz commented on #3794
Yes, I did. @mrbobbytables

I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
  I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
  I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/kubernetes.io/group/dev)
  I am actively contributing to 1 or more Kubernetes subprojects
  I have

[2022-11-04 00:08] mtougeron commented on #3795
Thank you! I appreciate it and look forward to continuing to working with everyone!

[2022-11-04 02:00] gyohuangxin opened #3817 "REQUEST: New membership for gyohuangxin"
### GitHub Username

@gyohuangxin

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:/

[2022-11-04 18:45] robscott commented on #3817
Thanks for all your contributions @gyohuangxin!

+1

[2022-11-04 19:20] ameukam commented on #3809
@justinsb I suggest we call it `porche`. :-)

[2022-11-04 20:30] shaneutt commented on #3817
:+1: thanks for your contributions @gyohuangxin

+1

[2022-11-06 16:21] pohly opened #3821 "new staging repo: k8s.io/dynamic-resource-allocation"
From https://groups.google.com/g/kubernetes-sig-architecture/c/DkKQyuUrj9Y:

There have been no comments there, so I suppose there are no objections and we can proceed.

/cc @thockin (in case that explicit approval is needed)

[2022-11-07 06:08] vinaykul opened #3822 "REQUEST: New membership for vinaykul (before Nabarun gives me grief again :) )"
### GitHub Username

@vinaykul

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-11-07 13:18] marquiz opened #3824 "Add marquiz to admins of node-feature-discovery project"
### Organization or Repo

kubernetes/org

### User affected

@marquiz

### Describe the issue

Add myself as the admin of the node-feature-discovery project. I'm the primary maintainer of the project and having admin role would make maintenance easier by e.g. making it possible to re-trigger spuriously failed prow-jobs.

[2022-11-07 14:01] dims commented on #3822
+1 from me as well!

![Uploading thor-time.gif…]()

[2022-11-07 14:03] mrbobbytables commented on #3822
+1 from me, long overdue :p

[2022-11-07 14:12] palnabarun commented on #3822
+1, finally!

[2022-11-07 14:32] fmuyassarov commented on #3824
+1

[2022-11-07 19:09] klueska commented on #3821
/assign @derekwaynecarr

This needs sig-node-leads approval as per this slack conversation:
https://kubernetes.slack.com/archives/C01672LSZL0/p1667751787905519

[2022-11-07 19:09] klueska commented on #3821
/approve

[2022-11-07 23:12] ameukam commented on #3809
Repo created: https://github.com/kubernetes-sigs/porche

Teams added: https://github.com/kubernetes/org/pull/3819
Ownership defined: https://github.com/kubernetes/community/pull/6961

[2022-11-08 03:53] vinaykul commented on #3822
thanks guys :)

[2022-11-08 09:11] yanghesong opened #3826 "REQUEST: New membership for <yanghesong>"
### GitHub Username

@yanghesong

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-11-08 09:12] yanghesong commented on #3826
/cc @dims @pacoxu  Thanks!

[2022-11-08 09:28] pacoxu commented on #3826
+1
Thanks for your work on sig-node and hope you will contribute more in the future.

[2022-11-08 15:49] dims commented on #3826
+1 from me as well @yanghesong

[2022-11-08 17:43] dchen1107 commented on #3821
/lgtm
/approve

[2022-11-09 18:22] alculquicondor commented on #3821
I think this needs resolution on https://github.com/kubernetes/kubernetes/pull/111023#issuecomment-1309058680

[2022-11-10 04:21] xmcqueen opened #3828 "REQUEST: New membership for xmcqueen"
### GitHub Username

@xmcqueen

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-11-10 04:23] BenTheElder commented on #3828
/lgtm
thank you very much for all your work so far!

[2022-11-10 04:23] BenTheElder commented on #3828
/woof

[2022-11-10 10:19] endocrimes commented on #3828
+1

/lgtm
/approve
THANK YOU 🎉

[2022-11-10 18:36] rexagod opened #3830 "REQUEST: New membership for rexagod"
### GitHub Username

@rexagod

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-11-10 18:40] logicalhan commented on #3830
/lgtm

Thanks for all the contributions!

[2022-11-10 18:50] dgrisonnet commented on #3830
/lgtm

Thank you for all the amazing effort you've been putting!

[2022-11-10 22:50] sunjayBhatia opened #3831 "REQUEST: New membership for sunjayBhatia"
### GitHub Username

@sunjayBhatia

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goo

[2022-11-10 23:24] robscott commented on #3831
+1

Thanks for all the contributions @sunjayBhatia!

[2022-11-11 02:27] Garrybest opened #3832 "REQUEST: New membership for Garrybest"
### GitHub Username

@Garrybest

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-11-11 02:33] Garrybest commented on #3832
Hi fellows, would you like to sponsor me😊? @fpetkovski @marquiz

[2022-11-11 05:27] youngnick commented on #3831
+1 from me too. Thanks @sunjayBhatia!

[2022-11-11 06:47] fpetkovski commented on #3832
Thank you for all of your contributions to kube-state-metrics 🎉

@Garrybest has my support 💯 .

[2022-11-11 08:41] marquiz commented on #3832
@Garrybest good work on https://github.com/kubernetes-sigs/node-feature-discovery/pull/842
+1

[2022-11-11 13:18] hj-johannes-lee opened #3834 "REQUEST: New membership for hj-johannes-lee"
### GitHub Username

@hj-johannes-lee

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-11-11 16:56] johnbelamaric commented on #3821
/approve

[2022-11-11 17:22] mrbobbytables commented on #3821
repo created: https://github.com/kubernetes/dynamic-resource-allocation
PR for branch protection: https://github.com/kubernetes/test-infra/pull/27980
[Final step](https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#staging-repositories) will be completed once PR in k/k is merged.

/assign

[2022-11-11 21:23] sunjayBhatia commented on #3831
Thanks @robscott @youngnick!

[2022-11-12 12:49] seokho-son commented on #3834
Hi @hj-johannes-lee

seems not appropriate link. Could you change it to
https://github.com/kubernetes/website/pulls?q=is%3Apr+author%3Ahj-johannes-lee+is%3Aclosed+

[2022-11-14 11:18] hj-johannes-lee commented on #3834
@seokho-son Sorry for being so careless.! :( I changed!

[2022-11-14 14:55] spowelljr opened #3836 "REQUEST: Create kubernetes-sigs/minikube-gui"
### New repo, staging repo, or migrate existing

New respository

### Is it a staging repo?

no

### Requested name for new repository

minikube-gui

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

spowelljr, medyagh

### Who should have write access?

spowelljr, medyagh

### Who should be listed as approvers in OWNERS?

spowelljr, medyagh

### Who shou

[2022-11-14 14:56] spowelljr commented on #3836
cc @kubernetes/sig-cluster-lifecycle-leads

[2022-11-14 15:12] neolit123 commented on #3836
i am not sure i will be able to join the sig call tomorrow, but you can add it to the agenda and discuss it. please relay this fredback if i am not around.

my take is that unless you want a strictly disjointed release process and a separate issue tracker of a gui, then the gui should probably just live in a go module subfolder in the main project repo.

my vote is +0, but i can see the benefits o

[2022-11-14 18:27] ameukam commented on #3809
I think we can consider this done.

Please, reopen the issue if there is something else that need to be done.

/close

[2022-11-14 18:27] #3809 closed

[2022-11-15 12:50] klueska opened #3837 "REQUEST: Create kubernetes-sigs/dra-example-driver"
### New repo, staging repo, or migrate existing

new repository

### Is it a staging repo?

no

### Requested name for new repository

dra-example-driver

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

klueska,pohly

### Who should have write access?

byako,bart0sh

### Who should be listed as approvers in OWNERS?

klueska,pohly,byako,bart0sh

### Who

[2022-11-15 14:43] mrbobbytables commented on #3821
I think everything is done as far as getting the repo squared away.

The only administrative action left is to add it to [k/community listed under a subproject](https://github.com/kubernetes/community/tree/master/sig-node#subprojects)

Would it be a new one or should it be listed under one of the others?

[2022-11-15 15:01] klueska commented on #3821
Let me ask what people prefer in the sig-node meeting today.

[2022-11-16 14:01] neolit123 commented on #3836
@fabriziopandini @vincepri

@justinsb and me discussed this topic during the sig meeting and we do not object to the separate repository.
if you object, please leave a comment.

thanks

one remaining question was the source code licensing, which the minikube maintainers should discuss with contribex.

[2022-11-16 15:02] fabriziopandini commented on #3836
+1 from my side

[2022-11-16 15:06] iranzo opened #3839 "REQUEST: Netlify site for KMM"
### Repository

https://github.com/kubernetes-sigs/kernel-module-management

### Project domain

kmm.sigs.k8s.io

### Additional context for request

https://github.com/kubernetes-sigs/kernel-module-management/issues/27

[2022-11-16 19:36] jackfrancis commented on #3762
/lgtm

[2022-11-16 19:39] mrbobbytables commented on #3769
/assign
Will try and get to it this Friday

[2022-11-17 01:44] CecileRobertMichon commented on #3762
+1

Could we also add the Cluster API maintainers as admin/approvers?

[2022-11-17 10:53] niuzhenguo opened #3840 "REQUEST: New membership for @niuzhenguo"
### GitHub Username

@niuzhenguo

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-11-17 11:11] chengxiangdong commented on #3840
+1, thanks for your contributions,

[2022-11-17 12:04] windsonsea commented on #3840
+1
Look forward to your more contributions.

[2022-11-17 16:55] klueska commented on #3821
We discussed this in the sig-node meeting on Tuesday.

The consensus was for me to create a new subproject called `resource-management` which will absorb the existing [`noderesourcetopology-api`](https://github.com/kubernetes/community/tree/master/sig-node#noderesourcetopology-api) subproject and include both this new staging repo and the repo that will result from my recent [request](https://gith

[2022-11-17 17:30] Jont828 commented on #3762
@neolit123 Just wanted to follow up on this, has there been any update on what we need to get this approved/merged?

[2022-11-17 18:33] mrbobbytables commented on #3762
@Jont828 next steps before migration would be to prepare the repo to be moved (copyright header, owners files etc)

You can read about the requirements here:
https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2022-11-18 06:25] chengxiangdong commented on #3840
+1 from me

[2022-11-18 08:51] weilaaa commented on #3789
It seems "assign" did not tigger ci robot to add label, so I try to assign again.

/assign @mrbobbytables

[2022-11-18 10:08] klueska commented on #3821
PR to add the above:
https://github.com/kubernetes/community/pull/6970

[2022-11-18 13:36] matthyx commented on #3828
@BenTheElder why hasn't your approve worked to include @xmcqueen in the org ?

[2022-11-18 13:52] endocrimes commented on #3828
This is an issue not a PR 😅 - not sure who processes these now tho - I know @palnabarun used to handle some

[2022-11-18 13:55] matthyx commented on #3828
OMG sorry, caffeine deprivation...

[2022-11-18 20:09] lauralorenz opened #3841 "REQUEST: Create repo for SIG-multicluster high level docs and outreach"
### New repo, staging repo, or migrate existing

new repo

### Is it a staging repo?

no

### Requested name for new repository

sig-multicluster-site

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

lauralorenz, pmorie, jeremyot

### Who should have write access?

lauralorenz, pmorie, jeremyot

### Who should be listed as approvers in OWNERS?

lauralor

[2022-11-19 15:19] mrbobbytables commented on #3769
1 follow up question - for adding it in sigs.yaml is this a new subproject? or should it be included under another one?

[2022-11-19 15:36] mrbobbytables commented on #3769
Repo created
Teams added in this PR: https://github.com/kubernetes/org/pull/3842
We can close this issue once teams and eventual k/community PRs are merged

[2022-11-19 19:24] MrErlison opened #3843 "REQUEST: New membership for MrErlison"
### GitHub Username

@MrErlison

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-11-19 20:19] stormqueen1990 commented on #3843
+1

Erlison has contributed a lot of important translations to the Portuguese localization, and has also been doing very helpful drive-by reviews in pull requests! 😃

[2022-11-19 20:23] rikatz commented on #3843
+1
All that Mauren added above, even if Erlison doesn't wants my sponsorship :P

[2022-11-20 01:04] edsoncelio commented on #3843
+1

[2022-11-21 03:52] tengqm commented on #3840
+1
Looking forward to work with you in this community.

[2022-11-21 14:05] AhmedGrati opened #3844 "REQUEST: New membership for AhmedGrati"
### GitHub Username

@AhmedGrati

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-11-21 14:10] hangyan commented on #3844
+1

[2022-11-21 14:14] cdrage commented on #3844
@AhmedGrati has been a great addition these past couple of months!

💯 🎉  from me.

[2022-11-21 16:20] marquiz commented on #3084
/remove-lifecycle stale

[2022-11-21 20:32] wanyufe opened #3846 "REQUEST: New membership for @wanyufe"
### GitHub Username

@wanyufe

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-11-21 21:47] klueska commented on #3837
/assign @mrbobbytables
This is related to https://github.com/kubernetes/org/issues/3821 and https://github.com/kubernetes/community/pull/6970

[2022-11-22 08:59] fabriziopandini commented on #3846
Hey @wanyufe, I will be happy to sponsor, but what about asking for sponsorship to maintainers and reviewers of cluster-api-provider-cloudstack who knows better about your work?
Also, AFAIK work on eks-anywhere does not count for membership in kubernetes-sigs

[2022-11-22 12:19] seokho-son commented on #3834
+1

@hj-johannes-lee is active and responsive contributor especially for SIG-Docs Korean localization contribution !
Thank you for the contribution ! :)

[2022-11-22 13:19] olivercodes opened #3848 "REQUEST: New membership for olivercodes"
### GitHub Username

@olivercodes

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-11-22 13:50] mattfenwick commented on #3848
+1 thanks for your contributions @olivercodes and looking forward to hacking with you some more !!

[2022-11-22 14:47] mrbobbytables commented on #3837
/assign

[2022-11-22 14:51] mrbobbytables commented on #3841
/assign

@lauralorenz what should the subproject be called to be listed in sigs.yaml / multicluster readme?

[2022-11-22 14:55] mrbobbytables commented on #3794
Thanks!
/assign

[2022-11-22 14:56] mrbobbytables commented on #3807
/assign

[2022-11-22 14:56] mrbobbytables commented on #3822
/assign

[2022-11-22 14:57] mrbobbytables commented on #3817
/assign

[2022-11-22 14:58] mrbobbytables commented on #3826
/assign

[2022-11-22 14:58] mrbobbytables commented on #3828
/assign

[2022-11-22 14:58] mrbobbytables commented on #3830
/assign

[2022-11-22 14:58] mrbobbytables commented on #3831
/assign

[2022-11-22 15:01] mrbobbytables commented on #3832
/assign

[2022-11-22 15:03] mrbobbytables commented on #3843
/assign

[2022-11-22 15:04] mrbobbytables commented on #3844
/assign

[2022-11-22 15:12] #3824 closed

[2022-11-22 15:33] mrbobbytables commented on #3789
Sorry about missing that before^^;; no idea how the assign didn't actually assign me.

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:33] mrbobbytables commented on #3794
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:34] mrbobbytables commented on #3807
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:34] mrbobbytables commented on #3817
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:34] klueska commented on #3821
With the merging of https://github.com/kubernetes/community/pull/6970, I assume this issue can now be closed?

[2022-11-22 15:34] mrbobbytables commented on #3822
This should have happened long ago XD in any case I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome (finally) to @kubernetes! 🎉

/pony party

[2022-11-22 15:35] mrbobbytables commented on #3826
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:35] mrbobbytables commented on #3828
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:35] mrbobbytables commented on #3830
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:36] mrbobbytables commented on #3840
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:36] mrbobbytables commented on #3843
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:36] mrbobbytables commented on #3844
Thank you for all your contributions so far :)

I've created PR #3849  to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-22 15:41] mrbobbytables commented on #3821
yup!

/close

[2022-11-22 15:41] #3821 closed

[2022-11-22 15:45] elmiko commented on #3846
+1, happy to sponsor as well, but it might be good to have a sponsor that is closer to the work as well.

[2022-11-22 15:52] #3789 closed

[2022-11-22 15:52] #3794 closed

[2022-11-22 15:52] #3822 closed

[2022-11-22 15:52] #3826 closed

[2022-11-22 15:52] #3828 closed

[2022-11-22 15:52] #3830 closed

[2022-11-22 15:52] #3831 closed

[2022-11-22 15:52] #3832 closed

[2022-11-22 15:52] #3840 closed

[2022-11-22 16:24] mrbobbytables commented on #3350
/close
we're good here 👍

[2022-11-22 16:25] #3350 closed

[2022-11-22 16:56] mrbobbytables commented on #3837
Repo create: https://github.com/kubernetes-sigs/dra-example-driver
teams added in: #3850
k/community update: https://github.com/kubernetes/community/pull/6980

once teams PR is merged I'll add teams to the repo, we can close this out once all PRs are merged.

[2022-11-22 18:12] vinaykul commented on #3822
Got the invite and just accepted it. I show as member now wohoo! Thank you! @mrbobbytables

[2022-11-22 18:28] mrbobbytables commented on #3836
/assign

[2022-11-22 18:47] mrbobbytables commented on #3836
repo created: https://github.com/kubernetes-sigs/minikube-gui
teams PR: https://github.com/kubernetes/org/pull/3851
k/community PR: https://github.com/kubernetes/community/pull/6983

I'll add the teams with repo permissions once the PR has been merged 👍

[2022-11-22 18:48] mrbobbytables commented on #3839
/assign

[2022-11-22 18:49] mrbobbytables commented on #3839
please create a netlify.toml file in the root of the repo. Without it tests will fail for every build once the integration is made^^;;;

[2022-11-22 19:35] iranzo commented on #3839
@mrbobbytables it's in the PR I made for this pending merging, ty!

[2022-11-22 19:35] wanyufe commented on #3846
Thanks. I added @jweite-amazon, @maxdrib  and @davidjumani

[2022-11-22 19:42] maxdrib commented on #3846
+1 you've done excellent work on CAPC and we look forward to your continued contributions!

[2022-11-22 20:03] mrbobbytables commented on #3836
Teams added, all PRs merged - going to go ahead and close this out. Thanks!

/close

[2022-11-22 20:03] #3836 closed

[2022-11-22 21:22] gochist commented on #3834
+1

 Thank you for the contribution!

[2022-11-22 21:26] sunnylovestiramisu opened #3852 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username

@sunnylovestiramisu

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes d

[2022-11-22 21:33] msau42 commented on #3852
+1 Sunny is also helping with csi sidecar releases: https://github.com/kubernetes-csi/external-attacher/pull/389

[2022-11-22 22:12] xing-yang commented on #3852
+1

[2022-11-22 23:33] Jont828 commented on #3762
Sounds good, I'll get started on that!

[2022-11-23 00:24] spowelljr commented on #3836
Thanks @mrbobbytables!

[2022-11-23 02:09] fengshunli opened #3853 "REQUEST: New membership for fengshunli"
### GitHub Username

@fengshunli

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-11-23 05:20] carlory opened #3854 "REQUEST: New membership for carlory"
### GitHub Username

@carlory

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-11-23 05:46] wzshiming commented on #3854
+1

BTY, you're already a Kubernetes member, you shouldn't need a +1 from anyone else.

https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem

[2022-11-23 06:35] rexagod commented on #3830
Hello @mrbobbytables, it's been a while since that was merged, but I haven't received any invite. Not sure what went wrong here.

[2022-11-23 13:13] astoycos commented on #3848
/lgtm

thanks for all your help so far!! :)

[2022-11-23 18:41] judemars opened #3855 "REQUEST: New membership for judemars"
### GitHub Username

@judemars

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-11-23 23:02] cblecker commented on #3084
@marquiz I assume you're still looking for this? Sorry for the delay on response.

[2022-11-24 08:47] marquiz commented on #3084
Yeah, sure this is still valid 😊

[2022-11-25 14:47] yangjunmyfm192085 commented on #3853
+1 for kubernetes-sigs
Thanks for your contribution to metrics-server

[2022-11-25 15:16] wzshiming commented on #3853
+1

[2022-11-26 05:23] sbs2001 opened #3858 "REQUEST: New membership for sbs2001"
### GitHub Username

@sbs2001

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-11-26 05:43] puerco commented on #3858
+1 !
Please note that @sbs2001 is already a member of @kubernetes so they are eligible for k-sigs membership as per the [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem).

[2022-11-26 09:58] saschagrunert commented on #3858
+1 from my side as well :)

[2022-11-28 06:06] davidjumani commented on #3846
+1

[2022-11-29 11:26] Pradumnasaraf opened #3860 "REQUEST: New membership for Pradumnasaraf"
### GitHub Username

@Pradumnasaraf

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https

[2022-11-29 13:18] kannon92 opened #3861 "REQUEST: New membership for @kannon92"
### GitHub Username

@kannon92

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-11-29 13:28] alculquicondor commented on #3861
+1 Kevin has been helping us improve the coverage and maintainability of kueue

[2022-11-29 14:25] kerthcet commented on #3861
+1 for Kevin's continuous contributions and hope to see more in the future.

[2022-11-29 15:37] mrbobbytables commented on #3834
/assign

[2022-11-29 15:38] mrbobbytables commented on #3846
/assign

[2022-11-29 15:39] mrbobbytables commented on #3848
/assign

[2022-11-29 15:39] mrbobbytables commented on #3852
/assign

[2022-11-29 15:40] mrbobbytables commented on #3853
/assign

[2022-11-29 15:40] mrbobbytables commented on #3861
/assign

[2022-11-29 15:47] mrbobbytables commented on #3834
Thank you for all your contributions so far :)

I've created PR #3862   to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-29 15:47] mrbobbytables commented on #3848
Thank you for all your contributions so far :)

I've created PR #3862   to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-29 15:48] mrbobbytables commented on #3852
Thank you for all your contributions so far :)

I've created PR #3862   to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-29 15:48] mrbobbytables commented on #3853
Thank you for all your contributions so far :)

I've created PR #3862   to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-29 15:48] mrbobbytables commented on #3858
Thank you for all your contributions so far :)

I've created PR #3862   to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-29 15:48] mrbobbytables commented on #3861
Thank you for all your contributions so far :)

I've created PR #3862   to add you to the Kubernetes Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-11-29 15:55] mehabhalodiya commented on #3860
+1

Happy to see your contributions so far; looking forward to more of them 🎉

[2022-11-29 16:29] #3834 closed

[2022-11-29 16:29] #3846 closed

[2022-11-29 16:29] #3848 closed

[2022-11-29 16:29] #3853 closed

[2022-11-29 16:29] #3861 closed

[2022-11-29 17:48] pwschuurman opened #3863 "REQUEST: New membership for pwschuurman"
### GitHub Username

@pwschuurman

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-ma

[2022-11-29 17:54] mattcary commented on #3863
+1, @pwschuurman 's already pushing through [a KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/3335-statefulset-slice) in addition to all his other work, let's make him a member!

[2022-11-29 18:01] xing-yang commented on #3855
+1

[2022-11-30 15:51] xing-yang commented on #3378
@mrbobbytables Can we move forward with these archival requests?  Thanks.

[2022-11-30 17:37] ehashman commented on #3769
New subproject! Thanks @mrbobbytables!

[2022-11-30 19:45] mrbobbytables commented on #3769
All PRs merged, going to go ahead and close - thanks!

/close

[2022-11-30 19:45] #3769 closed

[2022-11-30 19:46] mrbobbytables commented on #3837
PRs merged, and teams added with permissions to the repo - going to go ahead and close. - Thanks!

/close

[2022-11-30 19:46] #3837 closed