[2022-01-05 22:36] sftim commented on #2778
(low priority)
How's this migration going?

[2022-01-06 17:24] CecileRobertMichon commented on #3156
Huge +1!!

Sorry for the late response here, I missed the notification while I was on vacation

[2022-01-06 21:25] davidvossel opened #3166 "REQUEST: New membership for davidvossel"
### GitHub Username

@davidvossel

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goog

[2022-01-07 01:27] agradouski commented on #3166
strongly support @davidvossel 's membership. his contributions to cluster-api-provider-kubevirt project have been tremendous!

[2022-01-07 06:08] zouyee commented on #2052
/remove-lifecycle stale

[2022-01-07 06:31] palnabarun commented on #3145
@lizhuqi -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 06:33] palnabarun commented on #3152
@minbaev -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 06:35] palnabarun commented on #3154
@Garima-Negi -- thank you for all your contributions so far and your help with the Hindi Localization efforts :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 06:37] palnabarun commented on #3156
@Jont828 -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! tada

/assign

[2022-01-07 06:39] palnabarun commented on #3157
@MartinForReal -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 06:40] palnabarun commented on #3159
@shuaijinchao -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 06:42] palnabarun commented on #3160
@schrej -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 06:43] palnabarun commented on #3162
@klaases -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 06:50] palnabarun commented on #3166
Hi @davidvossel 👋🏽, The [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) require that the sponsors be from two different companies. Since @agradouski and @chhengleo both work at Apple, they can't both sponsor you at the same time.

Can you please add a sponsor who works at a company other than Apple?

/assign

[2022-01-07 06:53] palnabarun commented on #3151
@rmohr -- thank you for all your contributions so far :)

I've created PR #3167 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome to the Kubernetes community! :tada:

/assign

[2022-01-07 08:26] #3145 closed

[2022-01-07 08:26] #3151 closed

[2022-01-07 08:26] #3152 closed

[2022-01-07 08:26] #3154 closed

[2022-01-07 08:26] #3156 closed

[2022-01-07 08:26] #3157 closed

[2022-01-07 08:26] #3159 closed

[2022-01-07 08:26] #3160 closed

[2022-01-07 08:26] #3162 closed

[2022-01-07 08:31] anubha-v-ardhan commented on #3154
Welcome to Kubernetes @Garima-Negi
/meow

[2022-01-07 17:22] mrbobbytables commented on #3094
/retitle Cleanup Inactive Org Members -Q1 2022

[2022-01-07 17:55] davidvossel commented on #3166
@rmohr I'm adding you as a sponsor since we can't have two Apple folks as sponsors.

[2022-01-07 19:09] rmohr commented on #3166
+1. David dies high quality contributions to cluster-api-provider-kubevirt and KubeVirt.

[2022-01-07 21:43] Jont828 commented on #3156
Sounds great, thanks everyone!

[2022-01-10 03:59] csantanapr opened #3168 "REQUEST: New membership for csantanapr"
### GitHub Username

csantanapr

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://g

[2022-01-10 11:04] JamesLaverack commented on #3168
+1

Carlos is a release notes shadow on the [Kubernetes v1.24 release team](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.24/release-team.md).

Welcome to the community. 🎉

[2022-01-10 19:50] AuraSinis commented on #3168
+1

[2022-01-10 20:06] BenTheElder commented on #966
Another example of the friction this introduces https://github.com/kubernetes/test-infra/pull/24814#issuecomment-1009297530

[2022-01-10 20:09] BenTheElder commented on #966
I still think we should just make these equivalent and automatically add users to both organizations.

Projects are semi-arbitrarily in one org or the other as a matter of history and working on many things involves code spanning both orgs.

[2022-01-11 00:03] mrbobbytables commented on #966
They are equiv now, but nothing automatic for adding users.

[2022-01-11 03:44] Madhan-SWE opened #3169 "Migrate ibm-powervs-block-csi-driver to kubernetes-sigs"
### New repo, staging repo, or migrate existing

https://github.com/ppc64le-cloud/ibm-powervs-block-csi-driver

### Is it a staging repo?

no

### Requested name for new repository

ibm-powervs-block-csi-driver

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

_No response_

### Who should have write access?

mkumatag, madhan-swe

### Who should be liste

[2022-01-11 06:04] mkumatag commented on #3169
cc @spzala @gyliu513

[2022-01-11 12:06] valaparthvi opened #3170 "REQUEST: New membership for valaparthvi"
### GitHub Username

@valaparthvi

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2022-01-11 13:19] Garima-Negi commented on #3154
Thank you all for this opportunity!

[2022-01-11 13:33] mrbobbytables commented on #3169
@Madhan-SWE This requires sign off from the sig cloud provider leads - please reach out to them for approval.
The repos must also meet all our criteria here before we can accept it: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2022-01-11 13:52] dougsland opened #3171 "REQUEST: New membership for dougsland (k8s-sig)"
### GitHub Username

dougsland

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2022-01-11 14:11] mkumatag commented on #3169
/cc @andrewsykim @cheftako @nckturner

for sign off

[2022-01-11 14:11] Lp-Francois opened #3173 "REQUEST: New membership for Lp-Francois"
### GitHub Username

@Lp-Francois

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2022-01-11 14:12] dougsland commented on #3171
merged, closing. Thanks!

[2022-01-11 14:12] #3171 closed

[2022-01-11 14:39] JamesLaverack commented on #3173
+1

[2022-01-11 15:25] mickeyboxell commented on #3170
+1

[2022-01-11 18:07] dchen1107 commented on #3140
+1

[2022-01-11 18:10] derekwaynecarr commented on #3140
+1

per discussion in SIG Node 1/11 meeting, it would be good to schedule sub-project readout for how the project is evolving in a few weeks.

[2022-01-11 19:22] AuraSinis commented on #3173
+1

[2022-01-11 21:01] davidvossel commented on #3166
@palnabarun no problem, Roman stepped up. He works at Red Hat.

[2022-01-11 21:35] #3143 closed

[2022-01-12 08:58] mehabhalodiya commented on #3170
+1
/pony party

[2022-01-12 11:23] leonardpahlke opened #3175 "REQUEST: New membership for shuheiktgw"
### GitHub Username

@shuheiktgw

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2022-01-12 11:24] leonardpahlke opened #3176 "REQUEST: New membership for nivedita-coder"
### GitHub Username

@nivedita-coder

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2022-01-12 14:03] mrbobbytables commented on #2778
Current plan is to migrate the weekend of Feb 5th, right after Enhancements freeze. comms will be going out later today

[2022-01-12 16:44] JamesLaverack commented on #3175
+1

[2022-01-12 19:43] zvonkok commented on #966
@mrbobbytables Just checked I am not a member of kubernetes but kubernetes-sigs per this comment I should have been auto-added:

[2022-01-12 20:53] listx opened #3177 "REQUEST: Netlify site for kubernetes-sigs/prow"
### Repository

kubernetes-sigs/prow

### Project domain

docs.prow.k8s.io

### Additional context for request

- https://github.com/kubernetes/test-infra/issues/24821
- https://docs.google.com/document/d/17_gyhQipmK_roYqUtwx-hTwi1tn2sd0aG6vdkBn6fKM/edit?usp=sharing

[2022-01-12 21:20] mrbobbytables commented on #966
@zvonkok we are not doing any automatic syncing the orgs. The policy is changed so that you are no longer applying to a specific org, you are applying to be a member of the project .

If you are a member of one org you can join the others without sponsors or going through further due-diligence. E.g. if you're currently a member of kubernetes-sigs and want to be a member of kubernetes, you can open

[2022-01-13 02:58] jrsapi commented on #3170
+1

[2022-01-13 10:07] ptux opened #3178 "REQUEST: New membership for ptux"
### GitHub Username

ptux

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/forum/

[2022-01-13 10:09] ptux commented on #3178
@jihoon-seo

I had your consent here.
https://github.com/kubernetes/website/pull/30338#issuecomment-981287600

[2022-01-13 11:14] zvonkok opened #3179 "REQUEST: New membership for zvonkok"
### GitHub Username

@zvonkok

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2022-01-13 11:46] inductor commented on #3178
+1

[2022-01-13 15:05] spzala commented on #3169
/lgtm
/cc @andrewsykim

[2022-01-13 15:12] andrewsykim commented on #3169
+1 from me

[2022-01-13 15:14] spzala commented on #3169
Thanks @andrewsykim !!

[2022-01-13 15:35] s04 opened #3180 "REQUEST: New membership for @s04"
### GitHub Username

@s04

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.

[2022-01-13 16:31] qabpea opened #3181 "REQUEST: New membership for qabpea"
### GitHub Username

qabpea

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2022-01-13 16:34] dougsland commented on #3181
+1 I have been working in several issues with @qabpea in SIG Network/KPNG.
/lgtm

[2022-01-13 17:34] mickeyboxell commented on #3180
+1

[2022-01-13 18:24] cheftako commented on #3169
Assuming this is a migration.
+1 from me.

[2022-01-13 18:37] nckturner commented on #3169
+1

[2022-01-13 18:50] spzala commented on #3169
Thanks @cheftako @nckturner !!

[2022-01-14 01:26] jayunit100 commented on #3181
/lgtm
He's been mentoring and driving forward on the Kpng team

[2022-01-14 02:08] mkumatag commented on #3169
@mrbobbytables got +1 concerned sig and also all the prereq for the repo migration satisfied, hope we are good to go.. 😁

[2022-01-14 16:23] necatican opened #3183 "REQUEST: New membership for necatican"
### GitHub Username

necatican

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2022-01-14 16:28] cristicalin commented on #3183
:+1:

@necatican great to see your enthusiasm and looking forward to your future contributions

[2022-01-14 18:22] doshyt opened #3184 "REQUEST: New membership for doshyt"
### GitHub Username

doshyt

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://group

[2022-01-14 20:24] ameukam commented on #2465
/reopen
/lifecycle frozen

[2022-01-15 02:05] jyotimahapatra commented on #3184
+1 Happy to have you on board! 🎉

[2022-01-15 08:28] rtsp opened #3185 "REQUEST: New membership for rtsp"
### GitHub Username

@rtsp

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2022-01-15 08:48] cristicalin commented on #3185
:+1:

Thanks for a great set of contributions so far @rtsp, looking forward to the next ones!

[2022-01-16 08:44] ybettan commented on #3140
+1

[2022-01-16 20:51] rhockenbury opened #3186 "REQUEST: New membership for rhockenbury"
### GitHub Username

rhockenbury

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2022-01-16 20:54] JamesLaverack commented on #3186
+1

[2022-01-16 20:54] JamesLaverack commented on #3184
+1

[2022-01-17 10:25] floryut commented on #3183
👍

Lots of useful contribs 🙇

[2022-01-17 10:32] floryut commented on #3185
👍

Of course man! my pleasure, thank you for your work.

[2022-01-17 15:47] DiptoChakrabarty opened #3187 "REQUEST: New membership for DiptoChakrabarty"
### GitHub Username

DiptoChakrabarty

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.googl

[2022-01-17 19:42] chriskim06 opened #3188 "REQUEST: New membership for chriskim06"
### GitHub Username

@chriskim06

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2022-01-18 15:17] #966 closed

[2022-01-18 18:23] jyotimahapatra commented on #3187
+1 Welcome to the  team

[2022-01-18 18:42] a7i opened #3191 "REQUEST: New membership for a7i"
### GitHub Username

a7i

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/fo

[2022-01-18 18:55] BenTheElder commented on #966
Should we do a one time catchup sync?

[2022-01-18 19:04] didicodes opened #3192 "REQUEST: New membership for didicodes"
### GitHub Username

@didicodes

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2022-01-18 19:12] nate-double-u commented on #3192
👍
LGTM!

[2022-01-18 19:48] jrsapi commented on #3192
/LGTM

[2022-01-18 20:16] damemi commented on #3191
+1
Thanks for all of your hard work!

[2022-01-18 20:56] ingvagabund commented on #3191
+1
Much appreciating all the effort

[2022-01-18 21:32] juanfescobar opened #3193 "REQUEST: New membership for juanfescobar"
### GitHub Username

juanfescobar

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2022-01-18 21:41] BenTheElder commented on #3193
cc @puerco

thanks @juanfescobar for joining the deb / RPM oncall (https://go.k8s.io/oncall) :-)

[2022-01-18 21:41] BenTheElder commented on #3193
explicit +1 :-)

[2022-01-18 22:13] puerco commented on #3193
+1 welcome @juanfescobar ! Looking forward to working with you!

[2022-01-19 15:01] jlsong01 opened #3195 "REQUEST: New membership for jlsong01"
### GitHub Username

jlsong01

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kube

[2022-01-19 15:05] liggitt commented on #3195
+1, welcome aboard

[2022-01-19 15:29] aojea commented on #3195
+1
keep up the good work

[2022-01-20 16:08] alexander-demichev opened #3197 "REQUEST: New membership for alexander-demichev"
### GitHub Username

alexander-demichev

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goo

[2022-01-20 16:58] heybronson opened #3198 "REQUEST: New membership for heybronson"
### GitHub Username

@heybronson

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2022-01-20 17:09] olemarkus commented on #3198
@heybronson has contributed a number of PRs to the kops project and I am happy to sponsor the membership.
+1

[2022-01-20 17:14] hakman commented on #3198
+1 from me too :)

[2022-01-20 19:49] zvonkok commented on #3140
@mrbobbytables @cblecker Anything needed to move this forward?

[2022-01-21 00:45] puerco commented on #3175
+1 @shuheiktgw is a member of the 1.24 release team.

[2022-01-21 00:45] puerco commented on #3176
+1 @nivedita-coder is a member of the 1.24 release team.

[2022-01-21 01:11] shuheiktgw commented on #3175
Should I create a PR like this https://github.com/kubernetes/org/pull/3172 myself?

[2022-01-21 02:56] palnabarun commented on #3180
+1 from my side as well.

[2022-01-21 03:07] palnabarun commented on #3187
+1 from me as well. Welcome to the team!

[2022-01-21 03:22] palnabarun commented on #3168
@csantanapr -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:22] palnabarun commented on #3170
@valaparthvi -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:23] palnabarun commented on #3173
@Lp-Francois -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:23] palnabarun commented on #3175
@shuheiktgw -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:23] palnabarun commented on #3176
@Nivedita-coder -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:23] palnabarun commented on #3178
@ptux -- thank you for all your contributions so far :)

I've created PR #3200 to add you to the org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2022-01-21 03:24] palnabarun commented on #3179
Should be fixed in #3200 :)

/assign

[2022-01-21 03:29] palnabarun commented on #3180
@s04-- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:29] palnabarun commented on #3181
@qabpea -- thank you for all your contributions so far :)

I've created PR #3200 to add you to the org. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-01-21 03:29] palnabarun commented on #3183
@necatican -- thank you for all your contributions so far :)

I've created PR #3200 to add you to the org. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-01-21 03:30] palnabarun commented on #3184
@doshyt -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:31] palnabarun commented on #3185
@rtsp -- thank you for all your contributions so far :)

I've created PR #3200 to add you to the org. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-01-21 03:31] palnabarun commented on #3186
@rhockenbury -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:31] palnabarun commented on #3187
@DiptoChakrabarty -- I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:32] palnabarun commented on #3188
Should be fixed in #3200 :)

/assign

[2022-01-21 03:32] palnabarun commented on #3192
@didicodes -- Welcome to Kubernetes Release Team! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:32] palnabarun commented on #3193
Thank you @juanfescobar for helping with the deb/RPM packaging! 🎉

I've created PR #3200 to add you to the requested org(s). Once that gets merged, you will receive membership invites.

Welcome!

/assign

[2022-01-21 03:32] palnabarun commented on #3195
@jlsong01 -- thank you for all your contributions so far :)

I've created PR #3200 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2022-01-21 03:32] palnabarun commented on #3197
should be fixed in #3200 :)

/assign

[2022-01-21 03:33] palnabarun commented on #3198
@heybronson -- thank you for all your contributions so far :)

I've created PR #3200 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2022-01-21 03:47] #3168 closed

[2022-01-21 03:47] #3170 closed

[2022-01-21 03:47] #3173 closed

[2022-01-21 03:47] #3175 closed

[2022-01-21 03:47] #3176 closed

[2022-01-21 03:48] #3178 closed

[2022-01-21 03:48] #3179 closed

[2022-01-21 03:48] #3180 closed

[2022-01-21 03:48] #3181 closed

[2022-01-21 03:48] #3183 closed

[2022-01-21 03:48] #3184 closed

[2022-01-21 03:48] #3185 closed

[2022-01-21 03:48] #3186 closed

[2022-01-21 03:48] #3187 closed

[2022-01-21 03:48] #3188 closed

[2022-01-21 03:48] #3192 closed

[2022-01-21 03:48] #3193 closed

[2022-01-21 03:48] #3195 closed

[2022-01-21 03:48] #3197 closed

[2022-01-21 03:48] #3198 closed

[2022-01-21 05:09] BenTheElder commented on #3193
thanks @palnabarun !

[2022-01-21 05:35] shuheiktgw commented on #3175
Thanks, @palnabarun! I'm excited to be part of the team 👍

[2022-01-21 15:35] juanfescobar commented on #3193
Thank you @BenTheElder , @puerco, and @palnabarun !!

[2022-01-21 16:31] jayesh-srivastava opened #3202 "REQUEST: New membership for jayesh-srivastava"
### GitHub Username

@jayesh-srivastava

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goo

[2022-01-22 12:20] zmalik opened #3203 "REQUEST: New membership for zmalik"
### GitHub Username

@zmalik

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2022-01-24 07:41] nikhita commented on #3037
Going to close this due to lack of activity. @bgeesaman if you are still interested, please feel free to reopen after adding more details in the GitHub issue. Thank you!

[2022-01-24 07:41] #3037 closed

[2022-01-24 07:41] nikhita commented on #3018
Closing due to lack of activity.

[2022-01-24 07:41] #3018 closed

[2022-01-24 13:33] ameukam commented on #3177
/sig testing
/area prow

cc @mrbobbytables @cblecker

[2022-01-24 14:53] mkumatag commented on #3169
as @mrbobbytables is OOTO, @cblecker @nikhita  can someone else help on this one?

[2022-01-24 16:11] shysank commented on #3203
+1, Thanks for all the contributions!

[2022-01-24 17:34] CecileRobertMichon commented on #3203
+1 👏

[2022-01-24 18:09] amacaskill opened #3206 "REQUEST: New membership for amacaskill"
### GitHub Username

@amacaskill

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com

[2022-01-24 18:14] mattcary commented on #3206
+1

Yes please :-)

[2022-01-24 19:26] XudongLiuHarold opened #3207 "REQUEST: New membership for XudongLiuHarold"
### GitHub Username

@XudongLiuHarold

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.googl

[2022-01-24 19:28] XudongLiuHarold commented on #3207
also cc: @andrewsykim @nicolehanjing as well

[2022-01-24 19:28] HanFa commented on #3207
+1, kudos! Thanks for all your contributions!

[2022-01-24 19:49] andrewsykim commented on #3207
+1 thanks @XudongLiuHarold for your work so far!

[2022-01-24 20:27] lubronzhan commented on #3207
+ Thanks Xudong!

[2022-01-25 02:28] dims opened #3208 "REQUEST: migrate github.com/dims/maintainers"
### New repo, staging repo, or migrate existing

migrate dims/maintainers to kubernetes-sigs/maintainers

### Is it a staging repo?

no

### Requested name for new repository

maintainers

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

dims, nikhita

### Who should have write access?

dims, nikhita, MadhavJivrajani, palnabarun, mrbobbytables

### Who s

[2022-01-25 02:29] nikhita commented on #3208
/assign

[2022-01-25 02:34] palnabarun commented on #3208
xref: https://github.com/dims/maintainers/pull/3 for adding the remaining boilerplate

[2022-01-25 02:34] palnabarun commented on #3208
/assign
(taking up some of the tasks)

[2022-01-25 05:17] sonasingh46 opened #3209 "REQUEST: New membership for sonasingh46"
### GitHub Username

@sonasingh46

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goog

[2022-01-25 06:18] krvaibhaw opened #3210 "REQUEST: New membership for krvaibhaw"
### GitHub Username

krvaibhaw

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2022-01-25 10:52] Shubham82 commented on #3068
Hi folks!
I am still getting EasyCLA check failure in my every PR. The latest one is [kubernetes/kubernetes#107744 (comment)](https://github.com/kubernetes/kubernetes/pull/107744#issuecomment-1020958251)

Please take a look!

[2022-01-25 12:16] jsafrane commented on #3206
+1

[2022-01-25 12:21] Potapy4 commented on #3210
+1

[2022-01-25 18:21] shysank commented on #3209
+1, Thank for all the contributions!

[2022-01-25 20:48] justaugustus commented on #3208
Huge +1 to this!
Also, happy to help do reviews/approvals here!

[2022-01-25 20:58] justaugustus opened #3211 "REQUEST: Migrate github.com/relengfam/peribolos"
### New repo, staging repo, or migrate existing

https://github.com/relengfam/peribolos

### Is it a staging repo?

no

### Requested name for new repository

https://github.com/kubernetes-sigs/peribolos

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@justaugustus + https://github.com/kubernetes/test-infra/blob/master/prow/cmd/peribolos/OWNERS + https

[2022-01-25 21:19] jihoon-seo commented on #3210
+1 :)

[2022-01-26 13:19] mrbobbytables commented on #3208
LGTM from me, but technically needs approval from our TLs before adopting a subproject. @nikhita has acked, but would like @cblecker to lgtm as well 👍
/assign @cblecker

[2022-01-26 13:22] mrbobbytables commented on #3211
Just to keep sig-testing in the loop as well:
cc @spiffxp @BenTheElder @stevekuznetsov @alvaroaleman @cjwagner

/assign @cblecker @nikhita
For sign off from contribex TLs

[2022-01-26 13:36] mrbobbytables commented on #2839
/remove-lifecycle stale
This fell off our radar :x Just double checking...do you still want to proceed with the migration?

[2022-01-26 13:40] mrbobbytables commented on #2966
The k/community PR has merged. This is good to close out!

/close

[2022-01-26 13:40] #2966 closed

[2022-01-26 13:47] mrbobbytables commented on #3118
It has been configured 👍

![Screen Shot 2022-01-26 at 8 47 06 AM](https://user-images.githubusercontent.com/6500863/151174397-95cba601-b34d-4e44-9762-9f7ab56c23d5.png)

With that, I'm going to go ahead and close this out.
Thanks!

/close

[2022-01-26 13:48] #3118 closed

[2022-01-26 14:09] mrbobbytables commented on #3140
@zvonkok It's mostly been a bandwidth issue - One thing that does block moving forward, most of the people that are listed are not currently members of any k8s org. They will have to apply and go through the regular process first before they can be added. If you want to proceed with just yourself and @adrianchiris we can do that.

[2022-01-26 16:10] mkumatag commented on #3118
@mrbobbytables how do I access any particular branch site? I tried the following the URL but it is not working.

https://release-0-1--kubernetes-sigs-cluster-api-ibmcloud.netlify.app

[2022-01-26 16:11] mrbobbytables commented on #3118
something needs to be pushed to the branch to trigger it to build.

[2022-01-26 16:19] paramsiddharth commented on #2839
@logicalhan @jpbetz Thoughts? I suppose we should proceed with the migration, shouldn't we?

[2022-01-26 18:02] zvonkok commented on #3140
@mrbobbytables Lets start with @zvonkok and @adrianchiris. I will ping the others for the membership application.

[2022-01-26 18:24] jpbetz commented on #2839
Yeah, I think we should proceed.

[2022-01-26 18:54] justaugustus commented on #3211
Thanks for tagging @kubernetes/sig-testing! Meant to include them in the original text!

[2022-01-26 19:36] paramsiddharth commented on #2839
@nikhita Are any of these still pending?

[2022-01-26 19:47] mrbobbytables commented on #3177
@listx can you add a netlify.toml to the root of the repo first and open up the DNS request? You can find more info on whats needed here: https://github.com/kubernetes/community/blob/master/github-management/subproject-site-requests.md#requesting-a-netlify-site

[2022-01-26 20:24] alvaroaleman commented on #3211
First time I see relengfam/peribolos. Do I understand it correctly that the goal of that is to move peribolos out of the test-infra repo into its own, dedicated repo?

Not formally an approver (we might want to change that), but cc @petr-muller

[2022-01-26 20:45] cblecker commented on #3211
Yeah, same questions as @alvaroaleman.. is there a reason we would maintain a fork of our own project? It's already delivered as a container image.

[2022-01-26 21:11] justaugustus commented on #3211
@alvaroaleman @cblecker -- It would be to migrate peribolos to a dedicated repo to be managed, not fork it (the fork was just a intermediary step for me to hack on it for non-Kubernetes orgs).

@alvaroaleman -- FWIW, no one is an approver for `prow/cmd/peribolos`: https://github.com/kubernetes/test-infra/blob/4815ef39e507764a9b93bf1a2e390cf9273e78a3/prow/cmd/peribolos/OWNERS

It defers to Prow rev

[2022-01-26 21:43] alvaroaleman commented on #3211
Yes, the same group of ppl that maintains Prow also maintains Peribolos

Not a Prow component per se but developed as part of Prow.

Thanks to @chaodaiG we already do testing without bazel and there is a general consensus on wanting to get rid of Bazel.

I guess in general I would like to see a case being made for moving it out (This doesn't mean I am opposed to the idea or anything, just that I w

[2022-01-27 00:24] BenTheElder commented on #3211
Without commenting on the other details (too many threads, haven't digested this yet) -- the test-infra bazel removal part @chaodaiG is indeed actively making progress on with a little support from me since ~Q3? 2021, that is tracked in https://github.com/kubernetes/test-infra/issues/23796 and many sub issues. Python for example is fully migrated as of 5 days ago.

[2022-01-27 00:26] aartij17 opened #3215 "REQUEST: New membership for aartij17"
### GitHub Username

aartij17

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.c

[2022-01-27 00:39] srm09 commented on #3215
Huge +1 from my side, thanks for all the great work in the CAPV community.

[2022-01-27 05:04] dharmjit opened #3216 "REQUEST: New membership for dharmjit"
### GitHub Username

@dharmjit

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2022-01-27 05:50] richardcase commented on #3216
+1 from me

[2022-01-27 06:03] anusha94 commented on #3216
+1 🚀

[2022-01-27 06:38] vrabbi commented on #3215
Huge +1!!

[2022-01-27 07:52] sbueringer commented on #3216
+1 Welcome! :)

[2022-01-27 11:32] nirarg opened #3217 "REQUEST: New membership for nirarg"
### GitHub Username

@nirarg

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://grou

[2022-01-27 11:49] rmohr commented on #3217
+1 also from me, as sponsor from a second company.

[2022-01-27 11:56] cchengleo commented on #3217
+1 from me! And thanks for the contribution!

[2022-01-27 13:01] leonardpahlke opened #3218 "REQUEST: Migrate encodeflush/testgrid-json-exporter"
### New repo, staging repo, or migrate existing

https://github.com/encodeflush/testgrid-json-exporter

### Is it a staging repo?

no

### Requested name for new repository

sigs.k8s.io/testgrid-json-exporter

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@sig-release-admins

### Who should have write access?

@sig-release-admins

### Who should be li

[2022-01-27 13:10] ingvagabund commented on #3191
From https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#slos:
[code]

@kubernetes/owners

[2022-01-27 13:34] saschagrunert commented on #3218
+1 from my side

[2022-01-27 13:49] mrbobbytables commented on #3140
/assign

[2022-01-27 14:08] mrbobbytables commented on #3140
The repo has been created - https://github.com/kubernetes-sigs/special-resource-operator
Once the other 2 PRs are merged adding the teams and updating sigs.yaml this should be done 🎉

[2022-01-27 14:22] justaugustus commented on #3218
+1 from me!

[2022-01-27 16:03] mrbobbytables commented on #3218
@encodeflush can you weigh in as the current owner of the repo?

There are some changes that need to be merged before we it can be migrated, please see the requirements here: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2022-01-27 16:59] leonardpahlke commented on #3218
I have just added the template files from the [kubernetes-template-project](https://github.com/kubernetes/kubernetes-template-project).

[2022-01-27 17:29] agradouski commented on #3217
+1 thank you Nir for all the contributions so far. welcome aboard!

[2022-01-27 23:17] listx commented on #3177
Thanks for the pointers! I created https://github.com/kubernetes/test-infra/pull/25042 for the `netlify.toml` and https://github.com/kubernetes/k8s.io/issues/3315 for the DNS update request.

[2022-01-28 07:45] jamiemonserrate opened #3220 "REQUEST: New membership for jamiemonserrate"
### GitHub Username

@jamiemonserrate

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.

[2022-01-28 07:46] anusha94 commented on #3220
+1 🚀

[2022-01-28 10:27] richardcase commented on #3220
+1 :tada:   Yes please, love the BYOH provider

[2022-01-28 10:29] richardcase commented on #3220
Just to note that https://github.com/vmware-tanzu/cluster-api-provider-bringyourownhost is in the process of being donated to kubernetes-sigs

[2022-01-28 14:43] encodeflush commented on #3218
@mrbobbytables @leonardpahlke

AFAIC, the above mentioned git repository is following the rules for donated repositories:
- [X] All contributors must have signed the CNCF Individual CLA or CNCF Corporate CLA
- [X] If (a) contributor(s) have not signed the CLA and could not be reached, a NOTICE file should be added referencing section 7 of the CLA with a list of the developers who could not be reac

[2022-01-29 09:15] ardaguclu opened #3222 "REQUEST: New membership for ardaguclu"
### GitHub Username

@ardaguclu

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/

[2022-01-30 13:28] cpanato commented on #3202
+1

[2022-01-30 15:36] dims commented on #3202
+1

[2022-01-30 22:33] cblecker commented on #3208
Tool is great. The repo name... not so much. "maintainers" is extremely generic. Any suggestions if we can make this more specific? Or does anyone disagree with me?

[2022-01-30 23:10] justaugustus commented on #3208
Same vibes over here!
I mentioned to @dims when he first unveiled it and he suggested we take the bikeshed as a post-migration step :)

[2022-01-30 23:28] dims commented on #3208
+1 to bikeshed a name :)

[2022-01-31 00:12] cblecker commented on #3208
We usually don't bikeshed repo names *after* migrating a repo in though. It's usually a step during this exact process to do any bike shedding.

[2022-01-31 08:18] nikhita commented on #3208
Maybe `maintainer-stats` similar to devstats? 🤔

[2022-01-31 14:07] mrbobbytables commented on #3177
Netlify is setup - but currently throws errors when building since the site contents do not exist yet.
https://app.netlify.com/sites/kubernetes-prow/deploys/61f7ec64bf4b25c69f6a9b41

The domain portion will have to wait till k8s.io is updated.

[2022-01-31 14:21] mrbobbytables commented on #3218
@encodeflush - You should be good, I wanted your ack on the issue as we cannot transfer repos without the help of the actual owner of the repo.

[2022-01-31 16:49] mrbobbytables commented on #3166
@davidvossel sponsors must be a r[eviewer or approver in an owners file](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements), neither @agradouski or @rmohr would be valid sponsors. Is there anyone else that could sponsor you?

[2022-01-31 17:09] mrbobbytables commented on #3203
/assign

[2022-01-31 17:12] mrbobbytables commented on #3206
/assign

[2022-01-31 17:17] mrbobbytables commented on #3207
/assign

[2022-01-31 17:18] mrbobbytables commented on #3209
/assign

[2022-01-31 17:26] mrbobbytables commented on #3215
/assign

[2022-01-31 17:29] mrbobbytables commented on #3216
/assign

[2022-01-31 17:32] mrbobbytables commented on #3217
@nirarg sponsors must be a reviewer or approver in an OWNERS file and from different companies. Please see the [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) for more information.

[2022-01-31 17:33] rmohr commented on #3166
@mrbobbytables I am approver in the capk repository since a few days. Does that help?

[2022-01-31 17:34] rmohr commented on #3166
https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/6ec57de19dcaaf4f63649c365627d242d8beb22f/OWNERS#L6

[2022-01-31 17:35] rmohr commented on #3217
I am owner since a few days here: https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/6ec57de19dcaaf4f63649c365627d242d8beb22f/OWNERS#L6. does that help?

[2022-01-31 17:47] davidvossel commented on #3166
Both @agradouski  and @rmohr are approvers for the [capk project](https://github.com/kubernetes-sigs/cluster-api-provider-kubevirt/blob/6ec57de19dcaaf4f63649c365627d242d8beb22f/OWNERS#L6). Does that satisfy the requirements?

[2022-01-31 17:53] mrbobbytables commented on #3166
@davidvossel  @rmohr - hm...[hound](https://cs.k8s.io) isn't indexing that one, I raised an issue with k8s infra about it. Sorry about that.

We can proceed 👍

[2022-01-31 18:24] mrbobbytables commented on #3217
It does - our search engine wasn't indexing that repo for some reason. Our usual check is to use `https://go.k8s.io/owners/<github handle>` e.g. https://go.k8s.io/owners/mrbobbytables.

I've raised an issue with sig-k8s-infra on it 👍

/assign

[2022-01-31 18:27] mrbobbytables commented on #3166
/assign

[2022-01-31 18:35] mrbobbytables commented on #3220
There needs to be contributions to the project before applying for org membership. Can you please link some?

Also both sponsors must be a reviewer/approver, @anusha94 is a member, not a reviewer/approver.^^;;

[2022-01-31 18:52] mrbobbytables commented on #3166
Welcome to kubernetes! 🎉

I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

[2022-01-31 18:53] ingvagabund commented on #3191
@mrbobbytables @damemi no longer works in RH. Would that help or is there some probation period for which a former RH employee is not allowed to +1 alongside another RH employee?

[2022-01-31 18:53] mrbobbytables commented on #3202
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:53] mrbobbytables commented on #3203
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:53] mrbobbytables commented on #3206
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:53] mrbobbytables commented on #3207
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:55] mrbobbytables commented on #3208
FYI - accidentally referenced this issue in 3223, it is not related to org membership requests. XD

[2022-01-31 18:55] mrbobbytables commented on #3209
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:55] mrbobbytables commented on #3210
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:55] mrbobbytables commented on #3215
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:55] mrbobbytables commented on #3216
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 18:55] mrbobbytables commented on #3217
I've created PR #3223  to add you to the Kubernetes project. Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-01-31 19:00] mrbobbytables commented on #3191
We usually use github profile and/or devstats to verify employer (both still say RedHat :x). No probation period needed, but would need some verification from @damemi about it.

[2022-01-31 19:22] #3166 closed

[2022-01-31 19:22] #3202 closed

[2022-01-31 19:22] #3203 closed

[2022-01-31 19:22] #3206 closed

[2022-01-31 19:22] #3207 closed

[2022-01-31 19:22] #3209 closed

[2022-01-31 19:22] #3210 closed

[2022-01-31 19:22] #3215 closed

[2022-01-31 19:22] #3216 closed

[2022-01-31 19:22] #3217 closed

[2022-01-31 22:31] damemi commented on #3191
Hi, so sorry to delay this, yes @ingvagabund is correct, I left Red Hat (and forgot to update my Github profile... whoops)

I have updated that now. As an aside, is there anything I need to do to update devstats too?

Let me know if there's anything else you need

[2022-01-31 23:56] ameukam commented on #3177
@mrbobbytables Is it possible to override Netlify tests https://github.com/kubernetes/test-infra/pull/24980#issuecomment-1026324015 ?

[2022-02-01 00:06] mrbobbytables commented on #3177
@ameukam netlify tests aren't actually required status checks, but they should be configured in prow tobe ignored for the test-infra repo. I've disabled all builds for k/test-infra for now.

[2022-02-01 04:09] MadhavJivrajani commented on #3215
W00000t
/pony Twilight Sparkle

[2022-02-01 08:43] jamiemonserrate commented on #3220
@mrbobbytables - Thanks for reviewing this. I've updated the list with my contributions. And changed my sponsor as well.

Thanks for your help!

[2022-02-01 11:17] sttts commented on #3222
+1

[2022-02-01 11:46] fabriziopandini commented on #3220
+1
Looking forward for to see how the BYOH provider will grow given the initial wave interest this triggered in the community

[2022-02-01 13:38] mrbobbytables commented on #3220
Even though you plan to donate it to the Kubernetes project, the contributions don't really count until the project has officially been donated and under one of the kubernetes managed orgs.

I'd hold off on applying till then or focus a bit more on in-project things for a bit.^^:;;

[2022-02-01 14:03] idvoretskyi commented on #3191
@damemi yes, the process is described here - https://github.com/cncf/devstats#company-affiliations

[2022-02-01 14:43] erikgb opened #3225 "REQUEST: New membership for erikgb"
### GitHub Username

@erikgb

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.co

[2022-02-01 16:52] apelisse commented on #3222
+1!

[2022-02-01 18:33] BenTheElder commented on #3177
https://groups.google.com/d/msgid/kubernetes-sig-testing/CAPgXYS6Gs6JGz%2BQt%3D%2B86XB1FNGx4quFtcgSaJnCjnBJ_DxTKNQ%40mail.gmail.com?utm_medium=email&utm_source=footer

can we halt this and enable it on the soon to be requested dedicated repo?

[2022-02-01 21:36] jamiemonserrate commented on #3220
@mrbobbytables - That's fair. I will close this issue, and apply again later when I have more contributions. Thanks!

[2022-02-01 21:36] #3220 closed

[2022-02-02 01:19] listx opened #3228 "REQUEST: Create github repo for Prow docs"
### New repo, staging repo, or migrate existing

new repository

### Is it a staging repo?

no

### Requested name for new repository

prow

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

  - alvaroaleman
  - cblecker
  - cjwagner
  - fejta
  - stevekuznetsov
  - petr-muller

### Who should have write access?

  - alvaroaleman
  - cblecker
  - cjwagner

[2022-02-02 01:20] listx commented on #3228
/cc @BenTheElder @spiffxp @cjwagner @stevekuznetsov @alvaroaleman

[2022-02-02 01:23] listx commented on #3177
Let's wait for https://github.com/kubernetes/org/issues/3228 to resolve first (thanks @BenTheElder for the assist).

[2022-02-02 01:35] BenTheElder commented on #3228
+1

[2022-02-02 02:35] cjwagner commented on #3228
+1, but for all of the "Who" questions we should probably include the maintainers of Prow too rather than only Linus.
Maybe the OWNERS file [approvers](https://github.com/kubernetes/test-infra/blob/1256a81e66d64ace1cf50520e82510a3316319d6/prow/OWNERS#L4-L8)? (which should also [include Petr](https://github.com/kubernetes/test-infra/pull/25078))

[2022-02-02 08:22] ardaguclu commented on #3222
Thanks @sttts @apelisse

[2022-02-02 11:43] nunnatsa opened #3229 "REQUEST: New membership for nunnatsa"
### GitHub Username

@nunnatsa

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://gr

[2022-02-02 12:48] rmohr commented on #3229
+1 for adding @nunnatsa

[2022-02-02 14:07] camilamacedo86 commented on #3225
+1 .
/lgtm

[2022-02-02 14:22] adrianludwin commented on #3225
+1!

[2022-02-03 10:45] cchengleo commented on #3229
+1 for adding @nunnatsa!

[2022-02-03 23:08] amacaskill opened #3231 "REQUEST: New membership for amacaskill"
### GitHub Username

amacaskill

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google

[2022-02-04 01:32] mattcary commented on #3231
+1

[2022-02-04 09:30] Prajyot-Parab opened #3232 "REQUEST: New membership for Prajyot-Parab"
### GitHub Username

Prajyot-Parab

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.goo

[2022-02-04 09:34] mkumatag commented on #3232
+1 from me, @Prajyot-Parab thanks for all your contributions, keep up the good work.

[2022-02-04 12:41] Madhur97 opened #3233 "REQUEST: New membership for @Madhur97"
### GitHub Username

@Madhur97

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.

[2022-02-04 13:34] richardcase commented on #3233
+1 from me :+1:

[2022-02-04 13:45] Ankitasw commented on #3233
+1

[2022-02-04 14:09] shivi28 commented on #3233
+1, Thanks @Madhur97 for all the contributions so far!

[2022-02-04 19:25] CecileRobertMichon commented on #3232
+1 from me as well

[2022-02-04 19:55] listx commented on #3228
Done (updated the responses in my first comment).

[2022-02-04 23:02] a7i commented on #3191
Hello @idvoretskyi / @mrbobbytables  @damemi has updated his GitHub profile. Anything pending on my side? Thank you!

[2022-02-05 16:16] richardgreg commented on #3208
Hi all, I'm an applicant for the Linux Foundation Mentorship program, and I am interested in working on the project. I'm in the process of completing the initial task. Please let me know if there's anything else I have to do. Thank you.

[2022-02-05 18:14] #2671 closed

[2022-02-07 06:04] mitul3737 opened #3236 "REQUEST: New membership for mitul3737"
### GitHub Username

mitul3737

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2022-02-07 06:16] palnabarun commented on #3236
@mitul3737 -- Please make sure you have reviewed the [membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements). Neither of your sponsors seems to be in the Kubernetes orgs or are reviewers/approvers.

My suggestion would be to talk to the SIG Docs Chairs/TLs and make sure you have sufficient sponsorship for membership. Also, we require that

[2022-02-07 06:22] mitul3737 commented on #3236
okay, sure. I  was trying to contribute to Bengali documentation. And this is my PR(https://github.com/kubernetes/website/pull/31644). Do I need to be an org member or do I need to create a PR for the Bengali label & add admins and reviewers? I created those PR and thus having these issues

[2022-02-07 06:26] palnabarun commented on #3236
For the label PR, you don't need to be an org member. For adding someone as an owner/reviewer, they need to be an org member.

I would suggest you to talk to the SIG Docs owners to find a way to satisfy the requirements.

[2022-02-07 06:27] mitul3737 commented on #3236
okay sure @palnabarun . Thank you!

[2022-02-07 08:28] nikhita commented on #3228
/assign

Repo has been created - https://github.com/kubernetes-sigs/prow

Also created:
- https://github.com/kubernetes/org/pull/3237 - to add the GitHub team to grant access
- https://github.com/kubernetes/community/pull/6430 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2022-02-07 09:16] jsafrane commented on #3231
+1

[2022-02-07 09:22] jsafrane commented on #3231
I knew this sounds familiar. Is it a dup of https://github.com/kubernetes/org/issues/3206 ?

[2022-02-07 17:02] mattcary commented on #3231
Ah, thank you. I couldn't remember the procedure here. So basically do
https://github.com/kubernetes/org/pull/3199?

On Mon, Feb 7, 2022 at 6:18 AM Bob Killen ***@***.***> wrote:

[2022-02-07 17:11] palnabarun commented on #3231
@mattcary -- yes! You got that right. :)

[2022-02-07 17:15] #3231 closed

[2022-02-08 06:58] #3228 closed

[2022-02-08 22:59] presztak opened #3239 "REQUEST: New membership for presztak"
### GitHub Username

@presztak

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.com/f

[2022-02-09 13:24] rolfedh opened #3240 "REQUEST: New membership for @rolfedh"
### GitHub Username

@rolfedh

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes-dev e-mail list](https://groups.google.c

[2022-02-09 17:22] nate-double-u commented on #3240
Rolfe has been a great help as an editor and writer on the website and blog for a while, and I'm happy to sponsor his application for membership!

/lgtm

[2022-02-10 01:20] sftim commented on #3240
:+1: for sponsorship. Thanks for contributing to SIG Docs.

[2022-02-10 01:45] lzhecheng opened #3242 "REQUEST: New membership for lzhecheng"
### GitHub Username

@lzhecheng

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-02-10 01:56] reylejano commented on #3240
+1 from me, @rolfedh has been contributing to SIG Docs

[2022-02-10 06:22] lzhecheng opened #3243 "REQUEST: New membership for lzhecheng"
### GitHub Username

@lzhecheng

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-02-10 07:20] feiskyer commented on #3243
+1 for @lzhecheng. Thanks for your contribution!

[2022-02-10 07:21] feiskyer commented on #3242
+1 for @lzhecheng. Thanks for your contribution!

[2022-02-10 12:50] #3243 closed

[2022-02-10 17:39] joelanford opened #3244 "REQUEST: New membership for @joelanford"
### GitHub Username

@joelanford

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-02-10 17:46] benluddy opened #3245 "REQUEST: New membership for benluddy"
### GitHub Username

@benluddy

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-02-10 18:16] sttts commented on #3245
Strong +1

[2022-02-10 18:20] jpbetz commented on #3245
+1

Thanks for all you've done Ben!

[2022-02-10 21:35] leiyiz opened #3246 "REQUEST: New membership for leiyiz"
### GitHub Username

@leiyiz

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail li

[2022-02-10 22:41] medyagh commented on #3239
I sponsor @presztak to be in k8s org

[2022-02-10 23:27] mattcary commented on #3246
+1 !

[2022-02-11 01:32] lzhecheng commented on #3243
@mrbobbytables got it. Thanks!

[2022-02-11 02:00] gnufied commented on #3246
+1

[2022-02-11 07:05] palnabarun commented on #3222
@ardaguclu -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:07] ardaguclu commented on #3222
Thanks @palnabarun

[2022-02-11 07:08] palnabarun commented on #3225
@erikgb -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:10] palnabarun commented on #3229
@nunnatsa -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:12] palnabarun commented on #3232
@Prajyot-Parab -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:13] palnabarun commented on #3233
@Madhur97 -- thank you for all your contributions to CAPA and CAPI !!! :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:15] palnabarun commented on #3239
@presztak -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:18] palnabarun commented on #3240
@rolfedh -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:23] palnabarun commented on #3244
@joelanford -- I have added you the Kubernetes org in #3247. Since the org memberships are equivalent now, you can directly create a PR adding you to any additional org if you are part of one. A membership request issue isn't needed anymore for such cases. :)

/assign

[2022-02-11 07:24] palnabarun commented on #3245
@benluddy -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:27] palnabarun commented on #3246
@leiyiz -- thank you for all your contributions so far :)

I've created PR #3247 to add you to the requests org(s). Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-11 07:30] #3191 closed

[2022-02-11 07:30] #3222 closed

[2022-02-11 07:30] #3225 closed

[2022-02-11 07:30] #3240 closed, assigned to palnabarun

[2022-02-11 07:30] #3244 closed

[2022-02-11 07:30] #3245 closed, assigned to palnabarun

[2022-02-11 11:35] rolfedh commented on #3240
Thank you, @nate-double-u, @sftim, @reylejano, and @palnabarun for your help with this. I'm very proud to be a member now and look forward to contributing more!

[2022-02-11 13:14] mrbobbytables commented on #3169
/assign

[2022-02-11 14:02] mrbobbytables commented on #3169
@Madhan-SWE - I spoke with @mkumatag, to speed up migration we moved forward with just him as an owner and a member of the team. You will need to apply for org membership, and we can follow up on adding you to the appropriate groups after 👍

repo has been migrated ✅
teams have been added ✅
Once the PR updating the cloud-provider subproject merges, this should be complete and good to go.

Sorry it'

[2022-02-11 14:09] mkumatag commented on #3169
Thanks a lot folks @mrbobbytables @spzala @gyliu513 @andrewsykim @cheftako @nckturner

[2022-02-11 16:12] mrbobbytables commented on #2839
The OWNERS file, the template files and something else that was missed - There are 5 files that are missing kubernetes author headers:
[code]

[2022-02-11 18:53] jyotimahapatra opened #3249 "REQUEST: New membership in kubernetes-sigs for jyotimahapatra"
### GitHub Username

jyotimahapatra

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.go

[2022-02-11 19:00] nckturner commented on #3249
+1 from me

[2022-02-11 21:00] #2716 closed

[2022-02-12 13:40] jayunit100 commented on #3242
+1 from me to !

[2022-02-14 06:04] palnabarun commented on #3249
Hi @jyotimahapatra, since you are already a member of the @kubernetes org, you don't need to raise a new membership request again. You can PR yourself into the @kubernetes-sigs org, for example, https://github.com/kubernetes/org/pull/3238, and I can approve the same.

[2022-02-14 12:55] isaacdorfman opened #3252 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username

isaacdorfman

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-02-14 20:04] jyotimahapatra commented on #3249
Thank you @palnabarun . Here's the PR https://github.com/kubernetes/org/pull/3253/files

[2022-02-15 01:18] lzhecheng commented on #3242
@palnabarun could you help approve my membership? @mrbobbytables doesn't seem available. Thank you!

[2022-02-15 01:37] CatherineF-dev opened #3255 "REQUEST: New membership for CatherineF-dev"
### GitHub Username

CatherineF-dev

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https

[2022-02-15 02:52] MartinForReal opened #3256 "REQUEST: New membership for MartinForReal"
### GitHub Username

@MartinForReal

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-02-15 06:45] sbueringer commented on #3256
+1
from my side

(Afaik kubernetes org membership should be "automatic" because of kubernetes-sigs org membership: https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem)

[2022-02-15 06:54] feiskyer commented on #3256
+1 from me

Thanks @MartinForReal for the contributions!

[2022-02-15 14:33] MartinForReal opened #3257 "REQUEST: New integration for kubernetes-sigs/cloud-provider-azure"
### Organization or Repo

kubernetes-sigs/cloud-provider-azure

### Name of integration

Microsoft Teams for GitHub

### Link to integration website

https://github.com/marketplace/microsoft-teams-for-github

### Describe what is attempting to be accomplished

send new notification to Microsoft teams.

### Additional context for request

_No response_

[2022-02-15 14:38] MartinForReal opened #3258 "REQUEST: New integration for kubernetes-sigs/cloud-provider-azure"
### Organization or Repo

kubernetes-sigs/cloud-provider-azure

### Name of integration

Azure Boards

### Link to integration website

https://github.com/marketplace/azure-boards

### Describe what is attempting to be accomplished

Track all issues at every development stage and keep team aligned with all code changes in GitHub, which are linked directly to Azure Boards work items.

### Additiona

[2022-02-15 14:40] leonardpahlke opened #3259 "REQUEST:Migrate leonardpahlke/application-summary"
### New repo, staging repo, or migrate existing

* ~https://github.com/leonardpahlke/application-summary~
* https://github.com/leonardpahlke/release-team-shadow-stats

### Is it a staging repo?

no

### Requested name for new repository

* ~sigs.k8s.io/application-analysis~
* sigs.k8s.io/release-team-shadow-stats

### Which Organization should it reside

kubernetes-sigs

### Who should have admin

[2022-02-15 14:57] palnabarun commented on #3256
@MartinForReal -- @sbueringer is right. You don't need to raise a new request for membership. You can just PR yourself into the Kubernetes org (like in https://github.com/kubernetes/org/pull/3238) and I can approve the PR.

[2022-02-15 15:28] #3256 closed

[2022-02-15 15:30] MartinForReal commented on #3256
@palnabarun Thanks for the instructions!

[2022-02-16 00:31] MartinForReal commented on #3258
/assign @nikhita

[2022-02-16 00:31] MartinForReal commented on #3257
/assign @nikhita

[2022-02-16 00:37] mrbobbytables commented on #3257
I don't think this is something we will enable - any notifications should goto the public k8s slack. We do not endorse or use teams.

[2022-02-16 00:38] mrbobbytables commented on #3258
Similar to #3257 We do not integrate with things that aren't accessible or usable by the broad k8s community. - Slack, GitHub boards etc.

[2022-02-16 00:39] MartinForReal commented on #3258
I see. Thanks for the clarification!

[2022-02-16 00:39] #3258 closed

[2022-02-16 00:39] MartinForReal commented on #3257
I see. Thanks for the clarification!

[2022-02-16 00:44] #3257 closed

[2022-02-16 01:02] Huang-Wei opened #3262 "REQUEST: Archive repo kubernetes-sigs/poseidon"
### Repository to archive

kubernetes-sigs/poseidon

### Repository and/or sig subproject owners that are approving this archival

@deepak-vij

### When should this be done

Anytime

### Additional context for request

_No response_

[2022-02-16 01:12] ahg-g commented on #3262
/lgtm

[2022-02-16 01:31] ahg-g opened #3263 "REQUEST: Create repo to host Kueue"
### New repo, staging repo, or migrate existing

New

### Is it a staging repo?

no

### Requested name for new repository

kueue

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

ahg-g, alculquicondor

### Who should have write access?

ahg-g, alculquicondor

### Who should be listed as approvers in OWNERS?

ahg-g, alculquicondor

### Who should be list

[2022-02-16 01:31] ahg-g commented on #3263
@Huang-Wei @alculquicondor

[2022-02-16 01:59] ahg-g commented on #3263
Here is also an email sent to the mailing list: https://github.com/kubernetes/org/issues/3263

[2022-02-16 02:05] deepak-vij commented on #3262
Hi @Huang-Wei & @ahg-g , how easy would it be for me to un-archive the archived project, if needed in future. Is there a process set up to do that? Please let me know, just in case. Thanks.

[2022-02-16 03:10] Huang-Wei commented on #3263
+1

I guess we need sponsors from committee?

[2022-02-16 03:54] mrbobbytables commented on #3262
@deepak-vij repos that are archived are moved to another org and set to an archived state - no new issues/prs can be opened against them, but the code is still public and can be cloned/forked.

We generally encourage people to fork and continue development outside of the kubernetes project if it is something they wish to continue on their own.

[2022-02-16 04:08] deepak-vij commented on #3262
@mrbobbytables, perfect. Thanks.

[2022-02-16 05:58] nikhita commented on #3263
/assign

Repo has been created - https://github.com/kubernetes-sigs/kueue

Also created:
- https://github.com/kubernetes/org/pull/3264 - to add the GitHub team to grant access
- https://github.com/kubernetes/community/pull/6477 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2022-02-16 08:22] sashrith opened #3265 "REQUEST: New membership for sashrith"
### GitHub Username

 @sashrith

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-02-16 08:50] #3242 closed

[2022-02-16 08:50] palnabarun commented on #3242
Hi @lzhecheng 👋🏽, I have approved the PR. Just as a note, we approve membership requests in batches within 7 days of all requirements being met.

/assign

[2022-02-16 13:32] xing-yang commented on #3265
+1

[2022-02-16 13:37] xing-yang commented on #3265
/assign @palnabarun

[2022-02-16 13:58] savitharaghunathan commented on #3249
https://github.com/kubernetes/org/pull/3253/ merged. Please re-open if there is any issue with the membership invite.

/close

[2022-02-16 13:59] #3249 closed

[2022-02-16 14:27] MartinForReal opened #3268 "REQUEST: Netlify site for kubernetes-sigs/cloud-provider-azure"
### Repository

kubernetes-sigs/cloud-provider-azure

### Project domain

cloud-provider-azure.sigs.k8s.io

### Additional context for request

Making subdomain request at same time as Netlify request, not sure on the proper order of operations here but would love to have both enabled soon.

[2022-02-16 14:29] ahg-g commented on #3263
Thanks @nikhita for the quick response!

[2022-02-16 14:30] #3263 closed

[2022-02-16 16:46] logicalhan commented on #3255
/lgtm
/approve

Welcome!!

[2022-02-16 17:27] ehashman commented on #3255
+1 :partying_face:

[2022-02-16 18:29] chaodaiG opened #3270 "REQUEST: New membership for chaodaiG"
### GitHub Username

chaodaiG

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-02-16 18:29] chaodaiG commented on #3270
/assign @cjwagner @alvaroaleman

[2022-02-16 18:32] RaunakShah commented on #3265
+1

[2022-02-16 18:36] alvaroaleman commented on #3270
+1 but I think you can just add yourself to k-sigs since you are already a k member: https://github.com/kubernetes/org/issues/3244#issuecomment-1035939895

[2022-02-16 18:55] chaodaiG commented on #3270
good point, adding myself in https://github.com/kubernetes/org/pull/3271

[2022-02-16 19:02] #3270 closed

[2022-02-17 07:16] MartinForReal commented on #3268
/assign @mrbobbytables

[2022-02-17 16:56] gtxu opened #3275 "REQUEST: New membership for gtxu"
### GitHub Username

gtxu

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-02-17 18:44] gnufied commented on #3275
+1

[2022-02-18 04:10] nikhita commented on #3208
Would really like to move ahead with this, and I'm okay with `maintainers` for the repo name tbh.

@cblecker do you still have concerns and/or do you have ideas for the rename?

[2022-02-18 04:30] nikhita commented on #3259
@leonardpahlke :wave: There are a few more things we'll need to do as prerequisites for migrating the repo:

- The files in the repo need to match https://github.com/kubernetes/kubernetes-template-project. This would require updates like adding the boilerplate header to all files and updating the README to match the format in the template-project.
- Can you also rename the repo to release-team-sha

[2022-02-18 04:35] nikhita commented on #3218
/assign

@encodeflush We need to move user-owned repos to a (dummy) org-owned repo to be able to migrate it over to another org. I have invited you to https://github.com/kubernetes-purgatory. Please migrate the repo to that org and I'll migrate it over to k-sigs. Please ping me directly on slack after you move the repo to purgatory.

[2022-02-18 05:55] justaugustus commented on #3208
+1 to moving along. Bikeshed seems unnecessary here.

[2022-02-18 09:13] Madhan-SWE opened #3278 "REQUEST: New membership for Madhan-SWE"
### GitHub Username

Madhan-SWE

### Organization you are requesting membership in

kubernetes kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-02-18 09:19] mkumatag commented on #3278
+1 from my side, thanks @Madhan-SWE for all the contributions so far, keep up the good work 🎉

[2022-02-18 11:45] dims commented on #3208
+1 to move ahead

[2022-02-18 14:11] pmotyka opened #3279 "REQUEST: Migrate aws/cluster-api-provider-cloudstack"
### New repo, staging repo, or migrate existing

Migrate existing - https://github.com/aws/cluster-api-provider-cloudstack

### Is it a staging repo?

no

### Requested name for new repository

cluster-api-provider-cloudstack

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

pmotyka rohityadavcloud

### Who should have write access?

We will set this up

[2022-02-18 14:22] pmotyka commented on #3279
@caniszczyk

Per - https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

Could you please perform a review of third party dependencies?

[2022-02-18 14:35] mrbobbytables commented on #3279
@pmotyka  There doesn't appear to be approval from the SCL leads in the thread you linked, we need that first before anything can proceed.

That is also ALOT of people to put in an owners file, and none are currently org members. + more than the total # of contributors to the project already. That list will need to be cut down and they will need to go through the usual process for org membership w

[2022-02-18 21:41] cblecker commented on #3208
sounds like there is consensus to move ahead with the name as is.

lgtm from me

[2022-02-18 22:36] caniszczyk commented on #3279
+1 from a CNCF POV no major issues that would cause a roadblock here

[2022-02-19 11:52] rohityadavcloud commented on #3279
Thanks for the review @caniszczyk.

@mrbobbytables as Peter advised we have an agenda to discuss, build support, and get approval in the sig-cluster-lifecycle Tuesday meeting. We had discussed this starting with the SIG mailing list and discussed this in the Cluster API project meeting (https://docs.google.com/document/d/1ushaVqAKYnZ2VN_aa3GyKlS4kEd6bSug13xaXOakAQI/edit) on 9th Feb 2022 where we w

[2022-02-20 13:00] xing-yang commented on #3265
/assign @nikhita

[2022-02-20 14:53] mrbobbytables commented on #3068
We will close the feedback thread on March 5th, that will have been 1 month post-cut over. 👍

[2022-02-22 11:19] adrianchiris opened #3280 "REQUEST: New membership for adrianchiris"
### GitHub Username

@adrianchiris

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-02-22 11:20] adrianchiris commented on #3280
/cc @zvonkok

[2022-02-22 13:22] leonardpahlke commented on #3259
Done +1

[2022-02-22 17:25] neolit123 commented on #3279
+1 on the repo creation

[2022-02-22 17:26] vincepri commented on #3279
+1 on the repository

To recap the discussion in today's SIG meeting, we'd like to ask folks here to trim the approvers list to 2-3 members at most to start with and then promote folks over time.

[2022-02-22 17:28] fabriziopandini commented on #3279
+1 on the repository

[2022-02-22 17:36] rohityadavcloud commented on #3279
Thanks @neolit123 @vincepri @fabriziopandini for your support, guidance and vote.

@pmotyka can you update/trim the list to just:
[code]
We'll get more folks in the future when and as they make contributions as per SIG guidance.

[2022-02-23 03:11] MartinForReal opened #3282 "REQUEST: add dependabot to kubernetes-sigs org"
### Organization or Repo

kubernetes-sigs/cloud-provider-azure

### Name of integration

dependabot

### Link to integration website

https://docs.github.com/en/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/configuring-dependabot-security-updates

### Describe what is attempting to be accomplished

Dependabot automatically sends PRs for updates to depen

[2022-02-23 04:57] listx commented on #3177
@mrbobbytables Can you re-do the Netlify setup to point to the newly created https://github.com/kubernetes-sigs/prow repo, instead of the old https://github.com/kubernetes/test-infra one?

[2022-02-23 07:15] RA489 commented on #3068
+1. Thanks for driving this effort.

[2022-02-24 05:03] mitul3737 opened #3285 "REQUEST: New membership for mitul3737"
### GitHub Username

mitul3737

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-02-24 05:06] #3236 closed

[2022-02-24 05:48] anubha-v-ardhan commented on #3285
+1 Thank you for starting a new localization effort
/woof

[2022-02-24 08:13] mitul3737 commented on #3285
/assign @palnabarun

[2022-02-24 08:15] mitul3737 commented on #3285
/assign @nikhita

[2022-02-24 11:58] mrbobbytables commented on #3278
+1, this is to help establish owners for the ibm-powervs-block-csi-driver repo 👍

[2022-02-24 14:38] rohityadavcloud commented on #3279
@neolit123 @vincepri @fabriziopandini as asked during the SIG call, we've put together a short 10-min demo video of CAPC here: https://shapeblue-engineering-videos.s3.eu-west-1.amazonaws.com/capc/capc-demo-acs416.mp4 post-migration of the repo we're aiming to put together proper docs/website, and work on more detailed training/marketing videos and materials.

[2022-02-24 15:55] #3285 closed

[2022-02-24 16:05] anubha-v-ardhan commented on #3280
/retitle REQUEST: New membership for adrianchiris

[2022-02-24 16:07] anubha-v-ardhan commented on #3252
/retitle REQUEST: New membership for isaacdorfman

[2022-02-25 03:20] palnabarun commented on #3255
@CatherineF-dev, thank you for all your contributions so far :)

I've created PR #3286 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-25 03:22] palnabarun commented on #3265
@sashrith, thank you for all your contributions so far :)

I've created PR #3286 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-25 03:24] palnabarun commented on #3275
@gtxu, thank you for all your contributions so far :)

I've created PR #3286 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-25 03:26] palnabarun commented on #3278
@Madhan-SWE, thank you for all your contributions so far :)

I've created PR #3286 to add you to the requested organizations. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-02-25 03:29] palnabarun commented on #3280
@adrianchiris, since you are already a @kubernetes-sigs member, you don't need to raise new membership requests. I have gone ahead and batched adding you to the @kubernetes org in #3286.

/assign

[2022-02-25 03:47] #3255 closed

[2022-02-25 03:47] #3265 closed

[2022-02-25 03:47] #3275 closed

[2022-02-25 03:47] #3278 closed

[2022-02-25 03:47] #3280 closed

[2022-02-25 08:25] shawnhanx opened #3287 "REQUEST: New membership for shawnhanx"
### GitHub Username

@shawnhanx

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-02-25 08:40] tengqm commented on #3287
+1

[2022-02-25 11:18] rohityadavcloud commented on #3279
Hi @mrbobbytables can you advise us on the logistics of migrating the repository?

[2022-02-25 12:45] mrbobbytables commented on #3282
It looks like its already enabled for that repo - anyone with admin access for the repo should be able to enable/disable it. Alerts are set to goto the [cloud-provider-azure-maintainers team](https://github.com/kubernetes/org/blob/ee94f6e2ad1cf91c2757a3dfb45b4dc113c85cd9/config/kubernetes-sigs/provider-azure/teams.yaml#L12-L21).

[2022-02-25 15:31] MartinForReal commented on #3282
But I still need to send /ok-to-test for the prs it raises. Could you please help add dependabot to kubernetes-sigs org like https://github.com/kubernetes/org/issues/945

[2022-02-25 17:54] SanikaGawhane opened #3289 "REQUEST: New membership for SanikaGawhane"
### GitHub Username

@SanikaGawhane

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.go

[2022-02-25 18:17] shalini-b opened #3290 "REQUEST: New membership for shalini-b"
### GitHub Username

@shalini-b

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-02-25 18:21] divyenpatel commented on #3290
+1

[2022-02-25 18:21] codenrhoden commented on #3289
+1
This is long overdue!

[2022-02-25 18:23] CecileRobertMichon commented on #3289
+1!

[2022-02-26 15:00] mitul3737 opened #3291 "REQUEST: New membership for mitul3737"
### GitHub Username

mitul3737

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-02-26 15:02] mitul3737 commented on #3291
/assign mrbobbytables

[2022-02-26 19:02] verma-kunal commented on #3291
+1
Thank you for your contributions!
Hope to see you more in the community ✨

[2022-02-28 06:24] RaunakShah commented on #3290
+1

[2022-02-28 10:59] anubha-v-ardhan commented on #3291
+1
Thank you for starting a new localization effort
/woof

[2022-02-28 12:28] mitul3737 commented on #3291
/assign @palnabarun

[2022-02-28 12:31] mrbobbytables commented on #3291
/unassign @palnabarun
please do not assign people - they are handled in batches and assigning it will mean it will not get reviewed by the person who's doing batch updates

[2022-02-28 12:48] mitul3737 commented on #3291
@mrbobbytables my bad. Won't happen next

[2022-02-28 13:23] xing-yang commented on #3290
/assign @palnabarun

[2022-02-28 13:59] mrbobbytables commented on #3290
/unassign @palnabarun
@xing-yang memberships are processed in batches by a group of people, assigning will mean they'll be passed over in the next batch

[2022-02-28 17:28] rohityadavcloud commented on #3279
It appears @mrbobbytables is on OOO.
Pinging other members to seek further guidance on how to proceed - @nikhita @palnabarun @cblecker @dims @justaugustus

[2022-02-28 22:05] Dyanngg opened #3293 "REQUEST: New membership for Dyanngg"
### GitHub Username

@Dyanngg

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-02-28 22:06] Dyanngg commented on #3293
/assign @astoycos
/assign @rikatz

[2022-02-28 22:12] rikatz commented on #3293
+1

Yang has been working hard on the last year for Cluster NetPol and also with sig-net policy api subproject!

[2022-02-28 22:19] phillipsj opened #3294 "REQUEST: New membership for phillipsj"
### GitHub Username

@phillipsj

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-03-01 13:24] astoycos commented on #3293
+1
Yang has been the main contributor working with me on the new AdminNetworkPolicy API and has been an excellent source of advice and help for all the members of the sig-network-policy-api subgroup.

[2022-03-01 16:55] PushkarJ opened #3295 "Create Robot account k8s-cve-robot"
### Organization or Repo

kubernetes/sig-security

### User affected

_No response_

### Describe the issue

KEP-3203: https://github.com/kubernetes/enhancements/issues/3203

We need a robot that has push access to `k/sig-security/sig-security-tooling/feeds/official-cve-feed.json` this location on main branch.

[2022-03-01 22:49] listx commented on #3177
The Netlify setup has been completed! (Thanks to @mrbobbytables !)

Unfortunately the build is broken, and I hope to address that in https://github.com/kubernetes-sigs/prow/pull/3.

[2022-03-02 00:18] listx commented on #3177
@mrbobbytables can you confirm that k8s-prow.netlify.app is the domain? (or, if not, switch to to it?) Currently I see in the preview URL link https://deploy-preview-3--kubernetes-prow.netlify.app/ that the name seems to be set to "kubernetes-prow.netlify.app", which is not what we want (we already have a [DNS entry to reroute docs.prow.k8s.io to point to k8s-prow.netlify.app](https://github.com/k

[2022-03-02 00:21] mrbobbytables commented on #3177
Ahh, sorry about that - I've changed it in netlify 👍 It might take a little bit for it to take effect.

[2022-03-02 00:38] mrbobbytables commented on #3177
@listx looks like its now updated, https://deploy-preview-3--k8s-prow.netlify.app/ works

[2022-03-02 01:51] listx commented on #3177
Thanks!

The only issue appears to be that Netlify is trying to find the `index.html` file from the root of the repo, instead of under `site/public`. For example, this link https://k8s-prow.netlify.app/OWNERS shows that the [OWNERS file from the root of the repo](https://github.com/kubernetes-sigs/prow/blob/main/OWNERS) is reachable from the root of the site. Is this something you need to fix on y

[2022-03-02 10:26] nikhita commented on #3208
/assign

will help move this ahead

[2022-03-02 10:39] nikhita commented on #3259
/assign

Repo has been created - https://github.com/kubernetes-sigs/release-team-shadow-stats

Also created:
- #3298  - to add the GitHub team to grant access
- https://github.com/kubernetes/community/pull/6509 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2022-03-02 14:13] mrbobbytables commented on #3177
Okay, sorted it out - the config in there still had build root manually configured from when it was in k/test-infra. I tested a build and things look okay:
https://app.netlify.com/sites/k8s-prow/deploys/621f79cc9c3c9e109cdc2ba2

[2022-03-02 16:32] listx commented on #3177
Awesome, thanks again! One last question: AFAICS the DNS settings are correct [from the k8s.io side](https://github.com/kubernetes/k8s.io/blob/ab42d92ce9acc9ba18ec33cea7c0c1ee6e6d6587/dns/zone-configs/k8s.io._0_base.yaml#L285-L287), and we also refer to the k8s.io domain URL from our [netlify.toml](https://github.com/kubernetes-sigs/prow/blob/6dc36085fc21a3d3e954782d267ba8c9ab6a0591/netlify.toml#L

[2022-03-02 18:16] marosset commented on #3294
Sorry for the delay here.

+1 from me!

[2022-03-02 19:33] mrbobbytables commented on #3295
It took me a bit to catch up on the slack discussions, but my gut is that another bot account is rather heavy. A prow job that tracks PRs with the label and updates a gcs bucket with the information on merge then triggering a webhook to build the site I think would cover all use  cases with minimal overhead and avoids having to open additional PRs

[2022-03-02 20:24] PushkarJ commented on #3295
Hey @mrbobbytables thank you for reviewing the slack threads :) Sorry that must have been exhausting to read.

Probably should have added this earlier but there is an initial PR for the KEP: https://github.com/kubernetes/enhancements/pull/3204 that is an easier read than all the slack threads. It also explains possible pros and cons on usage of gcs bucket, under [alternatives](https://github.com/k

[2022-03-02 20:41] mrbobbytables commented on #3295
@PushkarJ the r/w permissions are pretty easy to handle with a group defined in the k8s.io repo. I'm still rather hesitant about running another bot that can potentially fail instead of implementing it as part of a job in our CI. We've done it for quite a few things, e.g. the automation of github org updates etc.

[2022-03-02 21:08] PushkarJ commented on #3295
@mrbobbytables I think I understand what you are proposing a bit better now :) Thanks for being patient and reviewing the KEP. So seems like the proposed flow would be something like this:

A Periodic Prow job:
1. Queries Github API for fixed official CVEs
1. Generates a JSON blob based on the query results
1. Writes the JSON blob to gcs-bucket
1. Triggers the k/website build
1. k/website build pu

[2022-03-03 00:01] listx commented on #3177
Update: @mrbobbytables fixed the DNS settings from the Netlify side, so now the DNS redirect is working correctly!

[2022-03-03 00:01] #3177 closed

[2022-03-03 03:41] nikhita commented on #3208
Repo has been migrated - https://github.com/kubernetes-sigs/maintainers

Also created:
- https://github.com/kubernetes/org/pull/3300 - to create GitHub teams to grant access
- https://github.com/kubernetes/community/pull/6514 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2022-03-03 03:44] #3208 closed

[2022-03-03 12:15] encodeflush commented on #3218
The repo has been pushed to [kubernetes-purgatory/testgrid-json-exporter](https://github.com/kubernetes-purgatory/testgrid-json-exporter).

[2022-03-03 12:49] mrbobbytables commented on #3169
All tasks are done, going to go ahead and close this out
/close

[2022-03-03 12:49] #3169 closed

[2022-03-03 14:25] spzala commented on #3169
Sounds good, thanks @mrbobbytables

[2022-03-03 19:51] jayunit100 commented on #3294
lgtm ! +1 ! jamie has been contributing to sig-windows as a mentor and doing demos of things related to sig-windows-dev-tools, host process conatiners, containerd, and cert manager for several months now and has helped us in multiple pairing sessions to solve intesresting windows upstream problems.

[2022-03-03 21:36] marckhouzam opened #3301 "REQUEST: New membership for marckhouzam"
### GitHub Username

@marckhouzam

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-03-03 21:45] eddiezane commented on #3301
+1

Thanks Marc! Your contributions have been awesome.

[2022-03-03 22:05] brianpursley commented on #3301
+1

Thanks Marc! and +1 to what Eddie said. You've made some great improvements to kubectl and have been a tremendous help troubleshooting issues.

[2022-03-04 00:28] PushkarJ commented on #3295
We are discussing feasibility of the above approach on slack thread here: https://kubernetes.slack.com/archives/C09QZ4DQB/p1646264348784509?thread_ts=1645129435.563709&cid=C09QZ4DQB

[2022-03-04 00:37] sftim commented on #3295
Step 5 is possible provided that the GCS bucket is hooked up to serve objects via HTTPS.

[2022-03-04 15:28] ahmedkhamessi opened #3302 "REQUEST: New membership for ahmedkhamessi"
Hi,

I would like to join the @kubernetes-sigs inroder to contribute to the development of the core components of Kubernetes first hand.

Best regards,
Ahmed Khamessi.

[2022-03-04 15:36] mrbobbytables commented on #3302
@ahmedkhamessi you do not need to be an org member to contribute :) There are 10s of thousands of people that do it without being an org member. If, after contributing a bit please open an issue using the [Org member request form](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.yml&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E)

[2022-03-04 15:37] #3302 closed

[2022-03-07 09:17] BigDarkClown opened #3303 "REQUEST: New membership for @bigdarkclown"
### GitHub Username

@bigdarkclown

### Organization you are requesting membership in

@kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-03-07 09:53] rohityadavcloud commented on #3279
Ping2 @nikhita @palnabarun @cblecker @dims @justaugustus - appreciate you're all busy any guidance for us?
Alternatively, please advise how to proceed @neolit123 @vincepri @fabriziopandini ?

Thanks all.

[2022-03-07 09:54] MaciekPytel commented on #3303
+1 from me, @BigDarkClown has been regularly contributing to Cluster Autoscaler project for more than a year now

[2022-03-07 10:17] nikhita commented on #3279
@rohityadavcloud like @mrbobbytables's mentioned before, you will need to have all approvers go through the usual [membership](https://github.com/kubernetes/community/blob/master/community-membership.md#member) process to become members of the Kubernetes SIGs github org first. Only then the approvers will be able to approve PRs.

[2022-03-07 11:06] gjtempleton commented on #3303
+1 from me, @BigDarkClown's already made significant contributions, looking forward to their continued contributions to the Cluster Autoscaler.

[2022-03-07 12:18] rohityadavcloud commented on #3279
Thank you @nikhita for replying.

We only want to be part of the Kubernetes Cluster Lifecycle SIG (https://github.com/kubernetes-sigs) to be able to continue our work on cluster-api-provider-cloudstack in it. The Kubernetes Cluster Lifecycle SIG chair/leads (@vincepri @neolit123 @fabriziopandini) have already +1'd on the issue, we thought that was enough to get moving. My question was more about h

[2022-03-07 13:13] mrbobbytables commented on #3279
@rohityadavcloud anyone that is an owner MUST be an org member (You can reference this issue in the org member request form and say its part of establishing owners for this repo). We do not allow org/repo level outside collaborators. People are still free to contribute, but the owners will be required to review and approve PRs.

Generally because there is so much back and forth, and being a part o

[2022-03-07 14:16] rohityadavcloud commented on #3279
Fantastic thanks @mrbobbytables for answering in detail and advising on this. Between @pmotyka and I, we'll discuss and see if we can qualify to become a member of the org.

[2022-03-07 17:18] mrbobbytables commented on #3282
@MartinForReal If you want it to automatically skip `ok-to-test`. You can add the label via the `labels` section of your [dependabot config](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates) (Example: [kubernetes-sigs/zeitgeist](https://github.com/kubernetes-sigs/zeitgeist/blob/master/.github

[2022-03-07 17:49] Abirdcfly opened #3304 "REQUEST: New membership for Abirdcfly"
### GitHub Username

@Abirdcfly

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-03-07 17:52] Huang-Wei commented on #3304
+1

[2022-03-07 19:55] damemi commented on #3304
+1

[2022-03-07 19:56] mrbobbytables commented on #3140
All PRs merged, teams have been added to the repo 🎉 Going to go ahead and close this out.

/close

[2022-03-07 19:56] #3140 closed

[2022-03-07 23:54] JaneLiuL opened #3306 "REQUEST: New membership for JaneLiuL"
### GitHub Username

JaneLiuL

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-03-08 00:33] MartinForReal commented on #3282
Thanks!

[2022-03-08 00:33] #3282 closed

[2022-03-08 01:04] lianghao208 commented on #3306
+1
Looking forward to more contributions

[2022-03-08 03:51] xiangpengzhao commented on #3287
+1

[2022-03-08 08:50] ingvagabund commented on #3306
+1

[2022-03-08 14:42] damemi commented on #3306
+1
Thanks for all your work so far @JaneLiuL, looking forward to more!

[2022-03-08 17:19] chrismetz09 opened #3307 "REQUEST: New membership for chrismetz09"
### GitHub Username

@chrismetz09

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-03-08 17:21] rey commented on #3307
Perhaps @reylejano?

[2022-03-08 17:22] chrismetz09 commented on #3307
@reylejano @jimangel

[2022-03-08 17:57] reylejano commented on #3307
+1  🎉 @chrismetz09 has made substantial contributions to SIG Docs like establishing the diagramming guide with mermaid

[2022-03-08 20:22] josh-ferrell opened #3308 "REQUEST: New membership for josh-ferrell"
### GitHub Username

josh-ferrell

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-03-08 20:23] josh-ferrell commented on #3308
Tagging @sedefsavas and @richardcase

[2022-03-08 20:38] sedefsavas commented on #3308
+1
/lgtm

Josh has done important contributions to cluster-api-provider-aws project over the last few months.

[2022-03-08 21:04] richardcase commented on #3308
Thank you for your contributions to CAPA, it’s definitely this from me:

+1

[2022-03-08 21:13] PushkarJ commented on #3295
I am closing this in favor of using a GCS bucket + Dynamic page generation workflow proposed above which will not need a robot account or a fork to be maintained.

[2022-03-08 21:13] #3295 closed

[2022-03-08 21:50] MikeSpreitzer commented on #3068
Is there a TL;DR here?  What does someone who is getting false CLA failures do?

[2022-03-08 21:53] mrbobbytables commented on #3068
@MikeSpreitzer we as a project cannot do much, its pretty much follow the link the EasyCLA bot response to log a ticket with the LF. =/

[2022-03-09 02:24] Ankitasw commented on #3308
Thankyou for your contributions @josh-ferrell
+1

[2022-03-09 12:57] marquiz commented on #3084
/remove-lifecycle stale

[2022-03-10 09:19] apricote opened #3309 "REQUEST: New membership for apricote"
### GitHub Username

@apricote

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-03-10 09:22] tobiasgiese commented on #3309
+1

Thanks for your great contributions so far! 👍🏻

[2022-03-10 10:21] sbueringer commented on #3309
+1

Thank you very much!

[2022-03-10 11:07] #2812 closed

[2022-03-10 12:14] meghanajangi opened #3310 "REQUEST: New membership for meghanajangi"
### GitHub Username

meghanajangi

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:/

[2022-03-10 12:16] Ankitasw commented on #3310
+1 from my side 🎉
Thank you @meghanajangi for all your contributions in CAPA/CAPZ/CAPI.

[2022-03-10 12:18] Priyankasaggu11929 commented on #3310
/meow

🥳

[2022-03-10 15:12] richardcase commented on #3310
+1 from me :tada:

[2022-03-10 18:37] jimangel commented on #3307
+1 @chrismetz09 was a huge help with our SIG Docs KCNA 21 presentation and many other contributions as Rey alluded. Welcome! 🎉

[2022-03-10 20:53] jsturtevant commented on #3294
+1

[2022-03-11 04:54] palnabarun commented on #3287
@shawnhanx, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 04:57] palnabarun commented on #3289
@SanikaGawhane, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 04:59] palnabarun commented on #3290
@shalini-b, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:04] palnabarun commented on #3291
@mitul3737, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:05] palnabarun commented on #3293
@Dyanngg, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:07] palnabarun commented on #3294
@phillipsj, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:08] palnabarun commented on #3301
@marckhouzam, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:10] palnabarun commented on #3303
@BigDarkClown, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:12] palnabarun commented on #3304
@Abirdcfly, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:14] palnabarun commented on #3306
@JaneLiuL, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:16] palnabarun commented on #3307
@chrismetz09, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:17] palnabarun commented on #3308
@josh-ferrell, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:19] palnabarun commented on #3309
@apricote, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:21] palnabarun commented on #3310
@meghanajangi, thank you for all your contributions so far :)

I've created PR #3311 to add you to the requested orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-03-11 05:41] #3287 closed

[2022-03-11 05:41] #3289 closed

[2022-03-11 05:41] #3290 closed

[2022-03-11 05:41] #3291 closed

[2022-03-11 05:41] #3293 closed

[2022-03-11 05:41] #3294 closed

[2022-03-11 05:41] #3301 closed

[2022-03-11 05:41] #3303 closed

[2022-03-11 05:41] #3304 closed

[2022-03-11 05:41] #3306 closed

[2022-03-11 05:41] #3307 closed

[2022-03-11 05:41] #3308 closed

[2022-03-11 05:41] #3309 closed

[2022-03-11 05:41] #3310 closed

[2022-03-11 07:29] meghanajangi commented on #3310
Thank you everyone! ❤️

[2022-03-11 10:25] rohityadavcloud opened #3312 "REQUEST: New membership for @rohityadavcloud"
### GitHub Username

@rohityadavcloud

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.

[2022-03-11 10:39] rohityadavcloud commented on #3279
@mrbobbytables @nikhita thanks for your guidance.

Given the requirement of owners of this new repo to be migrated to be org members, could the initial repo migration happen with just a single owner (the idea that we can add more owners over time)? I'm asking as Peter wasn't sure if he currently meets the membership criteria.

I've raised https://github.com/kubernetes/org/issues/3312 after getting

[2022-03-11 11:36] fabriziopandini commented on #3312
+1
thanks for the work so far in image builder and looking forward to seeing the Cluster API provider cluodstask flourish with your help

[2022-03-11 15:35] elmiko commented on #3312
+1
agreed with @fabriziopandini , really looking forward to seeing the cloudstack provider grow. thanks @rohityadavcloud

[2022-03-11 19:11] rohityadavcloud commented on #3312
Thank you for your support @fabriziopandini @elmiko 🙏

[2022-03-15 12:04] rohityadavcloud opened #3318 "REQUEST: Netlify site for kubernetes-sigs/cluster-api-provider-cloudstack"
### Repository

kubernetes-sigs/cluster-api-provider-cloudstack

### Project domain

cluster-api-cloudstack.sigs.k8s.io

### Additional context for request

This is created in anticipation of the repo migration request: https://github.com/kubernetes/org/issues/3279
Post-migration, we would like to have this docs/site for the provider similar to other cluster-api providers.

[2022-03-15 13:05] davidjumani opened #3319 "REQUEST: New membership for @davidjumani"
### GitHub Username

@davidjumani

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-03-15 13:08] rohityadavcloud commented on #3279
@pmotyka can you update the list of approves for the owners and security sections in this issue to:
[code]
I think both @davidjumani and I have raised org-membership requests towards meeting the requirement for migration of the repo.

[2022-03-15 13:11] elmiko commented on #3319
+1, thanks for volunteering to maintain the cloudstasck provider @davidjumani

[2022-03-15 13:11] davidjumani commented on #3279
I've raised https://github.com/kubernetes/org/issues/3319 as well

[2022-03-15 15:08] pmotyka commented on #3279
Owners and Security sections have been updated to reflect the narrowed list of members pursuing org-membership.

[2022-03-15 18:05] camilamacedo86 opened #3320 "REQUEST: New membership for camilamacedo86"
### GitHub Username

camilamacedo86

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-03-15 18:19] jberkhahn commented on #3320
/lgtm

[2022-03-15 23:20] gohilankit opened #3321 "REQUEST: New membership for gohilankit"
### GitHub Username

@gohilankit

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-03-16 09:53] fabriziopandini commented on #3319
+1
considering also the ongoing PR/issues for kicking off the Cluster API provider cluodstack
https://github.com/kubernetes/community/pull/6427
https://github.com/kubernetes/org/issues/3279
https://github.com/kubernetes/org/issues/3318

[2022-03-16 10:03] davidjumani commented on #3319
Thanks @elmiko @fabriziopandini for your support!

[2022-03-16 10:53] Damans227 commented on #3319
+1 Great work on the Cluster API Provider @davidjumani kudos!

[2022-03-16 11:01] palnabarun commented on #3320
Hi @camilamacedo86 👋🏽, since you are already an @kubernetes-sigs member, you don't need to raise an org membership request. You can just PR yourself in to the org.yaml for the orgs that you want to get an invite of.

[2022-03-16 11:02] palnabarun commented on #3320
For example: https://github.com/kubernetes/org/pull/3316

[2022-03-16 15:21] pwittrock commented on #3320
/lgtm

[2022-03-16 16:54] divyenpatel commented on #3321
+1
approve

[2022-03-17 00:01] camilamacedo86 commented on #3320
Done :: https://github.com/kubernetes/org/pull/3325

[2022-03-17 00:01] #3320 closed

[2022-03-17 06:14] mkumatag opened #3327 "Unable to make docker image publish in the GitHub repo as public for https://github.com/kubernetes-sigs/ibm-powervs-block-csi-driver"
### Organization or Repo

https://github.com/kubernetes-sigs/ibm-powervs-block-csi-driver

### User affected

@mkumatag

### Describe the issue

We have recently using GitHub Action to build a docker image and publish in the GH packages but it is not allowing us to make that image public, seeing following error:

<img width="1087" alt="image" src="https://user-images.githubusercontent.com/12646029

[2022-03-17 06:15] mkumatag commented on #3327
/area github-repo

[2022-03-17 06:15] mkumatag commented on #3327
cc @mrbobbytables

[2022-03-17 08:26] Amulyam24 opened #3328 "REQUEST: New membership for Amulyam24"
### GitHub Username

@Amulyam24

### Organization you are requesting membership in

kubernetes kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-03-17 08:54] mkumatag commented on #3328
+1 from me, thanks for all the contributions.

[2022-03-17 11:27] richardcase commented on #3328
+1 from me as well. Thanks for your contributions to CAPIBM

[2022-03-17 12:28] rohityadavcloud commented on #3319
If I got the process right, I've raised a PR for this here - https://github.com/kubernetes/org/pull/3329

[2022-03-17 12:28] rohityadavcloud commented on #3312
If I got the process right, I've raised a PR for this here - https://github.com/kubernetes/org/pull/3329

[2022-03-17 18:01] jmguzik opened #3331 "REQUEST: New membership for jmguzik"
### GitHub Username

jmguzik

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-03-17 18:17] cjwagner commented on #3331
+1 Thanks Jakub!

[2022-03-17 21:05] lipingxue opened #3332 "REQUEST: New membership for lipingxue"
### GitHub Username

@lipingxue

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-03-18 06:37] Huang-Wei commented on #3262
I think we can start to archive kubernetes-sigs/poseidon.

[2022-03-18 22:53] divyenpatel commented on #3332
+1

approve

[2022-03-21 05:01] RaunakShah commented on #3332
+1

[2022-03-21 05:01] RaunakShah commented on #3321
+1

[2022-03-23 02:13] mkumatag commented on #3327
Found a workaround for now, hence closing this issue for now.

[2022-03-23 02:13] #3327 closed

[2022-03-23 04:56] DiptoChakrabarty opened #3335 "REQUEST: New membership for DiptoChakrabarty"
### GitHub Username

DiptoChakrabarty

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.

[2022-03-23 09:26] killianmuldoon commented on #3335
+1 Thanks for all your recent contributions!

[2022-03-23 09:29] sbueringer commented on #3335
+1 Thank you very much.

But you'll need someone from another company too. (Killian and I are both working for VMWare)

[2022-03-23 12:37] alisondy opened #3336 "Create Events Project Board"
### Organization or Repo

kubernetes/community

### User affected

events subproject

### Describe the issue

Create project board for organising events subproject

/area github-management
/sig contributor-experience

[2022-03-23 12:51] alisondy commented on #3336
Created

/close

[2022-03-23 12:53] #3336 closed

[2022-03-23 12:53] mrbobbytables commented on #3068
Going to go ahead and close this out. Future issues can be created ad-hoc.

/close

[2022-03-23 12:53] #3068 closed

[2022-03-25 18:41] tokt opened #3340 "REQUEST: New membership for tokt"
### GitHub Username

tokt

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.

[2022-03-28 20:23] leonardpahlke commented on #3218
friendly ping @nikhita - The repo has been transferred to kubernetes-purgatory. Thank you!

[2022-03-29 06:48] kate-goldenring opened #3342 "REQUEST: New membership for kate-goldenring"
### GitHub Username

@kate-goldenring

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.googl

[2022-03-29 14:19] alexzielenski opened #3343 "REQUEST: New membership for alexzielenski"
### GitHub Username

@alexzielenski

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https

[2022-03-29 14:49] reylejano commented on #2342
/remove-lifecycle stale

[2022-03-29 14:52] sttts commented on #3343
+1 from me.

[2022-03-29 16:00] apelisse commented on #3343
+1, and more!

[2022-03-29 17:24] deejross opened #3344 "REQUEST: New membership for deejross"
### GitHub Username

@deejross

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-03-29 17:47] soltysh commented on #3344
:+1: from my side

[2022-03-29 20:55] eddiezane commented on #3344
:+1: thanks for your contributions!

[2022-03-30 00:28] karenhchu commented on #3342
+1 🎉

[2022-03-30 08:02] dejanb commented on #3342
+1 nb

[2022-03-30 13:01] PriyanshuAhlawat opened #3345 "REQUEST: New membership for PriyanshuAhlawat"
### GitHub Username

@PriyanshuAhlawat

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog

[2022-03-30 13:24] nikhita commented on #3342
@kate-goldenring :wave: Hi! We require that membership applications include links to contributions to Kubernetes upstream projects. I noticed that the links included in the issue body don't point to any upstream repos.

Can you please include links to Kubernetes upstream contributions? You can find the list of github orgs that can be considered for this request [here](https://github.com/kubernetes

[2022-03-30 13:48] mehabhalodiya commented on #3335
+1, thanks for volunteering to help with the project! 🎉
I have come across Dipto in Kubernetes 1.24 Release Team.

[2022-03-30 18:44] cantbewong commented on #3342
+1 as sponsor
I have observed multiple instances that meet the criteria for membership which is ---

Have made multiple contributions to the project or community. Contribution may include, but is not limited to:
- Authoring or reviewing PRs on GitHub. At least one PR must be merged.
- Filing or commenting on issues on GitHub
- Contributing to SIG, subproject, or community discussions (e.g. meeting

[2022-03-30 19:00] mrbobbytables commented on #3342
@cantbewong the big thing is they **must** be upstream K8s, not external project related.

[2022-03-31 08:01] sftim commented on #3345
I do recommend the [Inclusive Open Source Community Orientation course](https://training.linuxfoundation.org/training/inclusive-open-source-community-orientation-lfc102/)

Either way - thanks for stepping forward as a potential Kubernetes project member.

[2022-03-31 12:15] 196Ikuchil opened #3346 "REQUEST: New membership for 196Ikuchil"
### GitHub Username

@196Ikuchil

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-03-31 12:40] PriyanshuAhlawat commented on #3345
Thank you @sftim , looking forward for contributing more to the project.

[2022-03-31 13:11] sanposhiho commented on #3346
Welcome to Kubernetes.
+1

[2022-03-31 15:34] nasa9084 commented on #3346
Thank you for your contributing~
+1

[2022-04-01 04:53] nikhita opened #3350 "Git LFS data usage in kubernetes-sigs"
This is a tracking issue to capture emails from GitHub about Git LFS data usage in kubernetes-sigs.

**Timeline so far:**

1. We received an email from GitHub on 29 March 2022 that we have used 80% of our data plan for Git LFS for kubernetes-sigs:

[code]

2. Two days later on 31 March 2022, we received another email from GitHub which said that we have used 100% of our data plan.

[code]

3. We tr

[2022-04-01 04:54] nikhita commented on #3350
/assign @nikhita

@mrbobbytables is also working with GitHub to make details of Git LFS usage more transparent and discoverable.

[2022-04-01 09:07] AlmogBaku opened #3351 "REQUEST: New membership for AlmogBaku"
### GitHub Username

@AlmogBaku

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-04-01 11:59] stlaz opened #3352 "REQUEST: New membership for stlaz"
### GitHub Username

@stlaz

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/ku

[2022-04-01 12:05] s-urbaniak commented on #3352
@stlaz has my full support on becoming a member of kubernetes organization 🎉 👍 💯

[2022-04-01 12:16] enj commented on #3352
I have worked closely with @stlaz for years.  He is easily one of my favorite people, both for being a deeply capable software engineer and a super nice guy.  The Kubernetes community would be lucky to have him as a member 🙂.

[2022-04-01 17:03] jimangel commented on #3345
+1, thanks for your contributions @PriyanshuAhlawat! 🎉

[2022-04-02 01:33] my-git9 opened #3353 "REQUEST: New membership for my-git9"
### GitHub Username

my-git9

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-04-02 02:58] tengqm commented on #3353
+1
Looking forward to more contributions from you.

[2022-04-02 03:14] mengjiao-liu commented on #3353
+1
Thank you for all your contributions to zh localization！

[2022-04-04 09:13] rohityadavcloud commented on #3318
We've a staging (work-in-progress) website to test the content here https://cluster-api-provider-cloudstack.netlify.app/

[2022-04-04 15:26] cprivitere opened #3355 "REQUEST: New membership for cprivitere"
### GitHub Username

@cprivitere

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-04-04 15:32] detiber commented on #3355
@cprivite has been a very valuable contributor for both kubernetes-sigs/cluster-api-provider-packet and the equinix metal provider for cluster autoscaler hosted at kubernetes/autoscaler. In addition to the PRs linked above, he has contributed in slack and community discussions related to improvements and architecture decisions related to both projects.

Huge +1 from me

[2022-04-04 15:38] RinkiyaKeDad opened #3356 "REQUEST: Create logtools"
### New repo, staging repo, or migrate existing

New repo

### Is it a staging repo?

no

### Requested name for new repository

logtools

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@ehashman, @logicalhan, @pohly, @serathius

### Who should have write access?

@ehashman, @logicalhan, @pohly, @serathius

### Who should be listed as approvers in OWNE

[2022-04-04 16:13] serathius commented on #3356
lgtm

[2022-04-04 16:13] pohly commented on #3356
lgtm

[2022-04-04 17:52] displague commented on #3355
@cprivite is playing a big role in defining the roadmap for CAPP and other Equinix Kubernetes integrations. In addition to that, he's been diving into triage, review, feature work, and documentation.

I know it doesn't count, I'm in the same org as @detiber and @cprivite, but @cprivite has my +1 too.

[2022-04-04 19:52] pwittrock commented on #3351
/lgtm

[2022-04-04 19:53] camilamacedo86 commented on #3351
/lgtm

[2022-04-05 15:05] #3319 closed

[2022-04-05 16:02] helayoty opened #3357 "Create Github App and Github action to automate the bug-triage project beta"
### Organization or Repo

kubernetes/kubernetes

### User affected

@release_team

### Describe the issue

We are working on migrating the bug triage spreadsheet into a [bug-triage](https://github.com/orgs/kubernetes/projects/80/views/1) Github Project Beta. For now, we migrated it manually.

We found that to have the project updated automatically, it seems we need to create a new Github App and t

[2022-04-06 11:13] Namanl2001 opened #3360 "REQUEST: New membership for Namanl2001"
### GitHub Username

@Namanl2001

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://

[2022-04-06 12:01] johannesfrey opened #3361 "REQUEST: New membership for johannesfrey"
### GitHub Username

@johannesfrey

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:

[2022-04-06 12:02] sbueringer commented on #3361
+1
Thx for your contributions so far !! (and for even more in the future :) )

[2022-04-06 12:02] tobiasgiese commented on #3361
+1 from me. Thanks for your great contributions so far!

[2022-04-06 12:04] sbueringer commented on #3361
cc @palnabarun sorry for the ping

Would be great if you can take a look, thank you very much!

(org membership is needed for the contributor summit registration)

[2022-04-06 16:11] SergeyKanzhelev commented on #3360
I support @Namanl2001's membership. Thank you for your contributions

[2022-04-06 18:42] justaugustus commented on #3357
Tagging @omerbensaadon here to generate some ideas on the "right" approach.

Thoughts from https://twitter.com/stephenaugustus/status/1511775509792833541:

ref recent announcement:
- https://twitter.com/omer_bensaadon/status/1511733880046247943
- https://github.com/marketplace/actions/add-to-github-projects-beta

xref Slack discussions:
- https://kubernetes.slack.com/archives/C01672LSZL0/p16492628

[2022-04-06 18:44] justaugustus commented on #3357
Also, highlighting Triage Party, which we have an instance of, but I'm not sure we're actively leveraging:
- https://release.triage.k8s.io/s/milestone
- https://github.com/kubernetes/k8s.io/tree/main/apps/triageparty-release

[2022-04-06 18:59] omerbensaadon commented on #3357
@justaugustus for now, you'd have to commit identical workflows to each of the repos you're hoping to target.

In the future, we hope to allow Maintainers to be able to leverage this sort of thing across repo, we're just not quite there yet.

This seems like the kind of thing which could be spun up as a separate repo and maintained by prow?

Like you could create a repo called "workflows" and make

[2022-04-06 18:59] omerbensaadon commented on #3357
I'm reminded up label_sync, which does something similar? (though a bit less complicated)

[2022-04-06 19:24] tabbysable commented on #3355
@cprivite has been growing his leadership skills and involvement with Kubernetes for some time now, and I'm delighted to see that growth reflected in org membership and movement on the contributor ladder.

+1

/honk

[2022-04-06 21:54] cprivitere commented on #3355
For clarity, I renamed my github from @cprivite to @cprivitere today.

[2022-04-07 08:09] ameukam commented on #2052
/remove-lifecycle stale
This is still needed.
/milestone v1.25

[2022-04-07 08:49] kerthcet opened #3362 "REQUEST: New membership for kerthcet"
### GitHub Username

kerthcet

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-04-07 10:37] markmc opened #3363 "REQUEST: New membership for @markmc"
### GitHub Username

@markmc

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://grou

[2022-04-07 10:47] dims commented on #3363
Big +1 for @markmc to join us!

[2022-04-07 13:10] alculquicondor commented on #3362
+1 thanks for all your contributions so far

[2022-04-07 16:14] robscott commented on #3363
Thanks for all the great contributions @markmc! Big +1 from me too.

[2022-04-08 15:21] PurneswarPrasad opened #3364 "REQUEST: New membership for PurneswarPrasad"
### GitHub Username

@PurneswarPrasad

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](htt

[2022-04-08 15:27] Priyankasaggu11929 commented on #3364
Big +1 from me too 🎉

Thanks for all your hard work & great contributions towards the MOC - APAC Blog series work.

[2022-04-08 15:29] chris-short commented on #3364
HUGE +1 from me! Play the horns!!!
🎉🎺📯🎷🎉🎺📯🎷🎉🎺📯🎷

[2022-04-08 15:31] Debanitrkl commented on #3364
+1 for me too, thanks for all the work on upstream marketing team

[2022-04-08 16:26] ehashman commented on #3360
:+1: :partying_face:

(sorry I missed the notification!)

[2022-04-08 20:02] Elbehery opened #3365 "REQUEST: New membership for elbehery"
### GitHub Username

@elbehery

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-04-09 01:24] jayunit100 commented on #3365
Lgtm have been working w mustafa on some etcd stuff and his insights are super useful for understanding how we should regression test it

[2022-04-11 01:12] mrbobbytables commented on #3321
/assign

[2022-04-11 01:17] mrbobbytables commented on #3331
/assign

[2022-04-11 01:19] mrbobbytables commented on #3332
/assign

[2022-04-11 01:22] mrbobbytables commented on #3335
/assign

[2022-04-11 01:27] mrbobbytables commented on #3344
/assign

[2022-04-11 01:29] mrbobbytables commented on #3345
/assign
NOTE: I updated your org request to be kubernetes as thats where the website repo is and the majority of your activity 👍

[2022-04-11 01:35] mrbobbytables commented on #3346
/assign

[2022-04-11 01:36] mrbobbytables commented on #3351
/assign

[2022-04-11 01:59] mrbobbytables commented on #3353
/assign

[2022-04-11 02:02] mrbobbytables commented on #3355
/assign

[2022-04-11 02:04] mrbobbytables commented on #3360
/assign

[2022-04-11 02:05] mrbobbytables commented on #3361
/assign

[2022-04-11 02:07] mrbobbytables commented on #3363
/assign

[2022-04-11 02:11] mrbobbytables commented on #3364
/assign

[2022-04-11 02:19] mrbobbytables commented on #3321
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2022-04-11 02:19] mrbobbytables commented on #3328
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:19] mrbobbytables commented on #3331
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:20] mrbobbytables commented on #3332
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:20] mrbobbytables commented on #3335
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:20] mrbobbytables commented on #3343
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:20] mrbobbytables commented on #3344
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:20] mrbobbytables commented on #3345
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:20] mrbobbytables commented on #3346
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:21] mrbobbytables commented on #3351
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:21] mrbobbytables commented on #3352
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:21] mrbobbytables commented on #3353
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:21] mrbobbytables commented on #3355
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:22] mrbobbytables commented on #3360
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:22] mrbobbytables commented on #3361
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:22] mrbobbytables commented on #3363
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 02:22] mrbobbytables commented on #3364
thank you for all your contributions so far :)

I've created PR #3366  to add you to the Org(s). Once that gets merged, you should get a membership invite notification.

Welcome to kubernetes! 🎉

[2022-04-11 09:19] stlaz commented on #3352
Many thanks to both my sponsors and for accepting me to the org :bowing_man:

[2022-04-11 12:44] #3364 closed

[2022-04-11 12:44] #3355 closed

[2022-04-11 12:44] #3360 closed

[2022-04-11 12:44] #3361 closed

[2022-04-11 12:44] #3363 closed

[2022-04-11 12:44] #3346 closed

[2022-04-11 12:44] #3351 closed

[2022-04-11 12:44] #3352 closed

[2022-04-11 12:44] #3353 closed

[2022-04-11 12:44] #3343 closed

[2022-04-11 12:44] #3344 closed

[2022-04-11 12:44] #3345 closed

[2022-04-11 12:44] #3331 closed

[2022-04-11 12:44] #3332 closed

[2022-04-11 12:44] #3335 closed

[2022-04-11 12:44] #3321 closed

[2022-04-11 12:44] #3328 closed

[2022-04-11 12:54] DiptoChakrabarty commented on #3335
Thank You everyone :)

[2022-04-11 20:42] helayoty commented on #3357
@omerbensaadon  does [this](https://github.com/actions/add-to-project) action needs Github App?

[2022-04-12 11:30] rohityadavcloud commented on #3279
Ping Hi @mrbobbytables @nikhita and others - any further advise for us, how do we proceed with the repo donation. Both @davidjumani and @rohityadavcloud (owners of repo being migrated) are now members of the kubernetes-sigs org.

[2022-04-12 13:13] mrbobbytables commented on #3259
2nd PR should be merged shortly, going to go ahead and close his out

/close

[2022-04-12 13:14] #3259 closed

[2022-04-12 13:15] mrbobbytables commented on #3262
Sorry, this has just been blocked on time :( Hopefully soon.

[2022-04-12 13:16] mrbobbytables commented on #2839
Just a reminder ping, once those files are updated we should be able to proceed with migration.

[2022-04-12 14:10] ameukam commented on #3262
Repo has been archived: https://github.com/kubernetes-retired/poseidon
Teams removal: https://github.com/kubernetes/org/pull/3369
`sigs.yaml` updated: https://github.com/kubernetes/community/pull/6602
Notice sent to k-dev and sig-scheduling: https://groups.google.com/g/kubernetes-sig-scheduling/c/lkzMRoIcN4c/m/GPTwjrZ2CgAJ

If you have any questions please feel free to reopen.

Thank you!

/close

[2022-04-12 14:11] #3262 closed

[2022-04-12 16:22] logicalhan commented on #2839
/cc @jpbetz

[2022-04-12 16:22] logicalhan commented on #2839
/reopen

[2022-04-12 16:24] rdpsin opened #3372 "REQUEST: New membership for rdpsin"
### GitHub Username

@rdpsin

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-04-12 18:33] AndyXiangLi commented on #3372
+1

[2022-04-13 02:11] twilight0620 opened #3373 "REQUEST: New membership for twilight0620"
### GitHub Username

@twilight0620

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:

[2022-04-13 03:48] tengqm commented on #3373
+1
Looking forward to your continuous contribution to the project/community.

[2022-04-13 06:14] kerthcet commented on #3362
cc  @mrbobbytables

[2022-04-13 10:26] Imtiaz1234 opened #3374 "REQUEST: New membership for Imtiaz1234"
### GitHub Username

Imtiaz1234

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-04-13 11:26] tanjunchen commented on #3373
+1

[2022-04-13 12:11] Elbehery commented on #3365
/assign @palnabarun

[2022-04-13 12:31] jsafrane commented on #3372
+1

[2022-04-13 13:39] mrbobbytables commented on #3279
@rohityadavcloud we can kick this off now, is there anyone that on the aws side that has rights to migrate the repo to our temporary org - https://github.com/kubernetes-purgatory
We have to migrate to that temp org before we migrate it

[2022-04-13 14:06] reylejano commented on #3374
+1
@Imtiaz1234 is working on the localization of kubernetes.io to Bengali

[2022-04-13 16:01] anubha-v-ardhan commented on #3374
+1
Keep contributing and thanks for working in Bengali localization

[2022-04-13 16:57] rohityadavcloud commented on #3279
Thanks for advising the next steps @mrbobbytables. I'll discuss with @pmotyka and team on aws side and keep you posted once we're able to migrate the repository to the temporary org. (I'm assuming we simply get the repo migrated via the original Github repo's settings to the temp org https://github.com/kubernetes-purgatory and ping you)

[2022-04-13 18:41] Huang-Wei commented on #3362
+100!

[2022-04-13 21:16] davidvossel commented on #3252
/lgmt

Yes! @isaacdorfman is an active contributor doing great work on the cluster-api-provider-kubevirt

[2022-04-13 21:29] agradouski commented on #3252
/lgtm

+1! great work on `cluster-api-provider-kubevirt` project so far, Isaak! Thank you so much, and looking forward to more contributions in the future!

[2022-04-14 15:51] mrbobbytables commented on #3279
@rohityadavcloud we'll need to add whoever has admin rights to the temp org for them to migrate it to it.
Migrations require making someone temporarily admin of the org which is why we have to do this shuffle =/

[2022-04-14 16:51] pmotyka commented on #3279
Thanks for the guidance, excited to have reached this step!  @hyandell will be assisting with the migration activities.

[2022-04-14 17:48] mrbobbytables commented on #3279
invite has been sent 👍

[2022-04-15 05:58] mitul3737 commented on #3374
Hope you join us soon as a Bengali Maintainer for Kubernetes Localization @Imtiaz1234

[2022-04-15 17:28] mritunjaysharma394 opened #3376 "REQUEST: New membership for @mritunjaysharma394"
### GitHub Username

@mritunjaysharma394

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](

[2022-04-15 17:29] dims commented on #3376
+1 from me. welcome @mritunjaysharma394

[2022-04-15 17:30] saschagrunert commented on #3376
+1 from me as well, great to have you as part of the community @mritunjaysharma394! 😊

[2022-04-15 23:03] hyandell commented on #3279
Thanks - invite accepted. Nice setup - better than the usual "transfer the repo to myself personally and wait for the next party to accept my transfer to their personal account" :)

I'll be waiting on pmotyka to give me a go request internally; for when folk are prepared for permissions to be in flux.

[2022-04-15 23:33] dims commented on #3279
/me waves to @hyandell !

[2022-04-17 23:35] krol3 opened #3377 "REQUEST: New membership for krol3"
### GitHub Username

krol3

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/

[2022-04-17 23:46] rikatz commented on #3377
+1
Besides docs contributions and reviews, Carol also is really helpful in security area, and is also contributing with us in some ingress consulting

[2022-04-17 23:59] electrocucaracha commented on #3377
+1 @krol3 is a great community member,  she participates a lot on reviewing and submitting changes.

[2022-04-18 02:51] xing-yang opened #3378 "Archive csi-driver-image-populator, csi-lib-fc, and csi-api repos"
### Repository to archive

https://github.com/kubernetes-csi/csi-driver-image-populator, https://github.com/kubernetes-csi/csi-lib-fc, https://github.com/kubernetes/csi-api, https://github.com/kubernetes/kubernetes/staging/src/k8s.io/csi-api/

### Repository and/or sig subproject owners that are approving this archival

@saad-ali, @xing-yang, @msau42, @jsafrane

### When should this be done

anyti

[2022-04-18 02:53] xing-yang commented on #3378
/assign @saad-ali @msau42 @jsafrane

[2022-04-18 03:07] vinli-cn opened #3379 "Migrate Existing Repo: Lustre CSI Driver Repo to k8s-sigs under provider-azure"
### New repo, staging repo, or migrate existing

migrate existing

### Is it a staging repo?

no

### Requested name for new repository

azurelustre

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@andyzhangx, @vincentlimsft, @Justin-Jin, @eridai, @joe-atzinger

### Who should have write access?

@andyzhangx, @vincentlimsft, @Justin-Jin, @eridai, @joe-

[2022-04-18 03:13] mrbobbytables commented on #3379
@vincentlimsft there isn't a sig-azure, did you mean sig-cloud-provider?
I also believe that repo is private, there is only 2 public repos I can see for Justin-Jin
We also have a number of other requirements for donated repos, they can be found here:
https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2022-04-19 01:07] feiskyer commented on #3379
LGTM (as SIG Cloud Provider and Provider Azure)

[2022-04-19 01:22] msau42 commented on #3378
+1

[2022-04-19 15:07] ihcsim opened #3381 "REQUEST: New membership for ihcsim"
### GitHub Username

@ihcsim

### Organization you are requesting membership in

kubernetes, kubernetes-csi

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://group

[2022-04-19 16:19] sttts commented on #3381
+1 for @ihcsim to become member.

[2022-04-19 16:33] xing-yang commented on #3381
+1
Thanks @ihcsim for your contribution to the DP WG!

[2022-04-20 12:52] smg247 opened #3383 "REQUEST: New membership for smg247"
### GitHub Username

@smg247

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-04-20 12:53] droslean commented on #3383
+1 for @smg247 !

[2022-04-20 16:50] Babapool opened #3384 "REQUEST: New membership for Babapool"
### GitHub Username

@Babapool

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-04-20 17:05] jimangel commented on #3384
+1 Thanks for your contributions @Babapool and thanks for helping with the PR Wrangler process! 🎉

[2022-04-20 17:24] Babapool commented on #3384
Thank you so much @jimangel  and @reylejano for your continuous support and guidance :heart: . Looking forward to contribute more to the project.

[2022-04-21 14:30] omerbensaadon commented on #3357
@helayoty unclear what you mean by this!

The action needs to be a `yml` file in your target repo :)

[2022-04-21 14:43] omerbensaadon commented on #3357
Nope!

Check out: https://docs.github.com/en/actions/quickstart

[2022-04-21 16:14] torredil opened #3385 "REQUEST: New membership for torredil"
### GitHub Username

@torredil

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.

[2022-04-21 16:23] gtxu commented on #3385
+1

[2022-04-21 22:57] sunpa93 opened #3386 "REQUEST: New membership for sunpa93"
### GitHub Username

@sunpa93

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-04-22 00:34] andyzhangx commented on #3386
+1

[2022-04-22 03:05] cblecker commented on #3357
It looks like the action referenced is just using the gh CLI tool to take an action based on a graphql query, correct?

[2022-04-22 10:52] jsafrane commented on #3385
+1

[2022-04-22 15:44] vincentlimsft commented on #3379
@mrbobbytables I did some cleanup in the repo and it's now ready for review, please have a look, thanks!

[2022-04-22 18:58] cjwagner commented on #3383
+1 Thanks for the contributions!

[2022-04-22 23:44] helayoty commented on #3357
@cblecker Yes, exactly.

Cc: @mrbobbytables

[2022-04-23 02:10] vincentlimsft commented on #3379
@justaugustus may I have your attention on this issue?

[2022-04-25 13:19] mrbobbytables commented on #3357
@helayoty just to confirm, at this point we're moving forward with that action? We don't need to setup a separate GitHub app? If so, I think next steps would be to open a PR on k/k to add the action.

[2022-04-25 17:20] dsu-igeek opened #3389 "REQUEST: New membership for dsu-igeek"
### GitHub Username

dsu-igeek

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-04-25 17:34] xing-yang commented on #3389
+1
Thanks Dave for your contribution to the DP WG!

[2022-04-25 17:34] xing-yang commented on #3389
Can you add a link to the DP WG white paper and DP WG agenda and CBT proposal?

[2022-04-25 17:56] helayoty commented on #3357
Well, the [linked](https://docs.github.com/en/issues/trying-out-the-new-projects-experience/automating-projects#github-actions-workflows) documentation from Github got updated

[2022-04-25 19:10] yuxiangqian commented on #3389
+1
Dave has been continuously contributing into the data protection working group !

[2022-04-25 19:13] phuongatemc opened #3390 "REQUEST: New membership for phuongatemc"
### GitHub Username

phuongatemc

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-04-25 21:07] xing-yang commented on #3390
+1
Thank you @phuongatemc for your contributions to DP WG!

[2022-04-25 21:08] xing-yang commented on #3390
Can you add links to DP white paper, DP agenda doc, and CBT doc (meeting minutes, proposal, etc.).

[2022-04-25 21:51] dsu-igeek commented on #3389
DP Working Group White Paper - https://github.com/kubernetes/community/blob/master/wg-data-protection/data-protection-workflows-white-paper.md

DP Working Group agenda - https://docs.google.com/document/d/15tLCV3csvjHbKb16DVk-mfUmFry_Rlwo-2uG6KNGsfw/edit?usp=sharing

CBT Agenda - https://docs.google.com/document/d/19ExU8VCIEYhmOFeYs2NtWoA13iG7Sp0RvrXpyvmE-fE/edit?usp=sharing

CBT Proposal - https:

[2022-04-25 22:23] helayoty commented on #3357
I like the idea of having it as prow. Would you guide me on how to do that?

[2022-04-25 22:42] phuongatemc commented on #3390
- Data protection White Paper: https://github.com/kubernetes/community/blob/master/wg-data-protection/data-protection-workflows-white-paper.md
- Changed Block Tracking (aka Differential Snapshot API) proposal: https://hackmd.io/VN_TBl3NSLaeiD8BLeeCfw
- CBT weekely syncup Meeting notes: https://docs.google.com/document/d/19ExU8VCIEYhmOFeYs2NtWoA13iG7Sp0RvrXpyvmE-fE/edit#
- Enhancement to Velero Bac

[2022-04-26 05:41] ameukam commented on #3365
@Elbehery Support from 2 sponsors is required before we move forward with your application.

[2022-04-26 05:42] ameukam commented on #3362
@kerthcet Support from 2 sponsors is required before we move forward with your application.

[2022-04-26 05:49] kerthcet commented on #3362
I was already a kubernetes member but forget to apply for the kubernetes-sig member the same time. And I got two sponsors' approvals  also, @Huang-Wei @alculquicondor , anything I missed? @ameukam

[2022-04-26 06:09] Huang-Wei commented on #3362
I should have sponsored this request, but have no idea my comment gets lost.

But +1 again.

[2022-04-26 09:58] Elbehery commented on #3365
@ameukam  thanks a lot for your comment.

I have two sponsors above, both of them have commented

[2022-04-26 10:06] ameukam commented on #3365
Apologies. I was commenting on a different issue. I'll take care of the issue this week.

[2022-04-26 11:17] andyzhangx commented on #3379
@mrbobbytables could you help to migrate the repo?

hi @mrbobbytables, we have already completed the items, could you migrate this repo? thanks.

[2022-04-26 11:33] andyzhangx commented on #3379
could you approve this? Thanks.
@andrewsykim @cheftako @nckturner

[2022-04-26 12:39] andyzhangx commented on #3379
btw, repo name should be `azurelustre-csi-driver`

[2022-04-26 17:55] landreasyan opened #3392 "REQUEST: New membership for landreasyan"
### GitHub Username

@landreasyan

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:/

[2022-04-26 17:56] landreasyan commented on #3392
/assign @xing-yang @edreed

[2022-04-26 17:58] edreed commented on #3392
+1

[2022-04-26 18:40] pohly commented on #3356
@RinkiyaKeDad do you know whom to ping to get this PR merged?

[2022-04-26 19:42] mtardy opened #3393 "REQUEST: New membership for mtardy"
### GitHub Username

@mtardy

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-04-26 21:53] xing-yang commented on #3392
+1
Thanks @landreasyan for your contributions!

[2022-04-27 01:51] BenTheElder commented on #3211
https://github.com/kubernetes/test-infra/issues/23796 is complete, FWIW.

[2022-04-27 05:04] palnabarun commented on #3356
Will take a look shortly.
/assign

[2022-04-27 22:39] PushkarJ commented on #3393
@mtardy has been a regular member of SIG Security and a repeat contributor on kubernetes security related issues and PRs. He has also presented a learning session to the community on an opensource pentest tool - [kdigger](https://github.com/quarkslab/kdigger) that he co-created!

I wholeheartedly support his membership to the Kubernetes org.

[2022-04-27 22:39] PushkarJ commented on #3393
/honk

[2022-04-28 13:46] Elbehery commented on #3365
@ameukam  hello :) .. any updates here ?

[2022-04-28 16:01] palnabarun commented on #3362
@kerthcet -- since you are already a @kubernetes member, you can directly PR yourself in to the @kubernetes-sigs org. You don't need to go through sponsorship process again. :)

/assign

[2022-04-28 16:49] kerthcet commented on #3362
Got approved, thanks all. Close the issue then.

[2022-04-29 11:40] kinzhi opened #3397 "REQUEST: New membership for kinzhi"
### GitHub Username

@kinzhi

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-04-29 15:40] mengjiao-liu commented on #3397
+1
Thank you for your contribution!

[2022-04-29 16:32] gnufied commented on #3386
+1

[2022-05-02 20:28] electrocucaracha commented on #3377
@palnabarun can you help us on this?

[2022-05-03 04:59] houjun41544 opened #3398 "REQUEST: New membership for houjun41544"
### GitHub Username

@houjun41544

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-05-03 07:42] Huang-Wei commented on #3398
+1

[2022-05-03 14:43] jmrodri opened #3399 "REQUEST: New membership for jmrodri"
### GitHub Username

jmrodri

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-05-03 15:55] davidvossel commented on #3252
@mrbobbytables anything else needed from us to move this along?

[2022-05-03 17:16] camilamacedo86 commented on #3399
/lgtm

[2022-05-04 02:53] nikhita commented on #3094
/remove-lifecycle stale

[2022-05-04 02:55] nikhita commented on #3094
/unassign @nikhita @MadhavJivrajani @RinkiyaKeDad

Let's re-assign when tasks are being picked up.

@palnabarun do you know how to import the required data from devstats? If yes, can you also help document this so either of us can pick this up in the future?

[2022-05-04 06:06] marquiz commented on #3084
ping @ameukam @cblecker @idvoretskyi @mrbobbytables @nikhita @palnabarun who could comment on this?

[2022-05-04 13:56] nckturner commented on #3379
LGTM

[2022-05-04 18:39] IanColdwater commented on #3393
Mahé has been a wonderful new addition to Kubernetes SIG Security and its subprojects, and I'm honored to help sponsor to bring his enthusiasm and dedication as a member of the Kubernetes org!

Wholeheartedly +1.

[2022-05-05 15:07] maelvls opened #3403 "REQUEST: New membership for maelvls"
### GitHub Username

@maelvls

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-05-05 15:11] joekr opened #3404 "REQUEST: Migrate https://github.com/oracle/cluster-api-provider-oci"
### New repo, staging repo, or migrate existing

migrate existing with a possible rename to `cluster-api-provider-oracle-cloud`

### Is it a staging repo?

no

### Requested name for new repository

cluster-api-provider-oci

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

@shyamradhakrishnan, @arindam-bandyopadhyay, @joekr, @Djelibeybi

### Who should h

[2022-05-05 15:37] palnabarun commented on #3365
@Elbehery -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 15:44] palnabarun commented on #3374
@Imtiaz1234 -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 15:47] palnabarun commented on #3376
@mritunjaysharma394 -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 15:48] palnabarun commented on #3381
@ihcsim -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 15:48] alvaroaleman commented on #3403
+1

[2022-05-05 15:48] krol3 commented on #3377
@electrocucaracha and @palnabarun thank you so much for your help!! I'm very happy

[2022-05-05 15:52] palnabarun commented on #3384
@Babapool -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 15:54] palnabarun commented on #3385
@torredil -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 15:56] palnabarun commented on #3386
@sunpa93 -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 16:01] palnabarun commented on #3393
@mtardy -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 16:05] palnabarun commented on #3403
@maelvls -- thank you for all your contributions so far :)

I've created PR #3405 to add you to the orgs. Once that gets merged, you should get a membership invite notification.

Welcome! :tada:

/assign

[2022-05-05 16:06] robscott commented on #3403
+1

[2022-05-05 16:08] palnabarun commented on #3373
@tanjunchen -- can you please confirm your affiliation? I couldn't gather much info from your GitHub profile.

[2022-05-05 16:08] palnabarun commented on #3397
/assign

[2022-05-05 16:08] palnabarun commented on #3373
/assign

[2022-05-05 16:13] dsu-igeek commented on #3389
Thanks!

On May 5, 2022, at 8:58 AM, Nabarun Pal ***@***.***> wrote:

﻿
CAUTION - This email originated from outside of Veeam. Do not click links or open attachments unless you recognize the sender.

@dsu-igeek<https://github.com/dsu-igeek> -- thank you for all your contributions so far :)

I've created PR #3405<https://github.com/kubernetes/org/pull/3405> to add you to the orgs. Once that gets me

[2022-05-05 16:16] #3365 closed

[2022-05-05 16:16] #3372 closed

[2022-05-05 16:16] #3374 closed

[2022-05-05 16:16] #3376 closed

[2022-05-05 16:16] #3386 closed

[2022-05-05 16:16] #3389 closed

[2022-05-05 16:16] #3392 closed

[2022-05-05 16:16] #3393 closed

[2022-05-05 16:16] #3399 closed

[2022-05-05 16:16] #3403 closed

[2022-05-05 18:22] jyotimahapatra opened #3407 "Request to get write permissions on aws-iam-authenticator"
### Organization or Repo

https://github.com/kubernetes-sigs/aws-iam-authenticator

### User affected

jyotimahapatra

### Describe the issue

I'm spending more time in https://github.com/kubernetes-sigs/aws-iam-authenticator and im already in [OWNERS](https://github.com/kubernetes-sigs/aws-iam-authenticator/blob/master/OWNERS#L14) file. I'd like to create releases and based on https://docs.github

[2022-05-05 18:47] nckturner commented on #3407
I approve granting write to @jyotimahapatra on [kubernetes-sigs/aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator)

[2022-05-06 01:58] tanjunchen commented on #3373
I support @twilight0620 and hope @twilight0620 will have more contributions.

[2022-05-06 02:03] twilight0620 commented on #3373
@tanjunchen  does palnabarun mean he can not know your company in your profile?

[2022-05-06 08:20] mengjiao-liu commented on #3397
Got it, I've updated it.

[2022-05-06 11:54] RomanBednar opened #3410 "REQUEST: New membership for RomanBednar"
### GitHub Username

@RomanBednar

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-ma

[2022-05-06 11:58] RomanBednar commented on #3410
@jsafrane and @andyzhangx Can you please review and +1 to confirm the sponsorship?

[2022-05-06 12:18] andyzhangx commented on #3410
+1

[2022-05-06 13:18] jsafrane commented on #3410
+1

[2022-05-06 14:21] #3114 closed

[2022-05-06 14:52] joe-atzinger commented on #3379
Thanks, @mrbobbytables!  I've approved the PRs and assigned them to @andyzhangx for merging.

[2022-05-07 02:04] andyzhangx commented on #3379
@mrbobbytables so finally the repo admin should be maintained by this file, right? https://github.com/kubernetes/org/blob/main/config/kubernetes-sigs/provider-azure/teams.yaml

[2022-05-07 02:39] mrbobbytables commented on #3379
@andyzhangx that is correct - once the PR I have open is merged and the teams added they will be controlled via that file

[2022-05-07 02:44] chenrui333 commented on #3373
+1 Looking forward to see more contributions @twilight0620

[2022-05-07 03:48] twilight0620 commented on #3373
@palnabarun it is ok now

[2022-05-07 07:09] vinli-cn commented on #3379
@mrbobbytables @andyzhangx
I have closed the two PRs, please add [joe-atzinger](https://github.com/joe-atzinger) and myself as repo admin. thanks!

[2022-05-07 13:41] jasonbraganza opened #3413 "REQUEST: New membership for jasonbraganza"
### GitHub Username

jasonbraganza

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https:

[2022-05-07 15:58] dims commented on #3413
+1 from me!

[2022-05-09 02:19] chendave commented on #3398
+1

[2022-05-09 04:33] Priyankasaggu11929 commented on #3413
+1. Welcome! 🙂

/woof

[2022-05-09 08:09] JarHMJ opened #3414 "REQUEST: New membership for JarHMJ"
### GitHub Username

JarHMJ

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/ku

[2022-05-09 14:39] chaodaiG commented on #3413
+1, thank you for contribution, and welcome!

[2022-05-10 01:50] tengqm commented on #3414
+1

[2022-05-10 02:24] mengjiao-liu commented on #3414
+1
Thank @JarHMJ  for your contribution!

[2022-05-10 15:49] jasonbraganza commented on #3413
Thank you all, so so much :)

[2022-05-10 16:31] kl52752 opened #3417 "REQUEST: New membership for https://github.com/kl52752"
### GitHub Username

kl52752

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-05-10 16:36] swetharepakula commented on #3417
Thanks for your contributions!

+1

[2022-05-11 00:45] cheftako commented on #3379
/lgtm
/approve

[2022-05-12 23:31] JohnTitor opened #3418 "REQUEST: New membership for JohnTitor"
### GitHub Username

@JohnTitor

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://g

[2022-05-13 00:25] ahmetb commented on #3418
+1

[2022-05-15 10:47] wlp1153468871 opened #3422 "REQUEST: New membership for wlp1153468871"
### GitHub Username

wlp1153468871

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-05-15 12:20] mengjiao-liu commented on #3422
+1

[2022-05-15 14:20] tengqm commented on #3422
+1

[2022-05-16 06:30] kl52752 commented on #3417
@youngnick can you comment here?

[2022-05-16 09:10] windsonsea opened #3423 "REQUEST: New membership for windsonsea"
### GitHub Username

@windsonsea

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-05-16 09:28] mengjiao-liu commented on #3423
+1

[2022-05-16 09:33] tengqm commented on #3423
+1
Looking forward to more solid contributions from you.

[2022-05-17 09:18] oprinmarius opened #3424 "REQUEST: New membership for oprinmarius"
### GitHub Username

oprinmarius

### Organization you are requesting membership in

kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mai

[2022-05-17 09:19] oprinmarius commented on #3424
cc @marosset

[2022-05-17 10:03] claudiubelu commented on #3424
+1 from me

He's been active on a few sig-windows related projects and his contributions will help us improve the quality of Windows in Kubernetes. :)

[2022-05-17 15:58] marosset commented on #3424
+1 from me

@oprinmarius  has been active in our community meetings and has made great progress in adding support for Windows nodes in the perf-tests repo

[2022-05-17 16:15] ameukam commented on #3218
@leonardpahlke Transfer is done https://github.com/kubernetes-sigs/testgrid-json-exporter.

[2022-05-17 16:20] jsturtevant commented on #3424
+1

Thanks for all the work on the perf tests!

[2022-05-17 17:24] leonardpahlke commented on #3218
Thank you! 🙏

[2022-05-18 06:03] zaunist opened #3427 "REQUEST: New membership for zaunist"
### GitHub Username

@zaunist

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gro

[2022-05-18 06:24] tengqm commented on #3427
+1 Looking forward to see more contributions from you, @zaunist

[2022-05-18 07:57] mengjiao-liu commented on #3427
+1

[2022-05-18 09:34] wlp1153468871 commented on #3422
/assign @palnabarun

[2022-05-18 12:03] m-messiah opened #3428 "REQUEST: New membership for m-messiah"
### GitHub Username

@m-messiah

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google

[2022-05-18 13:30] christopherhein commented on #3428
+1

[2022-05-18 16:35] Fei-Guo commented on #3428
+1 thanks for your contributions and welcome

[2022-05-18 19:30] upodroid opened #3429 "REQUEST: New membership for upodroid"
### GitHub Username

upodroid

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-05-19 14:27] zyy19981018 opened #3430 "REQUEST: New membership for <zyy19981018>"
### GitHub Username

zyy19981018

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-05-19 15:43] Ashley-wenyizha opened #3431 "REQUEST: New membership for Ashley-wenyizha"
### GitHub Username

Ashley-wenyizha

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.g

[2022-05-19 22:53] BenTheElder opened #3432 "REQUEST: Archive kubernetes-sigs/k8s-gsm-tools"
### Repository to archive

https://github.com/kubernetes-sigs/k8s-gsm-tools

### Repository and/or sig subproject owners that are approving this archival

@BenTheElder (repo root approval OWNER, SIG Testing Chair + TL)

### When should this be done

whenever is convenient, following lazy consensus

### Additional context for request

This project didn't quite ship to production, and since then we'

[2022-05-19 22:58] BenTheElder commented on #3432
SIG Testing notice / consensus thread: https://groups.google.com/g/kubernetes-sig-testing/c/Y1raklkjFYw

Will also raise this in #sig-testing slack.

[2022-05-19 23:03] BenTheElder commented on #3407
FYI you can file a PR to one of these teams yourself and be approved by the OWNERS of the directory without depending on the folks running the whole org 😅

Write access:
https://github.com/kubernetes/org/blob/8cffdd1463d135649e16147aa8d630f475431fe7/config/kubernetes-sigs/sig-cloud-provider/teams.yaml#L40-L42

Admin access:
https://github.com/kubernetes/org/blob/8cffdd1463d135649e16147aa8d630f4754

[2022-05-19 23:09] chaodaiG commented on #3432
+1

[2022-05-19 23:09] BenTheElder commented on #2332
TIL https://prow.k8s.io/command-help /release-note-edit (which linking to doesn't work ....)

It looks ... awkward to use (multi-line??) but ... one possible option for that aspect ... if we make people aware of it. I'm also not sure if this works in the face of mangling the "language" as mentioned previously, I think it just substitutes the contents of an already correctly formatted block.

Still

[2022-05-19 23:09] tengqm commented on #3430
+1
Please continue your contribution to the community.

[2022-05-19 23:15] BenTheElder commented on #2222
This should probably have a different milestone, if any.

This issue seems out of sync / out of date with work tracked elsewhere.
For anyone else interested, see e.g. https://k8s.dev/rename in particular / https://github.com/kubernetes/community/issues/5636

[2022-05-20 04:53] dims commented on #3432
+1

[2022-05-21 16:54] upodroid commented on #3432
There is also the Kubernetes Secrets Store CSI Driver that provides an alternate solution if you don't like Kubernetes External Secrets(KES).

https://github.com/kubernetes-sigs/secrets-store-csi-driver

https://github.com/GoogleCloudPlatform/secrets-store-csi-driver-provider-gcp

On a sidenote, KES has been [deprecated](https://github.com/external-secrets/kubernetes-external-secrets/issues/864) i

[2022-05-21 17:00] dims commented on #3432
+1 from me.

[2022-05-21 17:12] BenTheElder commented on #3432
There's already a test-infra issue tracking that migration, the state of those projects is not a blocker for archiving this incomplete, inactive, and unused project though.

https://github.com/kubernetes/test-infra/issues/24869

[2022-05-21 17:18] upodroid commented on #3432
Thanks

[2022-05-23 17:09] suning0 opened #3434 "REQUEST: New membership for suning0"
### GitHub Username

@suning0

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/

[2022-05-23 22:44] jyotimahapatra commented on #3407
Thank you!! I wasn't familiar, I'll do that

[2022-05-23 22:52] jyotimahapatra commented on #3407
#3435

[2022-05-24 02:59] tengqm commented on #3434
+1

[2022-05-24 07:31] yue9944882 opened #3437 "REQUEST: New membership for yue9944882"
### GitHub Username

@yue9944882

### Organization you are requesting membership in

kubernetes, kubernetes-client, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-

[2022-05-24 21:58] fejta commented on #3413
+1

[2022-05-25 04:39] yue9944882 commented on #3437
thanks! just joined back

[2022-05-25 04:39] #3437 closed

[2022-05-25 12:10] nameYULI opened #3439 "REQUEST: New membership for <nameYULI>"
### GitHub Username

@nameYULI

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a

[2022-05-25 12:20] Sea-n opened #3440 "REQUEST: New membership for Sea-n"
### GitHub Username

@Sea-n

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/ku

[2022-05-25 12:20] tengqm commented on #3439
+1

[2022-05-25 12:21] tengqm commented on #3440
+1 Sea-n has been an active contributor during the past month. Looking forward to see more contributions from you.

[2022-05-25 21:43] hyandell commented on #3279
@mrbobbytables @nikhita @pmotyka Repository now transferred to kubernetes-purgatory. Ready to be moved on from there to its next home. Let me know if I can help further :)

[2022-05-26 12:05] leonardpahlke commented on #3218
@ameukam I cannot fine the repo under https://github.com/kubernetes-sigs/testgrid-json-exporter

[2022-05-26 13:42] joekr commented on #3404
Howdy @bridgetkromhout  👋  🤠

I will update the issue to ask to have the repo name changed from cluster-api-provider-oci to cluster-api-provider-oracle-cloud-infrastructure  upon donation to help clear up confusion. This also helps keep our naming consistent as well 😄   https://www.oracle.com/in/cloud/

[2022-05-26 15:57] dims commented on #3418
+1 from me. Sorry missed this earlier

[2022-05-26 18:07] jqmichael commented on #3431
As the one of the current maintainers of EFS CSI driver,

I support for the request from @Ashley-wenyizha

https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/OWNERS

[2022-05-26 20:05] samos123 opened #3441 "REQUEST: Create kubernetes-sigs/pspmigrator repo"
### New repo, staging repo, or migrate existing

new repo

### Is it a staging repo?

no

### Requested name for new repository

pspmigrator

### Which Organization should it reside

kubernetes-sigs

### Who should have admin access?

tallclair, samos123

### Who should have write access?

tallclair, samos123

### Who should be listed as approvers in OWNERS?

tallclair, samos123

### Who should be

[2022-05-26 20:13] szuecs opened #3442 "REQUEST: New membership for szuecs"
### GitHub Username

@szuecs

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-05-26 21:50] nckturner commented on #3431
+1 from me since @wongma7 is on vacation

[2022-05-26 21:54] wangnyue opened #3443 "REQUEST: New membership for wangnyue"
### GitHub Username

wangnyue

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.c

[2022-05-27 01:54] twilight0620 commented on #3373
It has passed so long, could anyone handle this pr?

[2022-05-27 03:40] harshitasao opened #3444 "REQUEST: New membership for harshitasao"
### GitHub Username

harshitasao

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com

[2022-05-27 03:53] helayoty commented on #3444
+1 from me! Thank you for volunteering to help with the 1.25 release team @harshitasao!

[2022-05-27 03:54] helayoty commented on #3444
@reylejano

[2022-05-27 04:02] mengjiao-liu commented on #3434
+1
Thanks @suning0 for all your contributions so far and looking forward to what will come!

[2022-05-27 04:05] mengjiao-liu commented on #3439
+1

[2022-05-27 08:08] Raffo commented on #3442
+1

[2022-05-27 09:25] ameukam commented on #3218
@leonardpahlke should be ok now. Forgot to make it public and the transfer

[2022-05-27 09:53] leonardpahlke commented on #3218
/close

[2022-05-27 09:54] #3218 closed

[2022-05-27 10:08] njuettner commented on #3442
+1

[2022-05-27 13:03] pmotyka commented on #3279
Thank you, @hyandell!  @mrbobbytables @nikhita - could you let us know what next steps are needed to migrate the repository to kubernetes-sigs?

[2022-05-27 14:46] reylejano commented on #3444
+1 Welcome to the 1.25 Release Team @harshitasao

[2022-05-27 17:32] cezarygerard opened #3446 "REQUEST: New membership for cezarygerard"
### GitHub Username

cezarygerard

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.co

[2022-05-27 17:39] jaypipes commented on #3446
Confirming I am sponsoring @cezarygerard. :+1:

[2022-05-27 20:03] mikebrow opened #3447 "REQUEST: New membership for Paul Schweigert"
### GitHub Username

@psschwei

### Organization you are requesting membership in

kubernetes, kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://gr

[2022-05-27 20:10] saschagrunert commented on #3447
+1 happy to have Paul as part of the org 😊

[2022-05-27 21:33] Jont828 opened #3448 "REQUEST: New membership for Jont828"
### GitHub Username

Jont828

### Organization you are requesting membership in

kubernetes

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.google.com/a/k

[2022-05-27 21:46] CecileRobertMichon commented on #3448
+1

@Jont828 should already be implicitly eligible for kubernetes org membership as a member and review in kubernetes-sigs https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem

[2022-05-27 21:46] mboersma commented on #3448
+1 Jonathan has been a big contributor to sig-lifecycle projects. He always does great work and we're lucky to have him in Kubernetes. 😄

[2022-05-28 00:22] aladewberry opened #3449 "REQUEST: New membership for @aladewberry"
### GitHub Username

@aladewberry

### Organization you are requesting membership in

kubernetes-sigs

### Requirements

- [X] I have reviewed the [community membership guidelines](https://git.k8s.io/community/community-membership.md)
- [X] I have [enabled 2FA on my GitHub account](https://github.com/settings/security)
- [X] I have subscribed to the [kubernetes dev e-mail list](https://groups.goog