[2020-03-23 22:58] mohamedsgap commented on #1739
+1 :+1:

[2020-03-23 22:58] mohamedsgap commented on #1739
@remyleone

[2020-03-24 02:41] tizhou86 commented on #1716
@mrbobbytables Invitation sent, thanks Bob!

[2020-03-24 06:01] remyleone commented on #1739
+1

Em seg, 23 de mar de 2020 23:58, Mohamed Abdel Nasser <
notifications@github.com> escreveu:

[2020-03-24 07:32] rlenferink commented on #1739
+1

[2020-03-24 12:10] mrbobbytables commented on #1716
Hm, under the admin tab does it give you the option of transferring the repo? I see this when I take a look at it:
[code]

[2020-03-24 16:01] olivierlemasle commented on #1714
Ping @mrbobbytables

[2020-03-24 20:38] adrianchung opened #1740 "REQUEST: New membership for adrianchung"
### GitHub Username
adrianchung

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-03-24 21:41] adrianludwin commented on #1740
Let's hold off until @adrianchung has a few contributions

/close

[2020-03-24 22:17] adrianchung commented on #1740
Closing for now until I have a few contributions.

[2020-03-24 22:17] #1740 closed

[2020-03-25 02:33] mrbobbytables commented on #1714
Hey there @olivierlemasle, thank you for all your contributions so far :)

I've created PR #1741  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-25 02:36] mrbobbytables commented on #1724
@wozniakjan I've gone ahead and created PR #1741 to add you to the kubernetes-csi org. As an FYI for the future, as a member of kubernetes, you do not need sponsorship to join the other "child" orgs. 👍 You can PR yourself in if it comes up again :)

/assign

[2020-03-25 02:36] mrbobbytables commented on #1726
@mohamedsgap, thank you for kickstarting the arabic localization

I've created PR #1741  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-25 02:38] mrbobbytables commented on #1729
@jingyih, thank you for all your help with the project thus far \o/

I've created PR #1741 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-25 02:38] mrbobbytables commented on #1730
@sanchezl  , thank you for all your contributions so far :)

I've created PR #1741  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them. \o/

Welcome to @kubernetes! 🎉

/assign

[2020-03-25 02:40] mrbobbytables commented on #1732
@olemarkus , thank you for all your help with the kops subproject :)

I've created PR #1741  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-25 03:20] zhlhahaha opened #1742 "REQUEST: New membership for zhlhahaha"
### GitHub Username
@zhlhahaha

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-03-25 04:51] #1714 closed

[2020-03-25 04:51] #1724 closed

[2020-03-25 04:51] #1726 closed

[2020-03-25 04:51] #1729 closed

[2020-03-25 04:51] #1730 closed

[2020-03-25 04:51] #1732 closed

[2020-03-25 07:03] kmova opened #1743 "New repo for kubernetes-incubator/external-storage/tree/master/nfs"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
nfs-ganesha-server-and-external-provisioner

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jsafrane
@msau42
@saad-ali
@xing-yang

### If not a staging repo, who should have write access

### If not a staging repo, who should be li

[2020-03-25 07:03] kmova commented on #1743
/sig storage

[2020-03-25 07:08] kmova opened #1744 "New repo for kubernetes-incubator/external-storage/tree/master/nfs-client"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
nfs-subdir-external-provisioner

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jsafrane
@msau42
@saad-ali
@xing-yang

### If not a staging repo, who should have write access

### If not a staging repo, who should be listed as appr

[2020-03-25 07:09] kmova commented on #1744
/sig storage

[2020-03-25 11:50] tizhou86 commented on #1716
@mrbobbytables Sorry for that, it should be working now, please try it again, thanks!

[2020-03-25 12:10] mrbobbytables commented on #1716
The repo has been transferred. \o/
PR to add teams is here: https://github.com/kubernetes/org/pull/1745
PR to add it as a subproject: https://github.com/kubernetes/community/pull/4650

Once those have merged and teams granted access the migration should be complete.

[2020-03-25 13:23] xing-yang commented on #1744
Can you also add @msau42 to admin access and security_contacts list?

Other than that, it looks good to me.

[2020-03-25 13:24] xing-yang commented on #1743
Can you also add @msau42 to admin access and security_contacts list?

Other than that, it looks good to me.

[2020-03-25 13:28] nikhita commented on #1744
@kmova @xing-yang Has the repo name been finalized? I see some open comments here about the repo name - https://docs.google.com/document/d/11QrSFVpI7lVpT5giwZpBQydRgCPLNs-XBgKY8kdt4gU/edit?ts=5e7aacc3#

[2020-03-25 13:36] xing-yang commented on #1744
I see that @msau42 has suggested to add "external" to the name.  @msau42 are you okay with the proposed repo name in this PR?

[2020-03-25 13:50] mrbobbytables commented on #1744
I do have a couple other questions -- for this and the other nfs repo is the eventual goal to migrate to the csi based provisioning method? If so, should it be moved to kubernetes-csi? or would these eventually be deprecated fully in favor of a csi based provisioning method?

[2020-03-25 15:19] kmova commented on #1744
@msau42 - went ahead and proposed to include the `external` in the name. It also helps with the confusion of whether this will be under CSI or sigs. ( cc: @mrbobbytables )

[2020-03-25 17:14] towca opened #1746 "REQUEST: New membership for towca"
### GitHub Username
@towca

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-03-25 17:16] Jeffwan commented on #1746
+1 from me!

Thanks for all your contributions! Looking forward to working with you even more! :)

[2020-03-25 17:17] MaciekPytel commented on #1746
+1: @towca has been a regular contributor to Cluster Autoscaler for more than a year now. Thanks for your existing contributions and looking forward to future collaboration :)

[2020-03-25 18:38] saad-ali commented on #1743
/approve
/lgtm

/hold

Remove hold once @xing-yang @msau42 and @jsafrane have all LGTM'd

[2020-03-25 18:39] saad-ali commented on #1743
Do we need sig-storage in the name? No strong opinion either way from me.

[2020-03-25 18:42] saad-ali commented on #1744
My 2 cents: If/when we migrate these to CSI, we can deprecate these repos and create new ones under kubernetes-csi.

Do we need sig-storage in the name? No strong opinion either way from me.

Otherwise
/lgtm
from me

Let's make sure to get LGTM from @xing-yang @msau42 @jsafrane and approval from @mrbobbytables and @nikhita before merging.

[2020-03-25 19:24] xing-yang commented on #1744
I don't have a strong opinion on whether sig-storage should be in the repo name or not.

/lgtm

[2020-03-25 19:26] xing-yang commented on #1743
I'm fine with the repo name with or without sig-storage.

/lgtm

[2020-03-25 19:36] nikhita commented on #1744
In the past, we haven't included the SIG's name in the repo name and given that it doesn't provide any additional information, I'd say that we don't have it. Lgtm otherwsie. :+1:

[2020-03-25 20:44] kmova commented on #1744
As it happens, there are only two repos with a sig prefix under the kubernetes-sigs:
- https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner
- https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner

This was probably a convention earlier, but not anymore.

After sounding it off with @msau42  - I removed the sig-storage prefix from the names.

[2020-03-25 20:44] kmova commented on #1743
Removed the prefix. More notes here: https://github.com/kubernetes/org/issues/1744#issuecomment-604077345

[2020-03-25 22:21] msau42 commented on #1744
/lgtm

[2020-03-25 22:22] msau42 commented on #1743
/lgtm

[2020-03-26 00:47] mohamedkhaledhafez opened #1749 "REQUEST: New membership for mohamedkhaledhafez"
### GitHub Username
@mohamedkhaledhafez

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-03-26 01:06] sftim commented on #1749
@mohamedkhaledhafez, you can check through the requirements listed above and check the ones that are met.

[2020-03-26 01:44] mrbobbytables commented on #1739
I know this is to help with starting a new localization effort, but one of the [membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#member) is to be actively contributing to the project. In the associated PR it doesn't look like there has been 😬.

Once the Arabic localization effort is started and there are a few contributions, I'd move to reopen th

[2020-03-26 01:45] mrbobbytables commented on #1749
I know this is to help with starting a new localization effort, but one of the [membership requirements](https://github.com/kubernetes/community/blob/master/community-membership.md#member) is to be actively contributing to the project. In the associated PR it doesn't look like there has been 😬.

Once the Arabic localization effort is started and there are a few contributions, I'd move to reopen th

[2020-03-26 01:51] nikhita commented on #1744
/assign

[2020-03-26 02:08] dims commented on #1742
+1 from me!

[2020-03-26 02:09] lubinsz commented on #1742
+1 :)

[2020-03-26 02:11] nikhita commented on #1743
/assign

[2020-03-26 02:29] nikhita commented on #1744
Repo has been created: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner :+1:

I have also created:

- https://github.com/kubernetes/org/pull/1750 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4654 - to add repos to sigs.yaml

Once both PRs merge, we can close this issue.

---

@kmova @ashishranjan738 @zimmertr I was not able to add you as ap

[2020-03-26 02:30] nikhita commented on #1743
Repo has been created: https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner

And same comments apply as https://github.com/kubernetes/org/issues/1744#issuecomment-604192447

[2020-03-26 02:30] justaugustus commented on #1744
One thing you'll want to look into is now that the second name change (into k-sigs) might break downstream consumers.

AFAIK, GH will redirect through one repo name change. I'm not sure about two.

[2020-03-26 02:33] nikhita commented on #1744
I probably need more coffee :) but can you elaborate on when we would need the second name change in k-sigs?

[2020-03-26 02:39] justaugustus commented on #1744
Wait, nvm. I thought it was the original repo had the `sig-storage` prefix in the name and that had already been renamed.

I'm seeing now that's it's a folder within an existing repo 😅

[2020-03-26 02:54] ricolin opened #1751 "REQUEST: New membership for ricolin"
### GitHub Username
@ricolin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev  e-mail list (https://groups.google.com/forum/

[2020-03-26 03:35] ramineni commented on #1751
/lgtm

[2020-03-26 05:13] lingxiankong commented on #1751
/lgtm

Thanks for adding the multi-arch support to cloud-provider-openstack.

[2020-03-26 05:53] zacharysarah commented on #1739
Agreed with @mrbobbytables. I’d like to see some open PRs before approving a localization membership.

[2020-03-26 05:54] zacharysarah commented on #1749
Agreed with @mrbobbytables. Please open some PRs demonstrating active work in the localization project.

[2020-03-26 10:05] tanjunchen opened #1752 "REQUEST: New membership for tanjunchen"
### GitHub Username

@tanjunchen

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2020-03-26 12:31] jsafrane commented on #1743
/lgtm

[2020-03-26 12:32] jsafrane commented on #1744
/lgtm

[2020-03-26 17:39] spiffxp commented on #963
/milestone v1.19
@idvoretskyi I just audited the orgs' billing settings, nothing has changed since I originally opened this issue. I still think we should have the same setting for all of our orgs.  What are next steps on your end?

[2020-03-26 17:54] spiffxp commented on #1051
/remove-lifecycle stale
/milestone v1.19
I think we should consider this as part of https://github.com/kubernetes/community/issues/2323

I notice we now have a kubernetes/provider-azure

We can either:
- follow that example for the other provider- subprojects
- modify our config merging code to support nesting subprojects under sig dirs

[2020-03-26 20:54] alculquicondor opened #1753 "REQUEST: New membership for alculquicondor"
### GitHub Username
@alculquicondor

### Organization you are requesting membership in
Kubernetes SIGs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-03-27 15:53] kmova opened #1755 "REQUEST: New membership for kmova"
### GitHub Username
@kmova

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-03-27 15:56] samudralavamshi54 opened #1756 "REQUEST: New membership for @samudralavamshi - adding to kubernetes org"
### GitHub Username
e.g. @samudralavamshi54

### Organization you are requesting membership in
e.g. @k8s-ci-robot
       @kubernetes

### Requirements
- [X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X ] I have subscribed to the kubernetes-dev e-

[2020-03-27 15:59] parispittman commented on #1756
+1 thanks Samudrala!

[2020-03-27 16:02] xing-yang commented on #1755
+1

[2020-03-27 16:07] msau42 commented on #1755
+1

[2020-03-27 19:32] chris-short commented on #1756
+1 big time!

[2020-03-27 19:35] spiffxp commented on #1084
It looks like the invite was never accepted, and got revoked in https://github.com/kubernetes/org/pull/1626

[2020-03-28 21:58] chriskim06 opened #1757 "REQUEST: New membership for chriskim06"
### GitHub Username
@chriskim06

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-03-28 22:22] corneliusweig commented on #1757
👍 from me. Chris has shown his dedication to krew and is driving the project forward with his work on multi-indexes.

[2020-03-28 22:49] ahmetb commented on #1757
Agreed. Seconding.

[2020-03-29 13:16] nikhita commented on #1710
/assign

[2020-03-29 13:33] nikhita commented on #1710
Repo has been created: https://github.com/kubernetes-sigs/kubebuilder-release-tools :+1:

Also created:
- https://github.com/kubernetes/org/pull/1761 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4659 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-03-29 13:42] nikhita commented on #1756
+1 from me too! :smile:

[2020-03-29 13:49] nikhita commented on #1742
@zhlhahaha Unfortunately, @lubinsz cannot act as a sponsor as sponsors [need to be reviewers/approvers](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements) for any repo in the @kubernetes org. :(

@BenTheElder should still be able to sponsor though.

[2020-03-29 13:59] nikhita commented on #1746
@towca thank you for all your help with cluster autoscaler :)

I've created PR #1762  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-29 14:00] nikhita commented on #1757
@chriskim06 thank you for all your help with krew :)

I've created PR #1762  to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-29 14:00] nikhita commented on #1756
@samudralavamshi54 thank you for all your help with contribex :)

I've created PR #1762  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-29 14:01] nikhita commented on #1755
@kmova thank you for all your help with sig storage :)

I've created PR #1762 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-29 14:02] nikhita commented on #1753
@alculquicondor I've created PR #1762  to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-29 14:02] nikhita commented on #1752
@tanjunchen I've created PR #1762  to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-03-29 14:02] nikhita commented on #1751
@ricolin thank you for all your help with cloud-provider-openstack :)

I've created PR #1762  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-03-29 14:05] #1746 closed

[2020-03-29 14:05] #1757 closed

[2020-03-29 14:05] #1755 closed

[2020-03-29 14:05] #1756 closed

[2020-03-29 14:05] #1751 closed

[2020-03-29 14:05] #1752 closed

[2020-03-29 14:05] #1753 closed

[2020-03-29 15:18] justaugustus commented on #1710
@DirectXMan12 @pwittrock @vincepri -- one note: there's a release notes generator tool in k/release: https://github.com/kubernetes/release/tree/master/cmd/release-notes which can be used for non-k/k repos as well.

There's a little manually massaging to do, but I do use it for capz.

Here's an [example](https://github.com/kubernetes-sigs/cluster-api-provider-azure/releases/tag/v0.4.0):

## Cluster

[2020-03-29 15:19] justaugustus commented on #1710
Would be cool if we could consolidate (where it makes sense) to k/release.

[2020-03-29 15:22] nikhita commented on #1710
Going to close this since all PRs have merged and teams have been granted access.

/close

[2020-03-29 15:22] #1710 closed

[2020-03-29 16:11] samudralavamshi54 commented on #1756
Thanks @nikhita

[2020-03-30 06:28] mkumatag commented on #1742
+1
Thanks for all your patched so far, looking forward to see more contributions from you.

[2020-03-30 20:43] mrbobbytables commented on #1700
https://github.com/kubernetes/community/pull/4629 has merged, and with that everything should be good. Going to go ahead and close this out.

If you have any questions, please feel free to reach out either in this issue or give me a poke in slack.

Thanks!

/close

[2020-03-30 20:43] #1700 closed

[2020-03-30 21:11] mrbobbytables commented on #1716
Now that https://github.com/kubernetes/community/pull/4650 has merged -- all steps for repo migration have been complete 🎉
With that I'm going to go ahead and close this out.
If you have questions, feel free to reopen or give me a poke in slack.

Thanks!

/close

[2020-03-30 21:11] #1716 closed

[2020-03-31 01:43] ityuhui commented on #1700
Thank you @mrbobbytables

[2020-04-01 07:39] butuzov opened #1763 "REQUEST: New membership for @butuzov"
### GitHub Username
@butuzov

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-04-01 07:41] idvoretskyi commented on #1763
+1

[2020-04-01 08:01] MaxymVlasov commented on #1763
+1

[2020-04-01 09:29] nikhita commented on #1744
Closing since teams have been setup and sigs.yaml updated.

[2020-04-01 09:29] #1744 closed

[2020-04-01 09:30] nikhita commented on #1743
Closing since teams have been setup and sigs.yaml updated.

[2020-04-01 09:30] #1743 closed

[2020-04-01 14:30] mrbobbytables commented on #1763
@butuzov - unfortunately @MaxymVlasov cannot sponsor you for membership. =/ Sponsors must be a reviewer or approver according to our [Membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements). Is there someone else that might be able to sponsor you?

[2020-04-01 14:41] xigang opened #1765 "REQUEST: New membership for xigang"
### GitHub Username
@xigang

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-04-01 14:46] butuzov commented on #1763
That's a pity.
I can request help about sponsorship from the next people:
- @sftim
- @remyleone

Guys, if you read this I am really sorry I have tagged you without consent.
I hope you remember who am I, and what I did (even if my PR's wasn't something extraordinary). . I want to be a part of the Kubernetes organization in order to help with Ukrainian localization of the website. I can't guarantee

[2020-04-01 15:59] remyleone commented on #1763
👍

[2020-04-01 16:00] remyleone commented on #1763
@rekcah78 @rbenzair Can you approve this membership request?

[2020-04-01 17:42] sftim commented on #1763
Hi @butuzov

Please check the list of requirements in the issue description - I'm happy to be your sponsor, but also a little concerned that you submitted this request before you're able to tick that list.

[2020-04-01 18:17] tallclair commented on #1669
From our discussions at last sig-auth, I think we're OK with this, as long as it's clear that this is for prototypes & proposals, and not supported code. Along those lines:

- Repo name should be `wg-policy-prototypes`. I'm open to suggestions, but I'd like it to be clear from the URL that this isn't production code.
- Readme should clearly document the expectations for the repo.

[2020-04-01 18:22] JimBugwadia commented on #1669
Sounds good! I've updated the repo name and description in the request, based on your suggestion.

[2020-04-01 19:23] butuzov commented on #1763
Hi @sftim

Thank you and @remyleone for answering on my call. Can you point what am I missing ( if it's about MaxymVlasov who isn't an owner/reviewer - it's totally my fault as I thought Max and Anastasia already in owners/reviewers list for the Ukrainian language, my fault I didn't confirm it before making PR), as far as I can tell about you - is that you have hawk eye for details I wish I had.
C

[2020-04-01 19:28] sftim commented on #1763
![Requirements](https://user-images.githubusercontent.com/22591623/78178132-13b7a280-7457-11ea-9a80-24dd3e78417f.png)

Reviewers looking at this PR would expect to see each of those items checked, @butuzov. Which ones can you already check off?

[2020-04-01 19:47] butuzov commented on #1763
1) I have reviewed the community membership guidelines.
2) I have enabled 2FA on my GitHub account (I did it a month ago)
3) I have subscribed to the kubernetes-dev e-mail list ( I am subscribed to it since 27/11/2019)
4) I am actively contributing to 1 or more Kubernetes subprojects. (Am I wrong here?)
5-6) I have spoken to @idvoretskyi and @MaxymVlasov before submitting PR. I have asked @remyleo

[2020-04-01 19:47] mrbobbytables commented on #1763
These things happen fairly often^^:;;; Please don't beat yourself up. It's why we have the [Membership Coordinator role](https://github.com/kubernetes/community/tree/master/github-management#new-membership-coordinator) to help vet and guide folks through the membership process. 👍

[2020-04-01 20:17] sftim commented on #1763
Let me reiterate that I'm happy to sponsor here.

[2020-04-02 06:17] butuzov commented on #1763
Thank you Tim!

[2020-04-02 09:08] xigang commented on #1765
cc @thockin @feiskyer @k82cn @andrewsykim 😁

[2020-04-02 10:07] nikhita commented on #1669
/assign

[2020-04-02 10:28] nikhita commented on #1669
Repo has been created: https://github.com/kubernetes-sigs/wg-policy-prototypes :+1:

Also created:

- https://github.com/kubernetes/org/pull/1767 - to create GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4675 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-04-03 12:18] mrbobbytables commented on #1742
@zhlhahaha , thank you for all your contributions so far :)

I've created PR #1769  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-03 12:19] mrbobbytables commented on #1763
@butuzov sorry if things got off to the wrong start^^;;;

I've created PR #1769  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-03 12:21] #1742 closed

[2020-04-03 12:21] #1763 closed

[2020-04-03 12:30] nikhita commented on #1669
Closing as teams have been setup and repo has been added to sigs.yaml

[2020-04-03 12:30] #1669 closed

[2020-04-05 23:32] cblecker commented on #1689
/lifecycle stale

Is this still active? If so, please `/remove-lifecycle stale`
@alexgervais: you may wish to ping your sponsors (@bowei and @youngnick) on Slack and refer them to this.

[2020-04-05 23:34] cblecker commented on #1692
/lifecycle stale

Is this still active? If so, please `/remove-lifecycle stale`
Two sponsors are required for Kubernetes membership. They must have close interaction, and be familiar with your work. More details are available here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2020-04-05 23:35] cblecker commented on #1693
/lifecycle stale

Is this still active? If so, please `/remove-lifecycle stale`
Two sponsors are required for Kubernetes membership. They must have close interaction, and be familiar with your work. More details are available here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2020-04-05 23:36] cblecker commented on #1739
/lifecycle stale

Is this still active? If so, please `/remove-lifecycle stale`
As noted, active contributions to the project are required prior to submitting for membership. Please note that membership is not required to contribute.

[2020-04-05 23:37] cblecker commented on #1749
/lifecycle stale

Is this still active? If so, please `/remove-lifecycle stale`
As noted, active contributions to the project are required prior to submitting for membership. Please note that membership is not required to contribute.

[2020-04-05 23:39] cblecker commented on #1563
@saad-ali Any update on this? Have you been making progress in moving the active projects out?

[2020-04-06 00:01] youngnick commented on #1689
Oh, sorry! That is a solid ack from me.

[2020-04-06 00:01] youngnick commented on #1689
/remove-lifecycle stale

[2020-04-06 03:02] yohix commented on #1692
@cblecker I think there are no sponsors for **Tamil**

[2020-04-06 21:33] DirectXMan12 commented on #1710
@justaugustus it's mainly that our stuff is fairly different than k/release ATM.  I'm not sure how much sense it makes to unify (we specifically avoided needing github access and use emojis, etc).  That's mainly why I haven't investigated unifying further.

[2020-04-06 22:28] BenTheElder commented on #1742
sorry, I've just been overwhelmed again, my inbox has overflowed.

On Fri, Apr 3, 2020 at 5:22 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-04-06 23:25] jianzzha opened #1774 "REQUEST: New membership for jianzzha"
### GitHub Username
@jianzzha

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-04-08 07:30] floryut opened #1777 "REQUEST: New membership for floryut"
### GitHub Username
floryut

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-04-08 07:41] Miouge1 commented on #1777
+1

@floryut has been contributing to Kubespray for the past 6 months

[2020-04-08 07:54] holmsten commented on #1777
+1
Thanks for your contributions to Kubespray!

[2020-04-08 18:25] hbagdi opened #1778 "REQUEST: New membership for @hbagdi"
### GitHub Username

@hbagdi

### Organization you are requesting membership in

kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-04-08 18:27] robscott commented on #1778
👍Thanks for all the help with Service APIs + Ingress!

[2020-04-08 23:20] kbarnard10 commented on #1778
Big #1 from me. Excited to officially welcome you to the team!

[2020-04-09 12:07] mrbobbytables commented on #1689
/assign @bowei

[2020-04-09 14:02] pjhwa opened #1780 "REQUEST: New membership for pjhwa"
### GitHub Username
@pjhwa

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2020-04-09 15:17] gochist commented on #1780
+1 Thank you for your contribution in document Korean localization!!!

[2020-04-10 00:29] mrbobbytables commented on #1777
@floryut , thank you for all your contributions to kubespray!

I've created PR #1782  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-04-10 00:30] mrbobbytables commented on #1778
@hbagdi , thank you for all your contributions so far :)

I've created PR #1782  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-04-10 10:55] #1777 closed

[2020-04-10 10:55] #1778 closed

[2020-04-10 13:06] idvoretskyi commented on #963
@spiffxp could you (or someone else from Steering) please raise the formal request with the proposed plans upgrade/change to the CNCF ServiceDesk  - http://servicedesk.cncf.io/; we'll take it from there.

Thanks!

[2020-04-10 16:12] hbagdi commented on #1778
Thank you, @mrbobbytables!

[2020-04-10 18:55] ixdy opened #1783 "Repo creation request: kubernetes-sigs/boskos"
### New Repo, Staging Repo, or migrate existing
new repository (will move https://github.com/kubernetes/test-infra/tree/master/boskos into this repository)

### Requested name for new repository
`boskos`

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@ixdy
@alvaroaleman
@stevekuznetsov

### If not a staging repo, who should have wr

[2020-04-10 19:39] KnVerey opened #1784 "REQUEST: New membership for knverey"
### GitHub Username
knverey

### Organization you are requesting membership in
kubernetes,kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2020-04-10 19:58] mortent commented on #1784
+1

[2020-04-10 20:01] spiffxp commented on #1783
/assign @stevekuznetsov @fejta
To get your thoughts

I'm in favor this

[2020-04-10 20:03] fejta commented on #1783
No concerns

[2020-04-11 01:26] seokho-son commented on #1780
+1 Thank you for your contribution.

[2020-04-11 02:15] pjhwa commented on #1780
@gochist , @seokho-son
Thank you for your sponsorship! :-)

[2020-04-11 03:14] ysyukr commented on #1780
+1 welcome to l10n korean team! :smile:

[2020-04-11 03:18] pjhwa commented on #1780
Thank you very much! @ysyukr

[2020-04-13 15:28] lex111 opened #1787 "REQUEST: New membership for lex111"
### GitHub Username
@lex111

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-04-13 15:54] stevekuznetsov commented on #1783
+1 from me!

[2020-04-13 16:38] sftim commented on #1787
I'm happy to sponsor this.

BTW @lex111 [I think] you can tick the boxes in the PR description that you are already meeting.

[2020-04-13 17:06] sftim commented on #1787
Ah, the checkboxes thing looks like a GitHub bug. If I try a different browser they show as checked.

[2020-04-13 18:22] spiffxp commented on #1783
/assign

[2020-04-13 23:05] spiffxp commented on #1783
/close
- created repo following instructions at https://github.com/kubernetes/community/blob/master/github-management/org-owners-guide.md#creating-repositories
- made the teams via https://github.com/kubernetes/org/pull/1788
- updated sigs.yaml via https://github.com/kubernetes/community/pull/4714

@ixdy you should have access to https://github.com/kubernetes-sigs/boskos/settings if you need to do

[2020-04-13 23:05] #1783 closed

[2020-04-14 01:38] robscott commented on #1689
:+1: from me, thanks for all your work @alexgervais!

[2020-04-14 05:21] Potapy4 commented on #1787
+1, I'm good 👍

[2020-04-14 06:54] soltysh commented on #1784
:+1:

[2020-04-14 13:32] nikhita commented on #1689
@alexgervais thank you for all your contributions :)

I've created PR #1789 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-04-14 13:33] nikhita commented on #1780
@pjhwa thank you for all your help with Korean localization :)

I've created PR #1789 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-14 13:34] nikhita commented on #1784
@KnVerey thank you for all your contributions with sig cli :)

I've created PR #1789 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2020-04-14 13:34] nikhita commented on #1787
@lex111 thank you for all your contributions :)

I've created PR #1789 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-14 13:34] pjhwa commented on #1780
Thank you so much, @nikhita !

[2020-04-14 14:52] #1689 closed

[2020-04-14 14:52] #1780 closed

[2020-04-14 14:52] #1784 closed

[2020-04-14 14:52] #1787 closed

[2020-04-14 15:32] alexgervais commented on #1689
Thanks all! @nikhita  @mrbobbytables  @youngnick @robscott @bowei
Looking forward to more contributions!

[2020-04-14 19:05] idvoretskyi commented on #963
FYI @spiffxp @cblecker - GitHub has announced some updates (https://help.github.com/en/github/getting-started-with-github/faq-about-changes-to-githubs-plans), can we investigate if some of these updates are valuable for us?

[2020-04-14 19:46] spiffxp commented on #963
I've refreshed the description accordingly to handle where the plans are at.  I don't view this as an upgrade or beneficial for us, but I think I'm OK with where our plans stand now.

The two orgs that are on GitHub Team (kubernetes, kubernetes-security) will have their private-repo GitHub Action minutes reduced from 10k to 3k.  This doesn't impact us since we don't use GitHub Actions on private r

[2020-04-14 20:12] gaurav1086 opened #1790 "REQUEST: New membership for gaurav1086"
### GitHub Username
gaurav1086

### Organization you are requesting membership in
kubernetes

### Requirements
- [ y] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [y ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ y] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-04-14 20:43] alaimo opened #1791 "Migrate Metacontroller Into A Kubernetes Org"
### New Repo, Staging Repo, or migrate existing
Migrate existing

### Requested name for new repository
metacontroller

### Which Organization should it reside
sig-api-machinery

### If not a staging repo, who should have admin access
@luisdavim, @alaimo, @AmitKumarDas

### If not a staging repo, who should have write access
@luisdavim, @alaimo, @AmitKumarDas

### If not a staging repo, who should

[2020-04-14 20:53] mrbobbytables commented on #1791
@alaimo It requires sign off from the [SIG api-machinery leads](https://github.com/kubernetes/community/tree/master/sig-api-machinery#leadership) as they would then be responsible for the project.

/assign @deads2k @fedebongio @lavalamp

[2020-04-15 05:25] idealhack commented on #1790
/retitle REQUEST: New membership for gaurav1086

[2020-04-15 13:32] rmenn opened #1792 "REQUEST: New membership for rmenn"
### GitHub Username
@rmenn

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-04-15 17:08] neolit123 commented on #1790
@gaurav1086 we normally request more PRs / activity from contributors before adding them as a member, or at least that is what i've seen.

[2020-04-15 21:29] LappleApple opened #1795 "REQUEST: New membership for LappleApple"
### GitHub Username
e.g. (at)example_user

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2020-04-15 21:51] onlydole commented on #1795
A huge +1 from me! Thank you for all your amazing work in the community, @LappleApple 🎉

[2020-04-16 00:32] justaugustus commented on #714
/remove-sig pm
/sig architecture

@dims @johnbelamaric @derekwaynecarr -- what would you like to do with this one?

[2020-04-16 01:12] dims commented on #714
we let it be where it is now https://github.com/kubernetes-retired/contrib/tree/master/micro-demos and close this issue

/close

[2020-04-16 01:12] #714 closed

[2020-04-16 01:15] saad-ali commented on #1563
New repos have been created for NFS:
* https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner
* https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner

Next steps:
* Move the NFS provisioner code to new repos - @kmova is working on this.
* SIG Storage has also identified the gluster provisioner as needing to be moved, so we'll have to create a repo and move the

[2020-04-16 16:04] zimmertr opened #1797 "REQUEST: New membership for Zimmertr"
### GitHub Username
@zimmertr

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-04-16 16:14] zimmertr commented on #1797
Original request made [here](https://github.com/kubernetes/org/issues/1744#issuecomment-604192447) by @kmova.

Ask to become a community member first made [here](https://github.com/kubernetes/org/issues/1744#issuecomment-604192447).

[2020-04-16 18:18] johnbelamaric opened #1798 "REQUEST: sig-architecture-* teams cleanup"
### Organization or repository
k/k

### Users affected
Various

### Describe the issue
The [sig arch teams](https://github.com/orgs/kubernetes/teams?query=sig-arch) are out-of-date and not managed by Peribolos. I'd like to clean these up. Probably we should move them to managed by Peribolos then we can use a PR to clean them up.

[2020-04-16 19:01] justaugustus commented on #1798
I can help out here!
/assign

[2020-04-16 20:13] justaugustus commented on #1798
@johnbelamaric -- to clarify a little:

All lists are actually already managed by Peribolos. You can see the SIG Arch ones here: https://github.com/kubernetes/org/tree/master/config/kubernetes/sig-architecture

[This PR](https://github.com/kubernetes/org/pull/1799) consolidates the groups and does some minor membership updates (just to ensure the SIG Chairs are present everywhere).

/sig architect

[2020-04-16 20:58] johnbelamaric commented on #1798
thanks, I was looking in the wrong place

[2020-04-17 10:13] humblec opened #1800 "New repo for kubernetes-incubator/external-storage/tree/master/gluster/block"
### New Repo, Staging Repo, or migrate existing
 new repository

### Requested name for new repository
 gluster-block-external-provisioner

### Which Organization should it reside
 kubernetes-sigs

### If not a staging repo, who should have admin access

@jsafrane
@msau42
@saad-ali
@xing-yang
### If not a staging repo, who should have write access

### If not a staging repo, who should be listed a

[2020-04-17 10:14] humblec commented on #1800
/sig storage

[2020-04-17 10:16] humblec opened #1801 "New repo for kubernetes-incubator/external-storage/tree/master/gluster/file"
### New Repo, Staging Repo, or migrate existing
 new repository

### Requested name for new repository
 gluster-file-external-provisioner

### Which Organization should it reside
 kubernetes-sigs

### If not a staging repo, who should have admin access

@jsafrane
@msau42
@saad-ali
@xing-yang
### If not a staging repo, who should have write access

### If not a staging repo, who should be listed as

[2020-04-17 10:18] humblec commented on #1800
@saad-ali @jsafrane @msau42 @xing-yang as discussed here is the proposal for new repo . PTAL  .. thanks!

[2020-04-17 10:18] humblec commented on #1801
@saad-ali @jsafrane @msau42 @xing-yang as discussed here is the proposal for new repo . PTAL .. thanks!

[2020-04-17 11:59] xing-yang commented on #1800
+1

[2020-04-17 12:00] xing-yang commented on #1801
+1

[2020-04-17 13:23] nikhita commented on #1800
/assign

[2020-04-17 13:23] nikhita commented on #1801
/assign

[2020-04-17 13:39] nikhita commented on #1800
Created https://github.com/kubernetes-sigs/gluster-block-external-provisioner :+1:

Also created:

- https://github.com/kubernetes/org/pull/1802 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4725 - to add the repo to sigs.yaml

Once both PRs get merged, we can close this issue.

[2020-04-17 13:40] nikhita commented on #1801
Created https://github.com/kubernetes-sigs/gluster-file-external-provisioner :+1:

Also created:

- https://github.com/kubernetes/org/pull/1802 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4725 - to add the repo to sigs.yaml

Once both PRs get merged, we can close this issue.

[2020-04-17 13:42] nikhita commented on #1800
@yuanying I have added you as an approver to both repos but to be able to actually approve PRs, you'll need to be a member of the kubernetes-sigs GitHub org. You can request membership by submitting an issue to this repo. More details can be found [here](https://github.com/kubernetes/community/blob/master/community-membership.md#member).

[2020-04-17 14:06] humblec commented on #1801
Thanks @nikhita for quick action and help here!

[2020-04-17 15:42] nikhita commented on #1801
Teams have been set up/granted access and sigs.yaml has been updated.

/close

[2020-04-17 15:42] nikhita commented on #1800
Teams have been set up/granted access and sigs.yaml has been updated.

/close

[2020-04-17 15:43] #1801 closed

[2020-04-17 15:43] #1800 closed

[2020-04-17 16:27] yohix commented on #1692
It seems it takes too long to become a member! We can close this issue.

[2020-04-17 16:33] mrbobbytables commented on #1795
Oh woops, thought I +1'ed this already 🤦
ANYWAY - +1 from me :P

[2020-04-17 16:58] huffmanca opened #1803 "REQUEST: New membership for huffmanca"
### GitHub Username
@huffmanca

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-04-17 17:22] msau42 commented on #1803
+1

[2020-04-17 17:26] gnufied commented on #1803
+1

[2020-04-17 22:45] #1798 closed

[2020-04-18 01:34] yuanying opened #1804 "REQUEST: New membership for yuanying"
### GitHub Username
e.g. @yuanying

### Organization you are requesting membership in
e.g. @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2020-04-18 10:49] humblec commented on #1804
/approve

[2020-04-18 13:24] nikhita commented on #1804
+1

[2020-04-20 12:16] ashishranjan738 opened #1806 "REQUEST: New membership for ashishranjan738"
### GitHub Username
@ashishranjan738

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google

[2020-04-20 12:24] humblec commented on #1806
+1
/approve

[2020-04-20 12:29] nikhita commented on #1806
+1 from me too!!

[2020-04-20 12:52] andyzhangx commented on #1806
+1
/approve

[2020-04-20 14:25] nzoueidi commented on #1806
/assign

[2020-04-20 14:25] nzoueidi commented on #1804
/assign

[2020-04-20 14:25] nzoueidi commented on #1803
/assign

[2020-04-20 14:26] nzoueidi commented on #1795
/assign

[2020-04-20 14:58] nzoueidi commented on #1795
Hey there @LappleApple, thank you for all your contributions so far :)

I've created PR #1807  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-04-20 14:59] nzoueidi commented on #1803
Hey there @huffmanca, thank you for all your contributions so far :)

I've created PR #1807  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-04-20 14:59] nzoueidi commented on #1804
Hey there @yuanying, thank you for all your contributions so far :)

I've created PR #1807  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-04-20 14:59] nzoueidi commented on #1806
Hey there @ashishranjan738, thank you for all your contributions so far :)

I've created PR #1807  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-04-20 15:00] LappleApple commented on #1795
Thanks!

[2020-04-20 15:07] #1795 closed

[2020-04-20 15:07] #1803 closed

[2020-04-20 15:07] #1804 closed

[2020-04-20 15:07] #1806 closed

[2020-04-20 17:55] divyenpatel opened #1808 "Request Netlify site for kubernetes-sigs/vsphere-csi-driver"
### Repository
https://github.com/kubernetes-sigs/vsphere-csi-driver

### Project domain
vsphere-csi-driver.sigs.k8s.io

NOTE: Must match domain request.
See subproject site request docs for more information:
http://git.k8s.io/community/github-management/subproject-site-requests.md#subproject-domain-request

### Additional context for request
Any additional information or links to discussions rega

[2020-04-20 17:56] divyenpatel commented on #1808
/assign @nikhita

[2020-04-20 18:21] divyenpatel commented on #1808
cc: @mrbobbytables

[2020-04-20 22:05] aaronlevy commented on #1792
Unfortunately, I don't think I can actually sponsor this - as I don't believe I'm in any OWNERS files under the Kubernetes org.

Alternatively, maybe someone who is in the org would be willing to pass the gcr repo request through?

If I am wrong, and I can sponsor - I am +1.

[2020-04-20 22:32] mrbobbytables commented on #1792
@rmenn if you amend your sponsorship to kubernetes-sigs, @aaronlevy's and @andrewrynhard +1 would work :)

Both are owners in bootkube that could sponsor.

[2020-04-21 02:52] bartsmykla commented on #1808
Closing as kubernetes/k8s.io#759 was merged and dns reconciliation done.

/close

[2020-04-21 13:54] Miouge1 opened #1809 "REQUEST: New membership for Miouge1"
### GitHub Username
@Miouge1

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-04-21 13:56] Atoms commented on #1809
+1 from me

[2020-04-21 14:08] mattymo commented on #1809
+1 from me as well. Maxime is very much involved.

[2020-04-21 14:20] mrbobbytables commented on #1808
/reopen
@bartsmykla this still needs to be resolved on the netlify side

[2020-04-21 14:21] bartsmykla commented on #1808
Yes, apologies

[2020-04-21 14:22] mrbobbytables commented on #1808
@divyenpatel please stop spamming requesting the netlify integration through the GH UI. It's something we have to handle.

[2020-04-21 15:02] joao-luna-98 opened #1810 "REQUEST: New membership for joao-luna-98"

[2020-04-21 16:59] EppO opened #1811 "REQUEST: New membership for EppO"
### GitHub Username
@EppO

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-04-21 17:06] LuckySB commented on #1811
Happy to be sponsor

[2020-04-21 17:17] Miouge1 commented on #1811
+1

[2020-04-21 18:08] neolit123 opened #1812 "archive kubernetes/kubernetes-anywhere"
### Repository to archive
https://github.com/kubernetes/kubernetes-anywhere

### Repository and/or sig subproject owners that are approving this archival
/sig cluster-lifecycle
@neolit123
(i'm an admin for that repository)

### When should this be done
Anytime.

### Additional context for request
- the project has been deprecated [since Dec 2018](https://github.com/kubernetes/kubernetes-anywhere/c

[2020-04-21 18:14] nikhita commented on #1812
@neolit123 IIUC the repo needs to be archived after https://github.com/kubernetes/test-infra/pull/17313 gets merged, right?

[2020-04-21 18:17] neolit123 commented on #1812
nope, not required. the code that mentions "kubernetes-anywhere" is not used.

[2020-04-21 18:38] nikhita commented on #1808
https://vsphere-csi-driver.sigs.k8s.io/ is live now :)

It might take a while to get HTTPS enabled. Please reopen if you face any issues!

[2020-04-21 18:38] #1808 closed

[2020-04-21 18:39] nikhita commented on #1812
@neolit123 ah right!

/assign

[2020-04-21 18:51] nikhita commented on #1812
The repo has been archived - https://github.com/kubernetes-retired/kubernetes-anywhere

Once https://github.com/kubernetes/org/pull/1813 and https://github.com/kubernetes/community/pull/4735, we can close this issue.

[2020-04-21 18:55] nikhita commented on #1812
Also announced on the k-dev mailing list - https://groups.google.com/forum/#!topic/kubernetes-dev/no7pQ3YxmKA

[2020-04-21 19:09] neolit123 commented on #1812
thanks @nikhita

[2020-04-21 20:23] sujaypillai opened #1814 "REQUEST: New membership for sujaypillai"
### GitHub Username
@sujaypillai

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-04-21 20:52] nikhita commented on #1812
#1813 and kubernetes/community#4735 have merged

/close

[2020-04-21 20:52] #1812 closed

[2020-04-22 00:22] yuanchen8911 opened #1817 "REQUEST: New membership for yuanchen8911"
### GitHub Username
@yuanchen8911

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-04-22 01:09] k82cn commented on #1817
/lgtm

[2020-04-22 07:01] saschagrunert commented on #1474
/remove-lifecycle stale

[2020-04-22 10:57] joao-luna-98 opened #1818 "REQUEST: New membership for joao-luna-98"
### GitHub Username
@joao-luna-98

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-04-22 10:59] #1810 closed

[2020-04-22 14:19] idealhack commented on #1814
+1

[2020-04-22 16:56] wojtek-t commented on #1817
/lgtm

[2020-04-22 17:32] rmenn commented on #1792
@mrbobbytables i am actually a member of kubernetes-sigs, the only reason i opened up with request was due to the requirement of being in k/k since i requested for a staging registry as per comment mentioned here : https://github.com/kubernetes/k8s.io/pull/747#issuecomment-617921751

[2020-04-22 22:12] sftim commented on #1814
+1 from me too

[2020-04-23 06:05] Adirio opened #1820 "REQUEST: New membership for Adirio"
### GitHub Username
@Adirio

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-04-23 06:50] alexeldeib commented on #1820
+1, @Adirio has been helping out a bunch with Kubebuilder. Time to make it official in the org 🙂

[2020-04-23 13:10] divya-mohan0209 opened #1821 "REQUEST: New membership for divya-mohan0209"
### GitHub Username
@divya-mohan0209

### Organization you are requesting membership in
@kubernetes

### Requirements
- [&#x2611;] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [&#x2611;] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [&#x2611;] I have subscribed to the kubernetes-dev e-mail list (http

[2020-04-23 13:52] savitharaghunathan commented on #1821
+1 for @divya-mohan0209 :) She has been working actively on improving website documentation and also a member of 1.19 release team.

[2020-04-23 15:51] DirectXMan12 commented on #1820
:+1: from me as well

[2020-04-23 16:51] spiffxp commented on #963
/close
Discussed during meeting, we're ok with the current state of affairs

[2020-04-23 16:51] #963 closed

[2020-04-23 17:03] onlydole commented on #1821
+1 for @divya-mohan0209 too!!! Welcome to the 1.19 Release Team!

[2020-04-23 18:37] spiffxp opened #1823 "Migrate kubernetes-incubator/cluster-proportional*-autoscaler to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing

### From
- https://github.com/kubernetes-incubator/cluster-proportional-autoscaler
- https://github.com/kubernetes-incubator/cluster-proportional-vertical-autoscaler

### To
- https://github.com/kubernetes-sigs/cluster-proportional-autoscaler
- https://github.com/kubernetes-sigs/cluster-proportional-vertical-autoscaler

### If not a

[2020-04-23 18:38] spiffxp commented on #1823
/assign @thockin

[2020-04-23 18:41] thockin commented on #1823
Thanks!

/lgtm
/approve

[2020-04-23 18:47] spiffxp commented on #1823
/assign

[2020-04-23 18:53] spiffxp commented on #1823
Creating teams prior to move: https://github.com/kubernetes/org/pull/1824
Update sigs.yaml after move: https://github.com/kubernetes/community/pull/4738

[2020-04-23 19:25] spiffxp commented on #1823
Transferred https://github.com/kubernetes-sigs/cluster-proportional-autoscaler
Removed collaborators
Added teams

[2020-04-23 19:43] spiffxp commented on #1823
Transferred https://github.com/kubernetes-sigs/cluster-proportional-vertical-autoscaler
Removed collaborators
Added teams
Added k8s-sig-network topic

[2020-04-23 20:00] wilsonehusin opened #1825 "REQUEST: New membership for @wilsonehusin"
### GitHub Username
@wilsonehusin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-04-23 20:09] onlydole commented on #1825
+1 to this request! Welcome to the 1.19 Release Team, @wilsonehusin 👏

[2020-04-23 20:19] puerco commented on #1825
+1 welcome to the release notes team @wilsonehusin  :)

[2020-04-23 21:55] zestrells opened #1826 "REQUEST: New membership for @zestrells"
### GitHub Username
@zestrells

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-04-23 21:59] onlydole commented on #1826
+1 to @zestrells and welcome to the 1.19 release team!

[2020-04-23 23:29] savitharaghunathan commented on #1826
+1 to @zestrells 🎉

[2020-04-24 13:25] desaintmartin opened #1829 "REQUEST: New membership for desaintmartin"
### GitHub Username
@desaintmartin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-04-24 13:37] mrbobbytables commented on #1692
Thanks for letting us know @yg please reopen or create a new issue once you've found a second sponsor.

/close

[2020-04-24 13:40] mrbobbytables commented on #1693
It's been a month without an update. I'm going to go ahead and close this out. @JoshVanL if you find a second sponsor, please either reopen or create a new org membership request issue. 👍
Thanks!

/close

[2020-04-24 13:40] #1693 closed

[2020-04-24 13:45] floreks commented on #1829
+1 from me

[2020-04-24 13:46] yg commented on #1692
@mrbobbytables There is no active people in Tamil!

WDYT?

[2020-04-24 13:52] mrbobbytables commented on #1739
As there hasn't been any activity in about a month, I'm going to go ahead and close this out for now. @Benwa-98 if things should change, please reopen the issue or create a new org membership request 👍

Thanks!

/close

[2020-04-24 13:52] #1739 closed

[2020-04-24 13:53] mrbobbytables commented on #1749
As there hasn't been any activity in about a month, I'm going to go ahead and close this out for now. @mohamedkhaledhafez  if things should change, please reopen the issue or create a new org membership request 👍

Thanks!

/close

[2020-04-24 13:53] #1749 closed

[2020-04-24 14:15] kmova commented on #1797
+1

[2020-04-24 14:38] savitharaghunathan commented on #1692
@yg : I can review Tamil documentation and sponsor if you are still interested. However, I cannot actively engage in localization efforts due to my other commitments. Here's a doc on how to get started with localization - https://kubernetes.io/docs/contribute/localization/ and if you have any queries regarding the same, post it in https://kubernetes.slack.com/messages/sig-docs. A lot of localizati

[2020-04-24 15:18] RobertKielty opened #1830 "REQUEST: New membership for @RobertKielty"
### GitHub Username
@RobertKielty

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-04-24 15:20] onlydole commented on #1830
+1 to @RobertKielty and I’m excited to have you on the 1.19 release team!

[2020-04-24 15:20] hasheddan commented on #1830
+1 from me! :tada:

@RobertKielty could you update the issue title to your GH username? :)

[2020-04-24 15:49] sayanchowdhury opened #1831 "REQUEST: New membership for sayanchowdhury"
### GitHub Username
@sayanchowdhury

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-04-24 15:49] yg commented on #1692
Sounds good @savitharaghunathan! Let me reopen this issue :blue_heart:

/cc @mrbobbytables

[2020-04-24 15:49] onlydole commented on #1831
+1 to @sayanchowdhury, happy to have you on the 1.19 release team!

[2020-04-24 15:50] hasheddan commented on #1831
+1 :tada:

[2020-04-24 15:51] yg commented on #1692
/reopen

[2020-04-24 16:58] AGMETEOR opened #1832 "REQUEST: New membership for AGMETEOR"
### GitHub Username
AGMETEOR

### Organization you are requesting membership in
Kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-04-24 17:04] spiffxp commented on #1823
/close
This has been finished

[2020-04-24 17:05] #1823 closed

[2020-04-24 17:07] puerco commented on #1832
+1 Welcome to the release notes team @AGMETEOR  !

[2020-04-24 17:11] onlydole commented on #1832
+1 to @AGMETEOR and I’m stoked to have you working with us on 1.19 🙌🏼

[2020-04-24 17:12] savitharaghunathan commented on #1692
@yg I will be happy to sponsor once there is a PR for Tamil localization is in place.

[2020-04-24 17:51] phanimarupaka opened #1833 "REQUEST: New membership for phanimarupaka"
### GitHub Username
phanimarupaka

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-04-24 18:21] hkamel opened #1834 "REQUEST: New membership for hkamel"
### GitHub Username
@hkamel

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-04-24 18:23] mortent commented on #1833
+1

[2020-04-24 18:23] hasheddan commented on #1834
+1 welcome @hkamel! :tada:

[2020-04-24 18:27] onlydole commented on #1834
+1 for @hkamel and welcome to the 1.19 release team!

[2020-04-24 18:40] mikejoh opened #1835 "REQUEST: New membership for @mikejoh"
### GitHub Username
@mikejoh

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-04-24 18:42] brianpursley commented on #1833
+1

[2020-04-24 18:45] onlydole commented on #1835
+1 to @mikejoh - I’m looking forward to working with you on 1.19 :smile:

[2020-04-24 18:51] mrbobbytables commented on #1814
For clarification, are you requesting membership to the kubernetes org?

[2020-04-24 19:18] devlware commented on #1818
+1 @joao-luna-98 is helping us with the Portuguese translations :)

[2020-04-24 19:23] mrbobbytables commented on #1820
@Adirio did you mean the kubernetes or the kubernetes-sigs org?

@alexeldeib unfortunately  cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for membership in @kubernetes-sigs.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-csi etc); as long as it's a project they're i

[2020-04-24 19:36] mrbobbytables commented on #1835
+1 thanks for helping with 1.19 :)

[2020-04-24 19:42] mrbobbytables commented on #1809
Hey there @Miouge1 , thank you for all your contributions so far :)

I've created PR #1836   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 19:42] alexeldeib commented on #1820
@mrbobbytables the purpose of this PR is described in https://github.com/kubernetes/test-infra/pull/17241#issuecomment-615330612

It's not actually at all related to kubernetes-sigs, it's related to test-infra, which @Adirio and I both help work on.

If that's not acceptable, is there a recommended way in the Kubernetes org to have test-infra access for Kubernetes-sigs members who maintain test-in

[2020-04-24 19:43] mrbobbytables commented on #1811
@EppO, thank you for all your help with kubespray :)

I've created PR #1836  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-04-24 19:44] alexeldeib commented on #1820
(n.b. I realized I'm not currently a review in k/k either, but that test-infra adds me as one -- I thought it already merged)

[2020-04-24 19:45] mrbobbytables commented on #1817
@yuanchen8911  thank you for all your contributions thus far :)

I've created PR #1836   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 19:47] mrbobbytables commented on #1821
@divya-mohan0209 thanks for helping with the 1.19 release \o/

I've created PR #1836  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 19:50] mrbobbytables commented on #1825
@wilsonehusin thanks for helping with the 1.19 release \o/

I've created PR #1836  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 19:51] mrbobbytables commented on #1826
@zestrells  thanks for helping with the 1.19 release \o/

I've created PR #1836  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 19:52] mrbobbytables commented on #1830
@RobertKielty I thought you were a member already :P
ANYWAY, that's getting taken care of now with #1836 :)
When that gets merged you'll get a membership invite notification.

Welcome to Kubernetes 🎉

/assign
/honk
/pony yay

[2020-04-24 20:03] mrbobbytables commented on #1831
@sayanchowdhury thanks for helping with the 1.19 release \o/

I've created PR #1836  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 20:04] mrbobbytables commented on #1832
@AGMETEOR happy to see you on the release team :)

I've created PR #1836  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 20:06] mrbobbytables commented on #1833
@phanimarupaka, thank you for all your help with sig-cli :)

I've created PR #1836  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 20:07] mrbobbytables commented on #1834
@hkamel thanks for helping with the 1.19 release \o/

I've created PR #1836 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 20:08] mrbobbytables commented on #1835
@mikejoh thanks for helping with the 1.19 release \o/

I've created PR #1836 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 20:12] mikejoh commented on #1835
@mrbobbytables Awesome, thanks!

[2020-04-24 20:59] Adirio commented on #1820
@mrbobbytables I'm already part of @kubernetes-sigs, I was asking for @kubernetes membership for the reason mentioned by @alexeldeib, thought he was a member.

[2020-04-24 21:22] alexeldeib commented on #1820
Just to clarify, merging https://github.com/kubernetes/test-infra/pull/17241 is actually sufficient for me to approve this, right?

I pinged @Adirio offline to apologize for the confusion and let him know he's free to find another sponsor, but I'd rather just wait for the test-infra PR to merge to make this kosher.

I'm still curious about the edge case of test-infra given its nature and wide use

[2020-04-24 21:55] savitharaghunathan commented on #1835
+1 to @mikejoh 🎉  Thank you @onlydole & @mrbobbytables for the sponsorship :)

[2020-04-24 22:12] mrbobbytables commented on #1820
@alexeldeib It would be -- with that in flight and sign off from @DirectXMan12 , I'm okay with moving forward on this one 👍

@Adirio I'll append your org membership to PR #1836 here in a minute. 😄

[2020-04-24 22:25] mrbobbytables commented on #1820
Sorry for the back and forth a bit. This has come up a few times, but in general is pretty rare.

On a  lighter note...
@Adirio  -- I've added you to the Kubernetes Org in #1836 . Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-04-24 23:07] #1809 closed

[2020-04-24 23:07] #1811 closed

[2020-04-24 23:07] #1817 closed

[2020-04-24 23:07] #1820 closed

[2020-04-24 23:07] #1821 closed

[2020-04-24 23:07] #1825 closed

[2020-04-24 23:07] #1826 closed

[2020-04-24 23:07] #1830 closed

[2020-04-24 23:07] #1831 closed

[2020-04-24 23:07] #1832 closed

[2020-04-24 23:07] #1833 closed

[2020-04-24 23:07] #1834 closed

[2020-04-24 23:07] #1835 closed

[2020-04-25 01:56] yg commented on #1692
Sure @savitharaghunathan I will work on some basic stuff for now and make a PR and update you :smiley:

[2020-04-25 02:23] yg commented on #1692
@savitharaghunathan I just completed translating the README to Tamil, here is my PR https://github.com/kubernetes/website/pull/20550

[2020-04-25 09:57] harshanarayana opened #1837 "REQUEST: New membership for harshanarayana"
### GitHub Username
@harshanarayana

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-04-25 10:00] palnabarun commented on #1837
+1 from the 1.19 Enhancements Lead.

Welcome @harshanarayana to the community. :slightly_smiling_face:

[2020-04-25 10:19] sujaypillai commented on #1814
Yes Bob, the request is for membership to kubernetes org.

[2020-04-25 17:01] onlydole commented on #1837
+1 to @harshanarayana and welcome to the 1.19 team! :tada:

/pony party

[2020-04-26 09:01] bai opened #1838 "REQUEST: New membership for bai"
### GitHub Username
@bai

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2020-04-26 17:00] onlydole commented on #1838
+1 to @bai and welcome to the 1.19 release team!

[2020-04-27 15:54] msedzins opened #1840 "REQUEST: New membership for msedzins"
### GitHub Username
@msedzins

### Organization you are requesting membership in
Kubernetes Org

### Requirements
- [ X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-04-27 15:56] palnabarun commented on #1840
+1 from the 1.19 Enhancements Lead.

Welcome @msedzins to the team and the community. :fireworks:

[2020-04-27 16:30] onlydole commented on #1840
+1 to @msedzins and welcome to the 1.19 release team!

[2020-04-27 16:37] maciaszczykm commented on #1829
+1

[2020-04-27 18:06] nzoueidi commented on #1840
/assign

[2020-04-27 18:07] nzoueidi commented on #1837
/assign

[2020-04-27 18:07] nzoueidi commented on #1829
/assign

[2020-04-27 18:07] nzoueidi commented on #1814
/assign

[2020-04-27 18:09] nzoueidi commented on #1797
Hey @wongma7 do you have a moment to sponsor @zimmertr's org membership?

[2020-04-27 20:29] femrtnz commented on #1818
Approved!  @joao-luna-98 is helping us with the Portuguese translations

cc @mrbobbytables

[2020-04-27 23:16] savitharaghunathan commented on #1692
+1  for @yg . Good luck with Tamil localization :)

[2020-04-28 03:55] yg commented on #1692
Thank you @savitharaghunathan! Let's rock it!

[2020-04-28 11:45] devlware commented on #1818
/assign @mrbobbytables

[2020-04-28 14:15] sftim commented on #1692
There's a fairly important requirement to have opened 5 PRs (or worked on a mixture of PRs and issues). You _don't_ have to have got the PRs merged, but you do need to show a level of involvement.

Please feel free to update the issue description with details of those other PRs.

[2020-04-28 14:36] castrojo commented on #1530
Ok Pierre has been sticking around and enough time has passed that I'm comfortable reopening this application:

- Office Hours panelist, this includes answering questions on stream and prep work, like helping prep the show notes, collection questions.
- Being active helping answer user questions in slack and triaging them to the right SIGs.
- Actively attending and participating in our contribex m

[2020-04-28 16:56] phumberdroz commented on #1530
Thanks @castrojo !

[2020-04-29 15:28] tlereste opened #1841 "REQUEST: New membership for @tlereste"
### GitHub Username
@tlereste

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.

[2020-04-29 15:53] nzoueidi commented on #1818
/assign

[2020-04-29 16:02] nzoueidi commented on #1829
@desaintmartin both sponsors @floreks and @maciaszczykm are from loodse and while the requirements are to have two sponsors from different companies. Take a look here and let me know if you need any help: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2020-04-29 16:05] tariq1890 commented on #1841
+1 :)

[2020-04-29 16:09] nzoueidi commented on #1814
Hey there @sujaypillai, thank you for all your contributions so far :)

I've created PR #1842  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-04-29 16:09] nzoueidi commented on #1818
Hey there @joao-luna-98, thank you for all your contributions so far :)

I've created PR #1842  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-04-29 16:10] nzoueidi commented on #1837
Hey there @harshanarayana, thank you for all your contributions so far :)

I've created PR #1842  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-04-29 16:10] nzoueidi commented on #1840
Hey there @msedzins, thank you for all your contributions so far :)

I've created PR #1842  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-04-29 16:15] jeefy commented on #1829
+1 from me

[2020-04-29 16:46] Joseph-Irving opened #1843 "REQUEST: New membership for @Joseph-Irving"
### GitHub Username
@Joseph-Irving
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-04-29 16:54] lilic commented on #1841
👍 +1 from me as well! :)

[2020-04-29 17:03] mrbobbytables commented on #1843
+1 from sponsor 👍

[2020-04-29 17:29] alejandrox1 commented on #1843
Huge +1 !
Thank you for all the work you have done @Joseph-Irving !

[2020-04-29 18:18] #1814 closed

[2020-04-29 18:18] #1818 closed

[2020-04-29 18:18] #1837 closed

[2020-04-29 18:18] #1840 closed

[2020-04-29 19:39] kbruner opened #1844 "REQUEST: New membership for kbruner"
### GitHub Username
@kbruner

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-04-29 20:06] onlydole commented on #1844
+1 to @kbruner and welcome to the 1.19 Release Team!

[2020-04-29 22:02] RCantw3ll opened #1845 "REQUEST: New membership for RCantw3ll"
### GitHub Username
@RCantw3ll

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-04-29 22:10] mkorbi commented on #1845
Happy to have you in the team!
/lgtm

[2020-04-29 22:24] onlydole commented on #1845
+1 to @RCantw3ll and welcome to the 1.19 Release Team!

[2020-04-29 23:42] RCantw3ll commented on #1845
Thanks fellas! Looking forward to it!

[2020-04-30 03:02] jrsapi opened #1847 "REQUEST: New membership for jrsapi"
### GitHub Username
@jrsapi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-04-30 05:46] mkorbi commented on #1847
Great to have you in the tram!
/lgtm

[2020-04-30 13:06] desaintmartin commented on #1829
@nzoueidi Indeed, it makes sense. Could you consider @jeefy for the second sponsor?

[2020-05-01 13:46] MoShitrit opened #1849 "REQUEST: New membership for MoShitrit"
### GitHub Username
@MoShitrit

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-05-01 13:53] mikesplain commented on #1849
+1 Thanks for your contributions! Looking forward to working with you!

[2020-05-01 13:57] rifelpet commented on #1849
+1 Thank you and welcome!

[2020-05-02 14:43] nzoueidi commented on #1849
/assign

[2020-05-02 14:43] nzoueidi commented on #1845
/assign

[2020-05-02 14:43] nzoueidi commented on #1843
/assign

[2020-05-02 14:44] nzoueidi commented on #1841
/assign

[2020-05-02 14:45] nzoueidi commented on #1530
/assign

[2020-05-02 15:05] nzoueidi commented on #1530
Hey there @phumberdroz , thank you for all your contributions so far :)

I've created PR #1850 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-02 15:06] nzoueidi commented on #1829
Hey there @desaintmartin, sure thing.

Tank you for all your contributions so far :)

I've created PR #1850 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-02 15:06] nzoueidi commented on #1845
Hey there @RCantw3ll , thank you for all your contributions so far :)

I've created PR #1850 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-02 15:07] nzoueidi commented on #1843
Hey there @Joseph-Irving, thank you for all your contributions so far :)

I've created PR #1850 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-02 15:07] nzoueidi commented on #1841
Hey there @tlereste, thank you for all your contributions so far :)

I've created PR #1850 to add you to the Kubernetes & Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-02 15:08] nzoueidi commented on #1849
Hey there @MoShitrit, thank you for all your contributions so far :)

I've created PR #1850 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-02 15:12] MoShitrit commented on #1849
Thank you all so much!! @rifelpet @mikesplain @nzoueidi

[2020-05-02 15:12] nzoueidi commented on #1792
Hey @rmenn, so could you please edit your request and add two sponsors that are in any of the owners file(s) of kubernetes org.
For more information about membership requirements, take a look here: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2020-05-02 15:12] #1530 closed

[2020-05-02 15:12] #1829 closed

[2020-05-02 15:12] #1841 closed

[2020-05-02 15:12] #1843 closed

[2020-05-02 15:12] #1845 closed

[2020-05-02 15:12] #1849 closed

[2020-05-03 23:16] ariscahyadi opened #1851 "REQUEST: New membership for ariscahyadi"
### GitHub Username
@ariscahyadi

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-05-04 00:02] girikuncoro commented on #1851
+1
@ariscahyadi has been instrumental in the successful of current kubernetes.io/id localization milestone, he helped SIG Docs localizing 12 pages into Bahasa Indonesia (which now have 7,000 views per month)

Welcome to kubernetes org!

[2020-05-04 00:59] wahyuoi commented on #1851
+1

@ariscahyadi helps us a lot, translate dozen of pages within a month.

Welcome @ariscahyadi 🎉

[2020-05-05 16:48] michmike opened #1853 "ask to create sig-windows-samples repo in kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
sig-windows-samples

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
michmike, marosset

### If not a staging repo, who should have write access
michmike, marosset

### If not a staging repo, who should be listed as approvers in OWNE

[2020-05-05 17:33] cloudmelon opened #1854 "REQUEST: New membership for cloudmelon"
### GitHub Username
cloudmelon

https://github.com/cloudmelon

### Organization you are requesting membership in
kubernetes-sigs/multi-tenancy

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes

[2020-05-05 18:01] kendallroden opened #1855 "REQUEST: New membership for kendallroden"
### GitHub Username
@kendallroden

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-05-05 18:05] andrewsykim opened #1856 "Netlify site request for kubernetes/cloud-provider-aws"
### Repository
kubernetes/cloud-provider-aws

### Project domain
cloud-provider-aws.sigs.k8s.io

### Additional context for request
Docs site is currently WIP but we added the initial gitbooks configuration setup in https://github.com/kubernetes/cloud-provider-aws/pull/94. We would like the site up and running so we can check it as we iterate on the docs.

ref: https://github.com/kubernetes/cloud-

[2020-05-05 18:06] andrewsykim commented on #1856
DNS request: https://github.com/kubernetes/k8s.io/pull/837

[2020-05-05 18:15] mrbobbytables commented on #1856
/assign

[2020-05-05 18:49] mkorbi commented on #1855
Yeah! Welcome it team :)
/lgtm

[2020-05-06 11:59] mrbobbytables commented on #1765
As there has been no traction with this in over a month I'm going to flag it as rotten.

/lifecycle rotten

Please remember that you must speak to your sponsors first and get their approval before applying for org membership.

If this is still active, please go ahead and  `/remove-lifecycle rotten`

[2020-05-06 12:01] mrbobbytables commented on #1774
As there has been no traction with this in a month I'm going to flag it as rotten.

/lifecycle rotten

Please remember that you must speak to your sponsors first and get their approval before applying for org membership.

If this is still active, please go ahead and  `/remove-lifecycle rotten`

[2020-05-06 12:12] mrbobbytables commented on #1856
It's been configured for `kubernetes-sigs-cloud-provider-aws.netlify.app` With the current netlify config defined in the repo it forces the redirect to the cloud-provider.aws.sigs.k8s.io dns name and can't be previewed. Once the DNS request is merged I can finish configuration 👍

[2020-05-06 20:12] phanimarupaka opened #1857 "REQUEST: New membership for phanimarupaka"
### GitHub Username
@phanimarupaka

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-05-06 20:12] phanimarupaka commented on #1857
I am already a member of kubernetes org and want to join kubernetes-sigs org.

[2020-05-06 22:46] AlexNPavel opened #1858 "REQUEST: New membership for @AlexNPavel"
### GitHub Username
e.g. @AlexNPavel

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2020-05-06 22:50] fejta commented on #1858
+1

[2020-05-06 23:50] stevekuznetsov commented on #1858
+1 from me!

[2020-05-07 13:11] yg commented on #1692
@sftim I updated the PR link to https://github.com/kubernetes/website/pull/20550

[2020-05-08 00:01] Riaankl opened #1861 "REQUEST: New membership for <Riaankl>"
### GitHub Username
@Riaankl

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-05-08 00:15] RaunakShah opened #1862 "REQUEST: New membership for RaunakShah"
### GitHub Username
@RaunakShah

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-05-08 00:17] divyenpatel commented on #1862
cc: @justaugustus

[2020-05-08 00:32] xing-yang commented on #1862
+1

[2020-05-08 08:15] Raffo opened #1863 "REQUEST: New membership for @ytsarev"
### GitHub Username
@ytsarev

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-05-08 08:16] Raffo opened #1864 "REQUEST: New membership for @ sheerun"
### GitHub Username
@ sheerun

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-05-08 11:10] Raffo commented on #1863
I checked the checklist on behalf of @ytsarev who confirmed me that reviewed all the items above. I took care of creating this issue a part of https://github.com/kubernetes-sigs/external-dns/issues/1558

[2020-05-08 11:18] mrbobbytables commented on #1838
+1 thanks for helping with the 1.19 release :)

[2020-05-08 11:18] mrbobbytables commented on #1844
+1 thanks for helping with the 1.19 release :)

[2020-05-08 11:19] mrbobbytables commented on #1847
+1 thanks for helping with the 1.19 release :)

[2020-05-08 14:36] mrbobbytables commented on #1864
/assign @sheerun
If you can please ack the items on the list 👍

[2020-05-08 15:08] sheerun commented on #1864
I confirm everything. I currently contribute to external-dns's cloudflare provider. I haven't confirmed directly with @njuettner that he agrees to be my sponsor, but I assume that @Raffo had.

[2020-05-08 17:05] cici37 opened #1865 "REQUEST: New membership for cici37"
### GitHub Username
@cici37

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-05-08 17:20] andrewsykim commented on #1865
+1

[2020-05-08 17:26] cheftako commented on #1865
+1

[2020-05-08 18:41] hh commented on #1861
@Riaankl is helping to manage @ii conformance tickets and PRs:

https://github.com/orgs/kubernetes/projects/9?card_filter_query=author%3Ariaankl

/approve
/assign
/assign @johnbelamaric

[2020-05-08 18:42] hh commented on #1861
/approve

[2020-05-08 18:55] johnbelamaric commented on #1861
/approve

[2020-05-09 01:57] onlydole commented on #1847
+1 to @jrsapi and welcome to the 1.19 team!

[2020-05-09 13:57] mrbobbytables commented on #1851
@ariscahyadi unfortunately @wahyuoi cannot sponsor you for org membership. :( A sponsor must be an approver or reviewer per the [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md). Is there someone else that might be able to sponsor you?

[2020-05-09 14:00] mrbobbytables commented on #1854
@cloudmelon do you have anyone that could sponsor you? Usually org requests are created once all the requirements have been met 😬

[2020-05-09 14:00] mrbobbytables commented on #1855
+1 thanks for helping with the 1.19 release :)

[2020-05-09 14:14] mrbobbytables commented on #1838
@bai thanks for joining the 1.19 release team \o/

I've created PR #1866   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-09 14:15] mrbobbytables commented on #1844
thanks for joining the 1.19 release team \o/

I've created PR #1866   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-09 14:15] mrbobbytables commented on #1847
@jrsapi  thanks for joining the 1.19 release team \o/

I've created PR #1866   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-09 14:16] mrbobbytables commented on #1855
@kendallroden  thanks for joining the 1.19 release team \o/

I've created PR #1866   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-09 14:17] mrbobbytables commented on #1857
@phanimarupaka I've created PR #1866 to add you to the kubernetes-sigs org, once it gets merged you should get a membership invite notification 👍

/assign

[2020-05-09 14:17] mrbobbytables commented on #1858
Hey there @AlexNPavel , thank you for all your contributions so far :)

I've created PR #  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-09 14:18] mrbobbytables commented on #1861
@Riaankl , thank you for all your contributions so far :)

I've created PR # 1866 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-09 14:19] mrbobbytables commented on #1862
@RaunakShah , thank you for all your contributions so far :)

I've created PR #1866 to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-05-09 14:19] cloudmelon commented on #1854
Hi Rob,

Could you bring more clarity about how we define the sponsor ? I work for Microsoft. Happy to represent my company to be part of the community.

Best wishes from the UK
Melony

[2020-05-09 14:19] #1838 closed

[2020-05-09 14:19] #1844 closed

[2020-05-09 14:19] #1847 closed

[2020-05-09 14:19] #1855 closed

[2020-05-09 14:19] #1857 closed

[2020-05-09 14:19] #1858 closed

[2020-05-09 14:19] #1861 closed

[2020-05-09 14:19] #1862 closed

[2020-05-09 14:19] #1865 closed

[2020-05-09 14:19] mrbobbytables commented on #1865
Hey there @cici37 , thank you for all your contributions so far :)

I've created PR #1866   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-09 14:22] wahyuoi commented on #1851
Hi @mrbobbytables, based on https://github.com/kubernetes/org/pull/1754, I already put my name as sig-docs-id reviewer.

[2020-05-09 14:23] mrbobbytables commented on #1854
@cloudmelon sponsors must be a reviewer or approver in an owners file within the org you're seeking membership. They should be people you've worked closely with in the project so far, e.g. reviewed a few PRs you've contributed to the project.

For a bit more information, please see our [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#member)

[2020-05-09 14:31] mrbobbytables commented on #1851
@wahyuoi team membership is different from being an approver or reviewer -- Here are the current id localization reviewer/approvers.

https://github.com/kubernetes/website/blob/master/OWNERS_ALIASES#L122-L127

[2020-05-09 14:33] wahyuoi commented on #1851
i see, thank you @mrbobbytables to point this out. :bow:
@irvifa please help to sponsor @ariscahyadi :pray:

[2020-05-09 14:43] irvifa commented on #1851
+1 from me as well 🙂

[2020-05-09 15:53] bai commented on #1838
Thanks for having me, pleasure to be here 💯

[2020-05-09 21:27] kbruner commented on #1844
Thanks, all!

[2020-05-10 11:47] cloudmelon commented on #1854
Hi Rob,  Thanks for pointing me in the right direction, let me know if I
understood correctly :  Sponsors must be one of the people in OWNERs file:
https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md
,
however I can see only 13 people have contributed on this repo ?  Do you
know where can I find a list of people so I could know if have any peers at
MS could sponsor me.

[2020-05-10 12:53] mrbobbytables commented on #1854
You don't have to be a member to contribute -- Getting some PRs in is usually the first step of climbing the contributor ladder :) (becoming a member) I'd suggest starting with reading our [contributor guide](https://github.com/kubernetes/community/blob/master/contributors/guide/README.md).

The sponsors are the people you worth with in the project, they aren't really tied to your employer. Most o

[2020-05-11 05:19] nikhita commented on #1853
@michmike Sorry for the delayed response! From the [SIG Windows meeting notes (5/5/2020)](https://docs.google.com/document/d/1Tjxzjjuy4SQsFSUVXZbvqVb64hjNAG5CQX8bK7Yda9w/edit#), it mentions that this repo will contain code migrated from https://github.com/PatrickLang/fabrikamfiber.

We have different requirements for repo migration vs starting a new repo from scratch - https://github.com/kubernete

[2020-05-11 07:39] Raffo commented on #1864
Checked the items on the checklist. @njuettner is up to speed with the plan 👍

[2020-05-11 08:48] andyzhangx opened #1867 "Create repository for csi-driver-smb as a kubernetes-csi subproject"
### New Repo, Staging Repo, or migrate existing
Migrate https://github.com/csi-driver/csi-driver-smb to https://github.com/kubernetes-csi/csi-driver-smb

### Requested name for new repository
csi-driver-smb

### Which Organization should it reside
https://github.com/kubernetes-csi

### If not a staging repo, who should have admin access
andyzhangx, saad-ali , msau42 , jsafrane , xing-yang

### If

[2020-05-11 09:45] nikhita commented on #1867
Needs approval from sig-storage leads:

/assign @xing-yang @saad-ali @msau42 @jsafrane

[2020-05-11 12:56] xing-yang commented on #1867
I think sig-storage-leads should have admin access and be listed as SECURITY_CONTACTS.  Other than that, this looks good to me.

[2020-05-11 13:20] andyzhangx commented on #1867
added as following:
### If not a staging repo, who should be listed in SECURITY_CONTACTS
@andyzhangx
@msau42
@jingxu97
@xing-yang
@saad-ali

[2020-05-11 13:25] xing-yang commented on #1867
See this issue here as an example:
https://github.com/kubernetes/org/issues/1648

[2020-05-11 13:28] andyzhangx commented on #1867
thanks, updated.

[2020-05-11 13:34] xing-yang commented on #1867
Can you update the "admin access" section too?

[2020-05-11 13:37] andyzhangx commented on #1867
done

[2020-05-11 13:43] xing-yang commented on #1867
/lgtm

[2020-05-11 15:46] MoShitrit opened #1868 "REQUEST: New membership for @MoShitrit"
### GitHub Username
@MoShitrit

### Organization you are requesting membership in
@kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-05-11 15:49] roycaihw commented on #1868
+1

Welcome!

[2020-05-11 16:35] njuettner commented on #1864
Welcome 🙂

[2020-05-11 16:35] njuettner commented on #1863
Welcome 🙂

[2020-05-11 16:52] michmike commented on #1853
@nikhita , this repo would contain both new samples as well as existing samples that sig-windows is creating (or has created). Patrick was the sig-windows lead in the past and created that work as part of sig-windows. since there was no repo to put them, he used his own account.

[2020-05-11 17:04] jingxu97 commented on #1867
/approve
/lgtm

[2020-05-11 17:16] sheerun commented on #1864
thank you :)

[2020-05-11 20:01] msau42 commented on #1867
/lgtm

[2020-05-11 21:45] jiahuif opened #1869 "REQUEST: New membership for jiahuif"
### GitHub Username
@jiahuif

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-05-11 21:45] andrewsykim commented on #1869
+1

[2020-05-11 21:49] cheftako commented on #1869
+1

[2020-05-12 02:11] andyzhangx commented on #1867
@nikhita  I have added you as admin of repo: https://github.com/csi-driver/csi-driver-smb, are you going to migrate this repo? thanks.

[2020-05-12 05:57] PatrickLang commented on #1853
Hi @nikhita - that repo has many samples in it that I don't want to migrate because they're out of date or superceded by other docs. Our goal here is to bring in just the portions that are still relevant rather than the full repo.

[2020-05-12 07:42] nikhita commented on #1853
@michmike @PatrickLang thanks for the context! I have created the repo - https://github.com/kubernetes-sigs/sig-windows-samples :)

Also created:
- https://github.com/kubernetes/org/pull/1870 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4769 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-05-12 08:15] nikhita commented on #1867
Verified that licenses are proper and all contributors have signed the CNCF CLA. @andyzhangx Thanks for taking care of all prerequisites for repo transfer in advance! :smile:

Repo has been migrated - https://github.com/kubernetes-csi/csi-driver-smb

Also created:
- https://github.com/kubernetes/org/pull/1871 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4770

[2020-05-12 09:29] andyzhangx commented on #1867
@nikhita thanks. Could you also add me as owner of this new project: https://github.com/kubernetes-csi/csi-driver-smb? Thanks.

[2020-05-12 09:34] nikhita commented on #1867
Granted access to you via the https://github.com/orgs/kubernetes-csi/teams/csi-driver-smb-admins team :)

[2020-05-12 10:28] idealhack commented on #1869
/assign

[2020-05-12 10:28] idealhack commented on #1864
/assign

[2020-05-12 10:29] idealhack commented on #1863
/assign

[2020-05-12 10:30] idealhack commented on #1851
/assign

[2020-05-12 13:02] nikhita commented on #1867
Teams have been granted access and sigs.yaml has been updated.

/close

[2020-05-12 13:02] #1867 closed

[2020-05-12 14:20] michmike commented on #1853
thank you!

[2020-05-12 14:37] nikhita commented on #1853
Teams have been granted access and sigs.yaml has been updated

/close

[2020-05-12 14:37] #1853 closed

[2020-05-12 17:47] saschagrunert opened #1873 "REQUEST: New repository kubernetes-sigs/seccomp-operator"
### New Repo, Staging Repo, or migrate existing

Migrate [saschagrunert/seccomp-operator](https://github.com/saschagrunert/seccomp-operator). :upside_down_face:

### Requested name for new repository
seccomp-operator

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@saschagrunert
@pjbgf
@hasheddan
@evrardjp

### If not a staging repo

[2020-05-12 19:45] andrewsykim commented on #1856
@mrbobbytables looks like the DNS request went through, is there anything else that needs to happen?

[2020-05-12 21:29] mrbobbytables commented on #1856
Ive configured the dns side in netlify 👍 a lets encrypt cert should be provisioned for it soon.

[2020-05-12 21:49] mrbobbytables commented on #1856
I finished configuring it in netlify :) everything should be good to go 👍

https://cloud-provider-aws.sigs.k8s.io/

With that, Im going to go ahead and close this out for now. If you need anything else, please feel free to ping me directly.

/close

[2020-05-12 21:49] #1856 closed

[2020-05-12 21:51] andrewsykim commented on #1856
Thank you @mrbobbytables

[2020-05-13 03:27] idealhack commented on #1868
/assign

[2020-05-13 08:28] saschagrunert opened #1875 "[REQUEST] Migrate tallclair/mdtoc to k-sigs/mdtoc"
### New Repo, Staging Repo, or migrate existing
Both would be fine, either we migrate https://github.com/tallclair/mdtoc or create a new repository and move the source code over there.

### Requested name for new repository
mdtoc

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
I guess (correct me If I'm wrong)
@kubernetes/test-infra

[2020-05-13 08:58] justaugustus commented on #1875
@saschagrunert -- I think @tallclair + @kubernetes/enhancements-admins should be sufficient owners to start.

I'm fine with this moving forward, but hold for Tim's explicit approval.

[2020-05-13 12:21] idealhack commented on #1851
@ariscahyadi thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1876 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-13 12:22] idealhack commented on #1863
@ytsarev thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1876 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-05-13 12:22] idealhack commented on #1864
@sheerun thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1876 to add you to the kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2020-05-13 12:22] idealhack commented on #1868
@MoShitrit thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1876 to add you to the kubernetes-client org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-client! 🎉

[2020-05-13 12:23] idealhack commented on #1869
@jiahuif thank you for all your contributions so far :)

I've created PR https://github.com/kubernetes/org/pull/1876 to add you to the kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2020-05-13 12:24] MoShitrit commented on #1868
Thank you both! 😄
@idealhack @roycaihw

[2020-05-13 12:28] #1851 closed

[2020-05-13 12:28] #1863 closed

[2020-05-13 12:28] #1864 closed

[2020-05-13 12:28] #1868 closed

[2020-05-13 12:28] #1869 closed

[2020-05-13 13:30] mrbobbytables commented on #1873
/assign @dchen1107 @derekwaynecarr
for sign off 👍

[2020-05-13 13:31] mrbobbytables commented on #1875
/assign @tallclair
for approval 👍

[2020-05-14 00:43] mattcary opened #1877 "REQUEST: New membership for mattcary"
### GitHub Username
mattcary

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [X ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-05-14 00:49] tallclair commented on #1875
/approve

[2020-05-14 00:50] msau42 commented on #1877
+1 Matt has started working on the gcp-compute-persistent-disk-csi-driver project.

[2020-05-15 11:16] nikhita commented on #1875
/assign

Donated repos need to follow some [extra steps](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories) before migration. Specifically, we'll need the following updates:

1. The contributing guidelines need removal of google specific instructions and should follow https://github.com/kubernetes/kubernetes-template-pro

[2020-05-15 11:27] saschagrunert commented on #1875
Ready for review there https://github.com/tallclair/mdtoc/pull/1

[2020-05-15 12:59] tosi3k opened #1878 "REQUEST: New membership for tosi3k"
### GitHub Username
@tosi3k

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-05-15 13:15] mm4tt commented on #1878
+1

Thanks @tosi3k for all your contributions so far!

[2020-05-15 13:16] dims commented on #1878
+1 from me as well. thanks!

[2020-05-15 13:29] chaodaiG opened #1879 "REQUEST: New membership for chaodaiG"
### GitHub Username
chaodaiG

### Organization you are requesting membership in
kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-05-15 13:31] alvaroaleman commented on #1879
+1

[2020-05-15 15:01] marquiz opened #1880 "REQUEST: New membership for marquiz"
### GitHub Username
@marquiz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-05-15 15:05] dims commented on #1880
+1 from me. Welcome!

[2020-05-15 15:24] derekwaynecarr commented on #1880
+1

[2020-05-15 21:15] tallclair commented on #1875
Sorry, for some reason I thought I had licensed this personally, but since Google owns the copyright I'll need to get approval from our opensource office first. I've started that conversation, and will report back when the transfer is unblocked. I don't foresee any problems.

[2020-05-15 21:18] fejta commented on #1879
+1

[2020-05-15 21:24] mrbobbytables commented on #1790
As there has been no traction with this in a month I'm going to flag it as rotten.

/lifecycle rotten

Please remember that you must speak to your sponsors first and get their approval before applying for org membership.

If this is still active, please go ahead and /remove-lifecycle rotten

[2020-05-16 04:19] spiffxp commented on #1792
I'll act as a sponsor, +1

[2020-05-17 21:19] Fale opened #1882 "REQUEST: New membership for fale"
### GitHub Username
@fale

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-05-17 21:24] micheleberardi commented on #1882
+1

[2020-05-18 08:26] fabriziopandini commented on #1882
+1
Looking forward to seeing more of @Fale amazing work on the Italian localization

[2020-05-18 12:03] Dhiraj240 opened #1883 "REQUEST: New membership for @Dhiraj240"
### GitHub Username
@Dhiraj240
### Organization you are requesting membership in
@Kubernetes-SIGs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-05-18 22:19] bobbypage opened #1884 "REQUEST: New membership for @bobbypage"
### GitHub Username
e.g. @bobbypage

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goo

[2020-05-18 22:20] karan commented on #1884
+1

[2020-05-18 22:25] mrbobbytables commented on #1884
@bobbypage unfortunately @karan cannot sponsor you for org membership. A sponsor must be an approver or reviewer within the kubernetes org. They must also be from different member organizations. Please see our [community membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#member) for more information.

[2020-05-19 00:06] jdumars commented on #1884
+1 from me as a sponsor. David has been involved with the community for a long time, and will be a great addition to our org.

[2020-05-19 00:14] yguo0905 commented on #1884
+1

[2020-05-19 01:32] heyste opened #1885 "REQUEST: New membership for heyste"
### GitHub Username
@heyste

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-05-19 01:42] hh commented on #1885
/approve

[2020-05-19 01:43] hh commented on #1885
Issues are here: https://github.com/orgs/kubernetes/projects/9?card_filter_query=author%3Aheyste#column-4141449

[2020-05-19 02:34] RobertKielty commented on #1885
/approve

[2020-05-19 11:50] mrbobbytables commented on #1877
@mattcary Do you have a 2nd sponsor?

[2020-05-19 12:00] mrbobbytables commented on #1883
@Dhiraj240 , unfortunately @JimBugwadia cannot sponsor you for membership in the @kubernetes org, but CAN sponsor you for membership in @kubernetes-sigs.

An approver/reviewer in @kubernetes, may sponsor someone for the @kubernetes org or any of the related organizations (@kubernetes-sigs, @kubernetes-csi etc); as long as it's a project they're involved with.

However, this does not work the other

[2020-05-19 12:12] mrbobbytables commented on #1885
@heyste Do you happen to have someone else that can sponsor you? Unfortunately @RobertKielty cannot act as a sponsor. Sponsors must be an approver or reviewer within the kubernetes org and be from different member organizations =/

For more information, please see our [membership guidelines](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements).

[2020-05-19 12:28] Dhiraj240 commented on #1883
@mrbobbytables Process with @kubernetes-sigs and also process with those in which @andyzhangx  is he is part of @kubernetes  and @kubernetes-csi  as I am mostly involved in his projects

[2020-05-19 12:58] mrbobbytables commented on #1792
@rmenn Sorry this has taken so long with some back and forth. I've opened up PR #1886 to add you to the kubernetes org. Once that gets merged you should get a membership invite notification :)

/assign

[2020-05-19 12:59] mrbobbytables commented on #1878
@tosi3k , thank you for all your contributions so far :)

I've created PR #1886  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-19 13:00] mrbobbytables commented on #1879
@chaodaiG , thank you for all your help with test-infra :)

I've created PR #1886  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-19 13:00] mrbobbytables commented on #1880
@marquiz  , thank you for all your contributions so far :)

I've created PR #1886  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-19 13:01] mrbobbytables commented on #1882
Hey there @Fale , thank you for all your help with the Italian localization :)

I've created PR #1886  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-19 13:09] mrbobbytables commented on #1884
Thanks for your +1s :)

@bobbypage I've created PR #1886  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-19 13:33] #1792 closed

[2020-05-19 13:33] #1878 closed

[2020-05-19 13:33] #1879 closed

[2020-05-19 13:33] #1880 closed

[2020-05-19 13:33] #1882 closed

[2020-05-19 13:33] #1884 closed

[2020-05-19 15:38] msau42 commented on #1877
@mrbobbytables Matt plans to primarily work on the gcp-compute-persistent-disk-csi-driver repo which is a single vendor maintained repo. Can we waive the second company sponsor in this case?

[2020-05-19 15:39] pjbgf commented on #1873
ping @dchen1107 @derekwaynecarr - do you mind having a look at this issue please?

[2020-05-19 19:08] spiffxp commented on #1885
I'll act as sponsor, +1

[2020-05-20 00:21] brahmaroutu opened #1887 "Migrate a repository for hosting 'mount' library under staging."
### New Repo, Staging Repo, or migrate existing

Staging Repo

### Requested name for new repository
mount-utils

### Which Organization should it reside

kubernetes

### If not a staging repo, who should have admin access
### If not a staging repo, who should have write access

### If not a staging repo, who should be listed as approvers in OWNERS
### If not a staging repo, who should be listed i

[2020-05-20 00:33] msau42 commented on #1887
/assign @saad-ali
what do you think of the name?

[2020-05-20 00:35] saad-ali commented on #1887
SGTM

[2020-05-20 20:23] neolit123 opened #1888 "archive the kubernetes/kube-deploy repository"
### Repository to archive
https://github.com/kubernetes/kube-deploy

### Repository and/or sig subproject owners that are approving this archival
/cc @justinsb @timothysc

### When should this be done
Anytime.

### Additional context for request
after a discussion in the SIG Cluster Lifecycle meeting of [20.05.2020](https://youtu.be/fTWQs53HAlM?list=PL69nYSiGNLP29D0nYgAGWt1ZFqS9Z7lw4&t=325) about

[2020-05-20 20:25] neolit123 commented on #1888
/sig cluster-lifecycle
/kind cleanup
/priority backlog

[2020-05-20 20:31] timothysc commented on #1888
+1 from me, we talked about this during the last SCL meeting.

[2020-05-21 17:46] mrbobbytables commented on #1563
Checking back in -- with the gluster repos created and the WIP PRs open, is this in a good enough state to move forward with archival?

[2020-05-21 19:13] vpickard opened #1889 "REQUEST: New membership for vpickard"
### GitHub Username
@vpickard

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-05-21 19:17] spiffxp commented on #1889
+1 from sponsor, @vpickard has been super helpful

[2020-05-21 19:19] klueska commented on #1889
+1 Welcome @vpickard!

[2020-05-21 19:31] MHBauer commented on #1889
/lgtm

[2020-05-21 21:52] prachirp opened #1890 "REQUEST: New membership for prachirp"
### GitHub Username
@prachirp

### Organization you are requesting membership in
kubernetes, kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2020-05-21 23:51] devigned opened #1891 "REQUEST: New membership for @devigned"
### GitHub Username
@devigned

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-05-22 00:01] justaugustus commented on #1891
Definitely approved from me!

[2020-05-22 00:03] justaugustus commented on #1891
For passerby context: David is now a capz reviewer, which means we need to get him added to a variety of OWNERS in k org

[2020-05-22 00:08] CecileRobertMichon commented on #1891
+1 ! 🎉

[2020-05-22 08:42] cpanato commented on #1891
+1

[2020-05-22 11:50] kmova commented on #1563
@mrbobbytables - I need to raise one more WIP PR for the NFS client code. I will ping back here as soon as I get that done.

[2020-05-22 12:21] mrbobbytables commented on #1563
Great, thanks for the update!

[2020-05-22 12:43] mrbobbytables commented on #1797
@zimmertr do you have someone else that might be able to sponsor you?

[2020-05-22 13:10] nikhita commented on #1888
/assign

[2020-05-22 13:29] nikhita commented on #1888
Repository has been archived - https://github.com/kubernetes-retired/kube-deploy

Also announced on the k-dev mailing list - https://groups.google.com/forum/#!topic/kubernetes-dev/j-Nk1qcPQLM

Once https://github.com/kubernetes/community/pull/4796 (removal from sigs.yaml) and https://github.com/kubernetes/org/pull/1892 (GitHub teams removal) merge, we can close this issue.

[2020-05-22 13:30] nikhita commented on #1887
Repos under the kubernetes org require approval from sig-arch too.

[2020-05-22 13:33] nikhita commented on #1791
@alaimo :wave: Have there been any updates on this?

[2020-05-22 13:34] nikhita commented on #1499
@pmorie @quinton-hoole Can you take a look at this?

[2020-05-22 13:35] neolit123 commented on #1888
thanks @nikhita !

[2020-05-22 13:52] nikhita commented on #1887
@brahmaroutu I know that the issue mentions migration, but in this case we'd be starting with a bare repo. The code move from https://github.com/kubernetes/utils/tree/master/mount can be done as a follow up, especially because it involves some other things like go mod updates, import path updates, etc. Can you confirm that this works for you?

cc @dims

[2020-05-22 16:10] brahmaroutu commented on #1887
@nikhita thanks for the review, I do understand that we have address some build issues and we are ready to do necessary fixes once the repo is moved. Also I know that we need to create a bare repo first. I will send out a request to sig-arch forum to create the repo I guess. Please confirm.

[2020-05-22 16:58] zimmertr commented on #1797
Unfortunately no. I had confirmation from @wongma7 via the Kubernetes Slack server that he would sponsor me but it looks like he may have changed his mind. @kmova is the only other developer I'm acquainted with in the Kubernetes community.

I am *very* interested in participating and becoming a developer in SIG Storage. But I do not believe I will be able to acquire another sponsor in a timely fas

[2020-05-23 00:28] viniciusbds opened #1893 "REQUEST: New membership for viniciusbds"
### GitHub Username
@viniciusbds

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-05-23 07:06] nikhita commented on #1887
Sounds good! :)

[2020-05-23 16:15] sftim commented on #1893
Hi @viniciusbds
I'm happy to sponsor you as a Kubernetes member. You might want to list SIG Docs as a group you're involved with.

[2020-05-24 21:14] devlware commented on #1893
Hi @viniciusbds
I'm also happy to sponsor you as a K8s member.

+1

[2020-05-24 22:06] cblecker commented on #1499
sent an e-mail to the sig list

[2020-05-24 22:11] cblecker commented on #1888
All PRs merged!

[2020-05-24 22:11] #1888 closed

[2020-05-24 23:32] mrbobbytables commented on #1797
After chatting in slack, and seeing the image zimmertr posted -- everything should be good sponsorship wise 👍

[2020-05-26 11:08] mrbobbytables commented on #1854
Im going to go ahead and close this out. When you're ready, please reopen or create a new issue. 👍

/close

[2020-05-26 11:08] #1854 closed

[2020-05-26 11:18] mrbobbytables commented on #1877
Sorry for the delay, I didn't see your response @msau42
We still push for a 2nd sponsor because the scope of membership is large and goes beyond a single repo.  Looking at the gcp repo, maybe @davidz627?

[2020-05-26 11:41] mrbobbytables commented on #1797
@zimmertr thanks for being patient with all this, but with everything out of the way :) I've created PR #1894  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-05-26 11:42] mrbobbytables commented on #1885
@heyste , thank you for all your help with conformance \o/

I've created PR #1894  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-26 11:43] mrbobbytables commented on #1889
@vpickard , thank you for all your contributions so far :)

I've created PR #1894  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-26 11:44] mrbobbytables commented on #1891
@devigned  , thank you for all your contributions so far :)

I've created PR #1894  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-26 11:44] mrbobbytables commented on #1893
@viniciusbds , thank you for all your help with the website :)

I've created PR #1894  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-26 11:45] #1797 closed

[2020-05-26 11:45] #1885 closed

[2020-05-26 11:45] #1889 closed

[2020-05-26 11:45] #1891 closed

[2020-05-26 11:45] #1893 closed

[2020-05-26 15:49] lavalamp commented on #1791
Yes, David, Fede, & I met with @alaimo & @AmitKumarDas. I think we're waiting on some AIs before writing that up here.

[2020-05-26 17:21] cheftako opened #1895 "Create the backing repository for staging/controller-manager"
### New Repo, Staging Repo, or migrate existing
staging/controller-manager

### Requested name for new repository
controller-manager

### Which Organization should it reside
kubernetes

### If not a staging repo, who should have admin access
N/A

### If not a staging repo, who should have write access
N/A

### If not a staging repo, who should be listed as approvers in OWNERS
N/A

### If not a sta

[2020-05-26 17:22] cheftako commented on #1895
/assign @nikhita
/cc @deads2k @liggitt

[2020-05-26 17:41] dims commented on #1895
+1 from me.

[2020-05-26 17:41] nikhita commented on #1895
For the record, approval from @deads2k is at https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/Y0rOAu5xdYI

[2020-05-26 18:03] nikhita commented on #1895
Repo has been created with no initial commits (necessary for publishing-bot) - https://github.com/kubernetes/controller-manager

Also created:
1. https://github.com/kubernetes/test-infra/pull/17712 - to enable branch protection for the repo
2. https://github.com/kubernetes/community/pull/4809 - to add the repo to sigs.yaml
3. https://github.com/kubernetes/publishing-bot/pull/224 - to add the repo

[2020-05-26 18:45] zimmertr commented on #1797
Thank you!

[2020-05-26 20:12] msau42 commented on #1877
@davidz627 is no longer actively involved in the project so I'm not sure if he'll respond soon.

I've asked @gnufied to be the second sponsor.

[2020-05-26 20:13] gnufied commented on #1877
+1

[2020-05-27 14:42] pohly opened #1897 "REQUEST: New membership for @pohly"
### GitHub Username
@pohly

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-05-27 15:35] nikhita commented on #1897
You don't need sponsorship since you are already a @kubernetes member.

The GitHub Admin team can handle this with the next batch of adding members but if you'd like membership sooner, feel free to create a PR yourself. :)

[2020-05-27 17:32] eddiezane opened #1898 "REQUEST: New membership for eddiezane"
### GitHub Username
@eddiezane

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-05-27 18:43] pwittrock commented on #1898
/lgtm

[2020-05-27 18:43] pwittrock commented on #1898
@soltysh

[2020-05-27 18:50] soltysh commented on #1898
:+1:

[2020-05-27 19:58] pohly commented on #1897
I was following https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem which says that an issue should be opened. I suppose that should mention the possibility to create a PR.

[2020-05-27 23:22] prasadkatti opened #1899 "REQUEST: New membership for prasadkatti"
### GitHub Username
@prasadkatti

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-05-28 00:03] neolit123 commented on #1899
definitely +1,
thank you for all the contributions thus far, @prasadkatti

[2020-05-28 03:17] humblec commented on #1897
LGTM .
@nikhita Is it possible to get this approved without PR ? If yes, please approve :)

[2020-05-28 03:17] humblec commented on #1897
/lgtm

[2020-05-28 07:53] pohly commented on #1897
I've submitted a PR with the org change: https://github.com/kubernetes/org/pull/1901

[2020-05-28 07:56] #1897 closed

[2020-05-28 08:49] sftim commented on #1899
A firm +1 from me too.

[2020-05-28 09:05] nikhita commented on #1883
@andyzhangx @JimBugwadia can you +1 here if this looks good to you?

[2020-05-28 09:17] nikhita commented on #1877
@mattcary thank you for all your contributors so far :)

I've created PR #1902 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-05-28 09:18] nikhita commented on #1898
@eddiezane thank you for all your contributors with SIG CLI :)

I've created PR #1902 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2020-05-28 09:18] nikhita commented on #1899
@prasadkatti thank you for all your contributors so far :)

I've created PR #1902 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-05-28 10:38] #1877 closed

[2020-05-28 10:38] #1898 closed

[2020-05-28 10:38] #1899 closed

[2020-05-28 12:23] ameukam opened #1903 "Request token for google/triage-party"
### Organization or repository
kubernetes/kubernetes

### Name of integration
Triage Party

### Link to integration website
https://github.com/google/triage-party

### Describe what is attempting to be accomplished
SIG-Release is exploring Triage Party as a triage tool that will help the bug-triage team during release cycles. Triage Party needs a [Github access token with read access](https://help

[2020-05-28 13:52] dims commented on #1887
+1 please go ahead

[2020-05-28 14:10] nikhita commented on #1887
@brahmaroutu can you please update the issue body with details about who should be in approvers, reviewers, have admin access, etc?

[2020-05-28 14:12] nikhita commented on #1887
@brahmaroutu oops never mind, it's a staging repo :)

[2020-05-28 14:12] nikhita commented on #1887
/assign

[2020-05-28 14:45] nikhita commented on #1887
Repo has been created with no initial commits (necessary for publishing-bot) - https://github.com/kubernetes/mount-utils

Also created:
1. https://github.com/kubernetes/test-infra/pull/17744 - to enable branch protection for the repo
2. https://github.com/kubernetes/community/pull/4818 - to add the repo to sigs.yaml
3. https://github.com/kubernetes/publishing-bot/pull/224 - to add the repo to the

[2020-05-28 14:57] copejon opened #1904 "New Org"
### Organization or repository
kubernetes-cosi

### Users affected
n/a

### Describe the issue
We're in the process of opening a new sub-project under sig-storage, for which we'd like to have a git org. As our team had already created an org named kubernetes-cosi, which we'd now like to hand it over to the sig. Any code in the org has been transferred out and all repos have been removed.  It's com

[2020-05-28 15:22] mattcary commented on #1877
Thank you all!

[2020-05-28 17:10] justaugustus commented on #1903
/assign
Spoke w/ @spiffxp during the GH Admin meeting. I'll pick this up.

[2020-05-28 17:36] brahmaroutu commented on #1887
Thanks @dims and @nikhita

[2020-05-28 18:54] giuseppe opened #1905 "REQUEST: New membership for giuseppe"
### GitHub Username
giuseppe

### Organization you are requesting membership in
kubernetes, kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2020-05-28 18:55] derekwaynecarr commented on #1905
+1

[2020-05-28 18:55] dashpole commented on #1905
+1

[2020-05-28 23:08] kendallroden commented on #1855
@mrbobbytables so strange but I must have missed the email that this went through. I just tried to join and it expired. Think you can assist? Sorry again :(

[2020-05-29 04:46] brahmaroutu commented on #1887
thanks @nikhita @dims

[2020-05-29 04:51] brahmaroutu commented on #1887
@msau42 We need to move the repo with history. I have steps to do so but may not have necessary permissions and also I do not know the process.  Should we wait until the repo is hooked to test-infra CI?

[2020-05-29 05:09] nikhita commented on #1887
Since this is a staging repo, the repo will need to be created as a directory here - https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io. The publishing-bot will sync this directory with https://github.com/kubernetes/mount-utils.

You will not be able to add code or merge PRs directly in the mount-utils repo, everything in that repo would be a copy of the staging directory.

[2020-05-29 05:12] nikhita commented on #1887
I'll close this issue since the repo is setup (https://github.com/kubernetes/test-infra/pull/17744 and https://github.com/kubernetes/community/pull/4818).

If you have any questions about the staging directory, please feel free to reach out to me on slack.

/close

[2020-05-29 05:12] #1887 closed

[2020-05-29 11:55] mrbobbytables commented on #1855
You should get an invite the next time peribolos runs its sync (every 24hrs or next merge). 👍

[2020-05-30 00:35] spiffxp commented on #1904
Is there any specific reason these repositories can't be donated to kubernetes-sigs and grouped together via a topic?

The team discussed this at our last meeting, and while I apologize for the lack of documentation on this policy, our consensus is we'd rather not add the overhead of managing another github org unless there's a strong reason to do so.

One of the benefits of going with kubernetes-

[2020-05-30 15:08] nikhita commented on #1895
Repo has been synced - https://github.com/kubernetes/controller-manager :tada:

[2020-05-30 15:08] #1895 closed

[2020-05-30 18:12] dims commented on #1895
nice work @nikhita thanks!

[2020-06-01 16:37] logicalhan opened #1907 "A new SIG repo for instrumentation-tools"
### New Repo, Staging Repo, or migrate existing

We'd like a new repository for hosting instrumentation-tooling code.

### Requested name for new repository

instrumentation-tools

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

sig-instrumentation-leads (i.e. @dashpole, @brancz, @ehashman, @logicalhan)

### If not a staging repo,

[2020-06-01 16:41] dashpole commented on #1907
/lgtm

[2020-06-01 17:07] logicalhan commented on #1907
/cc @RainbowMango

[2020-06-01 17:51] rajula96reddy opened #1908 "REQUEST: New membership for rajula96reddy"
### GitHub Username
@rajula96reddy

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-06-01 19:45] nikhita commented on #1890
@prachirp can you please follow up with the sponsors to +1 here? Thanks :)

[2020-06-01 19:47] nikhita commented on #1907
/assign

[2020-06-01 19:49] mortent commented on #1890
+1

[2020-06-01 20:03] nikhita commented on #1907
Repo has been created - https://github.com/kubernetes-sigs/instrumentation-tools :tada:

Also created:
- https://github.com/kubernetes/org/pull/1910 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4828 - to add the repo to sigs.yaml

Once both PRs get merged, we can close this issue.

[2020-06-01 20:56] logicalhan commented on #1907
Thanks @nikhita!!

[2020-06-01 21:02] logicalhan commented on #1907
/hold cancel

[2020-06-01 21:02] logicalhan commented on #1907
/close

[2020-06-01 21:02] #1907 closed

[2020-06-01 22:14] bsdnet opened #1913 "REQUEST: New membership for bsdnet"
### GitHub Username
 @bsdnet

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2020-06-01 22:17] spiffxp commented on #1913
+1 from sponsor

The issue numbers above don't link but FWIW I know these are kubernetes/kubernetes (91...) and kubernetes-test-infra (17...)

[2020-06-01 22:19] MHBauer commented on #1913
@bsdnet has been a great help with sig-node testing effort and especially helpful with understanding the cos images! 👍

[2020-06-01 22:22] bsdnet commented on #1913
Thanks @spiffxp  for the example.  Corrected.

Thanks @MHBauer. Good to work with you, and try my best to make sig-node/testing better.

[2020-06-01 23:35] monopole commented on #1890
+1

[2020-06-01 23:41] alejandrox1 commented on #1913
want to add another +1 here :smile:
Thank you for all your work @bsdnet !

[2020-06-02 01:05] RainbowMango commented on #1907
Wonderful!

[2020-06-02 02:41] bsdnet commented on #1913
Thanks @alejandrox1

[2020-06-02 11:29] nikhita commented on #1890
/assign @pwittrock
can you comment with a +1 here?

We'll need a non-google sponsor to +1 to close the loop on this :)

[2020-06-02 11:36] nikhita commented on #1905
@giuseppe thank you for all your contributors with sig node so far :)

I've created PR #1914 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification. The issue body requests for @kubernetes-sigs membership as well but you are already a member of k-sigs. :)

Welcome to @kubernetes! 🎉

/assign

[2020-06-02 11:36] nikhita commented on #1913
@bsdnet thank you for all your contributors with sig node and testing so far :)

I've created PR #1914 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification. :)

Welcome to @kubernetes! 🎉

/assign

[2020-06-02 11:44] #1905 closed

[2020-06-02 11:44] #1913 closed

[2020-06-02 14:17] pmorie commented on #1499
We discussed this in our May 26 meeting. The predominant sentiment seemed to be that the project is essentially defunct in its present form. It is possible that we will create something similar in the future, but the SIG does not want to be bound by prior decisions made in this repo. It is also likely that we will create any new repository for this in the `kubernetes-sigs` github org. I will send

[2020-06-02 16:16] pwittrock commented on #1890
+1

FYI: I don't start at Apple until June 15.

[2020-06-03 19:48] copejon commented on #1904
Ah! Sorry, I hadn't realized that.  Would it be better to create a topic now, then migrate/create repo(s) later?  Or should we wait until we're ready to push some code?

[2020-06-03 19:55] copejon commented on #1904
cc @saad-ali as I'm not very attuned to kube's meta architecture.   What are your thoughts on topic vs org?  I suggested an org initially, thinking that that COSI may mature beyond a small number of repos (code, examples, drivers, etc).

[2020-06-03 20:32] celestehorgan opened #1915 "REQUEST: New membership for celestehorgan"
### GitHub Username
@celestehorgan

### Organization you are requesting membership in
kubernetes/website

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2020-06-03 20:34] mrbobbytables commented on #1915
+1 from me :)
/pony party

[2020-06-03 20:39] jimangel commented on #1915
Strong +1! Thanks for your contributions @celestehorgan! :tada:

[2020-06-03 20:41] dims commented on #1915
+1 from me!

[2020-06-03 21:51] ameukam commented on #1903
ghproxy provide a flag (`--github-api-url`) that allow to override the GitHub API URL but It's only compatible with GitHub Enterprise : https://github.com/google/triage-party/blob/v1.1.0/pkg/triage/github.go#L55-L64.

We may need to patch triage-party in order to support ghproxy.

[2020-06-03 23:06] prachirp commented on #1890
/assign @nikhita
can you approve membership now?

[2020-06-04 09:16] Arhell opened #1916 "REQUEST: New membership for Arhell"
### GitHub Username
@Arhell

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-06-04 10:03] dims commented on #1916
+1 from me!

[2020-06-04 12:37] nikhita commented on #1883
As there has been no traction with this for a while I'm going to flag it as rotten.

/lifecycle rotten

Please remember that you must speak to your sponsors first and get their approval before applying for org membership.

If this is still active, please go ahead and /remove-lifecycle rotten

[2020-06-04 12:39] nikhita commented on #1692
As there has been no traction with this in a month I'm going to flag it as rotten.

/lifecycle rotten

Please remember that you must speak to your sponsors first and get their approval before applying for org membership.

If this is still active, please go ahead and /remove-lifecycle rotten

[2020-06-04 12:42] yg commented on #1692
Thanks @nikhita, we can close this!

[2020-06-04 12:42] #1692 closed

[2020-06-04 12:45] nikhita commented on #1915
I'll add my +1 too :woman_dancing:

[2020-06-04 12:47] nikhita commented on #1890
@prachirp thank you for all your contributors with kustomize so far :)

I've created PR #1917 to add you to the Kubernetes and the Kubernetes SIGs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2020-06-04 12:48] nikhita commented on #1915
@celestehorgan thank you for all your contributors with SIG Docs, and especially for helping out real quick with the steering-related discussion :)

I've created PR #1917 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-04 12:53] #1890 closed

[2020-06-04 12:53] #1915 closed

[2020-06-04 14:21] jimangel commented on #1916
+1 as well, thanks @Arhell! 🎉

[2020-06-04 17:26] jonasrosland commented on #1908
+1 from me!
Thank you Rajula for all the things you're driving in Contribex!

[2020-06-04 17:38] zacharysarah commented on #1916
+1 from me as well!

[2020-06-05 12:22] #1765 closed

[2020-06-05 12:22] #1774 closed

[2020-06-05 13:22] wongma7 commented on #1797
Sorry I didn't respond here on GitHub. This is me responding on GitHub just to doubly confirm for what that's worth!

[2020-06-06 10:21] Dhiraj240 commented on #1883
@nikhita  Understood, they are not responsive now but I will look for other project contributions and their mentors.
Closing it now, no more expectations.

[2020-06-06 10:21] #1883 closed

[2020-06-09 15:00] kmova opened #1921 "Need help on migration of kubernetes-incubator/external-storage/tree/master/nfs"
We are in the process of migrating `kubernetes-incubator/external-storage/tree/master/nfs` to `https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner`.

As [directed](https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/2#issuecomment-640854088) by @dims, raising this issue for help with resolving the CLA error on the migration PR: https://git

[2020-06-09 20:30] derekwaynecarr commented on #1873
i don't recall us coming to a conclusion on this in sig-node meeting.

@dchen1107 did i miss this discussion?

[2020-06-10 07:16] kmova commented on #1921
Tagging @nikhita @idvoretskyi for help.

[2020-06-10 07:32] nikhita commented on #1921
/assign

[2020-06-10 07:48] nikhita commented on #1921
While migrating code between Kubernetes repos in the past, we have merged manually -- this is equal to clicking on the "Merge" button on GitHub. We have done that before because we assumed that the commits had the CNCF CLA signed at the time it was merged. See [sig-arch thread](https://groups.google.com/forum/#!topic/kubernetes-sig-architecture/lohdOInzcuQ), particularly:

---

In this case, the P

[2020-06-11 06:44] nikhita commented on #1916
@Arhell thank you for all your contributors with SIG Docs so far :)

I've created PR #1923 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-11 07:36] #1916 closed

[2020-06-12 00:34] jherrera123 opened #1926 "REQUEST: New membership for jherrera123"
### GitHub Username
@jherrera123

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-06-12 00:37] BenTheElder commented on #1926
+1, thanks!

[2020-06-12 01:08] roycaihw opened #1927 "add roycaihw as a member of kubernetes-sigs"
### GitHub Username
@roycaihw

### Organization you are requesting membership in
@kubernetes-sigs

I'm already a member of the Kubernetes org.

ref https://github.com/kubernetes-sigs/kube-storage-version-migrator/issues/69#issuecomment-643005826

/assign @spiffxp

[2020-06-12 01:51] nikhita commented on #1927
@roycaihw Created https://github.com/kubernetes/org/pull/1928 to add you to @kubernetes-sigs. Can you lgtm the PR? Thanks :)

[2020-06-12 01:52] nikhita commented on #1926
@jherrera123 Can you please add the list of sponsors in your issue body? All membership applications require 2 sponsors :)

[2020-06-12 04:17] #1927 closed

[2020-06-12 16:03] oomichi commented on #1926
+1, thanks for your contribution!

[2020-06-12 16:43] alonyb opened #1929 "REQUEST: New membership for @alonyb"
### GitHub Username
@alonyb

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-06-12 20:54] swamymsft opened #1930 "REQUEST: New membership for swamymsft"
### GitHub Username
@swamymsft

### Organization you are requesting membership in
@Kubernetes

### Requirements
- [Yes] I have reviewed the community membership guidelines
- [Yes] I have enabled 2FA on my GitHub account
- [Yes] I have subscribed to the kubernetes-dev e-mail list
- [Yes] I am actively contributing to 1 or more Kubernetes subprojects
- [Yes] I have two sponsors that meet the sponsor

[2020-06-13 05:30] coderanger commented on #1903
To copy a conclusion from Slack, triage-party has its own persistence layer so we can probably skip ghproxy for now. So next step would probably be a test deployment against a smaller repo with test token?

[2020-06-14 22:02] #1790 closed

[2020-06-15 04:55] nikhita commented on #1875
@tallclair :wave: Just following up. Have there be any updates on the licensing front?

[2020-06-15 04:58] nikhita commented on #1499
@pmorie :wave: Just following up. Has there been a date set for the lazy consensus already? Couldn't find one the mailing list.

[2020-06-15 05:05] nikhita commented on #651
@akshaymankar :wave: Apologies for not responding to your comment earlier.

We definitely want to pivot towards using prow and https://github.com/kubernetes/test-infra/pull/15331 looks ready to be merged once the CLA and org membership bits are sorted out.

Yes, you'll need to create issues on this repo and add 2 sponsors as per https://git.k8s.io/community/community-membership.md#member.

I'm goi

[2020-06-15 05:05] #651 closed

[2020-06-15 11:04] nikhita commented on #1926
@jherrera123 thank you for all your contributors so far :)

I've created PR #1933 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-15 11:57] #1926 closed

[2020-06-15 12:09] gianarb opened #1934 "Migrate packethost/cluster-api-provider-packet to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing [packethost/cluster-api-provider-packet](https://github.com/packethost/cluster-api-provider-packet)

### Requested name for new repository
cluster-api-provider-packet

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@mrmrcoleman @deitch

### If not a staging repo, who s

[2020-06-15 12:24] mrbobbytables commented on #1934
/assign @justinsb @neolit123 @timothysc @fabianofranz
For sign off

After sign off from the leads,  @deitch @jacobsmith928 @mrmrcoleman  will need to apply for membership to kubernetes-sigs 👍

[2020-06-15 12:35] nikhita commented on #1934
Aside from what @mrbobbytables has detailed in https://github.com/kubernetes/org/issues/1934#issuecomment-644100402, the repo will need some more updates before it is ready for migration.

- As per the [rules](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories), all contributors must have signed the CNCF CLA. @rkoster has

[2020-06-15 13:11] rkoster commented on #1934
S&W had already signed: https://identity.linuxfoundation.org/content/cncf-stark-wayne, but apparently I did not yet connect my linux foundation account to github. It should all be set now.

[2020-06-15 13:15] nikhita commented on #1934
@rkoster Thanks for the quick response! Can confirm that the CLA looks fine now :smile:

[2020-06-15 15:06] neolit123 commented on #1934
/unassign @fabianofranz
/assign @fabriziopandini

[2020-06-15 15:07] mrbobbytables commented on #1934
Oh woops, sorry about that misassign >_> auto-complete got me.

[2020-06-15 20:51] chizhg opened #1936 "REQUEST: New membership for chizhg"
### GitHub Username
chizhg

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2020-06-15 20:54] cjwagner commented on #1936
+1 from me 👍

[2020-06-15 20:54] alvaroaleman commented on #1936
+1

[2020-06-16 11:07] nikhita commented on #1936
@chizhg thank you for all your contributors to test-infra so far :)

I've created PR #1937 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-16 11:18] nikhita commented on #1921
@initcron :wave: friendly ping about singing the [CLA](https://github.com/kubernetes/community/blob/master/CLA.md)

[2020-06-16 11:20] #1936 closed

[2020-06-16 11:20] mrbobbytables commented on #1904
With that do you think this issue can be closed?

[2020-06-16 14:47] ameukam commented on #1903
Link of the conclusion from Slack: https://kubernetes.slack.com/archives/C1TU9EB9S/p1591822629213000?thread_ts=1591822021.211300&cid=C1TU9EB9S.

@coderanger Something more ambitious: Running triage-party again the `ĸubernetes/kubernetes` repo: https://github.com/kubernetes/k8s.io/pull/967. :-)

[2020-06-16 15:12] copejon commented on #1904
Yes, will follow up on a new git topic in a new issue.

[2020-06-16 15:12] #1904 closed

[2020-06-16 18:06] neolit123 commented on #1934
thank you for joining the meeting today @gianarb
we've +1 for the migration from the SIG CL standpoint.
/lgtm

the subproject addition is in this PR, but we requested an amends to it:
https://github.com/kubernetes/community/pull/4861
(to add it as `cluster-api-provider-packet` under SIG CL and not SIG CP).

[2020-06-17 00:30] yodahekinsew opened #1939 "REQUEST: New membership for yodahekinsew"
### GitHub Username
@yodahekinsew

### Organization you are requesting membership in
@kubernetes

### Requirements
- [Yes] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [Yes] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [Yes] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-06-17 05:57] nikhita commented on #1934
@gianarb tiny nit: the copyright header needs to have newlines. example https://github.com/packethost/cluster-api-provider-packet/blob/master/controllers/packetcluster_controller.go#L3 and https://github.com/kubernetes/kubernetes/blob/master/hack/boilerplate/boilerplate.go.txt#L3 for comparison.

Can you ping here once all membership requests are processed as per https://github.com/kubernetes/org/

[2020-06-17 06:02] nikhita commented on #1934
Some more small updates needed:

- The repo has an OWNERS file that mentions aliases like `cluster-api-packet-maintainers` but doesn't have an `OWNERS_ALIASES` file at the root to define these aliases. You can find the format for the aliases file [here](https://github.com/kubernetes/kubernetes-template-project/blob/master/OWNERS_ALIASES).

- Can you also add a note in the README for the "Community

[2020-06-17 16:08] listx commented on #1939
Confirming from my end that @yodahekinsew is indeed who he says he is.

/cc @justaugustus

[2020-06-17 18:27] sharifelgamal commented on #1929
+1

[2020-06-17 22:19] medyagh commented on #1929
I support @alonyb to be in the kubernetes orgs, he has done multiple good contributions to the minikube project

[2020-06-18 12:00] nikhita commented on #1929
@alonyb Sponsors need to have different employers. Do you happen to know anyone not from Google who can sponsor you?

[2020-06-18 15:11] tstromberg commented on #1903
@coderanger - Hi! I'm the author of triage-party. I believe that `--github-api-url` may still work for ghproxy, if the go-github API docs are to be believed: https://pkg.go.dev/github.com/google/go-github/v32/github?tab=doc#NewEnterpriseClient

If you run into any issues or have questions getting Triage Party setup, please let me know (@tstromberg on Kubernetes Slack).

[2020-06-18 16:23] afbjorklund commented on #1929
I sponsor @alonyb for membership in the minikube project and kubernetes organisation

[2020-06-18 16:56] nikhita commented on #1929
@alonyb thank you for all your contributors to minikube so far :)

I've created PR #1941 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-18 21:32] brahmaroutu opened #1942 "New Repository for Container Object Storage Interface implementation"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
container-object-storage-interface-spec   (Container Object Storage Specification)
container-object-storage-interface-csi-adapter (CSI driver to bootstrap COSI workloads)

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jsafrane
@ms

[2020-06-18 21:33] brahmaroutu commented on #1942
/assign @saad-ali

[2020-06-18 21:34] brahmaroutu commented on #1942
/sig storage
/assign @xing-yang
ping @copejon @wlan0 Please review.

[2020-06-18 21:39] copejon commented on #1942
WRT to

thread, etc.)"

See too #1904

[2020-06-18 22:03] xing-yang commented on #1942
Can you send an email to sig-storage mailing list about this request?
Other than that, this looks good to me.

[2020-06-18 22:29] brahmaroutu commented on #1942
thanks. I just sent out email about the request.

[2020-06-19 00:02] saad-ali commented on #1942
Suggestions:

* For repo names, spell out `container-object-storage-interface` rather than using abbreviation `COSI`
* Align naming with [CSI repos](https://github.com/container-storage-interface/) where possible, to lower cognitive overhead.
* Start with just the spec and adapter repos, and wait to create the other repos until the architecture is finalized (do we want one sidecar or more? will th

[2020-06-19 03:33] #1929 closed

[2020-06-19 06:31] RainbowMango commented on #1499
I don't think this repo should be archived, in addition, I've some idea about how this API should be enhanced. Please just wait for a while, we will discuss it at the SIG meeting.

[2020-06-19 14:37] copejon commented on #1942
@saad-ali While we haven't hammered out a complete design for automation, it would still be beneficial to have a common space for prototyping.  Is this work something we should handle out of band?

[2020-06-19 19:54] saad-ali commented on #1942
I guess my concern is are you boxing yourself in by having a single repo called `cosi-controller` and `cosi-sidecar-controller`. Are you going to want more then one COSI controller or sidecar in the future (given that CSI has more than one sidecar)?

[2020-06-19 20:26] copejon commented on #1942
Fair point, I think we'd be fine then with your suggested repos, with the architecture to follow once the design is settled on:

1. `container-object-storage-interface-spec`
2. `container-object-storage-interface-csi-adapter`

[2020-06-19 20:36] brahmaroutu commented on #1942
I have updated the issue and I believe this will give us the start we need right now.
Please review and approve @saad-ali

[2020-06-19 23:47] justaugustus commented on #1939
Approved on behalf of SIG Release.
Note that this membership for the `kubernetes-sigs` org (where https://github.com/kubernetes-sigs/k8s-container-image-promoter is), not the `kubernetes` org.

I've opened the PR for membership: https://github.com/kubernetes/org/pull/1943

[2020-06-19 23:54] #1939 closed

[2020-06-20 14:17] swamymsft commented on #1930
Adding couple of links to the pull requests:
https://github.com/kubernetes/security/pull/40
https://github.com/kubernetes/security/pull/50

[2020-06-22 10:03] gianarb commented on #1934
@nikhita thank you for your help.
I think we are all set! Do you agree?

Thanks

[2020-06-22 12:28] nikhita commented on #1934
@gianarb There are a few things still outstanding :grimacing:

- The link to the slack channels, CoC still needs to be added in the README as per https://github.com/kubernetes/org/issues/1934#issuecomment-645170323

- There are still a few copyright headers that need newlines. Example - https://github.com/packethost/cluster-api-provider-packet/blob/master/main.go#L2

-  @deitch @jacobsmith928 @mrm

[2020-06-22 13:17] mrmrcoleman opened #1946 "REQUEST: New membership for mrmrcoleman"
### GitHub Username
- @mrmrcoleman

### Organization you are requesting membership in
- @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2020-06-22 13:54] timothysc commented on #1946
+1 From me
/lgtm
/approve

xref - https://github.com/kubernetes/org/issues/1934

[2020-06-22 15:53] jdumars commented on #1946
also happy to sponsor with a +1

[2020-06-22 18:19] fabriziopandini commented on #1946
+1
To kick start the cluster-api-provider-packet work

[2020-06-23 07:43] AlexeyPerevalov opened #1947 "REQUEST: New membership for AlexeyPerevalov"
### GitHub Username
@AlexeyPerevalov

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2020-06-23 08:30] pjbgf commented on #1873
@derekwaynecarr we presented our vision and current state for the operator last week again. @dchen1107 then suggested we present it also to sig-auth, which we will be doing tomorrow.

[2020-06-23 09:39] klueska commented on #1947
+1

[2020-06-23 22:03] Huang-Wei commented on #1947
+1

[2020-06-24 01:51] k82cn commented on #1499
@pmorie , any conclusion there? we'd like to use this report as cluster-api for multi-cluster scenario.

[2020-06-24 08:52] nikhita commented on #1946
@mrmrcoleman thank you for kick starting the cluster-api-provider-packet work :)

I've created PR #1948 to add you to the Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2020-06-24 08:53] nikhita commented on #1947
@AlexeyPerevalov thank you for all your contributors to sig node and sig scheduling so far :)

I've created PR #1948 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-24 09:07] nikhita commented on #1921
Looks like we aren't able to reach @initcron. For reference, I tried to reach them on twitter a week ago as well - https://twitter.com/TheNikhita/status/1272390172315807751

@kmova in cases like these, we usually just remove the problematic commit and add the changes ourselves in a new commit. Specifically in this case, it would involve removing https://github.com/kubernetes-incubator/external-sto

[2020-06-24 11:23] #1946 closed

[2020-06-24 11:23] #1947 closed

[2020-06-24 13:16] gianarb opened #1949 "REQUEST: New membership for gianarb"
### GitHub Username
@gianarb

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2020-06-24 13:20] nikhita commented on #1949
@gianarb - both @timothysc and @fabriziopandini are from VMware and sponsors need to have different employers. I would have been happy to act as a sponsor, but I'm from VMware too :upside_down_face:

[2020-06-24 13:22] gianarb commented on #1949
I didn't realize that!! :D I added @jdumars to the party!! :D

[2020-06-24 13:22] nikhita commented on #1949
Oh just realized you don't really need sponsors, since you are already a member of the @kubernetes github org. :smile:

Feel free to create a PR to add yourself and I'll approve it!

[2020-06-24 13:36] gnufied opened #1951 "REQUEST: New membership for gnufied"
### GitHub Username
gnufied

### Organization you are requesting membership in
kubernetes-sig

### Requirements
- [ x ]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2020-06-24 13:38] nikhita commented on #1951
@gnufied since you are already a member of the @kubernetes github org, you don't need sponsors. Feel free to create a PR directly and I'll approve it! :)

[2020-06-24 13:39] #1949 closed

[2020-06-24 13:45] gnufied commented on #1951
@nikhita done - https://github.com/kubernetes/org/pull/1952 ! thank you.

[2020-06-24 14:52] jacobsmith928 opened #1953 "REQUEST: New membership for jacobsmith928"
### GitHub Username
@jacobsmith928

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2020-06-24 15:08] gianarb commented on #1953
As soon as the sponsors will approve I will make the PR 👍

[2020-06-24 17:13] kmova commented on #1921
The changes made by the commit in question were updated in later commits and the files moved to a new location. I created a new PR by dropping that commit.

The changes from the above commit are reflected here:
https://github.com/kmova/nfs-ganesha-server-and-external-provisioner/blob/cherry-pick-code/deploy/kubernetes/rbac.yaml#L1
https://github.com/kmova/nfs-ganesha-server-and-external-provisione

[2020-06-24 17:56] nikhita commented on #1921
@kmova The new PR looks good! I have removed the label for you and commented on the PR with confirmation about the CLA issue - https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/3#issuecomment-648973160. Please feel free to merge manually when you are ready. :+1:

With that, I'll go ahead and close this issue. Please reopen if you need further help! :)

[2020-06-24 17:56] #1921 closed

[2020-06-24 17:57] cblecker commented on #966
/remove-lifecycle stale

[2020-06-24 18:14] saad-ali commented on #1942
/lgtm
/approve

[2020-06-24 18:38] nikhita commented on #1942
/assign

[2020-06-24 19:56] tallclair commented on #1873
From a sig-auth perspective, we're happy with the direction of this. We do agree that this should be under sig-node though.

Putting on my sig-node hat, I like this direction. I do think we still need some upstream improvements to the local profiles, but that should be complementary to this out-of-core operator, and shouldn't block progress.

[2020-06-24 21:19] mrmrcoleman commented on #1946
Thanks @nikhita !

[2020-06-25 04:47] knight42 opened #1955 "REQUEST: New membership for knight42"
### GitHub Username
@knight42

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2020-06-25 06:03] nikhita commented on #1951
Fixed in https://github.com/kubernetes/org/pull/1952

[2020-06-25 06:03] #1951 closed

[2020-06-25 06:32] nikhita commented on #1942
The repos have been created:

- https://github.com/kubernetes-sigs/container-object-storage-interface-spec
- https://github.com/kubernetes-sigs/container-object-storage-interface-csi-adapter

Also created:

- https://github.com/kubernetes/org/pull/1956 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4895 - to add the repos to sigs.yaml

Once both PRs merge, we

[2020-06-25 07:41] deitch opened #1957 "REQUEST: New membership for deitch"
### GitHub Username
@deitch

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2020-06-25 11:31] chris-short commented on #1908
Huge +1 from me. Thank you for all the work you’re doing in the community, Rajula.

[2020-06-25 13:59] timothysc commented on #1957
/lgtm
/approve

[2020-06-25 13:59] timothysc commented on #1953
/lgtm
/approve

[2020-06-25 15:29] jdumars commented on #1953
/approve

Welcome to the org!

[2020-06-25 15:30] jdumars commented on #1957
Can you confirm you are subscribed to kubernetes-dev mailing list please?  :) I will approve once that box is checked.

[2020-06-25 15:33] deitch commented on #1957
Ha, I missed that. Subscribed to so many mailing lists that I passed it and said, "I cannot recall, I will check it afterwards", and promptly forgot. I will resubscribe if I am not now.

[2020-06-25 15:37] deitch commented on #1957
Confirmed.

[2020-06-25 16:43] jdumars commented on #1957
Great! Thank you.
/approve

Welcome to the org!

[2020-06-25 16:45] deitch commented on #1957
Thanks @jdumars . Happy to be here!

[2020-06-25 17:02] #1957 closed

[2020-06-25 17:02] #1953 closed

[2020-06-25 17:20] nikhita commented on #1934
For the record -- I discussed with @gianarb, we are sorting out some org level settings around who can transfer the repo. Everything looks good otherwise, I'll migrate the repo once the settings have been fixed. :+1:

@gianarb also thank you for taking care of all the prerequisites and being so responsive with everything! :heart:

[2020-06-25 17:26] neolit123 commented on #1934
the up to date list for this:
https://github.com/packethost/cluster-api-provider-packet/blob/master/OWNERS_ALIASES#L4-L7

is here:
https://github.com/kubernetes-sigs/cluster-api/blob/master/OWNERS_ALIASES#L4-L8

but we can update it later too.

[2020-06-25 20:19] caesarxuchao commented on #1955
+1

[2020-06-25 21:57] EmilyM1 opened #1959 "REQUEST: New membership for emilym1"
### GitHub Username
@emilym1

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2020-06-26 00:31] dims commented on #1959
+1 welcome!

[2020-06-26 00:43] mattcary opened #1960 "REQUEST: New membership for mattcary"
Hi!

I have an approved request to join kubernetes-sigs. The invite to join got lost in my inbox, and expired. Can it be regenerated?

Here is the approved issue: https://github.com/kubernetes/org/issues/1877

Sorry for the bother

Matt

[2020-06-26 00:54] parispittman commented on #1959
100% +1

yay welcome

[2020-06-26 08:44] justaugustus commented on #1903
Created https://github.com/k8s-triage-party-sig-release-bot and generated a token with `public_repo` OAuth scope (ref: https://github.com/google/triage-party/commit/e4b59f27c8b14f08b6c11a7dd80733f30cc3fb02).

Handed that token off to @spiffxp for deployment.
The deployment is tracked in https://github.com/kubernetes/k8s.io/pull/967.

/close

[2020-06-26 08:44] #1903 closed

[2020-06-26 08:50] justaugustus commented on #1903
Example from @Riaankl in [yesterday's GH Admin meeting](https://docs.google.com/document/d/1IiVrr1hcFWmbboExk971FsMUGfr2Wp68mdMribCuzLs/edit#heading=h.5wzcacxwipf3):
- Test run of the Triage party in Kubernetes can be seen here: http://heyste.ii.coop:11083/s/daily
- Docs:
  - Checking Conformance Progress with Triage Party: https://github.com/cncf/apisnoop/blob/4dd2abbaeb0c3fe8ecbbd832b8aa08829285

[2020-06-26 13:19] soltysh commented on #1955
:+1:

[2020-06-26 13:36] nikhita commented on #1934
Repo has been migrated - https://github.com/kubernetes-sigs/cluster-api-provider-packet :tada:

Teams have been granted access and sigs.yaml has been updated.

@neolit123 -- also, OWNERS_ALIASES has been updated in https://github.com/kubernetes-sigs/cluster-api-provider-packet/pull/138 :smile:

/close

[2020-06-26 13:37] #1934 closed

[2020-06-26 13:41] nikhita commented on #1908
@rajula96reddy thank you for all your contributors to sig contribex so far :)

I've created PR #1961 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-26 13:42] nikhita commented on #1955
@knight42 thank you for all your contributors to sig api-machinery and sig cli so far :)

I've created PR #1961 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-26 13:42] nikhita commented on #1959
@EmilyM1 thank you for all your contributors so far and thanks for participating with sig node :)

I've created PR #1961 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-26 13:46] neolit123 commented on #1934
awesome :tada:

[2020-06-26 13:50] nikhita commented on #1934
The repo was moved a few minutes ago but @fejta-bot is already in action :laughing:

https://github.com/kubernetes-sigs/cluster-api-provider-packet/issues/8#issuecomment-650181886

[2020-06-26 13:53] #1908 closed

[2020-06-26 13:53] #1955 closed

[2020-06-26 13:53] #1959 closed

[2020-06-26 14:20] gianarb commented on #1934
Thanks a lot for your support!! We are happy and excited about all of this!! :D Now let's try to make @fejta-bot happy!

[2020-06-26 15:12] mattcary commented on #1960
I got the invite and accepted it this time, thank you again for your help.

[2020-06-26 15:12] #1960 closed

[2020-06-26 17:10] tallclair commented on #1930
+1 for Swamy's membership. He is already helping out with the PSC, and it is important for him to be an org member in order to carry out all the PSC responsibilities.

[2020-06-26 17:16] tallclair commented on #1875
Yes, making some progress. I think it's almost done.

[2020-06-26 18:20] ritazh commented on #1930
+1
Have been working with Swamy on security issues for Kubernetes.

[2020-06-26 21:41] tallclair commented on #1875
Approved! We're good to move forward.

[2020-06-26 21:56] saschagrunert commented on #1875
Thank you @tallclair! 🙏 @nikhita how does the repo move work technically?

[2020-06-27 13:46] nikhita commented on #1875
That's awesome! The copyright header still needs to be updated from the Google one to the k8s one (https://github.com/kubernetes/org/issues/1875#issuecomment-629178949), but we'd be good to go after that. :+1:

GitHub allows repo transfers only between orgs i.e. the repo needs to be in an org instead of a personal account. To move it to k-sigs, we'll need to move it to a dummy org and then move it

[2020-06-27 14:04] nikhita commented on #1499
@k82cn @RainbowMango I'd recommend following up on the [mailing list](https://groups.google.com/g/kubernetes-sig-multicluster/c/4F4L8qpHuTA), github notifications can sometimes go to a black hole :upside_down_face:

[2020-06-27 23:58] k82cn commented on #1499
sure, thanks very much for your reminder :)

[2020-06-29 16:27] yuanchen8911 opened #1964 "kubernetes-sigs membership issue for yuanchen8911"
I'm a kubernetes org member and submitted a PR (https://github.com/kubernetes/org/pull/1963) for kubernetes-sigs membership. The PR was approved and merged yesterday.

However, my name is not included in the [kubernetes-sigs member list](https://github.com/orgs/kubernetes-sigs/people).
My profile does not show the new org either. I was wondering if it just takes time or something is wrong. Thanks.

[2020-06-29 16:49] nikhita commented on #1964
I can see a pending invitation for you. If you go to https://github.com/kubernetes-sigs, you should see a link to accept the invite.

[2020-06-29 19:26] pmorie commented on #1499
Thanks for bumping, I see @RainbowMango's reply now.

If there's an objection, we should give this some additional discussion time in a SIG meeting. I have put an item on July 07, 2020 agenda to discuss. We will set a date for lazy consensus at that time.

[2020-06-29 23:44] SergeyKanzhelev opened #1965 "REQUEST: New membership for SergeyKanzhelev"
### GitHub Username

@SergeyKanzhelev

### Organization you are requesting membership in

@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https:

[2020-06-29 23:51] saikat-royc opened #1966 "REQUEST: New membership for saikat-royc"
### GitHub Username
@saikat-royc

### Organization you are requesting membership in
kubernetes, kubernetes-sigs, kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail lis

[2020-06-29 23:58] msau42 commented on #1966
+1! Saikat has been actively working on snapshots and csi in general for sig-storage.

[2020-06-30 00:06] yuanchen8911 commented on #1964
Thanks, it works.

[2020-06-30 00:13] kaslin opened #1967 "REQUEST: New membership for kaslin"
### GitHub Username
@kaslin

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2020-06-30 00:15] mrbobbytables commented on #1967
+1 from me :)
/pony party

[2020-06-30 00:16] parispittman commented on #1967
+1

[2020-06-30 01:20] dchen1107 commented on #1965
Welcome!

Sergey, thank you again for your help.

[2020-06-30 03:27] nikhita commented on #1964
Closing :)

[2020-06-30 03:27] #1964 closed

[2020-06-30 06:20] matthyx commented on #1965
+1 welcome Sergey!

[2020-06-30 11:15] mrbobbytables commented on #1930
@swamymsft , thank you for all your help with the PSC \o/

I've created PR #1968   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-30 11:16] mrbobbytables commented on #1965
@SergeyKanzhelev, thank you for all your contributions so far :)

I've created PR #1968  to add you to both the Kubernetes and Kubernetes-sigs Orgs. Once that gets merged, you should get a membership invite notification from both of them \o/

Welcome to @kubernetes! 🎉

/assign

[2020-06-30 11:16] mrbobbytables commented on #1967
@kaslin, thank you for all your help with the marketing team :)

I've created PR #1968   to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-06-30 11:26] #1930 closed

[2020-06-30 11:26] #1965 closed

[2020-06-30 11:26] #1967 closed

[2020-06-30 12:44] mrbobbytables commented on #1563
Checking back in again, how are things looking? Are we good to archive at this point?

[2020-06-30 15:12] swamymsft commented on #1930
Thanks @mrbobbytables, I got the invite and joined the greater Kubernetes Org.

Thanks @ritazh & @tallclair for supporting my sponsorship!

[2020-06-30 18:49] JeremyOT opened #1970 "REQUEST: New repo sigs.k8s.io/mcs-api"
### New Repo, Staging Repo, or migrate existing
New repo

### Requested name for new repository
sigs.k8s.io/mcs-api

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@pmorie
@JeremyOT

### If not a staging repo, who should have write access
@pmorie
@JeremyOT

### If not a staging repo, who should be listed as approvers in OWNERS
@pmor

[2020-06-30 19:43] gnufied commented on #1966
+1

[2020-06-30 22:21] kaslin opened #1971 "Contributor-tweets repo creation"
### New Repo, Staging Repo, or migrate existing
new repository

### Requested name for new repository
contributor-tweets

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
sig-contributor-experience-leads (@mrbobbytables, @castrojo, @cblecker, @nikhita)

### If not a staging repo, who should have write access
sig-contributor-experience

[2020-06-30 22:24] mrbobbytables commented on #1971
/assign

[2020-07-01 06:35] JeremyOT opened #1973 "REQUEST: New membership for JeremyOT"
### GitHub Username
@JeremyOT

### Organization you are requesting membership in
@kubernetes, @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2020-07-01 15:04] pmorie commented on #1973
+1

[2020-07-01 15:29] lixiang233 opened #1974 "REQUEST: New membership for lixiang233"
### GitHub Username
@lixiang233

### Organization you are requesting membership in
@kubernetes-sigs
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-07-01 15:41] spurin opened #1975 "REQUEST: New membership for spurin"
### GitHub Username
@spurin

### Organization you are requesting membership in
@kubernetes, @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2020-07-01 15:52] irvifa commented on #1975
👍 from me thanks for your contributions @spurin

[2020-07-01 18:26] seanmalloy commented on #1974
+1

[2020-07-01 18:49] thockin commented on #1973
+1

[2020-07-01 20:33] zacharysarah commented on #1975
+1, thanks for your contributions so far!

[2020-07-01 22:15] amwat opened #1977 "Repo creation request: kubernetes-sigs/kubetest2"
### New Repo, Staging Repo, or migrate existing
new repository (will move https://github.com/kubernetes/test-infra/tree/master/kubetest2 into this repository)

### Requested name for new repository
`kubetest2`
### Which Organization should it reside
`kubernetes-sigs`

### If not a staging repo, who should have admin access
@amwat
@BenTheElder
@spiffxp

### If not a staging repo, who should have wr

[2020-07-02 08:59] nikhita commented on #1977
/assign

[2020-07-02 09:08] nikhita commented on #1977
Repo has been created - https://github.com/kubernetes-sigs/kubetest2 :tada:

Also created:

- https://github.com/kubernetes/org/pull/1979 - to create GitHub teams to grant access
- https://github.com/kubernetes/community/pull/4911 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2020-07-02 09:16] nikhita commented on #1966
@saikat-royc thank you for all your contributors with sig storage so far :)

I've created PR #1980 to add you to the 3 GitHub orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-02 09:16] nikhita commented on #1973
@JeremyOT thank you for all your contributors so far :)

I've created PR #1980 to add you to the Kubernetes and Kubernetes SIGs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-02 09:17] nikhita commented on #1975
@spurin thank you for all your contributors with sig docs so far and thank you for creating such a wonderfully detailed table in the issue body! :raised_hands:

I've created PR #1980 to add you to the Kubernetes and Kubernetes SIGs Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2020-07-02 09:46] #1966 closed

[2020-07-02 09:46] #1973 closed

[2020-07-02 09:46] #1975 closed

[2020-07-02 15:21] mrbobbytables commented on #1971
The repo has been create: https://github.com/kubernetes-sigs/contributor-tweets
Membership and teams have been added: https://github.com/kubernetes/org/pull/1981
Once https://github.com/kubernetes/community/pull/4914 merges adding it as a subproject under contribex is merged everything should be good to go \o/

[2020-07-02 15:30] nikhita commented on #1942
All PRs have merged :)

/close

[2020-07-02 15:30] #1942 closed

[2020-07-02 15:34] mrbobbytables commented on #1971
All parts are merged and complete, going to go ahead and close this out :)
Happy tweeting~

/close

[2020-07-02 15:34] #1971 closed

[2020-07-02 15:41] kumarvin123 opened #1982 "REQUEST: New membership for kumarvin123"
### GitHub Username
kumarvin123

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2020-07-02 15:44] kumarvin123 commented on #1982
/assign @michmike

[2020-07-02 15:44] kumarvin123 commented on #1982
/assign @madhanrm

[2020-07-02 15:45] madhanrm commented on #1982
/approve

[2020-07-02 19:12] saschagrunert commented on #1873
Kindly pinging again for SIG node approval from @dchen1107 and @derekwaynecarr

[2020-07-03 05:03] hakman opened #1985 "REQUEST: New membership for hakman"
### GitHub Username
@hakman

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
I am already a member in @kubernetes.
Ref: https://github.com/kubernetes/org/issues/1514

### Sponsors
n/a

### List of contributions to the Kubernetes project
n/a

[2020-07-03 08:31] nikhita commented on #1985
@hakman I've created https://github.com/kubernetes/org/pull/1986 to add you to @kubernetes-sigs. Since you are already a member of @kubernetes and don't need sponsors, feel free to lgtm the PR directly to get it merged :)

[2020-07-03 08:40] #1985 closed

[2020-07-03 10:40] pancernik opened #1987 "REQUEST: New membership for pancernik"
### GitHub Username
@pancernik

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-07-03 13:34] dominicgunn opened #1988 "[REQUEST] Migrate kubernetes-incubator/kube-aws to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing
Migrate existing repository.

### Requested name for new repository
kube-aws

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
dominicgunn, mumoshu

### If not a staging repo, who should have write access
dominicgunn, mumoshu

### If not a staging repo, who should be listed as approvers

[2020-07-03 13:56] dominicgunn commented on #1988
Closing this as it's been opened pre-emptively, I'll re-open pending discussion on the mailing list.

[2020-07-03 13:56] #1988 closed

[2020-07-03 15:11] Huang-Wei commented on #1987
+1, thanks for @pancernik‘s contributions!

[2020-07-04 02:43] michmike commented on #1982
approve
+1

[2020-07-04 02:43] michmike commented on #1982
/lgtm
/approve

[2020-07-06 13:22] alculquicondor commented on #1987
+1 Thanks @pancernik  for your contributions to scheduler component config!

[2020-07-06 15:42] emedina opened #1990 "REQUEST: New membership for emedina"
### GitHub Username
emedina

### Organization you are requesting membership in
kubernetes/org

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2020-07-06 15:44] raelga commented on #1990
Heavy +1 to @emedina, has been doing amazing contributions to the spanish content and will be a great reviewer!

[2020-07-06 15:48] remyleone commented on #1990
👍

[2020-07-06 16:00] raelga commented on #1990
/assign @nikhita

[2020-07-06 16:20] #1990 closed

[2020-07-06 16:53] fejta opened #1993 "area/github-management does not exist in this repo"
area/github-membership does:

https://github.com/kubernetes/test-infra/blob/8795b499fa947e1cbcb15e947ed2b50aa65e4837/label_sync/labels.yaml#L1004-L1020

but area/github-management only exists in test-infra and community

We should either create this label or stop trying to make PRs create it:

https://github.com/kubernetes/org/blob/654cbb8d184c805602efd21e45d473884f709b26/OWNERS#L20-L21

[2020-07-06 16:56] nikhita commented on #1993
Let's add it.

I'm going to label this as a good first issue so that someone new can understand how the label sync process works :)

/good-first-issue

[2020-07-06 17:04] nikhita commented on #1993
For anyone picking this up, here's how to go about it:

Since we have lots of repos and lots of GitHub orgs in the upstream Kubernetes project, we need a way to make sure that all repos have the same minimum set of labels and that we have a way to document and define labels in a transparent way.

We manage this through (yet another) yaml file today :)

The labels are defined in https://github.com/

[2020-07-06 18:13] BenTheElder commented on #1977
thanks @nikhita! following up on these now

[2020-07-06 19:12] nikhita commented on #1977
Teams have been setup and repo has been added to sigs.yaml

/close

[2020-07-06 19:12] #1977 closed

[2020-07-06 21:32] kishorj opened #1995 "REQUEST: New membership for kishorj"
### GitHub Username
@kishorj

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2020-07-06 21:45] M00nF1sh commented on #1995
+1

[2020-07-06 22:01] meghanagupta commented on #1993
Hi! I'm interested in taking this up.

[2020-07-06 22:03] fejta commented on #1993
Leave an `/assign` comment then and prow will assign it to you :)

[2020-07-06 22:03] championshuttler commented on #1993
/assign

[2020-07-06 22:09] meghanagupta commented on #1993
My bad, think I got a bit late to mark it. Thanks anyway :)

[2020-07-06 22:25] micahhausler commented on #1995
+1