[2021-03-11 15:27] enj commented on #2565
Big +1 from me.  I have worked closely with @ankeesler over the last year and would love to have him in the org.

[2021-03-11 15:44] liggitt commented on #2565
same, big +1

[2021-03-11 18:16] weiling61 commented on #2562
Thanks everyone!

[2021-03-12 08:05] brancz opened #2566 "Create kubernetes-sigs/instrumentation"
### New Repo, Staging Repo, or migrate existing
New Repo

### Requested name for new repository
instrumentation

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@brancz @logicalhan @ehashman @dashpole

### If not a staging repo, who should have write access
@brancz @logicalhan @ehashman @dashpole

### If not a staging repo, who shoul

[2021-03-12 08:57] mowangdk opened #2567 "REQUEST: New membership for mowangdk"
### GitHub Username
@mowangdk

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-03-12 09:26] cpanato opened #2568 "Request to archive kubernetes-csi/drivers"
### Repository to archive
kubernetes-csi/drivers

### Repository and/or sig subproject owners that are approving this archival
@saad-ali @chakri-nelluri @lpabon @edisonxiang @sbezverk

### When should this be done
Anytime.

### Additional context for request
Per comment made in this PR https://github.com/kubernetes-csi/drivers/pull/167#issuecomment-796790042

[2021-03-12 13:15] mengjiao-liu opened #2569 "REQUEST: New membership for mengjiao-liu"
### GitHub Username
@mengjiao-liu

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-03-12 13:26] mrbobbytables commented on #2566
It would require approval from sig-arch, but [sig-release](https://github.com/kubernetes/sig-release) and [sig-testing](https://github.com/kubernetes/sig-testing) both have similar repos in the kubernetes org if that is something you'd like to pursue

[2021-03-12 13:33] brancz commented on #2566
We would just like `kubernetes-sigs/instrumentation`, that's sufficient for us, we don't care about it being under the kubernetes org. Does that make things simpler?

[2021-03-12 13:39] dashpole commented on #2566
This has my approval FWIW

[2021-03-12 14:37] neolit123 commented on #2569
thank you for the contributions @mengjiao-liu
+1

[2021-03-12 15:48] logicalhan commented on #2566
/lgtm
/approve

[2021-03-12 16:12] ehashman commented on #2569
:+1: welcome!

[2021-03-12 16:14] ehashman commented on #2566
@mrbobbytables yeah we're looking for something similar to what sig-release has, does it need to go under kubernetes or kubernetes-sigs?

(+1 from me)

[2021-03-12 16:18] mrbobbytables commented on #2566
It doesn't have to be, but figured I'd toss it out as an option as that seems to be the pattern for other SIGs

[2021-03-13 01:43] ehashman commented on #2566
If kubernetes/sig-instrumentation is better than kubernetes-sigs/instrumentation I have no objections, we thought kubernetes-sigs was less controversial :smile:

[2021-03-13 01:51] dims commented on #2566
i'd avoid `kubernetes/` for sig specific work (wearing my arch hat)

[2021-03-13 12:19] mowangdk commented on #2567
done~

[2021-03-13 12:19] #2567 closed

[2021-03-15 09:30] nikhita commented on #2036
preexisting repos should not be in this org

cc @dims @derekwaynecarr @johnbelamaric

[2021-03-15 10:27] nikhita commented on #2568
/assign @xing-yang @msau42
sig-storage leads for approval

[2021-03-15 10:31] daemon1024 commented on #2052
/assign

I would like to work on this 😄

[2021-03-15 10:32] nikhita commented on #2566
/assign
go ahead with k-sigs

[2021-03-15 10:45] nikhita commented on #2566
Repo has been created - https://github.com/kubernetes-sigs/instrumentation

Also created:
- https://github.com/kubernetes/org/pull/2570 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5631 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2021-03-15 10:51] nikhita commented on #2461
@starpit @myan9 @mark-nc can you create an issue to apply for membership to the @kubernetes-sigs GitHub org? Only members can approve PRs once the repo has been migrated.

I think we're good to go after that :+1:

[2021-03-15 14:21] mark-nc commented on #2461
@nikhita Do we open one PR for all three of us, or one PR for each?  The link you provided also mentions @-ing two sponsors in the PR.  Who are our sponsors?

[2021-03-15 14:33] mark-nc commented on #2461
Never mind.....discussed this with @starpit

[2021-03-15 14:57] starpit opened #2572 "REQUEST: New membership for @starpit"
### GitHub Username
@starpit

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-03-15 15:20] eddiezane commented on #2572
+1

Thanks for all of your work! Stoked to have the Kui folks part of the org now.

[2021-03-15 15:47] myan9 opened #2573 "REQUEST: New membership for @myan9"
### GitHub Username
@myan9

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-03-15 15:59] mark-nc opened #2574 "REQUEST: New membership for @mark-nc"
### GitHub Username
@mark-nc

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-03-15 15:59] eddiezane commented on #2573
+1

Thanks for your work on Kui!

[2021-03-15 16:02] eddiezane commented on #2574
+1

Thanks for your work on Kui!

[2021-03-15 17:41] msau42 commented on #2568
/lgtm
/approve

[2021-03-15 17:58] prateekpandey14 opened #2576 "REQUEST: New membership for prateekpandey14"
### GitHub Username
@prateekpandey14

### Organization you are requesting membership in
@kubernetes
@kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://g

[2021-03-15 18:01] msau42 commented on #2576
+1, Prateek has done a lot of great work in sig-storage

[2021-03-15 18:05] xing-yang commented on #2576
+1 Thanks @prateekpandey14 for your contributions!

[2021-03-15 21:38] krishchow opened #2577 "REQUEST: New membership for krishchow"
### GitHub Username
@krishchow

### Organization you are requesting membership in
@kubernetes-sigs
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2021-03-15 21:52] wlan0 commented on #2577
+1, thanks! Krish has made great contributions to the object storage effort

[2021-03-15 23:43] jeffvance commented on #2577
+1 from me too!

[2021-03-16 04:47] nikhita commented on #2568
Repo has been archived: https://github.com/kubernetes-retired/drivers

Also created:
- https://github.com/kubernetes/org/pull/2578 - to remove GitHub teams
- https://github.com/kubernetes/community/pull/5634 - to remove the repo from sigs.yaml

Once both PRs merge, this issue can be closed.

[2021-03-16 04:59] nikhita commented on #2565
@ankeesler thank you for all your contributions so far \o/

I've created PR #2579 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-16 04:59] nikhita commented on #2569
@mengjiao-liu thank you for all your contributions so far \o/

I've created PR #2579 to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-16 05:00] nikhita commented on #2576
@prateekpandey14 thank you for all your contributions so far \o/

I've created PR #2579 to add you to the Kubernetes and Kubernetes CSI Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-csi! 🎉

/assign

[2021-03-16 05:00] nikhita commented on #2577
@krishchow thank you for all your contributions so far \o/

I've created PR #2579 to add you to the Kubernetes and Kubernetes SIGs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2021-03-16 05:01] nikhita commented on #2568
Both PRs have merged, closing.

[2021-03-16 05:01] #2568 closed

[2021-03-16 05:08] #2565 closed

[2021-03-16 05:08] #2569 closed

[2021-03-16 05:08] #2576 closed

[2021-03-16 05:08] #2577 closed

[2021-03-16 06:07] nikhita commented on #2036
Moving to the k/community repo. See discussion in https://kubernetes.slack.com/archives/CHGFYJVAN/p1615820685088600?thread_ts=1615800656.087500&cid=CHGFYJVAN

[2021-03-16 07:03] nikhita commented on #2222
Created https://github.com/kubernetes/community/issues/5636 to track feedback about the doc for switching default branch from `master` to `main`

[2021-03-16 11:24] nikhita commented on #2566
All PRs have merged, closing.

[2021-03-16 11:25] #2566 closed

[2021-03-16 17:56] sbueringer opened #2580 "Remove OpenLab Github app for kubernetes-sigs/cluster-api-provider-openstack"
### Organization or repository
kubernetes-sigs/cluster-api-provider-openstack

### Name of integration
OpenLab Zuul (not sure what the exact name is)

### Link to integration website
https://github.com/apps/theopenlab-ci

### Describe what is attempting to be accomplished
We want to remove the integration because we're not using it anymore (we migrated to Prow instead for our conformance tests)

#

[2021-03-16 21:56] BenTheElder commented on #2222
We are tracking in https://github.com/kubernetes-sigs/kind/issues/2120, feedback so far is captured in  https://github.com/kubernetes/community/issues/5636 (thanks @nikhita!), pending GitHub administration team's help with netlify to roll it out there.

[2021-03-17 02:31] CKchen0726 opened #2582 "REQUEST: New membership for CKchen0726"
### GitHub Username
@CKchen0726

### Organization you are requesting membership in
@kubernetes

### Requirements
+ [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
+ [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
+ [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-03-17 02:35] JornShen commented on #2582
I'll sponsor @CKchen0726
Thanks for contribution to doc.
: )

[2021-03-17 03:07] tengqm commented on #2582
+1
Looking forward to see more contributions from you.

[2021-03-17 04:53] spiffxp commented on #2342
/milestone v1.22
I don't think we're going to land this in v1.21

[2021-03-17 12:00] tanjunchen commented on #2582
+1
thanks

[2021-03-17 16:47] mikedanese commented on #2516
kubernetes/community#5550 is approved but needs rebase.

[2021-03-19 01:25] jihoon-seo opened #2584 "REQUEST: New membership for jihoon-seo"
### GitHub Username
@jihoon-seo

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-03-19 01:36] pjhwa commented on #2584
+1, Thanks! @jihoon-seo has made great contributions to the Korean Team! 👍🏼

[2021-03-19 01:36] seokho-son commented on #2584
+1, @jihoon-seo is actively involved in Korean localization. I'm happy to work with @jihoon-seo !

[2021-03-19 01:39] liupeng0518 opened #2585 "REQUEST: New membership for Samuel Liu(@liupeng0518)"
### GitHub Username
@liupeng0518

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2021-03-19 01:52] ysyukr commented on #2584
+1, I am happy to sponsor 😄

[2021-03-19 02:55] oomichi commented on #2585
Thanks for your contributions!

+1 from me.

[2021-03-19 08:23] floryut commented on #2585
Some good contributions from @liupeng0518
+1

[2021-03-19 09:42] lubronzhan opened #2586 "REQUEST: New membership for lubronzhan"
### GitHub Username
lubronzhan

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2021-03-19 09:52] girikuncoro commented on #2586
+1 for @lubronzhan he has been helping out with the cloud provider vsphere 🎉

[2021-03-19 15:37] marquiz opened #2587 "Kubernetes-sigs org in artifacthub.io"
### Organization or repository
kubernetes-sigs

### Name of integration
Artifact HUB (organization)

### Link to integration website
https://artifacthub.io/
https://artifacthub.io/packages/search?page=1&org=kubernetes-sigs (what we'd like to have)

### Describe what is attempting to be accomplished
I'd like to request that a **kubernetes-sigs** organization would be created in artifacthub.io. An o

[2021-03-19 15:41] maplain commented on #2586
+1! It's great to have Lubron in the org!

[2021-03-19 17:04] yangjunmyfm192085 opened #2588 "REQUEST: New membership for yangjunmyfm192085"
### GitHub Username
@yangjunmyfm192085

### Organization you are requesting membership in
@kubernetes
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2021-03-19 17:18] serathius commented on #2588
/lgtm
Thanks for all the help with Structured Logging.

[2021-03-19 17:35] yangjunmyfm192085 commented on #2588
/sig Instrumentation

[2021-03-19 19:30] ehashman commented on #2588
:+1:

[2021-03-22 04:25] nikhita commented on #2587
/assign @cblecker

[2021-03-22 12:24] rikatz commented on #2487
+1 from me

Mikael is doing an amazing job with the evolution of kube-proxy and would love to see his efforts moving on :)

[2021-03-22 12:45] dims commented on #2487
+1 from me.

[2021-03-22 17:02] pwittrock commented on #2572
+1

[2021-03-22 17:03] pwittrock commented on #2573
+1

[2021-03-22 17:03] pwittrock commented on #2574
+1

[2021-03-22 17:39] wlan0 commented on #2569
Hi @nikhita!

Does this grant @mengjiao-liu merge privileges on the COSI projects?

I'm asking because I've never talked to this person, and their involvement with COSI projects is a bunch of unmerged docs PRs. While I really appreciate their contribution and would be happy to facilitate their path towards approvership, I'm not sure if someone who isn't involved with the COSI community at all shou

[2021-03-22 18:32] jberkus opened #2589 "Move LWKD into Kubernetes Orgs"
### New Repo, Staging Repo, or migrate existing

Migrate Existing

from: https://github.com/lwkd/lwkd.github.io

### Requested name for new repository

lwkd

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

The new repo should belong to the Contributor Marketing subproject of ContribEx.

@jberkus, @coderanger
@mbbroberg
@mrbobbytabl

[2021-03-22 19:05] jberkus commented on #2589
Related issue here: https://github.com/kubernetes/community/issues/5582

[2021-03-22 20:48] ehashman commented on #2569
:wave: @wlan0

per https://github.com/kubernetes/community/blob/master/community-membership.md#member members' privileges are:

Merge rights are granted via addition to OWNERS files. Being an org member for [at least three months](https://github.com/kubernetes/community/blob/master/community-membership.md#requirements-1) is a prerequisite to become a reviewer. An approver (who has merge rights) mu

[2021-03-22 21:00] wlan0 commented on #2569
Thanks, that makes sense

[2021-03-23 01:51] mengjiao-liu commented on #2569
To clarify, I did not apply for COSI member @wlan0

[2021-03-23 02:08] wlan0 commented on #2569
Got it @mengjiao-liu! Thanks for confirming. That being clarified, I do really appreciate your contributions and I’d be happy to work with you and get you added as you make more of them :-)

[2021-03-23 02:14] mengjiao-liu commented on #2569
Thanks. I will devote more time to the COSI project.

[2021-03-23 05:31] #2516 closed

[2021-03-23 12:16] savitharaghunathan commented on #2585
@liupeng0518 in order to be added to k/org you will need two sponsors who are reviewers/approvers in the Kubernetes repo.  @floryut is eligible only to sponsor for Kubernetes-sigs/org. Can you add one more sponsor who is a reviewer/approver in any of the Kubernetes repos?

[2021-03-23 12:24] mrbobbytables commented on #2589
/approve

[2021-03-23 12:35] savitharaghunathan commented on #2487
Hi, @mcluseau 👋  Thank you for all your contributions!

I've created PR #2590 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-23 12:36] savitharaghunathan commented on #2572
Hi, @starpit 👋  Thank you for all your contributions!

I've created PR #2590 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-23 12:37] savitharaghunathan commented on #2573
Hi, @myan9 👋 Thank you for all your contributions!

I've created PR #2590 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-23 12:37] savitharaghunathan commented on #2574
Hi, @mark-nc 👋 Thank you for all your contributions!

I've created PR #2590 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-23 12:38] savitharaghunathan commented on #2582
Hi, @CKchen0726 👋  Thank you for all your contributions!

I've created PR #2590 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-23 12:38] savitharaghunathan commented on #2584
Hi, @jihoon-seo 👋  Thank you for all your contributions!

I've created PR #2590 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-23 12:39] #2487 closed

[2021-03-23 12:39] #2572 closed

[2021-03-23 12:39] #2573 closed

[2021-03-23 12:39] #2574 closed

[2021-03-23 12:39] #2582 closed

[2021-03-23 12:39] #2584 closed

[2021-03-23 12:39] #2586 closed

[2021-03-23 12:39] savitharaghunathan commented on #2586
Hi, @lubronzhan 👋  Thank you for all your contributions!

I've created PR #2590 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-03-23 12:46] tanjunchen commented on #2585
/approve
+1
thanks

[2021-03-23 12:48] liupeng0518 commented on #2585
Done, add tanjunchen

[2021-03-23 13:45] starpit commented on #2461
Update: the three Kubernetes Memberships have been approved and accepted!

https://github.com/kubernetes/org/issues/2572
https://github.com/kubernetes/org/issues/2573
https://github.com/kubernetes/org/issues/2574

[2021-03-23 14:43] scottrigby commented on #2587
Hi @marquiz 👋  we have a `kubernetes-sigs` Artifact Hub org set up. Once there are repos added to it, they will appear in the search.

This issue is perfect for transparency. I see you in the Node Feature Discovery [OWNERS](https://github.com/kubernetes-sigs/node-feature-discovery/blob/master/OWNERS) file 👍  Can you please note your artifact hub username here? Happy to add you. From that point on

[2021-03-23 15:48] bswartz opened #2591 "Create repo for data-source-validator controller"
### New Repo, Staging Repo, or migrate existing

new repository

### Requested name for new repository

volume-data-source-validator

### Which Organization should it reside

kubernetes-csi

### If not a staging repo, who should have admin access

@bswartz
@saad-ali
@xing-yang

### If not a staging repo, who should have write access

@bswartz
@saad-ali
@xing-yang

### If not a staging repo, who sh

[2021-03-23 15:49] bswartz opened #2592 "Create repo for lib-volume-populator"
### New Repo, Staging Repo, or migrate existing

new repository

### Requested name for new repository

lib-volume-populator

### Which Organization should it reside

kubernetes-csi

### If not a staging repo, who should have admin access

@bswartz
@saad-ali
@xing-yang

### If not a staging repo, who should have write access

@bswartz
@saad-ali
@xing-yang

### If not a staging repo, who should be

[2021-03-23 16:55] sedefsavas opened #2593 "REQUEST: New membership for sedefsavas"
### GitHub Username
@sedefsavas

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-03-23 17:42] richardcase commented on #2593
+1

Yes please

[2021-03-23 20:26] randomvariable commented on #2593
+1

[2021-03-23 20:26] randomvariable commented on #2593
Kubernetes org membership required for access to k8s.io for image promotion processes.

[2021-03-24 03:14] nikhita commented on #2461
@starpit Yay! If you can add me as an admin to the IBM/kui repo, I can help migrate it to k-sigs. :)

[2021-03-24 03:17] nikhita commented on #2589
@jberkus The prerequisites listed in https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories must be completed before we can migrate the repo.

[2021-03-24 03:17] starpit commented on #2461
@nikhita done 👍

[2021-03-24 03:17] nikhita commented on #2592
/assign @saad-ali @xing-yang

[2021-03-24 03:17] nikhita commented on #2591
/assign @saad-ali @xing-yang

[2021-03-24 03:19] nikhita commented on #2461
@starpit I still don't see the `Settings` tab for the kui repo (admins should be able to see this) :thinking:

[2021-03-24 03:34] nikhita commented on #2461
Repo has been migrated - https://github.com/kubernetes-sigs/kui :rocket:

@starpit @myan9 Thank you so much for your patience in getting this to the finish line!

I've also created two more PRs:
- https://github.com/kubernetes/org/pull/2595 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5656 - to add the repo to sigs.yaml

Once both PRs merge, we can close thi

[2021-03-24 03:37] coderanger commented on #2589
I think the only thing we need to check off is the template-y files. The only contributor to the repo not already on this thread is one commit from @scollier who I think is under the RedHat CCLA from their past k/k PRs.

[2021-03-24 03:45] nikhita commented on #2410
@mcluseau I think we're good to go ahead with the migration!

Can you move https://github.com/mcluseau/kube-proxy2 to https://github.com/kubernetes-purgatory? (you should have an invite)

I'll need admin access to the repo to be able to migrate it to k-sigs, but GitHub doesn't allow adding admins to user-owned repos so we'll need to migrate it to a dummy org first.

[2021-03-24 03:47] nikhita commented on #2589
Yeah, I see contributions to k/k from @scollier so we should be good CLA-wise. :+1:

[2021-03-24 03:59] nikhita commented on #2580
@sbueringer :wave: We generally defer to the repo admins for these actions.

Anyone from https://github.com/orgs/kubernetes-sigs/teams/cluster-api-provider-openstack-admins can remove the integration. If the admins list is stale, I'd recommend updating it by creating a PR against https://github.com/kubernetes/org/blob/d0ad9bcf60b8ca03806a8226a64f1eb42ad7b16d/config/kubernetes-sigs/sig-cluster-life

[2021-03-24 04:02] nikhita commented on #2580
...Actually, spoke too soon :stuck_out_tongue:

From the org admin side, we might need to clean up the integration entirely from the org. Removing the integration from the repo can be done by repo admins though. :+1:

Reopening :)

[2021-03-24 05:06] nikhita commented on #2461
All PRs have merged and teams have been granted access. Closing.

[2021-03-24 05:06] #2461 closed

[2021-03-24 05:15] sbueringer commented on #2580
@nikhita Thank you very much. `git remote set-url --push upstream no_push` should be enough for my use case.

Did I get it right that we have to first remove it from the repo and then one of the org admins would remove it from the organization?

Although I'm not sure if we want to remove it from the whole org, I don't know if anybody except us (`cluster-api-provider-openstack`) is using it in the

[2021-03-24 05:22] jihoon-seo commented on #2584
@savitharaghunathan @pjhwa @seokho-son @ysyukr Thank you for your support!

[2021-03-24 06:25] nikhita commented on #2580
Yes, that's correct.

I checked the org-level configuration, it's only cluster-api-provider-openstack that uses it, so we should be good there. :+1:

[2021-03-24 16:01] mcluseau commented on #2410
Hi @nikhita , yes the time has come :) I pushed under the voted name (kpng): https://github.com/kubernetes-purgatory/kpng

[2021-03-24 18:12] sbueringer commented on #2580
@nikhita I'm now a repo admin, but I don't see the uninstall button:
![image](https://user-images.githubusercontent.com/4662360/112361793-0df44600-8cd4-11eb-969e-d3e1a205cadc.png)

Could it be that repo admins are not allowed to remove integrations? (I see a lot of other stuff which suggest I am in fact admin now)

[2021-03-25 09:53] nikhita commented on #2580
Yes, it looks like only org admins can do that. I'll check with other org admins once before uninstalling the integration entirely. Will report back once it's done. :+1:

[2021-03-25 10:14] nikhita commented on #2410
Repo has been migrated - https://github.com/kubernetes-sigs/kpng

Also created:
- https://github.com/kubernetes/org/pull/2598 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5659 - to add the repo to sigs.yaml

Once both PRs merge, this issue can be closed.

[2021-03-25 11:04] nikhita commented on #2580
The OpenLab GitHub app has been uninstalled. For the record:

`cluster-api-provider-openstack` was the only repo that used this app:

![Screenshot from 2021-03-25 16-30-03](https://user-images.githubusercontent.com/16105680/112462936-aa2b5500-8d87-11eb-8dfe-56e2f41f2872.png)

First, I tried removing the repo only but it didn't allow me to do that:

![Screenshot from 2021-03-25 16-30-16](https://us

[2021-03-25 11:04] #2580 closed

[2021-03-25 11:53] sbueringer commented on #2580
Thank you

[2021-03-25 16:08] saad-ali commented on #2592
/lgtm
/approve

[2021-03-25 16:09] saad-ali commented on #2591
/lgtm
/approve

[2021-03-25 16:54] xing-yang commented on #2592
+1

[2021-03-25 16:55] xing-yang commented on #2591
+1

[2021-03-25 17:45] marosset opened #2599 "Please add sig-windows-leads as admin to SIG-Windows project board"
Please add sig-windows-leads as admins to our project board

https://github.com/kubernetes/org/blob/03883ef5355f2746aef9935915208b2df36f0de4/OWNERS_ALIASES#L98-L102

https://github.com/orgs/kubernetes/projects/8

[2021-03-25 17:55] cblecker commented on #2599
Step 1: https://github.com/kubernetes/org/pull/2600

[2021-03-25 19:57] marquiz commented on #2587
Cool, I wasn't aware of that

Same as my Github username i.e. **marquiz**

[2021-03-25 20:11] cblecker commented on #2599
Admin access granted to @kubernetes/sig-windows-leads

[2021-03-25 20:11] #2599 closed

[2021-03-26 03:36] marosset commented on #2599
Thanks!

[2021-03-26 04:23] nikhita commented on #2410
All PRs have merged and teams have been granted access. Closing.

[2021-03-26 04:23] #2410 closed

[2021-03-26 05:22] nikhita commented on #2592
Repo has been created - https://github.com/kubernetes-csi/lib-volume-populator

Also created:
- https://github.com/kubernetes/org/pull/2601 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5664 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2021-03-26 05:22] nikhita commented on #2591
Repo has been created - https://github.com/kubernetes-csi/volume-data-source-validator

Also created:
- https://github.com/kubernetes/org/pull/2601 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5664 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2021-03-26 05:33] nikhita commented on #1499
Going ahead with the archival based on https://github.com/kubernetes/client-go/issues/914 and https://github.com/kubernetes/community/pull/5661

[2021-03-26 05:57] nikhita commented on #1499
Repo has been archived: https://github.com/kubernetes-retired/cluster-registry

Also sent a notice to the multicluster mailing list + k-dev - https://groups.google.com/g/kubernetes-dev/c/FaxRtx2t0nw

The following PRs should merge before this issue can be closed:
- https://github.com/kubernetes/org/pull/2602 - remove GitHub teams
- https://github.com/kubernetes/community/pull/5661 - remove repo fr

[2021-03-27 17:38] cpanato commented on #2587
Can I help somehow?

[2021-03-28 06:11] olemarkus opened #2605 "REQUEST: New membership for olemarkus"
### GitHub Username
@olemarkus

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
I am already a @kubernetes member

### Sponsors
N/A

### List of contributions to the Kubernetes project
N/A

[2021-03-29 17:04] jberkus commented on #2589
@nikhita making note that the link to the project-templates repo needs to be in the issue template for donating repos here.  I'll get to it later if you don't first.

[2021-03-30 07:08] sedefsavas commented on #2593
Ping
cc @palnabarun

[2021-03-30 11:12] marquiz commented on #2587
ping @scottrigby

[2021-03-30 20:04] DangerOnTheRanger opened #2608 "REQUEST: New membership for DangerOnTheRanger"
### GitHub Username
@DangerOnTheRanger

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2021-03-30 20:07] nckturner commented on #2608
+1 from me! :tada:

[2021-03-30 21:08] lauralorenz opened #2609 "Create new repo: kubernetes-sigs/about-api"
### New Repo, Staging Repo, or migrate existing
new repo

### Requested name for new repository
about-api

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
jeremyot, pmorie

### If not a staging repo, who should have write access
jeremyot, pmorie

### If not a staging repo, who should be listed as approvers in OWNERS
jeremyot, pmorie

[2021-03-30 21:23] JeremyOT commented on #2609
Thanks @lauralorenz

/lgtm

[2021-03-30 22:08] cheftako commented on #2608
+1 :+1:

[2021-04-01 07:31] sladyn98 opened #2610 "REQUEST: New membership for sladyn98"
### GitHub Username
@sladyn98

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-04-01 16:57] logicalhan opened #2611 "New SIG Instrumentation repo request (instrumentation-addons)"
### New Repo, Staging Repo, or migrate existing

We're requesting a new repo.

### Requested name for new repository

instrumentation-addons

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

@ehashman, @brancz, @logicalhan, @dashpole (sig leads)

### If not a staging repo, who should have write access

@ehashman, @brancz, @logicalha

[2021-04-01 16:57] logicalhan commented on #2611
/sig instrumentation
/cc @ehashman @brancz @dashpole @coffeepac

[2021-04-01 18:35] puerco commented on #2610
+1 from me, thanks for all you have been doing in SIG Release Sladyn! :tada:

[2021-04-01 18:59] savitharaghunathan commented on #2610
+1

/pony party

[2021-04-01 21:13] kikisdeliveryservice commented on #2588
@yangjunmyfm192085 did a lot of essential work in the 1.21 structured logging effort :heart:

[2021-04-02 19:07] kevindelgado opened #2613 "REQUEST: New membership for kevindelgado"
### GitHub Username
@kevindelgado

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://gro

[2021-04-02 19:10] kwiesmueller commented on #2613
I confirm my sponsorship.

[2021-04-02 19:11] apelisse commented on #2613
Same

[2021-04-03 20:38] nikhita commented on #2465
/assign

[2021-04-04 10:11] nikhita commented on #2465
Since GitHub teams are scoped to an org, I think it should be fine to just support in-org assignments.

Created https://github.com/kubernetes/org/pull/2614

[2021-04-04 15:31] alaypatel07 opened #2615 "REQUEST: New membership for alaypatel07"
### GitHub Username
@alaypatel07

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-04-04 21:27] liggitt commented on #2615
+1

[2021-04-05 10:25] nikhita commented on #1499
All related PRs have merged, closing

[2021-04-05 10:25] #1499 closed

[2021-04-05 21:41] oomichi commented on #2585
@savitharaghunathan  tanjunchen is one of reviewers in kubernetes/kubernetes repo.
I feel this issue seems ready.

[2021-04-05 22:58] savitharaghunathan commented on #2585
Hi, @liupeng0518 👋  Thank you for all your contributions!

I've created PR #2626 to add you to the @kubernetes & @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-05 22:59] savitharaghunathan commented on #2593
Hi, @sedefsavas 👋 Thank you for all your contributions!

I've created PR #2626 to add you to the @kubernetes  organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-05 22:59] savitharaghunathan commented on #2608
Hi, @DangerOnTheRanger 👋 Thank you for all your contributions!

I've created PR #2626 to add you to the @kubernetes & @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-05 22:59] savitharaghunathan commented on #2613
Hi, @kevindelgado 👋 Thank you for all your contributions!

I've created PR #2626 to add you to the @kubernetes & @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-05 23:00] savitharaghunathan commented on #2610
Hi, @sladyn98 👋 Thank you for all your contributions!

I've created PR #2626 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-05 23:35] ibabou opened #2617 "REQUEST: New membership for ibabou"
### GitHub Username
@ibabou

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2021-04-06 02:17] #2585 closed

[2021-04-06 02:17] #2593 closed

[2021-04-06 02:17] #2608 closed

[2021-04-06 02:17] #2610 closed

[2021-04-06 02:17] #2613 closed

[2021-04-06 02:27] nikhita commented on #2591
Closing, all PRs have merged and teams have been granted access

[2021-04-06 02:27] #2591 closed

[2021-04-06 02:27] nikhita commented on #2592
Closing, all PRs have merged and teams have been granted access

[2021-04-06 02:27] #2592 closed

[2021-04-06 02:36] nikhita commented on #2609
/assign

Repo has been created - https://github.com/kubernetes-sigs/about-api

Also created:
- https://github.com/kubernetes/org/pull/2618 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5696 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2021-04-06 02:46] nikhita commented on #2611
Repo has been created - https://github.com/kubernetes-sigs/instrumentation-addons

- Granted admin access to `@kubernetes-sigs/instrumentation-admins` team
- Created https://github.com/kubernetes/community/pull/5697 to add the repo to sigs.yaml

Once https://github.com/kubernetes/community/pull/5697 merges, this issue can be closed.

[2021-04-06 02:56] marosset commented on #2617
+1!

[2021-04-06 05:29] yangjunmyfm192085 commented on #2588
/cc @savitharaghunathan  ,thank you very much!

[2021-04-06 05:52] nikhita commented on #2588
Hi, @yangjunmyfm192085  👋 Thank you for all your contributions!

I've created PR #2619 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-06 06:57] #2588 closed

[2021-04-06 08:01] nikhita commented on #2609
All PRs have merged and teams have been granted access, closing.

[2021-04-06 08:01] #2609 closed

[2021-04-06 17:28] pjh commented on #2617
LGTM

Thanks Ibrahim for your Windows + containerd contributions so far, especially troubleshooting the container pull performance issue with Windows Defender (https://github.com/containerd/containerd/issues/4989 + https://github.com/microsoft/Windows-Containers/issues/92).

[2021-04-07 16:31] #2611 closed

[2021-04-07 22:38] invidian opened #2622 "REQUEST: New membership for invidian"
### GitHub Username
e.g. @invidian

### Organization you are requesting membership in
e.g. @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2021-04-08 07:51] pacoxu commented on #2615
+1 for the flake fix

[2021-04-08 12:29] randomvariable commented on #2622
+1

[2021-04-08 13:28] soltysh commented on #2615
:+1:

[2021-04-08 17:11] CecileRobertMichon commented on #2622
+1

[2021-04-08 19:28] randomvariable commented on #2605
+1

[2021-04-09 11:48] dongsupark opened #2627 "REQUEST: New membership for dongsupark"
### GitHub Username

@dongsupark

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements

* [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
* [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
* [x]  I have subscribed to the kubernetes-dev e-mail list (https://groups.goog

[2021-04-09 12:50] edsoncelio opened #2628 "REQUEST: New membership for edsoncelio"
### GitHub Username
edsoncelio

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-04-09 12:53] rikatz commented on #2628
+1 from me.

Edson is being really helpful with the brazilian localization team, and helping us to strongly move this effort forward

[2021-04-09 13:18] lauchokyip opened #2629 "REQUEST: New membership for lauchokyip"
### GitHub Username
@lauchokyip

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-04-09 14:51] randomvariable commented on #2627
+1

[2021-04-09 15:15] jailton commented on #2628
+1 from me.

Edson, thanks!

[2021-04-09 15:26] rikatz commented on #2629
+1 from me.

Thanks for all your help in sig-cli Lau :)

[2021-04-09 15:35] eddiezane commented on #2629
+1

Really glad you've joined the community!

[2021-04-09 15:37] lauchokyip commented on #2629
Thank you @rikatz  and @eddiezane . Hope to learn more from both of you!

[2021-04-09 16:56] CecileRobertMichon commented on #2627
+1

[2021-04-10 00:52] ibabou commented on #2617
+ @kubernetes/owners

[2021-04-10 03:22] changshuchao opened #2630 "REQUEST: New membership for changshuchao"
### GitHub Username
changshuchao

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-04-10 04:13] brahmaroutu opened #2631 "New repository for Container Object Storage Interface - MINIO driver"
### New Repo, Staging Repo, or migrate existing
New Repository

### Requested name for new repository
cosi-driver-minio

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jsafrane
@msau42
@saad-ali
@xing-yang

### If not a staging repo, who should have write access
@saad-ali
@jsafrane
@msau42
@xing-yang
@wlan0
@brahmaroutu

### If not

[2021-04-10 04:13] brahmaroutu commented on #2631
@xing-yang @saad-ali @nikhita  Please help us get this repo setup to continue our development progress on COSI project.

[2021-04-12 15:20] damemi commented on #2630
+1!

[2021-04-12 15:36] scottrigby commented on #2587
@marquiz thanks for the woof/ping, you've been invited 👍

[2021-04-12 17:10] jackfrancis opened #2632 "REQUEST: New membership for jackfrancis"
### GitHub Username
@jackfrancis

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-04-12 17:22] SergeyKanzhelev commented on #2632
I support!

[2021-04-12 17:46] lachie83 commented on #2632
I support

[2021-04-12 19:17] ehashman commented on #2630
:+1:

[2021-04-13 16:25] vincepri commented on #2627
+1

[2021-04-13 16:25] vincepri commented on #2622
+1

[2021-04-13 23:20] CecileRobertMichon commented on #2632
+1 !

[2021-04-14 05:07] nikhita commented on #2632
@jackfrancis Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-14 05:08] nikhita commented on #2630
@changshuchao Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-14 05:08] nikhita commented on #2629
@lauchokyip  Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-14 05:08] nikhita commented on #2628
@edsoncelio Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-14 05:08] nikhita commented on #2627
@dongsupark Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-14 05:09] nikhita commented on #2622
@invidian Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-04-14 05:10] nikhita commented on #2617
@ibabou Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes and @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2021-04-14 05:10] nikhita commented on #2615
@alaypatel07 Thank you for all your contributions so far \o/

I've created PR #2634 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-14 05:34] nikhita commented on #2589
Created #2635

@jberkus @coderanger reminder about adding template files to the lwkd repo :)

[2021-04-14 05:39] nikhita commented on #2631
/assign @saad-ali @xing-yang

[2021-04-14 06:36] #2629 closed

[2021-04-14 06:36] #2630 closed

[2021-04-14 06:36] #2632 closed

[2021-04-14 06:36] #2615 closed

[2021-04-14 06:36] #2617 closed

[2021-04-14 06:36] #2622 closed

[2021-04-14 06:36] #2627 closed

[2021-04-14 06:36] #2628 closed

[2021-04-14 06:55] RinkiyaKeDad opened #2636 "new repo request for depstat"
### New Repo, Staging Repo, or migrate existing
migrate existing

### Requested name for new repository
depstat

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@alenkacz @dims @navidshaikh @nikhita @RinkiyaKeDad

### If not a staging repo, who should have write access
@alenkacz @dims @navidshaikh @nikhita @RinkiyaKeDad

### If not a

[2021-04-14 12:45] dims commented on #2636
+1 from sig-arch side

cc @kubernetes/sig-architecture-leads

[2021-04-14 15:39] jackfrancis commented on #2632
Thank you @nikhita and everyone! ❤️

[2021-04-14 18:25] mrbobbytables commented on #966
This bubbled up again here - https://github.com/kubernetes/org/pull/2637

[2021-04-14 18:38] tam7t opened #2638 "REQUEST: New membership for tam7t"
### GitHub Username
@tam7t

### Organization you are requesting membership in
@kubernetes

### Requirements

- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-04-14 18:39] mikedanese commented on #2638
/lgtm

[2021-04-14 18:41] aramase commented on #2638
+1 for @tam7t's membership

Tommy is a reviewer for the Secrets Store CSI Driver sig-auth subproject.

/lgtm

[2021-04-14 20:05] mrbobbytables commented on #2638
Thank you!

[2021-04-14 20:35] mrbobbytables commented on #2638
Woops, thought this would close^^;; Will just take care of that now as #2637 was merged...
/assign
/close

[2021-04-14 20:35] #2638 closed

[2021-04-14 22:59] nckturner opened #2639 "New repository request for provider-aws-test-infra"
### New Repo, Staging Repo, or migrate existing

New repository

### Requested name for new repository
provider-aws-test-infra

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
nckturner
wongma7

### If not a staging repo, who should have write access
nckturner
wongma7

### If not a staging repo, who should be listed as approvers in O

[2021-04-14 23:45] jackfrancis opened #2641 "REQUEST: New membership for jackfrancis"
### GitHub Username
@jackfrancis

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2021-04-15 02:35] justaugustus commented on #2636
@dims -- Was the plan for this to be a RelEng subproject or Code Org?

FWIW, I'm fine with either.
Noting that my comment [here](https://github.com/kubernetes/repo-infra/pull/236#issuecomment-819180769) was an approval from SIG Release, just with the caveat that managing this through bazel within k/repo-infra was going to be a pain and pull in unnecessary dependencies for the tool.

cc: @kubernete

[2021-04-15 08:06] RinkiyaKeDad opened #2642 "REQUEST: New membership for RinkiyaKeDad"
### GitHub Username
@RinkiyaKeDad

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2021-04-15 08:08] alenkacz commented on #2642
+1000000 💯

[2021-04-15 08:08] nikhita commented on #2642
+1! Thanks for all your work in depstat!

/woof

[2021-04-15 08:14] RinkiyaKeDad commented on #2642
Thank you so much @alenkacz and @nikhita! I'm so grateful to have met you both :)

[2021-04-15 10:46] dims commented on #2636
@justaugustus got it. let's leave this here for now, we can checkpoint again in a few months. There are still more ideas that we can do here with depstat so it's going to be around for a while and will need sig-release folks to fully engage. So i am hoping it will end up there in the long run.

[2021-04-15 12:09] nikhita commented on #2636
@RinkiyaKeDad this would actually entail migrating the repo - https://github.com/RinkiyaKeDad/depstat.

Can you please update depstat to satisfy all requirements in https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories? Please ping me once that's done and I can help you with the migration :)

/assign

[2021-04-15 12:28] devigned commented on #2641
+1 to @jackfrancis joining!

[2021-04-15 14:57] CecileRobertMichon commented on #2641
@jackfrancis since you joined the kubernetes org already, you should be implicitle eligible for membership in the kubernetes-sigs org https://github.com/kubernetes/community/blob/master/community-membership.md#kubernetes-ecosystem

that being said, +1

[2021-04-15 18:17] nodo opened #2644 "REQUEST: New membership for nodo"
### GitHub Username
@nodo

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!fo

[2021-04-15 18:34] kwiesmueller commented on #2644
I confirm sponsorship, great to have you with us!

[2021-04-15 18:57] apelisse commented on #2644
Absolutely confirmed! Thank you so much for your contributions, I'm excited about the future!

[2021-04-15 19:56] xing-yang commented on #2631
Requested on the mailing list:
https://groups.google.com/g/kubernetes-sig-storage/c/artGqp42rJM

[2021-04-16 06:58] RinkiyaKeDad commented on #2636
Hey @nikhita! I've updated the repository with all the necessary files. Let's start the migration process? :) Thanks!

[2021-04-16 07:19] saad-ali commented on #2631
SGTM
+1
/lgtm

[2021-04-16 07:54] nikhita commented on #2636
Few more things to do to satisfy the [rules for donate repos](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories) before we can go ahead with the migration:

- Please add the `SECURITY.md` and `RELEASE.md` files too, all template files in https://github.com/kubernetes/kubernetes-template-project must be added to the depst

[2021-04-16 08:16] nikhita commented on #2642
Hey @RinkiyaKeDad,  given that depstat is moving to kubernetes-sigs, you'll need membership to @kubernetes-sigs. Are you good with modifying the membership request to that?

To be clear, I'm happy to sponsor you for @kubernetes once you've got a few more PRs opened in a repo in the @kubernetes org :)

[2021-04-16 08:50] RinkiyaKeDad commented on #2642
Updated! Will apply for @kubernetes soon, after contributing more :D

[2021-04-16 10:42] nikhita commented on #2636
@RinkiyaKeDad thanks for the update, repo looks good!

GitHub doesn't allow migrating user-owned repos, only org-owned repos are allowed. @RinkiyaKeDad can you transfer the repo to https://github.com/kubernetes-purgatory? You should have an invite to the org.

Once the repo is transferred, I can migrate that to k-sigs.

[2021-04-16 10:55] nikhita commented on #2641
@jackfrancis Like @CecileRobertMichon mentioned, you didn't need sponsorship for getting added to k-sigs :)

I've created PR #2445 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-04-16 10:56] nikhita commented on #2644
@nodo Thank you for all your contributions so far \o/

I've created PR #2645 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-16 10:56] nikhita commented on #2642
@RinkiyaKeDad Thank you for all your contributions so far \o/

I've created PR #2645 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-04-16 11:04] #2641 closed

[2021-04-16 11:04] #2644 closed

[2021-04-16 11:04] #2642 closed

[2021-04-16 11:12] nikhita commented on #2636
Repo has been migrated - https://github.com/kubernetes-sigs/depstat :rocket:

Also created:
- https://github.com/kubernetes/org/pull/2646 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5725 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2021-04-16 11:31] nikhita commented on #2631
Repo has been created - https://github.com/kubernetes-sigs/cosi-driver-minio

Also created:
- https://github.com/kubernetes/org/pull/2647 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5726 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2021-04-16 11:32] nikhita commented on #2636
All PRs have merged and teams have been granted access. Closing.

[2021-04-16 11:32] #2636 closed

[2021-04-16 11:35] nikhita commented on #2639
/assign @cheftako
since andrew is OOO

[2021-04-18 19:18] mrbobbytables commented on #966
I did a [quick analysis of our org membership numbers](https://docs.google.com/spreadsheets/d/1vxRFjhsRKJaQh07d1ZkRfPSyeYMX63cspUeTThVZHDw/edit?usp=sharing) (As of 4/18/2021).

- 1288 unique members across all our orgs
- 1145 members in the kubernetes org
- 600 members in the kubernetes sigs org
- 131 members that are in kubernetes-sigs, but not kubernetes

Outside of looking at org member activit

[2021-04-19 17:42] celestehorgan commented on #2222
ref/link: https://github.com/kubernetes/website/issues/21749

[2021-04-19 20:54] bswartz opened #2648 "REQUEST: New membership for bswartz"
### GitHub Username
@bswartz

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-04-20 02:50] brahmaroutu commented on #2631
thanks @nikhita @xing-yang for getting this in.

[2021-04-20 13:05] bswartz commented on #2648
I'm already a member of kubernetes and kubernetes-csi. If you want pointers to some of my contributions I could add those but I was told that membership in kubernetes-sigs is more or less automatic for members of those other groups.

[2021-04-20 23:31] cheftako commented on #2639
/lgtm

[2021-04-20 23:31] cheftako commented on #2639
/approve

[2021-04-20 23:37] jberkus commented on #2589
@nikhita hey, I've been going through these requirements, and realized there's one that may be wonky: as a content repository, rather than code, LWKD is Creative Commons Share-Alike.  Does it need to be relicensed to Apache in order to be accepted?

[2021-04-20 23:51] jberkus commented on #2589
I've also added CONTRIBUTING.md and code-of-conduct.md.  It's not clear that the other files in the template repo are applicable.  Can you please explain which ones are?

[2021-04-21 02:18] Iceber opened #2650 "REQUEST: New membership for Iceber"
### GitHub Username
@Iceber

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-04-21 02:23] pacoxu commented on #2650
+1
for sig-node bug fixes and containerd contributions.

[2021-04-21 03:45] yliaog commented on #2650
+1
for client-go PRs

[2021-04-21 06:24] lojies opened #2651 "REQUEST: New membership for lojies"
### GitHub Username
@lojies

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-04-21 07:18] qiujian16 opened #2652 "REQUEST: New membership for qiiujian16"
### GitHub Username

qiujian16

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-04-21 07:25] RainbowMango commented on #2652
+1 from me.
Thanks for your contributions, dude.

[2021-04-21 11:37] mrbobbytables commented on #2589
@jberkus CC is fine, k/website is as well: https://github.com/kubernetes/website/blob/master/LICENSE

[2021-04-21 12:48] neolit123 commented on #2651
Hi, lojies. I do not recall reviewing a lot PRs from you, myself. But +1
given you have that many.

Thank you.

[2021-04-21 16:00] nimbinatus opened #2653 "REQUEST: New membership for nimbinatus"
### GitHub Username
@nimbinatus

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-04-21 16:01] Huang-Wei commented on #2651
+1

[2021-04-21 16:13] mrbobbytables commented on #2653
+1 from me \o/
/pony party

[2021-04-21 16:18] castrojo commented on #2653
+1 from me! Looking forward to that new energy that we need!

[2021-04-22 05:03] nikhita commented on #2631
Repo added to sigs.yaml and teams have been granted access.

created https://github.com/kubernetes/org/pull/2654 to fix the typo in the team name, but going to close this issue because the typo fix doesn't block any functionality.

[2021-04-22 05:03] #2631 closed

[2021-04-22 05:12] nikhita commented on #2653
@nimbinatus +1 from me as well, thank you for all your contributions so far \o/

I've created PR #2655 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-22 05:13] nikhita commented on #2651
@lojies thank you for all your contributions so far \o/

I've created PR #2655 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-22 05:13] nikhita commented on #2650
@Iceber thank you for all your contributions so far \o/

I've created PR #2655 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-22 05:15] nikhita commented on #2648
@bswartz That's correct, you don't need to list your contributions. You are automatically eligible for kubernetes-sigs membership. :)

I've created PR #2655 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-04-22 05:15] nikhita commented on #2605
@olemarkus sorry that this slipped through the cracks :disappointed:

I've created PR #2655 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-04-22 05:27] jberkus commented on #2589
So, from Project Template:

RELEASE.md: there are no releases, what do we put in this?

SECURITY/SECURITY_CONTACTS: since there's no code, what do we do here?  Just redirect people to kubernetes-security?

[2021-04-22 06:14] #2605 closed

[2021-04-22 06:14] #2648 closed

[2021-04-22 06:14] #2650 closed

[2021-04-22 06:14] #2651 closed

[2021-04-22 06:14] #2653 closed

[2021-04-22 13:39] mrbobbytables commented on #2589
I wouldn't worry about release.md, its not applicable

For security_contacts, I'd just list the owners. It's more a point of contact if someone does discover a security thing even if there isn't really a chance of one occurring.

[2021-04-23 17:55] kbasv opened #2656 "REQUEST: New membership for kbasv"
### GitHub Username
@kbasv

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [Y] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [Y] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [Y] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-04-23 18:34] wongma7 commented on #2656
+1

[2021-04-26 18:17] ike-ma opened #2657 "REQUEST: New membership for ike-ma"
### GitHub Username
@ike-ma

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ Y ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ Y ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ Y ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-04-26 19:18] SergeyKanzhelev commented on #2657
I support! Thank you @ike-ma for your contributions and looking forward for more!

[2021-04-26 22:02] pmorie commented on #2652
+1

[2021-04-27 06:51] BinacsLee opened #2658 "REQUEST: New membership for BinacsLee"
### GitHub Username
@BinacsLee

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups

[2021-04-27 15:00] damemi commented on #2658
+1

[2021-04-27 16:08] Huang-Wei commented on #2658
+1

[2021-04-27 16:37] carlisia opened #2659 "REQUEST: New membership for carlisia"
### GitHub Username
@carlisia

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-04-27 16:44] chrisnegus opened #2660 "REQUEST: New membership for chrisnegus"
### GitHub Username
@chrisnegus
### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-04-27 17:09] PI-Victor commented on #2660
+1

Welcome to the SIG Docs release team for v1.22 @chrisnegus

[2021-04-27 17:10] PI-Victor commented on #2659
+1

Welcome to the SIG Docs release team for v1.22 @carlisia

[2021-04-27 17:17] savitharaghunathan commented on #2660
+1

Hi @chrisnegus 👋 Welcome to the 1.22 Release Team 🎉

/pony

[2021-04-27 17:20] savitharaghunathan commented on #2659
+1

Hi @carlisia 👋 Welcome to the 1.22 Release Team 🎉

/pony

[2021-04-27 17:36] carlisia commented on #2659
Everyone:
![image](https://user-images.githubusercontent.com/16508/116286681-5922ce00-a744-11eb-93a8-205c37e033b1.png)

[2021-04-27 18:30] ramrodo opened #2661 "REQUEST: New membership for ramrodo"
### GitHub Username
@ramrodo

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-04-27 18:44] mkorbi commented on #2661
/lgtm
welcome in the team :)

[2021-04-27 19:08] ehashman commented on #2657
Hi @ike-ma,

As we previously discussed, I am not willing to sponsor individuals for org membership unless they have at least one merged PR. Please ping me when you have a PR merged or find another sponsor.

[2021-04-27 20:20] savitharaghunathan commented on #2661
+1

Welcome to the 1.22 Release Team 🎉

/pony party

[2021-04-28 00:46] supriya-premkumar opened #2662 "REQUEST: New membership for supriya-premkumar"
### GitHub Username
@supriya-premkumar

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [  x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.g

[2021-04-28 00:52] dims commented on #2662
+1 from me. welcome!

[2021-04-28 00:54] savitharaghunathan commented on #2662
@supriya-premkumar can you change my id to @savitharaghunathan in the sponsors' list?

+1 from me
Welcome to the 1.22 Release Team 🎉

/pony party

[2021-04-28 00:58] guineveresaenger commented on #2662
+1 from me! Yay!

[2021-04-28 00:59] gracenng opened #2663 "REQUEST: New membership for gracenng"
### GitHub Username
@gracenng

### Organization you are requesting membership in
@kubernetes

### Requirements
- [ x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x ] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x ] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2021-04-28 01:00] guineveresaenger commented on #2663
+1 🎉  Thank you for serving on the Kubernetes Release Team!

[2021-04-28 01:10] JamesLaverack commented on #2663
+1 Welcome to Kubernetes!

[2021-04-28 02:39] thejoycekung commented on #2663
+1 sooo excited to see you on the release team @gracenng !!! 🎉 🎉

[2021-04-28 03:28] savitharaghunathan commented on #2652
Hi, @qiujian16 👋  Thank you for all your contributions!

I've created PR #2664 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:28] savitharaghunathan commented on #2657
Hi, @ike-ma 👋   Thank you for all your contributions!

I've created PR #2664 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:29] savitharaghunathan commented on #2658
Hi, @BinacsLee 👋   Thank you for all your contributions!

I've created PR #2664 to add you to the @kubernetes & @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:30] savitharaghunathan commented on #2659
Hi, @carlisia 👋 Glad to have you on the 1.22 RT 🎉

I've created PR #2664 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:30] savitharaghunathan commented on #2660
Hi, @chrisnegus 👋 Glad to have you on the 1.22 RT 🎉

I've created PR #2664 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:30] savitharaghunathan commented on #2661
Hi, @ramrodo 👋 Glad to have you on the 1.22 RT 🎉

I've created PR #2664 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:31] savitharaghunathan commented on #2662
Hi, @supriya-premkumar 👋 Glad to have you on the 1.22 RT 🎉

I've created PR #2664 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:31] savitharaghunathan commented on #2663
Hi, @gracenng 👋 Glad to have you on the 1.22 RT 🎉

I've created PR #2664 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-04-28 03:58] #2662 closed

[2021-04-28 03:58] #2663 closed

[2021-04-28 03:58] #2652 closed

[2021-04-28 03:58] #2658 closed

[2021-04-28 03:58] #2659 closed

[2021-04-28 03:58] #2660 closed

[2021-04-28 03:58] #2661 closed

[2021-04-28 05:40] ritpanjw opened #2665 "REQUEST: New membership for ritpanjw"
### GitHub Username
@ritpanjw

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-04-28 07:35] PI-Victor commented on #2665
+1
Welcome to the SIG Docs release team for v1.22 @ritpanjw

[2021-04-28 08:17] moonming opened #2667 "REQUEST: New membership for moonming"
### GitHub Username
@moonming

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-04-28 08:22] rootsongjc commented on #2667
+1

[2021-04-28 09:58] encodeflush opened #2668 "REQUEST: New membership Request for encodeflush"
### GitHub Username
@encodeflush

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-04-28 11:20] lambdanis opened #2670 "REQUEST: New membership for lambdanis"
### GitHub Username
@lambdanis

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-04-28 11:25] mkorbi commented on #2668
+1
happy to have you 👍

[2021-04-28 11:25] mkorbi commented on #2670
yeah! welcome in the team
👍

[2021-04-28 12:19] pmmalinov01 commented on #2665
+1
Welcome to the  Kubernetes family 🎉   Happy to have you here

[2021-04-28 12:20] pmmalinov01 commented on #2668
+1
🎉 🚢  Welcome to Kubernetes Release Team!

[2021-04-28 12:20] pmmalinov01 commented on #2670
+1
Welcome and thank you for helping 🚢 👪 🍰

[2021-04-28 13:23] jhvhs opened #2671 "Donate k8s service binding spec repo to the service catalog SIG"
### New Repo, Staging Repo, or migrate existing

migrate existing repository https://github.com/k8s-service-bindings/spec

### Requested name for new repository
service-binding-spec

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
arthurdm, nebhale, and jhvhs

### If not a staging repo, who should have write access
arthurdm, nebhale,

[2021-04-28 16:01] guineveresaenger commented on #2670
+1 from me! <3

[2021-04-28 16:25] rikatz commented on #2667
+1

@moonming is proposing to be one of the maintainers/triagers of ingress-nginx :)

Thanks

[2021-04-28 16:36] guineveresaenger commented on #2668
+1 yayyy! :sparkler:

[2021-04-28 16:56] ritpanjw commented on #2665
Thank you @PI-Victor @pmmalinov01 , excited to join the Kubernetes family

[2021-04-28 17:52] jgavinray opened #2672 "REQUEST: New membership for jgavinray"
### GitHub Username
@jgavinray

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-04-28 18:41] MonzElmasry commented on #2672
Thanks @jgavinray , Happy to have you :rocket:

[2021-04-28 19:02] savitharaghunathan commented on #2672
+1
Welcome to the 1.22 Release team! 🎉

/pony party

[2021-04-28 21:25] Damans227 opened #2673 "REQUEST: New membership for @Damans227"
### GitHub Username
@Damans227

### Organization you are requesting membership in
e.g. (at)kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2021-04-28 21:26] guineveresaenger commented on #2673
+1 yes! welcome! ❤️

[2021-04-28 21:26] guineveresaenger commented on #2672
+1 welcome to 1.22! 🎉

[2021-04-28 21:30] voigt opened #2674 "REQUEST: New membership for voigt"
### GitHub Username
@voigt

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-04-28 21:31] MonzElmasry commented on #2674
+1 Happy to have you, Welcome onboard @voigt :tada:

[2021-04-28 21:48] notchairmk opened #2675 "REQUEST: New membership for @notchairmk"
### GitHub Username
@notchairmk

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-04-28 22:08] MonzElmasry commented on #2675
`+1` Happy to have you, Welcome onboard @notchairmk  :tada: :tada: :tada:

[2021-04-28 22:10] savitharaghunathan commented on #2675
+1
Welcome to the 1.22 Release Team @notchairmk 🎉

/pony party

[2021-04-28 22:33] savitharaghunathan commented on #2674
+1
Welcome to the 1.22 Release Team @notchairmk 🎉

/pony party

[2021-04-28 22:35] savitharaghunathan commented on #2673
+1
Welcome to the 1.22 Release Team @Damans227  🎉

/pony party

[2021-04-28 22:40] savitharaghunathan commented on #2667
Hi @moonming 👋  Can you add one more sponsor? @rootsongjc is not listed as reviewer or approver in the k8s org.

From the guidelines,

```Sponsors must be reviewers or approvers in at least 1 OWNERS file either in any repo in the Kubernetes org, or the org they are sponsoring for.```

[2021-04-29 02:27] ElvinEfendi commented on #2667
+1

Looking forward to collaborate with you on ingress-nginx @moonming!

[2021-04-29 02:27] tao12345666333 commented on #2667
+1

[2021-04-29 03:31] moonming commented on #2667
thanks:)

[2021-04-29 03:43] pmmalinov01 commented on #2673
+1
Welcome to the team 🚢 👪 👍🏼

[2021-04-29 09:07] kunal-kushwaha opened #2676 "REQUEST: New membership for kunal-kushwaha"
### GitHub Username
@kunal-kushwaha

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2021-04-29 10:59] Pensu commented on #2676
+1

Welcome! 👍

[2021-04-29 11:01] dims commented on #2676
welcome @kunal-kushwaha

+1

[2021-04-29 12:35] palnabarun commented on #2665
@ritpanjw -- Welcome to the release team! 🎉

I have filed PR# to add you to the org. Once that merges, you will get a member invite notification.

/assign

[2021-04-29 12:36] palnabarun commented on #2668
@encodeflush -- Welcome to the release team! 🎉

I have filed PR #2677 to add you to the org. Once that merges, you will get a member invite notification.

/assign

/retitle REQUEST: New membership Request for encodeflush

[2021-04-29 12:36] palnabarun commented on #2670
@lambdanis -- Welcome to the release team! 🎉

I have filed PR #2677 to add you to the org. Once that merges, you will get a member invite notification.

/assign

[2021-04-29 12:36] palnabarun commented on #2672
@jgavinray -- Welcome to the release team! 🎉

I have filed PR #2677 to add you to the org. Once that merges, you will get a member invite notification.

/assign

[2021-04-29 12:36] palnabarun commented on #2673
@Damans227 -- Welcome to the release team! 🎉

I have filed PR #2677 to add you to the org. Once that merges, you will get a member invite notification.

/assign

[2021-04-29 12:37] palnabarun commented on #2674
@voigt -- Welcome to the release team! 🎉

I have filed PR #2677 to add you to the org. Once that merges, you will get a member invite notification.

/assign

[2021-04-29 12:37] palnabarun commented on #2675
@notchairmk -- Welcome to the release team! 🎉

I have filed PR #2677 to add you to the org. Once that merges, you will get a member invite notification.

/assign

[2021-04-29 12:37] palnabarun commented on #2676
@kunal-kushwaha -- Welcome to the release team! 🎉

I have filed PR #2677 to add you to the org. Once that merges, you will get a member invite notification.

/assign

[2021-04-29 12:40] palnabarun commented on #2667
@moonming -- thank you for your contributions to ingress-nginx! 💯

I have filed PR #2677 to add you to the org. Once that merges, you will receive a member invite notification.

/assign

[2021-04-29 12:44] #2665 closed

[2021-04-29 12:44] #2668 closed

[2021-04-29 12:44] #2670 closed

[2021-04-29 12:44] #2672 closed

[2021-04-29 12:44] #2673 closed

[2021-04-29 12:44] #2674 closed

[2021-04-29 12:44] #2675 closed

[2021-04-29 12:44] #2676 closed

[2021-04-29 12:44] #2667 closed

[2021-04-29 13:46] astoycos opened #2678 "New Repo kubernetes-sigs/network-policy-api"
### New Repo, Staging Repo, or migrate existing

new repository

### Requested name for new repository
network-policy-api

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
astoycos, abhiraut, rikatz

### If not a staging repo, who should have write access
astoycos, abhiraut, rikatz

### If not a staging repo, who should be listed as a

[2021-04-29 13:48] astoycos commented on #2678
/assign @thockin
/assign @dcbw
/assign @caseydavenport
/assign @aojea

[2021-04-29 15:27] skrishna-unix opened #2679 "REQUEST: New membership for skrishna-unix"
### GitHub Username

@skrishna-unix

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2021-04-29 15:32] Pensu commented on #2679
+1

Welcome!

[2021-04-29 16:35] vdhanan opened #2680 "REQUEST: New membership for vdhanan"
### GitHub Username
@vdhanan

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-04-29 17:53] AndyXiangLi commented on #2680
+1

[2021-04-29 18:07] wongma7 commented on #2680
+1

[2021-04-29 18:41] palnabarun commented on #2679
+1

/honk

[2021-04-29 18:52] palnabarun commented on #2679
@skrishna-unix -- Welcome to the Release Team! 🎉

I have filed PR #2681 to add you to the org. Once that merges, you will receive a membership invite notification.

/assign

[2021-04-29 18:52] palnabarun commented on #2680
@vdhanan -- thank you for your contributions to Kubernetes!

I have filed PR #2681 to add you to the org. Once that merges, you will receive a membership invite notification.

/assign

[2021-04-29 18:58] #2679 closed

[2021-04-29 18:58] #2680 closed

[2021-04-29 21:04] thockin commented on #2678
/lgtm
/approve

[2021-04-29 21:41] caseydavenport commented on #2678
/lgtm

thanks!

[2021-04-30 03:57] simcard0000 opened #2683 "REQUEST: New membership for @simcard0000"
### GitHub Username
@simcard0000

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-04-30 04:01] pmmalinov01 commented on #2683
LGTM! welcome to Kubernetes 🎉 🚢 💯

[2021-04-30 15:35] savitharaghunathan commented on #2683
+1

Welcome to the 1.22 Release Team! 🎉

/pony party

[2021-04-30 16:57] guineveresaenger commented on #2683
+1 happy to sponsor your org membership! :D

[2021-04-30 18:32] jlbutler opened #2685 "REQUEST: New membership for jlbutler"
### GitHub Username
@jlbutler

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-04-30 18:36] savitharaghunathan commented on #2685
+1

Welcome to the Release Team! 🎉

/pony party

[2021-04-30 18:37] MonzElmasry commented on #2685
`+1` Welcome to the team @jlbutler

[2021-04-30 18:42] Pensu commented on #2685
+1

Welcome!

[2021-04-30 20:41] guineveresaenger commented on #2685
+1 because I like welcoming folks! 🎉

[2021-05-01 09:42] pmmalinov01 commented on #2685
+1 and Welcome to Kubernetes Release Team

[2021-05-03 08:14] saad-ali opened #2687 "Request to archive `cosi-driver-minio`"
### Repository to archive
https://github.com/kubernetes-sigs/cosi-driver-minio

### Repository and/or sig subproject owners that are approving this archival
@saad-ali @xing-yang @wlan0 @brahmaroutu

### When should this be done
Anytime.

### Additional context for request

Given Minio's change in license from Apache2 to AGPL, running CI in CNCF owned repos won't be possible. Therefore, Minio is pl

[2021-05-03 12:44] xing-yang commented on #2687
+1

[2021-05-03 15:18] jeffvance commented on #2687
+1

[2021-05-03 23:43] jberkus commented on #2589
OK, LWKD repo should meet all requirements, now, please check?

[2021-05-05 21:15] mauriciopoppe opened #2688 "REQUEST: New membership for mauriciopoppe"
### GitHub Username
mauriciopoppe

### Organization you are requesting membership in
kubernetes, kubernetes-csi, kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail li

[2021-05-05 21:29] msau42 commented on #2688
+1 Mauricio has been doing a lot of work with csi and windows!

[2021-05-05 22:42] ddebroy commented on #2688
+1 Mauricio is actively involved and contributing to csi-proxy and kubernetes!

[2021-05-06 02:24] wangyysde opened #2689 "REQUEST: New membership for wangyysde"
### GitHub Username
@wangyysde

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-05-06 02:29] pacoxu commented on #2689
+1
for works in kubeadm and also some tries on `--image-repo` related settings and issues.

[2021-05-06 04:45] pmmalinov01 commented on #2683
Hey, @palnabarun do you have time to handle this one also? https://github.com/kubernetes/kubernetes/pull/101754 is waiting on this.

[2021-05-06 06:15] palnabarun commented on #2683
@simcard0000 -- Welcome to the Kubernetes Release Team! 🎉

I have filed the PR #2690 to add you to the @kubernetes org. Once that merges, you will receive a membership invite notification.

---

@pmmalinov01 -- Thank you for the ping! :)

[2021-05-06 06:15] palnabarun commented on #2685
@jlbutler -- Welcome to the Kubernetes Release Team! 🎉

I have filed the PR #2690 to add you to the @kubernetes org. Once that merges, you will receive a membership invite notification.

[2021-05-06 06:19] palnabarun commented on #2688
@mauriciopoppe -- thank you for all your contributions to the project! 🎉

I have filed the PR #2690 to add you to the @kubernetes, @kubernetes-csi and @kubernetes-sigs orgs. Once that merges, you will receive membership invite notifications for each of the GitHub organizations.

[2021-05-06 06:19] palnabarun commented on #2688
/assign

[2021-05-06 06:20] palnabarun commented on #2685
/assign

[2021-05-06 06:20] palnabarun commented on #2683
/assign

[2021-05-06 06:21] #2683 closed

[2021-05-06 06:21] #2685 closed

[2021-05-06 06:21] #2688 closed

[2021-05-06 07:05] CaoDonghui123 opened #2691 "REQUEST: New membership for Caodonghui123"
### GitHub Username
@Caodonghui123

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-05-06 07:13] howieyuen commented on #2691
+1
welcome to join kubernetes community

[2021-05-08 14:47] tengqm commented on #2691
+1

[2021-05-10 07:01] nikhita commented on #2639
Apologies for the delay. The repo has been created: https://github.com/kubernetes-sigs/provider-aws-test-infra

Also created:
- https://github.com/kubernetes/org/pull/2696 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5772 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

[2021-05-10 07:16] nikhita commented on #2678
Apologies for the delay. The repo has been created - https://github.com/kubernetes-sigs/network-policy-api

Also created:
- https://github.com/kubernetes/org/pull/2697 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5773 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.
---

@astoycos Since you are not a member of @kubernetes/@kubern

[2021-05-10 13:00] neolit123 commented on #2689
+1. Thank you for the work thus far.

[2021-05-10 13:50] astoycos opened #2699 "REQUEST: New membership for astoycos"
### GitHub Username
@astoycos

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-05-10 13:50] astoycos commented on #2699
/assign @rikatz
/assign @danwinship

[2021-05-10 13:59] rikatz commented on #2699
+1

Andrew has been contributing a lot with the evolution of Network Policy and Cluster Network Policy proposals, conducting and leading the group and moderating the meetings.

[2021-05-10 17:04] danwinship commented on #2699
:+1:

[2021-05-10 21:37] wlan0 opened #2701 "New repository for Container Object Storage Interface - cosi-driver-sample"
### New Repo, Staging Repo, or migrate existing

New repository

### Requested name for new repository
cosi-driver-sample

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jsafrane
@msau42
@saad-ali
@xing-yang

### If not a staging repo, who should have write access
@jsafrane
@msau42
@saad-ali
@xing-yang
@wlan0
@krishchow

### If not

[2021-05-11 01:57] wangyx1992 opened #2702 "REQUEST: New membership for wangyx1992"
### GitHub Username
@wangyx1992

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-05-11 02:19] KofClubs opened #2703 "REQUEST: New membership for KofClubs"
### GitHub Username
@KofClubs

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-05-11 02:30] pacoxu commented on #2703
+1

[2021-05-11 03:15] Huang-Wei commented on #2702
+1

[2021-05-11 08:57] nikhita commented on #2639
All PRs have merged, and teams have been granted access. Closing.

[2021-05-11 14:19] GreenApple10 opened #2704 "REQUEST: New membership for GreenApple10"
GitHub Username
@GreenApple10

Organization you are requesting membership in
@kubernetes

Requirements
 - [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
 - [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
 - [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2021-05-11 18:43] MadhavJivrajani opened #2705 "REQUEST: New membership for @MadhavJivrajani"
### GitHub Username
@MadhavJivrajani

### Organization you are requesting membership in
@kubernetes, @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https:/

[2021-05-11 18:49] alvaroaleman commented on #2705
+1

[2021-05-11 20:13] dims commented on #2705
/meow

+1

[2021-05-12 01:52] JornShen commented on #2704
+1
I sponsor

[2021-05-12 03:03] palnabarun commented on #2705
What?!? I thought you were already a member of the GitHub orgs.

+1 and welcome! 🎉

/honk

[2021-05-12 11:04] palnabarun commented on #2656
@kbasv, thank you for all your contributions so far :)

I've created PR #2707 to add you to the GitHub org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-05-12 11:05] palnabarun commented on #2689
@wangyysde, thank you for all your contributions so far :)

I've created PR #2707 to add you to the GitHub org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-05-12 11:05] palnabarun commented on #2691
@CaoDonghui123, thank you for all your contributions so far :)

I've created PR #2707 to add you to the GitHub org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-05-12 11:05] palnabarun commented on #2699
@astoycos, thank you for all your contributions so far :)

I've created PR #2707 to add you to the GitHub org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-05-12 11:05] palnabarun commented on #2702
@wangyx1992, thank you for all your contributions so far :)

I've created PR #2707 to add you to the GitHub org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-05-12 11:06] palnabarun commented on #2703
@KofClubs, thank you for all your contributions so far :)

I've created PR #2707 to add you to the GitHub org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-05-12 11:07] palnabarun commented on #2705
@MadhavJivrajani -- Welcome again!!!

I've created PR #2707 to add you to the GitHub org. Once that gets merged, you should get membership invite notifications to both the orgs.

/assign

[2021-05-12 11:08] MadhavJivrajani commented on #2705
Thank you! ❤️

[2021-05-12 11:21] #2656 closed

[2021-05-12 11:21] #2689 closed

[2021-05-12 11:21] #2691 closed

[2021-05-12 11:21] #2699 closed

[2021-05-12 11:21] #2702 closed

[2021-05-12 11:21] #2703 closed

[2021-05-12 11:21] #2705 closed

[2021-05-12 13:02] CaoDonghui123 commented on #2691
Thank you! ❤️

[2021-05-12 15:20] kbasv commented on #2656
@palnabarun Thank you for adding me into @kubernetes. Do I need to create a new issue to request membership for @kubernetes-sigs org?

[2021-05-12 15:24] palnabarun commented on #2656
@kbasv -- You can just PR in yourself to @kubernetes-sigs since you are now a member of @kubernetes. You can find [this](https://github.com/kubernetes/org/pull/2698) as a reference.

Whenever you create the PR, you can assign me for approval. 👍🏽

[2021-05-12 16:55] caesarxuchao commented on #2704
+1

[2021-05-13 03:28] nikhita commented on #2701
/assign

Repo has been created - https://github.com/kubernetes-sigs/cosi-driver-sample

Also created:
- https://github.com/kubernetes/org/pull/2711 - to add GitHub teams to grant access
- https://github.com/kubernetes/community/pull/5778 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue. :+1:

[2021-05-13 03:50] nikhita commented on #2589
Created https://github.com/lwkd/lwkd.github.io/pull/98 to fix the template files.

I also noticed that the repo has a `TRADEMARK` file - https://github.com/lwkd/lwkd.github.io/blob/main/TRADEMARK. I don't know how to handle this for the migration.

@swinslow @caniszczyk can you please advise?

[2021-05-13 03:51] caniszczyk commented on #2589
We'd have to transfer the ownership of the mark to CNCF:
https://github.com/cncf/foundation/tree/master/agreements

On Wed, May 12, 2021 at 10:50 PM Nikhita Raghunath ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org

[2021-05-13 03:58] coderanger commented on #2589
We don't actually have a legal entity so I'm not sure who can sign that, but I assume Josh?

[2021-05-13 14:22] Priyankasaggu11929 opened #2712 "REQUEST: New membership for Priyankasaggu11929"
### GitHub Username
@Priyankasaggu11929

### Organization you are requesting membership in
@kubernetes, @kubernetes-sigs @kubernetes-client/python

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubern

[2021-05-13 14:25] nikhita commented on #2712
+1 from me as well, but you will need another non-VMware sponsor too :)

/meow

[2021-05-13 14:53] dims commented on #2712
+1 from me. Welcome!

[2021-05-13 15:43] roycaihw commented on #2712
+1 :) Welcome!

[2021-05-13 15:49] caniszczyk commented on #2589
If there's no legal entity, if you just transfer over the domain and repos,
we should be OK.

It's low risk for us so I'm happy to waive the paperwork.

On Wed, May 12, 2021 at 10:58 PM Noah Kantrowitz ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-05-13 16:18] tallclair opened #2713 "Request for new repo: kubernetes/pod-security-admission"
### New Repo, Staging Repo, or migrate existing
new staging repo

### Requested name for new repository
pod-security-admission

### Which Organization should it reside
kubernetes

### What should the repo description be
Kubernetes Pod Security Standards implementation - https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/2579-psp-replacement/README.md

(KEP link will be replaced w

[2021-05-13 16:18] tallclair commented on #2713
/hold
For sig-architecture approval (link to thread to follow)

[2021-05-13 22:07] jberkus commented on #2589
I can also sign over the trademark if you want me to.  Not sure that's really necessary as the employee of a CNCF sponsor, though.

[2021-05-13 22:08] jberkus commented on #2589
(that file only really exists because, for a short time in 2018, there was a competing and hostile newsletter)

[2021-05-14 02:00] chymy opened #2715 "REQUEST: New membership for chymy"
### GitHub Username
@chymy

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-05-14 13:12] fabriziopandini commented on #2715
/lgtm
Welcome on board @chymy, and thanks for the contribution so far!
Looking forward to see you taking up always more complex and different tasks

[2021-05-14 14:04] #2701 closed

[2021-05-14 16:14] vincepri commented on #2715
+1

[2021-05-14 19:31] caniszczyk commented on #2589
Not necessary in this case, lmk when you want to do any domain/github repo
transfer dances.

On Thu, May 13, 2021 at 5:08 PM Josh Berkus ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-05-14 22:21] jberkus commented on #2589
@caniszczyk Our plan was to move the repo first, then transfer the domain.  That way I can change the DNS before we hand over control.

[2021-05-17 21:12] medyagh opened #2716 "Enable Google Cloud build on kubernetes/minikube repo"
### Organization or repository
kubernetes/minikube

### Name of integration
google cloud build

### Link to integration website
https://cloud.google.com/build

### Describe what is attempting to be accomplished
we would like to be able to use google cloud build in minikube ci/ci process, so our internal jenkins can be moved to a cloud build yaml config in github, without having to move our google

[2021-05-18 09:42] chrischdi opened #2717 "REQUEST: New membership for chrischdi"
### GitHub Username
@chrischdi

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2021-05-18 09:52] jichenjc commented on #2717
+1 to me :)

[2021-05-18 10:34] sbueringer commented on #2717
+1 from me too :)

[2021-05-18 18:07] tallclair commented on #2713
/assign @dims

Dims approved this on the sig-architecture thread. We're hoping to kickoff implementation this Friday, so I'd love to get this created before then.

[2021-05-18 21:00] dims commented on #2713
+1 on behalf of sig-arch ( cc @derekwaynecarr @johnbelamaric )

[2021-05-18 21:25] andriyDev opened #2718 "REQUEST: New membership for andriyDev"
### GitHub Username
@andriyDev

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-05-18 22:06] medyagh commented on #2718
I sponsor @andriyDev

[2021-05-18 22:23] seanschneeweiss opened #2719 "REQUEST: New membership for seanschneeweiss"
### GitHub Username
@seanschneeweiss

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2021-05-18 23:55] jichenjc commented on #2719
+1 to me , thanks :)

[2021-05-19 03:06] sbueringer commented on #2719
+1 from me, too.

Thx for all the great work :)

[2021-05-19 03:06] sbueringer commented on #2717
And thank you for all the great work! :)

[2021-05-19 05:44] afbjorklund commented on #2718
I sponsor @andriyDev

[2021-05-19 15:21] sladyn98 opened #2721 "Request for new repo: kubernetes-sigs/windows-tools-dev-env"
### New Repo, Staging Repo, or migrate existing

Migrate repo from https://github.com/FriedrichWilken/KubernetesOnWindows to a new dev tools repo

### Requested name for new repository
sig-windows-dev-tools

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
@jayunit100 @sladyn98 @FriedrichWilken @kubernetes/sig-windows-leads

### If no

[2021-05-19 16:59] jayunit100 commented on #2721
lets call it `sig-windows-dev-tools` @sladyn98 !

[2021-05-19 16:59] jayunit100 commented on #2721
@nikhita can you help get this approved ?  @kubernetes/sig-windows-leads are all on board !

[2021-05-19 17:05] jsturtevant commented on #2721
This will be very helpful for new Windows contributors. Thanks @sladyn98 and @FriedrichWilken for starting this!

My only request is to add all the sig-windows leads to the admin/write/owners files. In the past we've needed access to repos for various maintenance reasons and didn't have it which required additional hoops to jump through before resolving issues.

[2021-05-19 18:55] tallclair commented on #2713
Is there an ordering dependency between creation of `github.com/kubernetes/pod-security-standards` and the staging directory?

Staging directory PR: https://github.com/kubernetes/kubernetes/pull/102153

[2021-05-20 01:17] jayunit100 commented on #2721
SGTM!!!

[2021-05-20 03:54] palnabarun commented on #2704
Hi @GreenApple10 👋🏽, Thank you for filing the membership request. 🎉

Unfortunately, @JornShen can't sponsor you for this as they are [not a reviewer/approver in any OWNERS file](https://cs.k8s.io/?q=JornShen&i=fosho&files=OWNERS&excludeFiles=vendor%2F&repos=).

Can you please ask one more person satisfying the [sponsorship guidelines](https://github.com/kubernetes/community/blob/master/community-m

[2021-05-20 04:37] palnabarun commented on #2715
Hi @chymy 👋🏽, thank you for filing this membership request. 🎉

One of the requirements for sponsors is that they need be from two separate companies. @fabriziopandini and @vincepri both work at VMware. Can you please add another sponsor?

[2021-05-20 04:45] palnabarun commented on #2712
@Priyankasaggu11929 -- Thank you for your contribution to the Kubernetes Python client and help with updating the project dependencies! 🎉

I have filed PR #2724 to add you to the requested Kubernetes organizations. Once, the PR merges you will receive invitations to join them.

/assign
/honk

[2021-05-20 04:46] palnabarun commented on #2717
@chrischdi -- Thank you for your contribution to the Kubernetes community! 🎉

I have filed PR #2724 to add you to @kubernetes-sigs org. Once, the PR merges you will receive an invitation to join the org.

Welcome to @kubernetes-sigs!

/assign

[2021-05-20 04:46] palnabarun commented on #2718
@chrischdi -- Thank you for your contribution to the Kubernetes community! 🎉

I have filed PR #2724 to add you to @kubernetes org. Once, the PR merges you will receive an invitation to join the org.

Welcome to @kubernetes!

/assign

[2021-05-20 04:46] palnabarun commented on #2719
@seanschneeweiss -- Thank you for your contribution to the Kubernetes community! 🎉

I have filed PR #2724 to add you to @kubernetes org. Once, the PR merges you will receive an invitation to join the org.

Welcome to @kubernetes!

/assign

[2021-05-20 04:47] palnabarun commented on #2715
/assign

[2021-05-20 04:47] palnabarun commented on #2704
/assign

[2021-05-20 04:53] #2712 closed

[2021-05-20 04:53] #2717 closed

[2021-05-20 04:53] #2718 closed

[2021-05-20 04:53] #2719 closed

[2021-05-20 05:59] chymy commented on #2715
OK, Thank you. @palnabarun

[2021-05-20 15:36] seanschneeweiss opened #2725 "REQUEST: New membership for seanschneeweiss"
This is a follow-up of #2719 to become a member of kubernetes-sigs.

### GitHub Username
@seanschneeweiss

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I ha

[2021-05-20 15:46] sbueringer commented on #2725
+1

[2021-05-20 21:46] dims commented on #2713
cc @nikhita @cblecker

[2021-05-20 21:50] cblecker commented on #2713
No. They are both dependencies though on the publishing bot configuration that hooks the two together.

[2021-05-20 23:09] tallclair commented on #2713
Late-breaking change: looks like we're going to go with `k8s.io/pod-security-admission` instead. See https://kubernetes.slack.com/archives/C0EN96KUY/p1621548129017300?thread_ts=1619801233.246500&cid=C0EN96KUY

I'll go ahead and update everything...

[2021-05-20 23:14] dims commented on #2713
thanks @tallclair !

[2021-05-21 03:11] palnabarun commented on #2725
Hi @seanschneeweiss 👋🏽, since you are already a member of @kubernetes, you don't need to file another membership request for @kubernetes-sigs.

You can just PR yourself in like [here](https://github.com/kubernetes/org/pull/2708). 🙂

[2021-05-21 03:12] palnabarun commented on #2725
/assign

[2021-05-21 03:41] sbueringer commented on #2715
+1

here it is :)

[2021-05-21 03:42] sbueringer commented on #2715
/cc @palnabarun

[2021-05-21 04:04] nikhita commented on #2713
The staging directory can get added, but the publishing rules need to be added _after_ the repo has been created.

It looks like https://github.com/kubernetes/kubernetes/pull/102153 already added the publishing rules -- the bot broke, but that's okay! I'll get the repo created now. The bot should be back on it's feet after the repo exists. :)

/assign

[2021-05-21 04:26] nikhita commented on #2713
Repo has been created - https://github.com/kubernetes/pod-security-admission :tada:

Also created:
- https://github.com/kubernetes/test-infra/pull/22289 - to set up branch protection rules
- https://github.com/kubernetes/community/pull/5790 - to add the repo to sigs.yaml
- https://github.com/kubernetes/publishing-bot/pull/260 - to add the repo to publishing-bot test script (this is just a script u

[2021-05-21 08:41] #2725 closed

[2021-05-21 18:15] stmcginnis opened #2729 "REQUEST: New membership for stmcginnis"
### GitHub Username

@stmcginnis

### Organization you are requesting membership in

@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.c

[2021-05-21 18:16] sbueringer commented on #2729
+1 Thank you for all your work!! :)

[2021-05-21 20:29] vincepri commented on #2729
+1

[2021-05-24 08:01] gautierdelorme opened #2732 "REQUEST: New membership for gautierdelorme"
### GitHub Username
@gautierdelorme

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2021-05-24 10:11] dims commented on #2732
+1 from me!

[2021-05-24 15:11] christopherhein commented on #2732
+1 from me

[2021-05-24 16:21] CecileRobertMichon commented on #2729
+1

[2021-05-24 17:20] dims commented on #2729
+1 welcome @stmcginnis

[2021-05-24 18:13] tallclair commented on #2713
Thank you @nikhita !

[2021-05-24 18:14] #2713 closed

[2021-05-24 21:53] medyagh commented on #2716
@mrbobbytables is this the right place that I created this request?

[2021-05-25 00:06] dims commented on #2716
@medyagh this goes to kubernetes/k8s.io :)

[2021-05-26 12:24] nikhita commented on #2732
@gautierdelorme whaaaat, I thought you were already part of the org!

+1 from me as well, thank you for all your contributions so far \o/

I've created PR #2734 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-05-26 12:25] nikhita commented on #2715
@chymy thank you for all your contributions so far \o/

I've created PR #2734 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-05-26 12:31] #2715 closed

[2021-05-26 12:31] #2729 closed

[2021-05-26 12:31] #2732 closed

[2021-05-26 14:01] strongjz opened #2735 "REQUEST: New membership for strongjz"
### GitHub Username
@strongjz

### Organization you are requesting membership in
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-05-26 14:05] rikatz commented on #2735
+1 from me! James is helping us a lot with all the ingress-nginx stuff

[2021-05-26 14:43] ElvinEfendi commented on #2735
:+1 thanks for helping with ingress-nginx!

[2021-05-26 14:56] cpanato commented on #2735
big +1

[2021-05-26 14:57] cpanato commented on #2735
/assign @nikhita @mrbobbytables

[2021-05-26 23:22] PushkarJ opened #2736 "REQUEST: New membership for pushkarj"
### GitHub Username
 @pushkarj

### Organization you are requesting membership in
@kubernetes, @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://group

[2021-05-26 23:33] savitharaghunathan commented on #2736
+1

@PushkarJ has been doing an awesome job with sig-security -tooling sub project.

/pony party

[2021-05-27 01:27] moonming commented on #2735
big +1, thanks for helping with ingress-nginx

[2021-05-27 03:13] nikhita commented on #2736
@PushkarJ I thought you were already part of the org!!

Big +1 from me too!

/woof

[2021-05-27 11:58] neolit123 commented on #2736
+1 thank you for the contributions @PushkarJ !

[2021-05-27 12:42] rikatz commented on #2678
@nikhita I thing this can be closed then? :D

[2021-05-27 13:44] nikhita commented on #2678
@rikatz https://github.com/kubernetes/community/pull/5773 still needs to merge :)

[2021-05-27 17:17] jhvhs commented on #2671
@nikhita Can you help with this issue please?

[2021-05-27 17:28] #2678 closed

[2021-05-27 17:56] mrbobbytables commented on #2671
Which SIG is taking over stewardship of it once its migrated? It needs approval from the leads before we can move to next steps.

[2021-05-27 17:56] mrbobbytables commented on #2671
/assign

[2021-05-27 17:57] mrbobbytables commented on #2671
Oh wait, @jhvhs you're a lead of service catalog, my bad^^;;; I'm assuming it's going there?

[2021-05-27 20:42] AkihiroSuda opened #2740 "REQUEST: New membership for AkihiroSuda"
### GitHub Username
@AkihiroSuda

### Organization you are requesting membership in
@kubernetes-sigs
@kubernetes

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://grou

[2021-05-27 20:46] aojea commented on #2740
+1000

[2021-05-27 21:23] BenTheElder commented on #2740
+googillion :-)

[2021-05-27 21:43] dims commented on #2740
About time!!! +1000

[2021-05-28 02:37] SataQiu commented on #2704
+1 @GreenApple10
Thanks for your contribution to the Kubernetes Chinese Community

[2021-05-28 02:53] GreenApple10 commented on #2704
thanks

[2021-05-28 02:53] GreenApple10 commented on #2704
ping @palnabarun

[2021-05-28 04:35] palnabarun commented on #2704
@GreenApple10 -- I have filed PR #2742 to add you to the @kubernetes org.

Once it merges, you will receive a membership notification.

Welcome again to @kubernetes!!! 🎉

[2021-05-28 04:38] palnabarun commented on #2735
@strongjz -- Thank you for your contributions to ingress-nginx! 💯

I have filed PR #2742 to add you to the @kubernetes org. Once that merges, you will receive a membership invite notification.

Welcome to @kubernetes!!! 🎉

[2021-05-28 04:38] palnabarun commented on #2735
/assign

[2021-05-28 04:40] palnabarun commented on #2736
@PushkarJ -- Wooot!!! Thank you for your contributions to the community! 💯

I have filed PR #2742 to add you to @kubernetes and @kubernetes-sigs orgs. Once that merges, you will receive membership invite notifications to both the orgs.

Welcome again! 🎉

/assign
/honk

[2021-05-28 04:41] palnabarun commented on #2740
@AkihiroSuda -- Thank you for your contributions to the community!

I have filed PR #2742 to add you to @kubernetes and @kubernetes-sigs orgs. Once that merges, you will receive membership invite notifications to both the orgs.

Welcome again to the Kubernetes community! 🎉

/assign

[2021-05-28 04:48] #2704 closed

[2021-05-28 04:48] #2735 closed

[2021-05-28 04:48] #2736 closed

[2021-05-28 04:48] #2740 closed

[2021-05-28 07:26] AkihiroSuda commented on #2740
Thank you!

[2021-05-31 17:51] baijum commented on #2671
@jhvhs In the issue description, the proposed repo name is "service-bindings-spec" whereas the sub-project name given is "service-binding-spec" in the late sentence. (bindings vs binding)

I think the sub-project name also should be changed to "service-bindings-spec".

[2021-06-01 14:35] nebhale commented on #2671
@mrbobbytables The license boilerplate is updated.

[2021-06-01 17:19] shannonxtreme opened #2751 "REQUEST: New membership for shannonxtreme"
### GitHub Username
@shannonxtreme

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-06-01 17:43] ShwethaKumbla opened #2752 "REQUEST: New membership for ShwethaKumbla"
### GitHub Username
@ShwethaKumbla

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [ ack] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ ack] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ack ] I have subscribed to the kubernetes-dev e-mail list (https://group

[2021-06-01 17:50] baijum commented on #2671
On second thought, I think it's better to align with the spec title where we use the singular form: Service Binding Specification. So, both the repo name and sub-project name could be `service-binding-spec`

cc. @nebhale @arthurdm

[2021-06-01 18:40] vladimirvivien commented on #2752
I support this request!

[2021-06-02 07:11] cpanato commented on #2752
I support this as well +1

[2021-06-02 07:12] cpanato commented on #2752
/assign @nikhita @mrbobbytables

[2021-06-02 16:42] spiffxp commented on #2222
kubernetes/klog ref: https://github.com/kubernetes/klog/issues/244

[2021-06-03 06:03] boddumanohar opened #2754 "REQUEST: New membership for boddumanohar"
### GitHub Username
@boddumanohar

### Organization you are requesting membership in
@kubernetes-csi
@kubernetes-sigs

### Requirements
- [*] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [*] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [*] I have subscribed to the kubernetes-dev e-mail list (https:/

[2021-06-03 06:45] andyzhangx commented on #2754
+1

[2021-06-03 07:04] Fei-Guo opened #2755 "REQUEST: New membership for Fei-Guo"
### GitHub Username
Fei-Guo

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!f

[2021-06-03 07:09] christopherhein commented on #2755
+1 to @Fei-Guo joining Kubernetes org so he can be added to https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-nested/OWNERS and https://github.com/kubernetes/k8s.io GCP project.

[2021-06-03 12:40] JiaoDean opened #2756 "REQUEST: New membership for JiaoDean"
### GitHub Username
JiaoDean

### Organization you are requesting membership in
kubernetes-sigs org

### Requirements
- [✅] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [✅] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [✅] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2021-06-03 12:42] fredkan commented on #2756
/lgtm

[2021-06-03 12:43] DahuK commented on #2756
/lgtm

[2021-06-03 12:45] xing-yang commented on #2754
+1
Thanks @boddumanohar for your contributions!

[2021-06-03 13:12] nikhita commented on #2721
/assign

[2021-06-03 13:33] nikhita commented on #2721
Repo has been created - https://github.com/kubernetes-sigs/sig-windows-dev-tools

Also created:
- https://github.com/kubernetes/org/pull/2757 - to add the GitHub team to grant access
- https://github.com/kubernetes/community/pull/5811 - to add the repo to sigs.yaml

Once both PRs merge, we can close this issue.

----

@FriedrichWilken and @phillipsj are not @kubernetes or @kubernetes-sigs org memb

[2021-06-03 13:35] nikhita commented on #2657
@ike-ma closing this issue for now. Please reopen once sponsors are ready. :)

[2021-06-03 13:35] #2657 closed

[2021-06-03 13:39] nikhita commented on #2756
@JiaoDean - unfortunately, @DahuK will not be able to sponsor because sponsors need to be a reviewer/approver in the kubernetes or kubernetes-sigs org. :(

If you could a +1 from another sponsor, we should be able to go ahead with this membership application.

[2021-06-03 13:44] nikhita commented on #2754
@boddumanohar thank you for all your contributions so far \o/

I've created PR #2758 to add you to the @kubernetes-sigs and @kubernetes-csi organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs and @kubernetes-csi! 🎉

/assign

[2021-06-03 13:45] nikhita commented on #2752
@ShwethaKumbla thank you for all your contributions so far \o/

I've created PR #2758 to add you to the @kubernetes-sigs  organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-06-03 13:47] #2752 closed

[2021-06-03 13:47] #2754 closed

[2021-06-03 14:47] vincepri commented on #2755
+1

[2021-06-03 16:35] cblecker commented on #2721
As this is actually a transfer of an existing repo, I have deleted `kubernetes-sigs/sig-windows-dev-tools`, and we'll have to go through the additional steps for a transfer of an existing repository

[2021-06-03 16:38] nikhita commented on #2721
For the record, this [slack thread](https://kubernetes.slack.com/archives/C01672LSZL0/p1622737532031500) has more context.

[2021-06-03 17:19] charleszheng44 opened #2760 "REQUEST: New membership for charleszheng44"
### GitHub Username
charleszheng44

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-06-03 17:24] christopherhein commented on #2760
+1 to @charleszheng44 joining Kubernetes org so he can be added to https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes-sigs/cluster-api-provider-nested/OWNERS and https://github.com/kubernetes/k8s.io/pull/2123 GCP project.

[2021-06-03 17:24] vincepri commented on #2760
+1

[2021-06-03 18:38] vinayakankugoyal opened #2761 "REQUEST: New membership for vinayakankugoyal"
### GitHub Username
@vinayakankugoyal

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2021-06-03 18:38] vinayakankugoyal commented on #2761
/cc @neolit123 @BenTheElder

[2021-06-03 18:43] BenTheElder commented on #2761
+100 :-)

[2021-06-03 18:47] neolit123 commented on #2761
+1, thank you for the contributions thus far!

[2021-06-03 21:12] medyagh opened #3388 "Enable Google Cloud build on kubernetes/minikube repo"
Hello I would like to enable Google Cloud Build CI on minikube repo, I created an issue here https://github.com/kubernetes/org/issues/2716

 but I was directed to this repo. I hope I am requesting at the right place:

Organization or repository
kubernetes/minikube

Name of integration
google cloud build

Link to integration website
https://cloud.google.com/build

Describe what is attempting to be

[2021-06-03 21:15] medyagh commented on #2716
thanks @dims but in the issue template for this ORG I see this

<img width="1849" alt="Screen Shot 2021-06-03 at 2 15 04 PM" src="https://user-images.githubusercontent.com/4564227/120712974-2b812100-c476-11eb-8264-be20484536d9.png">

[2021-06-03 21:23] dims commented on #2761
+1 welcome!

[2021-06-04 01:21] kbhawkey commented on #2751
👀

[2021-06-04 01:26] jimangel commented on #2751
+1 thanks for your contributions @shannonxtreme! 🎉

[2021-06-04 02:14] kbhawkey commented on #2751
+1, @shannonxtreme has made some nice contributions to the docs. Thanks.

[2021-06-04 06:43] lizhuqi opened #2763 "REQUEST: New membership for lizhuqi"
### GitHub Username
lizhuqi

### Organization you are requesting membership in
kubernetes-csi org

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-06-04 07:07] xianlubird commented on #2756
+1.

[2021-06-04 07:12] andyzhangx commented on #2763
+1

[2021-06-04 09:58] nikhita commented on #2671
/assign

@baijum @jhvhs @nebhale There are a few more prerequisites before we can migrate the repo:

- There is a`NOTICE` file at the root of the repo. This should not be present because `NOTICE` files have other legal connotations.
- Please update `README.md` with the community, discussion and support + code of conduct sections as in the template - https://github.com/kubernetes/kubernetes-templat

[2021-06-04 10:07] nikhita commented on #2721
This is a transfer of an existing repo - https://github.com/FriedrichWilken/KubernetesOnWindows.

Following prerequisites need to be completed before we can migrate the repo.

- @sladyn98 can you please update the issue body to use the repo migration issue template?
- Add template files in https://github.com/kubernetes/kubernetes-template-project to the existing repo. Ensure that the README is als

[2021-06-04 10:11] nikhita commented on #2671
@arthurdm, @nebhale, @scothis, and @sbose78 - you are listed in the issue body for admin/approver access. To get this access, you need to be a part of the @kubernetes-sigs GitHub org. Can you please [apply](https://github.com/kubernetes/community/blob/master/community-membership.md#member) for membership?

[2021-06-04 10:40] nikhita commented on #2761
@vinayakankugoyal thank you for all your contributions so far \o/

I've created PR #2764 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-04 10:40] nikhita commented on #2760
@charleszheng44 thank you for all your contributions so far \o/

I've created PR #2764 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-04 10:40] nikhita commented on #2756
@JiaoDean thank you for all your contributions so far \o/

I've created PR #2764 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-06-04 10:41] nikhita commented on #2755
@Fei-Guo thank you for all your contributions so far \o/

I've created PR #2764 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-04 10:42] nikhita commented on #2751
@shannonxtreme thank you for all your contributions so far \o/

I've created PR #2764 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-04 10:45] #2761 closed

[2021-06-04 10:45] #2755 closed

[2021-06-04 10:45] #2756 closed

[2021-06-04 10:45] #2760 closed

[2021-06-04 10:45] #2751 closed

[2021-06-04 12:36] baijum commented on #2671
PR: https://github.com/k8s-service-bindings/spec/pull/159

[2021-06-04 14:27] baijum commented on #2671
Updates:

- `pmacik` - Signed
- `metacosm` - Contacted
- `jmesnil` - Contacted
- `akashshinde` - Contacted
- `joicemjoseph` - Contacted

@arthurdm Can you help with these contributors?
- `ianpartridge`
- `matthewpwilson`
- `AndrewJSchofield`

@nebhale @scothis Not sure why your account shows that it's not signed. Can you check if the CLA account has linked with GitHub. From [the FAQ](https://ident

[2021-06-04 14:30] metacosm commented on #2671
@baijum how do I sign the CLA if I'm part of an organization that already has signed it?

[2021-06-04 14:35] baijum commented on #2671
@nikhita We need to add this file if we are not able to contact any of the contributors to sign the CLA, right? Is that going to be a post-migration activity?

[2021-06-04 14:40] jmesnil commented on #2671
I signed up the CLA

[2021-06-04 15:20] scothis commented on #2671
I should be signed now.

...I had signed in the past, maybe it was lost when I had multiple LF accounts merged.

[2021-06-04 15:25] baijum commented on #2671
@nikhita I am not sure how the organization CLA works.  BTW, his commits have this email address `metacosm@users.noreply.github.com`. I am not sure if that's causing the issue.

[2021-06-04 15:27] arthurdm commented on #2671
@AndrewJSchofield has left IBM, but should be able to still sign the CLA as an individual.

@matthewpwilson / @ianpartridge - can you please sign the CLA for your contributions to the k8s service binding spec?

[2021-06-04 15:40] msau42 commented on #2763
+1

[2021-06-04 15:49] joicemjoseph commented on #2671
cli signed

[2021-06-04 16:19] baijum commented on #2671
He has confirmed to me that he has signed in with his organization's credentials at https://identity.linuxfoundation.org/projects/cncf . I think that should be sufficient to be authorized.

[2021-06-04 17:13] sbose78 commented on #2671
Sure! Will do!

[2021-06-05 07:31] sladyn98 commented on #2721
Update the issue to state its a repo migration.

[2021-06-07 13:42] baijum commented on #2671
Update: All the contributors I contacted have signed the CLA.

[2021-06-07 13:50] nikhita commented on #2671
While the rules say that, we've avoided adding the `NOTICE` file in the past because it's desirable to have all contributors sign the CLA. In the past, we've also waited for 2-3 months for all contributors to sign the CLA.

[2021-06-08 22:13] sbose78 opened #2768 "REQUEST: New membership for sbose78"
### GitHub Username
sbose78

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-06-08 22:15] sbose78 commented on #2671
Applied for membership: https://github.com/kubernetes/org/issues/2768

[2021-06-09 05:19] HongjiangHuang opened #2770 "REQUEST: New membership for HongjiangHuang"
### GitHub Username
@HongjiangHuang

### Organization you are requesting membership in 

@kubernetes, @kubernetes-client

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the Kubernetes-dev e-mail list (http

[2021-06-09 05:26] pacoxu commented on #2770
+1

Thanks for the flake fix try and Chinsese website improvements.
Hope to see more contributions from you!

[2021-06-09 05:41] pacoxu opened #2771 "REQUEST: New membership for pacoxu"
### GitHub Username
@pacoxu

I opened this request because I sometimes send PR and responses to issues in org kubernetes-sigs.

### Organization you are requesting membership in
Join Org kubernetes-sigs
https://github.com/kubernetes-sigs
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have e

[2021-06-09 05:44] nikhita commented on #2771
@pacoxu since you are already a member of @kubernetes, feel free to open a PR directly to add yourself to k-sigs. :smile:

Otherwise, we can get this in when we go through the next set of membership requests. :+1:

[2021-06-09 05:45] pacoxu commented on #2771
thanks. @nikhita

[2021-06-09 05:46] #2771 closed

[2021-06-09 09:15] nikhita commented on #2768
@sbose78 You will need two separate sponsors for the application. The current issue body just notes @jhvhs as a sponsor :)

[2021-06-09 09:33] nikhita commented on #2687
Repo has been archived - https://github.com/kubernetes-retired/cosi-driver-minio

- https://github.com/kubernetes/org/pull/2773 removes GitHub teams
- https://github.com/kubernetes/community/pull/5822 removes the repo from sigs.yaml

Also notified k-dev: https://groups.google.com/g/kubernetes-dev/c/Tf-OiA69Z7c

This issue can be closed once https://github.com/kubernetes/community/pull/5822 gets me

[2021-06-09 13:30] tengqm commented on #2770
+1
Looking forward to more contributions from you.

[2021-06-09 13:39] sbose78 commented on #2768
Ah my bad. haha

[2021-06-09 13:40] sbose78 commented on #2768
Fixed, @nikhita !

[2021-06-09 14:36] jhvhs commented on #2768
👍 from me

[2021-06-09 15:46] jberkhahn commented on #2768
:+1: from me as well

[2021-06-09 17:47] nebhale opened #2774 "REQUEST: New membership for nebhale"
### GitHub Username
nebhale

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-06-09 17:48] jberkhahn commented on #2774
:+1:

[2021-06-09 17:59] nebhale commented on #2671
* Applied for membership: kubernetes/org#2774
* Signed the CLA under multiple identities

[2021-06-09 18:08] scothis opened #2775 "REQUEST: New membership for scothis"
### GitHub Username
@scothis

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-06-09 18:09] scothis commented on #2671
Applied for membership: https://github.com/kubernetes/org/issues/2775

[2021-06-09 18:16] nebhale commented on #2671
Completed.

[2021-06-09 20:19] jhvhs commented on #2774
👍

[2021-06-10 01:03] arthurdm opened #2776 "REQUEST: New membership for arthurdm"
### GitHub Username
@arthurdm

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-06-10 04:53] #2687 closed

[2021-06-10 08:19] jhvhs commented on #2776
👍

[2021-06-10 13:42] mrbobbytables opened #2778 "EasyCLA migration"
The CNCF is ready to cut over to EasyCLA

Right now the target timeframe is just after code-freeze (7/10) when activity in k/k should be minimal.
The validation plan will include verifying org members exist in both systems, in addition to a random selection of contributors, along with running the check against a list of PRs.

/assign @mrbobbytables @nikhita @dims
For main points of contact.

Plann

[2021-06-10 14:31] jberkhahn commented on #2776
👍

[2021-06-10 17:17] arthurdm commented on #2671
Applied for membership: https://github.com/kubernetes/org/issues/2776

[2021-06-10 17:22] jhvhs commented on #2775
👍

[2021-06-10 17:25] luthermonson opened #2779 "REQUEST: New membership for luthermonson"
### GitHub Username
 @luthermonson

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-06-10 17:27] luthermonson commented on #2779
Requesting membership to Kubernetes as there is a PR to add the Rancher cloud provider to autoscaler. I wrote the Rancher API code to support the feature and worked with the PR author @douglasmakey to complete the provider. PR to add the cloud provider to the autoscaler here: https://github.com/kubernetes/autoscaler/pull/4041

[2021-06-10 17:38] jayunit100 commented on #2779
+1, Luther has been an avid contributor to sig-windows on the community side, and the projects that he maintains (`wins`, and `flannel`) are both super important to us and a core part of all of the sig-windows-tooling

[2021-06-11 16:25] tylerferrara opened #2783 "REQUEST: New membership for @tylerferrara"
### GitHub Username
@tylerferrara

### Organization you are requesting membership in
kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2021-06-11 17:41] listx commented on #2783
I support this membership proposal.

/assign @justaugustus

[2021-06-11 19:46] jberkus commented on #2589
FYI: this issue is currently waiting on infra team availability.

[2021-06-11 19:59] justaugustus commented on #2783
/lgtm
/approve
(for sponsorship)

Thanks so much for your contributions thus far!
I've created https://github.com/kubernetes/org/pull/2784 to add you to the relevant org(s). Once that merges, you should receive an invite from our automation framework.

Welcome @tylerferrara! :)

[2021-06-11 20:47] ehashman opened #2785 "SIG Node bug scrub - requesting Triage Party instance"
### Organization or repository

kubernetes/kubernetes

### Name of integration

Triage Party

### Link to integration website

https://github.com/google/triage-party

### Describe what is attempting to be accomplished

We would like a triage party instance for SIG Node for our upcoming June 24-25 bug scrub.

The use of Triage Party is currently documented in the [process workflow guide](https://gi

[2021-06-11 22:31] ameukam opened #2786 "SIG Node : requesting a Github Token"
### Organization or repository
kubernetes/kubernetes

### Name of integration
Triage Party

### Link to integration website
https://github.com/google/triage-party

### Describe what is attempting to be accomplished

SIG Node would like a triage party instance for the upcoming June 24-25 bug scrub.

The token will be stored as a kubernetes Secret in aaa cluster where the instance of triage-party is

[2021-06-11 22:33] ameukam commented on #2786
@cblecker @spiffxp Do we need to get a new Github token or reuse the one used by https://release.triage.k8s.io/ ?

[2021-06-14 16:40] savitharaghunathan commented on #2775
Friendly ping @jberkhahn for the sponsorship approval :)

[2021-06-14 16:41] jberkhahn commented on #2775
:+1:

[2021-06-14 16:45] savitharaghunathan commented on #2779
@luthermonson 👋 Thank you for your contributions. Both the sponsors you have mentioned seem to be from the same company. Can you add another sponsor who works at a different company than the above sponsors? Thanks :)
Ref: https://github.com/kubernetes/community/blob/master/community-membership.md#requirements

[2021-06-14 16:50] savitharaghunathan commented on #2763
Hi, @lizhuqi 👋  Thank you for all your contributions!

I've created PR #2787 to add you to the @kubernetes-csi organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-14 16:50] savitharaghunathan commented on #2768
Hi, @sbose78 👋  Thank you for all your contributions!

I've created PR #2787 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-14 16:51] savitharaghunathan commented on #2770
Hi, @HongjiangHuang 👋  Thank you for all your contributions!

I've created PR #2787 to add you to the @kubernetes & cli organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-14 16:51] savitharaghunathan commented on #2774
Hi, @nebhale 👋  Thank you for all your contributions!

I've created PR #2787 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-14 16:51] savitharaghunathan commented on #2776
Hi, @arthurdm 👋  Thank you for all your contributions!

I've created PR #2787 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-14 16:54] savitharaghunathan commented on #2775
Hi, @scothis 👋 Thank you for all your contributions!

I've created PR #2787 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-14 17:07] #2763 closed

[2021-06-14 17:07] #2768 closed

[2021-06-14 17:07] #2770 closed

[2021-06-14 17:07] #2774 closed

[2021-06-14 17:07] #2776 closed

[2021-06-14 18:02] FriedrichWilken opened #2788 "REQUEST: New membership for FriedrichWilken"
### GitHub Username
@FriedrichWilken

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.googl

[2021-06-14 18:07] jayunit100 commented on #2788
@FriedrichWilken has spearheaded the entire windows on kubernetes development environment project, and has been instrumental in centralizing the way we build/test windows in a canonical/open source/developer focused manner .  Hes donating this work to kubernetes sigs and has demo'd it several times at sig-windows meetings , and worked with several folks across different companies involved in upstr

[2021-06-14 18:22] scothis commented on #2775
@savitharaghunathan I received an invite to join kubernetes-sigs, but ten minutes later the invite was rescinded.

[code]

/reopen

[2021-06-14 18:25] jsturtevant commented on #2788
+1

Thanks for all the work on creating a better developer experience for Windows!

[2021-06-14 18:35] natasha41575 opened #2789 "REQUEST: New membership for natasha41575"
### GitHub Username
@natasha41575

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-06-14 19:22] KnVerey commented on #2789
+1

[2021-06-14 19:52] perithompson commented on #2788
You don't need me for this now as you have enough but thank you for all the hard work on the windows Dev environment work! +1

[2021-06-14 22:11] luthermonson commented on #2779
@savitharaghunathan i thought they couldnt be from the same company as me. i will switch back to Rey then i guess... @reylejano

[2021-06-14 23:33] savitharaghunathan commented on #2779
Thanks for your quick response. One of the sponsors can be from your company :)

[2021-06-14 23:44] luthermonson commented on #2779
@savitharaghunathan rey has been added and i pinged him to leave a +1, hopefully this finalizes everything. let me know if i can do anything else.

[2021-06-15 00:51] dims commented on #2789
+1 from me. welcome @natasha41575

[2021-06-15 04:46] reylejano commented on #2779
+1 @luthermonson is an unsung hero to get Kubernetes to work on Windows specially with gmsa

[2021-06-15 17:43] scothis commented on #2775
A new invite came across the wire. We're all set here

/close

[2021-06-15 17:43] #2775 closed

[2021-06-16 13:26] #2783 closed

[2021-06-16 17:43] medyagh commented on #2716
gentle ping @dims :)

[2021-06-16 18:45] dims commented on #2716
pinging folks on slack @medyagh

[2021-06-17 05:43] cblecker commented on #2786
What token are we using? And what scopes does it have?

[2021-06-17 07:07] ameukam commented on #2786
About the scope, [official doc](https://github.com/google/triage-party/#requirements) suggests `public-repo`.
Conversation about the existing token : https://kubernetes.slack.com/archives/C01672LSZL0/p1593021365021300.

[2021-06-17 16:11] HongjiangHuang opened #2792 "Migrate existing repo to kubernetes-client (kube-rs)"
### New Repo, Staging Repo, or migrate existing

migrate repository

### Requested name for new repository

rust

### Which Organization should it reside

kubernetes-client

### If not a staging repo, who should have admin access

@brendandburns @clux

### If not a staging repo, who should have write access

@brendandburns @clux

### If not a staging repo, who should be listed as approvers in OWNE

[2021-06-17 21:41] cblecker commented on #2786
Is there any reason we couldn't reuse the same token, if it's only read permissions needed?

cc @spiffxp @justaugustus

[2021-06-17 21:47] justaugustus commented on #2786
@cblecker -- I think the concern would be around rate limits between the two instances (SIG Release has a separate account just for triage party).

That said, if Node is only scanning k/k, maybe a shared instance makes sense?

[2021-06-17 21:53] ameukam commented on #2786
The current instance for SIG Release already scan the https://go.k8s.io/kubernetes. We also have encountered some unresolved issues using Triage Party with ghproxy (some of TP queries were not recognized by ghproxy); this is the reason why we ask a separate token.

[2021-06-17 22:08] cblecker commented on #2786
The rate limit is 5000 req/hour: https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting

We'd have to be running many, many triaging sessions at the same time to hit that limit.

My gut says, unless there are objections or other technical reasons, we use the same token for simplicity, and split things up in the future if we start hitting limits.

Thoughts?

[2021-06-17 23:06] Dragoncell opened #2794 "REQUEST: New membership for Dragoncell"
### GitHub Username
Dragoncell

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum

[2021-06-17 23:20] bobbypage commented on #2794
+1 from me, @Dragoncell has been helping SIG-Node in reviews, enhancements and adding new CI for efforts such as cgroupv2.

[2021-06-18 01:42] dims commented on #2794
+1 from me. welcome!

[2021-06-18 17:17] JimBugwadia opened #2796 "REQUEST: New membership for JimBugwadia"
### GitHub Username

@JimBugwadia

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x ] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [ x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [ x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2021-06-18 17:18] dims commented on #2796
+1 from me welcome Jim!!!

[2021-06-18 17:18] cblecker commented on #2796
+1 from me

[2021-06-18 18:47] ehashman commented on #2786
I am totally okay with sharing the SIG Release Triage party instance and adding a tab, we will only be using it for the 48h of the event. I will see if I can throw together a PR for k/k8s.io to add a dashboard.

[2021-06-18 19:22] #2786 closed

[2021-06-21 13:30] lunhuijie opened #2798 "REQUEST: New membership for lunhuijie"
### GitHub Username
lunhuijie

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-06-21 13:33] SataQiu commented on #2798
Welcome @lunhuijie
+1

[2021-06-21 13:50] neolit123 commented on #2798
+1

[2021-06-21 19:01] dobsonj opened #2799 "REQUEST: New membership for dobsonj"
### GitHub Username
@dobsonj

### Organization you are requesting membership in
@kubernetes @kubernetes-csi

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.go

[2021-06-21 20:43] msau42 commented on #2799
+1 Jonathan has already started fixing some major bugs in Kubernetes storage.

Jonathan, can you also request membership to kubernetes-csi in this same issue?

[2021-06-21 20:46] dobsonj commented on #2799
Done, thanks!

[2021-06-21 21:43] gnufied commented on #2799
+1

[2021-06-22 17:35] jayantjain93 opened #2801 "REQUEST: New membership for @JayantJain93"
### GitHub Username
@JayantJain93

### Organization you are requesting membership in
@Kubernetes
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-06-22 17:36] tallclair commented on #2796
+1 from me
Thank's @JimBugwadia for all your contributions!

[2021-06-22 17:43] elmiko commented on #2801
+1

[2021-06-23 00:34] mrbobbytables commented on #2779
Just as a point of clarification, contributing to a project outside of the kubernetes orgs (kubernetes, kubernetes-sigs, kubernets-client, and kubernetes-csi) does not apply as contributions to the project. The activity within slack does, but org membership here is largely tied to github permissions. I would hold off for a few more PRs to a kubernetes project before applying.

[2021-06-23 00:48] mrbobbytables commented on #2788
/assign

[2021-06-23 00:49] mrbobbytables commented on #2789
/assign

[2021-06-23 00:53] mrbobbytables commented on #2794
/assign

[2021-06-23 00:53] mrbobbytables commented on #2796
/assign

[2021-06-23 00:54] mrbobbytables commented on #2798
/assign

[2021-06-23 00:56] mrbobbytables commented on #2799
/assign

[2021-06-23 01:04] mrbobbytables commented on #2788
@FriedrichWilken  thanks for your help with the win dev tools \o/

I've created PR #2802  to add you to the Kubernetes-sigs Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

[2021-06-23 01:05] mrbobbytables commented on #2789
@natasha41575 thanks for your help with kustomize :)

I've created PR #2802  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-06-23 01:06] mrbobbytables commented on #2794
@Dragoncell Thanks for your help with sig node :)

I've created PR #2802  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-06-23 01:07] mrbobbytables commented on #2796
@JimBugwadia  Thanks for your help with wg-policy \o/

I've created PR #2802  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-06-23 01:07] mrbobbytables commented on #2798
@lunhuijie  Thanks for your contributions so far :)

I've created PR #2802  to add you to the Kubernetes Org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-06-23 01:08] mrbobbytables commented on #2799
@dobsonj  Thanks for all your contributions :)

I've created PR #2802  to add you to the Kubernetes and Kubernetes-CSI Orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

[2021-06-23 01:18] JimBugwadia commented on #2796
Awesome, looking forward to it. Thanks @mrbobbytables @tallclair @dims @cblecker!

[2021-06-23 02:48] #2788 closed

[2021-06-23 02:48] #2789 closed

[2021-06-23 02:48] #2794 closed

[2021-06-23 02:48] #2796 closed

[2021-06-23 02:48] #2798 closed

[2021-06-23 02:48] #2799 closed

[2021-06-23 05:07] s-kawamura-w664 opened #2803 "REQUEST: New membership for @s-kawamura-w664"
### GitHub Username
@s-kawamura-w664

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2021-06-23 05:23] atoato88 commented on #2803
+1 from me :+1:
s-kawamura-w664 has contributed to sig-docs Japanese localization frequently, and PRs are precise.

[2021-06-23 07:25] inductor commented on #2803
+1

Thanks for working for K8s docs continuously :)

[2021-06-23 07:35] s-kawamura-w664 commented on #2803
Thank you so much!

[2021-06-23 08:14] MaciekPytel commented on #2801
+1

[2021-06-23 17:29] jayunit100 commented on #2721
friedrich is now in
@sladyn98 .... can we proceed here?

[2021-06-24 00:03] brendandburns commented on #2792
/assign @nikhita

[2021-06-24 00:03] brendandburns commented on #2792
@nikhita any chance you can look at this when you have time?

Thanks!

[2021-06-24 07:09] sladyn98 commented on #2721
@nikhita I guess we have followed all steps, can we move this on  ?

[2021-06-24 09:17] arahamad opened #2804 "Migrating ibm-vpc-block-csi-driver to kubernetes-sigs"
### New Repo, Staging Repo, or migrate existing

https://github.com/IBM/ibm-vpc-block-csi-driver

### Requested name for new repository
ibm-vpc-block-csi-driver

### Which Organization should it reside
kubernetes-sigs

### If not a staging repo, who should have admin access
arahamad
sandaymin123

### If not a staging repo, who should have write access
meghnasiingh
ambiknai

I will setup later for

[2021-06-25 08:11] nikhita commented on #2792
Since this would be under SIG API Machinery, we'll need a +1 from one of the leads.

/assign @fedebongio
for approval

[2021-06-25 08:28] nikhita commented on #2721
We are close, a few more things!

- @luthermonson is a recent new contributor to the repo. They have not signed the [CLA](https://github.com/kubernetes/community/blob/master/CLA.md). They will need to sign the CLA before we can migrate the repo. Alternatively, you can revert their [commit](https://github.com/FriedrichWilken/KubernetesOnWindows/commit/5a182466357d8a0f7e44b9cfb0f4eef392471173) and a

[2021-06-25 08:45] neerajx86 commented on #2792
👀

[2021-06-25 08:49] nikhita commented on #2803
@s-kawamura-w664 thank you for all your contributions so far \o/

I've created PR #2805 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-25 08:49] nikhita commented on #2801
@jayantjain93 thank you for all your contributions so far \o/

I've created PR #2805 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-25 08:50] n4j commented on #2792
👀

[2021-06-25 08:52] #2801 closed

[2021-06-25 08:52] #2803 closed

[2021-06-25 10:35] dims commented on #2792
@brendandburns the folks doing krator + krustlet ( https://github.com/krator-rs/krator / https://github.com/deislabs/krustlet ) will join in this effort?

[2021-06-25 11:12] jayantjain93 commented on #2801
Thank you everyone! :)

[2021-06-25 12:14] sladyn98 commented on #2792
I am super excited for this. Made my first PR to krustlet and looking to make more : )

[2021-06-25 14:22] brendandburns commented on #2792
@dims I will certainly ask them to see if there is interest/time in contributing. Definitely welcome as many people as possible to help with it.

[2021-06-25 15:52] thomastaylor312 commented on #2792
Any reason we are making an entirely different client than the [existing one](https://github.com/clux/kube-rs)? Or am I misreading this?

[2021-06-25 16:09] technosophos commented on #2792
I'm curious about the same thing @thomastaylor312 is concerned with. The Kube-rs and k8s-openapi exist already. k8s-openapi is maintained and kept up-to-date with Kubernetes. Kube-rs is idiomatic and field-tested, and the maintainers are active, friendly, and flexible. We've written operators, clients, and (of course) Krustlet using kube-rs & k8s-openapi, and it has been a great tool.

Starting a

[2021-06-25 16:16] bacongobbler commented on #2792
Tacking onto other comments from krustlet maintainers... @clux has been a fantastic maintainer of the kube-rs project. The project has been incredibly responsive and he has been maintaining that crate for a number of months. There are also several sub-crates of the kube-rs project including kube-derive (`derive` macros for CustomResourceDefinitions) and kube-runtime. Several projects including kru

[2021-06-25 16:31] FriedrichWilken commented on #2721
@nikhita
[x] changed [OWNERS](https://github.com/FriedrichWilken/KubernetesOnWindows/blob/master/OWNERS#L5) to github usernames
[x] changed [SECURITY_CONTACTS](https://github.com/FriedrichWilken/KubernetesOnWindows/blob/master/SECURITY_CONTACTS#L13) to github usernames
[x] @luthermonson signed the CLA

:)

[2021-06-25 16:59] HongjiangHuang commented on #2792
The [k8s-openapi](https://github.com/Arnavion/k8s-openapi) doesn't seem to be maintained by kubernetes?  @technosophos

[2021-06-25 17:51] thomastaylor312 commented on #2792
@HongjiangHuang It isn't maintained by Kubernetes, but it is maintained and kept up to date with the latest API versions. I think @technosophos was suggesting that k8s-openapi could also be a good candidate for adoption over into Kubernetes

[2021-06-28 15:33] brendandburns commented on #2792
@thomastaylor312 @technosophos

Regarding kube-rs:

`kube-rs` is not generated using the Kubernetes swagger specification, nor in a standard way.

This is definitely not to imply that people shouldn't use `kube-rs` or that we want to compete with them in any way. It is just a philosophical difference.

There are community libraries for nearly every language (e.g. the fabric8 Kubernetes library for

[2021-06-28 18:43] clux commented on #2792
It's hard to write anything non-trivial on top of a client generated by a naive openapi generator in rust because of how [restrictive it is](https://github.com/Arnavion/k8s-openapi#better-handling-of-optional-parameters-for-a-more-rust-like-and-ergonomic-api), and how much of the language type-system you end up having to bypass with code-generation.

The `k8s-openapi` library infers [generic resou

[2021-06-28 19:07] MaxRink opened #2808 "REQUEST: New membership for MaxRink"
### GitHub Username
@MaxRink

### Organization you are requesting membership in
@kubernetes-sigs
### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-06-28 19:10] yastij commented on #2808
big +1 from me, @MaxRink has been an active community member, especially in the cluster-lifecycle space

[2021-06-28 19:57] randomvariable commented on #2808
+1 from me, but both me and @yastij are VMware so need another sponsor.

[2021-06-28 21:02] MaxRink commented on #2808
yes, @detiber also agreed to sponsor :)

[2021-06-28 21:03] detiber commented on #2808
+1 from me as well, @MaxRink has been a valuable contributor across multiple sig-cluster-lifecycle related projects

[2021-06-28 23:03] mrbobbytables commented on #2778
Migration has been pushed back to the 2nd week of August, at this time here are the current known tasks excluding messaging that must be completed before a potential roll-out.
- [ ] Verify Kubernetes Org Members exist in both systems
  - [ ] LF given a dump of Org Members
  - [ ] Verified against their cla DB
- [ ] Confirm Branch Protection configuration with LF
- [ ] EasyCLA support by the prow p

[2021-06-29 05:39] Haleygo opened #2809 "REQUEST: New membership for Haleygo"
### GitHub Username
@Haleygo

### Organization you are requesting membership in
@Kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#

[2021-06-29 11:23] kazk commented on #2792
(I'm one of the `kube-rs` maintainers.)

I've read this issue, [Kubernetes: New Client Library Procedure](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md), and its [background issue](https://github.com/kubernetes/kubernetes/issues/22405) multiple times. However, I don't understand why a new Rust client is necessary

[2021-06-29 12:00] neolit123 commented on #2809
+1 thanks for the contributions thus far.

[2021-06-29 12:14] ahg-g commented on #2809
+1, thanks for your considerations

[2021-06-30 00:31] dims commented on #2792
cc @liggitt

[2021-06-30 03:24] liggitt commented on #2792
It looks like all but one of the issues in https://github.com/Arnavion/k8s-openapi/blob/445e89ec444ebb1c68e61361e64eec4c4a3f4785/k8s-openapi-codegen/src/fixups/upstream_bugs.rs#L164 has been fixed in the upstream spec. This one is still outstanding (though I don't see a kubernetes/kubernetes issue for it):

[code]

Fixed in 1.12 in https://github.com/kubernetes/kubernetes/pull/63837 as noted:

[co

[2021-06-30 03:57] kazk commented on #2792
Good to know another one was fixed in 1.22. Fixups applied for each version are here: https://github.com/Arnavion/k8s-openapi/blob/445e89ec444ebb1c68e61361e64eec4c4a3f4785/k8s-openapi-codegen/src/supported_version.rs#L81-L150

Looks like there's already an issue open for fixing spec bugs mentioned in `k8s-openapi` https://github.com/kubernetes/kubernetes/issues/95052#issuecomment-702899811. For th

[2021-06-30 05:47] pacoxu commented on #2809
+1 and hope to see more contributions from you!
👍

[2021-06-30 10:30] nikhita commented on #2721
Repo has been migrated - https://github.com/kubernetes-sigs/sig-windows-dev-tools :tada:

Thanks for your patience with the process! We can close this issue once https://github.com/kubernetes/community/pull/5811 merges.

The GitHub team [sig-windows-dev-tools](https://github.com/kubernetes/org/blob/f433eb4b74edeca8b0cc6783225d8c7fcd8652dd/config/kubernetes-sigs/sig-windows/teams.yaml#L38) has admi

[2021-06-30 10:41] nikhita commented on #2804
This needs approval from SIG Storage leads first.

/assign @xing-yang @msau42

[2021-06-30 10:41] nikhita commented on #2804
@arahamad please also ensure that the repo satisfies all the conditions for donated projects - https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2021-06-30 11:05] nikhita commented on #2809
@Haleygo thank you for all your contributions so far \o/

I've created PR #2810 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-06-30 11:06] nikhita commented on #2808
@MaxRink thank you for all your contributions so far \o/

I've created PR #2810 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-06-30 13:57] #2808 closed

[2021-06-30 13:57] #2809 closed

[2021-06-30 19:18] xing-yang commented on #2804
@arahamad is this CSI driver for the following cloud environment?
https://github.com/kubernetes-sigs/cluster-api-provider-ibmcloud#provision-workload-cluster-in-ibm-cloud-vpc

[2021-06-30 20:40] xing-yang commented on #2804
@arahamad Actually this project should not be a sub-project under sig-storage.  This should be a sub-project under provider-ibmcloud.  For example, vsphere-csi-driver is under provider-vsphere, and gcp-compute-persistent-disk-csi-driver is under provider-gcp, etc.

[2021-06-30 23:26] spiffxp commented on #2222
Pulling down from the description edit I just made:

There are currently 17/243 repos (~7%) that have had their branches renamed.

We need to regroup on the easiest way to track and delegate this. Manually updating a GitHub issue description isn't it, but I thought it would help to see the info here.

[2021-07-01 04:41] nikhita opened #2812 "Automate org membership updates"
Today, GitHub admins and [new membership coordinators](https://github.com/kubernetes/community/tree/master/github-management#new-membership-coordinator):
1. periodically look through membership requests
2. verify if the sponsors satisfy the required criteria (not from the same company)
3. manually add the GitHub usernames to the config files one-by-one

Both GitHub Admins and the NMCs have constra

[2021-07-01 04:41] nikhita commented on #2812
/assign @palnabarun
because you were interested in working on this. if you don't have the bandwidth, please unassign and we'll mark this as help-wanted

[2021-07-01 07:09] t-inu opened #2813 "REQUEST: New membership for t-inu"
### GitHub Username
@t-inu

### Organization you are requesting membership in
@kubernetes
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.goo

[2021-07-01 07:15] atoato88 commented on #2813
+1 from me.
Thank you to contributing to update documents ralated to Japanese localization.

[2021-07-01 08:12] mdbooth opened #2814 "REQUEST: New membership for mdbooth"
### GitHub Username
@mdbooth

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-07-01 08:15] lingxiankong commented on #2814
+1

[2021-07-01 13:37] sbueringer commented on #2814
+1

[2021-07-01 19:33] inductor commented on #2813
+1
thanks for your work!

[2021-07-01 23:33] t-inu commented on #2813
Thank you so much!

[2021-07-02 16:37] mrbobbytables commented on #2778
During the org audit multiple members did not come up with an association in the LF CLA DB. Below are the active contributors from the audit that having a missing CLA association.

If you are on this list, please reply here, or reach out to me directly in slack / email killen.bob[@]gmail.com with your email(s) that might be associated with your cla, and if at all possible your lfid. With that we s

[2021-07-02 16:59] dims commented on #2778
@mrbobbytables i've pinged everyone on slack as well. 🤞🏾

[2021-07-02 17:53] mrbobbytables commented on #2778
Thanks @dims <3

[2021-07-03 17:58] johngmyers opened #2815 "REQUEST: New membership for johngmyers"
### GitHub Username
@johngmyers

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com

[2021-07-04 02:55] lowang-bh commented on #1563
hi, where does the cephfs has moved to?

[2021-07-04 12:33] howieyuen commented on #2778
hello, what should I do ?

[2021-07-05 07:46] wangyx1992 commented on #2778
The same question as @howieyuen.

[2021-07-05 10:23] nikhita commented on #2465
/remove-lifecycle stale

[2021-07-05 10:35] nikhita commented on #2332
/remove-lifecycle stale

[2021-07-05 10:36] nikhita commented on #2052
/remove-lifecycle stale

[2021-07-05 10:49] nikhita commented on #2559
/lifecycle frozen

[2021-07-05 11:45] jayonlau opened #2816 "REQUEST: New membership for jayonlau"
### GitHub Username
@jayonlau

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-07-05 12:07] liupeng0518 commented on #2816
+1

[2021-07-05 12:12] arahamad commented on #2804
@xing-yang , thats correct, to whom I should discuss for the same

[2021-07-05 12:30] floryut commented on #2816
+1 many contribs, simple for now but with the potential to become greater

[2021-07-05 17:36] dims commented on #2778
@wangyx1992 @howieyuen there are instructions from @mrbobbytables :) he needs the following info.

[2021-07-05 18:43] BenTheElder commented on #2332
I have also recently found it more productive to fix PR bodies that do not meet our template criteria after one attempt at telling the author to please do this than lengthy back and forth (especially with time zone latency this can become very drawn out). Things like the release-note "language" code block trip people up and are trivial for a maintainer with write to fix.

We have a lot of things b

[2021-07-05 18:53] mrbobbytables commented on #2778
@dims has it right, I just need your email address that you used to sign the cla and if at all possible your lfid. The WORST case is post migration you will have to sign the CLA again.

[2021-07-06 01:58] helight commented on #2778
I am helight, my CLA mail ***@***.***

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubernetes/org"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月3日(星期六) 凌晨0:37
***@***.***&gt;;
***@***.******@**

[2021-07-06 02:10] howieyuen commented on #2778
I am howieyuen, my CLA email is haoyuan@mail.ustc.edu.cn

[2021-07-06 05:47] Jerry-Ge opened #2817 "REQUEST: New membership for Jerry-Ge"
### GitHub Username
e.g. @Jerry-Ge

### Organization you are requesting membership in
e.g. @kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.

[2021-07-06 07:15] Huang-Wei commented on #2817
+1, looking forward for more contributions from @Jerry-Ge !

[2021-07-06 07:16] Jerry-Ge commented on #2817
Definitely! Thanks Wei

[2021-07-06 08:51] chendave commented on #2817
+1 for @Jerry-Ge

[2021-07-06 09:09] wangyx1992 commented on #2778
I am wangyx1992，my CLA email is wang.yixiang@zte.com.cn

[2021-07-06 13:00] xing-yang commented on #2804
/assign @andrewsykim

[2021-07-06 13:01] xing-yang commented on #2804
@andrewsykim this should be a sub-project under sig-cloud-provider.  Can you take a look?  Thanks.

[2021-07-06 13:02] xing-yang commented on #2804
@arahamad It is fine for the repo to be under kubernetes-sigs.  It's just that this should be under the cloud provider sig, not storage sig.

[2021-07-06 13:25] arahamad commented on #2804
sure @xing-yang , I got it

I will check with @andrewsykim

[2021-07-06 15:59] andrewsykim commented on #2804
+1 @cheftako any objections?

[2021-07-06 16:15] oomichi commented on #2816
+1

[2021-07-07 01:00] jayonlau commented on #2816
@savitharaghunathan

[2021-07-07 02:41] n4j opened #2818 "REQUEST: New membership for n4j"
### GitHub Username
@n4j

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!for

[2021-07-07 02:46] pacoxu commented on #2818
+1 and hope to see more contributions from you!
For sig-node works and contribution in recent Sig Node Bug Scrub.

[2021-07-07 06:40] palnabarun commented on #2818
+1, woot! Thanks for all your contributions.

Looking forward to seeing more contributions in future from your side.

/honk

[2021-07-07 06:58] palnabarun commented on #2813
@t-inu, thank you for all your contributions so far :)

I've created PR #2819 to add you to the @kubernetes and @kubernetes-sigs orgs. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! :tada:

/assign

[2021-07-07 06:59] palnabarun commented on #2814
@mdbooth, thank you for all your contributions so far :)

I've created PR #2819 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2021-07-07 06:59] palnabarun commented on #2816
@jayonlau, thank you for all your contributions so far :)

I've created PR #2819 to add you to the @kubernetes-sigs org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! :tada:

/assign

[2021-07-07 06:59] palnabarun commented on #2817
@Jerry-Ge, thank you for all your contributions so far :)

I've created PR #2819 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-07-07 06:59] palnabarun commented on #2818
@n4j, thank you for all your contributions so far :)

I've created PR #2819 to add you to the @kubernetes org. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! :tada:

/assign

[2021-07-07 07:02] palnabarun commented on #2815
Hi @johngmyers, I've added you to @kubernetes-sigs in #2819. Once that merges, you should get a membership invite. :)

[2021-07-07 07:06] #2813 closed

[2021-07-07 07:06] #2814 closed

[2021-07-07 07:06] #2815 closed

[2021-07-07 07:06] #2816 closed

[2021-07-07 07:06] #2817 closed

[2021-07-07 07:06] #2818 closed

[2021-07-07 07:18] n4j commented on #2818
Thanks @palnabarun for the approval.

Here's to more contributions 🥂

[2021-07-07 14:38] brendandburns commented on #2792
All of the code generation for the "official" projects is centralized under:

[2021-07-07 14:47] ehashman commented on #2818
:+1: from me as well (listed as original sponsor)

[2021-07-07 15:37] brendandburns commented on #2792
One other wrinkle that occurred to me:

It doesn't look like either `kube-rs` or `k8s-openapi` use the CNCF CLA (or any sort of CLA or DCA).

I believe that this means that donating them to Linux foundtion/CNCF is quite complicated and involves going to each contributor (kube-rs has had 52) and getting them to agree to donate their work to the Linux Foundation/CNCF.

If the `kube-rs` and `k8s-open

[2021-07-08 05:54] nikhita commented on #2792
For what it's worth, here's the process for donating repos to the Kubernetes project - https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

[2021-07-08 11:59] dims commented on #2792
@nikhita @brendandburns let's time box this - if we don't hear back any active proposal to donate something to seed this repo in a week, let's go ahead with it.

is that fair everyone?

[2021-07-08 12:27] clux commented on #2792
I'll discuss with the rest of us in `kube-rs` about the possibilities of donating over at our issues this week. I'll share an issue for context here later.

Personally, I think the overhead involving donation sounds reasonable to me on paper, but we'll have to discuss it a bit. The legal setup does pose a problem, and I am not sure what the recommended methods are for getting retroactive approval

[2021-07-08 14:02] xing-yang commented on #2804
@arahamad, can you change the following section in this issue from "sig-storage" to "sig-cloud-provider"?
[code]

[2021-07-08 14:50] arahamad commented on #2804
@xing-yang , looks I can't change or add labels

@nikhita , Can you please help to change or add `sig-cloud-provider` label

[2021-07-08 14:57] nikhita commented on #2804
/remove-sig storage
/sig cloud-provider

[2021-07-08 17:43] cheftako commented on #2804
+1 No objections.

[2021-07-09 01:07] ehashman commented on #2785
/close

https://release.triage.k8s.io/s/sig-node-bsp

[2021-07-09 01:07] #2785 closed

[2021-07-09 06:14] arahamad commented on #2804
@nikhita , looks we got the approvals, can you please suggest the next action

[2021-07-09 11:08] rajaskakodkar opened #2820 "REQUEST: New membership for @rajaskakodkar"
### GitHub Username
@rajaskakodkar

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-07-09 11:13] nikhita commented on #2820
+1, welcome!

/woof

[2021-07-09 11:55] knabben commented on #2820
+1

Raja has been helping in the netpol test suite

[2021-07-10 01:06] brendandburns commented on #2792
I don't think that it is required for `k8s-openapi` to be donated, I think you can use it as an open source tool in the context of the `gen` repo just like we use the other code generators (which aren't donated either)

I think what _is_ important is that you use the `k8s-openapi` code generator rather than simply picking up the code that is generated. So if there is a way to integrate the `k8s-op

[2021-07-12 06:28] RinkiyaKeDad commented on #2812
For 2, I know we can't do it for every case but if a sponsor has specified their company on their github we could do something like
[code]
and check that the companies of the sponsors aren't the same.

[2021-07-12 16:14] mrbobbytables commented on #2804
@arahamad  please see the requirements here:
https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

The project will need all the headers updated, OWNERS file pre created, verify that all contributors have signed the CLA etc.

[2021-07-13 03:10] njuptlzf opened #2821 "REQUEST: New membership for Kasakaze"
### GitHub Username
@njuptlzf

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/

[2021-07-13 05:59] palnabarun commented on #2812
@RinkiyaKeDad -- that's a great idea! 👍🏽

However, the caveat is that sometimes capitalization or the way someone has mentioned the company in that field can make the process cumbersome. We can try stripping special characters and asserting to lowercase, but would still require a level of human supervision.

[2021-07-13 06:32] aojea commented on #2821
/lgtm
Looking forward to seeing more contributions and thanks for helping fixing and adding more tests,

[2021-07-13 08:34] RinkiyaKeDad commented on #2812
What I was initially thinking was that we could have the lowercase converted company names be commented on the issue request for the membership but I now realize this wouldn't be of much help since it would save the reviewer at max two clicks 🙂

[2021-07-13 13:07] liggitt commented on #2821
+1

[2021-07-13 13:57] RinkiyaKeDad opened #2823 "REQUEST: New membership for RinkiyaKeDad"
### GitHub Username
@RinkiyaKeDad

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-07-13 13:58] liggitt commented on #2823
+1

[2021-07-13 14:10] nikhita commented on #2823
+1 of course! :)

[2021-07-13 14:30] dims commented on #2823
+1 from me as well

[2021-07-13 15:52] neolit123 opened #2824 "archive https://github.com/kubernetes-sigs/bootkube"
### Repository to archive
https://github.com/kubernetes-sigs/bootkube

### Repository and/or sig subproject owners that are approving this archival
@neolit123 (SIG Cluster Lifecycle co-chair) @andrewrynhard (existing active approver)

### When should this be done
Anytime.

### Additional context for request

We had a discussion during the SIG Cluster Lifecycle meeting of 2021.07.13 about the archi

[2021-07-13 15:52] neolit123 commented on #2824
/sig cluster-lifecycle

[2021-07-13 15:54] mrbobbytables commented on #2824
/assign

[2021-07-13 15:57] mrbobbytables commented on #2824
Yup, this is possible to do 👍

Do the kinvolk folks want to be "stewards" of it? if not, then I'd say we archive it.

[2021-07-13 16:03] invidian commented on #2824
I watch the channel though there is almost no activity there. Given that Lokomotive is the main user of the project, I also suggested during meeting we could use #lokomotive to talk about bootkube, in case we care about archiving the channel.

[2021-07-13 16:04] neolit123 commented on #2824
i'm +1 to archive the Slack channel given the low activity.

[2021-07-13 16:05] andrewrynhard commented on #2824
+1 to archiving the repo and the slack channel.

[2021-07-14 07:18] nikhita commented on #2823
@RinkiyaKeDad thank you for all your contributions so far \o/

I've created PR #2825 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-14 07:18] nikhita commented on #2821
@njuptlzf thank you for all your contributions so far \o/

I've created PR #2825 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-14 07:18] nikhita commented on #2820
@rajaskakodkar thank you for all your contributions so far \o/

I've created PR #2825 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-14 07:22] MadhavJivrajani commented on #2823
/woof
🎉❤️

[2021-07-14 07:22] #2820 closed

[2021-07-14 07:22] #2821 closed

[2021-07-14 07:22] #2823 closed

[2021-07-14 08:51] tech-geek29 opened #2826 "REQUEST: New membership for @tech-geek29"
### GitHub Username
@tech-geek29

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/for

[2021-07-14 08:56] richardcase commented on #2826
Based on the contributions to the PRs/issues:

+1

[2021-07-14 08:57] nikhita commented on #2826
+1, welcome!

[2021-07-14 09:00] nikhita commented on #2826
@tech-geek29 thank you for all your contributions so far \o/

I've created PR #2827 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-14 09:18] #2826 closed

[2021-07-14 12:00] helight commented on #2778
I am helight，my CLA email is helightxu@tencent.com

[2021-07-15 08:36] fpetkovski opened #2829 "REQUEST: New membership for fpetkovski"
### GitHub Username
@fpetkovski

### Organization you are requesting membership in
- @kubernetes
- @kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://g

[2021-07-15 08:39] dgrisonnet commented on #2829
+100 from my side, thank you for the awesome work in kube-state-metrics and prometheus-adapter! :tada:

[2021-07-15 09:05] lilic commented on #2829
Thanks for the great work! 🎉

cc @brancz

[2021-07-15 10:35] mrueg commented on #2829
+100 as well! Thank You for Your contributions :tada: on the project and welcome aboard! :ship:

[2021-07-15 11:45] brancz commented on #2829
:100: has my support as well!

[2021-07-15 13:47] Ankitasw opened #2832 "REQUEST: New membership for Ankitasw"
### GitHub Username
@Ankitasw

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [X] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [X] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [X] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-07-15 14:38] richardcase commented on #2832
Thanks for your work on CAPA

+1

[2021-07-15 14:39] randomvariable commented on #2832
+1

[2021-07-15 14:53] shysank commented on #2832
+1

[2021-07-15 15:10] dims commented on #2832
+1 from me!

[2021-07-15 17:36] mrajashree opened #2833 "REQUEST: New membership for @mrajashree"
### GitHub Username
@mrajashree

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-07-15 17:38] elmiko commented on #2833
+1

[2021-07-15 17:39] sbueringer commented on #2833
Thx for your great contributions so far!!
+1

[2021-07-15 17:40] CecileRobertMichon commented on #2833
+1 !

[2021-07-16 00:21] dims commented on #2833
Big +1 @mrajashree !

[2021-07-16 05:30] shivi28 commented on #2832
+1 from my side

[2021-07-16 07:03] nikhita commented on #2833
@mrajashree +1 from me as well, thank you for all your contributions so far \o/

I've created PR #2834 to add you to the @kubernetes organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes! 🎉

/assign

[2021-07-16 07:03] nikhita commented on #2832
@Ankitasw thank you for all your contributions so far \o/

I've created PR #2834 to add you to the @kubernetes-sigs organization. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes-sigs! 🎉

/assign

[2021-07-16 07:04] nikhita commented on #2829
@fpetkovski thank you for all your contributions so far \o/

I've created PR #2834 to add you to the @kubernetes and @kubernetes-sigs organizations. Once that gets merged, you should get a membership invite notification.

Welcome to @kubernetes and @kubernetes-sigs! 🎉

/assign

[2021-07-16 07:06] #2833 closed

[2021-07-16 07:06] #2829 closed

[2021-07-16 07:06] #2832 closed

[2021-07-16 07:37] tobiasgiese opened #2835 "REQUEST: New membership for tobiasgiese"
### GitHub Username
@tobiasgiese

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.co

[2021-07-16 07:38] jichenjc commented on #2835
+1 to me thanks @tobiasgiese for your great contribution

[2021-07-16 07:45] sbueringer commented on #2835
Thank you for your great contributions so far!!
+1

[2021-07-16 07:47] chrischdi commented on #2835
+1 also from my side :rocket:

[2021-07-16 09:35] fabriziopandini commented on #2833
I know I'm late late to the welcome party, nevertheless
+1 !

[2021-07-16 13:45] arahamad commented on #2804
@mrbobbytables , I have updated headers and OWNERS file,  I am working on CLA

[2021-07-20 10:23] hidekazuna opened #2836 "REQUEST: New membership for hidekazuna"
### GitHub Username
@hidekazuna

### Organization you are requesting membership in
@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-07-20 10:24] hidekazuna commented on #2836
/cc @sbueringer @jichenjc

[2021-07-20 10:26] sbueringer commented on #2836
+1

Obviously, thx for all your contributions :)

[2021-07-20 22:54] jberkus commented on #2589
Doing my monthly ping in hopes that someone has time to do the transfer.

[2021-07-20 23:08] mrbobbytables commented on #2589
/assign

[2021-07-20 23:08] nilekhc opened #2837 "REQUEST: New membership for nilekhc"
### GitHub Username
@nilekhc

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/fo

[2021-07-20 23:32] aramase commented on #2837
+1, thank you @nilekhc for all the contributions so far to the secrets-store-csi-driver.

[2021-07-21 07:08] jichenjc commented on #2836
+1
appreciate your help~

[2021-07-21 11:43] mrbobbytables commented on #2589
Just to update, things have been migrated and the site dns pointed, the remaining follow up is to transfer ownership of the domain over 👍

[2021-07-21 15:39] tam7t commented on #2837
+1 great contributions to the secrets-store-csi-driver !

[2021-07-22 16:55] logicalhan opened #2839 "Migrate existing repo to kubernetes-sigs"
### Migrate existing repository

https://github.com/jpbetz/auger

### Requested name for new repository

auger

### Which Organization should it reside

kubernetes-sigs

### If not a staging repo, who should have admin access

@logicalhan, @ehashman, @dashpole, @brancz, @jpbetz, @lilic

### If not a staging repo, who should have write access

@logicalhan, @ehashman, @dashpole, @brancz, @jpbetz, @l

[2021-07-22 16:55] logicalhan commented on #2839
/sig instrumentation
/cc @jpbetz @brancz @lilic @ehashman @dashpole

[2021-07-22 16:59] ehashman commented on #2839
:+1: We discussed in the 2021-07-22 SIG Instrumentation meeting: https://docs.google.com/document/d/1FE4AQ8B49fYbKhfg4Tx0cui1V0eI4o3PxoqQPUwNEiU/edit#heading=h.4wufkfwwyr6x

[2021-07-23 09:02] jinsongo opened #2840 "REQUEST: New membership for jinsongo"
### GitHub Username
@jinsongo

### Organization you are requesting membership in
@kubernetes-sigs

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/f

[2021-07-23 10:17] gyliu513 commented on #2840
+1, thanks @jinsongo for your great contribution to virtual cluster!

[2021-07-23 11:58] lilic commented on #2839
👍 sounds great!

[2021-07-23 16:48] christopherhein commented on #2840
+1, thank you @jinsongo !

[2021-07-23 17:02] Fei-Guo commented on #2840
+1

[2021-07-23 17:09] mrbobbytables commented on #2839
/assign

[2021-07-23 17:47] spiffxp commented on #2792
Discussion ongoing on the pros/cons of donating to kubernetes over here: https://github.com/kube-rs/kube-rs/issues/584

[2021-07-26 11:10] arahamad commented on #2804
@mrbobbytables , CLA is also ready, Can you please check and let me know if anything missing

[2021-07-27 01:51] sejr opened #2841 "REQUEST: New membership for @sejr"
### GitHub Username

@sejr

### Organization you are requesting membership in

@kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/forum/#!

[2021-07-27 02:03] liggitt commented on #2841
+1, thanks for all the help

[2021-07-27 04:43] anubha-v-ardhan commented on #2823
/meow

[2021-07-27 08:58] rajesh545862 opened #2844 "REQUEST: New membership for <your-GH-handle>"
### GitHub Username
rajesh545862

### Organization you are requesting membership in
kubernetes

### Requirements
- [x] I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x] I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x] I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/foru

[2021-07-27 12:28] mrbobbytables commented on #2844
Please open an issue after you have met the [criteria to become an org member](https://github.com/kubernetes/community/blob/master/community-membership.md).
/close

[2021-07-27 12:28] #2844 closed

[2021-07-28 18:08] tallclair commented on #2841
+1, thanks! @sejr did solid work and communicated well while helping out with PodSecurity. I look forward to future contributions!

[2021-07-29 17:40] vincepri opened #2845 "Archiving cluster-api-bootstrap-provider-kubeadm"
### Repository to archive
e.g. https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm

### Repository and/or sig subproject owners that are approving this archival
@vincepri
@neolit123
@timothysc

### When should this be done
Anytime.

### Additional context for request
Any additional information or context to describe the request.